[100_q5]
type=Model
x=92
y=230
width=32
height=32
layerId=10
model1Id=13369
modelAnim=guide_if_question
modelZoom=756

[100_q_anim5]
type=Model
x=92
y=238
width=32
height=32
layerId=11
model1Id=13355
model2Id=13354
modelAnim=guide_egg_spin
modelZoom=934

[100_egg_anim5]
type=Model
x=49
y=230
width=32
height=32
layerId=12
model1Id=13369
modelAnim=guide_if_question
modelZoom=756

[100_q_anim4]
type=Model
x=49
y=242
width=32
height=32
layerId=13
model1Id=13355
model2Id=13354
modelAnim=guide_egg_spin
modelZoom=934

[100_egg_anim4]
type=Model
x=110
y=260
width=32
height=32
layerId=14
model1Id=13369
modelAnim=guide_if_question
modelZoom=756

[100_q_anim3]
type=Model
x=110
y=264
width=32
height=32
layerId=15
model1Id=13355
model2Id=13354
modelAnim=guide_egg_spin
modelZoom=756

[100_egg_anim3]
type=Model
x=31
y=259
width=32
height=32
layerId=16
model1Id=13369
modelAnim=guide_if_question
modelZoom=756

[100_q_anim2]
type=Model
x=31
y=262
width=32
height=32
layerId=17
model1Id=13355
model2Id=13354
modelAnim=guide_egg_spin
modelZoom=756

[100_egg_anim2]
type=Model
x=73
y=284
width=32
height=32
layerId=18
model1Id=13369
modelAnim=guide_if_question
modelZoom=656

[100_q_anim1]
type=Model
x=73
y=289
width=32
height=32
layerId=19
model1Id=13355
model2Id=13354
modelAnim=guide_egg_spin
modelZoom=656

[100_egg_anim1]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_egg5]
type=Layer
x=351
y=-11
width=195
height=334

[100_q4]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_egg4]
type=Layer
x=351
y=-15
width=170
height=338

[100_q3]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_egg3]
type=Layer
x=351
y=-7
width=168
height=330

[100_q2]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_egg2]
type=Layer
x=351
y=-6
width=178
height=329

[100_q1]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_egg1]
type=Layer
x=351
y=-8
width=173
height=331
