[100_flour_q1]
type=Model
x=73
y=284
width=32
height=32
layerId=65543
model1Id=13369
model2Id=13369
modelAnim=guide_if_question
modelZoom=656

[100_flour_q_anim1]
type=Model
x=73
y=292
width=32
height=32
layerId=65544
model1Id=13360
modelAnim=guide_flour_spin
modelZoom=656
modelXAn=147

[100_flour_anim5]
type=Model
x=73
y=296
width=32
height=32
layerId=65545
model1Id=13359
modelAnim=guide_flour_spin
modelZoom=656
modelXAn=147

[100_flour_anim4]
type=Model
x=73
y=288
width=32
height=32
layerId=65546
model1Id=13358
modelAnim=guide_flour_spin
modelZoom=528
modelXAn=207

[100_flour_anim3]
type=Model
x=73
y=287
width=32
height=32
layerId=65547
model1Id=13357
modelAnim=guide_flour_spin
modelZoom=656
modelXAn=147

[100_flour_anim2]
type=Model
x=73
y=289
width=32
height=32
layerId=65548
model1Id=13356
modelAnim=guide_flour_spin
modelZoom=528
modelXAn=207

[100_flour_anim1]
type=Model
x=73
y=291
width=32
height=32
layerId=65549
model1Id=13361
modelZoom=528
modelXAn=207

[100_flour_plain_layer]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_flour5]
type=Layer
x=351
y=-11
width=195
height=334
hide=yes

[100_flour4]
type=Layer
x=351
y=-15
width=170
height=338
hide=yes

[100_flour3]
type=Layer
x=351
y=-7
width=168
height=330
hide=yes

[100_flour2]
type=Layer
x=351
y=-6
width=178
height=329
hide=yes

[100_flour1]
type=Layer
x=351
y=-8
width=173
height=331
hide=yes

[100_flour_plain]
type=Layer
x=351
y=-10
width=177
height=333
