[100guide_flour_inv]
type=Sprite
y=-4
width=104
height=104
graphic=444

[modal_dialog_window]
type=Sprite
x=103
y=-4
width=104
height=104
graphic=444

[modal_dialog_window_background]
type=Sprite
x=206
y=-4
width=104
height=104
graphic=444

[modal_dialog_window_content]
type=Sprite
x=309
y=-4
width=104
height=104
graphic=444

[modal_dialog_window_border]
type=Sprite
x=412
y=-4
width=104
height=104
graphic=444

[modal_dialog_window_close_button]
type=Sprite
y=99
width=104
height=104
graphic=444

[com_6]
type=Sprite
x=103
y=99
width=104
height=104
graphic=444

[com_7]
type=Sprite
x=206
y=99
width=104
height=104
graphic=444

[com_8]
type=Sprite
x=309
y=99
width=104
height=104
graphic=444

[com_9]
type=Sprite
x=412
y=99
width=104
height=104
graphic=444

[com_10]
type=Sprite
y=202
width=104
height=104
graphic=444

[com_11]
type=Sprite
x=103
y=202
width=104
height=104
graphic=444

[com_12]
type=Sprite
x=206
y=202
width=104
height=104
graphic=444

[com_13]
type=Sprite
x=309
y=202
width=104
height=104
graphic=444

[com_14]
type=Sprite
x=412
y=202
width=104
height=104
graphic=444

[com_15]
type=Sprite
y=305
width=104
height=104
graphic=444

[com_16]
type=Sprite
x=103
y=305
width=104
height=104
graphic=444

[com_17]
type=Sprite
x=206
y=305
width=104
height=104
graphic=444

[com_18]
type=Sprite
x=309
y=305
width=104
height=104
graphic=444

[com_19]
type=Sprite
x=412
y=305
width=104
height=104
graphic=444

[com_20]
type=Model
x=27
y=256
width=32
height=32
model1Id=13353
modelAnim=guide_interface_up
modelZoom=400

[com_21]
type=Model
x=149
y=256
width=32
height=32
model1Id=13353
modelAnim=guide_interface_up
modelZoom=400

[com_22]
type=Model
x=271
y=256
width=32
height=32
model1Id=13353
modelAnim=guide_interface_up
modelZoom=400

[com_23]
type=Model
x=394
y=256
width=32
height=32
model1Id=13353
modelAnim=guide_interface_up
modelZoom=400

[com_24]
type=Model
x=333
y=152
width=32
height=32
model1Id=13353
modelAnim=guide_interface_down
modelZoom=400

[com_25]
type=Model
x=456
y=152
width=32
height=32
model1Id=13353
modelAnim=guide_interface_down
modelZoom=400

[com_26]
type=Model
x=89
y=152
width=32
height=32
model1Id=13353
modelAnim=guide_interface_down
modelZoom=400

[com_27]
type=Model
x=211
y=152
width=32
height=32
model1Id=13353
modelAnim=guide_interface_down
modelZoom=400

[com_28]
type=Rectangle
x=-50
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

[com_29]
type=Rectangle
x=11
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

[com_30]
type=Rectangle
x=72
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

[com_31]
type=Rectangle
x=133
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

[com_32]
type=Rectangle
x=194
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

[com_33]
type=Rectangle
x=255
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

[com_34]
type=Rectangle
x=316
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

[com_35]
type=Rectangle
x=377
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

[com_36]
type=Rectangle
x=438
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

[com_37]
type=Rectangle
x=499
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

[com_38]
type=Rectangle
x=130
y=107
width=267
height=137
trans=128
fill=yes

[com_39]
type=Sprite
x=125
y=146
width=88
height=60
graphic=297

[com_40]
type=Sprite
x=211
y=146
width=88
height=60
graphic=297

[com_41]
type=Sprite
x=298
y=146
width=88
height=60
graphic=297

[com_42]
type=Sprite
x=297
y=174
width=88
height=60
graphic=297

[com_43]
type=Sprite
x=214
y=174
width=88
height=60
graphic=297

[com_44]
type=Sprite
x=127
y=174
width=88
height=60
graphic=297

[com_45]
type=Sprite
x=299
y=104
width=88
height=60
graphic=297

[com_46]
type=Sprite
x=215
y=104
width=88
height=60
graphic=297

[com_47]
type=Sprite
x=128
y=104
width=88
height=60
graphic=297

[com_48]
type=Inventory
x=144
y=120
width=5
height=2
widthAlignment=Grid
heightAlignment=Grid
marginX=16
marginY=33

[com_49]
type=Sprite
x=123
y=100
width=25
height=30
graphic=310

[com_50]
type=Sprite
x=147
y=85
width=36
height=36
graphic=314

[com_51]
type=Sprite
x=182
y=85
width=36
height=36
graphic=314

[com_52]
type=Sprite
x=217
y=85
width=36
height=36
graphic=314

[com_53]
type=Sprite
x=252
y=85
width=36
height=36
graphic=314

[com_54]
type=Sprite
x=287
y=85
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=322
y=85
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=341
y=85
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=365
y=100
width=25
height=30
graphic=311

[com_58]
type=Sprite
x=369
y=129
width=36
height=36
graphic=315

[com_59]
type=Sprite
x=369
y=164
width=36
height=36
graphic=315

[com_60]
type=Sprite
x=369
y=199
width=36
height=36
graphic=315

[com_61]
type=Sprite
x=365
y=208
width=25
height=30
graphic=313

[com_62]
type=Sprite
x=330
y=217
width=36
height=36
graphic=173

[com_63]
type=Sprite
x=295
y=217
width=36
height=36
graphic=173

[com_64]
type=Sprite
x=260
y=217
width=36
height=36
graphic=173

[com_65]
type=Sprite
x=225
y=217
width=36
height=36
graphic=173

[com_66]
type=Sprite
x=190
y=217
width=36
height=36
graphic=173

[com_67]
type=Sprite
x=155
y=217
width=36
height=36
graphic=173

[com_68]
type=Sprite
x=108
y=129
width=36
height=36
graphic=172

[com_69]
type=Sprite
x=108
y=164
width=36
height=36
graphic=172

[com_70]
type=Sprite
x=108
y=199
width=36
height=36
graphic=172

[com_71]
type=Sprite
x=123
y=208
width=25
height=30
graphic=312

[com_72]
type=Sprite
x=138
y=217
width=36
height=36
graphic=173

[com_73]
type=Sprite
x=480
y=6
width=26
height=23
overLayerId=75
graphic=539

[com_74]
type=Sprite
buttonType=Button
x=3
y=3
width=26
height=23
layerId=131147
graphic=540
eventCode=flag22

[com_75]
type=Layer
x=477
y=3
width=32
height=32
hide=yes
