[100_milk_q1]
type=Model
x=73
y=284
width=32
height=32
layerId=196615
model1Id=13369
model2Id=13369
modelAnim=guide_if_question
modelZoom=656

[100_milk_q_anim1]
type=Model
x=73
y=292
width=32
height=32
layerId=196616
model1Id=13366
modelAnim=guide_egg_spin
modelZoom=656
modelXAn=147

[100_milk_anim5]
type=Model
x=73
y=296
width=32
height=32
layerId=196617
model1Id=13365
modelAnim=guide_egg_spin
modelZoom=656
modelXAn=147

[100_milk_anim4]
type=Model
x=73
y=288
width=32
height=32
layerId=196618
model1Id=13364
modelAnim=guide_egg_spin
modelZoom=656
modelXAn=147

[100_milk_anim3]
type=Model
x=73
y=287
width=32
height=32
layerId=196619
model1Id=13363
modelAnim=guide_egg_spin
modelZoom=656
modelXAn=147

[100_milk_anim2]
type=Model
x=73
y=289
width=32
height=32
layerId=196620
model1Id=13362
modelAnim=guide_milk_spin
modelZoom=656
modelXAn=147

[100_milk_anim1]
type=Model
x=73
y=291
width=32
height=32
layerId=196621
model1Id=13367
modelZoom=656
modelXAn=147

[100_milk_plain_layer]
type=Layer
x=351
y=-3
width=164
height=326
hide=yes

[100_milk5]
type=Layer
x=351
y=-11
width=195
height=334
hide=yes

[100_milk4]
type=Layer
x=351
y=-15
width=170
height=338
hide=yes

[100_milk3]
type=Layer
x=351
y=-7
width=168
height=330
hide=yes

[100_milk2]
type=Layer
x=351
y=-6
width=178
height=329
hide=yes

[100_milk1]
type=Layer
x=351
y=-8
width=173
height=331
hide=yes

[100_milk_plain]
type=Layer
x=351
y=-10
width=177
height=333
