[pvp_building_static_button]
type=Model
x=3
y=3
width=475
height=91
model1Id=32404
modelZoom=268
modelXAn=1980
modelYOf=1
discardedModelField=0

[pvp_building_button_disabled_layer]
type=Text
x=29
y=17
width=420
height=60
colour=0xCCB400
font=495
shadow=yes
text="This vile gublinchette was asking a player for his home address. The clever player didn't give her their address, but used the Report Abuse button to report her instead."

[pvp_building_button_selected_layer]
type=Sprite
x=435
y=52
width=23
height=23
graphic=939
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,938
onmouseleave=44,component.parentId,939
onop=29
