[root_layer]
type=Text
x=3
y=8
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[background_layer]
type=Text
x=3
y=51
width=480
height=17
hAlign=Center
font=497
text="option1"
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[content_layer]
type=Text
x=3
y=78
width=480
height=17
hAlign=Center
font=497
text="option2"
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[panel_background]
type=Layer
x=5
y=10
width=476
height=13

[panel_content]
type=Sprite
width=57
height=13
layerId=47054851
graphic=302

[option_button_1]
type=Sprite
x=419
width=57
height=13
layerId=47054851
graphic=301
