[other_line]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[ecosystem_line]
type=Model
x=15
y=23
width=480
height=301
model1Id=26397
modelZoom=1009
modelXAn=512
modelXOf=-2
modelYOf=33
discardedModelField=0

[tree_line]
type=Model
x=164
y=94
width=294
height=203
model1Id=30060
modelZoom=1680
modelXAn=234
modelYAn=1867
modelXOf=51
modelYOf=38
discardedModelField=0

[fruit_tree_line]
type=Text
x=64
y=49
width=291
height=34
colour=0x46320A
font=645
text="Defeat!"

[veg_line]
type=Text
x=41
y=93
width=291
height=13
colour=0x46320A
font=497
text="Your clan has been defeated."

[hop_line]
type=Rectangle
x=38
y=81
width=200
height=1
trans=200
colour=0x46320A
fill=yes
baseOpName="  "

[herb_line]
type=Sprite
x=443
y=40
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,42598406,537
onmouseleave=44,42598406,538
onop=29
