[base]
type=Rectangle
y=22
width=190
height=202
trans=150
colour=0x554A32
fill=yes

[bespoke_window]
type=Sprite
x=1
y=22
width=189
height=202
trans=100
graphic=1136
tiling=yes

[bespoke_window_background]
type=Rectangle
y=22
width=190
height=202
trans=150
colour=0x554A32
fill=yes

[bespoke_window_content]
type=Sprite
y=9
width=190
height=32
graphic=987
tiling=yes

[time_remaining_text]
type=Sprite
y=210
width=190
height=32
graphic=987
tiling=yes

[round_number_text]
type=Text
x=2
y=3
width=186
height=17
colour=0xCC9900
hAlign=Center
vAlign=Center
font=496
text="~ What is this? ~"

[player_count_text]
type=Layer
x=2
y=24
width=170
height=199
scrollWidth=170
onload=922,component.parentId,47382535,47382538,47382536,47382537

[eliminated_count_text]
type=Layer
x=174
y=24
width=16
height=199

[score_text]
type=Layer
x=5
y=229
width=180
height=30

[direction_text]
type=Text
x=5
y=229
width=180
height=30
colour=0xCC9900
hAlign=Center
vAlign=Center
font=496

[bespoke_window_border]
type=Text
width=170
height=17
layerId=47382534
colour=0xFFFFFF
font=307

[countdown_layer]
type=Sprite
x=172
y=3
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
