[universe]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[close_button_container_layer]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[background]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[content]
type=Model
x=65
y=461
width=32
height=32
model1Id=15274
modelZoom=1583
modelXAn=129
modelYAn=1261

[border]
type=Model
x=673
y=462
width=32
height=32
model1Id=15275
modelZoom=1552
modelXAn=135
modelYAn=1786
