[vartrans_layer]
type=Model
x=79
y=107
width=32
height=32
model1Id=14944
modelZoom=856
modelXAn=505

[options_layer]
type=Model
x=80
y=111
width=32
height=32
model1Id=14937
modelZoom=2192
modelXAn=400
modelYAn=2047

[com_2]
type=Model
x=79
y=112
width=32
height=32
model1Id=14940
modelZoom=2320
modelXAn=402

[options_window]
type=Model
x=39
y=32
width=32
height=32
layerId=15728647
model1Id=14944
modelZoom=856
modelXAn=505

[options_window_background]
type=Model
x=40
y=36
width=32
height=32
layerId=15728647
model1Id=14937
modelZoom=2192
modelXAn=400
modelYAn=2047

[options_window_content]
type=Model
x=39
y=37
width=32
height=32
layerId=15728647
model1Id=14943
modelZoom=2320
modelXAn=402

[options_title]
type=Layer
buttonType=Button
x=79
y=52
width=32
height=39
overLayerId=7
eventCode=flag22

[options_control_layer]
type=Layer
x=40
y=75
width=107
height=101
hide=yes

[options_control_build]
type=Model
x=39
y=32
width=32
height=32
layerId=15728652
model1Id=14944
modelZoom=856
modelXAn=505

[options_control_click]
type=Model
x=40
y=36
width=32
height=32
layerId=15728652
model1Id=14937
modelZoom=2192
modelXAn=400
modelYAn=2047

[highlight_layer]
type=Model
x=39
y=37
width=32
height=32
layerId=15728652
model1Id=14939
modelZoom=2320
modelXAn=402

[options_close_button]
type=Layer
buttonType=Button
x=75
y=162
width=40
height=51
overLayerId=12
eventCode=flag22

[options_close_build]
type=Layer
x=40
y=75
width=107
height=101
hide=yes

[options_close_click]
type=Model
x=39
y=32
width=32
height=32
layerId=15728657
model1Id=14944
modelZoom=856
modelXAn=505

[options_window_border]
type=Model
x=40
y=36
width=32
height=32
layerId=15728657
model1Id=14937
modelZoom=2192
modelXAn=400
modelYAn=2047

[com_15]
type=Model
x=39
y=37
width=32
height=32
layerId=15728657
model1Id=14941
modelZoom=2320
modelXAn=402

[com_16]
type=Layer
buttonType=Button
x=11
y=110
width=47
height=36
overLayerId=17
eventCode=flag22

[com_17]
type=Layer
x=40
y=75
width=107
height=101
hide=yes

[com_18]
type=Model
x=39
y=32
width=32
height=32
layerId=15728662
model1Id=14944
modelZoom=856
modelXAn=505

[com_19]
type=Model
x=40
y=36
width=32
height=32
layerId=15728662
model1Id=14937
modelZoom=2192
modelXAn=400
modelYAn=2047

[com_20]
type=Model
x=39
y=37
width=32
height=32
layerId=15728662
model1Id=14942
modelZoom=2320
modelXAn=402

[com_21]
type=Layer
buttonType=Button
x=133
y=110
width=47
height=36
overLayerId=22
eventCode=flag22

[com_22]
type=Layer
x=40
y=75
width=107
height=101
hide=yes

[com_23]
type=Model
x=137
y=204
width=32
height=32
model1Id=14938
modelZoom=2320
modelXAn=400
modelYAn=2029

[com_24]
type=Model
x=8
y=5
width=32
height=32
layerId=15728666
model1Id=14936
modelZoom=2320
modelXAn=400
modelYAn=2029

[com_25]
type=Layer
buttonType=Button
x=129
y=199
width=43
height=45
overLayerId=26
eventCode=flag22

[com_26]
type=Layer
x=129
y=199
width=43
height=45
hide=yes

[com_27]
type=Text
x=15
y=15
width=76
height=15
colour=0x909069
hAlign=Center
font=495
shadow=yes
text="Tries = 3"

[com_28]
type=Text
buttonType=Button
x=129
y=199
width=43
height=45
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[com_29]
type=Text
buttonType=Button
x=79
y=52
width=32
height=39
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[com_30]
type=Text
buttonType=Button
x=75
y=162
width=40
height=51
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[com_31]
type=Text
buttonType=Button
x=11
y=110
width=47
height=36
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[com_32]
type=Text
buttonType=Button
x=133
y=110
width=47
height=36
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[com_33]
type=Sprite
buttonType=Close
x=139
y=17
width=26
height=23
overLayerId=35
graphic=539
buttonText="Ok"

[com_34]
type=Sprite
buttonType=Button
x=4
y=3
width=26
height=23
layerId=15728675
graphic=540
eventCode=flag22

[com_35]
type=Layer
x=135
y=14
width=32
height=32
hide=yes
