[background_rectangle]
type=Rectangle
y=-3
width=538
height=341
colour=0x917E4E
fill=yes

[newspaper]
type=Model
x=-188
y=-138
width=888
height=898
model1Id=31816
modelAnim=afr_ceremony_spinning_newspaper
modelZoom=243
modelXAn=503
modelZAn=22
modelXOf=9
modelYOf=6
orthog=yes
discardedModelField=0

[title]
type=Text
x=29
y=36
width=425
height=129
colour=0x212021
hAlign=Center
vAlign=Center
lineHeight=39
font=646
text="Varrock Herald"
onload=826

[slogan]
type=Text
x=27
y=147
width=220
height=17
colour=0x212021
font=497
text="Covering all of Misthalin and beyond."
onload=826

[price]
type=Text
x=368
y=147
width=76
height=20
colour=0x212021
hAlign=Right
font=497
text="1 gp"
onload=826

[byline]
type=Text
x=255
y=182
width=168
height=58
colour=0x212020
hAlign=Center
vAlign=Center
font=645
text="Oo'glog Ogresses Open Health Spa!"
onload=826

[fairies]
type=Model
x=93
y=13
width=337
height=355
model1Id=31815
modelAnim=afr_fairy_scissor_cutting
modelZoom=600
modelXAn=179
modelYAn=1852
modelXOf=-65
modelYOf=19
discardedModelField=0
