[scroll]
type=Model
x=210
y=136
width=32
height=32
model1Id=4652
modelZoom=881
modelXAn=410
modelYAn=2046

[board]
type=Model
x=217
y=137
width=32
height=32
model1Id=5235
modelZoom=824
modelXAn=436
modelYAn=7

[title]
type=Text
x=169
y=72
width=154
height=33
colour=0xE9AB73
hAlign=Center
font=497
shadow=yes
text="Rune-Draw"

[pl_score]
type=Text
x=71
y=108
width=118
height=36
colour=0xC47630
font=497
shadow=yes
text="Your Score"

[opp_score]
type=Text
x=314
y=111
width=118
height=37
colour=0xC47630
font=497
shadow=yes
text="Opponent's Score"

[runedraw_btn_draw]
type=Text
buttonType=Button
width=62
height=43
layerId=589855
colour=0xC47630
colourOver=0xFFFFFF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Draw"
buttonText="Draw"
eventCode=flag22

[runedraw_btn_hold]
type=Text
buttonType=Button
width=63
height=43
layerId=589856
colour=0xC47630
colourOver=0xFFFFFF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Hold"
buttonText="Hold"
eventCode=flag22

[runedraw_slot_1]
type=Model
x=72
y=145
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[opp_runes]
type=Model
x=105
y=145
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_11]
type=Model
x=140
y=137
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_13]
type=Model
x=173
y=131
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_19]
type=Model
x=205
y=125
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_18]
type=Model
x=69
y=172
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_17]
type=Model
x=104
y=175
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_15]
type=Model
x=139
y=167
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_14]
type=Model
x=172
y=158
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_16]
type=Model
x=204
y=154
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_12]
type=Model
x=267
y=157
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_20]
type=Model
x=301
y=158
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[player_runes]
type=Model
x=336
y=151
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_2]
type=Model
x=370
y=142
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_9]
type=Model
x=402
y=143
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_4]
type=Model
x=266
y=188
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_3]
type=Model
x=302
y=190
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_6]
type=Model
x=337
y=183
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_8]
type=Model
x=371
y=172
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_5]
type=Model
x=404
y=172
width=25
height=24
model1Id=5236
modelZoom=1027
modelXAn=525
modelYAn=762

[runedraw_slot_7]
type=Text
x=75
y=69
width=90
height=32
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=497
text="DEATH"
script1op1=varbit,varbit_230

[runedraw_slot_10]
type=Text
x=62
y=223
width=86
height=69
colour=0xC47630
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Text"

[runedraw_score_l]
type=Text
x=335
y=72
width=90
height=32
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=497
text="DEATH"
script1op1=varbit,varbit_231

[runedraw_totalscore_l]
type=Text
x=346
y=229
width=86
height=69
colour=0xC47630
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Text"

[runedraw_score_r]
type=Layer
x=171
y=208
width=62
height=43

[runedraw_totalscore_r]
type=Layer
x=170
y=256
width=63
height=43

[closebutton]
type=Sprite
x=481
y=4
width=26
height=23
overLayerId=35
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=589859
graphic=540
buttonText="Ok"

[com_35]
type=Layer
x=478
width=32
height=32
hide=yes
