[com_0]
type=Rectangle
x=366
y=5
width=141
height=28
trans=192
colour=0x4020FF
fill=yes

[com_1]
type=Text
x=353
y=7
width=100
height=34
colour=0xFF8800
hAlign=Right
font=496
shadow=yes
text="Windspeed:"

[ahoy_windspeed_indicator]
type=Text
x=459
y=7
width=50
height=33
colour=0xFFFF66
font=495
shadow=yes
text="high"
