[dragontooth_map]
type=Rectangle
width=512
height=334
fill=yes

[com_1]
type=Model
x=260
y=166
width=32
height=32
model1Id=4652
modelZoom=886
modelXAn=416
modelYAn=1023

[com_2]
type=Model
x=222
y=145
width=32
height=32
model1Id=5234
modelZoom=962
modelXAn=450
modelYAn=2039

[com_3]
type=Text
x=331
y=149
width=39
height=14
colour=0xFFFFFF
font=495
shadow=yes
text="8-East"

[com_4]
type=Text
x=332
y=130
width=47
height=14
colour=0xFFFFFF
font=495
shadow=yes
text="6-South"

[com_5]
type=Text
x=330
y=169
width=46
height=14
colour=0xFFFFFF
hAlign=Center
font=495
shadow=yes
text="2-North"

[com_6]
type=Text
x=330
y=188
width=38
height=14
colour=0xFFFFFF
font=495
shadow=yes
text="4-East"

[com_7]
type=Text
x=330
y=207
width=55
height=14
colour=0xFFFFFF
font=495
shadow=yes
text="22-South"

[com_8]
type=Text
x=278
y=112
width=162
height=22
colour=0x9A9A54
hAlign=Center
font=497
text="X marks the start!"

[content_layer]
type=Text
x=200
y=83
width=103
height=56
colour=0x9A9A54
hAlign=Center
font=497
text="Dragontooth Island"

[com_10]
type=Sprite
x=481
y=7
width=26
height=23
overLayerId=12
graphic=539

[com_11]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=524300
graphic=540
buttonText="Ok"

[com_12]
type=Layer
x=478
y=3
width=32
height=32
hide=yes
