[aide_scroll_north]
type=Rectangle
x=8
y=-5
width=513
height=335
trans=200
colour=0xA4957F
fill=yes

[aide_north_text_1]
type=Model
x=242
y=32
width=32
height=32
model1Id=18533
modelZoom=1418
modelXAn=515
modelYAn=513

[aide_north_text_2]
type=Text
x=171
y=14
width=180
height=15
colour=0x381F0A
hAlign=Center
font=496
text="To the NORTH"

[aide_scroll_east]
type=Text
x=171
y=28
width=180
height=71
colour=0x381F0A
hAlign=Center
vAlign=Center
font=497
text="To the NORTH"

[aide_scroll_south]
type=Model
x=418
y=144
width=32
height=32
model1Id=18530
modelZoom=1290
modelXAn=478
modelYAn=3

[aide_east_text_1]
type=Model
x=242
y=247
width=32
height=32
model1Id=18533
modelZoom=1418
modelXAn=515
modelYAn=513

[aide_south_text_1]
type=Text
x=382
y=86
width=118
height=15
colour=0x381F0A
hAlign=Center
font=496
text="To the EAST"

[aide_east_text_2]
type=Text
x=172
y=238
width=177
height=15
colour=0x381F0A
hAlign=Center
font=496
text="To the SOUTH"

[aide_south_text_2]
type=Text
x=382
y=103
width=118
height=137
colour=0x381F0A
hAlign=Center
vAlign=Center
font=497
text="To the EAST"

[aide_scroll_west]
type=Text
x=173
y=253
width=176
height=66
colour=0x381F0A
hAlign=Center
vAlign=Center
font=497
text="To the SOUTH"

[aide_west_text_1]
type=Model
x=52
y=142
width=32
height=32
model1Id=18530
modelZoom=1290
modelXAn=475

[aide_west_text_2]
type=Text
x=18
y=86
width=114
height=14
colour=0x381F0A
hAlign=Center
font=496
text="To the WEST"

[aide_big_sign_post]
type=Text
x=17
y=100
width=115
height=138
colour=0x381F0A
hAlign=Center
vAlign=Center
font=497
text="To the WEST"

[main_layer]
type=Sprite
x=481
y=7
width=26
height=23
overLayerId=16
graphic=539

[com_14]
type=Sprite
buttonType=Close
x=2
y=4
width=26
height=23
layerId=8847376
graphic=540
buttonText="Ok"

[com_15]
type=Model
x=242
y=145
width=32
height=32
model1Id=18535
modelZoom=1162
modelXAn=517

[com_16]
type=Layer
x=479
y=3
width=32
height=32
hide=yes
