[contents]
type=Rectangle
width=513
height=334
trans=50
colour=0x736550
colour2=0x736550
colourOver=0x736550
colour2Over=0x736550
fill=yes

[bespoke_window]
type=Rectangle
x=81
y=5
width=361
height=276
colour=0xE6D2A9
fill=yes

[anma_white_rect]
type=Sprite
x=468
y=10
width=27
height=24
overLayerId=4
graphic=539

[anma_complete_a_layer]
type=Sprite
buttonType=Close
x=1
y=1
width=51
height=30
layerId=31457284
graphic=540
buttonText="Ok"

[anma_complete_b_layer]
type=Layer
x=467
y=9
width=29
height=26
hide=yes

[anma_complete_c_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457286
model1Id=20432
modelZoom=1368

[anma_random_1_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_random_2_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457288
model1Id=20433
modelZoom=1368

[anma_random_3_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_random_4_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457290
model1Id=20434
modelZoom=1368

[anma_random_5_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_random_6_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457292
model1Id=20437
modelZoom=1368

[anma_button_1_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_2_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457294
model1Id=20438
modelZoom=1368

[anma_button_3_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_4_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457296
model1Id=20439
modelZoom=1368

[anma_button_5_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_6_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457298
model1Id=20440
modelZoom=1368

[anma_button_7_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_8_layer]
type=Model
x=163
y=114
width=32
height=32
layerId=31457300
model1Id=20441
modelZoom=1368

[anma_button_9_layer]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_1_layer_1_off]
type=Model
x=163
y=114
width=32
height=32
layerId=31457302
model1Id=20442
modelZoom=1368

[anma_button_2_layer_1_off]
type=Layer
x=84
y=7
width=356
height=271

[anma_button_3_layer_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457330
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_button_4_layer_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457306
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_button_5_layer_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457331
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_button_6_layer_1_off]
type=Layer
x=46
y=290
width=32
height=32

[anma_button_7_layer_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457308
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_button_8_layer_1_off]
type=Layer
x=94
y=290
width=32
height=32

[anma_button_9_layer_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457332
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_complete_a]
type=Model
buttonType=Button
width=32
height=32
layerId=31457311
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_complete_b]
type=Layer
x=142
y=289
width=32
height=32

[anma_complete_c]
type=Model
buttonType=Button
width=32
height=32
layerId=31457333
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_random_1]
type=Model
buttonType=Button
width=32
height=32
layerId=31457314
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_random_2]
type=Layer
x=191
y=289
width=32
height=32

[anma_random_3]
type=Model
buttonType=Button
y=1
width=32
height=32
layerId=31457334
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_random_4]
type=Model
buttonType=Button
y=1
width=32
height=32
layerId=31457317
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_random_5]
type=Layer
x=238
y=288
width=32
height=32

[anma_random_6]
type=Model
buttonType=Button
width=32
height=32
layerId=31457335
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_buton_1_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457320
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_buton_1_on]
type=Layer
x=285
y=289
width=32
height=32

[anma_buton_2_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457336
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_buton_2_on]
type=Model
buttonType=Button
width=32
height=32
layerId=31457323
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_buton_3_off]
type=Layer
x=335
y=289
width=32
height=32

[anma_buton_3_on]
type=Model
buttonType=Button
width=32
height=32
layerId=31457337
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_buton_4_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457326
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_buton_4_on]
type=Layer
x=381
y=289
width=32
height=32

[anma_buton_5_off]
type=Model
buttonType=Button
width=32
height=32
layerId=31457338
model1Id=20435
modelZoom=5774
modelXAn=512
buttonText="On"
eventCode=flag22

[anma_buton_5_on]
type=Model
buttonType=Button
width=32
height=32
layerId=31457329
model1Id=20436
modelZoom=5774
modelXAn=512
buttonText="Off"
eventCode=flag22

[anma_buton_6_off]
type=Layer
x=430
y=289
width=32
height=32

[anma_buton_6_on]
type=Layer
x=46
y=290
width=32
height=32
hide=yes

[anma_buton_7_off]
type=Layer
x=94
y=290
width=32
height=32
hide=yes

[anma_buton_7_on]
type=Layer
x=142
y=289
width=32
height=32
hide=yes

[anma_buton_8_off]
type=Layer
x=191
y=289
width=32
height=32
hide=yes

[anma_buton_8_on]
type=Layer
x=238
y=288
width=32
height=32
hide=yes

[anma_buton_9_off]
type=Layer
x=285
y=289
width=32
height=32
hide=yes

[anma_buton_9_on]
type=Layer
x=335
y=289
width=32
height=32
hide=yes

[bespoke_window_background]
type=Layer
x=381
y=289
width=32
height=32
hide=yes

[bespoke_window_content]
type=Layer
x=430
y=289
width=32
height=32
hide=yes
