[bespoke_window]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[bespoke_window_background]
type=Sprite
x=16
y=8
width=70
height=46
layerId=43515915
graphic=653
eventCode=hasOp(1)
opName0="Bash"
onclick=745

[bespoke_window_content]
type=Sprite
x=35
y=14
width=34
height=24
layerId=43515915
graphic=266

[background_graphic]
type=Sprite
x=99
y=8
width=70
height=46
layerId=43515915
graphic=653
eventCode=hasOp(1)
opName0="Pound"
onclick=746

[title]
type=Sprite
x=117
y=13
width=34
height=24
layerId=43515915
graphic=267

[reward_layer]
type=Sprite
x=17
y=61
width=70
height=46
layerId=43515915
graphic=653
eventCode=hasOp(1)
opName0="Focus"
onclick=747

[reward_scrolling_layer]
type=Sprite
x=35
y=65
width=34
height=24
layerId=43515915
graphic=252

[reward_scrollbar_layer]
type=Sprite
x=99
y=61
width=70
height=46
layerId=43515915
graphic=653
eventCode=hasOp(1)
opName0="Summon"

[reward_text]
type=Text
x=99
y=93
width=70
height=13
layerId=43515915
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Summon"

[qualification_header]
type=Sprite
x=21
y=152
width=150
height=46
graphic=655
eventCode=hasOp(1)
opName0="Auto Retaliate"
onclick=748,43515913,43515916

[name]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto-retaliate <br>(Off)"

[qualification_footer]
type=Layer
x=4
y=40
width=183
height=162

[skill_graphic]
type=Rectangle
y=1
width=155
height=22
layerId=43515918
trans=255
colour=0xFFFF00

[stamp_graphic]
type=Sprite
x=2
width=150
height=26
layerId=43515918
graphic=657

[seal_graphic]
type=Layer
x=19
y=205
width=158
height=64
hide=yes

[bespoke_window_border]
type=Model
x=6
y=7
width=143
height=13
layerId=43515918
model1Id=18552
modelZoom=1153
modelXAn=500
discardedModelField=0

[bespoke_window_close_button]
type=Model
x=6
y=7
width=16
height=13
layerId=43515918
model1Id=18553
modelZoom=1153
modelXAn=500
modelXOf=63
discardedModelField=0

[com_17]
type=Model
x=20
y=7
width=16
height=13
layerId=43515918
model1Id=18555
modelZoom=1153
modelXAn=500
modelXOf=49
discardedModelField=0

[com_18]
type=Model
x=35
y=7
width=15
height=13
layerId=43515918
model1Id=18556
modelZoom=1153
modelXAn=500
modelXOf=35
discardedModelField=0

[com_19]
type=Model
x=49
y=7
width=15
height=13
layerId=43515918
model1Id=18557
modelZoom=1153
modelXAn=500
modelXOf=21
discardedModelField=0

[com_20]
type=Model
x=63
y=7
width=15
height=13
layerId=43515918
model1Id=18558
modelZoom=1153
modelXAn=500
modelXOf=7
discardedModelField=0

[com_21]
type=Model
x=77
y=7
width=15
height=13
layerId=43515918
model1Id=18559
modelZoom=1153
modelXAn=500
modelXOf=-7
discardedModelField=0

[com_22]
type=Model
x=91
y=7
width=15
height=13
layerId=43515918
model1Id=18560
modelZoom=1153
modelXAn=500
modelXOf=-21
discardedModelField=0

[com_23]
type=Model
x=105
y=7
width=15
height=13
layerId=43515918
model1Id=18561
modelZoom=1153
modelXAn=500
modelXOf=-35
discardedModelField=0

[com_24]
type=Model
x=119
y=7
width=16
height=13
layerId=43515918
model1Id=18562
modelZoom=1153
modelXAn=500
modelXOf=-50
discardedModelField=0

[com_25]
type=Model
x=133
y=7
width=16
height=13
layerId=43515918
model1Id=18554
modelZoom=1153
modelXAn=500
modelXOf=-64
discardedModelField=0

[com_26]
type=Text
x=18
y=8
width=117
height=11
layerId=43515918
colour=0x000010
font=494
text="S P E C I A L  A T T A C K"

[com_27]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
onvartransmit=749
ontimer=743
onvartransmitlist=43,172

[com_28]
type=Text
x=20
y=80
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Bash"

[com_29]
type=Text
x=103
y=80
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Pound"

[com_30]
type=Text
x=21
y=133
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Focus"

[com_31]
type=Model
x=121
y=102
width=32
height=32
modelZoom=400
discardedModelField=0
eventCode=hasOp(1)
opName0="Summon"
