[mainmodal_window]
type=Layer
width=512
height=334

[mainmodal_window_background]
type=Sprite
x=338
y=7
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=101
y=8
width=88
height=60
graphic=297

[storage_window]
type=Sprite
x=18
y=30
width=88
height=60
graphic=297

[storage_window_background]
type=Sprite
x=187
y=7
width=88
height=60
graphic=297

[storage_window_content]
type=Sprite
x=274
y=8
width=88
height=60
graphic=297

[storage_layer]
type=Sprite
x=408
y=6
width=88
height=60
graphic=297

[button_layer]
type=Sprite
x=15
y=9
width=88
height=60
graphic=297

[withdraw_button_layer]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[deposit_button_layer]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[storage_window_border]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[inventory_window]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[inventory_window_background]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[inventory_control_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[inventory_scrollbar_layer]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[inventory_scrolling_layer]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[inventory_slot_build_layer]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[inventory_obj_build_layer]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[inventory_window_content]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[inventory_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[inventory_window_border]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[storage_scrolling_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[storage_scrollbar_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[storage_slot_build_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[storage_obj_build_layer]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[withdraw_button_build_layer]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[withdraw_button_control_layer]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[deposit_button_build_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[deposit_button_control_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_31]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_32]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_33]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_34]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_35]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_36]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_37]
type=Sprite
x=12
y=4
width=25
height=30
graphic=310

[com_38]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_39]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_40]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_41]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_42]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_43]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_44]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_45]
type=Sprite
x=479
y=58
width=36
height=36
graphic=315

[com_46]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_47]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_48]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_49]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_50]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_51]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_52]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_57]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_58]
type=Sprite
x=479
y=29
width=36
height=36
graphic=315

[com_59]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_60]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_61]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_62]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_63]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_64]
type=Sprite
x=-3
y=25
width=36
height=36
graphic=172

[com_65]
type=Sprite
x=72
y=-11
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=107
y=-11
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=142
y=-11
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=177
y=-11
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=212
y=-11
width=36
height=36
graphic=314

[com_70]
type=Sprite
x=247
y=-11
width=36
height=36
graphic=314

[com_71]
type=Sprite
x=282
y=-11
width=36
height=36
graphic=314

[com_72]
type=Sprite
x=317
y=-11
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=352
y=-11
width=36
height=36
graphic=314

[com_74]
type=Sprite
x=387
y=-11
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=422
y=-11
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=37
y=-11
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_79]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_80]
type=Sprite
x=475
y=3
width=25
height=30
graphic=311

[com_81]
type=Sprite
x=457
y=-11
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_83]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_84]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_90]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_91]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_92]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_93]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_94]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_95]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_96]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_97]
type=Layer
x=36
y=20
width=440
height=299
onload=701

[com_98]
type=Text
x=17
y=9
width=478
height=40
colour=0xFF981F
hAlign=Center
vAlign=Center
lineHeight=16
font=496
shadow=yes
text="Welcome to RuneScape<br>Use the buttons below to design your player"

[com_99]
type=Model
clientCode=328
x=190
y=155
width=136
height=168
modelZoom=650
modelXAn=150
discardedModelField=0

[com_100]
type=Rectangle
x=223
y=266
width=66
height=31
fill=yes
eventCode=hasOp(1)
opName0="Accept"

[com_101]
type=Text
x=222
y=265
width=68
height=32
colour=0x00C000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Accept"

[com_102]
type=Sprite
x=217
y=260
width=25
height=30
graphic=310

[com_103]
type=Sprite
x=270
y=260
width=25
height=30
graphic=311

[com_104]
type=Sprite
x=217
y=273
width=25
height=30
graphic=312

[com_105]
type=Sprite
x=270
y=273
width=25
height=30
graphic=313

[com_106]
type=Text
x=30
y=54
width=153
height=13
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="Design"

[com_107]
type=Sprite
x=27
y=68
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Head"
onop=708

[com_108]
type=Sprite
x=27
y=103
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Jaw"
onop=710

[com_109]
type=Sprite
x=27
y=138
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Torso"
onop=712

[com_110]
type=Sprite
x=27
y=173
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Arms"
onop=714

[com_111]
type=Sprite
x=27
y=208
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Hands"
onop=716

[com_112]
type=Sprite
x=27
y=243
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Legs"
onop=718

[com_113]
type=Sprite
x=27
y=278
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Feet"
onop=720

[com_114]
type=Sprite
x=140
y=68
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Head"
onop=707

[com_115]
type=Sprite
x=140
y=103
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Jaw"
onop=709

[com_116]
type=Sprite
x=140
y=138
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Torso"
onop=711

[com_117]
type=Sprite
x=140
y=173
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Arms"
onop=713

[com_118]
type=Sprite
x=140
y=208
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Hands"
onop=715

[com_119]
type=Sprite
x=140
y=243
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Legs"
onop=717

[com_120]
type=Sprite
x=140
y=278
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Feet"
onop=719

[com_121]
type=Text
x=76
y=79
width=60
height=234
colour=0xFF981F
hAlign=Center
lineHeight=35
font=495
shadow=yes
text="Head<br>Jaw<br>Torso<br>Arms<br>Hands<br>Legs<br>Feet"

[com_122]
type=Text
x=336
y=57
width=146
height=13
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="Colour"

[com_123]
type=Sprite
x=326
y=74
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Hair Colour"
onop=722

[com_124]
type=Sprite
x=326
y=109
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Torso Colour"
onop=724

[com_125]
type=Sprite
x=326
y=144
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Legs Colour"
onop=726

[com_126]
type=Sprite
x=326
y=179
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Feet Colour"
onop=728

[com_127]
type=Sprite
x=326
y=214
width=45
height=36
graphic=308
eventCode=hasOp(1)
opName0="Previous Skin Colour"
onop=730

[com_128]
type=Sprite
x=440
y=74
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Hair Colour"
onop=721

[com_129]
type=Sprite
x=440
y=109
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Torso Colour"
onop=723

[com_130]
type=Sprite
x=440
y=144
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Legs Colour"
onop=725

[com_131]
type=Sprite
x=440
y=179
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Feet Colour"
onop=727

[com_132]
type=Sprite
x=440
y=214
width=45
height=36
graphic=309
eventCode=hasOp(1)
opName0="Next Skin Colour"
onop=729

[com_133]
type=Text
x=373
y=84
width=65
height=166
colour=0xFF981F
hAlign=Center
lineHeight=35
font=495
shadow=yes
text="Hair<br>Torso<br>Legs<br>Feet<br>Skin"

[com_134]
type=Sprite
x=235
y=245
width=36
height=36
graphic=314

[com_135]
type=Sprite
x=236
y=282
width=36
height=36
graphic=173

[com_136]
type=Text
x=346
y=258
width=117
height=12
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="Gender"

[com_137]
type=Sprite
x=325
y=271
width=72
height=36
graphic=293
eventCode=hasOp(1)
opName0="Male"
onop=731

[com_138]
type=Sprite
x=417
y=271
width=72
height=36
graphic=293
eventCode=hasOp(1)
opName0="Female"
onop=732

[com_139]
type=Text
x=326
y=271
width=71
height=36
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Male"

[com_140]
type=Text
x=417
y=271
width=72
height=36
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Female"
