[mainmodal_window]
type=Model
x=-331
y=-34
width=1199
height=642
model1Id=32353
modelZoom=912
modelXAn=96
modelYAn=1816
modelXOf=87
modelYOf=-86
discardedModelField=0

[mainmodal_window_background]
type=Model
x=82
y=-886
width=439
height=1214
model1Id=32356
modelAnim=dsd_ork_boss_death_cutscene
modelZoom=600
modelXAn=117
modelYAn=1780
modelXOf=-39
modelYOf=518
discardedModelField=0

[mainmodal_window_content]
type=Model
x=-299
y=-4092
width=955
height=5155
model1Id=32354
modelAnim=dsd_ork_boss_death_cutscene
modelZoom=400
modelXOf=-128
modelYOf=1565
discardedModelField=0

[contents_layer]
type=Layer
width=512
height=334
hide=yes

[left_layer]
type=Text
x=57
y=86
width=450
height=200
layerId=45416451
lineHeight=13
font=646
shadow=yes
text="Congratulations"
baseOpName="["

[right_layer]
type=Text
x=54
y=85
width=450
height=200
layerId=45416451
colour=0x3D5340
lineHeight=13
font=646
shadow=yes
text="Congratulations"

[currency_layer]
type=Text
x=139
y=129
width=450
height=200
layerId=45416451
lineHeight=13
font=646
shadow=yes
text="you  have"
baseOpName="["

[currency_background_layer]
type=Text
x=136
y=128
width=450
height=200
layerId=45416451
colour=0x3D5340
lineHeight=13
font=646
shadow=yes
text="you  have"

[currency_content_layer]
type=Text
x=125
y=167
width=450
height=200
layerId=45416451
lineHeight=13
font=646
shadow=yes
text="slain bork!"
baseOpName="["

[currency_graphic]
type=Text
x=122
y=166
width=450
height=200
layerId=45416451
colour=0x3D5340
lineHeight=13
font=646
shadow=yes
text="slain bork!"
