[mainmodal_window]
type=Model
x=414
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=166

[mainmodal_window_background]
type=Text
x=20
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[mainmodal_window_content]
type=Text
x=20
y=16
width=350
height=17
hAlign=Center
font=497
text="Line1"

[map_graphic]
type=Text
x=20
y=32
width=350
height=17
hAlign=Center
font=497
text="Line2"

[current_location_background]
type=Text
x=20
y=48
width=350
height=17
hAlign=Center
font=497
text="Line3"

[current_location_frame]
type=Text
x=20
y=64
width=350
height=17
hAlign=Center
font=497
text="Line4"
