[mainmodal_window]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[content_layer]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[popup_window]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[background_layer]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[scrolling_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[build_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[control_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[scrollbar_layer]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[popup_window_background]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[popup_window_content]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[popup_content_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[popup_content_background_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[popup_title]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[popup_info_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[popup_info_scrolling_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[popup_info_scrollbar_layer]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[popup_info_build_layer]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[popup_close_button_layer]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Inventory
x=75
y=92
width=10
height=2
widthAlignment=Grid
heightAlignment=Grid
marginX=15
marginY=45
invBackground0=-30,0,-1
invBackground1=-30,0,-1
invBackground2=-10,0,-1
invBackground3=-10,0,-1
invBackground4=10,0,-1
invBackground5=10,0,-1
invBackground6=30,0,-1
invBackground7=30,0,-1
invBackground8=-372,154,-1
invBackground9=-258,154,-1
invBackground10=-43,0,-1
invBackground11=-43,0,-1
invBackground12=-43,0,-1
invBackground13=-23,0,-1
invBackground14=-23,0,-1
invBackground15=-23,0,-1
invBackground16=-3,0,-1
invBackground17=-3,0,-1
invBackground18=-3,0,-1
invBackground19=-97,77,-1
iop0=Value
iop1=Buy 1
iop2=Buy 5
iop3=Buy 10
eventCode=hasIop(0,1,2,3)

[com_76]
type=Text
x=85
y=29
width=363
height=14
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Custom Fur Clothing"

[com_77]
type=Text
x=13
y=273
width=484
height=40
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Right-click an item in the shop to have it made for you."

[com_78]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_90]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_91]
type=Text
x=32
y=144
width=126
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Larupia"
script1=gt,0
script1op1=inv_count,inventory:inv,hunting_fur_jaguar_perfect
script1op2=inv_count,inventory:inv,hunting_fur_jaguar_shabby

[com_92]
type=Text
x=193
y=144
width=126
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Graahk"
script1=gt,0
script1op1=inv_count,inventory:inv,hunting_fur_leopard_perfect
script1op2=inv_count,inventory:inv,hunting_fur_leopard_shabby

[com_93]
type=Text
x=354
y=144
width=126
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Kyatt "
script1=gt,0
script1op1=inv_count,inventory:inv,hunting_fur_tiger_perfect
script1op2=inv_count,inventory:inv,hunting_fur_tiger_shabby

[com_94]
type=Text
x=26
y=67
width=107
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Polar kebbit"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_polar_fur

[com_95]
type=Text
x=143
y=67
width=110
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Common kebbit"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_woodland_fur

[com_96]
type=Text
x=256
y=67
width=111
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Feldip weasel"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_jungle_fur

[com_97]
type=Text
x=373
y=67
width=111
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Desert devil"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_desert_fur

[com_98]
type=Text
x=31
y=221
width=121
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Dark kebbit"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_silent_fur

[com_99]
type=Text
x=187
y=221
width=141
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Spotted kebbit"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_speedy_fur

[com_100]
type=Text
x=345
y=221
width=151
height=14
colour=0x990000
colour2=0x00C000
hAlign=Center
font=495
shadow=yes
text="Dashing kebbit"
script1=gt,1
script1op1=inv_count,inventory:inv,huntingbeast_speedy2_fur

[com_101]
type=Sprite
x=469
y=26
width=26
height=23
overLayerId=103
graphic=535

[com_102]
type=Sprite
buttonType=Close
x=8
y=6
width=26
height=23
layerId=31260775
graphic=536
buttonText="Ok"

[com_103]
type=Layer
x=461
y=19
width=32
height=32
hide=yes
