[mainmodal_window]
type=Model
x=-314
y=-137
width=1146
height=474
model1Id=32358
modelZoom=603
modelXAn=33
modelYAn=2047
modelXOf=-5
modelYOf=147
discardedModelField=0

[mainmodal_window_background]
type=Model
x=182
y=227
width=136
height=48
model1Id=32341
modelAnim=dsd_mini_orks_summon_spot_cutscene
modelZoom=344
modelXAn=111
modelYAn=1903
modelXOf=4
modelYOf=-3
discardedModelField=0

[mainmodal_window_content]
type=Model
x=137
y=216
width=198
height=73
model1Id=32342
modelAnim=dsd_mini_orks_summon_spot_cutscene
modelZoom=344
modelXAn=111
modelYAn=1903
modelXOf=18
modelYOf=-4
discardedModelField=0

[contents_layer]
type=Model
x=143
y=71
width=241
height=201
model1Id=32357
modelAnim=dsd_mini_orks_summon_npc_cutscene
modelZoom=344
modelXAn=111
modelYAn=1903
modelXOf=-11
modelYOf=62
discardedModelField=0
