[mainmodal_window]
type=Sprite
x=13
y=20
width=482
height=297
graphic=297

[mainmodal_window_background]
type=Text
x=23
y=29
width=458
height=14
colour=0xFF981F
font=496
shadow=yes
text="Equip Your Character..."

[mainmodal_window_content]
type=Model
clientCode=328
x=209
y=96
width=105
height=195
model1Id=6675
modelZoom=550
modelXOf=16
modelYOf=92
discardedModelField=0

[map_graphic]
type=Sprite
x=471
y=26
width=26
height=23
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onop=29

[current_location_background]
type=Sprite
x=124
y=116
width=32
height=50
layerId=43712532
graphic=841
tiling=yes

[current_location_frame]
type=Sprite
x=66
y=35
width=32
height=130
layerId=43712532
graphic=841
tiling=yes

[current_location_text]
type=Sprite
x=11
y=116
width=32
height=50
layerId=43712532
graphic=841
tiling=yes

[current_location_arrow]
type=Sprite
x=59
y=44
width=48
height=32
layerId=43712532
graphic=828
tiling=yes

[icon_layer]
type=Sprite
x=43
y=82
width=82
height=32
layerId=43712532
graphic=828
tiling=yes

[guild_icon_graphic]
type=Sprite
x=64
y=3
width=36
height=36
layerId=43712532
graphic=170

[icon_build_layer]
type=Sprite
x=23
y=42
width=36
height=36
layerId=43712532
graphic=170

[icon_control_layer]
type=Sprite
x=64
y=42
width=36
height=36
layerId=43712532
graphic=170

[current_location_layer]
type=Sprite
x=105
y=42
width=36
height=36
layerId=43712532
graphic=170

[popup_window]
type=Sprite
x=10
y=81
width=36
height=36
layerId=43712532
graphic=170
baseOpName="weaponslot"

[popup_background]
type=Sprite
x=64
y=81
width=36
height=36
layerId=43712532
graphic=170

[modal_dialog_window]
type=Sprite
x=122
y=81
width=36
height=36
layerId=43712532
graphic=170

[modal_dialog_window_background]
type=Sprite
x=64
y=121
width=36
height=36
layerId=43712532
graphic=170

[modal_dialog_window_content]
type=Sprite
x=64
y=161
width=36
height=36
layerId=43712532
graphic=170

[site_info_layer]
type=Sprite
x=10
y=161
width=36
height=36
layerId=43712532
graphic=170

[site_info_background_layer]
type=Sprite
x=122
y=161
width=36
height=36
layerId=43712532
graphic=170

[site_info_text]
type=Layer
x=21
y=68
width=163
height=199
oninvtransmit=787
oninvtransmitlist=94

[teleport_button_layer]
type=Layer
x=359
y=53
width=146
height=261

[teleport_button_build_layer]
type=Text
x=7
y=1
width=111
height=15
layerId=43712533
colour=0xFF981F
font=496
shadow=yes
text="Attack bonus"

[teleport_button_control_layer]
type=Text
x=7
y=93
width=111
height=15
layerId=43712533
colour=0xFF981F
font=496
shadow=yes
text="Defence bonus"

[modal_dialog_window_border]
type=Text
x=14
y=15
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Stab: +120"

[modal_dialog_window_close_button]
type=Text
x=14
y=29
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Slash:+120"

[mainmodal_window_border]
type=Text
x=14
y=43
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Crush:+120"

[mainmodal_window_close_button]
type=Text
x=14
y=57
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Magic: +120"

[com_28]
type=Text
x=14
y=71
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Range: +120"

[com_29]
type=Text
x=14
y=107
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Stab: +120"

[com_30]
type=Text
x=14
y=121
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Slash: +120"

[com_31]
type=Text
x=14
y=135
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Crush: +120"

[com_32]
type=Text
x=14
y=149
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Magic: +120"

[com_33]
type=Text
x=14
y=163
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Range: +120"

[com_34]
type=Text
x=14
y=177
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Summoning: +120"

[com_35]
type=Text
x=7
y=200
width=111
height=15
layerId=43712533
colour=0xFF981F
font=496
shadow=yes
text="Other bonuses"

[com_36]
type=Text
x=14
y=214
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Strength: +120"

[com_37]
type=Text
x=14
y=228
width=111
height=15
layerId=43712533
colour=0xFF981F
font=495
shadow=yes
text="Prayer: +120"

[com_38]
type=Text
x=94
y=286
width=62
height=17
colour=0xFF9800
vAlign=Center
font=495
shadow=yes
text="%1kg"

[com_39]
type=Sprite
x=73
y=285
width=17
height=18
graphic=649

[com_40]
type=Sprite
x=13
y=290
width=32
height=32
graphic=826

[com_41]
type=Sprite
x=13
y=19
width=32
height=32
graphic=824

[com_42]
type=Sprite
x=470
y=19
width=32
height=32
graphic=825

[com_43]
type=Sprite
x=470
y=290
width=32
height=32
graphic=827

[com_44]
type=Sprite
y=51
width=32
height=240
graphic=821
tiling=yes

[com_45]
type=Sprite
x=482
y=51
width=32
height=239
graphic=823
tiling=yes

[com_46]
type=Sprite
x=45
y=6
width=425
height=32
graphic=820
tiling=yes

[com_47]
type=Sprite
x=44
y=302
width=426
height=32
graphic=822
tiling=yes
