[octave_1_0]
type=Sprite
x=64
y=36
width=24
height=24
graphic=375
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,325,375,58,"Ice Rush","A single target ice attack",562,2,560,2,555,2,-1,0

[octave_1_1]
type=Sprite
x=64
y=120
width=24
height=24
graphic=377
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,327,377,82,"Ice Blitz","A single target strong ice attack",560,2,565,2,555,3,-1,0

[octave_1_2]
type=Sprite
x=151
y=64
width=24
height=24
graphic=376
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,326,376,70,"Ice Burst","A multi-target ice attack",562,4,560,2,555,4,-1,0

[layer_1_c0]
type=Sprite
x=151
y=148
width=24
height=24
graphic=378
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,328,378,94,"Ice Barrage","A multi-target strong ice attack",560,4,565,2,555,6,-1,0

[layer_1_d0]
type=Sprite
x=19
y=36
width=24
height=24
graphic=383
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,333,383,56,"Blood Rush","A single target blood attack",562,2,560,2,565,1,-1,0

[key_text]
type=Sprite
x=19
y=120
width=24
height=24
graphic=385
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,335,385,80,"Blood Blitz","A single target strong blood attack",560,2,565,4,-1,0,-1,0

[layer_1_e0]
type=Sprite
x=110
y=64
width=24
height=24
graphic=384
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,334,384,68,"Blood Burst","A multi-target blood attack",562,4,560,2,565,2,-1,0

[key_1]
type=Sprite
x=110
y=148
width=24
height=24
graphic=386
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,336,386,92,"Blood Barrage","A multi-target strong blood attack",560,4,565,4,566,1,-1,0

[layer_1_f0]
type=Sprite
x=64
y=8
width=24
height=24
graphic=379
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,329,379,50,"Smoke Rush","A single target smoke attack",562,2,560,2,554,1,556,1

[key_2]
type=Sprite
x=64
y=92
width=24
height=24
graphic=381
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,331,381,74,"Smoke Blitz","A single target strong smoke attack",560,2,565,2,554,2,556,2

[layer_1_g0]
type=Sprite
x=151
y=36
width=24
height=24
graphic=380
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,330,380,62,"Smoke Burst","A multi-target smoke attack",562,4,560,2,554,2,556,2

[key_3]
type=Sprite
x=151
y=120
width=24
height=24
graphic=382
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,332,382,86,"Smoke Barrage","A multi-target strong smoke attack",560,4,565,2,554,4,556,4

[layer_1_a0]
type=Sprite
x=110
y=8
width=24
height=24
graphic=387
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,337,387,52,"Shadow Rush","A single target shadow attack",562,2,560,2,556,1,566,1

[key_4]
type=Sprite
x=110
y=92
width=24
height=24
graphic=389
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,339,389,76,"Shadow Blitz","A single target strong shadow attack",560,2,565,2,556,2,566,2

[layer_1_b0]
type=Sprite
x=19
y=64
width=24
height=24
graphic=388
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,338,388,64,"Shadow Burst","A multi-target shadow attack",562,4,560,2,556,1,566,2

[key_5]
type=Sprite
x=19
y=148
width=24
height=24
graphic=390
targetVerb="Cast"
eventCode=targetMask=npc|player
onload=6,component.parentId,12648473,340,390,88,"Shadow Barrage","A multi-target strong shadow attack",560,4,565,2,556,4,566,3

[key_6]
type=Sprite
x=151
y=8
width=24
height=24
graphic=391
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,341,391,54,"Paddewwa Teleport","A teleportation spell",563,2,554,1,556,1,-1,0

[layer_1_c_0]
type=Sprite
x=110
y=36
width=24
height=24
graphic=392
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,342,392,60,"Senntisten Teleport","A teleportation spell",563,2,566,1,-1,0,-1,0

[layer_1_d_0]
type=Sprite
x=64
y=64
width=24
height=24
graphic=393
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,343,393,66,"Kharyrll Teleport","A teleportation spell",563,2,565,1,-1,0,-1,0

[layer_1_f_0]
type=Sprite
x=19
y=92
width=24
height=24
graphic=394
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,344,394,72,"Lassar Teleport","A teleportation spell",563,2,555,4,-1,0,-1,0

[layer_1_g_0]
type=Sprite
x=151
y=92
width=24
height=24
graphic=395
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,345,395,78,"Dareeyak Teleport","A teleportation spell",563,2,554,3,556,2,-1,0

[layer_1_a_0]
type=Sprite
x=110
y=120
width=24
height=24
graphic=396
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,346,396,84,"Carrallangar Teleport","A teleportation spell",563,2,566,2,-1,0,-1,0

[universe]
type=Sprite
x=64
y=148
width=24
height=24
graphic=397
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,347,397,90,"Annakarl Teleport","A teleportation spell",563,2,565,2,-1,0,-1,0

[background]
type=Sprite
x=19
y=176
width=24
height=24
graphic=398
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,348,398,96,"Ghorrock Teleport","A teleportation spell",563,2,555,8,-1,0,-1,0

[basement_key]
type=Sprite
x=19
y=8
width=24
height=24
graphic=356
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,12648473,356,406,0,"Edgeville Home Teleport","Requires no runes - recharge time 30 mins. Warning: This spell takes a long time to cast and will be interrupted by combat.",-1,0,-1,0,-1,0,-1,0

[2_c0]
type=Layer
width=190
height=261
