[mainmodal_window]
type=Rectangle
x=19
y=24
width=476
height=232
trans=150
colour=0x999999
fill=yes

[farming_box]
type=Sprite
x=27
y=69
width=210
height=25
trans=180
graphic=1072

[farming_1]
type=Sprite
x=27
y=100
width=210
height=25
trans=180
graphic=1072

[assist_display_message]
type=Sprite
x=27
y=131
width=210
height=25
trans=180
graphic=1072

[assist_skill_boxes]
type=Sprite
x=27
y=162
width=210
height=25
trans=180
graphic=1072
baseOpName=" "

[com_5]
type=Sprite
x=27
y=193
width=210
height=25
trans=180
graphic=1072
baseOpName=" "

[com_6]
type=Sprite
x=275
y=69
width=210
height=25
trans=180
graphic=1072
baseOpName=" "

[com_7]
type=Sprite
x=275
y=100
width=210
height=25
trans=180
graphic=1072

[com_8]
type=Sprite
x=275
y=131
width=210
height=25
trans=180
graphic=1072
baseOpName=" "

[com_9]
type=Sprite
x=275
y=162
width=210
height=25
trans=180
graphic=1072

[com_10]
type=Text
x=27
y=221
width=460
height=32
colour=0xFAB432
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[com_11]
type=Rectangle
x=274
y=192
width=212
height=27
trans=150
fill=yes
baseOpName=" "
onmouserepeat=529,component.parentId

[com_12]
type=Rectangle
x=274
y=192
width=212
height=27
trans=150
colour=0xB19773
baseOpName=" "
onmouserepeat=529,component.parentId

[com_13]
type=Layer
x=26
y=68
width=212
height=27
hide=yes

[assist_bottom_message]
type=Rectangle
x=26
y=68
width=212
height=27
trans=125
colour=0x006666
fill=yes
baseOpName=" "

[assist_total_xp_backdrop]
type=Rectangle
x=10
y=18
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF33
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726349,-1
onmouseleave=526,1,19726349,19726353
onmouserepeat=529,component.parentId
onclick=531,19726424,215,1103,19726350
onrelease=534,19726353
onhold=533,19726353

[runecraft_layer]
type=Rectangle
width=212
height=27
layerId=19726349
trans=225
colour=0x006666
fill=yes

[runecraft_selected_box]
type=Rectangle
width=212
height=27
layerId=19726349
trans=25
colour=0xFFFFFF

[crafting_layer]
type=Layer
x=26
y=99
width=212
height=27
hide=yes

[crafting_selected_box]
type=Rectangle
x=26
y=99
width=212
height=27
trans=125
colour=0x006666
fill=yes

[fletching_layer]
type=Rectangle
x=10
y=49
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726354,-1
onmouseleave=526,1,19726354,19726358
onmouserepeat=529,component.parentId
onclick=531,19726425,207,1095,19726355
onrelease=534,19726358
onhold=533,19726358

[fletching_selected_box]
type=Rectangle
width=212
height=27
layerId=19726354
trans=225
colour=0x006666
fill=yes

[construction_layer]
type=Rectangle
width=212
height=27
layerId=19726354
trans=25
colour=0xFFFFFF

[construction_selected_box]
type=Layer
x=26
y=130
width=212
height=27
hide=yes

[farming_layer]
type=Rectangle
x=26
y=130
width=212
height=27
trans=125
colour=0x006666
fill=yes

[farming_selected_box]
type=Rectangle
x=10
y=80
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726359,-1
onmouseleave=526,1,19726359,19726363
onmouserepeat=529,component.parentId
onclick=531,19726426,208,1096,19726360
onrelease=534,19726363
onhold=533,19726363

[magic_layer]
type=Rectangle
width=212
height=27
layerId=19726359
trans=225
colour=0x006666
fill=yes

[magic_selected_box]
type=Rectangle
width=212
height=27
layerId=19726359
trans=25
colour=0xFFFFFF

[smithing_layer]
type=Layer
x=26
y=161
width=212
height=27
hide=yes

[smithing_selected_box]
type=Rectangle
x=26
y=161
width=212
height=27
trans=125
colour=0x006666
fill=yes

[cooking_layer]
type=Rectangle
x=10
y=111
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726364,-1
onmouseleave=526,1,19726364,19726368
onmouserepeat=529,component.parentId
onclick=531,19726427,221,1109,19726365
onrelease=534,19726368
onhold=533,19726368

[cooking_selected_box]
type=Rectangle
width=212
height=27
layerId=19726364
trans=225
colour=0x006666
fill=yes

[herblore_layer]
type=Rectangle
width=212
height=27
layerId=19726364
trans=25
colour=0xFFFFFF

[herblore_selected_box]
type=Layer
x=26
y=192
width=212
height=27
hide=yes
baseOpName=" "

[runecraft_text]
type=Rectangle
x=26
y=192
width=212
height=27
trans=125
colour=0x006666
fill=yes

[runecraft_xp]
type=Rectangle
x=10
y=142
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726369,-1
onmouseleave=526,1,19726369,19726373
onmouserepeat=529,component.parentId
onclick=531,19726428,217,1105,19726370
onrelease=534,19726373
onhold=533,19726373

[crafting_text]
type=Rectangle
width=212
height=27
layerId=19726369
trans=225
colour=0x006666
fill=yes

[crafting_xp]
type=Rectangle
width=212
height=27
layerId=19726369
trans=25
colour=0xFFFFFF

[fletching_text]
type=Layer
x=274
y=68
width=212
height=27
hide=yes

[fletching_xp]
type=Rectangle
x=274
y=68
width=212
height=27
trans=125
colour=0x006666
fill=yes

[construction_text]
type=Rectangle
x=258
y=18
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726374,-1
onmouseleave=526,1,19726374,19726378
onmouserepeat=529,component.parentId
onclick=531,19726429,202,1090,19726375
onrelease=534,19726378
onhold=533,19726378

[construction_xp]
type=Rectangle
width=212
height=27
layerId=19726374
trans=225
colour=0x006666
fill=yes

[farming_text]
type=Rectangle
width=212
height=27
layerId=19726374
trans=25
colour=0xFFFFFF

[farming_xp]
type=Layer
x=274
y=99
width=212
height=27
hide=yes

[magic_text]
type=Rectangle
x=274
y=99
width=212
height=27
trans=125
colour=0x006666
fill=yes

[magic_xp]
type=Rectangle
x=258
y=49
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726379,-1
onmouseleave=526,1,19726379,19726383
onmouserepeat=529,component.parentId
onclick=531,19726430,210,1098,19726380
onrelease=534,19726383
onhold=533,19726383

[smithing_text]
type=Rectangle
width=212
height=27
layerId=19726379
trans=225
colour=0x006666
fill=yes

[smithing_xp]
type=Rectangle
width=212
height=27
layerId=19726379
trans=25
colour=0xFFFFFF

[cooking_text]
type=Layer
x=274
y=130
width=212
height=27
hide=yes

[cooking_xp]
type=Rectangle
x=274
y=130
width=212
height=27
trans=125
colour=0x006666
fill=yes

[herblore_text]
type=Rectangle
x=258
y=80
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726384,-1
onmouseleave=526,1,19726384,19726388
onmouserepeat=529,component.parentId
onclick=531,19726431,212,1100,19726385
onrelease=534,19726388
onhold=533,19726388

[herblore_xp]
type=Rectangle
width=212
height=27
layerId=19726384
trans=225
colour=0x006666
fill=yes

[runecrafting_icon]
type=Rectangle
width=212
height=27
layerId=19726384
trans=25
colour=0xFFFFFF

[crafting_icon_on]
type=Layer
x=274
y=161
width=212
height=27
hide=yes

[fletching_icon_on]
type=Rectangle
x=274
y=161
width=212
height=27
trans=125
colour=0x006666
fill=yes

[construction_icon_on]
type=Rectangle
x=258
y=111
width=212
height=27
layerId=19726433
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Toggle Skill On / Off"
onmouseover=526,0,19726389,-1
onmouseleave=526,1,19726389,19726393
onmouserepeat=529,component.parentId
onclick=531,19726432,205,1093,19726390
onrelease=534,19726393
onhold=533,19726393

[farming_icon_on]
type=Rectangle
width=212
height=27
layerId=19726389
trans=225
colour=0x006666
fill=yes

[magic_icon_on]
type=Rectangle
width=212
height=27
layerId=19726389
trans=25
colour=0xFFFFFF

[smithing_icon_on]
type=Sprite
x=472
y=32
width=16
height=16
trans=20
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[cooking_icon_on]
type=Sprite
x=16
y=24
width=32
height=27
trans=64
graphic=991
tiling=yes

[herblore_icon_on]
type=Sprite
x=16
y=227
width=32
height=32
trans=64
graphic=993

[runecrafting_event_area]
type=Sprite
x=465
y=227
width=32
height=32
trans=64
graphic=994
baseOpName=" "

[crafting_event_area]
type=Sprite
x=465
y=24
width=32
height=27
trans=64
graphic=992
tiling=yes

[fletching_event_area]
type=Sprite
x=48
y=11
width=417
height=32
trans=64
graphic=987
tiling=yes

[construction_event_area]
type=Sprite
x=3
y=63
width=32
height=164
trans=64
graphic=988
tiling=yes

[farming_event_area]
type=Sprite
x=48
y=243
width=417
height=32
trans=64
graphic=987
tiling=yes

[magic_event_area]
type=Sprite
x=477
y=62
width=32
height=165
trans=64
graphic=990
tiling=yes

[smithing_event_area]
type=Sprite
x=16
y=40
width=32
height=32
trans=64
graphic=996

[cooking_event_area]
type=Sprite
x=23
y=38
width=466
height=32
trans=64
graphic=995
tiling=yes

[herblore_event_area]
type=Sprite
x=465
y=40
width=32
height=32
trans=64
graphic=997

[assist_total_text]
type=Text
x=58
y=75
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Runecrafting XP"
onvartransmit=524,component.parentId,19726407
onvartransmitlist=1088,1087

[assist_total_xp_display]
type=Text
x=192
y=75
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP"
onload=521
onstattransmit=522,component.parentId,20
onstattransmitlist=20

[herblore_box]
type=Text
x=58
y=106
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Crafting XP"
onvartransmit=524,component.parentId,19726409
onvartransmitlist=1088,1087

[herblore_1]
type=Text
x=192
y=106
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP"
onstattransmit=522,component.parentId,12
onstattransmitlist=12

[cooking_box]
type=Text
x=58
y=136
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Fletching XP"
onvartransmit=524,component.parentId,19726411
onvartransmitlist=1088,1087

[cooking_1]
type=Text
x=192
y=136
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP"
baseOpName="m"
onstattransmit=522,component.parentId,9
onstattransmitlist=9

[smithing_box]
type=Text
x=58
y=168
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Construction XP"
onvartransmit=524,component.parentId,19726413
onvartransmitlist=1088,1087

[smithing_1]
type=Text
x=192
y=168
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP"
onstattransmit=522,component.parentId,22
onstattransmitlist=22

[magic_box]
type=Text
x=58
y=199
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Farming XP"
onvartransmit=524,component.parentId,19726415
onvartransmitlist=1088,1087

[magic_1]
type=Text
x=192
y=199
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP"
baseOpName="m"
onstattransmit=522,component.parentId,19
onstattransmitlist=19

[construction_box]
type=Text
x=305
y=75
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Magic XP"
onvartransmit=524,component.parentId,19726417
onvartransmitlist=1088,1087

[construction_1]
type=Text
x=439
y=75
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP "
onload=521
onstattransmit=522,component.parentId,6
onstattransmitlist=6

[fletching_box]
type=Text
x=305
y=106
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Smithing XP"
onvartransmit=524,component.parentId,19726419
onvartransmitlist=1088,1087

[fletching_1]
type=Text
x=439
y=106
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP "
onload=521
onstattransmit=522,component.parentId,13
onstattransmitlist=13

[crafting_box]
type=Text
x=305
y=136
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Cooking XP"
onvartransmit=524,component.parentId,19726421
onvartransmitlist=1088,1087

[crafting_1]
type=Text
x=439
y=136
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP "
onload=521
onstattransmit=522,component.parentId,7
onstattransmitlist=7

[runecrafting_box]
type=Text
x=305
y=168
width=135
height=16
colour=0xFAB432
font=495
shadow=yes
text="Herblore XP"
onvartransmit=524,component.parentId,19726423
onvartransmitlist=1088,1087

[runecrafting_1]
type=Text
x=439
y=168
width=35
height=16
colour=0xF3922A
font=495
shadow=yes
text="XP "
baseOpName="m"
onstattransmit=522,component.parentId,15
onstattransmitlist=15

[mainmodal_window_background]
type=Sprite
x=29
y=69
width=25
height=25
trans=20
graphic=215
onload=527
onvartransmit=527
onvartransmitlist=1087

[mainmodal_window_content]
type=Sprite
x=29
y=101
width=25
height=25
trans=20
graphic=207

[mainmodal_window_border]
type=Sprite
x=29
y=130
width=25
height=25
trans=20
graphic=208

[mainmodal_window_close_button]
type=Sprite
x=29
y=161
width=25
height=25
trans=20
graphic=221

[com_92]
type=Sprite
x=29
y=193
width=25
height=25
trans=20
graphic=217

[com_93]
type=Sprite
x=277
y=68
width=25
height=25
trans=20
graphic=202

[com_94]
type=Sprite
x=277
y=100
width=25
height=25
trans=20
graphic=210

[com_95]
type=Sprite
x=277
y=131
width=25
height=25
trans=20
graphic=212

[com_96]
type=Sprite
x=277
y=163
width=25
height=25
trans=20
graphic=205

[com_97]
type=Layer
x=16
y=50
width=486
height=212

[com_98]
type=Text
x=273
y=149
width=135
height=16
layerId=19726433
colour=0xFAB432
font=495
shadow=yes
text="Total XP earned"
onvartransmit=524,component.parentId,19726435
onvartransmitlist=1088

[com_99]
type=Text
x=425
y=149
width=35
height=16
layerId=19726433
colour=0xF3922A
font=495
shadow=yes
text="XP "
onvartransmit=535,component.parentId
onvartransmitlist=1088

[com_100]
type=Layer
x=179
y=52
width=115
height=133
layerId=19726433
onmouseleave=40,19726436

[com_101]
type=Text
x=20
y=34
width=448
height=18
colour=0xFF9900
hAlign=Center
font=496
shadow=yes
text="Assist System XP Display - You are assisting <name>"
