[mainmodal_window]
type=Model
x=241
y=124
width=40
height=12
model1Id=3623
modelZoom=578
modelXAn=496
modelYAn=1

[mainmodal_window_background]
type=Text
x=118
y=35
width=340
height=35
colour=0xF342E10
vAlign=Center
font=497
text="A....a lemming"

[mainmodal_window_content]
type=Text
x=118
y=69
width=340
height=35
colour=0xF342E10
vAlign=Center
font=497
text="B....a fryingpan"

[box_content]
type=Text
x=118
y=103
width=340
height=35
colour=0xF342E10
vAlign=Center
font=497
text="C....the disenfrachaised youth of 1940's Columbia"

[box_content_background]
type=Text
x=117
y=20
width=80
height=17
colour=0xF1B1805
font=497
text="Is this:"

[box_content_content]
type=Rectangle
x=142
y=143
width=236
height=153
colour=0xF342E10
fill=yes

[box_content_holder]
type=Rectangle
x=147
y=147
width=226
height=144
colour=0xF5F551D
fill=yes

[box_background_layer]
type=Model
x=197
y=149
width=133
height=133
model1Id=8829
modelZoom=400
modelXAn=346
modelYAn=1883

[food_layer]
type=Model
buttonType=Button
x=85
y=36
width=32
height=32
model1Id=8965
modelZoom=4904
modelXAn=540
modelYAn=2043
buttonText="select option A"
eventCode=flag22

[button_holder]
type=Model
buttonType=Button
x=84
y=69
width=32
height=32
model1Id=8966
modelZoom=4859
modelXAn=490
modelYAn=10
buttonText="select option B"
eventCode=flag22

[withdraw_button]
type=Model
buttonType=Button
x=83
y=102
width=32
height=32
model1Id=8967
modelZoom=4579
modelXAn=385
modelYAn=24
buttonText="select option C"
eventCode=flag22

[deposit_button]
type=Sprite
x=370
y=9
width=26
height=23
overLayerId=13
graphic=537

[inv_content_player_inv]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=12058637
graphic=538
buttonText="Ok"

[inv_content_player_inv_background]
type=Layer
x=366
y=4
width=32
height=32
hide=yes
