[imp_deposit_instructions]
type=Sprite
x=88
y=20
width=88
height=60
graphic=297

[imp_deposit_layer]
type=Sprite
x=88
y=80
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=88
y=140
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=88
y=200
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=176
y=20
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=176
y=80
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=176
y=140
width=88
height=60
graphic=297

[com_7]
type=Sprite
x=176
y=200
width=88
height=60
graphic=297

[com_8]
type=Sprite
x=264
y=20
width=88
height=60
graphic=297

[com_9]
type=Sprite
x=352
y=80
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=264
y=80
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=264
y=140
width=88
height=60
graphic=297

[com_12]
type=Sprite
x=264
y=200
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=352
y=140
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=352
y=20
width=88
height=60
graphic=297

[com_15]
type=Sprite
x=352
y=200
width=88
height=60
graphic=297

[com_16]
type=Sprite
x=67
y=50
width=36
height=36
graphic=172

[com_17]
type=Sprite
x=82
y=20
width=25
height=30
graphic=310

[com_18]
type=Sprite
x=67
y=86
width=36
height=36
graphic=172

[com_19]
type=Sprite
x=67
y=122
width=36
height=36
graphic=172

[com_20]
type=Sprite
x=67
y=158
width=36
height=36
graphic=172

[com_21]
type=Sprite
x=67
y=194
width=36
height=36
graphic=172

[com_22]
type=Sprite
x=67
y=212
width=36
height=36
graphic=172

[com_23]
type=Sprite
x=425
y=50
width=36
height=36
graphic=315

[com_24]
type=Sprite
x=425
y=86
width=36
height=36
graphic=315

[com_25]
type=Sprite
x=425
y=122
width=36
height=36
graphic=315

[com_26]
type=Sprite
x=425
y=158
width=36
height=36
graphic=315

[com_27]
type=Sprite
x=425
y=194
width=36
height=36
graphic=315

[com_28]
type=Sprite
x=425
y=218
width=36
height=36
graphic=315

[com_29]
type=Sprite
x=107
y=245
width=36
height=36
graphic=173

[com_30]
type=Sprite
x=143
y=245
width=36
height=36
graphic=173

[com_31]
type=Sprite
x=179
y=245
width=36
height=36
graphic=173

[com_32]
type=Sprite
x=215
y=245
width=36
height=36
graphic=173

[com_33]
type=Sprite
x=251
y=245
width=36
height=36
graphic=173

[com_34]
type=Sprite
x=287
y=245
width=36
height=36
graphic=173

[com_35]
type=Sprite
x=323
y=245
width=36
height=36
graphic=173

[com_36]
type=Sprite
x=359
y=245
width=36
height=36
graphic=173

[com_37]
type=Sprite
x=388
y=245
width=36
height=36
graphic=173

[com_38]
type=Sprite
x=107
y=5
width=36
height=36
graphic=314

[com_39]
type=Sprite
x=143
y=5
width=36
height=36
graphic=314

[com_40]
type=Sprite
x=179
y=5
width=36
height=36
graphic=314

[com_41]
type=Sprite
x=215
y=5
width=36
height=36
graphic=314

[com_42]
type=Sprite
x=251
y=5
width=36
height=36
graphic=314

[com_43]
type=Sprite
x=287
y=5
width=36
height=36
graphic=314

[com_44]
type=Sprite
x=323
y=5
width=36
height=36
graphic=314

[com_45]
type=Sprite
x=359
y=5
width=36
height=36
graphic=314

[com_46]
type=Sprite
x=395
y=5
width=36
height=36
graphic=314

[com_47]
type=Sprite
x=262
y=34
width=36
height=36
graphic=314

[com_48]
type=Sprite
x=82
y=236
width=25
height=30
graphic=312

[com_49]
type=Sprite
x=421
y=20
width=25
height=30
graphic=311

[com_50]
type=Sprite
x=421
y=236
width=25
height=30
graphic=313

[com_51]
type=Sprite
x=298
y=34
width=36
height=36
graphic=314

[com_52]
type=Sprite
x=334
y=34
width=36
height=36
graphic=314

[com_53]
type=Sprite
x=370
y=34
width=36
height=36
graphic=314

[com_54]
type=Sprite
x=405
y=34
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=226
y=34
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=190
y=34
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=154
y=34
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=118
y=34
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=87
y=34
width=36
height=36
graphic=314

[com_60]
type=Text
x=93
y=30
width=344
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Imp Release Negotiation Form"

[com_61]
type=Inventory
x=127
y=71
width=7
height=4
widthAlignment=Grid
heightAlignment=Grid
marginX=8
marginY=10
iop0=Deposit
eventCode=hasIop(0), objSwapEnabled

[com_62]
type=Text
x=88
y=232
width=352
height=26
colour=0xFFFFFF
hAlign=Center
font=495
shadow=yes
text="Select an item or stack of items to deposit.<br><col=ff7000>You can deposit up to 2 items or stacks."

[com_63]
type=Sprite
x=418
y=26
width=26
height=23
overLayerId=65
graphic=535

[com_64]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=31326273
graphic=536
buttonText="Ok"

[com_65]
type=Layer
x=415
y=22
width=32
height=32
hide=yes
