[mainmodal_window]
type=Rectangle
x=15
y=12
width=481
height=314
colour=0x453D2A
fill=yes

[mainmodal_window_background]
type=Sprite
x=5
width=464
height=24
layerId=917592
graphic=445
tiling=yes

[mainmodal_window_content]
type=Sprite
x=6
width=464
height=26
layerId=917594
graphic=445
tiling=yes

[settings]
type=Sprite
x=470
y=11
width=26
height=23
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onop=29

[statusbox]
type=Sprite
x=10
y=5
width=32
height=32
graphic=824

[statusbox_background]
type=Sprite
x=470
y=5
width=32
height=32
graphic=825

[com_6]
type=Sprite
x=10
y=300
width=32
height=32
graphic=826

[statusoutput]
type=Sprite
x=470
y=300
width=32
height=32
graphic=827

[com_8]
type=Sprite
x=-3
y=36
width=32
height=264
graphic=821
tiling=yes

[delayoutput]
type=Sprite
x=482
y=36
width=32
height=264
graphic=823
tiling=yes

[buttonbox]
type=Sprite
x=42
y=-8
width=428
height=32
graphic=820
tiling=yes

[button1]
type=Sprite
x=40
y=312
width=430
height=32
graphic=822
tiling=yes

[button2]
type=Sprite
x=16
y=21
width=478
height=32
graphic=820
tiling=yes

[button3]
type=Sprite
x=10
y=23
width=32
height=32
graphic=829
tiling=yes

[button4]
type=Sprite
x=470
y=23
width=32
height=32
graphic=830
tiling=yes

[messagebox]
type=Sprite
x=313
y=44
width=32
height=32
graphic=846
tiling=yes

[content_panel_blue]
type=Sprite
x=457
y=44
width=32
height=32
graphic=847
tiling=yes

[com_17]
type=Sprite
x=313
y=287
width=32
height=32
graphic=848
tiling=yes

[message]
type=Sprite
x=457
y=287
width=32
height=32
graphic=849
tiling=yes

[scrollbar]
type=Sprite
x=343
y=30
width=114
height=32
graphic=828
tiling=yes

[bank_return]
type=Sprite
x=344
y=299
width=114
height=32
graphic=828
tiling=yes

[com_21]
type=Sprite
x=299
y=76
width=32
height=212
graphic=841
tiling=yes

[warnings]
type=Sprite
x=469
y=76
width=32
height=211
graphic=841
tiling=yes

[warning_text]
type=Sprite
x=31
y=55
width=32
height=32
graphic=846
tiling=yes

[warning_yes]
type=Sprite
x=185
y=55
width=32
height=32
graphic=847
tiling=yes

[3x3_context_button_layer_3]
type=Sprite
x=185
y=149
width=32
height=32
graphic=849
tiling=yes

[3x3_context_button_on_layer_3]
type=Sprite
x=31
y=149
width=32
height=32
graphic=848
tiling=yes

[3x3_context_button_over_layer_3]
type=Sprite
x=17
y=84
width=32
height=66
graphic=841
tiling=yes

[3x3_context_button_hit_layer_3]
type=Sprite
x=197
y=87
width=32
height=62
graphic=841
tiling=yes

[3x3_context_button_selected_layer_3]
type=Sprite
x=62
y=41
width=123
height=32
graphic=828
tiling=yes

[warning_yes_active]
type=Sprite
x=62
y=161
width=123
height=32
graphic=828
tiling=yes

[3x3_context_button_disabled_layer_3]
type=Sprite
x=31
y=216
width=32
height=32
graphic=846
tiling=yes

[com_32]
type=Sprite
x=264
y=216
width=32
height=32
graphic=847
tiling=yes

[3x3_context_button_text_layer_3]
type=Sprite
x=264
y=259
width=32
height=32
graphic=849
tiling=yes

[warning_yes_text]
type=Sprite
x=276
y=238
width=32
height=32
graphic=841
tiling=yes

[warning_no]
type=Sprite
x=17
y=237
width=32
height=32
graphic=841
tiling=yes

[3x3_context_button_layer_4]
type=Sprite
x=60
y=202
width=204
height=32
graphic=828
tiling=yes

[3x3_context_button_on_layer_4]
type=Sprite
x=60
y=271
width=204
height=32
graphic=828
tiling=yes

[3x3_context_button_over_layer_4]
type=Sprite
x=31
y=259
width=32
height=32
graphic=848
tiling=yes

[3x3_context_button_hit_layer_4]
type=Rectangle
x=319
y=49
width=164
height=264
fill=yes

[3x3_context_button_selected_layer_4]
type=Text
x=7
y=15
width=496
height=17
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Bank PIN Settings"

[warning_no_active]
type=Text
x=321
y=50
width=162
height=15
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Messages"

[3x3_context_button_disabled_layer_4]
type=Text
x=321
y=67
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_43]
type=Text
x=321
y=83
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[3x3_context_button_text_layer_4]
type=Text
x=321
y=99
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[warning_no_text]
type=Text
x=321
y=115
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[mainmodal_window_border]
type=Text
x=321
y=131
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[mainmodal_window_close_button]
type=Text
x=321
y=147
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[universe]
type=Text
x=321
y=163
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_49]
type=Text
x=321
y=179
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_50]
type=Text
x=321
y=195
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_51]
type=Text
x=321
y=211
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_52]
type=Text
x=321
y=227
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_53]
type=Text
x=321
y=243
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495

[com_54]
type=Text
x=321
y=258
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495
shadow=yes

[com_55]
type=Text
x=321
y=274
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495
shadow=yes

[com_56]
type=Text
x=320
y=289
width=160
height=14
colour=0xFFFF7F
hAlign=Center
font=495
shadow=yes

[com_57]
type=Text
x=320
y=303
width=161
height=10
colour=0xFFFF7F
hAlign=Center
font=495
shadow=yes

[com_58]
type=Layer
x=37
y=222
width=252
height=63

[com_59]
type=Sprite
x=-1
y=-14
width=255
height=104
layerId=917562
graphic=445
tiling=yes

[com_60]
type=Text
x=1
y=5
width=252
height=17
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Set a PIN"
eventCode=hasOp(1)
opName0="Set a PIN"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_61]
type=Text
x=-1
y=28
width=252
height=16
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Change your recovery delay"
eventCode=hasOp(1)
opName0="Change your recovery delay"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_62]
type=Text
width=252
height=16
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Change your PIN"
eventCode=hasOp(1)
opName0="Change your PIN"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_63]
type=Text
x=-1
y=22
width=253
height=15
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Delete your PIN"
eventCode=hasOp(1)
opName0="Delete your PIN"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_64]
type=Text
x=-1
y=41
width=252
height=15
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Change your recovery delay"
eventCode=hasOp(1)
opName0="Change your recovery delay"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_65]
type=Text
x=-1
y=20
width=252
height=15
layerId=917562
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Cancel the PIN that's pending"
eventCode=hasOp(1)
opName0="Cancel your PIN"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_66]
type=Sprite
x=-1
y=-14
width=176
height=128
layerId=917571
graphic=444
tiling=yes

[com_67]
type=Layer
x=37
y=61
width=173
height=113

[com_68]
type=Text
x=1
y=1
width=173
height=17
layerId=917571
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="Your Bank PIN status:"

[com_69]
type=Text
x=-2
y=15
width=173
height=30
layerId=917571
colour=0x990000
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Unknown"

[com_70]
type=Text
x=-2
y=44
width=174
height=35
layerId=917571
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Recovery delay:"

[com_71]
type=Text
x=-2
y=81
width=173
height=14
layerId=917571
colour=0x990000
hAlign=Center
font=496
shadow=yes
text="X days"

[com_72]
type=Rectangle
x=17
y=13
width=476
height=312
layerId=917591
fill=yes

[com_73]
type=Text
y=62
width=496
height=17
layerId=917591
colour=0x990000
hAlign=Center
font=496
shadow=yes
text="Do you really wish to do that?"
baseOpName=" "

[com_74]
type=Sprite
x=17
y=127
width=32
height=32
layerId=917591
graphic=846
tiling=yes

[com_75]
type=Sprite
x=17
y=130
width=32
height=32
layerId=917591
graphic=848
tiling=yes

[com_76]
type=Sprite
x=460
y=127
width=32
height=32
layerId=917591
graphic=847

[com_77]
type=Sprite
x=460
y=130
width=32
height=32
layerId=917591
graphic=849

[com_78]
type=Sprite
x=49
y=113
width=411
height=32
layerId=917591
graphic=828
tiling=yes

[com_79]
type=Sprite
x=48
y=142
width=412
height=32
layerId=917591
graphic=828
tiling=yes

[com_80]
type=Sprite
x=17
y=197
width=32
height=32
layerId=917591
graphic=846
tiling=yes

[com_81]
type=Sprite
x=17
y=202
width=32
height=32
layerId=917591
graphic=848
tiling=yes

[com_82]
type=Sprite
x=460
y=202
width=32
height=32
layerId=917591
graphic=849
tiling=yes

[com_83]
type=Sprite
x=460
y=197
width=32
height=32
layerId=917591
graphic=847
tiling=yes

[com_84]
type=Sprite
x=49
y=183
width=411
height=32
layerId=917591
graphic=828
tiling=yes

[com_85]
type=Sprite
x=49
y=214
width=411
height=32
layerId=917591
graphic=828
tiling=yes

[com_86]
type=Text
x=17
y=181
width=296
height=35
colour=0xBF751D
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Use the buttons below to change your PIN settings"

[com_87]
type=Layer
y=-1
width=512
height=334
hide=yes

[com_88]
type=Layer
x=17
y=132
width=477
height=26
layerId=917591

[com_89]
type=Text
x=8
y=134
width=478
height=17
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Yes, I really want to do that."
eventCode=hasOp(1)
opName0="Confirm"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_90]
type=Layer
x=16
y=202
width=477
height=26
layerId=917591

[com_91]
type=Text
x=8
y=206
width=478
height=17
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="No, forget I asked."
eventCode=hasOp(1)
opName0="Cancel"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357
