[mainmodal_window]
type=Sprite
x=12
y=20
width=488
height=304
graphic=297

[mainmodal_window_background]
type=Sprite
x=33
y=103
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851979
onmouseleave=69,0,851979

[mainmodal_window_content]
type=Sprite
x=127
y=103
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851980
onmouseleave=69,0,851980

[com_3]
type=Sprite
x=221
y=103
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851981
onmouseleave=69,0,851981

[numberbuttons]
type=Sprite
x=305
y=103
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851982
onmouseleave=69,0,851982

[0]
type=Sprite
x=33
y=175
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851983
onmouseleave=69,0,851983

[1]
type=Sprite
x=127
y=175
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851984
onmouseleave=69,0,851984

[2]
type=Sprite
x=221
y=175
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851985
onmouseleave=69,0,851985

[3]
type=Sprite
x=33
y=247
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851986
onmouseleave=69,0,851986

[4]
type=Sprite
x=127
y=247
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851987
onmouseleave=69,0,851987

[5]
type=Sprite
x=221
y=247
width=64
height=64
graphic=446
eventCode=hasOp(1)
opName0="Enter digit"
onmouseover=69,1,851988
onmouseleave=69,0,851988

[6]
type=Text
x=37
y=149
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[7]
type=Text
x=131
y=149
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[8]
type=Text
x=225
y=149
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[9]
type=Text
x=309
y=149
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[com_15]
type=Text
x=37
y=221
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[enter_box]
type=Text
x=131
y=221
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[forgot_button_layer]
type=Text
x=225
y=221
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[forgot_button_build]
type=Text
x=37
y=293
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=562

[forgot_button]
type=Text
x=131
y=293
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=563

[next_digit_instruction]
type=Text
x=225
y=293
width=9
height=14
colour=0xFF7F00
font=496
text="0"
onload=700,component.parentId
onvartransmit=700,component.parentId
onvartransmitlist=563

[digit_1]
type=Text
x=424
y=30
width=16
height=16
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
onload=697,component.parentId,1
onvartransmit=697,component.parentId,1
onvartransmitlist=563

[digit_2]
type=Text
x=440
y=30
width=16
height=16
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
onload=697,component.parentId,2
onvartransmit=697,component.parentId,2
onvartransmitlist=563

[digit_3]
type=Text
x=456
y=30
width=16
height=16
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
onload=697,component.parentId,3
onvartransmit=697,component.parentId,3
onvartransmitlist=563

[digit_4]
type=Text
x=472
y=30
width=16
height=16
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
onload=697,component.parentId,4
onvartransmit=697,component.parentId,4
onvartransmitlist=563

[mainmodal_window_border]
type=Layer
x=328
y=248
width=146
height=48

[mainmodal_window_close_button]
type=Sprite
width=104
height=104
layerId=851993
graphic=444

[com_27]
type=Sprite
x=104
y=-1
width=104
height=104
layerId=851993
graphic=444

[com_28]
type=Text
x=18
y=57
width=476
height=14
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Please enter your FOUR DIGIT PIN using the buttons below."

[com_29]
type=Text
x=327
y=274
width=148
height=17
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
onload=699,component.parentId
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357
onvartransmit=699,component.parentId
onvartransmitlist=563

[com_30]
type=Text
x=327
y=252
width=148
height=17
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Exit"
eventCode=hasOp(1)
opName0="Exit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357
onop=696

[com_31]
type=Text
x=20
y=29
width=402
height=17
colour=0xAA0000
font=496
shadow=yes
text="YOUR PIN WILL BE DELETED IN X DAYS"

[com_32]
type=Text
x=18
y=80
width=476
height=14
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
onvartransmit=698,component.parentId
onvartransmitlist=563

[com_33]
type=Sprite
x=11
y=19
width=32
height=32
graphic=824

[com_34]
type=Sprite
x=11
y=295
width=32
height=32
graphic=826

[com_35]
type=Sprite
x=471
y=19
width=32
height=32
graphic=825

[com_36]
type=Sprite
x=471
y=295
width=32
height=32
graphic=827

[com_37]
type=Sprite
x=483
y=51
width=32
height=246
graphic=823
tiling=yes

[com_38]
type=Sprite
x=-2
y=51
width=32
height=244
graphic=821
tiling=yes

[com_39]
type=Sprite
x=43
y=6
width=428
height=32
graphic=820
tiling=yes

[com_40]
type=Sprite
x=18
y=35
width=478
height=32
graphic=828
tiling=yes

[com_41]
type=Sprite
x=11
y=37
width=32
height=32
graphic=829
tiling=yes

[com_42]
type=Sprite
x=471
y=37
width=32
height=32
graphic=830
tiling=yes

[com_43]
type=Sprite
x=43
y=307
width=428
height=32
graphic=822
tiling=yes

[com_44]
type=Sprite
x=322
y=242
width=32
height=32
graphic=846
tiling=yes

[com_45]
type=Sprite
x=450
y=242
width=32
height=32
graphic=847
tiling=yes

[com_46]
type=Sprite
x=450
y=271
width=32
height=32
graphic=849
tiling=yes

[com_47]
type=Sprite
x=354
y=228
width=96
height=32
graphic=828
tiling=yes

[com_48]
type=Sprite
x=354
y=283
width=96
height=32
graphic=828
tiling=yes

[com_49]
type=Sprite
x=322
y=271
width=32
height=32
graphic=848
tiling=yes

[com_50]
type=Model
x=380
y=83
width=102
height=99
model1Id=11205
modelZoom=786
modelXAn=113
modelYAn=229
modelXOf=-2
modelYOf=38
discardedModelField=0

[com_51]
type=Model
x=317
y=164
width=75
height=74
model1Id=2775
modelZoom=402
modelXAn=113
modelYAn=44
modelXOf=17
modelYOf=31
discardedModelField=0
