[com_0]
type=Rectangle
x=-4
y=-11
width=512
height=400
trans=120
fill=yes

[com_1]
type=Model
x=239
y=504
width=32
height=32
model1Id=20734
modelZoom=240

[com_2]
type=Text
x=107
y=75
width=135
height=27
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="Player status for:"

[com_3]
type=Text
x=74
y=110
width=55
height=13
colour=0x990000
font=495
shadow=yes
text="Role"

[com_4]
type=Text
x=136
y=110
width=90
height=28
colour=0x009900
hAlign=Center
font=495
shadow=yes
text="Current honour points"

[com_5]
type=Text
x=74
y=144
width=56
height=14
colour=0xFF981F
font=495
shadow=yes
text="Attacker"

[com_6]
type=Text
x=74
y=261
width=55
height=14
colour=0xFF981F
font=495
shadow=yes
text="Healer"

[com_7]
type=Text
x=74
y=184
width=55
height=14
colour=0xFF981F
font=495
shadow=yes
text="Defender"

[com_8]
type=Text
x=74
y=224
width=55
height=14
colour=0xFF981F
font=495
shadow=yes
text="Collector"

[barbassault_plstat_att_nxtlv]
type=Text
x=378
y=109
width=65
height=32
colour=0xCCCC00
hAlign=Center
font=495
shadow=yes
text="Points for next level"

[barbassault_plstat_def_nxtlv]
type=Text
x=398
y=145
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_col_nxtlv]
type=Text
x=398
y=184
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_heal_nxtlv]
type=Text
x=398
y=224
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_13]
type=Text
x=398
y=263
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_attlv]
type=Text
x=234
y=110
width=30
height=14
colour=0x990099
font=495
shadow=yes
text="Level"

[barbassault_plstat_deflv]
type=Text
x=245
y=145
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_collv]
type=Text
x=245
y=184
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_heallv]
type=Text
x=245
y=224
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_name]
type=Text
x=245
y=263
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_totxp_att]
type=Text
x=245
y=75
width=90
height=27
colour=0xFF981F
font=495
shadow=yes
text="null"

[barbassault_plstat_totxp_def]
type=Text
x=175
y=144
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_totxp_col]
type=Text
x=175
y=183
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_totxp_heal]
type=Text
x=175
y=223
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_23]
type=Text
x=175
y=262
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_curwave]
type=Text
x=346
y=75
width=82
height=14
colour=0xFF981F
font=495
shadow=yes
text="Current wave :"

[com_25]
type=Text
x=433
y=75
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_plstat_rew_def]
type=Text
x=275
y=109
width=77
height=29
colour=0x009999
hAlign=Center
font=495
shadow=yes
text="Reward next level"

[barbassault_plstat_rew_att]
type=Text
x=279
y=144
width=83
height=14
colour=0xFF981F
font=495
shadow=yes
text="-----------"

[barbassault_plstat_rew_col]
type=Text
x=279
y=183
width=83
height=14
colour=0xFF9800
font=495
shadow=yes
text="-----------"

[barbassault_plstat_rew_heal]
type=Text
x=279
y=218
width=83
height=28
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
text="-----------"

[com_30]
type=Text
x=279
y=262
width=83
height=14
colour=0xFF981F
font=495
shadow=yes
text="-----------"

[com_31]
type=Sprite
x=469
y=32
width=26
height=23
overLayerId=33
graphic=539

[com_32]
type=Sprite
buttonType=Close
x=3
y=2
width=26
height=23
layerId=32112673
graphic=540
buttonText="Ok"

[com_33]
type=Layer
x=466
y=30
width=32
height=32
hide=yes
