[select_role_text]
type=Rectangle
x=1
y=3
width=512
height=400
trans=120
fill=yes

[attack_layer]
type=Model
x=246
y=164
width=32
height=32
model1Id=19339
modelZoom=721
modelXAn=512

[defend_layer]
type=Text
x=51
y=28
width=225
height=17
colour=0xFF981F
font=496
shadow=yes
text="Player 2 Interface Screen"

[collect_layer]
type=Text
buttonType=Button
x=401
y=235
width=40
height=14
colour=0xFF981F
colourOver=0xC8C800
font=495
shadow=yes
text="Decline"
buttonText="Decline"
eventCode=flag22

[healer_layer]
type=Model
x=225
y=92
width=60
height=60
overLayerId=40
model1Id=20560
model2Id=20561
modelZoom=1074
modelXAn=585

[barbassault_scroll_pl2_lay2]
type=Text
buttonType=Button
x=227
y=153
width=60
height=14
colour=0xFF981F
colourOver=0xC8C800
hAlign=Center
font=495
shadow=yes
text="Attacker"
buttonText="Choose Attacker"
eventCode=flag22

[mainmodal_window_background]
type=Model
x=288
y=103
width=60
height=60
overLayerId=42
model1Id=20567
model2Id=20566
modelZoom=1074
modelXAn=585

[com_7]
type=Text
buttonType=Button
x=290
y=167
width=60
height=15
colour=0xFF981F
colourOver=0xC8C800
hAlign=Center
font=495
shadow=yes
text="Defender"
buttonText="Choose Defender"
eventCode=flag22

[hard_mode]
type=Text
buttonType=Button
x=351
y=154
width=60
height=15
colour=0xFF981F
colourOver=0xC8C800
hAlign=Center
font=495
shadow=yes
text="Collector"
buttonText="Choose Collector"
eventCode=flag22

[team_overview]
type=Model
x=351
y=92
width=60
height=60
overLayerId=44
model1Id=20564
model2Id=20563
modelZoom=1074
modelXAn=585

[role_select_layer]
type=Model
x=415
y=103
width=60
height=60
overLayerId=46
model1Id=20570
model2Id=20569
modelZoom=1074
modelXAn=585

[status_text]
type=Text
buttonType=Button
x=416
y=168
width=60
height=15
colour=0xFF981F
colourOver=0xC8C800
hAlign=Center
font=495
shadow=yes
text="Healer"
buttonText="Choose Healer"
eventCode=flag22

[com_12]
type=Model
x=324
y=191
width=32
height=32
overLayerId=48
model1Id=8685
modelZoom=1168
modelXAn=444
modelYAn=2020

[com_13]
type=Text
buttonType=Button
x=319
y=234
width=39
height=14
colour=0xFF981F
colourOver=0xC8C800
font=495
shadow=yes
text="Accept"
buttonText="Accept"
eventCode=flag22

[barbassault_scroll_pl2_rolename]
type=Model
x=404
y=193
width=32
height=32
overLayerId=50
model1Id=8684
modelZoom=1296
modelXAn=501
modelYAn=2014

[title_text]
type=Text
x=278
y=73
width=195
height=14
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="None"

[com_16]
type=Text
x=1
y=1
width=189
height=30
layerId=32309265
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Waiting for player 1 to accept..."

[com_17]
type=Layer
x=278
y=251
width=191
height=32
hide=yes

[leader_text]
type=Text
x=81
y=43
width=103
height=15
colour=0xFF981F
font=496
shadow=yes
text="The team:"

[com_19]
type=Text
x=44
y=75
width=50
height=15
colour=0xFF981F
font=495
shadow=yes
text="Name"

[com_20]
type=Text
x=44
y=93
width=44
height=15
colour=0xFF981F
font=495
shadow=yes
text="Role"

[follower_text]
type=Text
x=44
y=59
width=101
height=15
colour=0xFF981F
font=495
shadow=yes
text="--- Leader ---"

[com_22]
type=Text
x=45
y=117
width=101
height=15
colour=0xFF981F
font=495
shadow=yes
text="--- Followers ---"

[com_23]
type=Text
x=93
y=75
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[barbassault_scroll_pl2_tr1]
type=Text
x=94
y=133
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[barbassault_scroll_pl2_tr2]
type=Text
x=94
y=174
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[barbassault_scroll_pl2_tr3]
type=Text
x=94
y=214
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[barbassault_scroll_pl2_tr4]
type=Text
x=93
y=256
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[barbassault_scroll_pl2_tr5]
type=Text
x=93
y=93
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[preset_bg_1]
type=Text
x=94
y=151
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[preset_bg_2]
type=Text
x=94
y=192
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[preset_bg_3]
type=Text
x=94
y=232
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[preset_bg_4]
type=Text
x=93
y=274
width=108
height=15
colour=0xFF981F
font=495
shadow=yes
text="none set"

[preset_bg_5]
type=Text
x=201
y=58
width=30
height=15
colour=0xFF981F
font=495
shadow=yes
text="Wave"

[com_34]
type=Text
x=209
y=79
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_35]
type=Text
x=210
y=141
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_36]
type=Text
x=210
y=183
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_37]
type=Text
x=210
y=223
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_38]
type=Text
x=210
y=267
width=8
height=14
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_39]
type=Text
x=279
y=38
width=196
height=31
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Please select a role!<br>Current Role:"

[com_40]
type=Layer
x=225
y=92
width=60
height=60
hide=yes

[com_41]
type=Model
buttonType=Button
width=60
height=60
layerId=32309288
model1Id=20562
modelZoom=1074
modelXAn=585
buttonText="Choose Attacker"
eventCode=flag22

[com_42]
type=Layer
x=288
y=103
width=60
height=60
hide=yes

[barbassault_scroll_pl2_tn1]
type=Model
buttonType=Button
width=60
height=60
layerId=32309290
model1Id=20568
modelZoom=1074
modelXAn=585
buttonText="Choose Defender"
eventCode=flag22

[barbassault_scroll_pl2_tn2]
type=Layer
x=351
y=92
width=60
height=60
hide=yes

[barbassault_scroll_pl2_tn3]
type=Model
buttonType=Button
width=60
height=60
layerId=32309292
model1Id=20565
modelZoom=1074
modelXAn=585
buttonText="Choose Collector"
eventCode=flag22

[barbassault_scroll_pl2_tn4]
type=Layer
x=415
y=103
width=60
height=60
hide=yes

[barbassault_scroll_pl2_tn5]
type=Model
buttonType=Button
width=60
height=60
layerId=32309294
model1Id=20571
modelZoom=1074
modelXAn=585
buttonText="Choose Healer"
eventCode=flag22

[barbassault_leader_icon]
type=Layer
x=303
y=176
width=70
height=70
hide=yes

[barbassault_player1_icon]
type=Model
buttonType=Button
x=21
y=15
width=32
height=32
layerId=32309296
model1Id=20558
modelZoom=1168
modelXAn=444
modelYAn=2020
buttonText="Accept"
eventCode=flag22

[barbassault_player2_icon]
type=Layer
x=386
y=177
width=70
height=70
hide=yes

[barbassault_player3_icon]
type=Model
buttonType=Button
x=18
y=16
width=32
height=32
layerId=32309298
model1Id=20530
modelZoom=1296
modelXAn=501
modelYAn=2014
buttonText="Decline"
eventCode=flag22

[barbassault_player4_icon]
type=Text
x=45
y=133
width=50
height=15
colour=0xFF981F
font=495
shadow=yes
text="Name"

[barbassault_scroll_pl2_wave1]
type=Text
x=45
y=151
width=44
height=15
colour=0xFF981F
font=495
shadow=yes
text="Role"

[barbassault_scroll_pl2_wave2]
type=Text
x=45
y=174
width=50
height=15
colour=0xFF981F
font=495
shadow=yes
text="Name"

[barbassault_scroll_pl2_wave3]
type=Text
x=45
y=192
width=44
height=15
colour=0xFF981F
font=495
shadow=yes
text="Role"

[barbassault_scroll_pl2_wave4]
type=Text
x=45
y=214
width=50
height=15
colour=0xFF981F
font=495
shadow=yes
text="Name"

[barbassault_scroll_pl2_wave5]
type=Text
x=45
y=232
width=44
height=15
colour=0xFF981F
font=495
shadow=yes
text="Role"

[name_text]
type=Text
x=44
y=256
width=50
height=15
colour=0xFF981F
font=495
shadow=yes
text="Name"

[role_text]
type=Text
x=44
y=274
width=44
height=15
colour=0xFF981F
font=495
shadow=yes
text="Role"
