[bg3]
type=Model
x=30
y=68
width=32
height=32
model1Id=20551
modelZoom=1800

[com_1]
type=Model
x=-3
y=17
width=32
height=32
model1Id=20544
modelZoom=912

[bg2]
type=Model
x=-3
y=48
width=32
height=32
model1Id=20545
modelZoom=912

[com_3]
type=Model
x=-2
y=79
width=32
height=32
model1Id=20543
modelZoom=912

[com_4]
type=Text
buttonType=Button
x=32
y=6
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Poison"
buttonText="Poison egg -> Healer"
eventCode=flag22

[com_5]
type=Text
buttonType=Button
x=32
y=36
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Explosive"
buttonText="Explosive egg -> Healer"
eventCode=flag22

[com_6]
type=Text
buttonType=Button
x=32
y=67
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Stun"
buttonText="Stun egg -> Healer"
eventCode=flag22

[com_7]
type=Model
x=129
y=68
width=32
height=32
model1Id=20556
modelZoom=1800

[com_8]
type=Model
x=96
y=17
width=32
height=32
model1Id=20544
modelZoom=912

[com_9]
type=Model
x=96
y=48
width=32
height=32
model1Id=20545
modelZoom=912

[com_10]
type=Model
x=97
y=79
width=32
height=32
model1Id=20543
modelZoom=912

[com_11]
type=Text
buttonType=Button
x=130
y=6
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Poison"
buttonText="Poison egg -> Runner"
eventCode=flag22

[com_12]
type=Text
buttonType=Button
x=130
y=36
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Explosive"
buttonText="Explosive egg -> Runner"
eventCode=flag22

[bg1]
type=Text
buttonType=Button
x=130
y=67
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Stun"
buttonText="Stun egg -> Runner"
eventCode=flag22

[queen_icon]
type=Model
x=224
y=68
width=32
height=32
model1Id=20548
modelZoom=1800

[queen_icon_off]
type=Model
x=193
y=17
width=32
height=32
model1Id=20544
modelZoom=912

[queen_button]
type=Model
x=193
y=48
width=32
height=32
model1Id=20545
modelZoom=912

[fighter_red_button_fade]
type=Model
x=194
y=79
width=32
height=32
model1Id=20543
modelZoom=912

[barbassault_explosive_fighter]
type=Text
buttonType=Button
x=226
y=6
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Poison"
buttonText="Poison egg -> Fighter"
eventCode=flag22

[fighter_icon]
type=Text
buttonType=Button
x=226
y=36
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Explosive"
buttonText="Explosive egg -> Fighter"
eventCode=flag22

[fighter_icon_off]
type=Text
buttonType=Button
x=226
y=67
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Stun"
buttonText="Stun egg -> Fighter"
eventCode=flag22

[fighter_red_button]
type=Model
x=319
y=68
width=32
height=32
model1Id=20555
modelZoom=1800

[fighter_blue_button]
type=Model
x=289
y=17
width=32
height=32
model1Id=20544
modelZoom=912

[healer_icon]
type=Model
x=289
y=48
width=32
height=32
model1Id=20545
modelZoom=912

[healer_icon_off]
type=Model
x=290
y=79
width=32
height=32
model1Id=20543
modelZoom=912

[healer_red_button]
type=Text
buttonType=Button
x=322
y=6
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Poison"
buttonText="Poison egg -> Ranger"
eventCode=flag22

[healer_blue_button]
type=Text
buttonType=Button
x=322
y=36
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Explosive"
buttonText="Explosive egg -> Ranger"
eventCode=flag22

[runner_icon]
type=Text
buttonType=Button
x=322
y=67
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Stun"
buttonText="Stun egg -> Ranger"
eventCode=flag22

[runner_icon_off]
type=Model
x=418
y=68
width=32
height=32
model1Id=20553
modelZoom=1800

[runner_red_button]
type=Model
x=384
y=79
width=32
height=32
model1Id=20572
modelZoom=912

[runner_blue_button]
type=Text
buttonType=Button
x=418
y=68
width=78
height=28
colour=0xB9B900
colourOver=0xFEFE00
vAlign=Center
font=496
shadow=yes
text="Omega"
buttonText="Omega egg -> Queen"
eventCode=flag22

[ranger_icon]
type=Text
y=12
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[ranger_icon_off]
type=Text
y=41
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[ranger_red_button]
type=Text
y=72
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[ranger_blue_button]
type=Text
x=96
y=12
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[div_3]
type=Text
x=96
y=41
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[div_2]
type=Text
x=96
y=72
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[mainmodal_window]
type=Text
x=194
y=12
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[mainmodal_window_background]
type=Text
x=194
y=41
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[mainmodal_window_content]
type=Text
x=194
y=72
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[egg_counter]
type=Text
x=290
y=12
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[com_41]
type=Text
x=290
y=41
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[egg_count_4]
type=Text
x=290
y=72
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"

[egg_count_3]
type=Text
x=384
y=72
width=30
height=16
colour=0xB9B900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="##"
