[barbassault_tut_01]
type=Rectangle
x=1
width=512
height=400
trans=120
fill=yes

[barbassault_text1]
type=Model
x=247
y=165
width=32
height=32
model1Id=19339
modelZoom=730
modelXAn=524

[barbassault_tutorial_1_button]
type=Text
x=49
y=44
width=428
height=13
colour=0xFF981F
hAlign=Center
vAlign=Center
font=764
shadow=yes
text="Tutorial Progress"

[barbassault_tutorial_1_button_on_layer]
type=Text
buttonType=Button
x=178
y=77
width=165
height=16
colour=0xFF0033
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="Introduction to the Arena"
eventCode=flag22

[barbassault_tutorial_2_button]
type=Text
buttonType=Button
x=178
y=95
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="Getting Started"
eventCode=flag22

[barbassault_tutorial_2_button_on_layer]
type=Text
buttonType=Button
x=178
y=114
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="Playing the Game"
eventCode=flag22

[barbassault_tutorial_3_button]
type=Text
buttonType=Button
x=178
y=133
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="The Attacker Role"
eventCode=flag22

[barbassault_tutorial_3_button_on_layer]
type=Text
buttonType=Button
x=178
y=152
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="The Defender Role"
eventCode=flag22

[barbassault_tutorial_4_button]
type=Text
buttonType=Button
x=178
y=171
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="The Collector Role"
eventCode=flag22

[barbassault_tutorial_4_button_on_layer]
type=Text
buttonType=Button
x=178
y=190
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="The Healer Role"
eventCode=flag22

[barbassault_tutorial_5_button]
type=Text
buttonType=Button
x=178
y=209
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="Extra Information"
eventCode=flag22

[barbassault_tutorial_5_button_on_layer]
type=Text
buttonType=Button
x=178
y=228
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="The Final Battle"
eventCode=flag22

[barbassault_tutorial_6_button]
type=Text
buttonType=Button
x=178
y=248
width=165
height=16
colour=0xFF0000
colourOver=0xFFFF99
hAlign=Center
font=495
shadow=yes
text="Rewards"
eventCode=flag22

[barbassault_tutorial_6_button_on_layer]
type=Sprite
x=445
y=33
width=26
height=23
overLayerId=15
graphic=537

[barbassault_tutorial_7_button]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=32505871
graphic=538
buttonText="Ok"

[barbassault_tutorial_7_button_on_layer]
type=Layer
x=442
y=28
width=32
height=32
hide=yes

[barbassault_tutorial_8_button]
type=Model
x=112
y=182
width=32
height=32
model1Id=20620
modelZoom=528

[barbassault_tutorial_8_button_on_layer]
type=Model
x=380
y=182
width=32
height=32
model1Id=20620
modelZoom=528
