[backing]
type=Rectangle
width=520
height=335
trans=150
fill=yes

[contents]
type=Text
x=10
y=140
width=60
height=16
colour=0xFF981F
font=496
shadow=yes
text="Attacker :"

[com_2]
type=Text
x=10
y=163
width=60
height=16
colour=0xFF981F
font=496
shadow=yes
text="Defender :"

[com_3]
type=Text
x=10
y=187
width=60
height=16
colour=0xFF981F
font=496
shadow=yes
text="Collector :"

[com_4]
type=Text
x=10
y=210
width=60
height=16
colour=0xFF981F
font=496
shadow=yes
text="Healer :"

[com_5]
type=Text
x=88
y=141
width=140
height=16
colour=0xFF981F
font=495
shadow=yes
text="----------------------"

[com_6]
type=Text
x=88
y=164
width=140
height=16
colour=0xFF981F
font=495
shadow=yes
text="----------------------"

[com_7]
type=Text
x=88
y=188
width=140
height=16
colour=0xFF981F
font=495
shadow=yes
text="----------------------"

[barbassault_horn_att]
type=Text
x=88
y=211
width=140
height=16
colour=0xFF981F
font=495
shadow=yes
text="----------------------"

[barbassualt_horn_def]
type=Model
x=267
y=37
width=32
height=32
model1Id=20561
modelZoom=1084
modelXAn=483

[barbassault_horn_col]
type=Model
x=266
y=117
width=32
height=32
model1Id=20566
modelZoom=1084
modelXAn=512

[barbassault_horn_heal]
type=Model
x=265
y=190
width=32
height=32
model1Id=20563
modelZoom=956
modelXAn=392
modelYAn=2038

[com_12]
type=Model
x=265
y=269
width=32
height=32
model1Id=20569
modelZoom=1084
modelXAn=450
modelYAn=2044

[com_13]
type=Text
buttonType=Button
x=313
y=178
width=32
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Red"
buttonText="Call"
eventCode=flag22

[com_14]
type=Text
buttonType=Button
x=313
y=198
width=32
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Green"
buttonText="Call"
eventCode=flag22

[com_15]
type=Text
buttonType=Button
x=313
y=218
width=32
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Blue"
buttonText="Call"
eventCode=flag22

[barbassault_horn_col_r]
type=Text
buttonType=Button
x=313
y=19
width=150
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Controlled/Bronze/Wind"
buttonText="Call"
eventCode=flag22

[barbassault_horn_col_g]
type=Text
buttonType=Button
x=313
y=36
width=150
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Accurate/Iron/Water"
buttonText="Call"
eventCode=flag22

[barbassault_horn_col_b]
type=Text
buttonType=Button
x=313
y=54
width=150
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Aggressive/Steel/Earth"
buttonText="Call"
eventCode=flag22

[barbassault_horn_att_2]
type=Text
buttonType=Button
x=313
y=72
width=150
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Defensive/Mithril/Fire"
buttonText="Call"
eventCode=flag22

[barbassault_horn_att_3]
type=Text
buttonType=Button
x=313
y=105
width=60
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Tofu"
buttonText="Call"
eventCode=flag22

[barbassault_horn_att_4]
type=Text
buttonType=Button
x=313
y=141
width=60
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Worms"
buttonText="Call"
eventCode=flag22

[barbassault_horn_def_tofu]
type=Text
buttonType=Button
x=313
y=123
width=60
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Crackers"
buttonText="Call"
eventCode=flag22

[barbassault_horn_def_worm]
type=Text
buttonType=Button
x=313
y=262
width=90
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Poison tofu"
buttonText="Call"
eventCode=flag22

[barbassault_horn_def_crack]
type=Text
buttonType=Button
x=313
y=280
width=90
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Poison worms"
buttonText="Call"
eventCode=flag22

[barbassault_horn_heal_tofu]
type=Text
buttonType=Button
x=313
y=298
width=90
height=16
colour=0xFF981F
colourOver=0xCCCCCC
font=495
shadow=yes
text="Poison meat"
buttonText="Call"
eventCode=flag22

[barbassault_horn_heal_worm]
type=Text
x=37
y=37
width=135
height=32
colour=0xFF981F
hAlign=Center
font=764
shadow=yes
text="Horn of Glory"

[barbassault_horn_heal_meat]
type=Sprite
x=478
y=9
width=26
height=23
overLayerId=29
graphic=539

[com_28]
type=Sprite
buttonType=Button
x=3
y=2
width=26
height=23
layerId=31719453
graphic=540
eventCode=flag22

[barbassault_horn_close]
type=Layer
x=475
y=7
width=32
height=32
hide=yes

[barbassault_horn_att_5]
type=Text
x=71
y=117
width=52
height=16
colour=0xFF981F
font=495
shadow=yes
text="Call out :"
