[layer_1]
type=Rectangle
x=311
y=6
width=196
height=18

[hard_mode_text]
type=Rectangle
x=311
y=23
width=196
height=82

[top_outline]
type=Rectangle
x=311
y=6
width=196
height=18
trans=128
fill=yes

[bottom_outline]
type=Rectangle
x=311
y=23
width=196
height=82
trans=196
fill=yes

[top_bg]
type=Text
x=334
y=8
width=165
height=16
colour=0xFFA81F
font=496
shadow=yes
text="Current team"

[bottom_bg]
type=Text
x=388
y=27
width=111
height=16
colour=0xFFA81F
font=495
shadow=yes
text="-----"

[barbassault_current_team]
type=Text
x=388
y=42
width=111
height=16
colour=0xFFA81F
font=495
shadow=yes
text="-----"

[barbassault_leader_name]
type=Text
x=388
y=57
width=111
height=16
colour=0xFFA81F
font=495
shadow=yes
text="-----"

[barbassault_player_1_name]
type=Text
x=388
y=72
width=111
height=16
colour=0xFFA81F
font=495
shadow=yes
text="-----"

[barbassault_player_2_name]
type=Text
x=388
y=87
width=111
height=16
colour=0xFFA81F
font=495
shadow=yes
text="-----"

[barbassault_player_3_name]
type=Text
x=334
y=27
width=46
height=16
colour=0xFFA800
font=495
shadow=yes
text="Leader:"

[barbassault_player_4_name]
type=Text
x=334
y=42
width=46
height=16
colour=0xFFA800
font=495
shadow=yes
text="Player 1:"

[leader_label]
type=Text
x=334
y=57
width=46
height=16
colour=0xFFA800
font=495
shadow=yes
text="Player 2:"

[p1_label]
type=Text
x=334
y=72
width=46
height=16
colour=0xFFA800
font=495
shadow=yes
text="Player 3:"

[p2_label]
type=Text
x=334
y=87
width=46
height=16
colour=0xFFA800
font=495
shadow=yes
text="Player 4:"

[p3_label]
type=Model
x=317
y=27
width=16
height=16
modelZoom=4112
modelXAn=510
modelYAn=2014

[p4_label]
type=Model
x=317
y=42
width=16
height=16
modelZoom=4112
modelXAn=510
modelYAn=2014

[barbassault_leader_icon]
type=Model
x=317
y=57
width=16
height=16
modelZoom=4112
modelXAn=510
modelYAn=2014

[barbassault_player1_icon]
type=Model
x=317
y=72
width=16
height=16
modelZoom=4112
modelXAn=510
modelYAn=2014

[barbassault_player2_icon]
type=Model
x=317
y=87
width=16
height=16
modelZoom=4112
modelXAn=510
modelYAn=2014
