[ba_wave_breakdown_normal]
type=Rectangle
x=1
width=512
height=400
trans=120
fill=yes

[wave_complete_normal_layer]
type=Model
x=247
y=165
width=32
height=32
model1Id=19339
modelZoom=730
modelXAn=524

[com_2]
type=Model
x=232
y=101
width=32
height=32
model1Id=20733
modelZoom=475
modelXAn=429
modelYAn=2035

[com_3]
type=Model
x=400
y=253
width=32
height=32
model1Id=20620
modelZoom=713

[com_4]
type=Text
x=210
y=32
width=111
height=13
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Wave Complete!"

[com_5]
type=Text
x=240
y=47
width=56
height=14
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Reward: "

[com_6]
type=Text
x=2
y=51
width=128
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Runners that got past"

[com_7]
type=Text
x=3
y=67
width=82
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Rangers killed"

[com_8]
type=Text
x=3
y=83
width=82
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Fighters killed"

[com_9]
type=Text
x=3
y=99
width=82
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Healers killed"

[com_10]
type=Text
x=3
y=115
width=82
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Runners killed"

[com_11]
type=Text
x=3
y=131
width=168
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Player hitpoints replenished"

[com_12]
type=Text
x=3
y=147
width=146
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Wrong poison packs used"

[com_13]
type=Text
x=3
y=164
width=168
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Eggs collected (min. exploded)"

[com_14]
type=Text
x=3
y=180
width=132
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Failed Attacker attacks"

[com_15]
type=Text
x=175
y=51
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_role]
type=Text
x=175
y=67
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[ba_wave_breakdown_queen]
type=Text
x=175
y=83
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[ba_wave_breakdown_king]
type=Text
x=175
y=99
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[ba_wave_breakdown_xp]
type=Text
x=175
y=115
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_20]
type=Text
x=175
y=131
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_21]
type=Text
x=175
y=147
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_22]
type=Text
x=175
y=164
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_23]
type=Text
x=175
y=180
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_24]
type=Text
x=4
y=210
width=27
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Total"

[com_25]
type=Text
x=217
y=51
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_26]
type=Text
x=217
y=67
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_27]
type=Text
x=217
y=83
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_28]
type=Text
x=217
y=98
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n1]
type=Text
x=217
y=115
width=8
height=14
layerId=32571452
colour=0xFF991F
font=495
shadow=yes
text="0"

[barbassault_compl_n2]
type=Text
x=217
y=131
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n3]
type=Text
x=217
y=147
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n4]
type=Text
x=217
y=164
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n5]
type=Text
x=217
y=180
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n6]
type=Text
x=217
y=212
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_n7]
type=Text
x=172
y=28
width=13
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="#"

[barbassault_compl_n9]
type=Text
x=186
y=17
width=75
height=26
layerId=32571452
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Team Honour Points"

[barbassault_compl_n10]
type=Text
x=347
y=55
width=34
height=15
layerId=32571452
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Role:"

[com_38]
type=Text
x=347
y=72
width=34
height=14
layerId=32571452
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="None"

[barbassault_compl_p1]
type=Text
x=282
y=51
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p2]
type=Text
x=282
y=99
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p3]
type=Text
x=282
y=115
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p4]
type=Text
x=282
y=83
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p5]
type=Text
x=282
y=67
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p6]
type=Text
x=282
y=131
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p7]
type=Text
x=282
y=164
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p9]
type=Text
x=282
y=147
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_p10]
type=Text
x=282
y=180
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[barbassault_compl_ptot]
type=Text
x=283
y=212
width=8
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="0"

[com_49]
type=Text
x=4
y=227
width=156
height=18
layerId=32571452
colour=0xFF981F
font=496
shadow=yes
text="Honour Points reward :"

[com_50]
type=Text
x=165
y=227
width=8
height=18
layerId=32571452
colour=0xFF981F
font=496
shadow=yes
text="0"

[barbassault_compl_indp1]
type=Text
x=208
y=50
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp4]
type=Text
x=209
y=147
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp5]
type=Text
x=208
y=179
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp3]
type=Text
x=273
y=180
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp2]
type=Text
x=273
y=149
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp6]
type=Text
x=272
y=51
width=6
height=14
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="-"

[barbassault_compl_indp9]
type=Text
x=324
y=99
width=80
height=25
layerId=32571452
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Total Honour Points in role:"

[barbassault_compl_indp7]
type=Text
x=350
y=132
width=26
height=14
layerId=32571452
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="0"

[barbassault_compl_indp10]
type=Text
x=265
y=17
width=82
height=25
layerId=32571452
colour=0xFF981F
font=495
shadow=yes
text="Individual Honour Points"

[barbassault_compl_indptot]
type=Layer
x=51
y=44
width=428
height=250
hide=yes

[com_61]
type=Layer
x=60
y=55
width=420
height=230
hide=yes

[barbassault_compl_gtot]
type=Text
x=104
y=8
width=200
height=28
layerId=32571453
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="The Queen is dead!"

[com_63]
type=Text
x=104
y=44
width=201
height=19
layerId=32571453
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Reward:"

[com_64]
type=Text
x=104
y=71
width=202
height=145
layerId=32571453
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="--Points output--"

[com_65]
type=Text
x=180
y=28
width=38
height=16
layerId=32571462
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="-Role-"

[barbassault_compl_min_10]
type=Text
buttonType=Button
x=336
y=182
width=62
height=32
layerId=32571452
colour=0xFF981F
colourOver=0xFFFF66
hAlign=Center
font=496
shadow=yes
text="Simple breakdown"
eventCode=flag22

[barbassault_compl_min_7]
type=Text
x=129
y=47
width=142
height=16
layerId=32571462
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Honour Points Reward:"

[barbassault_compl_min_1]
type=Text
x=182
y=72
width=32
height=16
layerId=32571462
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="0"

[com_69]
type=Text
x=182
y=136
width=32
height=16
layerId=32571462
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="0"

[barbassault_compl_gtotrole]
type=Layer
x=60
y=56
width=419
height=230

[com_71]
type=Text
buttonType=Button
x=320
y=171
width=70
height=32
layerId=32571462
colour=0xFF981F
colourOver=0xFFFF66
hAlign=Center
font=496
shadow=yes
text="Advanced Breakdown"
eventCode=flag22

[barbassault_level_up_layer_dull]
type=Text
x=118
y=114
width=166
height=16
layerId=32571462
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Total Honour Points in role:"

[com_73]
type=Sprite
x=445
y=35
width=26
height=23
overLayerId=75
graphic=537

[com_74]
type=Sprite
buttonType=Button
x=4
y=5
width=26
height=23
layerId=32571467
graphic=538
eventCode=flag22

[com_75]
type=Layer
x=441
y=30
width=32
height=32
hide=yes

[com_76]
type=Model
buttonType=Button
x=4
y=10
width=63
height=57
layerId=32571470
model1Id=21854
modelZoom=1680
buttonText="Level up"
eventCode=flag22

[com_77]
type=Text
x=6
y=11
width=58
height=54
layerId=32571470
colour=0x83551B
colourOver=0xFFFF66
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Level<br>up"

[com_78]
type=Layer
x=162
y=158
width=72
height=65
layerId=32571462

[com_79]
type=Model
buttonType=Button
x=4
y=10
width=63
height=57
layerId=32571473
model1Id=21855
modelZoom=1680
buttonText="Level up"
eventCode=flag22

[com_80]
type=Text
x=6
y=11
width=58
height=54
layerId=32571473
colour=0xFF981F
colourOver=0xFFFF66
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Level<br>up"

[com_81]
type=Layer
x=162
y=158
width=72
height=65
layerId=32571462
hide=yes
