[barrows_control_layer]
type=Text
x=378
y=310
width=124
height=16
colour=0x7D7D4B
colour2=0x4D4D2F
hAlign=Right
font=495
shadow=yes
text="Kill Count: %1"
text2="Kill Count: Too Many!"
script1=gt,9999
script1op1=varbit,barrows_killed_count

[kills_layer]
type=Model
x=86
y=109
width=32
height=32
modelZoom=400

[info_holder_active]
type=Model
x=166
y=189
width=32
height=32
modelZoom=400

[main_content]
type=Model
x=440
y=138
width=32
height=32
modelZoom=400

[grid_builder]
type=Model
x=365
y=201
width=32
height=32
modelZoom=400

[creatures_slain]
type=Model
x=403
y=141
width=32
height=32
modelZoom=400

[brothers_slain_panel]
type=Model
x=125
y=165
width=32
height=32
modelZoom=400
