[layer_1]
type=Rectangle
width=512
height=334
trans=125
colour=0x4D4D2F
fill=yes

[mainmodal_window]
type=Model
width=93
height=93
layerId=1638413
modelZoom=500
modelXAn=512

[com_2]
type=Model
x=93
width=93
height=93
layerId=1638413
modelZoom=500
modelXAn=512

[barrows_ansa]
type=Model
x=186
width=93
height=93
layerId=1638413
modelZoom=500
modelXAn=512

[barrows_ansb]
type=Model
x=292
y=18
width=48
height=39
layerId=1638413
model1Id=4623
modelZoom=1299
modelXAn=524
modelYAn=19

[barrows_puzzle_layer]
type=Text
x=65
y=179
width=376
height=31
colour=0x7D7D4B
hAlign=Center
font=496
shadow=yes
text="Which is the next shape in the above sequence?"

[barrows_ansc]
type=Model
buttonType=Button
x=61
y=222
width=93
height=93
modelZoom=500
modelXAn=512
eventCode=flag22

[barrows_seq1]
type=Model
buttonType=Button
x=204
y=222
width=93
height=93
modelZoom=500
modelXAn=512
eventCode=flag22

[barrows_seq2]
type=Model
buttonType=Button
x=347
y=222
width=93
height=93
modelZoom=500
modelXAn=512
eventCode=flag22

[barrows_seq3]
type=Text
width=9
height=14
layerId=1638413
colour=0x7D7D4B
font=495
shadow=yes
text="1."

[com_10]
type=Text
x=93
width=11
height=14
layerId=1638413
colour=0x7D7D4B
font=495
shadow=yes
text="2."

[com_11]
type=Text
x=186
width=10
height=14
layerId=1638413
colour=0x7D7D4B
font=495
shadow=yes
text="3."

[com_12]
type=Text
x=279
width=10
height=14
layerId=1638413
colour=0x7D7D4B
font=495
shadow=yes
text="4."

[com_13]
type=Layer
x=72
y=66
width=355
height=93
