[modal_dialog_window]
type=Rectangle
x=-1
width=512
height=334
trans=120
colour=0x202020
fill=yes

[static_dropdown]
type=Sprite
x=440
y=26
width=23
height=23
overLayerId=27
graphic=539

[dropdown_build]
type=Model
x=39
y=162
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=238
modelXAn=328
modelYAn=20

[dropdown_click]
type=Model
x=191
y=37
width=32
height=32
layerId=8323091
model1Id=5624
modelZoom=234
modelXAn=207
modelYAn=309

[modal_dialog_window_background]
type=Model
x=39
y=162
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=238
modelXAn=328
modelYAn=20

[modal_dialog_window_content]
type=Model
x=95
y=185
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=308
modelXAn=328
modelYAn=20

[com_6]
type=Model
x=152
y=187
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=441
modelXAn=328
modelYAn=20

[dropdown_holder]
type=Model
x=205
y=181
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=616
modelXAn=328
modelYAn=20

[modal_dialog_window_border]
type=Model
x=253
y=171
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=700
modelXAn=328
modelYAn=20

[modal_dialog_window_close_button]
type=Model
x=295
y=149
width=32
height=32
layerId=8323091
model1Id=5622
modelZoom=700
modelXAn=328
modelYAn=20

[com_10]
type=Model
buttonType=Button
x=343
y=82
width=43
height=47
layerId=8323091
overLayerId=25
model1Id=5626
modelZoom=1451
modelXAn=513
modelYAn=1887
eventCode=flag22

[com_11]
type=Text
x=157
y=11
width=100
height=14
layerId=8323091
colour=0xA6A692
hAlign=Center
font=496
shadow=yes
text="**********"

[com_12]
type=Text
x=119
y=30
width=168
height=12
layerId=8323091
colour=0xA6A692
hAlign=Center
font=494
shadow=yes
text="************************"

[com_13]
type=Sprite
x=250
y=122
width=36
height=36
overLayerId=23
graphic=174

[com_14]
type=Sprite
x=227
y=122
width=36
height=36
overLayerId=23
graphic=174

[com_15]
type=Sprite
x=205
y=122
width=36
height=36
overLayerId=23
graphic=174

[com_16]
type=Sprite
x=271
y=122
width=36
height=36
overLayerId=23
graphic=176

[com_17]
type=Text
buttonType=Button
x=159
y=55
width=98
height=31
layerId=8323091
colour=0xA6A692
colourOver=0xF8BF888
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Remove this key"
eventCode=flag22

[com_18]
type=Text
x=156
y=94
width=105
height=12
layerId=8323091
colour=0xA6A692
hAlign=Center
font=494
shadow=yes
text="***************"

[com_19]
type=Layer
x=48
y=69
width=395
height=235

[com_20]
type=Text
buttonType=Button
x=2
y=1
width=91
height=24
layerId=8323095
colour=0xF8BF888
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Remove this key"
eventCode=flag22

[com_21]
type=Layer
x=36
y=136
width=54
height=71
hide=yes

[com_22]
type=Model
x=12
y=20
width=32
height=32
layerId=8323093
model1Id=5630
modelZoom=1035
modelXAn=593
modelYAn=153

[com_23]
type=Layer
x=209
y=126
width=94
height=27
hide=yes

[com_24]
type=Model
buttonType=Button
x=-11
y=68
width=54
height=71
layerId=8323091
overLayerId=21
model1Id=5625
modelZoom=1035
modelXAn=593
modelYAn=153
eventCode=flag22

[com_25]
type=Layer
x=382
y=135
width=54
height=71
hide=yes

[com_26]
type=Model
x=14
y=23
width=32
height=32
layerId=8323097
model1Id=5628
modelZoom=1451
modelXAn=513
modelYAn=1887

[com_27]
type=Layer
x=435
y=23
width=32
height=32
hide=yes

[com_28]
type=Sprite
buttonType=Close
x=5
y=3
width=23
height=23
layerId=8323099
graphic=540
buttonText="Ok"
