[bf_runite]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[bf_adamantite]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[bf_mithril]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[bf_steel]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[content_layer]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[bf_runitemodel]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[bf_runiteall]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[bf_adamantitemodel]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[bf_adamantiteall]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[bf_mithrilmodel]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[bf_mithrilall]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[bf_steelmodel]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[bf_steelall]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[steel]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[mithril]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[adamantite]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[runite]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Text
buttonType=Button
x=109
y=60
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Iron: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_iron_bars

[com_76]
type=Text
x=21
y=29
width=470
height=20
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Blast Furnace Bar Stock"

[com_77]
type=Text
buttonType=Button
x=23
y=60
width=71
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Bronze: %1"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_bronze_bars

[com_78]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_90]
type=Model
buttonType=Button
x=44
y=92
width=32
height=32
model1Id=9087
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_91]
type=Model
buttonType=Button
x=404
y=92
width=32
height=32
model1Id=9086
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_92]
type=Model
buttonType=Button
x=216
y=92
width=32
height=32
model1Id=9094
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_93]
type=Model
buttonType=Button
x=304
y=92
width=32
height=32
model1Id=9090
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_94]
type=Model
buttonType=Button
x=44
y=212
width=32
height=32
model1Id=9092
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_95]
type=Model
buttonType=Button
x=128
y=212
width=32
height=32
model1Id=9093
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_96]
type=Model
buttonType=Button
x=216
y=212
width=32
height=32
model1Id=9088
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_97]
type=Model
buttonType=Button
x=32
y=37
width=32
height=32
layerId=1835125
model1Id=9091
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_98]
type=Model
buttonType=Button
x=128
y=92
width=32
height=32
model1Id=9089
modelZoom=400
modelXAn=219
modelYAn=1341
eventCode=flag22

[com_99]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_100]
type=Text
buttonType=Button
x=197
y=60
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Steel: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_steel_bars

[com_101]
type=Text
buttonType=Button
x=287
y=60
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Mithril: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_mithril_bars

[com_102]
type=Text
buttonType=Button
x=385
y=60
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Adamantite: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_adamantite_bars

[com_103]
type=Text
buttonType=Button
x=25
y=180
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Runite: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_runite_bars

[com_104]
type=Text
buttonType=Button
x=111
y=180
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Silver: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_silver_bars

[com_105]
type=Text
buttonType=Button
x=199
y=180
width=70
height=25
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Gold: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_gold_bars

[com_106]
type=Text
buttonType=Button
x=4
y=5
width=93
height=14
layerId=1835125
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Perfect gold: %1"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_perfect_gold_bars

[com_107]
type=Text
x=368
y=297
width=123
height=17
colour=0xFF981F
colour2=0xFF981F
hAlign=Right
font=495
shadow=yes
text="Coal to add: %2"
text2="Coal in furnace: %1"
script1=gt,0
script1op1=varbit,blast_furnace_coal
script2op1=varbit,blast_furnace_coal_required

[com_108]
type=Text
buttonType=Button
x=48
y=132
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_bronze_bars

[com_109]
type=Text
buttonType=Button
x=132
y=132
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_iron_bars

[com_110]
type=Text
buttonType=Button
x=220
y=132
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_steel_bars

[com_111]
type=Text
buttonType=Button
x=308
y=132
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_mithril_bars

[com_112]
type=Text
buttonType=Button
x=408
y=132
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_adamantite_bars

[com_113]
type=Text
buttonType=Button
x=52
y=252
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_runite_bars

[com_114]
type=Text
buttonType=Button
x=132
y=252
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_silver_bars

[com_115]
type=Text
buttonType=Button
x=220
y=252
width=22
height=14
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_gold_bars

[com_116]
type=Text
buttonType=Button
x=36
y=77
width=22
height=14
layerId=1835125
colour=0x999999
colour2=0xFF981F
hAlign=Center
font=495
shadow=yes
text="(All)"
buttonText="Take"
eventCode=flag22
script1=gt,0
script1op1=varbit,blast_furnace_perfect_gold_bars

[com_117]
type=Layer
x=272
y=175
width=105
height=101
hide=yes

[com_118]
type=Sprite
x=472
y=26
width=26
height=23
overLayerId=120
graphic=535

[com_119]
type=Sprite
buttonType=Close
x=5
y=4
width=26
height=23
layerId=1835128
graphic=536
buttonText="Ok"

[com_120]
type=Layer
x=467
y=22
width=32
height=32
hide=yes
