[content_layer]
type=Text
x=7
y=7
width=500
height=16
colour=0xFFAA44
hAlign=Center
font=496
shadow=yes
text="Blast Furnace Temp Gauge"

[mainmodal_window]
type=Model
x=303
y=174
width=32
height=32
model1Id=9096
modelZoom=908

[temp_gauge_fuelflag]
type=Model
x=172
y=181
width=32
height=32
model1Id=9097
modelZoom=960

[temp_gauge_brokenflag]
type=Model
x=235
y=150
width=32
height=32
model1Id=9083
modelZoom=172

[temp_gauge_needle]
type=Sprite
x=482
y=5
width=26
height=23
overLayerId=6
graphic=539

[mainmodal_window_background]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=1966086
graphic=540
buttonText="Ok"

[mainmodal_window_content]
type=Layer
x=479
y=1
width=32
height=32
hide=yes
