[layer_1]
type=Model
x=219
y=136
width=32
height=32
model1Id=9082
modelZoom=886
modelXAn=420
modelYAn=1

[com_1]
type=Model
x=360
y=170
width=32
height=32
model1Id=9095
modelAnim=flashing_x_off
modelZoom=1808
modelXAn=420
modelYAn=1

[x_2]
type=Text
x=85
y=57
width=342
height=21
colour=0x2B210F
hAlign=Center
font=497
text="Blast Furnace Plan"

[com_3]
type=Text
x=306
y=168
width=49
height=32
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Stove"

[com_4]
type=Text
x=315
y=225
width=37
height=32
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Air Pump"

[com_5]
type=Text
x=244
y=228
width=61
height=33
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Temp Gauge"

[com_6]
type=Text
x=188
y=170
width=55
height=28
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Furnace"

[com_7]
type=Text
x=124
y=167
width=62
height=35
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Dispenser"

[com_8]
type=Text
x=181
y=108
width=65
height=38
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Conveyor<br>Belt"

[com_9]
type=Text
x=245
y=114
width=37
height=29
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cogs"

[com_10]
type=Text
x=194
y=208
width=44
height=27
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Pipes"

[com_11]
type=Text
x=350
y=142
width=41
height=24
colour=0xFAC864
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Coke"

[com_12]
type=Model
x=301
y=114
width=32
height=32
model1Id=9095
modelAnim=flashing_x_off
modelZoom=1808
modelXAn=420
modelYAn=1

[x_1]
type=Model
x=362
y=226
width=32
height=32
model1Id=9095
modelAnim=flashing_x_off
modelZoom=1808
modelXAn=420
modelYAn=1

[x_3]
type=Model
x=258
y=263
width=32
height=32
model1Id=9095
modelAnim=flashing_x_off
modelZoom=1808
modelXAn=420
modelYAn=1
