[mainmodal_window]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[game_board]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[boardgames_runelink_column0]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[boardgames_runelink_column3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[boardgames_runelink_column4]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[boardgames_runelink_column5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[boardgames_runelink_column2]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[boardgames_runelink_column1]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[boardgames_runelink_column6]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[boardgames_runelink_runeflash]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[game_data]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[game_board_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[runelink_inv]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[events]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[game_piece_player1]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[name_player1]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[game_piece_player2]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[name_player2]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[turn]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[name_turn]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[status3]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[status1]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[status2]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[sandtimer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[draw_button]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[draw_build]
type=Sprite
x=409
y=258
width=88
height=60
graphic=297

[draw_click]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[resign_button]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[resign_build]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[resign_click]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_38]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_44]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_45]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_66]
type=Text
x=43
y=58
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes
text="Insert a very long name here!"

[com_67]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_69]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_70]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_71]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_72]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_73]
type=Text
x=100
y=75
width=14
height=14
colour=0xAAAAAA
font=495
shadow=yes
text="vs"

[com_74]
type=Text
x=43
y=89
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes
text="Insert a very long name here!"

[com_75]
type=Sprite
x=183
y=26
width=36
height=36
graphic=172

[com_76]
type=Sprite
x=183
y=62
width=36
height=36
graphic=172

[com_77]
type=Sprite
x=183
y=98
width=36
height=36
graphic=172

[com_78]
type=Sprite
x=183
y=134
width=36
height=36
graphic=172

[com_79]
type=Sprite
x=183
y=170
width=36
height=36
graphic=172

[com_80]
type=Sprite
x=162
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_86]
type=Text
x=38
y=127
width=44
height=31
colour=0xFFAA44
hAlign=Right
font=495
shadow=yes
text="Turn:"

[com_87]
type=Model
x=158
y=289
width=32
height=32
model1Id=4612
modelZoom=2048

[com_88]
type=Layer
x=26
y=265
width=122
height=42

[com_89]
type=Layer
x=26
y=215
width=122
height=43

[com_90]
type=Text
x=21
y=29
width=176
height=17
colour=0xFFAA44
font=496
shadow=yes
text="Runelink"

[com_91]
type=Rectangle
buttonType=Close
x=6
y=6
width=110
height=31
layerId=2359384
fill=yes
buttonText="Ok"

[com_92]
type=Text
x=6
y=6
width=110
height=31
layerId=2359384
colour=0x800000
colourOver=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Resign"

[com_93]
type=Rectangle
buttonType=Button
x=6
y=6
width=110
height=31
layerId=2359385
fill=yes
buttonText="Offer your opponent a draw"
eventCode=flag22

[com_94]
type=Text
x=5
y=6
width=111
height=31
layerId=2359385
colour=0x888800
colourOver=0xFFFF00
hAlign=Center
vAlign=Center
lineHeight=11
font=495
shadow=yes
text="Offer draw"

[com_95]
type=Sprite
x=21
y=-15
width=36
height=36
layerId=2359384
graphic=314

[com_96]
type=Sprite
x=21
y=-15
width=36
height=36
layerId=2359385
graphic=314

[com_97]
type=Text
x=85
y=127
width=111
height=31
colour=0xAAAAAA
font=495
shadow=yes
text="A very long name"

[com_98]
type=Sprite
x=22
y=21
width=36
height=36
layerId=2359385
graphic=173

[com_99]
type=Sprite
width=25
height=30
layerId=2359384
graphic=310

[com_100]
type=Sprite
width=25
height=30
layerId=2359385
graphic=310

[com_101]
type=Sprite
x=97
width=25
height=30
layerId=2359384
graphic=311

[com_102]
type=Sprite
x=97
width=25
height=30
layerId=2359385
graphic=311

[com_103]
type=Sprite
y=12
width=25
height=30
layerId=2359384
graphic=312

[com_104]
type=Sprite
y=12
width=25
height=30
layerId=2359385
graphic=312

[com_105]
type=Sprite
x=97
y=12
width=25
height=30
layerId=2359384
graphic=313

[com_106]
type=Sprite
x=21
y=21
width=36
height=36
layerId=2359384
graphic=173

[com_107]
type=Sprite
x=97
y=12
width=25
height=30
layerId=2359385
graphic=313

[com_108]
type=Model
x=336
y=253
width=32
height=32
model1Id=4608
modelZoom=134

[com_109]
type=Model
x=229
y=57
width=32
height=32
model1Id=4611
modelAnim=runeflash_off
modelZoom=768
modelXAn=512

[com_110]
type=Inventory
x=229
y=57
width=7
height=6
widthAlignment=Grid
heightAlignment=Grid
marginX=3
marginY=3

[com_111]
type=Text
x=23
y=185
width=169
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Blah blah blah blah blah blah blah!"

[com_112]
type=Sprite
x=183
y=206
width=36
height=36
graphic=172

[com_113]
type=Sprite
x=183
y=242
width=36
height=36
graphic=172

[com_114]
type=Sprite
x=183
y=278
width=36
height=36
graphic=172

[com_115]
type=Text
x=23
y=160
width=169
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Blah blah blah blah blah blah blah!"

[com_116]
type=Sprite
buttonType=Button
x=229
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_117]
type=Sprite
buttonType=Button
x=264
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_118]
type=Sprite
buttonType=Button
x=299
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_119]
type=Sprite
buttonType=Button
x=334
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_120]
type=Sprite
buttonType=Button
x=369
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_121]
type=Sprite
buttonType=Button
x=404
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_122]
type=Sprite
buttonType=Button
x=439
y=57
width=32
height=207
buttonText="Drop piece"
eventCode=flag22

[com_123]
type=Text
x=27
y=157
width=160
height=14
colour=0xAAAAAA
hAlign=Center
font=496
shadow=yes
text="Blah blah blah blah blah!"

[com_124]
type=Layer
x=26
y=265
width=78
height=42
hide=yes

[com_125]
type=Rectangle
buttonType=Close
x=6
y=6
width=66
height=31
layerId=2359420
fill=yes
buttonText="Ok"

[com_126]
type=Text
x=23
y=14
width=31
height=14
layerId=2359420
colour=0x800000
colourOver=0xFF0000
font=495
shadow=yes
text="Close"

[com_127]
type=Sprite
x=21
y=-15
width=36
height=36
layerId=2359420
graphic=314

[com_128]
type=Sprite
width=25
height=30
layerId=2359420
graphic=310

[com_129]
type=Sprite
x=75
width=25
height=30
layerId=2359420
graphic=311

[com_130]
type=Sprite
y=12
width=25
height=30
layerId=2359420
graphic=312

[com_131]
type=Sprite
x=53
y=12
width=25
height=30
layerId=2359420
graphic=313

[com_132]
type=Sprite
x=21
y=21
width=36
height=36
layerId=2359420
graphic=173

[com_133]
type=Model
x=20
y=57
width=20
height=20
model1Id=2399
modelZoom=1024
modelXAn=512
modelYAn=1024

[com_134]
type=Model
x=20
y=87
width=20
height=20
model1Id=2652
modelZoom=1024
modelXAn=512
modelYAn=1024

[com_135]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_136]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_137]
type=Sprite
x=57
y=21
width=36
height=36
layerId=2359385
graphic=173

[com_138]
type=Sprite
x=70
y=21
width=36
height=36
layerId=2359385
graphic=173

[com_139]
type=Sprite
x=57
y=-15
width=36
height=36
layerId=2359385
graphic=314

[com_140]
type=Sprite
x=80
y=-15
width=36
height=36
layerId=2359385
graphic=314

[com_141]
type=Sprite
x=57
y=21
width=36
height=36
layerId=2359384
graphic=173

[com_142]
type=Sprite
x=74
y=21
width=36
height=36
layerId=2359384
graphic=173

[com_143]
type=Sprite
x=57
y=-15
width=36
height=36
layerId=2359384
graphic=314

[com_144]
type=Sprite
x=76
y=-15
width=36
height=36
layerId=2359384
graphic=314
