[content_layer]
type=Model
x=259
y=85
width=32
height=32
model1Id=9374
modelZoom=246
modelXAn=295

[com_1]
type=Model
x=259
y=85
width=32
height=32
model1Id=9380
modelAnim=bob_locator_nose_rotate
modelAnim2=bob_locator_nose_rotate
modelZoom=246
modelXAn=295

[bob_locator]
type=Model
x=255
y=84
width=32
height=32
model1Id=9376
modelAnim=bob_locator_eyes
modelAnim2=bob_locator_eyes
modelZoom=246
modelXAn=293

[bob_locator_nose_lights]
type=Model
x=205
y=75
width=32
height=32
model1Id=9376
modelAnim=bob_locator_eyes
modelAnim2=bob_locator_eyes
modelZoom=246
modelXAn=295
modelYAn=110

[bob_locator_r_eye]
type=Model
x=259
y=85
width=32
height=32
model1Id=9379
modelAnim=bob_locator_eyes
modelAnim2=bob_locator_eyes
modelZoom=246
modelXAn=295

[bob_locator_l_eye]
type=Sprite
buttonType=Button
x=178
y=150
width=66
height=40
buttonText="Turn anti-clockwise"
eventCode=flag22

[bob_locator_mouth]
type=Sprite
buttonType=Button
x=278
y=150
width=66
height=40
buttonText="Turn clockwise"
eventCode=flag22

[bob_locator_l_whisker]
type=Model
x=259
y=85
width=32
height=32
model1Id=9381
model2Id=9382
modelZoom=246
modelXAn=295
script1=eq,1
script1op1=varp,if1

[bob_locator_r_whisker]
type=Model
x=259
y=85
width=32
height=32
model1Id=9377
model2Id=9378
modelZoom=246
modelXAn=295
script1=eq,2
script1op1=varp,if1

[bob_button_r_whisker]
type=Sprite
x=483
y=5
width=26
height=23
overLayerId=11
graphic=539

[bob_button_l_whisker]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=3145739
graphic=540
buttonText="Ok"

[bespoke_window]
type=Layer
x=480
y=1
width=32
height=32
hide=yes
