[mainmodal_window]
type=Layer
x=37
y=37
width=387
height=287

[mainmodal_window_background]
type=Layer
x=48
y=76
width=342
height=215
scrollHeight=370

[mainmodal_window_content]
type=Text
x=53
y=56
width=230
height=17
font=497
text="Resources Collected"

[support_button]
type=Inventory
x=13
y=9
width=9
height=10
widthAlignment=Grid
heightAlignment=Grid
layerId=25690113
marginX=4
marginY=4

[ok_button]
type=Model
x=163
y=79
width=55
height=81
layerId=25690112
model1Id=3623
modelZoom=643
modelXAn=510

[message]
type=Sprite
x=378
y=53
width=26
height=23
overLayerId=7
graphic=537

[mainmodal_window_border]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=25690119
overLayerId=7
graphic=538
buttonText="Ok"

[mainmodal_window_close_button]
type=Layer
x=375
y=49
width=32
height=32
hide=yes
