[background]
type=Model
x=34
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=1882

[main_layer]
type=Text
x=111
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[border]
type=Text
x=111
y=16
width=350
height=67
hAlign=Center
vAlign=Center
font=497
text="Line1"
