[blackout_layer]
type=Text
x=21
width=441
height=17
hAlign=Center
font=497
text="Line1"

[firework_layer]
type=Text
x=21
y=16
width=441
height=17
hAlign=Center
font=497
text="Line2"

[fireworks_1]
type=Text
x=21
y=32
width=441
height=17
hAlign=Center
font=497
text="Line3"

[fireworks_2]
type=Text
x=21
y=48
width=441
height=17
hAlign=Center
font=497
text="Line4"

[fireworks_3]
type=Text
x=21
y=64
width=441
height=17
hAlign=Center
font=497
text="Line5"
