[buy_info_count]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[buy_info_text]
type=Text
buttonType=Pause
y=23
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[coins_info_text]
type=Text
buttonType=Pause
y=47
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[coins_info_count]
type=Text
buttonType=Pause
y=71
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[bonds_info_text]
type=Sprite
width=57
height=13
layerId=15073286
graphic=302

[bonds_info_count]
type=Sprite
x=280
width=57
height=13
layerId=15073286
graphic=301

[content_panel_blue]
type=Layer
x=72
y=1
width=337
height=13

[bonds_info]
type=Sprite
width=57
height=13
layerId=15073289
graphic=302

[coins_info]
type=Sprite
x=419
width=57
height=13
layerId=15073289
graphic=301

[buy_info_layer]
type=Layer
x=2
y=1
width=476
height=13
hide=yes
