[confirm_layer]
type=Layer
width=765
height=503

[confirm_background_layer]
type=Rectangle
width=765
height=503
layerId=35979264
fill=yes

[confirm_frame_layer]
type=Layer
width=765
height=503
layerId=35979264

[confirm_text]
type=Layer
width=765
height=503
layerId=35979264
