[content_layer]
type=Model
x=237
y=183
width=32
height=32
model1Id=9857
modelZoom=256
modelXAn=501

[com_1]
type=Model
x=224
y=302
width=32
height=32
model1Id=23131
modelAnim=brain_cat_and_ball_anim
modelZoom=360
modelXAn=36
modelYAn=1720
