[fires]
type=Layer
x=2
y=86
width=76
height=113

[hopper_normal]
type=Model
x=14
y=18
width=32
height=32
layerId=27197440
model1Id=15694
modelZoom=360
modelXAn=515

[pipes_normal]
type=Model
x=15
y=50
width=32
height=32
layerId=27197440
model1Id=15695
modelZoom=600
modelXAn=534
modelYAn=2047

[bridge_normal]
type=Model
x=17
y=90
width=32
height=32
layerId=27197440
model1Id=15688
modelZoom=1007
modelXAn=531
modelYAn=2041

[hopper_amount]
type=Text
x=62
y=25
width=9
height=14
layerId=27197440
colour=0x910000
font=496
shadow=yes
text="0"

[pipe_amount]
type=Text
x=62
y=60
width=9
height=14
layerId=27197440
colour=0x910000
font=496
shadow=yes
text="0"

[bridge_amount]
type=Text
x=62
y=94
width=9
height=14
layerId=27197440
colour=0x910000
font=496
shadow=yes
text="0"

[hopper_fire_model]
type=Layer
x=16
y=84
width=33
height=35
hide=yes

[pipe_fire_model]
type=Model
x=2
y=24
width=32
height=32
layerId=27197447
model1Id=15693
modelZoom=400
modelXAn=327
modelYAn=3

[bridge_fire_model]
type=Layer
x=15
y=122
width=36
height=28
hide=yes

[bitternut_model]
type=Model
x=3
y=10
width=32
height=46
layerId=27197449
model1Id=15693
modelZoom=400
modelXAn=327
modelYAn=3

[sweetgrub_model]
type=Layer
x=14
y=160
width=39
height=31
hide=yes

[bucket_model]
type=Model
x=3
y=-31
width=35
height=131
layerId=27197451
model1Id=15693
modelZoom=400
modelXAn=327
modelYAn=3

[colourwater_model]
type=Layer
x=8
y=28
width=498
height=52

[bark_model]
type=Model
x=168
y=37
width=32
height=32
model1Id=15666
modelZoom=700
modelXAn=348
modelYAn=15

[boiler1_model]
type=Model
x=214
y=38
width=32
height=32
model1Id=15703
modelZoom=700
modelXAn=405
modelYAn=42

[boiler2_model]
type=Model
x=263
y=46
width=32
height=32
model1Id=15689
model2Id=15667
modelZoom=600
modelXAn=444
modelYAn=3

[boiler3_model]
type=Model
x=310
y=35
width=32
height=32
model1Id=15699
modelZoom=790
modelXAn=483
modelYAn=18

[score_sheet]
type=Model
x=358
y=40
width=32
height=32
model1Id=15659
modelZoom=700
modelXAn=390
modelYAn=30

[red_bottle_off]
type=Model
x=17
y=38
width=32
height=32
model1Id=15677
modelZoom=700
modelXAn=402

[red_bottle_off_model]
type=Model
x=68
y=38
width=32
height=32
model1Id=15679
modelZoom=700
modelXAn=402

[blue_bottle_off]
type=Model
x=117
y=38
width=32
height=32
model1Id=15681
modelZoom=700
modelXAn=402

[blue_bottle_off_model]
type=Layer
x=154
y=24
width=56
height=56
hide=yes

[red_bottle_on]
type=Model
x=14
y=14
width=32
height=32
layerId=27197462
model1Id=15669
modelZoom=700
modelXAn=348
modelYAn=15

[red_bottle_on_model]
type=Layer
x=206
y=29
width=53
height=50
hide=yes

[blue_bottle_on]
type=Model
x=8
y=10
width=32
height=32
layerId=27197464
model1Id=15704
modelZoom=700
modelXAn=405
modelYAn=42

[blue_bottle_on_model]
type=Layer
x=298
y=30
width=54
height=50
hide=yes

[red_bottle_warning]
type=Model
x=12
y=5
width=32
height=32
layerId=27197466
model1Id=15700
modelZoom=790
modelXAn=483
modelYAn=18

[red_bottle_warning_model]
type=Layer
x=349
y=31
width=52
height=48
hide=yes

[blue_bottle_warning]
type=Model
x=10
y=8
width=32
height=32
layerId=27197468
model1Id=15667
modelZoom=700
modelXAn=390
modelYAn=30

[blue_bottle_warning_model]
type=Layer
x=6
y=25
width=52
height=54
hide=yes

[boiler1_count]
type=Model
x=11
y=14
width=32
height=32
layerId=27197470
model1Id=15678
modelZoom=700
modelXAn=402

[boiler2_count]
type=Layer
x=49
y=25
width=63
height=55
hide=yes

[boiler3_count]
type=Model
x=19
y=13
width=32
height=32
layerId=27197472
model1Id=15680
modelZoom=700
modelXAn=402

[bitternut_count]
type=Layer
x=102
y=25
width=57
height=55
hide=yes

[sweetgrub_count]
type=Model
x=16
y=13
width=32
height=32
layerId=27197474
model1Id=15682
modelZoom=700
modelXAn=402

[bucket_count]
type=Layer
x=250
y=27
width=54
height=53
overLayerId=0
hide=yes

[colourwater_count]
type=Model
x=13
y=20
width=32
height=32
layerId=27197476
model1Id=15690
model2Id=15667
modelZoom=600
modelXAn=444
modelYAn=3

[bark_count]
type=Layer
x=299
y=28
width=52
height=50
overLayerId=26
hide=yes

[brew_score_text]
type=Model
x=11
y=7
width=32
height=32
layerId=27197478
model1Id=15673
modelZoom=790
modelXAn=483
modelYAn=18

[score_sheet_model]
type=Layer
x=298
y=30
width=54
height=50
hide=yes

[red_score]
type=Model
x=12
y=6
width=32
height=32
layerId=27197480
model1Id=15674
modelZoom=790
modelXAn=483
modelYAn=18

[blue_score]
type=Layer
x=329
y=263
width=184
height=73

[brew_time_display]
type=Model
x=409
y=276
width=32
height=32
model1Id=10119
modelZoom=912
modelXAn=288
modelYAn=2029

[com_44]
type=Text
x=400
y=288
width=9
height=14
colour=0x990000
font=496
text="0"

[com_45]
type=Text
x=435
y=287
width=9
height=14
colour=0x0000CC
font=496
text="0"

[com_46]
type=Layer
x=420
y=13
width=69
height=68

[com_47]
type=Model
x=19
y=22
width=32
height=32
layerId=27197486
model1Id=15696
modelZoom=850
modelXAn=468

[com_48]
type=Layer
x=420
y=13
width=69
height=68
hide=yes

[com_49]
type=Model
x=19
y=22
width=32
height=32
layerId=27197488
model1Id=15670
modelZoom=850
modelXAn=468

[com_50]
type=Layer
x=420
y=13
width=69
height=68
hide=yes

[com_51]
type=Model
x=19
y=22
width=32
height=32
layerId=27197490
model1Id=15723
modelAnim=game_brew_bottle_flash
modelZoom=850
modelXAn=468

[com_52]
type=Layer
x=420
y=13
width=69
height=68
hide=yes

[com_53]
type=Model
x=19
y=22
width=32
height=32
layerId=27197492
model1Id=15722
modelAnim=game_brew_bottle_flash
modelZoom=850
modelXAn=468

[com_54]
type=Layer
x=420
y=13
width=69
height=68
hide=yes

[com_55]
type=Model
x=19
y=22
width=32
height=32
layerId=27197494
model1Id=15698
modelAnim=game_brew_bottle_flash
modelZoom=850
modelXAn=468

[com_56]
type=Layer
x=420
y=13
width=69
height=68
hide=yes

[com_57]
type=Model
x=19
y=22
width=32
height=32
layerId=27197496
model1Id=15668
modelAnim=game_brew_bottle_flash
modelZoom=656
modelXAn=468

[com_58]
type=Text
x=29
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_59]
type=Text
x=80
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_60]
type=Text
x=129
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_61]
type=Text
x=180
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_62]
type=Text
x=225
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_63]
type=Text
x=276
y=23
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_64]
type=Text
x=322
y=24
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_65]
type=Text
x=371
y=24
width=9
height=14
colour=0x910000
font=496
shadow=yes
text="0"

[com_66]
type=Text
x=33
y=2
width=120
height=14
layerId=27197482
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
text="Current Score"

[com_67]
type=Text
x=358
y=310
width=141
height=14
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
text="Time Left : 20 Mins"
