[layer_1]
type=Model
x=244
y=153
width=32
height=32
model1Id=15707
modelZoom=400
modelXAn=512

[bespoke_window]
type=Model
x=238
y=152
width=32
height=32
model1Id=15716
modelZoom=400
modelXAn=512

[game_brew_backing]
type=Model
buttonType=Button
x=62
y=95
width=44
height=70
model1Id=15708
modelZoom=650
modelXAn=514
eventCode=flag22

[game_brew_table]
type=Model
buttonType=Button
x=140
y=98
width=71
height=67
model1Id=15709
modelZoom=950
modelXAn=514
eventCode=flag22

[game_brew_bamboo]
type=Model
buttonType=Button
x=233
y=106
width=53
height=50
model1Id=15712
modelZoom=400
modelXAn=514
eventCode=flag22

[game_brew_bridge]
type=Model
buttonType=Button
x=47
y=225
width=88
height=59
model1Id=15713
modelZoom=650
modelXAn=514
modelYAn=512
eventCode=flag22

[game_brew_bucket]
type=Model
buttonType=Button
x=406
y=97
width=51
height=72
model1Id=15718
modelZoom=550
modelXAn=512
eventCode=flag22

[game_brew_torch]
type=Model
buttonType=Button
x=150
y=206
width=48
height=52
model1Id=15685
modelZoom=600
modelXAn=514
eventCode=flag22

[game_brew_sheets]
type=Model
buttonType=Button
x=233
y=208
width=50
height=47
model1Id=15717
modelZoom=400
modelXAn=512
eventCode=flag22

[game_brew_jar]
type=Model
buttonType=Button
x=326
y=206
width=37
height=53
model1Id=15715
modelZoom=400
modelXAn=512
eventCode=flag22

[game_brew_bowl_blue]
type=Model
buttonType=Button
x=405
y=196
width=32
height=54
model1Id=15714
modelZoom=400
modelXAn=512
eventCode=flag22

[game_brew_tinderbox]
type=Model
buttonType=Button
x=325
y=114
width=46
height=65
model1Id=15663
modelZoom=500
modelXAn=512
modelYAn=786
eventCode=flag22

[game_brew_meat]
type=Text
x=50
y=67
width=75
height=29
colour=0xB99116
vAlign=Center
font=495
shadow=yes
text="Bamboo pipe"

[game_brew_knife]
type=Text
x=136
y=67
width=75
height=29
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Bridge section"

[game_brew_net]
type=Text
x=223
y=67
width=75
height=29
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Bucket"

[game_brew_axe]
type=Text
x=48
y=184
width=75
height=30
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Torch"

[game_brew_bamboo_text]
type=Text
x=394
y=67
width=75
height=29
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Lumber patch"

[game_brew_bridge_text]
type=Text
x=137
y=184
width=75
height=30
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Bowl"

[game_brew_bucket_text]
type=Text
x=220
y=184
width=75
height=30
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Tinderbox"

[game_brew_torch_text]
type=Text
x=308
y=184
width=75
height=30
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Meat"

[game_brew_sheet_text]
type=Text
x=385
y=185
width=75
height=30
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Knife"

[game_brew_jar_text]
type=Text
x=312
y=67
width=75
height=29
colour=0xB99116
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Axe"

[game_brew_bowl_blue_text]
type=Text
x=97
y=145
width=8
height=14
colour=0xB99116
font=495
shadow=yes
text="0"

[game_brew_tinder_text]
type=Text
x=190
y=144
width=8
height=14
colour=0xB99116
font=495
shadow=yes
text="0"

[game_brew_meat_text]
type=Text
x=445
y=145
width=8
height=14
colour=0xB99116
font=495
shadow=yes
text="0"

[game_brew_knife_text]
type=Sprite
x=483
y=6
width=26
height=23
overLayerId=27
graphic=539

[game_brew_net_text]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=27328539
graphic=540
buttonText="Ok"

[game_brew_axe_text]
type=Layer
x=480
y=3
width=32
height=32
hide=yes
