[com_0]
type=Model
x=242
y=165
width=32
height=32
model1Id=9853
modelZoom=800
modelXAn=514

[brew_tatty_cut_throat]
type=Model
x=388
y=180
width=32
height=32
model1Id=15665
modelZoom=400

[brew_tatty_guilded_smile]
type=Model
x=94
y=180
width=32
height=32
model1Id=15664
modelZoom=400

[brew_poe1]
type=Model
x=401
y=264
width=32
height=32
model1Id=15719
modelZoom=400
modelXAn=514

[brwe_poe2]
type=Model
x=357
y=259
width=32
height=32
model1Id=15720
modelZoom=400
modelXAn=514

[brew_poe3]
type=Model
x=331
y=236
width=32
height=32
model1Id=15721
modelZoom=400
modelXAn=514

[brew_poe4]
type=Model
x=177
y=256
width=32
height=32
model1Id=15719
modelZoom=400
modelXAn=514

[brwe_poe5]
type=Model
x=129
y=249
width=32
height=32
model1Id=15720
modelZoom=400
modelXAn=514

[brew_poe6]
type=Model
x=151
y=232
width=32
height=32
model1Id=15721
modelZoom=400
modelXAn=514

[brew_poe7]
type=Model
x=327
y=262
width=32
height=32
model1Id=15719
modelZoom=400
modelXAn=514

[brwe_poe8]
type=Model
x=94
y=264
width=32
height=32
model1Id=15720
modelZoom=400
modelXAn=514

[brew_poe9]
type=Model
x=289
y=247
width=32
height=32
model1Id=15721
modelZoom=400
modelXAn=514

[brew_poe10]
type=Model
x=136
y=265
width=32
height=32
model1Id=15719
modelZoom=600
modelXAn=514

[brwe_poe11]
type=Model
x=259
y=261
width=32
height=32
model1Id=15720
modelZoom=400
modelXAn=514

[brew_poe12]
type=Model
x=194
y=253
width=32
height=32
model1Id=15721
modelZoom=400
modelXAn=514
modelYAn=918

[brwe_poe13]
type=Model
x=429
y=265
width=32
height=32
model1Id=15720
modelZoom=400
modelXAn=514

[brew_poe14]
type=Model
x=41
y=259
width=32
height=32
model1Id=15721
modelZoom=400
modelXAn=514
modelYAn=883

[brew_poe15]
type=Model
x=154
y=266
width=32
height=32
model1Id=15719
modelZoom=600
modelXAn=514

[brew_poe16]
type=Model
x=234
y=261
width=32
height=32
model1Id=15719
modelZoom=600
modelXAn=514

[brew_won_lost]
type=Text
x=65
y=59
width=382
height=17
colour=0x333308
hAlign=Center
font=497
text="Congratulations!  Your team won!"

[brew_score]
type=Text
x=171
y=96
width=170
height=34
colour=0x333308
hAlign=Center
font=497
text="The final score was:"

[brew_pieces_of_eight]
type=Text
x=172
y=163
width=168
height=51
colour=0x333308
hAlign=Center
font=497
text="You were awarded 999 Pieces of Eight!"

[brew_dan_final_score]
type=Text
x=213
y=131
width=16
height=14
colour=0xFF0000
font=497
text="99"

[brew_san_final_score]
type=Text
x=277
y=131
width=16
height=14
colour=0x0000FF
font=497
text="99"

[extra_text]
type=Text
x=253
y=132
width=4
height=14
colour=0x333308
font=497
text=":"

[brew_xpreward]
type=Text
x=177
y=200
width=158
height=28
colour=0x333308
hAlign=Center
font=497

[close_button]
type=Sprite
x=482
y=5
width=26
height=23
overLayerId=28
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=2
y=3
width=26
height=23
layerId=27131932
graphic=540
buttonText="Ok"

[com_28]
type=Layer
x=480
y=2
width=32
height=32
hide=yes
