[com_0]
type=Model
x=240
y=139
width=32
height=28
model1Id=3032
modelZoom=604
modelXAn=400
discardedModelField=0

[brut_scroll_text]
type=Text
x=99
y=93
width=320
height=181
colour=0xFFFF00
hAlign=Center
lineHeight=17
font=495
shadow=yes

[layer_1]
type=Model
x=234
y=135
width=32
height=32
model1Id=20733
modelZoom=604
modelXAn=406
discardedModelField=0

[com_3]
type=Sprite
x=379
y=80
width=26
height=23
graphic=537
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,538
onmouseleave=44,component.parentId,537
onclick=29
