[com_0]
type=Rectangle
width=512
height=334
trans=1
colour=0x1B251B
fill=yes

[map_model]
type=Model
x=255
y=119
width=32
height=32
model1Id=14056
modelZoom=424
modelXAn=212
modelYAn=68

[temple_model]
type=Model
x=199
y=47
width=32
height=32
model1Id=14054
modelZoom=424
modelXAn=212
modelYAn=68

[temple_hi_model_1]
type=Model
x=181
y=40
width=32
height=32
layerId=3342364
model1Id=14055
modelZoom=424
modelXAn=212
modelYAn=68

[temple_hi_model_2]
type=Model
x=181
y=40
width=32
height=32
layerId=3342365
model1Id=14055
modelZoom=424
modelXAn=212
modelYAn=68

[boat_model]
type=Model
x=280
y=115
width=32
height=32
model1Id=14052
modelZoom=414
modelXAn=500

[boat_hi_model]
type=Model
x=262
y=108
width=32
height=32
layerId=3342365
model1Id=14053
modelZoom=414
modelXAn=500

[route_1_model]
type=Model
x=285
y=70
width=32
height=32
model1Id=14059
modelZoom=414
modelXAn=212
modelYAn=68

[route_1_model_hi]
type=Model
x=267
y=63
width=32
height=32
layerId=3342364
model1Id=14060
modelZoom=414
modelXAn=212
modelYAn=68

[route_2_model]
type=Model
x=264
y=105
width=32
height=32
model1Id=14061
modelZoom=424
modelXAn=212
modelYAn=68

[route_2_model_hi]
type=Model
x=246
y=98
width=32
height=32
layerId=3342365
model1Id=14062
modelZoom=424
modelXAn=212
modelYAn=68

[canifis]
type=Text
x=275
y=70
width=66
height=17
colour=0xA0A075
hAlign=Right
font=497
text="Canifis"

[mort_myre_swamp]
type=Text
x=181
y=88
width=79
height=32
colour=0xA0A075
hAlign=Center
font=497
text="Mort Myre<br>Swamp"

[hollows]
type=Text
x=268
y=99
width=65
height=16
colour=0xA0A075
font=497
text="Hollows"

[mort_ton]
type=Text
x=223
y=162
width=94
height=17
colour=0xA0A075
hAlign=Center
font=497
text="Mort'ton"

[graveyard]
type=Text
x=361
y=116
width=104
height=19
colour=0xA0A075
hAlign=Center
font=497
text="Graveyard"

[temple]
type=Text
x=179
y=27
width=71
height=19
colour=0xA0A075
hAlign=Center
font=497
text="Temple"

[player_icon_model]
type=Model
x=267
y=128
width=32
height=32
model1Id=14058
modelZoom=424
modelXAn=212
modelYAn=68

[npc_icon_model]
type=Model
x=268
y=130
width=32
height=32
model1Id=14057
modelZoom=424
modelXAn=212
modelYAn=68

[route1scroll]
type=Model
buttonType=Button
x=339
y=52
width=131
height=45
overLayerId=28
model1Id=10094
modelZoom=1189
modelXAn=528
modelYAn=2047
buttonText="Route1"
eventCode=flag22

[route1]
type=Text
x=379
y=65
width=53
height=17
colour=0x341B10
hAlign=Center
font=497
text="Route 1"

[route1_hi]
type=Text
x=361
y=58
width=53
height=17
layerId=3342364
colour=0xFFFFFF
hAlign=Center
font=497
text="Route 1"

[route2scroll]
type=Model
buttonType=Button
x=96
y=143
width=128
height=45
overLayerId=29
model1Id=10094
modelZoom=1189
modelXAn=528
modelYAn=2047
buttonText="Route2"
eventCode=flag22

[route2]
type=Text
x=133
y=155
width=56
height=17
colour=0x341B10
hAlign=Center
font=497
text="Route 2"

[route2_hi]
type=Text
x=115
y=148
width=56
height=17
layerId=3342365
colour=0xFFFFFF
hAlign=Center
font=497
text="Route 2"

[com_25]
type=Model
x=383
y=235
width=32
height=32
model1Id=10095
modelZoom=618
modelXAn=528

[route_1_desc]
type=Text
x=302
y=176
width=158
height=107
layerId=3342364
colour=0x341B10
font=497
text="Route 1:<br><br>Take the route through<br>Canifis.<br><br>Shorter but potentially<br>more dangerous."

[route_2_desc]
type=Text
x=302
y=176
width=158
height=107
layerId=3342365
colour=0x341B10
font=497
text="Route 2:<br><br>Take the route through<br>Mort Myre Swamp.<br><br>Longer but less likely<br>to be attacked."

[route1_hi_layer]
type=Layer
x=18
y=7
width=487
height=319
hide=yes

[route2_hi_layer]
type=Layer
x=18
y=7
width=487
height=319
hide=yes

[com_30]
type=Model
buttonType=Button
x=32
y=26
width=128
height=45
model1Id=10094
modelZoom=805
modelXAn=528
modelYAn=2047
eventCode=flag22

[burgh_de_rott]
type=Text
x=219
y=212
width=83
height=41
colour=0xA0A075
hAlign=Center
font=497
text="Burgh de<br>Rott"

[burgh_choose_text]
type=Text
x=33
y=27
width=125
height=40
colour=0x341B10
hAlign=Center
vAlign=Center
font=497
text="Choose your path"

[close_button]
type=Sprite
x=484
y=3
width=26
height=23
overLayerId=35
graphic=539

[com_34]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=3342371
graphic=540
buttonText="Ok"

[com_35]
type=Layer
x=480
width=32
height=32
hide=yes
