[content_layer]
type=Layer
x=-13
y=-1
width=527
height=340

[fsborder_main_layer]
type=Model
x=101
y=298
width=10
height=14
layerId=3407872
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=466
modelXAn=465
modelYAn=1647

[can_background_layer]
type=Model
x=-42
y=-4
width=32
height=32
layerId=3407875
model1Id=2333
modelAnim=wake2
modelZoom=1040
modelXAn=135
modelYAn=762

[can_cat_layer]
type=Layer
buttonType=Button
x=142
y=102
width=190
height=79
hide=yes
buttonText="Build Stable Dugout"
eventCode=flag22

[can_dug_layer]
type=Model
x=83
y=21
width=32
height=32
layerId=3407875
model1Id=12101
modelAnim=canoeing_bobbing_inwater
modelZoom=912
modelXAn=162
modelYAn=1186

[can_log_layer]
type=Model
x=-48
y=-19
width=32
height=32
layerId=3407878
model1Id=2333
modelAnim=wake2
modelZoom=1424
modelXAn=195
modelYAn=786

[can_waka_layer]
type=Layer
buttonType=Button
x=96
y=158
width=122
height=121
hide=yes
buttonText="Build Dugout Canoe"
eventCode=flag22

[can_exit]
type=Model
x=40
y=42
width=27
height=26
layerId=3407878
model1Id=12103
modelAnim=canoeing_bobbing_inwater
modelZoom=856
modelXAn=171
modelYAn=348

[waka_canoe_greyed_out]
type=Layer
buttonType=Button
x=28
y=177
width=91
height=151
buttonText="Make Log Canoe"
eventCode=flag22

[canoe_dugout_greyed_out]
type=Model
x=-10
y=-15
width=32
height=32
layerId=3407880
model1Id=2333
modelAnim=wake2
modelZoom=1552
modelXAn=177
modelYAn=918

[canoe_catamaran_greyed_out]
type=Model
x=86
y=61
width=32
height=32
layerId=3407872
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=189
modelYAn=1654

[canoe_close]
type=Model
x=27
y=46
width=29
height=27
layerId=3407880
model1Id=12108
modelAnim=canoeing_bobbing_inwater
modelZoom=1040
modelXAn=180
modelYAn=459

[canoe_close_button]
type=Model
x=-81
y=12
width=32
height=32
layerId=3407885
model1Id=2333
modelAnim=wake2
modelZoom=784
modelXAn=159
modelYAn=726

[can_water]
type=Layer
buttonType=Button
x=150
y=22
width=295
height=88
hide=yes
buttonText="Make Waka Canoe"
eventCode=flag22

[canoe_wake_1]
type=Model
x=121
y=43
width=32
height=32
layerId=3407885
model1Id=12112
modelAnim=canoeing_bobbing_inwater
modelZoom=656
modelXAn=81
modelYAn=150

[can_catamaran_canoe]
type=Layer
x=420
y=6
width=80
height=16

[canoe_wake_2]
type=Text
x=83
y=42
width=105
height=12
layerId=3407875
colour=0x999999
font=494
shadow=yes
text="A Stable Dugout."

[can_dugout_canoe]
type=Text
x=208
y=59
width=84
height=13
layerId=3407885
colour=0x999999
font=494
shadow=yes
text="A Waka."

[canoe_wake_3]
type=Text
x=36
y=88
width=79
height=12
layerId=3407878
colour=0x999999
font=494
shadow=yes
text="A Dugout."

[can_water3]
type=Text
x=13
y=114
width=59
height=15
layerId=3407880
colour=0x999999
font=494
shadow=yes
text="A Log."

[can_log_canoe]
type=Text
x=130
y=287
width=380
height=15
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="WHAT SORT OF CANOE WOULD YOU LIKE TO MAKE   ?"
text2="  "

[canoe_wake_4]
type=Model
x=78
y=175
width=36
height=24
layerId=3407872
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=306
modelYAn=1642

[can_waka_canoe]
type=Model
x=183
y=-9
width=32
height=32
layerId=3407872
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=198
modelYAn=1609

[catarmeran_text]
type=Model
x=166
y=18
width=32
height=32
layerId=3407872
model1Id=12105
modelZoom=400
modelXAn=468
modelYAn=2035

[waka_text]
type=Text
buttonType=Button
y=2
width=74
height=150
layerId=3407880
colour=0xFFFF00
font=495
shadow=yes
buttonText="Make log canoe"
eventCode=flag22

[dugout_text]
type=Text
buttonType=Button
x=7
y=14
width=113
height=110
layerId=3407878
colour=0xFFFF00
font=495
shadow=yes
buttonText="Make dugout canoe"
eventCode=flag22

[log_text]
type=Text
buttonType=Button
x=9
y=1
width=180
height=68
layerId=3407875
colour=0xFFFF00
font=495
shadow=yes
buttonText="Make stable dugout canoe"
eventCode=flag22

[can_water2]
type=Text
buttonType=Button
x=11
y=2
width=282
height=85
layerId=3407885
colour=0xFFFF00
font=495
shadow=yes
buttonText="Make waka canoe"
eventCode=flag22

[can_water4]
type=Model
x=-57
y=12
width=32
height=32
layerId=3407901
model1Id=2333
modelAnim=wake2
modelZoom=784
modelXAn=159
modelYAn=726

[can_water_fadetoblack]
type=Layer
x=150
y=22
width=295
height=88

[can_log_button]
type=Model
x=121
y=50
width=32
height=32
layerId=3407901
model1Id=12113
modelAnim=canoeing_bobbing_inwater
modelZoom=588
modelXAn=81
modelYAn=152

[can_dug_button]
type=Model
x=-46
y=-17
width=32
height=32
layerId=3407904
model1Id=2333
modelAnim=wake2
modelZoom=1424
modelXAn=195
modelYAn=786

[can_cat_button]
type=Layer
x=96
y=158
width=122
height=121

[can_waka_button]
type=Model
x=38
y=38
width=32
height=32
layerId=3407904
model1Id=12104
modelAnim=canoeing_bobbing_inwater
modelZoom=850
modelXAn=166
modelYAn=346

[canoe_waka_water_grey]
type=Model
x=-44
y=-3
width=32
height=32
layerId=3407907
model1Id=2333
modelAnim=wake2
modelZoom=1040
modelXAn=135
modelYAn=762

[waka_canoe_grey]
type=Layer
x=142
y=102
width=190
height=79

[canoe_dugout_water_grey]
type=Model
x=66
y=32
width=32
height=32
layerId=3407907
model1Id=12102
modelAnim=canoeing_bobbing_inwater
modelZoom=867
modelXAn=164
modelYAn=1179

[canoe_dugout_grey]
type=Text
buttonType=Button
x=13
y=9
width=108
height=114
layerId=3407904
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[canoe_catamaran_water_grey]
type=Text
buttonType=Button
x=5
y=7
width=197
height=57
layerId=3407907
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[canoe_catamaran_grey]
type=Text
buttonType=Button
x=8
y=1
width=285
height=86
layerId=3407901
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[dugout_greyed_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=42
graphic=539

[cat_greyed_button]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=3407914
graphic=540
buttonText="Ok"

[waka_greyed_button]
type=Layer
x=470
y=10
width=32
height=32
hide=yes
