[contents]
type=Layer
x=-13
y=-1
width=527
height=340

[canoeing_barberian_canoe_model]
type=Model
x=101
y=298
width=10
height=14
layerId=3473408
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=466
modelXAn=465
modelYAn=1647

[barbarian_village_canoe_station]
type=Layer
x=65
y=31
width=32
height=32

[canoeing_barbarian_button]
type=Model
x=314
y=185
width=32
height=32
model1Id=12109
modelZoom=906
modelXAn=387
modelYAn=2008

[canoeing_edgeville_canoe_model]
type=Model
x=78
y=175
width=36
height=24
layerId=3473408
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=306
modelYAn=1642

[edgeville_canoe_station_text]
type=Model
x=86
y=61
width=32
height=32
layerId=3473408
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=189
modelYAn=1654

[canoeing_edgeville_button]
type=Model
x=183
y=-9
width=32
height=32
layerId=3473408
model1Id=12114
modelAnim=canoeing_interface_water
modelZoom=400
modelXAn=198
modelYAn=1609

[canoeing_background_layer]
type=Model
x=28
y=-6
width=32
height=32
layerId=3473432
model1Id=12104
modelZoom=3160
modelXAn=252
modelYAn=1960

[map_image]
type=Model
x=21
width=32
height=32
layerId=3473431
model1Id=12104
modelZoom=2776
modelXAn=228
modelYAn=1990

[canoeing_map_model]
type=Model
x=13
y=9
width=32
height=32
layerId=3473430
model1Id=12104
modelZoom=2954
modelXAn=272
modelYAn=62

[canoeing_lumbridge_canoe]
type=Model
x=22
y=4
width=32
height=32
layerId=3473448
model1Id=12104
modelZoom=3160
modelXAn=279
modelYAn=1852

[canoeing_champions_canoe]
type=Layer
buttonType=Button
x=165
y=237
width=248
height=36
eventCode=flag22

[canoeing_barbarian_canoe]
type=Model
x=189
y=9
width=32
height=32
layerId=3473419
model1Id=12103
model2Id=12104
modelZoom=2954
modelXAn=272
modelYAn=62

[canoeing_gray_canoes]
type=Layer
buttonType=Button
x=164
y=208
width=249
height=42
eventCode=flag22

[canoeing_tunnels]
type=Model
x=158
y=-2
width=32
height=32
layerId=3473421
model1Id=12103
model2Id=12104
modelZoom=2776
modelXAn=228
modelYAn=1990

[lumbridge_highlight]
type=Layer
buttonType=Button
x=165
y=174
width=222
height=36
eventCode=flag22

[champions_highlight]
type=Model
x=110
y=-3
width=32
height=32
layerId=3473423
model1Id=12103
model2Id=12104
modelZoom=3160
modelXAn=252
modelYAn=1960

[barbarian_highlight]
type=Model
x=108
y=-7
width=32
height=32
layerId=3473446
model1Id=12103
model2Id=12104
modelZoom=3160
modelXAn=279
modelYAn=1852

[canoeing_wilderness_layer]
type=Layer
x=305
y=271
width=32
height=32

[you_are_here_edgeville]
type=Layer
x=228
y=101
width=55
height=46

[canoeing_edgeville_canoe]
type=Model
x=433
y=31
width=32
height=32
layerId=3473408
model1Id=12105
modelZoom=344
modelXAn=414
modelYAn=2008

[edgeville_highlight]
type=Model
x=20
y=3
width=32
height=32
layerId=3473427
model1Id=12107
modelZoom=428
modelXAn=468
modelYAn=2032

[wilderness_highlight]
type=Layer
x=341
y=237
width=65
height=44
hide=yes

[you_are_here_barbarian_village]
type=Layer
x=301
y=206
width=75
height=29
hide=yes

[you_are_here_champion]
type=Layer
x=247
y=177
width=80
height=30
hide=yes

[you_are_here_lumbridge]
type=Text
x=70
y=14
width=92
height=16
layerId=3473419
colour=0x999999
hAlign=Right
font=497
shadow=yes
text="Lumbridge"

[canoe_close]
type=Text
x=14
y=4
width=77
height=39
layerId=3473421
colour=0x999999
font=497
shadow=yes
text="Champions <br>Guild"
text2=" Station"

[canoe_stations_close_button]
type=Text
x=7
y=-2
width=73
height=36
layerId=3473423
overLayerId=2
colour=0x999999
font=497
shadow=yes
text="Barbarian <br> Village"

[canoeing_water]
type=Text
x=3
y=6
width=90
height=18
layerId=3473446
colour=0x999999
hAlign=Center
font=497
shadow=yes
text="Edgeville"

[canoeing_water2]
type=Text
x=5
y=1
width=237
height=52
layerId=3473439
colour=0x999999
colourOver=0x990000
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Wilderness Pond - <br>No canoe trees here."

[canoeing_water3]
type=Model
x=1
y=20
width=36
height=31
layerId=3473439
model1Id=12110
modelZoom=2704
modelXAn=525
modelYAn=2026

[canoeing_water4]
type=Layer
x=201
y=63
width=254
height=53

[canoeing_barberian_canoe_highlight]
type=Text
buttonType=Button
x=24
y=12
width=219
height=23
layerId=3473419
overLayerId=22
colour=0xFFFF00
font=495
shadow=yes
buttonText="Travel to Lumbridge."
eventCode=flag22

[canoeing_champions_canoe_highlight]
type=Text
buttonType=Button
x=3
y=2
width=242
height=28
layerId=3473421
overLayerId=23
colour=0xFFFF00
font=495
shadow=yes
buttonText="Travel to the Champions Guild."
eventCode=flag22

[canoeing_lumbridge_canoe_highlight]
type=Text
buttonType=Button
x=2
width=220
height=31
layerId=3473423
overLayerId=24
colour=0xFFFF00
font=495
shadow=yes
buttonText="Travel to Barbarian Village."
eventCode=flag22

[canoeing_edgeville_canoe_highlight]
type=Text
buttonType=Button
x=-11
y=10
width=250
height=36
layerId=3473439
overLayerId=41
colour=0xFFFF00
colourOver=0x990000
font=495
shadow=yes
buttonText="DANGER: Travel to the Wilderness. There are no canoe trees up there!"
eventCode=flag22

[canoeing_lumbridge_canoe_model]
type=Layer
x=259
y=105
width=124
height=34
overLayerId=2
hide=yes

[canoeing_champions_canoe_model]
type=Text
x=33
y=9
width=94
height=14
layerId=3473444
colour=0xB86E0D
font=496
shadow=yes
text="You are here"

[canoeing_fade_to_black]
type=Layer
buttonType=Button
x=165
y=136
width=212
height=33
eventCode=flag22

[canoeing_large_tunnel]
type=Text
buttonType=Button
x=19
y=-9
width=139
height=38
layerId=3473446
overLayerId=40
colour=0xFFFF00
font=495
shadow=yes
buttonText="Travel to Edgeville."
eventCode=flag22

[lumbridge_canoe_station_text]
type=Layer
x=251
y=125
width=79
height=38
hide=yes

[champions_canoe_station_text]
type=Layer
x=201
y=63
width=254
height=53
hide=yes

[wilderness_pond_text]
type=Text
x=5
y=1
width=237
height=52
layerId=3473449
colour=0x990000
colourOver=0x990000
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Wilderness Pond - <br>No canoe trees here."

[canoeing_danger_wilderness_skul]
type=Model
x=2
y=1
width=36
height=31
layerId=3473444
model1Id=12100
modelZoom=528
modelXAn=567
modelYAn=201

[canoeing_lumbridge_button]
type=Layer
x=248
y=154
width=145
height=32
hide=yes

[canoeing_champions_button]
type=Model
x=6
y=2
width=36
height=31
layerId=3473452
model1Id=12100
modelZoom=528
modelXAn=567
modelYAn=201

[canoeing_wilderness_button]
type=Text
x=31
y=11
width=112
height=14
layerId=3473452
colour=0xB86E0D
hAlign=Center
font=496
shadow=yes
text="You are here"

[you_are_here_edgeville_text]
type=Layer
x=280
y=189
width=145
height=32
hide=yes

[wilderness_text_highlight]
type=Model
x=6
y=2
width=36
height=31
layerId=3473455
model1Id=12100
modelZoom=528
modelXAn=567
modelYAn=201

[you_are_here_edgeville_arrow]
type=Text
x=27
y=8
width=109
height=15
layerId=3473455
colour=0xB86E0D
hAlign=Center
font=496
shadow=yes
text="You are here"

[you_are_here_barbarian_village_arrow]
type=Layer
x=281
y=221
width=145
height=32
hide=yes

[you_are_here_barbarian_village_text]
type=Model
x=14
y=8
width=36
height=31
layerId=3473458
model1Id=12100
modelZoom=528
modelXAn=567
modelYAn=201

[you_are_here_champion_arrow]
type=Text
x=29
y=14
width=102
height=14
layerId=3473458
colour=0xB86E0D
hAlign=Center
font=496
shadow=yes
text="You are here"

[you_are_here_champion_text]
type=Layer
x=34
y=34
width=203
height=36

[you_are_here_lumbridge_arrow]
type=Model
x=45
y=148
width=238
height=44
model1Id=12111
modelZoom=1083
modelXAn=446
modelYAn=2041

[you_are_here_lumbridge_text]
type=Text
x=34
y=31
width=192
height=33
overLayerId=2
colour=0xC8D1DB
hAlign=Center
font=497
shadow=yes
text="Please Select <br>Your Destination"

[you_are_here_lum_rollover]
type=Text
buttonType=Button
x=-1
width=145
height=32
layerId=3473458
colour=0xFFFF00
font=495
shadow=yes
buttonText="You are in Lumbridge."
eventCode=flag22

[you_are_here_champ_rollover]
type=Text
buttonType=Button
width=145
height=32
layerId=3473455
colour=0xFFFF00
font=495
shadow=yes
buttonText="You are near the Champions Guild."
eventCode=flag22

[you_are_here_barb_rollover]
type=Text
buttonType=Button
width=145
height=32
layerId=3473452
colour=0xFFFF00
font=495
shadow=yes
buttonText="You are at the Barbarian Village."
eventCode=flag22

[you_are_here_edge_rollover]
type=Text
buttonType=Button
width=145
height=32
layerId=3473444
colour=0xFFFF00
font=495
shadow=yes
buttonText="You are in Edgeville."
eventCode=flag22

[mainmodal_window]
type=Sprite
x=451
y=10
width=26
height=23
overLayerId=62
graphic=539

[mainmodal_window_background]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=3473470
graphic=540
buttonText="Ok"

[mainmodal_window_content]
type=Layer
x=447
y=6
width=32
height=32
hide=yes
