[health]
type=Text
x=146
y=24
width=105
height=11
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="Zamorak = %1"
script1op1=varbit,castlewars_zamorak_score

[door]
type=Text
x=251
y=24
width=108
height=11
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="%1 = Saradomin"
script1op1=varbit,castlewars_saradomin_score

[tunnel1]
type=Model
y=89
width=32
height=32
model1Id=4858
modelZoom=2134

[tunnel2]
type=Model
y=124
width=32
height=32
model1Id=4862
modelZoom=2134

[catapult]
type=Text
x=33
y=38
width=11
height=11
colour2=0x00FF00
font=494
text2="Safe"
script1=eq,0
script1op1=varbit,castlewars_saradomin_flag

[main_door_pic]
type=Text
x=35
y=73
width=11
height=11
colour2=0x00FF00
font=494
text2="Safe"
script1=eq,0
script1op1=varbit,castlewars_zamorak_flag

[side_door_pic]
type=Layer
y=180
width=106
height=148

[tunnel1_pic]
type=Text
x=33
y=15
width=72
height=21
layerId=3801094
colour=0x00FF00
colour2=0xFF0000
font=494
text="Health %1%"
text2="Health 0%"
script1=eq,0
script1op1=varbit,castlewars_saradomin_maindoor

[tunnel2_pic]
type=Text
x=441
y=318
width=69
height=11
colour=0xFFFFFF
hAlign=Center
font=494
text="%1 Min"
script1op1=varp,castlewars_timer

[catapult_pic]
type=Model
x=1
y=4
width=32
height=32
layerId=3801094
model1Id=4855
modelZoom=1244
modelXAn=512

[com_10]
type=Model
x=-5
y=35
width=32
height=32
layerId=3801094
model1Id=4859
modelZoom=1165
modelXAn=512

[saradomin_score]
type=Text
x=33
y=47
width=72
height=20
layerId=3801094
colour=0x00FF00
colour2=0xFF0000
font=494
text="Locked"
text2="Unlocked"
script1=eq,1
script1op1=varbit,castlewars_saradomin_sidedoor

[saradomin_flag]
type=Model
x=1
y=59
width=32
height=32
layerId=3801094
model1Id=4861
modelZoom=2063
modelXAn=512

[taken_by_zam_player]
type=Text
x=33
y=78
width=73
height=21
layerId=3801094
colour=0x00FF00
colour2=0xFF0000
font=494
text="Collapsed"
text2="Cleared"
script1=eq,1
script1op1=varbit,castlewars_saradomin_tunnel1

[com_14]
type=Model
x=1
y=264
width=32
height=32
model1Id=4861
modelZoom=2063
modelXAn=512

[zamorak_score]
type=Text
x=33
y=103
width=72
height=24
layerId=3801094
colour=0x00FF00
colour2=0xFF0000
font=494
text="Collapsed"
text2="Cleared"
script1=eq,1
script1op1=varbit,castlewars_saradomin_tunnel2

[zamorak_flag]
type=Model
y=111
width=32
height=32
layerId=3801094
model1Id=4853
modelZoom=1135
modelXAn=512

[taken_by_sara_player]
type=Text
x=33
y=128
width=71
height=20
layerId=3801094
colour=0x00FF00
colour2=0xFF0000
font=494
text="Operational"
text2="Destroyed"
script1=eq,1
script1op1=varbit,castlewars_saradomin_catapult

[sara_side]
type=Text
x=33
y=38
width=11
height=11
colour2=0xFF0000
font=494
shadow=yes
text2="Taken"
script1=eq,1
script1op1=varbit,castlewars_saradomin_flag

[zama_side]
type=Text
x=33
y=38
width=11
height=11
colour2=0xFFFF00
font=494
shadow=yes
text2="Dropped"
script1=eq,2
script1op1=varbit,castlewars_saradomin_flag

[time_remaining]
type=Text
x=35
y=73
width=11
height=11
colour2=0xFF0000
font=494
shadow=yes
text2="Taken"
script1=eq,1
script1op1=varbit,castlewars_zamorak_flag

[castlewars_ticket_info]
type=Text
x=35
y=73
width=11
height=11
colour2=0xFFFF00
font=494
shadow=yes
text2="Dropped"
script1=eq,2
script1op1=varbit,castlewars_zamorak_flag

[castlewars_game_hud]
type=Text
x=247
y=119
width=4
height=4
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
