[shopside_lay]
type=Inventory
x=16
y=8
width=4
height=7
widthAlignment=Grid
heightAlignment=Grid
marginX=10
marginY=4
iop0=Value
iop1=Sell
eventCode=hasIop(0,1)
