[castlewars_confim_puchase_message]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[castlewars_confirm_button_layer]
type=Sprite
x=15
y=80
width=88
height=60
graphic=297

[castlewars_decline_button_layer]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[sara_cape_layer]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[zam_cape_layer]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[sara_hood_layer]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[zam_hood_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[flag_cape_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[kills_cape_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[500_cape_layer]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[1000_cape_layer]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[5000_cape_layer]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[halo_guthix_layer]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[halo_sara_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[halo_zam_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[shield_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[book_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[lvl1_helm_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[lvl1_torso_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[lvl1_legs_layer]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[lvl1_shield_layer]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[lvl1_sword_layer]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[lvl2_helm_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[lvl2_torso_layer]
type=Sprite
x=359
y=200
width=88
height=60
graphic=297

[lvl2_legs_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[lvl2_shield_layer]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[lvl2_sword_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[lvl3_helm_layer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[lvl3_torso_layer]
type=Sprite
x=406
y=200
width=88
height=60
graphic=297

[lvl3_legs_layer]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[lvl3_shield_layer]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[lvl3_sword_layer]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[lvl4_helm_layer]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[lvl4_torso_layer]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[lvl4_legs_layer]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[lvl4_shield_layer]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[lvl4_sword_layer]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[armour_big_layer_to_hold_items]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[lvl_1_helm_cost]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[menu_layer]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[dec_armour_button]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[dec_armour_button_l]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[dec_armour_button_m]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[dec_armour_button_r]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[dec_armour_button_u]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[dec_armour_button_text]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[consume_button]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[consume_button_l]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[consume_button_m]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[consume_button_r]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[consume_button_u]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[consume_button_text]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[misc_items_button]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[misc_items_button_l]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[misc_items_button_m]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[misc_items_button_r]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[misc_items_button_u]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[misc_items_button_text]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[item_layer]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[item_layer_background]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[item_list_divider_horizontal_1a]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[item_list_divider_horizontal_1b]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[item_list_divider_horizontal_1c]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[item_list_divider_horizontal_1d]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[item_list_divider_horizontal_2]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[item_list_divider_vertical_1]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[item_list_divider_vertical_2]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[item_list_divider_vertical_3]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[item_list_divider_vertical_4]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[decorative_armour_layer]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[armour_scrolling_item_layer]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[armour_scrollbar_layer]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[rect1b]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[lvl_1_helm]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[lvl1_helm_layer_info]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[rect1a]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[rect2b]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[lvl_1_torso]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[lvl1_torso_layer_info]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[rect2a]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[lvl_1_torso_cost]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[rect3b]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[lvl_1_legs]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[layer_1]
type=Text
x=21
y=29
width=392
height=18
colour=0xFF981F
colour2=0xFF981F
font=496
shadow=yes
text="Castle Wars Ticket Exchange"

[rect3a]
type=Inventory
x=76
y=65
width=8
height=3
widthAlignment=Grid
heightAlignment=Grid
marginX=15
marginY=15
iop0=Value
iop1=Buy
eventCode=hasIop(0,1)

[com_90]
type=Inventory
x=217
y=159
width=1
height=1
widthAlignment=Grid
heightAlignment=Grid
iop0=Value
iop1=Buy
eventCode=hasIop(0,1)

[lvl_1_legs_cost]
type=Sprite
buttonType=Close
x=472
y=26
width=26
height=23
overLayerId=93
graphic=535
buttonText="Ok"

[com_92]
type=Sprite
x=2
y=6
width=26
height=23
layerId=3932253
graphic=536

[rect4b]
type=Layer
x=470
y=20
width=32
height=32
hide=yes
