[com_0]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[you_here_zam]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[com_2]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[you_here_sara]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[grid_layer]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[layer_1_3]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[layer_1_4]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[view1_graphic]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[view1_text]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[layer_1_5]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[layer_1_6]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[layer_1_7]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[layer_1_8]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[layer_2_3]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[layer_2_4]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[rocks]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[layer_2_5]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[fire_button]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[radio_buttons_layer]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[layer_2_6]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[view1]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[view2]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[view3]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[layer_2_7]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[layer_2_8]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[layer_3_1]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[layer_3_2]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[layer_3_3]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[layer_3_4]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[layer_3_5]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[layer_3_6]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[layer_3_7]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[layer_3_8]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[1_3]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[layer_4_1]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[1_4]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[layer_4_2]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[1_5]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[layer_4_3]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[1_6]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[layer_4_4]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[1_7]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[layer_4_5]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[1_8]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[layer_4_6]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[2_3]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[layer_4_7]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[2_4]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[layer_4_8]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[2_5]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[layer_5_1]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[2_6]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[layer_5_2]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[2_7]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[layer_5_3]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[2_8]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[layer_5_4]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[3_1]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[layer_5_5]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[3_2]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[layer_5_6]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[3_3]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[layer_5_7]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[3_4]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[layer_5_8]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[3_5]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[layer_6_1]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[3_6]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[layer_6_2]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[3_7]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[layer_6_3]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[3_8]
type=Sprite
x=288
y=31
width=36
height=36
graphic=314

[layer_6_4]
type=Sprite
x=324
y=31
width=36
height=36
graphic=314

[4_1]
type=Sprite
x=396
y=31
width=36
height=36
graphic=314

[layer_6_5]
type=Sprite
x=252
y=31
width=36
height=36
graphic=314

[4_2]
type=Sprite
x=432
y=31
width=36
height=36
graphic=314

[layer_6_6]
type=Sprite
x=458
y=31
width=36
height=36
graphic=314

[4_3]
type=Sprite
x=216
y=31
width=36
height=36
graphic=314

[layer_6_7]
type=Sprite
x=180
y=31
width=36
height=36
graphic=314

[4_4]
type=Sprite
x=144
y=31
width=36
height=36
graphic=314

[layer_6_8]
type=Sprite
x=108
y=31
width=36
height=36
graphic=314

[4_5]
type=Sprite
x=72
y=31
width=36
height=36
graphic=314

[layer_7_1]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[4_6]
type=Sprite
x=47
y=31
width=36
height=36
graphic=314

[layer_7_2]
type=Sprite
x=360
y=31
width=36
height=36
graphic=314

[4_7]
type=Sprite
x=18
y=31
width=36
height=36
graphic=314

[layer_7_3]
type=Text
x=30
y=28
width=450
height=14
colour=0xFFAA44
hAlign=Center
font=495
shadow=yes
text="Catapult Controls"

[4_8]
type=Model
x=138
y=168
width=32
height=32
model1Id=4854
modelZoom=286
modelXAn=512

[layer_7_4]
type=Sprite
x=249
y=63
width=25
height=30
graphic=311

[5_1]
type=Sprite
x=58
y=48
width=36
height=36
graphic=314

[layer_7_5]
type=Sprite
x=94
y=48
width=36
height=36
graphic=314

[5_2]
type=Sprite
x=130
y=48
width=36
height=36
graphic=314

[layer_7_6]
type=Sprite
x=33
y=63
width=25
height=30
graphic=310

[5_3]
type=Sprite
x=249
y=273
width=25
height=30
graphic=313

[layer_8_1]
type=Sprite
x=33
y=273
width=25
height=30
graphic=312

[5_4]
type=Sprite
x=166
y=48
width=36
height=36
graphic=314

[layer_8_2]
type=Sprite
x=202
y=48
width=36
height=36
graphic=314

[5_5]
type=Sprite
x=213
y=48
width=36
height=36
graphic=314

[layer_8_3]
type=Sprite
x=253
y=93
width=36
height=36
graphic=315

[5_6]
type=Sprite
x=253
y=129
width=36
height=36
graphic=315

[layer_8_4]
type=Sprite
x=253
y=165
width=36
height=36
graphic=315

[5_7]
type=Sprite
x=253
y=201
width=36
height=36
graphic=315

[layer_8_5]
type=Sprite
x=253
y=237
width=36
height=36
graphic=315

[5_8]
type=Sprite
x=213
y=282
width=36
height=36
graphic=173

[layer_8_6]
type=Sprite
x=177
y=282
width=36
height=36
graphic=173

[6_1]
type=Sprite
x=141
y=282
width=36
height=36
graphic=173

[boarder]
type=Sprite
x=105
y=282
width=36
height=36
graphic=173

[6_2]
type=Sprite
x=69
y=282
width=36
height=36
graphic=173

[6_3]
type=Sprite
x=56
y=282
width=36
height=36
graphic=173

[6_4]
type=Sprite
x=18
y=237
width=36
height=36
graphic=172

[6_5]
type=Sprite
x=18
y=201
width=36
height=36
graphic=172

[6_6]
type=Sprite
x=18
y=165
width=36
height=36
graphic=172

[6_7]
type=Sprite
x=18
y=129
width=36
height=36
graphic=172

[6_8]
type=Sprite
x=18
y=93
width=36
height=36
graphic=172

[7_1]
type=Model
x=26
y=29
width=32
height=32
layerId=3539074
model1Id=4857
modelZoom=1077
modelXAn=512

[7_2]
type=Model
x=76
y=29
width=32
height=32
layerId=3539074
model1Id=4857
modelZoom=1077
modelXAn=512

[7_3]
type=Sprite
x=14
y=9
width=25
height=30
layerId=3539074
graphic=310

[7_4]
type=Sprite
x=96
y=9
width=25
height=30
layerId=3539074
graphic=311

[7_5]
type=Sprite
x=14
y=51
width=25
height=30
layerId=3539074
graphic=312

[7_6]
type=Sprite
x=96
y=51
width=25
height=30
layerId=3539074
graphic=313

[8_1]
type=Sprite
x=39
y=-6
width=36
height=36
layerId=3539074
graphic=314

[8_2]
type=Sprite
x=63
y=-6
width=36
height=36
layerId=3539074
graphic=314

[8_3]
type=Sprite
x=100
y=26
width=36
height=36
layerId=3539074
graphic=315

[8_4]
type=Sprite
x=-1
y=26
width=36
height=36
layerId=3539074
graphic=172

[8_5]
type=Sprite
x=38
y=60
width=36
height=36
layerId=3539074
graphic=173

[8_6]
type=Sprite
x=66
y=60
width=36
height=36
layerId=3539074
graphic=173

[view2_graphic]
type=Sprite
x=49
y=14
width=36
height=36
layerId=3539074
graphic=315

[view2_text]
type=Sprite
x=49
y=40
width=36
height=36
layerId=3539074
graphic=315

[view3_graphic]
type=Layer
x=308
y=56
width=149
height=99

[view3_text]
type=Layer
x=308
y=145
width=146
height=111

[base_layer]
type=Model
x=26
y=29
width=32
height=32
layerId=3539075
model1Id=4857
modelZoom=1077
modelXAn=512

[map_layer]
type=Model
x=76
y=29
width=32
height=32
layerId=3539075
model1Id=4857
modelZoom=1077
modelXAn=512

[background_layer]
type=Sprite
x=14
y=9
width=25
height=30
layerId=3539075
graphic=310

[controls_layer]
type=Sprite
x=96
y=9
width=25
height=30
layerId=3539075
graphic=311

[com_136]
type=Sprite
x=14
y=51
width=25
height=30
layerId=3539075
graphic=312

[com_137]
type=Sprite
x=96
y=51
width=25
height=30
layerId=3539075
graphic=313

[com_138]
type=Sprite
x=39
y=-6
width=36
height=36
layerId=3539075
graphic=314

[com_139]
type=Sprite
x=63
y=-6
width=36
height=36
layerId=3539075
graphic=314

[com_140]
type=Sprite
x=100
y=26
width=36
height=36
layerId=3539075
graphic=315

[com_141]
type=Sprite
x=-1
y=26
width=36
height=36
layerId=3539075
graphic=172

[com_142]
type=Sprite
x=38
y=60
width=36
height=36
layerId=3539075
graphic=173

[com_143]
type=Sprite
x=66
y=60
width=36
height=36
layerId=3539075
graphic=173

[com_144]
type=Sprite
x=49
y=14
width=36
height=36
layerId=3539075
graphic=315

[com_145]
type=Sprite
x=49
y=40
width=36
height=36
layerId=3539075
graphic=315

[com_146]
type=Model
x=27
y=31
width=32
height=32
layerId=3539074
model1Id=4864
modelZoom=1209
modelXAn=512

[com_147]
type=Model
x=76
y=31
width=32
height=32
layerId=3539074
model1Id=4865
modelZoom=1209
modelXAn=512

[com_148]
type=Model
x=26
y=29
width=32
height=32
layerId=3539075
model1Id=4866
modelZoom=1209
modelXAn=512

[com_149]
type=Model
x=76
y=29
width=32
height=32
layerId=3539075
model1Id=4867
modelZoom=1209
modelXAn=474
modelYAn=2020

[com_150]
type=Model
buttonType=Button
x=121
y=7
width=32
height=32
layerId=3539074
model1Id=4852
modelZoom=1379
modelXAn=512
eventCode=flag22

[com_151]
type=Model
buttonType=Button
x=125
y=43
width=25
height=38
layerId=3539074
model1Id=4852
modelZoom=1379
modelXAn=512
modelYAn=1024
eventCode=flag22

[com_152]
type=Model
buttonType=Button
x=82
y=86
width=37
height=25
layerId=3539075
model1Id=4852
modelZoom=1379
modelXAn=512
modelYAn=512
eventCode=flag22

[com_153]
type=Model
buttonType=Button
x=16
y=85
width=41
height=27
layerId=3539075
model1Id=4852
modelZoom=1379
modelXAn=512
modelYAn=1536
eventCode=flag22

[com_154]
type=Sprite
x=388
y=269
width=72
height=36
graphic=293

[com_155]
type=Sprite
x=450
y=269
width=36
height=36
graphic=176

[com_156]
type=Sprite
x=362
y=269
width=36
height=36
graphic=174

[com_157]
type=Text
x=367
y=271
width=115
height=31
colour=0xFFAA44
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Fire Catapult"

[com_158]
type=Sprite
buttonType=Button
x=383
y=269
width=103
height=36
eventCode=flag22

[com_159]
type=Model
x=201
y=223
width=32
height=32
model1Id=4853
modelZoom=1485
modelXAn=512

[com_160]
type=Model
x=73
y=101
width=32
height=32
model1Id=4853
modelZoom=1485
modelXAn=512

[com_161]
type=Model
x=93
y=122
width=32
height=32
model1Id=4856
model2Id=4856
modelZoom=2889
modelXAn=512

[com_162]
type=Sprite
x=473
y=24
width=26
height=23
overLayerId=164
graphic=535

[com_163]
type=Sprite
buttonType=Close
x=2
y=6
width=26
height=23
layerId=3539108
overLayerId=164
graphic=536
buttonText="Ok"

[com_164]
type=Layer
x=471
y=18
width=32
height=32
hide=yes
