[castlewars_game_hud]
type=Text
x=152
y=23
width=96
height=12
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="Zamorak = %1"
script1op1=varbit,castlewars_zamorak_score

[castlewars_zamorak_eject]
type=Text
x=251
y=23
width=111
height=12
colour=0xFFFFFF
hAlign=Center
font=494
shadow=yes
text="%1 = Saradomin"
script1op1=varbit,castlewars_saradomin_score

[sara_side]
type=Model
y=89
width=32
height=32
model1Id=4858
modelZoom=2134

[com_3]
type=Model
y=124
width=32
height=32
model1Id=4862
modelZoom=2134

[saradomin_score]
type=Text
x=33
y=38
width=11
height=11
colour2=0x00FF00
font=494
text2="Safe"
script1=eq,0
script1op1=varbit,castlewars_saradomin_flag

[saradomin_flag]
type=Text
x=35
y=73
width=11
height=11
colour2=0x00FF00
font=494
text2="Safe"
script1=eq,0
script1op1=varbit,castlewars_zamorak_flag

[taken_by_zam_player]
type=Layer
y=180
width=106
height=148

[zama_side]
type=Text
x=33
y=8
width=69
height=25
layerId=3866630
colour=0x00FF00
colour2=0xFF0000
font=494
text="Health %1%"
text2="Health 0%"
script1=eq,0
script1op1=varbit,castlewars_zamorak_maindoor

[com_8]
type=Text
x=442
y=318
width=68
height=11
colour=0xFFFFFF
hAlign=Center
font=494
text="%1 Min"
script1op1=varp,castlewars_timer

[zamorak_score]
type=Model
x=1
y=4
width=32
height=32
layerId=3866630
model1Id=4855
modelZoom=1244
modelXAn=512

[zamorak_flag]
type=Model
x=-5
y=35
width=32
height=32
layerId=3866630
model1Id=4859
modelZoom=1165
modelXAn=512

[taken_by_sara_player]
type=Text
x=33
y=43
width=71
height=26
layerId=3866630
colour=0x00FF00
colour2=0xFF0000
font=494
text="Locked"
text2="Unlocked"
script1=eq,1
script1op1=varbit,castlewars_zamorak_sidedoor

[time_remaining]
type=Model
x=1
y=59
width=32
height=32
layerId=3866630
model1Id=4861
modelZoom=2063
modelXAn=512

[castlewars_ticket_info]
type=Text
x=33
y=78
width=71
height=22
layerId=3866630
colour=0x00FF00
colour2=0xFF0000
font=494
text="Collapsed"
text2="Cleared"
script1=eq,1
script1op1=varbit,castlewars_zamorak_tunnel1

[castlewars_icon_sar]
type=Model
x=1
y=264
width=32
height=32
model1Id=4861
modelZoom=2063
modelXAn=512

[gold_frame_2_layer]
type=Text
x=33
y=103
width=71
height=22
layerId=3866630
colour=0x00FF00
colour2=0xFF0000
font=494
text="Collapsed"
text2="Cleared"
script1=eq,1
script1op1=varbit,castlewars_zamorak_tunnel2

[gold_frame_2_background_layer]
type=Model
y=111
width=32
height=32
layerId=3866630
model1Id=4853
modelZoom=1135
modelXAn=512

[gold_frame_2_content_layer]
type=Text
x=33
y=128
width=71
height=19
layerId=3866630
colour=0x00FF00
colour2=0xFF0000
font=494
text="Operational"
text2="Destroyed"
script1=eq,1
script1op1=varbit,castlewars_zamorak_catapult

[health]
type=Text
x=33
y=38
width=11
height=11
colour2=0xFF0000
font=494
shadow=yes
text2="Taken"
script1=eq,1
script1op1=varbit,castlewars_saradomin_flag

[door]
type=Text
x=33
y=38
width=11
height=11
colour2=0xFFFF00
font=494
shadow=yes
text2="Dropped"
script1=eq,2
script1op1=varbit,castlewars_saradomin_flag

[tunnel1]
type=Text
x=35
y=73
width=11
height=11
colour2=0xFF0000
font=494
shadow=yes
text2="Taken"
script1=eq,1
script1op1=varbit,castlewars_zamorak_flag

[tunnel2]
type=Text
x=35
y=73
width=11
height=11
colour2=0xFFFF00
font=494
shadow=yes
text2="Dropped"
script1=eq,2
script1op1=varbit,castlewars_zamorak_flag

[catapult]
type=Text
x=247
y=119
width=4
height=4
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
