[button_build]
type=Model
x=-4
y=-3
width=521
height=346
model1Id=9371
modelZoom=191
modelXAn=513
discardedModelField=0

[letter_1]
type=Rectangle
x=2
y=68
width=508
height=172
colour=0x202020
fill=yes

[letter_2]
type=Rectangle
x=7
y=74
width=499
height=164
colour=0x404040
fill=yes

[letter_3]
type=Layer
x=11
y=31
width=488
height=36

[letter_4]
type=Model
x=7
y=97
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[letter_5]
type=Model
x=90
y=97
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[letter_6]
type=Model
x=173
y=97
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[letter_container]
type=Model
x=256
y=97
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[com_8]
type=Model
x=340
y=98
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[dropdown_1]
type=Model
x=424
y=97
width=83
height=80
model1Id=3041
modelZoom=800
modelXAn=400
modelYOf=1
discardedModelField=0

[mainmodal_window]
type=Text
x=43
y=113
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[mainmodal_window_background]
type=Text
x=126
y=113
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[mainmodal_window_content]
type=Text
x=210
y=113
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[3x3_button]
type=Text
x=292
y=114
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[cat_name]
type=Text
x=376
y=114
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[3x1_positive]
type=Text
x=460
y=114
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[cathead1]
type=Model
x=76
y=-26
width=361
height=93
model1Id=9372
modelZoom=278
modelXAn=396
modelYAn=6
modelXOf=-17
modelYOf=7
discardedModelField=0

[cathead2]
type=Sprite
x=15
y=194
width=31
height=24
graphic=425
eventCode=hasOp(1)
opName0="Previous"

[cat_eye1]
type=Sprite
x=51
y=194
width=31
height=24
graphic=426
eventCode=hasOp(1)
opName0="Next"

[cat_2]
type=Sprite
x=97
y=194
width=32
height=25
graphic=425
eventCode=hasOp(1)
opName0="Previous"

[cat_3]
type=Sprite
x=133
y=194
width=32
height=25
graphic=426
eventCode=hasOp(1)
opName0="Next"

[cat_1]
type=Sprite
x=179
y=194
width=32
height=25
graphic=425
eventCode=hasOp(1)
opName0="Pevious"

[mainmodal_window_border]
type=Sprite
x=216
y=194
width=32
height=25
graphic=426
eventCode=hasOp(1)
opName0="Next"

[mainmodal_window_close_button]
type=Sprite
x=264
y=194
width=32
height=25
graphic=425
eventCode=hasOp(1)
opName0="Previous"

[dropdown_build_1]
type=Sprite
x=300
y=194
width=32
height=25
graphic=426
eventCode=hasOp(1)
opName0="Next"

[dropdown_click_1]
type=Sprite
x=348
y=194
width=32
height=25
graphic=425
eventCode=hasOp(1)
opName0="Previous"

[com_26]
type=Sprite
x=384
y=194
width=32
height=25
graphic=426
eventCode=hasOp(1)
opName0="Next"

[dropdown_2]
type=Sprite
x=468
y=193
width=32
height=25
graphic=426
eventCode=hasOp(1)
opName0="Previous"

[dropdown_build_2]
type=Sprite
x=433
y=193
width=32
height=25
graphic=425
eventCode=hasOp(1)
opName0="Next"

[dropdown_click_2]
type=Sprite
x=482
y=10
width=26
height=23
graphic=539
onmouseover=44,3997725,540
onmouseleave=44,3997725,539
onclick=29

[com_30]
type=Text
x=160
y=36
width=206
height=14
colour=0xFFAA44
hAlign=Center
font=496
shadow=yes
text="Name Your Cat"

[dropdown_3]
type=Rectangle
x=193
y=262
width=128
height=32
colour=0x404040
fill=yes
eventCode=hasOp(1)
opName0="Confirm"

[dropdown_build_3]
type=Text
x=200
y=269
width=114
height=14
colour=0xFFAA44
hAlign=Center
font=496
text="E N T E R"

[dropdown_click_3]
type=Model
x=42
y=238
width=80
height=86
model1Id=9426
modelZoom=400
modelXAn=11
modelYAn=1941
modelXOf=-40
modelYOf=132
discardedModelField=0

[com_34]
type=Model
x=400
y=252
width=70
height=71
model1Id=3006
modelZoom=400
modelXAn=11
modelYAn=128
modelXOf=50
modelYOf=124
discardedModelField=0

[dropdown_4]
type=Model
x=80
y=265
width=8
height=8
model1Id=9373
modelZoom=491
modelXAn=612
modelYAn=77
modelXOf=1
modelYOf=-3
discardedModelField=0

[dropdown_build_4]
type=Model
x=101
y=268
width=6
height=6
model1Id=9373
modelZoom=550
modelXAn=612
modelYAn=77
modelXOf=1
modelYOf=-3
discardedModelField=0

[dropdown_click_4]
type=Model
x=428
y=264
width=8
height=7
model1Id=9373
modelZoom=427
modelXAn=612
modelYAn=77
modelXOf=1
modelYOf=-2
discardedModelField=0

[com_38]
type=Model
x=410
y=267
width=6
height=6
model1Id=9373
modelZoom=521
modelXAn=612
modelYAn=77
modelXOf=1
modelYOf=-3
discardedModelField=0

[dropdown_5]
type=Layer
x=479
y=7
width=32
height=32
hide=yes
