[mainmodal_window]
type=Model
x=21
y=45
width=470
height=261
model1Id=9853
modelZoom=800
modelXAn=490
modelXOf=5
modelYOf=9
discardedModelField=0

[mainmodal_window_background]
type=Text
x=65
y=59
width=248
height=19
colour=0x362407
hAlign=Center
font=497
text="To: Engineer Claus Mousetrap"

[mainmodal_window_content]
type=Text
x=81
y=82
width=361
height=66
colour=0x362407
font=497
text="This morning I received a complaint about your inability to repair the Camp Tyras catapult, arriving without the tools and materials required.  To avoid further delay, I'll repeat your instructions:"

[com_3]
type=Text
x=82
y=151
width=360
height=81
colour=0x362407
font=497
text="*The replacement wooden parts must be made from MAHOGANY planks and at least MITHRIL nails. <br>*You will need METAL PARTS, which have been ordered from Rolad, the dwarf scholar.<br>The pride of the King's Engineers is at stake, Claus."

[messagescroll1_gf]
type=Text
x=83
y=236
width=191
height=21
colour=0x362407
hAlign=Center
font=497
text="SORT THIS MESS OUT!"

[messagescroll2_gf]
type=Text
x=112
y=263
width=340
height=16
colour=0x362407
hAlign=Right
font=497
text="Chief Engineer, Commander Measures"

[messagescroll3]
type=Sprite
x=421
y=52
width=26
height=23
graphic=537
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,538
onmouseleave=44,component.parentId,537
onop=29

[messagescroll7_gf]
type=Sprite
x=4
y=4
width=26
height=23
layerId=15663112
graphic=538

[messagescroll8_gf]
type=Layer
x=417
y=48
width=32
height=32
hide=yes
