[catcon_power]
type=Rectangle
x=26
y=40
width=140
height=44
trans=200
fill=yes

[power_bar]
type=Rectangle
x=11
y=144
width=170
height=60
trans=200
fill=yes

[32px_arrow_down]
type=Model
x=78
y=155
width=38
height=36
model1Id=14936
modelZoom=2576
modelXAn=400
modelYAn=2029
modelYOf=-1
discardedModelField=0

[32px_arrow_up]
type=Model
x=78
y=155
width=38
height=36
model1Id=14938
modelZoom=2576
modelXAn=400
modelYAn=2029
modelYOf=-1
discardedModelField=0
eventCode=hasOp(1)
opName0="Fire-Catapult"
onmouseover=67,component.parentId,14936
onmouseleave=67,component.parentId,14938
onop=860

[counterweight]
type=Rectangle
x=78
y=156
width=40
height=34
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,44695590
onmouserepeat=38,component.parentId,44695590,"Fire the catapult.",25,180

[direction]
type=Model
x=67
y=146
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[catcon_power_2]
type=Model
x=115
y=146
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[3x1_positive]
type=Model
x=115
y=189
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[32px_arrow_right]
type=Model
x=67
y=189
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[32px_arrow_left]
type=Model
x=21
y=160
width=37
height=27
model1Id=32196
modelZoom=2320
modelZAn=508
modelXOf=-3
discardedModelField=0
eventCode=hasOp(1)
opName0="Carve-Left"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196
onop=858

[back]
type=Rectangle
x=21
y=160
width=36
height=29
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,44695590
onmouserepeat=38,component.parentId,44695590,"Aim the catapult left.",25,180

[power]
type=Model
x=135
y=160
width=37
height=27
model1Id=32196
modelZoom=2320
modelZAn=1532
modelXOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Carve-Right"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196
onop=859

[com_12]
type=Rectangle
x=135
y=160
width=36
height=29
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,44695590
onmouserepeat=38,component.parentId,44695590,"Aim the catapult right.",25,180

[base]
type=Rectangle
x=170
y=53
width=17
height=16
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,44695590
onmouserepeat=38,component.parentId,44695590,"Increase counterweight.",25,180

[3x1_negative]
type=Rectangle
x=3
y=53
width=17
height=16
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,44695590
onmouserepeat=38,component.parentId,44695590,"Decrease counterweight.",25,180

[positive_build]
type=Sprite
x=-5
y=142
width=32
height=64
graphic=1075

[positive_click]
type=Sprite
x=168
y=142
width=32
height=64
graphic=1075

[negative_build]
type=Sprite
x=9
y=126
width=173
height=32
graphic=1074
tiling=yes

[negative_click]
type=Sprite
x=9
y=188
width=173
height=32
graphic=1074
tiling=yes

[com_19]
type=Sprite
x=26
y=22
width=140
height=32
graphic=1074
tiling=yes

[com_20]
type=Sprite
x=26
y=67
width=139
height=32
graphic=1074
tiling=yes

[com_21]
type=Sprite
x=13
y=39
width=32
height=44
graphic=1075
tiling=yes
baseOpName=" "

[com_22]
type=Sprite
x=151
y=39
width=32
height=44
graphic=1075
tiling=yes

[com_23]
type=Model
modelZoom=400
discardedModelField=0

[com_24]
type=Sprite
x=4
y=53
width=16
height=16
graphic=1172
eventCode=hasOp(1)
opName0="Decrease-Weight"
onmouseover=44,component.parentId,1173
onmouseleave=44,component.parentId,1172

[com_25]
type=Sprite
x=171
y=53
width=16
height=16
graphic=1174
eventCode=hasOp(1)
opName0="Increase-Weight"
onmouseover=44,component.parentId,1175
onmouseleave=44,component.parentId,1174

[com_26]
type=Layer
x=44
y=56
width=146
height=14

[com_27]
type=Rectangle
width=146
height=14
layerId=44695578
trans=255
colour=0xFFFF00

[com_28]
type=Model
x=3
width=143
height=13
layerId=44695578
model1Id=32231
modelZoom=1153
modelXAn=500
discardedModelField=0

[com_29]
type=Model
x=2
width=16
height=13
layerId=44695578
hide=yes
model1Id=31717
modelZoom=1153
modelXAn=500
modelXOf=63
discardedModelField=0

[com_30]
type=Model
x=16
width=16
height=13
layerId=44695578
model1Id=31703
modelZoom=1153
modelXAn=500
modelXOf=49
discardedModelField=0

[com_31]
type=Model
x=31
width=15
height=13
layerId=44695578
hide=yes
model1Id=31709
modelZoom=1153
modelXAn=500
modelXOf=35
discardedModelField=0

[com_32]
type=Model
x=45
width=15
height=13
layerId=44695578
model1Id=31718
modelZoom=1153
modelXAn=500
modelXOf=21
discardedModelField=0

[com_33]
type=Model
x=59
width=15
height=13
layerId=44695578
model1Id=31705
modelZoom=1153
modelXAn=500
modelXOf=7
discardedModelField=0

[com_34]
type=Model
x=73
width=15
height=13
layerId=44695578
model1Id=31715
modelZoom=1153
modelXAn=500
modelXOf=-7
discardedModelField=0

[com_35]
type=Model
x=87
width=15
height=13
layerId=44695578
model1Id=31714
modelZoom=1153
modelXAn=500
modelXOf=-21
discardedModelField=0

[com_36]
type=Text
x=22
y=16
width=146
height=15
colour=0xFFFFCC
hAlign=Center
vAlign=Bottom
font=494
text="COUNTERWEIGHT"

[com_37]
type=Text
x=24
y=120
width=146
height=15
colour=0xFFFFCC
hAlign=Center
vAlign=Bottom
font=494
text="DIRECTION"

[com_38]
type=Layer
x=-3
y=-14
width=203
height=263
layerId=44695595

[com_39]
type=Model
x=33
y=43
width=9
height=9
model1Id=32157
modelZoom=2960
discardedModelField=0
baseOpName=" "

[com_40]
type=Model
x=151
y=43
width=9
height=9
model1Id=32157
modelZoom=2960
discardedModelField=0

[com_41]
type=Model
x=33
y=72
width=9
height=9
model1Id=32157
modelZoom=2960
discardedModelField=0

[com_42]
type=Model
x=151
y=72
width=9
height=9
model1Id=32157
modelZoom=2960
discardedModelField=0

[com_43]
type=Layer
x=12
y=15
width=167
height=227
