[catcon_catapult_up_pointer]
type=Layer
width=512
height=334

[com_1]
type=Rectangle
x=8
y=7
width=487
height=10
layerId=44564480
trans=150
fill=yes

[com_2]
type=Rectangle
x=495
y=7
width=10
height=310
layerId=44564480
trans=150
fill=yes

[com_3]
type=Rectangle
x=7
y=17
width=10
height=300
layerId=44564480
trans=150
fill=yes

[com_4]
type=Rectangle
x=7
y=317
width=498
height=10
layerId=44564480
trans=150
fill=yes
baseOpName=" "

[com_5]
type=Rectangle
x=8
y=7
width=492
height=5
layerId=44564480
trans=150
fill=yes

[com_6]
type=Rectangle
x=500
y=7
width=5
height=315
layerId=44564480
trans=150
fill=yes

[com_7]
type=Rectangle
x=7
y=12
width=5
height=310
layerId=44564480
trans=150
fill=yes

[com_8]
type=Rectangle
x=7
y=322
width=498
height=5
layerId=44564480
trans=150
fill=yes
baseOpName=" "

[com_9]
type=Sprite
x=219
y=235
width=75
height=93
layerId=44564480
graphic=1223

[com_10]
type=Sprite
x=420
y=120
width=75
height=93
layerId=44564480
hide=yes
graphic=1223
rotate=16384
hFlip=yes

[com_11]
type=Sprite
x=-13
y=32
width=32
height=270
layerId=44564480
graphic=821
tiling=yes

[com_12]
type=Sprite
width=32
height=32
layerId=44564480
graphic=824

[com_13]
type=Sprite
x=492
y=32
width=32
height=270
layerId=44564480
graphic=823
tiling=yes

[com_14]
type=Sprite
x=32
y=-13
width=448
height=34
layerId=44564480
graphic=820
tiling=yes

[com_15]
type=Sprite
x=32
y=314
width=448
height=32
layerId=44564480
graphic=822
tiling=yes

[com_16]
type=Sprite
y=302
width=32
height=32
layerId=44564480
graphic=826

[com_17]
type=Sprite
x=480
width=32
height=32
layerId=44564480
graphic=825

[com_18]
type=Sprite
x=480
y=302
width=32
height=32
layerId=44564480
graphic=827

[com_19]
type=Sprite
x=487
y=8
width=16
height=16
graphic=831
eventCode=hasOp(1)
baseOpName=" "
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
