[mainmodal_window]
type=Model
x=290
y=270
width=32
height=32
model1Id=6915
modelZoom=321
modelXAn=123
modelYAn=1945

[mainmodal_window_background]
type=Model
x=277
y=271
width=32
height=32
model1Id=6923
modelZoom=321
modelXAn=123
modelYAn=1945

[mainmodal_window_content]
type=Sprite
x=478
y=6
width=26
height=23
overLayerId=4
graphic=539

[symbol]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=4063236
overLayerId=4
graphic=540
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=475
y=1
width=32
height=32
hide=yes
