[chat_container]
type=Layer
width=506
height=130
hide=yes

[mobile_listener]
type=Layer
x=38
y=2
width=466
height=14
layerId=8978432

[mobile_listener_graphic]
type=Layer
width=466
height=14
layerId=8978433

[quickchat]
type=Text
x=38
y=2
width=466
height=14
layerId=8978432
hide=yes
colour=0xFFFF00
font=494
shadow=yes

[quickchat_path]
type=Sprite
y=1
width=16
height=16
layerId=8978432
graphic=415
eventCode=hasOp(1)
opName0="Close Quick Chat"
onmouseover=1055,component.parentId
onmouseleave=1056,component.parentId
onop=1053

[quickchat_path_highlight]
type=Sprite
x=21
y=1
width=16
height=16
layerId=8978432
graphic=417
eventCode=hasOp(1)
opName0="Quick Chat Help"
onmouseover=1057,component.parentId
onmouseleave=1058,component.parentId

[quickchat_title]
type=Rectangle
y=16
width=506
height=2
layerId=8978432
colour=0x847963

[quickchat_closebutton]
type=Layer
x=2
y=18
width=502
height=112
layerId=8978432
hide=yes

[quickchat_helpbutton]
type=Text
y=30
width=506
height=14
layerId=8978439
hAlign=Center
vAlign=Center
font=495
text="0"

[quickchat_separator_h]
type=Layer
x=2
y=18
width=502
height=112
layerId=8978432
hide=yes

[quickchat_countdialog]
type=Text
width=506
height=14
layerId=8978441
hAlign=Center
vAlign=Center
font=495
text="Please select an option from the list below:"

[quickchat_countdialog_input]
type=Layer
x=486
y=14
width=16
height=98
layerId=8978441
onload=30,component.parentId,8978444

[quickchat_listdialog]
type=Layer
y=14
width=486
height=98
layerId=8978441

[quickchat_listdialog_text]
type=Layer
x=2
y=18
width=502
height=112
layerId=8978432
hide=yes

[quickchat_listdialog_scroll]
type=Text
width=506
height=14
layerId=8978445
hAlign=Center
vAlign=Center
font=495
text="Please enter a search term and select an object from the list:"

[quickchat_listdialog_options]
type=Layer
x=486
y=14
width=16
height=98
layerId=8978445
onload=30,component.parentId,8978448

[quickchat_objdialog]
type=Layer
y=14
width=486
height=98
layerId=8978445

[quickchat_objdialog_input]
type=Layer
x=2
y=18
width=502
height=112
layerId=8978432

[quickchat_objdialog_scroll]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_objdialog_search]
type=Layer
width=502
height=112
layerId=8978450

[quickchat_menu]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_0]
type=Layer
width=502
height=112
layerId=8978452

[quickchat_menu_highlight_0]
type=Rectangle
width=2
height=112
layerId=8978452
colour=0x847963
fill=yes

[quickchat_menu_1]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_1]
type=Layer
width=502
height=112
layerId=8978455

[quickchat_menu_separator_1]
type=Rectangle
width=2
height=112
layerId=8978455
colour=0x847963
fill=yes

[quickchat_menu_2]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_2]
type=Layer
width=502
height=112
layerId=8978458

[quickchat_menu_separator_2]
type=Rectangle
width=2
height=112
layerId=8978458
colour=0x847963
fill=yes

[quickchat_menu_3]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_3]
type=Layer
width=502
height=112
layerId=8978461

[quickchat_menu_separator_3]
type=Rectangle
width=2
height=112
layerId=8978461
colour=0x847963
fill=yes

[quickchat_menu_4]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_4]
type=Layer
width=502
height=112
layerId=8978464

[quickchat_menu_separator_4]
type=Rectangle
width=2
height=112
layerId=8978464
colour=0x847963
fill=yes

[quickchat_menu_5]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_5]
type=Layer
width=502
height=112
layerId=8978467

[quickchat_menu_separator_5]
type=Rectangle
width=2
height=112
layerId=8978467
colour=0x847963
fill=yes

[quickchat_menu_6]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_6]
type=Layer
width=502
height=112
layerId=8978470

[quickchat_menu_separator_6]
type=Rectangle
width=2
height=112
layerId=8978470
colour=0x847963
fill=yes

[quickchat_menu_7]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_7]
type=Layer
width=502
height=112
layerId=8978473

[quickchat_menu_separator_7]
type=Rectangle
width=2
height=112
layerId=8978473
colour=0x847963
fill=yes

[quickchat_menu_8]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_8]
type=Layer
width=502
height=112
layerId=8978476

[quickchat_menu_separator_8]
type=Rectangle
width=2
height=112
layerId=8978476
colour=0x847963
fill=yes

[quickchat_menu_9]
type=Layer
width=502
height=112
layerId=8978449

[quickchat_menu_highlight_9]
type=Layer
width=502
height=112
layerId=8978479

[quickchat_menu_separator_9]
type=Rectangle
width=2
height=112
layerId=8978479
colour=0x847963
fill=yes

[quickchat_menu_10]
type=Layer
width=506
height=130

[quickchat_menu_highlight_10]
type=Text
x=3
y=114
width=501
height=16
layerId=8978482
font=495
onload=80

[quickchat_menu_separator_10]
type=Layer
x=3
y=114
width=501
height=16
layerId=8978482
eventCode=hasOp(1,2)
opName0="Public Quick Chat"
opName1="Clan Quick Chat"
onop=1049,opindex

[quickchat_highlight_rect]
type=Line
x=1
y=114
width=504
layerId=8978482
colour=0x807660

[rebuild_timer]
type=Layer
width=488
height=114
layerId=8978482
scrollHeight=999

[chat]
type=Layer
x=488
width=16
height=114
layerId=8978482
onload=30,component.parentId,8978486

[top_layer]
type=Text
x=3
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dropdown_layer]
type=Text
x=3
y=14
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dropdown_build]
type=Text
x=3
y=28
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dropdown_click]
type=Text
x=3
y=42
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[filters_layer]
type=Text
x=3
y=56
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[filters_build]
type=Text
x=3
y=70
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[filters_click]
type=Text
x=3
y=84
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[actions_layer]
type=Text
x=3
y=98
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[actions_build]
type=Text
x=3
y=112
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
baseOpName=" "
opName7="8"
onop=86,opindex,"event_opbase",0

[actions_click]
type=Text
x=3
y=126
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[divider_top]
type=Text
x=3
y=140
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[player_input_wrapper]
type=Text
x=3
y=154
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[mobile_player_input_background]
type=Text
x=3
y=168
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[divider_graphic]
type=Text
x=3
y=182
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[mobile_channel_name]
type=Text
x=3
y=196
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[mobile_channel_graphic]
type=Text
x=3
y=210
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[mobile_channel_text]
type=Text
x=3
y=224
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[group_ironman_ops]
type=Text
x=3
y=238
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[player_name]
type=Text
x=3
y=252
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[highlight_rect]
type=Text
x=3
y=266
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[inputarea]
type=Text
x=3
y=280
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[wiki_button_wrapper]
type=Text
x=3
y=294
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[wiki_button]
type=Text
x=3
y=308
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[wiki_button_build]
type=Text
x=3
y=322
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[wiki_button_click]
type=Text
x=3
y=336
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[wiki_icon]
type=Text
x=3
y=350
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[input]
type=Text
x=3
y=364
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[caret]
type=Text
x=3
y=378
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[chat_render_layer]
type=Text
x=3
y=392
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[mobile_render_background]
type=Text
x=3
y=406
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[scrollarea]
type=Text
x=3
y=420
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[scrollbar]
type=Text
x=3
y=434
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dob_layer]
type=Text
x=3
y=448
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[blocklayer]
type=Text
x=3
y=462
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_90]
type=Text
x=3
y=476
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_91]
type=Text
x=3
y=490
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_92]
type=Text
x=3
y=504
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[borders_4]
type=Text
x=3
y=518
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_94]
type=Text
x=3
y=532
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_95]
type=Text
x=3
y=546
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_96]
type=Text
x=3
y=560
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_97]
type=Text
x=3
y=574
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_98]
type=Text
x=3
y=588
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_99]
type=Text
x=3
y=602
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_100]
type=Text
x=3
y=616
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_101]
type=Text
x=3
y=630
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[controls]
type=Text
x=3
y=644
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dayddback]
type=Text
x=3
y=658
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[monthddback]
type=Text
x=3
y=672
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[yearddback]
type=Text
x=3
y=686
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[day]
type=Text
x=3
y=700
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[daytext]
type=Text
x=3
y=714
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[borders_1]
type=Text
x=3
y=728
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_109]
type=Text
x=3
y=742
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_110]
type=Text
x=3
y=756
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_111]
type=Text
x=3
y=770
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_112]
type=Text
x=3
y=784
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_113]
type=Text
x=3
y=798
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_114]
type=Text
x=3
y=812
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_115]
type=Text
x=3
y=826
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_116]
type=Text
x=3
y=840
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dayddbutton]
type=Text
x=3
y=854
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_118]
type=Text
x=3
y=868
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_119]
type=Text
x=3
y=882
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_120]
type=Text
x=3
y=896
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dayarrow]
type=Text
x=3
y=910
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[month]
type=Text
x=3
y=924
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[monthtext]
type=Text
x=3
y=938
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[borders_3]
type=Text
x=3
y=952
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_125]
type=Text
x=3
y=966
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_126]
type=Text
x=3
y=980
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_127]
type=Text
x=3
y=994
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_128]
type=Text
x=3
y=1008
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_129]
type=Text
x=3
y=1022
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_130]
type=Text
x=3
y=1036
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_131]
type=Text
x=3
y=1050
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_132]
type=Text
x=3
y=1064
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[monthddbutton]
type=Text
x=3
y=1078
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_134]
type=Text
x=3
y=1092
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_135]
type=Text
x=3
y=1106
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_136]
type=Text
x=3
y=1120
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[montharrow]
type=Text
x=3
y=1134
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[year]
type=Text
x=3
y=1148
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[yeartext]
type=Text
x=3
y=1162
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[borders_2]
type=Text
x=3
y=1176
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_141]
type=Text
x=3
y=1190
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_142]
type=Text
x=3
y=1204
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_143]
type=Text
x=3
y=1218
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_144]
type=Text
x=3
y=1232
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_145]
type=Text
x=3
y=1246
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_146]
type=Text
x=3
y=1260
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_147]
type=Text
x=3
y=1274
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_148]
type=Text
x=3
y=1288
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[yearddbutton]
type=Text
x=3
y=1302
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_150]
type=Text
x=3
y=1316
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_151]
type=Text
x=3
y=1330
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_152]
type=Text
x=3
y=1344
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[yeararrow]
type=Text
x=3
y=1358
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[dayddlistborder]
type=Text
x=3
y=1372
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0

[com_155]
type=Text
x=3
y=1386
width=484
height=14
layerId=8978486
font=495
eventCode=hasOp(8)
opName7="8"
onop=86,opindex,"event_opbase",0
