[window]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[background]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[content]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[options]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[option_1]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[option_1_on]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[option_1_over]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[option_1_hit]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[option_1_text]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[option_text_1]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[text_1]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[option_2]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[option_2_on]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,38010892,832
onmouseleave=44,38010892,831
onop=29

[option_2_over]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[option_2_hit]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Mort Myre is a dangerous ghast-infested swamp.<br> Do not enter if you value your life."

[option_2_text]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[option_text_2]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[text_2]
type=Text
x=108
y=157
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Enter the swamp."
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[option_3]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Stay out"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[option_3_on]
type=Text
x=1
y=2
width=315
height=15
layerId=38010901
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[option_3_over]
type=Sprite
x=2
width=19
height=19
layerId=38010901
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,38010900,20
onclick=163,38010900
onvartransmitlist=1046

[option_3_hit]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
