[parent]
type=Rectangle
x=-13
y=-6
width=501
height=109

[event_overview_layer]
type=Model
x=190
y=19
width=32
height=32
model1Id=8787
modelZoom=258
modelXAn=500

[event_overview_background]
type=Model
x=17
y=20
width=32
height=32
model1Id=8788
modelZoom=258
modelXAn=500

[event_overview_parchment_info_layer]
type=Model
x=190
y=20
width=32
height=32
model1Id=8788
modelZoom=258
modelXAn=500

[event_overview_background_parchment]
type=Model
x=365
y=18
width=32
height=32
model1Id=8788
modelZoom=258
modelXAn=500

[event_overview_background_holly]
type=Model
buttonType=Pause
x=37
y=36
width=60
height=60
model1Id=8831
modelAnim=sarnie_rotate
modelZoom=400
eventCode=pauseButton

[event_overview_info_layer]
type=Model
buttonType=Pause
x=212
y=39
width=60
height=60
model1Id=8834
modelAnim=sarnie_rotate
modelZoom=400
eventCode=pauseButton

[event_overview_teleport_button]
type=Model
buttonType=Pause
x=386
y=36
width=60
height=60
model1Id=8837
modelAnim=sarnie_rotate
modelZoom=446
eventCode=pauseButton

[event_overview_info_title]
type=Text
x=153
y=8
width=170
height=29
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Pick the odd one out."
