[gold_window_layer]
type=Sprite
x=26
y=31
width=24
height=24
graphic=329
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,329,379,50,"Smoke Rush","A single target smoke attack",562,2,560,2,554,1,556,1

[gold_window_background_layer]
type=Sprite
x=66
y=31
width=24
height=24
graphic=337
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,337,387,52,"Shadow Rush","A single target shadow attack",562,2,560,2,556,1,566,1

[gold_window_content_layer]
type=Sprite
x=106
y=31
width=24
height=24
graphic=333
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,333,383,56,"Blood Rush","A single target blood attack",562,2,560,2,565,1,-1,0

[side_frame_layer]
type=Sprite
x=146
y=31
width=24
height=24
graphic=325
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,325,375,58,"Ice Rush","A single target ice attack",562,2,560,2,555,2,-1,0

[com_4]
type=Sprite
x=25
y=82
width=24
height=24
graphic=330
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,330,380,62,"Smoke Burst","A multi-target smoke attack",562,4,560,2,554,2,556,2

[com_5]
type=Sprite
x=65
y=82
width=24
height=24
graphic=338
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,338,388,64,"Shadow Burst","A multi-target shadow attack",562,4,560,2,556,1,566,2

[day_layer]
type=Sprite
x=105
y=82
width=24
height=24
graphic=334
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,334,384,68,"Blood Burst","A multi-target blood attack",562,4,560,2,565,2,-1,0

[com_7]
type=Sprite
x=145
y=82
width=24
height=24
graphic=326
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,326,376,70,"Ice Burst","A multi-target ice attack",562,4,560,2,555,4,-1,0

[com_8]
type=Sprite
x=25
y=141
width=24
height=24
graphic=331
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,331,381,74,"Smoke Blitz","A single target strong smoke attack",560,2,565,2,554,2,556,2

[com_9]
type=Sprite
x=65
y=142
width=24
height=24
graphic=339
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,339,389,76,"Shadow Blitz","A single target strong shadow attack",560,2,565,2,556,2,566,2

[icon_button_resize_on_layer_8]
type=Sprite
x=105
y=142
width=24
height=24
graphic=335
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,335,385,80,"Blood Blitz","A single target strong blood attack",560,2,565,4,-1,0,-1,0

[icon_button_resize_over_layer_8]
type=Sprite
x=145
y=142
width=24
height=24
graphic=327
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,327,377,82,"Ice Blitz","A single target strong ice attack",560,2,565,2,555,3,-1,0

[icon_button_resize_hit_layer_8]
type=Sprite
x=25
y=198
width=24
height=24
graphic=332
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,332,382,86,"Smoke Barrage","A multi-target smoke attack",560,4,565,2,554,4,556,4

[day_selected]
type=Sprite
x=65
y=198
width=24
height=24
graphic=340
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,340,390,88,"Shadow Barrage","A multi-target strong shadow attack",560,4,565,2,556,4,566,3

[day_button]
type=Sprite
x=105
y=198
width=24
height=24
graphic=336
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,336,386,92,"Blood Barrage","A multi-target strong blood attack",560,4,565,4,566,1,-1,0

[icon_button_resize_content_layer_8]
type=Sprite
x=145
y=198
width=24
height=24
graphic=328
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,25427985,328,378,94,"Ice Barrage","A multi-target strong ice attack",560,4,565,2,555,6,-1,0

[com_16]
type=Text
x=127
y=241
width=60
height=16
colour=0x808080
hAlign=Center
font=495
shadow=yes
text="Cancel"
eventCode=hasOp(1)
opName0="Cancel"
onmouseover=45,component.parentId,13158600
onmouseleave=45,component.parentId,8421504

[day_disabled]
type=Layer
width=190
height=261
