[com_0]
type=Sprite
x=80
y=202
width=36
height=36
graphic=177

[se_text]
type=Sprite
x=65
y=202
width=36
height=36
graphic=177

[se_button]
type=Sprite
x=39
y=202
width=36
height=36
graphic=177

[com_3]
type=Sprite
x=97
y=202
width=36
height=36
graphic=178

[com_4]
type=Sprite
x=119
y=202
width=36
height=36
graphic=178

[com_5]
type=Text
clientCode=205
x=43
y=207
width=110
height=25
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Stop viewing"
targetVerb="Exit"
eventCode=hasOp(1)
opName0="Exit"
onmouseover=45,component.parentId,16776960
onmouseleave=45,component.parentId,16777215

[com_6]
type=Model
x=81
y=67
width=29
height=52
model1Id=30261
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
modelYOf=20
discardedModelField=0

[com_7]
type=Model
x=25
y=14
width=29
height=52
model1Id=30261
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
modelYOf=20
discardedModelField=0

[clanwars_orb_off]
type=Model
x=137
y=14
width=29
height=52
model1Id=30261
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
modelYOf=20
discardedModelField=0

[stop_button]
type=Model
x=25
y=120
width=29
height=52
model1Id=30261
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
modelYOf=20
discardedModelField=0

[nw]
type=Model
x=137
y=120
width=29
height=52
model1Id=30261
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
modelYOf=20
discardedModelField=0

[n]
type=Text
x=60
y=119
width=69
height=14
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Centre"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[s]
type=Text
x=5
y=66
width=95
height=13
colour=0xFF981F
font=495
shadow=yes
text="North-west"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[ne]
type=Text
x=102
y=66
width=82
height=14
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="North-east"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[sw]
type=Text
x=98
y=173
width=85
height=14
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="South-east"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[e]
type=Text
x=4
y=172
width=89
height=15
colour=0xFF981F
font=495
shadow=yes
text="South-west"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623
