[1x1_button_on_layer_5]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[1x1_button_over_layer_5]
type=Text
buttonType=Pause
y=15
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[1x1_button_hit_layer_5]
type=Text
buttonType=Pause
y=31
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[1x1_button_selected_layer_4]
type=Text
buttonType=Pause
y=47
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[leave_clan_button_active_layer]
type=Text
buttonType=Pause
y=63
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option4"
eventCode=pauseButton

[1x1_button_disabled_layer_5]
type=Text
buttonType=Pause
y=79
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option5"
eventCode=pauseButton

[1x1_button_on_layer_4]
type=Sprite
width=57
height=13
layerId=15335432
graphic=302

[1x1_button_over_layer_4]
type=Sprite
x=280
width=57
height=13
layerId=15335432
graphic=301

[1x1_button_hit_layer_4]
type=Layer
x=72
y=1
width=337
height=13

[clan_invite_button_selected]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[clan_invite_target]
type=Sprite
width=57
height=13
layerId=15335433
graphic=302

[clan_invite_button]
type=Sprite
x=419
width=57
height=13
layerId=15335433
graphic=301
