[status]
type=Rectangle
x=260
y=13
width=239
height=54
trans=175
colour=0x999999
fill=yes
baseOpName="  "
onload=689
onvartransmit=689
onvartransmitlist=1147

[background]
type=Rectangle
x=260
y=13
width=239
height=54
trans=175
colour=0x333333
baseOpName="  "

[vline]
type=Text
x=267
y=19
width=94
height=15
colour=0xFF9933
font=494
shadow=yes
text="Clan A's name"

[myteam_name]
type=Text
x=361
y=19
width=95
height=15
colour=0xFF9933
font=494
shadow=yes
text="Players remaining:"

[myteam_living_header]
type=Text
x=267
y=33
width=90
height=15
colour=0xFF9933
font=494
shadow=yes
text="Opposing clan"

[myteam_living]
type=Text
x=361
y=33
width=95
height=15
colour=0xFF9933
font=494
shadow=yes
text="Players remaining:"

[myteam_kills_header]
type=Text
x=466
y=19
width=32
height=15
colour=0xB17037
font=494
shadow=yes
text="0"

[myteam_kills]
type=Text
x=466
y=33
width=32
height=15
colour=0xB27037
font=494
shadow=yes
text="0"

[myteam_kills_target]
type=Text
x=267
y=48
width=84
height=15
colour=0xFF9933
font=494
shadow=yes
text="Time till start"

[theirteam_name]
type=Text
x=361
y=48
width=70
height=15
colour=0xB27037
font=494
shadow=yes
text="0 secs"
