[backdrop_text]
type=Sprite
x=50
y=41
width=24
height=24
graphic=34
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,34,84,39,"Crumble Undead","Hits skeletons, ghosts, shades & zombies hard",557,2,556,2,562,1,-1,0

[audience_text]
type=Sprite
x=114
y=41
width=24
height=24
graphic=60
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,60,110,60,"Claws of Guthix","Summons the power of Guthix",554,1,565,2,556,4,8843,1

[north_gfx]
type=Sprite
x=51
y=110
width=24
height=24
graphic=46
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,46,96,62,"Wind Wave","A high level Air missile",556,5,565,1,-1,0,-1,0

[north_east_gfx]
type=Sprite
x=115
y=110
width=24
height=24
graphic=48
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,48,98,65,"Water Wave","A high level Water missle",555,7,556,5,565,1,-1,0

[north_west_gfx]
type=Sprite
x=52
y=176
width=24
height=24
graphic=51
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,51,101,70,"Earth Wave","A high level Earth missile",557,7,556,5,565,1,-1,0

[south_east_gfx]
type=Sprite
x=116
y=176
width=24
height=24
graphic=52
eventCode=hasOp(1)
opName0="Cast"
onload=6,component.parentId,26607623,52,102,75,"Fire Wave","A high level Fire missile",554,7,556,5,565,1,-1,0

[south_west_gfx]
type=Text
x=124
y=240
width=60
height=16
colour=0x808080
hAlign=Center
font=495
shadow=yes
text="Cancel"
eventCode=hasOp(1)
opName0="Cancel"
onmouseover=45,component.parentId,13158600
onmouseleave=45,component.parentId,8421504

[south_gfx]
type=Layer
width=190
height=261
