[battle5_button]
type=Rectangle
width=523
height=336
trans=160
colour=0x46341D
fill=yes
baseOpName=" "

[battle2_button]
type=Model
x=15
y=14
width=480
height=301
model1Id=26397
modelZoom=1009
modelXAn=512
modelXOf=-2
modelYOf=33
discardedModelField=0

[battle10_button]
type=Layer
x=68
y=121
width=359
height=160

[battle8_button]
type=Layer
x=438
y=121
width=16
height=160

[battle9_button]
type=Text
x=109
y=64
width=340
height=27
colour=0x46320A
hAlign=Center
vAlign=Center
font=497

[battle7_button]
type=Text
x=150
y=36
width=239
height=23
colour=0x46320A
hAlign=Center
vAlign=Center
font=645
text="Congratulations!"

[battle6_button]
type=Text
x=136
y=91
width=286
height=12
colour=0x46320A
hAlign=Center
vAlign=Center
font=497

[battle4_button]
type=Sprite
x=46
y=50
width=55
height=54

[battle3_button]
type=Rectangle
x=101
y=107
width=331
height=1
trans=200
colour=0x46320A
fill=yes

[battle1_button]
type=Sprite
x=432
y=35
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,48562185,542
onmouseleave=44,48562185,541
onop=29
onclick=29

[battle1_layer]
type=Layer
width=512
height=334
baseOpName=" "
onload=972
onvartransmit=972
onvartransmitlist=1230
