[citadel_divider]
type=Layer
width=190
height=261

[recruiting_divider]
type=Rectangle
width=190
height=261
layerId=48168960
trans=100
colour=0x46341D
fill=yes

[rep_divider]
type=Sprite
y=30
width=190
height=32
layerId=48168960
graphic=1121
tiling=yes

[name_divider]
type=Sprite
x=16
width=158
height=32
layerId=48168960
graphic=1121
tiling=yes

[size_divider]
type=Sprite
x=16
y=258
width=158
height=32
layerId=48168960
graphic=1121
tiling=yes

[sort_name_desc_button_layer]
type=Sprite
y=16
width=32
height=229
layerId=48168960
graphic=1122
tiling=yes

[sort_name_asc_button_layer]
type=Sprite
x=187
y=16
width=32
height=229
layerId=48168960
graphic=1122
tiling=yes

[sort_rep_desc_button_layer]
type=Sprite
width=32
height=32
layerId=48168960
graphic=856

[sort_rep_asc_button_layer]
type=Sprite
x=158
width=32
height=32
layerId=48168960
graphic=857

[sort_size_desc_button_layer]
type=Sprite
y=229
width=32
height=32
layerId=48168960
graphic=858

[sort_size_asc_button_layer]
type=Sprite
x=158
y=229
width=32
height=32
layerId=48168960
graphic=859

[sort_recruiting_desc_button_layer]
type=Text
y=2
width=190
height=28
layerId=48168960
colour=0xFF9900
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Travel Log"

[sort_recruiting_asc_button_layer]
type=Sprite
x=170
y=8
width=16
height=14
layerId=48168960
graphic=1156
eventCode=hasOp(1)
opName0="Re-sort list"
onmouseover=960,component.parentId
onmouseleave=961,component.parentId
onop=958,48168973,48169039,48168972

[sort_citadel_desc_button_layer]
type=Layer
x=3
y=32
width=166
height=226
layerId=48168960
scrollHeight=2000
onload=957,component.parentId,48169039,48168972
onvartransmit=957,component.parentId,48169039,48168972
onvartransmitlist=816

[sort_citadel_asc_button_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_name_label]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_rep_label]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_size_label]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_recruiting_label]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_citadel_label]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[scrollbar_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[scrolling_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[mainmodal_window]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[mainmodal_window_background]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[mainmodal_window_content]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[intro]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[info_title]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[info_text]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[forum_link1]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[forum_link2]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[list]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[background]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_citadel]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_citadel_text]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_recruiting]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_recruiting_text]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_rep]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_name]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[clan_size]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[more_button]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[dividers]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[mainmodal_window_border]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[mainmodal_window_close_button]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_asc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_asc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_asc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_asc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_asc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_desc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_desc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_desc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_desc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_name_desc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_desc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_desc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_desc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_desc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_desc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_asc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_asc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_asc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_asc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_rep_asc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_desc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_desc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_desc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_desc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_desc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_asc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_asc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_asc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_asc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_size_asc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_desc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_desc_button_over_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_desc_button_hit_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_desc_button_selected_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_desc_button_active_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_asc_button_on_layer]
type=Text
y=1
width=166
height=15
layerId=48168973
colour=0xFF9900
font=495
shadow=yes

[sort_recruiting_asc_button_over_layer]
type=Layer
x=170
y=32
width=16
height=226
layerId=48168960
