[broadcast_vis_radio_3]
type=Model
x=240
y=152
width=32
height=32
model1Id=11312
modelZoom=434
modelXAn=517

[guest_broadcasts]
type=Model
buttonType=Button
x=138
y=256
width=32
height=32
model1Id=11311
modelZoom=450
modelXAn=517
eventCode=flag22

[broadcast_vis_radio_1]
type=Model
buttonType=Button
x=187
y=257
width=32
height=32
model1Id=11307
modelZoom=450
modelXAn=519
eventCode=flag22

[title]
type=Model
buttonType=Button
x=240
y=257
width=32
height=32
model1Id=11308
modelZoom=450
modelXAn=519
eventCode=flag22

[broadcast_vis_radio_2]
type=Model
buttonType=Button
x=294
y=258
width=32
height=32
model1Id=11309
modelZoom=450
modelXAn=519
eventCode=flag22

[title_1]
type=Model
buttonType=Button
x=343
y=258
width=32
height=32
model1Id=11310
modelZoom=450
modelXAn=519
eventCode=flag22

[back_to_settings]
type=Text
x=24
y=40
width=280
height=14
colour=0xFFFF00
font=495
shadow=yes
text="Click arrow buttons to move taper."

[label_1]
type=Text
x=24
y=56
width=280
height=50
colour=0xFFFF00
font=495
shadow=yes
text="Press the Light button to light the candles."

[broadcast_vis_radio_1_deselected]
type=Sprite
x=452
y=7
width=26
height=23
overLayerId=10
graphic=539

[broadcast_vis_radio_1_selected]
type=Sprite
buttonType=Button
x=3
y=5
width=26
height=23
layerId=11665418
graphic=540
eventCode=flag22

[label_2]
type=Layer
x=449
y=2
width=32
height=32
hide=yes
