[com_0]
type=Text
x=10
y=26
width=170
height=14
colour=0xFF9B00
font=494
shadow=yes
text="Talking in: Not in chat"

[com_1]
type=Text
x=25
y=41
width=155
height=14
colour=0xFF9B00
font=494
shadow=yes
text="Owner: None"

[com_2]
type=Layer
x=15
y=226
width=72
height=32
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_3]
type=Layer
x=95
y=226
width=72
height=32
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_4]
type=Rectangle
x=3
y=62
width=171
height=156
trans=166
colour=0x170801
fill=yes

[com_5]
type=Layer
x=9
y=63
width=160
height=154
onload=195,component.parentId

[com_6]
type=Layer
x=174
y=56
width=16
height=168

[com_7]
type=Text
x=64
y=4
width=64
height=16
colour=0xFF9B00
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Clan Chat"

[com_8]
type=Text
x=18
y=229
width=66
height=26
colour=0xFF9B00
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Join Chat"
eventCode=hasOp(1)
opName0="Join Chat"
onop=194,opindex

[com_9]
type=Text
x=98
y=229
width=66
height=26
colour=0xFF9B00
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Clan Setup"
eventCode=hasOp(1)
opName0="Clan Setup"

[com_10]
type=Sprite
x=3
y=56
width=171
height=6
graphic=962
tiling=yes

[com_11]
type=Sprite
x=3
y=218
width=171
height=6
graphic=962
tiling=yes

[com_12]
type=Layer
x=130
y=35
width=13
height=13
layerId=38600717

[com_13]
type=Layer
x=4
y=5
width=177
height=111

[com_14]
type=Sprite
x=148
y=23
width=26
height=26
graphic=1070
eventCode=hasOp(1)
opName0="Toggle-LootShare"
onmouseleave=40,38600716
onvartransmit=48
ontimer=518
onop=28
onmouserepeat=38,component.parentId,38600716,"Toggle-LootShare",25,150
onclick=28
onvartransmitlist=1083
