[share_friends_background]
type=Rectangle
x=335
y=6
width=170
height=50
trans=150
colour=0x660000
fill=yes

[share_clan_background]
type=Rectangle
x=335
y=56
width=170
height=2
trans=150
colour=0x983434
fill=yes

[share_local_background]
type=Rectangle
x=333
y=4
width=174
height=2
trans=150
colour=0x1A0000
fill=yes

[mainmodal_window]
type=Rectangle
x=505
y=6
width=2
height=52
trans=150
colour=0x983434
fill=yes

[mainmodal_window_background]
type=Rectangle
x=332
y=3
width=176
height=56

[mainmodal_window_content]
type=Rectangle
x=333
y=6
width=2
height=52
trans=150
colour=0x1A0000
fill=yes

[collection_list_layer]
type=Text
x=339
y=10
width=139
height=16
colour=0xFFCCCC
font=495
shadow=yes
text="Players waiting (need X):"

[collection_list_background_layer]
type=Text
x=481
y=10
width=22
height=16
colour=0xFF6666
hAlign=Right
font=496
shadow=yes
text="0"

[info_layer]
type=Layer
x=336
y=31
width=170
height=20
hide=yes

[info_header_layer]
type=Text
x=3
y=1
width=105
height=16
layerId=42991624
colour=0xFF3333
font=495
shadow=yes
text="Game starting in:"

[info_header_background_layer]
type=Text
x=112
y=1
width=52
height=16
layerId=42991624
colour=0xFF6666
hAlign=Right
font=496
shadow=yes
text="100 Sec"
