[mainmodal_window]
type=Sprite
x=472
y=296
width=25
height=25
graphic=443

[mainmodal_window_background]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[mainmodal_window_content]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[ability_bar_window]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[ability_list_window]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[mainmodal_window_border]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[mainmodal_window_close_button]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[ability_list_window_background]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[ability_list_window_content]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[com_9]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[com_10]
type=Layer
width=512
height=334
layerId=41615371
hide=yes

[ability_list_content_layer]
type=Layer
width=512
height=334

[ability_list_scroll_layer]
type=Text
x=9
y=30
width=32
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Style:"

[ability_list_grid]
type=Text
x=50
y=30
width=32
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Options:"

[ability_list_scrollbar_layer]
type=Sprite
x=23
y=69
width=25
height=25
layerId=41615361
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Potions Allowed",50,150

[ability_bar_window_background]
type=Sprite
x=23
y=96
width=25
height=25
layerId=41615362
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Food Allowed",50,150

[ability_bar_window_content]
type=Sprite
x=23
y=123
width=25
height=25
layerId=41615363
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Prayers Allowed",50,150

[panel_1]
type=Sprite
x=23
y=150
width=25
height=25
layerId=41615364
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Special Attacks Allowed",50,150

[ability_1_layer]
type=Sprite
x=23
y=177
width=25
height=25
layerId=41615365
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Summoning Allowed",50,150

[ability_1_background_layer]
type=Sprite
x=23
y=204
width=25
height=25
layerId=41615366
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Healing Between Rounds",50,150

[ability_1_button]
type=Sprite
x=23
y=204
width=25
height=25
layerId=41615367
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Weapon Slots Only",50,150

[ability_2_layer]
type=Sprite
x=23
y=231
width=25
height=25
layerId=41615368
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Ranged Combat Allowed",50,150

[ability_2_background_layer]
type=Sprite
x=23
y=258
width=25
height=25
layerId=41615369
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Melee Combat Allowed",50,150

[ability_2_button]
type=Sprite
x=23
y=285
width=25
height=25
layerId=41615370
onmouseleave=40,41615384
onmouserepeat=38,component.parentId,41615384,"Magic Combat Allowed",50,150

[ability_3_layer]
type=Layer
x=134
y=102
width=207
height=53
layerId=41615371
onload=565
onvartransmit=565
onvartransmitlist=286

[ability_3_background_layer]
type=Text
x=193
y=293
width=254
height=32
layerId=41615387
colour=0xCC0000
font=494
shadow=yes

[ability_3_button]
type=Rectangle
x=418
y=27
width=90
height=131
layerId=41615387
trans=125
fill=yes

[ability_4_layer]
type=Layer
width=512
height=334

[ability_4_background_layer]
type=Text
x=422
y=30
width=80
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Registrar:"

[ability_4_button]
type=Text
x=422
y=42
width=75
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes

[ability_bar_window_border]
type=Text
x=422
y=54
width=80
height=12
colour=0xCC9900
font=494
shadow=yes
text="Tourn. Rank:"

[ability_1_graphic]
type=Text
x=422
y=66
width=60
height=12
colour=0xCC9900
font=494
shadow=yes
onvartransmit=564,component.parentId
onvartransmitlist=1105

[ability_2_graphic]
type=Text
x=422
y=78
width=80
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Tourn. Value:"

[ability_3_graphic]
type=Text
x=422
y=90
width=75
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes

[ability_4_graphic]
type=Text
x=422
y=102
width=80
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Entry Fee:"

[com_35]
type=Text
x=422
y=114
width=75
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes

[com_36]
type=Text
x=422
y=126
width=80
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
text="Time left:"

[com_37]
type=Text
x=422
y=138
width=75
height=12
layerId=41615387
colour=0xCC9900
font=494
shadow=yes
