[fullscreen_border_layer]
type=Rectangle
x=149
y=71
width=227
height=158
trans=200
fill=yes

[top_edge]
type=Sprite
x=147
y=72
width=222
height=149
graphic=297
tiling=yes
baseOpName=" "

[left_edge]
type=Sprite
x=128
y=97
width=32
height=95
graphic=821
tiling=yes

[right_edge]
type=Sprite
x=141
y=65
width=32
height=32
graphic=824

[top_left_corner]
type=Sprite
x=351
y=96
width=32
height=97
graphic=823
tiling=yes

[top_right_corner]
type=Sprite
x=173
y=52
width=167
height=26
graphic=820
tiling=yes
baseOpName=" "

[fullscreen_buttons_bg]
type=Sprite
x=173
y=204
width=167
height=32
graphic=822
tiling=yes
baseOpName=" "

[fullscreen_adrenaline_bar_red]
type=Sprite
x=141
y=192
width=32
height=32
graphic=826

[fullscreen_energy_pulse]
type=Sprite
x=339
y=65
width=32
height=32
graphic=825

[flash_ah_aaah]
type=Sprite
x=339
y=192
width=32
height=32
graphic=827

[fullscreen_adrenaline_bar]
type=Sprite
x=173
y=76
width=165
height=32
graphic=1074
tiling=yes

[fullscreen_adrenaline_bar_graphic]
type=Sprite
x=173
y=109
width=165
height=32
graphic=1074
tiling=yes

[fullscreen_overadrenaline_bar]
type=Sprite
x=173
y=122
width=165
height=32
graphic=1074
tiling=yes

[fullscreen_threshold_highlight]
type=Sprite
x=173
y=155
width=165
height=32
graphic=1074
tiling=yes

[fullscreen_ultimate_highlight_right]
type=Sprite
x=160
y=93
width=32
height=32
graphic=1075

[fullscreen_ultimate_highlight_left]
type=Sprite
x=325
y=93
width=32
height=32
graphic=1075
baseOpName=" "

[bottom_edge_layer]
type=Sprite
x=160
y=139
width=32
height=32
graphic=1075

[bottom_edge]
type=Sprite
x=325
y=139
width=32
height=32
graphic=1075
baseOpName=" "

[bottom_right_corner]
type=Text
x=202
y=101
width=109
height=15
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Friendly Duel"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623
onvartransmit=561
onvartransmitlist=283

[bottom_left_corner]
type=Text
x=202
y=150
width=109
height=15
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Staked Duel"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[fullscreen_arrow_bg]
type=Text
x=191
y=183
width=130
height=30
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Challenge!"
eventCode=hasOp(1)
opName0="Next-Screen"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[fullscreen_down_arrow]
type=Sprite
x=188
y=150
width=15
height=15
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"

[fullscreen_up_arrow]
type=Sprite
x=188
y=101
width=15
height=15
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"

[fullscreen_arrow_text]
type=Layer
x=191
y=183
width=130
height=30
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[fullscreen_padlock]
type=Sprite
x=345
y=74
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
