[com_0]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[com_1]
type=Layer
x=4
y=40
width=180
height=163

[com_2]
type=Sprite
buttonType=Select
x=16
y=5
width=70
height=46
layerId=6029313
graphic=653
graphic2=654
buttonText="Punch"
eventCode=flag22
script1=eq,0
script1op1=varp,com_mode

[com_3]
type=Sprite
buttonType=Select
x=100
y=5
width=70
height=46
layerId=6029313
graphic=653
graphic2=654
buttonText="Kick"
eventCode=flag22
script1=eq,1
script1op1=varp,com_mode

[com_4]
type=Sprite
buttonType=Select
x=16
y=58
width=70
height=46
layerId=6029313
graphic=653
graphic2=654
buttonText="Block"
eventCode=flag22
script1=eq,2
script1op1=varp,com_mode

[com_5]
type=Sprite
x=36
y=10
width=34
height=24
layerId=6029313
graphic=247

[com_6]
type=Sprite
x=118
y=10
width=34
height=24
layerId=6029313
graphic=248

[com_7]
type=Sprite
x=36
y=63
width=34
height=24
layerId=6029313
graphic=249

[com_8]
type=Rectangle
buttonType=Button
y=1
width=155
height=22
layerId=6029322
trans=255
colour=0xFFFF00
buttonText="Use <col=00ff00>Special Attack"
eventCode=flag22

[com_9]
type=Sprite
x=2
width=150
height=26
layerId=6029322
graphic=657

[com_10]
type=Layer
x=19
y=205
width=158
height=64
hide=yes

[com_11]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18552
modelZoom=1153
modelXAn=500

[com_12]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18553
modelZoom=1153
modelXAn=500
script1=gt,99
script1op1=varp,sa_energy

[com_13]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18555
modelZoom=1153
modelXAn=500
script1=gt,199
script1op1=varp,sa_energy

[com_14]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18556
modelZoom=1153
modelXAn=500
script1=gt,299
script1op1=varp,sa_energy

[com_15]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18557
modelZoom=1153
modelXAn=500
script1=gt,399
script1op1=varp,sa_energy

[com_16]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18558
modelZoom=1153
modelXAn=500
script1=gt,499
script1op1=varp,sa_energy

[com_17]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18559
modelZoom=1153
modelXAn=500
script1=gt,599
script1op1=varp,sa_energy

[com_18]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18560
modelZoom=1153
modelXAn=500
script1=gt,699
script1op1=varp,sa_energy

[com_19]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18561
modelZoom=1153
modelXAn=500
script1=gt,799
script1op1=varp,sa_energy

[com_20]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18562
modelZoom=1153
modelXAn=500
script1=gt,899
script1op1=varp,sa_energy

[com_21]
type=Model
x=4
y=9
width=146
height=9
layerId=6029322
model1Id=18554
modelZoom=1153
modelXAn=500
script1=gt,999
script1op1=varp,sa_energy

[com_22]
type=Text
x=18
y=8
width=117
height=11
layerId=6029322
colour=0x000010
font=494
text="S P E C I A L  A T T A C K"
text2="<col=ffff00>S P E C I A L  A T T A C K"
script1=gt,0
script1op1=varp,sa_attack

[com_23]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
script1op1=combat_level

[com_24]
type=Sprite
buttonType=Button
x=21
y=152
width=150
height=46
graphic=655
graphic2=656
buttonText="Auto Retaliate"
eventCode=flag22
script1=eq,0
script1op1=varp,option_nodef

[com_25]
type=Text
x=20
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Punch"

[com_26]
type=Text
x=104
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Kick"

[com_27]
type=Text
x=20
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Block"

[com_28]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto Retaliate <br>(Off)"
text2="Auto Retaliate <br>(On)"
script1=eq,0
script1op1=varp,option_nodef

[com_29]
type=Tooltip
x=20
y=45
width=70
height=46
text="(Accurate)<br>(Crush)<br>(Attack XP)"

[com_30]
type=Tooltip
x=102
y=45
width=70
height=46
text="(Aggressive)<br>(Crush)<br>(Strength XP)"

[com_31]
type=Tooltip
x=20
y=98
width=70
height=47
text="(Defensive)<br>(Crush)<br>(Defence XP)"

[com_32]
type=Tooltip
x=22
y=153
width=150
height=46
text="When active your player<br>will automatically fight<br>back if attacked"

[com_33]
type=Tooltip
width=159
height=19
layerId=6029322
text="Select to perform<br>a special attack"
