[child_window_content]
type=Model
x=-91
y=-222
width=1575
height=722
model1Id=16270
modelZoom=528
modelXAn=111
modelYAn=527
modelXOf=-516
modelYOf=91
discardedModelField=0

[com_1]
type=Model
x=-633
y=-253
width=1657
height=820
model1Id=16272
modelAnim=icemt_hatchling_interface
modelZoom=528
modelXAn=111
modelYAn=527
modelXOf=-15
modelYOf=73
discardedModelField=0

[content_layer]
type=Model
x=-228
y=-151
width=848
height=446
model1Id=16269
modelAnim=icemt_hatchling_interface
modelZoom=528
modelXAn=111
modelYAn=527
modelXOf=-16
modelYOf=158
discardedModelField=0
