[confirm_item_name]
type=Layer
x=8
y=22
width=499
height=311

[confirm_item]
type=Layer
x=48
y=84
width=404
height=215
scrollHeight=5000

[confirm_item_count]
type=Text
x=53
y=56
width=352
height=18
font=497
text="ifquestname"

[confirm_bg]
type=Model
x=231
y=138
width=55
height=81
layerId=18022400
model1Id=21821
modelZoom=579
modelXAn=510

[item_information]
type=Text
y=-1
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj1"

[total_layer]
type=Text
y=19
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj2"

[final_confirmation_layer]
type=Text
y=39
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj3"

[background_layer]
type=Text
y=59
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj4"

[content_layer]
type=Text
y=79
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj5"

[confirm_info_layer]
type=Text
y=99
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj6"

[com_10]
type=Text
y=119
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj7"

[item_info]
type=Text
y=139
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj8"

[charity_info_layer]
type=Text
y=159
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj9"

[charity_options_layer]
type=Text
y=179
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj10"

[charity_split_button_layer]
type=Text
y=199
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj11"

[charity_1_button_layer]
type=Text
y=219
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj12"

[charity_2_button_layer]
type=Text
y=239
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj13"

[charity_3_button_layer]
type=Text
y=259
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj14"

[charity_4_button_layer]
type=Text
y=279
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj15"

[total_layer_bg]
type=Text
y=299
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj16"

[com_20]
type=Text
y=319
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj17"

[com_21]
type=Text
y=339
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj18"

[com_22]
type=Text
y=359
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj19"

[confirm_item_amount]
type=Text
y=379
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj20"

[final_button_layer]
type=Text
y=399
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj21"

[add_more_stuff_layer]
type=Text
y=419
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj22"

[donate_anon_layer]
type=Text
y=439
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj23"

[final_cancel_button_layer]
type=Text
y=459
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj24"

[final_confirm_button_layer]
type=Text
y=479
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj25"

[add_more_stuff_layer_bg]
type=Text
y=499
width=404
height=15
layerId=18022401
hAlign=Center
font=495
text="qj26"

[com_30]
type=Text
y=519
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj27"

[checkbox_layer]
type=Text
y=539
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj28"

[frame_layer]
type=Text
y=559
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj29"

[close_button_layer]
type=Text
y=579
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj30"

[charity_info_layer_bg]
type=Text
y=599
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj31"

[charity_1_info_graphic]
type=Text
y=619
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj32"

[charity_2_info_graphic]
type=Text
y=639
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj33"

[checkbox_selected_layer]
type=Text
y=659
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj34"

[checkbox_selected_disabled_layer]
type=Text
y=679
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj35"

[checkbox_deselected_layer]
type=Text
y=699
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj36"

[checkbox_deselected_disabled_layer]
type=Text
y=719
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj37"

[donate_anon_layer_bg]
type=Text
x=-1
y=739
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj38"

[com_42]
type=Text
y=759
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj39"

[donate_anon_checkbox]
type=Text
y=779
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj40"

[donate_anon_checkbox_selected_layer]
type=Text
y=799
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj41"

[donate_anon_checkbox_selected_disabled_layer]
type=Text
y=819
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj42"

[donate_anon_checkbox_deselected_layer]
type=Text
y=839
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj43"

[donate_anon_checkbox_deselected_disabled_layer]
type=Text
y=859
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj44"

[charity_split_button_on_layer]
type=Text
y=879
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj45"

[charity_split_button_over_layer]
type=Text
y=899
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj46"

[charity_split_button_hit_layer]
type=Text
y=919
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj47"

[charity_split_button_selected_layer]
type=Text
y=939
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj48"

[charity_split_button_active_layer]
type=Text
y=959
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj49"

[charity_split_button_disabled_layer]
type=Text
y=979
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj50"

[com_54]
type=Text
y=999
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj51"

[charity_1_button_on_layer]
type=Text
y=1019
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj52"

[charity_1_button_over_layer]
type=Text
y=1039
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj53"

[charity_1_button_hit_layer]
type=Text
y=1059
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj54"

[charity_1_button_selected_layer]
type=Text
y=1079
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj55"

[charity_1_button_active_layer]
type=Text
y=1099
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj56"

[charity_1_button_disabled_layer]
type=Text
y=1119
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj57"

[com_61]
type=Text
y=1139
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj58"

[charity_2_button_on_layer]
type=Text
y=1159
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj59"

[charity_2_button_over_layer]
type=Text
y=1179
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj60"

[charity_2_button_hit_layer]
type=Text
y=1199
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj61"

[charity_2_button_selected_layer]
type=Text
y=1219
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj62"

[charity_2_button_active_layer]
type=Text
y=1239
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj63"

[charity_2_button_disabled_layer]
type=Text
y=1259
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj64"

[com_68]
type=Text
y=1279
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj65"

[charity_3_button_on_layer]
type=Text
y=1299
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj66"

[charity_3_button_over_layer]
type=Text
y=1319
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj67"

[charity_3_button_hit_layer]
type=Text
y=1339
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj68"

[charity_3_button_selected_layer]
type=Text
y=1359
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj69"

[charity_3_button_active_layer]
type=Text
y=1379
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj70"

[charity_3_button_disabled_layer]
type=Text
y=1399
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj71"

[com_75]
type=Text
y=1419
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj72"

[charity_4_button_on_layer]
type=Text
y=1439
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj73"

[charity_4_button_over_layer]
type=Text
y=1459
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj74"

[charity_4_button_hit_layer]
type=Text
y=1479
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj75"

[charity_4_button_selected_layer]
type=Text
y=1499
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj76"

[charity_4_button_active_layer]
type=Text
y=1519
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj77"

[charity_4_button_disabled_layer]
type=Text
y=1539
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj78"

[com_82]
type=Text
y=1559
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj79"

[final_cancel_button_on_layer]
type=Text
y=1579
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj80"

[final_cancel_button_over_layer]
type=Text
y=1599
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj81"

[final_cancel_button_hit_layer]
type=Text
y=1619
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj82"

[final_cancel_button_selected_layer]
type=Text
y=1639
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj83"

[final_cancel_button_active_layer]
type=Text
y=1659
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj84"

[final_cancel_button_disabled_layer]
type=Text
y=1679
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj85"

[final_cancel_button_text_layer]
type=Text
y=1699
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj86"

[final_cancel_button_text]
type=Text
y=1719
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj87"

[final_confirm_button_on_layer]
type=Text
y=1739
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj88"

[final_confirm_button_over_layer]
type=Text
y=1759
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj89"

[final_confirm_button_hit_layer]
type=Text
y=1779
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj90"

[final_confirm_button_selected_layer]
type=Text
y=1799
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj91"

[final_confirm_button_active_layer]
type=Text
y=1819
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj92"

[positive_button_disabled_layer]
type=Text
y=1839
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj93"

[final_confirm_button_text_layer]
type=Text
y=1859
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj94"

[final_confirm_button_text]
type=Text
y=1879
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj95"

[com_99]
type=Text
y=1899
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj96"

[com_100]
type=Text
y=1919
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj97"

[com_101]
type=Text
y=1939
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj98"

[com_102]
type=Text
y=1959
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj99"

[com_103]
type=Text
y=1979
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj100"

[com_104]
type=Text
y=1998
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj101"

[com_105]
type=Text
y=2019
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj102"

[com_106]
type=Text
y=2039
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj103"

[com_107]
type=Text
y=2058
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj104"

[com_108]
type=Text
y=2079
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj105"

[com_109]
type=Text
y=2099
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj106"

[com_110]
type=Text
y=2120
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj107"

[com_111]
type=Text
y=2140
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj108"

[com_112]
type=Text
y=2160
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj109"

[com_113]
type=Text
y=2179
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj110"

[com_114]
type=Text
y=2200
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj111"

[com_115]
type=Text
y=2220
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj112"

[com_116]
type=Text
y=2240
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj113"

[com_117]
type=Text
y=2260
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj114"

[com_118]
type=Text
y=2279
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj115"

[com_119]
type=Text
y=2299
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj116"

[com_120]
type=Text
y=2318
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj117"

[com_121]
type=Text
y=2338
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj118"

[com_122]
type=Text
y=2359
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj119"

[com_123]
type=Text
y=2379
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj120"

[com_124]
type=Text
y=2399
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj121"

[com_125]
type=Text
y=2419
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj122"

[com_126]
type=Text
y=2439
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj123"

[com_127]
type=Text
y=2459
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj124"

[com_128]
type=Text
y=2479
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj125"

[com_129]
type=Text
y=2499
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj126"

[com_130]
type=Text
y=2519
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj127"

[com_131]
type=Text
y=2539
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj128"

[com_132]
type=Text
y=2559
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj129"

[com_133]
type=Text
x=1
y=2579
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj130"

[com_134]
type=Text
x=1
y=2599
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj131"

[com_135]
type=Text
x=1
y=2619
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj132"

[com_136]
type=Text
x=1
y=2639
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj133"

[com_137]
type=Text
x=1
y=2659
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj134"

[com_138]
type=Text
x=1
y=2679
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj135"

[com_139]
type=Text
x=1
y=2699
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj136"

[com_140]
type=Text
x=1
y=2719
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj137"

[com_141]
type=Text
x=1
y=2739
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj138"

[com_142]
type=Text
x=1
y=2759
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj139"

[com_143]
type=Text
x=1
y=2779
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj140"

[com_144]
type=Text
x=1
y=2799
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj141"

[com_145]
type=Text
x=1
y=2819
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj142"

[com_146]
type=Text
x=1
y=2839
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj143"

[com_147]
type=Text
x=1
y=2859
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj144"

[com_148]
type=Text
x=1
y=2879
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj145"

[com_149]
type=Text
x=1
y=2899
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj146"

[com_150]
type=Text
x=1
y=2919
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj147"

[com_151]
type=Text
x=1
y=2939
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj148"

[com_152]
type=Text
x=1
y=2959
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj149"

[com_153]
type=Text
x=1
y=2979
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj150"

[com_154]
type=Text
x=1
y=2999
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj151"

[com_155]
type=Text
x=1
y=3019
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj152"

[com_156]
type=Text
x=1
y=3039
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj153"

[com_157]
type=Text
x=1
y=3059
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj154"

[com_158]
type=Text
x=1
y=3079
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj155"

[com_159]
type=Text
x=1
y=3099
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj156"

[com_160]
type=Text
x=1
y=3119
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj157"

[com_161]
type=Text
x=1
y=3139
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj158"

[com_162]
type=Text
x=1
y=3159
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj159"

[com_163]
type=Text
x=1
y=3179
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj160"

[com_164]
type=Text
x=1
y=3199
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj161"

[com_165]
type=Text
x=1
y=3219
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj162"

[com_166]
type=Text
x=1
y=3239
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj163"

[com_167]
type=Text
x=1
y=3259
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj164"

[com_168]
type=Text
x=1
y=3279
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj165"

[com_169]
type=Text
x=1
y=3299
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj166"

[com_170]
type=Text
x=1
y=3319
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj167"

[com_171]
type=Text
x=1
y=3339
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj168"

[com_172]
type=Text
x=1
y=3359
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj169"

[com_173]
type=Text
x=1
y=3379
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj170"

[com_174]
type=Sprite
x=441
y=54
width=26
height=23
overLayerId=176
graphic=541

[com_175]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=18022576
graphic=542
buttonText="Ok"

[com_176]
type=Layer
x=438
y=51
width=32
height=32
hide=yes

[com_177]
type=Text
x=1
y=3399
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj171"

[com_178]
type=Text
x=1
y=3419
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj172"

[com_179]
type=Text
x=1
y=3439
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj173"

[com_180]
type=Text
x=1
y=3459
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj174"

[com_181]
type=Text
x=1
y=3479
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj175"

[com_182]
type=Text
x=1
y=3499
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj176"

[com_183]
type=Text
x=1
y=3519
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj177"

[com_184]
type=Text
x=1
y=3539
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj178"

[com_185]
type=Text
x=1
y=3559
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj179"

[com_186]
type=Text
x=1
y=3579
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj180"

[com_187]
type=Text
x=1
y=3599
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj181"

[com_188]
type=Text
x=1
y=3619
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj182"

[com_189]
type=Text
x=1
y=3639
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj183"

[com_190]
type=Text
x=1
y=3659
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj184"

[com_191]
type=Text
x=1
y=3679
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj185"

[com_192]
type=Text
x=1
y=3699
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj186"

[com_193]
type=Text
x=1
y=3719
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj187"

[com_194]
type=Text
x=1
y=3739
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj188"

[com_195]
type=Text
x=1
y=3759
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj189"

[com_196]
type=Text
x=1
y=3779
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj190"

[com_197]
type=Text
x=1
y=3799
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj191"

[com_198]
type=Text
x=1
y=3819
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj192"

[com_199]
type=Text
x=1
y=3839
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj193"

[com_200]
type=Text
x=1
y=3859
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj194"

[com_201]
type=Text
x=1
y=3879
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj195"

[com_202]
type=Text
x=1
y=3899
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj196"

[com_203]
type=Text
x=1
y=3919
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj197"

[com_204]
type=Text
x=1
y=3939
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj198"

[com_205]
type=Text
x=1
y=3959
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj199"

[com_206]
type=Text
x=1
y=3979
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj200"

[com_207]
type=Text
x=1
y=3999
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj201"

[com_208]
type=Text
x=1
y=4019
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj202"

[com_209]
type=Text
x=1
y=4039
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj203"

[com_210]
type=Text
x=1
y=4059
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj204"

[com_211]
type=Text
x=1
y=4079
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj205"

[com_212]
type=Text
x=1
y=4099
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj206"

[com_213]
type=Text
x=1
y=4119
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj207"

[com_214]
type=Text
x=1
y=4139
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj208"

[com_215]
type=Text
x=1
y=4159
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj209"

[com_216]
type=Text
x=1
y=4179
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj210"

[com_217]
type=Text
x=1
y=4199
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj211"

[com_218]
type=Text
x=1
y=4219
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj212"

[com_219]
type=Text
x=1
y=4239
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj213"

[com_220]
type=Text
x=1
y=4259
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj214"

[com_221]
type=Text
x=1
y=4279
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj215"

[com_222]
type=Text
x=1
y=4299
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj216"

[com_223]
type=Text
x=1
y=4319
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj217"

[com_224]
type=Text
x=1
y=4339
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj218"

[com_225]
type=Text
x=1
y=4359
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj219"

[com_226]
type=Text
x=1
y=4379
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj220"

[com_227]
type=Text
x=1
y=4399
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj221"

[com_228]
type=Text
x=1
y=4419
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj222"

[com_229]
type=Text
x=1
y=4439
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj223"

[com_230]
type=Text
x=1
y=4459
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj224"

[com_231]
type=Text
x=1
y=4479
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj225"

[com_232]
type=Text
x=1
y=4499
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj226"

[com_233]
type=Text
x=1
y=4519
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj227"

[com_234]
type=Text
x=1
y=4539
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj228"

[com_235]
type=Text
x=1
y=4559
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj229"

[com_236]
type=Text
x=1
y=4579
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj230"

[com_237]
type=Text
x=1
y=4599
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj231"

[com_238]
type=Text
x=1
y=4619
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj232"

[com_239]
type=Text
x=1
y=4639
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj233"

[com_240]
type=Text
x=1
y=4659
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj234"

[com_241]
type=Text
x=1
y=4679
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj235"

[com_242]
type=Text
x=1
y=4699
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj236"

[com_243]
type=Text
x=1
y=4719
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj237"

[com_244]
type=Text
x=1
y=4739
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj238"

[com_245]
type=Text
x=1
y=4759
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj239"

[com_246]
type=Text
x=1
y=4779
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj240"

[com_247]
type=Text
x=1
y=4799
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj241"

[com_248]
type=Text
x=1
y=4819
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj242"

[com_249]
type=Text
x=1
y=4839
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj243"

[com_250]
type=Text
x=1
y=4859
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj244"

[com_251]
type=Text
x=1
y=4879
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj215"

[com_252]
type=Text
x=1
y=4899
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj246"

[com_253]
type=Text
x=1
y=4919
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj247"

[com_254]
type=Text
x=1
y=4939
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj248"

[com_255]
type=Text
x=1
y=4959
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj249"

[com_256]
type=Text
x=1
y=4979
width=404
height=14
layerId=18022401
hAlign=Center
font=495
text="qj250"
