[mainmodal_window]
type=Model
x=240
y=139
width=32
height=28
model1Id=3032
modelZoom=604
modelXAn=400

[mainmodal_window_background]
type=Text
x=99
y=93
width=320
height=181
colour=0xFFFF00
hAlign=Center
lineHeight=17
font=495
shadow=yes
text="Kaleef<br><br>Your mission is to contact our agent inside Menaphos.<br>Use the tunnels beneath the temple of lesser gods.<br>Be vigilant of traps and the hostile natives.<br> They're about as welcoming as the Menaphites only slightly better looking.<br><br>Os"

[mainmodal_window_content]
type=Model
x=234
y=135
width=32
height=32
model1Id=20733
modelZoom=604
modelXAn=406

[com_3]
type=Sprite
x=379
y=80
width=26
height=23
overLayerId=5
graphic=537

[com_4]
type=Sprite
buttonType=Close
x=3
y=8
width=26
height=23
layerId=32636933
graphic=538
buttonText="Ok"

[contact_scroll_text]
type=Layer
x=376
y=72
width=32
height=32
hide=yes
