[cws_warning_layer]
type=Sprite
x=105
y=41
width=319
height=252
graphic=297
tiling=yes
baseOpName=" "

[warning]
type=Sprite
x=85
y=65
width=32
height=200
graphic=821
tiling=yes

[warn1]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[warn2]
type=Sprite
x=411
y=65
width=23
height=200
graphic=823
tiling=yes

[warn3]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[cws_toggle_button]
type=Sprite
x=130
y=277
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[checkbox_selected_layer]
type=Sprite
x=98
y=265
width=32
height=32
graphic=826

[checkbox_deselected_layer]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[mainmodal_window]
type=Sprite
x=399
y=265
width=32
height=32
graphic=827

[mainmodal_window_background]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[mainmodal_window_content]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[mainmodal_window_border]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[mainmodal_window_close_button]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37027852,832
onmouseleave=44,37027852,831
onop=29

[com_13]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[com_14]
type=Text
x=108
y=84
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="The desert is a VERY dangerous place. Do not<br> enter if you are afraid of dying. Beware of high temperatures, sandstorms, robbers and slavers.<br> No responsibility is taken by Shantay if anything<br> bad should happen to you, in any circumstances whatsoever."

[com_15]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[com_16]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[com_17]
type=Text
x=108
y=204
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Proceed regardless"
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_18]
type=Text
x=108
y=236
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Stay out"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_19]
type=Text
x=1
y=2
width=315
height=15
layerId=37027861
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[com_20]
type=Sprite
x=2
width=19
height=19
layerId=37027861
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37027860,10
onclick=163,37027860
onvartransmitlist=1045

[com_21]
type=Layer
x=107
y=267
width=270
height=20
hide=yes
