[daily_rewards_main]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[daily_rewards_background_layer]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[daily_rewards_background]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[daily_rewards_title_layer]
type=Text
x=45
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[daily_rewards_title]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[content_layer]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[daily_rewards_desc]
type=Text
x=45
y=148
width=388
height=32
colour=0x242330
font=497
text="You are asked for your full name and date of birth by a player that you have been chatting with for a short while. Should you give them these details?"

[claim_button]
type=Text
x=45
y=198
width=363
height=32
colour=0x191930
font=497
text="No. The player could use my information to steal my identity. I don't want anyone pretending to be me"

[frame]
type=Text
x=45
y=252
width=363
height=32
colour=0x191930
font=497
text="Yes. There's no harm in telling someone my full name and my birthday. Maybe they want to buy me a birthday present!"

[com_9]
type=Model
x=423
y=206
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=891,component.parentId

[com_10]
type=Model
x=425
y=262
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=892,component.parentId

[com_11]
type=Line
x=425
y=206
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_12]
type=Line
x=425
y=206
height=19
colour=0x0E0E17
lineWidth=2

[com_13]
type=Line
x=424
y=224
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_14]
type=Line
x=443
y=206
height=20
colour=0x0E0E17
lineWidth=2

[com_15]
type=Line
x=425
y=262
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_16]
type=Line
x=425
y=262
height=19
colour=0x0E0E17
lineWidth=2

[daily_rewards_close_button]
type=Line
x=424
y=280
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_18]
type=Line
x=443
y=262
height=20
colour=0x0E0E17
lineWidth=2

[com_19]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[com_20]
type=Layer
width=513
height=335
hide=yes

[com_21]
type=Rectangle
width=512
height=334
layerId=46530580
trans=160
colour=0x46341D
fill=yes

[com_22]
type=Sprite
x=32
y=79
width=449
height=230
layerId=46530580
graphic=297
tiling=yes

[com_23]
type=Sprite
x=19
y=111
width=25
height=175
layerId=46530580
graphic=821
tiling=yes

[com_24]
type=Sprite
x=32
y=79
width=32
height=32
layerId=46530580
graphic=824

[com_25]
type=Sprite
x=451
y=79
width=32
height=32
layerId=46530580
graphic=825
tiling=yes

[com_26]
type=Sprite
x=63
y=66
width=391
height=32
layerId=46530580
graphic=820
tiling=yes

[com_27]
type=Sprite
x=463
y=111
width=32
height=175
layerId=46530580
graphic=823
tiling=yes

[com_28]
type=Sprite
x=451
y=284
width=32
height=32
layerId=46530580
graphic=827
tiling=yes

[com_29]
type=Sprite
x=32
y=284
width=32
height=32
layerId=46530580
graphic=826
tiling=yes

[com_30]
type=Sprite
x=64
y=296
width=387
height=25
layerId=46530580
graphic=822
tiling=yes

[com_31]
type=Layer
x=55
y=94
width=389
height=160
layerId=46530580
hide=yes

[com_32]
type=Text
x=16
y=-4
width=32
height=32
layerId=46530591
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_33]
type=Text
x=1
y=27
width=388
height=105
layerId=46530591
colour=0xA49279
font=497
shadow=yes
text="Correct! Personal details given out while chatting could be used by someone who wishes to pretend to be you. Use the Report Abuse button to report anyone asking for your personal details."

[com_34]
type=Layer
x=55
y=94
width=389
height=160
layerId=46530580
hide=yes

[com_35]
type=Text
x=16
y=-4
width=32
height=32
layerId=46530594
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_36]
type=Text
x=1
y=27
width=390
height=105
layerId=46530594
colour=0xA49279
font=495
shadow=yes
text="Wrong. Never give out personal details, such as your full name and date of birth, to other players. Personal details that you give out while chatting could be used by someone so that they can pretend to be you. Use the Report Abuse button to report anyone asking  for your personal details."

[com_37]
type=Layer
x=375
y=255
width=97
height=42
layerId=46530580

[com_38]
type=Layer
width=97
height=42
layerId=46530597
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_39]
type=Rectangle
width=97
height=42
layerId=46530597
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_40]
type=Text
width=97
height=42
layerId=46530597
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
