[bar_red]
type=Rectangle
width=520
height=400
trans=64
fill=yes

[left_border]
type=Model
x=231
y=147
width=32
height=32
model1Id=17341
modelZoom=594
modelXAn=456
modelYAn=2041

[mid]
type=Model
x=231
y=147
width=32
height=32
model1Id=17340
modelZoom=594
modelXAn=456
modelYAn=2041

[right_border]
type=Sprite
x=482
y=6
width=26
height=23
overLayerId=5
graphic=539

[max_layer]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=19791877
graphic=540
buttonText="Ok"

[difficulty_text]
type=Layer
x=478
y=1
width=32
height=32
hide=yes
