[com_0]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[inventory]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[title]
type=Model
x=56
y=25
width=64
height=50
modelZoom=400
discardedModelField=0

[instruction]
type=Model
x=207
y=25
width=64
height=50
modelZoom=400
discardedModelField=0

[box_layer]
type=Model
x=360
y=25
width=64
height=50
modelZoom=400
discardedModelField=0

[wrecks_looted]
type=Text
x=7
y=26
width=146
height=69
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_6]
type=Text
x=152
y=25
width=161
height=70
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_7]
type=Text
x=312
y=25
width=160
height=70
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_8]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"
