[com_0]
type=Model
x=241
y=142
width=32
height=32
model1Id=3033
modelZoom=498
modelXAn=490

[death_gamble_harold_dice2]
type=Model
x=159
y=84
width=32
height=32
model1Id=3712
modelZoom=1528
modelXAn=241
modelYAn=1454

[death_gamble_harold_dice1]
type=Model
x=105
y=105
width=32
height=32
model1Id=3712
modelZoom=1229
modelXAn=253
modelYAn=1666

[death_gamble_player_dice1]
type=Model
x=330
y=87
width=32
height=31
model1Id=3712
modelZoom=1528
modelXAn=253
modelYAn=1755

[death_gamble_player_dice2]
type=Model
x=399
y=109
width=32
height=32
model1Id=3712
modelZoom=1229
modelXAn=276
modelYAn=1905

[com_5]
type=Text
x=95
y=62
width=102
height=19
colour=0x333333
hAlign=Center
font=497
text="Harold"

[death_gamble_playername]
type=Text
x=322
y=62
width=103
height=23
colour=0x333333
hAlign=Center
font=497
text="Player"

[death_gamble_harold_gold]
type=Model
x=79
y=235
width=32
height=32
model2Id=2484
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,1
script1op1=varp,if1

[death_gamble_player_gold]
type=Model
x=79
y=235
width=32
height=32
model2Id=2485
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,2
script1op1=varp,if1

[death_gamble_roll]
type=Model
x=79
y=235
width=32
height=32
model2Id=2486
modelZoom=445
modelXAn=150
modelYAn=1700
script1=eq,3
script1op1=varp,if1

[death_gamble_roll_button]
type=Model
x=79
y=235
width=32
height=32
model2Id=2487
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,4
script1op1=varp,if1

[death_gamble_continue]
type=Model
x=79
y=235
width=32
height=32
model2Id=2488
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,5
script1op1=varp,if1

[death_gamble_continue_button]
type=Model
x=79
y=235
width=32
height=32
model2Id=2667
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,6
script1op1=varp,if1

[death_gamble_result]
type=Model
x=79
y=235
width=32
height=32
model2Id=2825
modelZoom=445
modelXAn=149
modelYAn=1693
script1=eq,7
script1op1=varp,if1

[com_14]
type=Model
x=79
y=235
width=32
height=32
model2Id=2423
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,8
script1op1=varp,if1

[com_15]
type=Model
x=79
y=235
width=32
height=32
model2Id=2710
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,9
script1op1=varp,if1

[com_16]
type=Model
x=79
y=235
width=32
height=32
model2Id=2775
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,10
script1op1=varp,if1

[com_17]
type=Model
x=413
y=235
width=32
height=32
model2Id=2484
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,1
script1op1=varp,if2

[com_18]
type=Model
x=413
y=235
width=32
height=32
model2Id=2485
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,2
script1op1=varp,if2

[com_19]
type=Model
x=413
y=235
width=32
height=32
model2Id=2486
modelZoom=445
modelXAn=150
modelYAn=1700
script1=eq,3
script1op1=varp,if2

[com_20]
type=Model
x=413
y=235
width=32
height=32
model2Id=2487
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,4
script1op1=varp,if2

[com_21]
type=Model
x=413
y=235
width=32
height=32
model2Id=2488
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,5
script1op1=varp,if2

[com_22]
type=Model
x=413
y=235
width=32
height=32
model2Id=2667
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,6
script1op1=varp,if2

[com_23]
type=Model
x=413
y=235
width=32
height=32
model2Id=2825
modelZoom=445
modelXAn=149
modelYAn=1693
script1=eq,7
script1op1=varp,if2

[com_24]
type=Model
x=413
y=235
width=32
height=32
model2Id=2423
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,8
script1op1=varp,if2

[com_25]
type=Model
x=413
y=235
width=32
height=32
model2Id=2710
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,9
script1op1=varp,if2

[com_26]
type=Model
x=413
y=235
width=32
height=32
model2Id=2775
modelZoom=445
modelXAn=149
modelYAn=1698
script1=eq,10
script1op1=varp,if2

[com_27]
type=Layer
x=189
y=235
width=131
height=25
hide=yes

[com_28]
type=Text
buttonType=Button
x=1
y=2
width=127
height=22
layerId=6488091
colour=0x333333
colourOver=0xFFFFFF
hAlign=Center
font=497
text="Roll Dice!"
eventCode=flag22

[com_29]
type=Layer
x=190
y=234
width=128
height=27
hide=yes

[com_30]
type=Text
buttonType=Pause
x=1
y=3
width=126
height=20
layerId=6488093
colour=0x333333
colourOver=0xFFFFFF
hAlign=Center
font=497
text="Continue..."
buttonText="Continue"
eventCode=pauseButton

[com_31]
type=Text
x=91
y=275
width=9
height=17
colour=0x333333
hAlign=Center
font=497
text="0"

[com_32]
type=Text
x=424
y=275
width=9
height=17
colour=0x333333
hAlign=Center
font=497
text="0"

[com_33]
type=Text
x=186
y=197
width=143
height=21
colour=0x880000
hAlign=Center
font=497
text="You win!"

[com_34]
type=Sprite
x=441
y=47
width=26
height=23
overLayerId=36
graphic=537

[com_35]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=6488100
graphic=538
buttonText="Ok"

[com_36]
type=Layer
x=438
y=42
width=32
height=32
hide=yes
