[universe_layer]
type=Model
x=26
y=-62
width=32
height=32
model2Id=7641
modelZoom=1096
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear1

[buff_render_layer]
type=Model
x=114
y=-61
width=32
height=32
model2Id=7642
modelZoom=1121
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear2

[buff_1]
type=Model
x=24
y=16
width=32
height=32
model2Id=7643
modelZoom=1039
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear3

[buff_2]
type=Model
x=113
y=19
width=32
height=32
model2Id=7644
modelZoom=1068
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear4

[buff_3]
type=Model
x=24
y=69
width=32
height=32
model2Id=7645
modelZoom=788
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear5

[buff_4]
type=Model
x=115
y=103
width=32
height=32
model2Id=7646
modelZoom=1084
modelXAn=500
script1=gt,0
script1op1=inv_count,inventory:inv,roguesden_gear6

[buff_5]
type=Rectangle
buttonType=Button
x=16
y=12
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,1
script1op1=varbit,roguesden_puzzle_gear

[buff_6]
type=Rectangle
buttonType=Button
x=104
y=12
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,2
script1op1=varbit,roguesden_puzzle_gear

[buff_7]
type=Rectangle
buttonType=Button
x=16
y=96
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,3
script1op1=varbit,roguesden_puzzle_gear

[buff_8]
type=Rectangle
buttonType=Button
x=104
y=96
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,4
script1op1=varbit,roguesden_puzzle_gear

[buff_9]
type=Rectangle
buttonType=Button
x=16
y=180
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,5
script1op1=varbit,roguesden_puzzle_gear

[buff_10]
type=Rectangle
buttonType=Button
x=104
y=180
width=65
height=65
colour=0xFFFF00
colour2=0x00FF00
eventCode=flag22
script1=eq,6
script1op1=varbit,roguesden_puzzle_gear
