[base]
type=Rectangle
width=512
height=334
fill=yes

[graphics_and_timer]
type=Sprite
buttonType=Button
x=220
y=188
width=72
height=36
graphic=293
buttonText="Yes."
eventCode=flag22

[background]
type=Sprite
buttonType=Button
x=220
y=238
width=72
height=36
graphic=293
buttonText="No."
eventCode=flag22

[panel_1]
type=Text
x=220
y=188
width=72
height=36
colour=0x11D311
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="YES"

[layer_3]
type=Text
x=220
y=238
width=72
height=36
colour=0xAC1414
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="NO"

[data_icon]
type=Text
x=108
y=146
width=300
height=16
colour=0xFF981F
hAlign=Center
font=495
text="Do you really want to bet X!"
