[brag_text]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[kdr_text]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[streak_text]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[value_text]
type=Model
x=21
y=437
width=32
height=32
model1Id=10225
modelAnim=intro_banner_scamming_happy
modelZoom=900
modelYAn=2003

[window_1_no_title_layer]
type=Model
x=634
y=442
width=32
height=32
model1Id=10225
modelAnim=intro_banner_scamming_sad
modelZoom=900
modelYAn=1992

[frame_1_layer_1]
type=Model
x=108
y=439
width=32
height=32
model1Id=10226
modelAnim=intro_banner_scamming_happy
modelZoom=900
modelYAn=66

[bg_mid]
type=Model
x=717
y=440
width=32
height=32
model1Id=10226
modelAnim=intro_banner_scamming_happy
modelZoom=900
modelYAn=40

[bg_top]
type=Model
x=61
y=444
width=32
height=32
model1Id=10227
modelAnim=intro_banner_scamming_swap
modelZoom=900
modelYAn=40

[bg_bot]
type=Model
x=655
y=449
width=32
height=32
model1Id=10228
modelAnim=intro_banner_scamming_swap
modelZoom=900
modelYAn=40
