[mainmodal_window]
type=Model
x=151
y=143
width=31
height=32
model1Id=7748
modelAnim=bear_headless_beast_walk
modelZoom=256

[mainmodal_window_background]
type=Model
x=151
y=143
width=31
height=32
model1Id=7754
modelAnim=bear_headless_beast_walk
modelZoom=255

[mainmodal_window_content]
type=Model
x=151
y=143
width=31
height=32
model1Id=7749
modelAnim=bear_headless_beast_walk
modelZoom=256

[bag_content]
type=Model
x=64
y=60
width=31
height=32
model1Id=7753
modelZoom=420
modelXAn=1900

[withdraw_button]
type=Model
x=151
y=60
width=31
height=32
model1Id=7750
modelZoom=420
modelXAn=1900

[deposit_button]
type=Model
x=238
y=60
width=31
height=32
model1Id=7753
modelZoom=420
modelXAn=1900

[inv_content_player_inv]
type=Model
x=60
y=143
width=31
height=32
model1Id=7753
modelZoom=420

[mainmodal_window_border]
type=Model
x=151
y=143
width=31
height=32
model1Id=7753
modelZoom=420

[mainmodal_window_close_button]
type=Model
x=242
y=143
width=31
height=32
model1Id=7751
modelZoom=420

[inv_content_player_inv_background]
type=Model
x=64
y=229
width=31
height=32
model1Id=7752
modelZoom=420
modelXAn=150

[inv_content_player_inv_content]
type=Model
x=150
y=230
width=31
height=32
model1Id=7753
modelZoom=420
modelXAn=150

[inv_contents_layer]
type=Model
x=239
y=230
width=31
height=32
model1Id=7753
modelZoom=420
modelXAn=150

[inv_content_player_inv_border]
type=Model
x=151
y=139
width=31
height=32
model1Id=7747
modelZoom=256

[bag_content_background]
type=Model
x=60
y=139
width=31
height=32
model1Id=7747
modelZoom=256

[bag_content_content]
type=Model
x=242
y=139
width=31
height=32
model1Id=7747
modelZoom=256

[bag_content_holder]
type=Text
x=23
y=317
width=97
height=17
colour=0xCEAF7E
hAlign=Center
font=496
text="DIAMOND"

[button_holder]
type=Text
x=121
y=317
width=90
height=17
colour=0xCEAF7E
hAlign=Center
font=496
text="COINS"

[bag_background_layer]
type=Text
x=212
y=317
width=88
height=17
colour=0xCEAF7E
hAlign=Center
font=496
text="RING"

[herb_layer]
type=Text
buttonType=Button
x=361
y=141
width=112
height=37
colour=0x4F3F26
colourOver=0xD9AD66
hAlign=Center
vAlign=Center
font=496
text="U N L O C K"
buttonText="U N L O C K"
eventCode=flag22

[com_19]
type=Model
buttonType=Button
x=49
y=4
width=54
height=33
modelZoom=400
buttonText="Up (left)"
eventCode=flag22

[com_20]
type=Model
buttonType=Button
x=141
y=4
width=54
height=33
modelZoom=400
buttonText="Up (middle)"
eventCode=flag22

[com_21]
type=Model
buttonType=Button
x=232
y=4
width=54
height=33
modelZoom=400
buttonText="Up (right)"
eventCode=flag22

[com_22]
type=Model
buttonType=Button
x=47
y=285
width=54
height=33
modelZoom=400
buttonText="Down (left)"
eventCode=flag22

[com_23]
type=Model
buttonType=Button
x=138
y=286
width=54
height=33
modelZoom=400
buttonText="Down (middle)"
eventCode=flag22

[com_24]
type=Model
buttonType=Button
x=229
y=287
width=54
height=33
modelZoom=400
buttonText="Down (right)"
eventCode=flag22
