[mainmodal_window]
type=Text
x=312
y=-3
width=166
height=52
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Watch the statue! Fish here!"

[mainmodal_window_background]
type=Sprite
x=483
y=11
width=26
height=23
overLayerId=3
graphic=539

[mainmodal_window_content]
type=Sprite
buttonType=Close
x=5
y=5
width=26
height=23
layerId=12189699
graphic=540
buttonText="Ok"

[list_layer]
type=Layer
x=478
y=6
width=32
height=32
hide=yes
