[com_0]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[main]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[page1]
type=Model
x=28
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[com_3]
type=Model
x=148
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[page2]
type=Model
x=268
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[page3]
type=Model
x=388
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[page4]
type=Text
x=10
y=16
width=92
height=80
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[page5]
type=Text
x=130
y=16
width=100
height=80
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[page6]
type=Text
x=250
y=16
width=98
height=80
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[page7]
type=Text
x=370
y=16
width=102
height=80
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[back_layer]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"
