[players_donation]
type=Model
x=34
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=1882

[bonds_donated]
type=Text
x=111
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[bond_bg]
type=Text
x=111
y=16
width=350
height=17
hAlign=Center
font=497
text="Line1"

[world_donation]
type=Text
x=111
y=32
width=350
height=17
hAlign=Center
font=497
text="Line2"

[item_to_donate]
type=Text
x=111
y=48
width=350
height=17
hAlign=Center
font=497
text="Line3"

[item_name]
type=Text
x=111
y=64
width=350
height=17
hAlign=Center
font=497
text="Line4"
