[doublexp_week]
type=Rectangle
x=205
y=-79
width=539
height=333
fill=yes

[doublexp_week_bg]
type=Model
x=-280
y=-184
width=1194
height=620
model1Id=27219
modelZoom=400
modelXAn=89
modelYAn=67
modelXOf=-87
modelYOf=190
discardedModelField=0

[doublexp_label]
type=Model
x=131
y=-775
width=190
height=1149
model1Id=27526
modelAnim=kr_king_arthur_reveal
modelZoom=400
modelXAn=89
modelYAn=67
modelXOf=4
modelYOf=517
discardedModelField=0
