[layer_1]
type=Rectangle
width=514
height=337
trans=160
colour=0x46341D
fill=yes

[dragon__slayer_map1]
type=Model
x=38
width=450
height=336
model1Id=26589
modelZoom=666
modelXAn=469
modelXOf=-11
modelYOf=-11
discardedModelField=0

[dragon_slayer_map2]
type=Model
x=78
y=24
width=302
height=233
model1Id=26590
modelZoom=666
modelXAn=469
modelXOf=23
modelYOf=17
discardedModelField=0

[dragon_slayer_qip_map3]
type=Model
x=59
y=30
width=408
height=290
model1Id=26591
modelZoom=666
modelXAn=469
modelXOf=-11
modelYOf=-18
discardedModelField=0

[com_4]
type=Sprite
x=466
y=8
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29
onclick=29
