[layer_1]
type=Rectangle
x=-1
y=-1
width=516
height=40
colour=0x0A2133
fill=yes

[cloud1]
type=Rectangle
y=39
width=514
height=40
colour=0x0E2537
fill=yes

[cloud1_1]
type=Rectangle
x=-1
y=79
width=514
height=40
colour=0x12293B
fill=yes

[cloud1_2]
type=Rectangle
x=-1
y=119
width=513
height=25
colour=0x162D3F
fill=yes

[lightning_cloud]
type=Rectangle
x=-1
y=144
width=513
height=25
colour=0x1A3143
fill=yes

[com_5]
type=Rectangle
x=-1
y=169
width=513
height=25
colour=0x1E3547
fill=yes

[com_6]
type=Rectangle
x=-1
y=194
width=513
height=25
colour=0x22394B
fill=yes

[com_7]
type=Rectangle
x=-1
y=219
width=513
height=25
colour=0x263D4F
fill=yes

[com_8]
type=Rectangle
x=-1
y=244
width=513
height=25
colour=0x2A4153
fill=yes

[com_9]
type=Rectangle
x=-1
y=269
width=513
height=25
colour=0x2E4557
fill=yes

[com_10]
type=Rectangle
x=-1
y=294
width=513
height=25
colour=0x32495B
fill=yes

[com_11]
type=Rectangle
x=-1
y=319
width=513
height=25
colour=0x364D5F
fill=yes

[com_12]
type=Model
x=198
y=154
width=32
height=32
model1Id=26577
modelAnim=dragon_slayer_qip_cloud
modelZoom=656
discardedModelField=0

[com_13]
type=Model
x=70
y=135
width=32
height=32
model1Id=26577
modelAnim=dragon_slayer_qip_cloud
modelZoom=784
discardedModelField=0

[com_14]
type=Model
x=239
y=203
width=32
height=32
model1Id=26577
modelAnim=dragon_slayer_qip_cloud
modelZoom=912
discardedModelField=0

[com_15]
type=Model
x=260
y=134
width=32
height=32
model1Id=26578
modelAnim=dragon_slayer_qip_cloud
modelZoom=784
discardedModelField=0
