[dragon__slayer_map1]
type=Layer
x=220
y=132
width=32
height=32

[dragon_slayer_map2]
type=Model
x=1
y=-2
width=32
height=32
layerId=35651584
model1Id=26588
modelZoom=912
modelXAn=501
discardedModelField=0

[dragon_slayer_qip_map3]
type=Model
x=221
y=140
width=32
height=32
model1Id=26589
modelZoom=708
modelXAn=469
discardedModelField=0

[boat]
type=Model
x=221
y=140
width=32
height=32
model1Id=26590
modelZoom=708
modelXAn=469
discardedModelField=0

[content_layer]
type=Model
x=220
y=140
width=32
height=32
model1Id=26591
modelZoom=708
modelXAn=469
discardedModelField=0

[com_5]
type=Model
x=221
y=140
width=32
height=32
model1Id=26592
modelAnim=dragon_slayer_qip_cr_journey
modelZoom=708
modelXAn=469
discardedModelField=0
