[back_bank]
type=Rectangle
x=9
y=21
width=270
height=308
trans=200
fill=yes

[bank_layer]
type=Rectangle
x=284
y=21
width=221
height=308
trans=200
fill=yes

[bank_contents]
type=Sprite
x=24
y=22
width=256
height=296
layerId=17039404
graphic=297
tiling=yes

[back]
type=Sprite
x=292
y=16
width=214
height=304
layerId=17039404
graphic=297
tiling=yes

[inv_bg]
type=Sprite
x=17
y=15
width=32
height=32
layerId=17039404
graphic=824

[equipped_bg_1]
type=Sprite
x=17
y=34
width=32
height=32
layerId=17039404
graphic=829

[equipped_bg_2]
type=Sprite
x=17
y=293
width=32
height=32
layerId=17039404
graphic=826

[equipped_bg_3]
type=Sprite
x=255
y=15
width=32
height=32
layerId=17039404
graphic=825

[equipped_bg_4]
type=Sprite
x=255
y=34
width=32
height=32
layerId=17039404
graphic=830

[equipped_bg_5]
type=Sprite
x=255
y=293
width=32
height=32
layerId=17039404
graphic=827

[inv_icon_helm]
type=Sprite
x=291
y=15
width=32
height=32
layerId=17039404
graphic=824

[inv_icon_chest]
type=Sprite
x=291
y=34
width=32
height=32
layerId=17039404
graphic=829

[inv_icon_leggings]
type=Sprite
x=291
y=293
width=32
height=32
layerId=17039404
graphic=826

[inv_icon_boots]
type=Sprite
x=481
y=15
width=32
height=32
layerId=17039404
graphic=825

[inv_icon_weapon]
type=Sprite
x=481
y=34
width=32
height=32
layerId=17039404
graphic=830

[chest_layer]
type=Sprite
x=481
y=293
width=32
height=32
layerId=17039404
graphic=827

[chest_contents]
type=Sprite
x=4
y=54
width=21
height=241
layerId=17039404
graphic=821
tiling=yes
baseOpName=" "

[modal_dialog_window]
type=Sprite
x=267
y=54
width=24
height=240
layerId=17039404
graphic=823
tiling=yes

[modal_dialog_window_background]
type=Sprite
x=47
y=2
width=209
height=20
layerId=17039404
graphic=820
tiling=yes

[modal_dialog_window_content]
type=Sprite
x=27
y=32
width=253
height=26
layerId=17039404
graphic=828
tiling=yes

[modal_dialog_window_border]
type=Sprite
x=48
y=305
width=208
height=25
layerId=17039404
graphic=822
tiling=yes

[modal_dialog_window_close_button]
type=Sprite
x=323
y=305
width=161
height=28
layerId=17039404
graphic=822
tiling=yes

[com_22]
type=Sprite
x=322
y=2
width=176
height=30
layerId=17039404
graphic=820
tiling=yes

[com_23]
type=Sprite
x=300
y=32
width=202
height=22
layerId=17039404
graphic=828
tiling=yes

[com_24]
type=Sprite
x=493
y=55
width=20
height=240
layerId=17039404
graphic=823
tiling=yes

[com_25]
type=Sprite
x=278
y=55
width=22
height=241
layerId=17039404
graphic=821
tiling=yes

[com_26]
type=Sprite
x=314
y=66
width=61
height=62
layerId=17039404
graphic=837

[com_27]
type=Sprite
x=406
y=123
width=32
height=32
layerId=17039404
graphic=841

[com_28]
type=Sprite
x=406
y=167
width=32
height=32
layerId=17039404
graphic=841

[com_29]
type=Sprite
x=385
y=145
width=32
height=32
layerId=17039404
graphic=828

[com_30]
type=Sprite
x=406
y=208
width=32
height=32
layerId=17039404
graphic=841

[com_31]
type=Sprite
x=406
y=104
width=36
height=36
layerId=17039404
graphic=170

[com_32]
type=Sprite
x=406
y=145
width=36
height=36
layerId=17039404
graphic=170

[com_33]
type=Sprite
x=406
y=186
width=36
height=36
layerId=17039404
graphic=170

[com_34]
type=Sprite
x=406
y=227
width=36
height=36
layerId=17039404
graphic=170

[com_35]
type=Sprite
x=356
y=145
width=36
height=36
layerId=17039404
graphic=170

[com_36]
type=Sprite
x=408
y=106
width=32
height=32
layerId=17039404
graphic=156

[com_37]
type=Sprite
x=408
y=147
width=32
height=32
layerId=17039404
graphic=161

[com_38]
type=Sprite
x=408
y=188
width=32
height=32
layerId=17039404
graphic=163

[com_39]
type=Sprite
x=408
y=229
width=32
height=32
layerId=17039404
graphic=165

[com_40]
type=Sprite
x=358
y=147
width=32
height=32
layerId=17039404
graphic=159

[com_41]
type=Text
x=97
y=26
width=181
height=17
layerId=17039404
colour=0xFF981F
font=496
shadow=yes
text="Cyrisus's Bank"

[com_42]
type=Layer
x=32
y=52
width=240
height=261
layerId=17039404
oninvtransmit=60
oninvtransmitlist=514

[com_43]
type=Text
x=363
y=26
width=77
height=17
layerId=17039404
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Chest"

[com_44]
type=Layer
x=-10
y=2
width=513
height=335

[com_45]
type=Layer
x=348
y=105
width=86
height=158
oninvtransmit=61
oninvtransmitlist=515

[com_46]
type=Sprite
x=476
y=28
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[com_47]
type=Layer
x=473
y=15
width=32
height=32
hide=yes
