[dream_health_bar]
type=Rectangle
x=12
y=17
width=491
height=307
trans=200
fill=yes

[health_target]
type=Sprite
x=12
y=20
width=482
height=295
graphic=297
tiling=yes

[bar_back]
type=Sprite
x=5
y=13
width=32
height=32
graphic=824

[bar_container]
type=Sprite
x=5
y=34
width=32
height=32
graphic=829

[bar]
type=Sprite
x=-8
y=55
width=37
height=243
graphic=821
tiling=yes

[dream_health_text]
type=Sprite
x=469
y=34
width=32
height=32
graphic=830

[dream_health_name]
type=Sprite
x=481
y=55
width=21
height=246
graphic=823
tiling=yes

[health_bar]
type=Sprite
x=35
width=442
height=20
graphic=820
tiling=yes

[spirit_bar]
type=Sprite
x=31
y=302
width=447
height=28
graphic=822
tiling=yes

[armament_bar]
type=Sprite
x=5
y=290
width=32
height=32
graphic=826

[chathead]
type=Sprite
x=469
y=13
width=32
height=32
graphic=825

[back]
type=Sprite
x=469
y=290
width=32
height=32
graphic=827

[chathead_container]
type=Sprite
x=14
y=32
width=477
height=33
graphic=828
tiling=yes

[cyrisus_chathead_unconcious_model]
type=Sprite
x=473
y=25
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[mainmodal_window]
type=Text
x=41
y=23
width=422
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Guidance System"

[mainmodal_window_background]
type=Layer
x=464
y=24
width=32
height=32
hide=yes

[mainmodal_window_content]
type=Layer
x=41
y=93
width=210
height=43

[status]
type=Rectangle
x=-195
y=6
width=200
height=32
layerId=34144272
trans=100
colour=0x158B0D
fill=yes

[back_1]
type=Rectangle
x=199
y=95
width=51
height=40
trans=225
colour=0x666666
fill=yes

[info]
type=Rectangle
x=148
y=99
width=51
height=40
trans=200
colour=0x666666
fill=yes

[dream_info_box]
type=Rectangle
x=97
y=97
width=51
height=40
trans=175
colour=0x666666
fill=yes

[mainmodal_window_border]
type=Rectangle
x=46
y=99
width=51
height=40
trans=150
colour=0x666666
fill=yes

[mainmodal_window_close_button]
type=Layer
x=79
y=94
width=16
height=44

[bar_1]
type=Model
x=-8
y=22
width=32
height=32
layerId=34144278
model1Id=24994
modelZoom=400
discardedModelField=0

[bar_2]
type=Layer
x=118
y=94
width=16
height=40

[bar_container_1]
type=Model
x=-8
y=23
width=32
height=32
layerId=34144280
model1Id=24994
modelZoom=400
discardedModelField=0

[dream_spirit_text]
type=Layer
x=179
y=95
width=16
height=40

[dream_spirit_name]
type=Model
x=-8
y=23
width=32
height=32
layerId=34144282
model1Id=24994
modelZoom=400
discardedModelField=0

[bar_3]
type=Layer
x=235
y=93
width=16
height=40

[bar_4]
type=Model
x=-8
y=23
width=32
height=32
layerId=34144284
model1Id=24994
modelZoom=400
discardedModelField=0

[bar_container_2]
type=Model
x=130
y=114
width=32
height=32
model1Id=24993
modelZoom=528
discardedModelField=0

[dream_armament_text]
type=Text
x=202
y=73
width=42
height=16
colour=0xFF981F
font=496
shadow=yes
text="100%"

[dream_armament_name]
type=Text
x=50
y=72
width=151
height=16
colour=0xFF981F
vAlign=Center
font=496
shadow=yes
text="Health - "
eventCode=hasOp(1)
opName0="Health Info"
onmouseover=45,component.parentId,16168038
onmouseleave=45,component.parentId,16750623

[dream_spirit_bar]
type=Layer
x=41
y=164
width=210
height=43

[spirit_target]
type=Rectangle
x=-195
y=8
width=200
height=32
layerId=34144289
trans=100
colour=0x158B0D
fill=yes

[dream_armament_bar]
type=Rectangle
x=200
y=164
width=51
height=40
trans=225
colour=0x666666
fill=yes

[armament_target]
type=Rectangle
x=149
y=168
width=51
height=40
trans=200
colour=0x666666
fill=yes

[cyrisus_chathead_very_ill_model]
type=Rectangle
x=98
y=166
width=51
height=40
trans=175
colour=0x666666
fill=yes

[cyrisus_chathead_ill_model]
type=Rectangle
x=47
y=168
width=51
height=40
trans=150
colour=0x666666
fill=yes

[cyrisus_chathead_normal_model]
type=Layer
x=100
y=166
width=16
height=44

[com_40]
type=Model
x=-8
y=24
width=32
height=32
layerId=34144295
model1Id=24994
modelZoom=400
discardedModelField=0

[com_41]
type=Layer
x=182
y=165
width=16
height=44

[com_42]
type=Model
x=-8
y=24
width=32
height=32
layerId=34144297
model1Id=24994
modelZoom=400
discardedModelField=0

[com_43]
type=Layer
x=235
y=169
width=16
height=40

[com_44]
type=Model
x=-8
y=23
width=32
height=32
layerId=34144299
model1Id=24994
modelZoom=400
discardedModelField=0

[com_45]
type=Model
x=130
y=187
width=32
height=32
model1Id=24993
modelZoom=528
discardedModelField=0

[com_46]
type=Text
x=202
y=146
width=42
height=16
colour=0xFF981F
font=496
shadow=yes
text="100%"

[com_47]
type=Text
x=49
y=144
width=152
height=17
colour=0xFF981F
vAlign=Center
font=496
shadow=yes
text="Spirit - "
eventCode=hasOp(1)
opName0="Spirit Info"
onmouseover=45,component.parentId,16168038
onmouseleave=45,component.parentId,16750623

[com_48]
type=Layer
x=40
y=238
width=210
height=43

[com_49]
type=Rectangle
x=-194
y=6
width=200
height=32
layerId=34144304
trans=100
colour=0x158B0D
fill=yes

[com_50]
type=Rectangle
x=200
y=236
width=51
height=40
trans=225
colour=0x666666
fill=yes

[com_51]
type=Rectangle
x=149
y=240
width=51
height=40
trans=200
colour=0x666666
fill=yes

[com_52]
type=Rectangle
x=98
y=238
width=51
height=40
trans=175
colour=0x666666
fill=yes

[com_53]
type=Rectangle
x=47
y=240
width=51
height=40
trans=150
colour=0x666666
fill=yes

[com_54]
type=Layer
x=233
y=242
width=16
height=40

[com_55]
type=Model
x=-8
y=23
width=32
height=32
layerId=34144310
model1Id=24994
modelZoom=400
discardedModelField=0

[com_56]
type=Model
x=130
y=259
width=32
height=32
model1Id=24993
modelZoom=528
discardedModelField=0

[com_57]
type=Text
x=203
y=218
width=42
height=16
colour=0xFF981F
font=496
shadow=yes
text="100%"

[com_58]
type=Text
x=50
y=217
width=150
height=15
colour=0xFF981F
vAlign=Center
font=496
shadow=yes
text="Armament - "
eventCode=hasOp(1)
opName0="Armament Info"
onmouseover=45,component.parentId,16168038
onmouseleave=45,component.parentId,16750623

[com_59]
type=Rectangle
x=278
y=62
width=201
height=10
colour=0x3B322D
fill=yes

[com_60]
type=Rectangle
x=278
y=72
width=201
height=10
colour=0x3A312C
fill=yes

[com_61]
type=Rectangle
x=278
y=82
width=201
height=10
colour=0x39302C
fill=yes

[com_62]
type=Rectangle
x=278
y=92
width=201
height=10
colour=0x382F2B
fill=yes

[com_63]
type=Rectangle
x=278
y=102
width=201
height=10
colour=0x372E29
fill=yes

[com_64]
type=Rectangle
x=278
y=112
width=201
height=10
colour=0x362D28
fill=yes

[com_65]
type=Rectangle
x=278
y=122
width=201
height=10
colour=0x352D27
fill=yes

[com_66]
type=Rectangle
x=278
y=132
width=201
height=10
colour=0x342C26
fill=yes

[com_67]
type=Rectangle
x=278
y=142
width=201
height=10
colour=0x332B25
fill=yes

[com_68]
type=Rectangle
x=278
y=152
width=201
height=10
colour=0x322A24
fill=yes

[com_69]
type=Rectangle
x=278
y=162
width=201
height=9
colour=0x312923
fill=yes

[com_70]
type=Layer
x=315
y=63
width=125
height=107

[com_71]
type=Model
x=38
y=46
width=49
height=21
layerId=34144326
model1Id=24974
modelZoom=732
modelXAn=57
modelYAn=141
discardedModelField=0

[com_72]
type=Layer
x=315
y=63
width=125
height=107
hide=yes

[com_73]
type=Model
x=39
y=53
width=49
height=21
layerId=34144328
model1Id=24975
modelAnim=chathap3
modelZoom=732
modelXAn=57
modelYAn=141
discardedModelField=0

[com_74]
type=Layer
x=315
y=63
width=125
height=107
hide=yes

[com_75]
type=Model
x=39
y=53
width=49
height=21
layerId=34144330
model1Id=508
modelAnim=chathap3
modelZoom=732
modelXAn=57
modelYAn=141
discardedModelField=0

[com_76]
type=Layer
x=315
y=63
width=125
height=107
hide=yes

[com_77]
type=Model
x=39
y=53
width=49
height=21
layerId=34144332
model1Id=24978
modelAnim=chathap3
modelZoom=732
modelXAn=57
modelYAn=141
discardedModelField=0

[com_78]
type=Rectangle
x=278
y=177
width=201
height=131
colour=0x312923
fill=yes

[com_79]
type=Text
x=285
y=183
width=188
height=17
colour=0xFF981F
font=495
shadow=yes
text="--- Stat ---"

[com_80]
type=Text
x=285
y=203
width=188
height=100
colour=0xFF981F
font=495
shadow=yes
text="Information..."

[com_81]
type=Rectangle
x=277
y=62
width=203
height=109
colour=0x726451

[com_82]
type=Rectangle
x=278
y=63
width=201
height=107
colour=0x726451

[com_83]
type=Rectangle
x=278
y=63
width=202
height=108
colour=0x2E2B23

[com_84]
type=Rectangle
x=278
y=177
width=202
height=131
colour=0x726451

[com_85]
type=Rectangle
x=279
y=178
width=200
height=129
colour=0x726451

[com_86]
type=Rectangle
x=279
y=178
width=201
height=130
colour=0x2E2B23

[com_87]
type=Rectangle
x=277
y=62
width=203
height=109
colour=0x726451

[com_88]
type=Rectangle
x=278
y=63
width=201
height=107
colour=0x726451

[com_89]
type=Rectangle
x=278
y=63
width=202
height=108
colour=0x2E2B23
