[monster_armour]
type=Text
x=64
y=27
width=123
height=51
colour=0xFFC71F
hAlign=Center
font=497
shadow=yes
text="Monster name"

[monster_affinity_weakness]
type=Text
x=14
y=92
width=164
height=39
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Line1"

[monster_hitchance]
type=Text
x=14
y=132
width=164
height=39
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Line2"

[player_hitchance]
type=Text
x=14
y=172
width=164
height=37
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Line3"

[monster_hitpoints]
type=Text
x=14
y=210
width=164
height=38
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Line4"

[monster_attack_level]
type=Sprite
x=14
y=20
width=50
height=50
graphic=838

[monster_defence_level]
type=Sprite
x=165
y=11
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[monster_magic_level]
type=Layer
x=160
y=3
width=30
height=27
hide=yes
