[attack]
type=Sprite
x=20
y=3
width=25
height=25
layerId=34275424
graphic=197

[stat_attack]
type=Text
x=48
y=7
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_attack]
type=Text
x=68
y=16
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_3]
type=Text
x=64
y=12
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[hitpoints]
type=Sprite
x=95
y=2
width=25
height=25
layerId=34275424
graphic=203

[stat_hitpoints]
type=Text
x=123
y=6
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_hitpoints]
type=Text
x=143
y=15
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_7]
type=Text
x=139
y=11
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[mining_1]
type=Sprite
x=20
y=30
width=25
height=25
layerId=34275424
graphic=209

[stat_mining]
type=Text
x=48
y=34
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_mining]
type=Text
x=68
y=43
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_11]
type=Text
x=64
y=39
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[strength]
type=Sprite
x=95
y=30
width=25
height=25
layerId=34275424
graphic=198

[stat_strength]
type=Text
x=123
y=34
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_strength]
type=Text
x=143
y=43
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_15]
type=Text
x=139
y=39
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[agility]
type=Sprite
x=20
y=58
width=25
height=25
layerId=34275424
graphic=204

[stat_agility]
type=Text
x=48
y=62
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_agility]
type=Text
x=68
y=71
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_19]
type=Text
x=64
y=67
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[smithing]
type=Sprite
x=94
y=58
width=25
height=25
layerId=34275424
graphic=210

[stat_smithing]
type=Text
x=122
y=62
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_smithing]
type=Text
x=142
y=71
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_23]
type=Text
x=138
y=67
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[defence]
type=Sprite
x=20
y=86
width=25
height=25
layerId=34275424
graphic=199

[stat_defence]
type=Text
x=48
y=90
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_defence]
type=Text
x=68
y=99
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_27]
type=Text
x=64
y=95
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[herblore]
type=Sprite
x=94
y=85
width=25
height=25
layerId=34275424
graphic=205

[stat_herblore]
type=Text
x=122
y=89
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_herblore]
type=Text
x=142
y=98
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_31]
type=Text
x=138
y=94
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[fishing]
type=Sprite
x=20
y=114
width=25
height=25
layerId=34275424
graphic=211

[stat_fishing]
type=Text
x=48
y=118
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_fishing]
type=Text
x=68
y=127
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_35]
type=Text
x=64
y=123
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[ranged]
type=Sprite
x=94
y=113
width=25
height=25
layerId=34275424
graphic=200

[stat_ranged]
type=Text
x=122
y=117
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_ranged]
type=Text
x=142
y=126
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_39]
type=Text
x=138
y=122
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[thieving]
type=Sprite
x=20
y=142
width=25
height=25
layerId=34275424
graphic=206

[stat_thieving]
type=Text
x=48
y=146
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_thieving]
type=Text
x=68
y=155
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_43]
type=Text
x=64
y=151
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[cooking]
type=Sprite
x=94
y=141
width=25
height=25
layerId=34275424
graphic=212

[stat_cooking]
type=Text
x=122
y=145
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_cooking]
type=Text
x=142
y=154
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_47]
type=Text
x=138
y=150
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[prayer]
type=Sprite
x=20
y=170
width=25
height=25
layerId=34275424
graphic=201

[stat_prayer]
type=Text
x=48
y=174
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_prayer]
type=Text
x=68
y=183
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_51]
type=Text
x=64
y=179
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[crafting]
type=Sprite
x=94
y=169
width=25
height=25
layerId=34275424
graphic=207

[stat_crafting]
type=Text
x=122
y=173
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_crafting]
type=Text
x=142
y=182
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_55]
type=Text
x=138
y=178
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[firemaking]
type=Sprite
x=20
y=198
width=25
height=25
layerId=34275424
graphic=213

[stat_firemaking]
type=Text
x=48
y=202
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_firemaking]
type=Text
x=68
y=211
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_59]
type=Text
x=64
y=207
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[magic]
type=Sprite
x=94
y=198
width=25
height=25
layerId=34275424
graphic=202

[stat_magic]
type=Text
x=122
y=202
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_magic]
type=Text
x=142
y=211
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_63]
type=Text
x=138
y=207
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[fletching]
type=Sprite
x=20
y=226
width=25
height=25
layerId=34275424
graphic=208

[stat_fletching]
type=Text
x=48
y=230
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_fletching]
type=Text
x=68
y=239
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_67]
type=Text
x=64
y=235
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[woodcutting]
type=Sprite
x=94
y=226
width=25
height=25
layerId=34275424
graphic=214

[stat_woodcutting]
type=Text
x=122
y=230
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_woodcutting]
type=Text
x=142
y=239
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_71]
type=Text
x=138
y=235
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[runecraft]
type=Sprite
x=20
y=254
width=25
height=25
layerId=34275424
graphic=215

[stat_runecraft]
type=Text
x=48
y=258
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_runecraft]
type=Text
x=68
y=267
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_75]
type=Text
x=64
y=263
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[slayer]
type=Sprite
x=94
y=254
width=25
height=25
layerId=34275424
graphic=216

[stat_slayer]
type=Text
x=122
y=258
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_slayer]
type=Text
x=142
y=267
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_79]
type=Text
x=138
y=263
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[farming]
type=Sprite
x=20
y=282
width=25
height=25
layerId=34275424
graphic=217

[stat_farming]
type=Text
x=48
y=286
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_farming]
type=Text
x=68
y=295
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_83]
type=Text
x=64
y=291
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[construction]
type=Sprite
x=94
y=282
width=25
height=25
layerId=34275424
graphic=221

[stat_construction]
type=Text
x=122
y=286
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_construction]
type=Text
x=142
y=295
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_87]
type=Text
x=138
y=291
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[hunter]
type=Sprite
x=20
y=310
width=25
height=25
layerId=34275424
graphic=220

[stat_hunter]
type=Text
x=48
y=314
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_hunter]
type=Text
x=68
y=323
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[com_91]
type=Text
x=64
y=319
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[summoning]
type=Sprite
x=94
y=310
width=25
height=25
layerId=34275424
graphic=222

[stat_summoning]
type=Text
x=121
y=314
width=18
height=14
layerId=34275424
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="00"

[statbase_summoning]
type=Text
x=142
y=324
width=15
height=12
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="00"

[layer_1]
type=Text
x=137
y=320
width=8
height=15
layerId=34275424
colour=0xFF981F
font=495
shadow=yes
text="/"

[com_96]
type=Layer
x=-2
y=48
width=168
height=207
scrollHeight=350

[dungeoneering]
type=Layer
x=165
y=49
width=16
height=206
onload=63,component.parentId,34275424,792,789,790,791,773,788

[stat_dungeoneering]
type=Text
x=12
y=9
width=169
height=18
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Player :"

[statbase_dungeoneering]
type=Text
x=1
y=31
width=183
height=18
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Player ~ Name"

[com_100]
type=Sprite
x=165
y=8
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[divination]
type=Layer
x=160
y=4
width=26
height=23
hide=yes

[scrollbar_surround]
type=Sprite
width=26
height=23
layerId=34275429
graphic=536
