[fader]
type=Rectangle
x=22
y=251
width=465
height=68
trans=150
colour=0x112526
fill=yes

[text_layer]
type=Text
x=30
y=292
width=450
height=20
colour=0x666FFF
hAlign=Center
font=497
shadow=yes
text="Text"

[com_2]
type=Text
x=30
y=258
width=450
height=29
colour=0x666FFF
hAlign=Center
font=645
shadow=yes
text="Text"
