[dsd_ork_boss_reveal_env]
type=Model
x=-457
y=-169
width=1314
height=679
model1Id=32359
modelAnim=dsd_ork_boss_reveal_background_cutscene
modelZoom=472
modelXOf=-8
modelYOf=338
orthog=yes
discardedModelField=0

[dsd_ork_boss]
type=Model
x=-44
y=-313
width=866
height=1111
model1Id=32356
modelAnim=dsd_ork_boss_reveal_cutscene
modelZoom=272
modelXAn=2035
modelYAn=1912
modelXOf=-159
modelYOf=527
orthog=yes
discardedModelField=0
