[content_layer]
type=Rectangle
width=512
height=334
fill=yes

[dwarf_rock_rectangle]
type=Model
x=243
y=170
width=32
height=32
model1Id=5815
modelZoom=400
modelXAn=117
modelYAn=3

[dwarf_rock_backing]
type=Model
x=243
y=170
width=32
height=32
model1Id=63
modelZoom=400
modelXAn=90
modelYAn=10

[dwarf_rock_head]
type=Model
x=243
y=170
width=32
height=32
model1Id=5816
modelZoom=400
modelXAn=117
modelYAn=3

[dwarf_rock_front]
type=Text
x=80
y=15
width=350
height=17
layerId=7340040
colour=0x800000
hAlign=Center
font=497
shadow=yes
text="Name"

[dwarf_rock_zoom_playerlayer]
type=Text
x=80
y=37
width=350
height=17
layerId=7340040
colour=0xC9C980
hAlign=Center
font=497
text="Line1"

[dwarf_rock_fade_layer]
type=Model
x=25
y=37
width=32
height=32
layerId=7340040
model1Id=63
modelZoom=796
modelXAn=40
modelYAn=1882

[dwarf_rock_zoom_playertxt]
type=Text
x=10
y=8
width=350
height=17
layerId=7340041
colour=0xC9C980
hAlign=Center
font=497
text="Line1"

[dwarf_rock_fade_model]
type=Layer
y=1
width=512
height=94

[com_9]
type=Layer
x=70
y=291
width=379
height=33

[com_10]
type=Layer
width=512
height=334
hide=yes

[com_11]
type=Model
width=512
height=334
layerId=7340042
model1Id=5827
modelZoom=114
modelXAn=500
