[show_1]
type=Sprite
x=6
y=141
width=88
height=60
graphic=297

[select_1]
type=Sprite
x=92
y=141
width=88
height=60
graphic=297

[com_2]
type=Sprite
x=6
y=181
width=88
height=60
graphic=297

[back]
type=Sprite
x=92
y=181
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=6
y=141
width=25
height=30
graphic=310

[schematic_1]
type=Sprite
x=159
y=141
width=25
height=30
graphic=311

[schematic_2]
type=Sprite
x=163
y=185
width=36
height=36
graphic=315

[schematic_3]
type=Sprite
x=159
y=211
width=25
height=30
graphic=313

[dr_move_up]
type=Sprite
x=163
y=161
width=36
height=36
graphic=315

[dr_move_left]
type=Sprite
x=126
y=126
width=36
height=36
graphic=314

[dr_rotate_button]
type=Sprite
x=31
y=126
width=36
height=36
graphic=314

[dr_move_right]
type=Sprite
x=127
y=220
width=36
height=36
graphic=173

[dr_move_down]
type=Sprite
x=67
y=126
width=36
height=36
graphic=314

[controls]
type=Sprite
x=99
y=126
width=36
height=36
graphic=314

[base]
type=Sprite
x=-9
y=166
width=36
height=36
graphic=172

[checkboxes]
type=Sprite
x=-9
y=196
width=36
height=36
graphic=172

[show_2]
type=Sprite
x=6
y=211
width=25
height=30
graphic=312

[select_2]
type=Sprite
x=31
y=220
width=36
height=36
graphic=173

[com_18]
type=Sprite
x=98
y=220
width=36
height=36
graphic=173

[show_3]
type=Sprite
x=67
y=220
width=36
height=36
graphic=173

[select_3]
type=Text
x=77
y=172
width=99
height=14
colour=0xAA8822
colour2=0xAA3322
hAlign=Right
font=495
shadow=yes
text="Schematic 1"

[com_21]
type=Text
x=77
y=192
width=99
height=14
colour=0xAA8822
colour2=0xAA3322
hAlign=Right
font=495
shadow=yes
text="Schematic 2"

[com_22]
type=Text
x=77
y=212
width=99
height=14
colour=0xAA8822
colour2=0xAA3322
hAlign=Right
font=495
shadow=yes
text="Schematic 3"

[com_23]
type=Text
x=14
y=152
width=130
height=14
colour=0xAA8822
font=495
shadow=yes
text="Show/Select"

[com_24]
type=Sprite
buttonType=Select
x=55
y=172
width=15
height=15
graphic=180
graphic2=181
buttonText="Select Schematic One"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[com_25]
type=Sprite
buttonType=Select
x=55
y=192
width=15
height=15
graphic=180
graphic2=181
buttonText="Select Schematic Two"
eventCode=flag22
script1=eq,1
script1op1=varp,if2

[com_26]
type=Sprite
buttonType=Select
x=55
y=212
width=36
height=36
graphic=180
graphic2=181
buttonText="Select Schematic Three"
eventCode=flag22
script1=eq,1
script1op1=varp,if3

[com_27]
type=Sprite
buttonType=Button
x=23
y=172
width=15
height=15
graphic=180
graphic2=181
buttonText="Show Schematic One"
eventCode=flag22
script1=eq,1
script1op1=varp,if4

[com_28]
type=Sprite
buttonType=Button
x=23
y=192
width=15
height=15
graphic=180
graphic2=181
buttonText="Show Schematic Two"
eventCode=flag22
script1=eq,1
script1op1=varp,if5

[com_29]
type=Sprite
buttonType=Button
x=23
y=212
width=15
height=15
graphic=180
graphic2=181
buttonText="Show Schematic Three"
eventCode=flag22
script1=eq,1
script1op1=varp,if6

[com_30]
type=Model
buttonType=Button
x=79
y=53
width=32
height=32
model1Id=5823
model2Id=5821
modelZoom=1000
modelXAn=500
buttonText="Rotate the image"
eventCode=flag22

[com_31]
type=Model
buttonType=Button
x=79
y=13
width=32
height=32
model1Id=5822
model2Id=5820
modelZoom=1000
modelXAn=500
buttonText="Move Schematic Up"
eventCode=flag22

[com_32]
type=Model
buttonType=Button
x=120
y=52
width=32
height=32
model1Id=5822
model2Id=5820
modelZoom=1000
modelXAn=500
modelYAn=500
buttonText="Move Schematic Right"
eventCode=flag22

[com_33]
type=Model
buttonType=Button
x=40
y=52
width=32
height=32
model1Id=5822
model2Id=5820
modelZoom=1000
modelXAn=500
modelYAn=1530
buttonText="Move Schematic Left"
eventCode=flag22

[com_34]
type=Model
buttonType=Button
x=79
y=92
width=32
height=32
model1Id=5822
model2Id=5820
modelZoom=1000
modelXAn=500
modelYAn=1015
buttonText="Move Schematic Down"
eventCode=flag22
