[content_layer]
type=Rectangle
width=512
height=334
fill=yes

[bespoke_window]
type=Layer
width=512
height=334

[dwarf_rock_paper1]
type=Model
x=242
y=172
width=32
height=32
layerId=7405569
model1Id=5825
modelZoom=345
modelXAn=520
modelYAn=6

[dwarf_rock_schematic1]
type=Layer
width=512
height=334

[dwarf_rock_schematic2]
type=Model
x=239
y=171
width=32
height=32
layerId=7405571
model1Id=5828
modelZoom=345
modelXAn=520
modelYAn=6

[dwarf_rock_schematic3]
type=Layer
width=512
height=334

[dwarf_rock_buttons]
type=Model
x=236
y=173
width=32
height=32
layerId=7405573
model1Id=5830
modelZoom=339
modelXAn=521
modelYAn=2043

[dwarf_rock_border1]
type=Layer
width=512
height=334

[dwarf_rock_border2]
type=Model
x=239
y=174
width=32
height=32
layerId=7405575
model1Id=5832
modelZoom=332
modelXAn=574
modelYAn=2039

[dwarf_rock_border3]
type=Layer
x=445
y=13
width=66
height=28

[dwarf_rock_congrat_layer]
type=Layer
width=512
height=334

[dwarf_rock_paper]
type=Model
x=239
y=171
width=32
height=32
layerId=7405578
model1Id=5829
modelZoom=345
modelXAn=520
modelYAn=6

[dwarf_rock_schematic_1]
type=Layer
width=512
height=334

[dwarf_rock_schematic_2]
type=Model
x=236
y=173
width=32
height=32
layerId=7405580
model1Id=5831
modelZoom=339
modelXAn=521
modelYAn=2043

[dwarf_rock_schematic_3]
type=Layer
width=512
height=334

[dwarf_rock_border_1]
type=Model
x=239
y=174
width=32
height=32
layerId=7405582
model1Id=5833
modelZoom=332
modelXAn=574
modelYAn=2039

[dwarf_rock_border_2]
type=Layer
y=46
width=512
height=27
hide=yes

[dwarf_rock_border_3]
type=Text
width=512
height=27
layerId=7405584
colour=0xC9C980
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="That's it, it all makes sense now! If you were a dwarf, that is..."

[dwarf_rock_congrat_text]
type=Sprite
x=482
y=4
width=26
height=23
overLayerId=20
graphic=539

[bespoke_window_background]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=7405588
overLayerId=20
graphic=540
buttonText="Ok"

[bespoke_window_content]
type=Layer
x=479
y=1
width=32
height=32
hide=yes
