[com_0]
type=Model
x=420
y=34
width=32
height=32
model1Id=63
modelZoom=796
modelXAn=40
modelYAn=166

[com_1]
type=Text
x=196
y=8
width=85
height=17
colour=0x800000
hAlign=Center
font=497
text="Both"

[com_2]
type=Text
x=196
y=39
width=85
height=17
hAlign=Center
font=497
text="Argh!"

[com_3]
type=Model
x=34
y=34
width=32
height=32
model1Id=63
modelZoom=796
modelXAn=40
modelYAn=1882
