[com_0]
type=Rectangle
y=1
width=514
height=336
trans=160
colour=0x46341D
fill=yes

[com_1]
type=Model
x=15
y=-112
width=477
height=513
model1Id=32669
modelZoom=218
modelXOf=-1
modelYOf=293
discardedModelField=0

[close_button]
type=Sprite
x=477
y=9
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29

[com_3]
type=Text
x=4
y=5
width=314
height=496
layerId=47120389
font=495
text="COAL AND WATER SUPPLIES:<br> For your convenience, the incubator has a coal scuttle and water tank, which can hold up to twelve buckets of coal or water respectively.  Simply use a bucket of coal or water on the coal scuttle or water tank to add to the supplies.<br><br>ADJUSTING THE INCUBATOR TEMPERATURE:<br>The control panel to the left of the incubator allows you to use the coal and water supplies you have added to the incubator to heat or cool it.<br><br>INCUBATING AN EGG:<br>>  Place a suitable egg inside the incubation chamber.<br>>  Add supplies to the water tank and coal scuttle<br>>  Using the incubator controls, adjust the temperature.  The temperature gauge has a needle which shows the current temperature.  The top of the temperature gauge also has an arrow showing the temperature needed to reach the next phase of incubation.<br>> Some eggs may require you to reach several different temperatures before they hatch.<br><br>The very best of luck with hatching your eggs!"

[text_scroll_bar]
type=Layer
x=411
y=53
width=16
height=260

[text_scroll_layer]
type=Layer
x=87
y=46
width=320
height=268
scrollHeight=496
onload=30,47120388,47120389

[com_6]
type=Text
x=95
y=13
width=313
height=30
hAlign=Center
font=645
text="Operating your incubator"
