[back]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[content]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[close_button]
type=Model
x=14
y=13
width=63
height=82
modelZoom=400

[com_3]
type=Model
x=111
y=13
width=63
height=82
modelZoom=400

[correct_count]
type=Model
x=208
y=13
width=63
height=82
modelZoom=400

[conveyor]
type=Model
x=305
y=13
width=63
height=82
modelZoom=400

[band]
type=Model
x=402
y=13
width=63
height=82
modelZoom=400

[model1]
type=Text
buttonType=Pause
x=1
y=16
width=93
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[model2]
type=Text
buttonType=Pause
x=1
y=16
width=93
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[model3]
type=Text
buttonType=Pause
x=1
y=16
width=93
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[model4]
type=Text
buttonType=Pause
x=1
y=16
width=93
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[bar]
type=Text
buttonType=Pause
x=93
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[button]
type=Text
buttonType=Pause
x=93
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[roll1]
type=Text
buttonType=Pause
x=93
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[roll2]
type=Text
buttonType=Pause
x=93
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[roll3]
type=Text
buttonType=Pause
x=189
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[roll4]
type=Text
buttonType=Pause
x=189
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[roll5]
type=Text
buttonType=Pause
x=189
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[roller]
type=Text
buttonType=Pause
x=189
y=17
width=99
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[position_layer]
type=Text
buttonType=Pause
x=287
y=16
width=97
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[control1]
type=Text
buttonType=Pause
x=287
y=16
width=97
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[control2]
type=Text
buttonType=Pause
x=287
y=16
width=97
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[control3]
type=Text
buttonType=Pause
x=287
y=16
width=97
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[control4]
type=Text
buttonType=Pause
x=383
y=16
width=96
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[reject]
type=Text
buttonType=Pause
x=383
y=16
width=96
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[result]
type=Text
buttonType=Pause
x=383
y=16
width=96
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[result_text]
type=Text
buttonType=Pause
x=383
y=16
width=96
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[end_layer]
type=Text
buttonType=Pause
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to make?"
eventCode=pauseButton
