[chathead]
type=Rectangle
x=6
y=22
width=173
height=111
trans=200
fill=yes

[target_clickarea]
type=Rectangle
x=12
y=25
width=161
height=105
trans=200
fill=yes

[target_icon]
type=Rectangle
x=21
y=30
width=143
height=95
trans=200
fill=yes

[target_layer]
type=Model
x=57
y=5
width=67
height=131
model1Id=32683
modelAnim=lore_cockatrice_chat_idle
modelZoom=760
modelXAn=2033
modelYAn=1833
modelXOf=7
modelYOf=-2
discardedModelField=0

[call_clickarea]
type=Sprite
x=3
y=16
width=32
height=32
graphic=856

[call_button]
type=Sprite
x=35
y=3
width=116
height=32
graphic=851
tiling=yes
baseOpName=" "

[call_icon]
type=Sprite
x=150
y=16
width=32
height=32
graphic=857

[lore_familairs]
type=Sprite
x=165
y=48
width=32
height=53
graphic=852
tiling=yes

[lore_bounding_box]
type=Sprite
x=150
y=101
width=32
height=32
graphic=859

[lore_name]
type=Sprite
x=6
y=23
width=32
height=32
graphic=859

[action_text]
type=Sprite
x=35
y=117
width=115
height=32
graphic=851
tiling=yes

[com_11]
type=Sprite
x=3
y=101
width=32
height=32
graphic=858

[com_12]
type=Sprite
x=-11
y=51
width=32
height=53
graphic=852
tiling=yes

[com_13]
type=Sprite
x=-1
y=208
width=32
height=47
graphic=1075
tiling=yes

[com_14]
type=Sprite
x=13
y=192
width=164
height=32
graphic=1074
tiling=yes

[com_15]
type=Sprite
x=164
y=208
width=32
height=47
graphic=1075
tiling=yes

[com_16]
type=Sprite
x=12
y=238
width=165
height=32
graphic=1074
tiling=yes

[com_17]
type=Layer
x=76
y=214
width=38
height=38
layerId=46923798
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_18]
type=Rectangle
width=38
height=38
layerId=46923793
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Call-Chocatrice"

[com_19]
type=Sprite
x=9
y=9
width=20
height=20
layerId=46923793
graphic=424

[com_20]
type=Layer
width=190
height=261
layerId=46923798

[com_21]
type=Layer
width=189
height=260
layerId=46923798

[com_22]
type=Layer
x=-2
y=-1
width=190
height=261

[com_23]
type=Sprite
x=14
y=162
width=166
height=20
layerId=46923798
graphic=1196

[com_24]
type=Sprite
x=14
y=186
width=166
height=20
layerId=46923798
graphic=1196

[com_25]
type=Sprite
x=6
y=19
width=31
height=33
layerId=46923796
graphic=297
tiling=yes

[com_26]
type=Sprite
x=23
y=18
width=32
height=32
layerId=46923796
graphic=852

[com_27]
type=Sprite
x=571
width=32
height=32
layerId=46923796
graphic=859
baseOpName=" "

[com_28]
type=Sprite
x=-8
y=40
width=32
height=32
layerId=46923796
graphic=853

[com_29]
type=Sprite
x=6
y=35
width=32
height=32
layerId=46923796
graphic=1074
baseOpName=" "

[com_30]
type=Layer
x=5
y=18
width=32
height=32

[com_31]
type=Sprite
x=7
y=21
width=28
height=28
layerId=46923796
graphic=441

[com_32]
type=Rectangle
width=38
height=38
layerId=46923806
trans=254
colour=0xFFFF00
fill=yes
targetVerb="Target"
eventCode=targetMask=npc
onload=905
onmouseover=908
onmouseleave=909
ontargetleave=907
ontargetenter=906
ontimer=910

[com_33]
type=Text
x=15
y=161
width=165
height=22
layerId=46923798
colour=0xCC9900
hAlign=Center
vAlign=Center
font=495
text="Chocatrice"

[com_34]
type=Text
x=14
y=185
width=165
height=22
layerId=46923798
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
text="Waiting"

[com_35]
type=Rectangle
x=4
y=17
width=32
height=32
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,46923813
onmouserepeat=38,component.parentId,46923813,"Target the chocatrice on a creature.",25,180

[com_36]
type=Rectangle
x=74
y=213
width=38
height=38
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,46923813
onmouserepeat=38,component.parentId,46923813,"Calls the chocatrice to you if you get separated.",25,180

[com_37]
type=Layer
x=-13
y=-69
width=83
height=87
layerId=46923814

[com_38]
type=Layer
x=13
y=69
width=168
height=136

[com_39]
type=Layer
x=5
y=18
width=31
height=33
hide=yes

[com_40]
type=Rectangle
x=-4
y=-18
width=29
height=33
layerId=46923815
colour=0xFFFFFF
