[universe]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[summary_layer]
type=Model
x=14
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[background]
type=Model
x=16
y=6
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[classic_teleport_button_layer]
type=Model
x=418
y=216
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=872,component.parentId

[teleport_button_on_layer]
type=Model
x=420
y=250
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=873,component.parentId

[title]
type=Model
x=419
y=285
width=20
height=20
modelZoom=1730
modelXAn=81
modelYAn=1686
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=874,component.parentId

[date]
type=Text
x=40
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[description_01]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[description_2]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[teleport_button_over_layer]
type=Text
x=40
y=148
width=397
height=32
colour=0x242330
font=497
text="A player has just asked you for your personal details, including your phone number, home address and email address. What should you do?"

[teleport_button_hit_layer]
type=Text
x=40
y=215
width=363
height=32
colour=0x191930
font=497
text="Give them my personal details"

[teleport_button_selected_layer]
type=Text
x=40
y=251
width=363
height=32
colour=0x191930
font=497
text="Say \"No\" or ignore them"

[teleport_button_active_layer]
type=Text
x=40
y=286
width=363
height=32
colour=0x191930
font=497
text="Say \"No\" and ask for their details instead"

[teleport_button_disabled_layer]
type=Line
x=420
y=216
width=19
height=1
colour=0x0E0E17
lineWidth=2

[teleport_button_text_layer]
type=Line
x=420
y=216
height=19
colour=0x0E0E17
lineWidth=2

[teleport_button_text]
type=Line
x=419
y=234
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_16]
type=Line
x=438
y=216
height=20
colour=0x0E0E17
lineWidth=2

[com_17]
type=Line
x=420
y=250
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_18]
type=Line
x=420
y=250
height=19
colour=0x0E0E17
lineWidth=2

[com_19]
type=Line
x=419
y=268
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_20]
type=Line
x=438
y=250
height=20
colour=0x0E0E17
lineWidth=2

[com_21]
type=Line
x=420
y=285
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_22]
type=Line
x=420
y=285
height=19
colour=0x0E0E17
lineWidth=2

[com_23]
type=Line
x=419
y=303
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_24]
type=Line
x=438
y=285
height=20
colour=0x0E0E17
lineWidth=2

[com_25]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[com_26]
type=Layer
width=513
height=335
hide=yes

[com_27]
type=Rectangle
width=512
height=334
layerId=45678618
trans=160
colour=0x46341D
fill=yes

[com_28]
type=Sprite
x=32
y=79
width=449
height=230
layerId=45678618
graphic=297
tiling=yes

[com_29]
type=Sprite
x=19
y=111
width=25
height=172
layerId=45678618
graphic=821
tiling=yes

[com_30]
type=Sprite
x=32
y=79
width=32
height=32
layerId=45678618
graphic=824

[com_31]
type=Sprite
x=451
y=79
width=32
height=32
layerId=45678618
graphic=825
tiling=yes

[com_32]
type=Sprite
x=63
y=66
width=391
height=32
layerId=45678618
graphic=820
tiling=yes

[com_33]
type=Sprite
x=463
y=110
width=32
height=173
layerId=45678618
graphic=823
tiling=yes

[com_34]
type=Sprite
x=451
y=282
width=32
height=32
layerId=45678618
graphic=827
tiling=yes

[com_35]
type=Sprite
x=32
y=282
width=32
height=32
layerId=45678618
graphic=826
tiling=yes

[com_36]
type=Sprite
x=64
y=294
width=387
height=25
layerId=45678618
graphic=822
tiling=yes

[com_37]
type=Layer
x=55
y=94
width=389
height=160
layerId=45678618
hide=yes

[com_38]
type=Text
x=16
y=-4
width=32
height=32
layerId=45678629
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_39]
type=Text
x=1
y=27
width=388
height=105
layerId=45678629
colour=0xA49279
font=497
shadow=yes
text="Be polite and say no, but if the other player is persistent you can also use the report abuse button and ignore functions, which can both be found at the bottom of your game window. If you are at all concerned, speak to a parent, friend or adult that you trust."

[com_40]
type=Layer
x=55
y=94
width=389
height=160
layerId=45678618
hide=yes

[com_41]
type=Text
x=16
y=-4
width=32
height=32
layerId=45678632
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_42]
type=Text
x=1
y=27
width=390
height=105
layerId=45678632
colour=0xA49279
font=495
shadow=yes
text="Giving out personal information to another player is dangerous, as you can never be sure who you are talking to. It's best to keep your personal details to yourself."

[com_43]
type=Layer
x=55
y=94
width=389
height=160
layerId=45678618
hide=yes

[com_44]
type=Text
x=16
y=-4
width=32
height=32
layerId=45678635
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_45]
type=Text
x=1
y=27
width=389
height=105
layerId=45678635
colour=0xA49279
font=495
shadow=yes
text="Asking for another player's personal details is against the RuneScape Rules of Conduct. Doing so would put your account at risk of being banned."

[com_46]
type=Layer
x=375
y=255
width=97
height=42
layerId=45678618

[com_47]
type=Layer
width=97
height=42
layerId=45678638
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_48]
type=Rectangle
width=97
height=42
layerId=45678638
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_49]
type=Text
width=97
height=42
layerId=45678638
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
