[temperature_bar]
type=Rectangle
x=22
y=36
width=145
height=14
layerId=46989313
trans=1
colour=0xCC00CC
fill=yes

[layer_1]
type=Layer
width=188
height=256
onload=871

[com_2]
type=Model
x=27
y=26
width=127
height=67
layerId=46989313
model1Id=32676
modelZoom=345
modelYOf=33
discardedModelField=0

[temperature_target]
type=Model
x=84
y=30
width=19
height=127
layerId=46989313
model1Id=32671
modelZoom=365
modelXAn=2047
modelYOf=1
discardedModelField=0
ontimer=893

[demo_pointer]
type=Model
x=89
y=43
width=7
height=103
layerId=46989313
model1Id=32674
modelZoom=388
discardedModelField=0
ontimer=893

[com_5]
type=Rectangle
x=50
y=123
width=23
height=114
fill=yes

[com_6]
type=Rectangle
x=117
y=125
width=23
height=114
fill=yes

[coal_indicator]
type=Rectangle
x=113
y=122
width=27
height=116
colour=0xFF6666
fill=yes
onvartransmit=895
onvartransmitlist=1205

[water_indicator]
type=Rectangle
x=49
y=122
width=27
height=116
colour=0x3399FF
fill=yes
onvartransmit=894
onvartransmitlist=1205

[dial_cap]
type=Model
x=60
y=85
width=61
height=10
layerId=46989313
model1Id=32670
modelZoom=409
modelXAn=2047
modelYOf=5
discardedModelField=0

[machine_panel]
type=Model
x=-21
y=-5
width=223
height=277
layerId=46989313
model1Id=32677
modelZoom=352
modelXAn=2044
modelYOf=-39
discardedModelField=0

[water_window]
type=Model
x=44
y=118
width=37
height=128
model1Id=32675
modelZoom=360
modelYOf=1
discardedModelField=0

[coal_window]
type=Model
x=110
y=118
width=37
height=128
model1Id=32675
modelZoom=360
modelYOf=1
discardedModelField=0

[coal_button]
type=Model
x=149
y=193
width=39
height=34
model1Id=32672
modelZoom=400
modelXOf=2
discardedModelField=0
onmouseover=899
onmouseleave=900
onclick=903
onrelease=904

[water_button]
type=Model
x=3
y=193
width=39
height=34
model1Id=32672
modelZoom=400
modelXOf=2
discardedModelField=0
onmouseover=897
onmouseleave=898
onclick=901
onrelease=902

[add_water_button]
type=Layer
x=8
y=193
width=28
height=31

[add_water_selector]
type=Rectangle
x=2
y=192
width=40
height=35
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Add-Water"
onmouseleave=40,46989342
onmouserepeat=38,component.parentId,46989342,"Add water to cool the incubator.",50,180

[add_coal_button]
type=Layer
x=156
y=196
width=28
height=31

[add_coal_selector]
type=Rectangle
x=149
y=192
width=39
height=35
trans=254
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Add-Coal"
onmouseleave=40,46989342
onmouserepeat=38,component.parentId,46989342,"Add coal to heat the incubator.",50,180

[com_19]
type=Rectangle
x=8
y=7
width=171
height=93
layerId=46989333
trans=54
colour=0x009900
fill=yes

[com_20]
type=Text
x=9
y=8
width=173
height=92
layerId=46989333
colour=0xFFCC00
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Temperature reached!<br><br>New target<br>temperature set."

[target_update_layer]
type=Layer
x=-2
width=192
height=256
hide=yes

[com_22]
type=Model
x=25
y=126
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[com_23]
type=Model
x=25
y=159
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[com_24]
type=Model
x=152
y=159
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[com_25]
type=Model
x=152
y=126
width=13
height=13
model1Id=32157
modelZoom=1936
discardedModelField=0

[com_26]
type=Sprite
x=167
y=4
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[add_water_tooltip]
type=Rectangle
x=3
y=192
width=38
height=35
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,46989342
onmouserepeat=38,component.parentId,46989342,"Add water to cool the incubator.",25,180

[add_coal_tooltip]
type=Rectangle
x=149
y=192
width=38
height=35
trans=254
colour=0xFFFF00
fill=yes
onmouseleave=40,46989342
onmouserepeat=38,component.parentId,46989342,"Add coal to heat the incubator.",25,180

[com_29]
type=Layer
x=4
y=227
width=182
height=30

[com_30]
type=Layer
x=13
y=11
width=14
height=21
layerId=46989341

[water_highlight_layer]
type=Sprite
x=156
y=197
width=25
height=25
graphic=774

[water_highlight_rect]
type=Sprite
x=11
y=196
width=25
height=25
graphic=775

[coal_highlight_layer]
type=Layer
x=2
y=192
width=40
height=35
hide=yes

[coal_highlight_rect]
type=Rectangle
x=3
y=2
width=34
height=31
layerId=46989345
trans=180
colour=0xFFFFFF
fill=yes

[com_35]
type=Layer
x=148
y=192
width=40
height=35
hide=yes

[com_36]
type=Rectangle
x=3
y=2
width=35
height=31
layerId=46989347
trans=180
colour=0xFFFFFF
fill=yes
