[com_0]
type=Rectangle
x=-1
y=-3
width=513
height=339
layerId=47251458
colour=0x241B03
fill=yes

[com_1]
type=Model
x=2
y=-160
width=901
height=555
layerId=47251458
model1Id=32647
modelAnim=easter08_incubator_for_if
modelZoom=345
modelXAn=84
modelYAn=1933
modelXOf=-201
modelYOf=216
discardedModelField=0

[animation_layer]
type=Layer
width=512
height=334

[blackout_rect]
type=Rectangle
width=516
height=335
trans=255
fill=yes
ontimer=911
