[build]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[mainmodal_window]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[creature_model]
type=Model
x=207
y=13
width=64
height=96
model1Id=2365
modelZoom=400
modelXAn=221
modelYAn=1877

[name]
type=Text
buttonType=Pause
x=190
y=12
width=100
height=90
hAlign=Center
font=497
buttonText="Churn 10"
eventCode=pauseButton

[description]
type=Text
buttonType=Pause
x=190
y=12
width=100
height=90
hAlign=Center
font=497
buttonText="Churn 5"
eventCode=pauseButton
script1=gt,47
script1op1=stat_level,7

[requirements]
type=Text
buttonType=Pause
x=190
y=12
width=100
height=90
hAlign=Center
font=497
buttonText="Churn 1"
eventCode=pauseButton
script1=gt,47
script1op1=stat_level,7

[back_button]
type=Text
x=56
y=1
width=366
height=31
colour=0x800000
hAlign=Center
vAlign=Center
font=497
text="What would you like to make in the churn?"

[mainmodal_window_background]
type=Text
x=190
y=13
width=100
height=84
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
text="Churn Cheese"
