[jadinko_layer]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[buttons]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[ward_button]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to smelt?"

[mainmodal_window]
type=Inventory
x=20
y=116
width=8
height=1
widthAlignment=Grid
heightAlignment=Grid
marginX=25

[bigmodel]
type=Model
x=18
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[name]
type=Model
x=68
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[mainmodal_window_background]
type=Model
x=120
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[mainmodal_window_content]
type=Model
x=170
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[build]
type=Model
x=224
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[mainmodal_window_border]
type=Model
x=274
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[mainmodal_window_close_button]
type=Model
x=327
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[click]
type=Model
x=380
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[com_12]
type=Model
x=432
y=37
width=32
height=32
model1Id=2408
modelZoom=678
modelXAn=224
modelYAn=177

[com_13]
type=Text
buttonType=Button
x=8
y=28
width=51
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Bronze"
eventCode=flag22

[com_14]
type=Text
buttonType=Button
x=8
y=28
width=51
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Bronze"
eventCode=flag22

[com_15]
type=Text
buttonType=Button
x=8
y=28
width=51
height=88
hAlign=Center
font=495
buttonText="Smelt 5 <col=ff9040>Bronze"
eventCode=flag22

[com_16]
type=Text
buttonType=Button
x=8
y=28
width=51
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Bronze"
buttonText="Smelt 1 <col=ff9040>Bronze"
eventCode=flag22
script1=gt,0
script1op1=stat_level,13

[com_17]
type=Text
buttonType=Button
x=59
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Blurite"
eventCode=flag22

[com_18]
type=Text
buttonType=Button
x=59
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Blurite"
eventCode=flag22

[com_19]
type=Text
buttonType=Button
x=59
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Blurite"
eventCode=flag22

[com_20]
type=Text
buttonType=Button
x=59
y=28
width=48
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Blurite"
buttonText="Smelt 1 <col=ff9040>Blurite"
eventCode=flag22

[com_21]
type=Text
buttonType=Button
x=110
y=28
width=49
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Iron"
eventCode=flag22

[com_22]
type=Text
buttonType=Button
x=110
y=28
width=49
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Iron"
eventCode=flag22

[com_23]
type=Text
buttonType=Button
x=110
y=28
width=49
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Iron"
eventCode=flag22

[com_24]
type=Text
buttonType=Button
x=110
y=28
width=49
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Iron"
buttonText="Smelt 1 <col=ff9040>Iron"
eventCode=flag22
script1=gt,14
script1op1=stat_level,13

[com_25]
type=Text
buttonType=Button
x=162
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Silver"
eventCode=flag22

[com_26]
type=Text
buttonType=Button
x=162
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Silver"
eventCode=flag22

[com_27]
type=Text
buttonType=Button
x=162
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Silver"
eventCode=flag22

[com_28]
type=Text
buttonType=Button
x=162
y=28
width=48
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Silver"
buttonText="Smelt 1 <col=ff9040>Silver"
eventCode=flag22
script1=gt,19
script1op1=stat_level,13

[com_29]
type=Text
buttonType=Button
x=214
y=28
width=46
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Steel"
eventCode=flag22

[com_30]
type=Text
buttonType=Button
x=214
y=28
width=46
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Steel"
eventCode=flag22

[com_31]
type=Text
buttonType=Button
x=214
y=28
width=46
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Steel"
eventCode=flag22

[com_32]
type=Text
buttonType=Button
x=214
y=28
width=46
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Steel"
buttonText="Smelt 1 <col=ff9040>Steel"
eventCode=flag22
script1=gt,29
script1op1=stat_level,13

[com_33]
type=Text
buttonType=Button
x=266
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Gold"
eventCode=flag22

[com_34]
type=Text
buttonType=Button
x=266
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Gold"
eventCode=flag22

[com_35]
type=Text
buttonType=Button
x=266
y=28
width=48
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Gold"
eventCode=flag22

[com_36]
type=Text
buttonType=Button
x=266
y=28
width=48
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Gold"
buttonText="Smelt 1 <col=ff9040>Gold"
eventCode=flag22
script1=gt,39
script1op1=stat_level,13

[com_37]
type=Text
buttonType=Button
x=318
y=28
width=50
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Mithril"
eventCode=flag22

[com_38]
type=Text
buttonType=Button
x=318
y=28
width=50
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Mithril"
eventCode=flag22

[com_39]
type=Text
buttonType=Button
x=318
y=28
width=50
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Mithril"
eventCode=flag22

[com_40]
type=Text
buttonType=Button
x=318
y=28
width=50
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Mithril"
buttonText="Smelt 1 <col=ff9040>Mithril"
eventCode=flag22
script1=gt,49
script1op1=stat_level,13

[com_41]
type=Text
buttonType=Button
x=370
y=28
width=53
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Adamant"
eventCode=flag22

[com_42]
type=Text
buttonType=Button
x=370
y=28
width=53
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Adamant"
eventCode=flag22

[com_43]
type=Text
buttonType=Button
x=370
y=28
width=53
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Adamant"
eventCode=flag22

[com_44]
type=Text
buttonType=Button
x=370
y=28
width=53
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Adamant"
buttonText="Smelt 1 <col=ff9040>Adamant"
eventCode=flag22
script1=gt,69
script1op1=stat_level,13

[com_45]
type=Text
buttonType=Button
x=422
y=28
width=55
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt X <col=ff9040>Rune"
eventCode=flag22

[com_46]
type=Text
buttonType=Button
x=422
y=28
width=55
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 10 <col=ff9040>Rune"
eventCode=flag22

[com_47]
type=Text
buttonType=Button
x=422
y=28
width=55
height=88
hAlign=Center
font=495
shadow=yes
buttonText="Smelt 5 <col=ff9040>Rune"
eventCode=flag22

[com_48]
type=Text
buttonType=Button
x=422
y=28
width=55
height=88
colour=0xA00000
hAlign=Center
font=494
text="<br><br><br><br>Rune"
buttonText="Smelt 1 <col=ff9040>Rune"
eventCode=flag22
script1=gt,84
script1op1=stat_level,13
