[sparepipe1m]
type=Model
x=222
y=147
width=32
height=32
overLayerId=4
model1Id=18787
modelZoom=400
modelXAn=519

[base_plate]
type=Model
x=57
y=26
width=32
height=32
layerId=17170436
model1Id=18789
modelZoom=528
modelXAn=517
modelYAn=624
script1=lt,3
script1op1=varp,if2

[sparepipe1]
type=Model
x=48
y=23
width=32
height=32
layerId=17170437
model1Id=18813
modelZoom=528
modelXAn=517
modelYAn=645
script1=lt,2
script1op1=varp,if2

[sparepipe2]
type=Model
x=40
y=9
width=32
height=32
layerId=17170438
model1Id=18814
modelZoom=528
modelXAn=517
script1=lt,1
script1op1=varp,if2

[sparepipe3]
type=Layer
x=344
y=36
width=130
height=81

[connectiona_1_l]
type=Layer
x=343
y=126
width=125
height=78

[connectionb_2_l]
type=Layer
x=349
y=217
width=118
height=65

[connectionc_3_l]
type=Model
x=50
y=146
width=32
height=32
layerId=17170440
model1Id=18801
modelZoom=407
modelXAn=517

[connection1_2_l]
type=Layer
width=516
height=339
hide=yes

[connection1_3_l]
type=Model
x=156
y=141
width=32
height=32
layerId=17170442
model1Id=18807
modelZoom=400
modelXAn=517

[connection2_3_l]
type=Layer
width=517
height=348
hide=yes

[connectiona_2_l]
type=Model
x=262
y=142
width=32
height=32
layerId=17170444
model1Id=18812
modelZoom=400
modelXAn=517

[connectiona_3_l]
type=Layer
width=525
height=346
hide=yes

[connectiona_b_l]
type=Model
buttonType=Button
x=104
y=213
width=32
height=32
layerId=17170446
model1Id=18798
modelZoom=407
modelXAn=517
eventCode=flag22
script1=eq,7
script1op1=varbit,varbit_2646
script2=eq,7
script2op1=varbit,varbit_2647
script3=eq,7
script3op1=varbit,varbit_2648

[connectiona_c_l]
type=Layer
width=520
height=353
hide=yes

[connectionb_1_l]
type=Model
x=160
y=207
width=32
height=32
layerId=17170448
model1Id=18799
modelZoom=414
modelXAn=517
script1=eq,8
script1op1=varbit,varbit_2646
script2=eq,8
script2op1=varbit,varbit_2647
script3=eq,8
script3op1=varbit,varbit_2648

[connectionb_3_l]
type=Layer
width=517
height=353
hide=yes

[connectionb_c_l]
type=Model
x=210
y=212
width=32
height=32
layerId=17170450
model1Id=18800
modelZoom=407
modelXAn=517

[connectionc_1_l]
type=Layer
width=515
height=342
hide=yes

[connectionc_2_l]
type=Model
x=122
y=170
width=32
height=32
layerId=17170452
model1Id=18802
modelZoom=400
modelXAn=517

[inletcm]
type=Layer
width=524
height=347
hide=yes

[inlet1m]
type=Model
x=154
y=150
width=32
height=32
layerId=17170454
model1Id=18803
modelZoom=407
modelXAn=517

[inlet2m]
type=Layer
width=519
height=349
hide=yes

[inlet3m]
type=Model
x=103
y=69
width=32
height=32
layerId=17170456
model1Id=18804
modelZoom=407
modelXAn=517

[inletam]
type=Layer
width=518
height=345
hide=yes

[inletbm]
type=Model
x=160
y=75
width=32
height=32
layerId=17170458
model1Id=18805
modelZoom=410
modelXAn=517

[backgroundm]
type=Layer
width=516
height=350
hide=yes

[closewin]
type=Model
x=99
y=162
width=32
height=32
layerId=17170460
model1Id=18806
modelZoom=400
modelXAn=517

[sparepipe2m]
type=Layer
width=513
height=344
hide=yes

[sparepipe3m]
type=Model
x=222
y=167
width=32
height=32
layerId=17170462
model1Id=18808
modelZoom=400
modelXAn=517

[connectiona_1]
type=Layer
width=516
height=356
hide=yes

[connectionb_2]
type=Model
x=211
y=75
width=32
height=32
layerId=17170464
model1Id=18809
modelZoom=407
modelXAn=517

[connectionc_3]
type=Layer
width=513
height=349
hide=yes

[connection1_2]
type=Model
x=153
y=172
width=32
height=32
layerId=17170466
model1Id=18810
modelZoom=407
modelXAn=517

[connection1_3]
type=Layer
width=519
height=348
hide=yes

[connection2_3]
type=Model
x=209
y=134
width=32
height=32
layerId=17170468
model1Id=18811
modelZoom=400
modelXAn=517

[connectiona_2]
type=Layer
width=514
height=344
hide=yes

[connectiona_3]
type=Model
buttonType=Button
x=249
y=37
width=57
height=47
model1Id=18794
model2Id=18796
modelZoom=400
modelXAn=519
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,3
script1op1=varp,if1

[connectiona_b]
type=Model
buttonType=Button
x=37
y=240
width=59
height=42
model1Id=18790
model2Id=18792
modelZoom=400
modelXAn=517
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,4
script1op1=varp,if1

[connectiona_c]
type=Model
buttonType=Button
x=140
y=239
width=58
height=45
model1Id=18790
model2Id=18792
modelZoom=400
modelXAn=517
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,5
script1op1=varp,if1

[connectionb_1]
type=Model
buttonType=Button
x=249
y=239
width=56
height=45
model1Id=18790
model2Id=18792
modelZoom=400
modelXAn=517
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,6
script1op1=varp,if1

[connectionb_3]
type=Model
buttonType=Button
x=35
y=37
width=61
height=47
model1Id=18794
model2Id=18796
modelZoom=400
modelXAn=512
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[connectionb_c]
type=Model
buttonType=Button
x=141
y=36
width=57
height=48
model1Id=18794
model2Id=18796
modelZoom=400
modelXAn=512
buttonText="Attach/Detach Pipe"
eventCode=flag22
script1=eq,2
script1op1=varp,if1

[connectionc_1]
type=Model
x=220
y=145
width=36
height=36
model1Id=18788
modelZoom=442
modelXAn=517

[connectionc_2]
type=Sprite
x=475
y=6
width=26
height=23
overLayerId=46
graphic=535

[content_layer]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=17170478
overLayerId=46
graphic=536
buttonText="Ok"

[com_46]
type=Layer
x=472
y=2
width=32
height=32
hide=yes
