[world]
type=Rectangle
x=21
y=32
width=485
height=300
trans=200
fill=yes

[transmog]
type=Layer
x=14
y=25
width=485
height=300
onload=1087,component.parentId,0

[bottom_line]
type=Sprite
width=16384
height=16384
widthAlignment=Percentage
heightAlignment=Percentage
layerId=38666241
graphic=297
tiling=yes

[layer_1]
type=Sprite
x=8
y=8
width=16
height=16
xAlignment=Bottom_Right
layerId=38666241
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[toggle_display_new]
type=Sprite
x=4
y=12
width=476
height=32
layerId=38666241
graphic=851
tiling=yes

[toggle_displaymode]
type=Sprite
x=151
y=27
width=32
height=268
layerId=38666241
graphic=852
tiling=yes

[sort_graphic]
type=Rectangle
width=16391
height=20
widthAlignment=Percentage
heightAlignment=Offset
yAlignment=Bottom_Right
layerId=38666252
trans=200
colour=0x321F16
fill=yes

[emotes_category]
type=Sprite
x=124
width=32
height=2
heightAlignment=Offset
layerId=38666252
graphic=1075
tiling=yes

[emotes_filter]
type=Text
x=7
width=130
height=20
layerId=38666252
colour=0xFF981F
vAlign=Center
font=496
shadow=yes
text="Name:"

[layer_2]
type=Text
x=144
width=129
height=20
layerId=38666252
colour=0xFF981F
vAlign=Center
font=496
shadow=yes
text="Rank:"

[scrollbar]
type=Sprite
x=24
y=259
width=26
height=26
graphic=306

[main]
type=Text
x=19
y=30
width=471
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Clan Chat Setup"

[overhead]
type=Layer
x=194
y=82
width=279
height=234
onload=1085,component.parentId,20,0,0

[main_layer]
type=Layer
x=199
y=103
width=269
height=208
scrollHeight=25
onload=200,component.parentId,38666254

[layer_3]
type=Layer
x=473
y=103
width=16
height=208

[cat_listener]
type=Text
x=268
y=59
width=131
height=15
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Friends List"

[filter_listener]
type=Text
x=50
y=270
width=107
height=10
colour=0xFF9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="CoinShare"

[menu_bar_new]
type=Layer
x=24
y=58
width=150
height=35
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_18]
type=Layer
x=24
y=98
width=150
height=35
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_19]
type=Layer
x=24
y=139
width=150
height=35
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_20]
type=Layer
x=24
y=179
width=150
height=35
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_21]
type=Layer
x=24
y=219
width=150
height=35
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_22]
type=Text
x=23
y=53
width=151
height=38
colour=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=307
shadow=yes
text="Chat disabled"
eventCode=hasOp(1,2)
opName0="Set prefix"
opName1="Disable"

[com_23]
type=Text
x=24
y=96
width=150
height=35
colour=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=307
shadow=yes
text="Any friends"
eventCode=hasOp(1,2,3,4,5,6,7,8,9)
opName0="Anyone"
opName1="Any friends"
opName2="Recruit+"
opName3="Corporal+"
opName4="Sergeant+"
opName5="Lieutenant+"
opName6="Captain+"
opName7="General+"
opName8="Only me"

[com_24]
type=Text
x=24
y=138
width=150
height=34
colour=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=307
shadow=yes
text="Anyone"
eventCode=hasOp(1,2,3,4,5,6,7,8,9)
opName0="Anyone"
opName1="Any friends"
opName2="Recruit+"
opName3="Corporal+"
opName4="Sergeant+"
opName5="Lieutenant+"
opName6="Captain+"
opName7="General+"
opName8="Only me"

[com_25]
type=Text
x=24
y=179
width=150
height=33
colour=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=307
shadow=yes
text="Only me"
eventCode=hasOp(4,5,6,7,8,9)
opName3="Corporal+"
opName4="Sergeant+"
opName5="Lieutenant+"
opName6="Captain+"
opName7="General+"
opName8="Only me"

[com_26]
type=Text
x=23
y=219
width=151
height=33
colour=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=307
shadow=yes
text="No-one"
eventCode=hasOp(1,2,3,4,5,6,7,8)
opName0="No-one"
opName1="Any friends"
opName2="Recruit+"
opName3="Corporal+"
opName4="Sergeant+"
opName5="Lieutenant+"
opName6="Captain+"
opName7="General+"

[com_27]
type=Text
x=36
y=62
width=125
height=10
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Clan name:"

[com_28]
type=Text
x=36
y=102
width=125
height=10
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Who can enter chat?"

[com_29]
type=Text
x=36
y=143
width=125
height=10
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Who can talk on chat?"

[com_30]
type=Text
x=36
y=183
width=125
height=10
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Who can kick on chat?"

[com_31]
type=Text
x=36
y=223
width=125
height=10
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Who can share loot?"

[com_32]
type=Text
x=19
y=289
width=162
height=31
colour=0xDAC378
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Right-click on white text to change options."

[com_33]
type=Sprite
x=158
y=267
width=15
height=15
graphic=1134
eventCode=hasOp(1)
opName0="Toggle CoinShare"
onvartransmit=601
onvartransmitlist=1083
