[com_0]
type=Layer
x=173
y=1
width=16
height=260

[com_1]
type=Layer
width=173
height=260
scrollWidth=174
scrollHeight=552
onload=30,30408704,30408705
onvartransmit=838
onvartransmitlist=313,465,802,1085

[com_2]
type=Sprite
x=-2
y=6
width=48
height=48
layerId=30408705
graphic=700
eventCode=hasOp(1)
opName0="Yes"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Yes",50,150

[com_3]
type=Sprite
x=42
y=6
width=48
height=48
layerId=30408705
graphic=701
eventCode=hasOp(1)
opName0="No"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"No",50,150

[com_4]
type=Sprite
x=86
y=6
width=48
height=48
layerId=30408705
graphic=703
eventCode=hasOp(1)
opName0="Bow"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Bow",50,150

[com_5]
type=Sprite
x=130
y=6
width=48
height=48
layerId=30408705
graphic=704
eventCode=hasOp(1)
opName0="Angry"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Angry",50,150

[com_6]
type=Sprite
x=-2
y=55
width=48
height=48
layerId=30408705
graphic=702
eventCode=hasOp(1)
opName0="Think"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Think",50,150

[com_7]
type=Sprite
x=42
y=55
width=48
height=48
layerId=30408705
graphic=708
eventCode=hasOp(1)
opName0="Wave"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Wave",50,150

[com_8]
type=Sprite
x=86
y=55
width=48
height=48
layerId=30408705
graphic=720
eventCode=hasOp(1)
opName0="Shrug"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Shrug",50,150

[com_9]
type=Sprite
x=130
y=55
width=48
height=48
layerId=30408705
graphic=707
eventCode=hasOp(1)
opName0="Cheer"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Cheer",50,150

[com_10]
type=Sprite
x=-3
y=104
width=48
height=48
layerId=30408705
graphic=709
eventCode=hasOp(1)
opName0="Beckon"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Beckon",50,150

[com_11]
type=Sprite
x=39
y=104
width=48
height=48
layerId=30408705
graphic=706
eventCode=hasOp(1)
opName0="Laugh"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Laugh",50,150

[com_12]
type=Sprite
x=86
y=104
width=48
height=48
layerId=30408705
graphic=716
eventCode=hasOp(1)
opName0="Jump for Joy"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Jump For Joy",50,150

[com_13]
type=Sprite
x=130
y=104
width=48
height=48
layerId=30408705
graphic=718
eventCode=hasOp(1)
opName0="Yawn"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Yawn",50,150

[com_14]
type=Sprite
x=-1
y=153
width=48
height=48
layerId=30408705
graphic=710
eventCode=hasOp(1)
opName0="Dance"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Dance",50,150

[com_15]
type=Sprite
x=42
y=153
width=48
height=48
layerId=30408705
graphic=713
eventCode=hasOp(1)
opName0="Jig"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Jig",50,150

[com_16]
type=Sprite
x=86
y=153
width=48
height=48
layerId=30408705
graphic=714
eventCode=hasOp(1)
opName0="Spin"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Spin",50,150

[com_17]
type=Sprite
x=130
y=153
width=48
height=48
layerId=30408705
graphic=715
eventCode=hasOp(1)
opName0="Headbang"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Headbang",50,150

[com_18]
type=Sprite
x=-1
y=202
width=48
height=48
layerId=30408705
graphic=705
eventCode=hasOp(1)
opName0="Cry"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Cry",50,150

[com_19]
type=Sprite
x=42
y=202
width=48
height=48
layerId=30408705
graphic=721
eventCode=hasOp(1)
opName0="Blow Kiss"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Blow Kiss",50,150

[com_20]
type=Sprite
x=86
y=202
width=48
height=48
layerId=30408705
graphic=712
eventCode=hasOp(1)
opName0="Panic"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Panic",50,150

[com_21]
type=Sprite
x=130
y=202
width=48
height=48
layerId=30408705
graphic=717
eventCode=hasOp(1)
opName0="Raspberry"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Raspberry",50,150

[com_22]
type=Sprite
x=-1
y=252
width=48
height=48
layerId=30408705
graphic=711
eventCode=hasOp(1)
opName0="Clap"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Clap",50,150

[com_23]
type=Sprite
x=42
y=252
width=48
height=48
layerId=30408705
graphic=719
eventCode=hasOp(1)
opName0="Salute"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Salute",50,150

[com_24]
type=Sprite
x=86
y=252
width=48
height=48
layerId=30408705
graphic=746
eventCode=hasOp(1)
opName0="Goblin Bow"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Goblin Bow",50,150

[com_25]
type=Sprite
x=130
y=252
width=48
height=48
layerId=30408705
graphic=747
eventCode=hasOp(1)
opName0="Goblin Salute"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Goblin Salute",50,150

[com_26]
type=Sprite
x=-2
y=302
width=48
height=48
layerId=30408705
graphic=742
eventCode=hasOp(1)
opName0="Glass Box"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Glass Box",50,150

[com_27]
type=Sprite
x=42
y=302
width=48
height=48
layerId=30408705
graphic=743
eventCode=hasOp(1)
baseOpName=" "
opName0="Climb Rope"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Climb Rope",50,150

[com_28]
type=Sprite
x=86
y=302
width=48
height=48
layerId=30408705
graphic=744
eventCode=hasOp(1)
opName0="Lean"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Lean",50,150

[com_29]
type=Sprite
x=130
y=302
width=48
height=48
layerId=30408705
graphic=745
eventCode=hasOp(1)
opName0="Glass Wall"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Glass Wall",50,150

[com_30]
type=Sprite
x=130
y=352
width=48
height=48
layerId=30408705
graphic=749
eventCode=hasOp(1)
opName0="Slap Head"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Slap Head",50,150

[com_31]
type=Sprite
x=42
y=352
width=48
height=48
layerId=30408705
graphic=750
eventCode=hasOp(1)
opName0="Stomp"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Stomp",50,150

[com_32]
type=Sprite
x=86
y=352
width=48
height=48
layerId=30408705
graphic=751
eventCode=hasOp(1)
opName0="Flap"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Flap",50,150

[com_33]
type=Sprite
x=-6
y=352
width=48
height=48
layerId=30408705
graphic=752
eventCode=hasOp(1)
opName0="Idea"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Idea",50,150

[com_34]
type=Sprite
x=-3
y=403
width=48
height=48
layerId=30408705
graphic=753
eventCode=hasOp(1)
opName0="Zombie Walk"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Zombie Walk",50,150

[com_35]
type=Sprite
x=42
y=403
width=48
height=48
layerId=30408705
graphic=754
eventCode=hasOp(1)
opName0="Zombie Dance"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Zombie Dance",50,150

[com_36]
type=Sprite
x=86
y=403
width=48
height=48
layerId=30408705
graphic=757
eventCode=hasOp(1)
opName0="Zombie Hand"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Zombie Hand",50,150

[com_37]
type=Sprite
x=130
y=403
width=48
height=48
layerId=30408705
graphic=748
eventCode=hasOp(1)
opName0="Scared"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Scared",50,150

[com_38]
type=Sprite
x=-3
y=453
width=48
height=48
layerId=30408705
graphic=755
eventCode=hasOp(1)
opName0="Bunny Hop"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Bunny-hop",50,150

[com_39]
type=Sprite
x=42
y=453
width=48
height=48
layerId=30408705
graphic=756
eventCode=hasOp(1)
opName0="Skill Cape"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Skillcape",50,150

[com_40]
type=Sprite
x=86
y=453
width=48
height=48
layerId=30408705
graphic=758
eventCode=hasOp(1)
opName0="Snowman Dance"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Snowman Dance",50,150

[com_41]
type=Sprite
x=130
y=453
width=48
height=48
layerId=30408705
graphic=759
eventCode=hasOp(1)
opName0="Air Guitar"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Air Guitar",50,150

[com_42]
type=Sprite
x=-2
y=503
width=48
height=48
layerId=30408705
graphic=5
eventCode=hasOp(1)
opName0="Safety First"
onmouseleave=40,30408747
onmouserepeat=38,component.parentId,30408747,"Safety First",50,150

[com_43]
type=Layer
x=34
y=119
width=100
height=50
layerId=30408705
