[main_layer]
type=Rectangle
x=-29
y=-23
width=700
height=486
trans=200
fill=yes

[title]
type=Model
x=115
y=189
width=32
height=33
model1Id=9748
modelZoom=410
modelXAn=6
modelYAn=5

[description]
type=Model
x=80
y=98
width=32
height=32
model1Id=9753
modelZoom=358
modelXAn=528

[agility_layer]
type=Model
x=184
y=227
width=35
height=34
model1Id=9749
modelAnim=pillory_key_rotate
modelZoom=422
modelXAn=565

[agility_button_layer]
type=Model
x=278
y=227
width=35
height=34
model1Id=9750
modelAnim=pillory_key_rotate
modelZoom=422
modelXAn=565

[event17_walk_button_1]
type=Model
x=373
y=227
width=35
height=34
model1Id=9751
modelAnim=pillory_key_rotate
modelZoom=422
modelXAn=565

[event17_walk_button_2]
type=Sprite
buttonType=Button
x=181
y=203
width=46
height=95
eventCode=flag22

[event17_walk_button_3]
type=Sprite
buttonType=Button
x=271
y=204
width=51
height=90
eventCode=flag22

[firemaking_layer]
type=Sprite
buttonType=Button
x=370
y=205
width=46
height=96
eventCode=flag22

[firemaking_button_layer]
type=Model
x=180
y=25
width=34
height=33
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,0
script1op1=varp,macro_transmit

[event18_fire_button_1]
type=Model
x=230
y=25
width=32
height=32
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,1
script1op1=varp,macro_transmit

[event18_fire_button_2]
type=Model
x=280
y=25
width=32
height=32
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,2
script1op1=varp,macro_transmit

[event18_fire_button_3]
type=Model
x=330
y=25
width=32
height=32
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,3
script1op1=varp,macro_transmit

[token_layer]
type=Model
x=380
y=25
width=32
height=32
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,4
script1op1=varp,macro_transmit

[token_checkbox_layer]
type=Model
x=430
y=25
width=32
height=32
model1Id=9757
model2Id=9758
modelAnim=smalllock_rotate
modelAnim2=smalllock_rotate
modelZoom=1200
modelXAn=498
modelYAn=9
script1=gt,5
script1op1=varp,macro_transmit

[current_walk]
type=Model
x=185
y=33
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[token_count]
type=Model
x=233
y=31
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[com_17]
type=Model
x=283
y=31
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[event17_walk_build_2]
type=Model
x=333
y=31
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[event17_walk_click_2]
type=Model
x=383
y=30
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[event17_walk_build_1]
type=Model
x=434
y=29
width=32
height=32
model1Id=15272
modelAnim=pillory_flash_first
modelZoom=860
modelXAn=542

[event17_walk_click_1]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=12386327
graphic=536
buttonText="Ok"

[event17_walk_build_3]
type=Sprite
x=482
y=17
width=26
height=23
overLayerId=23
graphic=535

[event17_walk_click_3]
type=Layer
x=478
y=13
width=32
height=32
hide=yes
