[root]
type=Rectangle
x=335
y=6
width=170
height=50
trans=150
colour=0x660000
fill=yes

[bond_layer]
type=Rectangle
x=335
y=56
width=170
height=2
trans=150
colour=0x983434
fill=yes

[keybind_listener]
type=Rectangle
x=333
y=4
width=174
height=2
trans=150
colour=0x1A0000
fill=yes

[text_input_clickout]
type=Rectangle
x=505
y=6
width=2
height=52
trans=150
colour=0x983434
fill=yes

[overall_background]
type=Rectangle
x=332
y=3
width=176
height=56

[top_bar]
type=Rectangle
x=333
y=6
width=2
height=52
trans=150
colour=0x1A0000
fill=yes

[crafter_info]
type=Text
x=339
y=10
width=61
height=16
colour=0xFFCCCC
font=495
shadow=yes
text="Target:"

[com_7]
type=Text
x=404
y=10
width=97
height=16
colour=0xFF6666
hAlign=Right
font=496
shadow=yes
text="None"

[info_pannel]
type=Layer
x=336
y=31
width=170
height=20
hide=yes

[recipe_layer]
type=Text
x=4
y=1
width=105
height=16
layerId=42795016
colour=0xFF3333
vAlign=Center
font=495
shadow=yes
text="Pickup penalty:"

[ingredient_selection]
type=Text
x=112
y=1
width=54
height=16
layerId=42795016
colour=0xFF6666
hAlign=Right
vAlign=Center
font=496
shadow=yes
text="100 Sec"

[item_crafting_recipe_box]
type=Layer
x=336
y=31
width=170
height=20
hide=yes

[info_overlay]
type=Text
x=3
y=1
width=105
height=16
layerId=42795019
colour=0xFF3333
font=495
shadow=yes
text="Can't leave for:"

[amount_selection]
type=Text
x=112
y=1
width=52
height=16
layerId=42795019
colour=0xFF6666
hAlign=Right
font=496
shadow=yes
text="100 Sec"
