[sand_timer]
type=Sprite
x=5
y=4
width=502
height=324
graphic=297
tiling=yes

[com_1]
type=Sprite
x=-13
y=30
width=32
height=273
graphic=821
tiling=yes

[com_2]
type=Sprite
y=1
width=32
height=32
graphic=824

[continue_button_layer]
type=Sprite
x=492
y=32
width=32
height=271
graphic=823
tiling=yes

[mainmodal_window]
type=Sprite
x=32
y=-12
width=450
height=29
graphic=820
tiling=yes

[mainmodal_window_background]
type=Sprite
x=31
y=314
width=450
height=36
graphic=822
tiling=yes

[mainmodal_window_content]
type=Sprite
y=302
width=32
height=32
graphic=826

[mainmodal_window_border]
type=Sprite
x=480
y=1
width=32
height=32
graphic=825

[closebutton]
type=Sprite
x=480
y=302
width=32
height=32
graphic=827

[continue_button_on_layer]
type=Model
x=184
y=30
width=146
height=255
model1Id=29916
modelAnim=exchange_hourglass
modelZoom=781
modelXAn=135
modelYAn=24
modelYOf=102
discardedModelField=0

[continue_button_over_layer]
type=Sprite
x=16
y=16
width=25
height=25
graphic=1164

[continue_button_hit_layer]
type=Text
x=50
y=289
width=408
height=32
colour=0xBF751D
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Step 4 : With your items placed on the Grand Exchange system, just wait a while and we will let you know when your items are traded."

[continue_button_1]
type=Sprite
x=472
y=21
width=16
height=16
graphic=1174
eventCode=hasOp(1)
opName0="Continue"
onmouseover=44,component.parentId,1175
onmouseleave=44,component.parentId,1174

[continue_button_text_layer]
type=Text
x=375
y=21
width=106
height=16
colour=0xBF751D
font=495
text="Click to continue"
eventCode=hasOp(1)
opName0="Continue"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,12547357
