[content_layer]
type=Rectangle
x=-1
width=514
height=335
colour=0x2A1E06
fill=yes

[bespoke_window]
type=Model
x=236
y=519
width=32
height=32
model1Id=17199
modelZoom=160
modelXAn=72

[com_2]
type=Model
x=280
y=172
width=32
height=32
model1Id=17197
modelZoom=784
modelXAn=594
modelYAn=9

[com_3]
type=Model
x=280
y=172
width=32
height=32
model1Id=17198
modelZoom=784
modelXAn=594
modelYAn=9

[com_4]
type=Sprite
x=479
y=8
width=26
height=23
overLayerId=6
graphic=539

[com_5]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=29032454
graphic=540
buttonText="Ok"

[bespoke_window_background]
type=Layer
x=476
y=3
width=32
height=32
hide=yes

[bespoke_window_content]
type=Model
x=305
y=198
width=32
height=32
model1Id=17196
modelZoom=656
modelXAn=594
modelYAn=9
