[contents]
type=Rectangle
width=520
height=340
trans=50
colour=0x34270F
fill=yes

[bespoke_window]
type=Model
x=132
y=17
width=307
height=402
model1Id=17189
modelZoom=750

[eyeglo_change_machine]
type=Inventory
x=360
y=83
width=2
height=2
widthAlignment=Grid
heightAlignment=Grid
marginX=30
marginY=31

[eyeglo_exchange_window]
type=Model
x=388
y=114
width=32
height=32
model1Id=17195
modelZoom=750

[eyeglo_exchange_coinslot]
type=Inventory
x=231
y=79
width=4
height=3
widthAlignment=Grid
heightAlignment=Grid
invBackground1=-32,61,-1
invBackground2=-64,123,-1
invBackground3=500,500,-1
invBackground4=500,0,-1
invBackground5=500,0,-1
invBackground6=500,0,-1
invBackground7=500,0,-1
invBackground8=500,0,-1
invBackground9=500,0,-1
invBackground10=500,0,-1
invBackground11=500,0,-1

[eyeglo_exchange_cancel]
type=Model
buttonType=Button
x=290
y=115
width=32
height=32
model1Id=17194
modelZoom=750
buttonText="Change disc type"
eventCode=flag22

[eyeglo_exchange_takecoins]
type=Model
buttonType=Button
x=175
y=68
width=20
height=51
model1Id=17192
modelZoom=750
buttonText="Insert disc?"
eventCode=flag22

[eyeglo_take_button]
type=Model
buttonType=Button
x=177
y=165
width=32
height=32
model1Id=17190
modelZoom=750
buttonText="Cancel exchange"
eventCode=flag22

[eyeglo_exchange_hand]
type=Model
x=181
y=260
width=39
height=25
model1Id=17191
modelZoom=750

[eyeglo_exchange_current_coin]
type=Model
buttonType=Button
x=177
y=202
width=32
height=32
model1Id=17193
modelZoom=750
buttonText="Accept exchange"
eventCode=flag22

[eyeglo_exchange_button]
type=Model
x=54
y=205
width=56
height=53
model1Id=17187
modelZoom=385
modelXAn=232
modelYAn=102

[eyeglo_exchange_cancel_clicker]
type=Model
x=70
y=217
width=32
height=32
modelZoom=300
modelXAn=340
modelYAn=134

[eyeglo_take_button_clicker]
type=Sprite
x=479
y=5
width=26
height=23
overLayerId=14
graphic=539

[eyeglo_change_machine_border]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=28966926
overLayerId=14
graphic=540
buttonText="Ok"

[in]
type=Layer
x=476
width=32
height=32
hide=yes
