[eyeglo_battle_rect]
type=Rectangle
x=-1
width=514
height=335
colour=0x2A1E06
fill=yes

[eyeglo_battle_gnome_standard]
type=Model
x=402
y=72
width=42
height=41
model1Id=17182
modelZoom=272
modelXAn=402
modelYAn=75

[eyeglo_battle_rs_map]
type=Model
x=211
y=132
width=32
height=32
layerId=28770309
model1Id=17186
modelZoom=651
modelXAn=130
modelYAn=1814

[eyeglo_battle_gnome_banners_m]
type=Model
x=174
y=115
width=32
height=32
layerId=28770311
model1Id=17183
modelAnim=eyeglo_map_anim
modelZoom=651
modelXAn=130
modelYAn=1814

[eyeglo_battle_goblin_banners_m]
type=Model
x=150
y=91
width=32
height=32
layerId=28770312
model1Id=17184
modelAnim=eyeglo_map_anim
modelZoom=651
modelXAn=135
modelYAn=1816

[eyeglo_battle_goblin_standard]
type=Layer
x=-3
y=17
width=520
height=344

[com_6]
type=Model
x=67
y=229
width=32
height=32
model1Id=17185
modelZoom=369
modelXAn=456
modelYAn=2032

[com_7]
type=Layer
x=34
y=34
width=32
height=32

[com_8]
type=Layer
x=58
y=58
width=32
height=32
