[fade_to_white_model]
type=Rectangle
x=407
y=5
width=102
height=264
layerId=35454997
trans=180
colour=0x53533D
fill=yes

[fade_text_white]
type=Sprite
x=406
y=10
width=50
height=50
layerId=35454997
graphic=868

[com_2]
type=Sprite
x=406
y=61
width=50
height=50
layerId=35454997
graphic=873

[com_3]
type=Sprite
x=406
y=112
width=50
height=50
layerId=35454997
graphic=867

[com_4]
type=Sprite
x=406
y=163
width=50
height=50
layerId=35454997
graphic=876

[com_5]
type=Sprite
x=406
y=214
width=50
height=50
layerId=35454997
graphic=875

[com_6]
type=Sprite
x=455
y=10
width=50
height=50
layerId=35454997
graphic=871

[com_7]
type=Sprite
x=455
y=61
width=50
height=50
layerId=35454997
graphic=870

[com_8]
type=Sprite
x=455
y=112
width=50
height=50
layerId=35454997
graphic=874

[com_9]
type=Sprite
x=455
y=163
width=50
height=50
layerId=35454997
graphic=877

[com_10]
type=Sprite
x=455
y=214
width=50
height=50
layerId=35454997
graphic=869

[com_11]
type=Text
x=438
y=12
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_1

[com_12]
type=Text
x=438
y=63
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_2

[com_13]
type=Text
x=438
y=114
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_3

[com_14]
type=Text
x=438
y=165
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_4

[com_15]
type=Text
x=438
y=216
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_5

[com_16]
type=Text
x=488
y=12
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_6

[com_17]
type=Text
x=488
y=63
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_7

[com_18]
type=Text
x=488
y=114
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_8

[com_19]
type=Text
x=488
y=165
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_9

[com_20]
type=Text
x=488
y=216
width=32
height=32
layerId=35454997
colour=0xB5B54A
colour2=0xFF0000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,ii_captured_impling_10

[com_21]
type=Layer
x=-1
y=-1
width=509
height=322
