[com_0]
type=Rectangle
width=512
height=400
trans=140
colour=0x5A7B86
fill=yes

[fade_to_blue_model]
type=Model
x=242
y=152
width=32
height=32
model1Id=4835
modelAnim=seq_2115
modelZoom=130
modelXAn=512

[com_2]
type=Text
x=20
y=68
width=477
height=65
colour=0xFFFFFF
hAlign=Center
font=495
text=" "
