[com_0]
type=Rectangle
width=512
height=400
trans=140
colour=0x5A7B86
fill=yes

[fade2]
type=Model
x=242
y=152
width=32
height=32
model1Id=4835
modelAnim=seq_3541
modelZoom=130
modelXAn=512

[fade_text2]
type=Text
x=20
y=68
width=477
height=80
colour=0xFFFFFF
hAlign=Center
font=495
text=" "
