[com_0]
type=Model
x=244
y=160
width=32
height=32
model1Id=16067
modelZoom=266
modelYAn=2047

[com_1]
type=Text
x=114
y=70
width=285
height=206
colour=0xCCCCCC
colour2=0x666666
hAlign=Center
vAlign=Center
font=648
shadow=yes
text="COSMIC<br>RUNEe<br>ALTAR"

[close_button]
type=Sprite
x=461
y=21
width=26
height=23
overLayerId=4
graphic=541

[com_3]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=27852804
graphic=542
buttonText="Ok"

[com_4]
type=Layer
x=457
y=17
width=32
height=32
overLayerId=4
hide=yes
