[mainmodal_window]
type=Model
x=258
y=159
width=32
height=32
model1Id=16050
modelZoom=179
modelYAn=2047

[mainmodal_window_background]
type=Text
x=120
y=98
width=276
height=17
colour=0xEB9A2F
hAlign=Center
font=497
shadow=yes
text="Certificate of Advanced Healing"

[mainmodal_window_content]
type=Text
x=120
y=115
width=276
height=17
colour=0xEB9A2F
hAlign=Center
font=497
shadow=yes
text="From PoxStead College."

[com_3]
type=Text
x=209
y=192
width=193
height=41
colour=0xEB9A2F
hAlign=Center
lineHeight=14
font=494
shadow=yes
text="Signed Dr Foster-MMD, PRD <br> Head of<br>Magical Healing."

[mainmodal_window_border]
type=Sprite
x=480
y=7
width=23
height=23
overLayerId=6
graphic=539

[com_5]
type=Sprite
buttonType=Close
x=4
y=5
width=23
height=23
layerId=27721734
graphic=540
buttonText="Ok"

[mainmodal_window_close_button]
type=Layer
x=476
y=2
width=32
height=32
hide=yes
