[com_0]
type=Model
x=258
y=159
width=32
height=32
model1Id=7445
modelZoom=179
modelYAn=2047

[com_1]
type=Sprite
x=467
y=23
width=23
height=23
overLayerId=6
graphic=539

[com_2]
type=Text
x=131
y=100
width=264
height=17
colour=0xEB9A2F
hAlign=Center
font=497
shadow=yes
text="Certificate of Advanced Healing"

[com_3]
type=Text
x=130
y=116
width=265
height=17
colour=0xEB9A2F
hAlign=Center
font=497
shadow=yes
text="From PoxStead College."

[close_button]
type=Text
x=207
y=187
width=191
height=54
colour=0xEB9A2F
hAlign=Center
lineHeight=14
font=494
shadow=yes
text="Signed Dr Foster-MMD, PRD<br>Head Of<br>Magical Healing."

[com_5]
type=Sprite
buttonType=Close
x=5
y=5
width=23
height=23
layerId=8060934
graphic=540
buttonText="Ok"

[com_6]
type=Layer
x=462
y=18
width=32
height=32
hide=yes
