[com_0]
type=Model
x=240
y=139
width=32
height=28
model1Id=3032
modelZoom=604
modelXAn=400

[com_1]
type=Text
x=112
y=106
width=293
height=17
colour=0xFFFF00
hAlign=Center
font=497
shadow=yes
text="List of Fairy Queen's Symptoms."

[com_2]
type=Sprite
x=381
y=82
width=23
height=23
overLayerId=6
graphic=537

[com_3]
type=Text
x=89
y=129
width=259
height=140
colour=0xFFFF99
font=497
shadow=yes
text=" Extremely weak<br>Slow discorporation of ethereal body<br>Drifting in and out of coma<br>Shallow breath<br>Fading magical energy<br>High fever"

[close_button]
type=Sprite
buttonType=Close
x=5
y=5
width=23
height=23
layerId=8126470
graphic=538
buttonText="Ok"

[com_5]
type=Model
x=377
y=214
width=32
height=32
model1Id=8716
modelZoom=273
modelXAn=500
modelYAn=138

[com_6]
type=Layer
x=376
y=77
width=32
height=32
hide=yes
