[mainmodal_window]
type=Model
x=216
y=169
width=45
height=16
model1Id=16051
modelZoom=126

[mainmodal_window_background]
type=Sprite
x=482
y=1
width=26
height=23
overLayerId=3
graphic=541

[mainmodal_window_content]
type=Sprite
buttonType=Close
x=3
y=1
width=26
height=23
layerId=27787267
graphic=542
buttonText="Ok"

[com_3]
type=Layer
x=479
width=32
height=32
hide=yes

[com_4]
type=Text
x=239
y=37
width=32
height=32
colour=0x989686
hAlign=Center
lineHeight=29
font=647
shadow=yes
text="THE GODFATHER<br>ATTACKED US.<br> WE HAVE<br>FLED TO SAFETY.<br> IF YOU ARE LOYAL TO <br> HER MAJESTY, FIND<br>US BY USING<br>COORDINATES<br>AIR DLR DJQ AJS"
