[info_holder_inactive_2]
type=Rectangle
y=1
width=514
height=336
trans=160
colour=0x46341D
fill=yes

[unlock_info_header]
type=Model
x=30
y=16
width=179
height=306
model1Id=28316
modelZoom=679
modelXAn=535
modelYAn=2038
discardedModelField=0

[unlock_info_text]
type=Model
x=256
y=12
width=195
height=315
model1Id=28324
modelZoom=679
modelXAn=535
modelYAn=2038
discardedModelField=0

[next_unlock_layer]
type=Sprite
x=461
y=17
width=26
height=23
graphic=541
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onclick=29
