[map]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[bounding_box]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[tooltip]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[firedup_1]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[firedup_2]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[firedup_3]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[firedup_4]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[firedup_5]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[firedup_6]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[firedup_7]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[firedup_8]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[firedup_9]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[firedup_10]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37683212,832
onmouseleave=44,37683212,831
onop=29

[firedup_11]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[firedup_12]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="If you pull this lever you will be attacked by the King Black Dragon, one of the most deadly creatures in RuneScape."

[firedup_13]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[firedup_14]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[firedup_player_icon_1]
type=Text
x=108
y=157
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="That's what I came here for"
eventCode=hasOp(1)
opName0="Go in, I don't mind dying!"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[firedup_player_icon_2]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="I think I'll stay out"
eventCode=hasOp(1)
opName0="No, I'm holding too much stuff!"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[firedup_player_icon_3]
type=Text
x=1
y=2
width=315
height=15
layerId=37683221
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[firedup_player_icon_4]
type=Sprite
x=2
width=19
height=19
layerId=37683221
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37683220,22
onclick=163,37683220
onvartransmitlist=1047

[firedup_player_icon_5]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
