[layer_1]
type=Model
x=248
y=130
width=32
height=32
model1Id=8398
model2Id=8397
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if1

[1track_al]
type=Model
x=248
y=130
width=32
height=32
model1Id=8400
model2Id=8399
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[1track_ar]
type=Model
x=248
y=130
width=32
height=32
model1Id=8402
model2Id=8401
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if2

[1track_bl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8404
model2Id=8403
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[1track_br]
type=Model
x=248
y=130
width=32
height=32
model1Id=8406
model2Id=8405
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if3

[1track_cl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8408
model2Id=8407
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[1track_cr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8410
model2Id=8409
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if4

[1track_dl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8412
model2Id=8411
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[1track_dr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8414
model2Id=8413
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if5

[1track_el]
type=Model
x=248
y=130
width=32
height=32
model1Id=8416
model2Id=8415
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[1track_er]
type=Model
x=248
y=130
width=32
height=32
model1Id=8418
model2Id=8417
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if6

[1track_fl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8420
model2Id=8419
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[1track_fr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8422
model2Id=8421
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if7

[1track_gl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8424
model2Id=8423
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[1track_gr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8426
model2Id=8425
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if8

[1track_hl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8428
model2Id=8427
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[1track_hr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8445
modelZoom=1200
modelXAn=350

[com_17]
type=Model
x=248
y=130
width=32
height=32
model1Id=8446
modelZoom=1200
modelXAn=350

[com_18]
type=Layer
x=142
y=123
width=32
height=32
hide=yes

[1switch_a]
type=Model
x=106
y=7
width=32
height=32
layerId=8388626
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[1switch_b]
type=Layer
x=190
y=89
width=32
height=32
hide=yes

[1switch_c]
type=Model
x=106
y=7
width=32
height=32
layerId=8388628
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[1switch_d]
type=Layer
x=184
y=162
width=32
height=32
hide=yes

[1switch_e]
type=Model
x=106
y=7
width=32
height=32
layerId=8388630
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[1switch_f]
type=Layer
x=266
y=56
width=32
height=32
hide=yes

[1switch_g]
type=Model
x=106
y=7
width=32
height=32
layerId=8388632
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[1switch_h]
type=Layer
x=268
y=90
width=32
height=32
hide=yes

[1button_alr]
type=Model
x=106
y=7
width=32
height=32
layerId=8388634
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[1button_blr]
type=Layer
x=227
y=203
width=32
height=32
hide=yes

[1button_clr]
type=Model
x=106
y=7
width=32
height=32
layerId=8388636
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[1button_dlr]
type=Layer
x=269
y=162
width=32
height=32
hide=yes

[1button_elr]
type=Model
x=106
y=7
width=32
height=32
layerId=8388638
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[1button_flr]
type=Layer
x=314
y=203
width=32
height=32
hide=yes

[1button_glr]
type=Model
x=106
y=7
width=32
height=32
layerId=8388640
model1Id=8429
model2Id=8430
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[1button_hlr]
type=Model
buttonType=Button
x=142
y=123
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_35]
type=Model
buttonType=Button
x=190
y=89
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_36]
type=Model
buttonType=Button
x=184
y=162
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[1counter_l]
type=Model
buttonType=Button
x=266
y=56
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[1counter_r]
type=Model
buttonType=Button
x=268
y=90
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_39]
type=Model
buttonType=Button
x=227
y=203
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_40]
type=Model
buttonType=Button
x=269
y=162
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_41]
type=Model
buttonType=Button
x=314
y=203
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_42]
type=Model
x=119
y=24
width=32
height=32
model1Id=8429
modelZoom=1200
modelXAn=350

[com_43]
type=Model
x=119
y=55
width=32
height=32
model1Id=8430
modelZoom=1200
modelXAn=350

[com_44]
type=Text
x=45
y=26
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_left

[com_45]
type=Text
x=45
y=56
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_right

[com_46]
type=Sprite
x=437
y=41
width=23
height=23
overLayerId=48
graphic=539

[com_47]
type=Sprite
buttonType=Button
x=4
y=4
width=23
height=23
layerId=8388656
graphic=540
eventCode=flag22

[com_48]
type=Layer
x=433
y=37
width=32
height=32
hide=yes
