[3track_al]
type=Model
x=248
y=130
width=32
height=32
model1Id=8522
model2Id=8521
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if1

[3track_ar]
type=Model
x=248
y=130
width=32
height=32
model1Id=8524
model2Id=8523
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[3track_bl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8526
model2Id=8525
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if2

[3track_br]
type=Model
x=248
y=130
width=32
height=32
model1Id=8528
model2Id=8527
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[3track_cl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8530
model2Id=8529
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if3

[3track_cr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8532
model2Id=8531
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[3track_dl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8534
model2Id=8533
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if4

[3track_dr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8536
model2Id=8535
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[3track_el]
type=Model
x=248
y=130
width=32
height=32
model1Id=8538
model2Id=8537
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if5

[3track_er]
type=Model
x=248
y=130
width=32
height=32
model1Id=8540
model2Id=8539
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[3track_fl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8542
model2Id=8541
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if6

[3track_fr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8544
model2Id=8543
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[3track_gl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8546
model2Id=8545
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if7

[3track_gr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8548
model2Id=8547
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[3track_hl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8550
model2Id=8549
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if8

[3track_hr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8552
model2Id=8551
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[3track_il]
type=Model
x=248
y=130
width=32
height=32
model1Id=8554
model2Id=8553
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if9

[3track_ir]
type=Model
x=248
y=130
width=32
height=32
model1Id=8556
model2Id=8555
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if9

[3track_jl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8558
model2Id=8557
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if10

[3track_jr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8560
model2Id=8559
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if10

[3track_kl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8562
model2Id=8561
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if11

[3track_kr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8564
model2Id=8563
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if11

[3track_ll]
type=Model
x=248
y=130
width=32
height=32
model1Id=8566
model2Id=8565
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if12

[3track_lr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8568
model2Id=8567
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if12

[3track_ml]
type=Model
x=248
y=130
width=32
height=32
model1Id=8570
model2Id=8569
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if13

[3track_mr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8572
model2Id=8571
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if13

[3track_nl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8574
model2Id=8573
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if14

[3track_nr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8576
model2Id=8575
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if14

[3track_ol]
type=Model
x=248
y=130
width=32
height=32
model1Id=8578
model2Id=8577
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if15

[3track_or]
type=Model
x=248
y=130
width=32
height=32
model1Id=8580
model2Id=8579
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if15

[3track_pl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8582
model2Id=8581
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if16

[3track_pr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8584
model2Id=8583
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if16

[3track_ql]
type=Model
x=248
y=130
width=32
height=32
model1Id=8586
model2Id=8585
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if17

[3track_qr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8588
model2Id=8587
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if17

[3track_rl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8590
model2Id=8589
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if18

[3track_rr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8592
model2Id=8591
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if18

[3track_sl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8594
model2Id=8593
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if19

[3track_sr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8596
model2Id=8595
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if19

[com_38]
type=Model
x=248
y=130
width=32
height=32
model1Id=8635
modelZoom=1200
modelXAn=350

[com_39]
type=Model
x=248
y=130
width=32
height=32
model1Id=8636
modelZoom=1200
modelXAn=350

[3switch_a]
type=Layer
x=83
y=123
width=32
height=32
hide=yes

[3switch_b]
type=Model
x=168
y=10
width=32
height=32
layerId=8519720
model1Id=8597
model2Id=8598
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[3switch_c]
type=Layer
x=129
y=89
width=32
height=32
hide=yes

[3switch_d]
type=Model
x=121
y=43
width=32
height=32
layerId=8519722
model1Id=8599
model2Id=8600
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[3switch_e]
type=Layer
x=120
y=162
width=32
height=32
hide=yes

[3switch_f]
type=Model
x=131
y=-32
width=32
height=32
layerId=8519724
model1Id=8601
model2Id=8602
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[3switch_g]
type=Layer
x=171
y=56
width=32
height=32
hide=yes

[3switch_h]
type=Model
x=79
y=74
width=32
height=32
layerId=8519726
model1Id=8603
model2Id=8604
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[3switch_i]
type=Layer
x=165
y=165
width=32
height=32
hide=yes

[3switch_j]
type=Model
x=83
y=-35
width=32
height=32
layerId=8519728
model1Id=8605
model2Id=8606
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[3switch_k]
type=Layer
x=211
y=59
width=32
height=32
hide=yes

[3switch_l]
type=Model
x=37
y=73
width=32
height=32
layerId=8519730
model1Id=8607
model2Id=8608
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[3switch_m]
type=Layer
x=202
y=201
width=32
height=32
hide=yes

[3switch_n]
type=Model
x=46
y=-71
width=32
height=32
layerId=8519732
model1Id=8609
model2Id=8610
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[3switch_o]
type=Layer
x=248
y=30
width=32
height=32
hide=yes

[3switch_p]
type=Model
y=104
width=32
height=32
layerId=8519734
model1Id=8611
model2Id=8612
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[3switch_q]
type=Layer
x=248
y=136
width=32
height=61
hide=yes

[3switch_r]
type=Model
width=32
height=32
layerId=8519736
model1Id=8613
model2Id=8614
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if9

[3switch_s]
type=Layer
x=248
y=135
width=32
height=103
hide=yes

[3button_alr]
type=Model
width=32
height=32
layerId=8519738
model1Id=8615
model2Id=8616
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if10

[3button_blr]
type=Layer
x=247
y=61
width=71
height=32
hide=yes

[3button_clr]
type=Model
y=73
width=32
height=32
layerId=8519740
model1Id=8617
model2Id=8618
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if11

[3button_dlr]
type=Layer
x=247
y=125
width=70
height=32
hide=yes

[3button_elr]
type=Model
y=8
width=32
height=32
layerId=8519742
model1Id=8619
model2Id=8620
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if12

[3button_flr]
type=Layer
x=247
y=133
width=76
height=103
hide=yes

[3button_glr]
type=Model
width=32
height=32
layerId=8519744
model1Id=8621
model2Id=8622
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if13

[3button_hlr]
type=Layer
x=247
y=31
width=105
height=32
hide=yes

[3button_ilr]
type=Model
y=106
width=32
height=32
layerId=8519746
model1Id=8623
model2Id=8624
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if14

[3button_jlr]
type=Layer
x=246
y=89
width=112
height=32
hide=yes

[3button_klr]
type=Model
y=43
width=32
height=32
layerId=8519748
model1Id=8625
model2Id=8626
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if15

[3button_llr]
type=Layer
x=347
y=230
width=32
height=50
hide=yes

[3button_mlr]
type=Model
x=-99
y=-100
width=32
height=32
layerId=8519750
model1Id=8627
model2Id=8628
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if16

[3button_nlr]
type=Layer
x=246
y=57
width=147
height=32
hide=yes

[3button_olr]
type=Model
y=75
width=32
height=32
layerId=8519752
model1Id=8629
model2Id=8630
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if17

[3button_plr]
type=Layer
x=280
y=147
width=130
height=45
hide=yes

[3button_qlr]
type=Model
x=-32
y=-17
width=32
height=32
layerId=8519754
model1Id=8631
model2Id=8632
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if18

[3button_rlr]
type=Layer
x=280
y=162
width=140
height=80
hide=yes

[3button_slr]
type=Model
x=-32
y=-32
width=32
height=32
layerId=8519756
model1Id=8633
model2Id=8634
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if19

[com_78]
type=Model
buttonType=Button
x=83
y=124
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_79]
type=Model
buttonType=Button
x=130
y=89
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[3counter_r]
type=Model
buttonType=Button
x=121
y=162
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[3counter_l]
type=Model
buttonType=Button
x=172
y=57
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_82]
type=Model
buttonType=Button
x=165
y=165
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[content_layer]
type=Model
buttonType=Button
x=210
y=59
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_84]
type=Model
buttonType=Button
x=204
y=204
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_85]
type=Model
buttonType=Button
x=249
y=32
width=27
height=24
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_86]
type=Model
buttonType=Button
x=249
y=162
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_87]
type=Model
buttonType=Button
x=248
y=203
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_88]
type=Model
buttonType=Button
x=290
y=61
width=28
height=28
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_89]
type=Model
buttonType=Button
x=289
y=124
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_90]
type=Model
buttonType=Button
x=294
y=203
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_91]
type=Model
buttonType=Button
x=324
y=32
width=26
height=26
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_92]
type=Model
buttonType=Button
x=330
y=94
width=26
height=26
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_93]
type=Model
buttonType=Button
x=344
y=251
width=28
height=28
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_94]
type=Model
buttonType=Button
x=365
y=62
width=27
height=27
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_95]
type=Model
buttonType=Button
x=377
y=165
width=29
height=29
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_96]
type=Model
buttonType=Button
x=383
y=203
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_97]
type=Model
x=119
y=24
width=32
height=32
model1Id=8429
modelZoom=1200
modelXAn=350

[com_98]
type=Model
x=119
y=55
width=32
height=32
model1Id=8430
modelZoom=1200
modelXAn=350

[com_99]
type=Text
x=45
y=56
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_right

[com_100]
type=Text
x=45
y=26
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_left

[com_101]
type=Sprite
x=460
y=20
width=23
height=23
overLayerId=103
graphic=539

[com_102]
type=Sprite
buttonType=Button
x=4
y=5
width=23
height=23
layerId=8519783
graphic=540
eventCode=flag22

[com_103]
type=Layer
x=456
y=15
width=32
height=32
hide=yes
