[2track_al]
type=Model
x=248
y=130
width=32
height=32
model1Id=8448
model2Id=8447
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if1

[2track_ar]
type=Model
x=248
y=130
width=32
height=32
model1Id=8450
model2Id=8449
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[2track_bl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8452
model2Id=8451
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if2

[2track_br]
type=Model
x=248
y=130
width=32
height=32
model1Id=8454
model2Id=8453
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[2track_cl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8456
model2Id=8455
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if3

[2track_cr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8458
model2Id=8457
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[2track_dl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8460
model2Id=8459
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if4

[2track_dr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8462
model2Id=8461
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[2track_el]
type=Model
x=248
y=130
width=32
height=32
model1Id=8464
model2Id=8463
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if5

[2track_er]
type=Model
x=248
y=130
width=32
height=32
model1Id=8466
model2Id=8465
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[2track_fl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8468
model2Id=8467
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if6

[2track_fr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8470
model2Id=8469
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[2track_gl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8472
model2Id=8471
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if7

[2track_gr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8474
model2Id=8473
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[2track_hl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8476
model2Id=8475
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if8

[2track_hr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8478
model2Id=8477
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[2track_il]
type=Model
x=248
y=130
width=32
height=32
model1Id=8480
model2Id=8479
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if9

[2track_ir]
type=Model
x=248
y=130
width=32
height=32
model1Id=8482
model2Id=8481
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if9

[2track_jl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8484
model2Id=8483
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if10

[2track_jr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8486
model2Id=8485
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if10

[2track_kl]
type=Model
x=248
y=130
width=32
height=32
model1Id=8488
model2Id=8487
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if11

[2track_kr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8490
model2Id=8489
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if11

[2track_ll]
type=Model
x=248
y=130
width=32
height=32
model1Id=8492
model2Id=8491
modelZoom=1200
modelXAn=350
script1=eq,1
script1op1=varbit,forget_if12

[2track_lr]
type=Model
x=248
y=130
width=32
height=32
model1Id=8494
model2Id=8493
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if12

[com_24]
type=Model
x=248
y=130
width=32
height=32
model1Id=8519
modelZoom=1200
modelXAn=350

[com_25]
type=Model
x=248
y=130
width=32
height=32
model1Id=8520
modelZoom=1200
modelXAn=350

[2switch_a]
type=Layer
x=119
y=125
width=32
height=32
hide=yes

[2switch_b]
type=Model
x=129
y=5
width=32
height=32
layerId=8454170
model1Id=8495
model2Id=8496
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if1

[2switch_c]
type=Layer
x=161
y=89
width=32
height=32
hide=yes

[2switch_d]
type=Model
x=89
y=45
width=32
height=32
layerId=8454172
model1Id=8497
model2Id=8498
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if2

[2switch_e]
type=Layer
x=155
y=136
width=32
height=66
hide=yes

[2switch_f]
type=Model
x=95
width=32
height=32
layerId=8454174
model1Id=8499
model2Id=8500
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if3

[2switch_g]
type=Layer
x=205
y=56
width=32
height=32
hide=yes

[2switch_h]
type=Model
x=44
y=77
width=32
height=32
layerId=8454176
model1Id=8501
model2Id=8502
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if4

[2switch_i]
type=Layer
x=203
y=90
width=32
height=32
hide=yes

[2switch_j]
type=Model
x=46
y=46
width=32
height=32
layerId=8454178
model1Id=8503
model2Id=8504
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if5

[2switch_k]
type=Layer
x=196
y=134
width=32
height=104
hide=yes

[2switch_l]
type=Model
x=53
width=32
height=32
layerId=8454180
model1Id=8505
model2Id=8506
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if6

[2button_alr]
type=Layer
x=242
y=29
width=32
height=32
hide=yes

[2button_blr]
type=Model
x=7
y=106
width=32
height=32
layerId=8454182
model1Id=8507
model2Id=8508
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if7

[2button_clr]
type=Layer
x=243
y=131
width=32
height=147
hide=yes

[2button_dlr]
type=Model
x=6
width=32
height=32
layerId=8454184
model1Id=8509
model2Id=8510
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if8

[2button_elr]
type=Layer
x=280
y=54
width=32
height=32
hide=yes

[2button_flr]
type=Model
x=-32
y=76
width=32
height=32
layerId=8454186
model1Id=8511
model2Id=8512
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if9

[2button_glr]
type=Layer
x=281
y=89
width=32
height=32
hide=yes

[2button_hlr]
type=Model
x=-33
y=41
width=32
height=32
layerId=8454188
model1Id=8513
model2Id=8514
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if10

[2button_ilr]
type=Layer
x=287
y=202
width=32
height=32
hide=yes

[2button_jlr]
type=Model
x=-39
y=-72
width=32
height=32
layerId=8454190
model1Id=8515
model2Id=8516
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if11

[2button_klr]
type=Layer
x=324
y=88
width=32
height=32
hide=yes

[2button_llr]
type=Model
x=-76
y=42
width=32
height=32
layerId=8454192
model1Id=8517
model2Id=8518
modelZoom=1200
modelXAn=350
script1=eq,2
script1op1=varbit,forget_if12

[com_50]
type=Model
buttonType=Button
x=119
y=125
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_51]
type=Model
buttonType=Button
x=163
y=89
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[2counter_l]
type=Model
buttonType=Button
x=156
y=163
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[2counter_r]
type=Model
buttonType=Button
x=205
y=57
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_54]
type=Model
buttonType=Button
x=203
y=89
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[content_layer]
type=Model
buttonType=Button
x=196
y=206
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_56]
type=Model
buttonType=Button
x=242
y=30
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_57]
type=Model
buttonType=Button
x=241
y=246
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_58]
type=Model
buttonType=Button
x=280
y=57
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_59]
type=Model
buttonType=Button
x=281
y=89
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_60]
type=Model
buttonType=Button
x=287
y=202
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_61]
type=Model
buttonType=Button
x=324
y=90
width=32
height=32
modelZoom=400
buttonText="Set Junction"
eventCode=flag22

[com_62]
type=Model
x=119
y=24
width=32
height=32
model1Id=8429
modelZoom=1200
modelXAn=350

[com_63]
type=Model
x=119
y=55
width=32
height=32
model1Id=8430
modelZoom=1200
modelXAn=350

[com_64]
type=Text
x=45
y=26
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_left

[com_65]
type=Text
x=45
y=56
width=24
height=14
colour=0xFFFF00
font=495
shadow=yes
text="x%1"
script1op1=varbit,forget_num_right

[com_66]
type=Sprite
x=460
y=18
width=23
height=23
overLayerId=68
graphic=539

[com_67]
type=Sprite
buttonType=Button
x=3
y=4
width=23
height=23
layerId=8454212
graphic=540
eventCode=flag22

[com_68]
type=Layer
x=457
y=14
width=32
height=32
hide=yes
