[unabridged_book]
type=Rectangle
x=13
y=14
width=495
height=314
trans=200
fill=yes

[unabridged_text]
type=Sprite
x=12
y=11
width=490
height=315
graphic=297
tiling=yes

[abridged_book]
type=Sprite
x=-5
y=24
width=23
height=289
graphic=821
tiling=yes

[abridged_text]
type=Sprite
x=486
y=24
width=28
height=287
graphic=823
tiling=yes

[current_frame]
type=Sprite
x=18
y=306
width=478
height=27
graphic=822
tiling=yes

[character_bg]
type=Sprite
x=17
y=-4
width=475
height=28
graphic=820
tiling=yes

[character_layer]
type=Sprite
x=8
y=9
width=32
height=32
graphic=824

[book_layer]
type=Sprite
x=474
y=9
width=32
height=32
graphic=825

[objective_layer]
type=Sprite
x=8
y=294
width=32
height=32
graphic=826

[book_bg]
type=Sprite
x=474
y=294
width=32
height=32
graphic=827

[reward_text_layer]
type=Sprite
x=8
y=25
width=32
height=32
graphic=829

[com_11]
type=Sprite
x=17
y=23
width=480
height=26
graphic=828
tiling=yes

[com_12]
type=Sprite
x=474
y=25
width=32
height=32
graphic=830

[com_13]
type=Sprite
x=481
y=18
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[bubble_topleft]
type=Rectangle
x=19
y=46
width=316
height=270
trans=200
colour=0x010101
fill=yes

[bubble_bottom_left]
type=Text
x=36
y=20
width=436
height=13
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Items Kept on Death"

[bubble_bottom_right]
type=Line
x=2
y=17
width=308
layerId=6684690
colour=0x726451

[bubble_top_right]
type=Text
x=5
y=3
width=117
height=16
layerId=6684690
colour=0xFF981F
font=495
shadow=yes
text="Items you will keep on death if not skulled:"

[bubble_top]
type=Layer
x=19
y=47
width=316
height=275

[bubble_bottom]
type=Line
x=2
y=17
width=308
layerId=6684693
colour=0x726451

[bubble_left]
type=Text
x=5
y=3
width=117
height=16
layerId=6684693
colour=0xFF981F
font=495
shadow=yes
text="Items you will lose on death if not skulled:"

[bubble_arrow]
type=Layer
x=19
y=107
width=316
height=209

[bubble_1]
type=Sprite
x=325
y=37
width=32
height=32
graphic=842

[bubble_right]
type=Sprite
x=325
y=293
width=32
height=32
graphic=843

[green_large_progress_layer]
type=Sprite
x=324
y=45
width=30
height=271
graphic=841
tiling=yes

[current_frame_1]
type=Text
x=348
y=49
width=133
height=15
colour=0xFF981F
font=495
shadow=yes
text="Information:"

[bestscore_bar_layer]
type=Line
x=347
y=64
width=100
colour=0x726451

[com_27]
type=Text
x=348
y=70
width=149
height=193
colour=0xFF981F
lineHeight=12
font=494
shadow=yes
text="This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes"

[bubble_fill]
type=Text
x=348
y=267
width=149
height=46
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="put information in here,put information in here,put information in"

[message_bubble]
type=Layer
x=28
y=76
width=300
height=200
hide=yes

[face_text]
type=Text
x=27
y=10
width=250
height=180
layerId=6684701
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here,"
