[arianehead]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[ewain_button_layer]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[ewainhead]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[ewain_prog_text_left]
type=Model
x=65
y=479
width=32
height=32
model1Id=10232
modelAnim=intro_banner_security_lock
modelZoom=687
modelXAn=120
modelYAn=228

[ewain_prog_text_right]
type=Model
x=675
y=469
width=32
height=32
model1Id=10234
modelZoom=727
modelXAn=39
modelYAn=201
