[layer_1]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[multi4t]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[multi4a]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[multi4b]
type=Model
x=694
y=442
width=32
height=32
model1Id=10223
modelAnim=intro_banner_santa_dance
modelZoom=1072
modelXAn=31
modelYAn=208

[multi4c]
type=Model
x=174
y=428
width=32
height=32
model1Id=10222
modelZoom=400
modelYAn=1550

[multi4d]
type=Model
x=576
y=427
width=32
height=32
model1Id=10222
modelZoom=400
modelYAn=1550

[com_6]
type=Model
x=49
y=457
width=32
height=32
model1Id=10221
modelZoom=1800
modelXAn=144
modelYAn=4
