[icon_layer]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[textbox_layer]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[rewards_layer]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[reward_button]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[reward_text]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[bg]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[signature_button_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[vengeance_button_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[thok_button_layer]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[scroll_text_layer]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[scrollbar_layer]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[flavour_text]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[instructions]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[signature_button]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[signature_button_graphic]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[signature_storytype]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[signature_abridged]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[vengeance_button]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[vengeance_button_graphic]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[vengeance_storytype]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[vengeance_abridged]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[thok_button]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[thok_button_graphic]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[thok_storytype]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[thok_abridged]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[bilrach_button_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[thok2_button_layer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[thok2_button]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[thok2_button_graphic]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[thok2_storytype]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[thok2_abridged]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[bilrach_button]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[bilrach_button_graphic]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[bilrach_storytype]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[bilrach_abridged]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[mainmodal_window_background]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[mainmodal_window_content]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[play_button]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[mainmodal_window_border]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[mainmodal_window_close_button]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=304
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=304
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=304
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=304
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=304
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=304
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=304
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=304
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=304
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=304
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=304
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=304
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=295
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=295
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=304
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Text
x=22
y=31
width=468
height=17
colour=0xFF981F
hAlign=Center
font=496
text="Oh dear, you're dead, but don't despair!"

[com_89]
type=Text
buttonType=Button
x=41
y=304
width=431
height=17
colour=0xCCCCCC
colourOver=0x33FF33
hAlign=Center
font=495
shadow=yes
text="Never show me this again"
text2="Never show me this again"
eventCode=flag22

[com_90]
type=Model
x=28
y=66
width=32
height=32
model1Id=2348
modelZoom=555
modelXAn=168
modelYAn=1966

[com_91]
type=Model
x=28
y=119
width=32
height=32
model1Id=2544
modelZoom=784
modelXAn=438
modelYAn=1264

[com_92]
type=Model
x=28
y=179
width=32
height=32
model1Id=2529
modelZoom=784
modelXAn=1750
modelYAn=1831

[com_93]
type=Model
x=28
y=233
width=32
height=32
model1Id=2403
modelZoom=656
modelXAn=414
modelYAn=84

[com_94]
type=Model
x=265
y=64
width=32
height=32
model1Id=18526
modelZoom=985
modelXAn=306
modelYAn=69

[com_95]
type=Model
x=265
y=119
width=32
height=32
model1Id=2376
modelZoom=656
modelXAn=336
modelYAn=1996

[com_96]
type=Model
x=265
y=176
width=32
height=32
model1Id=2825
modelZoom=528
modelXAn=201
modelYAn=69

[com_97]
type=Model
x=265
y=232
width=32
height=32
model1Id=18511
modelZoom=2192
modelXAn=405
modelYAn=2041

[com_98]
type=Text
x=75
y=61
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can buy a new tinderbox from the general store."

[com_99]
type=Text
x=75
y=119
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can buy a new axe from Bob's Axe shop in south Lumbridge."

[com_100]
type=Text
x=75
y=176
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can pick up a pickaxe above the gates of Lumbridge Castle or buy one from Bob's Axe shop in south Lumbridge."

[com_101]
type=Text
x=75
y=230
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can get a new net from the Fishing Tutor in Lumbridge Swamps."

[com_102]
type=Text
x=320
y=61
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can get new combat equipment from the combat tutors north of Lumbridge Castle."

[com_103]
type=Text
x=320
y=119
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="You can buy a new hammer from the general store."

[com_104]
type=Text
x=319
y=177
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="If you need more gold, kill goblins for a short while or try a quest."

[com_105]
type=Text
x=319
y=230
width=170
height=50
colour=0xBE9664
font=495
shadow=yes
text="Tutors can help you with skills and give you basic equipment. Look for this icon on your mini map."

[com_106]
type=Text
x=36
y=281
width=442
height=15
colour=0xBE9664
hAlign=Center
font=496
shadow=yes
text="More information is available in the manual on our website."

[com_107]
type=Sprite
x=471
y=25
width=26
height=23
overLayerId=109
graphic=535

[com_108]
type=Sprite
buttonType=Close
x=5
y=4
width=26
height=23
layerId=10027117
graphic=536
buttonText="Ok"

[com_109]
type=Layer
x=466
y=21
width=32
height=32
hide=yes
