[clickout_rect]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes
baseOpName="  "

[layer_1]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[com_2]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[com_3]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[com_5]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[com_6]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[com_7]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[com_8]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[com_9]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[com_10]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[com_11]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[com_12]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[com_13]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[com_14]
type=Sprite
x=23
y=66
width=470
height=32
graphic=828
tiling=yes

[com_15]
type=Sprite
x=13
y=68
width=32
height=32
graphic=829

[com_16]
type=Sprite
x=468
y=68
width=32
height=32
graphic=830

[com_17]
type=Sprite
y=2
width=115
height=20
layerId=40632346
graphic=1016

[com_18]
type=Sprite
x=1
y=2
width=115
height=20
layerId=40632345
graphic=1016

[com_19]
type=Text
x=3
y=3
width=103
height=20
layerId=40632346
colour=0xBF751D
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Player Stock"

[com_20]
type=Sprite
x=1
y=2
width=115
height=20
layerId=40632349
graphic=1015

[com_21]
type=Text
x=10
y=4
width=96
height=19
layerId=40632349
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Main Stock"

[com_22]
type=Text
x=18
y=27
width=475
height=22
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Lowe's Archery Emporium"

[com_23]
type=Layer
x=60
y=94
width=391
height=197

[com_24]
type=Layer
x=60
y=94
width=391
height=197

[com_25]
type=Layer
x=23
y=58
width=115
height=25
hide=yes
eventCode=hasOp(1)
opName0="Main stock"

[com_26]
type=Layer
x=130
y=58
width=122
height=25
eventCode=hasOp(1)
opName0="Player stock"

[com_27]
type=Layer
x=130
y=58
width=122
height=25
hide=yes
eventCode=hasOp(1)
opName0="Player stock"

[com_28]
type=Text
x=55
y=290
width=400
height=32
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Right-click on an item in the shop or your inventory to see the available options.<br>Compare the prices between the Main and Player Stock to find the best deals!"

[com_29]
type=Layer
x=23
y=58
width=115
height=25
eventCode=hasOp(1)
opName0="Main stock"

[com_30]
type=Sprite
y=2
width=115
height=20
layerId=40632347
graphic=1015

[com_31]
type=Text
x=3
y=3
width=103
height=20
layerId=40632347
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Player Stock"

[com_32]
type=Text
x=10
y=5
width=96
height=14
layerId=40632345
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Main Stock"

[com_33]
type=Sprite
x=457
y=54
width=29
height=29
layerId=40632354
graphic=1067

[com_34]
type=Layer
width=512
height=334
hide=yes
