[frame_layer]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[background_layer]
type=Text
buttonType=Pause
y=15
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[content_layer]
type=Text
buttonType=Pause
y=31
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[add_friend_button_layer]
type=Text
buttonType=Pause
y=47
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[1x1_button_on_layer]
type=Text
buttonType=Pause
y=63
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option4"
eventCode=pauseButton

[1x1_button_over_layer]
type=Text
buttonType=Pause
y=79
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option5"
eventCode=pauseButton

[1x1_button_hit_layer]
type=Sprite
width=57
height=13
layerId=15400968
graphic=302

[1x1_button_selected_layer]
type=Sprite
x=280
width=57
height=13
layerId=15400968
graphic=301

[add_friend_button_active_layer]
type=Layer
x=72
y=1
width=337
height=13

[clan_invite_button_gfx]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[1x1_button_disabled_layer]
type=Sprite
width=57
height=13
layerId=15400969
graphic=302

[remove_friend_button_layer]
type=Sprite
x=419
width=57
height=13
layerId=15400969
graphic=301
