[frame_layer]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[background_layer]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[content_layer]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[add_ignore_button_layer]
type=Text
x=40
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[border_layer]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[1x1_button_on_layer_4]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[1x1_button_over_layer_4]
type=Text
x=40
y=148
width=388
height=32
colour=0x242330
font=497
text="How do you report a player for breaking the Rules?"

[1x1_button_hit_layer_4]
type=Text
x=40
y=199
width=363
height=32
colour=0x191930
font=497
text="By using the Report Abuse button at the bottom of my gaming screen"

[1x1_button_selected_layer_4]
type=Text
x=40
y=236
width=363
height=32
colour=0x191930
font=497
text="I'm not a tell-tale, so I don't report players"

[add_ignore_button_active_layer]
type=Text
x=40
y=266
width=363
height=32
colour=0x191930
font=497
text="Find a Moderator and get them to report the player"

[clan_invite_button_gfx_2]
type=Model
x=423
y=204
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=885,component.parentId

[1x1_button_disabled_layer_4]
type=Model
x=425
y=238
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=886,component.parentId

[remove_ignore_button_layer]
type=Model
x=424
y=271
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=887,component.parentId

[1x1_button_on_layer_5]
type=Line
x=425
y=204
width=19
height=1
colour=0x0E0E17
lineWidth=2

[1x1_button_over_layer_5]
type=Line
x=425
y=204
height=19
colour=0x0E0E17
lineWidth=2

[1x1_button_hit_layer_5]
type=Line
x=424
y=222
width=19
height=1
colour=0x0E0E17
lineWidth=2

[1x1_button_selected_layer_5]
type=Line
x=443
y=204
height=20
colour=0x0E0E17
lineWidth=2

[remove_ignore_button_active_layer]
type=Line
x=425
y=238
width=19
height=1
colour=0x0E0E17
lineWidth=2

[clan_invite_button_gfx_3]
type=Line
x=425
y=238
height=19
colour=0x0E0E17
lineWidth=2

[1x1_button_disabled_layer_5]
type=Line
x=424
y=256
width=19
height=1
colour=0x0E0E17
lineWidth=2

[sort_mode_button_layer_1]
type=Line
x=443
y=238
height=20
colour=0x0E0E17
lineWidth=2

[1x1_button_on_layer_7]
type=Line
x=426
y=271
width=19
height=1
colour=0x0E0E17
lineWidth=2

[1x1_button_over_layer_7]
type=Line
x=426
y=271
height=19
colour=0x0E0E17
lineWidth=2

[1x1_button_hit_layer_7]
type=Line
x=425
y=289
width=19
height=1
colour=0x0E0E17
lineWidth=2

[1x1_button_selected_layer_7]
type=Line
x=444
y=271
height=20
colour=0x0E0E17
lineWidth=2

[sort_mode_button_active_layer_1]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[sort_graphic_1]
type=Layer
width=513
height=335
hide=yes

[1x1_button_disabled_layer_7]
type=Rectangle
width=512
height=334
layerId=46137370
trans=160
colour=0x46341D
fill=yes

[com_28]
type=Sprite
x=32
y=79
width=449
height=230
layerId=46137370
graphic=297
tiling=yes

[com_29]
type=Sprite
x=19
y=111
width=25
height=173
layerId=46137370
graphic=821
tiling=yes

[com_30]
type=Sprite
x=32
y=79
width=32
height=32
layerId=46137370
graphic=824

[com_31]
type=Sprite
x=451
y=79
width=32
height=32
layerId=46137370
graphic=825
tiling=yes

[com_32]
type=Sprite
x=63
y=66
width=391
height=32
layerId=46137370
graphic=820
tiling=yes

[com_33]
type=Sprite
x=463
y=110
width=32
height=173
layerId=46137370
graphic=823
tiling=yes

[com_34]
type=Sprite
x=451
y=283
width=32
height=32
layerId=46137370
graphic=827
tiling=yes

[com_35]
type=Sprite
x=32
y=283
width=32
height=32
layerId=46137370
graphic=826
tiling=yes

[com_36]
type=Sprite
x=64
y=295
width=387
height=30
layerId=46137370
graphic=822
tiling=yes

[com_37]
type=Layer
x=55
y=94
width=389
height=160
layerId=46137370
hide=yes

[com_38]
type=Text
x=16
y=-4
width=32
height=32
layerId=46137381
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_39]
type=Text
x=1
y=27
width=388
height=105
layerId=46137381
colour=0xA49279
font=497
shadow=yes
text="You can use the Report Abuse button at the bottom of the game screen,  but make sure you only report players who break the rules."

[com_40]
type=Layer
x=55
y=94
width=389
height=160
layerId=46137370
hide=yes

[com_41]
type=Text
x=16
y=-4
width=32
height=32
layerId=46137384
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_42]
type=Text
x=1
y=27
width=390
height=105
layerId=46137384
colour=0xA49279
font=495
shadow=yes
text="Reporting players who break the Rules allows us to ensure that RuneScape remains a positive and enjoyable environment for everyone. To find out everything you need to know about reporting rulebreakers in RuneScape, please take some time to read the Rules of Conduct and then see our guides on reporting abuse. This can be accessed by clicking on the link: 'Customer Support' on our homepage and then 'Reporting Abuse'. "

[com_43]
type=Layer
x=55
y=94
width=389
height=160
layerId=46137370
hide=yes

[com_44]
type=Text
x=16
y=-4
width=32
height=32
layerId=46137387
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_45]
type=Text
x=1
y=27
width=390
height=105
layerId=46137387
colour=0xA49279
font=495
shadow=yes
text="Incorrect. By waiting to find a Moderator, you run the risk of losing the ability to report the player."

[com_46]
type=Layer
x=375
y=255
width=97
height=42
layerId=46137370

[com_47]
type=Layer
width=97
height=42
layerId=46137390
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_48]
type=Rectangle
width=97
height=42
layerId=46137390
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_49]
type=Text
width=97
height=42
layerId=46137390
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
