[background]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[input]
type=Text
buttonType=Pause
y=23
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[desc]
type=Text
buttonType=Pause
y=47
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[text_input_border]
type=Text
buttonType=Pause
y=71
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[input_text_layer]
type=Sprite
width=57
height=13
layerId=29556742
graphic=302

[input_caret]
type=Sprite
x=280
width=57
height=13
layerId=29556742
graphic=301

[input_text]
type=Layer
x=72
y=1
width=337
height=13

[modal_dialog_window]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[modal_dialog_window_background]
type=Sprite
width=57
height=13
layerId=29556743
graphic=302

[modal_dialog_window_content]
type=Sprite
x=419
width=57
height=13
layerId=29556743
graphic=301
