[com_0]
type=Sprite
x=28
y=48
width=36
height=36
graphic=174
graphic2=176

[talk_button]
type=Sprite
x=58
y=48
width=36
height=36
graphic=176
graphic2=178

[dance_button]
type=Sprite
x=84
y=48
width=36
height=36
graphic=176
graphic2=178

[juggle_button]
type=Sprite
x=110
y=48
width=36
height=36
graphic=176
graphic2=178

[skip_button]
type=Sprite
x=128
y=48
width=36
height=36
graphic=176
graphic2=178

[pie_button]
type=Text
buttonType=Button
x=41
y=50
width=115
height=31
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Talk to puppet"
eventCode=flag22

[jig_button]
type=Text
x=28
y=5
width=137
height=41
colour=0x00FFFF
colourOver=0x00FFCC
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Jester Controls"

[bow_button]
type=Sprite
x=28
y=88
width=36
height=36
graphic=174
graphic2=176

[com_8]
type=Sprite
x=58
y=88
width=36
height=36
graphic=176
graphic2=178

[com_9]
type=Text
buttonType=Button
x=33
y=93
width=56
height=27
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Dance"
eventCode=flag22

[com_10]
type=Sprite
x=98
y=88
width=36
height=36
graphic=174
graphic2=176

[com_11]
type=Sprite
x=128
y=88
width=36
height=36
graphic=176
graphic2=178

[com_12]
type=Text
buttonType=Button
x=102
y=94
width=59
height=26
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Juggle"
eventCode=flag22

[com_13]
type=Sprite
x=28
y=128
width=36
height=36
graphic=174
graphic2=176

[com_14]
type=Sprite
x=58
y=128
width=36
height=36
graphic=176
graphic2=178

[com_15]
type=Text
buttonType=Button
x=32
y=134
width=58
height=26
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Skip"
eventCode=flag22

[com_16]
type=Sprite
x=98
y=128
width=36
height=36
graphic=174
graphic2=176

[com_17]
type=Sprite
x=128
y=128
width=36
height=36
graphic=176
graphic2=178

[com_18]
type=Text
buttonType=Button
x=103
y=134
width=55
height=26
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Pie"
eventCode=flag22

[com_19]
type=Sprite
x=28
y=168
width=36
height=36
graphic=174
graphic2=176

[com_20]
type=Sprite
x=58
y=168
width=36
height=36
graphic=176
graphic2=178

[com_21]
type=Text
buttonType=Button
x=33
y=173
width=55
height=27
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Jig"
eventCode=flag22

[com_22]
type=Sprite
x=98
y=168
width=36
height=36
graphic=174
graphic2=176

[com_23]
type=Sprite
x=128
y=168
width=36
height=36
graphic=176
graphic2=178

[com_24]
type=Text
buttonType=Button
x=102
y=173
width=57
height=27
colour=0xFFFF00
colour2=0xFF8000
colourOver=0x0000CC
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Bow"
eventCode=flag22
