[layer_1]
type=Model
x=239
y=145
width=35
height=35
model1Id=3035
modelZoom=525
modelXAn=395

[com_1]
type=Layer
width=512
height=334
hide=yes

[com_2]
type=Model
x=346
y=176
width=32
height=32
layerId=7274497
model1Id=5826
modelZoom=437
modelXAn=383
modelYAn=2025

[com_3]
type=Layer
x=12
y=20
width=488
height=36

[com_4]
type=Sprite
x=94
y=-3
width=88
height=60
layerId=7274499
graphic=297

[com_5]
type=Sprite
x=182
y=6
width=88
height=60
layerId=7274499
graphic=297

[com_6]
type=Sprite
x=270
y=6
width=88
height=60
layerId=7274499
graphic=297

[com_7]
type=Sprite
x=358
y=6
width=88
height=60
layerId=7274499
graphic=297

[com_8]
type=Sprite
x=394
y=6
width=88
height=60
layerId=7274499
graphic=297

[com_9]
type=Sprite
x=6
y=-1
width=88
height=60
layerId=7274499
graphic=297

[com_10]
type=Sprite
x=60
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_11]
type=Sprite
x=96
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_12]
type=Sprite
x=132
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_13]
type=Sprite
x=168
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_14]
type=Sprite
x=204
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_15]
type=Sprite
x=240
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_16]
type=Sprite
x=276
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_17]
type=Sprite
x=312
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_18]
type=Sprite
x=348
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_19]
type=Sprite
x=384
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_20]
type=Sprite
x=420
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_21]
type=Sprite
x=428
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_22]
type=Sprite
width=25
height=30
layerId=7274499
graphic=310

[com_23]
type=Sprite
x=60
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_24]
type=Sprite
x=96
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_25]
type=Sprite
x=132
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_26]
type=Sprite
x=168
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_27]
type=Sprite
x=204
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_28]
type=Sprite
x=240
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_29]
type=Sprite
x=276
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_30]
type=Sprite
x=312
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_31]
type=Sprite
x=348
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_32]
type=Sprite
x=384
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_33]
type=Sprite
x=420
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_34]
type=Sprite
x=25
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_35]
type=Sprite
x=463
width=25
height=30
layerId=7274499
graphic=311

[com_36]
type=Sprite
x=427
y=-15
width=36
height=36
layerId=7274499
graphic=314

[com_37]
type=Sprite
x=463
y=7
width=25
height=30
layerId=7274499
graphic=313

[com_38]
type=Sprite
x=25
y=16
width=36
height=36
layerId=7274499
graphic=173

[com_39]
type=Sprite
y=7
width=25
height=30
layerId=7274499
graphic=312

[com_40]
type=Text
x=19
y=30
width=475
height=15
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="%1"

[com_41]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_42]
type=Model
x=67
width=32
height=32
layerId=7274537
model1Id=3389
modelZoom=500
modelXAn=200

[com_43]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_44]
type=Model
x=65
y=16
width=32
height=32
layerId=7274539
model1Id=3389
modelZoom=500
modelXAn=200

[com_45]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_46]
type=Model
x=63
y=32
width=32
height=32
layerId=7274541
model1Id=3389
modelZoom=500
modelXAn=200

[com_47]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_48]
type=Model
x=61
y=48
width=32
height=32
layerId=7274543
model1Id=3389
modelZoom=500
modelXAn=200

[com_49]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_50]
type=Model
x=59
y=64
width=32
height=32
layerId=7274545
model1Id=3389
modelZoom=500
modelXAn=200

[com_51]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_52]
type=Model
x=57
y=80
width=32
height=32
layerId=7274547
model1Id=3389
modelZoom=500
modelXAn=200

[com_53]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_54]
type=Model
x=55
y=96
width=32
height=32
layerId=7274549
model1Id=3389
modelZoom=500
modelXAn=200

[com_55]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_56]
type=Model
x=53
y=112
width=32
height=32
layerId=7274551
model1Id=3389
modelZoom=500
modelXAn=200

[com_57]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_58]
type=Model
x=51
y=128
width=32
height=32
layerId=7274553
model1Id=3389
modelZoom=500
modelXAn=200

[com_59]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_60]
type=Model
x=49
y=144
width=32
height=32
layerId=7274555
model1Id=3389
modelZoom=500
modelXAn=200

[com_61]
type=Layer
x=60
y=80
width=175
height=210
hide=yes

[com_62]
type=Model
x=47
y=160
width=32
height=32
layerId=7274557
model1Id=3389
modelZoom=500
modelXAn=200

[com_63]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_64]
type=Model
x=67
width=32
height=32
layerId=7274559
model1Id=3389
modelZoom=500
modelXAn=200

[com_65]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_66]
type=Model
x=68
y=16
width=32
height=32
layerId=7274561
model1Id=3389
modelZoom=500
modelXAn=200

[com_67]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_68]
type=Model
x=69
y=32
width=32
height=32
layerId=7274563
model1Id=3389
modelZoom=500
modelXAn=200

[com_69]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_70]
type=Model
x=71
y=48
width=32
height=32
layerId=7274565
model1Id=3389
modelZoom=500
modelXAn=200

[com_71]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_72]
type=Model
x=72
y=64
width=32
height=32
layerId=7274567
model1Id=3389
modelZoom=500
modelXAn=200

[com_73]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_74]
type=Model
x=73
y=80
width=32
height=32
layerId=7274569
model1Id=3389
modelZoom=500
modelXAn=200

[com_75]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_76]
type=Model
x=75
y=96
width=32
height=32
layerId=7274571
model1Id=3389
modelZoom=500
modelXAn=200

[com_77]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_78]
type=Model
x=76
y=112
width=32
height=32
layerId=7274573
model1Id=3389
modelZoom=500
modelXAn=200

[com_79]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_80]
type=Model
x=77
y=128
width=32
height=32
layerId=7274575
model1Id=3389
modelZoom=500
modelXAn=200

[com_81]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_82]
type=Model
x=79
y=144
width=32
height=32
layerId=7274577
model1Id=3389
modelZoom=500
modelXAn=200

[com_83]
type=Layer
x=283
y=80
width=175
height=210
hide=yes

[com_84]
type=Model
x=80
y=160
width=32
height=32
layerId=7274579
model1Id=3389
modelZoom=500
modelXAn=200

[com_85]
type=Sprite
buttonType=Button
width=45
height=36
layerId=7274582
graphic=308
eventCode=flag22

[com_86]
type=Layer
x=34
y=259
width=45
height=36

[com_87]
type=Sprite
buttonType=Button
width=45
height=36
layerId=7274584
graphic=309
eventCode=flag22

[com_88]
type=Layer
x=432
y=259
width=45
height=36

[com_89]
type=Text
x=60
y=80
width=175
height=17
font=497
text="line1"

[com_90]
type=Text
x=58
y=96
width=177
height=17
font=497
text="line2"

[com_91]
type=Text
x=56
y=112
width=179
height=17
font=497
text="line3"

[com_92]
type=Text
x=54
y=128
width=181
height=17
font=497
text="line4"

[com_93]
type=Text
x=51
y=144
width=184
height=17
font=497
text="line5"

[com_94]
type=Text
x=49
y=160
width=186
height=17
font=497
text="line6"

[com_95]
type=Text
x=47
y=176
width=188
height=17
font=497
text="line7"

[com_96]
type=Text
x=45
y=192
width=190
height=17
font=497
text="line8"

[com_97]
type=Text
x=42
y=208
width=193
height=17
font=497
text="line9"

[com_98]
type=Text
x=40
y=224
width=195
height=17
font=497
text="line10"

[com_99]
type=Text
x=38
y=240
width=197
height=17
font=497
text="line11"

[com_100]
type=Text
x=283
y=80
width=175
height=17
font=497
text="line12"

[com_101]
type=Text
x=283
y=96
width=177
height=17
font=497
text="line13"

[com_102]
type=Text
x=283
y=112
width=179
height=17
font=497
text="line14"

[com_103]
type=Text
x=283
y=128
width=181
height=17
font=497
text="line15"

[com_104]
type=Text
x=283
y=144
width=183
height=17
font=497
text="line16"

[com_105]
type=Text
x=283
y=160
width=185
height=17
font=497
text="line17"

[com_106]
type=Text
x=283
y=176
width=187
height=17
font=497
text="line18"

[com_107]
type=Text
x=283
y=192
width=189
height=17
font=497
text="line19"

[com_108]
type=Text
x=283
y=208
width=191
height=17
font=497
text="line20"

[com_109]
type=Text
x=283
y=224
width=193
height=17
font=497
text="line21"

[com_110]
type=Text
x=283
y=240
width=195
height=17
font=497
text="line22"

[com_111]
type=Sprite
x=470
y=27
width=26
height=23
overLayerId=113
graphic=535

[com_112]
type=Sprite
buttonType=Button
x=3
y=4
width=26
height=23
layerId=7274609
overLayerId=113
graphic=536
eventCode=flag22

[com_113]
type=Layer
x=467
y=23
width=32
height=32
hide=yes
