[window]
type=Text
x=171
y=3
width=132
height=18
colour=0xAA0000
hAlign=Center
font=497
text="Pick a Kitten"

[com_1]
type=Sprite
x=304
y=5
width=57
height=13
graphic=301

[com_2]
type=Sprite
x=111
y=5
width=57
height=13
graphic=302

[com_3]
type=Model
x=25
y=39
width=33
height=31
model1Id=34108
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"

[com_4]
type=Model
x=105
y=38
width=33
height=31
model1Id=34109
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"

[com_5]
type=Model
x=185
y=39
width=33
height=31
model1Id=34110
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"

[com_6]
type=Model
x=265
y=39
width=33
height=31
model1Id=34106
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"

[0]
type=Model
x=344
y=38
width=33
height=31
model1Id=34107
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"

[1]
type=Model
x=425
y=39
width=33
height=31
model1Id=34111
modelZoom=400
modelYOf=3
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
