[main_layer]
type=Model
x=244
y=136
width=32
height=32
model1Id=3048
modelZoom=585
modelXAn=503
modelYAn=1

[window]
type=Model
x=73
y=51
width=32
height=32
model1Id=3043
modelZoom=1061
modelXAn=539
modelYAn=2044

[window_background]
type=Model
x=257
y=43
width=32
height=32
model1Id=3030
modelZoom=2073
modelXAn=424
modelYAn=8

[window_content]
type=Model
x=393
y=34
width=32
height=32
model1Id=3038
modelZoom=1438
modelXAn=506
modelYAn=2043

[world_map]
type=Model
x=429
y=149
width=32
height=32
model1Id=3025
modelZoom=887
modelXAn=470
modelYAn=8

[map]
type=Model
x=226
y=224
width=32
height=32
model1Id=3047
modelZoom=851
modelXAn=469
modelYAn=11

[hubs_layer]
type=Model
x=73
y=250
width=32
height=32
model1Id=5730
modelZoom=958
modelXAn=416
modelYAn=29

[grandtree_button_layer]
type=Text
x=43
y=118
width=140
height=17
colour=0x2B1C0F
hAlign=Center
font=497
text="Ta Quir Priw"

[mountain_button_layer]
type=Text
x=374
y=89
width=103
height=17
colour=0x2B1C0F
font=497
text="Lemanto Andra"

[digsite_button_layer]
type=Text
x=173
y=31
width=90
height=17
colour=0x2B1C0F
hAlign=Center
font=497
text="Sindarpos"

[desert_button_layer]
type=Text
x=199
y=282
width=83
height=17
colour=0x2B1C0F
hAlign=Center
font=497
text="Gandius"

[jungle_button_layer]
type=Text
x=335
y=137
width=95
height=17
colour=0x3B1C0F
hAlign=Center
font=497
text="Kar-Hewo"

[ogre_button_layer]
type=Text
x=35
y=189
width=100
height=17
colour=0x2B1C0F
hAlign=Center
font=497
text="Lemantolly"

[tgv_button_layer]
type=Text
x=83
y=210
width=60
height=17
colour=0x2B1C0F
hAlign=Center
font=497
text="Undri"

[elfcity_button_layer]
type=Model
x=74
y=15
width=32
height=32
layerId=9043990
model1Id=3036
modelZoom=2073
modelXAn=424
modelYAn=8

[elr1_button_layer]
type=Model
x=11
y=4
width=32
height=32
layerId=9043988
model1Id=3029
modelZoom=851
modelXAn=469
modelYAn=11

[mountain_go]
type=Model
x=34
y=20
width=32
height=32
layerId=9043989
model1Id=3045
modelZoom=1061
modelXAn=539
modelYAn=2044

[mountain_back]
type=Model
x=23
y=4
width=32
height=32
layerId=9043991
model1Id=3026
modelZoom=1438
modelXAn=506
modelYAn=2043

[digsite_go]
type=Model
x=32
y=5
width=32
height=32
layerId=9043992
model1Id=3027
modelZoom=887
modelXAn=470
modelYAn=8

[desert_go]
type=Model
x=21
y=26
width=50
height=50
layerId=9043993
overLayerId=22
model1Id=5731
modelZoom=958
modelXAn=416
modelYAn=29

[desert_back]
type=Layer
x=215
y=220
width=57
height=80
hide=yes

[jungle_go]
type=Layer
x=39
y=31
width=105
height=109
hide=yes

[jungle_back]
type=Layer
x=183
y=28
width=142
height=58
hide=yes

[ogre_go]
type=Layer
x=370
y=30
width=112
height=81
hide=yes

[ogre_back]
type=Layer
x=397
y=144
width=95
height=85
hide=yes

[tgv_go]
type=Layer
x=43
y=215
width=83
height=91
hide=yes

[tgv_back]
type=Model
buttonType=Button
x=214
y=220
width=59
height=81
overLayerId=20
modelZoom=400
eventCode=flag22

[crash_go]
type=Model
buttonType=Button
x=41
y=32
width=101
height=106
overLayerId=21
modelZoom=400
eventCode=flag22

[crash_back]
type=Model
buttonType=Button
x=185
y=29
width=139
height=56
overLayerId=22
modelZoom=400
eventCode=flag22

[elfcity_go]
type=Model
buttonType=Button
x=372
y=32
width=107
height=78
overLayerId=23
modelZoom=400
eventCode=flag22

[elfcity_back]
type=Model
buttonType=Button
x=360
y=139
width=127
height=61
overLayerId=24
modelZoom=400
eventCode=flag22

[elr1_go]
type=Model
buttonType=Button
x=40
y=212
width=90
height=100
overLayerId=25
modelZoom=958
modelXAn=416
modelYAn=29
eventCode=flag22

[elr1_back]
type=Model
x=265
y=82
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=689
modelXAn=365
modelYAn=2031
script1=eq,3
script1op1=varp,pilot_journey

[window_border]
type=Model
x=272
y=129
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=689
modelXAn=425
modelYAn=105
script1=eq,4
script1op1=varp,pilot_journey

[window_close_button]
type=Model
x=244
y=126
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=689
modelXAn=375
modelYAn=1126
script1=eq,5
script1op1=varp,pilot_journey

[close_button_keybind_layer]
type=Model
x=287
y=78
width=32
height=32
model2Id=3063
modelAnim2=seq_786
modelZoom=689
modelXAn=404
modelYAn=2039
script1=eq,1
script1op1=varp,pilot_journey

[grandtree_button_on_layer]
type=Model
x=86
y=76
width=32
height=32
model2Id=3063
modelAnim2=seq_786
modelZoom=689
modelXAn=494
modelYAn=982
script1=eq,2
script1op1=varp,pilot_journey

[grandtree_button_over_layer]
type=Model
x=144
y=127
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=832
modelXAn=405
modelYAn=1319
script1=eq,6
script1op1=varp,pilot_journey

[grandtree_button_hit_layer]
type=Model
x=170
y=142
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=832
modelXAn=430
modelYAn=306
script1=eq,7
script1op1=varp,pilot_journey

[grandtree_button_selected_layer]
type=Model
x=94
y=153
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=650
modelXAn=412
modelYAn=1401
script1=eq,9
script1op1=varp,pilot_journey

[grandtree_button_active_layer]
type=Model
x=97
y=174
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=650
modelXAn=435
modelYAn=364
script1=eq,8
script1op1=varp,pilot_journey

[grandtree_button_disabled_layer]
type=Model
x=60
y=136
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=689
modelXAn=267
modelYAn=469
script1=eq,10
script1op1=varp,pilot_journey

[grandtree_button_text_layer]
type=Model
x=94
y=94
width=32
height=32
model2Id=3063
modelAnim2=human_blown_end_getup_priority
modelZoom=689
modelXAn=255
modelYAn=1584
script1=eq,11
script1op1=varp,pilot_journey

[grandtree_button_text]
type=Sprite
x=454
y=14
width=26
height=23
overLayerId=45
graphic=539

[tgv_button_on_layer]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=9044013
graphic=540
buttonText="Ok"

[tgv_button_over_layer]
type=Layer
x=451
y=9
width=32
height=32
hide=yes
