[com_0]
type=Sprite
x=14
y=17
width=482
height=299
graphic=297
tiling=yes
baseOpName="  "

[bookmacro_title_5]
type=Sprite
y=21
width=33
height=294
graphic=821
tiling=yes
baseOpName=" "

[bookmacro_title]
type=Sprite
x=479
y=20
width=31
height=293
graphic=823
tiling=yes
baseOpName=" "

[bookmacro_title_3]
type=Sprite
x=17
y=298
width=479
height=44
graphic=822
tiling=yes

[bookmacro_title_4]
type=Sprite
x=14
y=3
width=481
height=32
graphic=820
tiling=yes
baseOpName=" "

[bm1]
type=Sprite
x=467
y=286
width=32
height=32
graphic=827
baseOpName=" "

[close_btn]
type=Sprite
x=13
y=286
width=32
height=32
graphic=826

[bookmacro1title]
type=Sprite
x=467
y=16
width=32
height=32
graphic=825
baseOpName=" "

[chapter1]
type=Sprite
x=16
y=33
width=480
height=31
graphic=828
tiling=yes

[bookmacro1b]
type=Sprite
x=13
y=16
width=32
height=32
graphic=824
baseOpName=" "

[chapter2]
type=Sprite
x=13
y=35
width=32
height=32
graphic=829
tiling=yes

[bookmacro1g]
type=Sprite
x=467
y=35
width=32
height=32
graphic=830
tiling=yes

[bookmacro1m]
type=Sprite
x=471
y=27
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[bookmacro1v]
type=Text
x=20
y=28
width=472
height=15
colour=0xFF981F
hAlign=Center
font=496
text="What would you like to make?"

[com_14]
type=Model
x=38
y=57
width=64
height=96
model1Id=2540
modelZoom=400
modelXAn=500
discardedModelField=0

[com_15]
type=Text
x=20
y=70
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Armour"
onload=541,component.parentId,14

[com_16]
type=Model
x=154
y=48
width=64
height=96
model1Id=2649
modelZoom=500
modelXAn=500
discardedModelField=0

[com_17]
type=Text
x=132
y=70
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Gloves"
onload=541,component.parentId,1

[com_18]
type=Model
x=282
y=72
width=64
height=96
model1Id=2837
modelZoom=400
modelXAn=100
modelYAn=100
discardedModelField=0

[com_19]
type=Text
x=260
y=70
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Boots"
onload=541,component.parentId,7

[com_20]
type=Model
x=415
y=56
width=64
height=96
model1Id=2656
modelZoom=350
modelXAn=600
discardedModelField=0

[com_21]
type=Text
x=380
y=70
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Vambraces"
onload=541,component.parentId,11

[com_22]
type=Model
x=92
y=190
width=64
height=96
model1Id=2555
modelZoom=700
modelXAn=500
discardedModelField=0

[com_23]
type=Text
x=75
y=200
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Chaps"
onload=541,component.parentId,18

[com_24]
type=Model
x=221
y=204
width=64
height=96
model1Id=2541
modelZoom=350
modelXAn=150
modelYAn=100
discardedModelField=0

[com_25]
type=Text
x=200
y=200
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Coif"
onload=541,component.parentId,38

[com_26]
type=Model
x=349
y=202
width=64
height=96
model1Id=3481
modelZoom=350
modelXAn=150
modelYAn=100
discardedModelField=0

[com_27]
type=Text
x=325
y=200
width=100
height=100
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=497
shadow=yes
text="Cowl"
onload=541,component.parentId,9

[com_28]
type=Layer
x=25
y=70
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Armour"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,14

[com_29]
type=Layer
x=140
y=70
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Gloves"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,1

[com_30]
type=Layer
x=265
y=70
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Boots"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,7

[com_31]
type=Layer
x=380
y=70
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Vambraces"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,11

[com_32]
type=Layer
x=80
y=200
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Chaps"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,18

[com_33]
type=Layer
x=205
y=200
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Coif"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,38

[com_34]
type=Layer
x=340
y=200
width=90
height=100
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Cowl"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,9
