[content_layer]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[sepia]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[fade]
type=Model
x=28
y=13
width=64
height=81
modelZoom=400

[com_3]
type=Model
x=148
y=13
width=64
height=81
modelZoom=400

[com_4]
type=Model
x=268
y=13
width=64
height=81
modelZoom=400

[com_5]
type=Model
x=388
y=13
width=64
height=81
modelZoom=400

[com_6]
type=Text
buttonType=Pause
x=2
y=16
width=115
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_7]
type=Text
buttonType=Pause
x=2
y=16
width=115
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_8]
type=Text
buttonType=Pause
x=2
y=16
width=115
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_9]
type=Text
buttonType=Pause
x=2
y=16
width=115
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_10]
type=Text
buttonType=Pause
x=116
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_11]
type=Text
buttonType=Pause
x=116
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_12]
type=Text
buttonType=Pause
x=116
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_13]
type=Text
buttonType=Pause
x=116
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_14]
type=Text
buttonType=Pause
x=235
y=15
width=122
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_15]
type=Text
buttonType=Pause
x=235
y=15
width=122
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_16]
type=Text
buttonType=Pause
x=235
y=15
width=122
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_17]
type=Text
buttonType=Pause
x=235
y=15
width=122
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_18]
type=Text
buttonType=Pause
x=356
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_19]
type=Text
buttonType=Pause
x=356
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_20]
type=Text
buttonType=Pause
x=356
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_21]
type=Text
buttonType=Pause
x=356
y=15
width=120
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_22]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to make?"
