[mainmodal_window]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[mainmodal_window_background]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[mainmodal_window_content]
type=Model
x=56
y=13
width=67
height=82
modelZoom=400

[com_3]
type=Model
x=207
y=13
width=67
height=82
modelZoom=400

[pagetext]
type=Model
x=360
y=13
width=67
height=82
modelZoom=400

[mainmodal_window_border]
type=Text
buttonType=Pause
x=1
y=15
width=160
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[mainmodal_window_close_button]
type=Text
buttonType=Pause
x=1
y=15
width=160
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_7]
type=Text
buttonType=Pause
x=1
y=15
width=160
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_8]
type=Text
buttonType=Pause
x=1
y=15
width=160
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_9]
type=Text
buttonType=Pause
x=171
y=10
width=138
height=85
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_10]
type=Text
buttonType=Pause
x=171
y=10
width=138
height=85
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_11]
type=Text
buttonType=Pause
x=171
y=10
width=138
height=85
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_12]
type=Text
buttonType=Pause
x=171
y=10
width=138
height=85
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_13]
type=Text
buttonType=Pause
x=315
y=13
width=160
height=82
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_14]
type=Text
buttonType=Pause
x=315
y=13
width=160
height=82
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_15]
type=Text
buttonType=Pause
x=315
y=13
width=160
height=82
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_16]
type=Text
buttonType=Pause
x=315
y=13
width=160
height=82
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_17]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to make?"
