[fade]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[com_1]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[com_2]
type=Model
x=92
y=13
width=67
height=82
modelZoom=400

[com_3]
type=Model
x=323
y=13
width=67
height=82
modelZoom=400

[com_4]
type=Text
buttonType=Pause
x=8
y=17
width=233
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_5]
type=Text
buttonType=Pause
x=8
y=16
width=233
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_6]
type=Text
buttonType=Pause
x=8
y=16
width=233
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_7]
type=Text
buttonType=Pause
x=8
y=16
width=233
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_8]
type=Text
buttonType=Pause
x=241
y=17
width=232
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[com_9]
type=Text
buttonType=Pause
x=241
y=16
width=232
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=pauseButton

[com_10]
type=Text
buttonType=Pause
x=241
y=16
width=232
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[com_11]
type=Text
buttonType=Pause
x=241
y=16
width=232
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_12]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to make?"
