[com_0]
type=Layer
width=512
height=334

[com_1]
type=Text
x=378
y=6
width=70
height=14
layerId=39387136
colour=0xFF9933
font=494
shadow=yes
text="NPC Killcount"

[com_2]
type=Text
x=378
y=30
width=84
height=15
layerId=39387136
colour=0xFF9933
font=494
shadow=yes
text="Armadyl kills"

[com_3]
type=Text
x=378
y=44
width=84
height=15
layerId=39387136
colour=0xFF9933
font=494
shadow=yes
text="Bandos kills"

[com_4]
type=Text
x=378
y=58
width=95
height=15
layerId=39387136
colour=0xFF9933
font=494
shadow=yes
text="Saradomin kills"

[com_5]
type=Text
x=378
y=72
width=87
height=15
layerId=39387136
colour=0xFF9933
font=494
shadow=yes
text="Zamorak kills"

[com_6]
type=Text
x=479
y=30
width=32
height=15
layerId=39387136
colour=0x66FFFF
font=494
shadow=yes
text="0"

[com_7]
type=Text
x=479
y=44
width=32
height=15
layerId=39387136
colour=0x66FFFF
font=494
shadow=yes
text="0"

[com_8]
type=Text
x=479
y=58
width=32
height=15
layerId=39387136
colour=0x66FFFF
font=494
shadow=yes
text="0"

[killcounts]
type=Text
x=479
y=72
width=32
height=15
layerId=39387136
colour=0x66FFFF
font=494
shadow=yes
text="0"
