[pipe_piece_valve_1]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[background]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[background_decoration_layer]
type=Sprite
x=13
y=53
width=7
height=241
graphic=955
tiling=yes

[pipe_piece_valve_2]
type=Sprite
x=13
y=20
width=32
height=32
graphic=958

[pipe_piece_wheel_1]
type=Sprite
x=468
y=51
width=32
height=243
graphic=957
tiling=yes

[pipe_puzzle_layer]
type=Sprite
x=44
y=20
width=424
height=7
graphic=954
tiling=yes

[helpers]
type=Sprite
x=45
y=294
width=423
height=32
graphic=956
tiling=yes

[pipe_piece_1]
type=Sprite
x=13
y=294
width=32
height=32
graphic=960

[pipe_piece_2]
type=Sprite
x=468
y=20
width=32
height=32
graphic=959

[pipe_piece_3]
type=Sprite
x=468
y=294
width=32
height=32
graphic=961

[pipe_piece_4]
type=Sprite
x=24
y=49
width=465
height=6
graphic=962
tiling=yes

[pipe_piece_5]
type=Sprite
x=13
y=37
width=32
height=32
graphic=963

[pipe_piece_6]
type=Sprite
x=468
y=37
width=32
height=32
graphic=964

[pipe_piece_7]
type=Sprite
x=473
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
onclick=29

[pipe_piece_8]
type=Text
x=21
y=30
width=471
height=16
colour=0xCC9800
hAlign=Center
font=496
shadow=yes
text="Grand Exchange"
onload=669

[pipe_piece_9]
type=Sprite
x=25
y=26
width=25
height=25
graphic=1164

[pipe_piece_10]
type=Layer
width=512
height=334

[pipe_piece_11]
type=Text
x=21
y=60
width=471
height=14
layerId=6946832
colour=0xCC9900
hAlign=Center
font=494
shadow=yes
text="Shown below is a summary of all your current offers."

[pipe_piece_12]
type=Layer
x=30
y=80
width=140
height=110
layerId=6946832

[pipe_piece_13]
type=Layer
x=30
y=80
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_14]
type=Sprite
y=43
width=32
height=45
layerId=6946835
graphic=1075
tiling=yes

[pipe_piece_15]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946835
graphic=1074
tiling=yes

[pipe_piece_16]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946835
graphic=1075
tiling=yes

[pipe_piece_17]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946835
graphic=1074
tiling=yes

[pipe_piece_18]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946835
graphic=1075
tiling=yes

[pipe_piece_19]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946835
graphic=1074
tiling=yes

[pipe_piece_20]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946835
graphic=1075
tiling=yes

[pipe_piece_21]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946835
graphic=1074
tiling=yes

[pipe_piece_22]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946835
graphic=1168

[pipe_piece_23]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946835
graphic=1170

[pipe_piece_24]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946835

[pipe_piece_25]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946835

[pipe_piece_26]
type=Layer
x=186
y=80
width=140
height=110
layerId=6946832

[pipe_piece_27]
type=Layer
x=186
y=80
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_28]
type=Sprite
y=43
width=32
height=45
layerId=6946849
graphic=1075
tiling=yes

[pipe_piece_29]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946849
graphic=1074
tiling=yes

[pipe_piece_30]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946849
graphic=1075
tiling=yes

[pipe_piece_31]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946849
graphic=1074
tiling=yes

[pipe_piece_32]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946849
graphic=1075
tiling=yes

[pipe_piece_33]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946849
graphic=1074
tiling=yes

[pipe_piece_34]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946849
graphic=1075
tiling=yes

[pipe_piece_35]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946849
graphic=1074
tiling=yes

[pipe_piece_36]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946849
graphic=1168

[pipe_piece_37]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946849
graphic=1170

[pipe_piece_38]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946849

[pipe_piece_39]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946849

[pipe_piece_40]
type=Layer
x=342
y=80
width=140
height=110
layerId=6946832

[pipe_piece_41]
type=Layer
x=342
y=80
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_42]
type=Sprite
y=43
width=32
height=45
layerId=6946863
graphic=1075
tiling=yes

[pipe_piece_43]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946863
graphic=1074
tiling=yes

[pipe_piece_44]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946863
graphic=1075
tiling=yes

[pipe_piece_45]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946863
graphic=1074
tiling=yes

[pipe_piece_46]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946863
graphic=1075
tiling=yes

[pipe_piece_47]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946863
graphic=1074
tiling=yes

[pipe_piece_48]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946863
graphic=1075
tiling=yes

[pipe_piece_49]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946863
graphic=1074
tiling=yes

[pipe_piece_50]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946863
graphic=1168

[pipe_piece_51]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946863
graphic=1170

[pipe_piece_52]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946863

[pipe_piece_53]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946863

[pipe_piece_54]
type=Layer
x=342
y=80
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_55]
type=Rectangle
width=140
height=110
layerId=6946876
trans=160
colour=0x808080
fill=yes

[pipe_piece_56]
type=Sprite
width=140
height=110
layerId=6946876
graphic=1167
tiling=yes

[pipe_piece_57]
type=Layer
x=30
y=200
width=140
height=110
layerId=6946832

[pipe_piece_58]
type=Layer
x=30
y=200
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_59]
type=Sprite
y=43
width=32
height=45
layerId=6946880
graphic=1075
tiling=yes

[pipe_piece_60]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946880
graphic=1074
tiling=yes

[pipe_piece_61]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946880
graphic=1075
tiling=yes

[pipe_piece_62]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946880
graphic=1074
tiling=yes

[pipe_piece_63]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946880
graphic=1075
tiling=yes

[pipe_piece_64]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946880
graphic=1074
tiling=yes

[pipe_piece_65]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946880
graphic=1075
tiling=yes

[pipe_piece_66]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946880
graphic=1074
tiling=yes

[pipe_piece_67]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946880
graphic=1168

[pipe_piece_68]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946880
graphic=1170

[pipe_piece_69]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946880

[pipe_piece_70]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946880

[pipe_piece_71]
type=Layer
x=30
y=200
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_72]
type=Rectangle
width=140
height=110
layerId=6946893
trans=160
colour=0x808080
fill=yes

[pipe_piece_73]
type=Sprite
width=140
height=110
layerId=6946893
graphic=1167
tiling=yes

[pipe_piece_74]
type=Layer
x=186
y=200
width=140
height=110
layerId=6946832

[pipe_piece_75]
type=Layer
x=186
y=200
width=140
height=110
layerId=6946832
hide=yes

[pipe_piece_76]
type=Sprite
y=43
width=32
height=45
layerId=6946897
graphic=1075
tiling=yes

[pipe_piece_77]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946897
graphic=1074
tiling=yes

[pipe_piece_78]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946897
graphic=1075
tiling=yes

[pipe_piece_79]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946897
graphic=1074
tiling=yes

[pipe_piece_80]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946897
graphic=1075
tiling=yes

[mainmodal_window]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946897
graphic=1074
tiling=yes

[mainmodal_window_background]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946897
graphic=1075
tiling=yes

[mainmodal_window_content]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946897
graphic=1074
tiling=yes

[mainmodal_window_border]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946897
graphic=1168

[mainmodal_window_close_button]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946897
graphic=1170

[pipe_piece_wheel_2]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946897

[pipe_piece_wheel_3]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946897

[pipe_piece_wheel_4]
type=Layer
x=186
y=200
width=140
height=110
layerId=6946832
hide=yes

[com_95]
type=Rectangle
width=140
height=110
layerId=6946910
trans=160
colour=0x808080
fill=yes

[com_96]
type=Sprite
width=140
height=110
layerId=6946910
graphic=1167
tiling=yes

[com_97]
type=Layer
x=342
y=200
width=140
height=110
layerId=6946832

[com_98]
type=Layer
x=342
y=200
width=140
height=110
layerId=6946832
hide=yes

[com_99]
type=Sprite
y=43
width=32
height=45
layerId=6946914
graphic=1075
tiling=yes

[com_100]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6946914
graphic=1074
tiling=yes

[com_101]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6946914
graphic=1075
tiling=yes

[com_102]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6946914
graphic=1074
tiling=yes

[com_103]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6946914
graphic=1075
tiling=yes

[com_104]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6946914
graphic=1074
tiling=yes

[com_105]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6946914
graphic=1075
tiling=yes

[com_106]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6946914
graphic=1074
tiling=yes

[com_107]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6946914
graphic=1168

[com_108]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6946914
graphic=1170

[com_109]
type=Layer
x=12
y=43
width=51
height=46
layerId=6946914

[com_110]
type=Layer
x=75
y=43
width=51
height=46
layerId=6946914

[com_111]
type=Layer
x=342
y=200
width=140
height=110
layerId=6946832
hide=yes

[com_112]
type=Rectangle
width=140
height=110
layerId=6946927
trans=160
colour=0x808080
fill=yes

[com_113]
type=Sprite
width=140
height=110
layerId=6946927
graphic=1167
tiling=yes

[com_114]
type=Rectangle
x=111
y=227
width=317
height=83
trans=200
fill=yes

[com_115]
type=Rectangle
x=113
y=229
width=305
height=71
colour=0x83765E
fill=yes
baseOpName="  "

[com_116]
type=Sprite
x=108
y=223
width=32
height=32
graphic=846

[com_117]
type=Sprite
x=140
y=209
width=252
height=32
graphic=828
tiling=yes

[com_118]
type=Sprite
x=392
y=223
width=32
height=32
graphic=847
tiling=yes

[com_119]
type=Sprite
x=94
y=255
width=32
height=32
graphic=841
tiling=yes

[com_120]
type=Sprite
x=108
y=273
width=32
height=32
graphic=848
tiling=yes

[com_121]
type=Sprite
x=140
y=285
width=252
height=32
graphic=828
tiling=yes

[com_122]
type=Sprite
x=392
y=273
width=32
height=32
graphic=849
tiling=yes

[com_123]
type=Sprite
x=404
y=247
width=32
height=32
graphic=841
tiling=yes

[com_124]
type=Text
x=118
y=233
width=298
height=64
colour=0xFFFFFF
font=495
shadow=yes
text="Jetzt ist Ihr Angebot eingegangen! Sie können jederzeit darauf klicken, um sich die Einzelheiten anzuschauen. Unten wird der Fortschritt mit einem Balken angezeigt. "

[com_125]
type=Sprite
x=399
y=280
width=16
height=16
graphic=1174
eventCode=hasOp(1)
opName0="Continue"
onmouseover=44,component.parentId,1175
onmouseleave=44,component.parentId,1174

[com_126]
type=Layer
width=512
height=334
hide=yes

[com_127]
type=Rectangle
x=26
y=76
width=148
height=5
layerId=6946942
colour=0xFFCC33
fill=yes

[com_128]
type=Rectangle
x=26
y=189
width=148
height=5
layerId=6946942
colour=0xFFCC33
fill=yes

[com_129]
type=Rectangle
x=26
y=76
width=5
height=115
layerId=6946942
colour=0xFFCC33
fill=yes

[com_130]
type=Rectangle
x=169
y=76
width=5
height=115
layerId=6946942
colour=0xFFCC33
fill=yes

[com_131]
type=Layer
width=512
height=334
hide=yes

[com_132]
type=Rectangle
x=38
y=118
width=59
height=5
layerId=6946947
colour=0xFFCC33
fill=yes

[com_133]
type=Rectangle
x=38
y=169
width=59
height=5
layerId=6946947
colour=0xFFCC33
fill=yes

[com_134]
type=Rectangle
x=38
y=118
width=5
height=56
layerId=6946947
colour=0xFFCC33
fill=yes
baseOpName=" "

[com_135]
type=Rectangle
x=92
y=118
width=5
height=56
layerId=6946947
colour=0xFFCC33
fill=yes

[com_136]
type=Rectangle
x=101
y=118
width=59
height=5
layerId=6946947
colour=0xFFCC33
fill=yes

[com_137]
type=Rectangle
x=101
y=169
width=59
height=5
layerId=6946947
colour=0xFFCC33
fill=yes

[com_138]
type=Rectangle
x=101
y=118
width=5
height=56
layerId=6946947
colour=0xFFCC33
fill=yes
baseOpName=" "

[com_139]
type=Rectangle
x=155
y=118
width=5
height=56
layerId=6946947
colour=0xFFCC33
fill=yes

[com_140]
type=Layer
width=512
height=334
hide=yes

[com_141]
type=Rectangle
x=26
y=76
width=148
height=5
layerId=6946956
colour=0xFFCC33
fill=yes

[com_142]
type=Rectangle
x=26
y=189
width=148
height=5
layerId=6946956
colour=0xFFCC33
fill=yes

[com_143]
type=Rectangle
x=26
y=76
width=5
height=115
layerId=6946956
colour=0xFFCC33
fill=yes

[com_144]
type=Rectangle
x=169
y=76
width=5
height=115
layerId=6946956
colour=0xFFCC33
fill=yes

[com_145]
type=Text
x=303
y=279
width=106
height=16
colour=0x0000FF
font=495
text="Click to continue"
eventCode=hasOp(1)
opName0="Continue"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,255
