[root]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_1]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[content_window]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[content_panel]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[spinner]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[auto_setup_title_text]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[topbar_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[topbar_bg_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[min_button]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[rec_button]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[adv_button]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[adv_button_text]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[checkbox]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[scrolling_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[scrollbar_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[auto_setup_in_progress]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[prevent_click_through_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[topbar_desc_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[topbar_desc_bg_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[non_adv_options]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[advanced_toggle_layer]
type=Sprite
x=276
y=259
width=88
height=60
graphic=297

[adv_options]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[warning_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[warning_text]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[info_wrapper]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[advanced_text]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[adv_checkbox_build]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[non_adv_options_build]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[non_adv_options_click]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[non_adv_options_value]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[min_desc_layer]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[min_desc_bg]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[min_desc_graphic]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[min_desc_text]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[rec_dec_layer]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[rec_desc_bg]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[rec_desc_graphic]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[rec_desc_text]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[custom_desc_layer]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[adv_desc_text]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[rec_button_build]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[min_button_build]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[min_button_click]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[rec_button_click]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[warning_controls]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[adv_options_build]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[adv_options_click]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[adv_options_value]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Text
x=15
y=25
width=477
height=24
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="What hides would you like tanning?"

[com_89]
type=Sprite
x=472
y=25
width=23
height=23
overLayerId=91
graphic=535

[com_90]
type=Sprite
buttonType=Close
x=7
y=3
width=23
height=23
layerId=21233755
graphic=536
buttonText="Ok"

[com_91]
type=Layer
x=465
y=22
width=32
height=32
hide=yes

[com_92]
type=Layer
x=40
y=56
width=96
height=128

[com_93]
type=Layer
x=152
y=56
width=96
height=128

[com_94]
type=Layer
x=264
y=56
width=96
height=128

[com_95]
type=Layer
x=376
y=56
width=96
height=128

[com_96]
type=Layer
x=40
y=184
width=96
height=128

[com_97]
type=Layer
x=152
y=184
width=96
height=128

[com_98]
type=Layer
x=264
y=184
width=96
height=128

[com_99]
type=Layer
x=369
y=184
width=115
height=128

[com_100]
type=Model
width=96
height=96
layerId=21233756
modelZoom=400

[com_101]
type=Model
width=96
height=96
layerId=21233757
modelZoom=400

[com_102]
type=Model
width=96
height=96
layerId=21233758
modelZoom=400

[com_103]
type=Model
width=96
height=96
layerId=21233759
modelZoom=400

[com_104]
type=Model
width=96
height=96
layerId=21233760
modelZoom=400

[com_105]
type=Model
width=96
height=96
layerId=21233761
modelZoom=400

[com_106]
type=Model
width=96
height=96
layerId=21233762
modelZoom=400

[com_107]
type=Model
x=7
width=96
height=96
layerId=21233763
modelZoom=400

[com_108]
type=Text
y=96
width=96
height=14
layerId=21233756
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_109]
type=Text
y=96
width=96
height=14
layerId=21233757
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_110]
type=Text
y=96
width=96
height=14
layerId=21233758
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_111]
type=Text
y=96
width=96
height=14
layerId=21233759
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_112]
type=Text
y=96
width=96
height=14
layerId=21233760
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_113]
type=Text
y=96
width=96
height=14
layerId=21233761
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_114]
type=Text
y=96
width=96
height=14
layerId=21233762
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_115]
type=Text
x=7
y=96
width=96
height=14
layerId=21233763
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Hide"

[com_116]
type=Text
y=111
width=96
height=14
layerId=21233756
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_117]
type=Text
y=111
width=96
height=14
layerId=21233757
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_118]
type=Text
y=111
width=96
height=14
layerId=21233758
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_119]
type=Text
y=111
width=96
height=14
layerId=21233759
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_120]
type=Text
y=111
width=96
height=14
layerId=21233760
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_121]
type=Text
y=111
width=96
height=14
layerId=21233761
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_122]
type=Text
y=111
width=96
height=14
layerId=21233762
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_123]
type=Text
x=7
y=111
width=96
height=14
layerId=21233763
colour=0x00CFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Cost"

[com_124]
type=Text
buttonType=Button
width=96
height=112
layerId=21233756
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_125]
type=Text
buttonType=Button
width=96
height=112
layerId=21233757
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_126]
type=Text
buttonType=Button
width=96
height=112
layerId=21233758
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_127]
type=Text
buttonType=Button
width=96
height=112
layerId=21233759
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_128]
type=Text
buttonType=Button
width=96
height=112
layerId=21233760
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_129]
type=Text
buttonType=Button
width=96
height=112
layerId=21233761
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_130]
type=Text
buttonType=Button
width=96
height=112
layerId=21233762
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_131]
type=Text
buttonType=Button
x=7
width=96
height=112
layerId=21233763
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>All"
eventCode=flag22

[com_132]
type=Text
buttonType=Button
width=96
height=112
layerId=21233756
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_133]
type=Text
buttonType=Button
width=96
height=112
layerId=21233757
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_134]
type=Text
buttonType=Button
width=96
height=112
layerId=21233758
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_135]
type=Text
buttonType=Button
width=96
height=112
layerId=21233759
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_136]
type=Text
buttonType=Button
width=96
height=112
layerId=21233760
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_137]
type=Text
buttonType=Button
width=96
height=112
layerId=21233761
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_138]
type=Text
buttonType=Button
width=96
height=112
layerId=21233762
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_139]
type=Text
buttonType=Button
x=7
width=96
height=112
layerId=21233763
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>X"
eventCode=flag22

[com_140]
type=Text
buttonType=Button
width=96
height=112
layerId=21233756
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_141]
type=Text
buttonType=Button
width=96
height=112
layerId=21233757
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_142]
type=Text
buttonType=Button
width=96
height=112
layerId=21233758
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_143]
type=Text
buttonType=Button
width=96
height=112
layerId=21233759
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_144]
type=Text
buttonType=Button
width=96
height=112
layerId=21233760
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_145]
type=Text
buttonType=Button
width=96
height=112
layerId=21233761
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_146]
type=Text
buttonType=Button
width=96
height=112
layerId=21233762
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_147]
type=Text
buttonType=Button
x=7
width=96
height=112
layerId=21233763
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>5"
eventCode=flag22

[com_148]
type=Text
buttonType=Button
width=96
height=112
layerId=21233756
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_149]
type=Text
buttonType=Button
width=96
height=112
layerId=21233757
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_150]
type=Text
buttonType=Button
width=96
height=112
layerId=21233758
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_151]
type=Text
buttonType=Button
width=96
height=112
layerId=21233759
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_152]
type=Text
buttonType=Button
width=96
height=112
layerId=21233760
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_153]
type=Text
buttonType=Button
width=96
height=112
layerId=21233761
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_154]
type=Text
buttonType=Button
width=96
height=112
layerId=21233762
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22

[com_155]
type=Text
buttonType=Button
x=7
width=96
height=112
layerId=21233763
colour=0xFFFF00
font=494
buttonText="Tan <col=ff7000>1"
eventCode=flag22
