[build_area]
type=Rectangle
x=105
y=15
width=332
height=303
trans=200
fill=yes

[static_button]
type=Sprite
x=104
y=15
width=319
height=302
graphic=297
tiling=yes

[container]
type=Sprite
x=84
y=40
width=32
height=257
graphic=821
tiling=yes

[modal_dialog_window]
type=Sprite
x=97
y=10
width=32
height=32
graphic=824

[modal_dialog_window_background]
type=Sprite
x=410
y=40
width=23
height=257
graphic=823
tiling=yes
baseOpName=" "

[modal_dialog_window_content]
type=Sprite
x=128
y=-3
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[info_holder_active]
type=Sprite
x=129
y=304
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[scrolling_layer]
type=Sprite
x=97
y=292
width=32
height=32
graphic=826

[click_area]
type=Sprite
x=398
y=10
width=32
height=32
graphic=825

[scrollbar]
type=Sprite
x=398
y=292
width=32
height=32
graphic=827

[confirm_panel]
type=Sprite
x=103
y=26
width=319
height=32
graphic=851
tiling=yes

[static_button_build]
type=Text
x=197
y=19
width=102
height=15
colour=0xE1961F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Upcoming Tournament Rules: Registrar #"

[static_button_click]
type=Sprite
x=404
y=19
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[modal_dialog_window_border]
type=Layer
x=116
y=46
width=148
height=16
onload=100,component.parentId

[modal_dialog_window_close_button]
type=Layer
x=116
y=65
width=148
height=16
onload=100,component.parentId

[confirm_blocker]
type=Layer
x=116
y=84
width=148
height=16
onload=100,component.parentId

[com_16]
type=Layer
x=116
y=103
width=148
height=16
onload=100,component.parentId

[confirm_holder]
type=Layer
x=116
y=122
width=148
height=16
onload=100,component.parentId

[confirm_background]
type=Layer
x=116
y=141
width=148
height=16
onload=100,component.parentId

[static_checkbox]
type=Layer
x=116
y=160
width=148
height=16
onload=100,component.parentId

[yes_button]
type=Layer
x=116
y=179
width=148
height=16
onload=100,component.parentId

[positive_button_on_layer_1]
type=Layer
x=116
y=198
width=148
height=16
onload=100,component.parentId

[positive_button_over_layer_1]
type=Layer
x=116
y=217
width=148
height=16
onload=100,component.parentId

[positive_button_hit_layer_1]
type=Layer
x=116
y=236
width=148
height=16
onload=100,component.parentId

[positive_button_selected_layer]
type=Layer
x=116
y=255
width=148
height=16
onload=100,component.parentId

[yes]
type=Layer
x=263
y=46
width=148
height=16
onload=100,component.parentId

[positive_button_disabled_layer]
type=Layer
x=263
y=65
width=148
height=16
onload=100,component.parentId

[positive_button_text_layer_1]
type=Layer
x=263
y=84
width=148
height=16
onload=100,component.parentId

[positive_button_text_1]
type=Layer
x=263
y=103
width=148
height=16
onload=100,component.parentId

[no_button]
type=Layer
x=263
y=122
width=148
height=16
onload=100,component.parentId

[neutral_button_on_layer]
type=Layer
x=263
y=141
width=148
height=16
onload=100,component.parentId

[neutral_button_over_layer]
type=Layer
x=263
y=160
width=148
height=16
onload=100,component.parentId

[neutral_button_hit_layer]
type=Layer
x=263
y=179
width=148
height=16
onload=100,component.parentId

[neutral_button_selected_layer]
type=Layer
x=263
y=198
width=148
height=16
onload=100,component.parentId

[no]
type=Layer
x=263
y=217
width=148
height=16
onload=100,component.parentId

[neutral_button_disabled_layer]
type=Layer
x=263
y=236
width=148
height=16
onload=100,component.parentId

[neutral_button_text_layer]
type=Layer
x=263
y=255
width=148
height=16
onload=100,component.parentId

[neutral_button_text]
type=Layer
x=116
y=274
width=148
height=16
onload=100,component.parentId

[text_container]
type=Layer
x=116
y=293
width=148
height=16
onload=100,component.parentId

[confirm_text]
type=Layer
x=263
y=274
width=148
height=16
onload=100,component.parentId

[checkbox_build]
type=Layer
x=263
y=293
width=148
height=16
onload=100,component.parentId

[checkbox_click]
type=Text
x=122
y=48
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Tournament Value:"

[com_42]
type=Text
x=122
y=67
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Rank Required:"

[com_43]
type=Text
x=122
y=86
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Entry Fee:"

[com_44]
type=Text
x=122
y=105
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Potions:"

[com_45]
type=Text
x=122
y=124
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Food:"

[com_46]
type=Text
x=122
y=143
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Prayer:"

[com_47]
type=Text
x=122
y=162
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Special Attacks:"

[com_48]
type=Text
x=122
y=181
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Obstacles:"

[com_49]
type=Text
x=122
y=200
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Ranged:"

[com_50]
type=Text
x=122
y=219
width=100
height=12
colour=0xCC9900
font=494
shadow=yes
text="Melee:"

[com_51]
type=Text
x=122
y=238
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Magic:"

[com_52]
type=Text
x=122
y=257
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Heal Between Rounds:"

[com_53]
type=Text
x=122
y=276
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Weapon Slots Only:"

[com_54]
type=Text
x=122
y=295
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Summoning:"

[com_55]
type=Text
x=274
y=48
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="0"

[com_56]
type=Text
x=274
y=67
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="rank"

[com_57]
type=Text
x=274
y=86
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_58]
type=Text
x=274
y=105
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_59]
type=Text
x=274
y=124
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_60]
type=Text
x=274
y=143
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_61]
type=Text
x=274
y=162
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="spec"

[com_62]
type=Text
x=274
y=181
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="obstacles"

[com_63]
type=Text
x=274
y=200
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="ranged"

[com_64]
type=Text
x=274
y=219
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="melee"

[com_65]
type=Text
x=274
y=238
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="magic"

[com_66]
type=Text
x=274
y=257
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="heal"

[com_67]
type=Text
x=274
y=276
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="weapon"

[com_68]
type=Text
x=274
y=295
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="summon"
