[info_holder_active]
type=Rectangle
x=32
y=31
width=465
height=289
trans=200
fill=yes

[menu_layer]
type=Sprite
x=31
y=31
width=451
height=275
graphic=297
tiling=yes

[scrollbar]
type=Sprite
x=24
y=24
width=32
height=32
graphic=824

[active_title_text]
type=Sprite
x=11
y=56
width=32
height=226
graphic=821
tiling=yes

[active_button_layer]
type=Sprite
x=469
y=56
width=32
height=225
graphic=823
tiling=yes

[visible_title_text]
type=Sprite
x=24
y=281
width=32
height=32
graphic=826

[info_section]
type=Sprite
x=56
y=11
width=401
height=32
graphic=820
tiling=yes

[confirm_section]
type=Sprite
x=56
y=293
width=401
height=32
graphic=822
tiling=yes

[grave_section]
type=Sprite
x=457
y=24
width=32
height=32
graphic=825

[visible_button_layer]
type=Sprite
x=457
y=281
width=32
height=32
graphic=827

[info_title]
type=Sprite
x=24
y=40
width=32
height=32
graphic=829

[info_text]
type=Sprite
x=457
y=40
width=32
height=32
graphic=830

[mainmodal_window]
type=Sprite
x=35
y=38
width=443
height=32
graphic=828
tiling=yes

[mainmodal_window_background]
type=Sprite
x=30
y=74
width=32
height=216
graphic=1075
tiling=yes

[mainmodal_window_content]
type=Sprite
x=44
y=56
width=170
height=32
graphic=1074
tiling=yes

[mainmodal_window_border]
type=Sprite
x=200
y=74
width=32
height=216
graphic=1075
tiling=yes

[mainmodal_window_close_button]
type=Sprite
x=44
y=274
width=170
height=32
graphic=1074
tiling=yes

[active_button_on_layer]
type=Sprite
x=245
y=74
width=32
height=32
graphic=846
tiling=yes

[active_button_over_layer]
type=Sprite
x=424
y=74
width=32
height=32
graphic=847
tiling=yes

[active_button_hit_layer]
type=Sprite
x=424
y=260
width=32
height=32
graphic=849
tiling=yes

[active_button_selected_layer]
type=Sprite
x=277
y=60
width=148
height=32
graphic=828
tiling=yes

[active_button_active_layer]
type=Sprite
x=277
y=272
width=147
height=32
graphic=828
tiling=yes

[active_button_disabled_layer]
type=Sprite
x=231
y=106
width=32
height=154
graphic=841
tiling=yes

[active_button_text_layer]
type=Sprite
x=436
y=106
width=32
height=154
graphic=841
tiling=yes

[active_button_text]
type=Sprite
x=415
y=74
width=32
height=32
graphic=842
tiling=yes

[visible_button_on_layer]
type=Sprite
x=414
y=85
width=32
height=196
graphic=841
tiling=yes

[visible_button_over_layer]
type=Sprite
x=415
y=260
width=32
height=32
graphic=843
tiling=yes

[visible_button_hit_layer]
type=Sprite
x=245
y=260
width=32
height=32
graphic=848
tiling=yes

[visible_button_selected_layer]
type=Text
x=31
y=31
width=450
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Gravestones"

[visible_button_active_layer]
type=Text
x=61
y=87
width=140
height=30
colour=0xFF981F
hAlign=Center
font=496
shadow=yes

[visible_button_disabled_layer]
type=Text
x=61
y=116
width=140
height=114
colour=0xFF981F
hAlign=Center
font=495
shadow=yes

[visible_button_text_layer]
type=Layer
x=251
y=80
width=176
height=205
onload=681,component.parentId,42729504,42729506,42729507,42729501,42729502
onvartransmit=681,component.parentId,42729504,42729506,42729507,42729501,42729502
onvartransmitlist=1146

[visible_button_text]
type=Layer
x=434
y=79
width=16
height=207

[com_33]
type=Sprite
width=90
height=56
layerId=42729506
graphic=943

[com_34]
type=Layer
x=83
y=230
width=90
height=56

[com_35]
type=Text
x=83
y=230
width=90
height=56
colour=0xBF751D
hAlign=Center
vAlign=Center
lineHeight=15
font=496
shadow=yes
onmouseover=45,42729507,14784543
onmouseleave=45,42729507,12547357

[com_36]
type=Sprite
x=463
y=33
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
