[com_0]
type=Rectangle
x=1
y=1
width=511
height=349
colour=0x081907
fill=yes

[com_1]
type=Model
x=242
y=149
width=32
height=32
model1Id=13399
modelZoom=138
modelXAn=531

[grave_digger_profession]
type=Model
x=158
y=56
width=221
height=215
modelZoom=144

[close_button]
type=Sprite
x=443
y=16
width=26
height=23
overLayerId=5
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=9371653
graphic=540
buttonText="Ok"

[com_5]
type=Layer
x=439
y=12
width=32
height=32
hide=yes
