[com_0]
type=Model
x=255
y=166
width=32
height=32
model1Id=13374
modelZoom=600

[foregroundgrave]
type=Model
x=208
y=231
width=32
height=32
model1Id=13373
modelZoom=309
modelXAn=190
modelYAn=373

[com_2]
type=Rectangle
x=136
y=43
width=252
height=247
trans=178
colour=0x666600
fill=yes

[gd_1]
type=Model
x=146
y=50
width=70
height=69
modelZoom=400

[gd_2]
type=Model
x=227
y=50
width=70
height=69
modelZoom=400

[gd_3]
type=Model
x=308
y=50
width=70
height=69
modelZoom=400

[gd_4]
type=Model
x=146
y=133
width=70
height=69
modelZoom=400

[gd_5]
type=Model
x=227
y=132
width=70
height=69
modelZoom=400

[gd_6]
type=Model
x=308
y=132
width=70
height=69
modelZoom=400

[gd_7]
type=Model
x=146
y=212
width=70
height=69
modelZoom=400

[gd_8]
type=Model
x=227
y=213
width=70
height=69
modelZoom=400

[gd_9]
type=Model
x=308
y=213
width=70
height=69
trans=255
modelZoom=400

[macro_close]
type=Sprite
x=442
y=12
width=26
height=23
overLayerId=14
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=2
y=6
width=26
height=23
layerId=9240590
graphic=540
buttonText="Ok"

[com_14]
type=Layer
x=440
y=6
width=32
height=32
hide=yes
