[scroll]
type=Rectangle
x=1
width=512
height=336
trans=160
colour=0x46341D
fill=yes

[line_1]
type=Model
x=234
y=112
width=32
height=32
model1Id=25921
modelZoom=581
modelXAn=483
modelYAn=2044
discardedModelField=0

[line_2]
type=Rectangle
x=69
y=48
width=357
height=2
colour=0x46320A
fill=yes

[line_3]
type=Rectangle
x=69
y=58
width=357
height=2
colour=0x46320A
fill=yes

[line_4]
type=Rectangle
x=69
y=67
width=357
height=2
colour=0x46320A
fill=yes

[line_5]
type=Rectangle
x=70
y=77
width=357
height=2
colour=0x46320A
fill=yes

[treble_clef]
type=Rectangle
x=69
y=88
width=357
height=2
colour=0x46320A
fill=yes

[notes_e_f_e_d]
type=Sprite
x=66
y=39
width=29
height=66
graphic=865

[notes_c]
type=Sprite
x=109
y=28
width=45
height=36
graphic=862

[notes_a]
type=Sprite
x=143
y=37
width=45
height=36
graphic=863

[notes_e]
type=Sprite
x=168
y=46
width=45
height=36
graphic=863

[notes_g]
type=Sprite
x=197
y=61
width=45
height=36
graphic=863

[notes_a2]
type=Sprite
x=230
y=51
width=45
height=36
graphic=863

[e]
type=Sprite
x=261
y=46
width=45
height=36
graphic=863

[f]
type=Text
x=110
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="E"

[e_2]
type=Text
x=120
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="F"

[d]
type=Text
x=130
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="E"

[c]
type=Text
x=143
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="D"

[a]
type=Text
x=157
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="C"

[e_3]
type=Text
x=183
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="A"

[g]
type=Text
x=214
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="E"

[a_2]
type=Text
x=246
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="G"

[piano_keys]
type=Text
x=277
y=94
width=32
height=32
colour=0x46320A
font=495
shadow=yes
text="A"

[key_c]
type=Model
x=214
y=209
width=32
height=32
model1Id=25919
modelZoom=656
modelXAn=249
modelYAn=2044
discardedModelField=0

[key_d]
type=Text
x=63
y=229
width=32
height=32
colour=0x46320A
font=496
shadow=yes
text="C"

[key_e]
type=Text
x=79
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="D"

[key_f]
type=Text
x=107
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="E"

[key_g]
type=Text
x=139
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="F"

[key_a]
type=Text
x=168
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="G"

[key_b]
type=Text
x=193
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="A"

[key_d2]
type=Text
x=220
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="B"

[key_c2]
type=Text
x=276
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="D"

[key_e2]
type=Text
x=248
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="C"

[key_f2]
type=Text
x=304
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="E"

[key_g2]
type=Text
x=333
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="F"

[key_a2]
type=Text
x=361
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="G"

[key_b2]
type=Text
x=389
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="A"

[upper]
type=Text
x=418
y=229
width=32
height=32
colour=0x46320A
hAlign=Center
font=496
shadow=yes
text="B"

[lower]
type=Text
x=372
y=33
width=32
height=32
colour=0x46320A
font=496
text="UPPER"

[grim_close_button]
type=Text
x=372
y=93
width=32
height=32
colour=0x46320A
font=496
text="LOWER"

[content_layer]
type=Sprite
x=417
y=20
width=26
height=23
graphic=537
eventCode=hasOp(1)
opName0="Close"
onmouseleave=44,component.parentId,537
onmouserepeat=44,component.parentId,538
onclick=29
