[content_layer]
type=Rectangle
x=-3
y=-1
width=520
height=336
colour=0x2B2B14
fill=yes

[bespoke_window]
type=Model
x=37
y=16
width=443
height=384
model1Id=25890
modelZoom=867
modelXAn=143
modelXOf=-18
modelYOf=19
discardedModelField=0

[piano]
type=Layer
x=-1
y=1
width=515
height=336
hide=yes

[piano_open_compartment]
type=Model
x=37
y=16
width=443
height=384
layerId=35061762
model1Id=25889
modelZoom=867
modelXAn=143
modelXOf=-18
modelYOf=19
discardedModelField=0

[piano_keys]
type=Layer
x=57
y=177
width=400
height=120

[key1]
type=Model
x=107
y=209
width=32
height=41
model1Id=25892
modelZoom=867
modelXAn=143
modelXOf=116
modelYOf=5
discardedModelField=0

[key2]
type=Model
x=129
y=206
width=37
height=44
model1Id=25903
modelZoom=867
modelXAn=143
modelXOf=93
modelYOf=6
discardedModelField=0

[key3]
type=Model
x=151
y=209
width=29
height=41
model1Id=25905
modelZoom=867
modelXAn=143
modelXOf=75
modelYOf=5
discardedModelField=0

[key5]
type=Model
x=191
y=206
width=31
height=44
model1Id=25909
modelZoom=867
modelXAn=143
modelXOf=34
modelYOf=6
discardedModelField=0

[key4]
type=Model
x=172
y=209
width=24
height=41
model1Id=25907
modelZoom=867
modelXAn=143
modelXOf=56
modelYOf=5
discardedModelField=0

[key6]
type=Model
x=215
y=206
width=25
height=44
model1Id=25911
modelZoom=867
modelXAn=143
modelXOf=13
modelYOf=6
discardedModelField=0

[key9]
type=Model
x=269
y=206
width=32
height=44
model1Id=25917
modelZoom=867
modelXAn=143
modelXOf=-45
modelYOf=6
discardedModelField=0

[key8]
type=Model
x=254
y=209
width=23
height=41
model1Id=25915
modelZoom=867
modelXAn=143
modelXOf=-25
modelYOf=5
discardedModelField=0

[key7]
type=Model
x=236
y=209
width=19
height=41
model1Id=25913
modelZoom=867
modelXAn=143
modelXOf=-5
modelYOf=5
discardedModelField=0

[key14]
type=Model
x=372
y=207
width=36
height=41
model1Id=25901
modelZoom=867
modelXAn=143
modelXOf=-150
modelYOf=5
discardedModelField=0

[key13]
type=Model
x=353
y=204
width=33
height=44
model1Id=25899
modelZoom=867
modelXAn=143
modelXOf=-129
modelYOf=6
discardedModelField=0

[key12]
type=Model
x=326
y=205
width=38
height=44
model1Id=25897
modelZoom=867
modelXAn=143
modelXOf=-105
modelYOf=6
discardedModelField=0

[key11]
type=Model
x=311
y=208
width=32
height=41
model1Id=25895
modelZoom=867
modelXAn=143
modelXOf=-87
modelYOf=5
discardedModelField=0

[key10]
type=Model
x=296
y=208
width=25
height=41
model1Id=25893
modelZoom=867
modelXAn=143
modelXOf=-68
modelYOf=5
discardedModelField=0

[demo_button]
type=Model
x=403
y=207
width=23
height=14
model1Id=25886
modelZoom=867
modelXAn=143
modelXOf=-175
modelYOf=12
discardedModelField=0

[playdem]
type=Sprite
x=467
y=26
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29

[open_compartment_layer]
type=Rectangle
x=405
y=201
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Press"

[compartment_layer]
type=Layer
x=192
y=42
width=130
height=80
hide=yes

[lc]
type=Rectangle
x=14
y=8
width=91
height=41
layerId=35061782
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Open"

[ld]
type=Layer
x=192
y=42
width=130
height=80
hide=yes

[le]
type=Rectangle
x=14
y=8
width=91
height=41
layerId=35061784
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Search"

[lf]
type=Rectangle
x=107
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower C"
onmouseover=67,35061765,25902
onmouseleave=67,35061765,25892

[lg]
type=Rectangle
x=129
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower D"
onmouseover=67,35061766,25904
onmouseleave=67,35061766,25903

[la]
type=Rectangle
x=150
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower E"
onmouseover=67,35061767,25906
onmouseleave=67,35061767,25905

[lb]
type=Rectangle
x=171
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower F"
onmouseover=67,35061769,25908
onmouseleave=67,35061769,25907

[uc]
type=Rectangle
x=192
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower G"
onmouseover=67,35061768,25910
onmouseleave=67,35061768,25909

[ud]
type=Rectangle
x=213
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower A"
onmouseover=67,35061770,25912
onmouseleave=67,35061770,25911

[ue]
type=Rectangle
x=234
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Lower B"
onmouseover=67,35061773,25914
onmouseleave=67,35061773,25913

[uf]
type=Rectangle
x=255
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper C"
onmouseover=67,35061772,25916
onmouseleave=67,35061772,25915

[ug]
type=Rectangle
x=276
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper D"
onmouseover=67,35061771,25918
onmouseleave=67,35061771,25917

[ua]
type=Rectangle
x=297
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper E"
onmouseover=67,35061778,25891
onmouseleave=67,35061778,25893

[ub]
type=Rectangle
x=318
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper F"
onmouseover=67,35061777,25894
onmouseleave=67,35061777,25895

[piano_open]
type=Rectangle
x=339
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper G"
onmouseover=67,35061776,25896
onmouseleave=67,35061776,25897

[opencompartment]
type=Rectangle
x=360
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper A"
onmouseover=67,35061775,25898
onmouseleave=67,35061775,25899

[searchcompartment]
type=Rectangle
x=381
y=222
width=20
height=20
trans=250
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Upper B"
onmouseover=67,35061774,25900
onmouseleave=67,35061774,25901
