[grim_recipe]
type=Rectangle
x=-1
y=-1
width=514
height=338
trans=150
colour=0x423F1A
fill=yes

[text]
type=Layer
x=89
y=12
width=300
height=300

[close_button]
type=Model
x=146
y=102
width=32
height=32
layerId=35127297
model1Id=25920
modelZoom=656
modelXAn=507
modelYAn=2044
discardedModelField=0

[com_3]
type=Layer
x=86
y=50
width=300
height=250

[content_layer]
type=Text
x=14
y=30
width=329
height=17
layerId=35127299
colour=0x46320A
font=497
text="Shrink-Me-Quick Recipe"

[grim_scroll]
type=Text
x=7
y=72
width=297
height=136
layerId=35127299
colour=0x46320A
font=497
text="1x leaf of tarromin,                        1x shrunken ogleroot.                                                                 Mix the tarromin in a vial of water, then add the shrunken ogleroot. Drink when standing within an area prepared with glyphs for this potion to have full effect. Take one dose only, for a new perspective on the world..."

[grim_title]
type=Sprite
x=479
y=9
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,35127302,541
onmouseleave=44,35127302,542
onclick=29

[grim_instructions]
type=Model
x=303
y=234
width=32
height=32
model1Id=25941
modelZoom=656
modelXAn=207
modelYAn=564
discardedModelField=0
