[inventory_layer]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[list_layer]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[slot_layer]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[item_layer]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[scrollbar]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[stat_name]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[tooltip_bounding_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[tooltip]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[tabs_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[inv_button]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[inv_button_bg]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[inv_graphic]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[worn_button]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[worn_button_bg]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[worn_graphic]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[bob_button]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[bob_button_bg]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[bob_graphic]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[stats_button]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[stats_button_bg]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[stats_graphic]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[close_button]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[line]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[close_button_bg]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[close_graphic]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=409
y=258
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_38]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Text
x=43
y=58
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes
text="Insert a very long name here!"

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Text
x=100
y=75
width=14
height=14
colour=0xAAAAAA
font=495
shadow=yes
text="vs"

[com_76]
type=Text
x=43
y=89
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes
text="Insert a very long name here!"

[com_77]
type=Sprite
x=183
y=26
width=36
height=36
graphic=172

[com_78]
type=Sprite
x=183
y=62
width=36
height=36
graphic=172

[com_79]
type=Sprite
x=183
y=98
width=36
height=36
graphic=172

[com_80]
type=Sprite
x=183
y=134
width=36
height=36
graphic=172

[com_81]
type=Sprite
x=183
y=170
width=36
height=36
graphic=172

[com_82]
type=Sprite
x=162
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Text
x=21
y=29
width=176
height=17
colour=0xFFAA44
font=496
shadow=yes
text="Runeversi"

[com_89]
type=Text
x=23
y=185
width=169
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Blah blah blah blah blah blah blah!"

[com_90]
type=Sprite
x=183
y=206
width=36
height=36
graphic=172

[com_91]
type=Sprite
x=183
y=242
width=36
height=36
graphic=172

[com_92]
type=Sprite
x=183
y=278
width=36
height=36
graphic=172

[com_93]
type=Text
x=24
y=213
width=169
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Blah blah blah blah blah blah blah!"

[com_94]
type=Text
x=27
y=157
width=160
height=14
colour=0xAAAAAA
hAlign=Center
font=496
shadow=yes
text="Blah blah blah blah blah!"

[com_95]
type=Layer
x=26
y=265
width=78
height=42

[com_96]
type=Model
x=221
y=40
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_97]
type=Model
x=284
y=40
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_98]
type=Model
x=349
y=40
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_99]
type=Model
x=412
y=40
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_100]
type=Model
x=253
y=72
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_101]
type=Model
x=317
y=72
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_102]
type=Model
x=381
y=72
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_103]
type=Model
x=444
y=72
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_104]
type=Model
x=222
y=104
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_105]
type=Model
x=284
y=104
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_106]
type=Model
x=348
y=104
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_107]
type=Model
x=413
y=104
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_108]
type=Model
x=252
y=136
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_109]
type=Model
x=316
y=136
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_110]
type=Model
x=380
y=136
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_111]
type=Model
x=444
y=137
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_112]
type=Model
x=221
y=168
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_113]
type=Model
x=284
y=168
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_114]
type=Model
x=348
y=168
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_115]
type=Model
x=413
y=168
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_116]
type=Model
x=253
y=200
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_117]
type=Model
x=316
y=200
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_118]
type=Model
x=381
y=200
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_119]
type=Model
x=444
y=200
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_120]
type=Model
x=221
y=232
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_121]
type=Model
x=285
y=232
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_122]
type=Model
x=348
y=232
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_123]
type=Model
x=413
y=232
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_124]
type=Model
x=253
y=264
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_125]
type=Model
x=317
y=264
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_126]
type=Model
x=382
y=264
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_127]
type=Model
x=445
y=264
width=32
height=32
model1Id=11103
modelZoom=2000
modelXAn=512

[com_128]
type=Rectangle
buttonType=Close
x=6
y=6
width=66
height=31
layerId=3080287
fill=yes
buttonText="Ok"

[com_129]
type=Text
x=6
y=6
width=67
height=30
layerId=3080287
colour=0x800000
colourOver=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Close"

[com_130]
type=Sprite
x=21
y=-15
width=36
height=36
layerId=3080287
graphic=314

[com_131]
type=Sprite
width=25
height=30
layerId=3080287
graphic=310

[com_132]
type=Sprite
x=53
width=25
height=30
layerId=3080287
graphic=311

[com_133]
type=Sprite
y=12
width=25
height=30
layerId=3080287
graphic=312

[com_134]
type=Sprite
x=53
y=12
width=25
height=30
layerId=3080287
graphic=313

[com_135]
type=Sprite
x=21
y=21
width=36
height=36
layerId=3080287
graphic=173

[com_136]
type=Model
x=20
y=57
width=20
height=20
model1Id=2399
modelZoom=1024
modelXAn=512
modelYAn=1024

[com_137]
type=Model
x=20
y=87
width=20
height=20
model1Id=2652
modelZoom=1024
modelXAn=512
modelYAn=1024

[com_138]
type=Inventory
x=221
y=40
width=8
height=8
widthAlignment=Grid
heightAlignment=Grid

[com_139]
type=Rectangle
buttonType=Button
x=221
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_140]
type=Rectangle
buttonType=Button
x=253
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_141]
type=Rectangle
buttonType=Button
x=285
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_142]
type=Rectangle
buttonType=Button
x=317
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_143]
type=Rectangle
buttonType=Button
x=349
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_144]
type=Rectangle
buttonType=Button
x=381
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_145]
type=Rectangle
buttonType=Button
x=413
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_146]
type=Rectangle
buttonType=Button
x=445
y=40
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_147]
type=Rectangle
buttonType=Button
x=221
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_148]
type=Rectangle
buttonType=Button
x=253
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_149]
type=Rectangle
buttonType=Button
x=285
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_150]
type=Rectangle
buttonType=Button
x=317
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_151]
type=Rectangle
buttonType=Button
x=349
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_152]
type=Rectangle
buttonType=Button
x=381
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_153]
type=Rectangle
buttonType=Button
x=413
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_154]
type=Rectangle
buttonType=Button
x=445
y=72
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_155]
type=Rectangle
buttonType=Button
x=221
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_156]
type=Rectangle
buttonType=Button
x=253
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_157]
type=Rectangle
buttonType=Button
x=285
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_158]
type=Rectangle
buttonType=Button
x=317
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_159]
type=Rectangle
buttonType=Button
x=349
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_160]
type=Rectangle
buttonType=Button
x=381
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_161]
type=Rectangle
buttonType=Button
x=413
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_162]
type=Rectangle
buttonType=Button
x=445
y=104
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_163]
type=Rectangle
buttonType=Button
x=221
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_164]
type=Rectangle
buttonType=Button
x=253
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_165]
type=Rectangle
buttonType=Button
x=285
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_166]
type=Rectangle
buttonType=Button
x=317
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_167]
type=Rectangle
buttonType=Button
x=349
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_168]
type=Rectangle
buttonType=Button
x=381
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_169]
type=Rectangle
buttonType=Button
x=413
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_170]
type=Rectangle
buttonType=Button
x=445
y=136
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_171]
type=Rectangle
buttonType=Button
x=221
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_172]
type=Rectangle
buttonType=Button
x=253
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_173]
type=Rectangle
buttonType=Button
x=285
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_174]
type=Rectangle
buttonType=Button
x=317
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_175]
type=Rectangle
buttonType=Button
x=349
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_176]
type=Rectangle
buttonType=Button
x=381
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_177]
type=Rectangle
buttonType=Button
x=413
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_178]
type=Rectangle
buttonType=Button
x=445
y=168
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_179]
type=Rectangle
buttonType=Button
x=221
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_180]
type=Rectangle
buttonType=Button
x=253
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_181]
type=Rectangle
buttonType=Button
x=285
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_182]
type=Rectangle
buttonType=Button
x=317
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_183]
type=Rectangle
buttonType=Button
x=349
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_184]
type=Rectangle
buttonType=Button
x=381
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_185]
type=Rectangle
buttonType=Button
x=413
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_186]
type=Rectangle
buttonType=Button
x=445
y=200
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_187]
type=Rectangle
buttonType=Button
x=221
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_188]
type=Rectangle
buttonType=Button
x=253
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_189]
type=Rectangle
buttonType=Button
x=285
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_190]
type=Rectangle
buttonType=Button
x=317
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_191]
type=Rectangle
buttonType=Button
x=349
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_192]
type=Rectangle
buttonType=Button
x=381
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_193]
type=Rectangle
buttonType=Button
x=413
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_194]
type=Rectangle
buttonType=Button
x=445
y=232
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_195]
type=Rectangle
buttonType=Button
x=221
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_196]
type=Rectangle
buttonType=Button
x=253
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_197]
type=Rectangle
buttonType=Button
x=285
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_198]
type=Rectangle
buttonType=Button
x=317
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_199]
type=Rectangle
buttonType=Button
x=349
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_200]
type=Rectangle
buttonType=Button
x=381
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_201]
type=Rectangle
buttonType=Button
x=413
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22

[com_202]
type=Rectangle
buttonType=Button
x=445
y=264
width=32
height=32
colour=0xFFFFFF
eventCode=flag22
