[com_0]
type=Rectangle
x=1
y=1
width=512
height=334
colour=0x352D1E
fill=yes

[com_1]
type=Model
x=240
y=375
width=32
height=32
model1Id=4515
modelZoom=304
modelYAn=1536

[horror_fire]
type=Model
x=90
y=153
width=32
height=32
model1Id=4514
modelZoom=381
modelXAn=512

[horror_air]
type=Model
x=158
y=29
width=32
height=32
model1Id=4510
modelZoom=437
modelXAn=512

[horror_earth]
type=Model
x=320
y=28
width=32
height=32
model1Id=4512
modelZoom=412
modelXAn=512

[horror_water]
type=Model
x=388
y=156
width=32
height=32
model1Id=4521
modelZoom=380
modelXAn=512

[horror_ranging]
type=Model
x=319
y=272
width=32
height=32
model1Id=4519
modelZoom=426
modelXAn=489
modelYAn=1986

[horror_melee]
type=Model
x=161
y=269
width=32
height=32
model1Id=4517
modelZoom=368
modelXAn=512

[com_8]
type=Sprite
x=464
y=16
width=26
height=23
overLayerId=10
graphic=539

[com_9]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=9306122
graphic=540
buttonText="Ok"

[horror_metaldoor_close]
type=Layer
x=461
y=11
width=32
height=32
hide=yes
