[not_allowed_text]
type=Sprite
x=6
y=24
width=112
height=26
layerId=47906824
graphic=297
tiling=yes

[people_text]
type=Sprite
x=-1
y=17
width=32
height=32
layerId=47906824
graphic=824

[rating_text]
type=Sprite
x=-1
y=25
width=32
height=32
layerId=47906824
graphic=826

[rating_window]
type=Sprite
x=93
y=17
width=32
height=32
layerId=47906824
graphic=825

[player_numbers]
type=Sprite
x=93
y=25
width=32
height=32
layerId=47906824
graphic=827

[not_allowed_window]
type=Sprite
x=29
y=4
width=69
height=29
layerId=47906824
graphic=820
tiling=yes

[rating_window_background]
type=Sprite
x=31
y=37
width=62
height=20
layerId=47906824
graphic=822
tiling=yes

[rating_window_content]
type=Text
x=6
y=20
width=112
height=33
layerId=47906824
colour=0xFF9900
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Rating"

[rating_window_border]
type=Layer
x=16
y=8
width=512
height=334

[player_numbers_background]
type=Sprite
x=378
y=24
width=112
height=26
layerId=47906833
graphic=297
tiling=yes

[player_numbers_content]
type=Sprite
x=371
y=17
width=32
height=32
layerId=47906833
graphic=824

[player_numbers_border]
type=Sprite
x=371
y=25
width=32
height=32
layerId=47906833
graphic=826

[not_allowed_window_background]
type=Sprite
x=465
y=17
width=32
height=32
layerId=47906833
graphic=825

[not_allowed_window_content]
type=Sprite
x=465
y=25
width=32
height=32
layerId=47906833
graphic=827

[not_allowed_window_border]
type=Sprite
x=401
y=4
width=69
height=29
layerId=47906833
graphic=820
tiling=yes

[com_15]
type=Sprite
x=403
y=37
width=62
height=20
layerId=47906833
graphic=822
tiling=yes

[com_16]
type=Text
x=377
y=20
width=112
height=33
layerId=47906833
colour=0xFF9900
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Text"

[com_17]
type=Layer
y=8
width=512
height=334

[com_18]
type=Sprite
x=17
y=10
width=475
height=30
layerId=47906842
graphic=297
tiling=yes

[com_19]
type=Sprite
x=10
y=3
width=32
height=32
layerId=47906842
graphic=824

[com_20]
type=Sprite
x=10
y=15
width=32
height=32
layerId=47906842
graphic=826

[com_21]
type=Sprite
x=467
y=3
width=32
height=32
layerId=47906842
graphic=825

[com_22]
type=Sprite
x=467
y=15
width=32
height=32
layerId=47906842
graphic=827

[com_23]
type=Sprite
x=33
y=-10
width=442
height=32
layerId=47906842
graphic=820
tiling=yes

[com_24]
type=Sprite
x=34
y=27
width=441
height=32
layerId=47906842
graphic=822
tiling=yes

[com_25]
type=Text
x=15
y=9
width=477
height=20
layerId=47906842
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="The following item is not allowed in the arena:"

[com_26]
type=Layer
x=1
y=272
width=510
height=62
