[com_0]
type=Sprite
x=306
y=263
width=190
height=26
layerId=47841307
graphic=297
tiling=yes

[charge]
type=Sprite
x=299
y=256
width=32
height=32
layerId=47841307
graphic=824

[player_state]
type=Sprite
x=299
y=264
width=32
height=32
layerId=47841307
graphic=826

[target_name]
type=Sprite
x=471
y=256
width=32
height=32
layerId=47841307
graphic=825

[layer]
type=Sprite
x=471
y=264
width=32
height=32
layerId=47841307
graphic=827

[game_state_window]
type=Sprite
x=329
y=243
width=142
height=32
layerId=47841307
graphic=820
tiling=yes

[game_time_window]
type=Sprite
x=331
y=276
width=140
height=32
layerId=47841307
graphic=822
tiling=yes

[pickup_stone]
type=Sprite
x=336
y=17
width=159
height=50
graphic=297
tiling=yes

[game_state_window_background]
type=Sprite
x=330
y=10
width=32
height=32
graphic=824

[game_state_window_content]
type=Sprite
x=330
y=39
width=32
height=32
graphic=826

[game_state_window_border]
type=Sprite
x=470
y=10
width=32
height=32
graphic=825

[game_time_window_background]
type=Sprite
x=470
y=39
width=32
height=32
graphic=827

[game_time_window_content]
type=Sprite
x=362
y=-3
width=108
height=32
graphic=820
tiling=yes

[green_large_progress_layer]
type=Sprite
x=362
y=51
width=108
height=32
graphic=822
tiling=yes

[game_time_window_border]
type=Sprite
x=339
y=21
width=153
height=32
graphic=1074

[com_15]
type=Text
x=3
y=13
width=197
height=17
layerId=47841296
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="Please pick up a stone!"

[com_16]
type=Layer
x=299
y=224
width=204
height=32
layerId=47841299

[com_17]
type=Text
x=339
y=18
width=61
height=16
layerId=47841299
colour=0xC8AA64
font=495
shadow=yes
text="Charge:"

[green_large_progress_value_bounds_layer]
type=Text
x=396
y=43
width=97
height=16
layerId=47841299
colour=0x77736A
hAlign=Right
font=495
shadow=yes
text="Name"

[green_large_progress_value_layer]
type=Layer
width=512
height=334
baseOpName="m"
oninvtransmit=955
oninvtransmitlist=93

[left_colour]
type=Text
x=41
y=33
width=78
height=16
layerId=47841301
colour=0xC8AA64
font=495
shadow=yes
text="Hunting:"

[right_colour]
type=Layer
x=298
y=10
width=204
height=64
layerId=47841299

[middle_colour]
type=Text
x=41
y=33
width=78
height=16
layerId=47841303
colour=0xC8AA64
font=495
shadow=yes
text="Hunted by:"

[com_23]
type=Layer
x=298
y=10
width=201
height=64
layerId=47841299
hide=yes

[com_24]
type=Text
x=311
y=263
width=182
height=32
layerId=47841307
colour=0xC8AA64
font=495
shadow=yes
text="Time left:"

[com_25]
type=Line
x=310
y=283
width=182
layerId=47841307
colour=0xFFFF00
lineWidth=6
onvartransmit=954
onvartransmitlist=1215

[com_26]
type=Sprite
x=309
y=279
width=184
height=8
layerId=47841307
trans=128
graphic=1072

[com_27]
type=Layer
width=512
height=334
layerId=47841299
