[layer_1]
type=Model
x=-148
y=-504
width=970
height=873
model1Id=16268
modelAnim=icemt_avanlanche_interface
modelZoom=528
modelXAn=508
modelXOf=-129
modelYOf=215
discardedModelField=0

[snow]
type=Model
x=-32
y=-4
width=561
height=343
model1Id=16266
modelAnim=icemt_fade_to_black
modelZoom=656
modelXAn=517
discardedModelField=0
