[content_layer]
type=Rectangle
x=7
y=11
width=497
height=310
colour=0x806102
fill=yes

[bespoke_window]
type=Rectangle
x=13
y=17
width=484
height=298
colour=0x422502
fill=yes

[ics_game_background]
type=Rectangle
x=319
y=24
width=168
height=282
colour=0x543E04
fill=yes

[ics_1]
type=Model
x=78
y=167
width=91
height=94
model1Id=6474
modelZoom=328

[ics_2]
type=Model
buttonType=Select
x=62
y=130
width=26
height=27
model1Id=6477
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_3]
type=Model
buttonType=Select
x=93
y=131
width=27
height=25
model1Id=6488
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_4]
type=Model
buttonType=Select
x=124
y=131
width=26
height=26
model1Id=6495
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_5]
type=Model
buttonType=Select
x=154
y=131
width=26
height=26
model1Id=6496
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_6]
type=Model
buttonType=Select
x=186
y=131
width=26
height=26
model1Id=6497
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_7]
type=Model
buttonType=Select
x=63
y=162
width=26
height=26
model1Id=6498
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_8]
type=Model
buttonType=Select
x=93
y=162
width=26
height=26
model1Id=6499
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_9]
type=Model
buttonType=Select
x=123
y=162
width=26
height=26
model1Id=6500
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_10]
type=Model
buttonType=Select
x=154
y=162
width=26
height=26
model1Id=6501
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_11]
type=Model
buttonType=Select
x=186
y=162
width=26
height=26
model1Id=6478
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_12]
type=Model
buttonType=Select
x=63
y=192
width=26
height=26
model1Id=6479
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_13]
type=Model
buttonType=Select
x=93
y=192
width=26
height=26
model1Id=6480
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_14]
type=Model
buttonType=Select
x=123
y=192
width=26
height=26
model1Id=6481
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_15]
type=Model
buttonType=Select
x=154
y=192
width=26
height=26
model1Id=6482
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_16]
type=Model
buttonType=Select
x=185
y=192
width=26
height=26
model1Id=6483
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_17]
type=Model
buttonType=Select
x=63
y=222
width=26
height=26
model1Id=6484
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_18]
type=Model
buttonType=Select
x=93
y=222
width=26
height=26
model1Id=6485
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_19]
type=Model
buttonType=Select
x=123
y=222
width=26
height=26
model1Id=6486
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_20]
type=Model
buttonType=Select
x=154
y=222
width=26
height=26
model1Id=6487
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_21]
type=Model
buttonType=Select
x=186
y=222
width=26
height=26
model1Id=6489
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_22]
type=Model
buttonType=Select
x=63
y=254
width=26
height=26
model1Id=6490
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_23]
type=Model
buttonType=Select
x=93
y=254
width=26
height=26
model1Id=6491
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_24]
type=Model
buttonType=Select
x=124
y=253
width=26
height=26
model1Id=6492
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_25]
type=Model
buttonType=Select
x=154
y=253
width=26
height=26
model1Id=6493
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_tilegame_picture]
type=Model
buttonType=Select
x=185
y=254
width=26
height=26
model1Id=6494
modelZoom=328
buttonText="turn tile"
eventCode=flag22

[ics_tilegame_counter]
type=Model
buttonType=Button
x=313
y=145
width=157
height=164
model1Id=6476
modelZoom=336
modelXAn=2036
modelYAn=2
buttonText="Reset puzzle"
eventCode=flag22

[bespoke_window_background]
type=Model
x=343
y=89
width=121
height=58
model1Id=6473
modelZoom=1021
modelXAn=2037
modelYAn=1519

[bespoke_window_content]
type=Sprite
x=450
y=34
width=26
height=23
overLayerId=33
graphic=539

[bespoke_window_border]
type=Sprite
buttonType=Close
x=3
y=6
width=26
height=23
layerId=9633825
graphic=540
buttonText="Ok"

[bespoke_window_close]
type=Layer
x=447
y=28
width=32
height=32
hide=yes
