[igc_prev_month_button_layer]
type=Text
x=73
y=8
width=416
height=27
hAlign=Center
vAlign=Center
font=497

[calendar_layer]
type=Text
x=73
y=35
width=416
height=30
hAlign=Center
vAlign=Center
font=497

[mainmodal_window]
type=Text
x=73
y=68
width=416
height=37
hAlign=Center
vAlign=Center
font=497
text="Open your stats menu and click on the flashing icon for more information."

[mainmodal_window_background]
type=Text
x=73
y=108
width=416
height=17
colour=0x0000FF
hAlign=Center
font=497
text="Click here to continue"
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,255

[mainmodal_window_content]
type=Sprite
x=17
y=37
width=55
height=54
onload=971
onvartransmit=971
onvartransmitlist=1179
