[ii_impling_trade10]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_1]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[ii_impling_trade7]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[ii_impling_trade8]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[ii_impling_trade9]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[com_7]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[ii_impling_trade4]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[com_9]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[ii_impling_trade5]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[ii_impling_trade6]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[ii_impling_trade1]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[com_15]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[ii_impling_trade2]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[com_17]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[ii_impling_trade3]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_19]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[ii_reward1_2]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[jar_generator_highlight]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[jar_generator_fill]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[ii_reward1_3]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[impling_jar_highlight]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[impling_jar_fill]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[ii_reward1_1]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[magic_net_highlight]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[magic_net_fill]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[ii_reward1]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[repellent_highlight]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[repellent_fill]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[exchange_repellent]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[exchange_net]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[exchange_generator]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[exchange_jar]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[tooltipbox]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[content_sublayer]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[confirm_button]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[mainmodal_window]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[mainmodal_window_background]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[mainmodal_window_content]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[shop_button]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[mainmodal_window_border]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[mainmodal_window_close_button]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[bg]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[tooltiptext]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[confirm_build]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[confirm_click]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[shop_build]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[shop_click]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Text
x=101
y=30
width=315
height=18
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Elnock's Exchange"

[com_76]
type=Text
x=17
y=296
width=476
height=19
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Make your selection and press confirm"

[com_77]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_90]
type=Sprite
x=472
y=26
width=26
height=23
overLayerId=92
graphic=535

[com_91]
type=Sprite
buttonType=Close
x=5
y=4
width=26
height=23
layerId=35389532
graphic=536
buttonText="Ok"

[com_92]
type=Layer
x=467
y=22
width=32
height=32
hide=yes

[com_93]
type=Sprite
x=73
y=68
width=50
height=50
graphic=868

[com_94]
type=Text
x=114
y=104
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x3"

[com_95]
type=Sprite
x=135
y=66
width=50
height=50
graphic=873

[com_96]
type=Text
x=174
y=103
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x2"

[com_97]
type=Sprite
x=197
y=66
width=50
height=50
graphic=867

[com_98]
type=Text
x=238
y=104
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_99]
type=Sprite
x=72
y=119
width=50
height=50
graphic=867

[com_100]
type=Text
x=113
y=156
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x3"

[com_101]
type=Sprite
x=134
y=118
width=50
height=50
graphic=876

[com_102]
type=Text
x=173
y=155
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x2"

[com_103]
type=Sprite
x=196
y=118
width=50
height=50
graphic=875

[com_104]
type=Text
x=237
y=156
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_105]
type=Sprite
x=72
y=171
width=50
height=50
graphic=875

[com_106]
type=Text
x=113
y=208
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x3"

[com_107]
type=Sprite
x=134
y=170
width=50
height=50
graphic=871

[com_108]
type=Text
x=173
y=207
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x2"

[com_109]
type=Sprite
x=196
y=170
width=50
height=50
graphic=870

[com_110]
type=Text
x=237
y=208
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_111]
type=Sprite
x=72
y=223
width=50
height=50
graphic=872

[com_112]
type=Text
x=114
y=255
width=224
height=18
colour=0xFF981F
font=495
shadow=yes
text="x1 of any impling type"

[com_113]
type=Model
x=366
y=87
width=32
height=32
modelZoom=400

[com_114]
type=Sprite
buttonType=Button
x=408
y=97
width=17
height=18
graphic=180
graphic2=181
buttonText="Toggle option"
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3729

[com_115]
type=Text
x=391
y=112
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_116]
type=Model
x=362
y=138
width=32
height=32
modelZoom=400

[com_117]
type=Sprite
buttonType=Button
x=407
y=147
width=17
height=18
graphic=180
graphic2=181
buttonText="Toggle option"
eventCode=flag22
script1=eq,2
script1op1=varbit,varbit_3729

[com_118]
type=Text
x=390
y=162
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_119]
type=Model
x=362
y=187
width=32
height=32
modelZoom=400

[com_120]
type=Sprite
buttonType=Button
x=407
y=197
width=18
height=18
graphic=180
graphic2=181
buttonText="Toggle option"
eventCode=flag22
script1=eq,3
script1op1=varbit,varbit_3729

[com_121]
type=Text
x=390
y=212
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x1"

[com_122]
type=Model
x=372
y=238
width=32
height=32
modelZoom=400

[com_123]
type=Sprite
buttonType=Button
x=407
y=250
width=18
height=18
graphic=180
graphic2=181
buttonText="Toggle option"
eventCode=flag22
script1=eq,4
script1op1=varbit,varbit_3729

[com_124]
type=Text
x=391
y=265
width=20
height=16
colour=0xFF981F
font=495
shadow=yes
text="x3"

[com_125]
type=Sprite
x=461
y=281
width=29
height=29
overLayerId=127
graphic=879

[com_126]
type=Sprite
buttonType=Button
x=5
y=5
width=29
height=29
layerId=35389567
graphic=880
eventCode=flag22

[com_127]
type=Layer
x=456
y=276
width=40
height=40
hide=yes

[com_128]
type=Tooltip
x=34
y=34
width=32
height=32
text="Text"

[com_129]
type=Tooltip
x=73
y=68
width=50
height=50
text="Baby impling"

[com_130]
type=Tooltip
x=135
y=66
width=50
height=50
text="Young impling"

[com_131]
type=Tooltip
x=196
y=66
width=50
height=50
text="Gourmet impling"

[com_132]
type=Tooltip
x=72
y=120
width=50
height=50
text="Gourmet impling"

[com_133]
type=Tooltip
x=196
y=118
width=50
height=50
text="Essence impling"

[com_134]
type=Tooltip
x=71
y=171
width=50
height=50
text="Essence impling"

[com_135]
type=Tooltip
x=134
y=120
width=50
height=50
text="Earth impling"

[com_136]
type=Tooltip
x=134
y=171
width=50
height=50
text="Eclectic impling"

[com_137]
type=Tooltip
x=196
y=170
width=50
height=50
text="Nature impling"

[com_138]
type=Tooltip
x=362
y=87
width=32
height=32
text="Imp repellant"

[com_139]
type=Tooltip
x=362
y=138
width=32
height=32
text="Magic butterfly net"

[com_140]
type=Tooltip
x=362
y=187
width=32
height=32
text="Jar generator"

[com_141]
type=Tooltip
x=362
y=240
width=32
height=32
text="Three impling jars"
