[contents]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[modal_dialog_window]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes
baseOpName=" "

[impling_jar_name]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[impling_jar_remove]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[impling_net_name]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[impling_net_remove]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[impling_net]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes
baseOpName=" "

[impling_repellent]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[impling_repellent_name]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[impling_repellent_remove]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[impling_jar]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[mouseover]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[store_all]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[store_pic]
type=Rectangle
x=-1
y=-5
width=130
height=10
layerId=38797350
colour=0x483F33
fill=yes

[withdraw_pic]
type=Rectangle
x=-1
y=5
width=130
height=10
layerId=38797350
colour=0x473E33
fill=yes

[modal_dialog_window_background]
type=Rectangle
x=-1
y=15
width=130
height=10
layerId=38797350
colour=0x463D32
fill=yes

[modal_dialog_window_content]
type=Rectangle
x=-1
y=25
width=130
height=10
layerId=38797350
colour=0x453C32
fill=yes

[modal_dialog_window_border]
type=Rectangle
x=-1
y=35
width=130
height=10
layerId=38797350
colour=0x443B31
fill=yes

[modal_dialog_window_close_button]
type=Rectangle
x=-1
y=45
width=130
height=10
layerId=38797350
colour=0x433A31
fill=yes

[com_19]
type=Rectangle
x=-1
y=55
width=130
height=10
layerId=38797350
colour=0x423930
fill=yes

[com_20]
type=Rectangle
x=-1
y=65
width=130
height=10
layerId=38797350
colour=0x413830
fill=yes

[com_21]
type=Rectangle
x=-1
y=75
width=130
height=10
layerId=38797350
colour=0x40372F
fill=yes

[com_22]
type=Rectangle
x=-1
y=85
width=130
height=10
layerId=38797350
colour=0x3F362F
fill=yes

[com_23]
type=Rectangle
x=-1
y=95
width=130
height=10
layerId=38797350
colour=0x3E352E
fill=yes

[com_24]
type=Rectangle
x=-1
y=105
width=130
height=10
layerId=38797350
colour=0x3D342E
fill=yes

[com_25]
type=Rectangle
x=-1
y=115
width=130
height=10
layerId=38797350
colour=0x3C332D
fill=yes

[com_26]
type=Rectangle
x=-1
y=125
width=130
height=10
layerId=38797350
colour=0x3B322D
fill=yes

[com_27]
type=Rectangle
x=-1
y=135
width=130
height=10
layerId=38797350
colour=0x3A312C
fill=yes

[com_28]
type=Rectangle
x=-1
y=145
width=130
height=10
layerId=38797350
colour=0x39302C
fill=yes

[com_29]
type=Rectangle
x=-1
y=155
width=130
height=10
layerId=38797350
colour=0x382F2B
fill=yes

[com_30]
type=Rectangle
x=-1
y=165
width=130
height=10
layerId=38797350
colour=0x372E29
fill=yes

[com_31]
type=Rectangle
x=-1
y=175
width=130
height=10
layerId=38797350
colour=0x362D28
fill=yes

[com_32]
type=Rectangle
x=-1
y=185
width=130
height=10
layerId=38797350
colour=0x352D27
fill=yes

[com_33]
type=Rectangle
x=-1
y=195
width=130
height=10
layerId=38797350
colour=0x342C26
fill=yes

[com_34]
type=Rectangle
x=-1
y=205
width=130
height=10
layerId=38797350
colour=0x332B25
fill=yes

[com_35]
type=Rectangle
x=-1
y=215
width=130
height=10
layerId=38797350
colour=0x322A24
fill=yes

[com_36]
type=Rectangle
x=-1
y=225
width=130
height=10
layerId=38797350
colour=0x312923
fill=yes

[com_37]
type=Rectangle
x=-1
y=235
width=130
height=10
layerId=38797350
colour=0x302922
fill=yes

[com_38]
type=Layer
x=234
y=61
width=130
height=246

[com_39]
type=Rectangle
y=40
width=173
height=7
layerId=38797359
colour=0x433A31
fill=yes

[com_40]
type=Rectangle
y=47
width=173
height=10
layerId=38797359
colour=0x423930
fill=yes

[com_41]
type=Rectangle
y=57
width=173
height=10
layerId=38797359
colour=0x413830
fill=yes

[com_42]
type=Rectangle
y=67
width=173
height=10
layerId=38797359
colour=0x40372F
fill=yes

[com_43]
type=Rectangle
y=77
width=173
height=10
layerId=38797359
colour=0x3F362F
fill=yes

[com_44]
type=Rectangle
y=87
width=173
height=10
layerId=38797359
colour=0x3E352E
fill=yes

[com_45]
type=Rectangle
y=97
width=173
height=10
layerId=38797359
colour=0x3D342E
fill=yes

[com_46]
type=Rectangle
y=107
width=173
height=13
layerId=38797359
colour=0x3C332D
fill=yes

[com_47]
type=Layer
x=25
y=73
width=173
height=120

[com_48]
type=Rectangle
x=25
y=196
width=189
height=10
layerId=38797371
colour=0x3B322D
fill=yes

[com_49]
type=Rectangle
x=25
y=206
width=189
height=10
layerId=38797371
colour=0x3A312C
fill=yes

[com_50]
type=Rectangle
x=25
y=216
width=189
height=10
layerId=38797371
colour=0x39302C
fill=yes

[com_51]
type=Rectangle
x=25
y=226
width=189
height=10
layerId=38797371
colour=0x382F2B
fill=yes

[com_52]
type=Rectangle
x=25
y=236
width=189
height=10
layerId=38797371
colour=0x372E29
fill=yes

[com_53]
type=Rectangle
x=25
y=246
width=189
height=10
layerId=38797371
colour=0x362D28
fill=yes

[com_54]
type=Rectangle
x=25
y=256
width=189
height=10
layerId=38797371
colour=0x352D27
fill=yes

[com_55]
type=Rectangle
x=25
y=266
width=189
height=10
layerId=38797371
colour=0x342C26
fill=yes

[com_56]
type=Rectangle
x=25
y=276
width=189
height=10
layerId=38797371
colour=0x332B25
fill=yes

[com_57]
type=Rectangle
x=25
y=286
width=189
height=10
layerId=38797371
colour=0x322A24
fill=yes

[com_58]
type=Rectangle
x=25
y=296
width=189
height=9
layerId=38797371
colour=0x312923
fill=yes

[com_59]
type=Layer
y=3
width=512
height=334

[com_60]
type=Layer
x=25
y=199
width=190
height=110

[com_61]
type=Model
x=75
y=60
width=49
height=21
layerId=38797372
modelAnim=chathap3
modelZoom=860
modelXAn=66
modelYAn=1882
discardedModelField=0

[com_62]
type=Layer
x=234
y=62
width=129
height=244

[com_63]
type=Model
clientCode=328
y=139
width=136
height=168
layerId=38797374
model1Id=6675
modelAnim=human_ready
modelZoom=550
discardedModelField=0

[com_64]
type=Text
x=21
y=31
width=469
height=15
colour=0xC9800D
hAlign=Center
font=496
shadow=yes
text="Hairdresser's Salon"

[com_65]
type=Text
x=20
y=4
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Bald"

[com_66]
type=Sprite
x=3
y=3
width=36
height=36
layerId=38797443
graphic=180

[com_67]
type=Layer
x=3
y=1
width=147
height=21
layerId=38797443
hide=yes

[com_68]
type=Text
x=20
y=30
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Bun"

[com_69]
type=Sprite
x=3
y=29
width=36
height=36
layerId=38797443
graphic=180

[com_70]
type=Layer
x=3
y=27
width=147
height=21
layerId=38797443
hide=yes

[com_71]
type=Text
x=20
y=57
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Dreadlocks"

[com_72]
type=Sprite
x=3
y=56
width=36
height=36
layerId=38797443
graphic=180

[com_73]
type=Layer
x=3
y=54
width=147
height=21
layerId=38797443
hide=yes

[com_74]
type=Text
x=20
y=83
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Long"

[com_75]
type=Sprite
x=3
y=82
width=36
height=36
layerId=38797443
graphic=180

[com_76]
type=Layer
x=3
y=80
width=147
height=21
layerId=38797443
hide=yes

[com_77]
type=Text
x=20
y=109
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Short"

[com_78]
type=Sprite
x=3
y=108
width=36
height=36
layerId=38797443
graphic=180

[com_79]
type=Layer
x=3
y=106
width=147
height=21
layerId=38797443
hide=yes

[com_80]
type=Text
x=21
y=135
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Pigtails"

[com_81]
type=Sprite
x=4
y=134
width=36
height=36
layerId=38797443
graphic=180

[com_82]
type=Layer
x=4
y=132
width=147
height=21
layerId=38797443
hide=yes

[com_83]
type=Text
x=21
y=162
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Crew cut"

[com_84]
type=Sprite
x=4
y=161
width=36
height=36
layerId=38797443
graphic=180

[com_85]
type=Layer
x=4
y=159
width=147
height=21
layerId=38797443
hide=yes

[com_86]
type=Text
x=21
y=189
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Close-cropped"

[com_87]
type=Sprite
x=4
y=188
width=36
height=36
layerId=38797443
graphic=180

[com_88]
type=Layer
x=4
y=186
width=147
height=21
layerId=38797443
hide=yes

[com_89]
type=Text
x=21
y=216
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Wild spikes"

[com_90]
type=Sprite
x=4
y=215
width=36
height=36
layerId=38797443
graphic=180

[com_91]
type=Layer
x=4
y=213
width=147
height=21
layerId=38797443
hide=yes

[com_92]
type=Text
x=21
y=243
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Spikes"

[com_93]
type=Sprite
x=4
y=242
width=36
height=36
layerId=38797443
graphic=180

[com_94]
type=Layer
x=4
y=240
width=147
height=21
layerId=38797443
hide=yes

[com_95]
type=Text
x=21
y=269
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Side ponytail"

[com_96]
type=Sprite
x=4
y=268
width=36
height=36
layerId=38797443
graphic=180

[com_97]
type=Layer
x=4
y=266
width=147
height=21
layerId=38797443
hide=yes

[com_98]
type=Text
x=21
y=296
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Curls"

[com_99]
type=Sprite
x=4
y=295
width=36
height=36
layerId=38797443
graphic=180

[com_100]
type=Layer
x=4
y=292
width=147
height=21
layerId=38797443
hide=yes

[com_101]
type=Text
x=21
y=321
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Wind braids"

[com_102]
type=Sprite
x=4
y=320
width=36
height=36
layerId=38797443
graphic=180

[com_103]
type=Layer
x=4
y=318
width=147
height=21
layerId=38797443
hide=yes

[com_104]
type=Text
x=21
y=347
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Ponytail"

[com_105]
type=Sprite
x=4
y=346
width=36
height=36
layerId=38797443
graphic=180

[com_106]
type=Layer
x=4
y=343
width=147
height=21
layerId=38797443
hide=yes

[com_107]
type=Text
x=21
y=373
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Braids"

[com_108]
type=Sprite
x=4
y=372
width=36
height=36
layerId=38797443
graphic=180

[com_109]
type=Layer
x=4
y=370
width=147
height=21
layerId=38797443
hide=yes

[com_110]
type=Text
x=21
y=399
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Four ponies"

[com_111]
type=Sprite
x=4
y=398
width=36
height=36
layerId=38797443
graphic=180

[com_112]
type=Layer
x=4
y=396
width=147
height=21
layerId=38797443
hide=yes

[com_113]
type=Text
x=21
y=425
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Bob"

[com_114]
type=Sprite
x=4
y=424
width=36
height=36
layerId=38797443
graphic=180

[com_115]
type=Layer
x=3
y=422
width=147
height=21
layerId=38797443
hide=yes

[com_116]
type=Text
x=21
y=451
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Layered"

[com_117]
type=Sprite
x=4
y=450
width=36
height=36
layerId=38797443
graphic=180

[com_118]
type=Layer
x=3
y=448
width=147
height=21
layerId=38797443
hide=yes

[com_119]
type=Text
x=21
y=477
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Straight"

[com_120]
type=Sprite
x=4
y=476
width=36
height=36
layerId=38797443
graphic=180

[com_121]
type=Layer
x=3
y=474
width=147
height=21
layerId=38797443
hide=yes

[com_122]
type=Text
x=21
y=503
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Long braids"

[com_123]
type=Sprite
x=4
y=502
width=36
height=36
layerId=38797443
graphic=180

[com_124]
type=Layer
x=3
y=500
width=147
height=21
layerId=38797443
hide=yes

[com_125]
type=Text
x=21
y=529
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Curtains"

[com_126]
type=Sprite
x=4
y=528
width=36
height=36
layerId=38797443
graphic=180

[com_127]
type=Layer
x=4
y=526
width=147
height=21
layerId=38797443
hide=yes

[com_128]
type=Text
x=21
y=555
width=124
height=16
layerId=38797443
colour=0xC9800D
font=495
shadow=yes
text="Earmuffs"

[com_129]
type=Sprite
x=4
y=554
width=36
height=36
layerId=38797443
graphic=180

[com_130]
type=Layer
x=4
y=552
width=147
height=21
layerId=38797443
hide=yes

[com_131]
type=Layer
x=25
y=113
width=173
height=80

[com_132]
type=Sprite
x=408
y=250
width=42
height=42
graphic=1058
eventCode=hasOp(1)
opName0="Confirm Purchase"
onmouseover=44,component.parentId,1050
onmouseleave=299,38797544,component.parentId,1058
onmouserepeat=38,component.parentId,38797544,"Confirm Purchase",25,80

[com_133]
type=Text
x=1
y=41
width=70
height=32
layerId=38797446
colour=0xC9800D
font=495
shadow=yes
text="2,000 Coins"

[com_134]
type=Layer
x=408
y=250
width=71
height=71

[com_135]
type=Sprite
x=37
y=62
width=42
height=42
graphic=1048
eventCode=hasOp(1)
opName0="Hair"
onmouseleave=40,38797544
onmouserepeat=38,component.parentId,38797544,"Show Hair Selections",25,80

[com_136]
type=Layer
x=198
y=113
width=16
height=80
scrollHeight=400
onload=317

[com_137]
type=Rectangle
x=3
y=3
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=318

[com_138]
type=Rectangle
x=3
y=29
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=319

[com_139]
type=Rectangle
x=3
y=56
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=320

[com_140]
type=Rectangle
x=3
y=83
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=321

[com_141]
type=Rectangle
x=3
y=110
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=322

[com_142]
type=Rectangle
x=3
y=134
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=323

[com_143]
type=Rectangle
x=3
y=160
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=324

[com_144]
type=Rectangle
x=3
y=186
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=325

[com_145]
type=Rectangle
x=3
y=212
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=326

[com_146]
type=Rectangle
x=3
y=238
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=327

[com_147]
type=Rectangle
x=3
y=264
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=328

[com_148]
type=Rectangle
x=3
y=290
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=329

[com_149]
type=Rectangle
x=3
y=316
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=330

[com_150]
type=Rectangle
x=3
y=342
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=331

[com_151]
type=Rectangle
x=3
y=368
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=332

[com_152]
type=Rectangle
x=3
y=394
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=333

[com_153]
type=Rectangle
x=3
y=420
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=334

[com_154]
type=Rectangle
x=3
y=446
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=335

[com_155]
type=Rectangle
x=3
y=470
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=336

[com_156]
type=Rectangle
x=3
y=496
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=337

[com_157]
type=Rectangle
x=3
y=522
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=338

[com_158]
type=Rectangle
x=3
y=554
width=20
height=20
layerId=38797443
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=339

[com_159]
type=Layer
x=381
y=62
width=95
height=195

[com_160]
type=Rectangle
x=3
y=4
width=21
height=21
layerId=38797471
colour=0x300000
fill=yes

[com_161]
type=Rectangle
x=26
y=4
width=21
height=21
layerId=38797471
colour=0xB03838
fill=yes

[com_162]
type=Rectangle
x=49
y=4
width=21
height=21
layerId=38797471
colour=0x9F2800
fill=yes

[com_163]
type=Rectangle
x=72
y=4
width=21
height=21
layerId=38797471
colour=0xC87F80
fill=yes

[com_164]
type=Rectangle
x=3
y=27
width=21
height=21
layerId=38797471
colour=0xCB823E
fill=yes

[com_165]
type=Rectangle
x=26
y=27
width=21
height=21
layerId=38797471
colour=0xCDAD53
fill=yes

[com_166]
type=Rectangle
x=49
y=27
width=21
height=21
layerId=38797471
colour=0xC06840
fill=yes

[com_167]
type=Rectangle
x=72
y=27
width=21
height=21
layerId=38797471
colour=0x50321E
fill=yes

[com_168]
type=Rectangle
x=3
y=50
width=21
height=21
layerId=38797471
colour=0x302008
fill=yes

[com_169]
type=Rectangle
x=26
y=50
width=21
height=21
layerId=38797471
colour=0x885F29
fill=yes

[com_170]
type=Rectangle
x=49
y=50
width=21
height=21
layerId=38797471
colour=0x60B060
fill=yes

[com_171]
type=Rectangle
x=72
y=50
width=21
height=21
layerId=38797471
colour=0x008300
fill=yes

[com_172]
type=Rectangle
x=3
y=73
width=21
height=21
layerId=38797471
colour=0x183028
fill=yes

[com_173]
type=Rectangle
x=26
y=73
width=21
height=21
layerId=38797471
colour=0x181890
fill=yes

[com_174]
type=Rectangle
x=49
y=73
width=21
height=21
layerId=38797471
colour=0x008383
fill=yes

[com_175]
type=Rectangle
x=72
y=73
width=21
height=21
layerId=38797471
colour=0x6088B0
fill=yes

[com_176]
type=Rectangle
x=26
y=96
width=21
height=21
layerId=38797471
colour=0x9860B0
fill=yes

[com_177]
type=Rectangle
x=3
y=96
width=21
height=21
layerId=38797471
colour=0xBE00C0
fill=yes

[com_178]
type=Rectangle
x=49
y=96
width=21
height=21
layerId=38797471
colour=0x581890
fill=yes

[com_179]
type=Rectangle
x=72
y=96
width=21
height=21
layerId=38797471
colour=0x2F2A2A
fill=yes

[com_180]
type=Rectangle
x=3
y=119
width=21
height=21
layerId=38797471
colour=0x76756C
fill=yes

[com_181]
type=Rectangle
x=26
y=119
width=21
height=21
layerId=38797471
colour=0xD6D1D1
fill=yes

[com_182]
type=Rectangle
x=49
y=119
width=21
height=21
layerId=38797471
colour=0x989878
fill=yes

[com_183]
type=Rectangle
x=72
y=119
width=21
height=21
layerId=38797471
colour=0x484038
fill=yes

[com_184]
type=Rectangle
x=3
y=142
width=21
height=21
layerId=38797471
colour=0x101010
fill=yes

[com_185]
type=Sprite
x=384
y=66
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Burgundy",25,40
onclick=340

[com_186]
type=Sprite
x=407
y=66
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Red",25,40
onclick=341

[com_187]
type=Sprite
x=430
y=66
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Vermillion",25,40
onclick=342

[com_188]
type=Sprite
x=453
y=66
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Pink",25,40
onclick=343

[com_189]
type=Sprite
x=384
y=89
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Orange",25,40
onclick=344

[com_190]
type=Sprite
x=407
y=89
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Yellow",25,40
onclick=345

[com_191]
type=Sprite
x=430
y=89
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Peach",25,40
onclick=346

[com_192]
type=Sprite
x=453
y=89
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Brown",25,40
onclick=347

[com_193]
type=Sprite
x=384
y=112
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Dark Brown",25,40
onclick=348

[com_194]
type=Sprite
x=407
y=112
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Light Brown",25,40
onclick=349

[com_195]
type=Sprite
x=430
y=112
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Mint Green",25,40
onclick=350

[com_196]
type=Sprite
x=453
y=112
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Green",25,40
onclick=351

[com_197]
type=Sprite
x=384
y=135
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Dark Green",25,40
onclick=352

[com_198]
type=Sprite
x=407
y=135
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Dark Blue",25,40
onclick=353

[com_199]
type=Sprite
x=430
y=135
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Turquoise",25,40
onclick=354

[com_200]
type=Sprite
x=453
y=135
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Cyan",25,40
onclick=355

[com_201]
type=Sprite
x=384
y=158
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Purple",25,40
onclick=356

[com_202]
type=Sprite
x=407
y=158
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Violet",25,40
onclick=357

[com_203]
type=Sprite
x=430
y=158
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Indigo",25,40
onclick=358

[com_204]
type=Sprite
x=453
y=158
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Dark Grey",25,40
onclick=359

[com_205]
type=Sprite
x=384
y=181
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Military Grey",25,40
onclick=360

[com_206]
type=Sprite
x=407
y=181
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"White",25,40
onclick=361

[com_207]
type=Sprite
x=430
y=181
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Light Grey",25,40
onclick=362

[com_208]
type=Sprite
x=453
y=181
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Taupe",25,40
onclick=363

[com_209]
type=Sprite
x=384
y=204
width=21
height=21
graphic=1041
eventCode=hasOp(1)
opName0="Select"
onmouseover=44,component.parentId,1042
onmouseleave=299,38797544,component.parentId,1041
onmouserepeat=38,component.parentId,38797544,"Black",25,40
onclick=364

[com_210]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[com_211]
type=Layer
width=512
height=334

[com_212]
type=Line
x=23
y=111
width=176
layerId=38797523
colour=0x332B25

[com_213]
type=Line
x=23
y=112
height=82
layerId=38797523
colour=0x332B25

[com_214]
type=Line
x=199
y=112
height=82
layerId=38797523
colour=0x332B25

[com_215]
type=Line
x=24
y=194
width=174
layerId=38797523
colour=0x332B25

[com_216]
type=Line
x=23
y=197
width=192
layerId=38797523
colour=0x332B25

[com_217]
type=Line
x=23
y=198
height=110
layerId=38797523
colour=0x332B25

[com_218]
type=Line
x=215
y=198
height=110
layerId=38797523
colour=0x332B25

[com_219]
type=Line
x=23
y=309
width=192
layerId=38797523
colour=0x332B25

[com_220]
type=Line
x=232
y=61
width=132
layerId=38797523
colour=0x332B25

[com_221]
type=Line
x=232
y=62
height=244
layerId=38797523
colour=0x332B25

[com_222]
type=Line
x=364
y=62
height=244
layerId=38797523
colour=0x332B25

[com_223]
type=Line
x=232
y=307
width=132
layerId=38797523
colour=0x332B25

[com_224]
type=Line
x=382
y=64
width=93
layerId=38797523
colour=0x332B25

[com_225]
type=Line
x=382
y=65
height=160
layerId=38797523
colour=0x332B25

[com_226]
type=Line
x=475
y=65
height=137
layerId=38797523
colour=0x332B25

[com_227]
type=Line
x=382
y=226
width=24
layerId=38797523
colour=0x332B25

[com_228]
type=Line
x=406
y=203
width=69
layerId=38797523
colour=0x332B25

[com_229]
type=Line
x=406
y=204
height=21
layerId=38797523
colour=0x332B25

[com_230]
type=Sprite
x=451
y=261
width=23
height=23
graphic=938
eventCode=hasOp(1)
baseOpName="  "
opName0="Confirm Purchase"
onmouseover=44,38797444,1050
onmouseleave=299,38797544,38797444,1058
onmouserepeat=38,component.parentId,38797544,"Confirm Purchase",25,80

[com_231]
type=Layer
width=512
height=334

[com_232]
type=Layer
x=309
y=57
width=200
height=200
layerId=38797543
onmouseleave=40,38797544
