[container]
type=Model
x=87
y=-29
width=340
height=325
model1Id=25513
modelZoom=655
discardedModelField=0

[impling_net]
type=Model
x=104
y=6
width=340
height=325
layerId=34537511
model1Id=25517
modelZoom=655
discardedModelField=0

[impling_repellent]
type=Model
x=291
y=72
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537475
onmouseleave=69,1,34537475

[impling_repellent_name]
type=Layer
x=264
y=72
width=90
height=48
layerId=34537511
hide=yes

[impling_repellent_store]
type=Text
x=1
y=5
width=89
height=32
layerId=34537475
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Arrowheads display"

[impling_net_name]
type=Model
x=224
y=175
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537478
onmouseleave=69,1,34537478

[impling_net_store]
type=Layer
x=198
y=175
width=92
height=48
layerId=34537511
hide=yes

[impling_jar]
type=Text
x=21
y=5
width=50
height=32
layerId=34537478
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Saranthium coin display"

[impling_jar_name]
type=Model
x=224
y=122
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537481
onmouseleave=69,1,34537481

[impling_jar_store]
type=Layer
x=198
y=122
width=92
height=48
layerId=34537511
hide=yes

[com_10]
type=Text
x=22
y=5
width=50
height=32
layerId=34537481
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Senntisten coin display"

[com_11]
type=Model
x=224
y=22
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537484
onmouseleave=69,1,34537484

[com_12]
type=Layer
x=188
y=22
width=102
height=48
layerId=34537511
hide=yes

[com_13]
type=Text
y=10
width=102
height=32
layerId=34537484
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Jewellery display"

[com_14]
type=Model
x=225
y=73
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537487
onmouseleave=69,1,34537487

[com_15]
type=Layer
x=197
y=73
width=92
height=48
layerId=34537511
hide=yes

[com_16]
type=Text
x=22
y=5
width=50
height=32
layerId=34537487
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Pottery display"

[com_17]
type=Model
x=291
y=121
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537490
onmouseleave=69,1,34537490

[com_18]
type=Layer
x=263
y=121
width=92
height=60
layerId=34537511
hide=yes

[com_19]
type=Text
width=90
height=60
layerId=34537490
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Ancient Saradomin symbol display"

[com_20]
type=Model
x=292
y=176
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537493
onmouseleave=69,1,34537493

[com_21]
type=Layer
x=264
y=174
width=92
height=60
layerId=34537511
hide=yes

[com_22]
type=Text
width=90
height=60
layerId=34537493
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Old Saradomin symbol display"

[com_23]
type=Model
x=354
y=120
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537496
onmouseleave=69,1,34537496

[com_24]
type=Layer
x=326
y=120
width=92
height=50
layerId=34537511
hide=yes

[com_25]
type=Text
x=22
y=5
width=50
height=32
layerId=34537496
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Zaros tablet display"

[com_26]
type=Model
x=353
y=176
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537499
onmouseleave=69,1,34537499

[com_27]
type=Layer
x=326
y=174
width=92
height=50
layerId=34537511
hide=yes

[com_28]
type=Text
x=22
y=5
width=50
height=32
layerId=34537499
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Ancient talisman display"

[com_29]
type=Model
x=290
y=23
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537502
onmouseleave=69,1,34537502

[com_30]
type=Layer
x=263
y=23
width=92
height=50
layerId=34537511
hide=yes

[com_31]
type=Text
x=22
y=8
width=50
height=32
layerId=34537502
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Vase display"

[com_32]
type=Model
x=155
y=175
width=40
height=48
layerId=34537511
model1Id=25514
modelZoom=2448
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537505
onmouseleave=69,1,34537505

[com_33]
type=Layer
x=126
y=174
width=92
height=50
layerId=34537511
hide=yes

[com_34]
type=Text
x=22
y=5
width=50
height=32
layerId=34537505
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Soil layers display"

[com_35]
type=Text
x=124
y=50
width=89
height=32
layerId=34537511
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Natural History<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Natural History exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_36]
type=Text
x=347
y=40
width=89
height=32
layerId=34537511
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Timeline<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_37]
type=Text
x=222
y=261
width=89
height=32
layerId=34537511
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Dig Site cleaning area"

[com_38]
type=Text
x=433
y=315
width=89
height=32
layerId=34537511
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level up"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_39]
type=Layer
width=512
height=334
hide=yes

[com_40]
type=Model
x=104
y=6
width=340
height=325
layerId=34537586
model1Id=25518
modelZoom=655
discardedModelField=0
onmouseleave=69,1,34537475

[com_41]
type=Model
x=286
y=34
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537536
onmouseleave=69,1,34537536

[com_42]
type=Model
x=252
y=34
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537538
onmouseleave=69,1,34537538

[com_43]
type=Model
x=217
y=34
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537540
onmouseleave=69,1,34537540

[com_44]
type=Model
x=183
y=34
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537542
onmouseleave=69,1,34537542

[com_45]
type=Model
x=149
y=34
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537544
onmouseleave=69,1,34537544

[com_46]
type=Model
x=144
y=104
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537546
onmouseleave=69,1,34537546

[com_47]
type=Model
x=213
y=103
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537548
onmouseleave=69,1,34537548

[com_48]
type=Model
x=111
y=104
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537550
onmouseleave=69,1,34537550

[com_49]
type=Model
x=178
y=104
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537552
onmouseleave=69,1,34537552

[com_50]
type=Model
x=283
y=104
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537554
onmouseleave=69,1,34537554

[com_51]
type=Model
x=247
y=104
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537556
onmouseleave=69,1,34537556

[com_52]
type=Model
x=386
y=178
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537558
onmouseleave=69,1,34537558

[com_53]
type=Model
x=352
y=178
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537560
onmouseleave=69,1,34537560

[com_54]
type=Model
x=318
y=179
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537562
onmouseleave=69,1,34537562

[com_55]
type=Model
x=248
y=178
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537564
onmouseleave=69,1,34537564

[com_56]
type=Model
x=215
y=178
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537566
onmouseleave=69,1,34537566

[com_57]
type=Model
x=178
y=240
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2830
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537568
onmouseleave=69,1,34537568

[com_58]
type=Model
x=212
y=240
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2702
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537570
onmouseleave=69,1,34537570

[com_59]
type=Model
x=246
y=240
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2702
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537572
onmouseleave=69,1,34537572

[com_60]
type=Model
x=281
y=240
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2702
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537574
onmouseleave=69,1,34537574

[com_61]
type=Model
x=315
y=240
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2702
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537576
onmouseleave=69,1,34537576

[com_62]
type=Model
x=349
y=241
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2702
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537578
onmouseleave=69,1,34537578

[com_63]
type=Model
x=284
y=178
width=40
height=48
layerId=34537586
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537579
onmouseleave=69,1,34537579

[com_64]
type=Layer
x=257
y=33
width=92
height=50
layerId=34537586
hide=yes

[com_65]
type=Text
x=22
y=5
width=50
height=32
layerId=34537536
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="1st-2nd Ages"

[com_66]
type=Layer
x=223
y=33
width=92
height=50
layerId=34537586
hide=yes

[com_67]
type=Text
x=22
y=5
width=50
height=32
layerId=34537538
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="End of<br>2nd Age"

[com_68]
type=Layer
x=188
y=33
width=92
height=50
layerId=34537586
hide=yes

[com_69]
type=Text
x=7
y=5
width=83
height=32
layerId=34537540
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="3rd Age<br>4000 years long"

[com_70]
type=Layer
x=154
y=33
width=92
height=50
layerId=34537586
hide=yes

[com_71]
type=Text
y=5
width=92
height=49
layerId=34537542
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="3rd Age<br>yr 3000-4000"

[com_72]
type=Layer
x=120
y=33
width=92
height=50
layerId=34537586
hide=yes

[com_73]
type=Text
y=5
width=92
height=32
layerId=34537544
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>2000 yrs long"

[com_74]
type=Layer
x=115
y=103
width=92
height=50
layerId=34537586
hide=yes

[com_75]
type=Text
y=10
width=92
height=32
layerId=34537546
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 1-200"

[com_76]
type=Layer
x=184
y=102
width=92
height=50
layerId=34537586
hide=yes

[com_77]
type=Text
y=10
width=92
height=32
layerId=34537548
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 500-900"

[com_78]
type=Layer
x=82
y=103
width=92
height=50
layerId=34537586
hide=yes

[com_79]
type=Text
y=10
width=92
height=32
layerId=34537550
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 1-100"

[com_80]
type=Layer
x=149
y=103
width=92
height=50
layerId=34537586
hide=yes

[com_81]
type=Text
y=9
width=92
height=32
layerId=34537552
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 31-60"

[com_82]
type=Layer
x=254
y=103
width=92
height=50
layerId=34537586
hide=yes

[com_83]
type=Text
y=7
width=92
height=46
layerId=34537554
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 1100-1200"

[com_84]
type=Layer
x=218
y=103
width=92
height=50
layerId=34537586
hide=yes

[com_85]
type=Text
y=9
width=92
height=41
layerId=34537556
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 700-800"

[com_86]
type=Layer
x=357
y=177
width=92
height=50
layerId=34537586
hide=yes

[com_87]
type=Text
y=9
width=92
height=32
layerId=34537558
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 1777"

[com_88]
type=Layer
x=323
y=177
width=92
height=50
layerId=34537586
hide=yes

[com_89]
type=Text
y=10
width=92
height=32
layerId=34537560
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="4th Age<br>yr 1937"

[com_90]
type=Layer
x=289
y=178
width=92
height=50
layerId=34537586
hide=yes

[com_91]
type=Text
y=5
width=92
height=32
layerId=34537562
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>currently 169 years old"

[com_92]
type=Layer
x=219
y=177
width=92
height=50
layerId=34537586
hide=yes

[com_93]
type=Text
y=10
width=92
height=32
layerId=34537564
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 8"

[com_94]
type=Layer
x=186
y=177
width=92
height=50
layerId=34537586
hide=yes

[com_95]
type=Text
y=10
width=92
height=32
layerId=34537566
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 9"

[com_96]
type=Layer
x=149
y=239
width=92
height=50
layerId=34537586
hide=yes

[com_97]
type=Text
y=10
width=92
height=32
layerId=34537568
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 12"

[com_98]
type=Layer
x=183
y=239
width=92
height=50
layerId=34537586
hide=yes

[com_99]
type=Text
y=9
width=92
height=32
layerId=34537570
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 20"

[com_100]
type=Layer
x=217
y=239
width=92
height=50
layerId=34537586
hide=yes

[com_101]
type=Text
y=10
width=92
height=32
layerId=34537572
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 23"

[com_102]
type=Layer
x=252
y=239
width=92
height=50
layerId=34537586
hide=yes

[com_103]
type=Text
y=9
width=92
height=32
layerId=34537574
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 42-62"

[com_104]
type=Layer
x=286
y=239
width=92
height=50
layerId=34537586
hide=yes

[com_105]
type=Text
y=10
width=92
height=32
layerId=34537576
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 47"

[com_106]
type=Layer
x=320
y=240
width=92
height=50
layerId=34537586
hide=yes

[com_107]
type=Layer
x=255
y=177
width=92
height=50
layerId=34537586
hide=yes

[com_108]
type=Text
y=10
width=92
height=32
layerId=34537579
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 7"

[com_109]
type=Text
y=10
width=92
height=32
layerId=34537578
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 62"

[com_110]
type=Text
x=350
y=40
width=89
height=32
layerId=34537586
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Dig Site<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Dig Site exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_111]
type=Text
x=97
y=197
width=89
height=32
layerId=34537586
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Timeline<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_112]
type=Text
x=433
y=315
width=89
height=32
layerId=34537586
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level up"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_113]
type=Text
x=10
y=315
width=89
height=32
layerId=34537586
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level down"
eventCode=hasOp(1)
opName0="Stairs to Dig Site exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_114]
type=Layer
width=512
height=334
hide=yes

[com_115]
type=Model
x=104
y=6
width=340
height=325
layerId=34537623
model1Id=25519
modelZoom=655
discardedModelField=0

[com_116]
type=Model
x=359
y=45
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=79
modelYAn=1803
discardedModelField=0
onmouseover=69,0,34537589
onmouseleave=69,1,34537589

[com_117]
type=Layer
x=330
y=44
width=92
height=50
layerId=34537623
hide=yes

[com_118]
type=Text
y=7
width=92
height=32
layerId=34537589
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 136"

[com_119]
type=Model
x=211
y=167
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=79
modelYAn=1803
discardedModelField=0
onmouseover=69,0,34537592
onmouseleave=69,1,34537592

[com_120]
type=Layer
x=182
y=166
width=92
height=50
layerId=34537623
hide=yes

[com_121]
type=Text
y=10
width=92
height=32
layerId=34537592
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 70"

[com_122]
type=Model
x=289
y=45
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=79
modelYAn=1803
discardedModelField=0
onmouseover=69,0,34537595
onmouseleave=69,1,34537595

[com_123]
type=Layer
x=260
y=44
width=92
height=50
layerId=34537623
hide=yes

[com_124]
type=Text
y=10
width=92
height=32
layerId=34537595
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 132"

[com_125]
type=Model
x=361
y=167
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537598
onmouseleave=69,1,34537598

[com_126]
type=Layer
x=332
y=166
width=92
height=50
layerId=34537623
hide=yes

[com_127]
type=Text
y=10
width=92
height=32
layerId=34537598
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 154"

[com_128]
type=Model
x=212
y=233
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537601
onmouseleave=69,1,34537601

[com_129]
type=Layer
x=183
y=232
width=92
height=50
layerId=34537623
hide=yes

[com_130]
type=Text
y=9
width=92
height=32
layerId=34537601
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 169"

[com_131]
type=Model
x=287
y=233
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537604
onmouseleave=69,1,34537604

[com_132]
type=Layer
x=258
y=232
width=92
height=50
layerId=34537623
hide=yes

[com_133]
type=Text
y=8
width=92
height=32
layerId=34537604
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 169"

[com_134]
type=Model
x=359
y=104
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537607
onmouseleave=69,1,34537607

[com_135]
type=Layer
x=330
y=103
width=92
height=50
layerId=34537623
hide=yes

[com_136]
type=Text
y=9
width=92
height=32
layerId=34537607
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 143"

[com_137]
type=Model
x=360
y=233
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537610
onmouseleave=69,1,34537610

[com_138]
type=Layer
x=331
y=232
width=92
height=50
layerId=34537623
hide=yes

[com_139]
type=Text
y=7
width=92
height=32
layerId=34537610
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 162-163"

[com_140]
type=Model
x=268
y=144
width=78
height=50
layerId=34537623
model1Id=25515
modelZoom=2148
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537613
onmouseleave=69,1,34537613

[com_141]
type=Layer
x=268
y=122
width=78
height=94
layerId=34537623
hide=yes

[com_142]
type=Text
y=30
width=78
height=32
layerId=34537613
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 20"

[com_143]
type=Model
x=209
y=15
width=33
height=50
layerId=34537623
model1Id=25520
modelZoom=6628
modelYAn=1969
discardedModelField=0
onmouseover=69,0,34537616
onmouseleave=69,1,34537616

[com_144]
type=Layer
x=183
y=15
width=78
height=50
layerId=34537623
hide=yes

[com_145]
type=Text
y=7
width=78
height=32
layerId=34537616
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 98"

[com_146]
type=Text
x=10
y=315
width=89
height=32
layerId=34537623
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level down"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_147]
type=Text
x=98
y=209
width=89
height=32
layerId=34537623
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Timeline<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Timeline exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_148]
type=Model
x=212
y=102
width=40
height=48
layerId=34537623
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537621
onmouseleave=69,1,34537621

[com_149]
type=Layer
x=187
y=101
width=92
height=50
layerId=34537623
hide=yes

[com_150]
type=Text
width=92
height=32
layerId=34537621
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="5th Age<br>yr 70"

[com_151]
type=Layer
width=512
height=334
hide=yes

[com_152]
type=Sprite
x=478
y=8
width=26
height=23
graphic=537
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,538
onmouseleave=44,component.parentId,537
onop=29

[com_153]
type=Model
x=77
y=43
width=340
height=325
layerId=34537668
model1Id=25516
modelZoom=1039
discardedModelField=0

[com_154]
type=Model
x=182
y=257
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537627
onmouseleave=69,1,34537627

[com_155]
type=Layer
x=159
y=257
width=92
height=48
layerId=34537668
hide=yes

[com_156]
type=Text
y=11
width=92
height=32
layerId=34537627
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Terrorbird display"

[com_157]
type=Model
x=275
y=257
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537630
onmouseleave=69,1,34537630

[com_158]
type=Layer
x=248
y=257
width=92
height=48
layerId=34537668
hide=yes

[com_159]
type=Text
y=4
width=92
height=40
layerId=34537630
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Kalphite Queen<br>display"

[com_160]
type=Model
x=61
y=194
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537633
onmouseleave=69,1,34537633

[com_161]
type=Layer
x=35
y=194
width=82
height=48
layerId=34537668
hide=yes

[com_162]
type=Text
y=10
width=92
height=32
layerId=34537633
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Mole<br>display"

[com_163]
type=Model
x=116
y=194
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537636
onmouseleave=69,1,34537636

[com_164]
type=Layer
x=100
y=194
width=82
height=48
layerId=34537668
hide=yes

[com_165]
type=Text
x=-10
y=10
width=92
height=32
layerId=34537636
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Penguin<br>display"

[com_166]
type=Model
x=61
y=87
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537639
onmouseleave=69,1,34537639

[com_167]
type=Layer
x=35
y=87
width=82
height=48
layerId=34537668
hide=yes

[com_168]
type=Text
y=10
width=92
height=32
layerId=34537639
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Camel<br>display"

[com_169]
type=Model
x=116
y=87
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537642
onmouseleave=69,1,34537642

[com_170]
type=Layer
x=100
y=87
width=81
height=48
layerId=34537668
hide=yes

[com_171]
type=Text
x=-11
y=10
width=92
height=32
layerId=34537642
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Leech<br>display"

[com_172]
type=Model
x=338
y=194
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537645
onmouseleave=69,1,34537645

[com_173]
type=Layer
x=312
y=194
width=82
height=48
layerId=34537668
hide=yes

[com_174]
type=Text
y=10
width=92
height=32
layerId=34537645
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Monkey<br>display"

[com_175]
type=Model
x=393
y=194
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537648
onmouseleave=69,1,34537648

[com_176]
type=Layer
x=354
y=194
width=120
height=48
layerId=34537668
hide=yes

[com_177]
type=Text
x=-10
y=10
width=130
height=32
layerId=34537648
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Sea slug<br>display"

[com_178]
type=Model
x=338
y=87
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537651
onmouseleave=69,1,34537651

[com_179]
type=Layer
x=313
y=88
width=82
height=48
layerId=34537668
hide=yes

[com_180]
type=Text
y=10
width=92
height=32
layerId=34537651
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Snail<br>display"

[com_181]
type=Model
x=393
y=87
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537654
onmouseleave=69,1,34537654

[com_182]
type=Layer
x=378
y=87
width=82
height=48
layerId=34537668
hide=yes

[com_183]
type=Text
x=-10
y=10
width=92
height=32
layerId=34537654
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Snake<br>display"

[com_184]
type=Model
x=112
y=17
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537657
onmouseleave=69,1,34537657

[com_185]
type=Layer
x=86
y=17
width=92
height=48
layerId=34537668
hide=yes

[com_186]
type=Text
y=11
width=92
height=32
layerId=34537657
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Lizard<br>display"

[com_187]
type=Model
x=185
y=17
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537660
onmouseleave=69,1,34537660

[com_188]
type=Layer
x=158
y=17
width=92
height=48
layerId=34537668
hide=yes

[com_189]
type=Text
y=3
width=92
height=40
layerId=34537660
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Battle tortoise<br>display"

[com_190]
type=Model
x=276
y=17
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537663
onmouseleave=69,1,34537663

[com_191]
type=Layer
x=250
y=17
width=92
height=48
layerId=34537668
hide=yes

[com_192]
type=Text
y=11
width=92
height=32
layerId=34537663
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Dragon<br>display"

[com_193]
type=Model
x=344
y=17
width=40
height=48
layerId=34537668
model1Id=25514
modelZoom=2660
modelXAn=80
modelYAn=1807
discardedModelField=0
onmouseover=69,0,34537666
onmouseleave=69,1,34537666

[com_194]
type=Layer
x=318
y=17
width=92
height=48
layerId=34537668
hide=yes

[com_195]
type=Text
y=11
width=92
height=32
layerId=34537666
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Wyvern<br>display"

[com_196]
type=Layer
width=512
height=334
hide=yes

[com_197]
type=Text
x=10
y=315
width=89
height=32
layerId=34537511
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level down"
eventCode=hasOp(1)
opName0="Stairs to Natural History exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_198]
type=Text
x=433
y=315
width=89
height=32
layerId=34537668
colour=0xBF751D
hAlign=Center
font=496
shadow=yes
text="Level up"
eventCode=hasOp(1)
opName0="Stairs to Dig Site exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357

[com_199]
type=Text
x=204
y=144
width=89
height=32
layerId=34537668
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="Stairs to<br>Dig Site<br>exhibit"
eventCode=hasOp(1)
opName0="Stairs to Dig Site exhibit"
onmouseover=45,component.parentId,14784543
onmouseleave=45,component.parentId,12547357
