[base_container]
type=Layer
x=3
y=4
width=103
height=314
xAlignment=Bottom_Right

[container]
type=Rectangle
width=103
height=314
layerId=11075584
trans=180
colour=0x53533D
fill=yes

[com_2]
type=Sprite
y=5
width=50
height=50
layerId=11075584
graphic=868

[text_01]
type=Sprite
y=56
width=50
height=50
layerId=11075584
graphic=873

[impling_01]
type=Sprite
y=107
width=50
height=50
layerId=11075584
graphic=867

[text_02]
type=Sprite
y=158
width=50
height=50
layerId=11075584
graphic=876

[impling_02]
type=Sprite
y=209
width=50
height=50
layerId=11075584
graphic=875

[text_03]
type=Sprite
x=49
y=209
width=50
height=50
layerId=11075584
graphic=878

[impling_03]
type=Sprite
x=49
y=5
width=50
height=50
layerId=11075584
graphic=871

[text_04]
type=Sprite
x=49
y=56
width=50
height=50
layerId=11075584
graphic=870

[impling_04]
type=Sprite
x=49
y=107
width=50
height=50
layerId=11075584
graphic=874

[text_05]
type=Sprite
x=49
y=158
width=50
height=50
layerId=11075584
graphic=877

[impling_05]
type=Sprite
x=49
y=260
width=50
height=50
layerId=11075584
graphic=869

[text_06]
type=Text
y=5
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11238
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11238
onmouserepeat=38,component.parentId,11075608,"Baby implings",25,512
oninvtransmitlist=93

[impling_06]
type=Text
y=56
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11240
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11240
onmouserepeat=38,component.parentId,11075608,"Young implings",25,512
oninvtransmitlist=93

[text_6a]
type=Text
y=107
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11242
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11242
onmouserepeat=38,component.parentId,11075608,"Gourmet implings",25,512
oninvtransmitlist=93

[impling_6a]
type=Text
y=158
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11244
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11244
onmouserepeat=38,component.parentId,11075608,"Earth implings",25,512
oninvtransmitlist=93

[text_07]
type=Text
y=209
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11246
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11246
onmouserepeat=38,component.parentId,11075608,"Essence implings",25,512
oninvtransmitlist=93

[impling_07]
type=Text
x=49
y=209
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,13337
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,13337
onmouserepeat=38,component.parentId,11075608,"Pirate implings",25,512
oninvtransmitlist=93

[text_08]
type=Text
x=49
y=5
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11248
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11248
onmouserepeat=38,component.parentId,11075608,"Eclectic implings",25,512
oninvtransmitlist=93

[impling_08]
type=Text
x=49
y=56
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11250
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11250
onmouserepeat=38,component.parentId,11075608,"Nature implings",25,512
oninvtransmitlist=93

[text_09]
type=Text
x=49
y=107
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11252
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11252
onmouserepeat=38,component.parentId,11075608,"Magpie implings",25,512
oninvtransmitlist=93

[impling_09]
type=Text
x=49
y=158
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11254
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11254
onmouserepeat=38,component.parentId,11075608,"Ninja implings",25,512
oninvtransmitlist=93

[text_11]
type=Text
x=49
y=260
width=50
height=50
layerId=11075584
colour=0xB5B54A
hAlign=Right
font=495
shadow=yes
onload=1091,component.parentId,11256
onmouseleave=40,11075608
oninvtransmit=1091,component.parentId,11256
onmouserepeat=38,component.parentId,11075608,"Dragon implings",25,512
oninvtransmitlist=93

[impling_11]
type=Layer
width=32
height=32
layerId=11075584
