[background_layer]
type=Inventory
x=25
y=23
width=1
height=1
widthAlignment=Grid
heightAlignment=Grid

[background]
type=Model
x=268
y=24
width=32
height=32
model1Id=8685
modelZoom=1463
modelXAn=291
modelYAn=2032

[content_layer]
type=Model
x=372
y=25
width=32
height=32
model1Id=8684
modelZoom=2278
modelXAn=400
modelYAn=2030

[universe]
type=Text
x=69
y=-1
width=333
height=32
colour=0x800000
hAlign=Center
vAlign=Center
font=497
text="Are you sure you want to destroy this object?"

[graphic]
type=Text
buttonType=Pause
x=269
y=32
width=100
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="Yes."
buttonText="Destroy Object"
eventCode=pauseButton

[text]
type=Text
buttonType=Pause
x=376
y=32
width=100
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="No."
buttonText="Cancel"
eventCode=pauseButton

[skip_layer]
type=Sprite
x=405
y=8
width=57
height=13
graphic=301

[com_7]
type=Sprite
x=12
y=9
width=57
height=13
graphic=302

[skip_layer_graphic]
type=Layer
y=50
width=482
height=66

[skip_layer_text]
type=Layer
y=50
width=482
height=66

[com_10]
type=Text
x=1
y=21
width=480
height=16
layerId=6160392
colour=0x000088
hAlign=Center
font=497
text="Single_Line_Text"

[com_11]
type=Text
x=1
y=9
width=480
height=17
layerId=6160393
colour=0x000088
hAlign=Center
font=497
text="Multi_line_text_1"

[com_12]
type=Text
x=1
y=23
width=480
height=17
layerId=6160393
colour=0x000088
hAlign=Center
font=497
text="Multi_line_text_2"

[com_13]
type=Text
x=62
y=32
width=145
height=16
font=495
text="Name"
