[com_0]
type=Rectangle
x=-2
width=562
height=362
fill=yes

[com_1]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[com_2]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[com_6]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[com_7]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[com_8]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[com_9]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[com_12]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[com_15]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[com_16]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[com_17]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[com_18]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_19]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=326
y=139
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_31]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_37]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_38]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_44]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_45]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_53]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_54]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_64]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_66]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_67]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_70]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_71]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_72]
type=Sprite
x=325
y=140
width=88
height=60
graphic=297

[com_73]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_74]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_78]
type=Inventory
x=121
y=98
width=5
height=4
widthAlignment=Grid
heightAlignment=Grid
marginX=15
marginY=15
iop0=Take-back 1
iop1=Take-back 5
iop2=Take-back 10
iop3=Take-back All
iop4=Take-back X
eventCode=hasIop(0,1,2,3,4)

[com_79]
type=Text
x=77
y=70
width=315
height=18
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Follower Inv"

[com_80]
type=Text
x=401
y=132
width=30
height=30
colour=0xFF981F
font=645
shadow=yes
text="%1"
script1op1=num,15
script1op2=sub,varbit,varbit_3433

[com_81]
type=Text
x=363
y=115
width=100
height=16
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Npc spaces left."

[com_82]
type=Text
x=121
y=98
width=20
height=20
colour=0x33CC00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3414

[com_83]
type=Text
x=169
y=98
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3415

[com_84]
type=Text
x=216
y=99
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3416

[com_85]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_86]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_87]
type=Text
x=262
y=99
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3417

[com_88]
type=Text
x=309
y=98
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3418

[com_89]
type=Text
x=121
y=145
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3419

[com_90]
type=Text
x=169
y=146
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3420

[com_91]
type=Text
x=215
y=145
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3421

[com_92]
type=Text
x=262
y=145
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3422

[com_93]
type=Text
x=309
y=145
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3423

[com_94]
type=Text
x=121
y=192
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3424

[com_95]
type=Text
x=168
y=192
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3425

[com_96]
type=Text
x=215
y=192
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3426

[com_97]
type=Text
x=262
y=192
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3427

[com_98]
type=Text
x=309
y=192
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3428

[com_99]
type=Text
x=121
y=239
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3429

[com_100]
type=Text
x=168
y=239
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3430

[com_101]
type=Text
x=215
y=239
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3431

[com_102]
type=Text
x=262
y=239
width=20
height=20
colour=0x00FF00
font=495
shadow=yes
text="%1"
script1op1=varbit,varbit_3432

[com_103]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_104]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_105]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_106]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_107]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_108]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_109]
type=Rectangle
x=11
y=-27
width=374
height=47
fill=yes

[com_110]
type=Sprite
x=33
y=275
width=150
height=35
graphic=297

[com_111]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_112]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_113]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_114]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_115]
type=Rectangle
x=24
y=319
width=123
height=32
fill=yes

[com_116]
type=Sprite
buttonType=Close
x=471
y=26
width=26
height=23
overLayerId=119
graphic=535
buttonText="Ok"

[com_117]
type=Sprite
x=4
y=3
width=26
height=23
layerId=33947767
graphic=536

[com_118]
type=Text
x=17
y=287
width=457
height=15
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Right click on items in your inventory to add them here, then click close."

[com_119]
type=Layer
x=467
y=23
width=32
height=32
hide=yes
