[com_0]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512
discardedModelField=0

[com_1]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[com_2]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[com_3]
type=Model
x=62
y=365
width=86
height=122
model1Id=30459
modelAnim=lore_dust_devil_ready
modelZoom=1100
modelXAn=39
modelYAn=1884
modelXOf=-1
modelYOf=57
discardedModelField=0

[com_4]
type=Model
x=11
y=347
width=94
height=154
model1Id=31101
modelAnim=unicorn_rework_ready
modelZoom=1028
modelXAn=39
modelYAn=1884
modelXOf=-9
modelYOf=70
discardedModelField=0

[com_5]
type=Model
x=607
y=345
width=126
height=144
model1Id=30463
modelAnim=lore_cockatrice_ready
modelZoom=1200
modelXAn=39
modelYAn=201
modelXOf=-2
modelYOf=67
discardedModelField=0

[com_6]
type=Model
x=678
y=407
width=83
height=94
model1Id=30443
modelAnim=lore_wolf_ready
modelZoom=1200
modelXAn=39
modelYAn=201
modelXOf=6
modelYOf=40
discardedModelField=0
