[techtree]
type=Rectangle
x=-2
width=562
height=362
fill=yes

[techtree_background]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[techtree_content]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[techtree_task1_btn_layer]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[techtree_task2_btn_layer]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[techtree_task3_btn_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[techtree_task4_btn_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[techtree_task5_btn_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[techtree_border]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[techtree_close_button]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[techtree_task1_btn_on_layer]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[techtree_task1_btn_over_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[techtree_task1_btn_hit_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[techtree_task1_btn_selected_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[techtree_task1_btn_active_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[techtree_task1_btn_disabled_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[techtree_task1_btn_text_layer]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[techtree_task1_btn_text]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[techtree_task2_btn_on_layer]
type=Sprite
x=326
y=139
width=88
height=60
graphic=297

[techtree_task2_btn_over_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[techtree_task2_btn_hit_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[techtree_task2_btn_selected_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[techtree_task2_btn_active_layer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[techtree_task2_btn_disabled_layer]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[techtree_task2_btn_text_layer]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[techtree_task2_btn_text]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[techtree_task3_btn_on_layer]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[techtree_task3_btn_over_layer]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[techtree_task3_btn_hit_layer]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[techtree_task3_btn_selected_layer]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[techtree_task3_btn_active_layer]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[techtree_task3_btn_disabled_layer]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[techtree_task3_btn_text_layer]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[techtree_task3_btn_text]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[techtree_task4_btn_on_layer]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[techtree_task4_btn_over_layer]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[techtree_task4_btn_hit_layer]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[techtree_task4_btn_selected_layer]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[techtree_task4_btn_active_layer]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[techtree_task4_btn_disabled_layer]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[techtree_task4_btn_text_layer]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[techtree_task4_btn_text]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_on_layer]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_over_layer]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_hit_layer]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_selected_layer]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_active_layer]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_disabled_layer]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[techtree_task5_btn_text_layer]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[techtree_task5_btn_text]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_50]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_51]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=140
width=88
height=60
graphic=297

[com_53]
type=Layer
x=32
y=80
width=431
height=222
scrollHeight=1863

[com_54]
type=Rectangle
x=32
y=80
width=448
height=222
colour=0x333333

[com_55]
type=Text
x=79
y=22
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_56]
type=Rectangle
buttonType=Button
x=2
y=2
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_57]
type=Text
x=79
y=84
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_58]
type=Rectangle
buttonType=Button
x=2
y=64
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_59]
type=Text
x=79
y=146
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_60]
type=Rectangle
buttonType=Button
x=2
y=126
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_61]
type=Text
x=79
y=208
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_62]
type=Rectangle
buttonType=Button
x=2
y=188
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_63]
type=Text
x=79
y=269
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_64]
type=Rectangle
buttonType=Button
x=2
y=250
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_65]
type=Text
x=79
y=332
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_66]
type=Rectangle
buttonType=Button
x=2
y=312
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_67]
type=Text
x=79
y=394
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_68]
type=Rectangle
buttonType=Button
x=2
y=374
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_69]
type=Text
x=79
y=456
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_70]
type=Rectangle
buttonType=Button
x=2
y=436
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_71]
type=Text
x=79
y=518
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_72]
type=Rectangle
buttonType=Button
x=2
y=498
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_73]
type=Text
x=79
y=580
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_74]
type=Rectangle
buttonType=Button
x=2
y=560
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_75]
type=Text
x=79
y=642
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_76]
type=Rectangle
buttonType=Button
x=2
y=622
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_77]
type=Text
x=80
y=704
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_78]
type=Rectangle
buttonType=Button
x=2
y=684
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_79]
type=Text
x=80
y=766
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_80]
type=Rectangle
buttonType=Button
x=2
y=746
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_81]
type=Text
x=80
y=828
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_82]
type=Rectangle
buttonType=Button
x=2
y=808
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_83]
type=Text
x=79
y=890
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_84]
type=Rectangle
buttonType=Button
x=2
y=870
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_85]
type=Text
x=79
y=952
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_86]
type=Rectangle
buttonType=Button
x=2
y=932
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_87]
type=Text
x=80
y=1014
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_88]
type=Rectangle
buttonType=Button
x=2
y=994
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_89]
type=Text
x=79
y=1076
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_90]
type=Rectangle
buttonType=Button
x=2
y=1056
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_91]
type=Text
x=79
y=1138
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_92]
type=Rectangle
buttonType=Button
x=2
y=1118
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_93]
type=Text
x=80
y=1200
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_94]
type=Rectangle
buttonType=Button
x=2
y=1180
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_95]
type=Text
x=79
y=1262
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_96]
type=Rectangle
buttonType=Button
x=2
y=1242
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_97]
type=Text
x=79
y=1324
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_98]
type=Rectangle
buttonType=Button
x=2
y=1304
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_99]
type=Text
x=79
y=1386
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_100]
type=Rectangle
buttonType=Button
x=2
y=1366
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_101]
type=Text
x=79
y=1448
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_102]
type=Rectangle
buttonType=Button
x=2
y=1428
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_103]
type=Text
x=79
y=1510
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_104]
type=Rectangle
buttonType=Button
x=2
y=1490
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_105]
type=Text
x=79
y=1572
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_106]
type=Rectangle
buttonType=Button
x=2
y=1552
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_107]
type=Text
x=79
y=1634
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_108]
type=Rectangle
buttonType=Button
x=2
y=1614
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_109]
type=Text
x=79
y=1696
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_110]
type=Rectangle
buttonType=Button
x=2
y=1676
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_111]
type=Text
x=79
y=1758
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_112]
type=Rectangle
buttonType=Button
x=2
y=1738
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_113]
type=Text
x=80
y=1820
width=162
height=15
layerId=30605365
colour=0xFF981F
font=495
shadow=yes

[com_114]
type=Rectangle
buttonType=Button
x=2
y=1800
width=427
height=61
layerId=30605365
colour=0x333300
eventCode=flag22

[com_115]
type=Sprite
x=374
y=302
width=88
height=60
graphic=297

[com_116]
type=Sprite
x=292
y=302
width=88
height=60
graphic=297

[com_117]
type=Sprite
x=204
y=302
width=88
height=60
graphic=297

[com_118]
type=Sprite
x=116
y=302
width=88
height=60
graphic=297

[com_119]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[com_120]
type=Sprite
x=408
y=20
width=88
height=60
graphic=297

[com_121]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_122]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[com_123]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[com_124]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_125]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_126]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_127]
type=Sprite
x=98
y=34
width=36
height=36
graphic=314

[com_128]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_129]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_130]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_131]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_132]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_133]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_134]
type=Sprite
x=422
y=34
width=36
height=36
graphic=314

[com_135]
type=Sprite
x=278
y=34
width=36
height=36
graphic=314

[com_136]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_137]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_138]
type=Sprite
x=386
y=34
width=36
height=36
graphic=314

[com_139]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_140]
type=Sprite
x=458
y=34
width=36
height=36
graphic=314

[com_141]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_142]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_143]
type=Sprite
x=242
y=34
width=36
height=36
graphic=314

[com_144]
type=Rectangle
x=11
y=-27
width=374
height=47
fill=yes

[com_145]
type=Sprite
x=206
y=34
width=36
height=36
graphic=314

[com_146]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_147]
type=Sprite
x=28
y=302
width=150
height=10
graphic=297

[com_148]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_149]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_150]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_151]
type=Sprite
x=134
y=34
width=36
height=36
graphic=314

[com_152]
type=Sprite
x=350
y=34
width=36
height=36
graphic=314

[com_153]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_154]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_155]
type=Sprite
x=314
y=34
width=36
height=36
graphic=314

[com_156]
type=Rectangle
x=24
y=319
width=123
height=32
fill=yes

[com_157]
type=Sprite
buttonType=Close
x=471
y=26
width=26
height=23
graphic=535
buttonText="Ok"

[com_158]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_159]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=30605475
graphic=536
buttonText="Ok"

[com_160]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_161]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_162]
type=Sprite
x=170
y=34
width=36
height=36
graphic=314

[com_163]
type=Layer
x=467
y=23
width=32
height=32
hide=yes

[com_164]
type=Inventory
x=16
y=14
width=1
height=30
widthAlignment=Grid
heightAlignment=Grid
layerId=30605365
marginY=30

[com_165]
type=Rectangle
buttonType=Button
x=3
y=3
width=425
height=59
layerId=30605478
trans=164
fill=yes
eventCode=flag22

[com_166]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_167]
type=Rectangle
buttonType=Button
x=3
y=65
width=425
height=59
layerId=30605480
trans=164
fill=yes
eventCode=flag22

[com_168]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_169]
type=Rectangle
buttonType=Button
x=3
y=127
width=425
height=59
layerId=30605482
trans=164
fill=yes
eventCode=flag22

[com_170]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_171]
type=Rectangle
buttonType=Button
x=3
y=189
width=425
height=59
layerId=30605484
trans=164
fill=yes
eventCode=flag22

[com_172]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_173]
type=Rectangle
buttonType=Button
x=3
y=251
width=425
height=59
layerId=30605486
trans=164
fill=yes
eventCode=flag22

[com_174]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_175]
type=Rectangle
buttonType=Button
x=3
y=313
width=425
height=59
layerId=30605488
trans=164
fill=yes
eventCode=flag22

[com_176]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_177]
type=Rectangle
buttonType=Button
x=3
y=375
width=425
height=59
layerId=30605490
trans=164
fill=yes
eventCode=flag22

[com_178]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_179]
type=Rectangle
buttonType=Button
x=3
y=437
width=425
height=59
layerId=30605492
trans=164
fill=yes
eventCode=flag22

[com_180]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_181]
type=Rectangle
buttonType=Button
x=3
y=499
width=425
height=59
layerId=30605494
trans=164
fill=yes
eventCode=flag22

[com_182]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_183]
type=Rectangle
buttonType=Button
x=3
y=561
width=425
height=59
layerId=30605496
trans=164
fill=yes
eventCode=flag22

[com_184]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_185]
type=Rectangle
buttonType=Button
x=3
y=623
width=425
height=59
layerId=30605498
trans=164
fill=yes
eventCode=flag22

[com_186]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_187]
type=Rectangle
buttonType=Button
x=3
y=685
width=425
height=59
layerId=30605500
trans=164
fill=yes
eventCode=flag22

[com_188]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_189]
type=Rectangle
buttonType=Button
x=3
y=747
width=425
height=59
layerId=30605502
trans=164
fill=yes
eventCode=flag22

[com_190]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_191]
type=Rectangle
buttonType=Button
x=3
y=809
width=425
height=59
layerId=30605504
trans=164
fill=yes
eventCode=flag22

[com_192]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_193]
type=Rectangle
buttonType=Button
x=3
y=871
width=425
height=59
layerId=30605506
trans=164
fill=yes
eventCode=flag22

[com_194]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_195]
type=Rectangle
buttonType=Button
x=3
y=933
width=425
height=59
layerId=30605508
trans=164
fill=yes
eventCode=flag22

[com_196]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_197]
type=Rectangle
buttonType=Button
x=3
y=995
width=425
height=59
layerId=30605510
trans=164
fill=yes
eventCode=flag22

[com_198]
type=Layer
width=432
height=3200
layerId=30605365
hide=yes

[com_199]
type=Rectangle
buttonType=Button
x=3
y=58
width=425
height=59
layerId=30605512
trans=164
fill=yes
eventCode=flag22

[com_200]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_201]
type=Rectangle
buttonType=Button
x=3
y=120
width=425
height=59
layerId=30605514
trans=164
fill=yes
eventCode=flag22

[com_202]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_203]
type=Rectangle
buttonType=Button
x=3
y=182
width=425
height=59
layerId=30605516
trans=164
fill=yes
eventCode=flag22

[com_204]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_205]
type=Rectangle
buttonType=Button
x=3
y=244
width=425
height=59
layerId=30605518
trans=164
fill=yes
eventCode=flag22

[com_206]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_207]
type=Rectangle
buttonType=Button
x=3
y=306
width=425
height=59
layerId=30605520
trans=164
fill=yes
eventCode=flag22

[com_208]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_209]
type=Rectangle
buttonType=Button
x=3
y=368
width=425
height=59
layerId=30605522
trans=164
fill=yes
eventCode=flag22

[com_210]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_211]
type=Rectangle
buttonType=Button
x=3
y=430
width=425
height=59
layerId=30605524
trans=164
fill=yes
eventCode=flag22

[com_212]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_213]
type=Rectangle
buttonType=Button
x=3
y=492
width=425
height=59
layerId=30605526
trans=164
fill=yes
eventCode=flag22

[com_214]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_215]
type=Rectangle
buttonType=Button
x=3
y=554
width=425
height=59
layerId=30605528
trans=164
fill=yes
eventCode=flag22

[com_216]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_217]
type=Rectangle
buttonType=Button
x=3
y=616
width=425
height=59
layerId=30605530
trans=164
fill=yes
eventCode=flag22

[com_218]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_219]
type=Rectangle
buttonType=Button
x=3
y=678
width=425
height=59
layerId=30605532
trans=164
fill=yes
eventCode=flag22

[com_220]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_221]
type=Rectangle
buttonType=Button
x=3
y=740
width=425
height=59
layerId=30605534
trans=164
fill=yes
eventCode=flag22

[com_222]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_223]
type=Rectangle
buttonType=Button
x=3
y=802
width=425
height=59
layerId=30605536
trans=164
fill=yes
eventCode=flag22

[com_224]
type=Layer
y=999
width=432
height=3200
layerId=30605365
hide=yes

[com_225]
type=Text
x=41
y=30
width=417
height=13
colour=0xFF981F
hAlign=Center
font=496
shadow=yes

[com_226]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_227]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_228]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_229]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_230]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_231]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_232]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_233]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_234]
type=Sprite
x=460
y=5
width=36
height=36
graphic=314

[com_235]
type=Rectangle
x=10
y=319
width=500
height=32
fill=yes
