[mainmodal_window]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[mainmodal_window_background]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[mainmodal_window_content]
type=Model
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[info_text]
type=Model
x=69
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[bg_panel]
type=Model
x=138
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[section_title]
type=Model
x=207
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[keywords_title]
type=Model
x=276
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[unlocks]
type=Model
x=345
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[unlocks_click_layer]
type=Model
x=414
y=20
width=64
height=55
modelZoom=400
discardedModelField=0

[secondary_info_text]
type=Text
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[information]
type=Text
x=69
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[replay_button]
type=Text
x=138
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[search_icon]
type=Text
x=207
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[text_input]
type=Text
x=276
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[mainmodal_window_border]
type=Text
x=345
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[mainmodal_window_close_button]
type=Text
x=414
y=16
width=64
height=78
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[text_input_clickout]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an option."
