[bespoke_window]
type=Model
x=16
y=22
width=473
height=298
model1Id=15194
modelZoom=300
modelXAn=514

[bespoke_window_background]
type=Model
x=241
y=151
width=32
height=32
model1Id=15195
modelZoom=430
modelXAn=514

[bespoke_window_content]
type=Model
buttonType=Button
x=297
y=135
width=69
height=67
model1Id=15178
model2Id=15177
modelZoom=200
modelXAn=514
buttonText="Ardougne Teleport"
eventCode=flag22
script1=lt,2
script1op1=varp,if1

[bg_graphic]
type=Model
buttonType=Button
x=381
y=136
width=71
height=66
model1Id=15180
model2Id=15179
modelZoom=200
modelXAn=514
buttonText="Bones to Bananas"
eventCode=flag22
script1=eq,0
script1op1=varp,if2

[bespoke_window_border]
type=Model
buttonType=Button
x=381
y=217
width=70
height=69
model1Id=15182
model2Id=15181
modelZoom=200
modelXAn=514
buttonText="Bones to Peaches"
eventCode=flag22
script1=lt,3
script1op1=varp,if2

[close_button_layer]
type=Model
buttonType=Button
x=298
y=217
width=67
height=67
model1Id=15184
model2Id=15183
modelZoom=200
modelXAn=514
buttonText="Camelot Teleport"
eventCode=flag22
script1=lt,2
script1op1=varp,if1

[com_6]
type=Model
buttonType=Button
x=214
y=53
width=66
height=68
model1Id=15186
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Diamond"
eventCode=flag22
script1=lt,2
script1op1=varp,if2

[com_7]
type=Model
buttonType=Button
x=48
y=214
width=66
height=68
model1Id=15188
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Dragonstone"
eventCode=flag22
script1=lt,3
script1op1=varp,if2

[com_8]
type=Model
buttonType=Button
x=49
y=132
width=66
height=66
model1Id=15189
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Emerald"
eventCode=flag22
script1=eq,0
script1op1=varp,if2

[com_9]
type=Model
buttonType=Button
x=50
y=51
width=66
height=67
model1Id=15190
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Onyx"
eventCode=flag22
script1=lt,3
script1op1=varp,if2

[com_10]
type=Model
buttonType=Button
x=130
y=214
width=67
height=68
model1Id=15191
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Ruby"
eventCode=flag22
script1=lt,2
script1op1=varp,if2

[com_11]
type=Model
buttonType=Button
x=131
y=134
width=67
height=67
model1Id=15192
model2Id=15185
modelZoom=200
modelXAn=514
buttonText="Enchant Sapphire"
eventCode=flag22

[com_12]
type=Model
buttonType=Button
x=214
y=133
width=67
height=67
model1Id=15193
model2Id=15187
modelZoom=200
modelXAn=514
buttonText="Falador Teleport"
eventCode=flag22
script1=eq,0
script1op1=varp,if1

[com_13]
type=Model
buttonType=Button
x=132
y=52
width=66
height=67
model1Id=15197
model2Id=15196
modelZoom=200
modelXAn=514
buttonText="Lumbridge Teleport"
eventCode=flag22
script1=lt,1
script1op1=varp,if1

[com_14]
type=Model
buttonType=Button
x=383
y=54
width=69
height=69
model1Id=15201
model2Id=15200
modelZoom=200
modelXAn=514
buttonText="Teleport to house"
eventCode=flag22
script1=lt,3
script1op1=varp,if1

[com_15]
type=Model
buttonType=Button
x=215
y=215
width=65
height=68
model1Id=15203
model2Id=15202
modelZoom=200
modelXAn=514
buttonText="Varrock Teleport"
eventCode=flag22

[com_16]
type=Model
buttonType=Button
x=298
y=54
width=69
height=66
model1Id=15205
model2Id=15204
modelZoom=200
modelXAn=514
buttonText="Watchtower teleport"
eventCode=flag22
script1=lt,3
script1op1=varp,if1

[com_17]
type=Sprite
x=487
y=4
width=26
height=23
overLayerId=19
graphic=535

[com_18]
type=Sprite
buttonType=Close
x=5
y=5
width=26
height=23
layerId=26214419
graphic=536
buttonText="Ok"

[com_19]
type=Layer
x=482
y=-1
width=32
height=32
hide=yes
