[jaro_reward]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512
discardedModelField=0

[jaro_points]
type=Model
x=637
y=398
width=76
height=100
model1Id=23995
modelAnim=seq_3852
modelZoom=1000
modelXAn=76
modelYAn=139
modelXOf=14
modelYOf=43
discardedModelField=0

[com_2]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[com_3]
type=Model
x=16
y=353
width=125
height=145
model1Id=32601
modelAnim=lore_cockatrice_ready
modelZoom=1200
modelXAn=76
modelYAn=1797
modelXOf=2
modelYOf=62
discardedModelField=0

[com_4]
type=Text
x=190
y=408
width=400
height=19
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[com_5]
type=Model
x=165
y=404
width=21
height=19
model1Id=24005
modelZoom=1000
modelZAn=1405
modelXOf=-9
modelYOf=-3
discardedModelField=0

[com_6]
type=Model
x=593
y=404
width=20
height=19
model1Id=24001
modelZoom=1000
modelZAn=680
modelXOf=8
modelYOf=-3
discardedModelField=0
