[content_layer]
type=Rectangle
width=600
height=400
fill=yes

[com_1]
type=Model
x=241
y=129
width=32
height=32
model1Id=4652
modelZoom=930
modelXAn=294
modelYAn=60

[com_2]
type=Model
x=258
y=136
width=32
height=32
model1Id=7016
modelZoom=948
modelXAn=274
modelYAn=70

[com_3]
type=Model
x=260
y=123
width=32
height=32
model1Id=7023
modelAnim=mini_statue_explodes
modelAnim2=mini_statue_explodes
modelZoom=1056
modelXAn=229
modelYAn=64
