[keldagrim_intro_text]
type=Layer
width=512
height=334
hide=yes

[keldagrim_rise_of_text]
type=Layer
width=512
height=334
hide=yes

[keldagrim_giant_dwarf_text]
type=Layer
width=512
height=334
hide=yes

[keldagrim_palace_text]
type=Layer
width=512
height=400
hide=yes

[keldagrim_a_little_text]
type=Layer
width=512
height=400
hide=yes

[keldagrim_rise_of_part_2]
type=Layer
width=512
height=334
hide=yes

[keldagrim_forgettable]
type=Layer
x=24
y=24
width=512
height=334
hide=yes

[com_7]
type=Text
x=184
y=103
width=176
height=21
layerId=9961474
colour=0x8B1313
hAlign=Center
lineHeight=42
font=646
shadow=yes
text="The Giant<br>Dwarf"

[layer_2]
type=Text
x=24
y=17
width=488
height=22
layerId=9961472
colour=0x990000
hAlign=Center
font=646
shadow=yes
text="Keldagrim"

[com_9]
type=Text
x=24
y=252
width=489
height=13
layerId=9961472
colour=0x990000
hAlign=Center
font=645
shadow=yes
text="Grand Capital<br> of the Dwarven realm"

[com_10]
type=Text
x=15
width=493
height=67
layerId=9961473
colour=0x990000
hAlign=Center
lineHeight=36
font=646
shadow=yes
text="Rise of the<br>Red Axe"

[com_11]
type=Text
x=150
y=259
width=227
height=16
layerId=9961473
colour=0x990000
hAlign=Center
font=646
shadow=yes
text="Part 1"

[com_12]
type=Text
x=148
y=8
width=234
height=20
layerId=9961475
colour=0x990000
hAlign=Center
lineHeight=42
font=646
shadow=yes
text="Keldagrim<br>Palace"

[com_13]
type=Text
x=122
y=116
width=285
height=13
layerId=9961475
colour=0x990000
hAlign=Center
lineHeight=23
font=645
shadow=yes
text="Consortium<br>Meeting"

[com_14]
type=Text
x=101
y=282
width=312
height=16
layerId=9961476
colour=0x990000
hAlign=Center
font=645
shadow=yes
text="A little while later"

[com_15]
type=Text
x=105
y=-5
width=302
height=16
layerId=9961477
colour=0x990000
hAlign=Center
lineHeight=42
font=646
shadow=yes
text="Rise of the<br>Red Axe"

[com_16]
type=Text
x=171
y=262
width=180
height=18
layerId=9961477
colour=0x990000
hAlign=Center
font=646
shadow=yes
text="Part II"

[com_17]
type=Text
x=76
y=98
width=309
height=55
layerId=9961478
colour=0x990000
hAlign=Center
vAlign=Center
lineHeight=33
font=646
shadow=yes
text="Forgettable Tale<br> of a<br>Drunken Dwarf"
