[ken_orange_haze_stage1]
type=Layer
width=512
height=334
hide=yes

[haze1]
type=Rectangle
width=514
height=335
layerId=46792704
trans=245
colour=0xFF9900
fill=yes

[ken_orange_haze_stage2]
type=Layer
width=512
height=334
hide=yes

[haze2]
type=Rectangle
width=514
height=335
layerId=46792706
trans=230
colour=0xFF9900
fill=yes

[ken_orange_haze_stage3]
type=Layer
width=512
height=334
hide=yes

[haze3]
type=Rectangle
width=514
height=335
layerId=46792708
trans=215
colour=0xFF9900
fill=yes

[ken_orange_haze_stage4]
type=Layer
width=512
height=334
hide=yes

[haze4]
type=Rectangle
width=514
height=335
layerId=46792710
trans=200
colour=0xFF9900
fill=yes
