[mainmodal_window]
type=Model
x=21
y=45
width=470
height=261
model1Id=9853
modelZoom=800
modelXAn=490
modelXOf=5
modelYOf=9
discardedModelField=0

[mainmodal_window_background]
type=Text
x=73
y=75
width=248
height=32
colour=0x362407
font=645
text="Dear friend,"

[mainmodal_window_content]
type=Text
x=90
y=135
width=339
height=115
colour=0x362407
font=497
text="Come and meet me at the entrance to the Legends' Guild as soon as possible. There are things I would like to discuss with you, but it is difficult to talk in Witchaven..."

[com_3]
type=Text
x=103
y=246
width=340
height=31
colour=0x362407
hAlign=Right
font=645
text="~Kent"

[messagescroll1]
type=Sprite
x=421
y=52
width=26
height=23
graphic=537
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,538
onmouseleave=44,component.parentId,537
onop=29

[messagescroll2]
type=Sprite
x=4
y=4
width=26
height=23
layerId=46661638
graphic=538

[mainmodal_window_border]
type=Layer
x=417
y=48
width=32
height=32
hide=yes
