[king_letter]
type=Model
x=243
y=138
width=35
height=35
model1Id=3032
modelZoom=650
modelXAn=400

[kings_letter_text]
type=Text
x=115
y=108
width=287
height=94
vAlign=3
font=497

[kings_letter_signature]
type=Text
x=168
y=216
width=157
height=46
hAlign=Center
font=497

[kings_seal]
type=Sprite
x=367
y=87
width=26
height=23
overLayerId=5
graphic=537

[close_button]
type=Sprite
buttonType=Close
x=2
y=7
width=26
height=23
layerId=30343173
graphic=538
buttonText="Ok"

[com_5]
type=Layer
x=365
y=80
width=32
height=32
hide=yes

[com_6]
type=Model
x=369
y=207
width=32
height=32
model1Id=3037
modelZoom=800
modelXAn=473
modelYAn=1991
