[content_layer]
type=Model
x=6
y=26
width=497
height=454
model1Id=27488
modelZoom=583
modelXAn=163
modelYAn=2047
discardedModelField=0

[bespoke_window]
type=Model
x=5
y=25
width=497
height=454
model1Id=27484
modelZoom=583
modelXAn=163
modelYAn=2047
discardedModelField=0

[kr_table_background]
type=Layer
x=106
y=-2
width=371
height=354
hide=yes

[kr_table]
type=Model
x=46
y=26
width=308
height=324
layerId=25559042
model1Id=27218
modelZoom=784
modelXAn=519
modelYAn=1534
discardedModelField=0

[kr_riddle_layer]
type=Model
x=34
y=28
width=32
height=32
model1Id=27223
modelZoom=3244
modelXAn=517
modelYAn=1530
discardedModelField=0

[kr_paper_scroll_icon]
type=Layer
x=427
y=34
width=16
height=275

[kr_scroll_bar]
type=Text
x=1
y=2
width=276
height=276
layerId=25559047
colour=0x46320A
font=497

[kr_show_riddle]
type=Layer
x=41
y=34
width=280
height=279
layerId=25559042

[box_1]
type=Text
x=4
y=6
width=94
height=71
colour=0xD2BE64
hAlign=Center
vAlign=Center
font=497
text="Show riddle"
eventCode=hasOp(1)
opName0="Show"
onmouseleave=45,component.parentId,13811300
onmouserepeat=45,component.parentId,14784543

[box_2]
type=Layer
x=23
y=117
width=54
height=56
eventCode=hasOp(1)
opName0="Select"

[box_3]
type=Layer
x=91
y=145
width=45
height=34
eventCode=hasOp(1)
opName0="Select"

[box_4]
type=Layer
x=144
y=141
width=32
height=37
eventCode=hasOp(1)
opName0="Select"

[box_5]
type=Layer
x=180
y=110
width=43
height=73
eventCode=hasOp(1)
opName0="Select"

[box_6]
type=Layer
x=230
y=143
width=40
height=32
eventCode=hasOp(1)
opName0="Select"

[box_7]
type=Layer
x=279
y=144
width=41
height=34
eventCode=hasOp(1)
opName0="Select"

[box_8]
type=Layer
x=340
y=118
width=42
height=61
eventCode=hasOp(1)
opName0="Select"

[box_9]
type=Layer
x=390
y=150
width=36
height=27
eventCode=hasOp(1)
opName0="Select"
onclick=67,25559041,27494

[kr_paper_scroll]
type=Layer
x=433
y=146
width=50
height=29
eventCode=hasOp(1)
opName0="Select"

[kr_riddle]
type=Sprite
x=479
y=7
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29
