[content_layer]
type=Rectangle
width=513
height=336
colour=0x111100
fill=yes

[bespoke_window]
type=Model
x=251
y=128
width=44
height=44
model1Id=27214
modelZoom=516
modelXAn=2031
modelYAn=123
discardedModelField=0

[kr_background1]
type=Sprite
x=464
y=24
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29

[kr_doorlock]
type=Text
x=32
y=13
width=151
height=15
colour=0x64500A
vAlign=Center
font=494
shadow=yes
text="Correct tumbler and height"

[kr_instr1]
type=Text
x=32
y=32
width=151
height=15
colour=0x64501E
vAlign=Center
font=494
shadow=yes
text="Correct height, wrong tumbler"

[kr_instr2]
type=Text
x=32
y=49
width=151
height=15
colour=0x64501E
vAlign=Center
font=494
shadow=yes
text="Wrong height, wrong tumbler"

[kr_instr5]
type=Text
x=438
y=126
width=56
height=48
colour=0x64501E
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Selected tumbler height"

[kr_instr3]
type=Text
x=379
y=133
width=32
height=32
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="0/5"
onvartransmit=170
onvartransmitlist=1051

[kr_tumbler_height]
type=Text
x=100
y=285
width=37
height=16
colour=0x64501E
font=494
shadow=yes
text="Tumbler"

[kr_tumbler_column]
type=Text
x=5
y=157
width=32
height=32
colour=0x64501E
font=494
shadow=yes
text="Guess"

[kr_guess_column]
type=Rectangle
x=55
y=80
width=125
height=175
trans=200
colour=0xB1B192
fill=yes
baseOpName="rr"

[com_11]
type=Rectangle
x=11
y=8
width=174
height=62
trans=200
colour=0xB1B192
fill=yes
baseOpName="rr"

[com_12]
type=Model
x=371
y=48
width=52
height=77
model1Id=27216
modelZoom=600
discardedModelField=0
eventCode=hasOp(1)
opName0="Up"

[kr_arrow_up]
type=Model
x=371
y=178
width=52
height=72
model1Id=27216
modelZoom=600
modelZAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Down"

[kr_arrow_down]
type=Text
x=331
y=269
width=98
height=34
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Try Lock"
eventCode=hasOp(1)
opName0="Check"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,6574110

[kr_check_btn]
type=Text
x=62
y=251
width=15
height=24
colour=0x64501E
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="1"

[kr_tumb_col_1]
type=Text
x=94
y=251
width=15
height=24
colour=0x645000
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="2"

[kr_tumb_col_2]
type=Text
x=126
y=251
width=15
height=24
colour=0x64501E
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="3"

[kr_tumb_col_3]
type=Text
x=158
y=251
width=15
height=24
colour=0x64501E
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="4"

[kr_tumb_col_4]
type=Text
x=228
y=222
width=72
height=17
colour=0x64501E
font=494
shadow=yes
text="Select a tumbler"

[kr_instr4]
type=Text
x=218
y=238
width=20
height=30
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="1"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=169,1,component.parentId

[kr_tumb_1]
type=Text
x=241
y=238
width=20
height=30
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="2"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=169,2,component.parentId

[kr_tumb_2]
type=Text
x=265
y=238
width=20
height=30
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="3"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=169,3,component.parentId

[kr_tumb_3]
type=Text
x=290
y=238
width=20
height=30
colour=0x64501E
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="4"
eventCode=hasOp(1)
opName0="Select"
onmouseover=45,component.parentId,16777215
onmouseleave=169,4,component.parentId

[kr_tumb_4]
type=Model
x=62
y=233
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_1]
type=Model
x=94
y=233
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_1]
type=Model
x=126
y=233
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_1]
type=Model
x=158
y=233
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_1]
type=Model
x=62
y=217
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_2]
type=Model
x=94
y=217
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_2]
type=Model
x=126
y=217
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_2]
type=Model
x=158
y=217
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_2]
type=Model
x=62
y=201
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_3]
type=Model
x=94
y=201
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_3]
type=Model
x=126
y=201
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_3]
type=Model
x=158
y=201
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_3]
type=Model
x=62
y=185
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_4]
type=Model
x=94
y=185
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_4]
type=Model
x=126
y=185
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_4]
type=Model
x=158
y=185
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_4]
type=Model
x=62
y=169
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_5]
type=Model
x=94
y=169
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_5]
type=Model
x=126
y=169
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_5]
type=Model
x=158
y=169
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_5]
type=Model
x=62
y=153
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_6]
type=Model
x=94
y=153
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_6]
type=Model
x=126
y=153
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_6]
type=Model
x=158
y=153
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_6]
type=Model
x=62
y=137
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_7]
type=Model
x=94
y=137
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_7]
type=Model
x=126
y=137
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_7]
type=Model
x=158
y=137
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_7]
type=Model
x=62
y=121
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_8]
type=Model
x=94
y=121
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_8]
type=Model
x=126
y=121
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_8]
type=Model
x=158
y=121
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_8]
type=Model
x=62
y=105
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_9]
type=Model
x=94
y=105
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_9]
type=Model
x=126
y=105
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_9]
type=Model
x=158
y=105
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_9]
type=Model
x=62
y=89
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_1_10]
type=Model
x=94
y=89
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_2_10]
type=Model
x=126
y=89
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_3_10]
type=Model
x=158
y=89
width=16
height=16
modelZoom=1500
discardedModelField=0

[kr_chart_4_10]
type=Model
x=14
y=12
width=16
height=16
model1Id=27217
modelZoom=1500
modelXAn=554
discardedModelField=0

[kr_key_1]
type=Model
x=14
y=30
width=16
height=16
model1Id=27215
modelZoom=1500
modelXAn=554
discardedModelField=0

[kr_key_2]
type=Model
x=14
y=48
width=16
height=16
model1Id=27221
modelZoom=1500
modelXAn=554
discardedModelField=0
