[com_0]
type=Model
x=-32
y=81
width=583
height=569
model1Id=27225
modelZoom=960
modelXAn=185
discardedModelField=0

[layer_1]
type=Model
x=-32
y=81
width=583
height=569
model1Id=27226
modelAnim=kr_cam_knights_pyramid_climb
modelZoom=960
modelXAn=185
discardedModelField=0

[com_2]
type=Model
x=-32
y=81
width=583
height=569
model1Id=27224
modelAnim=kr_cam_knights_pyramid_climb
modelZoom=960
modelXAn=185
discardedModelField=0

[com_3]
type=Model
x=-32
y=81
width=583
height=569
model1Id=27227
modelAnim=kr_cam_knights_pyramid_climb
modelZoom=960
modelXAn=185
discardedModelField=0
