[com_0]
type=Model
x=391
y=61
width=97
height=90
model1Id=9745
modelZoom=190
modelXAn=498

[mirror_layer]
type=Model
x=-4
y=-6
width=97
height=90
layerId=11862023
model1Id=9743
modelZoom=190
modelXAn=510
modelYAn=762

[mirror_model_1]
type=Model
x=-9
y=-5
width=97
height=90
layerId=11862024
model1Id=9743
modelZoom=190
modelXAn=514
modelYAn=1241

[mirror_rotate]
type=Model
x=-8
y=-2
width=98
height=84
layerId=11862025
model1Id=9744
modelZoom=206
modelXAn=495
modelYAn=512

[com_4]
type=Model
x=-3
y=-5
width=96
height=84
layerId=11862026
model1Id=9744
modelZoom=206
modelXAn=521
modelYAn=1024

[layer_1]
type=Model
x=-7
width=96
height=85
layerId=11862027
model1Id=9744
modelZoom=206
modelXAn=416
modelYAn=1536

[layer_2]
type=Model
x=-11
y=-4
width=98
height=83
layerId=11862028
model1Id=9744
modelZoom=206
modelXAn=495

[layer_3]
type=Layer
x=396
y=66
width=82
height=83
hide=yes

[layer_4]
type=Layer
x=399
y=65
width=82
height=83
hide=yes

[n]
type=Layer
x=398
y=63
width=82
height=83
hide=yes

[s]
type=Layer
x=395
y=67
width=82
height=83
hide=yes

[e]
type=Layer
x=397
y=65
width=82
height=83
hide=yes

[w]
type=Layer
x=397
y=71
width=82
height=83
hide=yes

[close_button]
type=Sprite
x=472
y=12
width=26
height=23
overLayerId=17
graphic=539

[com_14]
type=Rectangle
buttonType=Pause
x=381
y=171
width=119
height=45
colour=0x858009
fill=yes
eventCode=pauseButton

[com_15]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=11862033
graphic=540
buttonText="Ok"

[com_16]
type=Text
x=385
y=172
width=112
height=42
colour=0xFFFF00
colourOver=0xFFFFFF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Rotate mirror."

[com_17]
type=Layer
x=469
y=8
width=32
height=32
hide=yes
