[blackout_layer]
type=Rectangle
x=-2
width=514
height=334
colour=0x404640
fill=yes
onvartransmit=964
ontimer=965,48103425,48103426,48103427,48103428,48103429,48103430,48103431,48103432,48103433,48103434,48103435,48103436,48103437,48103438,48103439,48103445,48103446
onvartransmitlist=816

[com_1]
type=Model
x=-94
y=-13
width=258
height=364
model1Id=16240
modelZoom=1000
modelXOf=53
modelYOf=-3
discardedModelField=0

[main_holder]
type=Model
x=49
y=166
width=70
height=89
model1Id=16243
modelZoom=1000
modelXOf=4
modelYOf=-44
discardedModelField=0

[background]
type=Model
x=7
y=124
width=82
height=84
model1Id=16247
modelZoom=1000
modelXOf=40
discardedModelField=0

[border]
type=Model
x=47
y=76
width=74
height=91
model1Id=16251
modelZoom=1000
modelXOf=4
modelYOf=45
discardedModelField=0

[content]
type=Model
x=72
y=150
width=32
height=32
model1Id=16255
modelZoom=1000
discardedModelField=0

[cancel_button_layer]
type=Model
x=242
y=150
width=32
height=32
model1Id=16240
modelZoom=1000
discardedModelField=0

[proceed_button_layer]
type=Model
x=217
y=166
width=74
height=91
model1Id=16259
modelZoom=1000
modelXOf=4
modelYOf=-45
discardedModelField=0

[warning_text]
type=Model
x=242
y=150
width=32
height=32
model1Id=16263
modelZoom=1000
discardedModelField=0

[close_button]
type=Model
x=216
y=86
width=84
height=81
model1Id=16267
modelZoom=1000
modelYOf=40
discardedModelField=0

[com_10]
type=Model
x=242
y=150
width=32
height=32
model1Id=16271
modelZoom=1000
discardedModelField=0

[com_11]
type=Model
x=243
y=-13
width=258
height=364
model1Id=16240
modelZoom=1000
modelXOf=53
modelYOf=-3
discardedModelField=0

[com_12]
type=Model
x=384
y=166
width=74
height=91
model1Id=16275
modelZoom=1000
modelXOf=4
modelYOf=-45
discardedModelField=0

[com_13]
type=Model
x=409
y=150
width=32
height=32
model1Id=16279
modelZoom=1000
discardedModelField=0

[com_14]
type=Model
x=409
y=150
width=32
height=32
model1Id=33844
modelZoom=1000
discardedModelField=0

[com_15]
type=Model
x=409
y=150
width=32
height=32
model1Id=16283
modelZoom=1000
discardedModelField=0

[com_16]
type=Model
x=27
y=174
width=465
height=75
model1Id=16236
modelZoom=1000
modelXAn=1952
modelXOf=-1
modelYOf=-38
discardedModelField=0

[com_17]
type=Model
x=242
y=34
width=32
height=32
model1Id=10119
modelZoom=680
modelXAn=514
discardedModelField=0

[com_18]
type=Model
x=242
y=265
width=32
height=32
model1Id=10119
modelZoom=600
modelXAn=514
discardedModelField=0

[com_19]
type=Sprite
x=455
y=21
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29

[com_20]
type=Text
x=186
y=27
width=142
height=45
colour=0x402000
hAlign=Center
vAlign=Center
font=497
text="Choose a combination"

[com_21]
type=Text
x=172
y=254
width=169
height=53
colour=0x402000
hAlign=Center
vAlign=Center
font=497
text="Teleport to this location"
eventCode=hasOp(1)
opName0="Teleport"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,4202496

[com_22]
type=Text
x=172
y=254
width=169
height=53
hide=yes
colour=0x402000
hAlign=Center
vAlign=Center
font=497
text="Teleport to this location"
eventCode=hasOp(1)
opName0="Teleport"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,4202496

[com_23]
type=Layer
x=86
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate clockwise"
onop=962,48103425

[com_24]
type=Layer
x=3
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate anticlockwise"
onop=963,48103425

[com_25]
type=Layer
x=256
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate clockwise"
onop=962,48103430

[com_26]
type=Layer
x=173
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate anticlockwise"
onop=963,48103430

[com_27]
type=Layer
x=425
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate clockwise"
onop=962,48103435

[com_28]
type=Layer
x=342
y=85
width=83
height=166
eventCode=hasOp(1)
opName0="Rotate anticlockwise"
onop=963,48103435
