[com_0]
type=Text
x=7
y=38
width=179
height=112
colour=0xFF981F
hAlign=Center
vAlign=Center
lineHeight=18
font=495
shadow=yes
text="When you have finished playing<br>RuneScape, always use the<br>button below to logout safely."

[com_1]
type=Sprite
x=74
y=153
width=36
height=36
graphic=177

[com_2]
type=Sprite
x=48
y=153
width=36
height=36
graphic=177

[com_3]
type=Sprite
x=22
y=153
width=36
height=36
graphic=177

[com_4]
type=Sprite
x=104
y=153
width=36
height=36
graphic=178

[com_5]
type=Sprite
x=130
y=153
width=36
height=36
graphic=178

[com_6]
type=Text
buttonType=Button
clientCode=205
x=25
y=154
width=141
height=36
colour=0xF7F0DF
colourOver=0xFF0000
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Click here to logout"
eventCode=flag22
