[window]
type=Text
x=171
y=3
width=132
height=18
colour=0xAA0000
hAlign=Center
font=497
text="Pick a Puppy"

[bulldog]
type=Sprite
x=304
y=5
width=57
height=13
graphic=301

[dalmation]
type=Sprite
x=111
y=5
width=57
height=13
graphic=302

[greyhound]
type=Model
x=119
y=29
width=39
height=37
layerId=43778057
model1Id=30551
modelZoom=325
modelXAn=42
modelYAn=1897
modelXOf=4
modelYOf=2
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Bulldog",25,50

[terrier]
type=Model
x=181
y=28
width=48
height=41
layerId=43778057
model1Id=30542
modelZoom=250
modelXAn=75
modelYAn=1885
modelXOf=8
modelYOf=4
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Dalmation",25,50

[sheepdog]
type=Model
x=250
y=32
width=49
height=34
layerId=43778057
model1Id=30547
modelZoom=225
modelXAn=45
modelYAn=1879
modelXOf=8
modelYOf=7
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Greyhound",25,50

[labrador]
type=Model
x=312
y=27
width=44
height=43
layerId=43778057
model1Id=30561
modelZoom=400
modelXAn=36
modelYAn=1897
modelYOf=2
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Terrier",25,50

[background]
type=Model
x=375
y=24
width=48
height=45
layerId=43778057
model1Id=30557
modelZoom=400
modelXAn=39
modelYAn=1918
modelXOf=9
modelYOf=2
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Sheepdog",25,50

[content]
type=Model
x=53
y=28
width=46
height=37
layerId=43778057
model1Id=30564
modelZoom=375
modelXAn=2041
modelYAn=1885
modelXOf=8
modelYOf=5
discardedModelField=0
eventCode=hasOp(1)
opName0="Pick me"
onmouseleave=40,43778058
onmouserepeat=38,component.parentId,43778058,"Labrador",25,50

[bounding_box]
type=Layer
width=506
height=129

[border]
type=Layer
width=506
height=129
