[lore_chathead]
type=Rectangle
x=8
y=28
width=173
height=111
trans=200
fill=yes

[contents]
type=Rectangle
x=14
y=31
width=161
height=105
trans=200
fill=yes

[bespoke_window]
type=Rectangle
x=24
y=36
width=143
height=95
trans=200
fill=yes

[lore_name]
type=Model
x=85
y=70
width=32
height=32
modelZoom=760
modelXAn=2033
modelYAn=1833
discardedModelField=0
onvartransmit=819
onvartransmitlist=1174

[cat_bounding_box]
type=Sprite
x=5
y=25
width=32
height=32
graphic=856

[call]
type=Sprite
x=37
y=12
width=116
height=32
graphic=851
tiling=yes
baseOpName=" "

[dismiss]
type=Sprite
x=152
y=25
width=32
height=32
graphic=857

[call_animal_button]
type=Sprite
x=167
y=57
width=32
height=53
graphic=852
tiling=yes

[com_8]
type=Sprite
x=152
y=110
width=32
height=32
graphic=859

[size_icon]
type=Sprite
x=37
y=126
width=115
height=32
graphic=851
tiling=yes

[size_percentage]
type=Sprite
x=5
y=110
width=32
height=32
graphic=858

[hunger_icon]
type=Sprite
x=-9
y=57
width=32
height=53
graphic=852
tiling=yes

[hunger]
type=Sprite
x=-1
y=169
width=32
height=47
graphic=1075
tiling=yes

[bespoke_window_background]
type=Sprite
x=13
y=153
width=164
height=32
graphic=1074
tiling=yes

[bespoke_window_content]
type=Sprite
x=164
y=169
width=32
height=47
graphic=1075
tiling=yes

[bespoke_window_border]
type=Sprite
x=12
y=199
width=165
height=32
graphic=1074
tiling=yes

[dismiss_button]
type=Sprite
x=126
y=173
width=25
height=25
layerId=43450395
graphic=1177
onmouseleave=40,43450394
onmouserepeat=38,component.parentId,43450394,"Pet Size Percentage",25,300

[com_17]
type=Text
x=126
y=200
width=32
height=15
layerId=43450395
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="100%"
onmouseleave=40,43450394
onvartransmit=820
onmouserepeat=38,component.parentId,43450394,"Pet Size Percentage",25,300
onvartransmitlist=1175

[com_18]
type=Sprite
x=31
y=173
width=25
height=25
layerId=43450395
graphic=1176
onmouseleave=40,43450394
onmouserepeat=38,component.parentId,43450394,"Pet Hunger Percentage",25,300

[com_19]
type=Text
x=27
y=200
width=32
height=15
layerId=43450395
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="9999"
onmouseleave=40,43450394
onmouserepeat=38,component.parentId,43450394,"Pet Hunger Percentage",25,300

[com_20]
type=Layer
x=23
y=218
width=38
height=38
layerId=43450395
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_21]
type=Sprite
x=29
y=225
width=25
height=25
layerId=43450395
graphic=1179
eventCode=hasOp(1)
opName0="Call Cat"
onmouseleave=40,43450394
onmouserepeat=38,component.parentId,43450394,"Call Button",25,300

[com_22]
type=Layer
x=129
y=218
width=38
height=38
layerId=43450395
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_23]
type=Sprite
x=137
y=225
width=25
height=25
layerId=43450395
graphic=1181
eventCode=hasOp(1)
opName0="Dismiss Cat"
onmouseleave=40,43450394
onmouserepeat=38,component.parentId,43450394,"Dismiss Button",25,300

[com_24]
type=Sprite
x=13
y=145
width=166
height=20
graphic=1196

[com_25]
type=Text
x=13
y=143
width=165
height=22
colour=0xCC9900
hAlign=Center
vAlign=Center
font=496

[com_26]
type=Layer
width=189
height=260
layerId=43450395

[com_27]
type=Layer
width=190
height=261
