[bobdump]
type=Rectangle
x=74
y=24
width=371
height=305
trans=200
fill=yes

[bobgive]
type=Sprite
x=71
y=24
width=362
height=300
graphic=297
tiling=yes

[confirm_drop_text]
type=Sprite
x=57
y=52
width=32
height=241
graphic=821
tiling=yes
baseOpName=" "

[com_3]
type=Sprite
x=70
y=19
width=32
height=32
graphic=824

[confirm_drop_graphic]
type=Sprite
x=420
y=50
width=32
height=243
graphic=823
tiling=yes

[com_5]
type=Sprite
x=101
y=6
width=307
height=34
graphic=820
tiling=yes

[info_holder_active]
type=Sprite
x=102
y=305
width=306
height=32
graphic=822
tiling=yes

[inv_root]
type=Sprite
x=70
y=293
width=32
height=32
graphic=826

[com_8]
type=Sprite
x=408
y=19
width=32
height=32
graphic=825

[info_holder_inactive]
type=Sprite
x=408
y=293
width=32
height=32
graphic=827

[lore_bob_inv_root]
type=Sprite
x=81
y=34
width=349
height=32
graphic=828
tiling=yes

[mainmodal_window]
type=Sprite
x=70
y=36
width=32
height=32
graphic=829

[mainmodal_window_background]
type=Sprite
x=408
y=36
width=32
height=32
graphic=830

[mainmodal_window_content]
type=Sprite
x=413
y=29
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
onclick=29

[bob_inv_holder]
type=Text
x=147
y=28
width=234
height=13
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Familiar Inventory"

[player_inv_holder]
type=Model
x=12
y=-1
modelZoom=400
modelXAn=1874
modelYAn=559
discardedModelField=0

[bob_icon_layer]
type=Sprite
x=77
y=87
width=324
height=32
trans=120
graphic=1074
tiling=yes

[confirm_drop_item_layer]
type=Sprite
x=77
y=141
width=324
height=32
trans=120
graphic=1074
tiling=yes

[com_18]
type=Sprite
x=77
y=195
width=324
height=32
trans=120
graphic=1074
tiling=yes

[base_layer]
type=Sprite
x=76
y=249
width=324
height=32
trans=120
graphic=1074
tiling=yes

[content_panel_blue]
type=Sprite
x=116
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[modal_dialog_window_content]
type=Sprite
x=170
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[mainmodal_window_border]
type=Sprite
x=224
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[mainmodal_window_close_button]
type=Sprite
x=278
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[lore_bob_inv_oplayer]
type=Sprite
x=332
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[lore_bob_inv_scroll_layer]
type=Sprite
x=386
y=53
width=32
height=264
trans=120
graphic=1075
tiling=yes

[lore_bob_inv_slotlayer]
type=Model
x=12
y=-14
modelZoom=400
modelXAn=1874
modelYAn=559
discardedModelField=0

[lore_bob_layer]
type=Layer
x=88
y=65
width=308
height=244

[lore_bob_inv_scrollbar]
type=Layer
x=77
y=26
width=356
height=292

[inv_oplayer]
type=Sprite
x=330
y=267
width=21
height=21
layerId=43974684
graphic=777
eventCode=hasOp(1)
opName0="Take BoB"
onmouseleave=40,43974686
onmouserepeat=38,component.parentId,43974686,"Take Beast of Burden items.",25,100

[inv_scroll_layer]
type=Layer
y=27
width=323
height=265
layerId=43974684
