[lost_tribe_book_cover]
type=Rectangle
width=512
height=388

[lost_tribe_pages]
type=Model
x=240
y=146
width=32
height=32
model1Id=6870
modelZoom=204
modelXAn=420

[com_2]
type=Model
x=238
y=153
width=32
height=32
model1Id=6871
modelZoom=204
modelXAn=420

[com_3]
type=Model
x=70
y=55
width=32
height=32
layerId=11993103
model1Id=6858
modelZoom=410
modelXAn=434
modelYAn=15

[com_4]
type=Model
x=58
y=143
width=32
height=32
layerId=11993103
model1Id=6859
modelZoom=414
modelXAn=374
modelYAn=26

[com_5]
type=Model
x=48
y=242
width=32
height=32
layerId=11993103
model1Id=6860
modelZoom=355
modelXAn=446
modelYAn=22

[com_6]
type=Model
x=412
y=54
width=32
height=32
layerId=11993103
model1Id=6861
modelZoom=428
modelXAn=333
modelYAn=19

[com_7]
type=Model
x=422
y=134
width=32
height=32
layerId=11993103
model1Id=6862
modelZoom=400
modelXAn=460
modelYAn=2035

[com_8]
type=Model
x=428
y=237
width=32
height=32
layerId=11993103
model1Id=6868
modelZoom=387
modelXAn=500

[com_9]
type=Model
x=71
y=53
width=32
height=32
layerId=11993104
model1Id=6867
modelZoom=421
modelXAn=343
modelYAn=2023

[com_10]
type=Model
x=60
y=141
width=32
height=32
layerId=11993104
model1Id=6863
modelZoom=410
modelXAn=455

[com_11]
type=Model
x=50
y=230
width=32
height=32
layerId=11993104
model1Id=6865
modelZoom=362
modelXAn=584
modelYAn=2016

[com_12]
type=Model
x=415
y=53
width=32
height=32
layerId=11993104
model1Id=6864
modelZoom=404
modelXAn=325
modelYAn=2032

[com_13]
type=Model
x=422
y=138
width=34
height=32
layerId=11993104
model1Id=6866
modelZoom=385
modelXAn=435
modelYAn=2014

[lost_tribe_symbols]
type=Model
x=429
y=235
width=32
height=32
layerId=11993104
model1Id=6869
modelZoom=424
modelXAn=604
modelYAn=15

[lost_tribe_directions]
type=Layer
width=512
height=334
hide=yes

[lost_tribe_right_arrow]
type=Layer
width=512
height=334
hide=yes

[lost_tribe_left_arrow]
type=Sprite
buttonType=Button
x=11
y=10
width=45
height=36
layerId=11993107
graphic=309
eventCode=flag22

[lost_tribe_r_arrow_layer]
type=Sprite
buttonType=Button
x=8
y=12
width=45
height=36
layerId=11993108
graphic=308
eventCode=flag22

[lost_tribe_l_arrow_layer]
type=Layer
x=349
y=282
width=63
height=52

[com_20]
type=Layer
x=107
y=279
width=63
height=52

[com_21]
type=Text
x=111
y=38
width=138
height=71
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Drogokishuun-<br>Goblins of the<br>Fierce Blades"

[com_22]
type=Text
x=103
y=113
width=148
height=88
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Huzamogaarb-<br>Live-Flesh Eaters<br>of the Chaos God"

[com_23]
type=Text
x=94
y=198
width=145
height=88
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Saragorgak-<br>Footsoldiers of<br>Holy Wrath"

[com_24]
type=Text
x=271
y=38
width=132
height=73
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Dorgeshuun-<br>Goblins of the<br>Strong Spears"

[com_25]
type=Text
x=274
y=114
width=130
height=85
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Horogothgar-<br>Eaters of<br>Manflesh"

[com_26]
type=Text
x=277
y=208
width=128
height=70
layerId=11993103
hAlign=Center
vAlign=Center
font=497
text="-Yurkolgokh-<br>The Flatulent"

[com_27]
type=Text
x=104
y=41
width=138
height=73
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Thorobshuun-<br>Goblins of the<br>Hills"

[com_28]
type=Text
x=101
y=126
width=146
height=80
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Garagorshuun-<br>Goblins of the<br>Sea"

[com_29]
type=Text
x=92
y=207
width=149
height=73
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Rekeshuun-<br>Goblins of the<br>North"

[com_30]
type=Text
x=278
y=39
width=132
height=83
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Ekeleshuun-<br>Goblins of the<br>East"

[com_31]
type=Text
x=283
y=126
width=127
height=78
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Idithuun-<br>Goblins of the<br>South"

[a_history]
type=Text
x=284
y=204
width=129
height=76
layerId=11993104
hAlign=Center
vAlign=Center
font=497
text="-Narogoshuun-<br>Goblins of the<br>West"

[lost_tribe_titles]
type=Text
x=311
y=43
width=119
height=245
layerId=11993122
colour=0x343422
hAlign=Center
font=645
text="A History of the Goblin Race"

[com_34]
type=Layer
width=512
height=388

[com_35]
type=Text
x=56
y=40
width=187
height=116
layerId=11993127
vAlign=Center
font=497
text="Goblin tradition holds that<br>their race was created by<br>a war-god in order to<br>fight a war against other<br>gods."

[com_36]
type=Text
x=54
y=159
width=191
height=131
layerId=11993127
vAlign=Center
font=497
text="(They never name their<br>god, so whether it is the<br>same as any of the gods<br>worshipped by the other<br>races is unknown.)"

[com_37]
type=Text
x=275
y=39
width=183
height=128
layerId=11993127
vAlign=Center
font=497
text="The legends also speak<br>of goblins fighting<br>against goblins during<br>the wars, so it is likely<br>that gods other than<br>their creators used<br>them as footsoldiers."

[lost_tribe_page_1]
type=Text
x=275
y=166
width=191
height=123
layerId=11993127
vAlign=Center
font=497
text="Although goblins are still<br>warlike, it is probable<br>that in earlier ages<br>they were more<br>organised than they<br>are now,"

[com_39]
type=Layer
width=512
height=388
hide=yes

[com_40]
type=Text
x=61
y=35
width=174
height=96
layerId=11993131
hAlign=Center
vAlign=Center
font=497
text="especially if they were<br>under the direct<br>command of one or<br>more gods."

[com_41]
type=Text
x=47
y=144
width=199
height=133
layerId=11993131
hAlign=Center
vAlign=Center
font=497
text="This is corroborated<br>by finds unearthed<br>at various<br>archaeological sites,<br>including the large<br>excavation east of<br>Varrock."

[lost_tribe_page_2]
type=Text
x=278
y=39
width=176
height=132
layerId=11993131
hAlign=Center
vAlign=Center
font=497
text="Armour and weapons<br>have been found,<br>obviously made to fit<br>goblins but far more<br>well-made than their<br>current equipment."

[com_43]
type=Layer
width=512
height=388
hide=yes

[com_44]
type=Text
x=60
y=43
width=184
height=235
layerId=11993135
font=497
text="Almost every piece of<br>ancient goblin equipment<br>has one of a number<br>of symbols on it,<br>and by correlating these<br>symbols with the<br>sketchy records that<br>survive from the<br>Third Age it has been<br>possible to identify<br>twelve distinct goblin tribes<br>or regiments."

[com_45]
type=Text
x=277
y=44
width=182
height=148
layerId=11993135
font=497
text="The separate identities of<br>the tribes have long<br>since dissolved and<br>no goblins remember the<br>symbols, although their<br>generals may still<br>recognize the ancient<br>tribal names."

[lost_tribe_page_3]
type=Text
x=277
y=192
width=192
height=89
layerId=11993135
font=497
text="In the following pages<br>I present a list of<br>the tribes and their<br>symbols."

[com_47]
type=Layer
width=512
height=334
hide=yes

[com_48]
type=Sprite
x=473
y=14
width=26
height=23
overLayerId=50
graphic=539

[lost_tribe_symbol__book_close]
type=Sprite
buttonType=Close
x=2
y=5
width=26
height=23
layerId=11993138
graphic=540
buttonText="Ok"

[com_50]
type=Layer
x=471
y=9
width=32
height=32
hide=yes

[com_51]
type=Text
x=285
y=161
width=139
height=74
layerId=11993122
hAlign=Center
vAlign=Center
font=495
text2="(A History<br>of the<br>Goblin race)"
