[list_header]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[listlayer]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes
baseOpName=" "

[listitem_1]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[clothes_checkbutton_1]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[goblin_checkbox_text_1]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[listitem_2]
type=Sprite
x=44
y=7
width=424
height=32
graphic=820
tiling=yes

[clothes_checkbutton_2]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes
baseOpName=" "

[goblin_checkbox_text_2]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[listitem_3]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[clothes_checkbutton_3]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[goblin_checkbox_text_3]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[listitem_4]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[clothes_checkbutton_4]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[goblin_checkbox_text_4]
type=Rectangle
y=-2
width=222
height=21
layerId=40960038
colour=0x483F33
fill=yes

[listitem_5]
type=Rectangle
y=8
width=222
height=21
layerId=40960038
colour=0x473E33
fill=yes

[clothes_checkbutton_5]
type=Rectangle
y=18
width=222
height=21
layerId=40960038
colour=0x463D32
fill=yes

[goblin_checkbox_text_5]
type=Rectangle
y=28
width=222
height=21
layerId=40960038
colour=0x453C32
fill=yes

[listitem_6]
type=Rectangle
y=38
width=222
height=21
layerId=40960038
colour=0x443B31
fill=yes

[clothes_checkbutton_6]
type=Rectangle
y=48
width=222
height=21
layerId=40960038
colour=0x433A31
fill=yes

[goblin_checkbox_text_6]
type=Rectangle
y=58
width=222
height=21
layerId=40960038
colour=0x423930
fill=yes

[lotg_goblin_changing_room]
type=Rectangle
y=68
width=222
height=21
layerId=40960038
colour=0x413830
fill=yes

[lotg_goblin_changing_room_background]
type=Rectangle
y=78
width=222
height=21
layerId=40960038
colour=0x40372F
fill=yes

[lotg_goblin_changing_room_content]
type=Rectangle
y=88
width=222
height=21
layerId=40960038
colour=0x3F362F
fill=yes

[left_panel_wrapper]
type=Rectangle
y=98
width=222
height=21
layerId=40960038
colour=0x3E352E
fill=yes

[left_panel_bg]
type=Rectangle
y=108
width=222
height=21
layerId=40960038
colour=0x3D342E
fill=yes

[left_panel_content]
type=Rectangle
y=118
width=222
height=21
layerId=40960038
colour=0x3C332D
fill=yes

[confirm_button]
type=Rectangle
y=128
width=222
height=21
layerId=40960038
colour=0x3B322D
fill=yes

[modelbg]
type=Rectangle
y=138
width=222
height=21
layerId=40960038
colour=0x3A312C
fill=yes

[model_bg]
type=Rectangle
y=148
width=222
height=21
layerId=40960038
colour=0x39302C
fill=yes

[lotg_goblin_changing_room_border]
type=Rectangle
y=158
width=222
height=21
layerId=40960038
colour=0x382F2B
fill=yes

[lotg_goblin_changing_room_close_button]
type=Rectangle
y=168
width=222
height=21
layerId=40960038
colour=0x372E29
fill=yes

[goblin_model1]
type=Rectangle
y=178
width=222
height=21
layerId=40960038
colour=0x362D28
fill=yes

[confirm_button_build]
type=Rectangle
y=188
width=222
height=21
layerId=40960038
colour=0x352D27
fill=yes

[confirm_button_click]
type=Rectangle
y=198
width=222
height=21
layerId=40960038
colour=0x342C26
fill=yes

[com_34]
type=Rectangle
y=208
width=222
height=21
layerId=40960038
colour=0x332B25
fill=yes

[com_35]
type=Rectangle
y=218
width=222
height=21
layerId=40960038
colour=0x322A24
fill=yes

[com_36]
type=Rectangle
y=228
width=222
height=21
layerId=40960038
colour=0x312923
fill=yes

[com_37]
type=Rectangle
y=238
width=222
height=21
layerId=40960038
colour=0x302922
fill=yes

[com_38]
type=Layer
x=240
y=68
width=222
height=238

[com_39]
type=Model
x=40
y=24
width=140
height=203
layerId=40960038
model1Id=29248
modelAnim=slice_surface_goblin_squat_ready
modelZoom=350
modelXAn=63
modelYAn=192
modelXOf=-2
modelYOf=97
orthog=yes
discardedModelField=0
onvartransmit=557
onvartransmitlist=1095

[com_40]
type=Rectangle
x=46
y=68
width=173
height=39
colour=0x3D342E
fill=yes

[com_41]
type=Line
x=44
y=66
width=176
colour=0x332B25

[com_42]
type=Line
x=44
y=108
width=176
colour=0x332B25

[com_43]
type=Line
x=220
y=66
height=41
colour=0x332B25

[com_44]
type=Line
x=44
y=66
height=41
colour=0x332B25

[com_45]
type=Text
x=57
y=74
width=154
height=31
colour=0xD0830D
font=495
shadow=yes
text="Please select your goblin from the options below:"

[com_46]
type=Rectangle
x=1
y=40
width=173
height=7
layerId=40960065
colour=0x433A31
fill=yes

[com_47]
type=Rectangle
y=47
width=173
height=10
layerId=40960065
colour=0x423930
fill=yes

[com_48]
type=Rectangle
y=57
width=173
height=10
layerId=40960065
colour=0x413830
fill=yes

[com_49]
type=Rectangle
y=67
width=173
height=10
layerId=40960065
colour=0x40372F
fill=yes

[com_50]
type=Rectangle
y=77
width=173
height=10
layerId=40960065
colour=0x3F362F
fill=yes

[com_51]
type=Rectangle
y=87
width=173
height=10
layerId=40960065
colour=0x3E352E
fill=yes

[com_52]
type=Rectangle
y=97
width=173
height=10
layerId=40960065
colour=0x3D342E
fill=yes

[com_53]
type=Rectangle
y=107
width=173
height=10
layerId=40960065
colour=0x3C332D
fill=yes

[com_54]
type=Rectangle
y=117
width=173
height=10
layerId=40960065
colour=0x3B322D
fill=yes

[com_55]
type=Rectangle
y=127
width=173
height=10
layerId=40960065
colour=0x3A312C
fill=yes

[com_56]
type=Rectangle
y=137
width=173
height=10
layerId=40960065
colour=0x39302C
fill=yes

[com_57]
type=Rectangle
y=147
width=173
height=10
layerId=40960065
colour=0x382F2B
fill=yes

[com_58]
type=Rectangle
y=157
width=173
height=10
layerId=40960065
colour=0x372E29
fill=yes

[com_59]
type=Rectangle
y=167
width=173
height=10
layerId=40960065
colour=0x362D28
fill=yes

[com_60]
type=Rectangle
y=177
width=173
height=10
layerId=40960065
colour=0x352D27
fill=yes

[com_61]
type=Rectangle
y=187
width=173
height=10
layerId=40960065
colour=0x342C26
fill=yes

[com_62]
type=Rectangle
y=197
width=173
height=10
layerId=40960065
colour=0x332B25
fill=yes

[com_63]
type=Rectangle
y=207
width=173
height=10
layerId=40960065
colour=0x322A24
fill=yes

[com_64]
type=Rectangle
y=217
width=173
height=9
layerId=40960065
colour=0x312923
fill=yes

[com_65]
type=Layer
x=46
y=80
width=173
height=236

[com_66]
type=Layer
x=252
y=73
width=202
height=226

[com_67]
type=Text
x=21
y=31
width=469
height=15
colour=0xC9800D
hAlign=Center
font=496
shadow=yes
text="Select your Goblin"

[com_68]
type=Text
x=30
y=5
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 1"

[com_69]
type=Sprite
x=10
y=5
width=36
height=36
layerId=40960086
graphic=180

[com_70]
type=Layer
x=7
y=5
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 1"
opName0="Select"
onop=556,1

[com_71]
type=Text
x=30
y=30
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 2"

[com_72]
type=Sprite
x=10
y=30
width=36
height=36
layerId=40960086
graphic=180

[com_73]
type=Layer
x=7
y=30
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 2"
opName0="Select"
onop=556,2

[com_74]
type=Text
x=30
y=55
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 3"

[com_75]
type=Sprite
x=10
y=55
width=36
height=36
layerId=40960086
graphic=180

[com_76]
type=Layer
x=7
y=55
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 3"
opName0="Select"
onop=556,3

[com_77]
type=Text
x=30
y=80
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 4"

[com_78]
type=Sprite
x=10
y=80
width=36
height=36
layerId=40960086
graphic=180

[com_79]
type=Layer
x=7
y=80
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 4"
opName0="Select"
onop=556,4

[com_80]
type=Text
x=30
y=105
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 5"

[com_81]
type=Sprite
x=10
y=105
width=36
height=36
layerId=40960086
graphic=180

[com_82]
type=Layer
x=7
y=105
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 5"
opName0="Select"
onop=556,5

[com_83]
type=Text
x=30
y=130
width=124
height=16
layerId=40960086
colour=0xC9800D
font=495
shadow=yes
text="Goblin 6"

[com_84]
type=Sprite
x=10
y=130
width=36
height=36
layerId=40960086
graphic=180

[com_85]
type=Layer
x=7
y=130
width=147
height=21
layerId=40960086
eventCode=hasOp(1)
baseOpName="Goblin 6"
opName0="Select"
onop=556,6

[com_86]
type=Layer
x=46
y=120
width=173
height=183
scrollHeight=400

[com_87]
type=Layer
x=219
y=120
width=16
height=187
scrollHeight=400
onload=430

[com_88]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
onclick=29

[com_89]
type=Line
x=44
y=118
width=176
colour=0x332B25

[com_90]
type=Line
x=44
y=119
height=187
colour=0x332B25

[com_91]
type=Line
x=220
y=119
height=187
colour=0x332B25

[com_92]
type=Line
x=44
y=307
width=176
colour=0x332B25

[com_93]
type=Line
x=238
y=66
width=225
colour=0x332B25

[com_94]
type=Line
x=238
y=67
height=239
colour=0x332B25

[com_95]
type=Line
x=463
y=67
height=239
colour=0x332B25

[com_96]
type=Line
x=238
y=307
width=225
colour=0x332B25

[com_97]
type=Sprite
x=104
y=273
width=106
height=7
graphic=918
tiling=yes

[com_98]
type=Sprite
x=105
y=293
width=103
height=10
graphic=920
tiling=yes

[com_99]
type=Sprite
x=207
y=276
width=15
height=20
graphic=919
tiling=yes

[com_100]
type=Sprite
x=99
y=278
width=9
height=22
graphic=917
tiling=yes

[com_101]
type=Sprite
x=207
y=293
width=9
height=9
graphic=916

[com_102]
type=Sprite
x=207
y=273
width=9
height=9
graphic=914

[com_103]
type=Sprite
x=99
y=273
width=9
height=9
graphic=913

[com_104]
type=Sprite
x=99
y=293
width=9
height=9
graphic=915

[com_105]
type=Text
x=106
y=280
width=103
height=15
colour=0xC9800D
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Confirm"

[com_106]
type=Layer
x=99
y=273
width=117
height=29
eventCode=hasOp(1)
opName0="Confirm"
