[com_0]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[outer_1]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[middle_1]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[centre_1]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[meter1_layer]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[meter2_layer]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[meter3_layer]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[meter1plus]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[meter1minus]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[meter2plus]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[meter2minus]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[meter3plus]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[meter3minus]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[com_14]
type=Model
x=38
y=67
width=235
height=239
model1Id=29264
modelZoom=257
orthog=yes
discardedModelField=0
baseOpName=" "

[counter1]
type=Rectangle
y=90
width=15
height=90
layerId=40894480
trans=100
colour=0x3CB5BF
fill=yes

[counter2]
type=Layer
x=105
y=129
width=15
height=90

[counter3]
type=Rectangle
y=90
width=15
height=90
layerId=40894482
trans=100
colour=0x3CB5BF
fill=yes

[lotg_fairy_ring_power]
type=Layer
x=146
y=129
width=15
height=90

[lotg_fairy_ring_power_background]
type=Rectangle
y=90
width=16
height=90
layerId=40894484
trans=100
colour=0x3CB5BF
fill=yes
baseOpName="m"

[lotg_fairy_ring_power_content]
type=Layer
x=189
y=129
width=15
height=90

[meter_wrapper]
type=Rectangle
x=98
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Add"
onmouseover=69,0,40894499
onmouseleave=69,1,40894499
onvartransmit=555
onop=549
onvartransmitlist=1094

[com_22]
type=Rectangle
x=114
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Subtract"
onmouseover=69,0,40894499
onmouseleave=69,1,40894499
onop=550

[lotg_fairy_ring_power_border]
type=Rectangle
x=140
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Add"
onmouseover=69,0,40894501
onmouseleave=69,1,40894501
onop=551

[lotg_fairy_ring_power_close_button]
type=Rectangle
x=156
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Subtract"
onmouseover=69,0,40894501
onmouseleave=69,1,40894501
onop=552

[meter_1]
type=Rectangle
x=182
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Add"
onmouseover=69,0,40894503
onmouseleave=69,1,40894503
onop=553

[meter_2]
type=Rectangle
x=198
y=243
width=14
height=16
colour=0x805018
fill=yes
eventCode=hasOp(1)
opName0="Subtract"
onmouseover=69,0,40894503
onmouseleave=69,1,40894503
onop=554

[meter_3]
type=Rectangle
x=99
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[outer_ring_power_1]
type=Rectangle
x=115
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[middle_ring_power_1]
type=Rectangle
x=141
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[fairy_ring_wrapper]
type=Rectangle
x=157
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[confirm_button]
type=Rectangle
x=183
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[centre_ring_power_1]
type=Rectangle
x=199
y=244
width=12
height=14
colour=0x9E6E36
fill=yes

[confirm_button_build]
type=Model
x=99
y=109
width=113
height=149
model1Id=29267
modelZoom=257
modelXOf=-1
modelYOf=1
orthog=yes
discardedModelField=0
baseOpName=" "

[confirm_button_click]
type=Model
x=282
y=115
width=189
height=167
model1Id=29268
modelZoom=912
modelXOf=11
orthog=yes
discardedModelField=0

[meter1plus_build_icon]
type=Layer
x=-4
y=-24
width=512
height=334
hide=yes

[meter1plus_click_icon]
type=Model
x=308
y=139
width=167
height=167
layerId=40894499
model1Id=29266
modelZoom=912
orthog=yes
discardedModelField=0

[meter1minus_build_icon]
type=Layer
x=-4
y=-24
width=512
height=334
hide=yes

[meter1minus_click_icon]
type=Model
x=331
y=162
width=121
height=121
layerId=40894501
model1Id=29271
modelZoom=912
orthog=yes
discardedModelField=0

[meter2plus_build_icon]
type=Layer
x=-4
y=-24
width=512
height=334
hide=yes

[meter2plus_click_icon]
type=Model
x=358
y=189
width=67
height=67
layerId=40894503
model1Id=29270
modelZoom=912
orthog=yes
discardedModelField=0

[meter2minus_build_icon]
type=Rectangle
x=291
y=62
width=190
height=48
colour=0x3D342E
fill=yes

[meter2minus_click_icon]
type=Line
x=289
y=60
width=193
colour=0x332B25

[meter3plus_build_icon]
type=Line
x=290
y=111
width=192
colour=0x332B25
baseOpName="m"

[meter3plus_click_icon]
type=Line
x=482
y=60
height=50
colour=0x332B25

[meter3minus_build_icon]
type=Line
x=289
y=61
height=50
colour=0x332B25

[meter3minus_click_icon]
type=Text
x=19
y=30
width=474
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Fairy Ring Power Relay"

[com_47]
type=Text
x=294
y=63
width=182
height=45
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
text="Assign power to each ring in proportion to its area:"

[com_48]
type=Layer
x=97
y=242
width=16
height=18
hide=yes

[com_49]
type=Rectangle
y=1
width=16
height=16
layerId=40894512
trans=200
colour=0x9E6E3A
fill=yes

[com_50]
type=Layer
x=113
y=242
width=16
height=18
hide=yes

[com_51]
type=Rectangle
y=1
width=16
height=16
layerId=40894514
trans=200
colour=0x9E6E3A
fill=yes

[com_52]
type=Layer
x=139
y=242
width=16
height=18
hide=yes

[com_53]
type=Rectangle
y=1
width=16
height=16
layerId=40894516
trans=200
colour=0x9E6E3A
fill=yes

[com_54]
type=Layer
x=155
y=242
width=16
height=18
hide=yes

[com_55]
type=Rectangle
y=1
width=16
height=16
layerId=40894518
trans=200
colour=0x9E6E3A
fill=yes

[com_56]
type=Layer
x=181
y=242
width=16
height=18
hide=yes

[com_57]
type=Rectangle
y=1
width=16
height=16
layerId=40894520
trans=200
colour=0x9E6E3A
fill=yes

[com_58]
type=Layer
x=197
y=242
width=16
height=18
hide=yes

[com_59]
type=Rectangle
y=1
width=16
height=16
layerId=40894522
trans=200
colour=0x9E6E3A
fill=yes

[com_60]
type=Sprite
x=376
y=287
width=108
height=9
graphic=918
tiling=yes

[com_61]
type=Sprite
x=377
y=307
width=106
height=9
graphic=920
tiling=yes

[com_62]
type=Sprite
x=479
y=290
width=9
height=22
graphic=919
tiling=yes

[com_63]
type=Sprite
x=371
y=292
width=9
height=18
graphic=917
tiling=yes

[com_64]
type=Sprite
x=479
y=307
width=9
height=9
graphic=916

[com_65]
type=Sprite
x=479
y=287
width=9
height=9
graphic=914

[com_66]
type=Sprite
x=371
y=287
width=9
height=9
graphic=913

[com_67]
type=Sprite
x=371
y=307
width=9
height=9
graphic=915

[com_68]
type=Text
x=378
y=294
width=103
height=15
colour=0xC9800D
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Confirm"

[com_69]
type=Layer
x=371
y=287
width=117
height=29
eventCode=hasOp(1)
opName0="Confirm"

[com_70]
type=Text
x=107
y=261
width=13
height=17
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="0"

[com_71]
type=Text
x=148
y=261
width=13
height=17
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="0"

[com_72]
type=Text
x=190
y=261
width=13
height=17
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="0"
