[com_0]
type=Rectangle
width=515
height=335
trans=100
fill=yes

[background]
type=Model
x=310
y=80
width=32
height=32
model1Id=17212
modelZoom=1110

[com_2]
type=Model
x=328
y=210
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2520

[top_bar]
type=Model
x=328
y=210
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2520

[bottom_bar]
type=Model
x=328
y=210
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2520

[right_bar]
type=Model
x=328
y=210
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2520

[left_bar]
type=Model
x=328
y=210
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2520

[top_left]
type=Model
x=328
y=210
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2520

[top_right]
type=Model
x=328
y=210
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2520

[bottom_right]
type=Model
x=328
y=210
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2520

[bottom_left]
type=Model
x=328
y=210
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2520

[wave_count_layer]
type=Model
x=328
y=210
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2520

[gfx_box_brown_1]
type=Model
x=341
y=210
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2519

[gfx_box_blue_1]
type=Model
x=341
y=210
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2519

[waiting_layer]
type=Model
x=341
y=210
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2519

[examine_background]
type=Model
x=341
y=210
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2519

[gfx_box_brown_2]
type=Model
x=341
y=210
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2519

[gfx_box_blue_2]
type=Model
x=341
y=210
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2519

[com_18]
type=Model
x=341
y=210
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2519

[com_19]
type=Model
x=341
y=210
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2519

[top_1]
type=Model
x=341
y=210
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2519

[bottom_1]
type=Model
x=341
y=210
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2519

[right_1]
type=Model
x=327
y=277
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2522

[left_1]
type=Model
x=327
y=277
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2522

[top_2]
type=Model
x=327
y=277
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2522

[top_right_1]
type=Model
x=327
y=277
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2522

[bottom_right_1]
type=Model
x=327
y=277
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2522

[bottom_2]
type=Model
x=327
y=277
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2522

[examine_background_1]
type=Model
x=327
y=277
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2522

[npc_information]
type=Model
x=327
y=277
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2522

[close_button]
type=Model
x=327
y=277
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2522

[top_3]
type=Model
x=327
y=277
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2522

[bottom_3]
type=Model
x=341
y=277
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2521

[right_2]
type=Model
x=341
y=277
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2521

[left_2]
type=Model
x=341
y=277
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2521

[top_4]
type=Model
x=341
y=277
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2521

[top_right_2]
type=Model
x=341
y=277
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2521

[bottom_right_2]
type=Model
x=341
y=277
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2521

[bottom_4]
type=Model
x=341
y=277
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2521

[npc_name]
type=Model
x=341
y=277
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2521

[npc_model]
type=Model
x=341
y=277
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2521

[npc_model_1]
type=Model
x=341
y=277
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2521

[npc_model_2]
type=Model
x=327
y=362
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2524

[com_43]
type=Model
x=327
y=362
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2524

[com_44]
type=Model
x=327
y=362
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2524

[com_45]
type=Model
x=327
y=362
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2524

[com_46]
type=Model
x=327
y=362
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2524

[com_47]
type=Model
x=327
y=362
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2524

[com_48]
type=Model
x=327
y=362
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2524

[com_49]
type=Model
x=327
y=362
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2524

[com_50]
type=Model
x=327
y=362
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2524

[com_51]
type=Model
x=327
y=362
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2524

[com_52]
type=Model
x=341
y=362
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2523

[com_53]
type=Model
x=341
y=362
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2523

[com_54]
type=Model
x=341
y=362
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2523

[com_55]
type=Model
x=341
y=362
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2523

[com_56]
type=Model
x=341
y=362
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2523

[com_57]
type=Model
x=341
y=362
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2523

[com_58]
type=Model
x=341
y=362
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2523

[com_59]
type=Model
x=341
y=362
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2523

[com_60]
type=Model
x=341
y=362
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2523

[com_61]
type=Model
x=341
y=362
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2523

[com_62]
type=Model
x=325
y=207
width=32
height=32
model2Id=17220
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2531

[com_63]
type=Model
x=325
y=207
width=32
height=32
model2Id=17221
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2530

[com_64]
type=Model
x=325
y=209
width=32
height=32
model2Id=17216
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2532

[com_65]
type=Model
x=325
y=209
width=32
height=32
model2Id=17219
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2532

[com_66]
type=Model
x=325
y=211
width=32
height=32
model2Id=17217
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2530

[com_67]
type=Model
x=325
y=211
width=32
height=32
model2Id=17218
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2531

[com_68]
type=Model
x=326
y=275
width=32
height=32
model2Id=17220
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2534

[com_69]
type=Model
x=326
y=275
width=32
height=32
model2Id=17221
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2533

[com_70]
type=Model
x=326
y=277
width=32
height=32
model2Id=17216
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2535

[com_71]
type=Model
x=326
y=277
width=32
height=32
model2Id=17219
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2535

[com_72]
type=Model
x=326
y=278
width=32
height=32
model2Id=17217
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2533

[com_73]
type=Model
x=326
y=278
width=32
height=32
model2Id=17218
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2534

[com_74]
type=Model
x=326
y=359
width=32
height=32
model2Id=17220
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2537

[com_75]
type=Model
x=326
y=359
width=32
height=32
model2Id=17221
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2536

[com_76]
type=Model
x=326
y=361
width=32
height=32
model2Id=17216
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2538

[com_77]
type=Model
x=326
y=361
width=32
height=32
model2Id=17219
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2538

[com_78]
type=Model
x=326
y=362
width=32
height=32
model2Id=17217
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2536

[com_79]
type=Model
x=326
y=362
width=32
height=32
model2Id=17218
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2537

[com_80]
type=Model
x=311
y=92
width=32
height=32
model1Id=17213
modelZoom=1150

[com_81]
type=Model
x=3
y=3
width=32
height=32
layerId=29294674
model1Id=17224
modelZoom=1110

[com_82]
type=Layer
x=257
y=39
width=38
height=38

[com_83]
type=Model
x=3
y=3
width=32
height=32
layerId=29294676
model1Id=17224
modelZoom=1110

[com_84]
type=Layer
x=257
y=105
width=38
height=38

[com_85]
type=Model
x=3
y=3
width=32
height=32
layerId=29294678
model1Id=17224
modelZoom=1110

[com_86]
type=Layer
x=257
y=187
width=38
height=38

[com_87]
type=Rectangle
buttonType=Button
x=264
y=41
width=25
height=36
trans=255
colour=0xFFFF00
buttonText="Insert disc?"
eventCode=flag22

[com_88]
type=Rectangle
buttonType=Button
x=263
y=108
width=25
height=34
trans=255
colour=0xFFFF00
buttonText="Insert disc?"
eventCode=flag22

[com_89]
type=Rectangle
buttonType=Button
x=266
y=189
width=20
height=34
trans=255
colour=0xFFFF00
buttonText="Insert disc?"
eventCode=flag22

[com_90]
type=Rectangle
buttonType=Button
x=370
y=111
width=32
height=32
trans=255
colour=0xFFFFFF
eventCode=flag22

[com_91]
type=Rectangle
buttonType=Button
x=370
y=41
width=32
height=32
trans=255
colour=0xFFFFFF
eventCode=flag22

[com_92]
type=Rectangle
buttonType=Button
x=372
y=194
width=32
height=32
trans=255
colour=0xFFFFFF
eventCode=flag22

[com_93]
type=Model
x=80
y=210
width=32
height=32
model1Id=17187
modelZoom=350
modelXAn=245
modelYAn=128

[com_94]
type=Sprite
x=476
y=8
width=26
height=23
overLayerId=96
graphic=539

[com_95]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=29294688
overLayerId=96
graphic=540
buttonText="Ok"

[com_96]
type=Layer
x=473
y=3
width=32
height=32
hide=yes

[com_97]
type=Model
x=310
y=80
width=32
height=32
model1Id=17227
modelZoom=1110

[com_98]
type=Model
x=296
y=42
width=32
height=32
modelZoom=400

[com_99]
type=Model
x=296
y=89
width=32
height=32
modelZoom=400

[com_100]
type=Model
x=296
y=130
width=32
height=32
modelZoom=400

[com_101]
type=Model
x=295
y=174
width=32
height=32
modelZoom=400

[com_102]
type=Model
x=295
y=215
width=32
height=32
modelZoom=400

[com_103]
type=Model
x=296
y=259
width=32
height=32
modelZoom=400

[com_104]
type=Model
buttonType=Button
x=335
y=264
width=32
height=32
model1Id=17222
modelZoom=1110
modelXAn=74
modelYAn=49
buttonText="Cancel transaction"
eventCode=flag22

[com_105]
type=Model
buttonType=Button
x=370
y=238
width=32
height=32
model1Id=17225
modelZoom=1110
modelXAn=49
buttonText="Accept transaction"
eventCode=flag22

[com_106]
type=Model
x=310
y=80
width=32
height=32
model1Id=17223
modelZoom=1110

[com_107]
type=Model
x=80
y=210
width=32
height=32
modelZoom=400
