[content_panel_blue]
type=Model
x=242
y=152
width=32
height=32
model1Id=21208
modelZoom=656
modelXAn=465
modelYAn=2042

[time_layer]
type=Sprite
x=458
y=28
width=26
height=23
overLayerId=3
graphic=539

[health_layer]
type=Sprite
buttonType=Close
x=2
y=4
width=26
height=23
layerId=32768003
graphic=540
buttonText="Ok"

[oil]
type=Layer
x=456
y=24
width=32
height=32
hide=yes
