[mainmodal_window]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512
discardedModelField=0

[mainmodal_window_background]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[mainmodal_window_content]
type=Model
x=15
y=387
width=110
height=99
model1Id=29224
modelZoom=1400
modelXAn=68
modelYAn=1986
modelXOf=4
modelYOf=16
discardedModelField=0

[navbuttons]
type=Model
x=648
y=389
width=108
height=100
model1Id=29223
modelZoom=1400
modelXAn=68
modelYAn=106
modelXOf=-1
modelYOf=15
discardedModelField=0

[navbuttons_background]
type=Text
x=190
y=408
width=400
height=19
colour=0x800000
hAlign=Center
font=495
text="Message of the week"
