[content_layer1]
type=Model
x=415
y=17
width=32
height=32
model1Id=10567
modelZoom=843
modelXAn=421

[content_panel_blue]
type=Text
x=359
y=13
width=139
height=19
colour=0x9E7144
hAlign=Center
font=497
shadow=yes
text="Enchantment"

[title]
type=Text
x=360
y=33
width=99
height=23
colour=0x996600
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Pizazz Points:"

[points]
type=Text
x=460
y=38
width=28
height=12
colour=0xCC6600
font=494
shadow=yes
text="9999"

[magictrain_encha_pts]
type=Layer
x=408
y=230
width=107
height=107
hide=yes

[magictrain_encha_laycube]
type=Layer
x=408
y=229
width=106
height=110
hide=yes

[magictrain_encha_laycyl]
type=Layer
x=408
y=228
width=116
height=111
hide=yes

[magictrain_encha_laypent]
type=Layer
x=408
y=228
width=112
height=110
hide=yes

[magictrain_icosahedron]
type=Model
x=50
y=50
width=32
height=32
layerId=12779524
model1Id=10596
modelZoom=1395
modelXAn=96
modelYAn=1282

[magictrain_encha_layico]
type=Model
x=50
y=50
width=32
height=32
layerId=12779525
model1Id=10597
modelZoom=1397
modelXAn=91
modelYAn=1716

[magictrain_cylinder]
type=Model
x=50
y=50
width=32
height=32
layerId=12779526
model1Id=10605
modelZoom=1071
modelXAn=96
modelYAn=975

[magictrain_pentamid]
type=Model
x=50
y=50
width=32
height=32
layerId=12779527
model1Id=10602
modelZoom=1180
modelXAn=105
modelYAn=1907

[magictrain_cube]
type=Text
x=443
y=233
width=62
height=36
colour=0x996600
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Bonus:"
