[content_layer1]
type=Model
x=415
y=15
width=32
height=32
model1Id=10566
modelZoom=843
modelXAn=484

[content_panel_blue]
type=Text
x=368
y=5
width=124
height=24
colour=0x8CCC39
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Alchemy"

[object_1]
type=Text
x=359
y=30
width=114
height=12
colour=0x8CCC39
font=494
shadow=yes
text="Pizazz Points:"

[object_2]
type=Text
x=475
y=31
width=28
height=12
overLayerId=14
colour=0x33CC00
font=494
shadow=yes
text="9999"

[object_3]
type=Text
x=360
y=53
width=114
height=12
colour=0x339900
font=494
shadow=yes
text="Leather Boots:"

[object_4]
type=Text
x=360
y=71
width=113
height=26
colour=0x339900
vAlign=Center
font=494
shadow=yes
text="Adamant Kiteshield:"

[object_5]
type=Text
x=360
y=102
width=114
height=12
colour=0x339900
font=494
shadow=yes
text="Adamant Helm:"

[title]
type=Text
x=360
y=124
width=114
height=12
colour=0x339900
font=494
shadow=yes
text="Emerald:"

[points]
type=Text
x=360
y=143
width=114
height=21
colour=0x339900
vAlign=Center
font=494
shadow=yes
text="Rune Longsword:"

[magictrain_alchem_pts]
type=Text
x=480
y=53
width=21
height=12
colour=0x33CC00
font=494
shadow=yes
text="999"

[magictrain_alchem_cost1]
type=Text
x=479
y=79
width=21
height=12
colour=0x33CC00
font=494
shadow=yes
text="999"

[magictrain_alchem_cost2]
type=Text
x=479
y=102
width=21
height=12
colour=0x33CC00
font=494
shadow=yes
text="999"

[magictrain_alchem_cost3]
type=Text
x=480
y=124
width=21
height=12
colour=0x33CC00
font=494
shadow=yes
text="999"

[magictrain_alchem_cost4]
type=Text
x=479
y=148
width=21
height=12
colour=0x33CC00
font=494
shadow=yes
text="999"

[magictrain_alchem_cost5]
type=Layer
x=320
y=50
width=32
height=32
hide=yes

[magictrain_lay1]
type=Layer
x=320
y=74
width=32
height=32
hide=yes

[magictrain_lay2]
type=Layer
x=320
y=91
width=32
height=32
hide=yes

[com_17]
type=Layer
x=321
y=114
width=32
height=32
hide=yes

[magictrain_lay3]
type=Layer
x=320
y=128
width=32
height=32
hide=yes

[com_19]
type=Model
x=1
y=-8
width=32
height=32
layerId=12713998
model1Id=10568
modelZoom=500
modelXAn=496

[magictrain_lay4]
type=Model
y=-7
width=32
height=32
layerId=12713999
model1Id=10568
modelZoom=500
modelXAn=490

[com_21]
type=Model
y=1
width=32
height=32
layerId=12714000
model1Id=10568
modelZoom=500
modelXAn=496

[magictrain_lay5]
type=Model
x=-1
width=32
height=32
layerId=12714001
model1Id=10568
modelZoom=500
modelXAn=490

[com_23]
type=Model
y=8
width=32
height=32
layerId=12714002
model1Id=10568
modelZoom=500
modelXAn=496
