[content_layer3]
type=Model
x=415
y=17
width=32
height=32
model1Id=10567
modelZoom=843
modelXAn=427

[content_panel_blue]
type=Text
x=363
y=15
width=133
height=17
colour=0x999999
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Graveyard"

[title_text]
type=Text
x=362
y=31
width=99
height=26
colour=0x999999
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Pizazz Points:"

[points]
type=Text
x=461
y=38
width=28
height=12
colour=0xCCCCCC
font=494
shadow=yes
text="9999"

[magictrain_grave_pts]
type=Model
x=473
y=297
width=32
height=32
model1Id=10569
modelZoom=1484
modelXAn=165

[magictrain_grave_bones1]
type=Model
x=472
y=260
width=32
height=32
model1Id=10570
modelZoom=993
modelXAn=131
modelYAn=1790

[magictrain_grave_bones2]
type=Model
x=476
y=221
width=32
height=32
model1Id=10571
modelZoom=1073
modelXAn=79
modelYAn=1020

[magictrain_grave_bones3]
type=Model
x=472
y=180
width=32
height=32
model1Id=10572
modelZoom=1152
modelXAn=199
modelYAn=1727

[magictrain_grave_bones4]
type=Text
x=456
y=180
width=7
height=14
colour=0x8EAB99
font=495
shadow=yes
text="4"

[magictrain_bone_type_4]
type=Text
x=456
y=221
width=7
height=14
colour=0x707070
font=495
shadow=yes
text="3"

[magictrain_bone_type_2]
type=Text
x=456
y=260
width=8
height=14
colour=0xCCCCCC
font=495
shadow=yes
text="2"

[magictrain_bone_type_3]
type=Text
x=456
y=296
width=6
height=14
colour=0xFAFA99
font=495
shadow=yes
text="1"
