[content_layer3]
type=Model
x=415
y=17
width=32
height=32
model1Id=10567
modelZoom=843
modelXAn=421

[content_panel_blue]
type=Text
x=363
y=12
width=137
height=18
colour=0x5686C3
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Telekinetic"

[magictrain_mini_guardian]
type=Text
x=363
y=29
width=79
height=28
colour=0x4D7CB6
vAlign=Center
font=494
shadow=yes
text="Pizazz Points:"

[magictrain_maze_number]
type=Text
x=447
y=40
width=42
height=12
colour=0x66CCFF
font=494
shadow=yes
text="999999"

[magictrain_maze_number_1]
type=Model
x=469
y=308
width=32
height=32
model1Id=10588
modelZoom=1395
modelXAn=79
modelYAn=142

[title]
type=Text
x=472
y=253
width=24
height=14
colour=0x66CCFF
hAlign=Center
font=495
shadow=yes
text="999"

[points]
type=Text
x=423
y=228
width=88
height=22
colour=0x66CCFF
hAlign=Right
font=495
shadow=yes
text="Solved :"
