[map_background]
type=Sprite
x=12
y=20
width=487
height=299
graphic=297
tiling=yes

[background_layer]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[map_details]
type=Sprite
x=-3
y=49
width=36
height=241
graphic=172
tiling=yes

[ice_path]
type=Sprite
x=479
y=49
width=36
height=241
graphic=315
tiling=yes

[waterbirth_island]
type=Sprite
x=37
y=5
width=438
height=36
graphic=314
tiling=yes

[miscellania]
type=Sprite
x=37
y=299
width=438
height=36
graphic=173
tiling=yes

[etceteria]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[trollweiss_mountain]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[god_wars_dungeon]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[keldagrim_entrance]
type=Sprite
x=183
y=26
width=36
height=288
graphic=172
tiling=yes

[layer_1]
type=Sprite
x=17
y=34
width=181
height=36
graphic=314
tiling=yes

[map_return]
type=Sprite
x=26
y=265
width=25
height=30
graphic=310

[map_return_layer]
type=Sprite
x=47
y=250
width=36
height=36
graphic=314

[map_out]
type=Sprite
x=79
y=265
width=25
height=30
graphic=311

[map_out_layer]
type=Sprite
x=26
y=277
width=25
height=30
graphic=312

[content_layer]
type=Sprite
x=47
y=286
width=36
height=36
graphic=173

[com_16]
type=Sprite
x=79
y=277
width=25
height=30
graphic=313

[com_17]
type=Rectangle
x=32
y=271
width=66
height=31
fill=yes
eventCode=hasOp(1)
opName0="Close"
onop=29

[com_18]
type=Text
x=21
y=29
width=176
height=17
colour=0xFFAA44
font=496
shadow=yes
text="Draughts"

[com_19]
type=Model
x=211
y=33
width=275
height=274
model1Id=4607
modelZoom=400
modelXAn=512
discardedModelField=0

[com_20]
type=Rectangle
x=219
y=41
width=258
height=258

[com_21]
type=Text
x=43
y=58
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes

[com_22]
type=Text
x=96
y=75
width=22
height=14
colour=0xAAAAAA
hAlign=Center
font=495
shadow=yes
text="vs"

[com_23]
type=Text
x=43
y=89
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes

[com_24]
type=Text
x=32
y=271
width=66
height=30
colour=0x800000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Close"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,8388608

[com_25]
type=Model
x=20
y=58
width=20
height=19
model1Id=2434
modelZoom=1024
modelXAn=512
modelYAn=1024
discardedModelField=0

[com_26]
type=Model
x=20
y=88
width=20
height=19
model1Id=2707
modelZoom=1024
modelXAn=512
modelYAn=1024
discardedModelField=0

[com_27]
type=Text
x=23
y=157
width=169
height=27
colour=0xAAAAAA
hAlign=Center
font=496
shadow=yes

[com_28]
type=Text
x=23
y=185
width=169
height=50
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes

[com_29]
type=Layer
x=220
y=40
width=260
height=256
onload=938
onvartransmit=939
onvartransmitlist=1207
