[surround]
type=Sprite
x=12
y=20
width=487
height=299
graphic=297
tiling=yes

[com_1]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[background]
type=Sprite
x=-3
y=49
width=36
height=241
graphic=172
tiling=yes

[hands_webbed_six_blue]
type=Sprite
x=479
y=49
width=36
height=241
graphic=315
tiling=yes

[hands_webbed_four_blue]
type=Sprite
x=37
y=5
width=438
height=36
graphic=314
tiling=yes

[q1_1_blue]
type=Sprite
x=37
y=299
width=438
height=36
graphic=173
tiling=yes

[q1_2_red]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[q1_3_yellow]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[q2_1_blue]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[q2_2_blue]
type=Sprite
x=183
y=26
width=36
height=288
graphic=172
tiling=yes

[q2_3_blue]
type=Sprite
x=17
y=34
width=181
height=36
graphic=314
tiling=yes

[q2_1_red]
type=Sprite
x=26
y=265
width=25
height=30
graphic=310

[q2_2_red]
type=Sprite
x=47
y=250
width=36
height=36
graphic=314

[q2_3_red]
type=Sprite
x=79
y=265
width=25
height=30
graphic=311

[q2_1_yellow]
type=Sprite
x=26
y=277
width=25
height=30
graphic=312

[q2_2_yellow]
type=Sprite
x=47
y=286
width=36
height=36
graphic=173

[q2_3_yellow]
type=Sprite
x=79
y=277
width=25
height=30
graphic=313

[q3_1_blue]
type=Rectangle
x=32
y=271
width=66
height=31
fill=yes
eventCode=hasOp(1)
opName0="Close"
onop=29

[q3_2_blue]
type=Rectangle
x=221
y=40
width=32
height=32
colour=0x807474
fill=yes

[q3_3_blue]
type=Rectangle
x=253
y=72
width=32
height=32
colour=0x807474
fill=yes

[q3_1_red]
type=Rectangle
x=253
y=136
width=32
height=32
colour=0x807474
fill=yes

[q3_2_red]
type=Rectangle
x=285
y=104
width=32
height=32
colour=0x807474
fill=yes

[q3_3_red]
type=Rectangle
x=317
y=136
width=32
height=32
colour=0x807474
fill=yes

[q3_1_yellow]
type=Rectangle
x=349
y=168
width=32
height=32
colour=0x807474
fill=yes

[q3_2_yellow]
type=Rectangle
x=349
y=232
width=32
height=32
colour=0x807474
fill=yes

[q3_3_yellow]
type=Rectangle
x=381
y=200
width=32
height=32
colour=0x807474
fill=yes

[q4_1_blue]
type=Rectangle
x=413
y=232
width=32
height=32
colour=0x807474
fill=yes

[q4_2_blue]
type=Rectangle
x=381
y=264
width=32
height=32
colour=0x807474
fill=yes

[q4_3_blue]
type=Rectangle
x=285
y=40
width=32
height=32
colour=0x807474
fill=yes

[q4_1_red]
type=Rectangle
x=317
y=72
width=32
height=32
colour=0x807474
fill=yes

[q4_2_red]
type=Rectangle
x=349
y=104
width=32
height=32
colour=0x807474
fill=yes

[q4_3_red]
type=Rectangle
x=445
y=136
width=32
height=32
colour=0x807474
fill=yes

[q4_1_yellow]
type=Rectangle
x=381
y=136
width=32
height=32
colour=0x807474
fill=yes

[q4_2_yellow]
type=Rectangle
x=413
y=168
width=32
height=32
colour=0x807474
fill=yes

[q4_3_yellow]
type=Rectangle
x=445
y=200
width=32
height=32
colour=0x807474
fill=yes

[q5_1_blue]
type=Rectangle
x=221
y=104
width=32
height=32
colour=0x807474
fill=yes

[q5_2_blue]
type=Rectangle
x=221
y=168
width=32
height=32
colour=0x807474
fill=yes

[q5_3_blue]
type=Rectangle
x=253
y=200
width=32
height=32
colour=0x807474
fill=yes

[q5_1_red]
type=Rectangle
x=285
y=168
width=32
height=32
colour=0x807474
fill=yes

[q5_2_red]
type=Rectangle
x=317
y=200
width=32
height=32
colour=0x807474
fill=yes

[q5_3_red]
type=Rectangle
x=317
y=264
width=32
height=32
colour=0x807474
fill=yes

[q5_1_yellow]
type=Rectangle
x=253
y=264
width=32
height=32
colour=0x807474
fill=yes

[q5_2_yellow]
type=Rectangle
x=285
y=232
width=32
height=32
colour=0x807474
fill=yes

[q5_3_yellow]
type=Rectangle
x=221
y=232
width=32
height=32
colour=0x807474
fill=yes

[q6_1_blue_2arms]
type=Rectangle
x=445
y=264
width=32
height=32
colour=0x807474
fill=yes

[q6_1_blue_4arms]
type=Rectangle
x=349
y=40
width=32
height=32
colour=0x807474
fill=yes

[hands_claws_four_blue]
type=Rectangle
x=413
y=40
width=32
height=32
colour=0x807474
fill=yes

[q6_1_blue_6arms]
type=Rectangle
x=381
y=72
width=32
height=32
colour=0x807474
fill=yes

[q6_2_blue_2arms]
type=Rectangle
x=445
y=72
width=32
height=32
colour=0x807474
fill=yes

[q6_2_blue_4arms]
type=Rectangle
x=413
y=104
width=32
height=32
colour=0x807474
fill=yes

[q6_2_blue_6arms]
type=Rectangle
x=221
y=40
width=32
height=32
colour=0xFFFFFF

[q6_3_blue_2arms]
type=Rectangle
x=221
y=72
width=32
height=32
colour=0xFFFFFF

[q6_3_blue_4arms]
type=Rectangle
x=253
y=72
width=32
height=32
colour=0xFFFFFF

[q6_3_blue_6arms]
type=Rectangle
x=221
y=104
width=32
height=32
colour=0xFFFFFF

[q6_1_red_2arms]
type=Rectangle
x=317
y=136
width=32
height=32
colour=0xFFFFFF

[q6_1_red_4arms]
type=Rectangle
x=285
y=104
width=32
height=32
colour=0xFFFFFF

[q6_1_red_6arms]
type=Rectangle
x=317
y=72
width=32
height=32
colour=0xFFFFFF

[q6_2_red_2arms]
type=Rectangle
x=445
y=40
width=32
height=32
colour=0xFFFFFF

[q6_2_red_4arms]
type=Rectangle
x=413
y=232
width=32
height=32
colour=0xFFFFFF

[q6_2_red_6arms]
type=Rectangle
x=349
y=72
width=32
height=32
colour=0xFFFFFF

[q6_3_red_2arms]
type=Rectangle
x=317
y=104
width=32
height=32
colour=0xFFFFFF

[q6_3_red_4arms]
type=Rectangle
x=413
y=72
width=32
height=32
colour=0xFFFFFF

[q6_3_red_6arms]
type=Rectangle
x=445
y=72
width=32
height=32
colour=0xFFFFFF

[q6_1_yellow_2arms]
type=Rectangle
x=349
y=104
width=32
height=32
colour=0xFFFFFF

[q6_1_yellow_4arms]
type=Rectangle
x=381
y=104
width=32
height=32
colour=0xFFFFFF

[q6_1_yellow_6arms]
type=Rectangle
x=413
y=104
width=32
height=32
colour=0xFFFFFF

[q6_2_yellow_2arms]
type=Rectangle
x=445
y=104
width=32
height=32
colour=0xFFFFFF

[q6_2_yellow_4arms]
type=Rectangle
x=221
y=136
width=32
height=32
colour=0xFFFFFF

[q6_2_yellow_6arms]
type=Rectangle
x=253
y=136
width=32
height=32
colour=0xFFFFFF

[q6_3_yellow_2arms]
type=Rectangle
x=349
y=136
width=32
height=32
colour=0xFFFFFF

[q6_3_yellow_4arms]
type=Rectangle
x=381
y=136
width=32
height=32
colour=0xFFFFFF

[q6_3_yellow_6arms]
type=Rectangle
x=413
y=136
width=32
height=32
colour=0xFFFFFF

[hands_webbed_six_yellow]
type=Rectangle
x=445
y=136
width=32
height=32
colour=0xFFFFFF

[hands_webbed_four_yellow]
type=Rectangle
x=221
y=168
width=32
height=32
colour=0xFFFFFF

[hands_webbed_two_yellow]
type=Rectangle
x=253
y=104
width=32
height=32
colour=0xFFFFFF

[hands_fingers_six_yellow]
type=Rectangle
x=285
y=40
width=32
height=32
colour=0xFFFFFF

[hands_fingers_four_yellow]
type=Rectangle
x=285
y=72
width=32
height=32
colour=0xFFFFFF

[hands_fingers_two_yellow]
type=Rectangle
x=317
y=40
width=32
height=32
colour=0xFFFFFF

[hands_claws_six_yellow]
type=Rectangle
x=349
y=40
width=32
height=32
colour=0xFFFFFF

[hands_claws_four_yellow]
type=Rectangle
x=381
y=40
width=32
height=32
colour=0xFFFFFF

[hands_claws_two_yellow]
type=Rectangle
x=413
y=40
width=32
height=32
colour=0xFFFFFF

[hands_webbed_six_red]
type=Rectangle
x=253
y=168
width=32
height=32
colour=0xFFFFFF

[hands_webbed_four_red]
type=Rectangle
x=285
y=136
width=32
height=32
colour=0xFFFFFF

[hands_webbed_two_red]
type=Rectangle
x=285
y=168
width=32
height=32
colour=0xFFFFFF

[hands_fingers_six_red]
type=Rectangle
x=317
y=168
width=32
height=32
colour=0xFFFFFF

[hands_fingers_four_red]
type=Rectangle
x=349
y=168
width=32
height=32
colour=0xFFFFFF

[hands_fingers_two_red]
type=Rectangle
x=381
y=168
width=32
height=32
colour=0xFFFFFF

[hands_claws_six_red]
type=Rectangle
x=413
y=168
width=32
height=32
colour=0xFFFFFF

[hands_claws_four_red]
type=Rectangle
x=445
y=200
width=32
height=32
colour=0xFFFFFF

[hands_claws_two_red]
type=Rectangle
x=445
y=232
width=32
height=32
colour=0xFFFFFF

[hands_webbed_two_blue]
type=Rectangle
x=445
y=264
width=32
height=32
colour=0xFFFFFF

[hands_fingers_six_blue]
type=Rectangle
x=317
y=264
width=32
height=32
colour=0xFFFFFF

[hands_fingers_four_blue]
type=Rectangle
x=221
y=200
width=32
height=32
colour=0xFFFFFF

[hands_fingers_two_blue]
type=Rectangle
x=221
y=232
width=32
height=32
colour=0xFFFFFF

[hands_claws_six_blue]
type=Rectangle
x=253
y=232
width=32
height=32
colour=0xFFFFFF

[tail_fish_yellow]
type=Rectangle
x=285
y=232
width=32
height=32
colour=0xFFFFFF

[hands_claws_two_blue]
type=Rectangle
x=317
y=232
width=32
height=32
colour=0xFFFFFF

[tail_spike_yellow]
type=Rectangle
x=285
y=200
width=32
height=32
colour=0xFFFFFF

[tail_scorpion_yellow]
type=Rectangle
x=253
y=200
width=32
height=32
colour=0xFFFFFF

[tail_fish_red]
type=Rectangle
x=285
y=264
width=32
height=32
colour=0xFFFFFF

[tail_spike_red]
type=Rectangle
x=413
y=200
width=32
height=32
colour=0xFFFFFF

[tail_scorpion_red]
type=Rectangle
x=413
y=264
width=32
height=32
colour=0xFFFFFF

[tail_fish_blue]
type=Rectangle
x=349
y=264
width=32
height=32
colour=0xFFFFFF

[tail_spike_blue]
type=Rectangle
x=381
y=200
width=32
height=32
colour=0xFFFFFF

[tail_scorpion_blue]
type=Rectangle
x=381
y=232
width=32
height=32
colour=0xFFFFFF

[head_fur_yellow]
type=Rectangle
x=349
y=232
width=32
height=32
colour=0xFFFFFF

[head_spike_yellow]
type=Rectangle
x=445
y=168
width=32
height=32
colour=0xFFFFFF

[head_plain_yellow]
type=Rectangle
x=221
y=264
width=32
height=32
colour=0xFFFFFF

[head_fur_red]
type=Rectangle
x=253
y=264
width=32
height=32
colour=0xFFFFFF

[head_spike_red]
type=Rectangle
x=381
y=264
width=32
height=32
colour=0xFFFFFF

[head_plain_red]
type=Rectangle
x=349
y=200
width=32
height=32
colour=0xFFFFFF

[head_fur_blue]
type=Rectangle
x=317
y=200
width=32
height=32
colour=0xFFFFFF

[head_spike_blue]
type=Rectangle
x=253
y=40
width=32
height=32
colour=0xFFFFFF

[head_plain_blue]
type=Rectangle
x=381
y=72
width=32
height=32
colour=0xFFFFFF

[legs_eight_yellow]
type=Text
x=21
y=29
width=176
height=17
colour=0xFFAA44
font=496
shadow=yes
text="Runeversi"

[legs_four_yellow]
type=Text
x=43
y=58
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes

[legs_eight_red]
type=Text
x=96
y=75
width=22
height=14
colour=0xAAAAAA
hAlign=Center
font=495
shadow=yes
text="vs"
onload=947
onvartransmit=948
onvartransmitlist=1207

[legs_none_yellow]
type=Text
x=43
y=89
width=140
height=25
colour=0xFFAA44
font=495
shadow=yes

[legs_four_red]
type=Text
x=32
y=271
width=66
height=30
colour=0x800000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Close"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,8388608

[legs_none_red]
type=Model
x=20
y=58
width=20
height=19
model1Id=2399
modelZoom=1024
modelXAn=512
modelYAn=1024
discardedModelField=0

[legs_eight_blue]
type=Model
x=20
y=88
width=20
height=19
model1Id=2382
modelZoom=1024
modelXAn=512
modelYAn=1024
discardedModelField=0

[legs_four_blue]
type=Text
x=23
y=157
width=169
height=27
colour=0xAAAAAA
hAlign=Center
font=496
shadow=yes

[legs_none_blue]
type=Text
x=23
y=185
width=169
height=50
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes

[arms_six_yellow]
type=Sprite
x=221
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[arms_four_yellow]
type=Sprite
x=221
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[arms_two_yellow]
type=Sprite
x=221
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[arms_six_red]
type=Sprite
x=221
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[arms_four_red]
type=Sprite
x=221
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[arms_two_red]
type=Sprite
x=221
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[arms_six_blue]
type=Sprite
x=221
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[arms_four_blue]
type=Sprite
x=221
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[arms_two_blue]
type=Sprite
x=253
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[body_yellow]
type=Sprite
x=253
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[body_red]
type=Sprite
x=253
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[body_blue]
type=Sprite
x=253
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_135]
type=Sprite
x=253
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[close_button]
type=Sprite
x=253
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_137]
type=Sprite
x=253
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_138]
type=Sprite
x=253
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_139]
type=Sprite
x=285
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_140]
type=Sprite
x=285
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_141]
type=Sprite
x=285
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_142]
type=Sprite
x=285
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_143]
type=Sprite
x=285
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_144]
type=Sprite
x=285
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_145]
type=Sprite
x=285
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_146]
type=Sprite
x=285
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_147]
type=Sprite
x=317
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_148]
type=Sprite
x=317
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_149]
type=Sprite
x=317
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_150]
type=Sprite
x=317
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_151]
type=Sprite
x=317
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_152]
type=Sprite
x=317
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_153]
type=Sprite
x=317
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_154]
type=Sprite
x=317
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_155]
type=Sprite
x=349
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_156]
type=Sprite
x=349
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_157]
type=Sprite
x=349
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_158]
type=Sprite
x=349
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_159]
type=Sprite
x=349
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_160]
type=Sprite
x=349
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_161]
type=Sprite
x=349
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_162]
type=Sprite
x=349
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_163]
type=Sprite
x=381
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_164]
type=Sprite
x=381
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_165]
type=Sprite
x=381
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_166]
type=Sprite
x=381
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_167]
type=Sprite
x=381
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_168]
type=Sprite
x=381
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_169]
type=Sprite
x=381
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_170]
type=Sprite
x=381
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_171]
type=Sprite
x=413
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_172]
type=Sprite
x=413
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_173]
type=Sprite
x=413
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_174]
type=Sprite
x=413
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_175]
type=Sprite
x=413
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_176]
type=Sprite
x=413
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_177]
type=Sprite
x=413
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_178]
type=Sprite
x=413
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_179]
type=Sprite
x=445
y=264
width=36
height=32
outline=1
shadowColour=0x333333

[com_180]
type=Sprite
x=445
y=232
width=36
height=32
outline=1
shadowColour=0x333333

[com_181]
type=Sprite
x=445
y=200
width=36
height=32
outline=1
shadowColour=0x333333

[com_182]
type=Sprite
x=445
y=168
width=36
height=32
outline=1
shadowColour=0x333333

[com_183]
type=Sprite
x=445
y=136
width=36
height=32
outline=1
shadowColour=0x333333

[com_184]
type=Sprite
x=445
y=104
width=36
height=32
outline=1
shadowColour=0x333333

[com_185]
type=Sprite
x=445
y=72
width=36
height=32
outline=1
shadowColour=0x333333

[com_186]
type=Sprite
x=445
y=40
width=36
height=32
outline=1
shadowColour=0x333333

[com_187]
type=Layer
width=512
height=334
