[controller]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[com_1]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[com_2]
type=Model
x=6
y=13
width=63
height=80
modelZoom=400

[com_3]
type=Model
x=86
y=13
width=63
height=80
modelZoom=400

[com_4]
type=Model
x=166
y=13
width=63
height=80
modelZoom=400

[com_5]
type=Model
x=246
y=13
width=63
height=80
modelZoom=400

[com_6]
type=Model
x=326
y=13
width=63
height=80
modelZoom=400

[com_7]
type=Model
x=406
y=13
width=63
height=80
modelZoom=400

[com_8]
type=Text
buttonType=Button
x=1
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_9]
type=Text
buttonType=Button
x=1
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_10]
type=Text
buttonType=Button
x=1
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_11]
type=Text
buttonType=Button
x=1
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22

[com_12]
type=Text
buttonType=Button
x=80
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_13]
type=Text
buttonType=Button
x=80
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_14]
type=Text
buttonType=Button
x=80
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_15]
type=Text
buttonType=Button
x=80
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22

[com_16]
type=Text
buttonType=Button
x=158
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_17]
type=Text
buttonType=Button
x=158
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_18]
type=Text
buttonType=Button
x=158
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_19]
type=Text
buttonType=Button
x=158
y=16
width=79
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22

[com_20]
type=Text
buttonType=Button
x=236
y=16
width=83
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_21]
type=Text
buttonType=Button
x=236
y=16
width=83
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_22]
type=Text
buttonType=Button
x=236
y=16
width=83
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_23]
type=Text
buttonType=Button
x=236
y=16
width=83
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22

[com_24]
type=Text
buttonType=Button
x=318
y=16
width=80
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_25]
type=Text
buttonType=Button
x=318
y=16
width=80
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_26]
type=Text
buttonType=Button
x=318
y=16
width=80
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_27]
type=Text
buttonType=Button
x=318
y=16
width=80
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22

[com_28]
type=Text
x=8
y=3
width=461
height=17
colour=0x800000
hAlign=Center
font=497
text="What would you like to make?"

[com_29]
type=Text
buttonType=Button
x=397
y=15
width=83
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=flag22

[com_30]
type=Text
buttonType=Button
x=397
y=15
width=83
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10"
eventCode=flag22

[com_31]
type=Text
buttonType=Button
x=397
y=15
width=82
height=81
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=flag22

[com_32]
type=Text
buttonType=Button
x=397
y=15
width=82
height=80
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=flag22
