[controller]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[com_1]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[com_2]
type=Model
x=207
y=13
width=62
height=83
modelZoom=400

[com_3]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 10 sets"
eventCode=pauseButton

[com_4]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5 sets"
eventCode=pauseButton

[com_5]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1 set"
eventCode=pauseButton

[com_6]
type=Text
buttonType=Pause
width=479
height=17
colour=0x800000
hAlign=Center
font=497
text="How many would you like to make?"
eventCode=pauseButton
