[mainmodal_window]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[mainmodal_window_background]
type=Layer
x=4
y=40
width=180
height=163

[mainmodal_window_content]
type=Sprite
buttonType=Select
x=16
y=5
width=70
height=46
layerId=5636097
graphic=653
graphic2=654
buttonText="Reap"
eventCode=flag22
script1=eq,0
script1op1=varp,com_mode

[com_3]
type=Sprite
buttonType=Select
x=100
y=5
width=70
height=46
layerId=5636097
graphic=653
graphic2=654
buttonText="Chop"
eventCode=flag22
script1=eq,1
script1op1=varp,com_mode

[com_4]
type=Sprite
buttonType=Select
x=16
y=58
width=70
height=46
layerId=5636097
graphic=653
graphic2=654
buttonText="Jab"
eventCode=flag22
script1=eq,2
script1op1=varp,com_mode

[mainmodal_window_border]
type=Sprite
buttonType=Select
x=99
y=58
width=70
height=46
layerId=5636097
graphic=653
graphic2=654
buttonText="Block"
eventCode=flag22
script1=eq,3
script1op1=varp,com_mode

[com_6]
type=Sprite
x=36
y=10
width=34
height=24
layerId=5636097
graphic=272

[mainmodal_window_close_button]
type=Sprite
x=118
y=10
width=34
height=24
layerId=5636097
graphic=262

[com_8]
type=Sprite
x=36
y=63
width=34
height=24
layerId=5636097
graphic=271

[com_9]
type=Sprite
x=118
y=63
width=34
height=24
layerId=5636097
graphic=261

[com_10]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
script1op1=combat_level

[com_11]
type=Sprite
buttonType=Button
x=21
y=152
width=150
height=46
graphic=655
graphic2=656
buttonText="Auto Retaliate"
eventCode=flag22
script1=eq,0
script1op1=varp,option_nodef

[com_12]
type=Text
x=20
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Reap"

[com_13]
type=Text
x=104
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Chop"

[com_14]
type=Text
x=20
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Jab"

[com_15]
type=Text
x=103
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Block"

[com_16]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto Retaliate <br>(Off)"
text2="Auto Retaliate <br>(On)"
script1=eq,0
script1op1=varp,option_nodef

[com_17]
type=Tooltip
x=20
y=45
width=70
height=46
text="(Accurate)<br>(Slash)<br>(Attack XP)"

[com_18]
type=Tooltip
x=102
y=45
width=70
height=46
text="(Aggressive)<br>(Stab)<br>(Strength XP)"

[com_19]
type=Tooltip
x=20
y=98
width=70
height=47
text="(Aggressive)<br>(Crush)<br>(Strength XP)"

[com_20]
type=Tooltip
x=102
y=98
width=70
height=47
text="(Defensive)<br>(Slash)<br>(Defence XP)"

[com_21]
type=Tooltip
x=22
y=153
width=150
height=46
text="When active your player<br>will automatically fight<br>back if attacked"
