[fliparrow]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[leftrotate]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[rightrotate]
type=Model
x=6
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[up_button]
type=Model
x=86
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[down_button]
type=Model
x=166
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[left_button]
type=Model
x=246
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[right_button]
type=Model
x=326
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[puzzle_layer]
type=Model
x=406
y=20
width=64
height=50
modelZoom=400
discardedModelField=0

[controls_layer]
type=Text
x=1
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[modal_dialog_window]
type=Text
x=81
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_10]
type=Text
x=161
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_11]
type=Text
x=241
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_12]
type=Text
x=321
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_13]
type=Text
x=401
y=16
width=75
height=93
hAlign=Center
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[collar_bobside]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an option."
