[content_layer]
type=Sprite
buttonType=Close
x=478
y=12
width=26
height=23
overLayerId=1
graphic=535
buttonText="Ok"

[com_1]
type=Layer
x=474
y=7
width=32
height=32
hide=yes

[ms1]
type=Model
x=239
y=155
width=32
height=32
model1Id=3044
modelZoom=525

[ms2]
type=Text
x=82
y=82
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms3]
type=Text
x=82
y=98
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms4]
type=Text
x=82
y=114
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms5]
type=Text
x=82
y=131
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms6]
type=Text
x=82
y=148
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms7]
type=Text
x=82
y=165
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms8]
type=Text
x=82
y=182
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms9]
type=Text
x=82
y=199
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms10]
type=Text
x=82
y=216
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms11]
type=Text
x=82
y=233
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[ms12]
type=Text
x=82
y=250
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[com_14]
type=Text
x=82
y=267
width=354
height=14
colour=0xFF0000
hAlign=Center
font=497
shadow=yes

[com_15]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=14483457
graphic=536
buttonText="Ok"
