[layer_1]
type=Text
x=21
y=13
width=441
height=17
hAlign=Center
font=497
text="Line1"

[mes2a]
type=Text
x=21
y=45
width=442
height=18
hAlign=Center
font=497
text="Line2"

[mes2b]
type=Text
x=69
y=77
width=350
height=17
colour=0x0000FF
hAlign=Center
font=497
text="Click here to continue"
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,255
