[messcroll1]
type=Model
x=220
y=166
width=34
height=34
model1Id=11365
modelZoom=561
modelXAn=533
modelYAn=3

[messcroll2]
type=Text
x=59
y=38
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll3]
type=Text
x=59
y=54
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll4]
type=Text
x=59
y=70
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll5]
type=Text
x=59
y=87
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll6]
type=Text
x=59
y=104
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll7]
type=Text
x=59
y=121
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll8]
type=Text
x=59
y=138
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll9]
type=Text
x=59
y=155
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll10]
type=Text
x=59
y=172
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll11]
type=Text
x=59
y=189
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll12]
type=Text
x=59
y=206
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll13]
type=Text
x=59
y=223
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll14]
type=Text
x=59
y=240
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[messcroll15]
type=Text
x=59
y=257
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[mainmodal_window]
type=Text
x=59
y=274
width=375
height=14
colour=0xFFFF00
hAlign=Center
font=495

[mainmodal_window_background]
type=Sprite
x=442
y=30
width=26
height=23
overLayerId=18
graphic=537

[mainmodal_window_content]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=14417938
overLayerId=18
graphic=538
buttonText="Ok"

[com_18]
type=Layer
x=439
y=25
width=32
height=32
hide=yes
