[coffer_change_text]
type=Model
x=238
y=154
width=32
height=32
model1Id=15112
modelZoom=403
modelXAn=512

[modal_dialog_window]
type=Text
x=124
y=7
width=263
height=20
colour=0xCCAA44
hAlign=Center
font=497
shadow=yes
text="Kingdom of Miscellania"

[com_2]
type=Rectangle
x=58
width=15
height=47
layerId=25624579
colour=0x442D22
fill=yes

[info_panel]
type=Layer
x=177
y=57
width=93
height=61

[info_holder_active_5]
type=Text
x=2
y=3
width=50
height=16
layerId=25624579
colour=0xBFBC8F
hAlign=Right
font=495
shadow=yes
text="Mining"

[miscb_if_fishing_text]
type=Model
x=-21
y=14
width=49
height=40
layerId=25624579
model1Id=4624
modelZoom=1627
modelXAn=578
modelYAn=4

[info_holder_active_4]
type=Rectangle
x=119
y=75
width=16
height=54
layerId=25624583
colour=0x442D22
fill=yes

[miscb_if_wood_text]
type=Layer
y=96
width=156
height=148

[miscb_if_bg]
type=Model
x=32
y=33
width=64
height=109
layerId=25624583
model1Id=4622
modelZoom=617
modelXAn=512

[miscb_if_mining_icon]
type=Model
buttonType=Button
x=78
y=-2
width=10
height=28
layerId=25624579
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[miscb_if_mining]
type=Text
x=73
y=88
width=33
height=14
layerId=25624583
colour=0xBFBC8F
font=495
shadow=yes
text="Herbs"

[miscb_herbs_icon]
type=Model
buttonType=Button
x=78
y=24
width=13
height=25
layerId=25624579
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[info_holder_active_2]
type=Rectangle
x=61
y=40
width=9
height=4
layerId=25624579
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,misc_points_mine

[miscb_if_mining_text]
type=Rectangle
x=61
y=36
width=9
height=4
layerId=25624579
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,misc_points_mine

[miscb_flax_model]
type=Rectangle
x=61
y=32
width=9
height=4
layerId=25624579
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,misc_points_mine

[com_15]
type=Rectangle
x=61
y=28
width=9
height=4
layerId=25624579
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,misc_points_mine

[miscb_if_herbs]
type=Rectangle
x=61
y=24
width=9
height=4
layerId=25624579
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,misc_points_mine

[info_holder_active_3]
type=Rectangle
x=61
y=20
width=9
height=4
layerId=25624579
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,misc_points_mine

[miscb_if_herbs_text]
type=Rectangle
x=61
y=16
width=9
height=4
layerId=25624579
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,misc_points_mine

[miscb_if_north]
type=Rectangle
x=61
y=12
width=9
height=4
layerId=25624579
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,misc_points_mine

[miscb_if_coffers]
type=Rectangle
x=61
y=8
width=9
height=4
layerId=25624579
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,misc_points_mine

[info_holder_active]
type=Rectangle
x=61
y=4
width=9
height=4
layerId=25624579
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,misc_points_mine

[green_large_progress_layer]
type=Model
x=327
y=-2
width=57
height=71
model1Id=3039
modelZoom=1955
modelXAn=537
modelYAn=8

[withdraw_button_layer]
type=Model
x=21
y=18
width=42
height=35
model1Id=4620
modelZoom=490
modelXAn=512

[deposit_button_layer]
type=Layer
x=11
y=31
width=153
height=56

[miscb_if_wood_icon1]
type=Text
x=10
width=72
height=14
layerId=25624600
colour=0xBFBC8F
hAlign=Right
font=495
shadow=yes
text="Coffers:"

[miscb_if_wood_icon2]
type=Model
buttonType=Button
x=139
y=75
width=16
height=26
layerId=25624583
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[miscb_if_wood]
type=Model
buttonType=Button
x=139
y=100
width=16
height=30
layerId=25624583
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[miscb_if_wood_icon]
type=Rectangle
x=49
width=15
height=57
layerId=25624616
colour=0x442D22
fill=yes

[miscb_if_fishing]
type=Rectangle
x=52
y=50
width=9
height=5
layerId=25624616
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,misc_points_wood

[miscb_if_fishing_icon]
type=Rectangle
x=52
y=46
width=9
height=5
layerId=25624616
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,misc_points_wood

[miscb_if_idle]
type=Rectangle
x=52
y=40
width=9
height=6
layerId=25624616
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,misc_points_wood

[info_holder_active_1]
type=Rectangle
x=52
y=35
width=9
height=6
layerId=25624616
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,misc_points_wood

[miscb_if_idle_text]
type=Rectangle
x=52
y=30
width=9
height=5
layerId=25624616
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,misc_points_wood

[miscb_if_idle_icon1]
type=Rectangle
x=52
y=24
width=9
height=6
layerId=25624616
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,misc_points_wood

[fish_icon]
type=Rectangle
x=52
y=19
width=9
height=5
layerId=25624616
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,misc_points_wood

[fish_icon2]
type=Rectangle
x=52
y=13
width=9
height=6
layerId=25624616
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,misc_points_wood

[miscb_if_bgcopy]
type=Model
x=143
y=113
width=16
height=32
model1Id=15113
modelZoom=1450
modelXAn=512

[miscc_if_bgcopy_1]
type=Rectangle
x=52
y=7
width=9
height=6
layerId=25624616
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,misc_points_wood

[miscc_if_wood_icon_1_1]
type=Model
x=170
y=113
width=19
height=30
overLayerId=3
model1Id=15113
modelZoom=1800
modelXAn=512

[miscc_if_wood_icon2_1]
type=Layer
x=160
y=133
width=88
height=59

[miscc_if_wood_icon_1]
type=Text
x=8
width=30
height=14
layerId=25624616
colour=0xBFBC8F
font=495
shadow=yes
text="Wood"

[miscc_if_wood_icon2]
type=Model
x=158
y=129
width=34
height=43
model1Id=15113
modelZoom=1500
modelXAn=512

[miscb_if_rarewood]
type=Model
buttonType=Button
x=69
y=3
width=17
height=25
layerId=25624616
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[rarewood_back]
type=Model
buttonType=Button
x=72
y=33
width=10
height=25
layerId=25624616
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[miscb_if_rarewood_text]
type=Rectangle
x=52
y=2
width=9
height=5
layerId=25624616
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,misc_points_wood

[miscc_spade]
type=Model
x=33
y=3
width=49
height=111
layerId=25624583
model1Id=4622
modelZoom=805
modelXAn=512

[miscb_if_farm]
type=Model
width=64
height=129
layerId=25624583
model1Id=15114
modelZoom=556
modelXAn=512

[farm_back]
type=Rectangle
x=48
y=2
width=16
height=51
layerId=25624635
colour=0x442D22
fill=yes

[miscb_if_farm_text]
type=Rectangle
x=122
y=122
width=10
height=5
layerId=25624583
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,misc_points_herb

[info_panel_layer]
type=Rectangle
x=122
y=117
width=10
height=5
layerId=25624583
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,misc_points_herb

[com_51]
type=Rectangle
x=122
y=112
width=10
height=5
layerId=25624583
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,misc_points_herb

[com_52]
type=Rectangle
x=122
y=107
width=10
height=5
layerId=25624583
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,misc_points_herb

[com_53]
type=Rectangle
x=122
y=102
width=10
height=5
layerId=25624583
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,misc_points_herb

[miscb_if_mining_up]
type=Rectangle
x=122
y=97
width=10
height=5
layerId=25624583
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,misc_points_herb

[miscb_if_mining_down]
type=Rectangle
x=122
y=92
width=10
height=5
layerId=25624583
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,misc_points_herb

[miscb_if_mining_bar1]
type=Rectangle
x=122
y=87
width=10
height=5
layerId=25624583
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,misc_points_herb

[miscb_if_mining_bar2]
type=Rectangle
x=122
y=82
width=10
height=5
layerId=25624583
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,misc_points_herb

[miscb_if_mining_bar3]
type=Rectangle
x=122
y=77
width=10
height=5
layerId=25624583
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,misc_points_herb

[miscb_if_mining_bar4]
type=Layer
x=189
y=212
width=104
height=76

[miscb_if_mining_bar5]
type=Text
x=1
y=2
width=40
height=14
layerId=25624635
colour=0xBFBC8F
font=495
shadow=yes
text="Fishing"

[miscb_if_mining_bar6]
type=Model
x=246
y=259
width=34
height=43
model1Id=4621
modelZoom=900
modelXAn=512

[miscb_if_mining_bar7]
type=Model
buttonType=Button
x=70
y=-5
width=16
height=33
layerId=25624635
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[miscb_if_mining_bar8]
type=Model
buttonType=Button
x=70
y=18
width=16
height=30
layerId=25624635
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[miscb_if_mining_bar9]
type=Rectangle
x=51
y=43
width=10
height=5
layerId=25624635
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,misc_points_fish

[miscb_if_mining_bar10]
type=Rectangle
x=51
y=38
width=10
height=5
layerId=25624635
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,misc_points_fish

[miscb_if_coffers_text]
type=Rectangle
x=51
y=33
width=10
height=5
layerId=25624635
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,misc_points_fish

[miscb_coins_icon]
type=Rectangle
x=55
width=16
height=75
layerId=25624655
colour=0x442D22
fill=yes

[miscb_if_herbs_up]
type=Rectangle
x=51
y=29
width=10
height=4
layerId=25624635
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,misc_points_fish

[miscb_if_herbs_down]
type=Rectangle
x=51
y=25
width=10
height=5
layerId=25624635
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,misc_points_fish

[com_70]
type=Rectangle
x=51
y=22
width=10
height=4
layerId=25624635
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,misc_points_fish

[miscb_if_wood_bar1]
type=Rectangle
x=51
y=19
width=10
height=4
layerId=25624635
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,misc_points_fish

[miscb_if_wood_bar2]
type=Rectangle
x=51
y=14
width=10
height=5
layerId=25624635
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,misc_points_fish

[miscb_if_wood_bar3]
type=Rectangle
x=51
y=10
width=10
height=4
layerId=25624635
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,misc_points_fish

[miscb_if_wood_bar4]
type=Rectangle
x=51
y=5
width=10
height=5
layerId=25624635
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,misc_points_fish

[miscb_if_wood_bar5]
type=Rectangle
x=58
y=66
width=10
height=5
layerId=25624655
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varp,if1

[miscb_if_wood_bar6]
type=Rectangle
x=58
y=62
width=10
height=5
layerId=25624655
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varp,if1

[miscb_if_wood_bar7]
type=Rectangle
x=58
y=57
width=10
height=5
layerId=25624655
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varp,if1

[miscb_if_wood_bar8]
type=Rectangle
x=58
y=53
width=10
height=5
layerId=25624655
overLayerId=3
colour2=0xA49E78
fill=yes
script1=gt,3
script1op1=varp,if1

[miscb_if_wood_bar9]
type=Layer
x=19
y=249
width=88
height=80

[miscb_if_wood_bar10]
type=Text
x=1
y=6
width=53
height=17
layerId=25624655
colour=0xBFBC8F
hAlign=Center
font=495
shadow=yes
text="Idle"

[miscb_if_wood_up]
type=Model
y=30
width=53
height=31
layerId=25624655
model1Id=4626
modelZoom=1611
modelXAn=583
modelYAn=2012

[miscb_if_wood_down]
type=Rectangle
x=58
y=48
width=10
height=5
layerId=25624655
overLayerId=3
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varp,if1

[com_83]
type=Rectangle
x=58
y=43
width=10
height=5
layerId=25624655
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varp,if1

[miscb_if_herbs_bar1]
type=Rectangle
x=58
y=38
width=10
height=5
layerId=25624655
overLayerId=3
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varp,if1

[miscb_if_herbs_bar2]
type=Rectangle
x=58
y=34
width=10
height=5
layerId=25624655
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varp,if1

[miscb_if_herbs_bar3]
type=Rectangle
x=58
y=29
width=10
height=5
layerId=25624655
overLayerId=3
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varp,if1

[miscb_if_herbs_bar4]
type=Rectangle
x=58
y=25
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varp,if1

[miscb_if_herbs_bar5]
type=Rectangle
x=58
y=20
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,10
script1op1=varp,if1

[miscb_if_herbs_bar6]
type=Rectangle
x=58
y=15
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,11
script1op1=varp,if1

[miscb_if_herbs_bar7]
type=Rectangle
x=58
y=10
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,12
script1op1=varp,if1

[miscb_if_herbs_bar8]
type=Rectangle
x=58
y=6
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,13
script1op1=varp,if1

[miscb_if_herbs_bar9]
type=Rectangle
x=58
y=3
width=10
height=5
layerId=25624655
colour2=0xBFBC8F
fill=yes
script1=gt,14
script1op1=varp,if1

[miscb_if_herbs_bar10]
type=Text
x=89
width=72
height=14
layerId=25624600
colour=0xFFFFFF
font=495
shadow=yes
text="500,000"

[miscb_if_fishing_up]
type=Text
buttonType=Button
x=89
y=19
width=73
height=14
layerId=25624600
colour=0xFFFFFF
colourOver=0xFFFF00
font=495
shadow=yes
text="Deposit"
buttonText="Deposit"
eventCode=flag22

[miscb_if_fishing_down]
type=Text
buttonType=Button
x=89
y=34
width=72
height=14
layerId=25624600
colour=0xFFFFFF
colourOver=0xFFFF00
font=495
shadow=yes
text="Withdraw"
buttonText="Withdraw"
eventCode=flag22

[miscb_if_fishing_bar1]
type=Model
x=289
y=211
width=34
height=43
model1Id=4621
modelZoom=1500
modelXAn=512

[miscb_if_fishing_bar2]
type=Model
x=275
y=236
width=34
height=43
model1Id=4621
modelZoom=1350
modelXAn=512

[miscb_if_fishing_bar3]
type=Model
x=160
y=163
width=32
height=32
model1Id=4619
modelZoom=525
modelXAn=512

[com_99]
type=Model
buttonType=Button
x=450
y=253
width=43
height=43
model1Id=4623
modelZoom=1850
modelXAn=515
modelYAn=18
eventCode=flag22

[miscb_if_fishing_bar4]
type=Text
x=433
y=306
width=76
height=14
colour=0xBFBC8F
hAlign=Center
font=495
shadow=yes
text="Help"

[miscb_if_fishing_bar5]
type=Text
x=8
y=12
width=4
height=2
layerId=25624735
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="Deposit money in"
script1=eq,1
script1op1=varp,if2

[miscb_if_fishing_bar6]
type=Text
x=8
y=27
width=4
height=4
layerId=25624735
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="the coffers to"
script1=eq,1
script1op1=varp,if2

[miscb_if_fishing_bar7]
type=Text
x=8
y=42
width=4
height=2
layerId=25624735
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="pay your subjects"
script1=eq,1
script1op1=varp,if2

[miscb_if_fishing_bar8]
type=Text
x=8
y=57
width=4
height=2
layerId=25624735
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="and make them"
script1=eq,1
script1op1=varp,if2

[miscb_if_fishing_bar9]
type=Text
x=8
y=72
width=4
height=2
layerId=25624735
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="work harder."
script1=eq,1
script1op1=varp,if2

[miscb_if_fishing_bar10]
type=Text
x=8
y=13
width=4
height=2
layerId=25624736
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="Use the arrows to"
script1=eq,1
script1op1=varp,if2

[miscb_if_idle_bar1]
type=Text
x=8
y=28
width=4
height=2
layerId=25624736
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="adjust the amount"
script1=eq,1
script1op1=varp,if2

[miscb_if_idle_bar2]
type=Text
x=8
y=43
width=4
height=2
layerId=25624736
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="of effort your"
script1=eq,1
script1op1=varp,if2

[miscb_if_idle_bar3]
type=Text
x=8
y=58
width=4
height=2
layerId=25624736
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="subjects spend"
script1=eq,1
script1op1=varp,if2

[miscb_if_idle_bar4]
type=Text
x=8
y=73
width=4
height=2
layerId=25624736
colour=0xBFBC8F
colour2=0xBFBC8F
font=495
shadow=yes
text2="on each resource."
script1=eq,1
script1op1=varp,if2

[miscb_if_idle_bar5]
type=Text
buttonType=Button
x=6
y=39
width=36
height=12
layerId=25624635
colour=0xBFBC8F
font=494
shadow=yes
text="Cooked"
buttonText="Cooked or raw fish?"
eventCode=flag22

[miscb_if_idle_bar6]
type=Sprite
buttonType=Toggly
x=18
y=20
width=15
height=15
layerId=25624635
graphic=180
graphic2=181
buttonText="Cooked or raw fish?"
eventCode=flag22
script1=eq,1
script1op1=varbit,misc_cooked

[miscb_if_idle_bar7]
type=Model
x=478
y=187
width=32
height=32
model1Id=4619
modelZoom=625
modelXAn=512

[miscb_if_idle_bar8]
type=Model
x=371
y=173
width=32
height=32
model1Id=15116
modelZoom=1655
modelXAn=519

[miscb_if_idle_bar9]
type=Rectangle
x=70
y=1
width=15
height=47
layerId=25624715
colour=0x442D22
fill=yes

[miscb_if_idle_bar10]
type=Model
buttonType=Button
x=90
y=-1
width=10
height=28
layerId=25624715
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[miscb_if_idle_bar11]
type=Model
buttonType=Button
x=89
y=23
width=13
height=25
layerId=25624715
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[miscb_if_idle_bar12]
type=Rectangle
x=73
y=41
width=9
height=4
layerId=25624715
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,varbit_2131

[miscb_if_idle_bar13]
type=Rectangle
x=73
y=37
width=9
height=4
layerId=25624715
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,varbit_2131

[miscb_if_idle_bar14]
type=Rectangle
x=73
y=33
width=9
height=4
layerId=25624715
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,varbit_2131

[miscb_if_idle_bar15]
type=Rectangle
x=73
y=29
width=9
height=4
layerId=25624715
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,varbit_2131

[miscb_if_fishing_cookedtext]
type=Rectangle
x=73
y=25
width=9
height=4
layerId=25624715
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,varbit_2131

[miscb_if_fishing_cooked]
type=Rectangle
x=73
y=21
width=9
height=4
layerId=25624715
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,varbit_2131

[com_124]
type=Rectangle
x=73
y=17
width=9
height=4
layerId=25624715
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,varbit_2131

[miscb_if_rarewood_up]
type=Rectangle
x=73
y=13
width=9
height=4
layerId=25624715
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,varbit_2131

[miscb_if_rarewood_down]
type=Rectangle
x=73
y=9
width=9
height=4
layerId=25624715
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,varbit_2131

[miscb_if_rarewood_bar1]
type=Rectangle
x=73
y=5
width=9
height=4
layerId=25624715
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,varbit_2131

[miscb_if_rarewood_bar2]
type=Sprite
buttonType=Select
x=1
y=19
width=15
height=15
layerId=25624715
graphic=180
graphic2=181
buttonText="Mahogany, Teak or both?"
eventCode=flag22
script1=eq,0
script1op1=varbit,varbit_2133

[miscb_if_rarewood_bar3]
type=Sprite
buttonType=Select
x=1
y=34
width=15
height=15
layerId=25624715
graphic=180
graphic2=181
buttonText="Mahogany, Teak or both?"
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_2133

[miscb_if_rarewood_bar4]
type=Sprite
buttonType=Select
x=1
y=49
width=15
height=15
layerId=25624715
graphic=180
graphic2=181
buttonText="Mahogany, Teak or both?"
eventCode=flag22
script1=eq,2
script1op1=varbit,varbit_2133

[miscb_if_rarewood_bar5]
type=Text
buttonType=Button
x=17
y=20
width=50
height=12
layerId=25624715
colour=0xBFBC8F
font=494
shadow=yes
text="Mahogany"
buttonText="Mahogany, Teak or both?"
eventCode=flag22

[miscb_if_rarewood_bar6]
type=Text
buttonType=Button
x=17
y=35
width=22
height=12
layerId=25624715
colour=0xBFBC8F
font=494
shadow=yes
text="Teak"
buttonText="Mahogany, Teak or both?"
eventCode=flag22

[miscb_if_rarewood_bar7]
type=Text
buttonType=Button
x=17
y=50
width=23
height=12
layerId=25624715
colour=0xBFBC8F
font=494
shadow=yes
text="Both"
buttonText="Mahogany, Teak or both?"
eventCode=flag22

[miscb_if_rarewood_bar8]
type=Text
x=2
y=3
width=59
height=14
layerId=25624715
colour=0xBFBC8F
font=495
shadow=yes
text="Hardwood"

[miscb_if_rarewood_bar9]
type=Model
x=401
y=86
width=34
height=43
model1Id=15117
modelZoom=1800
modelXAn=512

[miscb_if_rarewood_bar10]
type=Model
x=424
y=42
width=34
height=43
model1Id=15115
modelZoom=1500
modelXAn=512

[miscb_if_rarewood_choosemahogany]
type=Model
x=420
y=68
width=34
height=43
model1Id=15117
modelZoom=1500
modelXAn=512

[miscb_if_rarewood_choosemahoganytext]
type=Model
x=370
y=22
width=34
height=43
model1Id=15115
modelZoom=1500
modelXAn=512

[miscb_if_rarewood_chooseteak]
type=Layer
x=395
y=34
width=104
height=76
hide=yes

[miscb_if_rarewood_chooseteaktext]
type=Rectangle
x=46
y=3
width=15
height=47
layerId=25624717
colour=0x442D22
fill=yes

[miscb_if_rarewood_chooseboth]
type=Layer
x=383
y=185
width=90
height=63
hide=yes

[miscb_if_rarewood_choosebothtext]
type=Text
x=14
y=3
width=27
height=14
layerId=25624717
colour=0xBFBC8F
font=495
shadow=yes
text="Farm"

[miscb_if_rarewood_disable]
type=Model
buttonType=Button
x=69
width=10
height=28
layerId=25624717
model1Id=4617
modelZoom=1995
modelXAn=512
buttonText="Add"
eventCode=flag22

[com_144]
type=Model
buttonType=Button
x=68
y=27
width=13
height=25
layerId=25624717
model1Id=4617
modelZoom=1995
modelXAn=512
modelYAn=1024
buttonText="Remove"
eventCode=flag22

[miscb_if_farm_up]
type=Rectangle
x=49
y=42
width=9
height=4
layerId=25624717
colour2=0x918F6D
fill=yes
script1=gt,0
script1op1=varbit,varbit_2132

[miscb_if_farm_down]
type=Rectangle
x=49
y=38
width=9
height=4
layerId=25624717
colour2=0x969471
fill=yes
script1=gt,1
script1op1=varbit,varbit_2132

[miscb_if_farm_bar1]
type=Rectangle
x=49
y=34
width=9
height=4
layerId=25624717
colour2=0x9C9975
fill=yes
script1=gt,2
script1op1=varbit,varbit_2132

[miscb_if_farm_bar2]
type=Rectangle
x=49
y=30
width=9
height=4
layerId=25624717
colour2=0xA19E78
fill=yes
script1=gt,3
script1op1=varbit,varbit_2132

[miscb_if_farm_bar3]
type=Rectangle
x=49
y=26
width=9
height=4
layerId=25624717
colour2=0xA6A37C
fill=yes
script1=gt,4
script1op1=varbit,varbit_2132

[miscb_if_farm_bar4]
type=Rectangle
x=49
y=22
width=9
height=4
layerId=25624717
colour2=0xABA880
fill=yes
script1=gt,5
script1op1=varbit,varbit_2132

[miscb_if_farm_bar5]
type=Rectangle
x=49
y=18
width=9
height=4
layerId=25624717
colour2=0xB0AD84
fill=yes
script1=gt,6
script1op1=varbit,varbit_2132

[miscb_if_farm_bar6]
type=Rectangle
x=49
y=14
width=9
height=4
layerId=25624717
colour2=0xB5B288
fill=yes
script1=gt,7
script1op1=varbit,varbit_2132

[miscb_if_farm_bar7]
type=Rectangle
x=49
y=10
width=9
height=4
layerId=25624717
colour2=0xBAB78C
fill=yes
script1=gt,8
script1op1=varbit,varbit_2132

[miscb_if_farm_bar8]
type=Rectangle
x=49
y=6
width=9
height=4
layerId=25624717
colour2=0xBFBC8F
fill=yes
script1=gt,9
script1op1=varbit,varbit_2132

[miscb_if_farm_bar9]
type=Sprite
buttonType=Button
x=75
y=44
width=15
height=15
layerId=25624583
graphic=180
graphic2=181
buttonText="Herbs or Flax?"
eventCode=flag22
script1=eq,0
script1op1=varbit,varbit_2134

[miscb_if_farm_bar10]
type=Text
buttonType=Button
x=93
y=46
width=44
height=12
layerId=25624583
colour=0xBFBC8F
font=494
shadow=yes
text="Herbs"
buttonText="Herbs or Flax?"
eventCode=flag22

[miscb_if_farm_disable]
type=Sprite
buttonType=Button
x=75
y=61
width=15
height=15
layerId=25624583
graphic=180
graphic2=181
buttonText="Herbs or Flax?"
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_2134

[miscb_if_herbs_chooseherb]
type=Text
buttonType=Button
x=93
y=62
width=44
height=12
layerId=25624583
colour=0xBFBC8F
font=494
shadow=yes
text="Flax"
buttonText="Herbs or Flax?"
eventCode=flag22

[miscb_if_herbs_chooseherbtext]
type=Layer
x=267
y=90
width=151
height=104

[miscb_if_herbs_chooseflax]
type=Layer
x=314
y=241
width=146
height=93

[miscb_if_herbs_chooseflaxtext]
type=Sprite
x=486
y=4
width=26
height=23
overLayerId=163
graphic=539

[mainmodal_window]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=25624739
overLayerId=163
graphic=540
buttonText="Ok"

[mainmodal_window_background]
type=Layer
x=483
y=1
width=32
height=32
hide=yes
