[com_0]
type=Rectangle
x=-1
width=512
height=334
colour=0x433621
fill=yes

[com_1]
type=Model
x=223
y=139
width=32
height=32
model1Id=4652
modelZoom=907
modelXAn=377
modelYAn=5

[com_2]
type=Text
x=237
y=148
width=148
height=18
colour=0x282315
hAlign=Center
font=497
text="Waterbirth Island"

[com_3]
type=Text
x=224
y=80
width=120
height=16
colour=0x282315
hAlign=Center
font=497
text="Miscellania"

[com_4]
type=Text
x=328
y=95
width=92
height=16
colour=0x282315
hAlign=Center
font=497
text="Etceteria"

[com_5]
type=Text
x=391
y=276
width=75
height=18
colour=0x282315
font=497
text="Rellekka"

[misc_shipmodel]
type=Text
x=88
y=165
width=122
height=18
colour=0x282315
hAlign=Center
font=497
text="Neitiznot & Jatizso"

[layer_1]
type=Model
x=239
y=154
width=32
height=32
model1Id=4628
modelZoom=1395
modelXAn=346
modelYAn=60
