[content_layer]
type=Model
x=239
y=155
width=32
height=32
model1Id=3044
modelZoom=525

[com_1]
type=Text
x=82
y=82
width=354
height=14
colour=0xFFFFFF
hAlign=Center
font=497
shadow=yes

[mm_mstitle]
type=Text
x=82
y=98
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms1]
type=Text
x=82
y=114
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms2]
type=Text
x=82
y=131
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms3]
type=Text
x=82
y=148
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms4]
type=Text
x=82
y=165
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms5]
type=Text
x=82
y=182
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms6]
type=Text
x=82
y=199
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms7]
type=Text
x=82
y=216
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms8]
type=Text
x=82
y=233
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms9]
type=Text
x=82
y=250
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms10]
type=Text
x=82
y=267
width=354
height=14
colour=0xCCCCCC
hAlign=Center
font=497

[mm_ms11]
type=Sprite
x=444
y=54
width=26
height=23
overLayerId=15
graphic=537

[mm_close]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=14745615
overLayerId=15
graphic=538
buttonText="Ok"

[mm_message_close_button]
type=Layer
x=441
y=49
width=32
height=32
hide=yes
