[mainmodal_window]
type=Sprite
x=40
y=136
width=36
height=36
graphic=176
graphic2=178

[mainmodal_window_background]
type=Sprite
buttonType=Button
x=104
y=90
width=36
height=36
graphic=170
graphic2=179
eventCode=flag22
script1=eq,0
script1op1=varp,if1

[mainmodal_window_content]
type=Text
x=104
y=90
width=36
height=36
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Off"

[destroy_yes_all]
type=Sprite
x=66
y=136
width=36
height=36
graphic=176
graphic2=178

[destroy_no]
type=Sprite
x=92
y=136
width=36
height=36
graphic=176
graphic2=178

[destroy_yes]
type=Sprite
x=118
y=136
width=36
height=36
graphic=176
graphic2=178

[object_model]
type=Sprite
x=144
y=136
width=36
height=36
graphic=176
graphic2=178

[title]
type=Text
x=16
y=4
width=162
height=14
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="House Options"

[discription_text]
type=Sprite
x=40
y=173
width=36
height=36
graphic=176
graphic2=178

[object_name]
type=Sprite
x=66
y=173
width=36
height=36
graphic=176
graphic2=178

[mainmodal_window_border]
type=Sprite
x=92
y=173
width=36
height=36
graphic=176
graphic2=178

[mainmodal_window_close_button]
type=Sprite
x=118
y=173
width=36
height=36
graphic=176
graphic2=178

[com_12]
type=Sprite
x=144
y=173
width=36
height=36
graphic=176
graphic2=178

[com_13]
type=Sprite
buttonType=Button
x=10
y=173
width=170
height=36
graphic=174
graphic2=177
eventCode=flag22

[com_14]
type=Sprite
buttonType=Button
x=50
y=90
width=36
height=36
graphic=170
graphic2=179
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[com_15]
type=Sprite
buttonType=Button
x=10
y=136
width=170
height=36
graphic=174
graphic2=177
eventCode=flag22

[com_16]
type=Text
x=10
y=183
width=170
height=14
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
font=495
shadow=yes
text="Leave House"

[com_17]
type=Text
x=10
y=70
width=170
height=15
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
font=495
shadow=yes
text="Building Mode"

[com_18]
type=Text
x=10
y=148
width=170
height=14
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
font=495
shadow=yes
text="Expel Guests"

[com_19]
type=Text
x=50
y=90
width=36
height=36
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="On"

[com_20]
type=Text
x=10
y=216
width=170
height=14
colour=0xFF981F
colour2=0xFFB359
hAlign=Center
font=495
shadow=yes
text="Number Of Rooms: %1"
script1op1=varp,if2

[com_21]
type=Sprite
x=163
y=17
width=26
height=23
overLayerId=23
graphic=535

[com_22]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=26083351
graphic=536
buttonText="Ok"

[com_23]
type=Layer
x=160
y=13
width=32
height=32
hide=yes
