[blocking_layer]
type=Text
x=342
y=24
width=109
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Text"

[mainmodal_window]
type=Text
x=342
y=74
width=110
height=18
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Text"

[mainmodal_window_background]
type=Model
x=465
y=24
width=32
height=32
model1Id=34053
modelAnim=cat_rework_idle_with_chat
modelZoom=1165
modelXAn=10
modelYAn=37
discardedModelField=0

[mainmodal_window_content]
type=Model
x=466
y=72
width=32
height=32
model1Id=34053
modelAnim=cat_rework_idle_with_chat
modelZoom=1165
modelXAn=32
modelYAn=56
discardedModelField=0

[com_4]
type=Text
x=443
y=43
width=14
height=14
colour=0xFF981F
font=495
shadow=yes
text="10"

[yes_button]
type=Text
x=442
y=91
width=14
height=14
colour=0xFF981F
font=495
shadow=yes
text="10"

[no_button]
type=Sprite
x=480
y=302
width=25
height=25
graphic=219

[dont_ask_button]
type=Layer
x=136
y=120
width=268
height=121
hide=yes

[mainmodal_window_border]
type=Model
x=119
y=32
width=32
height=32
layerId=18415623
model1Id=10119
modelZoom=576
modelXAn=512
discardedModelField=0

[com_9]
type=Text
x=72
y=28
width=124
height=17
layerId=18415623
hAlign=Center
font=497
text="Your cat has been"

[com_10]
type=Text
x=110
y=49
width=59
height=17
layerId=18415623
font=497
text="Defeated"
