[root]
type=Rectangle
width=512
height=334
colour=0x2E211B

[home_screen_button]
type=Model
x=28
y=8
width=142
height=153
model1Id=34053
modelAnim=cat_rework_idle_with_chat
modelZoom=400
modelXAn=9
modelYAn=1950
modelXOf=3
modelYOf=17
discardedModelField=0

[com_2]
type=Model
x=359
y=2
width=144
height=154
model1Id=34053
modelAnim=cat_rework_idle_with_chat
modelZoom=400
modelXAn=17
modelYAn=125
modelXOf=-4
modelYOf=17
discardedModelField=0

[internal_notifications_escape_layer]
type=Model
x=293
y=179
width=204
height=115
model1Id=9853
modelZoom=1834
modelXAn=512
modelXOf=2
modelYOf=6
discardedModelField=0

[tutorial_settings_button]
type=Model
x=10
y=179
width=204
height=115
model1Id=9853
modelZoom=1834
modelXAn=512
modelXOf=2
modelYOf=6
discardedModelField=0

[com_5]
type=Model
x=175
y=74
width=169
height=49
model1Id=10119
modelZoom=909
modelXAn=512
modelYOf=-5
discardedModelField=0

[chat_wrapper]
type=Sprite
x=220
y=188
width=72
height=36
graphic=293

[chat_icon]
type=Sprite
x=220
y=239
width=72
height=36
graphic=293

[internal_notifications_chat_layer]
type=Text
x=43
y=184
width=142
height=18
colour=0x46320A
hAlign=Center
font=497
text="Player's Cat"

[com_9]
type=Text
x=327
y=184
width=142
height=19
colour=0x46320A
hAlign=Center
font=497
text="Opponent's Cat"

[activity_tracker_wrapper]
type=Text
x=212
y=87
width=94
height=15
colour=0x46320A
hAlign=Center
font=496
text="Vs"

[activity_tracker_icon]
type=Text
x=220
y=188
width=72
height=36
colour=0x11D311
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="ACCEPT"
eventCode=hasOp(1)
opName0="Accept"

[bp3_wrapper]
type=Text
x=220
y=239
width=72
height=36
colour=0xAC1414
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="DECLINE"
eventCode=hasOp(1)
opName0="Decline"

[bp3_icon]
type=Text
x=43
y=208
width=142
height=16
colour=0xBF751D
hAlign=Center
font=497
shadow=yes
text="Amount"

[bp3_mobile_intern_notes]
type=Text
x=327
y=209
width=142
height=16
colour=0xBF751D
hAlign=Center
font=497
shadow=yes
text="Amount"

[calendar_wrapper]
type=Text
x=62
y=235
width=100
height=14
colour=0xE1981F
hAlign=Center
font=495
shadow=yes
text="0"

[event_hud_hide]
type=Text
x=352
y=235
width=100
height=14
colour=0xE1981F
hAlign=Center
font=495
shadow=yes
text="0"

[event_wrapper]
type=Model
x=51
y=253
width=31
height=30
model1Id=10044
modelZoom=600
modelXAn=512
discardedModelField=0

[event_icon]
type=Model
x=147
y=253
width=31
height=30
model1Id=10044
modelZoom=600
modelXAn=512
discardedModelField=0

[daily_rewards_icon_layer]
type=Model
x=53
y=263
width=27
height=9
model1Id=10040
modelZoom=600
modelXAn=450
modelYOf=1
discardedModelField=0
eventCode=hasOp(1)
opName0="Decrease"

[daily_rewards_icon]
type=Model
x=149
y=255
width=27
height=27
model1Id=10042
modelZoom=600
modelXAn=450
discardedModelField=0
eventCode=hasOp(1)
opName0="Increase"

[secondary_event_hud_hide]
type=Sprite
x=199
width=119
height=36
graphic=293

[secondary_event_wrapper]
type=Sprite
x=200
y=36
width=119
height=36
graphic=293

[secondary_event_icon]
type=Text
x=207
y=10
width=58
height=32
colour=0xFFFF00
font=495
shadow=yes
text="Your Limit:"

[calendar_icon]
type=Text
x=208
y=47
width=59
height=32
colour=0xFFFF00
font=495
shadow=yes
text="Their Limit:"

[calendar_notification_layer]
type=Text
x=266
y=11
width=32
height=32
colour=0x009900
font=496
shadow=yes
text="1000"

[com_26]
type=Text
x=267
y=48
width=32
height=32
colour=0x009900
font=496
shadow=yes
text="1000"
