[root]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[blocking]
type=Text
buttonType=Pause
y=31
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[panel_root]
type=Text
buttonType=Pause
y=63
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[com_3]
type=Sprite
width=57
height=13
layerId=15007749
graphic=302

[panel_contents]
type=Sprite
x=280
width=57
height=13
layerId=15007749
graphic=301

[channel_dropdown]
type=Layer
x=72
y=1
width=337
height=13

[channel_dropdown_build]
type=Sprite
width=57
height=13
layerId=15007752
graphic=302

[channel_dropdown_click]
type=Sprite
x=419
width=57
height=13
layerId=15007752
graphic=301

[channel_text_input]
type=Layer
x=2
y=1
width=476
height=13
hide=yes
