[option_build_1]
type=Sprite
x=20
y=19
width=462
height=297
graphic=297

[option_click_1]
type=Sprite
x=460
y=26
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[modal_dialog_window]
type=Text
x=93
y=80
width=316
height=157
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Here, the player will see an interface anim of the chocatrice hatching."
