[mainmodal_window]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes
baseOpName="m"

[mainmodal_window_background]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[mainmodal_window_content]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[left]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[button_holder]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[button_bg]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[right]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[description_holder]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[desc_bg]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[title]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[desc_text_holder]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[desc]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[desc_scrollbar]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[desc_text]
type=Model
x=20
y=103
width=82
height=145
model1Id=29916
modelAnim=sops_if_hourglass
modelZoom=1252
modelXAn=81
modelYAn=147
modelYOf=63
discardedModelField=0

[activate_button_holder]
type=Text
x=173
y=59
width=175
height=14
colour=0xBF751D
hAlign=Center
font=495
shadow=yes
text="End of Exam"

[activate_button]
type=Text
x=23
y=30
width=472
height=19
colour=0xE1981F
font=496
shadow=yes
text="Player Safety Exam 101"

[activate_button_blocker]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[mainmodal_window_border]
type=Text
x=102
y=159
width=373
height=62
colour=0xFFFFFF
font=496
shadow=yes
text="Congratulations!                                                                               You have completed the Player Safety exam!"

[mainmodal_window_close_button]
type=Layer
x=667
y=24
width=32
height=32
hide=yes
