[com_0]
type=Sprite
x=12
y=20
width=488
height=305
graphic=297
tiling=yes

[bookmacro_big_piclayer1]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[bookmacro_big_pic1]
type=Sprite
x=475
y=20
width=25
height=30
graphic=310
hFlip=yes

[bookmacro_big_piclayer2]
type=Sprite
x=12
y=295
width=25
height=30
graphic=310
vFlip=yes

[bookmacro_big_pic2]
type=Sprite
x=475
y=295
width=25
height=30
graphic=310
vFlip=yes
hFlip=yes

[bookmacro_big_piclayer3]
type=Sprite
x=37
y=5
width=440
height=23
graphic=314
tiling=yes

[bookmacro_big_pic3]
type=Sprite
x=17
y=34
width=482
height=32
graphic=314
tiling=yes

[bookmacro_big_piclayer4]
type=Sprite
x=37
y=304
width=442
height=31
graphic=314
tiling=yes
vFlip=yes

[bookmacro_big_pic4]
type=Sprite
x=-3
y=50
width=35
height=245
graphic=172
tiling=yes

[bookmacro_big_piclayer5]
type=Sprite
x=479
y=38
width=38
height=261
graphic=172
tiling=yes
hFlip=yes

[bookmacro_big_pic5]
type=Sprite
x=471
y=26
width=26
height=23
graphic=535
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onclick=29

[bookmacro_big_piclayer6]
type=Text
x=19
y=30
width=471
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Report abuse"

[bookmacro_big_pic6]
type=Text
x=25
y=55
width=466
height=32
colour=0xFFFFFF
hAlign=Center
lineHeight=12
font=494
shadow=yes
text="This form is for reporting players who are breaking our rules. <br>Using it sends a snapshot of the last 60 secs of activity to us."

[bookmacro_big_piclayer7]
type=Text
x=130
y=81
width=249
height=14
colour=0xFF981F
font=495
shadow=yes
text="If you misuse this form, you will be banned."

[bookmacro_big_pic7]
type=Text
x=76
y=96
width=357
height=29
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=495
shadow=yes
text="First please enter the name of the offending player below:"

[bookmacro_big_piclayer8]
type=Text
x=133
y=127
width=258
height=14
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="*"

[bookmacro_big_pic8]
type=Text
x=20
y=144
width=473
height=22
hide=yes
colour=0xFFFFFF
hAlign=Center
font=495
shadow=yes
text="Moderator option: Mute player for 48 hours: <lt>OFF<gt>"
onclick=134

[bookmacro_big_piclayer9]
type=Text
x=18
y=169
width=477
height=33
colour=0xFF981F
hAlign=Center
lineHeight=12
font=494
shadow=yes
text="Then click below to indicate which of our 13 rules is being broken.<br>For a detailed explanation of each rule please read the manual on our website."

[bookmacro_big_pic9]
type=Text
x=37
y=206
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="1: Offensive language"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,1

[bookmacro_big_piclayer10]
type=Text
x=35
y=221
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="2: Item scamming"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,2

[bookmacro_big_pic10]
type=Text
x=35
y=236
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="3: Password scamming"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,3

[bookmacro_big_piclayer11]
type=Text
x=35
y=251
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="4: Bug abuse"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,4

[bookmacro_big_pic11]
type=Text
x=35
y=266
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="5: Jagex staff impersonation"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,5

[bookmacro_big_piclayer12]
type=Text
x=35
y=281
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="6: Account sharing/trading"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,6

[bookmacro_big_pic12]
type=Text
x=37
y=296
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="7: Macroing"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,7

[bookmacro_big_piclayer13]
type=Text
x=242
y=206
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="8: Multiple logging in"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,8

[bookmacro_big_pic13]
type=Text
x=242
y=221
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="9: Encouraging others to break rules"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,9

[bookmacro_big_piclayer14]
type=Text
x=238
y=236
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="10: Misuse of customer support"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,10

[bookmacro_big_pic14]
type=Text
x=241
y=251
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="11: Advertising / website"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,11

[bookmacro_big_piclayer15]
type=Text
x=238
y=266
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="12: Real world item trading"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,12

[bookmacro_big_pic15]
type=Text
x=239
y=281
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="13: Asking for personal details"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
onclick=135,13

[bookmacro_big_piclayer16]
type=Model
x=27
y=213
width=31
height=34
model1Id=3180
modelZoom=578
modelXAn=1489
modelYAn=1024
discardedModelField=0

[bookmacro_big_pic16]
type=Model
x=437
y=213
width=32
height=32
model1Id=3180
modelZoom=578
modelXAn=1489
modelYAn=1024
discardedModelField=0
