[com_0]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[total_completion_no]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes
baseOpName=" "

[name_pts]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[name_completion_no]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[com_4]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[shadow__ts]
type=Sprite
x=44
y=7
width=424
height=32
graphic=820
tiling=yes

[shadow_completion_no]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes
baseOpName=" "

[com_7]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[body_pts]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[body_completion_no]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[com_10]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[com_11]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[double_pts]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[double_completion_no]
type=Rectangle
y=-2
width=130
height=10
layerId=38993957
colour=0x483F33
fill=yes

[com_14]
type=Rectangle
y=8
width=130
height=10
layerId=38993957
colour=0x473E33
fill=yes

[personality_pts]
type=Rectangle
y=18
width=130
height=10
layerId=38993957
colour=0x463D32
fill=yes

[personality_completion_no]
type=Rectangle
y=28
width=130
height=10
layerId=38993957
colour=0x453C32
fill=yes

[com_17]
type=Rectangle
y=38
width=130
height=10
layerId=38993957
colour=0x443B31
fill=yes

[spirit_pts]
type=Rectangle
y=48
width=130
height=10
layerId=38993957
colour=0x433A31
fill=yes

[spirit_completion_no]
type=Rectangle
y=58
width=130
height=10
layerId=38993957
colour=0x423930
fill=yes

[com_20]
type=Rectangle
y=68
width=130
height=10
layerId=38993957
colour=0x413830
fill=yes

[mainmodal_window]
type=Rectangle
y=78
width=130
height=10
layerId=38993957
colour=0x40372F
fill=yes

[mainmodal_window_background]
type=Rectangle
y=88
width=130
height=10
layerId=38993957
colour=0x3F362F
fill=yes

[mainmodal_window_content]
type=Rectangle
y=98
width=130
height=10
layerId=38993957
colour=0x3E352E
fill=yes

[mainmodal_window_border]
type=Rectangle
y=108
width=130
height=10
layerId=38993957
colour=0x3D342E
fill=yes

[mainmodal_window_close_button]
type=Rectangle
y=118
width=130
height=10
layerId=38993957
colour=0x3C332D
fill=yes

[com_26]
type=Rectangle
y=128
width=130
height=10
layerId=38993957
colour=0x3B322D
fill=yes

[com_27]
type=Rectangle
y=138
width=130
height=10
layerId=38993957
colour=0x3A312C
fill=yes

[com_28]
type=Rectangle
y=148
width=130
height=10
layerId=38993957
colour=0x39302C
fill=yes

[com_29]
type=Rectangle
y=158
width=130
height=10
layerId=38993957
colour=0x382F2B
fill=yes

[com_30]
type=Rectangle
y=168
width=130
height=10
layerId=38993957
colour=0x372E29
fill=yes

[com_31]
type=Rectangle
y=178
width=130
height=10
layerId=38993957
colour=0x362D28
fill=yes

[com_32]
type=Rectangle
y=188
width=130
height=10
layerId=38993957
colour=0x352D27
fill=yes

[com_33]
type=Rectangle
y=198
width=130
height=10
layerId=38993957
colour=0x342C26
fill=yes

[com_34]
type=Rectangle
y=208
width=130
height=10
layerId=38993957
colour=0x332B25
fill=yes

[com_35]
type=Rectangle
y=218
width=130
height=10
layerId=38993957
colour=0x322A24
fill=yes

[com_36]
type=Rectangle
y=228
width=130
height=10
layerId=38993957
colour=0x312923
fill=yes

[com_37]
type=Layer
x=208
y=62
width=130
height=246

[com_38]
type=Rectangle
y=40
width=173
height=7
layerId=38993977
colour=0x433A31
fill=yes

[com_39]
type=Rectangle
y=47
width=173
height=10
layerId=38993977
colour=0x423930
fill=yes

[com_40]
type=Rectangle
y=57
width=173
height=10
layerId=38993977
colour=0x413830
fill=yes

[com_41]
type=Rectangle
y=67
width=173
height=10
layerId=38993977
colour=0x40372F
fill=yes

[com_42]
type=Rectangle
y=77
width=173
height=10
layerId=38993977
colour=0x3F362F
fill=yes

[com_43]
type=Rectangle
y=87
width=173
height=10
layerId=38993977
colour=0x3E352E
fill=yes

[com_44]
type=Rectangle
y=97
width=173
height=10
layerId=38993977
colour=0x3D342E
fill=yes

[com_45]
type=Rectangle
y=107
width=173
height=10
layerId=38993977
colour=0x3C332D
fill=yes

[com_46]
type=Rectangle
y=117
width=173
height=10
layerId=38993977
colour=0x3B322D
fill=yes

[com_47]
type=Rectangle
y=127
width=173
height=10
layerId=38993977
colour=0x3A312C
fill=yes

[com_48]
type=Rectangle
y=137
width=173
height=10
layerId=38993977
colour=0x39302C
fill=yes

[com_49]
type=Rectangle
y=147
width=173
height=10
layerId=38993977
colour=0x382F2B
fill=yes

[com_50]
type=Rectangle
y=157
width=173
height=10
layerId=38993977
colour=0x372E29
fill=yes

[com_51]
type=Rectangle
y=167
width=173
height=10
layerId=38993977
colour=0x362D28
fill=yes

[com_52]
type=Rectangle
y=177
width=173
height=10
layerId=38993977
colour=0x352D27
fill=yes

[com_53]
type=Rectangle
y=187
width=173
height=10
layerId=38993977
colour=0x342C26
fill=yes

[com_54]
type=Rectangle
y=197
width=173
height=10
layerId=38993977
colour=0x332B25
fill=yes

[com_55]
type=Rectangle
y=207
width=173
height=10
layerId=38993977
colour=0x322A24
fill=yes

[com_56]
type=Rectangle
y=217
width=173
height=10
layerId=38993977
colour=0x312923
fill=yes

[com_57]
type=Layer
x=25
y=73
width=173
height=235

[com_58]
type=Rectangle
x=353
y=101
width=140
height=10
layerId=38993987
colour=0x433A31
fill=yes

[com_59]
type=Rectangle
x=353
y=108
width=140
height=10
layerId=38993987
colour=0x423930
fill=yes

[com_60]
type=Rectangle
x=353
y=118
width=140
height=10
layerId=38993987
colour=0x413830
fill=yes

[com_61]
type=Rectangle
x=353
y=128
width=140
height=10
layerId=38993987
colour=0x40372F
fill=yes

[com_62]
type=Rectangle
x=353
y=138
width=140
height=10
layerId=38993987
colour=0x3F362F
fill=yes

[com_63]
type=Rectangle
x=353
y=148
width=140
height=10
layerId=38993987
colour=0x3E352E
fill=yes

[com_64]
type=Rectangle
x=353
y=158
width=140
height=10
layerId=38993987
colour=0x3D342E
fill=yes

[com_65]
type=Rectangle
x=353
y=168
width=140
height=10
layerId=38993987
colour=0x3C332D
fill=yes

[com_66]
type=Rectangle
x=353
y=178
width=140
height=14
layerId=38993987
colour=0x3B322D
fill=yes

[com_67]
type=Layer
x=-6
y=12
width=512
height=334

[com_68]
type=Model
x=402
y=138
width=32
height=32
model1Id=27701
modelZoom=528
modelXAn=156
modelYAn=2035
discardedModelField=0

[com_69]
type=Model
x=402
y=138
width=32
height=32
model1Id=27707
modelZoom=528
modelXAn=156
modelYAn=2035
discardedModelField=0

[com_70]
type=Layer
x=208
y=62
width=130
height=238

[com_71]
type=Model
clientCode=328
y=129
width=136
height=168
layerId=38993990
model1Id=6675
modelAnim=human_ready
modelZoom=550
discardedModelField=0

[com_72]
type=Text
x=21
y=31
width=469
height=15
colour=0xC9800D
hAlign=Center
font=496
shadow=yes
text="Reinald's Smithing Emporium"

[com_73]
type=Text
x=20
y=4
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Bare arms"

[com_74]
type=Sprite
x=3
y=3
width=36
height=36
layerId=38994035
graphic=180

[com_75]
type=Layer
x=3
y=1
width=147
height=21
layerId=38994035
hide=yes

[com_76]
type=Text
x=20
y=30
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver wristguards"

[com_77]
type=Sprite
x=3
y=29
width=36
height=36
layerId=38994035
graphic=180

[com_78]
type=Layer
x=3
y=27
width=147
height=21
layerId=38994035
hide=yes

[com_79]
type=Text
x=20
y=57
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver clasps"

[com_80]
type=Sprite
x=3
y=56
width=36
height=36
layerId=38994035
graphic=180

[com_81]
type=Layer
x=3
y=54
width=147
height=21
layerId=38994035
hide=yes

[com_82]
type=Text
x=20
y=83
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver bangles"

[com_83]
type=Sprite
x=3
y=82
width=36
height=36
layerId=38994035
graphic=180

[com_84]
type=Layer
x=3
y=80
width=147
height=21
layerId=38994035
hide=yes

[com_85]
type=Text
x=20
y=109
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver banding"

[com_86]
type=Sprite
x=3
y=108
width=36
height=36
layerId=38994035
graphic=180

[com_87]
type=Layer
x=3
y=106
width=147
height=21
layerId=38994035
hide=yes

[com_88]
type=Text
x=21
y=135
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver bands"

[com_89]
type=Sprite
x=4
y=134
width=36
height=36
layerId=38994035
graphic=180

[com_90]
type=Layer
x=4
y=132
width=147
height=21
layerId=38994035
hide=yes

[com_91]
type=Text
x=21
y=162
width=124
height=16
layerId=38994035
colour=0xC9800D
font=495
shadow=yes
text="Silver armguards"

[com_92]
type=Sprite
x=4
y=161
width=36
height=36
layerId=38994035
graphic=180

[com_93]
type=Layer
x=4
y=159
width=147
height=21
layerId=38994035
hide=yes

[com_94]
type=Text
x=20
y=4
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Bare arms"

[com_95]
type=Sprite
x=3
y=3
width=36
height=36
layerId=38994036
graphic=180

[com_96]
type=Layer
x=3
y=1
width=147
height=21
layerId=38994036
hide=yes

[com_97]
type=Text
x=20
y=30
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold wristguards"

[com_98]
type=Sprite
x=3
y=29
width=36
height=36
layerId=38994036
graphic=180

[com_99]
type=Layer
x=3
y=27
width=147
height=21
layerId=38994036
hide=yes

[com_100]
type=Text
x=20
y=57
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold clasps"

[com_101]
type=Sprite
x=3
y=56
width=36
height=36
layerId=38994036
graphic=180

[com_102]
type=Layer
x=3
y=54
width=147
height=21
layerId=38994036
hide=yes

[com_103]
type=Text
x=20
y=83
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold bangles"

[com_104]
type=Sprite
x=3
y=82
width=36
height=36
layerId=38994036
graphic=180

[com_105]
type=Layer
x=3
y=80
width=147
height=21
layerId=38994036
hide=yes

[com_106]
type=Text
x=20
y=109
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold banding"

[com_107]
type=Sprite
x=3
y=108
width=36
height=36
layerId=38994036
graphic=180

[com_108]
type=Layer
x=3
y=106
width=147
height=21
layerId=38994036
hide=yes

[com_109]
type=Text
x=21
y=135
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold bands"

[com_110]
type=Sprite
x=4
y=134
width=36
height=36
layerId=38994036
graphic=180

[com_111]
type=Layer
x=4
y=132
width=147
height=21
layerId=38994036
hide=yes

[com_112]
type=Text
x=21
y=162
width=124
height=16
layerId=38994036
colour=0xC9800D
font=495
shadow=yes
text="Gold armguards"

[com_113]
type=Sprite
x=4
y=161
width=36
height=36
layerId=38994036
graphic=180

[com_114]
type=Layer
x=4
y=159
width=147
height=21
layerId=38994036
hide=yes

[com_115]
type=Layer
x=25
y=113
width=173
height=194

[com_116]
type=Layer
x=25
y=113
width=173
height=194
hide=yes

[com_117]
type=Sprite
x=407
y=252
width=42
height=42
graphic=1058
eventCode=hasOp(1)
opName0="Confirm Purchase"
onmouseover=44,component.parentId,1050
onmouseleave=299,38994072,component.parentId,1058
onmouserepeat=38,component.parentId,38994072,"Confirm Purchase",25,80

[com_118]
type=Text
y=41
width=70
height=32
layerId=38994039
colour=0xC9800D
font=495
shadow=yes
text="500 Coins"

[com_119]
type=Layer
x=407
y=252
width=75
height=71

[com_120]
type=Sprite
x=37
y=62
width=42
height=42
graphic=1051
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,38994072
onmouserepeat=38,component.parentId,38994072,"Show Silver Selections",25,80
onclick=208

[com_121]
type=Sprite
x=85
y=62
width=42
height=42
graphic=1057
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,38994072
onmouserepeat=38,component.parentId,38994072,"Show Gold Selections",25,80
onclick=209

[com_122]
type=Rectangle
x=3
y=3
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=210

[com_123]
type=Rectangle
x=3
y=29
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=211

[com_124]
type=Rectangle
x=3
y=56
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=212

[com_125]
type=Rectangle
x=3
y=83
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=213

[com_126]
type=Rectangle
x=3
y=110
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=214

[com_127]
type=Rectangle
x=3
y=134
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=215

[com_128]
type=Rectangle
x=3
y=160
width=20
height=20
layerId=38994035
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=216

[com_129]
type=Rectangle
x=3
y=3
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=217

[com_130]
type=Rectangle
x=3
y=29
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=218

[com_131]
type=Rectangle
x=3
y=56
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=219

[com_132]
type=Rectangle
x=3
y=83
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=220

[com_133]
type=Rectangle
x=3
y=110
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=221

[com_134]
type=Rectangle
x=3
y=134
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=222

[com_135]
type=Rectangle
x=3
y=160
width=20
height=20
layerId=38994036
trans=255
colour=0xFFFF00
fill=yes
eventCode=hasOp(1)
opName0="Select"
onclick=223

[com_136]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[com_137]
type=Layer
width=512
height=334

[com_138]
type=Line
x=23
y=111
width=176
layerId=38994057
colour=0x332B25

[com_139]
type=Line
x=23
y=112
height=188
layerId=38994057
colour=0x332B25

[com_140]
type=Line
x=199
y=112
height=188
layerId=38994057
colour=0x332B25

[com_141]
type=Line
x=23
y=301
width=176
layerId=38994057
colour=0x332B25

[com_142]
type=Line
x=345
y=111
width=143
layerId=38994057
colour=0x332B25

[com_143]
type=Line
x=345
y=112
height=92
layerId=38994057
colour=0x332B25

[com_144]
type=Line
x=488
y=112
height=92
layerId=38994057
colour=0x332B25

[com_145]
type=Line
x=345
y=205
width=143
layerId=38994057
colour=0x332B25

[com_146]
type=Line
x=206
y=60
width=133
layerId=38994057
colour=0x332B25

[com_147]
type=Line
x=206
y=61
height=239
layerId=38994057
colour=0x332B25

[com_148]
type=Line
x=339
y=61
height=239
layerId=38994057
colour=0x332B25

[com_149]
type=Line
x=206
y=301
width=133
layerId=38994057
colour=0x332B25

[com_150]
type=Sprite
x=451
y=261
width=23
height=23
graphic=938
eventCode=hasOp(1)
baseOpName="  "
opName0="Confirm Purchase"
onmouseover=44,38994037,1050
onmouseleave=299,38994072,38994037,1058
onmouserepeat=38,component.parentId,38994072,"Confirm Purchase",25,80

[com_151]
type=Layer
width=512
height=334

[com_152]
type=Layer
x=309
y=57
width=200
height=200
layerId=38994071
onmouseleave=40,38994072
