[mourning_deathalter_item1]
type=Layer
x=37
y=37
width=387
height=287

[mourning_deathalter_item2]
type=Layer
x=48
y=78
width=342
height=215
scrollHeight=1000

[mourning_deathalter_item3]
type=Text
x=53
y=56
width=297
height=17
font=497
text="List of needed items:"

[mourning_deathalter_item4]
type=Text
x=8
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item1"

[mourning_deathalter_item5]
type=Model
x=163
y=79
width=55
height=81
layerId=14876672
model1Id=3623
modelZoom=643
modelXAn=510

[mourning_deathalter_item6]
type=Text
x=8
y=20
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item2"

[mourning_deathalter_item7]
type=Text
x=8
y=40
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item3"

[mourning_deathalter_item8]
type=Text
x=8
y=60
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item4"

[mourning_deathalter_item9]
type=Text
x=8
y=80
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item5"

[mourning_deathalter_item10]
type=Text
x=8
y=100
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item6"

[mourning_deathalter_item11]
type=Text
x=8
y=120
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item7"

[mourning_deathalter_item12]
type=Text
x=8
y=140
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item8"

[mourning_deathalter_item13]
type=Text
x=8
y=160
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item9"

[mourning_deathalter_item14]
type=Text
x=8
y=180
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item10"

[mourning_deathalter_item15]
type=Text
x=8
y=200
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item11"

[mourning_deathalter_item16]
type=Text
x=8
y=220
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item12"

[mourning_deathalter_item17]
type=Text
x=8
y=240
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item13"

[mourning_deathalter_item18]
type=Text
x=8
y=260
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item14"

[mourning_deathalter_item19]
type=Text
x=8
y=280
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item15"

[mourning_deathalter_item20]
type=Text
x=8
y=300
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item16"

[mourning_deathalter_item21]
type=Text
x=8
y=320
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item17"

[mourning_deathalter_item22]
type=Text
x=8
y=340
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item18"

[mourning_deathalter_item23]
type=Text
x=8
y=360
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item19"

[mourning_deathalter_item24]
type=Text
x=8
y=380
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item20"

[mourning_deathalter_item25]
type=Text
x=8
y=400
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item21"

[mourning_deathalter_item26]
type=Text
x=8
y=420
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item22"

[mourning_deathalter_item27]
type=Text
x=8
y=440
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item23"

[mourning_deathalter_item28]
type=Text
x=8
y=460
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item24"

[mourning_deathalter_item29]
type=Text
x=8
y=480
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item25"

[mourning_deathalter_item30]
type=Text
x=8
y=500
width=330
height=15
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item26"

[mourning_deathalter_item31]
type=Text
x=8
y=520
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item27"

[mourning_deathalter_item32]
type=Text
x=8
y=540
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item28"

[mourning_deathalter_item33]
type=Text
x=8
y=560
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item29"

[mourning_deathalter_item34]
type=Text
x=8
y=580
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item30"

[mourning_deathalter_item35]
type=Text
x=8
y=600
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item31"

[mourning_deathalter_item36]
type=Text
x=8
y=620
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item32"

[mourning_deathalter_item37]
type=Text
x=8
y=640
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item33"

[mourning_deathalter_item38]
type=Text
x=8
y=660
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item34"

[mourning_deathalter_item39]
type=Text
x=8
y=680
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item35"

[mourning_deathalter_item40]
type=Text
x=8
y=700
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item36"

[mourning_deathalter_item41]
type=Text
x=8
y=720
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item37"

[mourning_deathalter_item42]
type=Text
x=7
y=740
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item38"

[mourning_deathalter_item43]
type=Text
x=8
y=760
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item39"

[mourning_deathalter_item44]
type=Text
x=8
y=780
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item40"

[mourning_deathalter_item45]
type=Text
x=8
y=800
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item41"

[mourning_deathalter_item46]
type=Text
x=8
y=820
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item42"

[mourning_deathalter_item47]
type=Text
x=8
y=840
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item43"

[mourning_deathalter_item48]
type=Text
x=8
y=860
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item44"

[mourning_deathalter_item49]
type=Text
x=8
y=880
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item45"

[mourning_deathalter_item50]
type=Text
x=8
y=900
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item46"

[mainmodal_window]
type=Text
x=8
y=920
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item47"

[mainmodal_window_background]
type=Text
x=8
y=940
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item48"

[mainmodal_window_content]
type=Text
x=8
y=960
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item49"

[com_53]
type=Text
x=8
y=980
width=331
height=14
layerId=14876673
hAlign=Center
font=495
text="mourning_deathalter_item50"

[mourning_deathalter_layer]
type=Sprite
x=378
y=53
width=26
height=23
overLayerId=56
graphic=537

[com_55]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=14876728
overLayerId=56
graphic=538
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=375
y=49
width=32
height=32
hide=yes
