[msrework_mining_text]
type=Model
x=453
y=48
width=32
height=32
model1Id=4608
modelZoom=512

[mining_icon]
type=Text
x=433
y=69
width=72
height=17
colour=0xAAAAAA
hAlign=Center
font=495
shadow=yes
text="Runelink"

[msrework_smithing_text]
type=Text
x=433
y=85
width=72
height=13
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Rank: %1"
script1op1=varp,boardgames_runelink_rank
