[window]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[window_background]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[window_content]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[broadcast]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[share_button_layer]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[broadcast_local]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[broadcast_local_layer]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[broadcast_local_checkbox]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[com_8]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[com_9]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[broadcast_clan]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[broadcast_clan_layer]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[broadcast_clan_checkbox]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37093388,832
onmouseleave=44,37093388,831
onop=29

[com_13]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[com_14]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Do you need to collect any dropped<br> items?"

[broadcast_friends]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[broadcast_friends_layer]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[broadcast_friends_checkbox]
type=Text
x=108
y=157
width=315
height=27
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Yes - I need to collect some stuff<br> before I leave"
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_18]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="No - I haven't left any valuables on the floor"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_19]
type=Text
x=1
y=2
width=315
height=15
layerId=37093397
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[com_20]
type=Sprite
x=2
width=19
height=19
layerId=37093397
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37093396,6
onclick=163,37093396
onvartransmitlist=1045

[vertical_separator]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
