[main_layer]
type=Rectangle
x=7
y=38
width=176
height=209
trans=180
colour=0x170801
fill=yes

[background_layer]
type=Layer
x=5
y=62
width=166
height=186
baseOpName=" "
onload=828
onvartransmit=832
onvartransmitlist=20,21,22,23,24,25,298,311,346,414,464,598,662,721,906,1009,1104,1136,1180,1202

[content_layer]
type=Sprite
x=1
y=32
width=32
height=32
graphic=846

[com_3]
type=Sprite
x=157
y=32
width=32
height=32
graphic=847

[jukebox]
type=Sprite
x=1
y=221
width=32
height=32
graphic=848
baseOpName=" "

[scrollbar]
type=Sprite
x=157
y=221
width=32
height=32
graphic=849

[music_bounding_box]
type=Sprite
x=33
y=18
width=124
height=32
graphic=828
tiling=yes

[now_playing_text]
type=Sprite
x=7
y=47
width=176
height=32
graphic=851
tiling=yes
baseOpName=" "

[unlock_counter]
type=Sprite
x=169
y=64
width=32
height=157
graphic=841
tiling=yes
baseOpName="mm  "

[divider_bar_1]
type=Sprite
x=-13
y=64
width=32
height=157
graphic=841
tiling=yes
baseOpName="  "

[divider_bar_2]
type=Sprite
x=33
y=233
width=125
height=32
graphic=828
tiling=yes

[divider_bar_3]
type=Sprite
x=83
y=4
width=25
height=25
graphic=9
eventCode=hasOp(1)
opName0="Loop"
onmouseleave=40,12255247
onvartransmit=835
onmouserepeat=836
onclick=834
onvartransmitlist=19,466,297

[playlist]
type=Layer
x=167
y=63
width=16
height=184

[playlist_scrollbar]
type=Layer
width=190
height=261

[playlist_on]
type=Text
x=7
y=40
width=177
height=15
colour=0xE99900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Playing............................."

[playlist_clear]
type=Layer
width=190
height=261

[playlist_interface]
type=Text
x=108
y=4
width=82
height=25
colour=0xFF9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Unlocked:<br>???"
