[myq3_painting]
type=Rectangle
width=550
height=400
trans=150
fill=yes

[bespoke_window]
type=Layer
width=550
height=400

[com_2]
type=Model
x=256
y=367
width=32
height=32
layerId=29622273
model1Id=18143
modelZoom=256
modelYAn=507

[myq3_frame]
type=Model
x=255
y=290
width=32
height=32
layerId=29622273
model1Id=17616
modelZoom=455

[myq3_statue]
type=Model
x=255
y=290
width=32
height=32
layerId=29622273
trans=255
model1Id=17642
modelZoom=455

[myq3_painting_key]
type=Sprite
x=481
y=8
width=26
height=23
overLayerId=7
graphic=539

[bespoke_window_background]
type=Sprite
buttonType=Close
x=2
y=4
width=26
height=23
layerId=29622279
overLayerId=7
graphic=540
buttonText="Ok"

[bespoke_window_content]
type=Layer
x=479
y=4
width=32
height=32
hide=yes
