[myq3_castle_sketch_01_1]
type=Rectangle
width=520
height=340
fill=yes

[myq3_castle_sketch_01_1_1]
type=Model
x=256
y=110
width=32
height=32
model1Id=18151
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_2]
type=Model
x=256
y=110
width=32
height=32
model1Id=18145
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_3]
type=Model
x=256
y=110
width=32
height=32
model1Id=18147
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_4]
type=Model
x=256
y=110
width=32
height=32
model1Id=18148
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_5]
type=Model
x=256
y=110
width=32
height=32
model1Id=18149
modelZoom=570
modelXAn=495

[com_6]
type=Model
x=256
y=110
width=32
height=32
model1Id=18150
modelZoom=570
modelXAn=495

[layer_1]
type=Sprite
x=426
y=14
width=26
height=23
overLayerId=9
graphic=537

[com_8]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=29884425
overLayerId=9
graphic=538
buttonText="Ok"

[com_9]
type=Layer
x=423
y=9
width=32
height=32
hide=yes
