[map]
type=Rectangle
width=520
height=340
fill=yes

[scroll_myq3]
type=Layer
width=512
height=334

[myq3_boat]
type=Model
x=234
y=144
width=32
height=32
layerId=29753345
model1Id=18141
modelZoom=984
modelXAn=476

[com_3]
type=Model
x=234
y=144
width=32
height=32
layerId=29753345
model1Id=18142
modelZoom=984
modelXAn=476
