[myq3_blackout_layer]
type=Layer
width=555
height=400

[myq3_blackout_model]
type=Model
x=239
y=153
width=32
height=32
layerId=29687808
model1Id=18140
modelZoom=580
modelXAn=516

[myq3_blackout_rec]
type=Rectangle
width=550
height=400
layerId=29687808
trans=255
colour=0x666666
fill=yes
