[myq3_castle_sketch_01_1_north]
type=Rectangle
width=520
height=340
fill=yes

[myq3_castle_sketch_01_1_1_north]
type=Model
x=227
y=111
width=32
height=32
model1Id=18157
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_2_north]
type=Model
x=227
y=111
width=32
height=32
model1Id=18153
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_3_north]
type=Model
x=227
y=111
width=32
height=32
model1Id=18152
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_4_north]
type=Model
x=227
y=111
width=32
height=32
model1Id=18154
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_5_north]
type=Model
x=227
y=111
width=32
height=32
model1Id=18155
modelZoom=570
modelXAn=495

[close_button]
type=Model
x=227
y=111
width=32
height=32
model1Id=18156
modelZoom=570
modelXAn=495

[layer_1]
type=Sprite
x=428
y=25
width=26
height=23
overLayerId=9
graphic=537

[com_8]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=29818889
overLayerId=9
graphic=538
buttonText="Ok"

[com_9]
type=Layer
x=425
y=20
width=32
height=32
hide=yes
