[layer_1]
type=Rectangle
width=520
height=340
fill=yes

[myq3_castle_sketch_01_1_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18163
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_1_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18159
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_2_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18160
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_3_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18158
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_4_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18161
modelZoom=570
modelXAn=495

[myq3_castle_sketch_01_1_5_west]
type=Model
x=256
y=110
width=32
height=32
model1Id=18162
modelZoom=570
modelXAn=495

[com_7]
type=Sprite
x=424
y=14
width=26
height=23
overLayerId=9
graphic=537

[com_8]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=29949961
overLayerId=9
graphic=538
buttonText="Ok"

[com_9]
type=Layer
x=421
y=10
width=32
height=32
hide=yes
