[background_model]
type=Rectangle
y=1
width=514
height=336
trans=160
colour=0x46341D
fill=yes

[header]
type=Model
x=44
y=-20
width=427
height=343
model1Id=33415
modelZoom=598
modelXOf=-3
modelYOf=36
discardedModelField=0

[myq4_flail_text_1]
type=Text
x=145
y=70
width=233
height=25
colour=0x292715
hAlign=Center
vAlign=Center
font=645
text="Ivandis Flail"

[close_button]
type=Text
x=123
y=99
width=209
height=93
colour=0x292715
font=497
text="Ivandis flail requires silvthril chain to connect blessed silver sickle to. However, to increase charges for the flail, need to add an emerald to the sickle before chain is attached. "

[layer_1]
type=Text
x=123
y=194
width=193
height=95
colour=0x292715
font=497
text="Find it difficult to make big hole for emerald to fit in sickle and am just frustrated. More effort to make this work is just crazy, why won't it just work??  "
baseOpName=" "

[com_5]
type=Sprite
x=477
y=12
width=26
height=23
graphic=541
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onclick=29
