[cutscene_controller]
type=Model
x=220
y=137
width=32
height=32
model1Id=4652
modelZoom=914
modelXAn=481

[fade]
type=Text
x=88
y=44
width=335
height=17
colour=0xF0BB5E
font=497
text="wom1"

[com_2]
type=Text
x=88
y=60
width=335
height=17
colour=0xF0BB5E
font=497
text="wom2"

[com_3]
type=Text
x=88
y=76
width=335
height=17
colour=0xF0BB5E
font=497
text="wom3"

[com_4]
type=Text
x=88
y=92
width=335
height=17
colour=0xF0BB5E
font=497
text="wom4"

[com_5]
type=Text
x=88
y=108
width=335
height=17
colour=0xF0BB5E
font=497
text="wom5"

[com_6]
type=Text
x=88
y=124
width=335
height=17
colour=0xF0BB5E
font=497
text="wom6"

[com_7]
type=Text
x=88
y=140
width=335
height=17
colour=0xF0BB5E
font=497
text="wom7"

[com_8]
type=Text
x=88
y=156
width=335
height=17
colour=0xF0BB5E
font=497
text="wom8"

[com_9]
type=Text
x=88
y=172
width=335
height=17
colour=0xF0BB5E
font=497
text="wom9"

[com_10]
type=Text
x=88
y=188
width=335
height=17
colour=0xF0BB5E
font=497
text="wom10"

[com_11]
type=Text
x=88
y=204
width=335
height=17
colour=0xF0BB5E
font=497
text="wom11"

[com_12]
type=Text
x=88
y=220
width=335
height=17
colour=0xF0BB5E
font=497
text="wom12"

[com_13]
type=Text
x=88
y=236
width=335
height=17
colour=0xF0BB5E
font=497
text="wom13"

[com_14]
type=Text
x=88
y=252
width=335
height=17
colour=0xF0BB5E
font=497
text="wom14"

[com_15]
type=Text
x=88
y=268
width=335
height=17
colour=0xF0BB5E
font=497
text="wom15"

[com_16]
type=Text
x=88
y=284
width=335
height=17
colour=0xF0BB5E
font=497
text="wom16"

[com_17]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=19
graphic=539

[com_18]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=25165843
graphic=540
buttonText="Ok"

[com_19]
type=Layer
x=470
y=9
width=32
height=32
hide=yes
