[background_layer]
type=Model
x=457
y=24
width=32
height=32
model1Id=4607
modelZoom=1600
modelXAn=512

[content_layer]
type=Text
x=437
y=76
width=75
height=15
colour=0xAAAAAA
hAlign=Center
font=495
shadow=yes
text="Draughts"

[content]
type=Text
x=437
y=95
width=75
height=15
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Rank: %1"
script1op1=varp,boardgames_draughts_rank
