[hourglass_layer]
type=Model
x=386
y=261
width=32
height=32
model1Id=16350
modelZoom=784

[bottom]
type=Text
x=311
y=245
width=182
height=32
colour=0xC8AA64
font=495
shadow=yes
text="Room %1 of 8 <br>Thieving  level required: %2"
script1op1=varbit,varbit_2377
script2op1=varbit,varbit_2376

[sand]
type=Rectangle
x=310
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,0
script1op1=varbit,varbit_2375

[top]
type=Rectangle
x=317
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,20
script1op1=varbit,varbit_2375

[roomnumber]
type=Rectangle
x=324
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,40
script1op1=varbit,varbit_2375

[levelreq]
type=Rectangle
x=331
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,60
script1op1=varbit,varbit_2375

[timerbar_layer]
type=Rectangle
x=338
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,80
script1op1=varbit,varbit_2375

[com_7]
type=Rectangle
x=345
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,100
script1op1=varbit,varbit_2375

[border]
type=Rectangle
x=352
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,120
script1op1=varbit,varbit_2375

[timerbar_container]
type=Rectangle
x=359
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,140
script1op1=varbit,varbit_2375

[timerbar]
type=Rectangle
x=366
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,160
script1op1=varbit,varbit_2375

[com_11]
type=Rectangle
x=373
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,180
script1op1=varbit,varbit_2375

[com_12]
type=Rectangle
x=380
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,200
script1op1=varbit,varbit_2375

[com_13]
type=Rectangle
x=387
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,220
script1op1=varbit,varbit_2375

[com_14]
type=Rectangle
x=394
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,240
script1op1=varbit,varbit_2375

[com_15]
type=Rectangle
x=401
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,260
script1op1=varbit,varbit_2375

[com_16]
type=Rectangle
x=408
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,280
script1op1=varbit,varbit_2375

[com_17]
type=Rectangle
x=415
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,300
script1op1=varbit,varbit_2375

[com_18]
type=Rectangle
x=422
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,320
script1op1=varbit,varbit_2375

[com_19]
type=Rectangle
x=429
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,340
script1op1=varbit,varbit_2375

[com_20]
type=Rectangle
x=436
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,360
script1op1=varbit,varbit_2375

[com_21]
type=Rectangle
x=443
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,380
script1op1=varbit,varbit_2375

[com_22]
type=Rectangle
x=450
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,400
script1op1=varbit,varbit_2375

[com_23]
type=Rectangle
x=457
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,420
script1op1=varbit,varbit_2375

[com_24]
type=Rectangle
x=464
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,440
script1op1=varbit,varbit_2375

[com_25]
type=Rectangle
x=471
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,460
script1op1=varbit,varbit_2375

[com_26]
type=Rectangle
x=478
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,480
script1op1=varbit,varbit_2375

[com_27]
type=Rectangle
x=485
y=280
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,499
script1op1=varbit,varbit_2375

[com_28]
type=Model
x=448
y=200
width=32
height=32
model1Id=16351
modelZoom=656
modelXAn=124

[com_29]
type=Model
x=448
y=200
width=32
height=32
model2Id=16353
modelZoom=656
modelXAn=133
script1=gt,0
script1op1=varbit,varbit_2375
script2=lt,21
script2op1=varbit,varbit_2375

[com_30]
type=Model
x=448
y=200
width=32
height=32
model2Id=16354
modelZoom=656
modelXAn=133
script1=gt,20
script1op1=varbit,varbit_2375
script2=lt,41
script2op1=varbit,varbit_2375

[com_31]
type=Model
x=448
y=200
width=32
height=32
model2Id=16355
modelZoom=656
modelXAn=133
script1=gt,40
script1op1=varbit,varbit_2375
script2=lt,61
script2op1=varbit,varbit_2375

[com_32]
type=Model
x=448
y=200
width=32
height=32
model2Id=16356
modelZoom=656
modelXAn=133
script1=gt,60
script1op1=varbit,varbit_2375
script2=lt,81
script2op1=varbit,varbit_2375

[com_33]
type=Model
x=448
y=200
width=32
height=32
model2Id=16357
modelZoom=656
modelXAn=133
script1=gt,80
script1op1=varbit,varbit_2375
script2=lt,101
script2op1=varbit,varbit_2375

[com_34]
type=Model
x=448
y=200
width=32
height=32
model2Id=16358
modelZoom=656
modelXAn=133
script1=gt,100
script1op1=varbit,varbit_2375
script2=lt,121
script2op1=varbit,varbit_2375

[com_35]
type=Model
x=448
y=200
width=32
height=32
model2Id=16359
modelZoom=656
modelXAn=133
script1=gt,120
script1op1=varbit,varbit_2375
script2=lt,141
script2op1=varbit,varbit_2375

[com_36]
type=Model
x=448
y=200
width=32
height=32
model2Id=16360
modelZoom=656
modelXAn=133
script1=gt,140
script1op1=varbit,varbit_2375
script2=lt,161
script2op1=varbit,varbit_2375

[com_37]
type=Model
x=448
y=200
width=32
height=32
model2Id=16361
modelZoom=656
modelXAn=133
script1=gt,160
script1op1=varbit,varbit_2375
script2=lt,181
script2op1=varbit,varbit_2375

[com_38]
type=Model
x=448
y=200
width=32
height=32
model2Id=16362
modelZoom=656
modelXAn=133
script1=gt,180
script1op1=varbit,varbit_2375
script2=lt,201
script2op1=varbit,varbit_2375

[com_39]
type=Model
x=448
y=200
width=32
height=32
model2Id=16363
modelZoom=656
modelXAn=133
script1=gt,200
script1op1=varbit,varbit_2375
script2=lt,221
script2op1=varbit,varbit_2375

[com_40]
type=Model
x=448
y=200
width=32
height=32
model2Id=16364
modelZoom=656
modelXAn=133
script1=gt,220
script1op1=varbit,varbit_2375
script2=lt,241
script2op1=varbit,varbit_2375

[com_41]
type=Model
x=448
y=200
width=32
height=32
model2Id=16365
modelZoom=656
modelXAn=133
script1=gt,240
script1op1=varbit,varbit_2375
script2=lt,261
script2op1=varbit,varbit_2375

[com_42]
type=Model
x=448
y=200
width=32
height=32
model2Id=16366
modelZoom=656
modelXAn=133
script1=gt,260
script1op1=varbit,varbit_2375
script2=lt,281
script2op1=varbit,varbit_2375

[com_43]
type=Model
x=448
y=200
width=32
height=32
model2Id=16367
modelZoom=656
modelXAn=133
script1=gt,280
script1op1=varbit,varbit_2375
script2=lt,301
script2op1=varbit,varbit_2375

[com_44]
type=Model
x=448
y=200
width=32
height=32
model2Id=16368
modelZoom=656
modelXAn=133
script1=gt,300
script1op1=varbit,varbit_2375
script2=lt,321
script2op1=varbit,varbit_2375

[com_45]
type=Model
x=448
y=200
width=32
height=32
model2Id=16369
modelZoom=656
modelXAn=133
script1=gt,320
script1op1=varbit,varbit_2375
script2=lt,341
script2op1=varbit,varbit_2375

[com_46]
type=Model
x=448
y=200
width=32
height=32
model2Id=16370
modelZoom=656
modelXAn=133
script1=gt,340
script1op1=varbit,varbit_2375
script2=lt,361
script2op1=varbit,varbit_2375

[com_47]
type=Model
x=448
y=200
width=32
height=32
model2Id=16371
modelZoom=656
modelXAn=133
script1=gt,360
script1op1=varbit,varbit_2375
script2=lt,381
script2op1=varbit,varbit_2375

[com_48]
type=Model
x=448
y=200
width=32
height=32
model2Id=16372
modelZoom=656
modelXAn=133
script1=gt,380
script1op1=varbit,varbit_2375
script2=lt,401
script2op1=varbit,varbit_2375

[com_49]
type=Model
x=448
y=200
width=32
height=32
model2Id=16373
modelZoom=656
modelXAn=133
script1=gt,400
script1op1=varbit,varbit_2375
script2=lt,421
script2op1=varbit,varbit_2375

[com_50]
type=Model
x=448
y=200
width=32
height=32
model2Id=16374
modelZoom=656
modelXAn=133
script1=gt,420
script1op1=varbit,varbit_2375
script2=lt,441
script2op1=varbit,varbit_2375

[com_51]
type=Model
x=448
y=200
width=32
height=32
model2Id=16375
modelZoom=656
modelXAn=133
script1=gt,440
script1op1=varbit,varbit_2375
script2=lt,461
script2op1=varbit,varbit_2375

[com_52]
type=Model
x=448
y=200
width=32
height=32
model2Id=16376
modelZoom=656
modelXAn=133
script1=gt,460
script1op1=varbit,varbit_2375
script2=lt,481
script2op1=varbit,varbit_2375

[com_53]
type=Model
x=448
y=200
width=32
height=32
model2Id=16377
modelZoom=656
modelXAn=133
script1=gt,480
script1op1=varbit,varbit_2375
script2=lt,500
script2op1=varbit,varbit_2375

[com_54]
type=Model
x=448
y=200
width=32
height=32
model2Id=16378
modelZoom=656
modelXAn=133
script1=gt,499
script1op1=varbit,varbit_2375
script2op1=varbit,varbit_2375

[com_55]
type=Model
x=448
y=200
width=32
height=32
model1Id=16352
modelZoom=656
modelXAn=133
