[root]
type=Rectangle
width=506
height=130
hide=yes
colour=0x808080
fill=yes

[com_1]
type=Rectangle
y=110
width=506
height=20
trans=180
colour=0x423329
fill=yes

[resultlist]
type=Rectangle
y=110
width=506
height=3
trans=200
colour=0x372424
fill=yes

[resultlist_hide]
type=Rectangle
y=110
width=506
height=2
trans=220
colour=0x372424
fill=yes

[com_4]
type=Layer
x=60
width=430
height=107

[resultscrollbar]
type=Layer
x=64
y=3
width=422
height=105

[com_6]
type=Text
x=4
y=10
width=414
height=16
layerId=25493509
colour=0xA05A00
hAlign=Center
vAlign=Center
font=496

[searchtext]
type=Text
x=4
y=48
width=414
height=31
layerId=25493509
colour=0xA05A00
hAlign=Center
vAlign=Center
lineHeight=15
font=494
text="To search for an item, start by typing part of its name.<br>Then, simply select the item you want from the results on display."

[com_8]
type=Layer
x=490
width=16
height=108

[objgraphic]
type=Text
x=27
y=111
width=457
height=15
colour=0xFFFFFF
font=495
shadow=yes

[24px_close]
type=Sprite
x=490
y=111
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=571
onclick=571

[com_11]
type=Sprite
y=94
width=506
height=32
graphic=851
tiling=yes

[com_12]
type=Sprite
x=46
width=32
height=108
trans=150
graphic=1075
tiling=yes
baseOpName="   "

[com_13]
type=Sprite
x=6
y=113
width=16
height=14
graphic=1154
baseOpName="  "

[com_14]
type=Sprite
x=10
y=8
width=40
height=36
graphic=1139
baseOpName="  "

[com_15]
type=Sprite
x=12
y=10
width=36
height=32
shadowColour=0x000001
