[com_0]
type=Model
x=34
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=1882

[oct13_runefest_logo]
type=Text
x=111
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[oct13_contrib_total_title]
type=Text
x=111
y=19
width=350
height=17
hAlign=Center
font=497
text="Line1"

[oct13_contrib_daily_title]
type=Text
x=110
y=40
width=350
height=17
hAlign=Center
font=497
text="Line2"

[oct13_total_points_text]
type=Text
x=110
y=64
width=350
height=17
hAlign=Center
font=497
text="Line3"
