[war_graphic]
type=Sprite
x=17
y=26
width=478
height=295
graphic=297
tiling=yes
baseOpName="  "

[rift_large]
type=Sprite
y=26
width=33
height=295
graphic=821
tiling=yes
baseOpName=" "

[community_loot_1_graphic]
type=Sprite
x=479
y=26
width=32
height=295
graphic=823
tiling=yes
baseOpName=" "

[community_loot_2_graphic]
type=Sprite
x=15
y=302
width=479
height=40
graphic=822
tiling=yes

[community_loot_3_graphic]
type=Sprite
x=14
y=10
width=482
height=39
graphic=820
tiling=yes
baseOpName=" "

[community_loot_4_graphic]
type=Sprite
x=467
y=290
width=32
height=32
graphic=827
baseOpName=" "

[community_loot_5_graphic]
type=Sprite
x=13
y=290
width=32
height=32
graphic=826

[community_loot_6_graphic]
type=Sprite
x=13
y=23
width=32
height=32
graphic=824
baseOpName=" "

[community_loot_7_graphic]
type=Sprite
x=467
y=23
width=32
height=32
graphic=825
baseOpName=" "

[personal_loot_1_graphic]
type=Sprite
x=16
y=38
width=479
height=38
graphic=828
tiling=yes

[personal_loot_2_graphic]
type=Sprite
x=13
y=40
width=32
height=32
graphic=829
tiling=yes

[personal_loot_3_graphic]
type=Sprite
x=467
y=40
width=32
height=32
graphic=830
tiling=yes

[personal_loot_4_graphic]
type=Sprite
x=471
y=32
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[background]
type=Text
x=20
y=33
width=471
height=12
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Silver Casting"

[loot_community_1]
type=Layer
x=33
y=67
width=441
height=241

[community_reward_1]
type=Layer
x=9
y=5
width=85
height=115
layerId=28704782

[loot_community_2]
type=Text
x=11
width=60
height=60
layerId=28704783
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Saradomin Symbol"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,16

[community_reward_2]
type=Model
x=26
width=32
height=32
layerId=28704783
modelZoom=300
discardedModelField=0

[loot_community_3]
type=Text
x=-2
y=31
width=88
height=84
layerId=28704783
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br> Saradomin <br>Symbol"
onload=541,component.parentId,16

[community_reward_3]
type=Layer
x=9
y=5
width=85
height=115
layerId=28704782
hide=yes

[rifts_stabilised_text]
type=Model
x=25
width=32
height=32
layerId=28704787
modelZoom=400
discardedModelField=0

[rifts_stabilised]
type=Text
x=-2
y=31
width=87
height=85
layerId=28704787
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a Holy Symbol mould to make this item."

[boss_teaser_image]
type=Layer
x=9
y=120
width=85
height=113
layerId=28704782

[boss_countdown_timer_bg]
type=Text
x=6
width=60
height=60
layerId=28704790
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Zamorak Symbol"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,17

[boss_countdown_timer_text]
type=Model
x=21
y=1
width=32
height=32
layerId=28704790
modelZoom=300
discardedModelField=0

[loot_1]
type=Text
y=32
width=85
height=83
layerId=28704790
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br> Zamorak<br>Symbol"
onload=541,component.parentId,17

[urn_graphic]
type=Layer
x=9
y=120
width=85
height=113
layerId=28704782
hide=yes

[loot_2]
type=Model
x=18
width=32
height=32
layerId=28704794
modelZoom=400
discardedModelField=0

[urn_graphic_1]
type=Text
y=32
width=84
height=81
layerId=28704794
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need an Unholy Symbol mould to make this item."

[loot_3]
type=Layer
x=96
y=5
width=84
height=115
layerId=28704782

[urn_graphic_2]
type=Text
x=10
y=1
width=60
height=60
layerId=28704797
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Silver Sickle"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,18

[personal_progress_bar_bg]
type=Model
x=26
y=1
width=32
height=32
layerId=28704797
modelZoom=300
discardedModelField=0

[personal_progress_bar_bg_colour]
type=Text
y=32
width=84
height=84
layerId=28704797
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br>Silver<br>Sickle"
onload=541,component.parentId,18

[personal_progress_bar]
type=Layer
x=96
y=5
width=84
height=115
layerId=28704782
hide=yes

[overview_layer]
type=Model
x=21
y=1
width=32
height=32
layerId=28704801
modelZoom=400
discardedModelField=0

[loot_cave_available_text]
type=Text
x=1
y=32
width=83
height=83
layerId=28704801
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a <br>sickle mould<br> to make<br> this item."

[rift_small]
type=Layer
x=95
y=120
width=84
height=112
layerId=28704782

[progress_holder]
type=Text
x=9
y=1
width=60
height=60
layerId=28704804
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Lightning Rod"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,20

[death_small]
type=Model
x=22
y=1
width=32
height=32
layerId=28704804
modelZoom=300
discardedModelField=0

[member_benefits_button]
type=Text
x=-1
y=32
width=89
height=80
layerId=28704804
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br>Lightning<br>Rod"
onload=541,component.parentId,20

[teleport_button]
type=Layer
x=95
y=120
width=84
height=112
layerId=28704782
hide=yes

[stabilise_rift_text]
type=Model
x=23
y=1
width=32
height=32
layerId=28704808
modelZoom=400
discardedModelField=0

[boss_countdown_timer_holder]
type=Text
x=-1
y=32
width=87
height=80
layerId=28704808
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a lightning rod mould to make this item."

[member_benefits_graphic]
type=Layer
x=179
y=5
width=84
height=115
layerId=28704782

[benefits_title]
type=Text
x=10
y=1
width=60
height=60
layerId=28704811
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Tiara"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,23

[benefits_members_header]
type=Model
x=26
y=1
width=32
height=32
layerId=28704811
modelZoom=300
discardedModelField=0

[benefits_free_header]
type=Text
x=-2
y=32
width=86
height=83
layerId=28704811
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br>Tiara"
onload=541,component.parentId,23

[benefits_row_titles]
type=Layer
x=179
y=5
width=84
height=115
layerId=28704782
hide=yes

[benefits_members_benefits]
type=Model
x=23
y=1
width=32
height=32
layerId=28704815
modelZoom=400
discardedModelField=0

[benefits_free_benefits]
type=Text
y=32
width=84
height=84
layerId=28704815
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a<br> tiara mould <br>to make<br> a tiara."

[benefits_rewards_caveat]
type=Layer
x=179
y=120
width=84
height=112
layerId=28704782

[buy_members_button]
type=Model
x=23
y=1
width=32
height=32
layerId=28704818
modelZoom=400
discardedModelField=0
baseOpName="C"

[button_background]
type=Text
x=12
y=1
width=60
height=60
layerId=28704818
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Silvthrill Rod"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,25

[member_benefits_close_button]
type=Model
x=23
y=1
width=32
height=32
layerId=28704818
modelZoom=300
discardedModelField=0

[personal_progress_bar_container]
type=Text
x=-2
y=32
width=88
height=80
layerId=28704818
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make <br>Silvthril <br>Rod"
onload=541,component.parentId,25

[personal_rewards_holder]
type=Layer
x=179
y=120
width=84
height=112
layerId=28704782
hide=yes

[loot_4]
type=Model
x=23
y=1
width=32
height=32
layerId=28704823
modelZoom=400
discardedModelField=0

[urn_graphic_3]
type=Text
y=32
width=85
height=81
layerId=28704823
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a <br> rod mould <br>to make this <br>item."

[main]
type=Layer
x=263
y=5
width=84
height=115
layerId=28704782

[community_progress_layer]
type=Text
x=9
width=60
height=60
layerId=28704826
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Demonic Sigil"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,30

[overview_text]
type=Model
x=24
width=32
height=32
layerId=28704826
modelZoom=300
discardedModelField=0

[title_text]
type=Text
x=-2
y=32
width=86
height=84
layerId=28704826
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br> Demonic<br>Sigil"
onload=541,component.parentId,30

[tooltip_layer]
type=Layer
x=263
y=5
width=84
height=115
layerId=28704782
hide=yes

[teleport_confirm]
type=Model
x=19
width=32
height=32
layerId=28704830
modelZoom=400
discardedModelField=0

[background_1]
type=Text
x=-1
y=32
width=85
height=84
layerId=28704830
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a<br> demonic sigil<br>mould to make<br>this item."

[confirm_window]
type=Layer
x=263
y=120
width=84
height=112
layerId=28704782

[member_benefits_layer]
type=Text
x=8
width=60
height=60
layerId=28704833
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Silver Bolts"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,21

[membership_page_confirm]
type=Model
x=22
width=32
height=32
layerId=28704833
modelZoom=300
discardedModelField=0

[rifts_stabilised_holder]
type=Text
y=32
width=84
height=81
layerId=28704833
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br> Silver  <br>Crossbow<br> Bolts"
onload=541,component.parentId,21

[horseman_graphics_holder]
type=Layer
x=263
y=120
width=84
height=112
layerId=28704782
hide=yes

[death_graphic]
type=Model
x=20
width=32
height=32
layerId=28704837
modelZoom=400
discardedModelField=0

[famine_graphic]
type=Text
y=31
width=84
height=81
layerId=28704837
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
text="You need a<br> crossbow bolt<br>mould to make<br>this item."

[pestilence_graphic]
type=Layer
x=348
y=5
width=84
height=115
layerId=28704782

[progress_holder_community]
type=Text
x=9
width=60
height=60
layerId=28704840
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Silvthril Chain"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,47

[community_bar_explanation]
type=Model
x=24
width=32
height=32
layerId=28704840
modelZoom=400
discardedModelField=0
baseOpName="C"

[personal_progress_bar_mask]
type=Text
y=31
width=84
height=84
layerId=28704840
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Make<br> Silvthril <br>Chain"
onload=541,component.parentId,47

[personal_progress_bar_mask_colour]
type=Model
x=24
width=32
height=32
layerId=28704840
modelZoom=300
discardedModelField=0

[community_progress_bar_container]
type=Layer
x=348
y=5
width=84
height=115
layerId=28704782
hide=yes

[community_progress_bar_bg]
type=Model
x=24
width=32
height=32
layerId=28704845
modelZoom=400
discardedModelField=0

[community_progress_bar_bg_colour]
type=Text
y=31
width=84
height=83
layerId=28704845
colour=0xFFAA44
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="You need a chain mould to make this item."

[community_progress_bar]
type=Layer
x=348
y=120
width=84
height=112
layerId=28704782

[community_progress_bar_mask]
type=Text
x=8
width=60
height=60
layerId=28704848
hAlign=Center
font=497
shadow=yes
eventCode=hasOp(1,2,3,4)
baseOpName="<col=ff9040>Silver Bolts"
opName0="Make 1"
opName1="Make 5"
opName2="Make All"
opName3="Make X"
onload=542,component.parentId,21

[community_progress_bar_mask_colour]
type=Model
x=22
width=32
height=32
layerId=28704848
modelZoom=300
discardedModelField=0

[community_rewards_holder]
type=Text
x=-1
y=30
width=86
height=83
layerId=28704848
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
onload=541,component.parentId,21

[loot_community_4]
type=Layer
x=348
y=120
width=84
height=112
layerId=28704782
hide=yes

[community_reward_4]
type=Model
x=20
width=32
height=32
layerId=28704852
modelZoom=400
discardedModelField=0

[loot_community_5]
type=Text
y=32
width=85
height=81
layerId=28704852
colour=0xFFAA44
hAlign=Center
font=494
shadow=yes
