[mestext]
type=Rectangle
width=515
height=335
trans=100
fill=yes

[mesnext]
type=Model
x=310
y=80
width=32
height=32
model1Id=17211
modelZoom=1110

[open]
type=Model
x=310
y=80
width=32
height=32
model1Id=17214
modelZoom=1110

[all]
type=Model
x=343
y=323
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2517

[background]
type=Model
x=343
y=323
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2517

[content]
type=Model
x=343
y=323
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2517

[border]
type=Model
x=343
y=323
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2517

[com_7]
type=Model
x=343
y=323
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2517

[com_8]
type=Model
x=343
y=323
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2517

[com_9]
type=Model
x=343
y=323
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2517

[com_10]
type=Model
x=343
y=323
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2517

[com_11]
type=Model
x=343
y=323
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2517

[com_12]
type=Model
x=343
y=323
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2517

[com_13]
type=Model
x=357
y=323
width=32
height=32
model2Id=17201
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2518

[com_14]
type=Model
x=357
y=323
width=32
height=32
model2Id=17202
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2518

[com_15]
type=Model
x=357
y=323
width=32
height=32
model2Id=17203
modelZoom=347
script1=eq,2
script1op1=varbit,varbit_2518

[com_16]
type=Model
x=357
y=323
width=32
height=32
model2Id=17204
modelZoom=347
script1=eq,3
script1op1=varbit,varbit_2518

[com_17]
type=Model
x=357
y=323
width=32
height=32
model2Id=17205
modelZoom=347
script1=eq,4
script1op1=varbit,varbit_2518

[com_18]
type=Model
x=357
y=323
width=32
height=32
model2Id=17206
modelZoom=347
script1=eq,5
script1op1=varbit,varbit_2518

[com_19]
type=Model
x=357
y=323
width=32
height=32
model2Id=17207
modelZoom=347
script1=eq,6
script1op1=varbit,varbit_2518

[com_20]
type=Model
x=357
y=323
width=32
height=32
model2Id=17208
modelZoom=347
script1=eq,7
script1op1=varbit,varbit_2518

[com_21]
type=Model
x=357
y=323
width=32
height=32
model2Id=17209
modelZoom=347
script1=eq,8
script1op1=varbit,varbit_2518

[com_22]
type=Model
x=357
y=323
width=32
height=32
model2Id=17210
modelZoom=347
script1=eq,9
script1op1=varbit,varbit_2518

[com_23]
type=Model
x=333
y=275
width=32
height=32
model2Id=17220
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2528

[com_24]
type=Model
x=333
y=275
width=32
height=32
model2Id=17221
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2527

[com_25]
type=Model
x=333
y=276
width=32
height=32
model2Id=17216
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2529

[com_26]
type=Model
x=333
y=276
width=32
height=32
model2Id=17219
modelZoom=347
script1=eq,0
script1op1=varbit,varbit_2529

[com_27]
type=Model
x=333
y=276
width=32
height=32
model2Id=17217
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2527

[com_28]
type=Model
x=333
y=276
width=32
height=32
model2Id=17218
modelZoom=347
script1=eq,1
script1op1=varbit,varbit_2528

[com_29]
type=Rectangle
buttonType=Button
x=275
y=134
width=28
height=42
trans=255
colour=0xFFFFFF
buttonText="Insert disc?"
eventCode=flag22

[com_30]
type=Model
x=141
y=230
width=32
height=32
model1Id=17187
modelZoom=400
modelXAn=191
modelYAn=165

[com_31]
type=Model
x=273
y=140
width=32
height=32
model1Id=17224
modelZoom=1110

[com_32]
type=Model
x=141
y=230
width=32
height=32
modelZoom=400

[com_33]
type=Sprite
x=476
y=8
width=26
height=23
overLayerId=35
graphic=539

[com_34]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=29163555
overLayerId=35
graphic=540
buttonText="Ok"

[com_35]
type=Layer
x=473
y=3
width=32
height=32
hide=yes

[com_36]
type=Rectangle
buttonType=Button
x=388
y=110
width=18
height=32
trans=255
eventCode=flag22

[com_37]
type=Model
x=355
y=110
width=32
height=32
model1Id=17215
modelZoom=1000

[com_38]
type=Model
x=355
y=109
width=32
height=32
modelZoom=400
