[com_0]
type=Sprite
buttonType=Toggly
x=75
y=206
width=40
height=40
graphic=761
graphic2=762
buttonText="Toggle Run"
eventCode=flag22
script1=eq,1
script1op1=varp,option_run

[com_1]
type=Sprite
buttonType=Toggly
x=75
y=152
width=40
height=40
graphic=761
graphic2=762
buttonText="Toggle Chat Effects"
eventCode=flag22
script1=eq,0
script1op1=varp,option_chat

[com_2]
type=Sprite
buttonType=Toggly
x=131
y=152
width=40
height=40
graphic=761
graphic2=762
buttonText="Toggle Split Private Chat"
eventCode=flag22
script1=eq,1
script1op1=varp,option_pm

[com_3]
type=Sprite
buttonType=Toggly
x=19
y=152
width=40
height=40
graphic=761
graphic2=762
buttonText="Toggle number of Mouse Buttons"
eventCode=flag22
script1=eq,0
script1op1=varp,option_mouse

[com_4]
type=Sprite
buttonType=Toggly
x=19
y=206
width=40
height=40
graphic=761
graphic2=762
buttonText="Toggle Accept Aid"
eventCode=flag22
script1=eq,1
script1op1=varp,option_aid

[com_5]
type=Sprite
buttonType=Button
x=131
y=206
width=40
height=40
graphic=761
graphic2=762
buttonText="Open House Options"
eventCode=flag22

[com_6]
type=Sprite
x=9
y=8
width=32
height=32
graphic=659

[com_7]
type=Sprite
buttonType=Select
x=49
y=16
width=32
height=16
graphic=679
graphic2=683
buttonText="Adjust Screen Brightness"
eventCode=flag22
script1=eq,1
script1op1=varp,option_brightness

[com_8]
type=Sprite
buttonType=Select
x=81
y=16
width=32
height=16
graphic=680
graphic2=684
buttonText="Adjust Screen Brightness"
eventCode=flag22
script1=eq,2
script1op1=varp,option_brightness

[com_9]
type=Sprite
buttonType=Select
x=113
y=16
width=32
height=16
graphic=681
graphic2=685
buttonText="Adjust Screen Brightness"
eventCode=flag22
script1=eq,3
script1op1=varp,option_brightness

[com_10]
type=Sprite
buttonType=Select
x=145
y=16
width=32
height=16
graphic=682
graphic2=686
buttonText="Adjust Screen Brightness"
eventCode=flag22
script1=eq,4
script1op1=varp,option_brightness

[com_11]
type=Sprite
buttonType=Select
x=49
y=53
width=26
height=16
graphic=692
graphic2=687
buttonText="Adjust Music Volume"
eventCode=flag22
script1=eq,4
script1op1=varp,option_music

[com_12]
type=Sprite
buttonType=Select
x=75
y=53
width=26
height=16
graphic=693
graphic2=688
buttonText="Adjust Music Volume"
eventCode=flag22
script1=eq,3
script1op1=varp,option_music

[com_13]
type=Sprite
buttonType=Select
x=101
y=53
width=26
height=16
graphic=694
graphic2=689
buttonText="Adjust Music Volume"
eventCode=flag22
script1=eq,2
script1op1=varp,option_music

[com_14]
type=Sprite
buttonType=Select
x=127
y=53
width=26
height=16
graphic=695
graphic2=690
buttonText="Adjust Music Volume"
eventCode=flag22
script1=eq,1
script1op1=varp,option_music

[com_15]
type=Sprite
buttonType=Select
x=153
y=53
width=26
height=16
graphic=696
graphic2=691
buttonText="Adjust Music Volume"
eventCode=flag22
script1=eq,0
script1op1=varp,option_music

[com_16]
type=Sprite
buttonType=Select
x=49
y=89
width=26
height=16
graphic=692
graphic2=687
buttonText="Adjust Sound Effect Volume"
eventCode=flag22
script1=eq,4
script1op1=varp,option_sounds

[com_17]
type=Sprite
buttonType=Select
x=75
y=89
width=26
height=16
graphic=693
graphic2=688
buttonText="Adjust Sound Effect Volume"
eventCode=flag22
script1=eq,3
script1op1=varp,option_sounds

[com_18]
type=Sprite
buttonType=Select
x=101
y=89
width=26
height=16
graphic=694
graphic2=689
buttonText="Adjust Sound Effect Volume"
eventCode=flag22
script1=eq,2
script1op1=varp,option_sounds

[com_19]
type=Sprite
buttonType=Select
x=127
y=89
width=26
height=16
graphic=695
graphic2=690
buttonText="Adjust Sound Effect Volume"
eventCode=flag22
script1=eq,1
script1op1=varp,option_sounds

[com_20]
type=Sprite
buttonType=Select
x=153
y=89
width=26
height=16
graphic=696
graphic2=691
buttonText="Adjust Sound Effect Volume"
eventCode=flag22
script1=eq,0
script1op1=varp,option_sounds

[com_21]
type=Sprite
x=136
y=155
width=32
height=33
graphic=664

[com_22]
type=Sprite
x=78
y=156
width=32
height=33
graphic=662

[com_23]
type=Sprite
x=23
y=158
width=32
height=33
graphic=663

[com_24]
type=Sprite
x=23
y=211
width=32
height=33
graphic=665

[com_25]
type=Sprite
x=9
y=45
width=32
height=32
graphic=660
graphic2=666
script1=eq,4
script1op1=varp,option_music

[com_26]
type=Sprite
x=9
y=81
width=32
height=32
graphic=661
graphic2=667
script1=eq,4
script1op1=varp,option_sounds

[com_27]
type=Text
x=74
y=227
width=42
height=18
colour=0xFF9800
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="%1%"
script1op1=run_energy

[com_28]
type=Sprite
x=86
y=210
width=27
height=34
graphic=677

[com_29]
type=Sprite
buttonType=Select
x=49
y=126
width=26
height=16
graphic=692
graphic2=687
buttonText="Adjust Area Sound Effect Volume"
eventCode=flag22
script1=eq,4
script1op1=varp,varp_872

[com_30]
type=Sprite
buttonType=Select
x=75
y=126
width=26
height=16
graphic=693
graphic2=688
buttonText="Adjust Area Sound Effect Volume"
eventCode=flag22
script1=eq,3
script1op1=varp,varp_872

[com_31]
type=Sprite
buttonType=Select
x=101
y=126
width=26
height=16
graphic=694
graphic2=689
buttonText="Adjust Area Sound Effect Volume"
eventCode=flag22
script1=eq,2
script1op1=varp,varp_872

[com_32]
type=Sprite
buttonType=Select
x=127
y=126
width=26
height=16
graphic=695
graphic2=690
buttonText="Adjust Area Sound Effect Volume"
eventCode=flag22
script1=eq,1
script1op1=varp,varp_872

[com_33]
type=Sprite
buttonType=Select
x=153
y=126
width=26
height=16
graphic=696
graphic2=691
buttonText="Adjust Area Sound Effect Volume"
eventCode=flag22
script1=eq,0
script1op1=varp,varp_872

[com_34]
type=Sprite
x=9
y=118
width=32
height=32
graphic=673
graphic2=674
script1=eq,4
script1op1=varp,varp_872

[com_35]
type=Sprite
x=136
y=211
width=32
height=32
graphic=676

[com_36]
type=Tooltip
x=9
y=8
width=32
height=32
text="Adjust Screen Brightness"

[com_37]
type=Tooltip
x=9
y=45
width=32
height=32
text="Adjust Music Volume"

[com_38]
type=Tooltip
x=9
y=81
width=32
height=32
text="Adjust Sound Effect Volume"

[com_39]
type=Tooltip
x=9
y=117
width=32
height=32
text="Adjust Area Sound Volume"

[com_40]
type=Tooltip
x=59
y=58
width=41
height=40
layerId=17104947
text="Run (on) Energy %1%"
script1op1=run_energy

[com_41]
type=Tooltip
x=59
y=3
width=40
height=40
layerId=17104949
text="Chat Effects<br>(currently on)"

[com_42]
type=Tooltip
x=115
y=3
width=40
height=40
layerId=17104951
text="Split Private Chat<br>(currently on)"

[com_43]
type=Tooltip
x=2
y=2
width=41
height=41
layerId=17104953
text="Mouse buttons<br>(currently 2)"

[com_44]
type=Tooltip
x=2
y=57
width=39
height=40
layerId=17104955
text="Accept Aid (currently on)"

[com_45]
type=Tooltip
x=131
y=206
width=40
height=40
text="House Options"

[com_46]
type=Tooltip
x=58
y=56
width=41
height=40
layerId=17104948
text="Run (off) Energy %1%"
script1op1=run_energy

[com_47]
type=Tooltip
x=59
y=3
width=40
height=40
layerId=17104950
text="Chat Effects<br>(currently off)"

[com_48]
type=Tooltip
x=115
y=3
width=40
height=40
layerId=17104952
text="Split Private Chat<br>(currently off)"

[com_49]
type=Tooltip
x=1
y=3
width=41
height=41
layerId=17104954
text="Mouse buttons<br>(currently 1)"

[com_50]
type=Tooltip
x=3
y=57
width=39
height=40
layerId=17104956
text="Accept Aid (currently off)"

[com_51]
type=Layer
x=16
y=149
width=155
height=100

[com_52]
type=Layer
x=16
y=149
width=155
height=100
hide=yes

[com_53]
type=Layer
x=16
y=149
width=155
height=100

[com_54]
type=Layer
x=16
y=149
width=155
height=100
hide=yes

[com_55]
type=Layer
x=16
y=149
width=155
height=100

[com_56]
type=Layer
x=16
y=149
width=155
height=100
hide=yes

[com_57]
type=Layer
x=16
y=149
width=155
height=100

[com_58]
type=Layer
x=16
y=149
width=150
height=100
hide=yes

[com_59]
type=Layer
x=16
y=149
width=155
height=100

[com_60]
type=Layer
x=16
y=149
width=155
height=100
hide=yes
