[aif_bronze_button_text]
type=Model
x=414
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=166

[com_1]
type=Text
x=20
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[shop_layer]
type=Text
x=21
y=39
width=350
height=17
hAlign=Center
font=497
text="Line1"
