[dawn]
type=Model
x=414
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=166

[skull1]
type=Text
x=20
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[skull2]
type=Text
x=20
y=27
width=350
height=17
hAlign=Center
font=497
text="Line1"

[skull3]
type=Text
x=20
y=51
width=350
height=17
hAlign=Center
font=497
text="Line2"
