[toad_gun_left]
type=Model
x=290
y=154
width=32
height=32
model1Id=8276
modelZoom=117
modelXAn=520
modelYAn=504

[toad_gun_right]
type=Text
buttonType=Button
x=377
y=225
width=35
height=58
colour=0xFFFF00
font=495
shadow=yes
buttonText="Aim left"
eventCode=flag22

[toad_gun_up]
type=Text
buttonType=Button
x=471
y=224
width=35
height=58
colour=0xFFFF00
font=495
shadow=yes
buttonText="Aim right"
eventCode=flag22

[toad_gun_down]
type=Text
buttonType=Button
x=410
y=192
width=63
height=34
colour=0xFFFF00
font=495
shadow=yes
buttonText="Aim up"
eventCode=flag22

[toad_gun_fire]
type=Text
buttonType=Button
x=412
y=281
width=61
height=34
colour=0xFFFF00
font=495
shadow=yes
buttonText="Aim down"
eventCode=flag22

[toad_gun_fire_alt]
type=Text
buttonType=Button
x=429
y=242
width=24
height=24
colour=0xFFFF00
font=495
shadow=yes
buttonText="FIRE!"
eventCode=flag22

[com_6]
type=Rectangle
x=15
y=18
width=107
height=85
colour=0xF251A09
fill=yes

[colourbit]
type=Rectangle
x=20
y=23
width=97
height=75
colour=0xF926C1A
fill=yes

[toad_gun_loaded]
type=Model
x=59
y=46
width=32
height=32
model1Id=8277
model2Id=8277
modelAnim=paint_frog_travel
modelZoom=514
modelXAn=199
modelYAn=1950

[close_button]
type=Sprite
buttonType=Close
x=468
y=10
width=26
height=23
graphic=539
buttonText="Ok"
