[title]
type=Sprite
x=63
y=25
width=387
height=294
graphic=297
tiling=yes

[text_area]
type=Sprite
x=43
y=52
width=32
height=242
graphic=821
tiling=yes

[scrolling_layer]
type=Sprite
x=437
y=51
width=32
height=243
graphic=823
tiling=yes

[text]
type=Sprite
x=56
y=20
width=32
height=32
graphic=824

[scrollbar]
type=Sprite
x=88
y=7
width=337
height=34
graphic=820
tiling=yes

[root_layer]
type=Sprite
x=88
y=306
width=337
height=32
graphic=822
tiling=yes

[background_layer]
type=Sprite
x=56
y=294
width=32
height=32
graphic=826

[content_layer]
type=Sprite
x=425
y=20
width=32
height=32
graphic=825

[scroll_image]
type=Sprite
x=425
y=294
width=32
height=32
graphic=827

[scroll_area]
type=Model
modelZoom=400
discardedModelField=0

[scroll_left_border]
type=Sprite
x=62
y=36
width=388
height=32
graphic=851
tiling=yes

[scroll_top_border]
type=Sprite
x=62
y=248
width=389
height=32
graphic=851
tiling=yes

[scroll_right_border]
type=Sprite
x=243
y=52
width=32
height=210
graphic=1075
tiling=yes
baseOpName=" "

[scroll_bottom_border]
type=Sprite
x=62
y=276
width=387
height=32
graphic=1074
tiling=yes

[scroll_background_1]
type=Sprite
x=431
y=29
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[scroll_background_2]
type=Text
x=67
y=30
width=77
height=14
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="Duelling with:"

[scroll_background_3]
type=Text
x=142
y=30
width=108
height=15
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="name"

[frame_layer]
type=Text
x=244
y=30
width=126
height=15
colour=0xE1981F
hAlign=Right
lineHeight=12
font=495
shadow=yes
text="Their Combat Level:"

[close_button_layer]
type=Text
x=374
y=30
width=108
height=15
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="126"

[com_19]
type=Text
x=40
y=8
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Ranged"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use Ranged attacks."
onmouseleave=68,41746477,""

[com_20]
type=Sprite
x=8
y=8
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use Ranged attacks."
onmouseleave=68,41746477,""

[com_21]
type=Text
x=40
y=26
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Melee"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use melee attacks."
onmouseleave=68,41746477,""

[com_22]
type=Sprite
x=8
y=26
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use melee attacks."
onmouseleave=68,41746477,""

[com_23]
type=Text
x=40
y=44
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Magic"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use Magic attacks."
onmouseleave=68,41746477,""

[com_24]
type=Sprite
x=8
y=44
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to use magic attacks."
onmouseleave=68,41746477,""

[com_25]
type=Text
x=40
y=62
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Fun Weapons"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Both players will use a 'fun weapon', such as: rubber chicken."
onmouseleave=68,41746477,""

[com_26]
type=Sprite
x=8
y=62
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Both players will use a 'fun weapon', such as: rubber chicken."
onmouseleave=68,41746477,""

[com_27]
type=Text
x=40
y=80
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Forfeit"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to forfeit the duel."
onmouseleave=68,41746477,""

[com_28]
type=Sprite
x=8
y=80
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player is allowed to forfeit the duel."
onmouseleave=68,41746477,""

[com_29]
type=Text
x=40
y=98
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Drinks"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use drinks, such as: strength potion."
onmouseleave=68,41746477,""

[com_30]
type=Sprite
x=8
y=98
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use drinks, such as: strength potion."
onmouseleave=68,41746477,""

[com_31]
type=Text
x=40
y=116
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Food"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use food."
onmouseleave=68,41746477,""

[com_32]
type=Sprite
x=8
y=116
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use food."
onmouseleave=68,41746477,""

[com_33]
type=Text
x=40
y=134
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Prayer"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use prayer."
onmouseleave=68,41746477,""

[com_34]
type=Sprite
x=8
y=134
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use prayer."
onmouseleave=68,41746477,""

[com_35]
type=Text
x=40
y=152
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Movement"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Players stand next to each other and aren't allowed to move or use holding spells."
onmouseleave=68,41746477,""

[com_36]
type=Sprite
x=8
y=152
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Players stand next to each other and aren't allowed to move or use hold spells."
onmouseleave=68,41746477,""

[com_37]
type=Text
x=40
y=170
width=100
height=15
layerId=41746476
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Obstacles"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"The duel will be in an arena with obstacles."
onmouseleave=68,41746477,""

[com_38]
type=Sprite
x=8
y=170
width=15
height=15
layerId=41746476
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"The duel will be in an arena with obstacles."
onmouseleave=68,41746477,""

[com_39]
type=Text
x=33
width=100
height=15
layerId=41746475
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Enable Summoning"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Players can summon animals during the duel."
onmouseleave=68,41746477,""

[com_40]
type=Sprite
x=1
width=15
height=15
layerId=41746475
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Players can summon animals during the duel.."
onmouseleave=68,41746477,""

[com_41]
type=Text
x=33
y=18
width=100
height=15
layerId=41746475
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Special Attacks"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use special attacks."
onmouseleave=68,41746477,""

[com_42]
type=Sprite
x=1
y=18
width=15
height=15
layerId=41746475
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use special attacks."
onmouseleave=68,41746477,""

[com_43]
type=Layer
x=7
y=188
width=133
height=33
layerId=41746476

[com_44]
type=Layer
x=268
y=51
width=161
height=210
onload=786
onvartransmit=566
onvartransmitlist=286

[com_45]
type=Text
x=64
y=294
width=385
height=25
colour=0xAAAAAA
hAlign=Center
vAlign=Center
lineHeight=11
font=494
shadow=yes
text="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

[com_46]
type=Sprite
x=61
y=3
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their head."
onmouseleave=68,41746477,""

[com_47]
type=Sprite
x=20
y=42
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their back."
onmouseleave=68,41746477,""

[com_48]
type=Sprite
x=61
y=42
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items around their neck."
onmouseleave=68,41746477,""

[com_49]
type=Sprite
x=102
y=42
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to have items in their quiver."
onmouseleave=68,41746477,""

[com_50]
type=Sprite
x=5
y=81
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use 2-handed items or items in their right hand."
onmouseleave=68,41746477,""

[com_51]
type=Sprite
x=61
y=81
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their torso."
onmouseleave=68,41746477,""

[com_52]
type=Sprite
x=117
y=81
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to use 2-handed items or items in their left hand."
onmouseleave=68,41746477,""

[com_53]
type=Sprite
x=61
y=121
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their legs."
onmouseleave=68,41746477,""

[com_54]
type=Sprite
x=117
y=161
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their fingers."
onmouseleave=68,41746477,""

[com_55]
type=Sprite
x=61
y=161
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their feet."
onmouseleave=68,41746477,""

[com_56]
type=Sprite
x=5
y=161
width=36
height=36
layerId=41746511
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41746477,"Neither player will be allowed to wear items on their hands."
onmouseleave=68,41746477,""

[com_57]
type=Sprite
x=63
y=5
width=32
height=32
layerId=41746511
graphic=156

[com_58]
type=Sprite
x=22
y=44
width=32
height=32
layerId=41746511
graphic=157

[com_59]
type=Sprite
x=63
y=44
width=32
height=32
layerId=41746511
graphic=158

[com_60]
type=Sprite
x=104
y=44
width=32
height=32
layerId=41746511
graphic=166

[com_61]
type=Sprite
x=7
y=83
width=32
height=32
layerId=41746511
graphic=159

[com_62]
type=Sprite
x=63
y=83
width=32
height=32
layerId=41746511
graphic=161

[com_63]
type=Sprite
x=119
y=83
width=32
height=32
layerId=41746511
graphic=162

[com_64]
type=Sprite
x=63
y=123
width=32
height=32
layerId=41746511
graphic=163

[com_65]
type=Sprite
x=119
y=163
width=32
height=32
layerId=41746511
graphic=160

[com_66]
type=Sprite
x=63
y=163
width=32
height=32
layerId=41746511
graphic=165

[com_67]
type=Sprite
x=7
y=163
width=32
height=32
layerId=41746511
graphic=164

[com_68]
type=Sprite
x=61
y=3
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their head."
onmouseleave=68,41746477,""

[com_69]
type=Sprite
x=20
y=42
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their back."
onmouseleave=68,41746477,""

[com_70]
type=Sprite
x=61
y=42
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items around their neck."
onmouseleave=68,41746477,""

[com_71]
type=Sprite
x=102
y=42
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to have items in their quiver."
onmouseleave=68,41746477,""

[com_72]
type=Sprite
x=5
y=81
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to use 2-handed items or items in their right hand."
onmouseleave=68,41746477,""

[com_73]
type=Sprite
x=61
y=81
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their torso."
onmouseleave=68,41746477,""

[com_74]
type=Sprite
x=117
y=81
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to use 2-handed items or items in their left hand."
onmouseleave=68,41746477,""

[com_75]
type=Sprite
x=61
y=121
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their legs."
onmouseleave=68,41746477,""

[com_76]
type=Sprite
x=117
y=161
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their fingers."
onmouseleave=68,41746477,""

[com_77]
type=Sprite
x=61
y=161
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their feet."
onmouseleave=68,41746477,""

[com_78]
type=Sprite
x=5
y=161
width=36
height=36
layerId=41746512
graphic=1132
onmouseover=68,41746477,"Neither player will be allowed to wear items on their hands."
onmouseleave=68,41746477,""

[com_79]
type=Layer
x=80
y=56
width=159
height=203
onload=560

[com_80]
type=Layer
x=80
y=56
width=159
height=203
baseOpName=" "

[com_81]
type=Layer
width=80
height=24
layerId=41746515
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_82]
type=Text
width=80
height=24
layerId=41746515
colour=0x00CC00
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Accept"
onmouseover=45,component.parentId,43776
onmouseleave=45,component.parentId,52224

[com_83]
type=Layer
x=134
y=266
width=80
height=24
eventCode=hasOp(1)
opName0="Accept"

[com_84]
type=Layer
width=80
height=24
layerId=41746518
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_85]
type=Text
width=80
height=24
layerId=41746518
colour=0xCC0000
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Decline"
onmouseover=45,component.parentId,11206656
onmouseleave=45,component.parentId,13369344

[com_86]
type=Layer
x=305
y=266
width=80
height=24
eventCode=hasOp(1)
opName0="Decline"

[com_87]
type=Layer
x=429
y=51
width=16
height=210
