[com_0]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[com_1]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[drop_inv_layer]
type=Sprite
y=59
width=32
height=241
graphic=821
tiling=yes

[chest_inv_layer]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[scrollbar_right]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[scrollbar_left]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[background_layer]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[content_layer]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[frame_layer]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[close_button_layer]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[root_layer]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[left_layer]
type=Sprite
x=24
y=39
width=465
height=32
graphic=828
tiling=yes

[right_layer]
type=Sprite
x=13
y=41
width=32
height=32
graphic=829

[accept_button_layer]
type=Sprite
x=468
y=41
width=32
height=32
graphic=830

[3x3_context_button_layer_4]
type=Model
modelZoom=400
discardedModelField=0

[add_inv_layer]
type=Model
modelZoom=400
discardedModelField=0

[com_16]
type=Sprite
x=19
y=270
width=475
height=32
graphic=851
tiling=yes

[divider_bottom]
type=Sprite
x=246
y=58
width=41
height=224
graphic=852
tiling=yes

[com_18]
type=Sprite
x=246
y=26
width=28
height=27
graphic=852
tiling=yes

[divider_top]
type=Text
x=301
y=28
width=169
height=18
colour=0xFF9C1F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Items being dropped"

[3x3_context_button_on_layer_4]
type=Text
x=42
y=25
width=203
height=23
colour=0xFF9C1F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Items ready to be dropped"

[3x3_context_button_over_layer_4]
type=Layer
x=245
y=58
width=16
height=224
onload=678

[3x3_context_button_selected_layer_4]
type=Layer
x=477
y=58
width=17
height=225

[accept_button]
type=Sprite
x=262
y=27
width=25
height=25
graphic=1178

[3x3_context_button_hit_layer_4]
type=Text
x=286
y=31
width=32
height=15
colour=0xFF4B00
font=494
shadow=yes
text="00"
onvartransmit=677
onvartransmitlist=1135

[3x3_context_button_disabled_layer_4]
type=Layer
x=431
y=289
width=59
height=30
eventCode=hasOp(1)
opName0="Accept"
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_26]
type=Text
x=428
y=288
width=65
height=31
colour=0xFFBE00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Accept"

[3x3_context_button_text_layer_4]
type=Layer
x=20
y=61
width=223
height=220
scrollHeight=1296

[button_2]
type=Layer
x=263
y=60
width=214
height=222
scrollHeight=1296

[com_29]
type=Layer
x=20
y=285
width=413
height=35

[com_30]
type=Text
x=9
y=309
width=491
height=12
colour=0xFF4B00
hAlign=Center
font=494
text="(Once you press Accept items can't be taken out of the chest!)"
