[mainmodal_window]
type=Layer
width=512
height=334

[mainmodal_window_background]
type=Layer
x=-1
y=13
width=512
height=334

[mainmodal_window_content]
type=Model
x=5
y=-8
width=502
height=320
layerId=27459585
model1Id=26445
modelZoom=323
modelXAn=507
modelXOf=-3
modelYOf=2
discardedModelField=65204
eventCode=hasOp(10)
opName9=" "

[item_list]
type=Text
x=57
y=296
width=390
height=16
layerId=27459585
colour=0xFFFFCC
hAlign=Center
font=497
text="Ahoy!  What would ye like to be sewn together, matey?"
eventCode=hasOp(10)
opName9=" "

[build]
type=Layer
x=82
y=8
width=67
height=61
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459623,16777215
onmouseleave=45,27459623,13421772

[click]
type=Layer
x=176
y=8
width=61
height=63
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459625,16777215
onmouseleave=45,27459625,13421772

[highlight]
type=Layer
x=269
y=8
width=62
height=62
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459627,16777215
onmouseleave=45,27459627,13421772

[info_layer]
type=Layer
x=361
y=8
width=61
height=63
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459629,16777215
onmouseleave=45,27459629,13421772

[bg]
type=Layer
x=133
y=68
width=56
height=61
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459631,16777215
onmouseleave=45,27459631,13421772

[text_1]
type=Layer
x=227
y=68
width=59
height=62
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459633,16777215
onmouseleave=45,27459633,13421772

[com_10]
type=Layer
x=321
y=68
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459635,16777215
onmouseleave=45,27459635,13421772

[item_1]
type=Layer
x=133
y=218
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459637,16777215
onmouseleave=45,27459637,13421772

[text_2]
type=Layer
x=227
y=218
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459639,16777215
onmouseleave=45,27459639,13421772

[com_13]
type=Layer
x=321
y=218
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459641,16777215
onmouseleave=45,27459641,13421772

[item_2]
type=Layer
x=263
y=476
width=59
height=84
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459643,16777215
onmouseleave=45,27459643,13421772

[text_3]
type=Layer
x=176
y=158
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459645,16777215
onmouseleave=45,27459645,13421772

[com_16]
type=Layer
x=361
y=158
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459647,16777215
onmouseleave=45,27459647,13421772

[cost_1]
type=Layer
x=269
y=158
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459649,16777215
onmouseleave=45,27459649,13421772

[cost_2]
type=Layer
x=82
y=158
width=55
height=60
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459651,16777215
onmouseleave=45,27459651,13421772

[create_button]
type=Layer
x=82
y=308
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459653,16777215
onmouseleave=45,27459653,13421772

[separate_button]
type=Layer
x=176
y=308
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459655,16777215
onmouseleave=45,27459655,13421772

[mainmodal_window_border]
type=Layer
x=269
y=308
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459657,16777215
onmouseleave=45,27459657,13421772

[mainmodal_window_close_button]
type=Layer
x=361
y=308
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459659,16777215
onmouseleave=45,27459659,13421772

[com_23]
type=Layer
x=133
y=378
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459661,16777215
onmouseleave=45,27459661,13421772

[com_24]
type=Layer
x=227
y=378
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459663,16777215
onmouseleave=45,27459663,13421772

[com_25]
type=Layer
x=321
y=378
width=55
height=71
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459665,16777215
onmouseleave=45,27459665,13421772

[com_26]
type=Layer
x=167
y=476
width=65
height=55
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459667,16777215
onmouseleave=45,27459667,13421772

[com_27]
type=Layer
x=72
y=473
width=71
height=85
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459669,16777215
onmouseleave=45,27459669,13421772

[com_28]
type=Layer
x=326
y=562
width=46
height=78
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459671,16777215
onmouseleave=45,27459671,13421772

[com_29]
type=Layer
x=351
y=476
width=76
height=58
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459673,16777215
onmouseleave=45,27459673,13421772

[com_30]
type=Layer
x=217
y=558
width=83
height=84
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459675,16777215
onmouseleave=45,27459675,13421772

[com_31]
type=Layer
x=118
y=558
width=85
height=75
layerId=27459619
eventCode=hasOp(10)
opName9=" "
onmouseover=45,27459677,16777215
onmouseleave=45,27459677,13421772

[com_32]
type=Rectangle
x=77
y=460
width=343
height=2
layerId=27459619
colour=0x4B070F
fill=yes
eventCode=hasOp(10)
opName9=" "

[com_33]
type=Rectangle
x=77
y=291
width=343
height=2
layerId=27459619
colour=0x4B070F
fill=yes
eventCode=hasOp(10)
opName9=" "

[com_34]
type=Rectangle
x=77
y=141
width=343
height=2
layerId=27459619
colour=0x4B070F
fill=yes
eventCode=hasOp(10)
opName9=" "

[com_35]
type=Layer
y=34
width=504
height=263
scrollHeight=715
onload=956

[com_36]
type=Layer
x=473
y=45
width=16
height=240
onload=63,component.parentId,27459619,792,789,790,791,773,788

[com_37]
type=Sprite
x=473
y=5
width=26
height=23
graphic=541
eventCode=hasOp(10)
opName9=" "
onmouseover=44,27459621,542
onmouseleave=44,27459621,541
onclick=29

[com_38]
type=Model
x=10
width=47
height=38
layerId=27459588
model1Id=16003
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_39]
type=Text
x=4
y=37
width=58
height=24
layerId=27459588
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="White<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_40]
type=Model
x=9
width=47
height=38
layerId=27459589
model1Id=16005
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_41]
type=Text
x=3
y=37
width=58
height=22
layerId=27459589
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Red<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_42]
type=Model
x=7
width=47
height=38
layerId=27459590
model1Id=16002
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_43]
type=Text
x=5
y=37
width=53
height=23
layerId=27459590
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Blue<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_44]
type=Model
x=6
width=47
height=38
layerId=27459591
model1Id=16004
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_45]
type=Text
x=2
y=37
width=58
height=23
layerId=27459591
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Brown<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_46]
type=Model
x=6
y=1
width=47
height=38
layerId=27459592
model1Id=34867
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_47]
type=Text
y=38
width=56
height=23
layerId=27459592
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Grey<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_48]
type=Model
x=6
y=1
width=47
height=38
layerId=27459593
model1Id=34855
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-10
modelYOf=-4
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_49]
type=Text
x=1
y=38
width=58
height=24
layerId=27459593
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Purple<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_50]
type=Model
x=3
y=-3
width=51
height=41
layerId=27459594
model1Id=34866
modelZoom=1622
modelXAn=387
modelYAn=75
modelXOf=-11
modelYOf=-4
discardedModelField=64036
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_51]
type=Text
x=-3
y=35
width=58
height=24
layerId=27459594
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Orange<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_52]
type=Model
x=-3
width=62
height=41
layerId=27459595
model1Id=34853
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63805
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_53]
type=Text
y=37
width=58
height=24
layerId=27459595
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Grey<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_54]
type=Model
y=-1
width=62
height=41
layerId=27459596
model1Id=34857
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63792
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_55]
type=Text
y=39
width=58
height=24
layerId=27459596
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Purple<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_56]
type=Model
y=-1
width=62
height=41
layerId=27459597
model1Id=34865
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_57]
type=Text
x=-2
y=39
width=58
height=24
layerId=27459597
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Orange<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_58]
type=Model
x=4
width=62
height=48
layerId=27459598
model1Id=34859
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-2
discardedModelField=63787
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_59]
type=Text
x=3
y=50
width=58
height=24
layerId=27459598
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Hat & double patches"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_60]
type=Model
x=-4
width=62
height=41
layerId=27459599
model1Id=34864
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63792
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_61]
type=Text
y=37
width=58
height=24
layerId=27459599
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Red<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_62]
type=Model
x=-4
width=62
height=41
layerId=27459600
model1Id=34870
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63792
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_63]
type=Text
y=37
width=58
height=24
layerId=27459600
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Brown<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_64]
type=Model
x=-5
y=-1
width=62
height=41
layerId=27459601
model1Id=34868
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_65]
type=Text
y=37
width=58
height=24
layerId=27459601
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Blue<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_66]
type=Model
x=-4
width=62
height=41
layerId=27459602
model1Id=34856
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-3
modelYOf=-5
discardedModelField=64036
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_67]
type=Text
y=37
width=58
height=24
layerId=27459602
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="White<br>bandana"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_68]
type=Model
x=-4
width=60
height=41
layerId=27459603
model1Id=34869
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63861
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_69]
type=Text
y=37
width=58
height=34
layerId=27459603
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="White<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_70]
type=Model
x=-4
width=60
height=41
layerId=27459604
model1Id=34854
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63803
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_71]
type=Text
y=37
width=58
height=34
layerId=27459604
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Red<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_72]
type=Model
x=-4
width=60
height=41
layerId=27459605
model1Id=34861
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63832
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_73]
type=Text
y=37
width=58
height=34
layerId=27459605
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Blue<br> bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_74]
type=Model
x=-4
width=60
height=41
layerId=27459606
model1Id=34871
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63818
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_75]
type=Text
y=37
width=58
height=34
layerId=27459606
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Brown<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_76]
type=Model
x=-4
width=60
height=41
layerId=27459607
model1Id=34860
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63805
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_77]
type=Text
y=37
width=58
height=34
layerId=27459607
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Grey<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_78]
type=Model
x=-4
width=60
height=41
layerId=27459608
model1Id=34862
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63792
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_79]
type=Text
y=37
width=58
height=34
layerId=27459608
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Purple<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_80]
type=Model
x=-4
width=60
height=41
layerId=27459609
model1Id=34872
modelZoom=1750
modelXAn=387
modelYAn=75
modelXOf=-2
modelYOf=-5
discardedModelField=63780
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_81]
type=Text
y=37
width=58
height=34
layerId=27459609
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Orange<br>bandana<br>left eye"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_82]
type=Model
x=9
width=53
height=38
layerId=27459610
model1Id=16007
modelZoom=1500
modelXAn=285
modelYAn=3
modelXOf=-3
modelYOf=7
discardedModelField=63848
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_83]
type=Text
x=-3
y=44
width=74
height=14
layerId=27459610
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Hat & patch"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_84]
type=Model
x=10
y=3
width=64
height=51
layerId=27459611
model1Id=34863
modelZoom=1500
modelXAn=386
modelYAn=73
modelXOf=-8
discardedModelField=63850
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_85]
type=Text
x=2
y=57
width=76
height=25
layerId=27459611
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Hat & patch<br>left"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_86]
type=Model
x=4
y=-2
width=37
height=66
layerId=27459612
model1Id=34858
modelZoom=1500
modelXAn=398
modelYAn=40
modelYOf=3
discardedModelField=63820
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_87]
type=Text
x=-9
y=50
width=61
height=65479
layerId=27459612
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Double<br>patch"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_88]
type=Model
x=15
width=41
height=44
layerId=27459613
model1Id=16006
modelZoom=1500
modelXAn=1474
modelYAn=414
modelXOf=-1
modelYOf=2
discardedModelField=63815
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_89]
type=Text
x=-6
y=48
width=84
height=12
layerId=27459613
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Hook & claw"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_90]
type=Model
x=11
width=58
height=48
layerId=27459614
model1Id=26444
modelZoom=1750
modelXAn=2038
modelYAn=3
modelYOf=2
discardedModelField=63786
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_91]
type=Text
y=52
width=81
height=35
layerId=27459614
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Cavalier & highwayman mask"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_92]
type=Model
x=16
width=42
height=49
layerId=27459615
model1Id=26443
modelZoom=1500
modelXAn=2038
modelYAn=3
modelXOf=6
modelYOf=-8
discardedModelField=63823
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "

[com_93]
type=Text
x=-1
y=53
width=88
height=24
layerId=27459615
colour=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Beret & mime mask"
eventCode=hasOp(1,10)
opName0="Buy"
opName9=" "
