[tol_background_color]
type=Rectangle
width=512
height=334
trans=64
colour=0x3B2A1A
fill=yes

[tol_background_shadow1]
type=Rectangle
x=16
y=327
width=486
height=4
trans=64
colour=0x140B02
fill=yes

[tol_background_shadow2]
type=Rectangle
x=498
y=312
width=4
height=15
trans=64
colour=0x140B02
fill=yes

[tol_background_shadow3]
type=Rectangle
x=489
y=6
width=4
height=305
trans=64
colour=0x140B02
fill=yes

[blackboard]
type=Model
x=226
y=175
width=32
height=32
model1Id=27109
modelZoom=356

[close_button]
type=Model
width=32
height=32
layerId=36634631
model1Id=27108
modelZoom=400

[cardbglyr]
type=Model
x=437
y=31
width=32
height=32
overLayerId=7
model1Id=27105
modelZoom=400

[objects]
type=Layer
buttonType=Close
x=437
y=31
width=32
height=32
hide=yes
buttonText="Ok"

[cardfglyr]
type=Model
x=55
y=56
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[cardselectedgraphics]
type=Model
x=122
y=56
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_1]
type=Model
x=189
y=56
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_2]
type=Model
x=256
y=56
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_3]
type=Model
x=323
y=56
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_4]
type=Model
x=55
y=147
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_5]
type=Model
x=122
y=147
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_6]
type=Model
x=189
y=147
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_7]
type=Model
x=256
y=147
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_8]
type=Model
x=323
y=147
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_9]
type=Model
x=55
y=238
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_10]
type=Model
x=122
y=238
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_11]
type=Model
x=189
y=238
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_12]
type=Model
x=256
y=238
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_13]
type=Model
x=323
y=238
width=32
height=32
layerId=36634647
model1Id=27106
modelZoom=720

[pattern_button_14]
type=Layer
width=412
height=332

[pattern_button_0]
type=Model
x=55
y=56
width=32
height=32
modelZoom=400

[pattern_cards_hint]
type=Model
x=122
y=56
width=32
height=32
modelZoom=400

[pattern_confirm_btn]
type=Model
x=189
y=56
width=32
height=32
modelZoom=400

[cardbg_0]
type=Model
x=256
y=56
width=32
height=32
modelZoom=400

[cardbg_1]
type=Model
x=323
y=56
width=32
height=32
modelZoom=400

[cardbg_2]
type=Model
x=55
y=147
width=32
height=32
modelZoom=400

[cardbg_3]
type=Model
x=122
y=147
width=32
height=32
modelZoom=400

[cardbg_4]
type=Model
x=189
y=147
width=32
height=32
modelZoom=400

[cardbg_5]
type=Model
x=256
y=147
width=32
height=32
modelZoom=400

[cardbg_6]
type=Model
x=323
y=147
width=32
height=32
modelZoom=400

[cardbg_7]
type=Model
x=55
y=238
width=32
height=32
modelZoom=400

[cardbg_8]
type=Model
x=122
y=238
width=32
height=32
modelZoom=400

[cardbg_9]
type=Model
x=189
y=238
width=32
height=32
modelZoom=400

[cardbg_10]
type=Model
x=256
y=238
width=32
height=32
modelZoom=400

[cardbg_11]
type=Model
x=323
y=238
width=32
height=32
modelZoom=400

[cardbg_12]
type=Layer
width=412
height=332

[cardbg_13]
type=Model
x=55
y=56
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[cardbg_14]
type=Model
x=122
y=56
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_0]
type=Model
x=189
y=56
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_1]
type=Model
x=256
y=56
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_2]
type=Model
x=323
y=56
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_3]
type=Model
x=55
y=147
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_4]
type=Model
x=122
y=147
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_5]
type=Model
x=189
y=147
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_6]
type=Model
x=256
y=147
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_7]
type=Model
x=323
y=147
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_8]
type=Model
x=55
y=238
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_9]
type=Model
x=122
y=238
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_10]
type=Model
x=189
y=238
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_11]
type=Model
x=256
y=238
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_12]
type=Model
x=323
y=238
width=32
height=32
layerId=36634663
model1Id=27107
modelZoom=709

[pattern_obj_13]
type=Sprite
buttonType=Toggly
x=106
y=28
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3802

[pattern_obj_14]
type=Sprite
buttonType=Toggly
x=173
y=28
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3803

[cardshn_0]
type=Sprite
buttonType=Toggly
x=240
y=28
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3804

[cardshn_1]
type=Sprite
buttonType=Toggly
x=307
y=28
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3805

[cardshn_2]
type=Sprite
buttonType=Toggly
x=39
y=119
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3806

[cardshn_3]
type=Sprite
buttonType=Toggly
x=106
y=119
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3807

[cardshn_4]
type=Sprite
buttonType=Toggly
x=173
y=119
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3808

[cardshn_5]
type=Sprite
buttonType=Toggly
x=240
y=119
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3809

[cardshn_6]
type=Sprite
buttonType=Toggly
x=307
y=119
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3810

[cardshn_7]
type=Sprite
buttonType=Toggly
x=39
y=209
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3811

[cardshn_8]
type=Sprite
buttonType=Toggly
x=106
y=209
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3812

[cardshn_9]
type=Sprite
buttonType=Toggly
x=173
y=209
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3813

[cardshn_10]
type=Sprite
buttonType=Toggly
x=240
y=209
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3814

[cardshn_11]
type=Sprite
buttonType=Toggly
x=307
y=209
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3815

[cardshn_12]
type=Sprite
buttonType=Toggly
x=39
y=28
width=64
height=89
graphic2=442
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_3801

[cardshn_13]
type=Sprite
x=414
y=255
width=29
height=29
overLayerId=71
graphic=879

[cardshn_14]
type=Layer
buttonType=Button
x=409
y=250
width=40
height=40
hide=yes
eventCode=flag22

[pattern_pick_card_1]
type=Text
x=375
y=69
width=98
height=157
colour=0xD1CDCA
hAlign=Center
font=495
shadow=yes
text="Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. "

[pattern_pick_card_2]
type=Sprite
x=5
y=5
width=29
height=29
layerId=36634695
graphic=880

[pattern_pick_card_3]
type=Sprite
y=1
width=40
height=40
layerId=36634695
