[peng_map_interface]
type=Rectangle
x=-1
width=512
height=334
colour=0x433621
fill=yes

[misc_shipmodel]
type=Model
x=223
y=135
width=32
height=32
model1Id=4652
modelZoom=894
modelXAn=479
modelYAn=2

[com_2]
type=Model
x=219
y=124
width=32
height=32
model1Id=21733
modelZoom=917
modelXAn=346
modelYAn=60

[com_3]
type=Text
x=92
y=203
width=148
height=18
colour=0x282315
hAlign=Center
font=497
text="Waterbirth <br>Island"

[com_4]
type=Text
x=171
y=110
width=120
height=16
colour=0x282315
hAlign=Center
font=497
text="Miscellania"

[com_5]
type=Text
x=223
y=161
width=92
height=16
colour=0x282315
hAlign=Center
font=497
text="Etceteria"

[com_6]
type=Text
x=274
y=282
width=75
height=18
colour=0x282315
font=497
text="Rellekka"

[com_7]
type=Text
x=79
y=178
width=135
height=18
colour=0x282315
font=497
text="Neitiznot & Jatizso"

[layer_1]
type=Text
x=334
y=260
width=122
height=18
colour=0x282315
hAlign=Center
font=497
text="Keldagrim<br>entrance"
