[tools_bg]
type=Rectangle
x=8
y=28
width=173
height=111
trans=200
fill=yes

[background]
type=Rectangle
x=14
y=31
width=161
height=105
trans=200
fill=yes

[normal_tools]
type=Rectangle
x=24
y=36
width=143
height=95
trans=200
fill=yes

[bellows_demo]
type=Model
x=85
y=70
width=32
height=32
modelZoom=760
modelXAn=2033
modelYAn=1833
discardedModelField=0
onvartransmit=751
onvartransmitlist=1174,1160

[wirebox]
type=Sprite
x=5
y=25
width=32
height=32
graphic=856

[pipes]
type=Sprite
x=37
y=12
width=116
height=32
graphic=851
tiling=yes
baseOpName=" "

[valve_wheel]
type=Sprite
x=152
y=25
width=32
height=32
graphic=857

[gauge]
type=Sprite
x=167
y=57
width=32
height=53
graphic=852
tiling=yes

[wirebox_cover]
type=Sprite
x=152
y=110
width=32
height=32
graphic=859

[wire_box]
type=Sprite
x=37
y=126
width=115
height=32
graphic=851
tiling=yes

[bounding]
type=Sprite
x=5
y=110
width=32
height=32
graphic=858

[wrench]
type=Sprite
x=-9
y=57
width=32
height=53
graphic=852
tiling=yes

[sparewire]
type=Sprite
x=-1
y=169
width=32
height=47
graphic=1075
tiling=yes

[wirecutter]
type=Sprite
x=13
y=153
width=164
height=32
graphic=1074
tiling=yes

[tape]
type=Sprite
x=164
y=169
width=32
height=47
graphic=1075
tiling=yes

[bellows]
type=Sprite
x=12
y=199
width=165
height=32
graphic=1074
tiling=yes

[lever_down]
type=Sprite
x=-10
y=-2
width=166
height=20
layerId=44171282
graphic=1196

[lever_up]
type=Rectangle
width=146
height=14
layerId=44171282
trans=255
colour=0xFFFF00

[wires_cut]
type=Layer
x=21
y=5
width=146
height=14
layerId=44171318

[wires_wired]
type=Model
x=3
width=143
height=13
layerId=44171282
model1Id=18552
modelZoom=1153
modelXAn=500
discardedModelField=0

[wires_tape]
type=Model
x=2
width=16
height=13
layerId=44171282
hide=yes
model1Id=31717
modelZoom=1153
modelXAn=500
modelXOf=63
discardedModelField=0

[wires_eel]
type=Model
x=16
width=16
height=13
layerId=44171282
model1Id=31703
modelZoom=1153
modelXAn=500
modelXOf=49
discardedModelField=0

[peng_rak_panel_wires_seaweed]
type=Model
x=30
width=15
height=13
layerId=44171282
hide=yes
model1Id=31709
modelZoom=1153
modelXAn=500
modelXOf=35
discardedModelField=0

[com_23]
type=Model
x=23
width=9
height=13
layerId=44171282
model1Id=31718
modelZoom=1153
modelXAn=500
modelXOf=46
discardedModelField=0

[com_24]
type=Model
x=58
y=1
width=15
height=13
layerId=44171282
model1Id=31705
modelZoom=1153
modelXAn=500
modelXOf=7
discardedModelField=0

[com_25]
type=Model
x=73
y=1
width=15
height=13
layerId=44171282
model1Id=31715
modelZoom=1153
modelXAn=500
modelXOf=-7
discardedModelField=0

[com_26]
type=Model
x=87
y=1
width=15
height=13
layerId=44171282
model1Id=31714
modelZoom=1153
modelXAn=500
modelXOf=-21
discardedModelField=0

[com_27]
type=Model
x=101
y=1
width=15
height=13
layerId=44171282
model1Id=31708
modelZoom=1153
modelXAn=500
modelXOf=-35
discardedModelField=0

[com_28]
type=Model
x=115
y=1
width=16
height=13
layerId=44171282
model1Id=31702
modelZoom=1153
modelXAn=500
modelXOf=-50
discardedModelField=0

[com_29]
type=Model
x=129
y=1
width=16
height=13
layerId=44171282
model1Id=31711
modelZoom=1153
modelXAn=500
modelXOf=-64
discardedModelField=0

[com_30]
type=Text
width=146
height=15
layerId=44171282
colour=0xFFFFCC
hAlign=Center
vAlign=Bottom
font=494
text="S P E C I A L   M O V E"
onvartransmit=756
onstattransmit=756
onvartransmitlist=1177
onstattransmitlist=23

[com_31]
type=Sprite
x=32
y=173
width=25
height=25
layerId=44171318
graphic=1182

[com_32]
type=Text
x=29
y=200
width=32
height=15
layerId=44171318
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="9999"
onstattransmit=755
onstattransmitlist=23

[com_33]
type=Sprite
x=134
y=173
width=25
height=25
layerId=44171318
graphic=1178

[com_34]
type=Text
x=131
y=200
width=32
height=15
layerId=44171318
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="9999"
onvartransmit=752
onvartransmitlist=1176

[com_35]
type=Sprite
x=126
y=173
width=25
height=25
layerId=44171317
graphic=1177

[com_36]
type=Text
x=126
y=200
width=32
height=15
layerId=44171317
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="100%"
onvartransmit=753
onvartransmitlist=1175

[com_37]
type=Sprite
x=31
y=173
width=25
height=25
layerId=44171317
graphic=1176

[com_38]
type=Text
x=27
y=200
width=32
height=15
layerId=44171317
colour=0xC4B074
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="9999"

[com_39]
type=Layer
x=23
y=218
width=38
height=38
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_40]
type=Sprite
x=29
y=225
width=25
height=25
graphic=1179
eventCode=hasOp(1)
opName0="Call Animal"

[com_41]
type=Layer
x=76
y=219
width=38
height=38
layerId=44171318
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_42]
type=Sprite
x=83
y=225
width=25
height=25
layerId=44171318
graphic=1180
eventCode=hasOp(1)
opName0="Dismiss Follower"

[com_43]
type=Layer
x=129
y=218
width=38
height=38
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_44]
type=Sprite
x=137
y=225
width=25
height=25
graphic=1181
eventCode=hasOp(1)
opName0="Renew Timer"

[com_45]
type=Sprite
x=13
y=145
width=166
height=20
graphic=1196

[com_46]
type=Text
x=13
y=143
width=165
height=22
colour=0xCC9900
hAlign=Center
vAlign=Center
font=496

[com_47]
type=Sprite
x=8
y=28
width=32
height=45
layerId=44171318
graphic=297
tiling=yes

[com_48]
type=Sprite
x=26
y=26
width=32
height=32
layerId=44171318
graphic=852

[com_49]
type=Sprite
x=11
y=44
width=32
height=32
layerId=44171318
graphic=859
baseOpName=" "

[com_50]
type=Sprite
x=5
y=44
width=32
height=32
layerId=44171318
graphic=858

[com_51]
type=Sprite
x=8
y=43
width=32
height=32
layerId=44171318
graphic=1074
baseOpName=" "

[com_52]
type=Text
x=7
y=62
width=32
height=13
layerId=44171318
colour=0xFF9933
hAlign=Center
font=494
shadow=yes
text="9999"
oninvtransmit=769
oninvtransmitlist=93

[com_53]
type=Layer
width=190
height=261
hide=yes

[com_54]
type=Layer
width=190
height=261
hide=yes

[com_55]
type=Layer
width=189
height=260

[com_56]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_57]
type=Sprite
width=32
height=36
layerId=44171320
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc
baseOpName="Wolf Howl"
onload=774,component.parentId,44171320,44171319,1194,1195,1,"Howl","Makes NPCs flee for a short time",12425,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Wolf Howl Text",25,300

[com_58]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_59]
type=Sprite
width=32
height=36
layerId=44171322
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Dreadfowl Strike"
onload=774,component.parentId,44171322,44171319,1194,1195,4,"Dreadfowl Strike","A magical attack",12445,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Chicken Strike Text",25,300

[com_60]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_61]
type=Sprite
width=32
height=36
layerId=44171324
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Vampire Touch"
onload=774,component.parentId,44171324,44171319,1194,1195,31,"Vampire Touch","A magical attack that may also heal 2 of your Hitpoints",12447,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Vampire Touch Text",25,300

[com_62]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_63]
type=Sprite
width=32
height=32
layerId=44171326
graphic=1195
eventCode=hasOp(1)
baseOpName="Herbcall"
opName0="Cast"
onload=774,component.parentId,44171326,44171319,1194,1195,44,"Herbcall","Has a chance to produce a grimy herb",12422,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Herbcall Text",25,300

[com_64]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_65]
type=Sprite
width=32
height=32
layerId=44171328
graphic=1195
eventCode=hasOp(1)
baseOpName="Stony Shell"
opName0="Cast"
onload=774,component.parentId,44171328,44171319,1194,1195,16,"Stony Shell","Boosts your Defence by 1, plus 5% of your defence level",12533,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Stony Shell text",25,300

[com_66]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_67]
type=Sprite
width=32
height=32
layerId=44171330
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Evil Flames"
onload=774,component.parentId,44171330,44171319,1194,1195,42,"Evil Flames","Causes Magic-based damage and drains target's Ranged",12448,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"TheEvil Flames Text",25,300

[com_68]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_69]
type=Sprite
width=32
height=36
layerId=44171332
graphic=1195
eventCode=hasOp(1)
baseOpName="Fruitfall"
opName0="Cast"
onload=774,component.parentId,44171332,44171319,1194,1195,69,"Fruitfall","Produces random fruit nearby",12423,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Fruit fall text",25,300

[com_70]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_71]
type=Sprite
width=32
height=32
layerId=44171334
graphic=1195
eventCode=hasOp(1)
baseOpName="Thieving Fingers"
opName0="Cast"
onload=774,component.parentId,44171334,44171319,1194,1195,47,"Thieving Fingers","Boosts your Thieving",12426,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Thieving Fingers Text",25,300

[com_72]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_73]
type=Sprite
width=32
height=36
layerId=44171336
graphic=1195
eventCode=hasOp(1)
baseOpName="Egg Spawn"
opName0="Cast"
onload=774,component.parentId,44171336,44171319,1194,1195,10,"Egg Spawn","Spawns red spiders' eggs nearby",12428,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Egg Spawn Text",25,300

[com_74]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_75]
type=Sprite
width=32
height=32
layerId=44171338
graphic=1195
eventCode=hasOp(1)
baseOpName="Fish Rain"
opName0="Cast"
onload=774,component.parentId,44171338,44171319,1194,1195,33,"Fish Rain","Makes fish appear nearby",12424,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Fish rain Text",25,300

[com_76]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_77]
type=Sprite
width=32
height=32
layerId=44171340
graphic=1195
eventCode=hasOp(1)
baseOpName="Abyssal Stealth"
opName0="Cast"
onload=774,component.parentId,44171340,44171319,1194,1195,62,"Abyssal Stealth","Boosts your Thieving and Agility",12427,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Abyssal Stealth Text",25,300

[com_78]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_79]
type=Sprite
width=32
height=32
layerId=44171342
graphic=1195
targetVerb="Cast"
eventCode=targetMask=loc
baseOpName="Multichop"
onload=774,component.parentId,44171342,44171319,1194,1195,33,"Multichop","Cuts up to 3 logs from a nearby tree",12429,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Multi Chop Text",25,300

[com_80]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_81]
type=Sprite
width=32
height=36
layerId=44171344
graphic=1195
eventCode=hasOp(1)
baseOpName="Unburden"
opName0="Cast"
onload=774,component.parentId,44171344,44171319,1194,1195,40,"Unburden","Restores run energy based on your current Agility level",12431,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Unburden Text",25,300

[com_82]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_83]
type=Sprite
width=32
height=32
layerId=44171346
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Crushing Claw"
onload=774,component.parentId,44171346,44171319,1194,1195,70,"Crushing Claw","Causes Magic-based damage and drains target's Defence",12449,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Crushing Claw Text",25,300

[com_84]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_85]
type=Sprite
width=32
height=32
layerId=44171348
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Mantis Strike"
onload=774,component.parentId,44171348,44171319,1194,1195,75,"Mantis Strike","Causes Magic-based damage, drains other player's Prayer and binds",12450,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The mantis Strike Text",25,300

[com_86]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_87]
type=Sprite
width=32
height=32
layerId=44171350
graphic=1195
eventCode=hasOp(1)
baseOpName="Sandstorm"
opName0="Cast"
onload=774,component.parentId,44171350,44171319,1194,1195,25,"Sandstorm","Deals damage to nearby opponents",12446,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Sandstorm Text",25,300

[com_88]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes
eventCode=targetMask=npc|loc

[com_89]
type=Sprite
width=32
height=32
layerId=44171352
graphic=1195
targetVerb="Cast"
eventCode=targetMask=inv_item
onload=774,component.parentId,44171352,44171319,1194,1195,19,"Venom Shot","Has a chance of making your next Ranged attack poisonous",12432,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Envenom Text",25,300
onclick=17,component.parentId

[com_90]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_91]
type=Sprite
width=32
height=32
layerId=44171354
graphic=1195
eventCode=hasOp(1)
baseOpName="Cheese Feast"
opName0="Cast"
onload=774,component.parentId,44171354,44171319,1194,1195,23,"Cheese Feast","Fills your Albino Rat's inventory with cheese",12430,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Cheese Feast Text",25,300

[com_92]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_93]
type=Sprite
width=32
height=32
layerId=44171356
graphic=1195
eventCode=hasOp(1)
baseOpName="Insane Ferocity"
opName0="Cast"
onload=774,component.parentId,44171356,44171319,1194,1195,32,"Insane Ferocity","Boosts your Attack and Strength, at the expense of Magic, Defence and Ranged",12433,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"TheInsane Ferocity Text",25,300

[com_94]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_95]
type=Sprite
width=32
height=32
layerId=44171358
graphic=1195
eventCode=hasOp(1)
baseOpName="Toad Bark"
opName0="Cast"
onload=774,component.parentId,44171358,44171319,1194,1195,79,"Toad Bark","Damages a target",12452,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Toad Bark Text",25,300

[com_96]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_97]
type=Sprite
width=32
height=36
layerId=44171360
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Arctic Blast"
onload=774,component.parentId,44171360,44171319,1194,1195,71,"Arctic Blast","Magical attack that can stun the target",12451,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Arctic Blast Text",25,300

[com_98]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_99]
type=Sprite
width=32
height=32
layerId=44171362
graphic=1195
eventCode=hasOp(1)
baseOpName="Winter Storage"
opName0="Cast"
onload=774,component.parentId,44171362,44171319,1194,1195,96,"Winter Storage","Banks one item from your pack yak's inventory",12435,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Winter Storage Text",25,300

[com_100]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_101]
type=Sprite
width=32
height=32
layerId=44171364
graphic=1195
eventCode=hasOp(1)
baseOpName="Healing Aura"
opName0="Cast"
onload=774,component.parentId,44171364,44171319,1194,1195,88,"Healing Aura","Heals 15% of your Hitpoints",12434,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"TheHealing Aura Text",25,300

[com_102]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_103]
type=Sprite
width=32
height=32
layerId=44171366
graphic=1195
targetVerb="Cast"
eventCode=targetMask=inv_item
baseOpName="Ophedian Incubation"
onload=774,component.parentId,44171366,44171319,1194,1195,63,"Ophidian Incubation","Turns a bird egg into a cockatrice egg",12436,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Ophedian Incubation Text",25,300
onclick=17,component.parentId

[com_104]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_105]
type=Sprite
width=32
height=32
layerId=44171368
graphic=1195
eventCode=hasOp(1)
baseOpName="Adamantite Shell"
opName0="Cast"
onload=774,component.parentId,44171368,44171319,1194,1195,67,"Testudo","Boosts your Defence significantly",12439,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The adamantite shell Text",25,300

[com_106]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_107]
type=Sprite
width=32
height=32
layerId=44171370
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Slime Trail"
onload=774,component.parentId,44171370,44171319,1194,1195,13,"Slime Trail","Damages an enemy",12459,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Slime trail Text",25,300

[com_108]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes
onload=38,component.parentId,44171319,"The Chicken Strike Text",25,300

[com_109]
type=Sprite
width=32
height=32
layerId=44171372
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Electric Lash"
onload=774,component.parentId,44171372,44171319,1194,1195,7,"Electric Lash","Mild damaging attack that causes a very short stun",12460,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onmouserepeat=38,component.parentId,44171319,"The Electric Lashl Text",25,300

[com_110]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_111]
type=Sprite
width=32
height=32
layerId=44171374
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Dissolve"
onload=774,component.parentId,44171374,44171319,1194,1195,55,"Dissolve","Causes Magic-based damage and drains target's Attack",12453,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_112]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_113]
type=Sprite
width=32
height=32
layerId=44171376
graphic=1195
targetVerb="Cast"
eventCode=targetMask=player
baseOpName="Dissolve"
onload=774,component.parentId,44171376,44171319,1194,1195,54,"Abyssal Drain","Causes Magic-based damage and drains target's Magic",12454,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_114]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_115]
type=Sprite
width=32
height=32
layerId=44171378
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Dissolve"
onload=774,component.parentId,44171378,44171319,1194,1195,43,"Petrifying Gaze","Damages a target and causes combat stat damage, unless target is wielding a mirror shield",12458,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_116]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_117]
type=Sprite
width=32
height=32
layerId=44171380
graphic=1195
eventCode=hasOp(1)
baseOpName="Tireless Run"
opName0="Cast"
onload=774,component.parentId,44171380,44171319,1194,1195,52,"Tireless Run","Boosts your Agility and restores run energy",12441,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_118]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_119]
type=Sprite
width=32
height=32
layerId=44171382
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Blood Drain"
onload=774,component.parentId,44171382,44171319,1194,1195,49,"Blood Drain","Heals you for whatever damage it cause to the target",12444,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_120]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_121]
type=Sprite
width=32
height=32
layerId=44171384
graphic=1195
eventCode=hasOp(1)
baseOpName="Dust Cloud"
opName0="Cast"
onload=774,component.parentId,44171384,44171319,1194,1195,61,"Dust Cloud","Affects the area around you, damaging all enemies",12468,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_122]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_123]
type=Sprite
width=32
height=32
layerId=44171386
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Overwhelming Waters"
onload=774,component.parentId,44171386,44171319,1194,1195,58,"Doomsphere Device","A water-based magical area attack",12455,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_124]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_125]
type=Sprite
width=32
height=32
layerId=44171388
graphic=1195
targetVerb="Cast"
eventCode=targetMask=loc
baseOpName="Generate Compost"
onload=774,component.parentId,44171388,44171319,1194,1195,28,"Generate Compost","Fills an empty compost bin with compost",12440,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_126]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_127]
type=Sprite
width=32
height=32
layerId=44171390
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Nesting"
onload=774,component.parentId,44171390,44171319,1194,1195,78,"Acorn Missile","Inflicts up to 11 damage on up to 3 opponents. Chance of acorn being dropped.",12457,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_128]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_129]
type=Sprite
width=32
height=32
layerId=44171392
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Poison Blast"
onload=774,component.parentId,44171392,44171319,1194,1195,64,"Poisonous Blast","A poison-inducing attack",12467,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_130]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_131]
type=Sprite
width=32
height=32
layerId=44171394
graphic=1195
targetVerb="Cast"
eventCode=targetMask=inv_item
baseOpName="Dissolve"
onload=774,component.parentId,44171394,44171319,1194,1195,80,"Regrowth","Chance of duplicating the seed or log it is used on",12442,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onclick=17,component.parentId

[com_132]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_133]
type=Sprite
width=32
height=32
layerId=44171396
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Spike Shot"
onload=774,component.parentId,44171396,44171319,1194,1195,83,"Spike Shot","Damaging strike that stuns the target",12456,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_134]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_135]
type=Sprite
width=32
height=32
layerId=44171398
graphic=1195
targetVerb="Cast"
eventCode=targetMask=npc|player
baseOpName="Bull Rush"
onload=774,component.parentId,44171398,44171319,1194,1195,86,"Bull Rush","Damages the target with a chance to stun them; damage dealt depends on minotaur type",12461,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_136]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_137]
type=Sprite
width=32
height=32
layerId=44171400
graphic=1195
eventCode=hasOp(1), targetMask=player
baseOpName="Magic Might"
opName0="Cast"
onload=774,component.parentId,44171400,44171319,1194,1195,92,"Magic Focus","Boosts your Magic by 1, plus 3% of your Magic level",12437,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319

[com_138]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_139]
type=Sprite
width=32
height=32
layerId=44171402
graphic=1195
targetVerb="Cast"
eventCode=targetMask=inv_item
baseOpName="Swallow Whole"
onload=774,component.parentId,44171402,44171319,1194,1195,68,"Swallow Whole","Allows you to eat a fish without having to cook it",12438,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
onclick=17,component.parentId

[com_140]
type=Layer
x=7
y=27
width=32
height=32
layerId=44171318
hide=yes

[com_141]
type=Sprite
width=32
height=32
layerId=44171404
graphic=1195
eventCode=hasOp(1)
baseOpName="Call To Arms"
opName0="Cast"
onload=774,component.parentId,44171404,44171319,1194,1195,34,"Call To Arms","Teleports you to the Pest Control landing boat area",12443,1,-1,0,-1,0,-1,0
onmouseleave=40,44171319
