[book]
type=Model
x=239
y=145
width=35
height=35
model1Id=3035
modelZoom=500
modelXAn=470

[bm1]
type=Layer
x=12
y=20
width=488
height=36

[penguin]
type=Model
x=186
y=134
width=32
height=32
model1Id=21554
modelZoom=2500
modelYAn=69

[title]
type=Text
x=19
y=25
width=478
height=26
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Clockwork Toys - A Clockwork Mechanism, Chapter 1.0"

[x_mark]
type=Sprite
x=470
y=27
width=26
height=23
overLayerId=6
graphic=535

[description01]
type=Sprite
buttonType=Close
x=5
y=4
width=26
height=23
layerId=32964614
graphic=536
buttonText="Ok"

[description02]
type=Layer
x=465
y=23
width=32
height=32
hide=yes

[description03]
type=Text
x=44
y=172
width=206
height=116
colour=0x534A41
font=496
text="Making a clockwork toy is very simple and a good place to start for new crafters. Simply create a clockwork mechanism on your Crafting table, then use it and a wood plank to make a toy soldier or a doll. Wind them up and watch them go!"

[clockwork_mechanism]
type=Text
x=54
y=73
width=129
height=45
colour=0x302C27
font=496
text="Multi-rotation head for lifelike simulation"

[description04]
type=Text
x=51
y=121
width=121
height=33
colour=0x302C27
font=496
text="A well-hidden clockwork system"

[paper_note]
type=Model
x=326
y=203
width=32
height=32
model1Id=21553
modelZoom=750
modelXAn=208

[larry_note]
type=Text
x=391
y=81
width=79
height=41
colour=0x302C27
font=496
text="The clockwork mechanism."

[paperclip]
type=Model
x=367
y=197
width=21
height=38
model1Id=21556
modelZoom=1200
modelXAn=429
modelYAn=495

[com_13]
type=Text
x=290
y=171
width=188
height=120
colour=0x000041
lineHeight=12
font=764
text="It would be simple to alter the design by adding a piece of silk to the wooden frame and clockwork mechanism. You could make a suit that could be controlled from the inside."

[com_14]
type=Model
x=450
y=173
width=32
height=32
model1Id=21555
modelZoom=750
modelXAn=484
modelYAn=1278

[content_layer]
type=Rectangle
x=148
y=125
width=25
height=4
colour=0x191919
fill=yes

[com_16]
type=Rectangle
x=153
y=81
width=29
height=4
fill=yes
