[com_0]
type=Sprite
x=12
y=20
width=488
height=305
graphic=297
tiling=yes

[wom1]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[wom2]
type=Sprite
x=475
y=20
width=25
height=30
graphic=310
hFlip=yes

[wom3]
type=Sprite
x=12
y=295
width=25
height=30
graphic=310
vFlip=yes

[wom4]
type=Sprite
x=475
y=295
width=25
height=30
graphic=310
vFlip=yes
hFlip=yes

[wom5]
type=Sprite
x=37
y=5
width=440
height=23
graphic=314
tiling=yes

[wom6]
type=Sprite
x=17
y=34
width=482
height=32
graphic=314
tiling=yes

[wom7]
type=Sprite
x=37
y=304
width=442
height=31
graphic=314
tiling=yes
vFlip=yes

[wom8]
type=Sprite
x=-3
y=50
width=35
height=245
graphic=172
tiling=yes

[wom9]
type=Sprite
x=479
y=38
width=38
height=261
graphic=172
tiling=yes
hFlip=yes

[wom10]
type=Sprite
x=471
y=26
width=26
height=23
graphic=535

[com_11]
type=Text
x=19
y=30
width=471
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Report abuse"

[com_12]
type=Text
x=25
y=55
width=466
height=32
colour=0xFFFFFF
hAlign=Center
lineHeight=12
font=494
shadow=yes
text="This form is for reporting players who are breaking our rules. <br>Using it sends a snapshot of the last 60 secs of activity to us."

[com_13]
type=Text
x=130
y=81
width=249
height=14
colour=0xFF981F
font=495
shadow=yes
text="If you misuse this form, you will be banned."

[content_layer]
type=Text
x=76
y=96
width=357
height=29
colour=0xFF981F
hAlign=Center
vAlign=Bottom
font=495
shadow=yes
text="First please enter the name of the offending player below:"

[com_15]
type=Text
x=133
y=127
width=258
height=14
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="**************"

[com_16]
type=Text
x=18
y=169
width=477
height=33
colour=0xFF981F
hAlign=Center
lineHeight=12
font=494
shadow=yes
text="Then click below to indicate which of our 13 rules is being broken.<br>For a detailed explanation of each rule please read the manual on our website."

[com_17]
type=Text
x=37
y=206
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="1: Offensive language"

[com_18]
type=Text
x=35
y=221
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="2: Item scamming"

[com_19]
type=Text
x=35
y=236
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="3: Password scamming"

[com_20]
type=Text
x=35
y=251
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="4: Bug abuse"

[com_21]
type=Text
x=35
y=266
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="5: Jagex staff impersonation"

[com_22]
type=Text
x=35
y=281
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="6: Account sharing/trading"

[com_23]
type=Text
x=37
y=296
width=200
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="7: Macroing"

[com_24]
type=Text
x=242
y=206
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="8: Multiple logging in"

[com_25]
type=Text
x=242
y=221
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="9: Encouraging others to break rules"

[com_26]
type=Text
x=238
y=236
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="10: Misuse of customer support"

[com_27]
type=Text
x=241
y=251
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="11: Advertising / website"

[com_28]
type=Text
x=238
y=266
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="12: Real world item trading"

[com_29]
type=Text
x=239
y=281
width=240
height=14
colour=0xFFFFFF
font=494
shadow=yes
text="13: Asking for personal details"

[com_30]
type=Model
x=27
y=213
width=31
height=34
model1Id=3180
modelZoom=578
modelXAn=1489
modelYAn=1024
discardedModelField=0

[com_31]
type=Model
x=437
y=213
width=32
height=32
model1Id=3180
modelZoom=578
modelXAn=1489
modelYAn=1024
discardedModelField=0

[com_32]
type=Rectangle
width=517
height=335
trans=250
colour=0xFFFF00
fill=yes
