[difficultygradient_1]
type=Rectangle
x=499
y=315
width=10
height=14
layerId=26673162
trans=35
colour=0x503800
fill=yes

[banner]
type=Rectangle
x=489
y=315
width=10
height=14
layerId=26673162
trans=50
colour=0x503800
fill=yes

[diffgradlayer]
type=Rectangle
x=479
y=315
width=10
height=14
layerId=26673162
trans=75
colour=0x503800
fill=yes

[pest_lander_over_level]
type=Rectangle
x=469
y=315
width=10
height=14
layerId=26673162
trans=90
colour=0x503800
fill=yes

[difficultygradient_2]
type=Rectangle
x=459
y=315
width=10
height=14
layerId=26673162
trans=105
colour=0x503800
fill=yes

[difficultygradient_3]
type=Rectangle
x=449
y=315
width=10
height=14
layerId=26673162
trans=120
colour=0x503800
fill=yes

[difficultygradient_4]
type=Rectangle
x=439
y=315
width=10
height=14
layerId=26673162
trans=135
colour=0x503800
fill=yes

[difficultygradient_5]
type=Rectangle
x=429
y=315
width=10
height=14
layerId=26673162
trans=150
colour=0x503800
fill=yes

[difficultygradient_6]
type=Rectangle
x=419
y=315
width=10
height=14
layerId=26673162
trans=165
colour=0x503800
fill=yes

[difficultygradient_7]
type=Rectangle
x=409
y=315
width=10
height=14
layerId=26673162
trans=180
colour=0x503800
fill=yes

[difficultygradient_8]
type=Layer
x=1
width=510
height=334

[difficultygradient_9]
type=Text
x=14
y=23
width=251
height=17
colour=0xCCCCCC
font=495
shadow=yes
text="Next Departure: 5 min"

[difficultygradient_10]
type=Text
x=14
y=40
width=251
height=16
colour=0x59D231
colour2=0xC31A0B
font=495
shadow=yes
text="Players Ready: 5"

[pest_lander_over_time]
type=Text
x=14
y=57
width=249
height=15
colour=0xDED36A
font=495
shadow=yes
text="(Need 5 to 25 players)"

[pest_lander_over_pl1]
type=Text
x=14
y=73
width=249
height=15
colour=0x99FFFF
font=495
shadow=yes
text="Points:pest_points"

[pest_lander_over_pl2]
type=Model
x=466
y=311
width=32
height=32
model1Id=27182
modelZoom=1296
modelXAn=1972
modelYAn=132

[pest_lander_over_points]
type=Text
x=400
y=313
width=109
height=16
colour=0xFF9966
hAlign=Right
font=495
shadow=yes
text="eeeeeeeeeeeeee"
