[pest_status_port4]
type=Text
x=5
y=87
width=87
height=13
colour=0xCCCCCC
font=494
shadow=yes
text="%1 Min"

[pest_status_port3]
type=Text
x=29
y=32
width=29
height=12
colour=0x5EBB29
font=494
shadow=yes
text="%100"

[pest_status_port2]
type=Model
x=350
y=39
width=32
height=32
model1Id=15285
modelZoom=5000

[pest_status_port1]
type=Model
x=387
y=39
width=32
height=32
model1Id=15286
modelZoom=5000

[portal_w]
type=Model
x=425
y=39
width=32
height=32
model1Id=15287
modelZoom=5000

[pest_status_porttxt1]
type=Model
x=463
y=39
width=32
height=32
model1Id=15288
modelZoom=5000

[purple_shield]
type=Model
y=76
width=32
height=32
model1Id=15289
modelZoom=1800
modelXAn=3

[pest_portal_shield_1]
type=Model
x=350
y=24
width=32
height=32
model2Id=4856
modelZoom=3000
modelXAn=540
script1=gt,0
script1op1=varbit,varbit_2226

[pest_portal_destoryed_1]
type=Model
x=387
y=24
width=32
height=32
model2Id=4856
modelZoom=3000
modelXAn=540
script1=gt,0
script1op1=varbit,varbit_2227

[com_9]
type=Model
x=425
y=24
width=32
height=32
model2Id=4856
modelZoom=3000
modelXAn=546
script1=gt,0
script1op1=varbit,varbit_2228

[portal_e]
type=Model
x=463
y=24
width=32
height=32
model2Id=4856
modelZoom=3000
modelXAn=540
script1=gt,0
script1op1=varbit,varbit_2229

[portal_se]
type=Text
x=29
y=60
width=7
height=12
colour=0x8B1313
font=494
shadow=yes
text="0"

[portal_sw]
type=Model
y=49
width=32
height=32
model1Id=15284
modelZoom=2056
modelXAn=579

[pest_status_porttxt4]
type=Text
x=356
y=10
width=18
height=12
colour=0xFF00FF
font=494
shadow=yes
text="100"

[red_shield]
type=Text
x=393
y=10
width=18
height=12
colour=0x6666FF
font=494
shadow=yes
text="100"

[pest_status_porttxt3]
type=Text
x=431
y=10
width=18
height=12
colour=0xFFFF00
font=494
shadow=yes
text="100"

[com_16]
type=Text
x=470
y=10
width=18
height=12
colour=0xFF3333
font=494
shadow=yes
text="100"

[pest_portal_shield_4]
type=Model
width=32
height=32
layerId=26738706
model1Id=27167
modelZoom=3500

[yellow_shield]
type=Layer
x=350
y=46
width=32
height=32

[pest_portal_destoryed_4]
type=Model
width=32
height=32
layerId=26738708
model1Id=27167
modelZoom=3500

[pest_status_porttxt2]
type=Layer
x=387
y=46
width=32
height=32

[com_21]
type=Model
width=32
height=32
layerId=26738710
model1Id=27167
modelZoom=3500

[blue_shield]
type=Layer
x=425
y=46
width=32
height=32

[pest_portal_shield_3]
type=Model
width=32
height=32
layerId=26738712
model1Id=27167
modelZoom=3500

[com_24]
type=Layer
x=463
y=46
width=32
height=32

[pest_portal_destoryed_3]
type=Text
x=361
y=60
width=32
height=32
colour=0xFF00FF
font=495
shadow=yes
text="W"

[pest_portal_shield_2]
type=Text
x=399
y=60
width=32
height=32
colour=0x6666FF
font=495
shadow=yes
text="E"

[pest_portal_destoryed_2]
type=Text
x=433
y=60
width=32
height=32
colour=0xFFFF00
font=495
shadow=yes
text="SE"

[game_info]
type=Text
x=470
y=60
width=32
height=32
colour=0xFF3333
font=495
shadow=yes
text="SW"
