[content_layer]
type=Rectangle
x=-15
y=-3
width=527
height=340
trans=66
colour=0x3300CC

[bespoke_window]
type=Model
x=123
y=290
width=32
height=34
model1Id=18531
modelZoom=753
modelXAn=624
modelYAn=6

[aide_adie_scroll]
type=Model
x=240
y=155
width=32
height=32
model1Id=3024
modelZoom=613
modelXAn=345
modelYAn=84

[mapmodel]
type=Text
x=67
y=297
width=139
height=17
colour=0x0F172F
hAlign=Center
font=497
text="Misthalin & Asgarnia"

[map_title]
type=Model
x=41
y=43
width=32
height=32
model1Id=18536
modelZoom=999
modelXAn=302
modelYAn=175

[northpointer]
type=Model
x=95
y=197
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,0
script1op1=varp,newcomers_pos

[x_mark_0]
type=Model
x=128
y=200
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,1
script1op1=varp,newcomers_pos

[x_mark_1]
type=Model
x=156
y=218
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,2
script1op1=varp,newcomers_pos

[x_mark_2]
type=Model
x=232
y=222
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,3
script1op1=varp,newcomers_pos

[x_mark_3]
type=Model
x=253
y=239
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,4
script1op1=varp,newcomers_pos

[x_mark_4]
type=Model
x=290
y=246
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,5
script1op1=varp,newcomers_pos

[x_mark_5]
type=Model
x=336
y=264
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,6
script1op1=varp,newcomers_pos

[x_mark_6]
type=Model
x=94
y=164
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,7
script1op1=varp,newcomers_pos

[x_mark_7]
type=Model
x=121
y=169
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,8
script1op1=varp,newcomers_pos

[x_mark_8]
type=Model
x=159
y=177
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,9
script1op1=varp,newcomers_pos

[x_mark_9]
type=Model
x=223
y=190
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,10
script1op1=varp,newcomers_pos

[x_mark_10]
type=Model
x=261
y=204
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,11
script1op1=varp,newcomers_pos

[x_mark_11]
type=Model
x=304
y=214
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,12
script1op1=varp,newcomers_pos

[x_mark_12]
type=Model
x=343
y=225
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,13
script1op1=varp,newcomers_pos

[x_mark_13]
type=Model
x=121
y=129
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,14
script1op1=varp,newcomers_pos

[x_mark_14]
type=Model
x=154
y=138
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,15
script1op1=varp,newcomers_pos

[x_mark_15]
type=Model
x=193
y=149
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,16
script1op1=varp,newcomers_pos

[x_mark_16]
type=Model
x=233
y=159
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,17
script1op1=varp,newcomers_pos

[x_mark_17]
type=Model
x=272
y=168
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,18
script1op1=varp,newcomers_pos

[x_mark_18]
type=Model
x=311
y=175
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,19
script1op1=varp,newcomers_pos

[x_mark_19]
type=Model
x=346
y=185
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,20
script1op1=varp,newcomers_pos

[x_mark_20]
type=Model
x=139
y=98
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,21
script1op1=varp,newcomers_pos

[x_mark_21]
type=Model
x=172
y=112
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,22
script1op1=varp,newcomers_pos

[x_mark_22]
type=Model
x=205
y=118
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,23
script1op1=varp,newcomers_pos

[x_mark_23]
type=Model
x=242
y=126
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,24
script1op1=varp,newcomers_pos

[x_mark_24]
type=Model
x=278
y=134
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,25
script1op1=varp,newcomers_pos

[x_mark_25]
type=Model
x=316
y=145
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,26
script1op1=varp,newcomers_pos

[x_mark_26]
type=Model
x=354
y=151
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,27
script1op1=varp,newcomers_pos

[x_mark_27]
type=Model
x=147
y=75
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,28
script1op1=varp,newcomers_pos

[x_mark_28]
type=Model
x=183
y=83
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,29
script1op1=varp,newcomers_pos

[x_mark_29]
type=Model
x=215
y=88
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,30
script1op1=varp,newcomers_pos

[x_mark_30]
type=Model
x=252
y=96
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,31
script1op1=varp,newcomers_pos

[x_mark_31]
type=Model
x=285
y=104
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,32
script1op1=varp,newcomers_pos

[x_mark_32]
type=Model
x=326
y=112
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,33
script1op1=varp,newcomers_pos

[x_mark_33]
type=Model
x=361
y=120
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,34
script1op1=varp,newcomers_pos

[x_mark_34]
type=Model
x=151
y=44
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,35
script1op1=varp,newcomers_pos

[x_mark_35]
type=Model
x=184
y=51
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,36
script1op1=varp,newcomers_pos

[x_mark_36]
type=Model
x=214
y=58
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,37
script1op1=varp,newcomers_pos

[x_mark_37]
type=Model
x=241
y=62
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,38
script1op1=varp,newcomers_pos

[x_mark_38]
type=Model
x=288
y=75
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,39
script1op1=varp,newcomers_pos

[x_mark_39]
type=Model
x=329
y=81
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,40
script1op1=varp,newcomers_pos

[x_mark_40]
type=Model
x=367
y=89
width=32
height=32
model2Id=3062
modelAnim2=x_mark
modelZoom=1526
modelXAn=528
modelYAn=68
script1=eq,41
script1op1=varp,newcomers_pos

[x_mark_41]
type=Text
x=275
y=213
width=139
height=17
colour=0xC9A341
hAlign=Center
font=497
text="Lumbridge"

[lumbridgetext]
type=Text
x=192
y=177
width=101
height=17
colour=0xC9A341
hAlign=Center
font=497
text="Draynor"

[draynortext]
type=Text
x=294
y=97
width=120
height=20
colour=0xC9A341
hAlign=Center
font=497
text="Varrock"

[varrocktext]
type=Text
x=146
y=105
width=93
height=17
colour=0xC9A341
hAlign=Center
font=497
text="Falador"

[faladortext]
type=Text
x=133
y=188
width=77
height=17
colour=0xC9A341
hAlign=Center
font=497
text="Port"

[portsarimtext]
type=Text
x=122
y=203
width=113
height=17
colour=0xC9A341
hAlign=Center
font=497
text="Sarim"

[sarimtext]
type=Text
x=86
y=162
width=127
height=18
colour=0xC9A341
hAlign=Center
font=497
text="Rimmington"

[rimmington_text]
type=Text
x=170
y=63
width=123
height=21
colour=0xC9A041
hAlign=Center
font=497
text="Edgeville"

[edgeville_text]
type=Text
x=281
y=260
width=124
height=16
colour=0xC9A341
hAlign=Center
font=497
text="Al Kharid"

[al_kharid_text]
type=Model
x=316
y=105
width=32
height=32
layerId=17694780
model1Id=18511
modelZoom=3088
modelXAn=489
modelYAn=162

[bespoke_window_background]
type=Model
x=287
y=205
width=32
height=32
layerId=17694780
model1Id=18511
modelZoom=3088
modelXAn=381
modelYAn=186

[bespoke_window_content]
type=Model
x=264
y=226
width=32
height=32
layerId=17694780
model1Id=18511
modelZoom=3088
modelXAn=489
modelYAn=162

[bespoke_window_border]
type=Model
x=444
y=241
width=32
height=32
model1Id=18511
modelZoom=2064
modelXAn=474
modelYAn=18

[bespoke_window_close]
type=Layer
x=8
y=10
width=494
height=319
hide=yes

[com_61]
type=Layer
buttonType=Button
x=425
y=220
width=72
height=64
overLayerId=60
eventCode=flag22

[com_62]
type=Text
x=424
y=213
width=73
height=29
colour=0xABA346
hAlign=Center
font=495
text="Show Tutors"

[com_63]
type=Sprite
x=480
y=5
width=26
height=23
overLayerId=65
graphic=539

[com_64]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=17694785
graphic=540
buttonText="Ok"

[com_65]
type=Layer
x=477
y=1
width=32
height=32
hide=yes
