[3x3_context_button_disabled_layer_2]
type=Rectangle
width=190
height=261
trans=150
colour=0x554A32
fill=yes

[menu_container]
type=Sprite
x=2
y=73
width=188
height=165
trans=100
graphic=1136
tiling=yes
onmouseleave=919,component.parentId,47710235,47710228,47710229,47710230,47710231
onmouserepeat=918,component.parentId,47710235,0,47710228,47710229,47710230,47710231

[player_container]
type=Rectangle
y=72
width=190
height=167
trans=150
colour=0x554A32
fill=yes

[player_container_background]
type=Model
x=13
y=3
width=51
height=62
model1Id=32728
modelAnim=glomem_raising_beer_in_air
modelZoom=700
modelXAn=4
modelYAn=1810
modelXOf=2
modelYOf=30
discardedModelField=0

[colours_container]
type=Text
x=3
y=76
width=186
height=17
colour=0xFFFFFF
vAlign=Bottom
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[confirm_layer]
type=Text
x=3
y=92
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[3x3_context_button_layer_2]
type=Text
x=3
y=108
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[background_layer]
type=Text
x=3
y=124
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[content_layer]
type=Text
x=3
y=140
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[universe]
type=Text
x=3
y=156
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[frame_layer]
type=Text
x=3
y=172
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[close_button_layer]
type=Text
x=3
y=188
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[menu_graphics]
type=Text
x=3
y=204
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[menu]
type=Text
x=3
y=220
width=186
height=17
colour=0xFFFFFF
vAlign=Center
font=307
onvartransmit=776,component.parentId
onvartransmitlist=1207

[menu_scrollbar]
type=Text
x=2
y=244
width=186
height=14
colour=0xCCCCCC
hAlign=Center
vAlign=Center
font=496
onvartransmit=912,component.parentId
onvartransmitlist=1207

[colours_graphics]
type=Sprite
y=224
width=189
height=32
graphic=851
tiling=yes

[colours]
type=Sprite
y=58
width=189
height=32
graphic=851
tiling=yes

[colours_scrollbar]
type=Sprite
x=93
y=25
width=23
height=23
graphic=782
eventCode=hasOp(1)
baseOpName="<col=ff9040>Autopilot"
opName0="Toggle"
onload=923,component.parentId
onmouseleave=40,47710233
onvartransmit=923,component.parentId
onop=916,component.parentId
onmouserepeat=917,component.parentId,47710233
onvartransmitlist=1207

[tooltip_container]
type=Sprite
x=137
y=25
width=23
height=23
graphic=783
eventCode=hasOp(1)
opName0="Return to Lumbridge"
onmouseover=44,component.parentId,784
onmouseleave=299,47710233,component.parentId,783
onop=913,component.parentId
onmouserepeat=917,component.parentId,47710233

[tooltip]
type=Layer
x=83
y=15
width=87
height=43
onload=100,component.parentId

[3x3_context_button_on_layer_2]
type=Sprite
x=6
y=241
width=20
height=16
graphic=785
eventCode=hasOp(1)
opName0="First page"
onmouseover=44,component.parentId,786
onmouseleave=299,47710233,component.parentId,785
onop=914
onmouserepeat=917,component.parentId,47710233

[3x3_context_button_over_layer_2]
type=Sprite
x=52
y=242
width=16
height=16
graphic=1172
eventCode=hasOp(1)
opName0="Previous page"
onmouseover=44,component.parentId,1173
onmouseleave=299,47710233,component.parentId,1172
onop=914
onmouserepeat=917,component.parentId,47710233

[3x3_context_button_hit_layer_2]
type=Sprite
x=120
y=242
width=16
height=16
graphic=1174
eventCode=hasOp(1)
opName0="Next page"
onmouseover=44,component.parentId,1175
onmouseleave=299,47710233,component.parentId,1174
onop=914
onmouserepeat=917,component.parentId,47710233

[3x3_context_button_selected_layer_2]
type=Sprite
x=164
y=241
width=20
height=16
graphic=787
eventCode=hasOp(1)
opName0="Last page"
onmouseover=44,component.parentId,801
onmouseleave=299,47710233,component.parentId,787
onop=914
onmouserepeat=917,component.parentId,47710233

[confirm]
type=Layer
width=190
height=261

[com_25]
type=Layer
width=190
height=261
layerId=47710232

[3x3_context_button_text_layer_2]
type=Layer
x=40
y=140
width=110
height=121

[confirm_text]
type=Layer
width=1
height=1
layerId=47710234
