[tabs]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[menu_container]
type=Model
x=48
y=46
width=340
height=231
model1Id=32729
modelZoom=528
modelXAn=1847
modelYAn=1936
modelZAn=133
modelYOf=-35
discardedModelField=0

[player_container]
type=Text
x=250
y=210
width=262
height=124
colour=0xCC9900
font=645
shadow=yes

[player_container_background]
type=Sprite
x=467
y=7
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29
