[blackout_layer]
type=Text
x=21
y=9
width=441
height=17
hAlign=Center
font=497
text="Line1"

[mainmodal_window]
type=Text
x=21
y=25
width=441
height=17
hAlign=Center
font=497
text="Line2"

[mainmodal_window_background]
type=Text
x=21
y=41
width=441
height=17
hAlign=Center
font=497
text="Line3"

[mainmodal_window_border]
type=Text
x=21
y=57
width=441
height=17
hAlign=Center
font=497
text="Line4"
