[gold_window_layer]
type=Rectangle
x=105
y=15
width=332
height=303
trans=200
fill=yes

[pnr_family_conflict_startbar]
type=Sprite
x=104
y=15
width=319
height=302
graphic=297
tiling=yes

[pnr_family_conflict_midbar]
type=Sprite
x=84
y=40
width=32
height=257
graphic=821
tiling=yes

[pnr_family_conflict_endbar]
type=Sprite
x=97
y=10
width=32
height=32
graphic=824

[pnr_family_conflict_fillbar]
type=Sprite
x=410
y=40
width=23
height=257
graphic=823
tiling=yes
baseOpName=" "

[pnr_family_conflict_progress1]
type=Sprite
x=129
y=-3
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[pnr_family_conflict_progress2]
type=Sprite
x=129
y=304
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[gold_window_background_layer]
type=Sprite
x=97
y=292
width=32
height=32
graphic=826

[gold_window_content_layer]
type=Sprite
x=398
y=10
width=32
height=32
graphic=825

[gold_window_frame_layer]
type=Sprite
x=398
y=292
width=32
height=32
graphic=827

[gold_window_title_layer]
type=Sprite
x=103
y=26
width=319
height=32
graphic=851
tiling=yes

[gold_window_title_text]
type=Text
x=197
y=20
width=102
height=15
colour=0xE1961F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Tournament Value:"

[com_12]
type=Text
x=317
y=20
width=32
height=15
colour=0xFF961F
vAlign=Center
font=496
shadow=yes
text="0"
baseOpName=" "

[com_13]
type=Sprite
x=404
y=19
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[com_14]
type=Layer
x=115
y=43
width=148
height=16
onload=100,component.parentId

[com_15]
type=Layer
x=115
y=62
width=148
height=16
onload=100,component.parentId

[com_16]
type=Layer
x=115
y=81
width=148
height=16
onload=100,component.parentId

[com_17]
type=Layer
x=115
y=100
width=148
height=16
onload=100,component.parentId

[com_18]
type=Layer
x=115
y=119
width=148
height=16
onload=100,component.parentId

[com_19]
type=Layer
x=115
y=138
width=148
height=16
onload=100,component.parentId

[com_20]
type=Layer
x=115
y=157
width=148
height=16
onload=100,component.parentId

[com_21]
type=Layer
x=115
y=176
width=148
height=16
onload=100,component.parentId

[com_22]
type=Layer
x=115
y=195
width=148
height=16
onload=100,component.parentId

[com_23]
type=Layer
x=115
y=214
width=148
height=16
onload=100,component.parentId

[com_24]
type=Layer
x=115
y=233
width=148
height=16
onload=100,component.parentId

[com_25]
type=Layer
x=115
y=252
width=148
height=16
onload=100,component.parentId

[com_26]
type=Layer
x=115
y=271
width=148
height=16
onload=100,component.parentId

[com_27]
type=Layer
x=262
y=43
width=148
height=16
onload=100,component.parentId

[com_28]
type=Layer
x=262
y=62
width=148
height=16
onload=100,component.parentId

[com_29]
type=Layer
x=262
y=81
width=148
height=16
onload=100,component.parentId

[com_30]
type=Layer
x=262
y=100
width=148
height=16
onload=100,component.parentId

[com_31]
type=Layer
x=262
y=119
width=148
height=16
onload=100,component.parentId

[com_32]
type=Layer
x=262
y=138
width=148
height=16
onload=100,component.parentId

[com_33]
type=Layer
x=262
y=157
width=148
height=16
onload=100,component.parentId

[com_34]
type=Layer
x=262
y=176
width=148
height=16
onload=100,component.parentId

[com_35]
type=Layer
x=262
y=195
width=148
height=16
onload=100,component.parentId

[com_36]
type=Layer
x=262
y=214
width=148
height=16
onload=100,component.parentId

[com_37]
type=Layer
x=262
y=233
width=148
height=16
onload=100,component.parentId

[com_38]
type=Layer
x=262
y=252
width=148
height=16
onload=100,component.parentId

[com_39]
type=Layer
x=262
y=271
width=148
height=16
onload=100,component.parentId

[com_40]
type=Text
x=121
y=45
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Rank Required:"

[com_41]
type=Text
x=121
y=64
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Entry Fee:"

[com_42]
type=Text
x=121
y=83
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Potions:"

[com_43]
type=Text
x=121
y=102
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Food:"

[com_44]
type=Text
x=121
y=121
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Prayer:"

[com_45]
type=Text
x=121
y=140
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Special Attacks:"

[com_46]
type=Text
x=121
y=159
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Obstacles:"

[com_47]
type=Text
x=121
y=178
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Ranged:"

[com_48]
type=Text
x=121
y=197
width=100
height=12
colour=0xCC9900
font=494
shadow=yes
text="Melee:"

[com_49]
type=Text
x=121
y=216
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Magic:"

[com_50]
type=Text
x=121
y=235
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Heal Between Rounds:"

[com_51]
type=Text
x=121
y=254
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Weapon Slots Only:"

[com_52]
type=Text
x=121
y=273
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="Summoning:"

[com_53]
type=Text
x=273
y=45
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="rank"

[com_54]
type=Text
x=273
y=64
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_55]
type=Text
x=273
y=83
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_56]
type=Text
x=273
y=102
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_57]
type=Text
x=273
y=121
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="fee"

[com_58]
type=Text
x=273
y=140
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="spec"

[com_59]
type=Text
x=273
y=159
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="obstacles"

[com_60]
type=Text
x=273
y=178
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="ranged"

[com_61]
type=Text
x=273
y=197
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="melee"

[com_62]
type=Text
x=273
y=216
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="magic"

[com_63]
type=Text
x=273
y=235
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="heal"

[com_64]
type=Text
x=273
y=254
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="weapon"

[com_65]
type=Text
x=273
y=273
width=100
height=12
colour=0xE1961F
font=494
shadow=yes
text="summon"

[com_66]
type=Layer
x=225
y=289
width=71
height=24
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_67]
type=Text
x=1
width=71
height=24
layerId=41222217
colour=0x009900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Join"
eventCode=hasOp(1)
baseOpName=" "
opName0="Join"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,39168

[com_68]
type=Text
x=1
width=71
height=24
layerId=41222218
colour=0x009900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Join"
eventCode=hasOp(1)
baseOpName=" "
opName0="Join"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,39168

[com_69]
type=Text
x=1
width=71
height=24
layerId=41222219
colour=0x009900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Join"
eventCode=hasOp(1)
baseOpName=" "
opName0="Join"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,39168

[com_70]
type=Text
x=1
width=71
height=24
layerId=41222220
colour=0x009900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Join"
eventCode=hasOp(1)
baseOpName=" "
opName0="Join"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,39168

[com_71]
type=Text
x=1
width=71
height=24
layerId=41222221
colour=0x009900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Join"
eventCode=hasOp(1)
baseOpName=" "
opName0="Join"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,39168

[com_72]
type=Text
x=1
width=71
height=24
layerId=41222222
colour=0x990000
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Resign"
eventCode=hasOp(1)
baseOpName=" "
opName0="Resign"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,10027008

[com_73]
type=Layer
x=224
y=289
width=73
height=24

[com_74]
type=Layer
x=224
y=289
width=73
height=24

[com_75]
type=Layer
x=224
y=289
width=73
height=24

[com_76]
type=Layer
x=224
y=289
width=73
height=24

[com_77]
type=Layer
x=224
y=289
width=73
height=24

[com_78]
type=Layer
x=224
y=289
width=73
height=24
