[build_layer]
type=Model
x=457
y=24
width=32
height=32
model1Id=11101
modelZoom=459
modelXAn=512

[favourites_layer]
type=Text
x=402
y=75
width=107
height=15
colour=0xAAAAAA
hAlign=Right
font=495
shadow=yes
text="Runesquares"

[com_2]
type=Text
x=437
y=89
width=72
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Rank: %1"
script1op1=varp,boardgames_runesquares_rank
