[container_layer]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[background]
type=Sprite
buttonType=Select
x=16
y=5
width=72
height=36
layerId=5898252
graphic=293
graphic2=294
buttonText="Bash"
eventCode=flag22
script1=eq,0
script1op1=varp,com_mode

[content_layer]
type=Sprite
buttonType=Select
x=16
y=40
width=72
height=36
layerId=5898252
graphic=293
graphic2=294
buttonText="Pound"
eventCode=flag22
script1=eq,1
script1op1=varp,com_mode

[add_remove_farmhands_layer]
type=Sprite
buttonType=Select
x=16
y=75
width=72
height=36
layerId=5898252
graphic=293
graphic2=294
buttonText="Focus"
eventCode=flag22
script1=eq,2
script1op1=varp,com_mode

[add_remove_layer]
type=Sprite
buttonType=Button
x=100
y=5
width=70
height=46
layerId=5898252
graphic=653
graphic2=654
buttonText="Spell"
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_2668

[content_panel_tabbed]
type=Sprite
buttonType=Button
x=99
y=65
width=70
height=46
layerId=5898252
graphic=653
graphic2=654
buttonText="Spell"
eventCode=flag22
script1=eq,3
script1op1=varp,com_mode
script1op2=varbit,varbit_2668

[paddock_layer]
type=Sprite
x=36
y=10
width=34
height=24
layerId=5898252
graphic=266

[paddock_name]
type=Sprite
x=36
y=45
width=34
height=24
layerId=5898252
graphic=267

[paddock_content_layer]
type=Sprite
x=36
y=80
width=34
height=24
layerId=5898252
graphic=252

[paddock_build_layer]
type=Sprite
buttonType=Button
x=21
y=152
width=150
height=46
graphic=655
graphic2=656
buttonText="Auto Retaliate"
eventCode=flag22
script1=eq,0
script1op1=varp,option_nodef

[paddock_click_layer]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto Retaliate <br>(Off)"
text2="Auto Retaliate <br>(On)"
script1=eq,0
script1op1=varp,option_nodef

[add_remove_vertical_line]
type=Text
x=99
y=94
width=70
height=13
layerId=5898252
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Spell"

[inventory_layer]
type=Layer
x=4
y=40
width=183
height=162

[inventory_name]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[inventory_scrollbar]
type=Sprite
x=37
y=25
width=20
height=20
layerId=5898253
graphic=329

[inventory_contentlayer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[inventory_build_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898255
graphic=337

[inventory_click_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_animal_info]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898257
graphic=333

[addremove_button]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[content_panel_light_blue]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898259
graphic=325

[addremove_animal_name]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[animal_name_model]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898261
graphic=330

[addremove_trait_info]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_trait_name]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898263
graphic=338

[addremove_trait_description]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_info]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898265
graphic=334

[addremove_animal_breed]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_age_stage]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898267
graphic=326

[addremove_favourite_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_traits_container]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898269
graphic=331

[content_panel_black]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_notraittext]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898271
graphic=339

[com_33]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_trait1_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898273
graphic=335

[addremove_trait1_button]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[trait5]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898275
graphic=327

[addremove_trait2_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[trait2_button_1]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898277
graphic=332

[trait4]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[addremove_trait3_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898279
graphic=340

[trait3_button_1]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[trait6]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898281
graphic=336

[showstats_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstat_background]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898283
graphic=328

[showstats_model]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_traits]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898285
graphic=15

[com_47]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_trait1]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898287
graphic=17

[showstats_trait2]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_trait3]
type=Sprite
x=37
y=25
width=20
height=20
layerId=5898289
graphic=19

[showstats_favourite_pen_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_favourite_inv_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898291
graphic=21

[showstats_info]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_name]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898293
graphic=23

[showstats_growthstage]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_gender]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898295
graphic=26

[showstats_breed]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_cancel_button]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898297
graphic=29

[showstats_remove_button]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[showstats_add_button]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898299
graphic=32

[tab_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[farmhands_tab]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898301
graphic=35

[inventory_tab]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[inventory_build]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898303
graphic=38

[inventory_click]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[check_animals_tab]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898305
graphic=40

[checkanimal_build]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[checkanimal_click]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898307
graphic=44

[check_data_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[button_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898309
graphic=46

[cure_button_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[cure_build]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898311
graphic=48

[cure_click]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[remove_button_layer]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898313
graphic=51

[remove_build]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[remove_click]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898315
graphic=52

[harvest_button_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[harvest_build]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898317
graphic=34

[harvest_click]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[animal_data]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898319
graphic=324

[favourite_icon]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252
hide=yes

[com_82]
type=Sprite
x=38
y=25
width=20
height=20
layerId=5898321
graphic=60

[health_layer]
type=Layer
x=87
y=49
width=93
height=114
layerId=5898252

[honeycomb_health_button]
type=Sprite
x=33
y=16
width=32
height=36
layerId=5898323
graphic=903

[add_honey_health]
type=Rectangle
buttonType=Button
y=1
width=155
height=22
layerId=5898327
trans=255
colour=0xFFFF00
buttonText="Use <col=00ff00>Special Attack"
eventCode=flag22

[honeycomb_happiness_button]
type=Sprite
x=2
width=150
height=26
layerId=5898327
graphic=657

[add_honey_happiness]
type=Layer
x=19
y=205
width=158
height=64
hide=yes

[com_88]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18552
modelZoom=1153
modelXAn=500

[com_89]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18553
modelZoom=1153
modelXAn=500
script1=gt,99
script1op1=varp,sa_energy

[com_90]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18555
modelZoom=1153
modelXAn=500
script1=gt,199
script1op1=varp,sa_energy

[com_91]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18556
modelZoom=1153
modelXAn=500
script1=gt,299
script1op1=varp,sa_energy

[com_92]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18557
modelZoom=1153
modelXAn=500
script1=gt,399
script1op1=varp,sa_energy

[model_layer]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18558
modelZoom=1153
modelXAn=500
script1=gt,499
script1op1=varp,sa_energy

[model]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18559
modelZoom=1153
modelXAn=500
script1=gt,599
script1op1=varp,sa_energy

[light_2]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18560
modelZoom=1153
modelXAn=500
script1=gt,699
script1op1=varp,sa_energy

[com_96]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18561
modelZoom=1153
modelXAn=500
script1=gt,799
script1op1=varp,sa_energy

[com_97]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18562
modelZoom=1153
modelXAn=500
script1=gt,899
script1op1=varp,sa_energy

[food_info]
type=Model
x=4
y=9
width=146
height=9
layerId=5898327
model1Id=18554
modelZoom=1153
modelXAn=500
script1=gt,999
script1op1=varp,sa_energy

[happiness_bar]
type=Text
x=18
y=8
width=117
height=11
layerId=5898327
colour=0x000010
font=494
text="S P E C I A L  A T T A C K"
text2="<col=ffff00>S P E C I A L  A T T A C K"
script1=gt,0
script1op1=varp,sa_attack

[com_100]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
script1op1=combat_level

[com_101]
type=Text
x=20
y=66
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Bash"

[com_102]
type=Text
x=20
y=101
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Pound"

[com_103]
type=Text
x=20
y=136
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Focus"

[happinessbar]
type=Sprite
x=105
y=50
width=36
height=36
graphic=760

[happiness_percentage]
type=Tooltip
x=20
y=45
width=70
height=34
text="(Accurate)<br>(Crush)<br>(Attack XP)"

[growth_stage]
type=Tooltip
x=20
y=79
width=70
height=34
text="(Aggressive)<br>(Crush)<br>(Strength XP)"

[health_bar]
type=Tooltip
x=20
y=117
width=70
height=31
text="(Defensive)<br>(Crush)<br>(Defence XP)"

[com_108]
type=Tooltip
x=103
y=43
width=70
height=47
text="(Attack with<br>a spell)<br>(Magic XP)<br>(Defence XP)"

[com_109]
type=Tooltip
x=102
y=105
width=71
height=47
text="(Attack with<br>a spell)<br>(Magic XP)"

[com_110]
type=Tooltip
width=159
height=19
layerId=5898327
text="Select to perform<br>a special attack"

[com_111]
type=Tooltip
x=22
y=153
width=150
height=46
text="When active your player<br>will automatically fight<br>back if attacked"

[healthbar]
type=Text
x=103
y=74
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Spell"

[health_percentage]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[previous_animal]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898353
graphic=329

[next_animal]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[fluff_text]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898355
graphic=337

[name]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[favourite_layer]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898357
graphic=333

[data_layer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait_info_container]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898359
graphic=325

[trait_info_name]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait_info_desc]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898361
graphic=330

[info_container]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[honeycomb_weight_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898363
graphic=338

[honeycomb_speed_button]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[honeycomb_attractiveness_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898365
graphic=334

[add_honey_weight]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[attractiveness]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898367
graphic=326

[weight]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[speed]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898369
graphic=331

[breed]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[paddock_size]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898371
graphic=339

[traits]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[com_134]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898373
graphic=335

[com_135]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[notraittext]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898375
graphic=327

[trait2_layer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait2_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898377
graphic=332

[trait2]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[com_140]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898379
graphic=340

[trait1_layer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait1_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898381
graphic=336

[trait1]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait3_layer]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898383
graphic=328

[trait3_button]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[trait3]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898385
graphic=15

[border]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[close_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898387
graphic=17

[farmhands_build]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[farmhands_click]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898389
graphic=19

[content_panel_tabbed_1]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[paddock_layer_farmhand]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898391
graphic=21

[content_panel_light_blue_3]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[paddock_name_1]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898393
graphic=23

[farmhand_paddock_contentlayer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[farmhands_vertical_line]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898395
graphic=26

[hirepool_layer_farmhand]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[content_panel_light_blue_4]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898397
graphic=29

[hirepool_name]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[hirepool_scrollbar]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898399
graphic=32

[hirepool_contentlayer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[hirepool_build_layer]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898401
graphic=35

[hirepool_click_layer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_layer]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898403
graphic=38

[showstat_farmhand_background]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_description]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898405
graphic=40

[com_167]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_text]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898407
graphic=44

[showstats_farmhand_model]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_info]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898409
graphic=46

[showstats_farmhand_data]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_name]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898411
graphic=48

[showstats_cancel_farmhand_button]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_farmhand_remove_button]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898413
graphic=51

[showstats_farmhand_add_button]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[farmhand_paddock_build_layer]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898415
graphic=52

[farmhand_paddock_click_layer]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[add_honey_speed]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898417
graphic=34

[add_honey_attractiveness]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[addremove_favourite_icon]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898419
graphic=324

[showstats_favourite_pen_icon]
type=Layer
x=86
width=100
height=100
layerId=5898252
hide=yes

[showstats_favourite_inv_icon]
type=Sprite
x=53
y=10
width=20
height=20
layerId=5898421
graphic=60

[com_183]
type=Layer
x=73
y=39
width=115
height=139

[com_184]
type=Sprite
x=64
y=5
width=32
height=36
layerId=5898423
graphic=903

[com_185]
type=Tooltip
width=72
height=44
layerId=5898253
text="Smoke rush<br>(Magic XP)"

[com_186]
type=Tooltip
width=72
height=44
layerId=5898255
text="Shadow rush<br>(Magic XP)"

[com_187]
type=Tooltip
width=72
height=44
layerId=5898257
text="Blood rush<br>(Magic XP)"

[com_188]
type=Tooltip
width=72
height=44
layerId=5898259
text="Ice rush<br>(Magic XP)"

[com_189]
type=Tooltip
width=72
height=44
layerId=5898261
text="Smoke burst<br>(Magic XP)"

[com_190]
type=Tooltip
width=72
height=44
layerId=5898263
text="Shadow burst<br>(Magic XP)"

[com_191]
type=Tooltip
width=72
height=44
layerId=5898265
text="Blood Burst<br>(Magic XP)"

[com_192]
type=Tooltip
width=72
height=44
layerId=5898267
text="Ice burst<br>(Magic XP)"

[com_193]
type=Tooltip
width=72
height=44
layerId=5898271
text="Smoke blitz<br>(Magic XP)"

[com_194]
type=Tooltip
width=72
height=44
layerId=5898273
text="Blood blitz<br>(Magic XP)"

[com_195]
type=Tooltip
width=72
height=44
layerId=5898275
text="Ice blitz<br>(Magic XP)"

[com_196]
type=Tooltip
width=72
height=44
layerId=5898277
text="Smoke barrage<br>(Magic XP)"

[com_197]
type=Tooltip
width=72
height=44
layerId=5898279
text="Shadow<br>barrage<br>(Magic XP)"

[com_198]
type=Tooltip
width=72
height=44
layerId=5898281
text="Blood barrage<br>(Magic XP)"

[com_199]
type=Tooltip
width=72
height=44
layerId=5898283
text="Ice barrage<br>(Magic XP)"

[com_200]
type=Tooltip
width=72
height=44
layerId=5898285
text="Wind strike<br>(Magic XP)"

[com_201]
type=Tooltip
width=72
height=44
layerId=5898287
text="Water strike<br>(Magic XP)"

[com_202]
type=Tooltip
width=72
height=44
layerId=5898289
text="Earth strike<br>(Magic XP)"

[com_203]
type=Tooltip
width=72
height=44
layerId=5898291
text="Fire strike<br>(Magic XP)"

[com_204]
type=Tooltip
width=72
height=44
layerId=5898293
text="Wind bolt<br>(Magic XP)"

[com_205]
type=Tooltip
width=72
height=44
layerId=5898295
text="Water bolt<br>(Magic XP)"

[com_206]
type=Tooltip
width=72
height=44
layerId=5898297
text="Earth bolt<br>(Magic XP)"

[com_207]
type=Tooltip
width=72
height=44
layerId=5898299
text="Fire bolt<br>(Magic XP)"

[com_208]
type=Tooltip
width=72
height=44
layerId=5898301
text="Wind blast<br>(Magic XP)"

[com_209]
type=Tooltip
width=72
height=44
layerId=5898303
text="Water blast<br>(Magic XP)"

[com_210]
type=Tooltip
width=72
height=44
layerId=5898305
text="Earth blast<br>(Magic XP)"

[com_211]
type=Tooltip
width=72
height=44
layerId=5898307
text="Fire blast<br>(Magic XP)"

[com_212]
type=Tooltip
width=72
height=44
layerId=5898309
text="Wind wave<br>(Magic XP)"

[com_213]
type=Tooltip
width=72
height=44
layerId=5898311
text="Water wave<br>(Magic XP)"

[com_214]
type=Tooltip
width=72
height=44
layerId=5898313
text="Earth wave<br>(Magic XP)"

[com_215]
type=Tooltip
width=72
height=44
layerId=5898315
text="Fire wave<br>(Magic XP)"

[com_216]
type=Tooltip
width=72
height=44
layerId=5898317
text="Crumble undead<br>(Magic XP)"

[com_217]
type=Tooltip
width=72
height=44
layerId=5898319
text="Magic dart<br>(Magic XP)"

[com_218]
type=Tooltip
width=72
height=44
layerId=5898321
text="Claws of Guthix<br>(Magic XP)"

[com_219]
type=Tooltip
width=72
height=44
layerId=5898413
text="Earth wave<br>(Magic XP)<br>(Defence XP)"

[com_220]
type=Tooltip
width=72
height=44
layerId=5898377
text="Smoke barrage<br>(Magic XP)<br>(Defence XP)"

[com_221]
type=Tooltip
width=72
height=44
layerId=5898355
text="Shadow rush<br>(Magic XP)<br>(Defence XP)"

[com_222]
type=Tooltip
width=72
height=44
layerId=5898409
text="Wind wave<br>(Magic XP)<br>(Defence XP)"

[com_223]
type=Tooltip
width=72
height=44
layerId=5898393
text="Wind bolt<br>(Magic XP)<br>(Defence XP)"

[com_224]
type=Tooltip
width=72
height=44
layerId=5898357
text="Blood rush<br>(Magic XP)<br>(Defence XP)"

[com_225]
type=Tooltip
width=72
height=44
layerId=5898379
text="Shadow<br>barrage<br>(Magic XP)<br>(Defence XP)"

[com_226]
type=Tooltip
width=72
height=44
layerId=5898403
text="Water blast<br>(Magic XP)<br>(Defence XP)"

[com_227]
type=Tooltip
width=72
height=44
layerId=5898359
text="Ice rush<br>(Magic XP)<br>(Defence XP)"

[com_228]
type=Tooltip
width=72
height=44
layerId=5898421
text="Claws of Guthix<br>(Magic XP)<br>(Defence XP)"

[com_229]
type=Tooltip
width=72
height=44
layerId=5898381
text="Blood barrage<br>(Magic XP)<br>(Defence XP)"

[com_230]
type=Tooltip
width=72
height=44
layerId=5898361
text="Smoke burst<br>(Magic XP)<br>(Defence XP)"

[com_231]
type=Tooltip
width=72
height=44
layerId=5898395
text="Water bolt<br>(Magic XP)<br>(Defence XP)"

[com_232]
type=Tooltip
width=72
height=44
layerId=5898417
text="Crumble undead<br>(Magic XP)<br>(Defence XP)"

[com_233]
type=Tooltip
width=72
height=44
layerId=5898363
text="Shadow burst<br>(Magic XP)<br>(Defence XP)"

[com_234]
type=Tooltip
width=72
height=44
layerId=5898383
text="Ice barrage<br>(Magic XP)<br>(Defence XP)"

[com_235]
type=Tooltip
width=72
height=44
layerId=5898405
text="Earth blast<br>(Magic XP)<br>(Defence XP)"

[com_236]
type=Tooltip
width=72
height=44
layerId=5898365
text="Blood Burst<br>(Magic XP)<br>(Defence XP)"

[com_237]
type=Tooltip
width=72
height=44
layerId=5898397
text="Earth bolt<br>(Magic XP)<br>(Defence XP)"

[com_238]
type=Tooltip
width=72
height=44
layerId=5898385
text="Wind strike<br>(Magic XP)<br>(Defence XP)"

[com_239]
type=Tooltip
width=72
height=44
layerId=5898367
text="Ice burst<br>(Magic XP)<br>(Defence XP)"

[com_240]
type=Tooltip
width=72
height=44
layerId=5898411
text="Water wave<br>(Magic XP)<br>(Defence XP)"

[com_241]
type=Tooltip
width=72
height=44
layerId=5898415
text="Fire wave<br>(Magic XP)<br>(Defence XP)"

[com_242]
type=Tooltip
width=72
height=44
layerId=5898387
text="Water strike<br>(Magic XP)<br>(Defence XP)"

[com_243]
type=Tooltip
width=72
height=44
layerId=5898399
text="Fire bolt<br>(Magic XP)<br>(Defence XP)"

[com_244]
type=Tooltip
width=72
height=44
layerId=5898371
text="Smoke blitz<br>(Magic XP)<br>(Defence XP)"

[com_245]
type=Tooltip
width=72
height=44
layerId=5898407
text="Fire blast<br>(Magic XP)<br>(Defence XP)"

[com_246]
type=Tooltip
width=72
height=44
layerId=5898389
text="Earth strike<br>(Magic XP)<br>(Defence XP)"

[com_247]
type=Tooltip
width=72
height=44
layerId=5898373
text="Blood blitz<br>(Magic XP)<br>(Defence XP)"

[com_248]
type=Tooltip
width=72
height=44
layerId=5898419
text="Magic dart<br>(Magic XP)<br>(Defence XP)"

[com_249]
type=Tooltip
width=72
height=44
layerId=5898401
text="Wind blast<br>(Magic XP)<br>(Defence XP)"

[com_250]
type=Tooltip
width=72
height=44
layerId=5898375
text="Ice blitz<br>(Magic XP)<br>(Defence XP)"

[com_251]
type=Tooltip
width=72
height=44
layerId=5898391
text="Fire strike<br>(Magic XP)<br>(Defence XP)"

[com_252]
type=Tooltip
width=72
height=44
layerId=5898353
text="Smoke rush<br>(Magic XP)<br>(Defence XP)"
