[content_layer]
type=Model
width=512
height=334
layerId=40304641
model1Id=18140
modelZoom=577
modelXAn=512
discardedModelField=0

[universe]
type=Layer
width=512
height=334

[king_bolrie]
type=Model
x=236
y=360
width=25
height=25
layerId=40304643
model1Id=28300
modelAnim=pog_bolrie_ready
modelZoom=300
discardedModelField=0
onload=515
ontimer=516

[background_layer]
type=Layer
x=20
y=-56
width=509
height=390
