[com_0]
type=Rectangle
x=1
y=1
width=515
height=333
fill=yes

[content_layer]
type=Model
x=149
y=36
width=194
height=258
model1Id=28319
modelZoom=211
modelXAn=306
modelYAn=2047
discardedModelField=0

[pog_hand]
type=Model
x=181
y=113
width=161
height=169
model1Id=28330
modelAnim=pog_seed_break
modelZoom=528
modelXAn=381
modelYAn=1951
discardedModelField=0
