[content_layer]
type=Rectangle
width=515
height=335
trans=100
fill=yes

[bespoke_window]
type=Model
x=310
y=80
width=32
height=32
model1Id=28323
modelZoom=1110
discardedModelField=0

[pog_gnome_machine_unlocked]
type=Model
x=80
y=210
width=32
height=32
model1Id=17187
modelZoom=350
modelXAn=245
modelYAn=128
discardedModelField=0

[pog_operate_hand]
type=Model
x=335
y=264
width=32
height=32
model1Id=17222
modelZoom=1110
modelXAn=74
modelYAn=49
discardedModelField=0
eventCode=hasOp(1)
opName0="Cancel"

[pog_operate_cancel]
type=Model
x=370
y=238
width=32
height=32
model1Id=17225
modelZoom=1110
modelXAn=49
discardedModelField=0
eventCode=hasOp(1)
opName0="Operate"

[pog_correct]
type=Model
x=310
y=80
width=32
height=32
model1Id=17223
modelZoom=1110
discardedModelField=0

[pog_coinexit]
type=Layer
x=246
y=39
width=38
height=38

[pog_coin_set_layer01]
type=Model
x=3
y=3
width=32
height=32
layerId=40173574
model1Id=17224
modelZoom=1110
discardedModelField=0
eventCode=hasOp(1)
opName0="Insert"

[pog_coin_set_layer02]
type=Layer
x=247
y=122
width=38
height=38

[pog_windowset]
type=Model
x=3
y=3
width=32
height=32
layerId=40173576
model1Id=17224
modelZoom=1110
discardedModelField=0
eventCode=hasOp(1)
opName0="Insert"

[pog_coin_display1_1]
type=Model
x=310
y=80
width=32
height=32
model1Id=28317
modelZoom=1110
discardedModelField=0

[pog_coin_display2_1]
type=Model
x=280
y=42
width=32
height=32
modelZoom=400
discardedModelField=0
onmouseleave=40,40173589
onmouserepeat=509,component.parentId

[pog_coin_display2_2]
type=Model
x=280
y=99
width=32
height=32
modelZoom=272
discardedModelField=0
onmouseleave=40,40173589
onmouserepeat=509,component.parentId

[pog_operate_current_coin]
type=Model
x=281
y=149
width=32
height=32
modelZoom=400
discardedModelField=0
onmouseleave=40,40173589
onmouserepeat=509,component.parentId

[pog_gnome_machine_unloacked_close]
type=Model
x=72
y=203
width=55
height=53
modelZoom=400
discardedModelField=0

[pog_gnome_machine_unlocked_close_button]
type=Sprite
x=476
y=8
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29

[pog_target_1_1]
type=Layer
x=343
y=-214
width=32
height=32
hide=yes

[pog_target_1_2]
type=Model
x=321
y=42
width=32
height=32
modelZoom=400
discardedModelField=0
onmouseleave=40,40173588
onmouserepeat=136,component.parentId

[pog_target_2]
type=Model
x=360
y=42
width=32
height=32
modelZoom=400
discardedModelField=0
onmouseleave=40,40173588
onmouserepeat=136,component.parentId

[tooltip_bounding_box_target]
type=Model
x=340
y=123
width=32
height=32
modelZoom=400
discardedModelField=0
baseOpName="m"
onmouseleave=40,40173588
onmouserepeat=136,component.parentId

[tooltip_bounding_box_input]
type=Layer
x=96
y=86
width=10
height=10
layerId=40173590

[pog_coin_set_01]
type=Layer
x=48
y=97
width=10
height=10
layerId=40173591

[pog_coin_set_02]
type=Layer
x=290
y=20
width=160
height=227

[tooltip_target]
type=Layer
x=202
y=21
width=160
height=227
