[pog_map_rect]
type=Rectangle
x=-1
width=514
height=335
colour=0x2A1E06
fill=yes

[pog_rs_map]
type=Model
x=211
y=132
width=32
height=32
model1Id=17186
modelZoom=651
modelXAn=130
modelYAn=1814
discardedModelField=0

[pog_healthorg_banner]
type=Model
x=238
y=137
width=32
height=32
model1Id=28325
modelZoom=684
modelXAn=130
modelYAn=1814
discardedModelField=0

[pog_bolrie_banner]
type=Model
x=186
y=173
width=32
height=32
model1Id=28321
modelZoom=638
modelXAn=102
modelYAn=1837
discardedModelField=0

[pog_human_banner]
type=Model
x=238
y=148
width=32
height=32
model1Id=28318
modelZoom=686
modelXAn=93
modelYAn=1843
discardedModelField=0
