[universe]
type=Model
width=512
height=334
layerId=39845889
model1Id=18140
modelZoom=577
modelXAn=512
discardedModelField=0

[com_1]
type=Layer
width=512
height=334

[pog_tree]
type=Model
x=220
y=311
width=25
height=25
layerId=39845891
model1Id=28488
modelZoom=1000
discardedModelField=0
ontimer=66,0,1,0,component.parentId

[com_3]
type=Layer
x=20
y=-56
width=509
height=390
baseOpName="mmm"
