[hatch]
type=Model
x=189
y=153
width=32
height=32
model1Id=28320
modelZoom=295
modelYAn=2044
discardedModelField=0
onload=510
ontimer=511

[fade]
type=Model
x=239
y=152
width=32
height=32
modelZoom=400
modelXAn=512
discardedModelField=0
onload=512
