[com_0]
type=Model
x=242
y=152
width=35
height=35
model1Id=28554
modelZoom=482
discardedModelField=0

[bookmacro_title_5]
type=Sprite
x=82
y=5
width=350
height=36
graphic=1060
tiling=yes

[bookmacro_title]
type=Sprite
x=43
y=1
width=39
height=39
graphic=1059

[bookmacro_title_3]
type=Sprite
x=82
y=2
width=352
height=30
graphic=1060
tiling=yes

[bookmacro_title_4]
type=Sprite
x=432
y=1
width=39
height=39
graphic=1061

[bm1]
type=Layer
x=12
y=20
width=487
height=45

[close_btn]
type=Sprite
x=479
y=5
width=21
height=21
graphic=1064
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,1065
onmouseleave=44,component.parentId,1064
onop=517

[bookmacro1title]
type=Text
x=18
y=8
width=478
height=26
colour=0x493217
hAlign=Center
vAlign=Center
font=645
text="Bolrie's Diary"

[chapter1]
type=Text
x=38
y=54
width=197
height=54
colour=0x46320A
font=645
text="Chapter 1. Bad advice"
eventCode=hasOp(1)
baseOpName="chapter 1"
opName0="Read"
onmouseover=45,component.parentId,9200660
onmouseleave=45,component.parentId,4600330

[bookmacro1b]
type=Text
x=38
y=108
width=197
height=17
colour=0x46320A
font=497
text="In which Bolrie is advised by"

[chapter2]
type=Text
x=38
y=124
width=197
height=17
colour=0x46320A
font=497
text="a mysterious stranger, and"

[bookmacro1g]
type=Text
x=38
y=140
width=197
height=17
colour=0x46320A
font=497
text="ambition is fed."

[chapter3]
type=Text
x=38
y=156
width=197
height=17
colour=0x46320A
font=497

[bookmacro1m]
type=Text
x=38
y=172
width=197
height=52
colour=0x46320A
font=645
text="Chapter 2. The King is dead"
eventCode=hasOp(1)
baseOpName="chapter 2"
opName0="Read"
onmouseover=45,component.parentId,9200660
onmouseleave=45,component.parentId,4600330

[bookmacro1v]
type=Text
x=38
y=224
width=197
height=17
colour=0x46320A
font=497
text="In which a great king dies"

[com_15]
type=Text
x=38
y=240
width=197
height=17
colour=0x46320A
font=497
text="and the search for a new"

[com_16]
type=Text
x=38
y=256
width=197
height=17
colour=0x46320A
font=497
text="one begins."

[com_17]
type=Text
x=38
y=272
width=197
height=17
colour=0x46320A
font=497

[com_18]
type=Text
x=38
y=288
width=197
height=17
colour=0x46320A
font=497

[com_19]
type=Text
x=283
y=54
width=197
height=58
colour=0x46320A
font=645
text="Chapter 3. Eyes opened"
eventCode=hasOp(1)
baseOpName="chapter 3"
opName0="Read"
onmouseover=45,component.parentId,9200660
onmouseleave=45,component.parentId,4600330

[com_20]
type=Text
x=283
y=112
width=197
height=17
colour=0x46320A
font=497
text="In which a secret is revealed,"

[com_21]
type=Text
x=283
y=128
width=197
height=17
colour=0x46320A
font=497
text="an old foe reappears and"

[com_22]
type=Text
x=283
y=144
width=197
height=17
colour=0x46320A
font=497
text="ambitions end."

[com_23]
type=Text
x=283
y=160
width=197
height=17
colour=0x46320A
font=497

[com_24]
type=Text
x=283
y=176
width=197
height=17
colour=0x46320A
font=497
text="Finally, I understand my"

[com_25]
type=Text
x=283
y=192
width=197
height=17
colour=0x46320A
font=497
text="failings and my true enemies."
baseOpName="my failings"

[com_26]
type=Text
x=283
y=208
width=197
height=17
colour=0x46320A
font=497
text="I dedicate the rest of my"

[com_27]
type=Text
x=283
y=224
width=197
height=17
colour=0x46320A
font=497
text="shattered life to the task of"

[com_28]
type=Text
x=283
y=240
width=197
height=17
colour=0x46320A
font=497
text="eradicating them both."

[com_29]
type=Text
x=418
y=267
width=48
height=17
colour=0x46320A
font=497
text=" Bolrie"
baseOpName="m"
