[com_0]
type=Model
x=-655
y=-527
width=1742
height=1073
model1Id=28314
modelZoom=150
modelXOf=-9
modelYOf=536
discardedModelField=0

[com_1]
type=Model
x=-187
y=10
width=417
height=455
model1Id=28327
modelAnim=pog_bolrie_poster
modelZoom=700
modelXAn=506
modelXOf=62
modelYOf=-78
discardedModelField=0

[com_2]
type=Model
x=-265
y=6
width=691
height=622
model1Id=28329
modelAnim=pog_arg_poster
modelZoom=700
modelXAn=506
modelYOf=-142
discardedModelField=0

[com_3]
type=Model
x=-64
y=185
width=450
height=465
model1Id=28328
modelAnim=pog_poster_hand
modelZoom=700
modelXAn=506
modelXOf=-67
modelYOf=-216
discardedModelField=0

[com_4]
type=Model
x=44
y=-87
width=583
height=391
model1Id=28326
modelAnim=pog_poster_hand_brush
modelZoom=759
modelXAn=512
modelZAn=88
modelXOf=-317
modelYOf=-1
discardedModelField=0
