[com_0]
type=Model
x=-655
y=-527
width=1742
height=1073
model1Id=28314
modelZoom=150
modelXOf=-9
modelYOf=536
discardedModelField=0

[com_1]
type=Model
x=237
y=6
width=189
height=316
model1Id=28329
modelAnim=pog_arg_poster_static
modelZoom=700
modelXAn=506
modelXOf=-251
modelYOf=11
discardedModelField=0
