[poh_hangman_letter1]
type=Text
buttonType=Button
x=200
y=8
width=9
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="A"
eventCode=flag22

[poh_hangman_letter2]
type=Text
buttonType=Button
x=232
y=8
width=11
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="B"
eventCode=flag22

[poh_hangman_letter3]
type=Text
buttonType=Button
x=264
y=8
width=10
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="C"
eventCode=flag22

[poh_hangman_letter4]
type=Text
buttonType=Button
x=296
y=8
width=13
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="D"
eventCode=flag22

[poh_hangman_letter5]
type=Text
buttonType=Button
x=328
y=8
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="E"
eventCode=flag22

[poh_hangman_letter6]
type=Text
buttonType=Button
x=360
y=8
width=10
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="F"
eventCode=flag22

[poh_hangman_letter7]
type=Text
buttonType=Button
x=392
y=8
width=11
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="G"
eventCode=flag22

[poh_hangman_letter8]
type=Text
buttonType=Button
x=424
y=8
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="H"
eventCode=flag22

[poh_hangman_letter9]
type=Text
buttonType=Button
x=456
y=8
width=7
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="I"
eventCode=flag22

[poh_hangman_letter10]
type=Text
buttonType=Button
x=216
y=28
width=8
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="J"
eventCode=flag22

[poh_hangman_letter11]
type=Text
buttonType=Button
x=248
y=28
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="K"
eventCode=flag22

[poh_hangman_letter12]
type=Text
buttonType=Button
x=280
y=28
width=9
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="L"
eventCode=flag22

[poh_hangman_letter13]
type=Text
buttonType=Button
x=312
y=28
width=15
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="M"
eventCode=flag22

[poh_hangman_letter14]
type=Text
buttonType=Button
x=344
y=28
width=14
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="N"
eventCode=flag22

[poh_hangman_letter15]
type=Text
buttonType=Button
x=376
y=28
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="O"
eventCode=flag22

[poh_hangman_letter16]
type=Text
buttonType=Button
x=408
y=28
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="P"
eventCode=flag22

[poh_hangman_letter17]
type=Text
buttonType=Button
x=440
y=28
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="Q"
eventCode=flag22

[poh_hangman_letter18]
type=Text
buttonType=Button
x=200
y=48
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="R"
eventCode=flag22

[poh_hangman_letter19]
type=Text
buttonType=Button
x=232
y=48
width=9
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="S"
eventCode=flag22

[poh_hangman_letter20]
type=Text
buttonType=Button
x=264
y=48
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="T"
eventCode=flag22

[poh_hangman_letter21]
type=Text
buttonType=Button
x=296
y=48
width=11
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="U"
eventCode=flag22

[poh_hangman_letter22]
type=Text
buttonType=Button
x=328
y=48
width=11
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="V"
eventCode=flag22

[poh_hangman_letter23]
type=Text
buttonType=Button
x=360
y=48
width=16
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="W"
eventCode=flag22

[poh_hangman_letter24]
type=Text
buttonType=Button
x=392
y=48
width=12
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="X"
eventCode=flag22

[poh_hangman_letter25]
type=Text
buttonType=Button
x=424
y=48
width=11
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="Y"
eventCode=flag22

[poh_hangman_letter26]
type=Text
buttonType=Button
x=456
y=48
width=10
height=17
colour=0xCCCCFF
colourOver=0xCC0000
font=497
shadow=yes
text="Z"
eventCode=flag22

[com_26]
type=Sprite
x=405
y=64
width=72
height=36
graphic=295
graphic2=296

[poh_hangman_guessbutton]
type=Text
buttonType=Button
x=407
y=75
width=68
height=14
colour=0xFF981F
colourOver=0xCC0000
hAlign=Center
font=495
shadow=yes
text="GUESS"
eventCode=flag22

[poh_hangman_guessbox]
type=Text
buttonType=Button
x=24
y=40
width=4
height=2
colour=0x0000FF
font=497
shadow=yes
eventCode=flag22

[poh_hangman_wordbox]
type=Text
buttonType=Button
x=24
y=8
width=145
height=17
colour=0x6633FF
font=496
shadow=yes
text="__________"
eventCode=flag22

[poh_hangman_guess_instructions_layer]
type=Text
width=465
height=17
layerId=25755679
colour=0x6633FF
font=495
text="Enter up to five letters in any order then click 'guess' again."

[centre]
type=Layer
y=72
width=406
height=24
