[universe]
type=Rectangle
x=-2
y=-3
width=568
height=369
fill=yes

[background]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[content]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[border]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[menu]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[left]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[armchairs]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[on_0]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[bookcases]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[beerbarrels]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[kitchentables]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[diningtables]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[diningbenches]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[beds]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[wardrobes]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[right]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[dressers]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[clocks]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[caperacks]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[magicwardrobes]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[armourcases]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[treasurechests]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[fancydressboxes]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[toyboxes]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[scrollbar]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[frame]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[title]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[close_button]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_30]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[on_1]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[on_2]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[on_3]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[on_4]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[on_5]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[on_6]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[on_7]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[on_8]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[on_9]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[on_10]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[on_11]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[on_12]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[on_13]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[on_14]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[on_15]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[over_0]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[over_1]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[over_2]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[over_3]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[over_4]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[over_5]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[over_6]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[over_7]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[over_8]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[over_9]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[over_10]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[over_11]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[over_12]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[over_13]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[over_14]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[over_15]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[hit_0]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[hit_1]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[hit_2]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[hit_3]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[hit_4]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[hit_5]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[hit_6]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[hit_7]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[hit_8]
type=Layer
x=32
y=80
width=250
height=222
scrollHeight=981

[hit_9]
type=Model
buttonType=Button
x=10
y=109
width=49
height=34
layerId=26017862
model1Id=12409
modelZoom=2075
modelXAn=202
modelYAn=385
eventCode=flag22

[hit_10]
type=Model
buttonType=Button
x=11
y=45
width=49
height=34
layerId=26017862
model1Id=12444
modelZoom=1643
modelXAn=79
modelYAn=1841
eventCode=flag22

[hit_11]
type=Model
buttonType=Button
x=6
y=165
width=49
height=34
layerId=26017862
model1Id=12384
modelZoom=2282
modelXAn=174
modelYAn=1852
eventCode=flag22

[hit_12]
type=Model
buttonType=Button
x=22
y=213
width=33
height=39
layerId=26017862
model1Id=12492
modelZoom=2626
modelXAn=117
modelYAn=1123
eventCode=flag22

[hit_13]
type=Model
buttonType=Button
x=23
y=277
width=35
height=29
layerId=26017862
model1Id=12457
modelZoom=2985
modelXAn=106
modelYAn=714
eventCode=flag22

[hit_14]
type=Model
buttonType=Button
x=17
y=344
width=32
height=32
layerId=26017862
model1Id=12405
modelZoom=1842
modelXAn=152
modelYAn=1827
eventCode=flag22

[hit_15]
type=Model
buttonType=Button
x=19
y=405
width=32
height=32
layerId=26017862
model1Id=12393
modelZoom=3000
modelXAn=100
modelYAn=1831
eventCode=flag22

[com_78]
type=Model
buttonType=Button
x=20
y=462
width=32
height=32
layerId=26017862
model1Id=12466
modelZoom=2168
modelXAn=151
modelYAn=1869
eventCode=flag22

[com_79]
type=Model
buttonType=Button
x=20
y=530
width=31
height=28
layerId=26017862
model1Id=11125
modelZoom=2401
modelXAn=127
modelYAn=1831
eventCode=flag22

[com_80]
type=Model
buttonType=Button
x=13
y=583
width=38
height=41
layerId=26017862
model1Id=12972
modelZoom=2211
modelXAn=152
modelYAn=1937
eventCode=flag22

[com_81]
type=Model
buttonType=Button
x=13
y=650
width=38
height=29
layerId=26017862
model1Id=19002
modelZoom=2211
modelXAn=24
modelYAn=1808
eventCode=flag22

[com_82]
type=Model
buttonType=Button
x=13
y=763
width=38
height=41
layerId=26017862
model1Id=18994
modelZoom=2677
modelXAn=86
modelYAn=292
eventCode=flag22

[com_83]
type=Model
buttonType=Button
x=13
y=814
width=38
height=41
layerId=26017862
model1Id=19041
modelZoom=2677
modelXAn=106
modelYAn=1898
eventCode=flag22

[com_84]
type=Model
buttonType=Button
x=7
y=872
width=38
height=41
layerId=26017862
model1Id=19011
modelZoom=2277
modelXAn=111
modelYAn=1933
eventCode=flag22

[com_85]
type=Model
buttonType=Button
x=12
y=937
width=38
height=41
layerId=26017862
model1Id=19032
modelZoom=2277
modelXAn=111
modelYAn=1933
eventCode=flag22

[com_86]
type=Model
buttonType=Button
x=18
y=711
width=38
height=23
layerId=26017862
model1Id=19023
modelZoom=2977
modelXAn=62
modelYAn=238
eventCode=flag22

[com_87]
type=Rectangle
x=32
y=80
width=267
height=222
colour=0x333333

[com_88]
type=Text
x=78
y=33
width=159
height=15
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Armchairs"

[com_89]
type=Text
x=78
y=93
width=159
height=17
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Bookcases"

[com_90]
type=Text
x=78
y=154
width=159
height=15
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Beer Barrels"

[com_91]
type=Text
x=78
y=214
width=159
height=16
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Kitchen Tables"

[com_92]
type=Text
x=78
y=274
width=159
height=19
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Dining Tables"

[com_93]
type=Text
x=78
y=334
width=160
height=17
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Dining Benches"

[com_94]
type=Text
x=78
y=394
width=159
height=17
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Beds"

[com_95]
type=Text
x=78
y=454
width=160
height=18
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Dressers"

[com_96]
type=Text
x=78
y=513
width=160
height=16
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Wardrobes"

[com_97]
type=Text
x=78
y=575
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Clocks"

[com_98]
type=Text
x=78
y=634
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Cape Racks"

[com_99]
type=Text
x=78
y=695
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Magic Wardrobes"

[com_100]
type=Text
x=78
y=755
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Armour cases "

[com_101]
type=Text
x=78
y=816
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Treasure trail chests"

[com_102]
type=Text
x=78
y=878
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Fancy dress boxes "

[com_103]
type=Text
x=78
y=937
width=160
height=14
layerId=26017862
colour=0xCCCCFF
font=495
shadow=yes
text="Toy boxes "

[com_104]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_105]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_106]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_107]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_108]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_109]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_110]
type=Rectangle
x=20
y=-3
width=374
height=23
fill=yes

[com_111]
type=Rectangle
buttonType=Button
x=2
y=8
width=238
height=61
layerId=26017862
colour=0x333300
eventCode=flag22

[com_112]
type=Rectangle
buttonType=Button
x=2
y=70
width=238
height=61
layerId=26017862
colour=0x333300
eventCode=flag22

[com_113]
type=Rectangle
buttonType=Button
x=2
y=132
width=238
height=61
layerId=26017862
colour=0x333300
eventCode=flag22

[com_114]
type=Rectangle
buttonType=Button
x=2
y=194
width=238
height=56
layerId=26017862
colour=0x333300
eventCode=flag22

[com_115]
type=Rectangle
buttonType=Button
x=2
y=251
width=238
height=61
layerId=26017862
colour=0x333300
eventCode=flag22

[com_116]
type=Rectangle
buttonType=Button
x=2
y=313
width=238
height=58
layerId=26017862
colour=0x333300
eventCode=flag22

[com_117]
type=Rectangle
buttonType=Button
x=2
y=372
width=238
height=61
layerId=26017862
colour=0x333300
eventCode=flag22

[com_118]
type=Rectangle
buttonType=Button
x=2
y=434
width=238
height=56
layerId=26017862
colour=0x333300
eventCode=flag22

[com_119]
type=Rectangle
buttonType=Button
x=2
y=491
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_120]
type=Rectangle
buttonType=Button
x=2
y=551
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_121]
type=Rectangle
buttonType=Button
x=2
y=611
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_122]
type=Rectangle
buttonType=Button
x=2
y=671
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_123]
type=Rectangle
buttonType=Button
x=2
y=731
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_124]
type=Rectangle
buttonType=Button
x=2
y=791
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_125]
type=Rectangle
buttonType=Button
x=2
y=851
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_126]
type=Rectangle
buttonType=Button
x=2
y=911
width=238
height=59
layerId=26017862
colour=0x333300
eventCode=flag22

[com_127]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[com_128]
type=Text
x=21
y=60
width=380
height=16
colour=0xFF981F
font=495
shadow=yes
text="Select a piece of furniture to build"

[com_129]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_130]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_131]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_132]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_133]
type=Text
x=51
y=30
width=408
height=13
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Furniture  Creation Menu"

[com_134]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_135]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_136]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_137]
type=Sprite
x=31
y=302
width=88
height=60
graphic=297

[com_138]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_139]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_140]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_141]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_142]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_143]
type=Rectangle
x=29
y=319
width=96
height=60
fill=yes

[com_144]
type=Sprite
x=470
y=26
width=26
height=23
overLayerId=146
graphic=535

[com_145]
type=Sprite
buttonType=Close
x=6
y=5
width=26
height=23
layerId=26017938
graphic=536
buttonText="Ok"

[com_146]
type=Layer
x=464
y=21
width=32
height=32
hide=yes
