[poh_ranging_score_text]
type=Model
x=186
y=306
width=32
height=32
model1Id=18879
modelZoom=1360
modelXAn=512

[poh_ranging_shots_text]
type=Model
x=186
y=284
width=32
height=32
model1Id=18879
modelZoom=1360
modelXAn=512

[poh_ranging_player_text]
type=Model
x=186
y=261
width=32
height=32
model1Id=18878
modelZoom=1360
modelXAn=512

[com_3]
type=Text
x=22
y=269
width=88
height=18
colour=0xD1B47F
font=496
shadow=yes
text="PLAYER "

[com_4]
type=Text
x=22
y=293
width=106
height=16
colour=0xD1B47F
font=496
shadow=yes
text="SHOTS"

[com_5]
type=Text
x=22
y=315
width=115
height=14
colour=0xD1B47F
font=496
shadow=yes
text="SCORE"

[poh_ranging_player1]
type=Text
x=167
y=272
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_player2]
type=Text
x=251
y=272
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_player3]
type=Text
x=332
y=272
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_player4]
type=Text
x=415
y=272
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_shots1]
type=Text
x=167
y=293
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_shots2]
type=Text
x=251
y=294
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_shots3]
type=Text
x=332
y=292
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_shots4]
type=Text
x=415
y=294
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_score1]
type=Text
x=167
y=316
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_score2]
type=Text
x=251
y=317
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_score3]
type=Text
x=332
y=314
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_score4]
type=Text
x=415
y=315
width=6
height=14
colour=0xBBAF35
hAlign=Center
font=495
shadow=yes
text="-"

[poh_ranging_winner1]
type=Text
x=167
y=258
width=5
height=17
colour=0xCC0000
hAlign=Center
font=496

[poh_ranging_winner2]
type=Text
x=251
y=258
width=5
height=17
colour=0xCC0000
hAlign=Center
font=496

[poh_ranging_winner3]
type=Text
x=332
y=258
width=5
height=17
colour=0xCC0000
hAlign=Center
font=496

[poh_ranging_winner4]
type=Text
x=415
y=258
width=5
height=17
colour=0xCC0000
hAlign=Center
font=496

[poh_ranging_lastshot]
type=Text
x=20
y=241
width=6
height=14
colour=0xBBAF35
font=495
