[com_0]
type=Rectangle
width=512
height=334
colour2=0x101010
fill=yes

[com_1]
type=Text
x=5
y=267
width=505
height=14
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="There's no place like home..."

[com_2]
type=Sprite
x=120
y=72
width=256
height=192
graphic=529

[com_3]
type=Rectangle
x=120
y=72
width=256
height=192
colour=0x473300

[com_4]
type=Rectangle
x=119
y=71
width=258
height=194
colour=0x372000
