[contents]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[search_bar_layer]
type=Layer
x=4
y=40
width=180
height=163

[scrollbar]
type=Sprite
buttonType=Select
x=16
y=5
width=70
height=46
layerId=5701633
graphic=653
graphic2=654
buttonText="Lunge"
eventCode=flag22
script1=eq,0
script1op1=varp,com_mode

[mainmodal_window]
type=Sprite
buttonType=Select
x=100
y=5
width=70
height=46
layerId=5701633
graphic=653
graphic2=654
buttonText="Swipe"
eventCode=flag22
script1=eq,1
script1op1=varp,com_mode

[input_clickout]
type=Sprite
buttonType=Select
x=16
y=58
width=70
height=46
layerId=5701633
graphic=653
graphic2=654
buttonText="Pound"
eventCode=flag22
script1=eq,2
script1op1=varp,com_mode

[mainmodal_window_background]
type=Sprite
buttonType=Select
x=99
y=58
width=70
height=46
layerId=5701633
graphic=653
graphic2=654
buttonText="Block"
eventCode=flag22
script1=eq,3
script1op1=varp,com_mode

[mainmodal_window_content]
type=Sprite
x=36
y=10
width=34
height=24
layerId=5701633
graphic=241

[mainmodal_window_border]
type=Sprite
x=118
y=10
width=34
height=24
layerId=5701633
graphic=251

[mainmodal_window_close_button]
type=Sprite
x=36
y=63
width=34
height=24
layerId=5701633
graphic=242

[com_9]
type=Sprite
x=118
y=63
width=34
height=24
layerId=5701633
graphic=250

[search_input_box]
type=Rectangle
buttonType=Button
y=1
width=155
height=22
layerId=5701644
trans=255
colour=0xFFFF00
buttonText="Use <col=00ff00>Special Attack"
eventCode=flag22

[search_input_cancel]
type=Sprite
x=2
width=150
height=26
layerId=5701644
graphic=657

[search_input_border]
type=Layer
x=19
y=205
width=158
height=64
hide=yes

[search_input_listener]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18552
modelZoom=1153
modelXAn=500

[search_input_listen]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18553
modelZoom=1153
modelXAn=500
script1=gt,99
script1op1=varp,sa_energy

[search_input_caret]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18555
modelZoom=1153
modelXAn=500
script1=gt,199
script1op1=varp,sa_energy

[search_input_display]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18556
modelZoom=1153
modelXAn=500
script1=gt,299
script1op1=varp,sa_energy

[search_input_stop_click]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18557
modelZoom=1153
modelXAn=500
script1=gt,399
script1op1=varp,sa_energy

[com_18]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18558
modelZoom=1153
modelXAn=500
script1=gt,499
script1op1=varp,sa_energy

[com_19]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18559
modelZoom=1153
modelXAn=500
script1=gt,599
script1op1=varp,sa_energy

[com_20]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18560
modelZoom=1153
modelXAn=500
script1=gt,699
script1op1=varp,sa_energy

[com_21]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18561
modelZoom=1153
modelXAn=500
script1=gt,799
script1op1=varp,sa_energy

[com_22]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18562
modelZoom=1153
modelXAn=500
script1=gt,899
script1op1=varp,sa_energy

[com_23]
type=Model
x=4
y=9
width=146
height=9
layerId=5701644
model1Id=18554
modelZoom=1153
modelXAn=500
script1=gt,999
script1op1=varp,sa_energy

[com_24]
type=Text
x=18
y=8
width=117
height=11
layerId=5701644
colour=0x000010
font=494
text="S P E C I A L  A T T A C K"
text2="<col=ffff00>S P E C I A L  A T T A C K"
script1=gt,0
script1op1=varp,sa_attack

[com_25]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
script1op1=combat_level

[com_26]
type=Sprite
buttonType=Button
x=21
y=152
width=150
height=46
graphic=655
graphic2=656
buttonText="Auto Retaliate"
eventCode=flag22
script1=eq,0
script1op1=varp,option_nodef

[com_27]
type=Text
x=20
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Lunge"

[com_28]
type=Text
x=104
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Swipe"

[com_29]
type=Text
x=20
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Pound"

[com_30]
type=Text
x=103
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Block"

[com_31]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto Retaliate <br>(Off)"
text2="Auto Retaliate <br>(On)"
script1=eq,0
script1op1=varp,option_nodef

[com_32]
type=Tooltip
x=20
y=45
width=70
height=46
text="(Controlled)<br>(Stab)<br>(Shared XP)"

[com_33]
type=Tooltip
x=102
y=45
width=70
height=46
text="(Controlled)<br>(Slash)<br>(Shared XP)"

[com_34]
type=Tooltip
x=20
y=98
width=70
height=47
text="(Controlled)<br>(Crush)<br>(Shared XP)"

[com_35]
type=Tooltip
x=102
y=98
width=70
height=47
text="(Defensive)<br>(Stab)<br>(Defence XP)"

[com_36]
type=Tooltip
x=22
y=153
width=150
height=46
text="When active your player<br>will automatically fight<br>back if attacked"

[com_37]
type=Tooltip
width=159
height=19
layerId=5701644
text="Select to perform<br>a special attack"
