[mainmodal_window]
type=Model
x=457
y=24
width=32
height=32
model1Id=11102
modelZoom=470
modelXAn=512

[mainmodal_window_content]
type=Text
x=437
y=75
width=73
height=16
colour=0xAAAAAA
hAlign=Center
font=495
shadow=yes
text="Runeversi"

[background]
type=Text
x=437
y=90
width=74
height=11
colour=0xAAAAAA
hAlign=Center
font=494
shadow=yes
text="Rank: %1"
script1op1=varp,boardgames_runeversi_rank
