[com_0]
type=Sprite
x=63
y=238
width=17
height=18
graphic=651

[com_1]
type=Text
x=87
y=238
width=48
height=18
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
onstattransmit=53,component.parentId
onstattransmitlist=5

[com_2]
type=Layer
width=190
height=261

[com_3]
type=Layer
y=1
width=190
height=230
layerId=17760258

[com_4]
type=Sprite
x=4
y=8
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_5]
type=Sprite
x=6
y=10
width=30
height=30
layerId=17760259
graphic=135
eventCode=hasOp(1)
baseOpName="<col=ff9040>Thick Skin"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760260
onstattransmit=52,1,135,115,component.parentId
onop=50,component.parentId,17760260
onmouserepeat=38,component.parentId,17760314,"Level 01<br>Thick Skin<br>Increases your defence by 5%",25,190
onvartransmitlist=83,86,92
onstattransmitlist=5

[com_6]
type=Sprite
x=41
y=8
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_7]
type=Sprite
x=43
y=10
width=30
height=30
layerId=17760259
graphic=136
eventCode=hasOp(1)
baseOpName="<col=ff9040>Burst of Strength"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760262
onstattransmit=52,4,136,116,component.parentId
onop=50,component.parentId,17760262
onmouserepeat=38,component.parentId,17760314,"Level 04<br>Burst of Strength<br>Increases your strength by 5%",25,190
onvartransmitlist=84,87,93,862,863,864,865,866,867
onstattransmitlist=5

[com_8]
type=Sprite
x=78
y=8
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_9]
type=Sprite
x=80
y=10
width=30
height=30
layerId=17760259
graphic=137
eventCode=hasOp(1)
baseOpName="<col=ff9040>Clarity of Thought"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760264
onstattransmit=52,7,137,117,component.parentId
onop=50,component.parentId,17760264
onmouserepeat=38,component.parentId,17760314,"Level 07<br>Clarity of Thought<br>Increases your attack by 5%",25,190
onvartransmitlist=85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_10]
type=Sprite
x=115
y=8
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_11]
type=Sprite
x=117
y=10
width=30
height=30
layerId=17760259
graphic=153
eventCode=hasOp(1)
baseOpName="<col=ff9040>Sharp Eye"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760266
onstattransmit=52,8,153,133,component.parentId
onop=50,component.parentId,17760266
onmouserepeat=38,component.parentId,17760314,"Level 08<br>Sharp Eye<br>Increases your Ranging by 5%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_12]
type=Sprite
x=152
y=8
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_13]
type=Sprite
x=154
y=10
width=30
height=30
layerId=17760259
graphic=154
eventCode=hasOp(1)
baseOpName="<col=ff9040>Mystic Will"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760268
onstattransmit=52,9,154,134,component.parentId
onop=50,component.parentId,17760268
onmouserepeat=38,component.parentId,17760314,"Level 09<br>Mystic Will<br>Increases your Magic by 5%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_14]
type=Sprite
x=4
y=45
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_15]
type=Sprite
x=6
y=47
width=30
height=30
layerId=17760259
graphic=138
eventCode=hasOp(1)
baseOpName="<col=ff9040>Rock Skin"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760270
onstattransmit=52,10,138,118,component.parentId
onop=50,component.parentId,17760270
onmouserepeat=38,component.parentId,17760314,"Level 10<br>Rock Skin<br>Increases your defence by 10%",25,190
onvartransmitlist=83,86,92
onstattransmitlist=5

[com_16]
type=Sprite
x=41
y=45
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_17]
type=Sprite
x=43
y=47
width=30
height=30
layerId=17760259
graphic=139
eventCode=hasOp(1)
baseOpName="<col=ff9040>Superhuman Strength"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760272
onstattransmit=52,13,139,119,component.parentId
onop=50,component.parentId,17760272
onmouserepeat=38,component.parentId,17760314,"Level 13<br>Superhuman Strength<br>Increases your strength by 10%",25,190
onvartransmitlist=84,87,93,862,863,864,865,866,867
onstattransmitlist=5

[com_18]
type=Sprite
x=78
y=45
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_19]
type=Sprite
x=80
y=47
width=30
height=30
layerId=17760259
graphic=140
eventCode=hasOp(1)
baseOpName="<col=ff9040>Improved Reflexes"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760274
onstattransmit=52,16,140,120,component.parentId
onop=50,component.parentId,17760274
onmouserepeat=38,component.parentId,17760314,"Level 16<br>Improved Reflexes<br>Increases your attack by 10%",25,190
onvartransmitlist=85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_20]
type=Sprite
x=115
y=45
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_21]
type=Sprite
x=117
y=47
width=30
height=30
layerId=17760259
graphic=141
eventCode=hasOp(1)
baseOpName="<col=ff9040>Rapid Restore"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760276
onstattransmit=52,19,141,121,component.parentId
onop=50,component.parentId,17760276
onmouserepeat=38,component.parentId,17760314,"Level 19<br>Rapid Restore<br>2x restore rate for all stats<br>except hitpoints, summoning and prayer",25,190
onvartransmitlist=89
onstattransmitlist=5

[com_22]
type=Sprite
x=152
y=45
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_23]
type=Sprite
x=154
y=47
width=30
height=30
layerId=17760259
graphic=142
eventCode=hasOp(1)
baseOpName="<col=ff9040>Rapid Heal"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760278
onstattransmit=52,22,142,122,component.parentId
onop=50,component.parentId,17760278
onmouserepeat=38,component.parentId,17760314,"Level 22<br>Rapid Heal<br>2x restore rate for <br>hitpoints stat",25,190
onvartransmitlist=90
onstattransmitlist=5

[com_24]
type=Sprite
x=4
y=82
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_25]
type=Sprite
x=6
y=84
width=30
height=30
layerId=17760259
graphic=143
eventCode=hasOp(1)
baseOpName="<col=ff9040>Protect Item"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760280
onstattransmit=52,25,143,123,component.parentId
onop=50,component.parentId,17760280
onmouserepeat=38,component.parentId,17760314,"Level 25<br>Protect Item<br>Keep 1 extra item if you die",25,190
onvartransmitlist=91
onstattransmitlist=5

[com_26]
type=Sprite
x=41
y=82
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_27]
type=Sprite
x=43
y=84
width=30
height=30
layerId=17760259
graphic=506
eventCode=hasOp(1)
baseOpName="<col=ff9040>Hawk Eye"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760282
onstattransmit=52,26,506,502,component.parentId
onop=50,component.parentId,17760282
onmouserepeat=38,component.parentId,17760314,"Level 26<br>Hawk Eye<br>Increases your Ranging by 10%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_28]
type=Sprite
x=78
y=82
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_29]
type=Sprite
x=80
y=84
width=30
height=30
layerId=17760259
graphic=507
eventCode=hasOp(1)
baseOpName="<col=ff9040>Mystic Lore"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760284
onstattransmit=52,27,507,503,component.parentId
onop=50,component.parentId,17760284
onmouserepeat=38,component.parentId,17760314,"Level 27<br>Mystic Lore<br>Increases your Magic by 10%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_30]
type=Sprite
x=115
y=82
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_31]
type=Sprite
x=117
y=84
width=30
height=30
layerId=17760259
graphic=144
eventCode=hasOp(1)
baseOpName="<col=ff9040>Steel Skin"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760286
onstattransmit=52,28,144,124,component.parentId
onop=50,component.parentId,17760286
onmouserepeat=38,component.parentId,17760314,"Level 28<br>Steel Skin<br>Increases your defence by 15%",25,190
onvartransmitlist=83,86,92
onstattransmitlist=5

[com_32]
type=Sprite
x=152
y=82
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_33]
type=Sprite
x=154
y=84
width=30
height=30
layerId=17760259
graphic=145
eventCode=hasOp(1)
baseOpName="<col=ff9040>Ultimate Strength"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760288
onstattransmit=52,31,145,125,component.parentId
onop=50,component.parentId,17760288
onmouserepeat=38,component.parentId,17760314,"Level 31<br>Ultimate Strength<br>Increases your strength by 15%",25,190
onvartransmitlist=84,87,93,862,863,864,865,866,867
onstattransmitlist=5

[com_34]
type=Sprite
x=4
y=119
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_35]
type=Sprite
x=6
y=121
width=30
height=30
layerId=17760259
graphic=146
eventCode=hasOp(1)
baseOpName="<col=ff9040>Incredible Reflexes"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760290
onstattransmit=52,34,146,126,component.parentId
onop=50,component.parentId,17760290
onmouserepeat=38,component.parentId,17760314,"Level 34<br>Incredible Reflexes<br>Increases your attack by 15%",25,190
onvartransmitlist=85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_36]
type=Sprite
x=78
y=119
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_37]
type=Sprite
x=80
y=121
width=30
height=30
layerId=17760259
graphic=147
eventCode=hasOp(1)
baseOpName="<col=ff9040>Protect from Magic"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760292
onstattransmit=52,37,147,127,component.parentId
onop=50,component.parentId,17760292
onmouserepeat=38,component.parentId,17760314,"Level 37<br>Protect from Magic<br>Protection from magical attacks",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_38]
type=Sprite
x=115
y=119
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_39]
type=Sprite
x=117
y=121
width=30
height=30
layerId=17760259
graphic=148
eventCode=hasOp(1)
baseOpName="<col=ff9040>Protect from Missiles"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760294
onstattransmit=52,40,148,128,component.parentId
onop=50,component.parentId,17760294
onmouserepeat=38,component.parentId,17760314,"Level 40<br>Protect from Missiles<br>Protection from ranged attacks",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_40]
type=Sprite
x=152
y=119
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_41]
type=Sprite
x=154
y=121
width=30
height=30
layerId=17760259
graphic=149
eventCode=hasOp(1)
baseOpName="<col=ff9040>Protect from Melee"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760296
onstattransmit=52,43,149,129,component.parentId
onop=50,component.parentId,17760296
onmouserepeat=38,component.parentId,17760314,"Level 43<br>Protect from Melee<br>Protection from close attacks",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_42]
type=Sprite
x=4
y=156
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_43]
type=Sprite
x=6
y=158
width=30
height=30
layerId=17760259
graphic=508
eventCode=hasOp(1)
baseOpName="<col=ff9040>Eagle Eye"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760298
onstattransmit=52,44,508,504,component.parentId
onop=50,component.parentId,17760298
onmouserepeat=38,component.parentId,17760314,"Level 44<br>Eagle Eye<br>Increases your Ranging by 15%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_44]
type=Sprite
x=41
y=156
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_45]
type=Sprite
x=43
y=158
width=30
height=30
layerId=17760259
graphic=509
eventCode=hasOp(1)
baseOpName="<col=ff9040>Mystic Might"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760300
onstattransmit=52,45,509,505,component.parentId
onop=50,component.parentId,17760300
onmouserepeat=38,component.parentId,17760314,"Level 45<br>Mystic Might<br>Increases your Magic by 15%",25,190
onvartransmitlist=84,87,93,85,88,94,862,863,864,865,866,867
onstattransmitlist=5

[com_46]
type=Sprite
x=78
y=156
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_47]
type=Sprite
x=80
y=158
width=30
height=30
layerId=17760259
graphic=151
eventCode=hasOp(1)
baseOpName="<col=ff9040>Retribution"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760302
onstattransmit=52,46,151,131,component.parentId
onop=50,component.parentId,17760302
onmouserepeat=38,component.parentId,17760314,"Level 46<br>Retribution<br>Inflicts damage to nearby<br>targets if you die",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_48]
type=Sprite
x=115
y=156
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_49]
type=Sprite
x=117
y=158
width=30
height=30
layerId=17760259
graphic=150
eventCode=hasOp(1)
baseOpName="<col=ff9040>Redemption"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760304
onstattransmit=52,49,150,130,component.parentId
onop=50,component.parentId,17760304
onmouserepeat=38,component.parentId,17760314,"Level 49<br>Redemption<br>Heals you when damaged<br>and health falls<br>below 10%",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_50]
type=Sprite
x=152
y=156
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_51]
type=Sprite
x=154
y=158
width=30
height=30
layerId=17760259
graphic=152
eventCode=hasOp(1)
baseOpName="<col=ff9040>Smite"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760306
onstattransmit=52,52,152,132,component.parentId
onop=50,component.parentId,17760306
onmouserepeat=38,component.parentId,17760314,"Level 52<br>Smite<br>1/4 of damage dealt is <br>also removed from <br>opponent's Prayer",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_52]
type=Sprite
x=41
y=119
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_53]
type=Sprite
x=43
y=121
width=30
height=30
layerId=17760259
graphic=948
eventCode=hasOp(1)
baseOpName="<col=ff9040>Protect from Summoning"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760308
onstattransmit=52,35,948,944,component.parentId
onop=50,component.parentId,17760308
onmouserepeat=38,component.parentId,17760314,"Level 35<br>Protect from Summoning<br>Reduces the damage dealt through Summoning Scrolls and prevents the use of a Familiar's special attack.",25,190
onvartransmitlist=95,96,97,98,99,100,1168
onstattransmitlist=5

[com_54]
type=Sprite
x=4
y=193
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_55]
type=Sprite
x=6
y=195
width=30
height=30
layerId=17760259
graphic=949
eventCode=hasOp(1)
baseOpName="<col=ff9040>Chivalry"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760310
onstattransmit=52,60,949,945,component.parentId
onop=50,component.parentId,17760310
onmouserepeat=38,component.parentId,17760314,"Level 60<br>Chivalry<br>Increases your defence by 20%, strength by 18%, and attack by 15%.",25,190
onvartransmitlist=83,84,85,86,87,88,92,94,95,862,863,864,865,866,867,1052,1053
onstattransmitlist=5

[com_56]
type=Sprite
x=41
y=193
width=34
height=34
layerId=17760259
hide=yes
graphic=155

[com_57]
type=Sprite
x=43
y=195
width=30
height=30
layerId=17760259
graphic=950
eventCode=hasOp(1)
baseOpName="<col=ff9040>Piety"
opName0="Activate"
onmouseleave=40,17760314
onvartransmit=49,component.parentId,17760312
onstattransmit=52,70,950,946,component.parentId
onop=50,component.parentId,17760312
onmouserepeat=38,component.parentId,17760314,"Level 70<br>Piety<br>Increases your defence by 25%, strength by 23%, and attack by 20%.",26,190
onvartransmitlist=83,84,85,86,87,88,92,94,95,862,863,864,865,866,867,1052,1053
onstattransmitlist=5

[com_58]
type=Layer
width=1
height=1
layerId=17760258
