[com_0]
type=Rectangle
x=-13
y=-4
width=550
height=341
fill=yes

[com_1]
type=Sprite
x=16
y=25
width=478
height=293
graphic=297
tiling=yes

[monumentmodel]
type=Model
x=96
y=190
width=328
height=205
model1Id=33413
modelZoom=222
modelXAn=136
modelYAn=2041
modelXOf=-3
modelYOf=-38
orthog=yes
discardedModelField=0

[monumenttext]
type=Model
x=77
y=50
width=361
height=159
model1Id=33412
modelZoom=261
modelXOf=-2
modelYOf=-1
orthog=yes
discardedModelField=0

[mainmodal_window]
type=Model
x=206
y=197
width=78
height=62
model1Id=2348
modelZoom=266
modelXAn=153
modelYAn=22
modelXOf=2
modelYOf=14
discardedModelField=0

[mainmodal_window_background]
type=Sprite
x=9
y=18
width=32
height=32
graphic=824

[mainmodal_window_content]
type=Sprite
x=481
y=62
width=40
height=232
graphic=823
tiling=yes

[mainmodal_window_border]
type=Sprite
x=37
y=5
width=432
height=28
graphic=820
tiling=yes

[mainmodal_window_close_button]
type=Sprite
x=9
y=293
width=32
height=32
graphic=826

[com_9]
type=Sprite
x=469
y=18
width=32
height=32
graphic=825

[com_10]
type=Sprite
x=469
y=293
width=32
height=32
graphic=827

[com_11]
type=Sprite
x=19
y=39
width=472
height=29
graphic=828
tiling=yes

[com_12]
type=Sprite
x=9
y=41
width=32
height=32
graphic=829

[com_13]
type=Sprite
x=469
y=41
width=32
height=32
graphic=830

[com_14]
type=Sprite
x=-4
y=62
width=36
height=231
graphic=821
tiling=yes

[com_15]
type=Sprite
x=41
y=305
width=429
height=31
graphic=822

[com_16]
type=Text
x=94
y=32
width=331
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Grave Monument"

[com_17]
type=Text
x=195
y=73
width=127
height=107
hAlign=Center
font=497
text="Saradomin<br><br>lights my way<br><br>through<br><br>the darkness of life"

[com_18]
type=Rectangle
x=13
y=325
width=488
height=32
fill=yes

[com_19]
type=Sprite
x=468
y=27
width=26
height=23
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onop=29
