[dreamcave]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[content_panel_blue_1]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[com_2]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[green_large_progress_layer]
type=Model
x=418
y=216
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=883,component.parentId

[com_4]
type=Model
x=420
y=250
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=884,component.parentId

[com_5]
type=Text
x=45
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[com_6]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[green_large_progress_value_bounds_layer]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[value_layer]
type=Text
x=45
y=148
width=388
height=32
colour=0x242330
font=497
text="How long should you play RuneScape for at any one time?"

[com_9]
type=Text
x=45
y=211
width=363
height=32
colour=0x191930
font=497
text="As long as I like. I'm having fun and don't want to stop"

[com_10]
type=Text
x=45
y=248
width=363
height=32
colour=0x191930
font=497
text="I should take regular breaks in order to stay healthy"

[com_11]
type=Line
x=420
y=216
width=19
height=1
colour=0x0E0E17
lineWidth=2

[green_large_progress_text_layer]
type=Line
x=420
y=216
height=19
colour=0x0E0E17
lineWidth=2

[percentage]
type=Line
x=419
y=234
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_14]
type=Line
x=438
y=216
height=20
colour=0x0E0E17
lineWidth=2

[com_15]
type=Line
x=420
y=250
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_16]
type=Line
x=420
y=250
height=19
colour=0x0E0E17
lineWidth=2

[com_17]
type=Line
x=419
y=268
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_18]
type=Line
x=438
y=250
height=20
colour=0x0E0E17
lineWidth=2

[com_19]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[com_20]
type=Layer
width=513
height=335
hide=yes

[com_21]
type=Rectangle
width=512
height=334
layerId=46399508
trans=160
colour=0x46341D
fill=yes

[com_22]
type=Sprite
x=32
y=79
width=449
height=230
layerId=46399508
graphic=297
tiling=yes

[com_23]
type=Sprite
x=19
y=111
width=25
height=173
layerId=46399508
graphic=821
tiling=yes

[com_24]
type=Sprite
x=32
y=79
width=32
height=32
layerId=46399508
graphic=824

[com_25]
type=Sprite
x=451
y=79
width=32
height=32
layerId=46399508
graphic=825
tiling=yes

[com_26]
type=Sprite
x=63
y=66
width=391
height=32
layerId=46399508
graphic=820
tiling=yes

[com_27]
type=Sprite
x=463
y=111
width=32
height=173
layerId=46399508
graphic=823
tiling=yes

[com_28]
type=Sprite
x=451
y=284
width=32
height=32
layerId=46399508
graphic=827
tiling=yes

[com_29]
type=Sprite
x=32
y=284
width=32
height=32
layerId=46399508
graphic=826
tiling=yes

[com_30]
type=Sprite
x=64
y=296
width=387
height=25
layerId=46399508
graphic=822
tiling=yes

[com_31]
type=Layer
x=55
y=94
width=389
height=160
layerId=46399508
hide=yes

[com_32]
type=Text
x=16
y=-4
width=32
height=32
layerId=46399519
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_33]
type=Text
x=1
y=27
width=388
height=105
layerId=46399519
colour=0xA49279
font=497
shadow=yes
text="It's very important to remain healthy by taking regular breaks and spending time doing other activities. "

[com_34]
type=Layer
x=55
y=94
width=389
height=160
layerId=46399508
hide=yes

[com_35]
type=Text
x=16
y=-4
width=32
height=32
layerId=46399522
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_36]
type=Text
x=1
y=27
width=390
height=105
layerId=46399522
colour=0xA49279
font=495
shadow=yes
text="Spending too much time on the computer can be harmful to your health. It's very important to take breaks, exercise and eat properly in order to stay healthy. While it's great to play RuneScape, it's also important to maintain a balanced lifestyle by socialising and spending time away from your computer. For more information, please look at our Responsible Gaming Policy on the RuneScape Knowledge Base."

[com_37]
type=Layer
x=375
y=255
width=97
height=42
layerId=46399508

[com_38]
type=Layer
width=97
height=42
layerId=46399525
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_39]
type=Rectangle
width=97
height=42
layerId=46399525
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_40]
type=Text
width=97
height=42
layerId=46399525
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
