[vtam_plaque_interface_model]
type=Model
x=242
y=154
width=32
height=32
model1Id=25726
modelZoom=465
modelXAn=512

[close_button]
type=Sprite
x=487
y=8
width=26
height=23
overLayerId=3
graphic=535

[com_2]
type=Sprite
buttonType=Close
x=10
y=4
width=26
height=23
layerId=34799619
overLayerId=3
graphic=536
buttonText="Ok"

[com_3]
type=Layer
x=477
y=4
width=38
height=41
overLayerId=3
hide=yes
