[qip_soa_newspaper_model]
type=Model
x=240
y=152
width=32
height=32
model1Id=25725
modelZoom=450
modelXAn=512

[back_page_scroll_left]
type=Layer
x=50
y=77
width=151
height=199
scrollHeight=750

[scroll_left]
type=Text
x=3
y=16
width=145
height=730
layerId=34734081
colour=0x1B1B1B
font=497
text="Text"

[scroll_right]
type=Layer
x=319
y=77
width=151
height=199
scrollHeight=750

[back_page_scroll_right]
type=Text
x=3
y=16
width=145
height=730
layerId=34734083
colour=0x1B1B1B
font=497
text="Text"

[front_page]
type=Layer
x=32
y=50
width=444
height=252
hide=yes

[com_6]
type=Text
x=18
y=27
width=151
height=199
layerId=34734085
colour=0x1B1B1B
font=497
text="This is an interface type test."

[front_page_text_left]
type=Text
x=287
y=27
width=151
height=199
layerId=34734085
colour=0x1B1B1B
font=497
text="This is an interface type test."

[front_page_text_right]
type=Sprite
x=467
y=19
width=26
height=23
overLayerId=10
graphic=541

[content_layer]
type=Sprite
buttonType=Close
x=14
y=10
width=26
height=23
layerId=34734090
overLayerId=10
graphic=542
buttonText="Ok"

[com_10]
type=Layer
x=453
y=9
width=51
height=47
hide=yes
