[qip_digsite_rectangle_lv2]
type=Rectangle
width=520
height=400
trans=64
fill=yes

[qip_digsite_scroll_lv2]
type=Model
x=231
y=147
width=32
height=32
model1Id=17345
modelZoom=594
modelXAn=456
modelYAn=2041

[qip_digsite_roset_lv2]
type=Model
x=231
y=147
width=32
height=32
model1Id=17344
modelZoom=594
modelXAn=456
modelYAn=2041

[com_3]
type=Text
x=153
y=67
width=198
height=17
hAlign=Center
font=496
text="Certificate of Qualification"

[com_4]
type=Text
x=155
y=89
width=197
height=44
hAlign=Center
font=497
text="Earth Sciences Level 2<br>This is to certify that"

[examname]
type=Text
x=231
y=152
width=47
height=17
hAlign=Center
font=497
text="<name>"

[com_6]
type=Text
x=158
y=185
width=201
height=32
hAlign=Center
font=497
text="has passed the Level 2<br>Earth Sciences exam."

[com_7]
type=Sprite
x=483
y=5
width=26
height=23
overLayerId=9
graphic=539

[qip_digsite_close_lv2]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=28901385
graphic=540
buttonText="Ok"

[tooltip_bounding_box]
type=Layer
x=479
y=2
width=32
height=32
hide=yes
