[layer_1]
type=Rectangle
x=21
y=20
width=479
height=304
trans=160
fill=yes
baseOpName="    "

[mainmodal_window]
type=Sprite
x=23
y=24
width=467
height=290
graphic=297

[aquarius]
type=Sprite
x=3
y=60
width=28
height=229
graphic=821
tiling=yes

[aries]
type=Sprite
x=337
y=52
width=32
height=32
graphic=842

[cancer]
type=Sprite
x=16
y=40
width=32
height=32
graphic=829

[capricorn]
type=Sprite
x=16
y=17
width=32
height=32
graphic=824

[gemini]
type=Sprite
x=27
y=38
width=320
height=23
graphic=828
tiling=yes

[leo]
type=Sprite
x=357
y=38
width=129
height=28
graphic=828
tiling=yes

[libra]
type=Sprite
x=465
y=40
width=32
height=32
graphic=830

[pisces]
type=Sprite
x=465
y=17
width=32
height=32
graphic=825

[sagittarius]
type=Sprite
x=48
y=4
width=419
height=32
graphic=820
tiling=yes

[scorpio]
type=Sprite
x=16
y=289
width=32
height=32
graphic=826

[taurus]
type=Sprite
x=336
y=62
width=25
height=248
graphic=841
tiling=yes

[virgo]
type=Sprite
x=338
y=289
width=32
height=32
graphic=839

[com_14]
type=Sprite
x=47
y=301
width=301
height=23
graphic=822
tiling=yes

[com_15]
type=Sprite
x=359
y=301
width=106
height=32
graphic=822
tiling=yes

[com_16]
type=Sprite
x=465
y=289
width=32
height=32
graphic=827

[com_17]
type=Sprite
x=477
y=61
width=35
height=231
graphic=823
tiling=yes

[com_18]
type=Rectangle
x=34
y=66
width=314
height=246
trans=160
fill=yes

[com_19]
type=Text
x=360
y=64
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Aquarius"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_20]
type=Text
x=360
y=83
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Aries"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_21]
type=Text
x=360
y=102
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Cancer"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_22]
type=Text
x=360
y=121
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Capricorn"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_23]
type=Text
x=360
y=140
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Gemini"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_24]
type=Text
x=360
y=159
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Leo"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_25]
type=Text
x=360
y=178
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Libra"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_26]
type=Text
x=360
y=197
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Pisces"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_27]
type=Text
x=360
y=216
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Sagittarius"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_28]
type=Text
x=360
y=235
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Scorpio"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_29]
type=Text
x=360
y=254
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Taurus"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_30]
type=Text
x=360
y=273
width=127
height=17
colour=0xFF981F
font=495
shadow=yes
text="Virgo"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16696461
onmouseleave=45,component.parentId,16750623

[com_31]
type=Text
x=27
y=28
width=461
height=20
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Star Chart Viewer"

[com_32]
type=Rectangle
x=28
y=260
width=317
height=49
colour=0x1E2644
fill=yes

[com_33]
type=Rectangle
x=28
y=201
width=317
height=59
colour=0x19213F
fill=yes

[com_34]
type=Rectangle
x=28
y=139
width=317
height=64
colour=0x141C3A
fill=yes

[com_35]
type=Rectangle
x=28
y=62
width=317
height=78
colour=0x0F1735
fill=yes

[stars]
type=Rectangle
x=35
y=71
width=4
height=231
colour=0x28304E
fill=yes

[com_37]
type=Rectangle
x=37
y=298
width=300
height=4
colour=0x28304E
fill=yes

[chart_name]
type=Sprite
x=469
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[mainmodal_window_background]
type=Line
x=64
y=70
height=228
colour=0x28304E

[mainmodal_window_content]
type=Line
x=97
y=70
height=228
colour=0x28304E

[mainmodal_window_border]
type=Line
x=132
y=70
height=228
colour=0x28304E

[mainmodal_window_close_button]
type=Line
x=166
y=70
height=228
colour=0x28304E

[com_43]
type=Line
x=200
y=70
height=228
colour=0x28304E

[com_44]
type=Line
x=234
y=70
height=228
colour=0x28304E

[com_45]
type=Line
x=270
y=70
height=228
colour=0x28304E

[com_46]
type=Line
x=305
y=70
height=228
colour=0x28304E

[com_47]
type=Line
x=38
y=74
width=286
colour=0x28304E

[com_48]
type=Line
x=38
y=104
width=286
colour=0x28304E

[com_49]
type=Line
x=38
y=134
width=286
colour=0x28304E

[com_50]
type=Line
x=38
y=164
width=286
colour=0x28304E

[com_51]
type=Line
x=38
y=194
width=286
colour=0x28304E

[com_52]
type=Line
x=38
y=224
width=286
colour=0x28304E

[com_53]
type=Line
x=38
y=254
width=286
colour=0x28304E

[com_54]
type=Line
x=38
y=284
width=286
colour=0x28304E

[com_55]
type=Model
x=169
y=166
width=32
height=32
model1Id=27064
modelAnim=twinkling_stars
modelZoom=820
modelXAn=500
discardedModelField=0

[com_56]
type=Rectangle
x=31
y=283
width=175
height=24
trans=100
colour=0x171717
fill=yes

[com_57]
type=Text
x=36
y=285
width=169
height=20
colour=0xCCCCCC
vAlign=Center
font=497
shadow=yes
text="Aquarius"
