[mainmodal_window]
type=Sprite
width=470
height=85
layerId=17498207
graphic=297
tiling=yes

[mainmodal_window_background]
type=Sprite
x=26
y=6
width=461
height=262
graphic=297
tiling=yes

[mainmodal_window_content]
type=Sprite
x=9
y=43
width=29
height=206
graphic=821
tiling=yes

[tab_layer]
type=Sprite
x=472
y=43
width=25
height=196
graphic=823
tiling=yes

[confirmation_mask]
type=Layer
x=54
y=13
width=32
height=32
hide=yes

[confirmation_mask_fill]
type=Sprite
x=3
y=5
width=25
height=25
layerId=17498201
graphic=197

[confirmation_window]
type=Sprite
x=222
y=5
width=25
height=25
layerId=17498201
graphic=198

[claim_window]
type=Sprite
x=2
y=39
width=25
height=25
layerId=17498201
graphic=199

[mainmodal_window_border]
type=Sprite
x=222
y=39
width=25
height=25
layerId=17498201
graphic=200

[mainmodal_window_close_button]
type=Sprite
x=4
y=79
width=25
height=25
layerId=17498201
graphic=202

[tab_display]
type=Sprite
x=222
y=76
width=25
height=25
layerId=17498201
graphic=203

[tab_background]
type=Sprite
x=4
y=115
width=25
height=25
layerId=17498201
graphic=201

[tab_content]
type=Text
x=45
y=7
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Attack"

[tab1_content]
type=Text
x=264
y=6
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Strength"

[tab1_background]
type=Text
x=45
y=44
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Defence"

[tab1_header]
type=Text
x=264
y=44
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Ranged"

[tab1_header_progress]
type=Text
x=46
y=81
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Magic"

[tab1_header_progress_low]
type=Text
x=264
y=81
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Hitpoints"

[tab1_header_progress_bar]
type=Text
x=46
y=120
width=160
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Prayer"

[tab1_header_progress_high]
type=Model
x=6
y=283
width=32
height=32
layerId=17498201
model1Id=15280
modelZoom=1040
modelXAn=114
modelYAn=183
discardedModelField=0

[tab1_header_progress_bar_background]
type=Model
x=237
y=284
width=17
height=23
layerId=17498201
model1Id=15282
modelZoom=1040
modelXAn=375
modelYAn=3
modelYOf=-1
discardedModelField=0

[tab1_header_progress_bar_fill]
type=Model
x=6
y=319
width=32
height=32
layerId=17498201
model1Id=15281
modelZoom=1808
modelXAn=261
modelYAn=2041
discardedModelField=0

[com_22]
type=Model
x=5
y=175
width=32
height=32
layerId=17498201
model1Id=2364
modelZoom=784
modelXAn=555
modelYAn=1855
discardedModelField=0

[tab1_header_info]
type=Model
x=225
y=175
width=32
height=32
layerId=17498201
model1Id=15279
modelZoom=1936
modelXAn=327
modelYAn=1696
discardedModelField=0

[tab1_header_info_background]
type=Model
x=6
y=215
width=32
height=32
layerId=17498201
model1Id=7152
modelZoom=1040
modelXAn=327
modelYAn=1777
discardedModelField=0

[tab1_header_info_icon]
type=Model
x=234
y=324
width=32
height=32
layerId=17498201
model1Id=15278
modelZoom=912
modelXAn=291
modelYAn=771
discardedModelField=0

[tab1_header_info_text]
type=Model
x=6
y=356
width=32
height=32
layerId=17498201
model1Id=27164
modelZoom=912
modelXAn=273
modelYAn=1644
discardedModelField=0

[tab1_track_layer]
type=Model
x=230
y=365
width=32
height=32
layerId=17498201
model1Id=27163
modelZoom=784
modelXAn=138
modelYAn=224
discardedModelField=0

[tab1_track_title]
type=Model
x=9
y=402
width=32
height=32
layerId=17498201
model1Id=27166
modelZoom=784
modelXAn=159
modelYAn=245
discardedModelField=0

[tab1_track_left_button]
type=Model
x=230
y=394
width=32
height=32
layerId=17498201
model1Id=27165
modelZoom=656
modelXAn=324
modelYAn=20
discardedModelField=0

[tab1_track_centre_button]
type=Text
x=46
y=281
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Void Knight Mace"

[tab1_track_centre_button_build]
type=Text
x=264
y=281
width=120
height=15
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Void Knight Top"

[tab1_track_centre_button_click]
type=Text
x=46
y=320
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Void Knight Robes"

[tab1_track_right_button]
type=Text
x=264
y=320
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Void Knight Gloves"

[tab1_track]
type=Text
x=46
y=180
width=95
height=15
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Herb Pack"

[tab1_track_build]
type=Text
x=46
y=220
width=95
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Seed Pack"

[tab1_track_click]
type=Text
x=46
y=22
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Attack"

[tab1_footer]
type=Text
x=265
y=22
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Strength"

[tab1_footer_bg]
type=Text
x=46
y=59
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Defence"

[tab1_footer_build]
type=Text
x=264
y=59
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Ranged"

[tab1_footer_text]
type=Text
x=46
y=98
width=48
height=10
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Magic"

[tab1_footer_click]
type=Text
x=264
y=98
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Hitpoints"

[tab2_content]
type=Text
x=46
y=136
width=48
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(1 Pt)"
eventCode=hasOp(1)
opName0="Prayer"

[info_panel]
type=Text
x=46
y=297
width=84
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(250 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Mace"

[tab2_background]
type=Text
x=264
y=297
width=84
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(250 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Top"

[tab2_topbar]
type=Text
x=46
y=336
width=84
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(250 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Robe"

[tab2_topbar_currency]
type=Text
x=265
y=336
width=84
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(150 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Gloves"

[tab2_topbar_currency_background]
type=Text
x=46
y=198
width=84
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(30 Pts)"
eventCode=hasOp(1)
opName0="Herb Pack"

[tab2_topbar_currency_icon]
type=Text
x=264
y=198
width=84
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(15 Pts)"
eventCode=hasOp(1)
opName0="Mineral Pack"

[tab2_topbar_currency_text]
type=Text
x=264
y=180
width=95
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Mineral Pack"

[tab2_topbar_button]
type=Text
x=46
y=237
width=84
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(15 Pts)"
eventCode=hasOp(1)
opName0="Seed Pack"

[tab2_topbar_info]
type=Text
x=92
y=22
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Attack"

[tab2_track_scrollbar]
type=Text
x=311
y=22
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Strength"

[tab2_track_layer]
type=Text
x=92
y=59
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Defence"

[tab2_track_offset]
type=Text
x=311
y=59
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Ranged"

[tab2_track_layer_build]
type=Text
x=92
y=98
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Magic"

[tab2_track_layer_click]
type=Text
x=311
y=98
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Hitpoints"

[info_panel_build]
type=Text
x=93
y=136
width=48
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Prayer"

[info_panel_click]
type=Text
x=152
y=22
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Attack"

[info_panel_close]
type=Text
x=371
y=22
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Strength"

[tab_buttons]
type=Text
x=152
y=59
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Defence"

[tab1_button]
type=Text
x=371
y=59
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Ranged"

[tab2_button]
type=Text
x=152
y=98
width=48
height=13
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Magic"

[confirmation_window_background]
type=Text
x=371
y=98
width=48
height=12
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Hitpoints"

[confirmation_window_content]
type=Text
x=152
y=136
width=48
height=11
layerId=17498201
colour=0x855013
lineHeight=12
font=494
text="(100 Pts)"
eventCode=hasOp(1)
opName0="Prayer"

[confirmation_text]
type=Text
x=46
y=358
width=120
height=14
layerId=17498201
colour=0xFF981F
font=495
shadow=yes
text="Void Knight Mage Helm"

[confirmation_window_border]
type=Text
x=264
y=358
width=120
height=15
layerId=17498201
colour=0xFF981F
font=495
shadow=yes
text="Void Knight Ranger Helm"

[confirmation_accept]
type=Text
x=46
y=396
width=120
height=14
layerId=17498201
colour=0xFF981F
font=495
shadow=yes
text="Void Knight Melee Helm"

[confirmation_cancel]
type=Text
x=264
y=396
width=120
height=14
layerId=17498201
colour=0xFF981F
font=495
shadow=yes
text="Void Knight Seal"

[confirmation_accept_build]
type=Text
x=46
y=374
width=84
height=13
layerId=17498201
colour=0x855013
font=494
text="(200 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Mage Helm"

[confirmation_accept_click]
type=Text
x=264
y=374
width=84
height=12
layerId=17498201
colour=0x855013
font=494
text="(200 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Ranger Helm"

[tab2_topbar_button_build]
type=Text
x=46
y=412
width=84
height=13
layerId=17498201
colour=0x855013
font=494
text="(200 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Melee Helm"

[tab2_topbar_button_click]
type=Text
x=264
y=412
width=84
height=13
layerId=17498201
colour=0x855013
font=494
text="(10 Pts)"
eventCode=hasOp(1)
opName0="Void Knight Seal"

[claim_window_background]
type=Text
x=46
y=454
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Spinner Charm"

[claim_window_content]
type=Text
x=267
y=453
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Ravager Charm"

[claim_layer]
type=Text
x=268
y=489
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Shifter Charm"

[claim_layer_build]
type=Text
x=46
y=489
width=120
height=14
layerId=17498201
colour=0xFF981F
lineHeight=12
font=495
shadow=yes
text="Torcher Charm"

[claim_scrollbar]
type=Text
x=46
y=472
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(2 Pts)"
eventCode=hasOp(1)
opName0="Spinner Charm"

[claim_text]
type=Text
x=95
y=472
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(28 Pts)"
eventCode=hasOp(1)
opName0="Spinner Charm"

[claim_warning]
type=Text
x=143
y=472
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(56 Pts)"
eventCode=hasOp(1)
opName0="Spinner Charm"

[claim_accept]
type=Text
x=96
y=506
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(28 Pts)"
eventCode=hasOp(1)
opName0="Torcher Charm"

[claim_accept_build]
type=Text
x=144
y=506
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(56 Pts)"
eventCode=hasOp(1)
opName0="Torcher Charm"

[claim_accept_click]
type=Text
x=317
y=471
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(28 Pts)"
eventCode=hasOp(1)
opName0="Ravager Charm"

[claim_cancel]
type=Text
x=365
y=471
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(56 Pts)"
eventCode=hasOp(1)
opName0="Ravager Charm"

[claim_window_border]
type=Text
x=318
y=506
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(28 Pts)"
eventCode=hasOp(1)
opName0="Shifter Charm"

[com_85]
type=Text
x=366
y=506
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(56 Pts)"
eventCode=hasOp(1)
opName0="Shifter Charm"

[com_86]
type=Text
x=267
y=471
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(2 Pts)"
eventCode=hasOp(1)
opName0="Ravager Charm"

[com_87]
type=Text
x=268
y=505
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(2 Pts)"
eventCode=hasOp(1)
opName0="Shifter Charm"

[com_88]
type=Text
x=46
y=505
width=44
height=13
layerId=17498201
colour=0x855013
font=494
text="(2 Pts)"
eventCode=hasOp(1)
opName0="Torcher Charm"

[com_89]
type=Layer
x=28
y=39
width=459
height=519
scrollHeight=850

[com_90]
type=Model
x=10
y=453
width=33
height=32
layerId=17498201
model1Id=31523
modelZoom=500
modelXAn=512
discardedModelField=0

[com_91]
type=Model
x=10
y=495
width=33
height=32
layerId=17498201
model1Id=31552
modelZoom=500
modelXAn=512
discardedModelField=0

[com_92]
type=Model
x=230
y=452
width=33
height=32
layerId=17498201
model1Id=31536
modelZoom=500
modelXAn=512
discardedModelField=0

[com_93]
type=Model
x=230
y=495
width=33
height=32
layerId=17498201
model1Id=31547
modelZoom=500
modelXAn=512
discardedModelField=0

[com_94]
type=Rectangle
width=512
height=38
colour=0x010100
fill=yes

[com_95]
type=Layer
x=26
y=6
width=462
height=31

[com_96]
type=Text
x=84
y=16
width=324
height=15
colour=0xFF981F
hAlign=Center
lineHeight=12
font=496
shadow=yes
text="Void Knights' Reward Options"

[com_97]
type=Rectangle
y=261
width=512
height=74
colour=0x010100
fill=yes

[com_98]
type=Rectangle
y=38
width=22
height=223
colour=0x010100
fill=yes

[com_99]
type=Rectangle
x=492
y=38
width=22
height=223
colour=0x010100
fill=yes

[com_100]
type=Sprite
x=464
y=13
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,17498212,832
onmouseleave=44,17498212,831
onop=29

[com_101]
type=Sprite
x=175
y=298
width=32
height=32
graphic=826

[com_102]
type=Sprite
x=300
y=271
width=32
height=32
graphic=825

[com_103]
type=Sprite
x=175
y=271
width=32
height=32
graphic=824

[com_104]
type=Sprite
x=300
y=298
width=32
height=32
graphic=827

[com_105]
type=Rectangle
x=181
y=277
width=138
height=45
fill=yes

[com_106]
type=Text
x=207
y=278
width=81
height=20
colour=0x969696
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Confirm:"
eventCode=hasOp(1)
opName0="Confirm"

[com_107]
type=Sprite
x=206
y=310
width=98
height=31
graphic=822
tiling=yes

[com_108]
type=Sprite
x=199
y=258
width=107
height=37
graphic=820
tiling=yes

[com_109]
type=Text
x=207
y=309
width=81
height=12
colour=0xFF981F
hAlign=Center
vAlign=Center
lineHeight=12
font=494
shadow=yes

[com_110]
type=Text
x=207
y=288
width=81
height=28
colour=0xFF981F
hAlign=Center
vAlign=Center
lineHeight=12
font=494
shadow=yes

[com_111]
type=Sprite
x=22
y=3
width=32
height=32
graphic=824

[com_112]
type=Sprite
x=460
y=3
width=32
height=32
graphic=825

[com_113]
type=Sprite
x=53
y=-10
width=418
height=37
graphic=820
tiling=yes

[com_114]
type=Sprite
x=22
y=22
width=32
height=32
graphic=829

[com_115]
type=Sprite
x=50
y=248
width=413
height=37
graphic=822
tiling=yes

[com_116]
type=Sprite
x=33
y=20
width=459
height=31
graphic=820
tiling=yes

[com_117]
type=Sprite
x=22
y=236
width=32
height=32
graphic=826

[com_118]
type=Sprite
x=460
y=236
width=32
height=32
graphic=827

[com_119]
type=Sprite
x=460
y=22
width=32
height=32
graphic=830

[com_120]
type=Rectangle
x=52
y=163
width=339
height=1
layerId=17498201
trans=200
colour=0xFF6600
fill=yes

[com_121]
type=Rectangle
x=53
y=162
width=337
height=3
layerId=17498201
trans=200
fill=yes

[com_122]
type=Rectangle
x=52
y=264
width=339
height=1
layerId=17498201
trans=200
colour=0xFF6600
fill=yes

[com_123]
type=Rectangle
x=53
y=263
width=337
height=3
layerId=17498201
trans=200
fill=yes

[com_124]
type=Rectangle
x=52
y=440
width=339
height=1
layerId=17498201
trans=200
colour=0xFF6600
fill=yes

[com_125]
type=Rectangle
x=53
y=439
width=337
height=3
layerId=17498201
trans=200
fill=yes

[com_126]
type=Layer
x=468
y=40
width=16
height=220
onload=63,component.parentId,17498201,792,789,790,791,773,788
