[lunar_galleon_map_scroll]
type=Rectangle
width=512
height=400
colour=0x282822
fill=yes

[com_1]
type=Model
x=227
y=140
width=32
height=32
model1Id=4652
modelZoom=899
modelXAn=366
modelYAn=6

[com_2]
type=Text
x=290
y=184
width=81
height=50
colour=0x2E2125
hAlign=Center
vAlign=Center
font=497
text="Pirates'<br> Cove"

[lunar_galleon_map]
type=Text
x=122
y=136
width=121
height=66
colour=0x2E2125
hAlign=Center
vAlign=Center
font=497
text="Moonclan<br> Island"

[com_4]
type=Model
x=250
y=154
width=32
height=32
model1Id=16740
modelZoom=1406
modelXAn=338

[com_5]
type=Model
x=124
y=263
width=32
height=32
model1Id=3387
modelZoom=801
modelXAn=304
modelYAn=1885

[com_6]
type=Model
x=159
y=259
width=32
height=32
model1Id=3387
modelZoom=801
modelXAn=370
modelYAn=195

[com_7]
type=Model
x=337
y=131
width=32
height=32
model1Id=3387
modelZoom=815
modelXAn=232
modelYAn=1891

[com_8]
type=Model
x=376
y=126
width=32
height=32
model1Id=3387
modelZoom=815
modelXAn=364
modelYAn=111

[com_9]
type=Model
x=179
y=261
width=32
height=32
model1Id=3387
modelZoom=801
modelXAn=304
modelYAn=1885

[com_10]
type=Model
x=214
y=257
width=32
height=32
model1Id=3387
modelZoom=801
modelXAn=370
modelYAn=195

[com_11]
type=Model
x=139
y=65
width=32
height=32
model1Id=3387
modelZoom=1071
modelXAn=232
modelYAn=1891

[lunar_galleon]
type=Model
x=164
y=62
width=32
height=32
model1Id=3387
modelZoom=1327
modelXAn=364
modelYAn=111

[content_layer]
type=Model
x=297
y=183
width=32
height=32
model1Id=16741
modelAnim=quest_lunar_set_sail_wrong
modelZoom=2406
modelXAn=376
