[list_main]
type=Model
x=245
y=122
width=32
height=32
model1Id=3679
modelZoom=390

[label_status]
type=Model
x=245
y=122
width=32
height=32
model1Id=3680
modelZoom=390

[content]
type=Model
x=245
y=122
width=32
height=32
model1Id=3678
modelZoom=390

[top_line]
type=Model
x=245
y=122
width=32
height=31
modelZoom=390

[scrollbar]
type=Model
x=245
y=122
width=32
height=32
modelZoom=390

[quests]
type=Model
x=245
y=122
width=32
height=32
modelZoom=390

[bottom_line]
type=Text
x=110
y=254
width=308
height=17
colour=0xBBB949
hAlign=Center
font=496
shadow=yes
text="Which shape is blue?"

[com_7]
type=Sprite
buttonType=Button
x=110
y=276
width=72
height=36
graphic=293
eventCode=flag22

[controls_filters_button_layer]
type=Sprite
buttonType=Button
x=229
y=277
width=72
height=36
graphic=293
eventCode=flag22

[controls_filters_button]
type=Sprite
buttonType=Button
x=344
y=277
width=72
height=36
graphic=293
eventCode=flag22

[controls_filters_button_graphic]
type=Text
x=113
y=279
width=65
height=29
colour=0xBBB949
hAlign=Center
vAlign=Center
font=496
text="Shape1"

[controls_static_dropdown]
type=Text
x=232
y=281
width=65
height=29
colour=0xBBB949
hAlign=Center
vAlign=Center
font=496
text="Shape2"

[controls_dropdown_build]
type=Text
x=348
y=281
width=65
height=29
colour=0xBBB949
hAlign=Center
vAlign=Center
font=496
text="Shape3"

[controls_dropdown_click]
type=Sprite
x=462
y=15
width=26
height=23
overLayerId=15
graphic=539

[controls_filters_layer]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=12451855
graphic=540
buttonText="Ok"

[controls_layer]
type=Layer
x=459
y=11
width=32
height=32
hide=yes
