[content_layer]
type=Model
x=240
y=139
width=32
height=28
model1Id=3032
modelZoom=554
modelXAn=502
modelYAn=2047

[layer_1]
type=Text
x=157
y=75
width=220
height=18
colour=0xFF9933
colour2=0x453C26
hAlign=Center
font=497
shadow=yes
text="Congratulations!"

[com_2]
type=Text
x=96
y=92
width=325
height=29
colour=0x3B2E22
hAlign=Center
vAlign=Center
lineHeight=14
font=495
text="You have completed Death Plateau!"

[com_3]
type=Model
x=72
y=133
width=85
height=105
modelZoom=1500
modelXAn=11
modelYAn=1849

[quest_title_ver3]
type=Text
x=181
y=254
width=131
height=13
colour=0xFF9933
hAlign=Center
font=495
shadow=yes
text="Quest Points:"

[quest_model_ver3]
type=Text
x=316
y=254
width=17
height=14
colour=0xFF9933
hAlign=Center
font=495
shadow=yes
text="%1"
script1op1=varp,qp

[com_6]
type=Model
x=390
y=206
width=32
height=32
model1Id=3037
modelZoom=800
modelXAn=500

[quest_points_ver3]
type=Text
x=157
y=123
width=213
height=16
colour=0x3B242C
hAlign=Center
font=495
text="You are awarded:"

[com_8]
type=Text
x=157
y=141
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 1"

[quest_awardedtext_ver3]
type=Text
x=157
y=156
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 2"

[quest_reward1_ver3]
type=Text
x=157
y=171
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 3  "

[quest_reward2_ver3]
type=Text
x=157
y=186
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 4"

[quest_reward3_ver3]
type=Text
x=157
y=201
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 5"

[quest_reward4_ver3]
type=Text
x=157
y=216
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 6"

[quest_reward5_ver3]
type=Text
x=157
y=231
width=213
height=14
colour=0x3B2E22
hAlign=Center
font=495
text="Line 7"

[quest_reward6_ver3]
type=Sprite
x=424
y=62
width=26
height=23
overLayerId=17
graphic=537

[quest_reward7_ver3]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=18153489
graphic=538
buttonText="Ok"

[quest_reward8_ver3]
type=Layer
x=420
y=58
width=32
height=32
hide=yes
