[background_layer]
type=Text
x=344
y=-2
width=166
height=27
colour=0xFF981F
hAlign=Center
font=764
shadow=yes
text="# Players in room:"

[com_1]
type=Text
x=374
y=19
width=80
height=16
colour=0xFF981F
font=764
shadow=yes
text="Attackers:"

[com_2]
type=Text
x=374
y=38
width=80
height=14
colour=0xFF981F
font=764
shadow=yes
text="Defenders:"

[com_3]
type=Text
x=374
y=57
width=80
height=14
colour=0xFF981F
font=764
shadow=yes
text="Collectors:"

[com_4]
type=Text
x=374
y=77
width=80
height=14
colour=0xFF981F
font=764
shadow=yes
text="Healers:"

[com_5]
type=Text
x=374
y=96
width=80
height=14
colour=0xFF981F
font=764
shadow=yes
text="Any:"

[com_6]
type=Text
x=479
y=19
width=8
height=14
colour=0xFF981F
font=764
shadow=yes
text="0"

[com_7]
type=Text
x=479
y=38
width=8
height=14
colour=0xFF981F
font=764
shadow=yes
text="0"

[com_8]
type=Text
x=479
y=57
width=8
height=14
colour=0xFF981F
font=764
shadow=yes
text="0"

[com_9]
type=Text
x=479
y=77
width=8
height=14
colour=0xFF981F
font=764
shadow=yes
text="0"

[com_10]
type=Text
x=479
y=96
width=8
height=14
colour=0xFF981F
font=764
shadow=yes
text="0"

[com_11]
type=Sprite
x=1
y=3
width=17
height=13
layerId=32047120
graphic=772

[com_12]
type=Sprite
x=1
y=4
width=17
height=13
layerId=32047121
graphic=772

[com_13]
type=Sprite
x=1
y=4
width=17
height=13
layerId=32047122
graphic=772

[com_14]
type=Sprite
x=1
y=4
width=17
height=13
layerId=32047123
graphic=772

[com_15]
type=Sprite
x=1
y=5
width=17
height=13
layerId=32047124
graphic=772

[com_16]
type=Layer
x=352
y=27
width=20
height=20
hide=yes

[content_layer]
type=Layer
x=352
y=46
width=20
height=20
hide=yes

[quest_icon]
type=Layer
x=352
y=65
width=20
height=20
hide=yes

[5th_age_icon]
type=Layer
x=352
y=84
width=20
height=20
hide=yes

[6th_age_icon]
type=Layer
x=352
y=103
width=20
height=20
hide=yes
