[mainmodal_window]
type=Layer
x=40
y=62
width=450
height=15
hide=yes

[mainmodal_window_background]
type=Layer
x=40
y=77
width=451
height=18
hide=yes

[mainmodal_window_content]
type=Layer
x=40
y=107
width=450
height=18
hide=yes

[info_holder_active]
type=Layer
x=39
y=124
width=450
height=18
hide=yes

[take_all_button_layer]
type=Layer
x=39
y=142
width=449
height=14
hide=yes

[take_all_button_on_layer]
type=Layer
x=38
y=167
width=452
height=15
hide=yes

[take_all_button_over_layer]
type=Layer
x=38
y=181
width=453
height=16
hide=yes

[take_all_button_hit_layer]
type=Layer
x=38
y=196
width=453
height=18
hide=yes

[take_all_button_selected_layer]
type=Layer
x=39
y=212
width=452
height=16
hide=yes

[take_all_button_active_layer]
type=Text
width=451
height=17
layerId=9895936
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="Five hundred years have passed since the rule of King Alvis,"

[take_all_button_disabled_layer]
type=Text
y=1
width=451
height=18
layerId=9895937
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="saviour of Keldagrim, victim of his own inventions."

[take_all_button_text_layer]
type=Text
width=450
height=16
layerId=9895938
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="Founder of the Consortium, the gathering of mining companies"

[take_all_button_text]
type=Text
y=1
width=450
height=17
layerId=9895939
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="that were to serve the monarchy, eventually the monarchy came"

[fill_button_layer]
type=Text
width=451
height=15
layerId=9895940
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="to serve the Consortium."

[inventory_layer]
type=Text
width=452
height=15
layerId=9895941
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="By the time of his death, the monarchy was all but abolished."

[mainmodal_window_border]
type=Text
width=452
height=16
layerId=9895942
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="By now, the Kings of Keldagrim are but a distant memory..."

[mainmodal_window_close_button]
type=Text
y=1
width=453
height=18
layerId=9895943
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="with only the statue of King Alvis to remind the people of the"

[fill_button_on_layer]
type=Text
width=451
height=13
layerId=9895944
colour=0xFF0000
hAlign=Center
font=496
shadow=yes
text="old days."
