[content_layer]
type=Rectangle
width=514
height=335
trans=32
colour=0xC0B8A0
fill=yes

[bespoke_window]
type=Rectangle
x=11
y=5
width=181
height=179
colour=0x8C7C6C
fill=yes

[paragraph01]
type=Rectangle
x=316
y=146
width=181
height=179
colour=0x8C7C6C
fill=yes

[paragraph02]
type=Text
x=208
y=8
width=273
height=172
font=497
text="Watch out for rabbits wandering around the farmyard. They are hungry and will look for flags, as they often mean hidden food! If a rabbit eats the seed under a flag, you will not get any points for it and will lose the flag. "

[rabbit]
type=Text
x=14
y=190
width=286
height=169
font=497
text="You can improve your Hunter skill by finding ogleroots in the farmyard and feeding them to the rabbits. Ogleroots are magical vegetables and will cause the rabbit to disappear for a short amount of time."

[oggleroot]
type=Model
x=52
y=14
width=90
height=160
model1Id=23901
modelZoom=200
modelXAn=147
modelYAn=1759
modelXOf=-3
modelYOf=61
discardedModelField=0

[bespoke_window_background]
type=Model
x=358
y=175
width=72
height=120
model1Id=25922
modelXAn=310
modelYAn=2003
modelXOf=2
modelYOf=27
discardedModelField=0

[bespoke_window_content]
type=Sprite
x=488
y=2
width=26
height=23
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onop=29
