[content_layer_1]
type=Rectangle
width=514
height=335
trans=32
colour=0xC0B8A0
fill=yes

[bespoke_window]
type=Rectangle
x=11
y=5
width=181
height=179
colour=0x8C7C6C
fill=yes

[paragraph2]
type=Rectangle
x=316
y=146
width=181
height=179
colour=0x8C7C6C
fill=yes

[paragraph3]
type=Text
x=208
y=8
width=278
height=170
font=497
text="Farmers wander the area looking for seeds that have been dug up by mistake. They will also collect any flags you have placed, resetting the nearby area and giving you points if the flag is in the right place."

[farmer]
type=Text
x=14
y=190
width=286
height=169
font=497
text="If you place a flag over a seed, you will be able to get the flag back from Mrs. Winkin or Farmer Blinkin. If you placed a flag wrongly, you will have to pay 500gp for a new one."

[flag]
type=Model
x=58
y=7
width=74
height=176
model1Id=32249
modelZoom=550
modelXAn=88
modelYAn=1936
modelXOf=13
modelYOf=73
discardedModelField=0

[farmground]
type=Model
x=357
y=152
width=59
height=123
model1Id=32286
modelZoom=1000
modelXAn=52
modelYAn=1839
modelZAn=2010
modelXOf=-14
modelYOf=56
discardedModelField=0

[seeds]
type=Model
x=321
y=262
width=81
height=30
model1Id=32256
modelZoom=1000
modelXAn=118
modelYAn=1758
discardedModelField=0

[spade]
type=Model
x=409
y=222
width=83
height=54
model1Id=32266
modelZoom=350
modelXAn=192
modelYAn=1661
modelXOf=5
modelYOf=8
discardedModelField=0

[cross]
type=Model
x=434
y=165
width=43
height=69
model1Id=32331
modelZoom=750
modelXAn=310
modelYAn=1164
modelXOf=-29
modelYOf=-7
discardedModelField=0

[bespoke_window_background]
type=Model
x=402
y=195
width=96
height=81
model1Id=32250
modelZoom=650
modelXAn=310
modelYAn=2003
modelXOf=-5
modelYOf=-8
discardedModelField=0

[bespoke_window_content]
type=Sprite
x=489
y=2
width=26
height=23
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,536
onmouseleave=44,component.parentId,535
onop=29
