[continue_button]
type=Rectangle
width=516
height=388
colour=0x35382C
fill=yes

[friends_button]
type=Model
x=294
y=108
width=32
height=32
model1Id=14124
modelZoom=656
modelXAn=216
modelYAn=2047

[contbutton_left]
type=Sprite
x=468
y=9
width=26
height=23
overLayerId=4
graphic=539

[contbutton_middle]
type=Sprite
buttonType=Close
x=5
y=3
width=26
height=23
layerId=21561348
graphic=540
buttonText="Ok"

[contbutton_right]
type=Layer
x=463
y=6
width=32
height=32
hide=yes

[background]
type=Text
x=408
y=241
width=85
height=42
colour=0x343412
vAlign=Center
font=497
text="Burgh DeRott"

[border]
type=Text
x=308
y=159
width=96
height=18
colour=0x343412
hAlign=Center
vAlign=Center
font=497
text="Mort'ton"

[content]
type=Text
x=335
y=19
width=64
height=15
colour=0x343412
vAlign=Center
font=497
text="Canifis"

[close_button_layer]
type=Text
x=246
y=96
width=52
height=16
colour=0x343412
hAlign=Right
vAlign=Center
font=497
text="Mort"

[close_button]
type=Text
x=241
y=113
width=64
height=16
colour=0x343412
hAlign=Center
vAlign=Center
font=497
text="Myre"

[welcome]
type=Text
x=232
y=130
width=76
height=17
colour=0x343412
hAlign=Right
vAlign=Center
font=497
text="Swamp"

[text]
type=Text
x=374
y=100
width=71
height=65
colour=0x343412
hAlign=Center
vAlign=Center
font=497
text="The Hollows"

[buttons]
type=Model
x=66
y=14
width=86
height=44
model1Id=14125
modelZoom=1106
modelXAn=459
modelYAn=2035

[com_13]
type=Model
x=64
y=86
width=79
height=38
model1Id=14125
modelZoom=1106
modelXAn=498
modelYAn=1005

[text_continue]
type=Model
x=39
y=170
width=87
height=36
model1Id=14125
modelZoom=1106
modelXAn=474

[layer_1]
type=Model
x=72
y=253
width=32
height=32
layerId=21561375
model1Id=14126
modelZoom=728
modelXAn=483

[com_16]
type=Model
x=72
y=253
width=32
height=32
layerId=21561367
model1Id=14126
modelZoom=728
modelXAn=483

[com_17]
type=Model
x=72
y=253
width=32
height=32
layerId=21561371
model1Id=14126
modelZoom=728
modelXAn=483

[com_18]
type=Model
x=92
y=265
width=32
height=32
model1Id=14126
modelZoom=728
modelXAn=483

[com_19]
type=Text
x=52
y=271
width=100
height=17
colour=0x35382C
font=497
text="Choose a route"

[com_20]
type=Model
buttonType=Button
x=274
y=96
width=32
height=32
layerId=21561367
model1Id=14121
modelZoom=656
modelXAn=216
modelYAn=2047
eventCode=flag22

[com_21]
type=Text
buttonType=Button
x=53
y=18
width=109
height=29
overLayerId=23
colour=0x343412
colourOver=0x343412
hAlign=Center
vAlign=Center
font=497
text="Route One"
eventCode=flag22

[com_22]
type=Text
x=33
y=6
width=109
height=29
layerId=21561367
colour=0x0000CC
hAlign=Center
vAlign=Center
font=497
text="Route One"

[com_23]
type=Layer
x=20
y=12
width=464
height=304
hide=yes

[com_24]
type=Model
x=274
y=96
width=32
height=32
layerId=21561371
model1Id=14123
modelZoom=656
modelXAn=216
modelYAn=2047

[com_25]
type=Text
buttonType=Button
x=50
y=94
width=100
height=28
overLayerId=27
colour=0x343412
colourOver=0x343412
hAlign=Center
vAlign=Center
font=497
text="Route Two"
eventCode=flag22

[com_26]
type=Text
x=30
y=82
width=100
height=28
layerId=21561371
colour=0xCDCB4D
hAlign=Center
vAlign=Center
font=497
text="Route Two"

[com_27]
type=Layer
x=20
y=12
width=464
height=304
hide=yes

[com_28]
type=Model
x=274
y=96
width=32
height=32
layerId=21561375
model1Id=14122
modelZoom=656
modelXAn=216
modelYAn=2047

[com_29]
type=Text
buttonType=Button
x=34
y=169
width=102
height=32
overLayerId=31
colour=0x343412
colourOver=0x343412
hAlign=Center
vAlign=Center
font=497
text="Route Three"
eventCode=flag22

[com_30]
type=Text
x=14
y=157
width=102
height=32
layerId=21561375
colour=0xD13C3C
hAlign=Center
vAlign=Center
font=497
text="Route Three"

[com_31]
type=Layer
x=20
y=12
width=464
height=304
hide=yes

[com_32]
type=Model
x=294
y=108
width=32
height=32
model1Id=14128
modelZoom=656
modelXAn=216
modelYAn=2047

[com_33]
type=Text
x=193
y=27
width=72
height=14
colour=0x343412
hAlign=Right
vAlign=Center
font=497
text="Temple"

[com_34]
type=Model
x=361
y=166
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,1
script1op1=varbit,templetrek_event_flash

[com_35]
type=Model
x=247
y=187
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,2
script1op1=varbit,templetrek_event_flash

[com_36]
type=Model
x=245
y=126
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,3
script1op1=varbit,templetrek_event_flash

[com_37]
type=Model
x=272
y=25
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,10
script1op1=varbit,templetrek_event_flash

[tooltip]
type=Model
x=283
y=112
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,4
script1op1=varbit,templetrek_event_flash

[friendbutton_left]
type=Model
x=320
y=98
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,5
script1op1=varbit,templetrek_event_flash

[friendbutton_middle]
type=Model
x=308
y=77
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,6
script1op1=varbit,templetrek_event_flash

[friendbutton_right]
type=Model
x=253
y=55
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,7
script1op1=varbit,templetrek_event_flash

[com_42]
type=Model
x=305
y=35
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,8
script1op1=varbit,templetrek_event_flash

[text_1]
type=Model
x=265
y=34
width=32
height=32
model2Id=14129
modelAnim2=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=610
modelYAn=3
script1=eq,9
script1op1=varbit,templetrek_event_flash

[com_44]
type=Model
x=230
y=93
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,11
script1op1=varbit,templetrek_event_flash

[com_45]
type=Model
x=240
y=83
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,12
script1op1=varbit,templetrek_event_flash

[com_46]
type=Model
x=245
y=76
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,13
script1op1=varbit,templetrek_event_flash

[com_47]
type=Model
x=246
y=67
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,14
script1op1=varbit,templetrek_event_flash

[com_48]
type=Model
x=232
y=44
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,15
script1op1=varbit,templetrek_event_flash

[com_49]
type=Model
x=236
y=29
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,16
script1op1=varbit,templetrek_event_flash

[com_50]
type=Model
x=395
y=115
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,17
script1op1=varbit,templetrek_event_flash

[com_51]
type=Model
x=382
y=75
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,18
script1op1=varbit,templetrek_event_flash

[com_52]
type=Model
x=368
y=61
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,19
script1op1=varbit,templetrek_event_flash

[com_53]
type=Model
x=361
y=55
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,20
script1op1=varbit,templetrek_event_flash

[com_54]
type=Model
x=359
y=49
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,21
script1op1=varbit,templetrek_event_flash

[com_55]
type=Model
x=359
y=44
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,22
script1op1=varbit,templetrek_event_flash

[com_56]
type=Model
x=365
y=37
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,23
script1op1=varbit,templetrek_event_flash

[com_57]
type=Model
x=368
y=25
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,24
script1op1=varbit,templetrek_event_flash

[com_58]
type=Model
x=345
y=12
width=32
height=32
model2Id=14129
modelAnim=templetrek_exclaimation_mark
modelZoom=1907
modelXAn=592
modelYAn=12
script1=eq,25
script1op1=varbit,templetrek_event_flash

[com_59]
type=Text
x=13
y=236
width=137
height=66
layerId=21561367
colour=0x35382C
hAlign=Center
vAlign=Center
font=497
text="Slow plod, <br>can evade <br>encounters."

[com_60]
type=Text
x=15
y=239
width=138
height=64
layerId=21561371
colour=0x35382C
hAlign=Center
vAlign=Center
font=497
text="Leisurely walk, <br>harder to evade <br>encounters."

[com_61]
type=Text
x=14
y=239
width=140
height=65
layerId=21561375
colour=0x35382C
hAlign=Center
vAlign=Center
font=497
text="Brisk walk, <br>impossible to <br>evade encounters."
