[mainmodal_window]
type=Layer
width=512
height=334

[mainmodal_window_background]
type=Rectangle
width=512
height=334
layerId=42926080
colour=0x201810
fill=yes

[mainmodal_window_content]
type=Model
x=-72
y=-221
width=687
height=715
layerId=42926080
model1Id=30136
modelZoom=290
modelXOf=-10
modelYOf=75
orthog=yes
discardedModelField=0

[info_holder_active_preview]
type=Text
x=141
y=58
width=251
height=28
colour=0xCCCCCC
hAlign=Center
font=764
shadow=yes
text="Rogues"

[scrollbar]
type=Text
x=141
y=86
width=251
height=14
colour=0xCCCCCC
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Players who hunt and kill anyone"

[scrolling_layer]
type=Text
x=66
y=113
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="1)"

[primary_layer]
type=Text
x=66
y=128
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="2)"

[primary_1]
type=Text
x=66
y=143
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="3)"

[info_holder_active_10]
type=Text
x=66
y=158
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="4)"

[checkbox_container_gold]
type=Text
x=66
y=173
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="5)"

[primary_text_1]
type=Text
x=66
y=188
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="6)"

[imp_graphic_xp_gold]
type=Text
x=66
y=203
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="7)"

[primary_2]
type=Text
x=66
y=218
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="8)"

[info_holder_active_11]
type=Text
x=66
y=233
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="9)"

[checkbox_container_green]
type=Text
x=66
y=248
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="10)"

[primary_text_2]
type=Text
x=84
y=113
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[imp_graphic_xp_green]
type=Text
x=84
y=128
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[primary_3]
type=Text
x=84
y=143
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[info_holder_active_12]
type=Text
x=84
y=158
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[checkbox_container_crimson]
type=Text
x=84
y=173
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[primary_text_3]
type=Text
x=84
y=188
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[imp_graphic_xp_crimson]
type=Text
x=84
y=203
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[primary_4]
type=Text
x=84
y=218
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[info_holder_active_13]
type=Text
x=84
y=233
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[checkbox_container_blue]
type=Text
x=84
y=248
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[primary_text_4]
type=Text
x=420
y=113
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[imp_graphic_xp_blue]
type=Text
x=420
y=128
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[primary_5]
type=Text
x=420
y=143
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[info_holder_active_14]
type=Text
x=420
y=158
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[checkbox_container_elder]
type=Text
x=420
y=173
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[primary_text_5]
type=Text
x=420
y=188
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[imp_graphic_xp_elder]
type=Text
x=420
y=203
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[toggle_container]
type=Text
x=420
y=218
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[checkbox_container_toggle_primary]
type=Text
x=420
y=233
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[com_34]
type=Text
x=420
y=248
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[primary_title]
type=Sprite
x=452
y=53
width=26
height=23
layerId=42926080
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29
