[mainmodal_window]
type=Model
x=295
y=279
width=32
height=32
model1Id=7619
modelZoom=288
modelXAn=139
modelYAn=144

[mainmodal_window_background]
type=Model
x=310
y=115
width=32
height=32
model1Id=7632
modelZoom=500
modelXAn=80
modelYAn=650

[mainmodal_window_content]
type=Model
x=400
y=135
width=32
height=32
model1Id=7632
modelZoom=500
modelXAn=89
modelYAn=650

[tab_layer]
type=Model
x=310
y=115
width=32
height=32
model1Id=7628
modelZoom=500
modelXAn=80
modelYAn=650

[background_layer]
type=Model
x=310
y=115
width=32
height=32
model1Id=7634
modelZoom=500
modelXAn=80
modelYAn=650

[scrollbar_layer]
type=Model
x=352
y=149
width=32
height=32
model1Id=7634
modelZoom=325
modelXAn=87
modelYAn=714

[content_layer]
type=Model
x=209
y=158
width=32
height=32
model1Id=7634
modelZoom=566
modelXAn=148
modelYAn=644

[personal_content_layer]
type=Model
x=310
y=115
width=32
height=32
model1Id=7637
modelAnim2=roguesden_interface_gear7
modelZoom=500
modelXAn=80
modelYAn=650

[global_content_layer]
type=Model
x=310
y=115
width=32
height=32
model1Id=7635
modelAnim=roguesden_interface_gear6
modelZoom=500
modelXAn=80
modelYAn=650

[global_header_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136549
model1Id=7631
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_1_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136550
model1Id=7648
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_2_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136551
model1Id=7649
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_3_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136552
model1Id=7650
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_4_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136553
model1Id=7651
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_5_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136554
model1Id=7652
modelAnim=roguesden_interface_gear4
modelAnim2=roguesden_interface_gear4
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_6_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136543
model1Id=7633
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_7_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136544
model1Id=7642
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[global_player_8_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136545
model1Id=7643
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[personal_header_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136546
model1Id=7644
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136547
model1Id=7645
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_background]
type=Model
x=310
y=115
width=32
height=32
layerId=19136548
model1Id=7646
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_solo_time_graphic]
type=Model
x=310
y=115
width=32
height=32
model1Id=7629
modelAnim2=roguesden_interface_gear3
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_group_time_graphic]
type=Model
x=310
y=115
width=32
height=32
model1Id=7640
modelAnim2=roguesden_interface_gear9
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_text]
type=Model
x=310
y=115
width=32
height=32
model1Id=7638
modelAnim2=roguesden_interface_gear8
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_solo_time_text]
type=Model
x=310
y=115
width=32
height=32
model1Id=7626
modelAnim2=roguesden_interface_gear1
modelZoom=500
modelXAn=80
modelYAn=650

[frozen_group_time_text]
type=Model
x=310
y=115
width=32
height=32
layerId=19136555
model1Id=7627
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[abandoned_1_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136556
model1Id=7654
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[furnished_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136557
model1Id=7655
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[abandoned_2_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136558
model1Id=7656
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[occult_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136559
model1Id=7657
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[warped_row]
type=Model
x=310
y=115
width=32
height=32
layerId=19136560
model1Id=7658
modelAnim=roguesden_interface_gear2
modelAnim2=roguesden_interface_gear2
modelZoom=500
modelXAn=80
modelYAn=650

[personal_horizontal_line]
type=Layer
width=512
height=320
hide=yes

[personal_vertical_line]
type=Layer
width=512
height=320
hide=yes

[floors_completed_text]
type=Layer
width=512
height=320
hide=yes

[mainmodal_window_border]
type=Layer
width=512
height=320
hide=yes

[mainmodal_window_close_button]
type=Layer
width=512
height=320
hide=yes

[info_button_layer]
type=Layer
width=512
height=320
hide=yes

[personal_tab]
type=Layer
width=512
height=320
hide=yes

[global_tab]
type=Layer
width=512
height=320
hide=yes

[personal_header_background]
type=Layer
width=512
height=320
hide=yes

[personal_theme_text]
type=Layer
width=512
height=320
hide=yes

[personal_solo_text]
type=Layer
width=512
height=320
hide=yes

[personal_group_text]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_background]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_solo_time_graphic]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_group_time_graphic]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_text]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_solo_time_text]
type=Layer
width=512
height=320
hide=yes

[abandoned_1_group_time_text]
type=Layer
width=512
height=320
hide=yes

[furnished_background]
type=Rectangle
buttonType=Button
x=98
y=160
width=120
height=80
colour=0xFFFF00
buttonText="Place a gear here!"
eventCode=flag22

[furnished_solo_time_graphic]
type=Rectangle
buttonType=Button
x=351
y=125
width=120
height=120
colour=0xFFFF00
buttonText="Place a gear here!"
eventCode=flag22

[furnished_group_time_graphic]
type=Rectangle
buttonType=Button
x=135
y=39
width=120
height=120
colour=0xFFFF00
buttonText="Place a gear here!"
eventCode=flag22

[furnished_text]
type=Sprite
x=483
y=6
width=26
height=23
overLayerId=54
graphic=539

[furnished_solo_time_text]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=19136566
graphic=540
buttonText="Ok"

[furnished_group_time_text]
type=Layer
x=479
y=2
width=32
height=32
hide=yes
