[mainmodal_window]
type=Sprite
x=492
y=1
width=17
height=13
graphic=765

[mainmodal_window_background]
type=Text
x=416
y=-9
width=70
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Wave 1"

[mainmodal_window_content]
type=Sprite
x=493
y=24
width=17
height=13
graphic=766

[storage_window]
type=Text
x=406
y=11
width=80
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Red eggs"

[storage_window_background]
type=Sprite
x=491
y=44
width=17
height=13
graphic=767

[storage_window_content]
type=Text
x=418
y=32
width=68
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Style 1"

[storage_layer]
type=Sprite
x=491
y=64
width=17
height=13
graphic=768

[storage_scrolling_layer]
type=Text
x=408
y=54
width=78
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Attacker"
