[contents]
type=Rectangle
width=512
height=334
colour=0x433621
fill=yes

[bound_layer]
type=Sprite
x=478
y=6
width=26
height=23
overLayerId=106
graphic=539

[bound_layer_bg]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=7602282
overLayerId=106
graphic=540
buttonText="Ok"

[loadout_layer]
type=Model
x=253
y=137
width=24
height=23
model1Id=16344
modelZoom=1119
modelXAn=490
modelYAn=513

[loadout_layer_bg]
type=Text
x=125
y=29
width=266
height=17
colour=0xD9A34D
hAlign=Center
font=497
shadow=yes
text="Title"

[setup_title]
type=Layer
x=63
y=54
width=348
height=250
scrollHeight=1710

[loadout_a]
type=Text
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[select_a]
type=Text
y=17
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[take_a]
type=Text
y=34
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setup_a]
type=Text
y=51
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[loadout_b]
type=Text
y=68
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[select_b]
type=Text
y=85
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[take_b]
type=Text
y=102
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setup_b]
type=Text
y=119
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[loadout_c]
type=Text
y=136
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[select_c]
type=Text
y=153
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[take_c]
type=Text
y=170
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setup_c]
type=Text
y=187
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[loadout_d]
type=Text
y=204
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[select_d]
type=Text
y=221
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[take_d]
type=Text
y=238
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setup_d]
type=Text
y=255
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_title]
type=Text
y=272
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[item_inventory]
type=Text
y=289
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[destroy_object]
type=Text
y=306
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[mainmodal_window]
type=Text
y=323
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[confirm_button]
type=Text
y=340
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_27]
type=Text
y=357
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[potion_blank]
type=Text
y=374
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[potion_item]
type=Text
y=391
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_30]
type=Text
y=408
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_31]
type=Text
y=425
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_32]
type=Text
y=442
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_33]
type=Text
y=459
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_34]
type=Text
y=476
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_35]
type=Text
y=493
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_36]
type=Text
y=510
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_37]
type=Text
y=527
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_38]
type=Text
y=544
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_39]
type=Text
y=561
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_40]
type=Text
y=578
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_41]
type=Text
y=595
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_42]
type=Text
y=612
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_43]
type=Text
y=629
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_44]
type=Text
y=646
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_45]
type=Text
y=663
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_1]
type=Text
y=680
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_2]
type=Text
y=697
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_3]
type=Text
y=714
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_4]
type=Text
y=731
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_5]
type=Text
y=748
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_6]
type=Text
y=765
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_7]
type=Text
y=782
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_8]
type=Text
y=799
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_9]
type=Text
y=816
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_10]
type=Text
y=833
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_11]
type=Text
y=850
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_12]
type=Text
y=867
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[bound_item_13]
type=Text
y=884
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_59]
type=Text
y=901
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_60]
type=Text
y=918
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_61]
type=Text
y=935
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_62]
type=Text
y=952
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_63]
type=Text
y=969
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_64]
type=Text
y=986
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_1]
type=Text
y=1003
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_2]
type=Text
y=1020
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_3]
type=Text
y=1037
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_4]
type=Text
y=1054
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_5]
type=Text
y=1071
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupa_6]
type=Text
y=1088
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_71]
type=Text
y=1105
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_72]
type=Text
y=1122
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_73]
type=Text
y=1139
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_74]
type=Text
y=1156
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_75]
type=Text
y=1173
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_76]
type=Text
y=1190
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_1]
type=Text
y=1207
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_2]
type=Text
y=1224
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_3]
type=Text
y=1241
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_4]
type=Text
y=1258
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_5]
type=Text
y=1275
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_6]
type=Text
y=1292
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_2_blocked]
type=Text
y=1309
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_3_blocked]
type=Text
y=1326
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_4_blocked]
type=Text
y=1343
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_5_blocked]
type=Text
y=1360
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupb_6_blocked]
type=Text
y=1377
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_88]
type=Text
y=1394
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_89]
type=Text
y=1411
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_90]
type=Text
y=1428
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_91]
type=Text
y=1445
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_92]
type=Text
y=1462
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[com_93]
type=Text
y=1479
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_1]
type=Text
y=1496
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_2]
type=Text
y=1513
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_3]
type=Text
y=1530
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_4]
type=Text
y=1547
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_5]
type=Text
y=1564
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_6]
type=Text
y=1581
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_2_blocked]
type=Text
y=1598
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_3_blocked]
type=Text
y=1615
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_4_blocked]
type=Text
y=1632
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_5_blocked]
type=Text
y=1649
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[setupc_6_blocked]
type=Text
y=1666
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[mainmodal_window_background]
type=Text
y=1683
width=348
height=17
layerId=7602181
colour=0xD5A34D
hAlign=Center
font=497
shadow=yes

[mainmodal_window_content]
type=Layer
x=475
y=2
width=32
height=32
hide=yes
