[ratcatcher_big_flute]
type=Model
x=254
y=135
width=32
height=32
model1Id=4652
modelZoom=891
modelXAn=492

[ratcatcher_mini_flute1]
type=Model
x=26
y=147
width=32
height=32
model1Id=10097
modelZoom=720
modelXAn=443
modelYAn=2

[ratcatcher_mini_flute2]
type=Model
x=119
y=102
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute3]
type=Model
x=160
y=110
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute4]
type=Model
x=202
y=109
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute5]
type=Model
x=246
y=101
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute6]
type=Model
x=290
y=96
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute7]
type=Model
x=335
y=101
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[ratcatcher_mini_flute8]
type=Model
x=381
y=106
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[rc_flute_pageno]
type=Model
x=426
y=110
width=32
height=195
model1Id=10098
modelZoom=400
modelXAn=512

[rc_flute_up_octave]
type=Text
x=313
y=35
width=163
height=19
hAlign=Center
font=497
text="Page 1 of 8"

[rc_flute_d]
type=Model
buttonType=Toggly
x=138
y=36
width=70
height=60
model1Id=10115
model2Id=10116
modelZoom=400
modelXAn=512
buttonText="Raise an Octave."
eventCode=flag22
script1=eq,1
script1op1=varbit,vc_note_current_hi

[rc_flute_e]
type=Model
buttonType=Toggly
x=119
y=107
width=32
height=195
model1Id=10099
model2Id=10100
modelZoom=400
modelXAn=512
buttonText="D"
eventCode=flag22
script1=eq,63
script1op1=varbit,vc_fingers_current

[rc_flute_fsharp]
type=Model
buttonType=Toggly
x=160
y=115
width=32
height=195
model1Id=10101
model2Id=10102
modelZoom=400
modelXAn=460
buttonText="E"
eventCode=flag22
script1=eq,62
script1op1=varbit,vc_fingers_current

[rc_flute_g]
type=Model
buttonType=Toggly
x=202
y=114
width=32
height=195
model1Id=10103
model2Id=10104
modelZoom=400
modelXAn=460
buttonText="F#"
eventCode=flag22
script1=eq,60
script1op1=varbit,vc_fingers_current

[rc_flute_a]
type=Model
buttonType=Toggly
x=246
y=106
width=32
height=195
model1Id=10105
model2Id=10106
modelZoom=400
modelXAn=460
buttonText="G"
eventCode=flag22
script1=eq,56
script1op1=varbit,vc_fingers_current

[rc_flute_b]
type=Model
buttonType=Toggly
x=290
y=101
width=32
height=195
model1Id=10107
model2Id=10108
modelZoom=400
modelXAn=460
buttonText="A"
eventCode=flag22
script1=eq,48
script1op1=varbit,vc_fingers_current

[rc_flute_csharp]
type=Model
buttonType=Toggly
x=335
y=105
width=32
height=195
model1Id=10109
model2Id=10110
modelZoom=400
modelXAn=460
buttonText="B"
eventCode=flag22
script1=eq,32
script1op1=varbit,vc_fingers_current

[rc_flute_c]
type=Model
buttonType=Toggly
x=381
y=112
width=32
height=195
model1Id=10111
model2Id=10112
modelZoom=400
modelXAn=460
buttonText="C#"
eventCode=flag22
script1=eq,1
script1op1=varbit,vc_fingers_current

[rc_flute_play]
type=Model
buttonType=Toggly
x=426
y=115
width=32
height=195
model1Id=10113
model2Id=10114
modelZoom=400
modelXAn=460
buttonText="C"
eventCode=flag22
script1=eq,24
script1op1=varbit,vc_fingers_current

[rc_flute_prev_layer]
type=Text
buttonType=Button
x=208
y=55
width=149
height=21
colour=0xFF981F
colourOver=0xFF0000
hAlign=Center
font=497
shadow=yes
text="PLAY"
buttonText="Play your tune."
eventCode=flag22

[rc_flute_next_layer]
type=Model
buttonType=Button
x=1
y=1
width=40
height=40
layerId=18481176
model1Id=10117
model2Id=10118
modelZoom=220
modelXAn=512
buttonText="Next page."
eventCode=flag22

[rc_flute_next_note]
type=Model
buttonType=Button
x=2
y=1
width=40
height=38
layerId=18481175
model1Id=10117
model2Id=10118
modelZoom=220
modelXAn=522
modelYAn=1024
buttonText="Previous Page."
eventCode=flag22

[rc_flute_prev_note]
type=Layer
x=358
y=55
width=44
height=42

[mainmodal_window]
type=Layer
x=410
y=57
width=44
height=42

[mainmodal_window_background]
type=Sprite
x=484
y=4
width=26
height=23
overLayerId=27
graphic=539

[mainmodal_window_content]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=18481179
graphic=540
buttonText="Ok"

[com_27]
type=Layer
x=480
y=-1
width=32
height=32
hide=yes
