[bounding_box]
type=Rectangle
x=65
y=25
width=380
height=295
trans=200
fill=yes

[modal_dialog_window]
type=Sprite
x=61
y=24
width=374
height=290
graphic=297
tiling=yes

[com_2]
type=Sprite
x=44
y=53
width=32
height=241
graphic=821
tiling=yes

[com_3]
type=Sprite
x=57
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=420
y=50
width=32
height=243
graphic=823
tiling=yes

[com_5]
type=Sprite
x=68
y=7
width=349
height=34
graphic=820
tiling=yes

[com_6]
type=Sprite
x=70
y=296
width=358
height=32
graphic=822
tiling=yes

[com_7]
type=Sprite
x=410
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[com_8]
type=Sprite
x=57
y=284
width=32
height=32
graphic=826

[com_9]
type=Sprite
x=408
y=20
width=32
height=32
graphic=825

[com_10]
type=Sprite
x=408
y=284
width=32
height=32
graphic=827

[com_11]
type=Sprite
x=66
y=35
width=365
height=32
graphic=828
tiling=yes

[com_12]
type=Sprite
x=57
y=37
width=32
height=32
graphic=829

[com_13]
type=Sprite
x=408
y=37
width=32
height=32
graphic=830

[com_14]
type=Rectangle
x=135
y=58
width=47
height=43
layerId=40566826
trans=200
fill=yes

[com_15]
type=Rectangle
x=231
y=58
width=47
height=43
layerId=40566826
trans=200
fill=yes

[com_16]
type=Rectangle
x=88
y=101
width=47
height=43
layerId=40566826
trans=200
fill=yes

[air]
type=Rectangle
x=183
y=101
width=47
height=43
layerId=40566826
trans=200
fill=yes

[mind]
type=Rectangle
x=278
y=101
width=47
height=43
layerId=40566826
trans=200
fill=yes

[water]
type=Rectangle
x=41
y=144
width=47
height=43
layerId=40566826
trans=200
fill=yes

[earth]
type=Rectangle
x=136
y=144
width=47
height=43
layerId=40566826
trans=200
fill=yes

[fire]
type=Rectangle
x=230
y=144
width=47
height=43
layerId=40566826
trans=200
fill=yes

[body]
type=Rectangle
x=325
y=144
width=47
height=43
layerId=40566826
trans=200
fill=yes

[cosmic]
type=Rectangle
x=88
y=187
width=47
height=43
layerId=40566826
trans=200
fill=yes

[chaos]
type=Rectangle
x=183
y=187
width=47
height=43
layerId=40566826
trans=200
fill=yes

[astral]
type=Rectangle
x=277
y=187
width=47
height=43
layerId=40566826
trans=200
fill=yes

[law]
type=Rectangle
x=136
y=230
width=47
height=43
layerId=40566826
trans=200
fill=yes

[death]
type=Rectangle
x=230
y=230
width=47
height=43
layerId=40566826
trans=200
fill=yes

[blood]
type=Model
x=240
y=64
width=32
height=32
layerId=40566826
model1Id=2405
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Air runes",50,150

[nature]
type=Model
x=145
y=64
width=32
height=32
layerId=40566826
model1Id=2481
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Mind runes",50,150

[soul]
type=Model
x=96
y=108
width=32
height=32
layerId=40566826
model1Id=2652
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Water runes",50,150

[time]
type=Model
x=192
y=108
width=32
height=32
layerId=40566826
model1Id=2737
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Earth runes",50,150

[info]
type=Model
x=287
y=108
width=32
height=32
layerId=40566826
model1Id=2399
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Fire runes",50,150

[mind_fade]
type=Model
x=50
y=151
width=32
height=32
layerId=40566826
model1Id=2340
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Body runes",50,150

[air_fade]
type=Model
x=145
y=151
width=32
height=32
layerId=40566826
model1Id=2735
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Cosmic runes",50,150

[water_fade]
type=Model
x=239
y=151
width=32
height=32
layerId=40566826
model1Id=2707
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Chaos runes",50,150

[earth_fade]
type=Model
x=333
y=151
width=32
height=32
layerId=40566826
model1Id=16742
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Astral runes",50,150

[fire_fade]
type=Model
x=97
y=194
width=32
height=32
layerId=40566826
model1Id=2382
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Law runes",50,150

[body_fade]
type=Model
x=191
y=194
width=32
height=32
layerId=40566826
model1Id=2645
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Death runes",50,150

[cosmic_fade]
type=Model
x=285
y=194
width=32
height=32
layerId=40566826
model1Id=2665
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Blood runes",50,150

[chaos_fade]
type=Model
x=145
y=237
width=32
height=32
layerId=40566826
model1Id=2734
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Nature runes",50,150

[astral_fade]
type=Model
x=240
y=237
width=32
height=32
layerId=40566826
model1Id=2434
modelZoom=500
modelXAn=512
modelYAn=1024
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseleave=40,40566843
onmouserepeat=38,component.parentId,40566843,"Soul runes",50,150

[law_fade]
type=Layer
x=42
y=3
width=409
height=309

[death_fade]
type=Text
x=148
y=22
width=210
height=30
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Pay Bank Charge With..."

[blood_fade]
type=Text
x=101
y=274
width=210
height=30
layerId=40566826
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes

[nature_fade]
type=Rectangle
x=135
y=58
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[soul_fade]
type=Rectangle
x=231
y=58
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[time_fade]
type=Rectangle
x=88
y=101
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[modal_dialog_window_background]
type=Rectangle
x=183
y=101
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[modal_dialog_window_content]
type=Rectangle
x=278
y=101
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[modal_dialog_window_border]
type=Rectangle
x=41
y=144
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[modal_dialog_window_close_button]
type=Rectangle
x=136
y=144
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_52]
type=Rectangle
x=230
y=144
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_53]
type=Rectangle
x=325
y=144
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_54]
type=Rectangle
x=88
y=187
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_55]
type=Rectangle
x=183
y=187
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_56]
type=Rectangle
x=277
y=187
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_57]
type=Rectangle
x=136
y=230
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_58]
type=Rectangle
x=230
y=230
width=47
height=43
layerId=40566826
hide=yes
trans=150
fill=yes

[com_59]
type=Layer
x=45
y=64
width=335
height=203
layerId=40566826
