[right_dial_back]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[right_dial_text]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[left_dial_back]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[left_dial_text]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[pressure_needle]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[heat_needle]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[regicide_add_coal]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[add_coal_text]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[left_wheel]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[right_wheel]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[bar_model]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[regicide_pressure_valve_down]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[regicide_pressure_valve_up]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[regicide_tar_valve_down]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[regicide_tar_valve_up]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[r1]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[r2]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[r3]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[r4]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[r5]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[r6]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[r7]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[r8]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[r9]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[r10]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[r11]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[r12]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[r13]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[r14]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[r15]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[r16]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[r17]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[r18]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[r19]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[r20]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[r21]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[r22]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[r23]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[r24]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[r25]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[tar_regulator_text]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[pressure_valve_text]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[total_text]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[mainmodal_window]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[mainmodal_window_background]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[mainmodal_window_content]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[mainmodal_window_border]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[mainmodal_window_close_button]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_67]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_68]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_69]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_70]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_71]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_72]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_73]
type=Sprite
x=288
y=31
width=36
height=36
graphic=314

[com_74]
type=Sprite
x=324
y=31
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=396
y=31
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=252
y=31
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=432
y=31
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=458
y=31
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=216
y=31
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=180
y=31
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=144
y=31
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=108
y=31
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=72
y=31
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_85]
type=Sprite
x=47
y=31
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=360
y=31
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=18
y=31
width=36
height=36
graphic=314

[com_88]
type=Text
x=112
y=28
width=303
height=15
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Fractional still"

[com_89]
type=Model
x=408
y=120
width=32
height=32
model1Id=3892
modelZoom=500
modelXAn=512

[com_90]
type=Text
x=410
y=103
width=26
height=14
hAlign=Center
font=495
text="Heat"

[com_91]
type=Model
x=72
y=120
width=32
height=32
model1Id=3892
modelZoom=500
modelXAn=512

[com_92]
type=Text
x=63
y=103
width=52
height=14
hAlign=Center
font=495
text="Pressure"

[com_93]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1536
script1=eq,0
script1op1=varp_bit,regicide_still_settings,0

[com_94]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1664
script1=eq,0
script1op1=varp_bit,regicide_still_settings,1

[com_95]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1792
script1=eq,0
script1op1=varp_bit,regicide_still_settings,2

[com_96]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1920
script1=eq,0
script1op1=varp_bit,regicide_still_settings,3

[com_97]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
script1=eq,0
script1op1=varp_bit,regicide_still_settings,4

[com_98]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=128
script1=eq,0
script1op1=varp_bit,regicide_still_settings,5

[com_99]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=256
script1=eq,0
script1op1=varp_bit,regicide_still_settings,6

[com_100]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=384
script1=eq,0
script1op1=varp_bit,regicide_still_settings,7

[com_101]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=512
script1=eq,0
script1op1=varp_bit,regicide_still_settings,8

[com_102]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=640
script1=eq,0
script1op1=varp_bit,regicide_still_settings,9

[com_103]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=768
script1=eq,0
script1op1=varp_bit,regicide_still_settings,10

[com_104]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=896
script1=eq,0
script1op1=varp_bit,regicide_still_settings,11

[com_105]
type=Model
x=72
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1024
script1=eq,0
script1op1=varp_bit,regicide_still_settings,12

[com_106]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1536
script1=eq,0
script1op1=varp_bit,regicide_still_settings,13

[com_107]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1664
script1=eq,0
script1op1=varp_bit,regicide_still_settings,14

[com_108]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1792
script1=eq,0
script1op1=varp_bit,regicide_still_settings,15

[com_109]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1920
script1=eq,0
script1op1=varp_bit,regicide_still_settings,16

[com_110]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
script1=eq,0
script1op1=varp_bit,regicide_still_settings,17

[com_111]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=128
script1=eq,0
script1op1=varp_bit,regicide_still_settings,18

[com_112]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=256
script1=eq,0
script1op1=varp_bit,regicide_still_settings,19

[com_113]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=384
script1=eq,0
script1op1=varp_bit,regicide_still_settings,20

[com_114]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=512
script1=eq,0
script1op1=varp_bit,regicide_still_settings,21

[com_115]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=640
script1=eq,0
script1op1=varp_bit,regicide_still_settings,22

[com_116]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=768
script1=eq,0
script1op1=varp_bit,regicide_still_settings,23

[com_117]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=896
script1=eq,0
script1op1=varp_bit,regicide_still_settings,24

[com_118]
type=Model
x=408
y=120
width=32
height=32
model1Id=3895
modelZoom=400
modelXAn=512
modelYAn=1024
script1=eq,0
script1op1=varp_bit,regicide_still_settings,25

[com_119]
type=Model
buttonType=Button
x=190
y=120
width=150
height=100
model1Id=3893
modelZoom=600
modelXAn=512
buttonText="Click this to add coal."
eventCode=flag22

[com_120]
type=Text
x=205
y=130
width=117
height=15
hAlign=Center
font=495
text="Add Coal"

[com_121]
type=Model
x=72
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
modelYAn=1024
script1=eq,1
script1op1=varp_bit,regicide_still_settings,26

[com_122]
type=Model
x=72
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
modelYAn=1536
script1=eq,1
script1op1=varp_bit,regicide_still_settings,27

[com_123]
type=Model
x=72
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
script1=eq,1
script1op1=varp_bit,regicide_still_settings,28

[com_124]
type=Model
x=408
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
modelYAn=1024
script1=eq,1
script1op1=varp_bit,regicide_still_settings,29

[com_125]
type=Model
x=408
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
modelYAn=1536
script1=eq,1
script1op1=varp_bit,regicide_still_settings,30

[com_126]
type=Model
x=408
y=240
width=32
height=32
model2Id=3896
modelZoom=1000
modelXAn=512
script1=eq,1
script1op1=varp_bit,regicide_still_settings,31

[com_127]
type=Model
x=240
y=252
width=32
height=32
model1Id=3894
modelZoom=400
modelXAn=512
modelYAn=512

[com_128]
type=Text
buttonType=Button
x=56
y=224
width=32
height=65
colour=0xFFFF00
font=495
shadow=yes
buttonText="Turn pressure valve down"
eventCode=flag22

[com_129]
type=Text
buttonType=Button
x=88
y=224
width=32
height=65
colour=0xFFFF00
font=495
shadow=yes
buttonText="Turn pressure valve up"
eventCode=flag22

[com_130]
type=Text
buttonType=Button
x=391
y=224
width=32
height=65
colour=0xFFFF00
font=495
shadow=yes
buttonText="Turn tar flow valve down"
eventCode=flag22

[com_131]
type=Text
buttonType=Button
x=423
y=224
width=32
height=65
colour=0xFFFF00
font=495
shadow=yes
buttonText="Turn tar valve up"
eventCode=flag22

[com_132]
type=Rectangle
x=172
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,0
script1op1=varp,regicide_still_total

[com_133]
type=Rectangle
x=179
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,1
script1op1=varp,regicide_still_total

[com_134]
type=Rectangle
x=186
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,2
script1op1=varp,regicide_still_total

[com_135]
type=Rectangle
x=193
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,3
script1op1=varp,regicide_still_total

[com_136]
type=Rectangle
x=200
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,4
script1op1=varp,regicide_still_total

[com_137]
type=Rectangle
x=207
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,5
script1op1=varp,regicide_still_total

[com_138]
type=Rectangle
x=214
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,6
script1op1=varp,regicide_still_total

[com_139]
type=Rectangle
x=221
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,7
script1op1=varp,regicide_still_total

[com_140]
type=Rectangle
x=228
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,8
script1op1=varp,regicide_still_total

[com_141]
type=Rectangle
x=235
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,9
script1op1=varp,regicide_still_total

[com_142]
type=Rectangle
x=242
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,10
script1op1=varp,regicide_still_total

[com_143]
type=Rectangle
x=249
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,11
script1op1=varp,regicide_still_total

[com_144]
type=Rectangle
x=256
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,12
script1op1=varp,regicide_still_total

[com_145]
type=Rectangle
x=263
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,13
script1op1=varp,regicide_still_total

[com_146]
type=Rectangle
x=270
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,14
script1op1=varp,regicide_still_total

[com_147]
type=Rectangle
x=277
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,15
script1op1=varp,regicide_still_total

[com_148]
type=Rectangle
x=284
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,16
script1op1=varp,regicide_still_total

[com_149]
type=Rectangle
x=291
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,17
script1op1=varp,regicide_still_total

[com_150]
type=Rectangle
x=298
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,18
script1op1=varp,regicide_still_total

[com_151]
type=Rectangle
x=305
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,19
script1op1=varp,regicide_still_total

[com_152]
type=Rectangle
x=312
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,20
script1op1=varp,regicide_still_total

[com_153]
type=Rectangle
x=319
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,21
script1op1=varp,regicide_still_total

[com_154]
type=Rectangle
x=326
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,22
script1op1=varp,regicide_still_total

[com_155]
type=Rectangle
x=333
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,23
script1op1=varp,regicide_still_total

[com_156]
type=Rectangle
x=340
y=265
width=7
height=7
colour2=0x00FF00
colour2Over=0x00FF00
fill=yes
script1=gt,24
script1op1=varp,regicide_still_total

[com_157]
type=Text
x=364
y=289
width=118
height=13
hAlign=Center
font=495
text="Tar regulator"

[com_158]
type=Text
x=20
y=290
width=139
height=16
hAlign=Center
font=495
text="Pressure valve"

[com_159]
type=Rectangle
x=86
y=212
width=4
height=12
fill=yes

[com_160]
type=Text
x=145
y=294
width=235
height=15
hAlign=Center
font=496
text="Total distilled"

[com_161]
type=Rectangle
x=121
y=254
width=12
height=4
fill=yes

[com_162]
type=Rectangle
x=43
y=254
width=12
height=4
fill=yes

[com_163]
type=Rectangle
x=379
y=254
width=12
height=4
fill=yes

[com_164]
type=Rectangle
x=422
y=212
width=4
height=12
fill=yes

[com_165]
type=Rectangle
x=457
y=254
width=12
height=4
fill=yes

[com_166]
type=Sprite
x=473
y=24
width=26
height=23
overLayerId=168
graphic=535

[com_167]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=18743464
graphic=536
buttonText="Ok"

[com_168]
type=Layer
x=469
y=19
width=32
height=32
hide=yes
