[universe]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[window_background]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[window_content]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[close_bugreporter]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[bug_report_top_issues]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[com_6]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[text_container]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[text_bg]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[top_issue_text]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[continue_2]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[thank_you_2]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[bug_report_category_select_layer]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[com_13]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,38207501,832
onmouseleave=44,38207501,831
onop=29

[button_container]
type=Text
x=19
y=30
width=474
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Reset Warning Messages"

[billing_issue]
type=Text
x=36
y=-79
width=134
height=14
colour=0xFF981F
font=495
shadow=yes
text="Body Text"

[text_audio]
type=Layer
x=23
y=55
width=449
height=265
scrollWidth=336
scrollHeight=475

[technical]
type=Layer
x=474
y=58
width=16
height=258
baseOpName=" "
onload=63,component.parentId,38207504,792,789,790,791,773,788

[lost_items]
type=Sprite
x=8
y=8
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,1
onvartransmitlist=1045

[graphical]
type=Sprite
x=122
y=8
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,13
onvartransmitlist=1046

[gameplay]
type=Sprite
x=235
y=8
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,4
onvartransmitlist=1045

[info_container]
type=Sprite
x=348
y=8
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,3
onvartransmitlist=1045

[content_panel_blue]
type=Sprite
x=8
y=77
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,6
onvartransmitlist=1045

[cat_button_desc]
type=Sprite
x=122
y=77
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,5
onvartransmitlist=1045

[category_confirm]
type=Sprite
x=235
y=77
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,2
onvartransmitlist=1045

[bug_report_intro_layer]
type=Sprite
x=348
y=77
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,11
onvartransmitlist=1046

[intro_title]
type=Sprite
x=8
y=146
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,14
onvartransmitlist=1046

[com_27]
type=Sprite
x=122
y=146
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,15
onvartransmitlist=1046

[already_known_forum]
type=Sprite
x=348
y=146
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,16
onvartransmitlist=1046

[bug_report_buttons_layer]
type=Sprite
x=8
y=214
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,20
onvartransmitlist=1046

[com_30]
type=Sprite
x=122
y=214
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,9
onvartransmitlist=1045

[thank_you]
type=Sprite
x=235
y=214
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,17
onvartransmitlist=1046

[continue]
type=Sprite
x=348
y=214
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,10
onvartransmitlist=1045

[block_report_buttons_layer]
type=Sprite
x=8
y=282
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,12
onvartransmitlist=1046

[com_34]
type=Sprite
x=235
y=282
width=90
height=56
layerId=38207504
graphic=833
baseOpName="[if_button1,cws_doomsayer:King Black Dragon] @cws_toggle_reset(22);"
onvartransmit=165,component.parentId,8
onvartransmitlist=1045

[bug_report_ban_warning]
type=Sprite
x=348
y=282
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,7
onvartransmitlist=1045

[com_36]
type=Sprite
x=8
y=350
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,19
onvartransmitlist=1046

[pop_up_frame]
type=Sprite
x=122
y=350
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,18
onvartransmitlist=1046

[background]
type=Sprite
x=122
y=282
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,23
onvartransmitlist=1047

[com_39]
type=Sprite
x=235
y=146
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,24
onvartransmitlist=1047

[abuse_close_button]
type=Sprite
x=235
y=350
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,25
onvartransmitlist=1047

[window_border]
type=Sprite
x=348
y=350
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,26
onvartransmitlist=1047

[window_close_button]
type=Sprite
x=6
y=418
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,21
onvartransmitlist=1047

[com_43]
type=Sprite
x=122
y=418
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,27
onvartransmitlist=1047

[com_44]
type=Sprite
x=235
y=418
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,28
onvartransmitlist=1047

[com_45]
type=Sprite
x=348
y=418
width=90
height=56
layerId=38207504
graphic=833
onvartransmit=165,component.parentId,29
onvartransmitlist=1047

[com_46]
type=Text
x=10
y=10
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Dagannoth Kings' Ladder"
eventCode=hasOp(1)
opName0="Toggle"

[com_47]
type=Text
x=124
y=10
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Lumbridge Swamp Cave Rope"
eventCode=hasOp(1)
opName0="Toggle"

[com_48]
type=Text
x=237
y=10
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Stronghold of Security Ladders"
eventCode=hasOp(1)
opName0="Toggle"

[com_49]
type=Text
x=350
y=10
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Falador Mole Lair"
eventCode=hasOp(1)
opName0="Toggle"

[com_50]
type=Text
x=10
y=79
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Dropped Items in Random Events"
eventCode=hasOp(1)
opName0="Toggle"

[com_51]
type=Text
x=124
y=79
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Player-Owned Houses"
eventCode=hasOp(1)
opName0="Toggle"

[com_52]
type=Text
x=237
y=79
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Contact Dungeon Ladder"
eventCode=hasOp(1)
opName0="Toggle"

[com_53]
type=Text
x=350
y=79
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Icy Path Area"
eventCode=hasOp(1)
opName0="Toggle"

[com_54]
type=Text
x=10
y=148
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="H.A.M. Tunnel from Mill"
eventCode=hasOp(1)
opName0="Toggle"

[com_55]
type=Text
x=124
y=148
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Fairy Ring to Dorgesh-Kaan"
eventCode=hasOp(1)
opName0="Toggle"

[com_56]
type=Text
x=350
y=148
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Lumbridge Cellar"
eventCode=hasOp(1)
opName0="Toggle"

[com_57]
type=Text
x=10
y=216
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Mort Myre"
eventCode=hasOp(1)
opName0="Toggle"

[com_58]
type=Text
x=124
y=216
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Observatory Stairs"
eventCode=hasOp(1)
opName0="Toggle"

[com_59]
type=Text
x=350
y=216
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Shantay Pass"
eventCode=hasOp(1)
opName0="Toggle"

[com_60]
type=Text
x=237
y=216
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Elid Genie Cave"
eventCode=hasOp(1)
opName0="Toggle"

[com_61]
type=Text
x=10
y=284
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Watchtower Shaman Cave"
eventCode=hasOp(1)
opName0="Toggle"

[com_62]
type=Text
x=237
y=284
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Trollheim Wilderness Entrance"
eventCode=hasOp(1)
opName0="Toggle"

[com_63]
type=Text
x=350
y=284
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Wilderness Ditch"
eventCode=hasOp(1)
opName0="Toggle"

[com_64]
type=Text
x=10
y=352
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Dorgesh-Kaan City Exit"
eventCode=hasOp(1)
opName0="Toggle"

[com_65]
type=Text
x=125
y=352
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Dorgesh-Kaan Tunnel to Kalphites"
eventCode=hasOp(1)
opName0="Toggle"

[com_66]
type=Text
x=124
y=284
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Ranging Guild Tower"
eventCode=hasOp(1)
opName0="Toggle"

[com_67]
type=Text
x=237
y=148
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Death Plateau"
eventCode=hasOp(1)
opName0="Toggle"

[com_68]
type=Text
x=237
y=352
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="God Wars Wilderness Agility Route"
eventCode=hasOp(1)
opName0="Toggle"

[com_69]
type=Text
x=350
y=352
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Duel Arena"
eventCode=hasOp(1)
opName0="Toggle"

[com_70]
type=Text
x=9
y=421
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Bounty Hunter"
eventCode=hasOp(1)
opName0="Toggle"

[com_71]
type=Text
x=124
y=421
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Chaos Tunnels (East)"
eventCode=hasOp(1)
opName0="Toggle"

[com_72]
type=Text
x=237
y=421
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Chaos Tunnels (Central)"
eventCode=hasOp(1)
opName0="Toggle"

[com_73]
type=Text
x=350
y=421
width=84
height=52
layerId=38207504
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Chaos Tunnels (West)"
eventCode=hasOp(1)
opName0="Toggle"
