[layer_1]
type=Rectangle
width=512
height=334
trans=128
colour=0x5C7B86
fill=yes

[com_1]
type=Model
width=125
height=335
model1Id=34844
modelAnim=rocko_waves
modelZoom=272
discardedModelField=64371

[layer_2]
type=Model
x=129
width=125
height=335
model1Id=34844
modelAnim=rocko_waves
modelZoom=272
discardedModelField=64371

[com_3]
type=Model
x=258
width=125
height=335
model1Id=34844
modelAnim=rocko_waves
modelZoom=272
discardedModelField=64371

[com_4]
type=Model
x=386
width=125
height=335
model1Id=34844
modelAnim=rocko_waves
modelZoom=272
discardedModelField=64371
