[com_0]
type=Model
x=-1
y=-8
width=535
height=345
model1Id=34847
modelZoom=536
modelXAn=508
modelXOf=-2
modelYOf=-3
discardedModelField=64330

[layer_1]
type=Model
x=96
y=118
width=348
height=205
model1Id=34932
modelAnim=rocko_kitten_interface
modelZoom=344
modelXAn=144
modelYAn=2023
modelXOf=-7
modelYOf=21
discardedModelField=64449
