[com_0]
type=Model
x=-31
y=-2
width=581
height=338
model1Id=34822
modelZoom=443
modelXOf=1
modelYOf=104
discardedModelField=64238

[com_1]
type=Model
x=-172
y=-86
width=881
height=468
model1Id=34823
modelAnim=rocko_travelling_canball
modelZoom=244
modelXAn=12
modelYAn=1024
modelXOf=-2
modelYOf=87
orthog=yes
discardedModelField=256
