[bg1]
type=Sprite
width=520
height=335
layerId=10420266
graphic=297
tiling=yes

[contents]
type=Sprite
x=234
y=232
width=27
height=97
layerId=10420266
graphic=1075
tiling=yes

[bg2]
type=Sprite
x=234
y=7
width=30
height=217
layerId=10420266
graphic=1075
tiling=yes

[bg3]
type=Sprite
x=-6
y=8
width=26
height=321
layerId=10420266
graphic=1075
tiling=yes

[bespoke_window]
type=Sprite
x=248
y=215
width=257
height=34
layerId=10420266
graphic=1074
tiling=yes

[completed_hand_silhouette]
type=Sprite
x=249
y=-10
width=257
height=34
layerId=10420266
graphic=1074
tiling=yes

[complete_hand_layer]
type=Sprite
x=8
y=-9
width=227
height=34
layerId=10420266
graphic=1074
tiling=yes

[fingers]
type=Sprite
x=490
y=232
width=27
height=97
layerId=10420266
graphic=1075
tiling=yes

[hand]
type=Sprite
x=490
y=7
width=25
height=217
layerId=10420266
graphic=1075
tiling=yes

[thumb]
type=Sprite
x=220
y=8
width=29
height=321
layerId=10420266
graphic=1075
tiling=yes

[wrist]
type=Sprite
x=248
y=311
width=257
height=37
layerId=10420266
graphic=1074
tiling=yes
baseOpName=" "

[brace]
type=Sprite
x=248
y=206
width=257
height=37
layerId=10420266
graphic=1074
tiling=yes
baseOpName=" "

[reset]
type=Sprite
x=8
y=311
width=227
height=35
layerId=10420266
graphic=1074
tiling=yes
baseOpName=" "

[arrow_left]
type=Sprite
x=479
y=9
width=26
height=23
layerId=10420266
graphic=535
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,10420237,536
onmouseleave=44,10420237,535
onop=29

[arrow_right]
type=Rectangle
x=8
y=8
width=227
height=321
layerId=10420266
trans=245
colour=0xFFFFFF
fill=yes

[arrow_up]
type=Rectangle
x=247
y=9
width=257
height=213
layerId=10420266
trans=245
colour=0xFFFFFF
fill=yes

[arrow_down]
type=Rectangle
x=247
y=231
width=258
height=97
layerId=10420266
trans=245
colour=0xFFFFFF
fill=yes

[rotate_right]
type=Model
x=51
y=33
width=176
height=282
layerId=10420266
model1Id=34885
modelZoom=400
modelXOf=-23
modelYOf=140
orthog=yes
discardedModelField=65454

[rotate_left]
type=Layer
x=51
y=33
width=176
height=283
layerId=10420266
hide=yes

[fingers_highlight_layer]
type=Model
width=127
height=116
layerId=10420266
model1Id=34879
modelZoom=400
modelXOf=2
modelYOf=4
orthog=yes
discardedModelField=65356
eventCode=hasOp(1)
opName0="Fingers"

[hand_highlight_layer]
type=Model
x=-1
y=1
width=121
height=119
layerId=10420266
model1Id=34876
modelZoom=400
modelXOf=-9
modelYOf=8
orthog=yes
discardedModelField=65322
eventCode=hasOp(1)
opName0="Hand"

[thumb_highlight_layer]
type=Model
width=58
height=47
layerId=10420266
model1Id=34880
modelZoom=400
modelXOf=-4
modelYOf=-3
orthog=yes
discardedModelField=65294
eventCode=hasOp(1)
opName0="Thumb"

[wrist_highlight_layer]
type=Model
x=-10
y=1
width=99
height=28
layerId=10420266
model1Id=34884
modelZoom=400
modelYOf=-2
orthog=yes
discardedModelField=65248
eventCode=hasOp(1)
opName0="Wrist"

[brace_highlight_layer]
type=Model
width=82
height=43
layerId=10420266
model1Id=34883
modelZoom=400
modelXOf=-2
modelYOf=2
orthog=yes
discardedModelField=65200
eventCode=hasOp(1)
opName0="Brace"

[completed_hand]
type=Sprite
x=413
y=248
width=25
height=25
layerId=10420266
graphic=1228
eventCode=hasOp(1)
opName0="Rotate-Left"
onmouseover=44,component.parentId,1229
onmouseleave=44,component.parentId,1228

[fingers_highlight]
type=Sprite
x=448
y=248
width=25
height=25
layerId=10420266
graphic=1230
eventCode=hasOp(1)
opName0="Rotate-Right"
onmouseover=44,component.parentId,1231
onmouseleave=44,component.parentId,1230

[hand_highlight]
type=Sprite
x=431
y=283
width=25
height=25
layerId=10420266
graphic=1232
eventCode=hasOp(1)
opName0="Restart"
onmouseover=44,component.parentId,1233
onmouseleave=44,component.parentId,1232

[thumb_highlight]
type=Model
x=305
y=239
width=21
height=28
layerId=10420266
model1Id=32196
modelZoom=3000
modelYOf=-3
discardedModelField=12272
eventCode=hasOp(1)
baseOpName=" "
opName0="Move-Up"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196

[wrist_highlight]
type=Model
x=328
y=269
width=28
height=21
layerId=10420266
model1Id=32196
modelZoom=3000
modelZAn=1530
modelXOf=2
discardedModelField=12272
eventCode=hasOp(1)
baseOpName=" "
opName0="Move-Right"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196

[brace_highlight]
type=Model
x=274
y=269
width=28
height=21
layerId=10420266
model1Id=32196
modelZoom=3000
modelZAn=506
modelXOf=-3
discardedModelField=12272
eventCode=hasOp(1)
baseOpName=" "
opName0="Move-Left"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196

[bespoke_window_background]
type=Model
x=305
y=294
width=21
height=28
layerId=10420266
model1Id=32196
modelZoom=3000
modelZAn=1012
modelYOf=2
discardedModelField=12272
eventCode=hasOp(1)
baseOpName=" "
opName0="Move-Down"
onmouseover=67,component.parentId,32160
onmouseleave=67,component.parentId,32196

[bespoke_window_content]
type=Layer
x=254
y=21
width=130
height=114
layerId=10420266
hide=yes

[bespoke_window_border]
type=Layer
x=378
y=98
width=125
height=114
layerId=10420266
hide=yes

[bespoke_window_close]
type=Layer
x=291
y=167
width=64
height=53
layerId=10420266
hide=yes

[com_34]
type=Layer
x=265
y=140
width=108
height=33
layerId=10420266
hide=yes

[com_35]
type=Layer
x=401
y=40
width=80
height=42
layerId=10420266
hide=yes

[com_36]
type=Model
width=176
height=282
layerId=10420242
model1Id=34874
modelZoom=400
modelXOf=-23
modelYOf=140
orthog=yes
discardedModelField=65400

[com_37]
type=Model
x=4
width=127
height=116
layerId=10420255
model1Id=34881
modelZoom=400
modelXOf=2
modelYOf=4
orthog=yes
discardedModelField=65233

[com_38]
type=Model
x=1
y=-4
width=121
height=119
layerId=10420256
model1Id=34878
modelZoom=400
modelXOf=-9
modelYOf=8
orthog=yes
discardedModelField=65200

[com_39]
type=Model
x=3
y=7
width=58
height=47
layerId=10420257
model1Id=34877
modelZoom=400
modelXOf=-4
modelYOf=-3
orthog=yes
discardedModelField=65202

[com_40]
type=Model
x=3
y=3
width=99
height=28
layerId=10420258
model1Id=34875
modelZoom=400
modelYOf=-2
orthog=yes
discardedModelField=65210

[com_41]
type=Model
y=-1
width=82
height=43
layerId=10420259
model1Id=34882
modelZoom=400
modelXOf=-2
modelYOf=2
orthog=yes
discardedModelField=65200

[com_42]
type=Layer
x=7
width=512
height=334
xAlignment=Percentage_Center
yAlignment=Percentage_Center

[com_43]
type=Layer
width=512
height=334
xAlignment=Percentage_Center
yAlignment=Percentage_Center

[com_44]
type=Layer
width=16391
height=16391
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Center
yAlignment=Center

[com_45]
type=Layer
width=16391
height=16391
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Center
yAlignment=Center
layerId=10420268

[com_46]
type=Sprite
x=-260
width=32
height=334
xAlignment=Center
yAlignment=Center
graphic=821
tiling=yes

[com_47]
type=Sprite
y=-171
width=462
height=32
xAlignment=Center
yAlignment=Center
graphic=820
tiling=yes

[com_48]
type=Sprite
y=170
width=512
height=32
xAlignment=Center
yAlignment=Center
graphic=822
tiling=yes

[com_49]
type=Sprite
x=259
width=32
height=334
xAlignment=Center
yAlignment=Center
graphic=823
tiling=yes

[com_50]
type=Sprite
x=-247
y=-158
width=32
height=32
xAlignment=Center
yAlignment=Center
graphic=824
tiling=yes

[com_51]
type=Sprite
x=247
y=-158
width=32
height=32
xAlignment=Center
yAlignment=Center
graphic=825
tiling=yes

[com_52]
type=Sprite
x=247
y=158
width=32
height=32
xAlignment=Center
yAlignment=Center
graphic=827
tiling=yes

[com_53]
type=Sprite
x=-247
y=158
width=32
height=32
xAlignment=Center
yAlignment=Center
graphic=826
tiling=yes

[com_54]
type=Layer
width=8192
height=16391
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Bottom_Right
yAlignment=Center
layerId=10420269

[com_55]
type=Layer
width=8188
height=16391
widthAlignment=Percentage
heightAlignment=Percentage
yAlignment=Center
layerId=10420269

[com_56]
type=Layer
width=16391
height=8192
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Center
layerId=10420269

[com_57]
type=Layer
width=16391
height=8182
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Center
yAlignment=Bottom_Right
layerId=10420269

[com_58]
type=Layer
width=512
height=334
xAlignment=Center
yAlignment=Center
layerId=10420269

[com_59]
type=Sprite
width=256
height=16384
widthAlignment=Offset
heightAlignment=Percentage
yAlignment=Center
layerId=10420279
graphic=297
tiling=yes
outline=2

[com_60]
type=Sprite
width=256
height=16391
widthAlignment=Offset
heightAlignment=Percentage
xAlignment=Bottom_Right
yAlignment=Center
layerId=10420278
graphic=297
tiling=yes
outline=2

[com_61]
type=Sprite
width=16391
height=167
widthAlignment=Percentage
heightAlignment=Offset
xAlignment=Center
layerId=10420280
graphic=297
tiling=yes
outline=2

[com_62]
type=Sprite
width=16391
height=166
widthAlignment=Percentage
heightAlignment=Offset
xAlignment=Center
yAlignment=Bottom_Right
layerId=10420281
graphic=297
tiling=yes
outline=2
