[prevent_clickthru]
type=Rectangle
width=512
height=334
colour=0xF622C0C
fill=yes

[com_1]
type=Rectangle
y=144
width=512
height=20
colour=0x00000F
fill=yes

[com_2]
type=Rectangle
x=138
y=30
width=232
height=236
colour=0xF303030
fill=yes

[com_3]
type=Rectangle
x=144
y=37
width=220
height=222
colour=0xF585858
fill=yes

[com_4]
type=Rectangle
x=155
y=48
width=43
height=43
colour=0xF303030
fill=yes

[com_5]
type=Rectangle
x=259
y=48
width=43
height=43
colour=0xF303030
fill=yes

[com_6]
type=Rectangle
x=207
y=48
width=43
height=43
colour=0xF303030
fill=yes

[com_7]
type=Rectangle
x=154
y=99
width=43
height=43
colour=0xF303030
fill=yes

[com_8]
type=Rectangle
x=311
y=48
width=43
height=43
colour=0xF303030
fill=yes

[com_9]
type=Rectangle
x=206
y=100
width=43
height=43
colour=0xF303030
fill=yes

[com_10]
type=Rectangle
x=258
y=100
width=43
height=43
colour=0xF303030
fill=yes

[com_11]
type=Rectangle
x=310
y=100
width=43
height=43
colour=0xF303030
fill=yes

[com_12]
type=Rectangle
x=155
y=152
width=43
height=43
colour=0xF303030
fill=yes

[com_13]
type=Rectangle
x=206
y=151
width=43
height=43
colour=0xF303030
fill=yes

[com_14]
type=Rectangle
x=259
y=151
width=43
height=43
colour=0xF303030
fill=yes

[com_15]
type=Rectangle
x=310
y=152
width=43
height=43
colour=0xF303030
fill=yes

[com_16]
type=Rectangle
x=154
y=204
width=43
height=43
colour=0xF303030
fill=yes

[com_17]
type=Rectangle
x=206
y=204
width=43
height=43
colour=0xF303030
fill=yes

[com_18]
type=Rectangle
x=259
y=203
width=43
height=43
colour=0xF303030
fill=yes

[com_19]
type=Rectangle
x=311
y=203
width=43
height=43
colour=0xF303030
fill=yes

[com_20]
type=Rectangle
buttonType=Button
x=160
y=53
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr1c1]
type=Rectangle
buttonType=Button
x=212
y=53
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr1c1]
type=Rectangle
buttonType=Button
x=264
y=53
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr1c2]
type=Rectangle
buttonType=Button
x=316
y=53
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr1c2]
type=Rectangle
buttonType=Button
x=159
y=105
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr1c3]
type=Rectangle
buttonType=Button
x=211
y=105
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr1c3]
type=Rectangle
buttonType=Button
x=263
y=105
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr1c4]
type=Rectangle
buttonType=Button
x=315
y=105
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr1c4]
type=Rectangle
buttonType=Button
x=160
y=157
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr2c1]
type=Rectangle
buttonType=Button
x=211
y=157
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr2c1]
type=Rectangle
buttonType=Button
x=264
y=157
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr2c2]
type=Rectangle
buttonType=Button
x=315
y=157
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr2c2]
type=Rectangle
buttonType=Button
x=159
y=209
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr2c3]
type=Rectangle
buttonType=Button
x=211
y=209
width=33
height=32
colour=0xFE9C001
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr2c3]
type=Rectangle
buttonType=Button
x=264
y=209
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[tsr2c4]
type=Rectangle
buttonType=Button
x=316
y=209
width=33
height=32
colour=0xFA9907
fill=yes
buttonText="Place-rune"
eventCode=flag22

[rogue_tsr2c4]
type=Rectangle
x=280
y=295
width=89
height=31
colour=0x202020
fill=yes

[tsr3c1]
type=Rectangle
x=391
y=67
width=113
height=174
colour=0xF303030
fill=yes

[rogue_tsr3c1]
type=Rectangle
x=402
y=79
width=93
height=149
colour=0xF585858
fill=yes

[tsr3c2]
type=Rectangle
x=9
y=63
width=113
height=174
colour=0xF303030
fill=yes

[rogue_tsr3c2]
type=Rectangle
x=19
y=76
width=93
height=149
colour=0xF585858
fill=yes

[tsr3c3]
type=Text
buttonType=Button
x=279
y=294
width=91
height=32
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="open casket"
eventCode=flag22

[rogue_tsr3c3]
type=Layer
x=7
y=283
width=42
height=42

[tsr3c4]
type=Model
x=5
y=5
width=32
height=32
layerId=18939946
model1Id=8986
modelZoom=600
modelXAn=500
script1=eq,5
script1op1=varp,if1

[rogue_tsr3c4]
type=Model
x=5
y=5
width=32
height=32
layerId=18939946
model2Id=8986
modelZoom=600
modelXAn=500
script1=eq,1
script1op1=varp,if1

[tsr4c1]
type=Layer
x=64
y=283
width=42
height=42

[rogue_tsr4c1]
type=Model
x=5
y=5
width=32
height=32
layerId=18939949
model2Id=8986
modelZoom=600
modelXAn=500
script1=eq,1
script1op1=varp,if1

[tsr4c2]
type=Model
x=5
y=5
width=32
height=32
layerId=18939949
model1Id=8986
modelZoom=600
modelXAn=500
script1=eq,5
script1op1=varp,if1

[rogue_tsr4c2]
type=Layer
x=117
y=283
width=42
height=42

[tsr4c3]
type=Model
x=5
y=5
width=32
height=32
layerId=18939952
model2Id=8986
modelZoom=600
modelXAn=500
script1=eq,1
script1op1=varp,if1

[rogue_tsr4c3]
type=Model
x=5
y=5
width=32
height=32
layerId=18939952
model1Id=8986
modelZoom=600
modelXAn=500
script1=eq,5
script1op1=varp,if1

[tsr4c4]
type=Layer
x=171
y=282
width=42
height=42

[rogue_tsr4c4]
type=Model
x=5
y=5
width=32
height=32
layerId=18939955
model2Id=8986
modelZoom=600
modelXAn=500
script1=eq,1
script1op1=varp,if1

[com_53]
type=Model
x=5
y=5
width=32
height=32
layerId=18939955
model1Id=8986
modelZoom=600
modelXAn=500
script1=eq,5
script1op1=varp,if1

[com_54]
type=Layer
x=226
y=282
width=42
height=42

[com_55]
type=Model
x=5
y=5
width=32
height=32
layerId=18939958
model2Id=8986
modelZoom=600
modelXAn=500
script1=eq,1
script1op1=varp,if1

[com_56]
type=Model
x=5
y=5
width=32
height=32
layerId=18939958
model1Id=8986
modelZoom=600
modelXAn=500
script1=eq,5
script1op1=varp,if1

[com_57]
type=Model
buttonType=Button
x=11
y=289
width=32
height=32
model1Id=8979
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_ts_open]
type=Model
buttonType=Button
x=68
y=288
width=32
height=32
model1Id=8987
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_ts_earthlayer]
type=Model
buttonType=Button
x=121
y=289
width=32
height=32
model1Id=8975
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_ts_selectone]
type=Model
buttonType=Button
x=176
y=288
width=32
height=32
model1Id=8980
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_ts_selectonemo]
type=Model
buttonType=Button
x=230
y=287
width=32
height=32
model1Id=8985
modelZoom=652
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_ts_waterlayer]
type=Inventory
x=159
y=53
width=4
height=4
widthAlignment=Grid
heightAlignment=Grid
marginX=20
marginY=20

[rogue_ts_selecttwomo]
type=Sprite
x=484
y=5
width=26
height=23
overLayerId=65
graphic=539

[rogue_ts_selecttwo]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=18939969
graphic=540
buttonText="Ok"

[rogue_ts_airlayer]
type=Layer
x=481
y=1
width=32
height=32
hide=yes
