[prevent_clickthru]
type=Rectangle
width=512
height=334
colour=0xF622C0C
fill=yes

[com_1]
type=Rectangle
y=150
width=511
height=19
fill=yes

[com_2]
type=Rectangle
x=5
y=89
width=86
height=145
colour=0xF303030
fill=yes

[com_3]
type=Rectangle
x=470
y=90
width=86
height=145
colour=0xF303030
fill=yes

[com_4]
type=Rectangle
x=99
width=359
height=334
colour=0xF303030
fill=yes

[com_5]
type=Rectangle
x=107
width=343
height=334
colour=0xF585858
fill=yes

[com_6]
type=Rectangle
x=12
y=98
width=71
height=130
colour=0xF585858
fill=yes

[com_7]
type=Rectangle
x=479
y=99
width=71
height=130
colour=0xF585858
fill=yes

[com_8]
type=Rectangle
x=7
y=53
width=84
height=24
colour=0xF312314
fill=yes

[com_9]
type=Text
buttonType=Button
x=6
y=52
width=86
height=26
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="open casket"
eventCode=flag22

[rogue_tb_open]
type=Rectangle
buttonType=Button
x=114
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c1]
type=Rectangle
buttonType=Button
x=151
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr1]
type=Rectangle
buttonType=Button
x=188
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c2]
type=Rectangle
buttonType=Button
x=225
y=4
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr2]
type=Rectangle
buttonType=Button
x=262
y=4
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr1c3]
type=Rectangle
buttonType=Button
x=299
y=4
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr3]
type=Rectangle
buttonType=Button
x=336
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c4]
type=Rectangle
buttonType=Button
x=373
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr4]
type=Rectangle
buttonType=Button
x=410
y=4
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c5]
type=Rectangle
buttonType=Button
x=114
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr5]
type=Rectangle
buttonType=Button
x=151
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c6]
type=Rectangle
buttonType=Button
x=188
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr6]
type=Rectangle
buttonType=Button
x=225
y=41
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr1c7]
type=Rectangle
buttonType=Button
x=262
y=41
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr7]
type=Rectangle
buttonType=Button
x=299
y=41
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr1c8]
type=Rectangle
buttonType=Button
x=336
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr8]
type=Rectangle
buttonType=Button
x=373
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr1c9]
type=Rectangle
buttonType=Button
x=410
y=41
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr9]
type=Rectangle
buttonType=Button
x=114
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c1]
type=Rectangle
buttonType=Button
x=151
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr10]
type=Rectangle
buttonType=Button
x=188
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c2]
type=Rectangle
buttonType=Button
x=225
y=78
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr11]
type=Rectangle
buttonType=Button
x=262
y=78
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr2c3]
type=Rectangle
buttonType=Button
x=299
y=78
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr12]
type=Rectangle
buttonType=Button
x=336
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c4]
type=Rectangle
buttonType=Button
x=373
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr13]
type=Rectangle
buttonType=Button
x=410
y=78
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c5]
type=Rectangle
buttonType=Button
x=114
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr14]
type=Rectangle
buttonType=Button
x=151
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr2c6]
type=Rectangle
buttonType=Button
x=188
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr15]
type=Rectangle
buttonType=Button
x=225
y=115
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c7]
type=Rectangle
buttonType=Button
x=262
y=115
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr16]
type=Rectangle
buttonType=Button
x=299
y=115
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr2c8]
type=Rectangle
buttonType=Button
x=336
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr17]
type=Rectangle
buttonType=Button
x=373
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr2c9]
type=Rectangle
buttonType=Button
x=410
y=115
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr18]
type=Rectangle
buttonType=Button
x=114
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c1]
type=Rectangle
buttonType=Button
x=151
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr19]
type=Rectangle
buttonType=Button
x=188
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c2]
type=Rectangle
buttonType=Button
x=225
y=152
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr20]
type=Rectangle
buttonType=Button
x=262
y=152
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr3c3]
type=Rectangle
buttonType=Button
x=299
y=152
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr21]
type=Rectangle
buttonType=Button
x=336
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c4]
type=Rectangle
buttonType=Button
x=373
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr22]
type=Rectangle
buttonType=Button
x=410
y=152
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c5]
type=Rectangle
buttonType=Button
x=114
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr23]
type=Rectangle
buttonType=Button
x=151
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c6]
type=Rectangle
buttonType=Button
x=188
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr24]
type=Rectangle
buttonType=Button
x=225
y=189
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr3c7]
type=Rectangle
buttonType=Button
x=262
y=189
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr25]
type=Rectangle
buttonType=Button
x=299
y=189
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr3c8]
type=Rectangle
buttonType=Button
x=336
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr26]
type=Rectangle
buttonType=Button
x=373
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr3c9]
type=Rectangle
buttonType=Button
x=410
y=189
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr27]
type=Rectangle
buttonType=Button
x=114
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c1]
type=Rectangle
buttonType=Button
x=151
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr28]
type=Rectangle
buttonType=Button
x=188
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c2]
type=Rectangle
buttonType=Button
x=225
y=226
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr29]
type=Rectangle
buttonType=Button
x=262
y=226
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr4c3]
type=Rectangle
buttonType=Button
x=299
y=226
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr30]
type=Rectangle
buttonType=Button
x=336
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c4]
type=Rectangle
buttonType=Button
x=373
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr31]
type=Rectangle
buttonType=Button
x=410
y=226
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c5]
type=Rectangle
buttonType=Button
x=114
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr32]
type=Rectangle
buttonType=Button
x=151
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c6]
type=Rectangle
buttonType=Button
x=188
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr33]
type=Rectangle
buttonType=Button
x=225
y=263
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr4c7]
type=Rectangle
buttonType=Button
x=262
y=263
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr34]
type=Rectangle
buttonType=Button
x=299
y=263
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr4c8]
type=Rectangle
buttonType=Button
x=336
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr35]
type=Rectangle
buttonType=Button
x=373
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr4c9]
type=Rectangle
buttonType=Button
x=410
y=263
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr36]
type=Rectangle
buttonType=Button
x=115
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr5c1]
type=Rectangle
buttonType=Button
x=151
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr37]
type=Rectangle
buttonType=Button
x=189
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr5c2]
type=Rectangle
buttonType=Button
x=225
y=300
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr38]
type=Rectangle
buttonType=Button
x=262
y=300
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tbr5c3]
type=Rectangle
buttonType=Button
x=299
y=300
width=32
height=32
colour=0xFE9C001
fill=yes
eventCode=flag22

[rogue_tsr39]
type=Rectangle
buttonType=Button
x=336
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr5c4]
type=Rectangle
buttonType=Button
x=373
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tsr40]
type=Rectangle
buttonType=Button
x=410
y=300
width=32
height=32
colour=0xFA9907
fill=yes
eventCode=flag22

[rogue_tbr5c5]
type=Layer
x=4
y=284
width=47
height=48

[rogue_tsr41]
type=Layer
x=3
y=234
width=47
height=48

[rogue_tbr5c6]
type=Layer
x=3
y=184
width=47
height=48

[rogue_tsr42]
type=Layer
x=3
y=134
width=47
height=48

[rogue_tbr5c7]
type=Layer
x=3
y=84
width=47
height=48

[rogue_tsr43]
type=Layer
x=52
y=134
width=47
height=48

[rogue_tbr5c8]
type=Layer
x=52
y=184
width=47
height=48

[rogue_tsr44]
type=Layer
x=52
y=234
width=47
height=48

[rogue_tbr5c9]
type=Layer
x=53
y=284
width=47
height=48

[rogue_tsr45]
type=Layer
x=52
y=84
width=47
height=48

[rogue_tbr6c1]
type=Model
x=8
y=8
width=32
height=32
layerId=18874459
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tsr46]
type=Model
x=8
y=8
width=32
height=32
layerId=18874460
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tbr6c2]
type=Model
x=8
y=8
width=32
height=32
layerId=18874461
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tsr47]
type=Model
x=8
y=8
width=32
height=32
layerId=18874462
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tbr6c3]
type=Model
x=8
y=8
width=32
height=32
layerId=18874463
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tsr48]
type=Model
x=8
y=8
width=32
height=32
layerId=18874464
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tbr6c4]
type=Model
x=8
y=8
width=32
height=32
layerId=18874465
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tsr49]
type=Model
x=8
y=8
width=32
height=32
layerId=18874466
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tbr6c5]
type=Model
x=8
y=8
width=32
height=32
layerId=18874467
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tsr50]
type=Model
x=8
y=8
width=32
height=32
layerId=18874468
model1Id=8986
modelZoom=600
modelXAn=500

[rogue_tbr6c6]
type=Model
x=8
y=8
width=32
height=32
layerId=18874459
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tsr51]
type=Model
x=8
y=8
width=32
height=32
layerId=18874460
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tbr6c7]
type=Model
x=8
y=8
width=32
height=32
layerId=18874461
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tsr52]
type=Model
x=8
y=8
width=32
height=32
layerId=18874462
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tbr6c8]
type=Model
x=8
y=8
width=32
height=32
layerId=18874463
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tsr53]
type=Model
x=8
y=8
width=32
height=32
layerId=18874464
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tbr6c9]
type=Model
x=8
y=8
width=32
height=32
layerId=18874465
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tsr54]
type=Model
x=8
y=8
width=32
height=32
layerId=18874466
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tbr7c1]
type=Model
x=8
y=8
width=32
height=32
layerId=18874467
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tsr55]
type=Model
x=8
y=8
width=32
height=32
layerId=18874468
model2Id=8985
modelZoom=600
modelXAn=500

[rogue_tbr7c2]
type=Model
buttonType=Button
x=12
y=292
width=32
height=32
model1Id=8979
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tsr56]
type=Model
buttonType=Button
x=11
y=242
width=32
height=32
model1Id=8987
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tbr7c3]
type=Model
buttonType=Button
x=9
y=193
width=32
height=32
model1Id=8975
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tsr57]
type=Model
buttonType=Button
x=9
y=92
width=32
height=32
model1Id=8982
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tbr7c4]
type=Model
buttonType=Button
x=10
y=142
width=32
height=32
model1Id=8980
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tsr58]
type=Model
buttonType=Button
x=59
y=143
width=32
height=32
model1Id=8976
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tbr7c5]
type=Model
buttonType=Button
x=59
y=193
width=32
height=32
model1Id=8978
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tsr59]
type=Model
buttonType=Button
x=60
y=242
width=32
height=32
model1Id=8977
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tbr7c6]
type=Model
buttonType=Button
x=61
y=292
width=32
height=32
model1Id=8981
modelZoom=600
modelXAn=500
modelYAn=1050
eventCode=flag22

[rogue_tsr60]
type=Model
buttonType=Button
x=60
y=92
width=32
height=32
model1Id=8985
modelZoom=600
modelXAn=500
eventCode=flag22

[rogue_tbr7c7]
type=Inventory
x=114
y=4
width=9
height=9
widthAlignment=Grid
heightAlignment=Grid
marginX=5
marginY=5

[rogue_tsr61]
type=Sprite
x=4
y=5
width=26
height=23
overLayerId=134
graphic=539

[rogue_tbr7c8]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=18874502
graphic=540
buttonText="Ok"

[rogue_tsr62]
type=Layer
x=1
width=32
height=32
hide=yes
