[com_0]
type=Model
x=230
y=142
width=32
height=32
model1Id=16964
modelZoom=510
modelXAn=560
modelYAn=2037

[rum_deal_translate_title]
type=Text
x=50
y=92
width=165
height=51
colour=0x676725
hAlign=Right
vAlign=Bottom
font=646
shadow=yes
text="Rum"

[com_2]
type=Text
x=262
y=85
width=119
height=57
colour=0x676725
vAlign=Bottom
font=646
shadow=yes
text="Deal"
