[firework_layer]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[background]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[content]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[wealth_eval_layer]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[wealth_eval_confirm_button]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[wealth_eval_text]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[item_model]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[confirm_button]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[preset_rent_layer]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[preset_buy_layer]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[border]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[close]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[parent]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,38076428,832
onmouseleave=44,38076428,831
onop=29

[fireworks_1]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[fireworks_2]
type=Text
x=107
y=104
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Danger! Death Plateau is not named that for<br> a joke! If you continue down this path you will<br> be assailed by trolls! If you are not prepared<br> for that you should turn back now!"

[fireworks_3]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[fireworks_4]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[fireworks_5]
type=Text
x=1
y=2
width=315
height=15
layerId=38076435
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't show me this again"

[fireworks_6]
type=Sprite
x=2
width=19
height=19
layerId=38076435
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,38076434,24
onclick=163,38076434
onvartransmitlist=1047

[fireworks_7]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
