[com_0]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[com_1]
type=Model
x=242
y=152
width=35
height=35
model1Id=28554
modelZoom=482
modelXAn=2047
modelYAn=2047
modelZAn=2047
discardedModelField=0

[com_2]
type=Sprite
x=6
y=2
width=39
height=39
layerId=1769475
graphic=1062
eventCode=pauseButton

[com_3]
type=Layer
x=38
y=282
width=45
height=36

[com_4]
type=Sprite
width=39
height=39
layerId=1769477
graphic=1063
eventCode=pauseButton

[com_5]
type=Layer
x=430
y=286
width=45
height=36

[com_6]
type=Text
x=86
y=294
width=80
height=20
hAlign=Center
font=497
text="page%1"

[com_7]
type=Text
x=348
y=295
width=80
height=20
hAlign=Center
font=497
text="page%2"

[com_8]
type=Sprite
x=484
y=4
width=21
height=21
graphic=1064
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,1065
onmouseleave=44,component.parentId,1064
onop=517

[com_9]
type=Text
x=10
y=10
width=496
height=19
colour=0xFF981F
hAlign=Center
font=497
shadow=yes

[com_10]
type=Layer
x=28
y=55
width=201
height=241
hide=yes

[com_11]
type=Model
x=87
y=-9
width=32
height=32
layerId=1769482
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_12]
type=Layer
x=29
y=56
width=201
height=241
hide=yes

[com_13]
type=Model
x=86
y=6
width=32
height=32
layerId=1769484
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[runeleft]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[runeleft_1]
type=Model
x=87
y=24
width=32
height=32
layerId=1769486
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[runeleft_2]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[runeleft_3]
type=Model
x=87
y=40
width=32
height=32
layerId=1769488
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[date_shadow_txt]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[date_txt]
type=Model
x=87
y=56
width=32
height=32
layerId=1769490
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[runefest_shadow_txt]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[runefest_txt]
type=Model
x=87
y=72
width=32
height=32
layerId=1769492
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[planter]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[bespoke_window]
type=Model
x=87
y=87
width=32
height=32
layerId=1769494
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[bespoke_window_background]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[bespoke_window_content]
type=Model
x=87
y=104
width=32
height=32
layerId=1769496
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[bespoke_window_border]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[bespoke_window_close]
type=Model
x=87
y=120
width=32
height=32
layerId=1769498
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_28]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_29]
type=Model
x=87
y=136
width=32
height=32
layerId=1769500
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_30]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_31]
type=Model
x=87
y=154
width=32
height=32
layerId=1769502
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_32]
type=Layer
x=29
y=56
width=201
height=241
hide=yes

[com_33]
type=Model
x=86
y=168
width=32
height=32
layerId=1769504
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_34]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_35]
type=Model
x=86
y=184
width=32
height=32
layerId=1769506
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_36]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_37]
type=Model
x=87
y=201
width=32
height=32
layerId=1769508
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_38]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_39]
type=Text
x=27
y=54
width=202
height=17
font=497
text="line1"

[com_40]
type=Text
x=27
y=70
width=202
height=17
font=497
text="line2"

[com_41]
type=Text
x=27
y=86
width=202
height=17
font=497
text="line3"

[com_42]
type=Text
x=27
y=102
width=202
height=17
font=497
text="line4"

[com_43]
type=Text
x=27
y=118
width=202
height=17
font=497
text="line5"

[com_44]
type=Text
x=27
y=134
width=202
height=17
font=497
text="line6"

[com_45]
type=Text
x=27
y=150
width=202
height=17
font=497
text="line7"

[com_46]
type=Text
x=27
y=166
width=202
height=17
font=497
text="line8"

[com_47]
type=Text
x=27
y=182
width=202
height=17
font=497
text="line9"

[com_48]
type=Text
x=27
y=198
width=202
height=17
font=497
text="line10"

[com_49]
type=Text
x=27
y=214
width=202
height=17
font=497
text="line11"

[com_50]
type=Text
x=27
y=230
width=202
height=17
font=497
text="line12"

[com_51]
type=Text
x=27
y=246
width=202
height=17
font=497
text="line13"

[com_52]
type=Text
x=27
y=262
width=202
height=17
font=497
text="line14"

[com_53]
type=Text
x=27
y=278
width=202
height=17
font=497
text="line15"

[com_54]
type=Text
x=283
y=54
width=202
height=17
font=497
text="line16"

[com_55]
type=Text
x=283
y=70
width=202
height=17
font=497
text="line17"

[com_56]
type=Text
x=283
y=86
width=202
height=17
font=497
text="line18"

[com_57]
type=Text
x=283
y=102
width=202
height=17
font=497
text="line19"

[com_58]
type=Text
x=283
y=118
width=202
height=17
font=497
text="line20"

[com_59]
type=Text
x=283
y=134
width=202
height=17
font=497
text="line21"

[com_60]
type=Text
x=283
y=150
width=202
height=17
font=497
text="line22"

[com_61]
type=Text
x=283
y=166
width=202
height=17
font=497
text="line23"

[com_62]
type=Text
x=283
y=182
width=202
height=17
font=497
text="line24"

[com_63]
type=Text
x=283
y=198
width=202
height=17
font=497
text="line25"

[com_64]
type=Text
x=283
y=214
width=202
height=17
font=497
text="line26"

[com_65]
type=Text
x=283
y=230
width=202
height=17
font=497
text="line27"

[com_66]
type=Text
x=283
y=246
width=202
height=17
font=497
text="line28"

[com_67]
type=Text
x=283
y=262
width=202
height=17
font=497
text="line28"

[com_68]
type=Text
x=283
y=278
width=202
height=17
font=497
text="line29"

[com_69]
type=Model
x=88
y=217
width=32
height=32
layerId=1769510
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_70]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_71]
type=Model
x=88
y=-8
width=32
height=32
layerId=1769542
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_72]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_73]
type=Model
x=88
y=5
width=32
height=32
layerId=1769544
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_74]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_75]
type=Model
x=88
y=23
width=32
height=32
layerId=1769546
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_76]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_77]
type=Model
x=88
y=39
width=32
height=32
layerId=1769548
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_78]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_79]
type=Model
x=88
y=56
width=32
height=32
layerId=1769550
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_80]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_81]
type=Model
x=88
y=72
width=32
height=32
layerId=1769552
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_82]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_83]
type=Model
x=89
y=63
width=32
height=32
layerId=1769554
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_84]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_85]
type=Model
x=89
y=104
width=32
height=32
layerId=1769556
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_86]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_87]
type=Model
x=89
y=120
width=32
height=32
layerId=1769558
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_88]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_89]
type=Model
x=89
y=135
width=32
height=32
layerId=1769560
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_90]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_91]
type=Model
x=88
y=151
width=32
height=32
layerId=1769562
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_92]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_93]
type=Model
x=88
y=168
width=32
height=32
layerId=1769564
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_94]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_95]
type=Model
x=88
y=184
width=32
height=32
layerId=1769566
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_96]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_97]
type=Model
x=88
y=199
width=32
height=32
layerId=1769568
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_98]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_99]
type=Model
x=88
y=215
width=32
height=32
layerId=1769570
model1Id=3389
modelZoom=500
modelXAn=200
discardedModelField=0

[com_100]
type=Layer
x=27
y=54
width=202
height=22

[com_101]
type=Text
width=202
height=16
layerId=1769572
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_102]
type=Layer
x=27
y=70
width=202
height=22

[com_103]
type=Text
width=202
height=16
layerId=1769574
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_104]
type=Layer
x=27
y=86
width=202
height=22

[com_105]
type=Text
width=202
height=16
layerId=1769576
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_106]
type=Layer
x=27
y=102
width=202
height=22

[com_107]
type=Text
width=202
height=16
layerId=1769578
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_108]
type=Layer
x=27
y=118
width=202
height=22

[com_109]
type=Text
width=202
height=16
layerId=1769580
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_110]
type=Layer
x=27
y=134
width=202
height=22

[com_111]
type=Text
width=202
height=16
layerId=1769582
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_112]
type=Layer
x=27
y=150
width=202
height=22

[com_113]
type=Text
width=202
height=16
layerId=1769584
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_114]
type=Layer
x=27
y=166
width=202
height=22

[com_115]
type=Text
width=202
height=16
layerId=1769586
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_116]
type=Layer
x=27
y=182
width=202
height=22

[com_117]
type=Text
width=202
height=16
layerId=1769588
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_118]
type=Layer
x=27
y=198
width=202
height=22

[com_119]
type=Text
width=202
height=16
layerId=1769590
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_120]
type=Layer
x=27
y=214
width=202
height=22

[com_121]
type=Text
width=202
height=16
layerId=1769592
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_122]
type=Layer
x=27
y=230
width=202
height=22

[com_123]
type=Text
width=202
height=16
layerId=1769594
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_124]
type=Layer
x=27
y=246
width=202
height=22

[com_125]
type=Text
width=202
height=16
layerId=1769596
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_126]
type=Layer
x=27
y=262
width=202
height=22

[com_127]
type=Text
width=202
height=16
layerId=1769598
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_128]
type=Layer
x=27
y=278
width=202
height=22

[com_129]
type=Text
width=202
height=16
layerId=1769600
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_130]
type=Layer
x=283
y=54
width=202
height=22

[com_131]
type=Text
width=202
height=16
layerId=1769602
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_132]
type=Layer
x=283
y=70
width=202
height=22

[com_133]
type=Text
width=202
height=16
layerId=1769604
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_134]
type=Layer
x=283
y=86
width=202
height=22

[com_135]
type=Text
width=202
height=16
layerId=1769606
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_136]
type=Layer
x=283
y=102
width=202
height=22

[com_137]
type=Text
width=202
height=16
layerId=1769608
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_138]
type=Layer
x=283
y=118
width=202
height=22

[com_139]
type=Text
width=202
height=16
layerId=1769610
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_140]
type=Layer
x=283
y=134
width=202
height=22

[com_141]
type=Text
width=202
height=16
layerId=1769612
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_142]
type=Layer
x=283
y=150
width=202
height=22

[com_143]
type=Text
width=202
height=16
layerId=1769614
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_144]
type=Layer
x=283
y=166
width=202
height=22

[com_145]
type=Text
width=202
height=16
layerId=1769616
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_146]
type=Layer
x=283
y=182
width=202
height=22

[com_147]
type=Text
width=202
height=16
layerId=1769618
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_148]
type=Layer
x=283
y=198
width=202
height=22

[com_149]
type=Text
width=202
height=16
layerId=1769620
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_150]
type=Layer
x=283
y=214
width=202
height=22

[com_151]
type=Text
width=202
height=16
layerId=1769622
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_152]
type=Layer
x=283
y=230
width=202
height=22

[com_153]
type=Text
width=202
height=16
layerId=1769624
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_154]
type=Layer
x=283
y=246
width=202
height=22

[com_155]
type=Text
width=202
height=16
layerId=1769626
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_156]
type=Layer
x=283
y=262
width=202
height=22

[com_157]
type=Text
width=202
height=16
layerId=1769628
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_158]
type=Layer
x=283
y=278
width=202
height=22

[com_159]
type=Text
width=202
height=16
layerId=1769630
font=497
eventCode=pauseButton
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,0

[com_160]
type=Text
x=442
y=10
width=35
height=14
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Index"
eventCode=pauseButton

[com_161]
type=Sprite
x=74
width=39
height=39
graphic=1059

[com_162]
type=Sprite
x=81
width=351
height=39
graphic=1060

[com_163]
type=Sprite
x=400
width=39
height=39
graphic=1061

[com_164]
type=Text
x=149
y=5
width=220
height=21
colour=0x493217
hAlign=Center
font=645
text="Book Title"
