[listener]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[combination_1]
type=Text
buttonType=Button
y=23
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=flag22

[combination_2]
type=Text
buttonType=Button
y=47
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=flag22

[combination]
type=Text
buttonType=Button
y=71
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=flag22

[com_4]
type=Sprite
width=57
height=13
layerId=30015494
graphic=302

[com_5]
type=Sprite
x=280
width=57
height=13
layerId=30015494
graphic=301

[notch_pane]
type=Layer
x=72
y=1
width=337
height=13

[com_7]
type=Sprite
width=57
height=13
layerId=30015497
graphic=302

[com_8]
type=Sprite
x=419
width=57
height=13
layerId=30015497
graphic=301

[com_9]
type=Layer
x=2
y=1
width=476
height=13
hide=yes
