[sailing_transport_world_map]
type=Model
x=246
y=96
width=32
height=32
model1Id=17361
modelZoom=600
modelXAn=363
discardedModelField=0

[sailing_transport_tyras_marker]
type=Model
x=7
y=1
width=17
height=14
layerId=6225943
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_phantasmys_marker]
type=Model
x=98
y=3
width=17
height=14
layerId=6225944
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_catherby_marker]
type=Model
x=53
width=17
height=14
layerId=6225945
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_shipyard_marker]
type=Model
width=17
height=14
layerId=6225946
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_karamja_marker]
type=Model
width=17
height=14
layerId=6225947
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_brimhaven_marker]
type=Model
x=60
y=3
width=17
height=14
layerId=6225948
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_khazard_marker]
type=Model
x=2
y=3
width=17
height=14
layerId=6225949
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_sarim_marker]
type=Model
x=1
y=1
width=17
height=14
layerId=6225950
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_harmless_marker]
type=Model
x=95
y=3
width=17
height=14
layerId=6225951
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_crandor_marker]
type=Model
x=44
y=1
width=17
height=14
layerId=6225952
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_ogress_marker]
type=Model
x=7
y=1
width=17
height=14
layerId=6225953
model1Id=17360
modelZoom=400
modelXAn=355
modelXOf=1
discardedModelField=0

[sailing_transport_tyras]
type=Text
x=25
width=76
height=14
layerId=6225943
colour=0xFF981F
font=495
shadow=yes
text="Port Tyras"

[sailing_transport_phantasmys]
type=Text
width=90
height=14
layerId=6225944
colour=0xFF981F
font=495
shadow=yes
text="Port Phasmatys"

[sailing_transport_catherby]
type=Text
width=52
height=14
layerId=6225945
colour=0xFF981F
font=495
shadow=yes
text="Catherby"

[sailing_transport_shipyard]
type=Text
x=15
y=-2
width=85
height=20
layerId=6225946
colour=0xFF981F
font=495
shadow=yes
text="Shipyard"

[sailing_transport_karamja]
type=Text
x=16
width=109
height=17
layerId=6225947
colour=0xFF981F
font=495
shadow=yes
text=" Karamja"

[sailing_transport_brimhaven]
type=Text
y=1
width=59
height=14
layerId=6225948
colour=0xFF981F
font=495
shadow=yes
text="Brimhaven"

[sailing_transport_khazard]
type=Text
x=18
y=2
width=74
height=14
layerId=6225949
colour=0xFF981F
font=495
shadow=yes
text="Port Khazard"

[sailing_transport_sarim]
type=Text
x=18
width=119
height=15
layerId=6225950
colour=0xFF981F
font=495
shadow=yes
text="Port Sarim"

[sailing_transport_harmless]
type=Text
x=1
y=1
width=92
height=14
layerId=6225951
colour=0xFF981F
font=495
shadow=yes
text="Mos Le'Harmless"

[sailing_transport_crandor]
type=Text
width=61
height=14
layerId=6225952
colour=0xFF981F
font=495
shadow=yes
text="Crandor"

[sailing_transport_ogress]
type=Text
x=25
width=76
height=14
layerId=6225953
colour=0xFF981F
font=495
shadow=yes
text="Oo'glog"

[sailing_transport_go_tyras]
type=Layer
x=68
y=182
width=101
height=14
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225921,17359
onmouseleave=67,6225921,17360

[sailing_transport_go_phantasmys]
type=Layer
x=308
y=116
width=117
height=16
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225922,17359
onmouseleave=67,6225922,17360

[sailing_transport_go_catherby]
type=Layer
x=171
y=118
width=69
height=17
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225923,17359
onmouseleave=67,6225923,17360

[sailing_transport_go_shipyard]
type=Layer
x=253
y=205
width=100
height=15
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225924,17359
onmouseleave=67,6225924,17360

[sailing_transport_go_karamja]
type=Layer
x=247
y=178
width=128
height=17
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225925,17359
onmouseleave=67,6225925,17360

[sailing_transport_go_brimhaven]
type=Layer
x=154
y=156
width=76
height=18
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225926,17359
onmouseleave=67,6225926,17360

[sailing_transport_go_khazard]
type=Layer
x=174
y=191
width=93
height=16
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225927,17359
onmouseleave=67,6225927,17360

[sailing_transport_go_sarim]
type=Layer
x=281
y=162
width=136
height=15
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225928,17359
onmouseleave=67,6225928,17360

[sailing_transport_go_harmless]
type=Layer
x=321
y=220
width=114
height=17
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225929,17359
onmouseleave=67,6225929,17360

[sailing_transport_go_crandor]
type=Layer
x=186
y=144
width=61
height=15
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225930,17359
onmouseleave=67,6225930,17360

[sailing_transport_go_ogress]
type=Layer
x=162
y=233
width=101
height=19
eventCode=hasOp(1)
opName0="Ok"
onmouseover=67,6225931,17359
onmouseleave=67,6225931,17360

[sailing_transport_go_menaphos]
type=Sprite
x=483
y=6
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29
onclick=29
