[mainmodal_window]
type=Model
x=-477
y=-40
width=1346
height=412
model1Id=31024
modelZoom=250
modelXOf=17
modelYOf=205
discardedModelField=0

[mainmodal_window_background]
type=Text
x=58
y=58
width=387
height=222
colour=0x67472B
hAlign=Center
font=645
text="The runes must be in sets of three, I think, but I have had no luck in completing this conundrum. Perhaps, if my Thieving skills were greater, I could in some way interfere with the mechanism. May those who follow have more luck in this accursed place.<br>-Toralis of Menaphos"

[mainmodal_window_content]
type=Sprite
x=470
y=10
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29
