[content_layer]
type=Rectangle
x=-7
y=2
width=524
height=349
colour=0x251704
fill=yes
onload=740
onvartransmit=741
onvartransmitlist=1163

[bespoke_window]
type=Model
x=238
y=55
width=263
height=296
model1Id=31059
modelZoom=878
modelXOf=-113
modelYOf=-35
discardedModelField=0
onvartransmit=742
onvartransmitlist=1164

[com_2]
type=Model
x=258
y=72
width=224
height=117
model1Id=31052
modelZoom=878
modelXOf=-114
modelYOf=38
discardedModelField=0

[com_3]
type=Model
x=258
y=196
width=225
height=28
model1Id=31040
modelZoom=878
modelXOf=-114
modelYOf=-42
discardedModelField=0

[tool_1]
type=Model
x=258
y=227
width=224
height=69
model1Id=31053
modelZoom=878
modelXOf=-114
modelYOf=-93
discardedModelField=0

[tool_2]
type=Model
x=-40
y=-2
width=597
height=373
model1Id=31037
modelZoom=878
modelXOf=-2
modelYOf=-16
discardedModelField=0

[tool_3]
type=Model
x=-36
y=3
width=289
height=362
model1Id=31030
modelZoom=878
modelXOf=148
modelYOf=-16
discardedModelField=0

[com_7]
type=Model
x=265
y=3
width=288
height=362
model1Id=31047
modelZoom=878
modelXOf=-153
modelYOf=-16
discardedModelField=0

[com_8]
type=Model
x=54
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[com_9]
type=Model
x=86
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_1]
type=Model
x=119
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_2]
type=Model
x=152
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_3]
type=Model
x=185
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_4]
type=Model
x=218
y=90
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_5]
type=Model
x=54
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_6]
type=Model
x=86
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_7]
type=Model
x=119
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_8]
type=Model
x=152
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_9]
type=Model
x=185
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_10]
type=Model
x=218
y=122
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_11]
type=Model
x=54
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_12]
type=Model
x=86
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_13]
type=Model
x=119
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_14]
type=Model
x=152
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_15]
type=Model
x=185
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_16]
type=Model
x=218
y=154
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_17]
type=Model
x=54
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_18]
type=Model
x=86
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_19]
type=Model
x=119
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_20]
type=Model
x=152
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_21]
type=Model
x=185
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_22]
type=Model
x=218
y=186
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_23]
type=Model
x=54
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_24]
type=Model
x=86
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_25]
type=Model
x=119
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_26]
type=Model
x=152
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_27]
type=Model
x=185
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_28]
type=Model
x=218
y=218
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_29]
type=Model
x=54
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_30]
type=Model
x=86
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_31]
type=Model
x=119
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_32]
type=Model
x=152
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_33]
type=Model
x=185
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_34]
type=Model
x=218
y=250
width=30
height=31
model1Id=31025
modelZoom=750
modelXOf=-3
modelYOf=-18
discardedModelField=0
eventCode=hasOp(1)
opName0="Press"

[scab_rune_35]
type=Sprite
x=470
y=23
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29

[scab_rune_36]
type=Layer
x=279
y=87
width=182
height=94
eventCode=hasOp(1)
opName0="Manipulate cog"

[tool_01_helper]
type=Layer
x=278
y=182
width=182
height=44
eventCode=hasOp(1)
opName0="Manipulate pinion"

[tool_02_helper]
type=Layer
x=278
y=227
width=182
height=48
eventCode=hasOp(1)
opName0="Manipulate switch"

[tool_03_helper]
type=Text
x=326
y=294
width=32
height=32
colour=0xBF751D
font=645
shadow=yes

[counter_01]
type=Text
x=361
y=294
width=32
height=32
colour=0xBF751D
font=645
shadow=yes
