[scoreboard_title]
type=Rectangle
x=-8
y=-3
width=520
height=480
trans=196
fill=yes

[name_list_content_layer]
type=Model
x=1
y=14
width=509
height=311
model1Id=15271
modelZoom=511
modelXAn=523
modelYAn=1033
modelXOf=3
modelYOf=-6
discardedModelField=0

[scoreboard_layer]
type=Text
x=76
y=70
width=349
height=36
colour=0x999999
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Choose the stat you wish to be advanced!"

[overlay_layer]
type=Sprite
x=167
y=126
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Attack"
onclick=789,component.parentId

[scoreboard_name]
type=Sprite
x=199
y=126
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Strength"
onclick=789,component.parentId

[scoreboard_score]
type=Sprite
x=231
y=126
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Ranged"
onclick=789,component.parentId

[scoreboard_rank]
type=Sprite
x=263
y=126
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Magic"
onclick=789,component.parentId

[com_7]
type=Sprite
x=295
y=126
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Defence"
onclick=789,component.parentId

[com_8]
type=Sprite
x=167
y=156
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Hitpoints"
onclick=789,component.parentId

[com_9]
type=Sprite
x=199
y=156
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Prayer"
onclick=789,component.parentId

[com_10]
type=Sprite
x=231
y=156
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Agility"
onclick=789,component.parentId

[com_11]
type=Sprite
x=263
y=156
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Herblore"
onclick=789,component.parentId

[com_12]
type=Sprite
x=295
y=156
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Thieving"
onclick=789,component.parentId

[com_13]
type=Sprite
x=326
y=127
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Crafting"
onclick=789,component.parentId

[com_14]
type=Sprite
x=166
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Runecrafting"
onclick=789,component.parentId

[com_15]
type=Sprite
x=262
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Mining"
onclick=789,component.parentId

[com_16]
type=Sprite
x=294
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Smithing"
onclick=789,component.parentId

[com_17]
type=Sprite
x=325
y=155
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Fishing"
onclick=789,component.parentId

[com_18]
type=Sprite
x=166
y=212
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Cooking"
onclick=789,component.parentId

[com_19]
type=Sprite
x=198
y=212
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Firemaking"
onclick=789,component.parentId

[com_20]
type=Sprite
x=230
y=212
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Woodcutting"
onclick=789,component.parentId

[com_21]
type=Sprite
x=262
y=212
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Fletching"
onclick=789,component.parentId

[com_22]
type=Sprite
x=198
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Slayer"
onclick=789,component.parentId

[com_23]
type=Sprite
x=230
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Farming"
onclick=789,component.parentId

[com_24]
type=Sprite
x=294
y=212
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Construction"
onclick=789,component.parentId

[com_25]
type=Sprite
x=325
y=184
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Hunter"
onclick=789,component.parentId

[com_26]
type=Sprite
x=324
y=213
width=25
height=25
graphic=195
eventCode=hasOp(1)
opName0="Summoning"
onclick=789,component.parentId

[name_list_numbers]
type=Text
x=210
y=266
width=93
height=14
colour=0x666666
hAlign=Center
font=495
shadow=yes
text="Confirm"
eventCode=hasOp(1)
opName0="Confirm"
onmouseover=45,8781851,16777215
onmouseleave=45,8781851,6710886
onvartransmit=790
onvartransmitlist=261

[name_list_text]
type=Sprite
x=167
y=126
width=25
height=25
graphic=197

[name_list_scores]
type=Sprite
x=199
y=126
width=25
height=25
graphic=198

[root_layer]
type=Sprite
x=231
y=126
width=25
height=25
graphic=200

[background_layer]
type=Sprite
x=263
y=126
width=25
height=25
graphic=202

[content_layer]
type=Sprite
x=295
y=126
width=25
height=25
graphic=199

[frame_layer]
type=Sprite
x=167
y=156
width=25
height=25
graphic=203

[close_button_layer]
type=Sprite
x=199
y=156
width=25
height=25
graphic=201

[com_35]
type=Sprite
x=231
y=156
width=25
height=25
graphic=204

[com_36]
type=Sprite
x=263
y=156
width=25
height=25
graphic=205

[com_37]
type=Sprite
x=295
y=156
width=25
height=25
graphic=206

[com_38]
type=Sprite
x=326
y=127
width=25
height=25
graphic=207

[com_39]
type=Sprite
x=166
y=184
width=25
height=25
graphic=215

[com_40]
type=Sprite
x=262
y=184
width=25
height=25
graphic=209

[com_41]
type=Sprite
x=294
y=184
width=25
height=25
graphic=210

[com_42]
type=Sprite
x=325
y=155
width=25
height=25
graphic=211

[com_43]
type=Sprite
x=166
y=212
width=25
height=25
graphic=212

[com_44]
type=Sprite
x=198
y=212
width=25
height=25
graphic=213

[com_45]
type=Sprite
x=230
y=212
width=25
height=25
graphic=214

[com_46]
type=Sprite
x=262
y=212
width=25
height=25
graphic=208

[com_47]
type=Sprite
x=198
y=184
width=25
height=25
graphic=216

[com_48]
type=Sprite
x=230
y=184
width=25
height=25
graphic=217

[com_49]
type=Sprite
x=294
y=212
width=25
height=25
graphic=221

[com_50]
type=Sprite
x=325
y=184
width=25
height=25
graphic=220

[com_51]
type=Sprite
x=324
y=213
width=25
height=25
graphic=222

[com_52]
type=Sprite
x=478
y=20
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,8781876,540
onmouseleave=44,8781876,539
onop=29
