[mainmodal_window]
type=Model
x=238
y=168
width=46
height=32
model1Id=9853
modelZoom=800
modelXAn=490

[mainmodal_window_background]
type=Text
x=81
y=89
width=344
height=17
colour=0x362407
hAlign=Center
font=497
text="I (insert full name here) do hereby swear fealty   "

[mainmodal_window_content]
type=Text
x=82
y=113
width=344
height=17
colour=0x362407
hAlign=Center
font=497
text="and indebtedness to the Fairy Godfather until"

[com_3]
type=Text
x=82
y=137
width=295
height=17
colour=0x362407
hAlign=Center
font=497
text="such time as he releases me from my bond."

[layer_1]
type=Text
x=82
y=160
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[mainmodal_window_border]
type=Text
x=82
y=182
width=44
height=17
colour=0x362407
hAlign=Center
font=497
text="Signed"

[mainmodal_window_close_button]
type=Text
x=82
y=204
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[messagescroll1_gf]
type=Text
x=82
y=226
width=214
height=17
colour=0x362407
hAlign=Center
font=497
text="(insert full name and date here)"

[messagescroll2_gf]
type=Text
x=82
y=249
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[messagescroll3_gf]
type=Sprite
x=421
y=52
width=26
height=23
overLayerId=11
graphic=537

[messagescroll4_gf]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=27983883
graphic=538
buttonText="Ok"

[messagescroll5_gf]
type=Layer
x=417
y=48
width=32
height=32
hide=yes
