[seaslug_map_model]
type=Rectangle
width=581
height=402
trans=42
colour=0x39391F
colour2=0x39391F
colourOver=0x39391F
colour2Over=0x39391F
fill=yes

[seaslug_island]
type=Model
x=234
y=137
width=32
height=32
model1Id=18428
modelZoom=1070
modelXAn=318
modelYAn=3

[seaslug_witchaven]
type=Model
x=235
y=138
width=32
height=32
layerId=30212106
model1Id=18429
modelAnim=seaslug_witchaven_to_fishing_platform
modelZoom=1070
modelXAn=318
modelYAn=3

[seaslug_fishing_platform]
type=Model
x=235
y=138
width=32
height=32
layerId=30212107
model1Id=18429
modelAnim=seaslug_fishing_platform_to_witchaven
modelZoom=1070
modelXAn=318
modelYAn=3

[seaslug_witchhaven_to_fishingpier_layer]
type=Model
x=235
y=138
width=32
height=32
layerId=30212108
model1Id=18429
modelAnim=seaslug_fishing_platform_to_island
modelZoom=1070
modelXAn=318
modelYAn=3

[seaslug_fishpier_to_witchhaven_layer]
type=Model
x=235
y=138
width=32
height=32
layerId=30212109
model1Id=18429
modelAnim=seaslug_island_to_fishing_platform
modelZoom=1070
modelXAn=318
modelYAn=3

[seaslug_fishpier_to_isle_layer]
type=Model
x=35
y=35
width=32
height=32
layerId=30212110
model1Id=18429
modelAnim=seaslug_witchhaven_to_isle
modelZoom=400

[seaslug_isle_to_fishpier_layer]
type=Text
x=293
y=50
width=129
height=14
colour=0x9A9A49
hAlign=Center
font=495
shadow=yes
text="Island"

[seaslug_boat_witchhaven_to_isle_layer]
type=Text
x=64
y=229
width=140
height=13
colour=0x9A9A49
hAlign=Center
font=495
shadow=yes
text="Witchaven"

[layer_1]
type=Text
x=313
y=146
width=167
height=15
colour=0x9A9A49
hAlign=Center
font=495
shadow=yes
text="Fishing Platform"

[seaslug_boat_witchaven_to_fishpier]
type=Layer
x=-1
y=-1
width=512
height=334
hide=yes

[seaslug_boat_fishpier_to_witchhaven]
type=Layer
x=-1
y=-1
width=512
height=334
hide=yes

[seaslug_boat_fishpier_to_isle]
type=Layer
x=-1
y=-1
width=512
height=334
hide=yes

[seaslug_boat_isle_to_fishpier]
type=Layer
x=-1
y=-1
width=512
height=334
hide=yes

[seaslug_boat_witchhaven_to_isle]
type=Layer
x=-1
y=-1
width=512
height=334
hide=yes
