[modal_dialog_window]
type=Rectangle
x=2
y=68
width=508
height=172
colour=0x202020
fill=yes

[modal_dialog_window_background]
type=Rectangle
x=6
y=72
width=499
height=164
colour=0x404040
fill=yes

[modal_dialog_window_content]
type=Layer
x=12
y=20
width=488
height=36

[modal_dialog_window_border]
type=Sprite
x=94
y=-3
width=88
height=60
layerId=19529730
graphic=297

[modal_dialog_window_close_button]
type=Sprite
x=182
y=6
width=88
height=60
layerId=19529730
graphic=297

[com_5]
type=Sprite
x=270
y=6
width=88
height=60
layerId=19529730
graphic=297

[com_6]
type=Sprite
x=358
y=6
width=88
height=60
layerId=19529730
graphic=297

[com_7]
type=Sprite
x=394
y=6
width=88
height=60
layerId=19529730
graphic=297

[com_8]
type=Sprite
x=6
y=-1
width=88
height=60
layerId=19529730
graphic=297

[seera]
type=Sprite
x=60
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerb]
type=Sprite
x=96
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerc]
type=Sprite
x=132
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerd]
type=Sprite
x=168
y=16
width=36
height=36
layerId=19529730
graphic=173

[seera_left]
type=Sprite
x=204
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerb_left]
type=Sprite
x=240
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerc_left]
type=Sprite
x=276
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerd_left]
type=Sprite
x=312
y=16
width=36
height=36
layerId=19529730
graphic=173

[seera_right]
type=Sprite
x=348
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerb_right]
type=Sprite
x=384
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerc_right]
type=Sprite
x=420
y=16
width=36
height=36
layerId=19529730
graphic=173

[seerd_right]
type=Sprite
x=428
y=16
width=36
height=36
layerId=19529730
graphic=173

[3x1_positive]
type=Sprite
width=25
height=30
layerId=19529730
graphic=310

[positive_build]
type=Sprite
x=60
y=-15
width=36
height=36
layerId=19529730
graphic=314

[positive_click]
type=Sprite
x=96
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_24]
type=Sprite
x=132
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_25]
type=Sprite
x=168
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_26]
type=Sprite
x=204
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_27]
type=Sprite
x=240
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_28]
type=Sprite
x=276
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_29]
type=Sprite
x=312
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_30]
type=Sprite
x=348
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_31]
type=Sprite
x=384
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_32]
type=Sprite
x=420
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_33]
type=Sprite
x=25
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_34]
type=Sprite
x=463
width=25
height=30
layerId=19529730
graphic=311

[com_35]
type=Sprite
x=427
y=-15
width=36
height=36
layerId=19529730
graphic=314

[com_36]
type=Sprite
x=463
y=7
width=25
height=30
layerId=19529730
graphic=313

[com_37]
type=Sprite
x=25
y=16
width=36
height=36
layerId=19529730
graphic=173

[com_38]
type=Sprite
y=7
width=25
height=30
layerId=19529730
graphic=312

[com_39]
type=Model
x=54
y=116
width=32
height=32
model1Id=3041
modelZoom=550
modelXAn=400

[com_40]
type=Model
x=178
y=116
width=32
height=32
model1Id=3041
modelZoom=550
modelXAn=400

[com_41]
type=Model
x=302
y=116
width=32
height=32
model1Id=3041
modelZoom=550
modelXAn=400

[com_42]
type=Model
x=426
y=116
width=32
height=32
model1Id=3041
modelZoom=550
modelXAn=400

[com_43]
type=Text
x=65
y=97
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[com_44]
type=Text
x=189
y=97
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[com_45]
type=Text
x=313
y=97
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[com_46]
type=Text
x=437
y=97
width=9
height=14
colour=0x505050
hAlign=Center
font=496
text="A"

[com_47]
type=Sprite
buttonType=Button
x=22
y=196
width=45
height=36
graphic=308
eventCode=flag22

[com_48]
type=Sprite
buttonType=Button
x=70
y=196
width=45
height=36
graphic=309
eventCode=flag22

[com_49]
type=Sprite
buttonType=Button
x=146
y=196
width=45
height=36
graphic=308
eventCode=flag22

[com_50]
type=Sprite
buttonType=Button
x=194
y=196
width=45
height=36
graphic=309
eventCode=flag22

[com_51]
type=Sprite
buttonType=Button
x=270
y=196
width=45
height=36
graphic=308
eventCode=flag22

[com_52]
type=Sprite
buttonType=Button
x=318
y=196
width=45
height=36
graphic=309
eventCode=flag22

[com_53]
type=Sprite
buttonType=Button
x=394
y=196
width=45
height=36
graphic=308
eventCode=flag22

[com_54]
type=Sprite
buttonType=Button
x=442
y=196
width=45
height=36
graphic=309
eventCode=flag22

[com_55]
type=Text
x=101
y=32
width=324
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Combination Lock Door"

[com_56]
type=Rectangle
buttonType=Button
x=193
y=262
width=128
height=32
colour=0x404040
fill=yes
eventCode=flag22

[com_57]
type=Text
x=192
y=262
width=129
height=32
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
text="E N T E R"

[com_58]
type=Sprite
x=471
y=26
width=26
height=23
overLayerId=60
graphic=535

[com_59]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=19529788
graphic=536
buttonText="Ok"

[com_60]
type=Layer
x=468
y=22
width=32
height=32
hide=yes
