[com_0]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[todays_title]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[com_2]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[com_6]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[com_7]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[progress_background]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[title_text]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[about_text]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[completed_text]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[todays_button]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[rewards_button]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[progress_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[progress_bar]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[top_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[todays_description]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[todays_progress]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[todays_hints_title]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[todays_challenge_layer]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[todays_hints]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[united_for_wildlife_text]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[united_for_wildlife_logo]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[answer_question_layer]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[rewards_layer]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[reward_description_1]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[reward_description_2]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[reward_description_3]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[reward_description_4]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[reward_description_5]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[reward_given_1]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[reward_given_2]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[reward_given_3]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[reward_given_4]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[reward_given_5]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[rewards]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[root_layer]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[subwindow_layer]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[rewards_button_left]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[rewards_button_centre]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[rewards_button_right]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[loginbutton_text]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[todays_button_left]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[todays_button_centre]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[todays_button_right]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[loginbutton_1]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[answer_question_on_layer]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[answer_question_over_layer]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[answer_question_hit_layer]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[answer_question_selected_layer]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[answer_question_active_layer]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[answer_question_disabled_layer]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[answer_question_text_layer]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[answer_question_text]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Text
x=19
y=31
width=474
height=15
colour=0xC9800D
hAlign=Center
font=496
shadow=yes
text="Yrsa's Shoe Store"

[com_89]
type=Text
buttonType=Button
x=164
y=275
width=196
height=17
colour=0x00FF00
colourOver=0xFF0000
hAlign=Center
font=496
shadow=yes
text="CONFIRM (500 GOLD)"
eventCode=flag22

[com_90]
type=Model
x=120
y=120
width=32
height=32
modelZoom=300
modelYAn=450

[com_91]
type=Model
x=250
y=120
width=32
height=32
modelZoom=300
modelYAn=450

[com_92]
type=Model
x=380
y=120
width=32
height=32
modelZoom=300
modelYAn=450

[com_93]
type=Model
x=120
y=215
width=32
height=32
modelZoom=300
modelYAn=450

[com_94]
type=Model
x=250
y=215
width=32
height=32
modelZoom=300
modelYAn=450

[com_95]
type=Model
x=380
y=215
width=32
height=32
modelZoom=300
modelYAn=450

[com_96]
type=Sprite
buttonType=Select
x=98
y=95
width=62
height=60
overLayerId=104
graphic2=442
buttonText="Brown"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[com_97]
type=Sprite
buttonType=Select
x=227
y=95
width=62
height=60
graphic2=442
buttonText="Khaki"
eventCode=flag22
script1=eq,2
script1op1=varp,if1

[com_98]
type=Sprite
buttonType=Select
x=358
y=95
width=62
height=60
graphic2=442
buttonText="Ashen"
eventCode=flag22
script1=eq,3
script1op1=varp,if1

[com_99]
type=Sprite
buttonType=Select
x=100
y=190
width=62
height=60
graphic2=442
buttonText="Dark"
eventCode=flag22
script1=eq,4
script1op1=varp,if1

[com_100]
type=Sprite
buttonType=Select
x=227
y=190
width=62
height=60
graphic2=442
buttonText="Terracotta"
eventCode=flag22
script1=eq,5
script1op1=varp,if1

[com_101]
type=Sprite
buttonType=Select
x=358
y=190
width=62
height=60
graphic2=442
buttonText="Grey"
eventCode=flag22
script1=eq,6
script1op1=varp,if1

[com_102]
type=Sprite
x=472
y=25
width=26
height=23
overLayerId=104
graphic=535

[com_103]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=13107304
overLayerId=104
graphic=536
buttonText="Ok"

[com_104]
type=Layer
x=469
y=22
width=32
height=32
hide=yes
