[content_layer]
type=Text
x=4
y=4
width=180
height=17
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="%1"

[side_bar]
type=Layer
x=4
y=40
width=180
height=163

[bar_border_white]
type=Sprite
buttonType=Select
x=16
y=5
width=70
height=46
layerId=31195137
graphic=653
graphic2=654
buttonText="Melee"
eventCode=flag22
script1=eq,0
script1op1=varp,com_mode

[bar_border_black]
type=Sprite
buttonType=Select
x=100
y=5
width=70
height=46
layerId=31195137
graphic=653
graphic2=654
buttonText="Ranged"
eventCode=flag22
script1=eq,1
script1op1=varp,com_mode

[bar_border_black_1]
type=Sprite
buttonType=Select
x=16
y=58
width=70
height=46
layerId=31195137
graphic=653
graphic2=654
buttonText="Magic"
eventCode=flag22
script1=eq,2
script1op1=varp,com_mode

[bar_background]
type=Sprite
x=36
y=10
width=34
height=24
layerId=31195137
graphic=289

[bar_inside]
type=Sprite
x=118
y=10
width=34
height=24
layerId=31195137
graphic=290

[vert_highlight]
type=Sprite
x=36
y=63
width=34
height=24
layerId=31195137
graphic=291

[bar_alpha]
type=Rectangle
buttonType=Button
y=1
width=155
height=22
layerId=31195146
trans=255
colour=0xFFFF00
buttonText="Use <col=00ff00>Special Attack"
eventCode=flag22

[focus_text]
type=Sprite
x=2
width=150
height=26
layerId=31195146
graphic=657

[top_bar]
type=Layer
x=19
y=205
width=158
height=64
hide=yes

[fam_graph5]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18552
modelZoom=1153
modelXAn=500

[fam_graph3]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18553
modelZoom=1153
modelXAn=500
script1=gt,99
script1op1=varp,sa_energy

[fam_graph1]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18555
modelZoom=1153
modelXAn=500
script1=gt,199
script1op1=varp,sa_energy

[fam_graph2]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18556
modelZoom=1153
modelXAn=500
script1=gt,299
script1op1=varp,sa_energy

[fam_graph4]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18557
modelZoom=1153
modelXAn=500
script1=gt,399
script1op1=varp,sa_energy

[fam_graph6]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18558
modelZoom=1153
modelXAn=500
script1=gt,499
script1op1=varp,sa_energy

[alert]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18559
modelZoom=1153
modelXAn=500
script1=gt,599
script1op1=varp,sa_energy

[fam_text5]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18560
modelZoom=1153
modelXAn=500
script1=gt,699
script1op1=varp,sa_energy

[fam_text3]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18561
modelZoom=1153
modelXAn=500
script1=gt,799
script1op1=varp,sa_energy

[fam_text1]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18562
modelZoom=1153
modelXAn=500
script1=gt,899
script1op1=varp,sa_energy

[fam_text2]
type=Model
x=4
y=9
width=146
height=9
layerId=31195146
model1Id=18554
modelZoom=1153
modelXAn=500
script1=gt,999
script1op1=varp,sa_energy

[fam_text4]
type=Text
x=18
y=8
width=117
height=11
layerId=31195146
colour=0x000010
font=494
text="S P E C I A L  A T T A C K"
text2="<col=ffff00>S P E C I A L  A T T A C K"
script1=gt,0
script1op1=varp,sa_attack

[fam_text6]
type=Text
x=4
y=25
width=180
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Combat Lvl: %1"
script1op1=combat_level

[initial]
type=Sprite
buttonType=Button
x=21
y=152
width=150
height=46
graphic=655
graphic2=656
buttonText="Auto Retaliate"
eventCode=flag22
script1=eq,0
script1op1=varp,option_nodef

[black_highlight_3]
type=Text
x=20
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Melee"

[white_highlight_3]
type=Text
x=104
y=75
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Ranged"

[border_3]
type=Text
x=20
y=128
width=70
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Magic"

[fill_3]
type=Text
x=57
y=154
width=112
height=42
colour=0xFF981F
colour2=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Auto Retaliate <br>(Off)"
text2="Auto Retaliate <br>(On)"
script1=eq,0
script1op1=varp,option_nodef

[collect]
type=Tooltip
x=20
y=45
width=70
height=46
text="(Melee)<br>(Attack XP)"

[black_highlight]
type=Tooltip
x=102
y=45
width=70
height=46
text="(Ranged)<br>(Attack XP)"

[white_highlight]
type=Tooltip
x=20
y=98
width=70
height=47
text="(Magic)<br>(Defence XP)"

[black_highlight_1]
type=Tooltip
x=22
y=153
width=150
height=46
text="When active your player<br>will automatically fight<br>back if attacked"

[white_highlight_1]
type=Tooltip
width=159
height=19
layerId=31195146
text="Select to perform<br>a special attack"
