[com_0]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[confirm_ow_button_layer]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[com_2]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[confirm_share_window]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[accept_share_window]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[accept_share_window_background]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[accept_share_window_content]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[com_7]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[share_checkbox_layer]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[info]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[accept_share_button_layer]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[actionbar_layer]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[actionbar_layer_icons]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37617676,832
onmouseleave=44,37617676,831
onop=29

[share_warning]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[reject_share_button_layer]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="This area is very dangerous, are you sure you want to continue?"

[confirm_layer]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[com_16]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[accept_share_window_border]
type=Text
x=108
y=157
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Go in - I don't mind dying"
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[accept_share_window_close_button]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="No - I'm holding too much stuff"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[actionbar_scroller]
type=Text
x=1
y=2
width=315
height=15
layerId=37617685
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[fullscreen_arrow_bg]
type=Sprite
x=2
width=19
height=19
layerId=37617685
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37617684,1
onclick=163,37617684
onvartransmitlist=1045

[fullscreen_arrow_text]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
