[com_0]
type=Rectangle
width=514
height=335
colour=0x2A1E06
fill=yes

[com_1]
type=Model
x=246
y=97
width=38
height=37
model1Id=13939
modelZoom=613
modelXAn=295
modelYAn=1986

[com_2]
type=Text
x=166
y=215
width=69
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Ape"

[com_3]
type=Text
x=319
y=22
width=100
height=19
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Asgarnia"

[com_4]
type=Text
x=254
y=98
width=98
height=19
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Karamja"

[com_5]
type=Text
x=220
y=79
width=83
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Crandor"

[com_6]
type=Text
x=170
y=46
width=91
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Entrana"

[com_7]
type=Text
x=300
y=50
width=63
height=16
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Port"

[com_8]
type=Text
x=302
y=64
width=80
height=16
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Sarim"

[com_9]
type=Model
x=356
y=55
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_10]
type=Model
x=236
y=44
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_11]
type=Model
x=332
y=116
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=390
modelYAn=1833

[com_12]
type=Model
x=101
y=125
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_13]
type=Text
x=51
y=129
width=78
height=18
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Port"

[com_14]
type=Text
x=64
y=144
width=91
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Khazard"

[com_15]
type=Text
x=282
y=125
width=73
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Ship"

[com_16]
type=Text
x=290
y=141
width=81
height=18
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Yard"

[com_17]
type=Model
x=114
y=88
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_18]
type=Model
x=185
y=160
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_19]
type=Text
x=198
y=155
width=69
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Cairn"

[com_20]
type=Text
x=205
y=171
width=69
height=16
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Isle"

[com_21]
type=Model
x=197
y=75
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_22]
type=Text
x=152
y=94
width=105
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Brimhaven"

[com_23]
type=Text
x=82
y=63
width=109
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Ardougne"

[shipjourney_text]
type=Model
x=246
y=66
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[com_25]
type=Text
x=12
y=8
width=302
height=19
colour=0xFF981F
font=497
shadow=yes
text="You Journey on the ship...."

[com_26]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=sarim_entrana
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,1
script1op1=varp,journey_number

[com_27]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=entrana_sarim
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,2
script1op1=varp,journey_number

[com_28]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=sarim_crandor
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,3
script1op1=varp,journey_number

[com_29]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=crandor_sarim
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,4
script1op1=varp,journey_number

[com_30]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=sarim_karamja
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,5
script1op1=varp,journey_number

[tai_feldip_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=karamja_sarim
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,6
script1op1=varp,journey_number

[feldip_tai_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=sp_attackglow_quick
modelZoom=613
modelXAn=292
modelYAn=1985
script1=eq,7
script1op1=varp,journey_number

[karamja_voidknight_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=seq_637
modelZoom=613
modelXAn=292
modelYAn=1985
script1=eq,8
script1op1=varp,journey_number

[sarim_voidknight_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,9
script1op1=varp,journey_number

[cairn_sarim_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=cairn_khazzard
modelZoom=485
modelXAn=292
modelYAn=1989
script1=eq,10
script1op1=varp,journey_number

[trawler_khazzard_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=khazzard_trawler
modelZoom=613
modelXAn=296
modelYAn=1988
script1=eq,11
script1op1=varp,journey_number

[khazzard_trawler_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=trawler_khazzard
modelZoom=613
modelXAn=296
modelYAn=1988
script1=eq,12
script1op1=varp,journey_number

[cairn_khazzard_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=cairn_sarim
modelZoom=613
modelXAn=292
modelYAn=1989
script1=eq,13
script1op1=varp,journey_number

[khazzard_cairn_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=sarim_voidknight
modelZoom=613
modelXAn=295
modelYAn=1988
script1=eq,14
script1op1=varp,journey_number

[brimhaven_ardougne_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=3065
modelAnim2=voidknight_sarim
modelZoom=613
modelXAn=295
modelYAn=1986
script1=eq,15
script1op1=varp,journey_number

[ardougne_brimhaven_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=13370
modelAnim2=ogre_boat_feldip_to_tai
modelZoom=613
modelXAn=288
modelYAn=1989
script1=eq,16
script1op1=varp,journey_number

[karamja_sarim_layer]
type=Model
x=246
y=97
width=36
height=37
model2Id=13371
modelAnim2=ogre_boat_tai_to_feldip
modelZoom=613
modelXAn=288
modelYAn=1989
script1=eq,17
script1op1=varp,journey_number

[sarim_karamja_layer]
type=Model
x=289
y=80
width=32
height=32
model1Id=3046
modelZoom=1372
modelXAn=306
modelYAn=199

[sarim_crandor_layer]
type=Text
x=173
y=229
width=74
height=16
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Atoll"

[crandor_sarim_layer]
type=Model
x=164
y=259
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=306
modelYAn=199

[entrana_sarim_layer]
type=Model
x=70
y=181
width=32
height=32
model1Id=3046
modelZoom=1500
modelXAn=308
modelYAn=198

[com_47]
type=Text
x=44
y=199
width=84
height=17
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Feldip"

[com_48]
type=Text
x=56
y=214
width=78
height=16
colour=0xF3CC99
hAlign=Center
font=497
shadow=yes
text="Hills"

[content_layer_1]
type=Text
x=1
y=2
width=301
height=17
layerId=19595316
colour=0xC4A135
font=497
shadow=yes
text="The ogres follow the scent of the chompy.... "

[control_object]
type=Text
x=3
y=1
width=247
height=17
layerId=19595315
colour=0xC4A135
font=497
shadow=yes
text="The ogres travel back with the goods"

[tai_bwo_wannai_to_feldip_boat]
type=Layer
x=8
y=8
width=305
height=20
hide=yes

[entrana_to_sarim_ship]
type=Layer
x=9
y=8
width=305
height=20
hide=yes
