[mainmodal_window]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[mainmodal_window_background]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[mainmodal_window_content]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[preset_layer]
type=Model
x=65
y=479
width=32
height=32
model1Id=10232
modelZoom=687
modelXAn=120
modelYAn=228

[preset_title]
type=Model
x=675
y=469
width=32
height=32
model1Id=10234
modelZoom=656
modelXAn=39
modelYAn=201

[preset_1]
type=Model
x=67
y=431
width=32
height=32
model1Id=10233
modelZoom=1000
modelXAn=458

[preset_1_background]
type=Model
x=659
y=446
width=32
height=32
model1Id=10233
modelZoom=1300
modelXAn=458

[preset_1_content]
type=Model
x=712
y=420
width=32
height=32
model1Id=10233
modelZoom=1700
modelXAn=458
