[window]
type=Rectangle
width=512
height=334
trans=100
fill=yes
script1=eq,1
script1op1=varbit,darkness_level

[window_background]
type=Model
x=241
y=167
width=32
height=32
model1Id=11230
modelAnim=lightning_flash
modelZoom=16
modelXAn=512
