[layer_1]
type=Model
x=250
y=305
width=32
height=32
model1Id=24418
modelAnim=slice_train_anim_01
modelZoom=170
modelXAn=56

[com_1]
type=Model
x=250
y=305
width=32
height=32
model1Id=24419
modelAnim=slice_train_anim_02
modelZoom=170
modelXAn=56

[com_2]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_03
modelZoom=170
modelXAn=56

[com_3]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_04
modelZoom=170
modelXAn=56

[com_4]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_05
modelZoom=170
modelXAn=56

[com_5]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_06
modelZoom=170
modelXAn=56

[com_6]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_07
modelZoom=170
modelXAn=56

[com_7]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_08
modelZoom=170
modelXAn=56

[com_8]
type=Model
x=250
y=305
width=32
height=32
model1Id=24420
modelAnim=slice_train_anim_09
modelZoom=170
modelXAn=56
