[com_0]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[green_large_progress_layer]
type=Text
buttonType=Pause
y=15
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[sliske1_shield_overlay]
type=Text
buttonType=Pause
y=31
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[com_3]
type=Text
buttonType=Pause
y=47
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[com_4]
type=Text
buttonType=Pause
y=63
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option4"
eventCode=pauseButton

[com_5]
type=Text
buttonType=Pause
y=79
width=480
height=16
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option5"
eventCode=pauseButton

[green_large_progress_value_bounds_layer]
type=Sprite
width=57
height=13
layerId=15597576
graphic=302

[green_large_progress_value_layer]
type=Sprite
x=280
width=57
height=13
layerId=15597576
graphic=301

[com_8]
type=Layer
x=72
y=1
width=337
height=13

[com_9]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[com_10]
type=Sprite
width=57
height=13
layerId=15597577
graphic=302

[green_large_progress_text_layer]
type=Sprite
x=419
width=57
height=13
layerId=15597577
graphic=301
