[sliske2_breaking_in_tunnel_ne_off]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_sw_off]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_se_off]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_nw_off]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[sliske2_breaking_in_map]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[sliske2_breaking_in_compass]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[sliske2_breaking_in_text]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[sliske2_breaking_in_accept]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[sliske2_breaking_in_portals]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_nw]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_nw_on]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_se]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_se_on]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_sw]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_sw_on]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_ne]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[sliske2_breaking_in_tunnel_ne_on]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[positive_button_on_layer]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[positive_button_over_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[positive_button_hit_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[positive_button_selected_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[sliske2_breaking_in_accept_active_layer]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[positive_button_disabled_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[positive_button_text_layer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[positive_button_text]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_29]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_31]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=304
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=304
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=304
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=304
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=304
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=304
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=304
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=304
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=304
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=304
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=304
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=304
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=295
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=295
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=304
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Rectangle
x=104
y=231
width=315
height=82
fill=yes

[com_89]
type=Rectangle
x=103
y=230
width=317
height=83
colour=0x726451

[com_90]
type=Text
x=25
y=30
width=467
height=18
colour=0xFF9900
hAlign=Center
font=496
shadow=yes
text="Gnome Battas"

[com_91]
type=Model
buttonType=Button
x=165
y=89
width=50
height=51
overLayerId=101
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_92]
type=Model
x=246
y=24
width=32
height=32
layerId=28442725
modelZoom=400

[com_93]
type=Model
x=46
y=27
width=32
height=32
layerId=28442725
model1Id=2573
modelZoom=784
modelXAn=336
modelYAn=1891

[com_94]
type=Model
x=113
y=27
width=32
height=32
layerId=28442725
model1Id=2573
modelZoom=784
modelXAn=336
modelYAn=1891

[com_95]
type=Model
x=183
y=27
width=32
height=32
layerId=28442725
model1Id=2573
modelZoom=784
modelXAn=336
modelYAn=1891

[com_96]
type=Text
x=254
y=60
width=30
height=14
layerId=28442725
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/4"
text2="%1/4"
script1=gt,3
script1op1=inv_count,inventory:inv,equa_leaves

[com_97]
type=Text
x=58
y=60
width=29
height=14
layerId=28442725
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,pineapple_chunks

[com_98]
type=Text
x=125
y=60
width=29
height=14
layerId=28442725
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,orange_chunks

[com_99]
type=Text
x=194
y=60
width=29
height=14
layerId=28442725
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,lime_chunks

[com_100]
type=Text
x=5
y=5
width=310
height=15
layerId=28442725
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Fruit Batta"

[com_101]
type=Layer
x=99
y=229
width=318
height=82
hide=yes

[com_102]
type=Model
buttonType=Button
x=286
y=89
width=50
height=50
overLayerId=112
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_103]
type=Model
x=44
y=23
width=32
height=32
layerId=28442736
modelZoom=528
modelXAn=327
modelYAn=1909

[com_104]
type=Model
x=100
y=17
width=32
height=32
layerId=28442736
model1Id=2668
modelZoom=338
modelXAn=376
modelYAn=2047

[com_105]
type=Model
x=186
y=34
width=32
height=32
layerId=28442736
model1Id=2431
modelZoom=656
modelXAn=321
modelYAn=1885

[com_106]
type=Model
x=253
y=33
width=32
height=32
layerId=28442736
model1Id=2365
modelZoom=784
modelXAn=228
modelYAn=1885

[com_107]
type=Text
x=48
y=60
width=29
height=14
layerId=28442736
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,equa_leaves

[com_108]
type=Text
x=114
y=60
width=29
height=14
layerId=28442736
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,toads_legs

[com_109]
type=Text
x=190
y=60
width=29
height=14
layerId=28442736
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_110]
type=Text
x=261
y=60
width=29
height=14
layerId=28442736
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,cheese

[com_111]
type=Text
x=9
y=4
width=314
height=15
layerId=28442736
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Toad Batta"

[com_112]
type=Layer
x=96
y=230
width=322
height=82
hide=yes

[com_113]
type=Model
buttonType=Button
x=126
y=163
width=50
height=50
overLayerId=121
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_114]
type=Model
x=76
y=34
width=32
height=32
layerId=28442745
model1Id=2431
modelZoom=656
modelXAn=321
modelYAn=1885

[com_115]
type=Model
x=142
y=23
width=32
height=32
layerId=28442745
model1Id=2519
modelZoom=1040
modelXAn=321
modelYAn=1885

[com_116]
type=Model
x=208
y=32
width=32
height=32
layerId=28442745
model1Id=2365
modelZoom=784
modelXAn=228
modelYAn=1885

[com_117]
type=Text
x=81
y=60
width=29
height=14
layerId=28442745
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_118]
type=Text
x=147
y=60
width=29
height=14
layerId=28442745
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,king_worm

[com_119]
type=Text
x=213
y=60
width=29
height=14
layerId=28442745
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,cheese

[com_120]
type=Text
x=6
y=4
width=309
height=17
layerId=28442745
colour=0xD6A03C
hAlign=Center
font=495
shadow=yes
text="Worm Batta"

[com_121]
type=Layer
x=100
y=230
width=323
height=83
hide=yes

[com_122]
type=Model
buttonType=Button
x=230
y=163
width=50
height=50
overLayerId=134
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_123]
type=Model
x=19
y=32
width=32
height=32
layerId=28442758
model1Id=2632
modelZoom=528

[com_124]
type=Model
x=76
y=33
width=32
height=32
layerId=28442758
modelZoom=528

[com_125]
type=Model
x=138
y=29
width=32
height=32
layerId=28442758
model1Id=8195
modelZoom=1552
modelXAn=210
modelYAn=1852

[com_126]
type=Model
x=207
y=35
width=32
height=32
layerId=28442758
model1Id=2808
modelZoom=656
modelXAn=114
modelYAn=1801

[com_127]
type=Model
x=265
y=32
width=32
height=32
layerId=28442758
model1Id=2365
modelZoom=784
modelXAn=228
modelYAn=1885

[com_128]
type=Text
x=23
y=60
width=31
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,tomato

[com_129]
type=Text
x=80
y=60
width=29
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,onion

[com_130]
type=Text
x=142
y=60
width=29
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,cabbage

[com_131]
type=Text
x=208
y=60
width=29
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,dwellberries

[com_132]
type=Text
x=270
y=60
width=29
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,cheese

[com_133]
type=Text
x=4
y=4
width=312
height=16
layerId=28442758
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Vegetable Batta"

[com_134]
type=Layer
x=101
y=229
width=318
height=83
hide=yes

[com_135]
type=Model
buttonType=Button
x=342
y=164
width=50
height=50
overLayerId=141
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_136]
type=Model
x=105
y=32
width=32
height=32
layerId=28442765
model1Id=2632
modelZoom=528
modelXAn=336
modelYAn=1891

[com_137]
type=Model
x=176
y=32
width=32
height=32
layerId=28442765
modelZoom=784
modelXAn=228
modelYAn=1885

[com_138]
type=Text
x=110
y=60
width=29
height=14
layerId=28442765
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,tomato

[com_139]
type=Text
x=181
y=60
width=29
height=14
layerId=28442765
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,cheese

[com_140]
type=Text
y=3
width=313
height=16
layerId=28442765
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Cheese And Tomato Batta"

[com_141]
type=Layer
x=103
y=229
width=320
height=83
hide=yes

[com_142]
type=Text
x=253
y=5
width=61
height=15
layerId=28442725
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 25"
text2="level 25"
script1=gt,24
script1op1=stat_level,7

[com_143]
type=Text
x=253
y=5
width=61
height=14
layerId=28442736
colour=0xFF0000
colour2=0x00FF33
hAlign=Right
font=495
shadow=yes
text="level 26"
text2="level 26"
script1=gt,25
script1op1=stat_level,7

[com_144]
type=Text
x=253
y=5
width=61
height=14
layerId=28442745
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 27"
text2="level 27"
script1=gt,26
script1op1=stat_level,7

[com_145]
type=Text
x=253
y=5
width=61
height=14
layerId=28442765
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 29"
text2="level 29"
script1=gt,28
script1op1=stat_level,7

[com_146]
type=Text
x=253
y=5
width=61
height=14
layerId=28442758
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 28"
text2="level 28"
script1=gt,27
script1op1=stat_level,7

[com_147]
type=Text
x=139
y=134
width=90
height=27
colour=0xCC0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Fruit Batta"
text2="Fruit Batta"
script1=gt,3
script1op1=inv_count,inventory:inv,equa_leaves
script2=gt,0
script2op1=inv_count,inventory:inv,pineapple_chunks
script3=gt,0
script3op1=inv_count,inventory:inv,orange_chunks
script4=gt,0
script4op1=inv_count,inventory:inv,lime_chunks

[com_148]
type=Text
x=264
y=133
width=90
height=27
colour=0xCC0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Toad Batta"
text2="Toad Batta"
script1=gt,0
script1op1=inv_count,inventory:inv,equa_leaves
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice
script3=gt,0
script3op1=inv_count,inventory:inv,toads_legs
script4=gt,0
script4op1=inv_count,inventory:inv,cheese

[com_149]
type=Text
x=104
y=202
width=90
height=26
colour=0xCC0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Worm Batta"
text2="Worm Batta"
script1=gt,0
script1op1=inv_count,inventory:inv,king_worm
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice
script3=gt,0
script3op1=inv_count,inventory:inv,cheese

[com_150]
type=Text
x=211
y=203
width=91
height=27
colour=0xCC0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Vegetable Batta"
text2="Vegetable Batta"
script1=gt,1
script1op1=inv_count,inventory:inv,tomato
script2=gt,0
script2op1=inv_count,inventory:inv,onion
script3=gt,0
script3op1=inv_count,inventory:inv,cabbage
script4=gt,0
script4op1=inv_count,inventory:inv,dwellberries
script5=gt,0
script5op1=inv_count,inventory:inv,cheese

[com_151]
type=Text
x=321
y=203
width=90
height=27
colour=0xCC0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Cheese & tomato Batta"
text2="Cheese & tomato Batta"
script1=gt,0
script1op1=inv_count,inventory:inv,tomato
script2=gt,0
script2op1=inv_count,inventory:inv,cheese

[com_152]
type=Sprite
x=471
y=25
width=26
height=23
overLayerId=154
graphic=535

[com_153]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=28442778
graphic=536
buttonText="Ok"

[com_154]
type=Layer
x=467
y=20
width=32
height=32
hide=yes
