[progress_bar_magenta_left]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[progress_bar_magenta_right]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[progress_bar_magenta_centre]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[bespoke_window]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[nomad_ability_bar_head]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[ability_icon_slot_standard_02]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[ability_icon_slot_standard_00]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[nomad_mines]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[nomad_disintegrate]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[bespoke_window_background]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[bespoke_window_content]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[progress_bar_remaining_wights]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[progress_bar_backing_left]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[progress_bar_backing_right]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[progress_bar_backing_centre]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[fill_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[bespoke_window_border]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[ability_slot_0]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[mines_fade]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[ability_slot_1]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[ability_icon_slot_standard_01]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[nomad_blast]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[blast_fade]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[ability_slot_2]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[disintegrate_fade]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[progress_bar_label]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[progress_bar_wights_count]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[namod_ability_bar_overlay]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_29]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_31]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=304
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=304
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=304
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=304
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=304
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=304
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=304
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=304
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=304
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=304
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=304
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=304
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=295
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=295
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=304
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Rectangle
x=104
y=231
width=315
height=82
fill=yes

[com_89]
type=Rectangle
x=103
y=230
width=317
height=83
colour=0x726451

[com_90]
type=Text
x=23
y=29
width=467
height=17
colour=0xFF9900
hAlign=Center
font=496
shadow=yes
text="Gnome Crunchies"

[com_91]
type=Model
buttonType=Button
x=169
y=83
width=50
height=50
overLayerId=97
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_92]
type=Model
x=100
y=21
width=32
height=32
layerId=28639329
model1Id=2668
modelZoom=400
modelXAn=321
modelYAn=1846

[com_93]
type=Model
x=181
y=35
width=32
height=32
layerId=28639329
model1Id=2431
modelZoom=784
modelXAn=336
modelYAn=1891

[com_94]
type=Text
x=117
y=60
width=31
height=14
layerId=28639329
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,toads_legs

[com_95]
type=Text
x=184
y=60
width=29
height=14
layerId=28639329
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_96]
type=Text
x=5
y=4
width=311
height=15
layerId=28639329
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Toad Crunchies"

[com_97]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_98]
type=Model
buttonType=Button
x=290
y=83
width=50
height=50
overLayerId=104
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_99]
type=Model
x=112
y=35
width=32
height=32
layerId=28639336
model1Id=2431
modelZoom=722
modelXAn=340
modelYAn=1957

[com_100]
type=Model
x=190
y=27
width=32
height=32
layerId=28639336
model1Id=2743
modelZoom=656
modelXAn=321
modelYAn=1885

[com_101]
type=Text
x=118
y=60
width=29
height=14
layerId=28639336
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_102]
type=Text
x=194
y=60
width=31
height=14
layerId=28639336
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,equa_leaves

[com_103]
type=Text
x=5
y=4
width=310
height=15
layerId=28639336
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Spice Crunchies"

[com_104]
type=Layer
x=100
y=230
width=322
height=82
hide=yes

[com_105]
type=Model
buttonType=Button
x=170
y=158
width=50
height=50
overLayerId=113
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_106]
type=Model
x=76
y=35
width=32
height=32
layerId=28639345
model1Id=2431
modelZoom=656
modelXAn=321
modelYAn=1885

[com_107]
type=Model
x=142
y=23
width=32
height=32
layerId=28639345
model1Id=2519
modelZoom=1040
modelXAn=321
modelYAn=1885

[com_108]
type=Model
x=208
y=28
width=32
height=32
layerId=28639345
model1Id=2743
modelZoom=656
modelXAn=228
modelYAn=1885

[com_109]
type=Text
x=81
y=60
width=29
height=14
layerId=28639345
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_110]
type=Text
x=147
y=60
width=31
height=14
layerId=28639345
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,king_worm

[com_111]
type=Text
x=213
y=60
width=29
height=14
layerId=28639345
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,equa_leaves

[com_112]
type=Text
x=5
y=4
width=310
height=15
layerId=28639345
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Worm Crunchies"

[com_113]
type=Layer
x=100
y=230
width=323
height=83
hide=yes

[com_114]
type=Model
buttonType=Button
x=289
y=158
width=50
height=50
overLayerId=120
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_115]
type=Model
x=109
y=27
width=32
height=32
layerId=28639352
model1Id=2410
modelZoom=784
modelXAn=273
modelYAn=1672

[com_116]
type=Model
x=173
y=35
width=32
height=32
layerId=28639352
model1Id=2431
modelZoom=912
modelXAn=210
modelYAn=1852

[com_117]
type=Text
x=115
y=60
width=31
height=14
layerId=28639352
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,chocolate_bar

[com_118]
type=Text
x=177
y=60
width=29
height=14
layerId=28639352
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gnome_spice

[com_119]
type=Text
x=5
y=4
width=310
height=15
layerId=28639352
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Chocolate Chip Crunchies"

[com_120]
type=Layer
x=100
y=230
width=318
height=83
hide=yes

[com_121]
type=Text
x=250
y=5
width=65
height=15
layerId=28639329
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 10"
text2="level 10"
script1=gt,9
script1op1=stat_level,7

[com_122]
type=Text
x=250
y=5
width=65
height=15
layerId=28639336
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 12"
text2="level 12"
script1=gt,11
script1op1=stat_level,7

[com_123]
type=Text
x=250
y=5
width=65
height=15
layerId=28639345
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 14"
text2="level 14"
script1=gt,13
script1op1=stat_level,7

[com_124]
type=Text
x=250
y=5
width=65
height=15
layerId=28639352
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 16"
text2="level 16"
script1=gt,15
script1op1=stat_level,7

[com_125]
type=Text
x=149
y=128
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Toad crunchies"
text2="Toad crunchies"
script1=gt,1
script1op1=inv_count,inventory:inv,toads_legs
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice

[com_126]
type=Text
x=271
y=128
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Spice crunchies"
text2="Spice crunchies"
script1=gt,1
script1op1=inv_count,inventory:inv,equa_leaves
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice

[com_127]
type=Text
x=149
y=203
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Worm crunchies"
text2="Worm crunchies"
script1=gt,1
script1op1=inv_count,inventory:inv,king_worm
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice
script3=gt,0
script3op1=inv_count,inventory:inv,equa_leaves

[com_128]
type=Text
x=268
y=203
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Choc chip crunchies"
text2="Choc chip crunchies"
script1=gt,1
script1op1=inv_count,inventory:inv,chocolate_bar
script2=gt,0
script2op1=inv_count,inventory:inv,gnome_spice

[com_129]
type=Sprite
x=471
y=26
width=26
height=23
overLayerId=131
graphic=535

[com_130]
type=Sprite
buttonType=Close
x=6
y=2
width=26
height=23
layerId=28639363
graphic=536
buttonText="Ok"

[com_131]
type=Layer
x=465
y=24
width=32
height=32
hide=yes
