[stealth_button_face_north]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[stealth_button_rotate_right]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[stealth_button_rotate_left]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[stealth_button_roll_left]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[stealth_button_roll_right]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[stealth_button_roll_backward]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[stealth_button_roll_forward]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[stealth_button_label_forward]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[stealth_button_label_backward]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[stealth_button_label_left_roll]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[stealth_button_label_right_roll]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[stealth_overlay_window_content_group]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[stealth_button_roll_left_on_layer]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[stealth_button_roll_left_over_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[stealth_button_roll_left_hit_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[stealth_button_roll_left_selected_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[stealth_button_roll_left_active_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[stealth_button_roll_left_disabled_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[stealth_button_roll_left_content_layer]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[stealth_icon_roll_left]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[3x3_icon_button_text]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[stealth_button_roll_right_on_layer]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[stealth_button_roll_right_over_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[stealth_button_roll_right_hit_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[stealth_button_roll_right_selected_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[stealth_button_roll_right_active_layer]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[stealth_button_roll_right_disabled_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[stealth_button_roll_right_content_layer]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[stealth_icon_roll_right]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[3x3_icon_button_text_1]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[stealth_button_roll_forward_on_layer]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[stealth_button_roll_forward_over_layer]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[stealth_button_roll_forward_hit_layer]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[stealth_button_roll_forward_selected_layer]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[stealth_button_roll_forward_active_layer]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[stealth_button_roll_forward_disabled_layer]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[stealth_button_roll_forward_content_layer]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[stealth_icon_roll_left_1]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[stealth_button_roll_backward_on_layer]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[stealth_button_roll_backward_over_layer]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[stealth_button_roll_backward_hit_layer]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[stealth_button_roll_backward_selected_layer]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[stealth_button_roll_backward_active_layer]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[stealth_button_roll_backward_disabled_layer]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[stealth_button_roll_backward_content_layer]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[stealth_icon_roll_backward]
type=Sprite
x=73
y=304
width=36
height=36
graphic=173

[3x3_icon_button_text_3]
type=Sprite
x=109
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_on_layer]
type=Sprite
x=145
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_over_layer]
type=Sprite
x=181
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_hit_layer]
type=Sprite
x=217
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_selected_layer]
type=Sprite
x=253
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_active_layer]
type=Sprite
x=289
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_disabled_layer]
type=Sprite
x=325
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_content_layer]
type=Sprite
x=361
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_left_icon]
type=Sprite
x=397
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_right_on_layer]
type=Sprite
x=433
y=304
width=36
height=36
graphic=173

[stealth_button_rotate_right_over_layer]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_right_hit_layer]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_right_selected_layer]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_right_active_layer]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_right_disabled_layer]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_right_content_layer]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[stealth_button_rotate_left_icon_1]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_on_layer]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_over_layer]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_hit_layer]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_selected_layer]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_active_layer]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[stealth_button_face_north_disabled_layer]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[stealth_button_face_north_content_layer]
type=Sprite
x=37
y=304
width=36
height=36
graphic=173

[stealth_button_face_north_icon]
type=Sprite
x=12
y=295
width=25
height=30
graphic=312

[stealth_overlay_window]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[stealth_overlay_window_background]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[stealth_overlay_window_border]
type=Sprite
x=475
y=295
width=25
height=30
graphic=313

[stealth_overlay_window_content]
type=Sprite
x=439
y=304
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Rectangle
x=104
y=231
width=318
height=82
fill=yes

[com_89]
type=Rectangle
x=103
y=230
width=319
height=83
colour=0x726451

[com_90]
type=Text
x=22
y=30
width=471
height=15
colour=0xFF9900
hAlign=Center
font=496
shadow=yes
text="Gnome Cocktails"

[com_91]
type=Model
buttonType=Button
x=217
y=71
width=72
height=72
overLayerId=110
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_92]
type=Model
x=23
y=40
width=32
height=32
layerId=28573799
modelZoom=912

[com_93]
type=Model
x=73
y=40
width=32
height=32
layerId=28573799
modelZoom=912

[com_94]
type=Model
x=130
y=31
width=32
height=32
layerId=28573799
modelZoom=656
modelXAn=201
modelYAn=1813

[com_95]
type=Model
x=195
y=24
width=32
height=32
layerId=28573799
modelZoom=784
modelXAn=324
modelYAn=2038

[com_96]
type=Model
x=263
y=24
width=32
height=32
layerId=28573799
modelZoom=784
modelXAn=324
modelYAn=2038

[com_97]
type=Text
x=27
y=64
width=31
height=14
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,vodka

[com_98]
type=Text
x=78
y=64
width=29
height=14
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gin

[com_99]
type=Text
x=134
y=64
width=29
height=14
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,orange

[com_100]
type=Text
x=200
y=64
width=29
height=14
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,lime

[com_101]
type=Text
x=268
y=64
width=29
height=14
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,lemon

[com_102]
type=Text
x=6
y=4
width=310
height=15
layerId=28573799
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Wizard Blizzard"

[com_103]
type=Layer
x=100
y=229
width=318
height=82
hide=yes

[com_104]
type=Model
buttonType=Button
x=326
y=65
width=65
height=76
overLayerId=119
modelZoom=400
eventCode=flag22

[com_105]
type=Model
x=102
y=40
width=32
height=32
layerId=28573806
modelZoom=912

[com_106]
type=Model
x=168
y=24
width=32
height=32
layerId=28573806
modelZoom=784
modelXAn=324
modelYAn=2038

[com_107]
type=Text
x=108
y=62
width=29
height=14
layerId=28573806
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka

[com_108]
type=Text
x=173
y=62
width=30
height=14
layerId=28573806
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/3"
text2="%1/3"
script1=gt,2
script1op1=inv_count,inventory:inv,lime

[com_109]
type=Text
x=6
y=4
width=310
height=15
layerId=28573806
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Short Green Guy"

[com_110]
type=Layer
x=100
y=229
width=318
height=82
hide=yes

[com_111]
type=Model
buttonType=Button
x=106
y=65
width=73
height=75
overLayerId=103
modelZoom=400
eventCode=flag22

[com_112]
type=Model
x=84
y=36
width=32
height=32
layerId=28573815
modelZoom=1168

[com_113]
type=Model
x=144
y=24
width=32
height=32
layerId=28573815
modelZoom=784
modelXAn=324
modelYAn=2038

[com_114]
type=Model
x=203
y=31
width=32
height=32
layerId=28573815
modelZoom=656
modelXAn=201
modelYAn=1813

[com_115]
type=Text
x=89
y=64
width=29
height=14
layerId=28573815
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,pineapple

[com_116]
type=Text
x=148
y=64
width=29
height=14
layerId=28573815
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,lemon

[com_117]
type=Text
x=207
y=64
width=29
height=14
layerId=28573815
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,orange

[com_118]
type=Text
x=6
y=4
width=310
height=15
layerId=28573815
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Fruit Blast"

[com_119]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_120]
type=Model
buttonType=Button
x=70
y=151
width=63
height=72
overLayerId=128
modelZoom=400
eventCode=flag22

[com_121]
type=Model
x=82
y=36
width=32
height=32
layerId=28573824
modelZoom=1168

[com_122]
type=Model
x=196
y=24
width=32
height=32
layerId=28573824
modelZoom=784
modelXAn=324
modelYAn=2038

[com_123]
type=Model
x=141
y=31
width=32
height=32
layerId=28573824
modelZoom=656
modelXAn=201
modelYAn=1813

[com_124]
type=Text
x=87
y=64
width=31
height=14
layerId=28573824
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,pineapple

[com_125]
type=Text
x=146
y=64
width=29
height=14
layerId=28573824
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,orange

[com_126]
type=Text
x=201
y=64
width=29
height=14
layerId=28573824
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,lemon

[com_127]
type=Text
x=6
y=4
width=310
height=15
layerId=28573824
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Pineapple Punch"

[com_128]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_129]
type=Model
buttonType=Button
x=174
y=152
width=63
height=72
overLayerId=137
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_130]
type=Model
x=91
y=40
width=32
height=32
layerId=28573833
modelZoom=912

[com_131]
type=Model
x=144
y=40
width=32
height=32
layerId=28573833
modelZoom=912

[com_132]
type=Model
x=197
y=30
width=32
height=32
layerId=28573833
modelZoom=1040

[com_133]
type=Text
x=97
y=64
width=29
height=14
layerId=28573833
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka

[com_134]
type=Text
x=151
y=64
width=29
height=14
layerId=28573833
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gin

[com_135]
type=Text
x=201
y=64
width=29
height=14
layerId=28573833
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,dwellberries

[com_136]
type=Text
x=6
y=4
width=310
height=15
layerId=28573833
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Drunk Dragon"

[com_137]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_138]
type=Model
buttonType=Button
x=272
y=149
width=77
height=74
overLayerId=148
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_139]
type=Model
x=56
y=40
width=32
height=32
layerId=28573844
modelZoom=912

[com_140]
type=Model
x=117
y=29
width=32
height=32
layerId=28573844
modelZoom=528
modelXAn=327
modelYAn=1909

[com_141]
type=Model
x=171
y=36
width=32
height=32
layerId=28573844
modelZoom=784
modelXAn=162
modelYAn=1672

[com_142]
type=Model
x=224
y=29
width=32
height=32
layerId=28573844
modelZoom=400

[com_143]
type=Text
x=61
y=64
width=29
height=14
layerId=28573844
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,whisky

[com_144]
type=Text
x=120
y=64
width=29
height=14
layerId=28573844
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,equa_leaves

[com_145]
type=Text
x=175
y=64
width=29
height=14
layerId=28573844
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_milk

[com_146]
type=Text
x=229
y=64
width=29
height=14
layerId=28573844
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,chocolate_bar

[com_147]
type=Text
x=6
y=4
width=310
height=15
layerId=28573844
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Chocolate Saturday"

[com_148]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_149]
type=Model
buttonType=Button
x=378
y=152
width=61
height=71
overLayerId=161
modelZoom=400
modelXAn=165
modelYAn=1894
eventCode=flag22

[com_150]
type=Model
x=24
y=40
width=32
height=32
layerId=28573857
modelZoom=912

[com_151]
type=Model
x=77
y=40
width=32
height=32
layerId=28573857
modelZoom=912

[com_152]
type=Model
x=135
y=40
width=32
height=32
layerId=28573857
modelZoom=912

[com_153]
type=Model
x=195
y=31
width=32
height=32
layerId=28573857
modelZoom=656
modelXAn=201
modelYAn=1813

[com_154]
type=Model
x=262
y=24
width=32
height=32
layerId=28573857
modelZoom=784
modelXAn=324
modelYAn=2038

[com_155]
type=Text
x=29
y=64
width=29
height=14
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka

[com_156]
type=Text
x=83
y=64
width=29
height=14
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,brandy

[com_157]
type=Text
x=141
y=64
width=29
height=14
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,gin

[com_158]
type=Text
x=199
y=64
width=29
height=14
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/1"
text2="%1/1"
script1=gt,0
script1op1=inv_count,inventory:inv,orange

[com_159]
type=Text
x=6
y=4
width=310
height=15
layerId=28573857
colour=0xD6A046
hAlign=Center
font=495
shadow=yes
text="Blurberry Special"

[com_160]
type=Text
x=266
y=64
width=31
height=14
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
font=495
shadow=yes
text="%1/2"
text2="%1/2"
script1=gt,1
script1op1=inv_count,inventory:inv,lemon

[com_161]
type=Layer
x=100
y=230
width=318
height=82
hide=yes

[com_162]
type=Text
x=250
y=4
width=65
height=15
layerId=28573815
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 6"
text2="level 6"
script1=gt,5
script1op1=stat_level,7

[com_163]
type=Text
x=250
y=4
width=65
height=15
layerId=28573824
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 8"
text2="level 8"
script1=gt,7
script1op1=stat_level,7

[com_164]
type=Text
x=250
y=4
width=65
height=15
layerId=28573799
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 18"
text2="level 18"
script1=gt,17
script1op1=stat_level,7

[com_165]
type=Text
x=250
y=4
width=65
height=15
layerId=28573806
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 20"
text2="level 20"
script1=gt,19
script1op1=stat_level,7

[com_166]
type=Text
x=250
y=4
width=65
height=15
layerId=28573844
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 33"
text2="level 33"
script1=gt,32
script1op1=stat_level,7

[com_167]
type=Text
x=250
y=4
width=65
height=15
layerId=28573857
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 37"
text2="level 37"
script1=gt,37
script1op1=stat_level,7

[com_168]
type=Text
x=250
y=4
width=65
height=15
layerId=28573833
colour=0xFF0000
colour2=0x00FF00
hAlign=Right
font=495
shadow=yes
text="level 32"
text2="level 32"
script1=gt,31
script1op1=stat_level,7

[com_169]
type=Text
x=100
y=127
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Wizard Blizzard"
text2="Wizard Blizzard"
script1=gt,1
script1op1=inv_count,inventory:inv,vodka
script2=gt,0
script2op1=inv_count,inventory:inv,gin
script3=gt,0
script3op1=inv_count,inventory:inv,orange
script4=gt,0
script4op1=inv_count,inventory:inv,lime
script5=gt,0
script5op1=inv_count,inventory:inv,lemon

[com_170]
type=Text
x=207
y=127
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Short Green Guy"
text2="Short Green Guy"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka
script2=gt,2
script2op1=inv_count,inventory:inv,lime

[com_171]
type=Text
x=315
y=128
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Fruit Blast"
text2="Fruit Blast"
script1=gt,0
script1op1=inv_count,inventory:inv,pineapple
script2=gt,0
script2op1=inv_count,inventory:inv,lemon
script3=gt,0
script3op1=inv_count,inventory:inv,orange

[com_172]
type=Text
x=54
y=199
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Pineapple Punch"
text2="Pineapple Punch"
script1=gt,1
script1op1=inv_count,inventory:inv,pineapple
script2=gt,0
script2op1=inv_count,inventory:inv,lemon
script3=gt,0
script3op1=inv_count,inventory:inv,orange

[com_173]
type=Text
x=161
y=199
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Drunk Dragon"
text2="Drunk Dragon"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka
script2=gt,0
script2op1=inv_count,inventory:inv,gin
script3=gt,0
script3op1=inv_count,inventory:inv,dwellberries

[com_174]
type=Text
x=266
y=199
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Chocolate Saturday"
text2="Chocolate Saturday"
script1=gt,0
script1op1=inv_count,inventory:inv,whisky
script2=gt,0
script2op1=inv_count,inventory:inv,equa_leaves
script3=gt,0
script3op1=inv_count,inventory:inv,bucket_milk
script4=gt,0
script4op1=inv_count,inventory:inv,chocolate_bar

[com_175]
type=Text
x=363
y=199
width=90
height=25
colour=0xFF0000
colour2=0x00FF00
hAlign=Center
font=495
shadow=yes
text="Blurberry Special"
text2="Blurberry Special"
script1=gt,0
script1op1=inv_count,inventory:inv,vodka
script2=gt,0
script2op1=inv_count,inventory:inv,gin
script3=gt,0
script3op1=inv_count,inventory:inv,brandy
script4=gt,1
script4op1=inv_count,inventory:inv,lemon
script5=gt,0
script5op1=inv_count,inventory:inv,orange

[com_176]
type=Sprite
x=471
y=26
width=26
height=23
overLayerId=178
graphic=535

[com_177]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=28573874
graphic=536
buttonText="Ok"

[com_178]
type=Layer
x=468
y=22
width=32
height=32
hide=yes
