[layer_1]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[sliske1_riddle_text]
type=Text
buttonType=Pause
y=16
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[gold_frame_2_lightback_layer]
type=Text
buttonType=Pause
y=36
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[gold_frame_2_lightback_background_layer]
type=Text
buttonType=Pause
y=56
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[com_4]
type=Text
buttonType=Pause
y=76
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option4"
eventCode=pauseButton

[com_5]
type=Sprite
width=57
height=13
layerId=15532039
graphic=302

[com_6]
type=Sprite
x=280
width=57
height=13
layerId=15532039
graphic=301

[com_7]
type=Layer
x=72
y=1
width=337
height=13

[com_8]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[com_9]
type=Sprite
width=57
height=13
layerId=15532040
graphic=302

[com_10]
type=Sprite
x=419
width=57
height=13
layerId=15532040
graphic=301
