[sliske1_turn_page_right]
type=Model
x=34
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=1882

[sliske1_turn_page_left]
type=Text
x=111
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[sliske1_notebook_close]
type=Text
x=111
y=40
width=350
height=17
hAlign=Center
font=497
text="Line1"

[sliske1_underworld_bg]
type=Text
buttonType=Pause
x=111
y=80
width=350
height=17
colour=0x0000FF
colourOver=0xFFFFFF
hAlign=Center
font=497
text="Click here to continue"
eventCode=pauseButton
