[text_background]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes
baseOpName="  "

[text_border_1]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[text_border_2]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[text_border_3]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[text_border_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[text_border_5]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[text_border_6]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[text_border_7]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[text_border_8]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[text_1]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[help_overlay_background]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[help_layer_1]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[text_layer]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[text_layer_1]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[text_layer_2]
type=Text
x=18
y=27
width=475
height=22
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Common Item Costs : *type*"
onload=675

[text_layer_3]
type=Sprite
x=220
y=26
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Tin ore"
opName0="Examine"

[text_layer_4]
type=Sprite
x=387
y=26
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Iron ore"
opName0="Examine"

[regroup_icon]
type=Sprite
x=53
y=97
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Silver ore"
opName0="Examine"

[selectall_icon]
type=Sprite
x=53
y=26
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Copper ore"
opName0="Examine"

[regroup_border_left]
type=Sprite
x=220
y=97
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Coal"
opName0="Examine"

[regroup_border_right]
type=Sprite
x=387
y=97
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Gold ore"
opName0="Examine"

[resize_tab_button_layer_1]
type=Sprite
x=53
y=172
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Mithril ore"
opName0="Examine"

[selectall_border_left]
type=Sprite
x=220
y=172
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Adamantite ore"
opName0="Examine"

[selectall_border_right]
type=Sprite
x=387
y=172
width=32
height=32
layerId=42074154
eventCode=hasOp(1)
baseOpName="<col=FF981F>Runite ore"
opName0="Examine"

[resize_tab_button_layer]
type=Layer
x=41
y=16
width=55
height=49
layerId=42074154
onload=100,component.parentId

[background]
type=Layer
x=208
y=16
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_nw]
type=Layer
x=375
y=16
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_n]
type=Layer
x=41
y=87
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_ne]
type=Layer
x=208
y=87
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_e]
type=Layer
x=375
y=87
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_se]
type=Layer
x=41
y=162
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_s]
type=Layer
x=208
y=162
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_sw]
type=Layer
x=375
y=162
width=55
height=49
layerId=42074154
onload=100,component.parentId

[border_w]
type=Text
x=45
y=70
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith]
type=Text
x=213
y=70
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[ezekial]
type=Text
x=380
y=70
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva]
type=Text
x=45
y=141
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_button_layer]
type=Text
x=213
y=141
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_head]
type=Text
x=380
y=141
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_prog_text_left]
type=Text
x=45
y=216
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_prog_text_right]
type=Text
x=213
y=216
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_prog_text_mid]
type=Text
x=380
y=216
width=45
height=10
layerId=42074154
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[kennith_health]
type=Layer
x=20
y=55
width=473
height=263
hide=yes

[kennith_name]
type=Sprite
x=29
y=26
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Adamant armour set (l)"
opName0="Examine"

[kennith_large_progress_layer]
type=Sprite
x=125
y=26
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Rune armour set (l)"
opName0="Examine"

[control_layer]
type=Sprite
x=220
y=26
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dragon armour set (l)"
opName0="Examine"

[selectall_layer]
type=Sprite
x=316
y=26
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Green dragonhide armour set (l)"
opName0="Examine"

[regroup_layer]
type=Sprite
x=412
y=26
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Black dragonhide armour set"
opName0="Examine"

[border_layer]
type=Sprite
x=29
y=106
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Ahrim's armour set"
opName0="Examine"

[aif_bronze_button_dropshadow_right_graphic_2]
type=Sprite
x=125
y=106
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dharok's armour set"
opName0="Examine"

[aif_bronze_button_dropshadow_bottom_graphic_2]
type=Sprite
x=220
y=106
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Guthan's armour set"
opName0="Examine"

[aif_bronze_button_dropshadow_bottom_right_graphic_2]
type=Sprite
x=316
y=106
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Verac's armour set"
opName0="Examine"

[icon_button_resize_on_layer]
type=Sprite
x=412
y=106
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dragon boots"
opName0="Examine"

[icon_button_resize_over_layer]
type=Sprite
x=29
y=186
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Abyssal whip"
opName0="Examine"

[icon_button_resize_hit_layer]
type=Sprite
x=125
y=186
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dark bow"
opName0="Examine"

[icon_button_resize_content_layer]
type=Sprite
x=220
y=186
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dragon axe"
opName0="Examine"

[kennith_button]
type=Sprite
x=316
y=186
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Dragon scimitar"
opName0="Examine"

[kennith_invalid_selection]
type=Sprite
x=412
y=186
width=32
height=32
layerId=42074200
eventCode=hasOp(1)
baseOpName="<col=FF981F>Granite maul"
opName0="Examine"

[kennith_select]
type=Layer
x=20
y=18
width=50
height=49
layerId=42074200
onload=100,component.parentId

[graphic_container_4]
type=Layer
x=116
y=18
width=50
height=49
layerId=42074200
onload=100,component.parentId

[model_container_4]
type=Layer
x=211
y=18
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_rect]
type=Layer
x=307
y=18
width=50
height=49
layerId=42074200
onload=100,component.parentId

[com_62]
type=Layer
x=403
y=18
width=50
height=49
layerId=42074200
onload=100,component.parentId

[com_63]
type=Layer
x=20
y=98
width=50
height=49
layerId=42074200
onload=100,component.parentId

[com_64]
type=Layer
x=116
y=98
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_large_progress_value_bounds_layer]
type=Layer
x=211
y=98
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_large_progress_value_layer]
type=Layer
x=307
y=98
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_healthbar_left]
type=Layer
x=403
y=98
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_healthbar_right]
type=Layer
x=20
y=178
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_healthbar_mid]
type=Layer
x=116
y=178
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_large_progress_text_layer]
type=Layer
x=211
y=178
width=50
height=49
layerId=42074200
onload=100,component.parentId

[kennith_large_progress_text]
type=Layer
x=307
y=178
width=50
height=49
layerId=42074200
onload=100,component.parentId

[ezekial_button_layer]
type=Layer
x=403
y=178
width=50
height=49
layerId=42074200
onload=100,component.parentId

[aif_bronze_button_dropshadow_right_graphic_5]
type=Text
x=20
y=73
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[aif_bronze_button_dropshadow_bottom_graphic_5]
type=Text
x=116
y=73
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[aif_bronze_button_dropshadow_bottom_right_graphic_5]
type=Text
x=210
y=73
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[icon_button_resize_on_layer_3]
type=Text
x=307
y=73
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[icon_button_resize_over_layer_3]
type=Text
x=402
y=73
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[icon_button_resize_hit_layer_3]
type=Text
x=20
y=152
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[icon_button_resize_content_layer_3]
type=Text
x=116
y=152
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[ezekial_button]
type=Text
x=210
y=152
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[ezekial_invalid_selection]
type=Text
x=307
y=152
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[ezekial_select]
type=Text
x=402
y=152
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[graphic_container_7]
type=Text
x=20
y=232
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[model_container_7]
type=Text
x=116
y=232
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[ezekial_rect]
type=Text
x=210
y=232
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_86]
type=Text
x=307
y=232
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_87]
type=Text
x=402
y=232
width=50
height=10
layerId=42074200
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_88]
type=Layer
x=20
y=54
width=474
height=263
hide=yes

[ezekial_large_progress_value_bounds_layer]
type=Sprite
x=74
y=36
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean guam"
opName0="Examine"

[ezekial_large_progress_value_layer]
type=Sprite
x=151
y=36
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean marrentill"
opName0="Examine"

[ezekial_healthbar_left]
type=Sprite
x=230
y=36
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean tarromin"
opName0="Examine"

[ezekial_healthbar_right]
type=Sprite
x=302
y=36
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean harralander"
opName0="Examine"

[ezekial_healthbar_mid]
type=Sprite
x=372
y=36
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean ranarr"
opName0="Examine"

[ezekial_large_progress_text_layer]
type=Sprite
x=74
y=113
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean toadflax"
opName0="Examine"

[ezekial_large_progress_text]
type=Sprite
x=152
y=113
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean irit"
opName0="Examine"

[ezekial_head]
type=Sprite
x=232
y=109
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean spirit weed"
opName0="Examine"

[ezekial_prog_text_left_1]
type=Sprite
x=302
y=112
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean avantoe"
opName0="Examine"

[ezekial_prog_text_right_1]
type=Sprite
x=372
y=112
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean kwuarm"
opName0="Examine"

[ezekial_prog_text_mid_1]
type=Sprite
x=73
y=187
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean snapdragon"
opName0="Examine"

[ezekial_health]
type=Sprite
x=150
y=187
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean cadantine"
opName0="Examine"

[ezekial_name]
type=Sprite
x=230
y=186
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean lantadyme"
opName0="Examine"

[ezekial_large_progress_layer]
type=Sprite
x=302
y=186
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean dwarf weed"
opName0="Examine"

[eva_button_layer]
type=Sprite
x=372
y=186
width=32
height=32
layerId=42074246
eventCode=hasOp(1)
baseOpName="<col=FF981F>Clean torstol"
opName0="Examine"

[eva_head]
type=Layer
x=63
y=29
width=53
height=44
layerId=42074246
onload=100,component.parentId

[aif_bronze_button_dropshadow_right_graphic_6]
type=Layer
x=141
y=29
width=53
height=44
layerId=42074246
onload=100,component.parentId

[aif_bronze_button_dropshadow_bottom_graphic_6]
type=Layer
x=220
y=29
width=53
height=44
layerId=42074246
onload=100,component.parentId

[aif_bronze_button_dropshadow_bottom_right_graphic_6]
type=Layer
x=291
y=29
width=53
height=44
layerId=42074246
onload=100,component.parentId

[icon_button_resize_on_layer_4]
type=Layer
x=360
y=29
width=53
height=44
layerId=42074246
onload=100,component.parentId

[icon_button_resize_over_layer_4]
type=Layer
x=63
y=105
width=53
height=44
layerId=42074246
onload=100,component.parentId

[icon_button_resize_hit_layer_4]
type=Layer
x=141
y=105
width=53
height=44
layerId=42074246
onload=100,component.parentId

[icon_button_resize_content_layer_4]
type=Layer
x=220
y=105
width=53
height=44
layerId=42074246
onload=100,component.parentId

[eva_button]
type=Layer
x=291
y=105
width=53
height=44
layerId=42074246
onload=100,component.parentId

[eva_invalid_selection]
type=Layer
x=360
y=105
width=53
height=44
layerId=42074246
onload=100,component.parentId

[eva_select]
type=Layer
x=63
y=178
width=53
height=44
layerId=42074246
onload=100,component.parentId

[graphic_container_8]
type=Layer
x=141
y=178
width=53
height=44
layerId=42074246
onload=100,component.parentId

[model_container_8]
type=Layer
x=220
y=178
width=53
height=44
layerId=42074246
onload=100,component.parentId

[eva_rect]
type=Layer
x=291
y=178
width=53
height=44
layerId=42074246
onload=100,component.parentId

[com_118]
type=Layer
x=360
y=178
width=53
height=44
layerId=42074246
onload=100,component.parentId

[com_119]
type=Text
x=70
y=82
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_120]
type=Text
x=147
y=82
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_large_progress_value_bounds_layer]
type=Text
x=226
y=82
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_large_progress_text_layer_2]
type=Text
x=297
y=82
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_large_progress_value_layer]
type=Text
x=366
y=82
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_healthbar_left]
type=Text
x=70
y=158
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_healthbar_right]
type=Text
x=147
y=158
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_healthbar_mid]
type=Text
x=226
y=158
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_large_progress_text]
type=Text
x=297
y=158
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_prog_text_left_2]
type=Text
x=366
y=158
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_prog_text_right_2]
type=Text
x=70
y=230
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_prog_text_mid_2]
type=Text
x=147
y=230
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_health]
type=Text
x=226
y=230
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_name]
type=Text
x=297
y=230
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[eva_large_progress_layer]
type=Text
x=366
y=230
width=43
height=10
layerId=42074246
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_on_layer]
type=Layer
x=20
y=56
width=473
height=262
hide=yes

[resize_tab_button_over_layer]
type=Sprite
x=108
y=32
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Logs"
opName0="Examine"

[resize_tab_button_hit_layer]
type=Sprite
x=218
y=32
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Achey tree logs"
opName0="Examine"

[resize_tab_button_selected_selectall]
type=Sprite
x=329
y=32
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Oak logs"
opName0="Examine"

[selectall]
type=Sprite
x=108
y=110
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Willow logs"
opName0="Examine"

[resize_tab_button_disabled_layer]
type=Sprite
x=218
y=111
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Teak logs"
opName0="Examine"

[com_140]
type=Sprite
x=329
y=111
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Maple logs"
opName0="Examine"

[resize_tab_button_on_layer_1]
type=Sprite
x=55
y=186
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Mahogany logs"
opName0="Examine"

[resize_tab_button_over_layer_1]
type=Sprite
x=164
y=186
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Eucalyptus logs"
opName0="Examine"

[resize_tab_button_hit_layer_1]
type=Sprite
x=274
y=186
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Yew logs"
opName0="Examine"

[resize_tab_button_selected_regroup]
type=Sprite
x=379
y=186
width=32
height=32
layerId=42074277
eventCode=hasOp(1)
baseOpName="<col=FF981F>Magic logs"
opName0="Examine"

[regroup]
type=Layer
x=100
y=26
width=50
height=42
layerId=42074277
onload=100,component.parentId

[resize_tab_button_disabled_layer_1]
type=Layer
x=210
y=26
width=50
height=42
layerId=42074277
onload=100,component.parentId

[com_147]
type=Layer
x=321
y=26
width=50
height=42
layerId=42074277
onload=100,component.parentId

[help_layer]
type=Layer
x=100
y=104
width=50
height=42
layerId=42074277
onload=100,component.parentId

[help_overlay]
type=Layer
x=210
y=105
width=50
height=42
layerId=42074277
onload=100,component.parentId

[help_border_left]
type=Layer
x=321
y=105
width=50
height=42
layerId=42074277
onload=100,component.parentId

[help_border_right]
type=Layer
x=47
y=180
width=50
height=42
layerId=42074277
onload=100,component.parentId

[resize_tab_button_layer_2]
type=Layer
x=156
y=180
width=50
height=42
layerId=42074277
onload=100,component.parentId

[resize_tab_button_on_layer_2]
type=Layer
x=266
y=180
width=50
height=42
layerId=42074277
onload=100,component.parentId

[resize_tab_button_over_layer_2]
type=Layer
x=371
y=180
width=50
height=42
layerId=42074277
onload=100,component.parentId

[resize_tab_button_hit_layer_2]
type=Text
x=106
y=75
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_selected_help]
type=Text
x=216
y=75
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[help]
type=Text
x=327
y=75
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[help_icon]
type=Text
x=106
y=153
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_disabled_layer_2]
type=Text
x=216
y=153
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_160]
type=Text
x=327
y=153
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_background_1]
type=Text
x=53
y=228
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_9]
type=Text
x=162
y=228
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_10]
type=Text
x=272
y=227
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_11]
type=Text
x=377
y=227
width=41
height=10
layerId=42074277
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_12]
type=Layer
x=20
y=55
width=472
height=263

[text_border_13]
type=Model
modelZoom=400
discardedModelField=0

[text_border_14]
type=Sprite
x=59
y=33
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Rune essence"
opName0="Examine"

[text_border_15]
type=Sprite
x=140
y=33
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Pure essence"
opName0="Examine"

[text_border_16]
type=Sprite
x=220
y=33
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Air rune"
opName0="Examine"

[text_2]
type=Sprite
x=300
y=33
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Mind rune"
opName0="Examine"

[text_background_2]
type=Sprite
x=380
y=33
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Water rune"
opName0="Examine"

[text_border_17]
type=Sprite
x=59
y=103
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Earth rune"
opName0="Examine"

[text_border_18]
type=Sprite
x=140
y=103
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Fire rune"
opName0="Examine"

[text_border_19]
type=Sprite
x=220
y=103
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Body rune"
opName0="Examine"

[text_border_20]
type=Sprite
x=300
y=103
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Cosmic rune"
opName0="Examine"

[text_border_21]
type=Sprite
x=380
y=103
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Chaos rune"
opName0="Examine"

[text_border_22]
type=Sprite
x=20
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Astral rune"
opName0="Examine"

[text_border_23]
type=Sprite
x=100
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Nature rune"
opName0="Examine"

[text_border_24]
type=Sprite
x=180
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Law rune"
opName0="Examine"

[com_180]
type=Sprite
x=260
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Death rune"
opName0="Examine"

[text_3]
type=Sprite
x=340
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Blood rune"
opName0="Examine"

[text_background_3]
type=Sprite
x=421
y=177
width=32
height=32
layerId=42074327
eventCode=hasOp(1)
baseOpName="<col=FF981F>Soul rune"
opName0="Examine"

[text_border_25]
type=Text
x=58
y=74
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_26]
type=Text
x=139
y=74
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_27]
type=Text
x=219
y=74
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_28]
type=Text
x=299
y=74
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_29]
type=Text
x=379
y=74
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_30]
type=Text
x=58
y=143
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_31]
type=Text
x=139
y=143
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_border_32]
type=Text
x=219
y=143
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[com_191]
type=Text
x=299
y=143
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[text_4]
type=Text
x=379
y=143
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[help_border_left_1]
type=Text
x=18
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[help_border_right_1]
type=Text
x=99
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_layer_3]
type=Text
x=179
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_on_layer_3]
type=Text
x=259
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_over_layer_3]
type=Text
x=339
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_hit_layer_3]
type=Text
x=420
y=218
width=32
height=10
layerId=42074327
colour=0xCC9900
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="cost"

[resize_tab_button_selected_help_1]
type=Layer
x=53
y=30
width=40
height=40
layerId=42074327
onload=100,component.parentId

[help_inside_help]
type=Layer
x=134
y=30
width=40
height=40
layerId=42074327
onload=100,component.parentId

[help_2]
type=Layer
x=214
y=30
width=40
height=40
layerId=42074327
onload=100,component.parentId

[resize_tab_button_disabled_layer_3]
type=Layer
x=294
y=30
width=40
height=40
layerId=42074327
onload=100,component.parentId

[com_203]
type=Layer
x=374
y=30
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_background_4]
type=Layer
x=53
y=100
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_33]
type=Layer
x=134
y=100
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_34]
type=Layer
x=214
y=100
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_35]
type=Layer
x=294
y=100
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_36]
type=Layer
x=374
y=100
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_37]
type=Layer
x=14
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_38]
type=Layer
x=94
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_39]
type=Layer
x=174
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_border_40]
type=Layer
x=254
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[com_213]
type=Layer
x=334
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[text_5]
type=Layer
x=415
y=174
width=40
height=40
layerId=42074327
onload=100,component.parentId

[com_215]
type=Layer
x=20
y=55
width=472
height=263
hide=yes

[com_216]
type=Model
modelZoom=400
discardedModelField=0

[com_217]
type=Sprite
x=23
y=25
width=25
height=25
graphic=1164
