[universe]
type=Rectangle
width=512
height=334
trans=50
colour=0x576141
fill=yes

[bespoke_window]
type=Layer
width=512
height=334
hide=yes

[slug2_whole_paper]
type=Model
x=242
y=172
width=32
height=32
layerId=30146561
model1Id=18392
modelZoom=800
modelXAn=568

[slug2_whole_paper_model]
type=Layer
width=512
height=334
hide=yes

[slug2_torn_page_one]
type=Model
x=257
y=170
width=32
height=32
layerId=30146563
model1Id=18393
modelZoom=800
modelXAn=568

[slug2_torn_page_one_model]
type=Layer
width=512
height=334
hide=yes

[slug2_border_one]
type=Model
x=257
y=170
width=32
height=32
layerId=30146565
model1Id=18397
modelZoom=800
modelXAn=568

[slug2_border_one_model]
type=Layer
width=512
height=334
hide=yes

[slug2_torn_page_two]
type=Model
x=257
y=170
width=32
height=32
layerId=30146567
model1Id=18395
modelZoom=800
modelXAn=568

[slug2_torn_page_two_model]
type=Sprite
x=468
y=15
width=26
height=23
overLayerId=11
graphic=537

[slug2_border_two]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=30146571
graphic=538
buttonText="Ok"

[slug2_border_two_model]
type=Layer
x=465
y=12
width=33
height=28
hide=yes

[slug2_torn_page_three]
type=Layer
width=512
height=334
hide=yes

[slug2_torn_page_three_model]
type=Model
x=257
y=170
width=32
height=32
layerId=30146572
model1Id=18387
modelZoom=800
modelXAn=568

[slug2_border_three]
type=Layer
width=512
height=334
hide=yes

[slug2_border_three_model]
type=Model
x=257
y=170
width=32
height=32
layerId=30146574
model1Id=18396
modelZoom=800
modelXAn=568

[slug2_congrat_layer]
type=Layer
width=512
height=334
hide=yes

[slug2_congrat_text]
type=Model
x=257
y=170
width=32
height=32
layerId=30146576
model1Id=18394
modelZoom=800
modelXAn=568

[bespoke_window_background]
type=Layer
y=46
width=512
height=27
hide=yes

[bespoke_window_content]
type=Text
y=5
width=218
height=14
layerId=30146578
colour=0xFFFF00
hAlign=Center
font=496
shadow=yes
text="That's it, it all makes sense now! "
