[base]
type=Sprite
x=21
y=148
width=88
height=60
graphic=297

[controls]
type=Sprite
x=86
y=148
width=88
height=60
graphic=297

[flip_button]
type=Sprite
x=21
y=188
width=88
height=60
graphic=297

[move_up]
type=Sprite
x=86
y=188
width=88
height=60
graphic=297

[move_left]
type=Sprite
x=21
y=148
width=25
height=30
graphic=310

[rotate_button]
type=Sprite
x=149
y=148
width=25
height=30
graphic=311

[move_right]
type=Sprite
x=153
y=192
width=36
height=36
graphic=315

[move_down]
type=Sprite
x=149
y=218
width=25
height=30
graphic=313

[checkboxes]
type=Sprite
x=153
y=168
width=36
height=36
graphic=315

[back]
type=Sprite
x=46
y=133
width=36
height=36
graphic=314

[com_10]
type=Sprite
x=82
y=133
width=36
height=36
graphic=314

[schematic_1]
type=Sprite
x=114
y=133
width=36
height=36
graphic=314

[show_1]
type=Sprite
x=6
y=173
width=36
height=36
graphic=172

[select_1]
type=Sprite
x=6
y=203
width=36
height=36
graphic=172

[com_14]
type=Sprite
x=21
y=218
width=25
height=30
graphic=312

[schematic_2]
type=Sprite
x=46
y=227
width=36
height=36
graphic=173

[show_2]
type=Sprite
x=113
y=227
width=36
height=36
graphic=173

[select_2]
type=Sprite
x=82
y=227
width=36
height=36
graphic=173

[com_18]
type=Text
x=64
y=1
width=65
height=15
layerId=30277666
colour=0xAC8A24
colour2=0xAA3322
font=495
shadow=yes
text="Piece 1"
script1=gt,0
script1op1=inv_count,inventory:inv,slug2_page4a

[schematic_3]
type=Text
x=64
y=1
width=65
height=14
layerId=30277667
colour=0xAC8A24
colour2=0xAA3322
font=495
shadow=yes
text="Piece 2"
script1=gt,0
script1op1=inv_count,inventory:inv,slug2_page4b

[show_3]
type=Text
x=64
y=1
width=65
height=14
layerId=30277668
colour=0xAC8A24
colour2=0xAA3322
font=495
shadow=yes
text="Piece 3"
script1=gt,0
script1op1=inv_count,inventory:inv,slug2_page4c

[select_3]
type=Text
x=31
y=157
width=136
height=15
colour=0xAC8A24
font=496
shadow=yes
text="Show/Select"

[com_22]
type=Sprite
buttonType=Select
x=32
y=1
width=15
height=15
layerId=30277666
graphic=180
graphic2=181
buttonText="Select Fragment One"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[flip_build]
type=Sprite
buttonType=Select
x=32
y=1
width=15
height=15
layerId=30277667
graphic=180
graphic2=181
buttonText="Select Fragment Two"
eventCode=flag22
script1=eq,1
script1op1=varp,if2

[flip_click]
type=Sprite
buttonType=Select
x=32
y=1
width=36
height=36
layerId=30277668
graphic=180
graphic2=181
buttonText="Select Fragment Three"
eventCode=flag22
script1=eq,1
script1op1=varp,if3

[com_25]
type=Sprite
buttonType=Button
x=1
y=1
width=15
height=15
layerId=30277666
graphic=180
graphic2=181
buttonText="Show Fragment One"
eventCode=flag22
script1=eq,1
script1op1=varp,if4

[com_26]
type=Sprite
buttonType=Button
x=1
y=1
width=15
height=15
layerId=30277667
graphic=180
graphic2=181
buttonText="Show Fragment Two"
eventCode=flag22
script1=eq,1
script1op1=varp,if5

[com_27]
type=Sprite
buttonType=Button
x=1
y=1
width=15
height=15
layerId=30277668
graphic=180
graphic2=181
buttonText="Show Fragment Three"
eventCode=flag22
script1=eq,1
script1op1=varp,if6

[com_28]
type=Model
buttonType=Button
x=80
y=60
width=32
height=32
model1Id=18391
model2Id=18388
modelZoom=1000
modelXAn=500
buttonText="Rotate the Fragment"
eventCode=flag22

[com_29]
type=Model
buttonType=Button
x=80
y=20
width=32
height=32
model1Id=18389
model2Id=18386
modelZoom=1000
modelXAn=500
buttonText="Move Fragment Up"
eventCode=flag22

[com_30]
type=Model
buttonType=Button
x=121
y=59
width=32
height=32
model1Id=18389
model2Id=18386
modelZoom=1000
modelXAn=500
modelYAn=500
buttonText="Move Fragment Right"
eventCode=flag22

[com_31]
type=Model
buttonType=Button
x=41
y=59
width=32
height=32
model1Id=18389
model2Id=18386
modelZoom=1000
modelXAn=500
modelYAn=1530
buttonText="Move Fragment Left"
eventCode=flag22

[com_32]
type=Model
buttonType=Button
x=80
y=99
width=32
height=32
model1Id=18389
model2Id=18386
modelZoom=1000
modelXAn=500
modelYAn=1015
buttonText="Move Fragment Down"
eventCode=flag22

[com_33]
type=Model
buttonType=Button
x=123
y=101
width=32
height=32
model1Id=18390
model2Id=18385
modelZoom=1384
modelXAn=500
modelYAn=1015
buttonText="Flip Fragment Over"
eventCode=flag22

[com_34]
type=Layer
x=38
y=179
width=150
height=17

[com_35]
type=Layer
x=38
y=199
width=150
height=17

[com_36]
type=Layer
x=38
y=219
width=150
height=17
