[mainmodal_window]
type=Sprite
x=492
y=1
width=17
height=13
graphic=765

[mainmodal_window_background]
type=Text
x=415
y=-9
width=72
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Wave 1"

[mainmodal_window_content]
type=Sprite
x=493
y=24
width=17
height=13
graphic=766

[ingredient_selection_layer]
type=Text
x=439
y=11
width=48
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Tofu"

[accordion_main_layer]
type=Sprite
x=491
y=46
width=17
height=13
graphic=767

[ing_sel_scrollbar]
type=Text
x=382
y=33
width=106
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Poison meat"

[accordion_group_layer]
type=Sprite
x=492
y=66
width=17
height=13
graphic=771

[accordion_button_layer]
type=Text
x=429
y=56
width=59
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Healer"
