[com_0]
type=Model
x=519
y=301
width=25575
height=38710
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34465
modelAnim=smki_smoke_overlay
modelZoom=280
modelXOf=-28
discardedModelField=64359
modelBaseWidth=799
modelBaseHeight=789

[com_1]
type=Model
x=-185
y=939
width=32615
height=49992
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34465
modelAnim=smki_smoke_overlay_reverse
modelZoom=219
modelXOf=-7
discardedModelField=64474
modelBaseWidth=1019
modelBaseHeight=1019

[black]
type=Model
x=-377
y=301
width=18535
height=18696
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34466
modelAnim=smki_fade_from_black
modelZoom=272
discardedModelField=64371
modelBaseWidth=579
modelBaseHeight=381

[com_3]
type=Model
x=7
y=7
width=16487
height=17323
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34608
modelZoom=320
modelYOf=176
discardedModelField=0
modelBaseWidth=515
modelBaseHeight=353
eventCode=hasOp(10)
opName9=" "
