[com_0]
type=Model
x=519
y=301
width=25575
height=38710
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34465
modelAnim=smki_smoke_overlay
modelZoom=280
modelXOf=-28
discardedModelField=64358
modelBaseWidth=799
modelBaseHeight=789

[com_1]
type=Model
x=7
y=939
width=32615
height=49992
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34465
modelAnim=smki_smoke_overlay_reverse
modelZoom=219
modelXOf=-7
discardedModelField=64473
modelBaseWidth=1019
modelBaseHeight=1019

[com_2]
type=Model
x=7
y=7
width=16487
height=17323
widthAlignment=Percentage
heightAlignment=Percentage
xAlignment=Percentage_Center
yAlignment=Percentage_Center
model1Id=34608
modelZoom=320
modelYOf=176
discardedModelField=0
modelBaseWidth=515
modelBaseHeight=353
