[background]
type=Layer
x=34
y=275
width=450
height=24
hide=yes

[border]
type=Text
width=450
height=24
layerId=13631488
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
text="Text"
