[com_0]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_1]
type=Sprite
x=15
y=80
width=88
height=60
graphic=297

[com_2]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[answer3]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[answer2]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[answer1]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[modal_dialog_window]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[modal_dialog_window_background]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[modal_dialog_window_content]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[question]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[a1]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[a2]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[a3]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[modal_dialog_window_border]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[modal_dialog_window_close_button]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[info]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[bg]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[correct]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[answer_info]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[next_button]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[neutral_build]
type=Sprite
x=359
y=200
width=88
height=60
graphic=297

[neutral_click]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=406
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Model
buttonType=Button
x=355
y=237
width=50
height=49
model1Id=3664
modelZoom=335
modelXAn=197
modelYAn=1913
buttonText="Buy for 800 tickets"
eventCode=flag22

[com_89]
type=Model
buttonType=Button
x=84
y=235
width=47
height=44
model1Id=2364
modelZoom=400
modelXAn=539
modelYAn=1735
buttonText="Buy for 3 tickets"
eventCode=flag22

[com_90]
type=Text
x=21
y=29
width=469
height=18
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Brimhaven Agility Arena Ticket Exchange"

[com_91]
type=Text
buttonType=Button
x=78
y=210
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Toadflax"
text2="Toadflax"
buttonText="Buy for 3 tickets"
eventCode=flag22
script1=gt,2
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_92]
type=Text
buttonType=Button
x=347
y=212
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Pirate's hook"
text2="Pirate's hook"
buttonText="Buy for 800 tickets"
eventCode=flag22
script1=gt,799
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_93]
type=Model
buttonType=Button
x=45
y=108
width=39
height=56
model1Id=3328
modelZoom=704
modelXAn=526
modelYAn=2042
buttonText="Buy for 1 ticket"
eventCode=flag22

[com_94]
type=Text
buttonType=Button
x=30
y=79
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Experience (1)"
text2="Experience (1)"
buttonText="Buy for 1 ticket"
eventCode=flag22
script1=gt,0
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_95]
type=Model
buttonType=Button
x=137
y=108
width=39
height=56
model1Id=3328
modelZoom=704
modelXAn=526
modelYAn=2042
buttonText="Buy for 10 tickets"
eventCode=flag22

[com_96]
type=Model
buttonType=Button
x=229
y=108
width=39
height=56
model1Id=3328
modelZoom=704
modelXAn=526
modelYAn=2042
buttonText="Buy for 25 tickets"
eventCode=flag22

[com_97]
type=Model
buttonType=Button
x=321
y=108
width=39
height=56
model1Id=3328
modelZoom=704
modelXAn=526
modelYAn=2042
buttonText="Buy for 100 tickets"
eventCode=flag22

[com_98]
type=Model
buttonType=Button
x=413
y=108
width=39
height=56
model1Id=3328
modelZoom=704
modelXAn=526
modelYAn=2042
buttonText="Buy for 1000 tickets"
eventCode=flag22

[com_99]
type=Model
buttonType=Button
x=185
y=235
width=47
height=44
model1Id=2364
modelZoom=400
modelXAn=539
modelYAn=1735
buttonText="Buy for 10 tickets"
eventCode=flag22

[com_100]
type=Text
buttonType=Button
x=173
y=210
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Snapdragon"
text2="Snapdragon"
buttonText="Buy for 10 tickets"
eventCode=flag22
script1=gt,9
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_101]
type=Text
buttonType=Button
x=122
y=79
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Experience (10)"
text2="Experience (10)"
buttonText="Buy for 10 tickets"
eventCode=flag22
script1=gt,9
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_102]
type=Text
buttonType=Button
x=214
y=79
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Experience (25)"
text2="Experience (25)"
buttonText="Buy for 25 tickets"
eventCode=flag22
script1=gt,24
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_103]
type=Text
buttonType=Button
x=306
y=79
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Experience (100)"
text2="Experience (100)"
buttonText="Buy for 100 tickets"
eventCode=flag22
script1=gt,99
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_104]
type=Text
buttonType=Button
x=398
y=79
width=70
height=21
colour=0x888888
colour2=0xCCCCCC
hAlign=Center
font=494
shadow=yes
text="Experience (1000)"
text2="Experience (1000)"
buttonText="Buy for 1000 tickets"
eventCode=flag22
script1=gt,999
script1op1=inv_count,inventory:inv,agilityarena_ticket

[com_105]
type=Sprite
x=471
y=25
width=26
height=23
overLayerId=107
graphic=535

[com_106]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=393323
graphic=536
buttonText="Ok"

[com_107]
type=Layer
x=467
y=20
width=32
height=32
hide=yes
