[com_0]
type=Rectangle
x=-1
width=543
height=357
fill=yes

[com_1]
type=Model
x=240
y=454
width=32
height=32
model1Id=14282
modelAnim=fear_cut
modelZoom=467
modelXAn=132
modelYAn=6
