[main_layer]
type=Rectangle
x=3
y=17
width=184
height=231
colour=0x726451

[background_layer]
type=Rectangle
x=4
y=18
width=182
height=229
colour=0x726451

[content_layer]
type=Rectangle
x=4
y=18
width=183
height=230
colour=0x2E2B23

[list]
type=Rectangle
x=5
y=19
width=180
height=227
fill=yes

[background]
type=Text
x=3
y=2
width=182
height=16
colour=0xFFFF00
vAlign=Center
font=496
shadow=yes
onstattransmit=544,component.parentId

[icon]
type=Sprite
width=36
height=36
layerId=20971669
graphic=174

[stat]
type=Sprite
x=22
width=36
height=36
layerId=20971669
graphic=175

[stat_base]
type=Sprite
x=54
width=36
height=36
layerId=20971669
graphic=174
baseOpName="  "

[vanityicon]
type=Sprite
x=76
width=36
height=36
layerId=20971669
graphic=175

[button]
type=Sprite
x=108
width=36
height=36
layerId=20971669
graphic=174

[scrollbar]
type=Sprite
x=131
width=36
height=36
layerId=20971669
graphic=175

[fixed_area]
type=Sprite
y=32
width=36
height=36
layerId=20971669
graphic=174

[skills_line]
type=Sprite
x=22
y=32
width=36
height=36
layerId=20971669
graphic=175

[skilltotal]
type=Sprite
x=54
y=32
width=36
height=36
layerId=20971669
graphic=174

[combat_level]
type=Sprite
x=76
y=32
width=36
height=36
layerId=20971669
graphic=175

[qp_layer]
type=Sprite
x=108
y=32
width=36
height=36
layerId=20971669
graphic=174

[tooltip]
type=Sprite
x=131
y=32
width=36
height=36
layerId=20971669
graphic=175

[frame_layer]
type=Sprite
y=64
width=36
height=36
layerId=20971669
graphic=174

[com_18]
type=Sprite
x=22
y=64
width=36
height=36
layerId=20971669
graphic=175

[com_19]
type=Sprite
x=54
y=64
width=36
height=36
layerId=20971669
graphic=174

[com_20]
type=Sprite
x=76
y=64
width=36
height=36
layerId=20971669
graphic=175

[com_21]
type=Sprite
x=108
y=64
width=36
height=36
layerId=20971669
graphic=174

[com_22]
type=Sprite
x=131
y=64
width=36
height=36
layerId=20971669
graphic=175

[com_23]
type=Sprite
y=96
width=36
height=36
layerId=20971669
graphic=174

[com_24]
type=Sprite
x=22
y=96
width=36
height=36
layerId=20971669
graphic=175

[com_25]
type=Sprite
x=54
y=96
width=36
height=36
layerId=20971669
graphic=174

[com_26]
type=Sprite
x=76
y=96
width=36
height=36
layerId=20971669
graphic=175

[com_27]
type=Sprite
x=108
y=96
width=36
height=36
layerId=20971669
graphic=174

[com_28]
type=Sprite
x=131
y=96
width=36
height=36
layerId=20971669
graphic=175

[com_29]
type=Sprite
y=128
width=36
height=36
layerId=20971669
graphic=174

[com_30]
type=Sprite
x=22
y=128
width=36
height=36
layerId=20971669
graphic=175

[com_31]
type=Sprite
x=54
y=128
width=36
height=36
layerId=20971669
graphic=174

[com_32]
type=Sprite
x=76
y=128
width=36
height=36
layerId=20971669
graphic=175

[com_33]
type=Sprite
x=108
y=128
width=36
height=36
layerId=20971669
graphic=174

[com_34]
type=Sprite
x=131
y=128
width=36
height=36
layerId=20971669
graphic=175

[com_35]
type=Sprite
y=160
width=36
height=36
layerId=20971669
graphic=174

[com_36]
type=Sprite
x=22
y=160
width=36
height=36
layerId=20971669
graphic=175

[com_37]
type=Sprite
x=54
y=160
width=36
height=36
layerId=20971669
graphic=174

[com_38]
type=Sprite
x=76
y=160
width=36
height=36
layerId=20971669
graphic=175

[com_39]
type=Sprite
x=108
y=160
width=36
height=36
layerId=20971669
graphic=174

[com_40]
type=Sprite
x=131
y=160
width=36
height=36
layerId=20971669
graphic=175

[com_41]
type=Sprite
y=192
width=36
height=36
layerId=20971669
graphic=174

[com_42]
type=Sprite
x=22
y=192
width=36
height=36
layerId=20971669
graphic=175

[com_43]
type=Sprite
x=54
y=192
width=36
height=36
layerId=20971669
graphic=174

[com_44]
type=Sprite
x=76
y=192
width=36
height=36
layerId=20971669
graphic=175

[com_45]
type=Sprite
x=108
y=192
width=36
height=36
layerId=20971669
graphic=174

[com_46]
type=Sprite
x=131
y=192
width=36
height=36
layerId=20971669
graphic=175

[com_47]
type=Sprite
y=224
width=36
height=36
layerId=20971669
graphic=174

[com_48]
type=Sprite
x=22
y=224
width=36
height=36
layerId=20971669
graphic=175

[com_49]
type=Sprite
x=54
y=224
width=36
height=36
layerId=20971669
graphic=174

[com_50]
type=Sprite
x=76
y=224
width=36
height=36
layerId=20971669
graphic=175

[com_51]
type=Sprite
x=108
y=224
width=36
height=36
layerId=20971669
graphic=174

[com_52]
type=Sprite
x=131
y=224
width=36
height=36
layerId=20971669
graphic=175

[com_53]
type=Sprite
x=3
y=4
width=25
height=25
layerId=20971669
graphic=197
baseOpName="  "
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_54]
type=Sprite
x=57
y=6
width=25
height=25
layerId=20971669
graphic=203
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_55]
type=Sprite
x=113
y=3
width=25
height=25
layerId=20971669
graphic=209
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_56]
type=Sprite
x=3
y=37
width=25
height=25
layerId=20971669
graphic=198
baseOpName=" "
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_57]
type=Sprite
x=59
y=36
width=25
height=25
layerId=20971669
graphic=204
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_58]
type=Sprite
x=112
y=36
width=25
height=25
layerId=20971669
graphic=210
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_59]
type=Sprite
x=3
y=70
width=25
height=25
layerId=20971669
graphic=199
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_60]
type=Sprite
x=58
y=71
width=25
height=25
layerId=20971669
graphic=205
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_61]
type=Sprite
x=114
y=69
width=25
height=25
layerId=20971669
graphic=211
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_62]
type=Sprite
x=3
y=102
width=25
height=25
layerId=20971669
graphic=200
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_63]
type=Sprite
x=58
y=101
width=25
height=25
layerId=20971669
graphic=206
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_64]
type=Sprite
x=111
y=101
width=25
height=25
layerId=20971669
graphic=212
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_65]
type=Sprite
x=3
y=135
width=25
height=25
layerId=20971669
graphic=201
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_66]
type=Sprite
x=57
y=133
width=25
height=25
layerId=20971669
graphic=207
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_67]
type=Sprite
x=112
y=132
width=25
height=25
layerId=20971669
graphic=213
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_68]
type=Sprite
x=3
y=165
width=25
height=25
layerId=20971669
graphic=202
baseOpName="lvl"
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_69]
type=Sprite
x=58
y=164
width=25
height=25
layerId=20971669
graphic=208
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_70]
type=Sprite
x=111
y=165
width=25
height=25
layerId=20971669
graphic=214
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_71]
type=Sprite
x=4
y=198
width=25
height=25
layerId=20971669
graphic=215
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_72]
type=Sprite
x=112
y=197
width=25
height=25
layerId=20971669
graphic=217
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_73]
type=Sprite
x=4
y=227
width=25
height=25
layerId=20971669
graphic=221
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_74]
type=Sprite
x=57
y=230
width=25
height=25
layerId=20971669
graphic=220
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_75]
type=Sprite
x=113
y=226
width=25
height=25
layerId=20971669
graphic=222
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_76]
type=Sprite
x=57
y=197
width=25
height=25
layerId=20971669
graphic=216
onvartransmit=968,component.parentId
onvartransmitlist=1179

[com_77]
type=Text
x=27
y=4
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,0
onstattransmitlist=0

[com_78]
type=Text
x=36
y=21
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,0
onstattransmitlist=0

[com_79]
type=Text
x=27
y=36
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,2
onstattransmitlist=2

[com_80]
type=Text
x=37
y=52
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,2
onstattransmitlist=2

[com_81]
type=Text
x=27
y=68
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,1
onstattransmitlist=1

[com_82]
type=Text
x=37
y=84
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,1
onstattransmitlist=1

[com_83]
type=Text
x=27
y=100
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,4
onstattransmitlist=4

[com_84]
type=Text
x=37
y=116
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,4
onstattransmitlist=4

[com_85]
type=Text
x=27
y=132
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,5
onstattransmitlist=5

[com_86]
type=Text
x=37
y=148
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,5
onstattransmitlist=5

[com_87]
type=Text
x=27
y=164
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,6
onstattransmitlist=6

[com_88]
type=Text
x=37
y=180
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,6
onstattransmitlist=6

[com_89]
type=Text
x=27
y=196
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,20
onstattransmitlist=20

[com_90]
type=Text
x=37
y=212
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,20
onstattransmitlist=20

[com_91]
type=Text
x=27
y=228
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,22
onstattransmitlist=22

[com_92]
type=Text
x=37
y=244
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,22
onstattransmitlist=22

[com_93]
type=Text
x=81
y=4
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,3
onstattransmitlist=3

[com_94]
type=Text
x=90
y=21
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,3
onstattransmitlist=3

[com_95]
type=Text
x=81
y=36
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,16
onstattransmitlist=16

[com_96]
type=Text
x=90
y=53
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,16
onstattransmitlist=16

[com_97]
type=Text
x=81
y=68
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,15
onstattransmitlist=15

[com_98]
type=Text
x=90
y=85
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,15
onstattransmitlist=15

[com_99]
type=Text
x=81
y=100
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,17
onstattransmitlist=17

[com_100]
type=Text
x=90
y=117
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,17
onstattransmitlist=17

[com_101]
type=Text
x=81
y=132
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,12
onstattransmitlist=12

[com_102]
type=Text
x=90
y=149
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,12
onstattransmitlist=12

[com_103]
type=Text
x=81
y=164
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,9
onstattransmitlist=9

[com_104]
type=Text
x=90
y=181
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,9
onstattransmitlist=9

[com_105]
type=Text
x=81
y=196
width=15
height=11
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,18
onstattransmitlist=18

[com_106]
type=Text
x=90
y=213
width=15
height=11
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
baseOpName="m"
onstattransmit=532,component.parentId,18
onstattransmitlist=18

[com_107]
type=Text
x=81
y=228
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,21
onstattransmitlist=21

[com_108]
type=Text
x=90
y=245
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,21
onstattransmitlist=21

[com_109]
type=Text
x=136
y=4
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,14
onstattransmitlist=14

[com_110]
type=Text
x=145
y=21
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,14
onstattransmitlist=14

[com_111]
type=Text
x=136
y=36
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,13
onstattransmitlist=13

[com_112]
type=Text
x=145
y=53
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,13
onstattransmitlist=13

[com_113]
type=Text
x=136
y=68
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,10
onstattransmitlist=10

[com_114]
type=Text
x=145
y=85
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,10
onstattransmitlist=10

[com_115]
type=Text
x=136
y=100
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,7
onstattransmitlist=7

[com_116]
type=Text
x=145
y=117
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,7
onstattransmitlist=7

[com_117]
type=Text
x=136
y=132
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,11
onstattransmitlist=11

[com_118]
type=Text
x=146
y=149
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,11
onstattransmitlist=11

[com_119]
type=Text
x=136
y=164
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,8
onstattransmitlist=8

[com_120]
type=Text
x=145
y=181
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,8
onstattransmitlist=8

[com_121]
type=Text
x=136
y=196
width=15
height=11
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,19
onstattransmitlist=19

[com_122]
type=Text
x=145
y=213
width=15
height=11
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,19
onstattransmitlist=19

[com_123]
type=Text
x=136
y=228
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=525,component.parentId,23
onstattransmitlist=23

[com_124]
type=Text
x=145
y=245
width=15
height=12
layerId=20971669
colour=0xFFFF00
hAlign=Center
font=494
shadow=yes
onstattransmit=532,component.parentId,23
onstattransmitlist=23

[com_125]
type=Text
x=2
y=2
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
baseOpName=" "
opName0="View"
onmouseover=545,component.parentId,0,20971671
onmouseleave=546,20971671

[com_126]
type=Text
x=2
y=34
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,2,20971671
onmouseleave=546,20971671

[com_127]
type=Text
x=2
y=66
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,1,20971671
onmouseleave=546,20971671

[com_128]
type=Text
x=2
y=98
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,4,20971671
onmouseleave=546,20971671

[com_129]
type=Text
x=2
y=130
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,5,20971671
onmouseleave=546,20971671

[com_130]
type=Text
x=2
y=162
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,6,20971671
onmouseleave=546,20971671

[com_131]
type=Text
x=2
y=194
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,20,20971671
onmouseleave=546,20971671

[com_132]
type=Text
x=2
y=226
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,22,20971671
onmouseleave=546,20971671

[com_133]
type=Text
x=56
y=2
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,3,20971671
onmouseleave=546,20971671

[com_134]
type=Text
x=56
y=34
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,16,20971671
onmouseleave=546,20971671

[com_135]
type=Text
x=56
y=66
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,15,20971671
onmouseleave=546,20971671

[com_136]
type=Text
x=56
y=98
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,17,20971671
onmouseleave=546,20971671

[com_137]
type=Text
x=56
y=130
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,12,20971671
onmouseleave=546,20971671

[com_138]
type=Text
x=56
y=162
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,9,20971671
onmouseleave=546,20971671

[com_139]
type=Text
x=56
y=194
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,18,20971671
onmouseleave=546,20971671

[com_140]
type=Text
x=54
y=226
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,21,20971671
onmouseleave=546,20971671

[com_141]
type=Text
x=110
y=2
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,14,20971671
onmouseleave=546,20971671

[com_142]
type=Text
x=110
y=34
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,13,20971671
onmouseleave=546,20971671

[com_143]
type=Text
x=110
y=66
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,10,20971671
onmouseleave=546,20971671

[com_144]
type=Text
x=110
y=98
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,7,20971671
onmouseleave=546,20971671

[com_145]
type=Text
x=110
y=130
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,11,20971671
onmouseleave=546,20971671

[com_146]
type=Text
x=110
y=162
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,8,20971671
onmouseleave=546,20971671

[com_147]
type=Text
x=110
y=194
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,19,20971671
onmouseleave=546,20971671

[com_148]
type=Text
x=110
y=226
width=52
height=32
layerId=20971669
font=494
shadow=yes
eventCode=hasOp(1)
opName0="View"
onmouseover=545,component.parentId,23,20971671
onmouseleave=546,20971671

[com_149]
type=Layer
x=3
y=19
width=167
height=227
scrollHeight=260
baseOpName="  "

[com_150]
type=Layer
x=169
y=19
width=16
height=227
baseOpName="  "
onload=825,component.parentId,20971669,792,789,790,791,773,788

[com_151]
type=Layer
y=19
width=190
height=241
