[offerbutton5]
type=Rectangle
x=80
y=70
width=366
height=215
trans=200
fill=yes

[offersummary5]
type=Sprite
x=76
y=56
width=362
height=220
graphic=297
tiling=yes

[offerbutton5_hide]
type=Sprite
x=74
y=86
width=7
height=161
graphic=955
tiling=yes

[offerbutton4]
type=Sprite
x=74
y=54
width=32
height=32
graphic=958

[offersummary4]
type=Sprite
x=408
y=86
width=32
height=161
graphic=957
tiling=yes

[offerbutton4_hide]
type=Sprite
x=106
y=54
width=302
height=7
graphic=954
tiling=yes

[offerbutton3]
type=Sprite
x=106
y=247
width=302
height=32
graphic=956
tiling=yes

[offersummary3]
type=Sprite
x=74
y=247
width=32
height=32
graphic=960

[offerbutton3_hide]
type=Sprite
x=408
y=54
width=32
height=32
graphic=959

[offerbutton2]
type=Sprite
x=408
y=247
width=32
height=32
graphic=961

[offersummary2]
type=Sprite
x=85
y=82
width=344
height=6
graphic=962
tiling=yes

[offerbutton1]
type=Sprite
x=74
y=70
width=32
height=32
graphic=963

[offersummary1]
type=Sprite
x=408
y=70
width=32
height=32
graphic=964

[offerbutton0]
type=Sprite
x=415
y=63
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
onclick=29

[offersummary0]
type=Sprite
x=85
y=59
width=25
height=25
graphic=1164

[offerbutton0_layer]
type=Text
x=81
y=63
width=352
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Grand Exchange - Collection Box"
onload=654
oninvtransmit=656
oninvtransmitlist=523,524,525,526,527,528

[lending_container_bg]
type=Rectangle
x=93
y=100
width=106
height=80
trans=200
fill=yes

[lending_title]
type=Layer
x=88
y=95
width=106
height=80
onload=581,component.parentId

[lending_item_bg]
type=Layer
x=88
y=95
width=106
height=80

[lending_item]
type=Layer
x=88
y=95
width=106
height=80

[lending_indicator]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143443

[offerbutton1_layer]
type=Rectangle
x=209
y=100
width=106
height=80
trans=200
fill=yes

[offerbutton2_layer]
type=Layer
x=204
y=95
width=106
height=80
onload=581,component.parentId

[offerbutton3_layer]
type=Layer
x=204
y=95
width=106
height=80

[offerbutton4_layer]
type=Layer
x=204
y=95
width=106
height=80

[offerbutton5_layer]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143448

[offerbutton6_layer]
type=Rectangle
x=325
y=100
width=106
height=80
trans=200
fill=yes

[offerbutton7_layer]
type=Layer
x=320
y=95
width=106
height=80
onload=581,component.parentId

[lending_container]
type=Layer
x=320
y=95
width=106
height=80

[lending_layer_hide]
type=Layer
x=320
y=95
width=106
height=80

[send_to_bank_layer]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143453

[com_31]
type=Layer
x=320
y=95
width=106
height=80

[com_32]
type=Rectangle
width=120
height=80
layerId=7143455
trans=160
colour=0x808080
fill=yes

[com_33]
type=Sprite
width=120
height=80
layerId=7143455
graphic=1167
tiling=yes

[com_34]
type=Rectangle
x=93
y=190
width=106
height=80
trans=200
fill=yes

[com_35]
type=Layer
x=88
y=185
width=106
height=80
onload=581,component.parentId

[com_36]
type=Layer
x=88
y=185
width=106
height=80

[contents]
type=Layer
x=88
y=185
width=106
height=80

[mainmodal_window_background]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143461

[mainmodal_window_content]
type=Layer
x=88
y=185
width=106
height=80

[send_to_inv_layer]
type=Rectangle
width=140
height=110
layerId=7143463
trans=160
colour=0x808080
fill=yes

[mainmodal_window_border]
type=Sprite
width=140
height=110
layerId=7143463
graphic=1167
tiling=yes

[closebutton]
type=Rectangle
x=209
y=190
width=106
height=80
trans=200
fill=yes

[send_to_bank_on_layer]
type=Layer
x=204
y=185
width=106
height=80
onload=581,component.parentId

[send_to_bank_over_layer]
type=Layer
x=204
y=185
width=106
height=80

[send_to_bank_hit_layer]
type=Layer
x=204
y=185
width=106
height=80

[send_to_bank_selected_layer]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143469

[send_to_bank_active_layer]
type=Layer
x=204
y=185
width=106
height=80

[send_to_bank_disabled_layer]
type=Rectangle
width=140
height=110
layerId=7143471
trans=160
colour=0x808080
fill=yes

[send_to_bank_text_layer]
type=Sprite
width=140
height=110
layerId=7143471
graphic=1167
tiling=yes

[send_to_bank_text]
type=Rectangle
x=325
y=190
width=106
height=80
trans=200
fill=yes

[send_to_inv_on_layer]
type=Layer
x=320
y=185
width=106
height=80
onload=581,component.parentId

[send_to_inv_over_layer]
type=Layer
x=320
y=185
width=106
height=80

[send_to_inv_hit_layer]
type=Layer
x=320
y=185
width=106
height=80

[send_to_inv_selected_layer]
type=Layer
x=24
y=24
width=10
height=10
layerId=7143477

[send_to_inv_active_layer]
type=Layer
x=320
y=185
width=106
height=80

[send_to_inv_disabled_layer]
type=Rectangle
width=140
height=110
layerId=7143479
trans=160
colour=0x808080
fill=yes

[send_to_inv_text_layer]
type=Sprite
width=140
height=110
layerId=7143479
graphic=1167
tiling=yes
