[stocktransmit_layer]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[stockmarket]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[stockmarket_bg]
type=Sprite
x=13
y=53
width=7
height=241
graphic=955
tiling=yes

[stockmarket_content]
type=Sprite
x=13
y=20
width=32
height=32
graphic=958

[quantity_input_clickout]
type=Sprite
x=468
y=51
width=32
height=243
graphic=957
tiling=yes

[price_input_clickout]
type=Sprite
x=44
y=20
width=424
height=7
graphic=954
tiling=yes

[summarylayer]
type=Sprite
x=45
y=294
width=423
height=32
graphic=956
tiling=yes

[offersummary0]
type=Sprite
x=13
y=294
width=32
height=32
graphic=960

[offersummary0_bg]
type=Sprite
x=468
y=20
width=32
height=32
graphic=959

[editmode0]
type=Sprite
x=468
y=294
width=32
height=32
graphic=961

[offerchoosetype0]
type=Sprite
x=24
y=49
width=465
height=6
graphic=962
tiling=yes

[choosebuy0_button_layer]
type=Sprite
x=13
y=37
width=32
height=32
graphic=963

[choosebuy0_button_on_layer]
type=Sprite
x=468
y=37
width=32
height=32
graphic=964

[choosebuy0_button_over_layer]
type=Sprite
x=473
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29
onclick=29

[choosebuy0_button_hit_layer]
type=Text
x=21
y=30
width=471
height=16
colour=0xCC9800
hAlign=Center
font=496
shadow=yes
text="Grand Exchange"
onload=585
onvartransmit=587
onvartransmitlist=1109,1112,1111,1110,1113

[choosebuy0]
type=Sprite
x=25
y=26
width=25
height=25
graphic=1164

[choosebuy0_icon]
type=Layer
width=512
height=334

[choosesell0_button_layer]
type=Text
x=21
y=60
width=471
height=14
layerId=6881296
colour=0xCC9900
hAlign=Center
font=494
shadow=yes
text="Shown below is a summary of all your current offers."

[choosesell0_button_on_layer]
type=Layer
x=30
y=80
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[choosesell0_button_over_layer]
type=Layer
x=30
y=80
width=140
height=110
layerId=6881296
hide=yes

[choosesell0_button_hit_layer]
type=Sprite
y=43
width=32
height=45
layerId=6881299
graphic=1075
tiling=yes

[choosesell0]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881299
graphic=1074
tiling=yes

[choosesell0_icon]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881299
graphic=1075
tiling=yes

[label_layer_0]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881299
graphic=1074
tiling=yes

[labelbuy0]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881299
graphic=1075
tiling=yes

[labelsell0]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881299
graphic=1074
tiling=yes

[abort_holder0]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881299
graphic=1075
tiling=yes

[abort0]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881299
graphic=1074
tiling=yes

[offersummary1]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881299
graphic=1168

[offersummary1_bg]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881299
graphic=1170

[editmode1]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881299
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881309
onmouseleave=637,6881309
onmouserepeat=647,component.parentId,6881313,"Buy",25,100
onclick=40,6881313

[offerchoosetype1]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881299
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881308
onmouseleave=641,6881308
onmouserepeat=647,component.parentId,6881313,"Sell",25,100
onclick=40,6881313

[choosebuy1_button_layer]
type=Layer
x=30
y=80
width=140
height=110
layerId=6881296

[choosebuy1_button_on_layer]
type=Layer
width=10
height=10
layerId=6881312

[choosebuy1_button_over_layer]
type=Layer
x=186
y=80
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[choosebuy1_button_hit_layer]
type=Layer
x=186
y=80
width=140
height=110
layerId=6881296
hide=yes

[choosebuy1]
type=Sprite
y=43
width=32
height=45
layerId=6881315
graphic=1075
tiling=yes

[choosebuy1_icon]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881315
graphic=1074
tiling=yes

[choosesell1_button_layer]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881315
graphic=1075
tiling=yes

[choosesell1_button_on_layer]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881315
graphic=1074
tiling=yes

[choosesell1_button_over_layer]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881315
graphic=1075
tiling=yes

[choosesell1_button_hit_layer]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881315
graphic=1074
tiling=yes

[choosesell1]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881315
graphic=1075
tiling=yes

[choosesell1_icon]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881315
graphic=1074
tiling=yes

[label_layer_1]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881315
graphic=1168

[labelbuy1]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881315
graphic=1170

[labelsell1]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881315
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881325
onmouseleave=637,6881325
onmouserepeat=647,component.parentId,6881329,"Buy",25,100
onclick=40,6881329

[abort_holder1]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881315
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881324
onmouseleave=641,6881324
onmouserepeat=647,component.parentId,6881329,"Sell",25,100
onclick=40,6881329

[abort1]
type=Layer
x=186
y=80
width=140
height=110
layerId=6881296

[offersummary2]
type=Layer
width=10
height=10
layerId=6881328

[offersummary2_bg]
type=Layer
x=342
y=80
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[editmode2]
type=Layer
x=342
y=80
width=140
height=110
layerId=6881296
hide=yes

[offerchoosetype2]
type=Sprite
y=43
width=32
height=45
layerId=6881331
graphic=1075
tiling=yes

[choosebuy2_button_layer]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881331
graphic=1074
tiling=yes

[choosebuy2_button_on_layer]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881331
graphic=1075
tiling=yes

[choosebuy2_button_over_layer]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881331
graphic=1074
tiling=yes

[choosebuy2_button_hit_layer]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881331
graphic=1075
tiling=yes

[choosebuy2]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881331
graphic=1074
tiling=yes

[choosebuy2_icon]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881331
graphic=1075
tiling=yes

[choosesell2_button_layer]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881331
graphic=1074
tiling=yes

[choosesell2_button_on_layer]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881331
graphic=1168

[choosesell2_button_over_layer]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881331
graphic=1170

[choosesell2_button_hit_layer]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881331
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881341
onmouseleave=637,6881341
onmouserepeat=647,component.parentId,6881345,"Buy",25,100
onclick=40,6881345

[choosesell2]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881331
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881340
onmouseleave=641,6881340
onmouserepeat=647,component.parentId,6881345,"Sell",25,100
onclick=40,6881345

[choosesell2_icon]
type=Layer
x=342
y=80
width=140
height=110
layerId=6881296

[label_layer_2]
type=Layer
width=10
height=10
layerId=6881344

[labelbuy2]
type=Layer
x=342
y=80
width=140
height=110
layerId=6881296
hide=yes

[labelsell2]
type=Rectangle
width=140
height=110
layerId=6881346
trans=160
colour=0x808080
fill=yes

[abort_holder2]
type=Sprite
width=140
height=110
layerId=6881346
graphic=1167
tiling=yes

[abort2]
type=Layer
x=30
y=200
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[offersummary3]
type=Layer
x=30
y=200
width=140
height=110
layerId=6881296
hide=yes

[offersummary3_bg]
type=Sprite
y=43
width=32
height=45
layerId=6881350
graphic=1075
tiling=yes

[editmode3]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881350
graphic=1074
tiling=yes

[offerchoosetype3]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881350
graphic=1075
tiling=yes

[choosebuy3_button_layer]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881350
graphic=1074
tiling=yes

[choosebuy3_button_on_layer]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881350
graphic=1075
tiling=yes

[choosebuy3_button_over_layer]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881350
graphic=1074
tiling=yes

[choosebuy3_button_hit_layer]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881350
graphic=1075
tiling=yes

[choosebuy3]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881350
graphic=1074
tiling=yes

[choosebuy3_icon]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881350
graphic=1168

[choosesell3_button_layer]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881350
graphic=1170

[choosesell3_button_on_layer]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881350
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881360
onmouseleave=637,6881360
onmouserepeat=647,component.parentId,6881364,"Buy",25,100
onclick=40,6881364

[choosesell3_button_over_layer]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881350
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881359
onmouseleave=641,6881359
onmouserepeat=647,component.parentId,6881364,"Sell",25,100
onclick=40,6881364

[choosesell3_button_hit_layer]
type=Layer
x=30
y=200
width=140
height=110
layerId=6881296

[choosesell3]
type=Layer
width=10
height=10
layerId=6881363

[choosesell3_icon]
type=Layer
x=30
y=200
width=140
height=110
layerId=6881296
hide=yes

[offerbutton3_hide]
type=Rectangle
width=140
height=110
layerId=6881365
trans=160
colour=0x808080
fill=yes

[com_87]
type=Sprite
width=140
height=110
layerId=6881365
graphic=1167
tiling=yes

[com_88]
type=Layer
x=186
y=200
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[label_layer_3]
type=Layer
x=186
y=200
width=140
height=110
layerId=6881296
hide=yes

[labelbuy3]
type=Sprite
y=43
width=32
height=45
layerId=6881369
graphic=1075
tiling=yes

[labelsell3]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881369
graphic=1074
tiling=yes

[abort_holder3]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881369
graphic=1075
tiling=yes

[abort3]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881369
graphic=1074
tiling=yes

[offersummary4]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881369
graphic=1075
tiling=yes

[offersummary4_bg]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881369
graphic=1074
tiling=yes

[editmode4]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881369
graphic=1075
tiling=yes

[offerchoosetype4]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881369
graphic=1074
tiling=yes

[choosebuy4_button_layer]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881369
graphic=1168

[choosebuy4_button_on_layer]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881369
graphic=1170

[choosebuy4_button_over_layer]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881369
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881379
onmouseleave=637,6881379
onmouserepeat=647,component.parentId,6881383,"Buy",25,100
onclick=40,6881383

[choosebuy4_button_hit_layer]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881369
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881378
onmouseleave=641,6881378
onmouserepeat=647,component.parentId,6881383,"Sell",25,100
onclick=40,6881383

[choosebuy4]
type=Layer
x=186
y=200
width=140
height=110
layerId=6881296

[choosebuy4_icon]
type=Layer
width=10
height=10
layerId=6881382

[choosesell4_button_layer]
type=Layer
x=186
y=200
width=140
height=110
layerId=6881296
hide=yes

[choosesell4_button_on_layer]
type=Rectangle
width=140
height=110
layerId=6881384
trans=160
colour=0x808080
fill=yes

[choosesell4_button_over_layer]
type=Sprite
width=140
height=110
layerId=6881384
graphic=1167
tiling=yes

[choosesell4_button_hit_layer]
type=Layer
x=342
y=200
width=140
height=110
layerId=6881296
eventCode=hasOp(1,2)
opName0="Make Offer"
opName1="Abort Offer"

[choosesell4]
type=Layer
x=342
y=200
width=140
height=110
layerId=6881296
hide=yes

[choosesell4_icon]
type=Sprite
y=43
width=32
height=45
layerId=6881388
graphic=1075
tiling=yes

[offerbutton4_hide]
type=Sprite
x=14
y=27
width=47
height=32
layerId=6881388
graphic=1074
tiling=yes

[com_111]
type=Sprite
x=47
y=44
width=32
height=45
layerId=6881388
graphic=1075
tiling=yes

[com_112]
type=Sprite
x=14
y=71
width=47
height=32
layerId=6881388
graphic=1074
tiling=yes

[label_layer_4]
type=Sprite
x=63
y=43
width=32
height=45
layerId=6881388
graphic=1075
tiling=yes

[labelbuy4]
type=Sprite
x=77
y=27
width=47
height=32
layerId=6881388
graphic=1074
tiling=yes

[labelsell4]
type=Sprite
x=110
y=44
width=32
height=45
layerId=6881388
graphic=1075
tiling=yes

[abort_holder4]
type=Sprite
x=77
y=71
width=47
height=32
layerId=6881388
graphic=1074
tiling=yes

[abort4]
type=Sprite
x=83
y=48
width=35
height=35
layerId=6881388
graphic=1168

[offersummary5]
type=Sprite
x=20
y=48
width=35
height=35
layerId=6881388
graphic=1170

[offersummary5_bg]
type=Layer
x=12
y=43
width=51
height=46
layerId=6881388
eventCode=hasOp(1)
opName0="Make Buy Offer"
onmouseover=635,6881398
onmouseleave=637,6881398
onmouserepeat=647,component.parentId,6881402,"Buy",25,100
onclick=40,6881402

[editmode5]
type=Layer
x=75
y=43
width=51
height=46
layerId=6881388
eventCode=hasOp(1)
opName0="Make Sell Offer"
onmouseover=639,6881397
onmouseleave=641,6881397
onmouserepeat=647,component.parentId,6881402,"Sell",25,100
onclick=40,6881402

[offerchoosetype5]
type=Layer
x=342
y=200
width=140
height=110
layerId=6881296

[choosebuy5_button_layer]
type=Layer
width=10
height=10
layerId=6881401

[choosebuy5_button_on_layer]
type=Layer
x=342
y=200
width=140
height=110
layerId=6881296
hide=yes

[choosebuy5_button_over_layer]
type=Rectangle
width=140
height=110
layerId=6881403
trans=160
colour=0x808080
fill=yes

[choosebuy5_button_hit_layer]
type=Sprite
width=140
height=110
layerId=6881403
graphic=1167
tiling=yes

[choosebuy5]
type=Layer
width=512
height=334
hide=yes

[choosebuy5_icon]
type=Sprite
x=25
y=276
width=35
height=35
layerId=6881406
graphic=1147
eventCode=hasOp(1)
opName0="Back"
onmouseover=615,component.parentId
onmouseleave=616,component.parentId
onop=591
onmouserepeat=649,component.parentId,6881493,"Back to offer summary",25,300

[choosesell5_button_layer]
type=Sprite
x=19
y=249
width=474
height=32
layerId=6881406
graphic=851
tiling=yes

[choosesell5_button_on_layer]
type=Layer
x=43
y=60
width=426
height=90
layerId=6881406
onload=100,component.parentId

[choosesell5_button_over_layer]
type=Sprite
x=187
y=61
width=32
height=87
layerId=6881406
graphic=1075
tiling=yes

[choosesell5_button_hit_layer]
type=Layer
x=43
y=152
width=426
height=84
layerId=6881406
onload=100,component.parentId

[choosesell5]
type=Sprite
x=244
y=153
width=32
height=81
layerId=6881406
graphic=1075
tiling=yes

[choosesell5_icon]
type=Text
x=43
y=66
width=159
height=16
layerId=6881406
colour=0xCC9800
hAlign=Center
font=496
shadow=yes
text="Buy Offer"

[offerbutton5_hide]
type=Sprite
x=175
y=67
width=16
height=14
layerId=6881406
graphic=1157

[com_135]
type=Sprite
x=44
y=68
width=157
height=32
layerId=6881406
graphic=1074
tiling=yes

[com_136]
type=Sprite
x=102
y=92
width=40
height=36
layerId=6881406
graphic=1137

[label_layer_5]
type=Sprite
x=102
y=92
width=40
height=36
layerId=6881406
trans=255
graphic=1140

[labelbuy5]
type=Sprite
x=104
y=94
width=36
height=32
layerId=6881406
shadowColour=0x303030

[labelsell5]
type=Sprite
x=53
y=132
width=16
height=14
layerId=6881406
graphic=1158

[abort_holder5]
type=Text
x=59
y=131
width=140
height=16
layerId=6881406
colour=0x999900
hAlign=Center
vAlign=Center
font=494
shadow=yes
onmouseleave=40,6881493
onmouserepeat=38,component.parentId,6881493,"Current item Market Price",25,300

[abort5]
type=Text
x=210
y=66
width=250
height=16
layerId=6881406
colour=0xCC9900
font=496
shadow=yes
text="Choose an item to exchange"

[offersummary6]
type=Text
x=210
y=94
width=250
height=33
layerId=6881406
colour=0xC1A875
font=494
shadow=yes

[offersummary6_bg]
type=Sprite
x=211
y=132
width=16
height=14
layerId=6881406
graphic=1150

[editmode6]
type=Sprite
x=443
y=132
width=16
height=14
layerId=6881406
graphic=1151

[offerchoosetype6]
type=Text
x=210
y=131
width=250
height=16
layerId=6881406
colour=0xFFA861
hAlign=Center
vAlign=Center
font=494
shadow=yes
onmouseleave=40,6881493
onmouserepeat=38,component.parentId,6881493,"Current item price range (Minimum/Maximum Price)",25,300

[choosebuy6_button_layer]
type=Text
x=47
y=157
width=208
height=16
layerId=6881406
colour=0xCC9800
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Quantity:"

[choosebuy6_button_on_layer]
type=Sprite
x=75
y=178
width=20
height=20
layerId=6881406
graphic=1161

[choosebuy6_button_over_layer]
type=Sprite
x=95
y=178
width=113
height=20
layerId=6881406
graphic=1162
tiling=yes

[choosebuy6_button_hit_layer]
type=Sprite
x=208
y=178
width=20
height=20
layerId=6881406
graphic=1163
tiling=yes

[choosebuy6]
type=Text
x=83
y=180
width=136
height=16
layerId=6881406
colour=0xFFA861
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="1"

[choosebuy6_icon]
type=Text
x=262
y=157
width=202
height=16
layerId=6881406
colour=0xCC9800
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Price per item:"

[choosesell6_button_layer]
type=Sprite
x=289
y=178
width=20
height=20
layerId=6881406
graphic=1161

[choosesell6_button_on_layer]
type=Sprite
x=309
y=178
width=108
height=20
layerId=6881406
graphic=1162
tiling=yes

[choosesell6_button_over_layer]
type=Sprite
x=417
y=178
width=20
height=20
layerId=6881406
graphic=1163
tiling=yes

[choosesell6_button_hit_layer]
type=Text
x=295
y=180
width=136
height=16
layerId=6881406
colour=0xFFA861
hAlign=Center
font=496
shadow=yes
text="1 gp"

[choosesell6]
type=Layer
width=512
height=334
hide=yes

[choosesell6_icon]
type=Layer
x=55
y=181
width=13
height=13
layerId=6881436
eventCode=hasOp(1)
opName0="Decrease Quantity"
onmouseleave=40,6881493
onop=596
onmouserepeat=649,component.parentId,6881493,"Decrease quantity by 1",25,300

[offerbutton6_hide]
type=Sprite
x=55
y=181
width=16
height=14
layerId=6881436
graphic=1152
onmouseover=613,component.parentId
onmouseleave=614,component.parentId

[com_159]
type=Layer
x=235
y=181
width=13
height=13
layerId=6881436
eventCode=hasOp(1)
baseOpName=" "
opName0="Increase Quantity"
onmouseleave=40,6881493
onop=597
onmouserepeat=649,component.parentId,6881493,"Increase quantity by 1",25,300

[com_160]
type=Sprite
x=235
y=181
width=16
height=14
layerId=6881436
graphic=1153
onmouseover=611,component.parentId
onmouseleave=612,component.parentId

[label_layer_6]
type=Sprite
x=52
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[labelbuy6]
type=Text
x=52
y=205
width=35
height=25
layerId=6881436
colour=0xCC9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="1"
eventCode=hasOp(1)
opName0="Add 1"
onmouseleave=40,6881493
onop=598

[labelsell6]
type=Sprite
x=93
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[abort_holder6]
type=Text
x=93
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="10"
eventCode=hasOp(1)
opName0="Add 10"
onmouseleave=40,6881493
onop=599

[abort6]
type=Sprite
x=134
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[offersummary7]
type=Text
x=134
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="100"
eventCode=hasOp(1)
opName0="Add 100"
onmouseleave=40,6881493
onop=600

[offersummary7_bg]
type=Sprite
x=175
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[editmode7]
type=Text
x=175
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="1000"
eventCode=hasOp(1)
opName0="Add 1000"
onmouseleave=40,6881493
onop=865

[offerchoosetype7]
type=Sprite
x=216
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[choosebuy7_button_layer]
type=Text
x=216
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="..."
eventCode=hasOp(1)
opName0="Edit Quantity"
onmouseleave=40,6881493
onmouserepeat=649,component.parentId,6881493,"Enter custom quantity",25,300

[choosebuy7_button_on_layer]
type=Layer
x=269
y=181
width=13
height=13
layerId=6881436
eventCode=hasOp(1)
opName0="Decrease Price"
onmouseleave=40,6881493
onop=604
onmouserepeat=649,component.parentId,6881493,"Decrease price by 1",25,300

[choosebuy7_button_over_layer]
type=Sprite
x=269
y=181
width=16
height=14
layerId=6881436
graphic=1152
onmouseover=613,component.parentId
onmouseleave=614,component.parentId

[choosebuy7_button_hit_layer]
type=Layer
x=444
y=181
width=13
height=13
layerId=6881436
eventCode=hasOp(1)
opName0="Increase Price"
onmouseleave=40,6881493
onop=605
onmouserepeat=649,component.parentId,6881493,"Increase price by 1",25,300

[choosebuy7]
type=Sprite
x=444
y=181
width=16
height=14
layerId=6881436
graphic=1153
onmouseover=611,component.parentId
onmouseleave=612,component.parentId

[choosebuy7_icon]
type=Sprite
x=266
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[choosesell7_button_layer]
type=Sprite
x=276
y=211
width=16
height=14
layerId=6881436
graphic=1150

[choosesell7_button_on_layer]
type=Text
x=266
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
eventCode=hasOp(1)
opName0="Offer Minimum Price"
onmouseleave=40,6881493
onop=606
onmouserepeat=649,component.parentId,6881493,"Set price to item's Minimum Price",25,300

[choosesell7_button_over_layer]
type=Sprite
x=319
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[choosesell7_button_hit_layer]
type=Sprite
x=328
y=211
width=16
height=14
layerId=6881436
graphic=1158

[choosesell7]
type=Text
x=319
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
eventCode=hasOp(1)
opName0="Offer Market Price"
onmouseleave=40,6881493
onop=607
onmouserepeat=649,component.parentId,6881493,"Set price to item's Market Price",25,300

[choosesell7_icon]
type=Sprite
x=372
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[offerbutton7_hide]
type=Sprite
x=382
y=211
width=16
height=14
layerId=6881436
graphic=1151

[com_183]
type=Text
x=372
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
eventCode=hasOp(1)
opName0="Offer Maximum Price"
onmouseleave=40,6881493
onop=608
onmouserepeat=649,component.parentId,6881493,"Set price to item's Maximum Price",25,300

[com_184]
type=Sprite
x=425
y=200
width=35
height=35
layerId=6881436
graphic=1146
onmouseover=643,component.parentId
onmouseleave=645,component.parentId

[label_layer_7]
type=Text
x=425
y=205
width=35
height=25
layerId=6881436
colour=0xFF9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="..."
eventCode=hasOp(1)
opName0="Edit Price"
onmouseleave=40,6881493
onmouserepeat=649,component.parentId,6881493,"Enter custom price",25,300

[labelbuy7]
type=Sprite
x=186
y=239
width=20
height=20
layerId=6881406
graphic=1161

[labelsell7]
type=Sprite
x=206
y=239
width=108
height=20
layerId=6881406
graphic=1162
tiling=yes

[abort_holder7]
type=Sprite
x=314
y=239
width=20
height=20
layerId=6881406
graphic=1163
tiling=yes

[abort7]
type=Text
x=186
y=239
width=148
height=20
layerId=6881406
colour=0xEBE573
hAlign=Center
vAlign=Center
lineHeight=13
font=496
shadow=yes
onmouseleave=40,6881493

[lending_container]
type=Layer
x=200
y=270
width=120
height=43
layerId=6881436
eventCode=hasOp(1)
opName0="Confirm Offer"
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=653,component.parentId
onmouserepeat=649,component.parentId,6881493,"Confirm this offer and return to the summary view",25,300

[lending_container_bg]
type=Text
x=200
y=270
width=120
height=43
layerId=6881436
colour=0xCC9800
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Confirm Offer"

[lending_item_bg]
type=Layer
width=512
height=334
hide=yes

[lending_item]
type=Layer
x=102
y=94
width=40
height=36
layerId=6881472
onmouseleave=40,6881493
onmouserepeat=649,component.parentId,6881493,"Click here to search for an item to buy",25,300

[lending_indicator]
type=Layer
x=102
y=94
width=40
height=36
layerId=6881472
eventCode=hasOp(1)
opName0="Choose Item"
onmouseover=664,6881416,-1
onmouseleave=665,6881416,-1

[lending_title]
type=Sprite
x=105
y=97
width=16
height=14
layerId=6881472
graphic=1154

[lending_layer_hide]
type=Text
x=210
y=94
width=250
height=33
layerId=6881472
colour=0xC1A875
font=494
shadow=yes
text="Click the icon to the left to search for items."

[com_197]
type=Layer
width=512
height=334
hide=yes

[com_198]
type=Layer
x=102
y=94
width=40
height=36
layerId=6881477
onmouseleave=40,6881493
onmouserepeat=649,component.parentId,6881493,"Use your inventory to select an item to sell here",25,300

[offerlayer]
type=Text
x=210
y=94
width=250
height=33
layerId=6881477
colour=0xC1A875
font=494
shadow=yes
text="Select an item in your inventory to sell."

[backing_rect]
type=Layer
width=512
height=334
hide=yes

[backbutton]
type=Text
x=90
y=267
width=260
height=30
layerId=6881480
colour=0xC1A875
hAlign=Center
vAlign=Center
lineHeight=15
font=494
shadow=yes

[frame]
type=Layer
x=70
y=299
width=300
height=15
layerId=6881480

[separator_v1]
type=Sprite
x=350
y=272
width=20
height=20
layerId=6881480
graphic=1165
eventCode=hasOp(1)
opName0="Abort Offer"
onmouseover=617,component.parentId
onmouseleave=618,component.parentId
onmouserepeat=649,component.parentId,6881493,"Abort offer",25,100
onclick=618,component.parentId

[separator_h1]
type=Sprite
x=380
y=262
width=32
height=32
layerId=6881480
graphic=846

[separator_h2]
type=Sprite
x=412
y=248
width=82
height=32
layerId=6881480
graphic=828
tiling=yes

[separator_h3]
type=Sprite
x=366
y=287
width=32
height=32
layerId=6881480
graphic=841

[separator_h4]
type=Sprite
x=386
y=268
width=107
height=51
layerId=6881480
graphic=1136
tiling=yes

[separator_v2]
type=Sprite
x=395
y=276
width=40
height=36
layerId=6881480
graphic=1138
onmouseover=664,component.parentId,-1
onmouseleave=665,component.parentId,-1

[separator_v3]
type=Sprite
x=397
y=278
width=36
height=32
layerId=6881480
eventCode=hasOp(1)
opName0="Collect"

[separator_v4]
type=Sprite
x=444
y=276
width=40
height=36
layerId=6881480
graphic=1138
onmouseover=664,component.parentId,-1
onmouseleave=665,component.parentId,-1

[separator_h5]
type=Sprite
x=446
y=278
width=36
height=32
layerId=6881480
eventCode=hasOp(1)
opName0="Collect"

[box1]
type=Layer
width=512
height=334

[item_description]
type=Layer
width=10
height=10
layerId=6881492
