[send_to_inv_layer]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[send_to_bank_layer]
type=Model
x=15
y=23
width=480
height=301
model1Id=26397
modelZoom=1009
modelXAn=512
modelXOf=-2
modelYOf=33
discardedModelField=0

[send_to_inv_on_layer]
type=Model
x=266
y=53
width=137
height=241
model1Id=30059
modelZoom=850
modelXAn=96
modelYAn=1667
modelZAn=1899
modelXOf=1
modelYOf=-2
discardedModelField=0

[send_to_inv_over_layer]
type=Text
x=75
y=89
width=291
height=34
colour=0x46320A
font=645
text="Victory!"

[send_to_inv_hit_layer]
type=Text
x=79
y=130
width=291
height=13
colour=0x46320A
font=497
text="Your clan is victorious!"

[send_to_inv_selected_layer]
type=Rectangle
x=52
y=118
width=200
height=1
trans=200
colour=0x46320A
fill=yes
baseOpName="  "

[send_to_inv_active_layer]
type=Sprite
x=443
y=40
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,42663942,537
onmouseleave=44,42663942,538
onop=29
