[favourites]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[search_layer]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[favourites_bg]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[favourites_content]
type=Model
x=418
y=216
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=879,component.parentId

[draw]
type=Model
x=420
y=250
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=880,component.parentId

[click]
type=Text
x=40
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[favourites_frame]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[search_bg]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[search_bar_layer]
type=Text
x=40
y=148
width=388
height=32
colour=0x242330
font=497
text="You are approached in the game by a player named JagMod999. This player claims to be a member of Jagex and asks for your personal details. What should you do?"

[com_9]
type=Text
x=40
y=201
width=363
height=32
colour=0x191930
font=497
text="Do not answer any questions and report the player using the Report Abuse button at the bottom of the game screen"

[search_input_box]
type=Text
x=40
y=250
width=363
height=32
colour=0x191930
font=497
text="Give them my details; they are a member of Jagex after all"

[search_input_border]
type=Line
x=420
y=216
width=19
height=1
colour=0x0E0E17
lineWidth=2

[search_input_listener]
type=Line
x=420
y=216
height=19
colour=0x0E0E17
lineWidth=2

[search_input_listen]
type=Line
x=419
y=234
width=19
height=1
colour=0x0E0E17
lineWidth=2

[search_input_caret]
type=Line
x=438
y=216
height=20
colour=0x0E0E17
lineWidth=2

[search_input_display]
type=Line
x=420
y=250
width=19
height=1
colour=0x0E0E17
lineWidth=2

[search_input_stop_click]
type=Line
x=420
y=250
height=19
colour=0x0E0E17
lineWidth=2

[search_input_clickout]
type=Line
x=419
y=268
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_18]
type=Line
x=438
y=250
height=20
colour=0x0E0E17
lineWidth=2

[com_19]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[search_scrolling]
type=Layer
width=513
height=335
hide=yes

[search_obj_select_no_search_box_focus]
type=Rectangle
width=512
height=334
layerId=46333972
trans=160
colour=0x46341D
fill=yes

[search_build]
type=Sprite
x=32
y=79
width=449
height=230
layerId=46333972
graphic=297
tiling=yes

[search_obj]
type=Sprite
x=19
y=111
width=25
height=174
layerId=46333972
graphic=821
tiling=yes

[search_build_scrollbar]
type=Sprite
x=32
y=79
width=32
height=32
layerId=46333972
graphic=824

[search_warning_layer]
type=Sprite
x=451
y=79
width=32
height=32
layerId=46333972
graphic=825
tiling=yes

[com_26]
type=Sprite
x=63
y=66
width=391
height=32
layerId=46333972
graphic=820
tiling=yes

[com_27]
type=Sprite
x=463
y=110
width=32
height=174
layerId=46333972
graphic=823
tiling=yes

[com_28]
type=Sprite
x=451
y=284
width=32
height=32
layerId=46333972
graphic=827
tiling=yes

[com_29]
type=Sprite
x=32
y=284
width=32
height=32
layerId=46333972
graphic=826
tiling=yes

[com_30]
type=Sprite
x=64
y=296
width=387
height=25
layerId=46333972
graphic=822
tiling=yes

[com_31]
type=Layer
x=54
y=91
width=389
height=196
layerId=46333972
hide=yes

[com_32]
type=Text
x=20
y=-7
width=32
height=32
layerId=46333983
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_33]
type=Text
x=5
y=20
width=388
height=105
layerId=46333983
colour=0xA49279
font=497
shadow=yes
text="Correct! A real Jagex Moderator would never ask for a player's personal details. You can always tell who an official moderator is as a gold crown will appear before anything they say in the chat window. You can report any player who claims to be a member of Jagex Staff by using the Report Abuse button. You can also use the ignore function, which can be found at the bottom of your game window. If you are at all "

[com_34]
type=Text
x=5
y=143
width=320
height=32
layerId=46333983
colour=0xA49279
font=497
shadow=yes
text="concerned about the incident, speak to a parent, friend or adult that you trust."

[com_35]
type=Layer
x=55
y=94
width=389
height=160
layerId=46333972
hide=yes

[com_36]
type=Text
x=16
y=-4
width=32
height=32
layerId=46333987
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_37]
type=Text
x=1
y=27
width=390
height=105
layerId=46333987
colour=0xA49279
font=495
shadow=yes
text="A real Jagex Moderator would never ask for any of your personal details, so we would advise you keep them to yourself. You can report any player who claims to be a Jagex Moderator by using the Report Abuse button."

[com_38]
type=Layer
x=375
y=255
width=97
height=42
layerId=46333972

[com_39]
type=Layer
width=97
height=42
layerId=46333990
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_40]
type=Rectangle
width=97
height=42
layerId=46333990
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_41]
type=Text
width=97
height=42
layerId=46333990
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
