[stockside_pulsatelayer]
type=Layer
width=192
height=262

[stockside_pulsate0]
type=Rectangle
x=3
width=186
height=3
layerId=47316992
trans=245
colour=0x908335
fill=yes

[stockside_pulsate0b]
type=Rectangle
x=3
y=259
width=186
height=3
layerId=47316992
trans=245
colour=0x908335
fill=yes

[stockside_pulsate0c]
type=Rectangle
y=5
width=3
height=250
layerId=47316992
trans=245
colour=0x908335
fill=yes

[stockside_pulsate0d]
type=Rectangle
x=189
y=5
width=3
height=250
layerId=47316992
trans=245
colour=0x908335
fill=yes

[stockside_pulsate1]
type=Rectangle
x=3
y=3
width=186
height=256
layerId=47316992
trans=235
colour=0x908335

[stockside_pulsate1b]
type=Rectangle
x=4
y=4
width=184
height=254
layerId=47316992
trans=235
colour=0x908335

[stockside_pulsate1c]
type=Rectangle
x=5
y=5
width=182
height=252
layerId=47316992
trans=235
colour=0x908335

[stockside_pulsate2]
type=Rectangle
x=6
y=6
width=180
height=250
layerId=47316992
trans=225
colour=0x908335

[stockside_pulsate2b]
type=Rectangle
x=7
y=7
width=178
height=248
layerId=47316992
trans=225
colour=0x908335

[stockside_pulsate2c]
type=Rectangle
x=8
y=8
width=176
height=246
layerId=47316992
trans=225
colour=0x908335

[stockside_pulsate3]
type=Rectangle
x=9
y=9
width=174
height=244
layerId=47316992
trans=215
colour=0x908335

[stockside_pulsate3b]
type=Rectangle
x=10
y=10
width=172
height=242
layerId=47316992
trans=215
colour=0x908335

[stockside_pulsate3c]
type=Rectangle
x=11
y=11
width=170
height=240
layerId=47316992
trans=215
colour=0x908335

[stockside_pulsate4]
type=Rectangle
x=12
y=12
width=168
height=238
layerId=47316992
trans=205
colour=0x908335

[stockside_pulsate4b]
type=Rectangle
x=13
y=13
width=166
height=236
layerId=47316992
trans=205
colour=0x908335

[stockside_pulsate4c]
type=Rectangle
x=14
y=14
width=164
height=234
layerId=47316992
trans=205
colour=0x908335

[stockside_pulsate5]
type=Rectangle
x=15
y=15
width=162
height=232
layerId=47316992
trans=200
colour=0x908335
fill=yes

[inventory_layer]
type=Layer
x=16
y=8
width=162
height=250
