[lj_title]
type=Layer
x=46
y=34
width=387
height=287

[lj1]
type=Layer
x=58
y=70
width=358
height=225

[mainmodal_window]
type=Text
x=19
y=19
width=329
height=17
layerId=16384001
font=497
text="To My Business Partner,"

[mainmodal_window_background]
type=Model
x=195
y=56
width=55
height=81
layerId=16384000
model1Id=21509
modelZoom=570
modelXAn=510

[mainmodal_window_content]
type=Text
x=41
y=44
width=297
height=136
layerId=16384001
font=497
text="All is well here, my friend.                          I will continue with my work. You do not need worry. They suspect nothing, the fools!                                In three days there will be a new King in Varrock!                                                                        Surok Magis"

[com_5]
type=Sprite
x=370
y=46
width=26
height=23
overLayerId=7
graphic=537

[lj_layer1]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=16384007
graphic=538
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=366
y=41
width=32
height=32
hide=yes
