[mainmodal_window]
type=Layer
x=43
y=33
width=387
height=287

[lj_title]
type=Layer
x=55
y=69
width=358
height=225

[lj1]
type=Text
x=16
y=18
width=329
height=17
layerId=16449537
font=497
text="Instructions for Beacon Ring"

[mainmodal_window_background]
type=Model
x=192
y=55
width=55
height=81
layerId=16449536
model1Id=21509
modelZoom=570
modelXAn=510

[mainmodal_window_content]
type=Text
x=14
y=45
width=335
height=163
layerId=16449537
font=497
text="Use this ring when you are ready to summon me to your aid. It is a daunting task, yet you must battle the king to allow me to remove the spell from him. When the king is almost dead, use this ring and I will teleport to your aid. Be warned - Though I am skilled with magic, I am no fighter! Should you summon me too early I will have to teleport us out of danger! When our mission is completed, I will remove the summon ability from this ring, but you may keep it for protection.                                   Zaff"

[com_5]
type=Sprite
x=367
y=45
width=26
height=23
overLayerId=7
graphic=537

[lj_layer1]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=16449543
graphic=538
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=363
y=40
width=32
height=32
hide=yes
