[lj_title]
type=Layer
x=48
y=32
width=387
height=287

[lj1]
type=Layer
x=60
y=68
width=358
height=225

[mainmodal_window]
type=Text
x=21
y=17
width=329
height=17
layerId=16318465
font=819
text="Surok Magis,"

[mainmodal_window_background]
type=Model
x=197
y=54
width=55
height=81
layerId=16318464
model1Id=21509
modelZoom=570
modelXAn=510

[mainmodal_window_content]
type=Text
x=43
y=42
width=297
height=136
layerId=16318465
font=819
text="Your actions are being watched. We know what you are trying to do and the VPSG will stop you! Do not attempt to leave the palace or you will be arrested on sight. We will not hesitate to kill you if you disobey King Roald's orders.                                                                                            Rat Burgiss"

[com_5]
type=Sprite
x=372
y=44
width=26
height=23
overLayerId=7
graphic=537

[lj_layer1]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=16318471
graphic=538
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=368
y=39
width=32
height=32
hide=yes
