[com_0]
type=Rectangle
x=-1
width=512
height=334
colour=0x433621
fill=yes

[swamp_shipmodel]
type=Model
x=236
y=128
width=32
height=32
model1Id=4652
modelZoom=926
modelXAn=271
modelYAn=63

[com_2]
type=Model
x=236
y=128
width=32
height=32
model1Id=4979
modelZoom=926
modelXAn=271
modelYAn=63
