[com_0]
type=Text
x=4
y=16
width=93
height=13
layerId=21495815
colour=0xFFFF00
hAlign=Right
vAlign=Center
font=494
shadow=yes
text="Repair State :"

[com_1]
type=Text
x=100
y=17
width=26
height=11
layerId=21495815
colour=0xFFFF00
font=494
shadow=yes
text="%1%"
script1op1=varp,temple_repaired_p

[title]
type=Text
x=4
y=30
width=93
height=12
layerId=21495815
colour=0xFFFF00
hAlign=Right
vAlign=Center
font=494
shadow=yes
text="Resources :"

[repair_text]
type=Text
x=100
y=31
width=26
height=11
layerId=21495815
colour=0xFFFF00
font=494
shadow=yes
text="%1%"
script1op1=varp,temple_resources_p

[temple_repaired_state]
type=Text
x=4
y=45
width=92
height=13
layerId=21495815
colour=0xFFFF00
hAlign=Right
vAlign=Center
font=494
shadow=yes
text="Sanctity:"

[resource_text]
type=Text
x=100
y=45
width=26
height=11
layerId=21495815
colour=0xFFFF00
font=494
shadow=yes
text="%1%"
script1op1=varp,temple_sanctity_p

[mat_resource_pool]
type=Text
width=139
height=16
layerId=21495815
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="* Temple Repair *"

[matresoucetext]
type=Layer
x=366
y=19
width=139
height=62
