[mainmodal_window]
type=Layer
x=34
y=34
width=32
height=32

[mainmodal_window_background]
type=Model
x=306
y=119
width=32
height=32
model1Id=6049
modelZoom=543
modelXAn=427
modelYAn=13

[mainmodal_window_content]
type=Text
x=95
y=114
width=239
height=17
hAlign=Center
font=497
text="Whatever text you need goes here!"

[com_3]
type=Text
x=179
y=218
width=96
height=17
font=497
text="Combi for lock"

[feud_paper_text]
type=Text
x=95
y=140
width=239
height=17
hAlign=Center
font=497
text="Text"

[mainmodal_window_border]
type=Text
x=95
y=166
width=239
height=17
hAlign=Center
font=497
text="Text"

[feud_paper_text2]
type=Text
x=95
y=192
width=239
height=17
hAlign=Center
font=497
text="Text"

[mainmodal_window_close_button]
type=Sprite
x=480
y=6
width=26
height=23
overLayerId=9
graphic=541

[feud_paper_text3]
type=Sprite
buttonType=Close
x=2
y=4
width=26
height=23
layerId=21692425
graphic=542
buttonText="Ok"

[feud_paper_text5]
type=Layer
x=478
y=2
width=32
height=32
hide=yes
