[feud_safe]
type=Layer
width=600
height=500

[feud_bh]
type=Model
x=249
y=279
width=32
height=32
model1Id=6039
modelZoom=207
modelXAn=41
modelYAn=2036

[bespoke_window]
type=Layer
x=337
y=97
width=155
height=170

[feud_over_model1]
type=Model
buttonType=Select
x=98
y=18
width=32
height=32
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=397
modelYAn=276
buttonText="Set to 1"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[feud_overstate_model2]
type=Model
buttonType=Select
x=119
y=50
width=32
height=32
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=450
modelYAn=460
buttonText="Set to 2"
eventCode=flag22
script1=eq,2
script1op1=varp,if1

[feud_overstate_model3]
type=Model
buttonType=Select
x=116
y=90
width=32
height=32
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=404
modelYAn=619
buttonText="Set to 3"
eventCode=flag22
script1=eq,3
script1op1=varp,if1

[feud_overstate_model4]
type=Model
buttonType=Select
x=95
y=121
width=32
height=32
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=429
modelYAn=819
buttonText="Set to 4"
eventCode=flag22
script1=eq,4
script1op1=varp,if1

[feud_overstate_model5]
type=Model
buttonType=Select
x=58
y=128
width=32
height=32
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=435
modelYAn=1048
buttonText="Set to 5"
eventCode=flag22
script1=eq,5
script1op1=varp,if1

[feud_overstate_model6]
type=Model
buttonType=Select
x=22
y=114
width=30
height=35
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=444
modelYAn=1216
buttonText="Set to 6"
eventCode=flag22
script1=eq,6
script1op1=varp,if1

[feud_overstate_model7]
type=Model
buttonType=Select
x=3
y=77
width=30
height=35
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=499
modelYAn=1425
buttonText="Set to 7"
eventCode=flag22
script1=eq,7
script1op1=varp,if1

[feud_overstate_model8]
type=Model
buttonType=Select
x=8
y=38
width=30
height=30
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=468
modelYAn=1642
buttonText="Set to 8"
eventCode=flag22
script1=eq,8
script1op1=varp,if1

[feud_overstate_model9]
type=Model
buttonType=Select
x=36
y=10
width=30
height=35
layerId=21626882
model1Id=6040
model2Id=6041
modelZoom=1400
modelXAn=421
modelYAn=1821
buttonText="Set to 9"
eventCode=flag22
script1=eq,9
script1op1=varp,if1

[feud_reset_model]
type=Model
buttonType=Button
x=78
y=62
width=30
height=32
layerId=21626882
model1Id=6042
model2Id=6043
modelZoom=1297
modelXAn=467
modelYAn=2026
buttonText="Reset Safe"
eventCode=flag22

[bespoke_window_background]
type=Sprite
x=483
y=4
width=26
height=23
overLayerId=15
graphic=541

[bespoke_window_content]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=21626895
graphic=542
buttonText="Ok"

[bespoke_window_border]
type=Layer
x=479
y=1
width=32
height=32
hide=yes
