[info_holder_active]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[info_holder_active_3]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[thormac_firestaff]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[thormac_waterstaff]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[info_holder_active_2]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[thormac_earthstaff]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[com_8]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[info_holder_active_4]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[thormac_lavastaff]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[info_holder_active_6]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[thormac_steamstaff]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[info_holder_active_5]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[thormac_mudstaff]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[com_17]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[info_holder_active_1]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[thormac_airstaff]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[thormac_airstaff_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[thormac_mudstaff_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[thormac_steamstaff_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[thormac_lavastaff_layer]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[thormac_earthstaff_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[thormac_waterstaff_layer]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[thormac_firestaff_layer]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[mainmodal_window_close_button]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=471
y=26
width=23
height=23
overLayerId=90
graphic=535

[com_89]
type=Sprite
buttonType=Close
x=5
y=4
width=23
height=23
layerId=21758042
graphic=536
buttonText="Ok"

[com_90]
type=Layer
x=466
y=22
width=32
height=32
hide=yes

[com_91]
type=Text
x=139
y=120
width=117
height=14
colour=0xAAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Water Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,water_battlestaff

[com_92]
type=Text
x=20
y=120
width=117
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Air Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,air_battlestaff

[com_93]
type=Text
x=257
y=120
width=114
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Earth Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,earth_battlestaff

[com_94]
type=Text
x=373
y=120
width=106
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Fire Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,fire_battlestaff

[com_95]
type=Text
x=71
y=27
width=363
height=20
colour=0xFFAA44
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="What would you like to enchant?"

[com_96]
type=Text
x=28
y=200
width=110
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Lava Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,lava_battlestaff

[com_97]
type=Text
x=146
y=200
width=100
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
text="Mud Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,mud_battlestaff

[com_98]
type=Text
x=257
y=200
width=100
height=14
colour=0xAAAAAA
colour2=0xFFFFFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Steam Battlestaff"
script1=gt,0
script1op1=inv_count,inventory:inv,godwars_steam_battlestaff

[com_99]
type=Model
buttonType=Button
x=70
y=80
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Air Battlestaff"
eventCode=flag22

[com_100]
type=Model
buttonType=Button
x=180
y=80
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Water Battlestaff"
eventCode=flag22

[com_101]
type=Model
buttonType=Button
x=290
y=80
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Earth Battlestaff"
eventCode=flag22

[com_102]
type=Model
buttonType=Button
x=400
y=80
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Fire Battlestaff"
eventCode=flag22

[com_103]
type=Model
buttonType=Button
x=70
y=160
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Lava Battlestaff"
eventCode=flag22

[com_104]
type=Model
buttonType=Button
x=180
y=160
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Mud Battlestaff"
eventCode=flag22

[com_105]
type=Model
buttonType=Button
x=290
y=160
width=32
height=32
model1Id=2810
modelZoom=992
modelXAn=148
modelYAn=1400
buttonText="Enchant Steam Battlestaff"
eventCode=flag22
