[layer_1]
type=Model
x=61
y=83
width=32
height=32
model1Id=6555
modelZoom=400
modelXAn=437

[stone_bar]
type=Model
x=61
y=83
width=32
height=32
model2Id=6557
modelZoom=400
modelXAn=437
script1=eq,1
script1op1=varbit,varbit_454

[time_bar]
type=Model
x=61
y=83
width=32
height=32
model2Id=6559
modelZoom=400
modelXAn=437
script1=eq,2
script1op1=varbit,varbit_454

[stone_bowl]
type=Model
x=61
y=83
width=32
height=32
model2Id=6560
modelZoom=400
modelXAn=437
script1=eq,3
script1op1=varbit,varbit_454

[drip]
type=Model
x=61
y=83
width=32
height=32
model2Id=6561
modelZoom=400
modelXAn=437
script1=eq,4
script1op1=varbit,varbit_454

[com_5]
type=Model
x=61
y=83
width=32
height=32
model2Id=6562
modelZoom=400
modelXAn=437
script1=eq,5
script1op1=varbit,varbit_454

[com_6]
type=Model
x=61
y=83
width=32
height=32
model2Id=6563
modelZoom=400
modelXAn=437
script1=eq,6
script1op1=varbit,varbit_454

[number_count]
type=Model
x=61
y=83
width=32
height=32
model2Id=6564
modelZoom=400
modelXAn=437
script1=eq,7
script1op1=varbit,varbit_454

[count]
type=Model
x=61
y=83
width=32
height=32
model2Id=6565
modelZoom=400
modelXAn=437
script1=eq,8
script1op1=varbit,varbit_454

[water]
type=Model
x=61
y=83
width=32
height=32
model2Id=6566
modelZoom=400
modelXAn=437
script1=eq,9
script1op1=varbit,varbit_454

[com_10]
type=Model
x=61
y=83
width=32
height=32
model2Id=6558
modelZoom=400
modelXAn=437
script1=eq,10
script1op1=varbit,varbit_454

[com_11]
type=Model
x=64
y=173
width=32
height=32
model1Id=6556
modelZoom=400
modelXAn=468
modelYAn=2045

[com_12]
type=Model
x=65
y=173
width=31
height=32
model2Id=6545
modelZoom=400
modelXAn=468
modelYAn=2045
script1=eq,1
script1op1=varbit,tog_tears_collected

[com_13]
type=Model
x=65
y=173
width=31
height=32
model2Id=6547
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,1
script1op1=varbit,tog_tears_collected
script2=lt,4

[com_14]
type=Model
x=65
y=173
width=31
height=32
model2Id=6548
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,3
script1op1=varbit,tog_tears_collected
script2=lt,7

[com_15]
type=Model
x=65
y=173
width=31
height=32
model2Id=6549
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,6
script1op1=varbit,tog_tears_collected
script2=lt,11

[com_16]
type=Model
x=65
y=173
width=31
height=32
model2Id=6550
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,10
script1op1=varbit,tog_tears_collected
script2=lt,16

[com_17]
type=Model
x=65
y=173
width=31
height=32
model2Id=6551
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,15
script1op1=varbit,tog_tears_collected
script2=lt,22

[com_18]
type=Model
x=65
y=173
width=31
height=32
model2Id=6552
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,21
script1op1=varbit,tog_tears_collected
script2=lt,29

[com_19]
type=Model
x=65
y=173
width=31
height=32
model2Id=6553
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,28
script1op1=varbit,tog_tears_collected
script2=lt,37

[com_20]
type=Model
x=65
y=173
width=31
height=32
model2Id=6554
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,36
script1op1=varbit,tog_tears_collected
script2=lt,46

[com_21]
type=Model
x=65
y=173
width=31
height=32
model2Id=6546
modelZoom=400
modelXAn=468
modelYAn=2045
script1=gt,45
script1op1=varbit,tog_tears_collected

[com_22]
type=Text
x=8
y=129
width=136
height=17
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Water Collected"

[com_23]
type=Text
x=34
y=45
width=85
height=14
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Time Left"

[com_24]
type=Model
x=120
y=211
width=32
height=32
model1Id=6544
modelZoom=400
modelXAn=409
modelYAn=97

[com_25]
type=Text
x=126
y=216
width=17
height=14
colour=0xFFFF00
font=495
shadow=yes
text="%1"
script1op1=varbit,tog_tears_collected

[com_26]
type=Layer
x=4
y=60
width=145
height=190
