[com_0]
type=Model
x=178
y=19
width=32
height=32
model1Id=22511
modelZoom=400
modelXAn=568

[status_bar_blue]
type=Layer
x=8
y=19
width=164
height=32

[com_2]
type=Model
x=66
width=32
height=32
layerId=33292289
model1Id=22517
modelZoom=400
modelXAn=573

[status_bar_red]
type=Layer
x=216
y=19
width=164
height=32

[com_4]
type=Model
x=66
width=32
height=32
layerId=33292291
model1Id=22524
modelZoom=400
modelXAn=573

[neutral_arrow_7]
type=Layer
x=185
y=53
width=18
height=32

[com_6]
type=Model
width=18
height=32
layerId=33292293
model1Id=22525
modelZoom=1552

[com_7]
type=Text
x=20
y=27
width=110
height=16
colour=0xFFFF00
font=495
shadow=yes
text="The World of Magic"

[com_8]
type=Text
x=261
y=27
width=107
height=16
colour=0xFFFF00
hAlign=Right
font=495
shadow=yes
text="The World of Logic"

[neutral_arrow_0]
type=Layer
x=15
y=53
width=18
height=32
hide=yes

[com_10]
type=Model
width=18
height=32
layerId=33292297
model1Id=22525
modelZoom=1552

[neutral_arrow_1]
type=Layer
x=40
y=54
width=18
height=32
hide=yes

[com_12]
type=Model
width=18
height=32
layerId=33292299
model1Id=22525
modelZoom=1552

[neutral_arrow_2]
type=Layer
x=65
y=54
width=18
height=32
hide=yes

[com_14]
type=Model
width=18
height=32
layerId=33292301
model1Id=22525
modelZoom=1552

[neutral_arrow_3]
type=Layer
x=90
y=54
width=18
height=32
hide=yes

[com_16]
type=Model
width=18
height=32
layerId=33292303
model1Id=22525
modelZoom=1552

[neutral_arrow_4]
type=Layer
x=114
y=54
width=18
height=32
hide=yes

[com_18]
type=Model
width=18
height=32
layerId=33292305
model1Id=22525
modelZoom=1552

[neutral_arrow_5]
type=Layer
x=137
y=54
width=18
height=32
hide=yes

[com_20]
type=Model
width=18
height=32
layerId=33292307
model1Id=22525
modelZoom=1552

[neutral_arrow_6]
type=Layer
x=160
y=54
width=18
height=32
hide=yes

[com_22]
type=Model
width=18
height=32
layerId=33292309
model1Id=22525
modelZoom=1552

[neutral_arrow_8]
type=Layer
x=209
y=54
width=18
height=32
hide=yes

[com_24]
type=Model
width=18
height=32
layerId=33292311
model1Id=22525
modelZoom=1552

[neutral_arrow_9]
type=Layer
x=234
y=55
width=18
height=32
hide=yes

[com_26]
type=Model
width=18
height=32
layerId=33292313
model1Id=22525
modelZoom=1552

[neutral_arrow_10]
type=Layer
x=259
y=55
width=18
height=32
hide=yes

[com_28]
type=Model
width=18
height=32
layerId=33292315
model1Id=22525
modelZoom=1552

[neutral_arrow_11]
type=Layer
x=284
y=55
width=18
height=32
hide=yes

[com_30]
type=Model
width=18
height=32
layerId=33292317
model1Id=22525
modelZoom=1552

[neutral_arrow_12]
type=Layer
x=308
y=55
width=18
height=32
hide=yes

[com_32]
type=Model
width=18
height=32
layerId=33292319
model1Id=22525
modelZoom=1552

[neutral_arrow_13]
type=Layer
x=331
y=55
width=18
height=32
hide=yes

[com_34]
type=Model
width=18
height=32
layerId=33292321
model1Id=22525
modelZoom=1552

[neutral_arrow_14]
type=Layer
x=354
y=55
width=18
height=32
hide=yes

[com_36]
type=Model
width=18
height=32
layerId=33292323
model1Id=22525
modelZoom=1552

[com_37]
type=Text
x=114
y=3
width=32
height=16
colour=0xFFFF00
font=495
shadow=yes
text="The Mind of the Homunculus!"
