[content_layer]
type=Rectangle
width=512
height=334
trans=64
colour=0x261E14
fill=yes

[bespoke_window]
type=Model
x=274
y=156
width=32
height=32
model1Id=22354
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_static_machine]
type=Model
x=150
y=265
width=32
height=32
model1Id=22378
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_shadow01]
type=Model
x=202
y=270
width=32
height=32
model1Id=22378
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_shadow02]
type=Model
x=365
y=285
width=32
height=32
model1Id=22378
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_shadow04]
type=Model
x=306
y=281
width=32
height=32
model1Id=22378
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_shadow03]
type=Model
x=138
y=148
width=32
height=32
layerId=33423367
model1Id=22359
modelAnim=tol_interface_leak
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakflow_layer03]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_pipe03]
type=Model
x=274
y=156
width=32
height=32
model1Id=22372
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_pipe01]
type=Model
x=274
y=156
width=32
height=32
model1Id=22370
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_pipe02]
type=Model
x=274
y=156
width=32
height=32
model1Id=22371
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty2_3]
type=Model
x=274
y=156
width=32
height=32
model1Id=22399
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer2_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423375
model1Id=22419
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer2_3]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_pipe04]
type=Model
width=305
height=327
layerId=33423373
model1Id=22432
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty2_5]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_filled_ball_layer2_5]
type=Model
x=274
y=156
width=32
height=32
model1Id=22373
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer2_5]
type=Model
x=274
y=156
width=32
height=32
model1Id=22396
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakflow_layer01]
type=Model
x=138
y=148
width=32
height=32
layerId=33423381
model1Id=22416
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakflow_layer02]
type=Layer
x=136
y=8
width=305
height=327

[tol_valve_layer01]
type=Model
width=305
height=327
layerId=33423379
model1Id=22429
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_layer02]
type=Layer
x=136
y=8
width=305
height=326

[tol_valve_layer03]
type=Model
x=138
y=148
width=32
height=32
layerId=33423383
model1Id=22360
modelAnim=tol_interface_leak
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_lever_box]
type=Layer
x=136
y=8
width=305
height=326

[tol_valve_layer04]
type=Model
x=138
y=148
width=32
height=32
layerId=33423385
model1Id=22362
modelAnim=tol_interface_leak
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_lever_layer01]
type=Layer
x=136
y=8
width=305
height=326

[tol_lever_layer02]
type=Model
x=14
y=257
width=32
height=32
layerId=33423387
model1Id=22376
modelZoom=1150
modelXAn=24
modelYAn=69
discardedModelField=0

[tol_waterlevel_empty4_1]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_layer4_1]
type=Model
x=66
y=262
width=32
height=32
layerId=33423389
model1Id=22376
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty1_1]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_layer1_1]
type=Model
x=170
y=273
width=32
height=32
layerId=33423391
model1Id=22376
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty3_2]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_layer3_2]
type=Model
x=230
y=277
width=32
height=32
layerId=33423394
model1Id=22376
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty3_1]
type=Model
x=274
y=156
width=32
height=32
model1Id=22369
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer3_1]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_empty2_1]
type=Model
x=104
y=239
width=22
height=79
layerId=33423396
model1Id=22367
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0
eventCode=hasOp(1)
opName0="Pull left lever"

[tol_waterlevel_layer2_1]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_empty3_3]
type=Model
x=127
y=239
width=26
height=78
layerId=33423398
model1Id=22367
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0
eventCode=hasOp(1)
opName0="Pull right lever"

[tol_waterlevel_filled_ball_layer3_3]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_layer3_3]
type=Model
x=274
y=156
width=32
height=32
model1Id=22380
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty4_2]
type=Model
x=138
y=148
width=32
height=32
layerId=33423401
model1Id=22379
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer4_2]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer4_2]
type=Model
x=274
y=156
width=32
height=32
model1Id=22381
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty4_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423404
model1Id=22401
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer4_3]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer4_3]
type=Model
x=274
y=156
width=32
height=32
model1Id=22382
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty4_4]
type=Model
x=138
y=148
width=32
height=32
layerId=33423407
model1Id=22402
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer4_4]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer4_4]
type=Model
x=274
y=156
width=32
height=32
model1Id=22383
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty2_2]
type=Model
x=138
y=148
width=32
height=32
layerId=33423410
model1Id=22403
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer2_2]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer2_2]
type=Model
x=274
y=156
width=32
height=32
model1Id=22384
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty3_4]
type=Model
x=138
y=148
width=32
height=32
layerId=33423413
model1Id=22404
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer3_4]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer3_4]
type=Model
x=274
y=156
width=32
height=32
model1Id=22385
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty1_2]
type=Model
x=138
y=148
width=32
height=32
layerId=33423418
model1Id=22405
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer1_2]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_waterlevel_empty1_5]
type=Model
x=1
y=2
width=305
height=327
layerId=33423416
model1Id=22400
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer1_5]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer1_5]
type=Model
x=274
y=156
width=32
height=32
model1Id=22386
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty1_4]
type=Model
x=138
y=148
width=32
height=32
layerId=33423423
model1Id=22406
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer1_4]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_waterlevel_layer1_4]
type=Model
width=305
height=327
layerId=33423421
model1Id=22420
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty1_3]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled_ball_layer1_3]
type=Model
x=274
y=156
width=32
height=32
model1Id=22387
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer1_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423428
model1Id=22407
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty3_5]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_leakflow_layer04]
type=Model
width=305
height=327
layerId=33423426
model1Id=22421
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer3_5]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_layer3_5]
type=Model
x=274
y=156
width=32
height=32
model1Id=22388
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty2_4]
type=Model
x=138
y=148
width=32
height=32
layerId=33423433
model1Id=22408
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball_layer2_4]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_waterlevel_layer2_4]
type=Model
width=305
height=327
layerId=33423431
model1Id=22422
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_empty4_5]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled_ball_layer4_5]
type=Model
x=274
y=156
width=32
height=32
model1Id=22389
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_layer4_5]
type=Model
x=138
y=148
width=32
height=32
layerId=33423438
model1Id=22409
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakstopper_layer03]
type=Layer
x=136
y=8
width=305
height=327

[tol_leakstopper_layer01]
type=Model
width=305
height=327
layerId=33423436
model1Id=22423
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakstopper_layer04]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_leakstopper_layer02]
type=Model
x=274
y=156
width=32
height=32
model1Id=22390
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_pipe06]
type=Model
x=138
y=148
width=32
height=32
layerId=33423443
model1Id=22410
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_close_button]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_valve_turn_left01]
type=Model
width=305
height=327
layerId=33423441
model1Id=22424
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_turn_right01]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_valve_turn_left02]
type=Model
x=274
y=156
width=32
height=32
model1Id=22391
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_turn_right02]
type=Model
x=138
y=148
width=32
height=32
layerId=33423446
model1Id=22411
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_turn_left03]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_valve_turn_right03]
type=Model
x=274
y=156
width=32
height=32
model1Id=22392
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_turn_right04]
type=Model
x=138
y=148
width=32
height=32
layerId=33423451
model1Id=22412
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve_turn_left04]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_leak_blackhole_layer01]
type=Model
width=305
height=327
layerId=33423449
model1Id=22425
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leak_blackhole_layer02]
type=Layer
x=136
y=8
width=305
height=326

[tol_leak_blackhole_layer03]
type=Model
x=274
y=156
width=32
height=32
model1Id=22393
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leak_blackhole_layer04]
type=Model
x=138
y=148
width=32
height=32
layerId=33423456
model1Id=22413
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_lever_layer01_down]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_lever_layer02_down]
type=Model
width=305
height=327
layerId=33423454
model1Id=22426
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[com_96]
type=Layer
x=136
y=8
width=305
height=326

[com_97]
type=Model
x=274
y=156
width=32
height=32
model1Id=22394
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[com_98]
type=Model
x=138
y=148
width=32
height=32
layerId=33423461
model1Id=22414
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[com_99]
type=Layer
x=136
y=8
width=305
height=327

[com_100]
type=Model
width=305
height=327
layerId=33423459
model1Id=22427
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakflow03]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled2_3]
type=Model
x=274
y=156
width=32
height=32
model1Id=22395
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball2_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423464
model1Id=22361
modelAnim=tol_interface_leak
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled2_5]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled_ball2_5]
type=Model
x=138
y=148
width=32
height=32
layerId=33423468
model1Id=22415
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakflow01]
type=Layer
x=136
y=8
width=305
height=327

[tol_leakflow02]
type=Model
width=305
height=327
layerId=33423466
model1Id=22428
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve01]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_valve02]
type=Model
x=274
y=156
width=32
height=32
model1Id=22397
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve03]
type=Model
x=138
y=148
width=32
height=32
layerId=33423473
model1Id=22417
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_valve04]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_lever01]
type=Model
width=305
height=327
layerId=33423471
model1Id=22430
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_lever02]
type=Layer
x=136
y=8
width=305
height=326

[tol_waterlevel_filled4_1]
type=Model
x=274
y=156
width=32
height=32
model1Id=22398
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled1_1]
type=Model
x=138
y=148
width=32
height=32
layerId=33423478
model1Id=22418
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled3_2]
type=Layer
x=136
y=8
width=305
height=327

[tol_waterlevel_filled3_1]
type=Model
width=305
height=327
layerId=33423476
model1Id=22431
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled2_1]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled3_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423480
model1Id=22363
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball3_3]
type=Layer
x=136
y=8
width=305
height=331
hide=yes

[tol_waterlevel_filled4_2]
type=Model
x=138
y=148
width=32
height=32
layerId=33423482
model1Id=22364
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball4_2]
type=Layer
x=136
y=8
width=305
height=331
hide=yes

[tol_waterlevel_filled4_3]
type=Model
x=138
y=148
width=32
height=32
layerId=33423484
model1Id=22365
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball4_3]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled4_4]
type=Model
x=138
y=148
width=32
height=32
layerId=33423486
model1Id=22366
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled_ball4_4]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_waterlevel_filled2_2]
type=Model
x=487
y=152
width=32
height=32
model1Id=22375
modelZoom=1150
modelXAn=54
modelYAn=80
discardedModelField=0

[tol_waterlevel_filled_ball2_2]
type=Sprite
x=477
y=6
width=26
height=23
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29

[tol_waterlevel_filled3_4]
type=Sprite
x=3
y=5
width=26
height=23
layerId=33423490
graphic=542

[tol_waterlevel_filled_ball3_4]
type=Layer
x=474
y=1
width=32
height=32
hide=yes

[tol_waterlevel_filled1_2]
type=Rectangle
x=141
y=256
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn left"

[tol_waterlevel_filled1_5]
type=Rectangle
x=166
y=257
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn right"

[tol_waterlevel_filled_ball1_5]
type=Rectangle
x=191
y=260
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn left"

[tol_waterlevel_filled1_4]
type=Rectangle
x=215
y=262
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn right"

[tol_waterlevel_filled_ball1_4]
type=Rectangle
x=295
y=269
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn left"

[tol_waterlevel_filled1_3]
type=Rectangle
x=320
y=271
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn right"

[tol_waterlevel_filled_ball1_3]
type=Rectangle
x=384
y=276
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn right"

[tol_leakflow04]
type=Rectangle
x=360
y=272
width=25
height=52
trans=255
colour=0xFFFF00
eventCode=hasOp(1)
opName0="Turn left"

[tol_waterlevel_filled3_5]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_waterlevel_filled_ball3_5]
type=Model
x=2
y=1
width=305
height=327
layerId=33423499
model1Id=22355
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled2_4]
type=Layer
x=136
y=8
width=305
height=327
hide=yes

[tol_waterlevel_filled_ball2_4]
type=Model
x=2
y=2
width=305
height=327
layerId=33423501
model1Id=22356
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_waterlevel_filled4_5]
type=Layer
x=136
y=8
width=305
height=327

[tol_waterlevel_filled_ball4_5]
type=Model
x=2
y=1
width=305
height=327
layerId=33423503
model1Id=22357
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakstopper03]
type=Layer
x=136
y=8
width=305
height=327

[tol_leakstopper01]
type=Model
x=2
y=1
width=305
height=327
layerId=33423505
model1Id=22358
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0

[tol_leakstopper04]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_leakstopper02]
type=Model
x=107
y=246
width=21
height=66
layerId=33423507
model1Id=22368
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0
eventCode=hasOp(1)
opName0="Pull left lever"

[tol_x02]
type=Layer
x=136
y=8
width=305
height=326
hide=yes

[tol_leak_blackhole01]
type=Model
x=129
y=247
width=22
height=64
layerId=33423509
model1Id=22368
modelZoom=1150
modelXAn=24
modelYAn=96
discardedModelField=0
eventCode=hasOp(1)
opName0="Pull right lever"

[tol_leak_blackhole02]
type=Text
x=182
y=224
width=32
height=32
colour=0x99FF99
font=495
shadow=yes
text="1"

[tol_leak_blackhole03]
type=Text
x=232
y=227
width=32
height=32
colour=0x99FF99
font=495
shadow=yes
text="2"

[tol_leak_blackhole04]
type=Text
x=318
y=228
width=32
height=32
colour=0x99FF99
font=495
shadow=yes
text="3"

[tol_lever01_1]
type=Text
x=366
y=243
width=32
height=32
colour=0x99FF99
font=495
shadow=yes
text="4"

[tol_lever02_1]
type=Text
x=12
y=70
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Use the valves"

[bespoke_window_background]
type=Text
x=12
y=90
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="and the levers to"

[bespoke_window_content]
type=Text
x=12
y=110
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="get the balls in"

[bespoke_window_border]
type=Text
x=12
y=130
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="the holes, and "

[bespoke_window_close]
type=Text
x=12
y=150
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="then increase the"

[com_160]
type=Text
x=12
y=171
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="pressure to fill"

[com_161]
type=Text
x=12
y=192
width=157
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="the pipes!"
