[layer_1]
type=Rectangle
width=535
height=343
fill=yes

[bespoke_window]
type=Model
x=360
y=264
width=32
height=32
model1Id=22441
modelAnim=tol_cage_surround_anim
modelZoom=748
modelXAn=195
modelYAn=78

[com_2]
type=Model
x=360
y=264
width=32
height=32
model1Id=22435
modelAnim=tol_cage_surround_anim
modelZoom=748
modelXAn=195
modelYAn=78

[com_3]
type=Layer
width=513
height=335
hide=yes

[rotation1_fixed]
type=Model
x=312
y=216
width=32
height=32
layerId=33357827
model1Id=22477
modelZoom=784
modelXAn=195
modelYAn=78

[rotation1]
type=Layer
width=513
height=335
hide=yes

[rotation2]
type=Model
x=328
y=232
width=32
height=32
layerId=33357829
model1Id=22476
modelZoom=748
modelXAn=195
modelYAn=78

[rotation3]
type=Model
x=328
y=232
width=32
height=32
layerId=33357829
model1Id=22467
modelZoom=748
modelXAn=195
modelYAn=78

[rotation4]
type=Model
x=328
y=232
width=32
height=32
layerId=33357829
model1Id=22470
modelZoom=748
modelXAn=195
modelYAn=78

[com_9]
type=Model
x=328
y=232
width=32
height=32
layerId=33357829
model1Id=22473
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_left]
type=Layer
width=513
height=335

[turn_left_button]
type=Model
x=328
y=232
width=32
height=32
layerId=33357834
model1Id=22487
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_right]
type=Model
x=328
y=232
width=32
height=32
layerId=33357834
model1Id=22478
modelZoom=748
modelXAn=195
modelYAn=78

[turn_right_button]
type=Model
x=328
y=232
width=32
height=32
layerId=33357834
model1Id=22481
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_confirm]
type=Model
x=328
y=232
width=32
height=32
layerId=33357834
model1Id=22484
modelZoom=748
modelXAn=195
modelYAn=78

[tol_confirm_button]
type=Layer
width=513
height=335
hide=yes

[com_16]
type=Model
x=328
y=232
width=32
height=32
layerId=33357839
model1Id=22498
modelZoom=748
modelXAn=195
modelYAn=78

[com_17]
type=Model
x=328
y=232
width=32
height=32
layerId=33357839
model1Id=22489
modelZoom=748
modelXAn=195
modelYAn=78

[tol_horizontal_pipes]
type=Model
x=328
y=232
width=32
height=32
layerId=33357839
model1Id=22492
modelZoom=748
modelXAn=195
modelYAn=78

[tol_vertical_pipes]
type=Model
x=328
y=232
width=32
height=32
layerId=33357839
model1Id=22495
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_horiz]
type=Layer
width=517
height=338
hide=yes

[tol_horizontal_select]
type=Model
x=328
y=232
width=32
height=32
layerId=33357844
model1Id=22509
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_vert]
type=Model
x=328
y=232
width=32
height=32
layerId=33357844
model1Id=22500
modelZoom=748
modelXAn=195
modelYAn=78

[tol_vertical_select]
type=Model
x=328
y=232
width=32
height=32
layerId=33357844
model1Id=22503
modelZoom=748
modelXAn=195
modelYAn=78

[com_24]
type=Model
x=328
y=232
width=32
height=32
layerId=33357844
model1Id=22506
modelZoom=748
modelXAn=195
modelYAn=78

[com_25]
type=Model
x=360
y=264
width=32
height=32
model1Id=22437
modelAnim=tol_cage_surround_anim
modelZoom=748
modelXAn=195
modelYAn=78

[tol_cage_minus]
type=Model
buttonType=Button
x=312
y=280
width=32
height=32
overLayerId=27
model1Id=22434
modelZoom=1040
modelXAn=420
eventCode=flag22

[tol_minus]
type=Layer
x=302
y=272
width=49
height=43
overLayerId=27
hide=yes

[tol_cage_plus]
type=Model
x=8
y=8
width=32
height=32
layerId=33357851
model1Id=22433
modelZoom=1040
modelXAn=420

[tol_plus]
type=Model
buttonType=Button
x=392
y=280
width=32
height=32
overLayerId=30
model1Id=22436
modelZoom=1040
modelXAn=420
eventCode=flag22

[com_30]
type=Layer
x=385
y=272
width=51
height=40
overLayerId=30
hide=yes

[tol_cage_size]
type=Model
x=8
y=8
width=32
height=32
layerId=33357854
model1Id=22439
modelZoom=1040
modelXAn=420

[com_32]
type=Model
buttonType=Button
x=232
y=168
width=32
height=32
overLayerId=33
model1Id=22442
modelZoom=528
modelXAn=441
eventCode=flag22

[com_33]
type=Layer
x=227
y=160
width=43
height=47
hide=yes

[com_34]
type=Model
x=8
y=8
width=32
height=32
layerId=33357857
model1Id=22440
modelZoom=528
modelXAn=441

[tol_cage_1_1]
type=Model
x=72
y=152
width=32
height=32
model1Id=22456
modelZoom=988
modelXAn=546
modelYAn=2047

[tol_cage_1_2]
type=Text
x=216
y=216
width=73
height=16
colour=0xFF981F
hAlign=Center
font=495
text="Place bar"

[tol_cage_1_3]
type=Layer
x=40
y=56
width=150
height=31

[com_38]
type=Model
x=40
y=8
width=32
height=32
layerId=33357861
model1Id=22446
modelZoom=656
modelXAn=30
modelYAn=189

[tol_cage_2_1]
type=Layer
x=40
y=88
width=33
height=167

[tol_cage_2_2]
type=Model
x=8
y=104
width=32
height=32
layerId=33357863
model1Id=22459
modelZoom=656
modelXAn=327
modelYAn=33

[tol_cage_2_3]
type=Model
buttonType=Button
x=88
y=120
width=32
height=32
overLayerId=42
model1Id=22442
modelZoom=528
modelXAn=441
eventCode=flag22

[com_42]
type=Layer
x=80
y=112
width=46
height=47
hide=yes

[tol_cage_3_1]
type=Model
x=8
y=8
width=32
height=32
layerId=33357866
model1Id=22440
modelZoom=528
modelXAn=441

[tol_cage_3_2]
type=Model
buttonType=Button
x=88
y=152
width=32
height=32
overLayerId=45
model1Id=22442
modelZoom=528
modelXAn=441
eventCode=flag22

[tol_cage_3_3]
type=Layer
x=80
y=144
width=46
height=46
hide=yes

[com_46]
type=Model
x=8
y=8
width=32
height=32
layerId=33357869
model1Id=22440
modelZoom=528
modelXAn=441

[tol_cage_4_1]
type=Text
x=120
y=120
width=93
height=14
hAlign=Center
font=495
text="Horizontal"

[tol_cage_4_2]
type=Text
x=120
y=152
width=90
height=14
hAlign=Center
font=495
text="Vertical"

[tol_cage_4_3]
type=Model
buttonType=Button
x=88
y=216
width=32
height=32
overLayerId=50
model1Id=22454
modelZoom=1424
modelXAn=441
eventCode=flag22

[com_50]
type=Layer
x=80
y=208
width=39
height=36
hide=yes

[com_51]
type=Model
x=8
y=8
width=32
height=32
layerId=33357874
model1Id=22443
modelZoom=1424
modelXAn=441

[com_52]
type=Model
buttonType=Button
x=88
y=184
width=32
height=32
overLayerId=53
model1Id=22438
modelZoom=1424
modelXAn=441
eventCode=flag22

[tol_cage_horiz_bar]
type=Layer
x=80
y=176
width=39
height=36
hide=yes

[tol_cage_vert_bar]
type=Model
x=8
y=8
width=32
height=32
layerId=33357877
model1Id=22455
modelZoom=1424
modelXAn=441

[com_55]
type=Rectangle
x=120
y=232
width=23
height=20
colour=0x3E0400

[com_56]
type=Text
x=120
y=232
width=23
height=15
hAlign=Center
font=495
text="1"

[com_57]
type=Sprite
x=472
y=8
width=26
height=23
overLayerId=59
graphic=541

[bespoke_window_background]
type=Sprite
buttonType=Close
x=8
y=8
width=26
height=23
layerId=33357883
graphic=542
buttonText="Ok"

[bespoke_window_content]
type=Layer
x=464
width=32
height=32
hide=yes
