[scrollbar_layer]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[mainmodal_window]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[mainmodal_window_background]
type=Model
x=207
y=13
width=62
height=83
modelZoom=400

[mainmodal_window_content]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make All"
eventCode=pauseButton

[key_layer]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make X"
eventCode=pauseButton

[mainmodal_window_border]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 5"
eventCode=pauseButton

[mainmodal_window_close_button]
type=Text
buttonType=Pause
x=58
y=17
width=363
height=79
colourOver=0xFFFFFF
hAlign=Center
font=497
buttonText="Make 1"
eventCode=pauseButton

[com_7]
type=Text
buttonType=Pause
width=479
height=17
colour=0x800000
hAlign=Center
font=497
text="How many would you like to make?"
eventCode=pauseButton
