[slot_border_layer]
type=Model
x=247
y=145
width=32
height=32
model1Id=3437
modelZoom=430
modelXAn=512

[abilities_layer]
type=Inventory
x=171
y=54
width=5
height=5
widthAlignment=Grid
heightAlignment=Grid
marginX=5
marginY=5
eventCode=objOpsEnabled

[cooldown_layer]
type=Model
buttonType=Button
x=3
y=3
width=30
height=30
layerId=23789572
overLayerId=5
model1Id=3374
modelZoom=1010
modelXAn=360
modelYAn=672
buttonText="Hint"
eventCode=flag22

[background_layer]
type=Text
x=3
y=32
width=41
height=17
layerId=23789572
colour=0xFAD782
vAlign=Center
font=494
text="Hint"

[content_layer]
type=Layer
x=110
y=249
width=42
height=47

[frame_layer]
type=Layer
x=156
y=40
width=210
height=210
hide=yes
script1=eq,2
script1op1=varp,if1

[main_layer]
type=Model
x=90
y=107
width=32
height=32
layerId=23789573
model1Id=3437
modelZoom=430
modelXAn=512

[category_buttons_layer]
type=Inventory
x=15
y=14
width=5
height=5
widthAlignment=Grid
heightAlignment=Grid
layerId=23789573
marginX=5
marginY=5

[scrolling_layer]
type=Model
x=247
y=145
width=32
height=32
model1Id=3438
modelZoom=444
modelXAn=512

[cooldown_text_layer]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=11
graphic=539

[ability_flash_layer]
type=Sprite
buttonType=Close
x=4
y=6
width=26
height=23
layerId=23789579
graphic=540
buttonText="Ok"

[scrollbar_layer]
type=Layer
x=469
y=7
width=32
height=32
hide=yes
