[root]
type=Model
x=243
y=138
width=35
height=35
model1Id=3032
modelZoom=650
modelXAn=400

[permanent_listeners]
type=Text
x=116
y=109
width=292
height=19
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="Congratulations!"

[mobile_toggle_right_action_buttons_onvartransmit]
type=Text
y=134
width=512
height=2
colour=0xFFFF00
hAlign=Center
font=497
shadow=yes

[mobile_safearea_change]
type=Model
x=117
y=169
width=85
height=105
modelZoom=1500
modelXAn=11
modelYAn=1849

[tutorial_settings_layer]
type=Text
x=202
y=237
width=89
height=26
colour=0x0099FF
hAlign=Center
font=495
shadow=yes
text="Total Points:"

[tutorial_settings_button]
type=Text
x=296
y=237
width=17
height=14
colour=0x0099FF
hAlign=Center
font=495
shadow=yes
text="%1"
script1op1=varp,qp

[tutorial_settings_options_layer]
type=Model
x=341
y=195
width=32
height=32
model1Id=3037
modelZoom=800
modelXAn=500

[com_7]
type=Text
x=202
y=183
width=121
height=16
colour=0x00C000
hAlign=Center
font=495
shadow=yes
text="You are awarded"

[viewport]
type=Text
x=256
y=198
width=8
height=14
colour=0xFF0000
hAlign=Center
font=495
shadow=yes
text="0"

[combat_bar_mobile]
type=Text
x=202
y=215
width=120
height=16
colour=0x00C000
hAlign=Center
font=495
shadow=yes
text="Quest points."

[combat_bar_mobile_background]
type=Sprite
x=485
y=3
width=26
height=23
overLayerId=12
graphic=539

[combat_bar_mobile_border]
type=Sprite
buttonType=Close
x=5
y=3
width=26
height=23
layerId=18087948
graphic=540
buttonText="Ok"

[combat_bar_mobile_content]
type=Layer
x=480
width=32
height=32
hide=yes
