[resolution_dropdown]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[scaling_dropdown]
type=Text
buttonType=Pause
y=16
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[logout_disabled]
type=Text
buttonType=Pause
y=36
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[top1]
type=Text
buttonType=Pause
y=56
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option3"
eventCode=pauseButton

[top2]
type=Text
buttonType=Pause
y=76
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option4"
eventCode=pauseButton

[top3]
type=Sprite
width=57
height=13
layerId=15204359
graphic=302

[top4]
type=Sprite
x=280
width=57
height=13
layerId=15204359
graphic=301

[scrollbar_build_layer]
type=Layer
x=72
y=1
width=337
height=13

[build_layer]
type=Layer
x=2
y=1
width=476
height=13
hide=yes

[watch_stream_button_layer]
type=Sprite
width=57
height=13
layerId=15204360
graphic=302

[refresh_button_layer]
type=Sprite
x=419
width=57
height=13
layerId=15204360
graphic=301
