[slot_border_layer]
type=Rectangle
x=17
y=26
width=479
height=299
colour=0x999999
fill=yes

[abilities_layer]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[cooldown_layer]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[background_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[content_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[frame_layer]
type=Sprite
x=411
y=20
width=88
height=60
graphic=297

[main_layer]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[category_buttons_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[scrolling_layer]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[cooldown_text_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[ability_flash_layer]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[scrollbar_layer]
type=Sprite
x=411
y=80
width=88
height=60
graphic=297

[com_12]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_15]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_16]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[com_17]
type=Sprite
x=411
y=140
width=88
height=60
graphic=297

[com_18]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[com_19]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=411
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=411
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=265
width=88
height=60
graphic=297

[com_31]
type=Sprite
x=100
y=265
width=88
height=60
graphic=297

[com_32]
type=Sprite
x=188
y=265
width=88
height=60
graphic=297

[com_33]
type=Sprite
x=276
y=265
width=88
height=60
graphic=297

[com_34]
type=Sprite
x=364
y=265
width=88
height=60
graphic=297

[com_35]
type=Sprite
x=411
y=265
width=88
height=60
graphic=297

[com_36]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_39]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_40]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_41]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_42]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_46]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_47]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_48]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_49]
type=Sprite
x=73
y=309
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=109
y=309
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=145
y=309
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=181
y=309
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=217
y=309
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=253
y=309
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=289
y=309
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=325
y=309
width=36
height=36
graphic=173

[com_57]
type=Sprite
x=361
y=309
width=36
height=36
graphic=173

[com_58]
type=Sprite
x=397
y=309
width=36
height=36
graphic=173

[com_59]
type=Sprite
x=433
y=309
width=36
height=36
graphic=173

[com_60]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_70]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_71]
type=Sprite
x=37
y=309
width=36
height=36
graphic=173

[com_72]
type=Sprite
x=12
y=300
width=25
height=30
graphic=312

[com_73]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_74]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=475
y=300
width=25
height=30
graphic=313

[com_76]
type=Sprite
x=439
y=309
width=36
height=36
graphic=173

[com_77]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_87]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_90]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_91]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_92]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_93]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_94]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_95]
type=Text
x=17
y=30
width=478
height=19
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Select a piece of furniture to build. "

[com_96]
type=Text
x=21
y=55
width=202
height=14
colour=0xFF981F
font=494
shadow=yes
text2="Select a piece of furniture to build."

[com_97]
type=Text
x=69
y=62
width=116
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_98]
type=Text
x=69
y=73
width=72
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_99]
type=Text
x=69
y=83
width=71
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_100]
type=Text
x=69
y=94
width=71
height=14
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_101]
type=Text
x=69
y=107
width=71
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_102]
type=Text
x=69
y=127
width=117
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_103]
type=Text
x=69
y=138
width=75
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_104]
type=Text
x=69
y=148
width=75
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_105]
type=Text
x=69
y=158
width=75
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_106]
type=Text
x=69
y=168
width=75
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_107]
type=Text
x=70
y=192
width=117
height=11
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_108]
type=Text
x=70
y=202
width=72
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_109]
type=Text
x=70
y=213
width=72
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_110]
type=Text
x=70
y=225
width=72
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_111]
type=Text
x=70
y=235
width=72
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_112]
type=Text
x=70
y=257
width=111
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_113]
type=Text
x=70
y=268
width=76
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_114]
type=Text
x=70
y=279
width=76
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_115]
type=Text
x=70
y=291
width=76
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_116]
type=Text
x=70
y=303
width=76
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_117]
type=Text
x=285
y=62
width=120
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_118]
type=Text
x=285
y=73
width=71
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_119]
type=Text
x=285
y=83
width=71
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_120]
type=Text
x=285
y=93
width=71
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_121]
type=Text
x=285
y=104
width=72
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_122]
type=Text
x=285
y=127
width=120
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_123]
type=Text
x=285
y=138
width=73
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_124]
type=Text
x=285
y=149
width=73
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_125]
type=Text
x=285
y=161
width=73
height=13
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_126]
type=Text
x=285
y=173
width=73
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_127]
type=Text
x=285
y=192
width=120
height=13
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[com_128]
type=Text
x=285
y=204
width=76
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[com_129]
type=Text
x=285
y=215
width=76
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_130]
type=Text
x=285
y=225
width=76
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_131]
type=Text
x=285
y=235
width=76
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[com_132]
type=Inventory
x=33
y=62
width=2
height=4
widthAlignment=Grid
heightAlignment=Grid
marginX=184
marginY=33
iop0=Build
eventCode=hasIop(0)

[com_133]
type=Sprite
x=33
y=62
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,1

[com_134]
type=Sprite
x=33
y=127
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,2

[com_135]
type=Sprite
x=33
y=192
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,3

[com_136]
type=Sprite
x=33
y=257
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,4

[com_137]
type=Sprite
x=249
y=62
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,5

[com_138]
type=Sprite
x=249
y=127
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,6

[com_139]
type=Sprite
x=249
y=192
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp_bit,if1,7

[com_140]
type=Text
x=18
y=95
width=50
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_141]
type=Text
x=18
y=160
width=50
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_142]
type=Text
x=19
y=225
width=50
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_143]
type=Text
x=19
y=290
width=50
height=11
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_144]
type=Text
x=234
y=95
width=50
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_145]
type=Text
x=234
y=160
width=50
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_146]
type=Text
x=234
y=225
width=50
height=13
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[com_147]
type=Sprite
x=469
y=26
width=26
height=23
overLayerId=149
graphic=535

[com_148]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=25952405
graphic=536
buttonText="Ok"

[com_149]
type=Layer
x=465
y=21
width=32
height=32
hide=yes
