[base_listener]
type=Model
x=241
y=127
width=35
height=35
model1Id=6746
modelZoom=477
modelXAn=498
modelYAn=1

[popup]
type=Model
x=241
y=127
width=35
height=35
model1Id=6747
model2Id=6749
modelZoom=477
modelXAn=498
modelYAn=1

[popup_background]
type=Model
x=241
y=127
width=35
height=35
model1Id=6748
model2Id=6748
modelZoom=477
modelXAn=498
modelYAn=1

[popup_content]
type=Text
x=9
y=9
width=497
height=23
colour=0xFF981F
hAlign=Center
font=497
shadow=yes
text="title"

[popup_buttons]
type=Layer
x=28
y=55
width=201
height=241
hide=yes

[popup_checkbox_text]
type=Model
x=87
y=-9
width=32
height=32
layerId=1703940
model1Id=3389
modelZoom=500
modelXAn=200

[popup_checkbox_layer]
type=Layer
x=29
y=56
width=201
height=241
hide=yes

[popup_continue_button]
type=Model
x=86
y=6
width=32
height=32
layerId=1703942
model1Id=3389
modelZoom=500
modelXAn=200

[popup_continue_button_on_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_continue_button_over_layer]
type=Model
x=87
y=24
width=32
height=32
layerId=1703944
model1Id=3389
modelZoom=500
modelXAn=200

[popup_continue_button_hit_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_continue_button_active_layer]
type=Model
x=87
y=40
width=32
height=32
layerId=1703946
model1Id=3389
modelZoom=500
modelXAn=200

[popup_continue_button_text_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_continue_button_text]
type=Model
x=87
y=56
width=32
height=32
layerId=1703948
model1Id=3389
modelZoom=500
modelXAn=200

[popup_cancel_button]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_cancel_button_on_layer]
type=Model
x=87
y=72
width=32
height=32
layerId=1703950
model1Id=3389
modelZoom=500
modelXAn=200

[popup_cancel_button_over_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_cancel_button_hit_layer]
type=Model
x=87
y=87
width=32
height=32
layerId=1703952
model1Id=3389
modelZoom=500
modelXAn=200

[popup_cancel_button_active_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_cancel_button_text_layer]
type=Model
x=87
y=104
width=32
height=32
layerId=1703954
model1Id=3389
modelZoom=500
modelXAn=200

[popup_cancel_button_text]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_border]
type=Model
x=87
y=120
width=32
height=32
layerId=1703956
model1Id=3389
modelZoom=500
modelXAn=200

[popup_close_button]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_checkbox_selected_layer]
type=Model
x=87
y=136
width=32
height=32
layerId=1703958
model1Id=3389
modelZoom=500
modelXAn=200

[popup_checkbox_selected_disabled_layer]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[popup_checkbox_deselected_layer]
type=Model
x=87
y=154
width=32
height=32
layerId=1703960
model1Id=3389
modelZoom=500
modelXAn=200

[popup_checkbox_deselected_disabled_layer]
type=Layer
x=29
y=56
width=201
height=241
hide=yes

[com_27]
type=Model
x=86
y=168
width=32
height=32
layerId=1703962
model1Id=3389
modelZoom=500
modelXAn=200

[com_28]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_29]
type=Model
x=86
y=184
width=32
height=32
layerId=1703964
model1Id=3389
modelZoom=500
modelXAn=200

[com_30]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_31]
type=Model
x=87
y=201
width=32
height=32
layerId=1703966
model1Id=3389
modelZoom=500
modelXAn=200

[com_32]
type=Layer
x=28
y=54
width=201
height=241
hide=yes

[com_33]
type=Model
x=88
y=217
width=32
height=32
layerId=1703968
model1Id=3389
modelZoom=500
modelXAn=200

[com_34]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_35]
type=Model
x=88
y=-8
width=32
height=32
layerId=1703970
model1Id=3389
modelZoom=500
modelXAn=200

[com_36]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_37]
type=Model
x=88
y=5
width=32
height=32
layerId=1703972
model1Id=3389
modelZoom=500
modelXAn=200

[com_38]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_39]
type=Model
x=88
y=23
width=32
height=32
layerId=1703974
model1Id=3389
modelZoom=500
modelXAn=200

[com_40]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_41]
type=Model
x=88
y=39
width=32
height=32
layerId=1703976
model1Id=3389
modelZoom=500
modelXAn=200

[com_42]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_43]
type=Model
x=88
y=56
width=32
height=32
layerId=1703978
model1Id=3389
modelZoom=500
modelXAn=200

[com_44]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_45]
type=Model
x=88
y=72
width=32
height=32
layerId=1703980
model1Id=3389
modelZoom=500
modelXAn=200

[com_46]
type=Layer
x=282
y=80
width=201
height=241
hide=yes

[com_47]
type=Model
x=89
y=63
width=32
height=32
layerId=1703982
model1Id=3389
modelZoom=500
modelXAn=200

[com_48]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_49]
type=Model
x=89
y=104
width=32
height=32
layerId=1703984
model1Id=3389
modelZoom=500
modelXAn=200

[com_50]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_51]
type=Model
x=89
y=120
width=32
height=32
layerId=1703986
model1Id=3389
modelZoom=500
modelXAn=200

[com_52]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_53]
type=Model
x=89
y=135
width=32
height=32
layerId=1703988
model1Id=3389
modelZoom=500
modelXAn=200

[com_54]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_55]
type=Model
x=88
y=151
width=32
height=32
layerId=1703990
model1Id=3389
modelZoom=500
modelXAn=200

[com_56]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_57]
type=Model
x=88
y=168
width=32
height=32
layerId=1703992
model1Id=3389
modelZoom=500
modelXAn=200

[com_58]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_59]
type=Model
x=88
y=184
width=32
height=32
layerId=1703994
model1Id=3389
modelZoom=500
modelXAn=200

[com_60]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_61]
type=Model
x=88
y=199
width=32
height=32
layerId=1703996
model1Id=3389
modelZoom=500
modelXAn=200

[com_62]
type=Layer
x=282
y=55
width=201
height=241
hide=yes

[com_63]
type=Model
x=88
y=215
width=32
height=32
layerId=1703998
model1Id=3389
modelZoom=500
modelXAn=200

[com_64]
type=Sprite
buttonType=Pause
y=-1
width=45
height=36
layerId=1704001
graphic=308
eventCode=pauseButton

[com_65]
type=Layer
x=94
y=298
width=45
height=36

[com_66]
type=Sprite
buttonType=Pause
width=45
height=36
layerId=1704003
graphic=309
eventCode=pauseButton

[com_67]
type=Layer
x=366
y=295
width=45
height=36

[com_68]
type=Text
x=10
y=299
width=80
height=20
font=497
text="page%1"

[com_69]
type=Text
x=424
y=300
width=80
height=20
hAlign=Right
font=497
text="page%2"

[com_70]
type=Sprite
x=484
y=3
width=26
height=23
overLayerId=72
graphic=539

[com_71]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=1704008
graphic=540
buttonText="Ok"

[com_72]
type=Layer
x=481
y=-1
width=32
height=32
hide=yes

[com_73]
type=Text
x=27
y=70
width=202
height=17
font=497
text="line2"

[com_74]
type=Text
x=27
y=86
width=202
height=17
font=497
text="line3"

[com_75]
type=Text
x=27
y=102
width=202
height=17
font=497
text="line4"

[com_76]
type=Text
x=27
y=118
width=202
height=17
font=497
text="line5"

[com_77]
type=Text
x=27
y=134
width=202
height=17
font=497
text="line6"

[com_78]
type=Text
x=27
y=150
width=202
height=17
font=497
text="line7"

[com_79]
type=Text
x=27
y=166
width=202
height=17
font=497
text="line8"

[com_80]
type=Text
x=27
y=182
width=202
height=17
font=497
text="line9"

[com_81]
type=Text
x=27
y=198
width=202
height=17
font=497
text="line10"

[com_82]
type=Text
x=27
y=214
width=202
height=17
font=497
text="line11"

[com_83]
type=Text
x=27
y=230
width=202
height=17
font=497
text="line12"

[com_84]
type=Text
x=27
y=246
width=202
height=17
font=497
text="line13"

[com_85]
type=Text
x=27
y=262
width=202
height=17
font=497
text="line14"

[com_86]
type=Text
x=27
y=278
width=202
height=17
font=497
text="line15"

[com_87]
type=Text
x=283
y=54
width=202
height=17
font=497
text="line16"

[com_88]
type=Text
x=283
y=70
width=202
height=17
font=497
text="line17"

[com_89]
type=Text
x=283
y=86
width=202
height=17
font=497
text="line18"

[com_90]
type=Text
x=283
y=102
width=202
height=17
font=497
text="line19"

[com_91]
type=Text
x=283
y=118
width=202
height=17
font=497
text="line20"

[com_92]
type=Text
x=283
y=134
width=202
height=17
font=497
text="line21"

[com_93]
type=Text
x=283
y=150
width=202
height=17
font=497
text="line22"

[com_94]
type=Text
x=283
y=166
width=202
height=17
font=497
text="line23"

[com_95]
type=Text
x=283
y=182
width=202
height=17
font=497
text="line24"

[com_96]
type=Text
x=283
y=198
width=202
height=17
font=497
text="line25"

[com_97]
type=Text
x=283
y=214
width=202
height=17
font=497
text="line26"

[com_98]
type=Text
x=283
y=230
width=202
height=17
font=497
text="line27"

[com_99]
type=Text
x=283
y=246
width=202
height=17
font=497
text="line28"

[com_100]
type=Text
x=283
y=262
width=202
height=17
font=497
text="line28"

[com_101]
type=Text
x=283
y=278
width=202
height=17
font=497
text="line29"

[com_102]
type=Text
x=27
y=54
width=202
height=17
font=497
text="line1"
