[slot_border_layer]
type=Model
x=241
y=52
width=32
height=32
model1Id=10733
modelZoom=110
modelXAn=479

[abilities_layer]
type=Model
buttonType=Button
x=16
y=120
width=70
height=69
layerId=19464206
model1Id=10726
modelZoom=500
modelXAn=233
modelYAn=2036
buttonText="Choose refreshment"
eventCode=flag22

[cooldown_layer]
type=Model
buttonType=Button
x=108
y=120
width=74
height=70
layerId=19464206
model1Id=10732
modelZoom=500
modelXAn=260
modelYAn=2000
buttonText="Choose refreshment"
eventCode=flag22

[background_layer]
type=Model
buttonType=Button
x=204
y=119
width=74
height=71
layerId=19464206
model1Id=10731
modelZoom=500
modelXAn=244
modelYAn=2024
buttonText="Choose refreshment"
eventCode=flag22

[content_layer]
type=Model
buttonType=Button
x=295
y=118
width=73
height=71
layerId=19464206
model1Id=10727
modelZoom=500
modelXAn=236
modelYAn=2041
buttonText="Choose refreshment"
eventCode=flag22

[frame_layer]
type=Model
buttonType=Button
x=57
y=31
width=67
height=68
layerId=19464206
model1Id=10730
modelZoom=500
modelXAn=249
modelYAn=2020
buttonText="Choose refreshment"
eventCode=flag22

[main_layer]
type=Model
buttonType=Button
x=157
y=28
width=74
height=71
layerId=19464206
model1Id=10729
modelZoom=500
modelXAn=339
modelYAn=2017
buttonText="Choose refreshment"
eventCode=flag22

[category_buttons_layer]
type=Model
buttonType=Button
x=260
y=29
width=75
height=71
layerId=19464206
model1Id=10728
modelZoom=500
modelXAn=281
modelYAn=2034
buttonText="Choose refreshment"
eventCode=flag22

[scrolling_layer]
type=Text
x=43
y=277
width=411
height=18
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Choose your refreshment from the sandwich tray"

[cooldown_text_layer]
type=Sprite
x=484
y=4
width=26
height=23
overLayerId=11
graphic=539

[ability_flash_layer]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=19464203
graphic=540
buttonText="Ok"

[scrollbar_layer]
type=Layer
x=480
width=32
height=32
hide=yes

[com_12]
type=Text
buttonType=Button
x=358
y=256
width=84
height=18
layerId=19464206
colour=0xFF9924
colourOver=0xFFFF00
hAlign=Right
vAlign=Center
font=496
shadow=yes
text="Key"
buttonText="Key"
eventCode=flag22

[com_13]
type=Layer
width=515
height=335
hide=yes

[com_14]
type=Layer
x=64
y=57
width=448
height=277

[com_15]
type=Rectangle
width=515
height=335
layerId=19464205
fill=yes

[com_16]
type=Model
x=7
y=122
width=70
height=69
layerId=19464205
model1Id=10726
modelZoom=500
modelXAn=233
modelYAn=2036

[com_17]
type=Model
x=11
y=179
width=74
height=70
layerId=19464205
model1Id=10732
modelZoom=500
modelXAn=260
modelYAn=2000

[com_18]
type=Model
x=12
y=235
width=74
height=71
layerId=19464205
model1Id=10731
modelZoom=500
modelXAn=244
modelYAn=2024

[com_19]
type=Model
x=7
y=282
width=73
height=71
layerId=19464205
model1Id=10727
modelZoom=500
modelXAn=236
modelYAn=2041

[com_20]
type=Model
x=10
y=-2
width=67
height=68
layerId=19464205
model1Id=10730
modelZoom=500
modelXAn=249
modelYAn=2020

[com_21]
type=Model
x=4
y=36
width=74
height=71
layerId=19464205
model1Id=10729
modelZoom=500
modelXAn=339
modelYAn=2017

[com_22]
type=Model
x=3
y=72
width=75
height=71
layerId=19464205
model1Id=10728
modelZoom=500
modelXAn=281
modelYAn=2034

[com_23]
type=Text
x=86
y=18
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Meat Pie"

[com_24]
type=Text
x=86
y=62
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Kebab"

[com_25]
type=Text
x=86
y=102
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Chocolate Bar"

[com_26]
type=Text
x=86
y=152
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Baguette"

[com_27]
type=Text
x=86
y=205
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Triangle Sandwich"

[com_28]
type=Text
x=86
y=260
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Square Sandwich"

[com_29]
type=Text
x=468
y=315
width=41
height=16
layerId=19464205
colour=0xFFFF00
hAlign=Right
vAlign=Center
font=495
shadow=yes
text="back"

[com_30]
type=Text
x=86
y=303
width=100
height=16
layerId=19464205
colour=0xFF9924
font=496
shadow=yes
text="Roll"

[com_31]
type=Text
buttonType=Button
x=-43
y=-32
width=656
height=454
layerId=19464205
colour=0xFF9924
colourOver=0xFFFF00
font=496
shadow=yes
buttonText="Back"
eventCode=flag22
