[slot_border_layer]
type=Model
x=240
y=148
width=32
height=32
model1Id=16033
modelZoom=421
modelXAn=517

[abilities_layer]
type=Model
buttonType=Button
x=129
y=258
width=32
height=32
model1Id=16030
modelZoom=420
modelXAn=517
eventCode=flag22

[cooldown_layer]
type=Model
buttonType=Button
x=181
y=259
width=32
height=32
model1Id=16027
modelZoom=420
modelXAn=517
eventCode=flag22

[background_layer]
type=Model
buttonType=Button
x=238
y=259
width=32
height=32
model1Id=16026
modelZoom=420
modelXAn=517
buttonText="Build"
eventCode=flag22

[content_layer]
type=Model
buttonType=Button
x=295
y=258
width=32
height=32
model1Id=16028
modelZoom=420
modelXAn=517
eventCode=flag22

[frame_layer]
type=Model
buttonType=Button
x=350
y=258
width=32
height=32
model1Id=16029
modelZoom=420
modelXAn=517
eventCode=flag22

[main_layer]
type=Layer
x=173
y=250
width=48
height=48

[category_buttons_layer]
type=Layer
x=227
y=251
width=55
height=48

[scrolling_layer]
type=Layer
x=287
y=249
width=48
height=50

[cooldown_text_layer]
type=Layer
x=341
y=251
width=48
height=46

[ability_flash_layer]
type=Model
buttonType=Button
width=120
height=96
layerId=27525134
model1Id=16036
modelZoom=800
eventCode=flag22

[scrollbar_layer]
type=Model
buttonType=Button
width=126
height=112
layerId=27525137
model1Id=16025
modelZoom=800
eventCode=flag22

[com_12]
type=Model
buttonType=Button
width=122
height=128
layerId=27525135
model1Id=16022
modelZoom=800
eventCode=flag22

[com_13]
type=Model
buttonType=Button
width=114
height=112
layerId=27525136
model1Id=16034
modelZoom=800
eventCode=flag22

[com_14]
type=Layer
width=522
height=351

[com_15]
type=Layer
width=524
height=365

[com_16]
type=Layer
width=530
height=351

[com_17]
type=Layer
width=518
height=351

[com_18]
type=Layer
x=420
y=182
width=70
height=127

[com_19]
type=Model
x=20
y=7
width=32
height=32
layerId=27525138
model1Id=16036
modelZoom=900

[com_20]
type=Model
x=19
y=49
width=32
height=32
layerId=27525138
model1Id=16025
modelZoom=900

[com_21]
type=Model
x=19
y=60
width=32
height=32
layerId=27525138
model1Id=16022
modelZoom=900

[com_22]
type=Model
x=18
y=87
width=32
height=32
layerId=27525138
model1Id=16034
modelZoom=900

[com_23]
type=Text
x=-1
y=48
width=71
height=28
layerId=27525138
colour=0xE9E9D3
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="EXAMPLE"

[com_24]
type=Sprite
x=482
y=5
width=26
height=23
overLayerId=26
graphic=539

[com_25]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=27525146
graphic=540
buttonText="Ok"

[com_26]
type=Layer
x=479
y=1
width=32
height=32
hide=yes
