[com_0]
type=Layer
y=480
width=519
height=23
onload=139,component.parentId
onvartransmit=177
onvartransmitlist=1054,1055

[com_1]
type=Sprite
width=519
height=23
layerId=35913728
graphic=1018

[com_2]
type=Layer
x=5
y=1
width=56
height=22
layerId=35913728

[com_3]
type=Sprite
width=56
height=22
layerId=35913730
graphic=1019
eventCode=hasOp(1)
baseOpName="All"
opName0="View"
onmouseover=173,0
onmouseleave=174,0
onop=175,opindex,0

[com_4]
type=Text
width=56
height=22
layerId=35913730
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="All"

[com_5]
type=Layer
x=62
y=1
width=56
height=22
layerId=35913728

[com_6]
type=Sprite
width=56
height=22
layerId=35913733
graphic=1019
eventCode=hasOp(1)
baseOpName="Game"
opName0="View"
onmouseover=173,1
onmouseleave=174,1
onop=175,opindex,1

[com_7]
type=Text
width=56
height=22
layerId=35913733
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Game"

[com_8]
type=Layer
x=119
y=1
width=56
height=22
layerId=35913728

[com_9]
type=Sprite
width=56
height=22
layerId=35913736
graphic=1019
eventCode=hasOp(1,2,3,4,5)
baseOpName="Public"
opName0="View"
opName1="On"
opName2="Friends"
opName3="Off"
opName4="Hide"
onmouseover=173,2
onmouseleave=174,2
onop=175,opindex,2

[com_10]
type=Text
width=56
height=11
layerId=35913736
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Public"

[com_11]
type=Text
y=11
width=56
height=11
layerId=35913736
colour=0x00FF00
hAlign=Center
font=494
shadow=yes
text="On"

[com_12]
type=Layer
x=176
y=1
width=56
height=22
layerId=35913728

[com_13]
type=Sprite
width=56
height=22
layerId=35913740
graphic=1019
eventCode=hasOp(1,2,3,4)
baseOpName="Private"
opName0="View"
opName1="On"
opName2="Friends"
opName3="Off"
onmouseover=173,3
onmouseleave=174,3
onop=175,opindex,3

[com_14]
type=Text
width=56
height=11
layerId=35913740
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Private"

[com_15]
type=Text
y=11
width=56
height=11
layerId=35913740
colour=0x00FF00
hAlign=Center
font=494
shadow=yes
text="On"

[com_16]
type=Layer
x=233
y=1
width=56
height=22
layerId=35913728

[com_17]
type=Sprite
width=56
height=22
layerId=35913744
graphic=1019
eventCode=hasOp(1,2,3,4)
baseOpName="Clan"
opName0="View"
opName1="On"
opName2="Friends"
opName3="Off"
onmouseover=173,4
onmouseleave=174,4
onop=175,opindex,4

[com_18]
type=Text
width=56
height=11
layerId=35913744
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Clan"

[com_19]
type=Text
y=11
width=56
height=11
layerId=35913744
colour=0x00FF00
hAlign=Center
font=494
shadow=yes
text="On"

[com_20]
type=Layer
x=290
y=1
width=56
height=22
layerId=35913728

[com_21]
type=Sprite
width=56
height=22
layerId=35913748
graphic=1019
eventCode=hasOp(1,2,3,4)
baseOpName="Trade"
opName0="View"
opName1="On"
opName2="Friends"
opName3="Off"
onmouseover=173,5
onmouseleave=174,5
onop=175,opindex,5

[com_22]
type=Text
width=56
height=11
layerId=35913748
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Trade"

[com_23]
type=Text
y=11
width=56
height=11
layerId=35913748
colour=0x00FF00
hAlign=Center
font=494
shadow=yes
text="On"

[com_24]
type=Layer
x=347
y=1
width=56
height=22
layerId=35913728

[com_25]
type=Sprite
width=56
height=22
layerId=35913752
graphic=1019
eventCode=hasOp(1,2,3,4)
baseOpName="Assist"
opName0="View"
opName1="On"
opName2="Friends"
opName3="Off"
onmouseover=173,6
onmouseleave=174,6
onop=175,opindex,6

[com_26]
type=Text
width=56
height=11
layerId=35913752
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Assist"

[com_27]
type=Text
y=11
width=56
height=11
layerId=35913752
colour=0x00FF00
hAlign=Center
font=494
shadow=yes
text="On"

[com_28]
type=Layer
x=404
y=1
width=111
height=22
layerId=35913728
eventCode=hasOp(1)
opName0="Report Abuse"
onop=131,""

[com_29]
type=Sprite
width=111
height=22
layerId=35913756
graphic=1024
onmouseover=188,component.parentId
onmouseleave=190,component.parentId

[com_30]
type=Text
width=111
height=22
layerId=35913756
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Report Abuse"

[com_31]
type=Layer
x=519
y=466
width=246
height=37

[com_32]
type=Sprite
width=246
height=37
layerId=35913759
graphic=1032

[com_33]
type=Layer
width=269
height=37
layerId=35913759

[com_34]
type=Sprite
x=3
width=38
height=36
layerId=35913761
graphic=1028
eventCode=hasOp(1)
opName0="Summoning"
onop=115,7

[com_35]
type=Sprite
x=41
width=33
height=36
layerId=35913761
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Friends List"
onop=115,8

[com_36]
type=Sprite
x=74
width=33
height=36
layerId=35913761
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Ignore List"
onop=115,9

[com_37]
type=Sprite
x=107
width=33
height=36
layerId=35913761
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Clan Chat"
onop=115,10

[com_38]
type=Sprite
x=140
width=33
height=36
layerId=35913761
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Options"
onop=115,11

[com_39]
type=Sprite
x=173
width=33
height=36
layerId=35913761
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Emotes"
onop=115,12

[com_40]
type=Sprite
x=206
width=38
height=36
layerId=35913761
graphic=1029
eventCode=hasOp(1)
opName0="Music Player"
onop=115,13

[com_41]
type=Sprite
x=6
y=1
width=32
height=36
layerId=35913761
graphic=1242

[com_42]
type=Sprite
x=42
y=2
width=32
height=36
layerId=35913761
graphic=904

[com_43]
type=Sprite
x=75
y=2
width=32
height=36
layerId=35913761
graphic=905

[com_44]
type=Sprite
x=107
y=2
width=32
height=36
layerId=35913761
graphic=1241

[com_45]
type=Sprite
x=142
y=1
width=32
height=36
layerId=35913761
graphic=907

[com_46]
type=Sprite
x=175
y=3
width=32
height=36
layerId=35913761
graphic=908

[com_47]
type=Sprite
x=208
y=3
width=32
height=36
layerId=35913761
graphic=909

[com_48]
type=Layer
x=516
y=161
width=249
height=44

[com_49]
type=Sprite
width=249
height=44
layerId=35913776
graphic=1036

[com_50]
type=Layer
width=249
height=44
layerId=35913776
onload=114

[com_51]
type=Sprite
x=6
y=7
width=38
height=36
layerId=35913778
graphic=1026
eventCode=hasOp(1)
opName0="Combat Options"
onop=115,0

[com_52]
type=Sprite
x=44
y=7
width=33
height=36
layerId=35913778
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Stats"
onop=115,1

[com_53]
type=Sprite
x=77
y=7
width=33
height=36
layerId=35913778
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Quest List"
onop=115,2

[com_54]
type=Sprite
x=110
y=7
width=33
height=36
layerId=35913778
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Inventory"
onload=115,3
onop=115,3

[com_55]
type=Sprite
x=143
y=7
width=33
height=36
layerId=35913778
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Worn Equipment"
onop=115,4

[com_56]
type=Sprite
x=176
y=7
width=33
height=36
layerId=35913778
graphic=1030
tiling=yes
eventCode=hasOp(1)
opName0="Prayer"
onop=115,5

[com_57]
type=Sprite
x=209
y=7
width=38
height=36
layerId=35913778
graphic=1027
eventCode=hasOp(1)
opName0="Magic"
onop=115,6

[com_58]
type=Sprite
x=13
y=8
width=32
height=36
layerId=35913778
graphic=168

[com_59]
type=Sprite
x=44
y=7
width=32
height=36
layerId=35913778
graphic=898

[com_60]
type=Sprite
x=79
y=8
width=32
height=36
layerId=35913778
graphic=899

[com_61]
type=Sprite
x=111
y=6
width=32
height=36
layerId=35913778
graphic=900

[com_62]
type=Sprite
x=143
y=9
width=32
height=36
layerId=35913778
graphic=901

[com_63]
type=Sprite
x=176
y=7
width=32
height=36
layerId=35913778
graphic=902

[com_64]
type=Sprite
x=210
y=8
width=32
height=36
layerId=35913778
graphic=903

[com_65]
type=Layer
y=4
width=4
height=334

[com_66]
type=Sprite
width=4
height=334
layerId=35913793
graphic=4

[com_67]
type=Layer
x=737
y=205
width=28
height=261

[com_68]
type=Sprite
width=28
height=261
layerId=35913795
graphic=1035

[com_69]
type=Layer
width=516
height=4

[com_70]
type=Sprite
width=516
height=4
layerId=35913797
graphic=1039

[com_71]
type=Layer
x=516
y=205
width=31
height=133

[com_72]
type=Sprite
width=31
height=133
layerId=35913799
graphic=1033

[com_73]
type=Layer
x=519
y=338
width=28
height=128

[com_74]
type=Sprite
width=28
height=128
layerId=35913801
graphic=1034

[com_75]
type=Layer
x=4
y=4
width=512
height=334

[com_76]
type=Layer
clientCode=1337
width=512
height=334
layerId=35913803

[main]
type=Layer
width=512
height=334
layerId=35913803

[com_78]
type=Sprite
x=472
y=296
width=25
height=25
layerId=35913803
hide=yes
graphic=442

[com_79]
type=Sprite
x=442
y=296
width=26
height=25
layerId=35913803
hide=yes
graphic=1073

[com_80]
type=Text
y=265
width=512
height=13
layerId=35913803
colour=0x00FFFF
font=495
shadow=yes
eventCode=hasOp(10)
opName9="Report Abuse"
onop=88,opindex,"event_opbase"

[com_81]
type=Text
y=278
width=512
height=13
layerId=35913803
colour=0x00FFFF
font=495
shadow=yes
eventCode=hasOp(10)
opName9="Report Abuse"
onop=88,opindex,"event_opbase"

[com_82]
type=Text
y=291
width=512
height=13
layerId=35913803
colour=0x00FFFF
font=495
shadow=yes
eventCode=hasOp(10)
opName9="Report Abuse"
onop=88,opindex,"event_opbase"

[com_83]
type=Text
y=304
width=512
height=13
layerId=35913803
colour=0x00FFFF
font=495
shadow=yes
eventCode=hasOp(10)
opName9="Report Abuse"
onop=88,opindex,"event_opbase"

[com_84]
type=Text
y=317
width=512
height=13
layerId=35913803
colour=0x00FFFF
font=495
shadow=yes
eventCode=hasOp(10)
opName9="Report Abuse"
onop=88,opindex,"event_opbase"

[com_85]
type=Layer
width=512
height=334
layerId=35913803

[com_86]
type=Layer
x=516
width=249
height=161
baseOpName=" "

[com_87]
type=Sprite
width=249
height=4
layerId=35913814
graphic=1221
tiling=yes

[com_88]
type=Sprite
clientCode=1338
x=35
y=9
width=152
height=152
layerId=35913814
graphic=1185

[com_89]
type=Sprite
clientCode=1339
x=11
y=8
width=33
height=33
layerId=35913814
graphic=1186

[com_90]
type=Sprite
y=4
width=249
height=157
layerId=35913814
graphic=12

[com_91]
type=Sprite
x=225
y=1
width=25
height=25
layerId=35913814
graphic=1213
eventCode=hasOp(1)
opName0="Logout"
onop=115,99

[com_92]
type=Sprite
x=174
y=11
width=57
height=34
layerId=35913814
graphic=1215
onload=811
onstattransmit=811
onstattransmitlist=3

[com_93]
type=Sprite
x=175
y=12
width=31
height=31
layerId=35913814
graphic=1216

[com_94]
type=Sprite
x=175
y=12
width=31
height=16
layerId=35913814
graphic=1220
tiling=yes

[com_95]
type=Text
x=207
y=28
width=24
height=14
layerId=35913814
colour=0xCA9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
onload=801,component.parentId,3
onstattransmit=801,component.parentId,3
onstattransmitlist=3

[com_96]
type=Sprite
x=181
y=18
width=20
height=20
layerId=35913814
graphic=1197
ontimer=808

[com_97]
type=Sprite
x=190
y=50
width=57
height=34
layerId=35913814
graphic=1215
onload=812
onstattransmit=812
onstattransmitlist=5

[com_98]
type=Sprite
x=191
y=51
width=31
height=31
layerId=35913814
graphic=1217

[com_99]
type=Sprite
x=191
y=51
width=31
height=16
layerId=35913814
graphic=1220
tiling=yes

[com_100]
type=Text
x=223
y=67
width=24
height=14
layerId=35913814
colour=0xCA9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
onload=801,component.parentId,5
onstattransmit=801,component.parentId,5
onstattransmitlist=5

[com_101]
type=Sprite
x=196
y=57
width=20
height=20
layerId=35913814
graphic=1198

[com_102]
type=Sprite
x=190
y=89
width=57
height=34
layerId=35913814
graphic=1215
onload=809
onvartransmit=809
onstattransmit=815
onvartransmitlist=1160
onstattransmitlist=23

[com_103]
type=Sprite
x=191
y=90
width=31
height=31
layerId=35913814
graphic=1218

[com_104]
type=Sprite
x=191
y=90
width=31
height=16
layerId=35913814
graphic=1220
tiling=yes

[com_105]
type=Text
x=223
y=106
width=24
height=14
layerId=35913814
colour=0xCA9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
onload=802

[com_106]
type=Sprite
x=197
y=96
width=20
height=20
layerId=35913814
graphic=1199
onload=813

[com_107]
type=Sprite
x=174
y=127
width=57
height=34
layerId=35913814
graphic=1215

[com_108]
type=Sprite
x=175
y=128
width=31
height=31
layerId=35913814
graphic=1219

[com_109]
type=Sprite
x=175
y=128
width=31
height=16
layerId=35913814
graphic=1220
tiling=yes
onload=815

[com_110]
type=Text
x=207
y=144
width=24
height=14
layerId=35913814
colour=0xCA9800
hAlign=Center
vAlign=Center
font=494
shadow=yes
onload=801,component.parentId,23
onstattransmit=801,component.parentId,23
onstattransmitlist=23

[com_111]
type=Sprite
x=180
y=134
width=20
height=20
layerId=35913814
graphic=1200

[com_112]
type=Layer
y=338
width=519
height=142

[com_113]
type=Sprite
width=519
height=142
layerId=35913840
graphic=1017

[com_114]
type=Layer
x=20
y=24
width=479
height=96
layerId=35913840
hide=yes

[chat]
type=Layer
x=7
y=7
width=506
height=130
layerId=35913840

[com_116]
type=Layer
width=519
height=142
layerId=35913840

[com_117]
type=Layer
x=7
y=7
width=506
height=130
layerId=35913844

[com_118]
type=Layer
x=20
y=24
width=479
height=96
layerId=35913844

[com_119]
type=Layer
x=7
y=7
width=506
height=130
layerId=35913844

[com_120]
type=Layer
x=20
y=24
width=479
height=96
layerId=35913844

[com_121]
type=Layer
x=7
y=7
width=506
height=130
layerId=35913844

[com_122]
type=Text
x=10
y=20
width=459
height=40
layerId=35913842
hAlign=Center
vAlign=Center
font=496

[com_123]
type=Text
x=10
y=60
width=459
height=20
layerId=35913842
colour=0x000080
hAlign=Center
vAlign=Center
font=496

[com_124]
type=Layer
x=547
y=205
width=190
height=261

[com_125]
type=Sprite
width=190
height=261
layerId=35913852
graphic=1031

[com_126]
type=Layer
clientCode=1354
width=190
height=261
layerId=35913852

[com_127]
type=Layer
width=190
height=261
layerId=35913852

[stone0]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone1]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone2]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone3]
type=Layer
width=190
height=261
layerId=35913855

[stone4]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone5]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone6]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone7]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone8]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone9]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone10]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone11]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone12]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[stone13]
type=Layer
width=190
height=261
layerId=35913855
hide=yes

[logout]
type=Layer
width=190
height=261
layerId=35913855
hide=yes
