[com_0]
type=Model
x=414
y=34
width=32
height=32
modelZoom=796
modelXAn=40
modelYAn=166

[com_1]
type=Text
x=20
width=350
height=17
colour=0x800000
hAlign=Center
font=497
text="Name"

[com_2]
type=Text
x=20
y=19
width=350
height=17
hAlign=Center
font=497
text="Line1"

[com_3]
type=Text
x=20
y=40
width=350
height=17
hAlign=Center
font=497
text="Line2"

[com_4]
type=Text
x=20
y=64
width=350
height=17
hAlign=Center
font=497
text="Line3"
