[green_large_progress_layer]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[com_1]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[com_2]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[com_3]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[green_large_progress_value_bounds_layer]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[green_large_progress_value_layer]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[com_6]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[com_7]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[com_8]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[green_large_progress_text_layer]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[green_large_progress_text]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[title_layer]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[title]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37486604,832
onmouseleave=44,37486604,831
onop=29

[com_13]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[com_14]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="If your light source goes out down there you'll<br> be in trouble! Are you sure you want to go in without<br> a tinderbox?"

[com_15]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[com_16]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[com_17]
type=Text
x=108
y=157
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="I'm NOT scared of the dark"
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_18]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="I AM scared of the dark"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[com_19]
type=Text
x=1
y=2
width=315
height=15
layerId=37486613
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[com_20]
type=Sprite
x=2
width=19
height=19
layerId=37486613
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37486612,13
onclick=163,37486612
onvartransmitlist=1046

[com_21]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
