[bg]
type=Sprite
x=7
y=25
width=498
height=302
graphic=297
tiling=yes

[free_space_text]
type=Sprite
x=-13
y=51
width=32
height=251
graphic=821
tiling=yes

[free_space_name]
type=Sprite
y=20
width=32
height=32
graphic=824

[background_layer]
type=Sprite
x=492
y=52
width=32
height=250
graphic=823
tiling=yes

[content_layer]
type=Sprite
x=32
y=7
width=448
height=34
graphic=820
tiling=yes

[frame_layer]
type=Sprite
x=32
y=314
width=448
height=32
graphic=822
tiling=yes

[close_button_layer]
type=Sprite
y=302
width=32
height=32
graphic=826

[root_layer]
type=Sprite
x=480
y=20
width=32
height=32
graphic=825

[com_8]
type=Sprite
x=480
y=302
width=32
height=32
graphic=827

[your_offer_bg]
type=Sprite
x=11
y=35
width=490
height=32
graphic=828
tiling=yes

[other_offer_bg]
type=Sprite
y=37
width=32
height=32
graphic=829

[accept_button_layer]
type=Sprite
x=480
y=37
width=32
height=32
graphic=830

[decline_button_layer]
type=Sprite
x=485
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[other_player_info_layer]
type=Rectangle
x=6
y=55
width=249
height=244
hide=yes
trans=200
colour=0xFF0000
fill=yes

[your_offer_layer]
type=Rectangle
x=258
y=55
width=247
height=244
hide=yes
trans=200
colour=0xFF0000
fill=yes

[your_offer_layer_flashy]
type=Rectangle
x=6
y=300
width=499
height=27
trans=200
fill=yes

[other_offer_layer_back]
type=Sprite
x=241
y=54
width=32
height=244
graphic=852
tiling=yes

[other_offer_layer]
type=Text
x=19
y=30
width=474
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Trading With: Unknown"
onvartransmit=141
onvartransmitlist=1042,1043

[other_offer_layer_flashy]
type=Layer
x=223
y=146
width=65
height=32
eventCode=hasOp(1)
opName0="Accept"
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_19]
type=Text
x=223
y=146
width=65
height=32
colour=0x00C000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Accept"

[com_20]
type=Layer
x=223
y=199
width=65
height=32
eventCode=hasOp(1)
opName0="Decline"
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[tradestatus]
type=Text
x=223
y=199
width=65
height=32
colour=0xC00000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Decline"

[trade_removed_warning_left]
type=Rectangle
x=213
y=78
width=91
height=47
colour=0x221717
fill=yes

[trade_removed_warning_right]
type=Text
x=215
y=80
width=82
height=41
colour=0xFF981F
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Name"

[trade_balance_indicator]
type=Sprite
x=238
y=59
width=40
height=32
graphic=828
tiling=yes

[your_loan_offer_layer]
type=Sprite
x=207
y=73
width=32
height=32
graphic=846

[other_loan_offer_layer]
type=Sprite
x=274
y=73
width=32
height=32
graphic=847

[offer_inv_button]
type=Sprite
x=207
y=97
width=32
height=32
graphic=848

[32px_icon]
type=Sprite
x=274
y=97
width=32
height=32
graphic=849

[money_pouch_add_button]
type=Sprite
x=239
y=109
width=35
height=32
graphic=828
tiling=yes

[32px_icon_2]
type=Sprite
x=6
y=285
width=499
height=32
graphic=851
tiling=yes

[myvalue_tooltip_trigger]
type=Layer
x=7
y=26
width=497
height=301
onload=172

[theirvalue_tooltip_trigger]
type=Layer
x=21
y=72
width=185
height=223

[header]
type=Layer
x=21
y=72
width=185
height=223

[myvalue]
type=Layer
x=307
y=72
width=185
height=223

[theirvalue]
type=Layer
x=307
y=72
width=185
height=223

[balance]
type=Text
x=311
y=56
width=171
height=14
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Trader's Offer"

[arrow]
type=Text
x=56
y=56
width=119
height=14
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Your Offer"

[com_38]
type=Text
x=131
y=281
width=252
height=15
colour=0xFFFFFF
hAlign=Center
font=495
shadow=yes
text="Waiting for other player"

[other_loan_offer_item]
type=Layer
x=466
y=22
width=32
height=32
hide=yes

[other_loan_offer_duration]
type=Text
x=26
y=32
width=188
height=16
hide=yes
colour=0xFF0000
hAlign=Center
font=494
shadow=yes
text="Trade modified"

[com_41]
type=Text
x=300
y=32
width=175
height=16
hide=yes
colour=0xFF0000
hAlign=Center
font=494
shadow=yes
text="Trade modified"

[your_loan_offer_fakebutton]
type=Text
x=9
y=302
width=60
height=10
colour=0xBEBE5E
font=494
shadow=yes
text="Limit: 3000"
onmouseleave=40,21954639

[your_loan_offer_item]
type=Text
x=181
y=302
width=150
height=10
colour=0xBEBE5E
hAlign=Center
font=494
shadow=yes
text="Wealth transfer"
onmouseleave=40,21954639

[your_loan_offer_duration]
type=Text
x=439
y=302
width=60
height=10
colour=0xBEBE5E
hAlign=Right
font=494
shadow=yes
text="Limit: 3000"
onmouseleave=40,21954639

[offer_inv_icon]
type=Model
modelZoom=400
discardedModelField=0

[bank_pouch_icon]
type=Sprite
x=10
y=308
width=490
height=32
graphic=1074
tiling=yes
baseOpName="  "

[accept_build]
type=Line
x=8
y=325
width=493
colour=0x8E8E54

[accept_button]
type=Line
x=8
y=326
width=493
colour=0xCCCCCC

[decline_build]
type=Line
x=9
y=317
height=8
colour=0x8E8E54

[decline_button]
type=Line
x=11
y=317
height=7
colour=0x8E8E54

[com_51]
type=Line
x=10
y=316
height=9
colour=0xCCCCCC

[com_52]
type=Line
x=50
y=320
height=5
colour=0x8E8E54
lineWidth=2

[com_53]
type=Line
x=91
y=317
height=8
colour=0x8E8E54

[com_54]
type=Line
x=93
y=317
height=8
colour=0x8E8E54

[com_55]
type=Line
x=92
y=316
height=9
colour=0xCCCCCC

[com_56]
type=Line
x=132
y=320
height=5
colour=0x8E8E54
lineWidth=2

[com_57]
type=Line
x=173
y=317
height=8
colour=0x8E8E54

[com_58]
type=Line
x=175
y=317
height=8
colour=0x8E8E54

[com_59]
type=Line
x=174
y=316
height=9
colour=0xCCCCCC

[com_60]
type=Line
x=214
y=320
height=5
colour=0x8E8E54
lineWidth=2
baseOpName=" "

[com_61]
type=Line
x=255
y=317
height=8
colour=0x8E8E54
lineWidth=2

[com_62]
type=Line
x=296
y=320
height=5
colour=0x8E8E54
lineWidth=2

[com_63]
type=Line
x=337
y=317
height=8
colour=0x8E8E54

[com_64]
type=Line
x=339
y=317
height=8
colour=0x8E8E54

[com_65]
type=Line
x=338
y=316
height=9
colour=0xCCCCCC

[com_66]
type=Line
x=378
y=320
height=5
colour=0x8E8E54
lineWidth=2

[com_67]
type=Line
x=419
y=317
height=8
colour=0x8E8E54

[com_68]
type=Line
x=421
y=317
height=8
colour=0x8E8E54

[com_69]
type=Line
x=420
y=316
height=9
colour=0xCCCCCC

[com_70]
type=Line
x=460
y=320
height=5
colour=0x8E8E54
lineWidth=2

[com_71]
type=Line
x=499
y=317
height=8
colour=0x8E8E54

[com_72]
type=Line
x=501
y=317
height=8
colour=0x8E8E54
baseOpName=" "

[com_73]
type=Line
x=500
y=316
height=9
colour=0xCCCCCC
baseOpName=" "

[com_74]
type=Model
modelZoom=400
discardedModelField=0

[com_75]
type=Sprite
x=250
y=313
width=12
height=12
graphic=1187
onmouseleave=40,21954639

[com_76]
type=Sprite
x=250
y=313
width=12
height=12
graphic=1188
onmouseleave=40,21954639

[com_77]
type=Sprite
x=250
y=313
width=12
height=12
trans=100
graphic=1189
onmouseleave=40,21954639

[com_78]
type=Sprite
x=250
y=313
width=12
height=12
trans=100
graphic=1189
onmouseleave=40,21954639

[com_79]
type=Layer
x=10
y=10
width=10
height=10
layerId=21954640

[com_80]
type=Layer
width=512
height=334
