[32px_icon]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[other]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[toggle_alchemy_button]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[total]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[deposit_all_button]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[32px_icon2]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[32px_icon3]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[toggle_alchemy_icon]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[otheritem_model]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[bank_inv_icon]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[items]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[scrollbar]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[divider]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[overall]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_19]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_78]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_79]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_88]
type=Text
x=21
y=31
width=472
height=16
colour=0xC9800D
hAlign=Center
font=496
shadow=yes
text="Thessalia's Makeovers (Legs)"

[com_89]
type=Rectangle
x=59
y=249
width=403
height=28
fill=yes

[com_90]
type=Rectangle
buttonType=Select
x=85
y=250
width=25
height=25
colour=0x7B6E32
fill=yes
buttonText="Khaki"
eventCode=flag22
script1=eq,2
script1op1=varp,if3

[com_91]
type=Rectangle
buttonType=Select
x=110
y=250
width=25
height=25
colour=0x262323
fill=yes
buttonText="Black"
eventCode=flag22
script1=eq,3
script1op1=varp,if3

[com_92]
type=Rectangle
buttonType=Select
x=135
y=250
width=25
height=25
colour=0x752F3B
fill=yes
buttonText="Crimson"
eventCode=flag22
script1=eq,4
script1op1=varp,if3

[com_93]
type=Rectangle
buttonType=Select
x=160
y=250
width=25
height=25
colour=0x3B3B4E
fill=yes
buttonText="Navy"
eventCode=flag22
script1=eq,5
script1op1=varp,if3

[com_94]
type=Rectangle
buttonType=Select
x=185
y=250
width=25
height=25
colour=0xAA9045
fill=yes
buttonText="Straw"
eventCode=flag22
script1=eq,6
script1op1=varp,if3

[com_95]
type=Rectangle
buttonType=Select
x=210
y=250
width=25
height=25
colour=0xADA481
fill=yes
buttonText="White"
eventCode=flag22
script1=eq,7
script1op1=varp,if3

[com_96]
type=Rectangle
buttonType=Select
x=235
y=250
width=25
height=25
colour=0x8B3B2A
fill=yes
buttonText="Red"
eventCode=flag22
script1=eq,8
script1op1=varp,if3

[com_97]
type=Rectangle
buttonType=Select
x=260
y=250
width=25
height=25
colour=0x2D5272
fill=yes
buttonText="Blue"
eventCode=flag22
script1=eq,9
script1op1=varp,if3

[com_98]
type=Rectangle
buttonType=Select
x=285
y=250
width=25
height=25
colour=0x2D723E
fill=yes
buttonText="Green"
eventCode=flag22
script1=eq,10
script1op1=varp,if3

[com_99]
type=Rectangle
buttonType=Select
x=310
y=250
width=25
height=25
colour=0xA3970D
fill=yes
buttonText="Yellow"
eventCode=flag22
script1=eq,11
script1op1=varp,if3

[com_100]
type=Rectangle
buttonType=Select
x=335
y=250
width=25
height=25
colour=0x83537B
fill=yes
buttonText="Purple"
eventCode=flag22
script1=eq,12
script1op1=varp,if3

[com_101]
type=Rectangle
buttonType=Select
x=360
y=250
width=25
height=25
colour=0x9D642F
fill=yes
buttonText="Orange"
eventCode=flag22
script1=eq,13
script1op1=varp,if3

[com_102]
type=Rectangle
buttonType=Select
x=385
y=250
width=25
height=25
colour=0xA17067
fill=yes
buttonText="Rose"
eventCode=flag22
script1=eq,14
script1op1=varp,if3

[com_103]
type=Rectangle
buttonType=Select
x=410
y=250
width=25
height=25
colour=0x829472
fill=yes
buttonText="Lime"
eventCode=flag22
script1=eq,15
script1op1=varp,if3

[com_104]
type=Rectangle
buttonType=Select
x=435
y=250
width=25
height=25
colour=0x728C94
fill=yes
buttonText="Cyan"
eventCode=flag22
script1=eq,16
script1op1=varp,if3

[com_105]
type=Rectangle
buttonType=Select
x=60
y=250
width=25
height=25
colour=0x1C6135
fill=yes
buttonText="Emerald"
eventCode=flag22
script1=eq,1
script1op1=varp,if3

[com_106]
type=Text
buttonType=Button
x=159
y=289
width=204
height=17
colour=0x00FF00
colourOver=0xFF0000
hAlign=Center
font=496
shadow=yes
text="CONFIRM (500 gold)"
eventCode=flag22

[com_107]
type=Sprite
x=59
y=250
width=25
height=25
graphic2=442
script1=eq,1
script1op1=varp,if3

[com_108]
type=Sprite
x=84
y=250
width=25
height=25
graphic2=442
script1=eq,2
script1op1=varp,if3

[com_109]
type=Sprite
x=109
y=250
width=25
height=25
graphic2=442
script1=eq,3
script1op1=varp,if3

[com_110]
type=Sprite
x=134
y=250
width=25
height=25
graphic2=442
script1=eq,4
script1op1=varp,if3

[com_111]
type=Sprite
x=160
y=250
width=25
height=25
graphic2=442
script1=eq,5
script1op1=varp,if3

[com_112]
type=Sprite
x=185
y=250
width=25
height=25
graphic2=442
script1=eq,6
script1op1=varp,if3

[com_113]
type=Sprite
x=210
y=250
width=25
height=25
graphic2=442
script1=eq,7
script1op1=varp,if3

[com_114]
type=Sprite
x=235
y=250
width=25
height=25
graphic2=442
script1=eq,8
script1op1=varp,if3

[com_115]
type=Sprite
x=260
y=250
width=25
height=25
graphic2=442
script1=eq,9
script1op1=varp,if3

[com_116]
type=Sprite
x=285
y=250
width=25
height=25
graphic2=442
script1=eq,10
script1op1=varp,if3

[com_117]
type=Sprite
x=310
y=250
width=25
height=25
graphic2=442
script1=eq,11
script1op1=varp,if3

[com_118]
type=Sprite
x=335
y=250
width=25
height=25
graphic2=442
script1=eq,12
script1op1=varp,if3

[com_119]
type=Sprite
x=360
y=250
width=25
height=25
graphic2=442
script1=eq,13
script1op1=varp,if3

[com_120]
type=Sprite
x=385
y=250
width=25
height=25
graphic2=442
script1=eq,14
script1op1=varp,if3

[com_121]
type=Sprite
x=410
y=250
width=25
height=25
graphic2=442
script1=eq,15
script1op1=varp,if3

[com_122]
type=Sprite
x=435
y=250
width=25
height=25
graphic2=442
script1=eq,16
script1op1=varp,if3

[com_123]
type=Text
x=41
y=224
width=432
height=16
colour=0xC9800D
hAlign=Center
font=495
shadow=yes
text="Select colour"

[com_124]
type=Model
x=50
y=220
width=32
height=32
model1Id=254
modelZoom=400

[com_125]
type=Model
x=185
y=220
width=32
height=32
model1Id=271
modelZoom=400

[com_126]
type=Model
x=310
y=210
width=32
height=32
model1Id=267
modelZoom=420

[com_127]
type=Model
x=435
y=220
width=32
height=32
model1Id=274
modelZoom=400

[com_128]
type=Sprite
buttonType=Select
x=46
y=89
width=40
height=120
buttonText="Plain"
eventCode=flag22
script1=eq,1
script1op1=varp,if1

[com_129]
type=Sprite
buttonType=Select
x=180
y=90
width=40
height=120
buttonText="Shorts"
eventCode=flag22
script1=eq,2
script1op1=varp,if1

[com_130]
type=Sprite
buttonType=Select
x=306
y=86
width=40
height=120
buttonText="Flares"
eventCode=flag22
script1=eq,3
script1op1=varp,if1

[com_131]
type=Sprite
buttonType=Select
x=430
y=88
width=40
height=120
buttonText="Turn-ups"
eventCode=flag22
script1=eq,4
script1op1=varp,if1

[com_132]
type=Sprite
x=53
y=90
width=25
height=25
graphic2=442
script1=eq,1
script1op1=varp,if1

[com_133]
type=Sprite
x=187
y=90
width=25
height=25
graphic2=442
script1=eq,2
script1op1=varp,if1

[com_134]
type=Sprite
x=313
y=87
width=25
height=25
graphic2=442
script1=eq,3
script1op1=varp,if1

[com_135]
type=Sprite
x=436
y=89
width=25
height=25
graphic2=442
script1=eq,4
script1op1=varp,if1

[com_136]
type=Text
x=30
y=63
width=453
height=17
colour=0xC9800D
hAlign=Center
font=495
shadow=yes
text="Select leg style"

[com_137]
type=Sprite
x=472
y=25
width=26
height=23
overLayerId=139
graphic=535

[com_138]
type=Sprite
buttonType=Close
x=2
y=5
width=26
height=23
layerId=13500555
overLayerId=139
graphic=536
buttonText="Ok"

[com_139]
type=Layer
x=470
y=20
width=32
height=32
hide=yes
