[mainmodal_window]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window_background]
type=Model
x=236
y=68
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=696
modelYAn=824

[mainmodal_window_content]
type=Model
x=249
y=92
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=702
modelYAn=982

[com_3]
type=Model
x=280
y=168
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=595
modelYAn=2028

[com_4]
type=Model
x=278
y=178
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=629
modelYAn=107

[com_5]
type=Model
x=303
y=176
width=32
height=32
model1Id=3396
modelZoom=1332
modelXAn=714
modelYAn=1068

[com_6]
type=Model
x=260
y=110
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=698
modelYAn=779

[com_7]
type=Model
x=247
y=158
width=32
height=32
model1Id=3389
modelZoom=1349
modelXAn=474
modelYAn=1775

[com_8]
type=Model
x=222
y=48
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=700
modelYAn=883

[com_9]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_10]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_11]
type=Model
x=281
y=126
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=543
modelYAn=737

[com_12]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_13]
type=Model
x=308
y=199
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=507
modelYAn=885

[com_14]
type=Model
x=323
y=211
width=32
height=32
model1Id=3396
modelZoom=1332
modelXAn=656
modelYAn=703

[coastlinelayer07]
type=Model
x=321
y=245
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=576
modelYAn=1544

[com_16]
type=Layer
x=42
y=32
width=442
height=286

[com_17]
type=Model
x=338
y=218
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=520
modelYAn=595

[com_18]
type=Model
x=249
y=184
width=32
height=32
model1Id=3391
modelZoom=1992
modelXAn=512
modelYAn=2045

[com_19]
type=Model
x=305
y=111
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_20]
type=Model
x=221
y=154
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=475
modelYAn=1053

[com_21]
type=Model
x=174
y=220
width=32
height=32
model1Id=3387
modelZoom=1587
modelXAn=463
modelYAn=2005

[com_22]
type=Model
x=216
y=218
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[com_23]
type=Model
x=175
y=68
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_24]
type=Model
x=194
y=217
width=32
height=32
model1Id=3387
modelZoom=1431
modelXAn=500

[com_25]
type=Model
x=194
y=67
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_26]
type=Model
x=176
y=125
width=32
height=32
model1Id=3387
modelZoom=1611
modelXAn=407
modelYAn=1966

[com_27]
type=Model
x=197
y=123
width=32
height=32
model1Id=3387
modelZoom=1594
modelXAn=525
modelYAn=94

[com_28]
type=Model
x=277
y=158
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=521
modelYAn=1931

[com_29]
type=Model
x=271
y=150
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=496
modelYAn=1831

[com_30]
type=Model
x=267
y=148
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=467
modelYAn=1690

[com_31]
type=Model
x=242
y=121
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=467
modelYAn=1690

[com_32]
type=Model
x=243
y=204
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=288
modelYAn=813

[com_33]
type=Model
x=278
y=200
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=618
modelYAn=1890

[com_34]
type=Model
x=308
y=243
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=769
modelYAn=1964

[com_35]
type=Model
x=258
y=241
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=619
modelYAn=925

[com_36]
type=Model
x=250
y=126
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=1798

[com_37]
type=Model
x=260
y=142
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=552
modelYAn=1860

[com_38]
type=Model
x=256
y=134
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=552
modelYAn=1860

[com_39]
type=Model
x=235
y=121
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=454
modelYAn=1416

[com_40]
type=Model
x=228
y=127
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=443
modelYAn=1236

[com_41]
type=Model
x=224
y=135
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=433
modelYAn=1144

[com_42]
type=Model
x=221
y=171
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=405
modelYAn=884

[com_43]
type=Model
x=233
y=190
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=405
modelYAn=884

[com_44]
type=Model
x=229
y=184
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=399
modelYAn=802

[com_45]
type=Model
x=225
y=179
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=410
modelYAn=862

[com_46]
type=Model
x=254
y=218
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=424
modelYAn=910

[com_47]
type=Model
x=255
y=227
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=440
modelYAn=991

[com_48]
type=Model
x=276
y=186
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=636
modelYAn=47

[com_49]
type=Model
x=275
y=195
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=644
modelYAn=1980

[com_50]
type=Model
x=283
y=207
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=613
modelYAn=1798

[com_51]
type=Model
x=290
y=214
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=636
modelYAn=1850

[com_52]
type=Model
x=295
y=222
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=654
modelYAn=1891

[com_53]
type=Model
x=301
y=229
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=621
modelYAn=1782

[com_54]
type=Model
x=304
y=191
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=511
modelYAn=822

[com_55]
type=Model
x=297
y=149
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=511
modelYAn=822

[com_56]
type=Model
x=302
y=158
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=536
modelYAn=881

[com_57]
type=Model
x=292
y=141
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=530
modelYAn=806

[com_58]
type=Model
x=287
y=133
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=543
modelYAn=865

[com_59]
type=Model
x=274
y=122
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=533
modelYAn=700

[com_60]
type=Model
x=303
y=55
width=32
height=32
model1Id=3391
modelZoom=1992
modelXAn=512
modelYAn=2045

[com_61]
type=Model
x=322
y=70
width=32
height=32
model1Id=3391
modelZoom=1992
modelXAn=512
modelYAn=2045

[com_62]
type=Model
x=293
y=101
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_63]
type=Model
x=313
y=97
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_64]
type=Model
x=267
y=69
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_65]
type=Model
x=276
y=58
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_66]
type=Model
x=258
y=57
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_67]
type=Model
x=340
y=125
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[mainmodal_window_border]
type=Model
x=328
y=136
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[mainmodal_window_close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=71
graphic=539

[com_70]
type=Sprite
buttonType=Close
x=2
y=3
width=26
height=23
layerId=23068743
graphic=540
buttonText="Ok"

[com_71]
type=Layer
x=471
y=10
width=32
height=32
hide=yes
