[trail_cluelong_graphic]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[trail_cluelong_line1]
type=Text
x=131
y=62
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line2]
type=Text
x=131
y=87
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line3]
type=Text
x=131
y=112
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line4]
type=Text
x=131
y=137
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line5]
type=Text
x=131
y=162
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line6]
type=Text
x=131
y=187
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line7]
type=Text
x=131
y=212
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[trail_cluelong_line8]
type=Text
x=131
y=237
width=256
height=21
colour=0xF0BB5E
hAlign=Center
font=497
shadow=yes
text="The quick brown fox jumped over the "

[mainmodal_window]
type=Sprite
x=473
y=13
width=25
height=25
overLayerId=11
graphic=539

[mainmodal_window_background]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=22609931
graphic=540
buttonText="Ok"

[mainmodal_window_content]
type=Layer
x=470
y=10
width=32
height=32
hide=yes
