[content_layer]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window]
type=Model
x=232
y=95
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=512
modelYAn=1473

[mainmodal_window_background]
type=Model
x=220
y=167
width=32
height=32
model1Id=3389
modelZoom=1349
modelXAn=474
modelYAn=1775

[mainmodal_window_content]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[background_scroll]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[mainmodal_window_border]
type=Model
x=289
y=205
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=529
modelYAn=342

[mainmodal_window_close_button]
type=Model
x=350
y=209
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=528
modelYAn=570

[com_7]
type=Model
x=194
y=89
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1693

[com_8]
type=Model
x=321
y=250
width=50
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_9]
type=Model
x=202
y=46
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=277
modelYAn=172

[com_10]
type=Model
x=183
y=62
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=277
modelYAn=172

[com_11]
type=Model
x=261
y=62
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=513
modelYAn=1141

[com_12]
type=Model
x=291
y=45
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=518
modelYAn=1477

[com_13]
type=Model
x=298
y=235
width=32
height=32
model1Id=3387
modelZoom=1587
modelXAn=463
modelYAn=2005

[com_14]
type=Model
x=335
y=233
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[com_15]
type=Model
x=219
y=65
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_16]
type=Model
x=315
y=233
width=32
height=32
model1Id=3387
modelZoom=1431
modelXAn=500

[com_17]
type=Model
x=239
y=65
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_18]
type=Model
x=264
y=245
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=558
modelYAn=96

[com_19]
type=Model
x=262
y=255
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=561
modelYAn=52

[com_20]
type=Model
x=274
y=218
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=618
modelYAn=139

[com_21]
type=Model
x=272
y=226
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=626
modelYAn=56

[com_22]
type=Model
x=268
y=237
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=543
modelYAn=168

[com_23]
type=Model
x=278
y=212
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=653
modelYAn=288

[com_24]
type=Model
x=281
y=210
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=673
modelYAn=297

[com_25]
type=Model
x=299
y=202
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=516
modelYAn=475

[com_26]
type=Model
x=310
y=202
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=516
modelYAn=475

[com_27]
type=Model
x=317
y=203
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=514
modelYAn=591

[com_28]
type=Model
x=332
y=205
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=539
modelYAn=583

[com_29]
type=Model
x=342
y=207
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=539
modelYAn=620

[com_30]
type=Model
x=271
y=231
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=546
modelYAn=112

[com_31]
type=Model
x=326
y=204
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=522
modelYAn=545

[com_32]
type=Model
x=201
y=93
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=525
modelYAn=1614

[com_33]
type=Model
x=206
y=95
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=499
modelYAn=1607

[com_34]
type=Model
x=216
y=97
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=488
modelYAn=1536

[com_35]
type=Model
x=257
y=84
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=482
modelYAn=1261

[com_36]
type=Model
x=260
y=78
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=528
modelYAn=1104

[com_37]
type=Model
x=261
y=70
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=535
modelYAn=1025

[com_38]
type=Model
x=266
y=55
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=561
modelYAn=1296

[com_39]
type=Model
x=274
y=50
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=573
modelYAn=1357

[com_40]
type=Model
x=282
y=47
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=587
modelYAn=1454

[com_41]
type=Model
x=301
y=43
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=1417

[com_42]
type=Model
x=310
y=41
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=525
modelYAn=1460

[com_43]
type=Model
x=186
y=84
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=529
modelYAn=1756

[com_44]
type=Model
x=182
y=77
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=576
modelYAn=1889

[com_45]
type=Model
x=180
y=69
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=623
modelYAn=43

[com_46]
type=Model
x=189
y=56
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=665
modelYAn=294

[com_47]
type=Model
x=196
y=51
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=665
modelYAn=294

[com_48]
type=Model
x=204
y=42
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=692
modelYAn=48

[com_49]
type=Model
x=252
y=89
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=484
modelYAn=1326

[com_50]
type=Model
x=201
y=148
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_51]
type=Model
x=199
y=119
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_52]
type=Model
x=177
y=123
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_53]
type=Model
x=168
y=140
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_54]
type=Model
x=158
y=117
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_55]
type=Model
x=151
y=79
width=32
height=32
model1Id=3397
modelZoom=2109
modelXAn=467
modelYAn=2031

[com_56]
type=Model
x=250
y=207
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_57]
type=Model
x=271
y=195
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_58]
type=Model
x=261
y=177
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_59]
type=Model
x=246
y=192
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_60]
type=Model
x=271
y=154
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_61]
type=Model
x=229
y=187
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_62]
type=Model
x=302
y=142
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_63]
type=Model
x=310
y=166
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_64]
type=Model
x=313
y=184
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_65]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_66]
type=Model
x=330
y=163
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_67]
type=Model
x=323
y=136
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_68]
type=Model
x=276
y=92
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_69]
type=Model
x=295
y=86
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_70]
type=Model
x=300
y=105
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_71]
type=Model
x=302
y=64
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_72]
type=Model
x=168
y=230
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_73]
type=Model
x=159
y=204
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_74]
type=Model
x=153
y=188
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_75]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=77
graphic=539

[com_76]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=23593037
graphic=540
buttonText="Ok"

[com_77]
type=Layer
x=470
y=8
width=32
height=32
hide=yes

[com_78]
type=Model
x=230
y=207
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_79]
type=Model
x=226
y=249
width=32
height=32
model1Id=3386
modelZoom=123
modelXAn=611

[com_80]
type=Model
x=197
y=232
width=32
height=32
model1Id=3398
modelZoom=1168
modelXAn=808
modelYAn=178

[com_81]
type=Model
x=147
y=205
width=32
height=32
model1Id=3397
modelZoom=2540
modelXAn=467
modelYAn=2031

[com_82]
type=Model
x=214
y=223
width=32
height=32
model1Id=3399
modelZoom=858
modelXAn=494
modelYAn=1536

[com_83]
type=Model
x=188
y=248
width=32
height=32
model1Id=3399
modelZoom=1168
modelXAn=512

[com_84]
type=Model
x=240
y=248
width=32
height=32
model1Id=3399
modelZoom=912
modelXAn=512

[com_85]
type=Model
x=230
y=232
width=32
height=32
model1Id=3399
modelZoom=658
modelXAn=359
modelYAn=784
