[mainmodal_window]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window_background]
type=Model
x=231
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[mainmodal_window_content]
type=Model
x=219
y=163
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_3]
type=Model
x=275
y=136
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_4]
type=Model
x=259
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_5]
type=Model
x=259
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_6]
type=Model
x=219
y=136
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_7]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_8]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_9]
type=Model
x=232
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_10]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_11]
type=Model
x=275
y=163
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_12]
type=Model
x=204
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_13]
type=Model
x=321
y=250
width=50
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_14]
type=Model
x=189
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_15]
type=Model
x=284
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_16]
type=Model
x=296
y=178
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_17]
type=Model
x=284
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_18]
type=Model
x=294
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_19]
type=Model
x=252
y=50
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[com_20]
type=Model
x=238
y=245
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_21]
type=Model
x=258
y=245
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_22]
type=Model
x=214
y=50
width=32
height=32
model1Id=3387
modelZoom=1611
modelXAn=407
modelYAn=1966

[com_23]
type=Model
x=232
y=48
width=32
height=32
model1Id=3387
modelZoom=1594
modelXAn=525
modelYAn=94

[com_24]
type=Model
x=204
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_25]
type=Model
x=189
y=124
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_26]
type=Model
x=219
y=186
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_27]
type=Model
x=219
y=201
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_28]
type=Model
x=230
y=194
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_29]
type=Model
x=230
y=106
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_30]
type=Model
x=251
y=194
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_31]
type=Model
x=203
y=216
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_32]
type=Model
x=189
y=216
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_33]
type=Model
x=179
y=188
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_34]
type=Model
x=179
y=202
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_35]
type=Model
x=275
y=188
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_36]
type=Model
x=275
y=201
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_37]
type=Model
x=258
y=194
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_38]
type=Model
x=285
y=215
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_39]
type=Model
x=297
y=215
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_40]
type=Model
x=312
y=199
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_41]
type=Model
x=312
y=189
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_42]
type=Model
x=309
y=109
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_43]
type=Model
x=179
y=109
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_44]
type=Model
x=201
y=162
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_45]
type=Model
x=201
y=137
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_46]
type=Model
x=291
y=163
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_47]
type=Model
x=291
y=137
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_48]
type=Model
x=275
y=109
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_49]
type=Model
x=219
y=110
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_50]
type=Model
x=203
y=84
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_51]
type=Model
x=286
y=84
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_52]
type=Model
x=275
y=94
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_53]
type=Model
x=219
y=94
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_54]
type=Model
x=179
y=95
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_55]
type=Model
x=309
y=95
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=2036

[com_56]
type=Model
x=293
y=84
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_57]
type=Model
x=190
y=84
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_58]
type=Model
x=258
y=106
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_59]
type=Model
x=226
y=170
width=32
height=32
model1Id=3392
modelZoom=1215
modelXAn=525
modelYAn=25

[com_60]
type=Model
x=324
y=147
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=512
modelYAn=2004

[com_61]
type=Model
x=249
y=232
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=510
modelYAn=471

[com_62]
type=Model
x=240
y=69
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=470
modelYAn=1502

[com_63]
type=Model
x=163
y=103
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=425
modelYAn=988

[com_64]
type=Model
x=161
y=204
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=444
modelYAn=1059

[com_65]
type=Model
x=187
y=236
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=372
modelYAn=589

[com_66]
type=Model
x=313
y=232
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=322
modelYAn=385

[com_67]
type=Model
x=323
y=91
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=322
modelYAn=36

[com_68]
type=Model
x=295
y=237
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=554

[com_69]
type=Model
x=285
y=236
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=525
modelYAn=593

[com_70]
type=Model
x=267
y=232
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=525
modelYAn=593

[com_71]
type=Model
x=276
y=234
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=525
modelYAn=593

[com_72]
type=Model
x=329
y=225
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=268

[com_73]
type=Model
x=334
y=219
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=132

[com_74]
type=Model
x=335
y=210
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=507
modelYAn=42

[com_75]
type=Model
x=335
y=201
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=503
modelYAn=1995

[com_76]
type=Model
x=329
y=183
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=503
modelYAn=1995

[com_77]
type=Model
x=332
y=192
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=493
modelYAn=1894

[com_78]
type=Model
x=328
y=174
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=513
modelYAn=1989

[com_79]
type=Model
x=327
y=167
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=513
modelYAn=1989

[com_80]
type=Model
x=323
y=108
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=513
modelYAn=1989

[com_81]
type=Model
x=322
y=128
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=35

[com_82]
type=Model
x=323
y=120
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=53

[com_83]
type=Model
x=322
y=115
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=28

[com_84]
type=Model
x=325
y=75
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1991

[com_85]
type=Model
x=323
y=66
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1903

[com_86]
type=Model
x=318
y=60
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1768

[com_87]
type=Model
x=310
y=56
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1666

[com_88]
type=Model
x=302
y=56
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=516
modelYAn=1489

[com_89]
type=Model
x=259
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=515
modelYAn=1606

[com_90]
type=Model
x=269
y=70
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1552

[com_91]
type=Model
x=279
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=497
modelYAn=1488

[com_92]
type=Model
x=288
y=65
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=485
modelYAn=1377

[com_93]
type=Model
x=294
y=61
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=482
modelYAn=1277

[com_94]
type=Model
x=299
y=58
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=490
modelYAn=1375

[com_95]
type=Model
x=221
y=69
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=542
modelYAn=1613

[com_96]
type=Model
x=170
y=63
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1463

[com_97]
type=Model
x=162
y=67
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=514
modelYAn=1282

[com_98]
type=Model
x=158
y=74
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=501
modelYAn=1113

[com_99]
type=Model
x=159
y=83
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=515
modelYAn=888

[com_100]
type=Model
x=158
y=79
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=915

[com_101]
type=Model
x=178
y=62
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=524
modelYAn=1583

[com_102]
type=Model
x=187
y=64
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=560
modelYAn=1740

[com_103]
type=Model
x=212
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=524
modelYAn=1583

[com_104]
type=Model
x=204
y=69
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=529
modelYAn=1447

[com_105]
type=Model
x=196
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=537
modelYAn=1671

[com_106]
type=Model
x=165
y=122
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=915

[com_107]
type=Model
x=166
y=131
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=542
modelYAn=993

[com_108]
type=Model
x=166
y=137
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=561
modelYAn=1072

[com_109]
type=Model
x=165
y=159
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=570
modelYAn=1103

[com_110]
type=Model
x=163
y=166
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=588
modelYAn=1009

[com_111]
type=Model
x=163
y=175
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=937

[com_112]
type=Model
x=163
y=184
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=530
modelYAn=1109

[com_113]
type=Model
x=156
y=143
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_114]
type=Model
x=156
y=156
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_115]
type=Model
x=160
y=223
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=546
modelYAn=927

[com_116]
type=Model
x=163
y=230
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=539
modelYAn=781

[com_117]
type=Model
x=169
y=233
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=527
modelYAn=590

[com_118]
type=Model
x=205
y=237
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=494
modelYAn=393

[com_119]
type=Model
x=211
y=233
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=482
modelYAn=302

[com_120]
type=Model
x=218
y=230
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=531
modelYAn=414

[com_121]
type=Model
x=224
y=231
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=545
modelYAn=597

[mainmodal_window_border]
type=Model
x=231
y=233
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=553
modelYAn=533

[mainmodal_window_close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=125
graphic=539

[com_124]
type=Sprite
buttonType=Close
x=4
y=5
width=26
height=23
layerId=23527549
graphic=540
buttonText="Ok"

[com_125]
type=Layer
x=469
y=8
width=32
height=32
hide=yes
