[mainmodal_window]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window_background]
type=Model
x=153
y=231
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=552
modelYAn=637

[mainmodal_window_content]
type=Model
x=177
y=237
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=478
modelYAn=564

[com_3]
type=Model
x=199
y=242
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=563
modelYAn=660

[com_4]
type=Model
x=245
y=249
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=466
modelYAn=513

[com_5]
type=Model
x=329
y=229
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=460
modelYAn=485

[com_6]
type=Model
x=290
y=237
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=435
modelYAn=392

[com_7]
type=Model
x=268
y=245
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=445
modelYAn=394

[com_8]
type=Model
x=271
y=204
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=308
modelYAn=856

[com_9]
type=Model
x=251
y=194
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=532
modelYAn=552

[com_10]
type=Model
x=231
y=198
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=452
modelYAn=334

[map01tree03]
type=Model
x=227
y=214
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=474
modelYAn=1834

[com_12]
type=Model
x=268
y=218
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=250
modelYAn=1336

[map01tree02]
type=Model
x=247
y=224
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=303
modelYAn=1488

[map01xmark]
type=Model
x=152
y=182
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=594
modelYAn=1699

[com_15]
type=Model
x=186
y=192
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=569
modelYAn=1351

[com_16]
type=Model
x=204
y=181
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=480
modelYAn=1337

[com_17]
type=Model
x=272
y=174
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=442
modelYAn=1649

[com_18]
type=Model
x=249
y=169
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=476
modelYAn=1580

[com_19]
type=Model
x=222
y=248
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=512
modelYAn=562

[com_20]
type=Model
x=307
y=232
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=436
modelYAn=422

[com_21]
type=Model
x=225
y=171
width=32
height=32
model1Id=3396
modelZoom=1678
modelXAn=477
modelYAn=1435

[com_22]
type=Model
x=168
y=192
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=249
modelYAn=1813

[com_23]
type=Model
x=292
y=184
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=460
modelYAn=1732

[map01paces05]
type=Model
x=310
y=195
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=459
modelYAn=1705

[map01tree3]
type=Model
x=331
y=204
width=32
height=32
model1Id=3396
modelZoom=1694
modelXAn=459
modelYAn=1664

[com_26]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_27]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[map01tree4]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_29]
type=Model
x=321
y=245
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=576
modelYAn=1544

[com_30]
type=Model
x=251
y=210
width=32
height=32
model1Id=3397
modelZoom=2704
modelXAn=620
modelYAn=7

[com_31]
type=Model
x=238
y=207
width=32
height=32
model1Id=3397
modelZoom=2704
modelXAn=620
modelYAn=7

[com_32]
type=Text
x=205
y=172
width=12
height=12
colour=0x4C3D26
font=494
text="2E"

[com_33]
type=Model
x=218
y=152
width=32
height=32
model1Id=3389
modelZoom=1686
modelXAn=462
modelYAn=1788

[com_34]
type=Model
x=236
y=66
width=32
height=32
model1Id=3397
modelZoom=1680
modelXAn=623
modelYAn=2009

[com_35]
type=Model
x=195
y=61
width=32
height=32
model1Id=3397
modelZoom=1667
modelXAn=620
modelYAn=2032

[map01tree04]
type=Model
x=175
y=76
width=32
height=32
model1Id=3397
modelZoom=1633
modelXAn=548
modelYAn=2028

[com_37]
type=Model
x=202
y=151
width=32
height=32
model1Id=3400
modelZoom=1416
modelXAn=450
modelYAn=1006

[com_38]
type=Model
x=264
y=107
width=32
height=32
model1Id=3391
modelZoom=2064
modelXAn=500

[com_39]
type=Model
x=270
y=85
width=32
height=32
model1Id=3401
modelZoom=2166
modelXAn=500

[com_40]
type=Model
x=309
y=82
width=32
height=32
model1Id=3401
modelZoom=2006
modelXAn=500

[com_41]
type=Model
x=250
y=88
width=32
height=32
model1Id=3391
modelZoom=2064
modelXAn=500

[com_42]
type=Model
x=292
y=68
width=32
height=32
model1Id=3391
modelZoom=2064
modelXAn=500

[com_43]
type=Model
x=320
y=66
width=32
height=32
model1Id=3391
modelZoom=2064
modelXAn=500

[com_44]
type=Model
x=290
y=52
width=32
height=32
model1Id=3401
modelZoom=2134
modelXAn=500

[com_45]
type=Model
x=315
y=48
width=32
height=32
model1Id=3401
modelZoom=2006
modelXAn=500

[com_46]
type=Model
x=191
y=151
width=32
height=32
model1Id=3400
modelZoom=1416
modelXAn=390
modelYAn=1002

[com_47]
type=Model
x=176
y=149
width=32
height=32
model1Id=3397
modelZoom=1548
modelXAn=624
modelYAn=2033

[com_48]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=50
graphic=539

[mainmodal_window_border]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=22675506
graphic=540
buttonText="Ok"

[mainmodal_window_close_button]
type=Layer
x=469
y=10
width=32
height=32
hide=yes
