[mainmodal_window]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window_background]
type=Model
x=345
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=388
modelYAn=1448

[mainmodal_window_content]
type=Model
x=345
y=86
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=586
modelYAn=458

[com_3]
type=Model
x=249
y=81
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=512
modelYAn=467

[com_4]
type=Model
x=173
y=164
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=522
modelYAn=171

[com_5]
type=Model
x=328
y=69
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=544
modelYAn=1545

[com_6]
type=Model
x=249
y=50
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=512
modelYAn=1495

[com_7]
type=Model
x=168
y=107
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=491
modelYAn=1155

[com_8]
type=Model
x=202
y=85
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=385
modelYAn=1206

[com_9]
type=Model
x=244
y=149
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_10]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_11]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_12]
type=Model
x=231
y=196
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_13]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_14]
type=Model
x=221
y=205
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_15]
type=Model
x=321
y=250
width=50
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_16]
type=Model
x=201
y=96
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_17]
type=Model
x=187
y=96
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_18]
type=Model
x=206
y=78
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=570
modelYAn=1103

[com_19]
type=Model
x=231
y=53
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=436
modelYAn=1401

[com_20]
type=Model
x=222
y=57
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=447
modelYAn=1360

[com_21]
type=Model
x=252
y=64
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[com_22]
type=Model
x=290
y=78
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_23]
type=Model
x=309
y=78
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_24]
type=Model
x=214
y=62
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=460
modelYAn=1291

[com_25]
type=Model
x=208
y=70
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=482
modelYAn=1176

[com_26]
type=Model
x=233
y=84
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=317

[com_27]
type=Model
x=211
y=122
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=317

[com_28]
type=Model
x=226
y=106
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=533
modelYAn=50

[com_29]
type=Model
x=225
y=113
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=543
modelYAn=139

[com_30]
type=Model
x=218
y=119
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=537
modelYAn=356

[com_31]
type=Model
x=226
y=98
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=579
modelYAn=1

[com_32]
type=Model
x=228
y=90
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=583
modelYAn=149

[com_33]
type=Model
x=274
y=55
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=373
modelYAn=1807

[com_34]
type=Model
x=280
y=59
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=382
modelYAn=1737

[com_35]
type=Model
x=288
y=63
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=389
modelYAn=1671

[com_36]
type=Model
x=297
y=66
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=391
modelYAn=1642

[com_37]
type=Model
x=306
y=68
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=397
modelYAn=1593

[com_38]
type=Model
x=313
y=69
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=401
modelYAn=1565

[com_39]
type=Model
x=272
y=52
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=441
modelYAn=1793

[com_40]
type=Model
x=266
y=49
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=464
modelYAn=1586

[com_41]
type=Model
x=267
y=83
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=546
modelYAn=703

[com_42]
type=Model
x=282
y=97
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=546
modelYAn=703

[com_43]
type=Model
x=341
y=87
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=577
modelYAn=408

[com_44]
type=Model
x=332
y=90
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=586
modelYAn=360

[com_45]
type=Model
x=291
y=100
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=571

[com_46]
type=Model
x=299
y=100
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=506
modelYAn=327

[com_47]
type=Model
x=307
y=98
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=543
modelYAn=549

[com_48]
type=Model
x=314
y=100
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=554
modelYAn=654

[com_49]
type=Model
x=323
y=99
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=563
modelYAn=323

[com_50]
type=Model
x=328
y=95
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=566
modelYAn=147

[com_51]
type=Model
x=272
y=87
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=556
modelYAn=796

[com_52]
type=Model
x=276
y=92
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=556
modelYAn=796

[com_53]
type=Model
x=251
y=133
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=513
modelYAn=244

[com_54]
type=Model
x=283
y=133
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=526
modelYAn=757

[com_55]
type=Model
x=181
y=90
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=398
modelYAn=1330

[com_56]
type=Model
x=267
y=126
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_57]
type=Model
x=287
y=121
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=526
modelYAn=757

[com_58]
type=Model
x=297
y=131
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=526
modelYAn=757

[com_59]
type=Model
x=270
y=115
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_60]
type=Model
x=223
y=176
width=32
height=32
model1Id=3392
modelZoom=1215
modelXAn=525
modelYAn=25

[com_61]
type=Model
x=259
y=115
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_62]
type=Model
x=306
y=146
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_63]
type=Model
x=293
y=149
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_64]
type=Model
x=244
y=169
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_65]
type=Model
x=260
y=185
width=32
height=32
model1Id=3399
modelZoom=804
modelXAn=512
modelYAn=2036

[com_66]
type=Model
x=293
y=165
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_67]
type=Model
x=306
y=181
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_68]
type=Model
x=244
y=186
width=32
height=32
model1Id=3399
modelZoom=804
modelXAn=512
modelYAn=2036

[com_69]
type=Model
x=280
y=176
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_70]
type=Model
x=270
y=176
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_71]
type=Model
x=201
y=86
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_72]
type=Model
x=201
y=115
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_73]
type=Model
x=201
y=132
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_74]
type=Model
x=187
y=87
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_75]
type=Model
x=187
y=115
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_76]
type=Model
x=187
y=132
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_77]
type=Model
x=254
y=196
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_78]
type=Model
x=281
y=196
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_79]
type=Model
x=268
y=196
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_80]
type=Model
x=221
y=223
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_81]
type=Model
x=221
y=233
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_82]
type=Model
x=231
y=244
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_83]
type=Model
x=251
y=244
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_84]
type=Model
x=270
y=244
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_85]
type=Model
x=282
y=244
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_86]
type=Model
x=293
y=204
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_87]
type=Model
x=293
y=219
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_88]
type=Model
x=293
y=233
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_89]
type=Model
x=244
y=249
width=32
height=32
model1Id=3399
modelZoom=1155
modelXAn=512
modelYAn=2036

[com_90]
type=Model
x=278
y=249
width=32
height=32
model1Id=3399
modelZoom=1155
modelXAn=512
modelYAn=2036

[com_91]
type=Model
x=248
y=222
width=32
height=32
model1Id=3399
modelZoom=1325
modelXAn=512
modelYAn=2036

[com_92]
type=Model
x=262
y=221
width=32
height=32
model1Id=3399
modelZoom=1325
modelXAn=512
modelYAn=2036

[com_93]
type=Model
x=254
y=216
width=32
height=32
model1Id=3399
modelZoom=1068
modelXAn=512
modelYAn=489

[com_94]
type=Model
x=254
y=215
width=32
height=32
model1Id=3399
modelZoom=1068
modelXAn=512
modelYAn=489

[com_95]
type=Model
x=255
y=229
width=32
height=32
model1Id=3399
modelZoom=1068
modelXAn=512
modelYAn=489

[com_96]
type=Model
x=255
y=228
width=32
height=32
model1Id=3399
modelZoom=1068
modelXAn=512
modelYAn=489

[com_97]
type=Model
x=322
y=202
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_98]
type=Model
x=312
y=193
width=32
height=32
model1Id=3399
modelZoom=1022
modelXAn=530
modelYAn=502

[com_99]
type=Model
x=322
y=221
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_100]
type=Model
x=322
y=234
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_101]
type=Model
x=306
y=254
width=32
height=32
model1Id=3399
modelZoom=1155
modelXAn=512
modelYAn=2036

[com_102]
type=Model
x=313
y=247
width=32
height=32
model1Id=3399
modelZoom=1022
modelXAn=530
modelYAn=502

[com_103]
type=Model
x=174
y=96
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=398
modelYAn=1245

[com_104]
type=Model
x=159
y=124
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=398
modelYAn=1245

[com_105]
type=Model
x=154
y=131
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=415
modelYAn=1124

[com_106]
type=Model
x=151
y=138
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=423
modelYAn=1166

[com_107]
type=Model
x=204
y=124
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=545
modelYAn=427

[com_108]
type=Model
x=183
y=145
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=567
modelYAn=226

[com_109]
type=Model
x=178
y=152
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=587
modelYAn=109

[com_110]
type=Model
x=163
y=182
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=590
modelYAn=180

[com_111]
type=Model
x=159
y=187
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=597
modelYAn=221

[com_112]
type=Model
x=153
y=194
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=604
modelYAn=169

[com_113]
type=Model
x=148
y=201
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=603
modelYAn=206

[com_114]
type=Model
x=144
y=208
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=613
modelYAn=120

[com_115]
type=Model
x=146
y=144
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=495
modelYAn=1300

[mainmodal_window_border]
type=Model
x=231
y=64
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window_close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=119
graphic=539

[com_118]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=23658615
graphic=540
buttonText="Ok"

[com_119]
type=Layer
x=469
y=9
width=32
height=32
hide=yes
