[com_0]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=148
graphic=539

[com_1]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=22478996
graphic=540
buttonText="Ok"

[com_2]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[com_3]
type=Model
x=311
y=88
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=400
modelYAn=496

[com_4]
type=Model
x=321
y=88
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=400
modelYAn=496

[com_5]
type=Model
x=326
y=85
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=283
modelYAn=271

[com_6]
type=Model
x=329
y=80
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=310
modelYAn=58

[com_7]
type=Model
x=208
y=97
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=599
modelYAn=747

[com_8]
type=Model
x=300
y=97
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=508
modelYAn=2010

[com_9]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_10]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_11]
type=Model
x=327
y=73
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=286
modelYAn=1844

[com_12]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_13]
type=Model
x=221
y=103
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=530
modelYAn=519

[com_14]
type=Model
x=321
y=250
width=47
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_15]
type=Model
x=303
y=91
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=691
modelYAn=189

[com_16]
type=Model
x=289
y=170
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_17]
type=Model
x=204
y=168
width=32
height=32
model1Id=3389
modelZoom=1215
modelXAn=512
modelYAn=1778

[com_18]
type=Model
x=306
y=101
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=355
modelYAn=1742

[com_19]
type=Model
x=312
y=108
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=406
modelYAn=1988

[com_20]
type=Model
x=312
y=117
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=403
modelYAn=55

[com_21]
type=Model
x=307
y=125
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=397
modelYAn=310

[com_22]
type=Model
x=298
y=127
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=502
modelYAn=523

[com_23]
type=Model
x=195
y=90
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=599
modelYAn=609

[com_24]
type=Model
x=292
y=128
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=697
modelYAn=348

[com_25]
type=Model
x=283
y=130
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=709
modelYAn=492

[com_26]
type=Model
x=277
y=132
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=562
modelYAn=328

[com_27]
type=Model
x=269
y=137
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=583
modelYAn=265

[com_28]
type=Model
x=268
y=143
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=517
modelYAn=1937

[com_29]
type=Model
x=274
y=149
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=475
modelYAn=1709

[com_30]
type=Model
x=284
y=151
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=442
modelYAn=1577

[com_31]
type=Model
x=290
y=151
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=442
modelYAn=1577

[com_32]
type=Model
x=298
y=154
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=553
modelYAn=1796

[com_33]
type=Model
x=302
y=162
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=586
modelYAn=2009

[com_34]
type=Model
x=302
y=171
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=586
modelYAn=2009

[com_35]
type=Model
x=298
y=179
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=406
modelYAn=283

[com_36]
type=Model
x=290
y=182
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=409
modelYAn=487

[com_37]
type=Model
x=281
y=180
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=412
modelYAn=706

[com_38]
type=Model
x=274
y=178
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=409
modelYAn=487

[com_39]
type=Model
x=269
y=174
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=424
modelYAn=862

[com_40]
type=Model
x=262
y=169
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=442
modelYAn=595

[com_41]
type=Model
x=252
y=168
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=409
modelYAn=487

[com_42]
type=Model
x=247
y=168
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=412
modelYAn=421

[com_43]
type=Model
x=238
y=171
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=418
modelYAn=361

[com_44]
type=Model
x=235
y=174
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=448
modelYAn=193

[com_45]
type=Model
x=228
y=179
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=394
modelYAn=358

[com_46]
type=Model
x=321
y=70
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=259
modelYAn=1679

[com_47]
type=Model
x=313
y=66
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=334
modelYAn=1808

[com_48]
type=Model
x=305
y=61
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=319
modelYAn=1685

[com_49]
type=Model
x=299
y=56
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=370
modelYAn=1859

[com_50]
type=Model
x=291
y=51
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=358
modelYAn=1634

[com_51]
type=Model
x=281
y=51
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=268
modelYAn=1529

[com_52]
type=Model
x=271
y=51
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=253
modelYAn=1589

[com_53]
type=Model
x=265
y=48
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=247
modelYAn=1829

[com_54]
type=Model
x=258
y=46
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=229
modelYAn=1565

[com_55]
type=Model
x=248
y=46
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=256
modelYAn=1382

[com_56]
type=Model
x=240
y=49
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=298
modelYAn=1304

[com_57]
type=Model
x=232
y=54
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=307
modelYAn=1346

[com_58]
type=Model
x=225
y=56
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=268
modelYAn=1448

[com_59]
type=Model
x=218
y=58
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=280
modelYAn=1520

[com_60]
type=Model
x=213
y=55
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=328
modelYAn=1805

[com_61]
type=Model
x=210
y=52
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=247
modelYAn=1913

[com_62]
type=Model
x=222
y=183
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=304
modelYAn=244

[com_63]
type=Model
x=340
y=64
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=640
modelYAn=875

[com_64]
type=Model
x=216
y=189
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=358
modelYAn=247

[com_65]
type=Model
x=212
y=196
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=358
modelYAn=49

[com_66]
type=Model
x=208
y=202
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=388
modelYAn=247

[com_67]
type=Model
x=205
y=208
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=325
modelYAn=28

[com_68]
type=Model
x=204
y=216
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=367
modelYAn=94

[com_69]
type=Model
x=200
y=222
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=430
modelYAn=340

[com_70]
type=Model
x=191
y=223
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=460
modelYAn=487

[com_71]
type=Model
x=182
y=221
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=520
modelYAn=667

[com_72]
type=Model
x=175
y=219
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=472
modelYAn=535

[com_73]
type=Model
x=168
y=215
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=556
modelYAn=829

[com_74]
type=Model
x=162
y=209
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=541
modelYAn=730

[com_75]
type=Model
x=158
y=202
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=589
modelYAn=1021

[com_76]
type=Model
x=159
y=193
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=610
modelYAn=1090

[com_77]
type=Model
x=162
y=185
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=658
modelYAn=1225

[com_78]
type=Model
x=166
y=179
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=658
modelYAn=1195

[com_79]
type=Model
x=170
y=172
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=670
modelYAn=1135

[com_80]
type=Model
x=174
y=166
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=712
modelYAn=1291

[com_81]
type=Model
x=179
y=160
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=667
modelYAn=1039

[com_82]
type=Model
x=180
y=154
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=646
modelYAn=958

[com_83]
type=Model
x=175
y=147
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=550
modelYAn=733

[com_84]
type=Model
x=167
y=145
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=490
modelYAn=508

[com_85]
type=Model
x=157
y=143
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=568
modelYAn=670

[com_86]
type=Model
x=152
y=136
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=649
modelYAn=937

[com_87]
type=Model
x=170
y=114
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_88]
type=Model
x=229
y=121
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_89]
type=Model
x=221
y=90
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_90]
type=Model
x=275
y=104
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_91]
type=Model
x=182
y=82
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=668
modelYAn=804

[com_92]
type=Model
x=175
y=72
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=662
modelYAn=915

[com_93]
type=Model
x=237
y=100
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=392
modelYAn=414

[com_94]
type=Model
x=250
y=94
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=320
modelYAn=270

[com_95]
type=Model
x=261
y=86
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=335
modelYAn=312

[com_96]
type=Model
x=274
y=81
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=239
modelYAn=405

[com_97]
type=Model
x=287
y=76
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=200
modelYAn=255

[com_98]
type=Model
x=299
y=71
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=230
modelYAn=387

[com_99]
type=Model
x=238
y=106
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=230
modelYAn=387

[com_100]
type=Model
x=203
y=104
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=599
modelYAn=747

[com_101]
type=Model
x=178
y=88
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=599
modelYAn=747

[com_102]
type=Model
x=217
y=109
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=476
modelYAn=522

[com_103]
type=Model
x=225
y=109
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=476
modelYAn=522

[com_104]
type=Model
x=191
y=96
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=521
modelYAn=651

[com_105]
type=Model
x=243
y=111
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=305
modelYAn=69

[com_106]
type=Model
x=239
y=122
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=290
modelYAn=123

[com_107]
type=Model
x=232
y=132
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=302
modelYAn=207

[com_108]
type=Model
x=222
y=140
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=326
modelYAn=294

[com_109]
type=Model
x=213
y=148
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=365
modelYAn=201

[com_110]
type=Model
x=205
y=158
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=371
modelYAn=195

[com_111]
type=Model
x=225
y=146
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=326
modelYAn=294

[com_112]
type=Model
x=236
y=137
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=311
modelYAn=222

[com_113]
type=Model
x=243
y=126
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=290
modelYAn=84

[com_114]
type=Model
x=248
y=115
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=305
modelYAn=129

[com_115]
type=Model
x=251
y=105
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=305
modelYAn=60

[com_116]
type=Model
x=314
y=70
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=638
modelYAn=477

[com_117]
type=Model
x=257
y=97
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=389
modelYAn=297

[com_118]
type=Model
x=269
y=90
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=410
modelYAn=354

[com_119]
type=Model
x=277
y=86
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=443
modelYAn=381

[com_120]
type=Model
x=290
y=81
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=473
modelYAn=351

[com_121]
type=Model
x=218
y=154
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=311
modelYAn=162

[com_122]
type=Model
x=212
y=163
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=329
modelYAn=159

[com_123]
type=Model
x=203
y=169
width=32
height=32
model1Id=3399
modelZoom=1519
modelXAn=587
modelYAn=480

[com_124]
type=Model
x=199
y=162
width=32
height=32
model1Id=3399
modelZoom=1391
modelXAn=659
modelYAn=1173

[com_125]
type=Model
x=328
y=70
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=674
modelYAn=504

[com_126]
type=Model
x=303
y=76
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=647
modelYAn=444

[com_127]
type=Model
x=322
y=72
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_128]
type=Model
x=334
y=70
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=674
modelYAn=504

[com_129]
type=Model
x=334
y=77
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=674
modelYAn=504

[com_130]
type=Model
x=321
y=74
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_131]
type=Model
x=317
y=76
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_132]
type=Model
x=334
y=72
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_133]
type=Model
x=334
y=74
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_134]
type=Model
x=334
y=76
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=510

[com_135]
type=Model
x=338
y=77
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=653
modelYAn=480

[com_136]
type=Model
x=338
y=70
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=653
modelYAn=480

[com_137]
type=Model
x=337
y=59
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=640
modelYAn=875

[com_138]
type=Model
x=335
y=55
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=655
modelYAn=809

[com_139]
type=Model
x=342
y=76
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=694
modelYAn=911

[com_140]
type=Model
x=345
y=80
width=32
height=38
model1Id=4154
modelZoom=1863
modelXAn=622
modelYAn=713

[com_141]
type=Model
x=289
y=228
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window]
type=Model
x=309
y=224
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=556
modelYAn=2007

[mainmodal_window_background]
type=Model
x=240
y=204
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window_content]
type=Model
x=260
y=204
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[mainmodal_window_border]
type=Model
x=319
y=143
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window_close_button]
type=Model
x=339
y=143
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_147]
type=Model
x=329
y=226
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_148]
type=Layer
x=470
y=9
width=32
height=32
hide=yes
