[com_0]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=2
graphic=539

[com_1]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=22413314
graphic=540
buttonText="Ok"

[com_2]
type=Layer
x=469
y=10
width=32
height=32
hide=yes

[com_3]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[com_4]
type=Model
x=188
y=115
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[com_5]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_6]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_7]
type=Model
x=226
y=216
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=530
modelYAn=519

[com_8]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_9]
type=Model
x=321
y=250
width=47
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_10]
type=Model
x=180
y=130
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[com_11]
type=Model
x=231
y=49
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=514

[com_12]
type=Model
x=242
y=137
width=28
height=65
model1Id=11367
modelZoom=656
modelXAn=479

[mainmodal_window]
type=Model
x=195
y=242
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window_background]
type=Model
x=244
y=153
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window_content]
type=Model
x=321
y=211
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window_border]
type=Model
x=290
y=241
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window_close_button]
type=Model
x=261
y=208
width=32
height=32
model1Id=3399
modelZoom=999
modelXAn=512

[com_18]
type=Model
x=260
y=205
width=32
height=32
model1Id=3399
modelZoom=1127
modelXAn=512
modelYAn=517

[com_19]
type=Model
x=208
y=195
width=32
height=32
model1Id=3389
modelZoom=1215
modelXAn=512
modelYAn=1778
