[com_0]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[com_1]
type=Model
x=316
y=223
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=589
modelYAn=612

[com_2]
type=Model
x=205
y=60
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=471
modelYAn=810

[com_3]
type=Model
x=345
y=243
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=515
modelYAn=659

[com_4]
type=Model
x=223
y=118
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=489
modelYAn=1330

[com_5]
type=Model
x=252
y=150
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_6]
type=Model
x=222
y=156
width=32
height=32
model1Id=3396
modelZoom=1351
modelXAn=639
modelYAn=1010

[com_7]
type=Model
x=267
y=168
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_8]
type=Model
x=259
y=133
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=513
modelYAn=244

[com_9]
type=Model
x=255
y=161
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_10]
type=Model
x=255
y=181
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_11]
type=Model
x=273
y=181
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_12]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_13]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_14]
type=Model
x=289
y=181
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_15]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_16]
type=Model
x=245
y=170
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_17]
type=Model
x=321
y=250
width=47
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_18]
type=Model
x=267
y=149
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_19]
type=Model
x=257
y=187
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=526
modelYAn=757

[com_20]
type=Model
x=276
y=195
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_21]
type=Model
x=296
y=195
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_22]
type=Model
x=315
y=195
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_23]
type=Model
x=222
y=222
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[com_24]
type=Model
x=152
y=124
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_25]
type=Model
x=172
y=124
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_26]
type=Model
x=308
y=181
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_27]
type=Model
x=277
y=139
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_28]
type=Model
x=319
y=147
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_29]
type=Model
x=297
y=139
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_30]
type=Model
x=307
y=139
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_31]
type=Model
x=326
y=158
width=32
height=32
model1Id=3399
modelZoom=1012
modelXAn=530
modelYAn=502

[com_32]
type=Model
x=340
y=169
width=32
height=32
model1Id=3399
modelZoom=1254
modelXAn=512
modelYAn=1017

[com_33]
type=Model
x=336
y=160
width=32
height=32
model1Id=3399
modelZoom=1341
modelXAn=526
modelYAn=757

[com_34]
type=Model
x=336
y=176
width=32
height=32
model1Id=3399
modelZoom=1341
modelXAn=362
modelYAn=1247

[com_35]
type=Model
x=324
y=181
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_36]
type=Model
x=339
y=170
width=32
height=32
model1Id=3399
modelZoom=1254
modelXAn=512
modelYAn=1017

[com_37]
type=Model
x=275
y=126
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_38]
type=Model
x=313
y=126
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_39]
type=Model
x=322
y=126
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_40]
type=Model
x=343
y=132
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=526
modelYAn=757

[com_41]
type=Model
x=327
y=126
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_42]
type=Model
x=346
y=187
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=513
modelYAn=244

[com_43]
type=Model
x=327
y=195
width=32
height=32
model1Id=3399
modelZoom=751
modelXAn=530
modelYAn=502

[com_44]
type=Model
x=353
y=168
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_45]
type=Model
x=353
y=149
width=32
height=32
model1Id=3399
modelZoom=786
modelXAn=512
modelYAn=2036

[com_46]
type=Model
x=238
y=194
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=530
modelYAn=800

[com_47]
type=Model
x=274
y=211
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=544
modelYAn=605

[com_48]
type=Model
x=218
y=124
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=556
modelYAn=1162

[com_49]
type=Model
x=220
y=129
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=968

[com_50]
type=Model
x=221
y=138
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=544
modelYAn=992

[com_51]
type=Model
x=250
y=87
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_52]
type=Model
x=229
y=106
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=519
modelYAn=1107

[com_53]
type=Model
x=253
y=205
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=567
modelYAn=632

[com_54]
type=Model
x=229
y=97
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=530
modelYAn=951

[com_55]
type=Model
x=225
y=88
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=531
modelYAn=861

[com_56]
type=Model
x=224
y=172
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=485
modelYAn=816

[com_57]
type=Model
x=222
y=82
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=531
modelYAn=861

[com_58]
type=Model
x=217
y=75
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=532
modelYAn=834

[com_59]
type=Model
x=196
y=47
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=537
modelYAn=888

[com_60]
type=Model
x=237
y=163
width=32
height=32
model1Id=3389
modelZoom=1215
modelXAn=512
modelYAn=1778

[com_61]
type=Model
x=195
y=44
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=537
modelYAn=888

[com_62]
type=Model
x=233
y=187
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=544
modelYAn=866

[com_63]
type=Model
x=229
y=180
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=547
modelYAn=837

[com_64]
type=Model
x=242
y=199
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=557
modelYAn=753

[com_65]
type=Model
x=248
y=203
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=552
modelYAn=650

[mainmodal_window]
type=Model
x=227
y=113
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=512
modelYAn=1110

[mainmodal_window_background]
type=Model
x=258
y=207
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=552
modelYAn=650

[mainmodal_window_content]
type=Model
x=266
y=209
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=552
modelYAn=624

[mainmodal_window_border]
type=Model
x=283
y=211
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=579
modelYAn=545

[mainmodal_window_close_button]
type=Model
x=291
y=213
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=621
modelYAn=654

[com_71]
type=Model
x=298
y=217
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=641
modelYAn=712

[com_72]
type=Model
x=333
y=229
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=652
modelYAn=743

[com_73]
type=Model
x=341
y=239
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=670
modelYAn=825

[com_74]
type=Model
x=192
y=177
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_75]
type=Model
x=152
y=179
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_76]
type=Model
x=172
y=175
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=556
modelYAn=2007

[com_77]
type=Model
x=273
y=84
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_78]
type=Model
x=262
y=69
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_79]
type=Model
x=252
y=51
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_80]
type=Model
x=235
y=56
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_81]
type=Model
x=340
y=216
width=32
height=32
model1Id=3397
modelZoom=2097
modelXAn=512

[com_82]
type=Model
x=202
y=222
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_83]
type=Model
x=338
y=234
width=32
height=32
model1Id=4154
modelZoom=1351
modelXAn=686
modelYAn=863

[com_84]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=86
graphic=539

[com_85]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=23724118
graphic=540
buttonText="Ok"

[com_86]
type=Layer
x=470
y=9
width=32
height=32
hide=yes
