[com_0]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[com_1]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_2]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_3]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_4]
type=Model
x=228
y=115
width=32
height=32
model1Id=11370
modelZoom=2279
modelXAn=512

[com_5]
type=Model
x=321
y=250
width=47
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_6]
type=Model
x=358
y=130
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[com_7]
type=Model
x=260
y=146
width=32
height=32
model1Id=3389
modelZoom=1215
modelXAn=512
modelYAn=1778

[trail_clue_hard_map006_close]
type=Model
x=260
y=202
width=32
height=32
model1Id=11370
modelZoom=2279
modelXAn=512

[content_layer]
type=Model
x=187
y=59
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window]
type=Model
x=297
y=140
width=32
height=32
model1Id=11370
modelZoom=1383
modelXAn=512

[mainmodal_window_background]
type=Model
x=213
y=248
width=32
height=32
model1Id=11366
modelZoom=2023
modelXAn=512

[mainmodal_window_content]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=14
graphic=539

[mainmodal_window_border]
type=Sprite
buttonType=Close
x=14
y=1
width=26
height=23
layerId=22151182
graphic=540
buttonText="Ok"

[mainmodal_window_close_button]
type=Layer
x=459
y=12
width=32
height=32
hide=yes
