[content_layer]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window]
type=Model
x=237
y=149
width=32
height=32
model1Id=4155
modelZoom=622
modelXAn=512
modelYAn=517

[mainmodal_window_background]
type=Model
x=229
y=188
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[mainmodal_window_content]
type=Model
x=300
y=78
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_4]
type=Model
x=289
y=84
width=32
height=32
model1Id=4155
modelZoom=667
modelXAn=512

[com_5]
type=Model
x=243
y=159
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_6]
type=Model
x=314
y=90
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_7]
type=Model
x=314
y=111
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_8]
type=Model
x=289
y=91
width=32
height=32
model1Id=4155
modelZoom=667
modelXAn=512

[com_9]
type=Model
x=274
y=96
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_10]
type=Model
x=263
y=109
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_11]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_12]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_13]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_14]
type=Model
x=205
y=126
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_15]
type=Model
x=205
y=188
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_16]
type=Model
x=213
y=167
width=32
height=32
model1Id=3392
modelZoom=1189
modelXAn=512

[com_17]
type=Model
x=321
y=250
width=50
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_18]
type=Model
x=193
y=136
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_19]
type=Model
x=193
y=160
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_20]
type=Model
x=193
y=176
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_21]
type=Model
x=221
y=188
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_22]
type=Model
x=217
y=126
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_23]
type=Model
x=231
y=137
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_24]
type=Model
x=274
y=123
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_25]
type=Model
x=306
y=123
width=32
height=32
model1Id=4155
modelZoom=622
modelXAn=512
modelYAn=517

[com_26]
type=Model
x=255
y=85
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_27]
type=Model
x=236
y=93
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_28]
type=Model
x=322
y=194
width=32
height=32
model1Id=3399
modelZoom=667

[com_29]
type=Model
x=322
y=219
width=32
height=32
model1Id=3399
modelZoom=667

[com_30]
type=Model
x=181
y=186
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_31]
type=Model
x=166
y=149
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_32]
type=Model
x=179
y=110
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_33]
type=Model
x=343
y=132
width=32
height=32
model1Id=3399
modelZoom=736
modelXAn=462
modelYAn=1792

[com_34]
type=Model
x=335
y=116
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_35]
type=Model
x=174
y=165
width=32
height=32
model1Id=3399
modelZoom=736
modelXAn=462
modelYAn=1792

[com_36]
type=Model
x=322
y=186
width=32
height=32
model1Id=3399
modelZoom=667

[com_37]
type=Model
x=170
y=127
width=32
height=32
model1Id=3399
modelZoom=736
modelXAn=518
modelYAn=1251

[com_38]
type=Model
x=322
y=186
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_39]
type=Model
x=335
y=93
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_40]
type=Model
x=335
y=74
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_41]
type=Model
x=339
y=52
width=32
height=32
model1Id=3399
modelZoom=736
modelXAn=518
modelYAn=1251

[com_42]
type=Model
x=322
y=211
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_43]
type=Model
x=225
y=248
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_44]
type=Model
x=183
y=160
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_45]
type=Model
x=322
y=220
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_46]
type=Model
x=191
y=98
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_47]
type=Model
x=195
y=72
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_48]
type=Model
x=219
y=53
width=32
height=32
model1Id=3397
modelZoom=1753
modelXAn=467
modelYAn=2031

[com_49]
type=Model
x=313
y=176
width=32
height=32
model1Id=4155
modelZoom=622
modelXAn=512
modelYAn=517

[com_50]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=52
graphic=539

[com_51]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=23461940
graphic=540
buttonText="Ok"

[com_52]
type=Layer
x=469
y=9
width=32
height=32
hide=yes

[com_53]
type=Model
x=307
y=186
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[com_54]
type=Model
x=299
y=198
width=32
height=32
model1Id=4155
modelZoom=622
modelXAn=512
modelYAn=517

[com_55]
type=Model
x=294
y=193
width=32
height=32
model1Id=4155
modelZoom=667
modelXAn=512

[com_56]
type=Model
x=286
y=190
width=32
height=32
model1Id=4155
modelZoom=622
modelXAn=512
modelYAn=517

[com_57]
type=Model
x=280
y=200
width=32
height=32
model1Id=3399
modelZoom=667
modelXAn=512

[mainmodal_window_border]
type=Model
x=280
y=226
width=32
height=32
model1Id=4155
modelZoom=667
modelXAn=512

[mainmodal_window_close_button]
type=Model
x=291
y=233
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517

[com_60]
type=Model
x=308
y=233
width=32
height=32
model1Id=3399
modelZoom=622
modelXAn=512
modelYAn=517
