[mainmodal_window]
type=Rectangle
x=1
y=1
width=511
height=333

[mainmodal_window_background]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[background]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[container]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[knot]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[foreground]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[metal_plate_brass]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[simple_icon_button_layer]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[simple_icon_button_on_layer]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[simple_icon_button_over_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[unlock_button]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[unlock_build]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[unlock_click]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[invert_button]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[invert_build]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[invert_click]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[track_0_ccw]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[track_0_cw]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[track_1_cw]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[track_1_ccw]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[track_2_ccw]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[track_2_cw]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[track_0_00]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[track_0_01]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[track_0_02]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[track_0_03]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[track_0_05]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[track_0_07]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[track_0_08]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[track_0_09]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[track_0_10]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[track_0_12]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[track_0_14]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[track_0_15]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[track_0_16]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[track_0_17]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[track_0_19]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[track_0_21]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[track_0_22]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[track_0_23]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[track_0_24]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[track_0_26]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[track_1_00]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[track_1_02]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[track_1_04]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[track_1_05]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[track_1_07]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[track_1_09]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[track_1_10]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[track_1_11]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[track_1_12]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[track_1_13]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[track_2_00]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[track_2_02]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[track_2_03]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[track_2_04]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[track_2_05]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[track_2_06]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[track_2_07]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[track_2_09]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[track_2_11]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[track_2_12]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[track_2_13]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[track_2_08]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[track_1_08]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[track_1_03]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[track_0_27]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[track_0_20]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[rune_2_12]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[rune_2_13]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[rune_2_07]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[rune_2_08]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[track_0_11]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[rune_1_07]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[rune_1_08]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[track_0_04]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[rune_1_02]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[rune_1_03]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[rune_0_26]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[rune_0_27]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[rune_0_19]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[rune_0_20]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[rune_0_10]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[rune_0_11]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[rune_0_03]
type=Text
x=74
y=30
width=372
height=15
colour=0xFF841F
hAlign=Center
font=496
shadow=yes
text="Furniture Creation Menu"

[rune_0_04]
type=Text
x=21
y=60
width=331
height=17
colour=0xFF981F
font=495
shadow=yes
text="Select a piece of furniture to build."

[track_2_01_shade]
type=Text
x=70
y=96
width=117
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[track_2_01]
type=Text
x=70
y=108
width=75
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[track_2_10_shade]
type=Text
x=70
y=120
width=75
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_2_10]
type=Text
x=70
y=132
width=75
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_1_06_shade]
type=Text
x=70
y=144
width=75
height=10
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_1_06]
type=Text
x=69
y=171
width=119
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[track_1_01_shade]
type=Text
x=69
y=183
width=83
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[track_1_01]
type=Text
x=69
y=195
width=83
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_0_25_shade]
type=Text
x=69
y=207
width=83
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_0_25]
type=Text
x=69
y=219
width=83
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[rune_2_00]
type=Text
x=68
y=246
width=113
height=12
colour=0xFF981F
font=494
shadow=yes
text="Wooden Chair"

[rune_2_01]
type=Text
x=68
y=258
width=78
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="5 Wood"

[track_0_18_shade]
type=Text
x=68
y=270
width=78
height=10
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[track_0_18]
type=Text
x=68
y=282
width=78
height=12
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[rune_2_09]
type=Text
x=68
y=294
width=78
height=11
colour=0xCCCCFF
font=494
shadow=yes
text="2 Oak"

[rune_2_10]
type=Inventory
x=33
y=96
width=1
height=3
widthAlignment=Grid
heightAlignment=Grid
marginY=43
iop0=Build
eventCode=hasIop(0)

[track_0_13_shade]
type=Sprite
x=33
y=96
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp,if1

[track_0_13]
type=Sprite
x=34
y=171
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp,if2

[track_0_06_shade]
type=Sprite
x=33
y=246
width=16
height=16
graphic=520
script1=eq,1
script1op1=varp,if3

[track_0_06]
type=Text
x=18
y=129
width=50
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[rune_1_05]
type=Text
x=15
y=204
width=53
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[rune_1_06]
type=Text
x=20
y=279
width=47
height=12
colour=0xFF981F
hAlign=Center
font=494
shadow=yes
text="Level"

[rune_1_00]
type=Sprite
x=468
y=26
width=26
height=23
overLayerId=115
graphic=535

[rune_1_01]
type=Sprite
buttonType=Close
x=6
y=4
width=26
height=23
layerId=25821299
graphic=536
buttonText="Ok"

[rune_0_24]
type=Layer
x=462
y=22
width=32
height=32
hide=yes
