[com_0]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[com_1]
type=Model
x=157
y=230
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[com_2]
type=Model
x=177
y=230
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[com_3]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_4]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_5]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_6]
type=Model
x=254
y=190
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=530
modelYAn=519

[com_7]
type=Model
x=321
y=250
width=47
height=34
model1Id=3388
modelZoom=531
modelXAn=512
modelYAn=1556

[com_8]
type=Model
x=260
y=177
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_9]
type=Model
x=260
y=146
width=32
height=32
model1Id=3389
modelZoom=1215
modelXAn=512
modelYAn=1778

[com_10]
type=Model
x=150
y=169
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=613
modelYAn=862

[com_11]
type=Model
x=259
y=114
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_12]
type=Model
x=238
y=100
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_13]
type=Model
x=216
y=87
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_14]
type=Model
x=218
y=122
width=32
height=32
model1Id=3394
modelZoom=2023
modelXAn=512

[com_15]
type=Model
x=232
y=212
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_16]
type=Model
x=164
y=84
width=32
height=32
model1Id=3394
modelZoom=2023
modelXAn=512

[com_17]
type=Model
x=176
y=131
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_18]
type=Model
x=162
y=157
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_19]
type=Model
x=240
y=188
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=557
modelYAn=588

[com_20]
type=Model
x=227
y=182
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=602
modelYAn=726

[com_21]
type=Model
x=192
y=147
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=698
modelYAn=1065

[com_22]
type=Model
x=196
y=158
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=659
modelYAn=801

[com_23]
type=Model
x=208
y=166
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=572
modelYAn=678

[com_24]
type=Model
x=220
y=174
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=641
modelYAn=807

[com_25]
type=Model
x=193
y=135
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=722
modelYAn=1029

[com_26]
type=Model
x=194
y=123
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=734
modelYAn=1071

[com_27]
type=Model
x=196
y=111
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=734
modelYAn=1071

[com_28]
type=Model
x=197
y=100
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=731
modelYAn=1023

[com_29]
type=Model
x=196
y=87
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=725
modelYAn=972

[com_30]
type=Model
x=193
y=75
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=713
modelYAn=894

[com_31]
type=Model
x=188
y=66
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=713
modelYAn=894

[com_32]
type=Model
x=218
y=173
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=707
modelYAn=828

[com_33]
type=Model
x=228
y=181
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=692
modelYAn=753

[com_34]
type=Model
x=270
y=188
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=515
modelYAn=447

[com_35]
type=Model
x=283
y=187
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=605
modelYAn=573

[com_36]
type=Model
x=294
y=191
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=665
modelYAn=738

[com_37]
type=Model
x=303
y=200
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=695
modelYAn=849

[com_38]
type=Model
x=308
y=211
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=707
modelYAn=954

[com_39]
type=Model
x=308
y=222
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=734
modelYAn=1077

[com_40]
type=Model
x=306
y=233
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=731
modelYAn=1023

[com_41]
type=Model
x=308
y=244
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=719
modelYAn=939

[com_42]
type=Model
x=303
y=245
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=719
modelYAn=939

[com_43]
type=Model
x=301
y=233
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=734
modelYAn=1077

[com_44]
type=Model
x=302
y=212
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=707
modelYAn=954

[com_45]
type=Model
x=303
y=222
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=719
modelYAn=1077

[com_46]
type=Model
x=291
y=198
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=665
modelYAn=738

[com_47]
type=Model
x=300
y=206
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=701
modelYAn=861

[com_48]
type=Model
x=279
y=195
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=533
modelYAn=507

[com_49]
type=Model
x=266
y=196
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=542
modelYAn=438

[com_50]
type=Model
x=252
y=197
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=557
modelYAn=507

[com_51]
type=Model
x=237
y=195
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=578
modelYAn=594

[com_52]
type=Model
x=224
y=188
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=596
modelYAn=747

[com_53]
type=Model
x=214
y=179
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=602
modelYAn=810

[com_54]
type=Model
x=203
y=171
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=611
modelYAn=675

[com_55]
type=Model
x=192
y=163
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=644
modelYAn=798

[com_56]
type=Model
x=185
y=152
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=671
modelYAn=942

[com_57]
type=Model
x=185
y=140
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=701
modelYAn=1104

[com_58]
type=Model
x=187
y=128
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=692
modelYAn=1008

[com_59]
type=Model
x=189
y=116
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=707
modelYAn=1074

[com_60]
type=Model
x=191
y=105
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=707
modelYAn=1074

[com_61]
type=Model
x=191
y=94
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=698
modelYAn=975

[com_62]
type=Model
x=189
y=82
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=701
modelYAn=927

[com_63]
type=Model
x=183
y=71
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=695
modelYAn=849

[com_64]
type=Model
x=171
y=64
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=704
modelYAn=618

[com_65]
type=Model
x=178
y=59
width=32
height=32
model1Id=3399
modelZoom=1007
modelXAn=704
modelYAn=618

[com_66]
type=Model
x=290
y=214
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_67]
type=Model
x=272
y=217
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_68]
type=Model
x=283
y=236
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_69]
type=Model
x=294
y=173
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_70]
type=Model
x=312
y=171
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_71]
type=Model
x=325
y=187
width=32
height=32
model1Id=3397
modelZoom=2023
modelXAn=512

[com_72]
type=Model
x=155
y=177
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=613
modelYAn=862

[com_73]
type=Model
x=160
y=185
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=625
modelYAn=910

[com_74]
type=Model
x=164
y=194
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=625
modelYAn=910

[com_75]
type=Model
x=169
y=201
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=544
modelYAn=709

[com_76]
type=Model
x=177
y=205
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=505
modelYAn=616

[com_77]
type=Model
x=186
y=208
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=529
modelYAn=628

[com_78]
type=Model
x=281
y=93
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=382
modelYAn=1775

[com_79]
type=Model
x=234
y=249
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=604
modelYAn=949

[com_80]
type=Model
x=232
y=241
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=607
modelYAn=1003

[com_81]
type=Model
x=229
y=233
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=529
modelYAn=796

[com_82]
type=Model
x=221
y=228
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=499
modelYAn=646

[com_83]
type=Model
x=213
y=227
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=490
modelYAn=472

[com_84]
type=Model
x=207
y=223
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=505
modelYAn=835

[com_85]
type=Model
x=202
y=214
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=514
modelYAn=799

[com_86]
type=Model
x=195
y=210
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=502
modelYAn=595

[com_87]
type=Model
x=275
y=88
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=379
modelYAn=1745

[com_88]
type=Model
x=268
y=84
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=379
modelYAn=1745

[com_89]
type=Model
x=262
y=80
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=400
modelYAn=1829

[com_90]
type=Model
x=257
y=73
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=430
modelYAn=1931

[com_91]
type=Model
x=255
y=64
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=430
modelYAn=1931

[com_92]
type=Model
x=250
y=57
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=415
modelYAn=1787

[com_93]
type=Model
x=246
y=50
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=457
modelYAn=1928

[com_94]
type=Model
x=286
y=101
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=457
modelYAn=1928

[com_95]
type=Model
x=291
y=109
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=454
modelYAn=1829

[com_96]
type=Model
x=296
y=117
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=496
modelYAn=1895

[com_97]
type=Model
x=301
y=125
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=478
modelYAn=1793

[com_98]
type=Model
x=309
y=130
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=382
modelYAn=1706

[com_99]
type=Model
x=318
y=134
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=367
modelYAn=1640

[com_100]
type=Model
x=327
y=135
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=364
modelYAn=1568

[com_101]
type=Model
x=336
y=135
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=358
modelYAn=1475

[com_102]
type=Model
x=345
y=132
width=32
height=38
model1Id=4154
modelZoom=1351
modelXAn=364
modelYAn=1421

[mainmodal_window]
type=Model
x=278
y=57
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window_background]
type=Model
x=298
y=57
width=32
height=32
model1Id=3387
modelZoom=1615
modelXAn=554
modelYAn=105

[mainmodal_window_content]
type=Model
x=312
y=92
width=32
height=32
model1Id=3387
modelZoom=1639
modelXAn=464
modelYAn=1919

[mainmodal_window_border]
type=Model
x=332
y=92
width=32
height=32
model1Id=3387
modelZoom=1585
modelXAn=537
modelYAn=97

[mainmodal_window_close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=109
graphic=539

[com_108]
type=Sprite
buttonType=Close
x=2
y=5
width=26
height=23
layerId=22544493
graphic=540
buttonText="Ok"

[com_109]
type=Layer
x=471
y=8
width=32
height=32
hide=yes
