[com_0]
type=Model
x=233
y=161
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=500
modelYAn=2

[com_1]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=3
graphic=539

[com_2]
type=Sprite
buttonType=Close
x=7
width=26
height=23
layerId=22085635
graphic=540
buttonText="Ok"

[com_3]
type=Layer
x=466
y=13
width=32
height=32
hide=yes

[com_4]
type=Model
x=192
y=144
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=704

[com_5]
type=Model
x=273
y=149
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=660

[com_6]
type=Model
x=327
y=145
width=38
height=37
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=320

[com_7]
type=Model
x=283
y=157
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=784

[com_8]
type=Model
x=280
y=207
width=33
height=33
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=247

[com_9]
type=Model
x=297
y=161
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=507

[com_10]
type=Model
x=220
y=162
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=669

[com_11]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=500
modelYAn=18

[com_12]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_13]
type=Model
x=232
y=205
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1711

[com_14]
type=Model
x=345
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_15]
type=Model
x=237
y=157
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=198

[com_16]
type=Model
x=336
y=153
width=38
height=37
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=341

[com_17]
type=Model
x=319
y=165
width=38
height=37
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=296

[com_18]
type=Model
x=278
y=152
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=759

[com_19]
type=Model
x=169
y=122
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1866

[com_20]
type=Model
x=208
y=155
width=32
height=32
model1Id=4155
modelZoom=842
modelXAn=500
modelYAn=774

[com_21]
type=Model
x=241
y=237
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=183

[com_22]
type=Model
x=176
y=133
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=733

[com_23]
type=Model
x=264
y=189
width=32
height=32
model1Id=3401
modelZoom=2418
modelXAn=500
modelYAn=747

[com_24]
type=Model
x=192
y=158
width=32
height=32
model1Id=4155
modelZoom=739
modelXAn=500
modelYAn=1715

[com_25]
type=Model
x=202
y=170
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=744

[com_26]
type=Model
x=287
y=191
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=535
modelYAn=17

[com_27]
type=Model
x=181
y=151
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=1738

[com_28]
type=Model
x=214
y=174
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1672

[com_29]
type=Model
x=227
y=201
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1794

[com_30]
type=Model
x=239
y=208
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1711

[com_31]
type=Model
x=247
y=103
width=32
height=32
model1Id=3397
modelZoom=1730
modelXAn=500
modelYAn=2031

[com_32]
type=Model
x=333
y=248
width=32
height=32
model1Id=3388
modelZoom=528
modelXAn=500
modelYAn=1549

[com_33]
type=Model
x=244
y=222
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=19

[com_34]
type=Model
x=258
y=227
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=62

[com_35]
type=Model
x=262
y=219
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=311

[com_36]
type=Model
x=169
y=143
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1766

[com_37]
type=Model
x=160
y=133
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=1834

[com_38]
type=Model
x=287
y=195
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=52

[com_39]
type=Model
x=311
y=158
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=291

[com_40]
type=Model
x=318
y=154
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=487
modelYAn=375

[com_41]
type=Model
x=340
y=140
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=291

[com_42]
type=Model
x=347
y=136
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=405

[com_43]
type=Model
x=352
y=149
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=405

[com_44]
type=Model
x=303
y=176
width=32
height=32
model1Id=3399
modelZoom=772
modelXAn=500
modelYAn=416

[com_45]
type=Model
x=253
y=240
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=183

[com_46]
type=Model
x=291
y=178
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=436

[com_47]
type=Model
x=269
y=215
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=373

[com_48]
type=Model
x=250
y=247
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=63

[com_49]
type=Model
x=327
y=69
width=32
height=32
model1Id=3397
modelZoom=1730
modelXAn=500
modelYAn=2031

[com_50]
type=Model
x=274
y=62
width=32
height=32
model1Id=3397
modelZoom=1796
modelXAn=500
modelYAn=2031

[com_51]
type=Model
x=201
y=219
width=32
height=32
model1Id=3397
modelZoom=1796
modelXAn=500
modelYAn=2031

[com_52]
type=Model
x=182
y=194
width=32
height=32
model1Id=3397
modelZoom=1796
modelXAn=500
modelYAn=2031

[com_53]
type=Model
x=221
y=89
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_54]
type=Model
x=180
y=117
width=32
height=32
model1Id=3397
modelZoom=2259
modelXAn=500
modelYAn=2031

[com_55]
type=Model
x=158
y=79
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_56]
type=Model
x=285
y=111
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_57]
type=Model
x=237
y=244
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=63

[com_58]
type=Model
x=289
y=163
width=32
height=32
model1Id=3389
modelZoom=1612
modelXAn=500
modelYAn=1775

[com_59]
type=Model
x=245
y=148
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=428

[com_60]
type=Model
x=257
y=143
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=423

[com_61]
type=Model
x=267
y=142
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1721

[com_62]
type=Model
x=253
y=146
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=354

[com_63]
type=Model
x=223
y=195
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1973

[com_64]
type=Model
x=222
y=180
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=1904

[com_65]
type=Model
x=223
y=187
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=2021

[com_66]
type=Model
x=202
y=151
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=747

[com_67]
type=Model
x=203
y=245
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_68]
type=Model
x=169
y=223
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_69]
type=Model
x=159
y=180
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=500
modelYAn=2031

[com_70]
type=Model
x=337
y=195
width=32
height=32
model1Id=3401
modelZoom=2586
modelXAn=500
modelYAn=905

[com_71]
type=Model
x=337
y=211
width=32
height=32
model1Id=3401
modelZoom=2053
modelXAn=500
modelYAn=1494

[com_72]
type=Model
x=318
y=224
width=32
height=32
model1Id=3401
modelZoom=1692
modelXAn=500
modelYAn=1403

[com_73]
type=Model
x=312
y=205
width=32
height=32
model1Id=3401
modelZoom=2710
modelXAn=500
modelYAn=747

[com_74]
type=Model
x=314
y=128
width=32
height=32
model1Id=3401
modelZoom=2799
modelXAn=500
modelYAn=747

[com_75]
type=Model
x=288
y=183
width=32
height=32
model1Id=4155
modelZoom=772
modelXAn=500
modelYAn=52

[com_76]
type=Model
x=193
y=54
width=32
height=32
model1Id=3397
modelZoom=2301
modelXAn=467
modelYAn=2031

[content_layer]
type=Model
x=253
y=164
width=32
height=32
model1Id=3400
modelZoom=1383
modelXAn=500
modelYAn=2039

[mainmodal_window]
type=Model
x=274
y=164
width=32
height=32
model1Id=3400
modelZoom=1383
modelXAn=334
modelYAn=2039

[mainmodal_window_background]
type=Model
x=264
y=164
width=32
height=32
model1Id=3400
modelZoom=1383
modelXAn=334
modelYAn=2039

[mainmodal_window_content]
type=Model
x=250
y=155
width=32
height=32
model1Id=3400
modelZoom=1383
modelXAn=500
modelYAn=466

[mainmodal_window_border]
type=Model
x=249
y=140
width=32
height=32
model1Id=2110
modelZoom=887
modelXAn=500
modelYAn=4

[mainmodal_window_close_button]
type=Text
x=255
y=168
width=11
height=12
colour=0x2F2A25
font=494
text="1S"

[com_83]
type=Text
x=273
y=181
width=11
height=12
colour=0x2F2A25
font=494
text="3E"
