[map05xmark]
type=Model
x=227
y=162
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window]
type=Model
x=112
y=67
width=32
height=32
layerId=22937642
model1Id=3389
modelZoom=1349
modelXAn=474
modelYAn=1775

[mainmodal_window_background]
type=Model
x=190
y=194
width=32
height=32
model1Id=25718
modelZoom=809
modelXAn=475
modelYAn=19

[mainmodal_window_content]
type=Model
x=112
y=119
width=32
height=32
layerId=22937642
model1Id=3399
modelZoom=640
modelXAn=397
modelYAn=500

[layer_4]
type=Model
x=146
y=228
width=32
height=32
model1Id=3399
modelZoom=822
modelXAn=543
modelYAn=762

[com_5]
type=Model
x=212
y=86
width=32
height=32
model1Id=3399
modelZoom=868
modelXAn=397
modelYAn=500

[map05tree]
type=Model
x=233
y=103
width=32
height=32
model1Id=3399
modelZoom=868
modelXAn=397
modelYAn=500

[map05tree_1]
type=Model
x=298
y=70
width=32
height=32
model1Id=3399
modelZoom=735
modelXAn=467
modelYAn=2029

[map05tree_2]
type=Model
x=285
y=70
width=32
height=32
model1Id=3399
modelZoom=735
modelXAn=469
modelYAn=506

[map05rock3]
type=Model
x=306
y=60
width=32
height=32
model1Id=3399
modelZoom=735
modelXAn=469
modelYAn=506

[map05rock4]
type=Model
x=316
y=54
width=32
height=32
model1Id=3399
modelZoom=628
modelXAn=160
modelYAn=1012

[map05rock7]
type=Model
x=273
y=64
width=32
height=32
model1Id=3399
modelZoom=628
modelXAn=160
modelYAn=1012

[map05rock9]
type=Model
x=125
y=92
width=32
height=32
layerId=22937642
model1Id=3398
modelZoom=744
modelXAn=368
modelYAn=2042

[map05rock10]
type=Model
x=185
y=236
width=32
height=32
model1Id=3398
modelZoom=676
modelXAn=429
modelYAn=518

[map05rock11]
type=Model
x=270
y=236
width=32
height=32
model1Id=3398
modelZoom=680
modelXAn=429
modelYAn=518

[map05rock12]
type=Model
x=278
y=236
width=32
height=32
model1Id=3398
modelZoom=680
modelXAn=429
modelYAn=518

[map05rock8]
type=Model
x=205
y=105
width=32
height=32
model1Id=3398
modelZoom=744
modelXAn=369
modelYAn=2043

[layer_3]
type=Model
x=330
y=216
width=32
height=32
model1Id=3398
modelZoom=682
modelXAn=301
modelYAn=222

[com_18]
type=Model
x=224
y=130
width=32
height=32
model1Id=3398
modelZoom=947
modelXAn=371
modelYAn=1542

[layer_2]
type=Model
x=223
y=88
width=32
height=32
model1Id=3398
modelZoom=1042
modelXAn=369
modelYAn=2043

[layer_1]
type=Model
x=244
y=89
width=32
height=32
model1Id=3398
modelZoom=1042
modelXAn=369
modelYAn=2043

[map05layer1]
type=Model
x=123
y=123
width=32
height=32
layerId=22937642
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[map05cratemodel_1]
type=Model
x=111
y=123
width=32
height=32
layerId=22937642
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[mainmodal_window_border]
type=Model
x=127
y=109
width=32
height=32
layerId=22937642
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[mainmodal_window_close_button]
type=Model
x=127
y=90
width=32
height=32
layerId=22937642
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_25]
type=Model
x=126
y=81
width=32
height=32
layerId=22937642
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_3]
type=Model
x=240
y=131
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_4]
type=Model
x=228
y=131
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_5]
type=Model
x=206
y=121
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[end]
type=Model
x=254
y=142
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_30]
type=Model
x=265
y=142
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_31]
type=Model
x=254
y=126
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_32]
type=Model
x=254
y=111
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_33]
type=Model
x=254
y=96
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_34]
type=Model
x=254
y=84
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_7]
type=Model
x=296
y=99
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_10]
type=Model
x=299
y=81
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[diag_8]
type=Model
x=299
y=72
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_38]
type=Model
x=299
y=63
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_39]
type=Model
x=310
y=70
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[long_top]
type=Model
x=329
y=70
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[long_1]
type=Model
x=331
y=56
width=32
height=32
model1Id=3386
modelZoom=415
modelXAn=632
modelYAn=509

[com_42]
type=Layer
x=174
y=55
width=203
height=220

[com_43]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_44]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_45]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_46]
type=Model
x=321
y=245
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=576
modelYAn=1544

[com_47]
type=Model
x=252
y=163
width=32
height=32
model1Id=3393
modelZoom=974
modelXAn=495
modelYAn=65

[com_48]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=50
graphic=539

[com_49]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=22937650
graphic=540
buttonText="Ok"

[com_50]
type=Layer
x=470
y=9
width=32
height=32
hide=yes
