[background]
type=Model
x=232
y=158
width=32
height=32
model1Id=3395
modelZoom=639
modelXAn=511
modelYAn=2047

[trail_reward_box]
type=Inventory
x=239
y=89
width=3
height=3
widthAlignment=Grid
heightAlignment=Grid

[button_layer]
type=Model
x=174
y=212
width=32
height=32
model1Id=1226
modelZoom=914
modelXAn=104
modelYAn=761

[com_3]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=5
graphic=539

[com_4]
type=Sprite
buttonType=Close
x=1
y=4
width=26
height=23
layerId=23855109
graphic=540
buttonText="Ok"

[com_5]
type=Layer
x=472
y=9
width=32
height=32
hide=yes
