[mainmodal_window]
type=Model
x=228
y=163
width=32
height=32
model1Id=3395
modelZoom=599
modelXAn=520
modelYAn=1

[mainmodal_window_background]
type=Model
x=211
y=73
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=567
modelYAn=773

[mainmodal_window_content]
type=Model
x=104
y=72
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=535
modelYAn=1263

[com_3]
type=Model
x=92
y=84
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=535
modelYAn=1263

[com_4]
type=Model
x=110
y=57
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=523
modelYAn=1033

[com_5]
type=Model
x=78
y=89
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=342
modelYAn=1503

[com_6]
type=Model
x=63
y=85
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=567
modelYAn=773

[com_7]
type=Model
x=51
y=73
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=567
modelYAn=773

[com_8]
type=Model
x=150
y=229
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=493
modelYAn=18

[com_9]
type=Model
x=165
y=49
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=527
modelYAn=515

[com_10]
type=Model
x=340
y=62
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=578
modelYAn=1030

[com_11]
type=Model
x=205
y=59
width=32
height=32
model1Id=3399
modelZoom=1013
modelXAn=512
modelYAn=1011

[com_12]
type=Model
x=200
y=46
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=567
modelYAn=773

[com_13]
type=Model
x=325
y=247
width=32
height=32
model1Id=3388
modelZoom=531
modelXAn=576
modelYAn=1544

[com_14]
type=Model
x=292
y=73
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=516
modelYAn=260

[com_15]
type=Model
x=303
y=62
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=516
modelYAn=260

[com_16]
type=Model
x=317
y=48
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=516
modelYAn=260

[com_17]
type=Model
x=310
y=55
width=32
height=32
model1Id=3399
modelZoom=915
modelXAn=516
modelYAn=260

[com_18]
type=Model
x=258
y=151
width=32
height=32
model1Id=3399
modelZoom=997
modelXAn=360
modelYAn=518

[com_19]
type=Model
x=266
y=157
width=32
height=32
model1Id=3399
modelZoom=997
modelXAn=282
modelYAn=1042

[com_20]
type=Model
x=195
y=217
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_21]
type=Model
x=297
y=207
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_22]
type=Model
x=319
y=223
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_23]
type=Model
x=288
y=243
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_24]
type=Model
x=309
y=101
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_25]
type=Model
x=324
y=145
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_26]
type=Model
x=319
y=65
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_27]
type=Model
x=343
y=89
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_28]
type=Model
x=202
y=82
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_29]
type=Model
x=155
y=117
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_30]
type=Model
x=231
y=213
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_31]
type=Model
x=251
y=227
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_32]
type=Model
x=233
y=243
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_33]
type=Model
x=297
y=170
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_34]
type=Model
x=304
y=144
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_35]
type=Model
x=336
y=188
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_36]
type=Model
x=197
y=167
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_37]
type=Model
x=181
y=183
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_38]
type=Model
x=193
y=137
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_39]
type=Model
x=174
y=119
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_40]
type=Model
x=169
y=152
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_41]
type=Model
x=172
y=76
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_42]
type=Model
x=157
y=215
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_43]
type=Model
x=172
y=233
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_44]
type=Model
x=155
y=179
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_45]
type=Model
x=230
y=102
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[trailmap10]
type=Model
x=275
y=71
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_47]
type=Model
x=231
y=64
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_48]
type=Model
x=220
y=51
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_49]
type=Model
x=279
y=126
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_50]
type=Model
x=47
y=44
width=32
height=32
layerId=23265342
model1Id=3398
modelZoom=914
modelXAn=512
modelYAn=2035

[com_51]
type=Model
x=288
y=53
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_52]
type=Model
x=252
y=48
width=32
height=32
model1Id=3397
modelZoom=2496
modelXAn=467
modelYAn=2031

[com_53]
type=Model
x=104
y=45
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=550
modelYAn=778

[com_54]
type=Model
x=93
y=34
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=550
modelYAn=778

[com_55]
type=Model
x=78
y=26
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=342
modelYAn=1503

[com_56]
type=Model
x=62
y=26
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=342
modelYAn=1503

[com_57]
type=Model
x=54
y=26
width=32
height=32
layerId=23265342
model1Id=3399
modelZoom=915
modelXAn=342
modelYAn=1503

[com_58]
type=Model
x=47
y=4
width=32
height=32
layerId=23265342
model1Id=3398
modelZoom=914
modelXAn=512
modelYAn=2035

[com_59]
type=Model
x=115
y=41
width=32
height=32
layerId=23265342
model1Id=3398
modelZoom=914
modelXAn=512
modelYAn=2035

[com_60]
type=Model
x=115
y=5
width=32
height=32
layerId=23265342
model1Id=3398
modelZoom=914
modelXAn=512
modelYAn=2035

[com_61]
type=Model
x=215
y=199
width=32
height=32
model1Id=3397
modelZoom=2074
modelXAn=467
modelYAn=2031

[com_62]
type=Layer
x=172
y=97
width=184
height=165

[mainmodal_window_border]
type=Model
x=270
y=205
width=32
height=32
model1Id=3392
modelZoom=1135
modelXAn=515
modelYAn=22

[mainmodal_window_close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=66
graphic=539

[com_65]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=23265346
graphic=540
buttonText="Ok"

[com_66]
type=Layer
x=469
y=9
width=32
height=32
hide=yes
