[mainmodal_window]
type=Model
x=202
y=111
width=32
height=32
model1Id=25719
modelZoom=400
modelXAn=512

[mainmodal_window_background]
type=Model
x=237
y=155
width=32
height=32
model1Id=25720
modelZoom=451
modelXAn=539

[mainmodal_window_content]
type=Text
x=100
y=77
width=300
height=151
colour=0x332208
font=497
text="This is an interface type test."

[background]
type=Model
x=34
y=34
width=32
height=32
modelZoom=400

[container]
type=Model
x=229
y=137
width=32
height=32
model1Id=25722
modelZoom=400
modelXAn=512

[foreground]
type=Sprite
x=482
y=6
width=26
height=23
overLayerId=7
graphic=541

[simple_icon_button_layer]
type=Sprite
buttonType=Close
x=7
y=2
width=26
height=23
layerId=34406407
overLayerId=7
graphic=542
buttonText="Ok"

[knot]
type=Layer
x=475
y=4
width=32
height=32
hide=yes
