[water_background]
type=Rectangle
x=49
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,0
script1op1=varp,trawler_water_overlay

[water_outline]
type=Rectangle
x=70
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,4
script1op1=varp,trawler_water_overlay

[trawler_waterlevel0]
type=Rectangle
x=91
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,9
script1op1=varp,trawler_water_overlay

[trawler_waterlevel1]
type=Rectangle
x=112
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,14
script1op1=varp,trawler_water_overlay

[trawler_waterlevel2]
type=Rectangle
x=133
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,19
script1op1=varp,trawler_water_overlay

[trawler_waterlevel3]
type=Rectangle
x=154
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,24
script1op1=varp,trawler_water_overlay

[trawler_waterlevel4]
type=Rectangle
x=175
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,29
script1op1=varp,trawler_water_overlay

[trawler_waterlevel5]
type=Rectangle
x=196
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,34
script1op1=varp,trawler_water_overlay

[trawler_waterlevel6]
type=Rectangle
x=217
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,39
script1op1=varp,trawler_water_overlay

[trawler_waterlevel7]
type=Rectangle
x=238
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,44
script1op1=varp,trawler_water_overlay

[trawler_waterlevel8]
type=Rectangle
x=259
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,49
script1op1=varp,trawler_water_overlay

[trawler_waterlevel9]
type=Rectangle
x=280
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,54
script1op1=varp,trawler_water_overlay

[trawler_waterlevel10]
type=Rectangle
x=301
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,59
script1op1=varp,trawler_water_overlay

[trawler_waterlevel11]
type=Rectangle
x=322
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,64
script1op1=varp,trawler_water_overlay

[trawler_waterlevel12]
type=Rectangle
x=343
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,69
script1op1=varp,trawler_water_overlay

[trawler_waterlevel13]
type=Rectangle
x=364
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,74
script1op1=varp,trawler_water_overlay

[trawler_waterlevel14]
type=Rectangle
x=385
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,79
script1op1=varp,trawler_water_overlay

[trawler_waterlevel15]
type=Rectangle
x=406
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,84
script1op1=varp,trawler_water_overlay

[trawler_waterlevel16]
type=Rectangle
x=427
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,89
script1op1=varp,trawler_water_overlay

[trawler_waterlevel17]
type=Rectangle
x=448
y=23
width=21
height=10
layerId=23986196
trans=128
colour2=0x8080FF
fill=yes
script1=gt,94
script1op1=varp,trawler_water_overlay

[trawler_waterlevel18]
type=Layer
x=20
width=475
height=62

[trawler_waterlevel19]
type=Text
y=20
width=47
height=14
layerId=23986196
colour=0xFFFFFF
font=495
shadow=yes
text="Water:"

[trawler_layer]
type=Text
y=42
width=32
height=14
layerId=23986196
colour=0xFFFFFF
hAlign=Center
font=495
shadow=yes
text="Net:"

[com_23]
type=Text
x=174
y=42
width=46
height=14
layerId=23986196
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Catch:"

[com_24]
type=Text
x=321
y=42
width=70
height=14
layerId=23986196
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Time left:"

[com_25]
type=Rectangle
x=49
y=23
width=421
height=10
layerId=23986196
trans=128
colour=0x808080

[com_26]
type=Text
x=31
y=42
width=28
height=14
layerId=23986196
colour=0x00FF24
font=495
shadow=yes
text="Okay"

[trawler_nettextok]
type=Text
x=31
y=42
width=66
height=14
layerId=23986196
colour=0xFF0000
font=495
shadow=yes
text="Ripped!"

[trawler_nettextripped]
type=Text
x=225
y=42
width=44
height=14
layerId=23986196
colour=0xFFFFFF
font=495
shadow=yes
text="Nothing"

[trawler_catchtext]
type=Text
x=396
y=42
width=75
height=14
layerId=23986196
colour=0xFFFFFF
font=495
shadow=yes
text="10 mins"
