[com_0]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[items]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[warning]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[modal_dialog_window]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[modal_dialog_window_background]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[modal_dialog_window_content]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[modal_dialog_window_border]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[modal_dialog_window_close_button]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[com_8]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[com_9]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[com_12]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_14]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[com_15]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[com_16]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[com_17]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[com_18]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_19]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_20]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[com_21]
type=Sprite
x=364
y=140
width=88
height=60
graphic=297

[com_22]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[com_26]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[com_27]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_31]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_37]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_38]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_44]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_45]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_53]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_54]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_55]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_56]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_66]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_67]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_70]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_71]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_72]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_73]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_74]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_75]
type=Inventory
x=76
y=65
width=8
height=5
widthAlignment=Grid
heightAlignment=Grid
marginX=15
marginY=15
iop0=Withdraw 1
iop1=Withdraw All
eventCode=hasIop(0,1)

[com_76]
type=Text
x=211
y=30
width=88
height=14
colour=0xF99B15
hAlign=Center
font=496
shadow=yes
text="Trawler Catch"

[com_77]
type=Text
buttonType=Close
x=407
y=32
width=79
height=12
colour=0xAA4444
colourOver=0xFFFFFF
hAlign=Right
font=494
shadow=yes
text="Dump Items"
buttonText="Ok"

[com_78]
type=Text
x=32
y=291
width=440
height=17
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Click Dump Items to close the window and discard remaining items."

[com_79]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_80]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_81]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_82]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_83]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_84]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_85]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_86]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_87]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_88]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_89]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_90]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_91]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314
