[bailing_bucket_icon]
type=Model
x=240
y=141
width=32
height=32
model1Id=3033
modelZoom=491
modelXAn=484
modelYAn=3

[bailing_bucket_text]
type=Model
x=96
y=97
width=32
height=32
model1Id=1842
modelZoom=591
modelXAn=155
modelYAn=2037

[swamp_paste_text]
type=Model
x=98
y=154
width=32
height=32
model1Id=2386
modelZoom=385
modelXAn=218
modelYAn=115

[swamp_paste_icon]
type=Model
x=93
y=254
width=32
height=32
model1Id=2504
modelZoom=478
modelXAn=148
modelYAn=1752

[rope_icon]
type=Text
x=150
y=92
width=299
height=49
colour=0x4A4028
font=497
text="Use rope to repair the Trawler's nets."

[rope_text]
type=Text
x=150
y=152
width=301
height=48
colour=0x4A4028
lineHeight=20
font=497
text="Use Swamp Paste to repair leaks in the Ship's hull."

[water_title]
type=Text
x=148
y=225
width=235
height=47
colour=0x4A4028
lineHeight=20
font=497
text="If all else fails you can always try and bail the water out as well!"

[water_bar_fill]
type=Text
x=203
y=60
width=141
height=17
colour=0xE5BD5D
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="How to play:"

[water_bar_border]
type=Sprite
x=449
y=42
width=26
height=23
overLayerId=10
graphic=539

[activity_title]
type=Sprite
buttonType=Close
x=2
y=3
width=26
height=23
layerId=24117258
graphic=540
buttonText="Ok"

[activity_bar_fill]
type=Layer
x=447
y=39
width=32
height=32
hide=yes
