[com_0]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[com_1]
type=Text
buttonType=Pause
y=31
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[com_2]
type=Text
buttonType=Close
y=63
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
buttonText="Ok"

[com_3]
type=Sprite
width=57
height=13
layerId=36503557
graphic=302

[com_4]
type=Sprite
x=280
width=57
height=13
layerId=36503557
graphic=301

[button]
type=Layer
x=72
y=1
width=337
height=13

[universe]
type=Sprite
width=57
height=13
layerId=36503560
graphic=302

[progress_bar_layer]
type=Sprite
x=419
width=57
height=13
layerId=36503560
graphic=301

[keybind_layer]
type=Layer
x=2
y=1
width=476
height=13
hide=yes
