[universe]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[chest_1]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[chest_1_model]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[chest_1_click]
type=Model
x=65
y=479
width=32
height=32
model1Id=10232
modelAnim=intro_banner_security_lock
modelZoom=687
modelXAn=120
modelYAn=228

[chest_2]
type=Model
x=679
y=468
width=32
height=32
model1Id=10234
modelZoom=727
modelXAn=105
modelYAn=144

[chest_3]
type=Model
x=10
y=434
width=32
height=32
model1Id=10229
modelZoom=2135
modelXAn=528

[keybind_layer]
type=Model
x=41
y=434
width=32
height=32
model1Id=10229
modelZoom=2135
modelXAn=528

[chest_2_model]
type=Model
x=72
y=434
width=32
height=32
model1Id=10229
modelZoom=2135
modelXAn=528

[chest_2_click]
type=Model
x=103
y=434
width=32
height=32
model1Id=10229
modelZoom=2135
modelXAn=528

[chest_3_model]
type=Model
x=133
y=434
width=32
height=32
model1Id=10229
modelZoom=2135
modelXAn=528

[chest_3_click]
type=Model
x=605
y=434
width=32
height=32
model1Id=10230
modelZoom=2135
modelXAn=528

[com_11]
type=Model
x=636
y=434
width=32
height=32
model1Id=10230
modelZoom=2135
modelXAn=528

[com_12]
type=Model
x=667
y=434
width=32
height=32
model1Id=10230
modelZoom=2135
modelXAn=528

[com_13]
type=Model
x=698
y=434
width=32
height=32
model1Id=10230
modelZoom=2135
modelXAn=528

[com_14]
type=Model
x=728
y=434
width=32
height=32
model1Id=10230
modelZoom=2135
modelXAn=528
