[trh166]
type=Rectangle
x=17
y=25
width=488
height=305
trans=200
fill=yes

[signpost_click]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes
baseOpName=" "

[prizes_layer]
type=Sprite
y=52
width=32
height=242
graphic=821
tiling=yes

[prize_1]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[prize_rarity_graphic_1]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[prize_reward_graphic_1]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[prize_frozen_graphic_1]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[prize_2]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[prize_rarity_graphic_2]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[prize_3]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[prize_rarity_graphic_3]
type=Sprite
x=474
y=29
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[prize_4]
type=Sprite
x=19
y=35
width=474
height=32
graphic=851
tiling=yes

[prize_5]
type=Sprite
x=19
y=270
width=474
height=32
graphic=1074
tiling=yes

[prize_rarity_graphic_5]
type=Sprite
x=19
y=116
width=474
height=32
graphic=1074
tiling=yes

[prize_6]
type=Text
x=21
y=28
width=470
height=18
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Are you sure you want to fight this duel?"

[prize_rarity_graphic_6]
type=Text
x=24
y=56
width=462
height=12
colour=0xBF751D
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Before the duel starts:"

[prize_7]
type=Text
x=24
y=69
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Lots of y's and g's"

[prize_rarity_graphic_7]
type=Text
x=24
y=81
width=462
height=13
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_8]
type=Text
x=24
y=93
width=462
height=13
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_rarity_graphic_8]
type=Text
x=24
y=105
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_9]
type=Text
x=24
y=117
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_rarity_graphic_9]
type=Text
x=24
y=137
width=462
height=11
colour=0xBF751D
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="During the duel:"

[prize_reward_graphic_9]
type=Text
x=24
y=150
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_frozen_graphic_9]
type=Text
x=24
y=174
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_10]
type=Text
x=24
y=162
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[prize_rarity_graphic_10]
type=Text
x=24
y=186
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[com_26]
type=Text
x=24
y=198
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[claim_button]
type=Text
x=24
y=210
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[refresh_layer]
type=Text
x=24
y=222
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[keybind_layer]
type=Text
x=24
y=234
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[warning_confirm_no_click_through]
type=Text
x=24
y=246
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[warning_confirm_layer]
type=Text
x=24
y=258
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[refresh_label]
type=Text
x=24
y=270
width=462
height=11
colour=0xAAAAAA
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="There will be obstacles in the arena."

[refresh_button]
type=Text
x=349
y=303
width=140
height=15
colour=0x77736A
font=494
shadow=yes
text="Waiting for other player..."

[refresh_button_model]
type=Layer
x=168
y=291
width=70
height=24
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[refresh_button_label]
type=Text
width=70
height=24
layerId=41877538
colour=0x00CC00
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Accept"
eventCode=hasOp(1)
opName0="Accept"
onload=92,component.parentId
onmouseover=45,component.parentId,43776
onmouseleave=45,component.parentId,52224

[refresh_button_build]
type=Layer
x=269
y=291
width=70
height=24
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[refresh_button_click]
type=Text
width=70
height=24
layerId=41877540
colour=0xCC0000
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Decline"
eventCode=hasOp(1)
opName0="Decline"
onmouseover=45,component.parentId,11206656
onmouseleave=45,component.parentId,13369344
onclick=29
