[universe]
type=Model
x=-16
y=6
width=69
height=85
model1Id=3548
modelAnim=chathap1
modelZoom=613
modelXAn=17
modelYAn=1783
modelXOf=-12
modelYOf=10
discardedModelField=0
onload=519

[keybind_layer]
type=Model
x=424
y=9
width=73
height=82
model1Id=3548
modelAnim=chatsad1
modelZoom=622
modelXAn=26
modelYAn=240
modelXOf=13
modelYOf=7
discardedModelField=0

[button_head]
type=Text
x=59
y=9
width=80
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Think"
eventCode=hasOp(1)
opName0="Think"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_head_image]
type=Text
x=59
y=50
width=80
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Cry"
eventCode=hasOp(1)
opName0="Cry"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_head_icon]
type=Text
x=139
y=9
width=80
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Laugh"
eventCode=hasOp(1)
opName0="Laugh"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_body]
type=Text
x=139
y=50
width=80
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Dance"
eventCode=hasOp(1)
opName0="Dance"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_body_image]
type=Text
x=219
y=9
width=100
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Climb Rope"
eventCode=hasOp(1)
opName0="Climb Rope"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_body_icon]
type=Text
x=219
y=50
width=100
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Lean on air"
eventCode=hasOp(1)
opName0="Lean on air"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_legs]
type=Text
x=319
y=9
width=100
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Glass Box"
eventCode=hasOp(1)
opName0="Glass Box"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303

[button_legs_image]
type=Text
x=319
y=50
width=100
height=41
colour=0x8686AF
hAlign=Center
vAlign=Center
font=497
shadow=yes
text="Glass Wall"
eventCode=hasOp(1)
opName0="Glass Wall"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,8816303
