[trh168]
type=Layer
width=512
height=334

[foreground_layer]
type=Rectangle
width=512
height=334
layerId=42860544
colour=0x201810
fill=yes

[com_2]
type=Model
x=-79
y=-224
width=661
height=715
layerId=42860544
model1Id=30137
modelZoom=290
modelYOf=75
orthog=yes
discardedModelField=0

[customisation_layer]
type=Text
x=141
y=58
width=251
height=28
colour=0xCCCCCC
hAlign=Center
font=764
shadow=yes
text="Bounty Hunters"

[prize_layer]
type=Text
x=141
y=86
width=251
height=14
colour=0xCCCCCC
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="Players who hunt and kill assigned targets"

[black_prize_layer]
type=Text
x=65
y=113
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="1)"

[black_prize_background]
type=Text
x=65
y=128
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="2)"

[black_prize_scrollbar]
type=Text
x=65
y=143
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="3)"

[com_8]
type=Text
x=65
y=158
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="4)"

[black_bar_dragger]
type=Text
x=65
y=173
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="5)"

[black_prize_content]
type=Text
x=65
y=188
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="6)"

[purple_prize_layer]
type=Text
x=65
y=203
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="7)"

[purple_prize_background]
type=Text
x=65
y=218
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="8)"

[purple_prize_scrollbar]
type=Text
x=65
y=233
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="9)"

[com_14]
type=Text
x=65
y=248
width=9
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="10)"

[purple_bar_dragger]
type=Text
x=83
y=113
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[purple_prize_content]
type=Text
x=83
y=128
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[red_prize_layer]
type=Text
x=83
y=143
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[red_prize_background]
type=Text
x=83
y=158
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[red_prize_scrollbar]
type=Text
x=83
y=173
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[com_20]
type=Text
x=83
y=188
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[red_bar_dragger]
type=Text
x=83
y=203
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[red_prize_content]
type=Text
x=83
y=218
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[orange_prize_layer]
type=Text
x=83
y=233
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[orange_prize_background]
type=Text
x=83
y=248
width=320
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="Nobody yet"

[orange_prize_scrollbar]
type=Text
x=420
y=113
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[com_26]
type=Text
x=420
y=128
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[orange_bar_dragger]
type=Text
x=420
y=143
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[orange_prize_content]
type=Text
x=420
y=158
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[yellow_prize_layer]
type=Text
x=420
y=173
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[yellow_prize_background]
type=Text
x=420
y=188
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[yellow_prize_scrollbar]
type=Text
x=420
y=203
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[com_32]
type=Text
x=420
y=218
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[yellow_bar_dragger]
type=Text
x=420
y=233
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[yellow_prize_content]
type=Text
x=420
y=248
width=50
height=14
colour=0xCCCCCC
font=494
shadow=yes
text="0"

[white_prize_layer]
type=Sprite
x=452
y=53
width=26
height=23
layerId=42860544
graphic=541
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29
