[trh169]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[trh169_keybind_slay]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[trh169_keybind_key]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[com_3]
type=Model
x=418
y=216
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=877,component.parentId

[trh169_slime_model_layer]
type=Model
x=420
y=250
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=878,component.parentId

[trh169_slime_model]
type=Text
x=40
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[trh169_slime_slay_layer]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[trh169_slime_slay_button_click]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[trh169_multiplier_display]
type=Text
x=40
y=148
width=388
height=32
colour=0x242330
font=497
text="A player has started to ask you personal questions that make you feel uncomfortable and you'd rather not answer. What should you do? "

[trh169_multiplier_slot_1]
type=Text
x=40
y=213
width=363
height=32
colour=0x191930
font=497
text="Answer them anyway"

[trh169_multiplier_slot_2]
type=Text
x=40
y=243
width=363
height=32
colour=0x191930
font=497
text="Do not answer any questions and report the player using the Report Abuse button at the bottom of the game screen."

[trh169_multiplier_slot_3]
type=Line
x=420
y=216
width=19
height=1
colour=0x0E0E17
lineWidth=2

[trh169_key_layer]
type=Line
x=420
y=216
height=19
colour=0x0E0E17
lineWidth=2

[trh169_feed_key_click]
type=Line
x=419
y=234
width=19
height=1
colour=0x0E0E17
lineWidth=2

[trh169_heart_layer]
type=Line
x=438
y=216
height=20
colour=0x0E0E17
lineWidth=2

[trh169_feed_hearts_click]
type=Line
x=420
y=250
width=19
height=1
colour=0x0E0E17
lineWidth=2

[trh169_chance_display]
type=Line
x=420
y=250
height=19
colour=0x0E0E17
lineWidth=2

[trh169_main_layer]
type=Line
x=419
y=268
width=19
height=1
colour=0x0E0E17
lineWidth=2

[trh169_title]
type=Line
x=438
y=250
height=20
colour=0x0E0E17
lineWidth=2

[trh169_main_desc]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[trh169_prize_chances_title]
type=Layer
width=513
height=335
hide=yes

[trh169_prize_chances_desc]
type=Rectangle
width=512
height=334
layerId=45613076
trans=160
colour=0x46341D
fill=yes

[trh169_slay_multiplier_title]
type=Sprite
x=32
y=79
width=449
height=230
layerId=45613076
graphic=297
tiling=yes

[trh169_slay_multiplier_desc]
type=Sprite
x=19
y=111
width=25
height=175
layerId=45613076
graphic=821
tiling=yes

[warning_confirm_block_layer]
type=Sprite
x=32
y=79
width=32
height=32
layerId=45613076
graphic=824

[heart_warning_confirm_layer]
type=Sprite
x=451
y=79
width=32
height=32
layerId=45613076
graphic=825
tiling=yes

[first_heart_warning_confirm_layer]
type=Sprite
x=63
y=66
width=391
height=32
layerId=45613076
graphic=820
tiling=yes

[slay_warning_confirm_layer]
type=Sprite
x=463
y=110
width=32
height=175
layerId=45613076
graphic=823
tiling=yes

[key_warning_confirm_layer]
type=Sprite
x=451
y=284
width=32
height=32
layerId=45613076
graphic=827
tiling=yes

[tutorial_layer]
type=Sprite
x=32
y=284
width=32
height=32
layerId=45613076
graphic=826
tiling=yes

[warning_confirm_block_layer_fade]
type=Sprite
x=64
y=296
width=387
height=25
layerId=45613076
graphic=822
tiling=yes

[trh169_rarity_chance_1_text]
type=Layer
x=55
y=94
width=389
height=160
layerId=45613076
hide=yes

[trh169_rarity_chance_2_text]
type=Text
x=16
y=-4
width=32
height=32
layerId=45613087
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[trh169_rarity_chance_3_text]
type=Text
x=1
y=27
width=388
height=105
layerId=45613087
colour=0xA49279
font=497
shadow=yes
text="If you are at all concerned, speak to a parent, friend or adult that you trust."

[trh169_rarity_chance_4_text]
type=Layer
x=55
y=94
width=389
height=160
layerId=45613076
hide=yes

[trh169_rarity_chance_5_text]
type=Text
x=16
y=-4
width=32
height=32
layerId=45613090
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[heart_warning_confirm_content]
type=Text
x=1
y=27
width=390
height=105
layerId=45613090
colour=0xA49279
font=495
shadow=yes
text="If another player makes you feel uncomfortable by asking lots of personal questions, you can report them using the Report Abuse button. You can also use the ignore function, which can be found at the bottom of your game window."

[heart_warning_confirm_background]
type=Layer
x=375
y=255
width=97
height=42
layerId=45613076

[heart_warning_confirm_border]
type=Layer
width=97
height=42
layerId=45613093
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[heart_warning_confirm_info]
type=Rectangle
width=97
height=42
layerId=45613093
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[heart_warning_text_layer]
type=Text
width=97
height=42
layerId=45613093
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
