[universe]
type=Rectangle
x=-2
width=562
height=362
fill=yes

[chest_1_layer]
type=Sprite
x=12
y=80
width=88
height=60
graphic=297

[chest_2_layer]
type=Sprite
x=12
y=140
width=88
height=60
graphic=297

[chest_2_click_layer]
type=Sprite
x=12
y=200
width=88
height=60
graphic=297

[chest_2_title_layer]
type=Sprite
x=12
y=260
width=88
height=60
graphic=297

[chest_1_click_layer]
type=Sprite
x=100
y=20
width=88
height=60
graphic=297

[progress_layer]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[keybind_layer]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[chest_1_title_layer]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[chest_1_model]
type=Sprite
x=188
y=20
width=88
height=60
graphic=297

[chest_1_info_layer]
type=Sprite
x=100
y=260
width=88
height=60
graphic=297

[chest_1_background_layer]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[chest_1_description]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[chest_2_model]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[chest_2_info_layer]
type=Sprite
x=188
y=260
width=88
height=60
graphic=297

[chest_2_background_layer]
type=Sprite
x=276
y=20
width=88
height=60
graphic=297

[chest_2_description]
type=Sprite
x=364
y=80
width=88
height=60
graphic=297

[progress_background_layer]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[progress_layer_main]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[progress_join_layer]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[progress_rewards_layer]
type=Sprite
x=276
y=260
width=88
height=60
graphic=297

[progress_join_bar_layer]
type=Sprite
x=326
y=139
width=88
height=60
graphic=297

[progress_value_bounds_layer]
type=Sprite
x=364
y=20
width=88
height=60
graphic=297

[progress_value_graphic_layer]
type=Sprite
x=364
y=200
width=88
height=60
graphic=297

[chest_1_title_background_layer]
type=Sprite
x=364
y=260
width=88
height=60
graphic=297

[chest_1_title]
type=Sprite
x=412
y=20
width=88
height=60
graphic=297

[chest_2_title_background_layer]
type=Sprite
x=412
y=80
width=88
height=60
graphic=297

[chest_2_title]
type=Sprite
x=412
y=140
width=88
height=60
graphic=297

[com_28]
type=Sprite
x=412
y=200
width=88
height=60
graphic=297

[com_29]
type=Sprite
x=412
y=260
width=88
height=60
graphic=297

[com_30]
type=Sprite
x=-3
y=85
width=36
height=36
graphic=172

[com_31]
type=Sprite
x=-3
y=121
width=36
height=36
graphic=172

[com_32]
type=Sprite
x=-3
y=157
width=36
height=36
graphic=172

[com_33]
type=Sprite
x=-3
y=193
width=36
height=36
graphic=172

[com_34]
type=Sprite
x=-3
y=229
width=36
height=36
graphic=172

[com_35]
type=Sprite
x=-3
y=265
width=36
height=36
graphic=172

[com_36]
type=Sprite
x=479
y=50
width=36
height=36
graphic=315

[com_37]
type=Sprite
x=479
y=86
width=36
height=36
graphic=315

[com_38]
type=Sprite
x=479
y=122
width=36
height=36
graphic=315

[com_39]
type=Sprite
x=479
y=158
width=36
height=36
graphic=315

[com_40]
type=Sprite
x=479
y=194
width=36
height=36
graphic=315

[com_41]
type=Sprite
x=479
y=230
width=36
height=36
graphic=315

[com_42]
type=Sprite
x=479
y=266
width=36
height=36
graphic=315

[com_43]
type=Sprite
x=145
y=299
width=36
height=36
graphic=173

[com_44]
type=Sprite
x=181
y=299
width=36
height=36
graphic=173

[com_45]
type=Sprite
x=217
y=299
width=36
height=36
graphic=173

[com_46]
type=Sprite
x=253
y=299
width=36
height=36
graphic=173

[com_47]
type=Sprite
x=289
y=299
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=325
y=299
width=36
height=36
graphic=173

[com_49]
type=Sprite
x=361
y=299
width=36
height=36
graphic=173

[com_50]
type=Sprite
x=397
y=299
width=36
height=36
graphic=173

[com_51]
type=Sprite
x=433
y=299
width=36
height=36
graphic=173

[com_52]
type=Sprite
x=108
y=5
width=36
height=36
graphic=314

[com_53]
type=Sprite
x=144
y=5
width=36
height=36
graphic=314

[com_54]
type=Sprite
x=180
y=5
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=216
y=5
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=252
y=5
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=288
y=5
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=324
y=5
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=360
y=5
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=396
y=5
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=432
y=5
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=252
y=34
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=475
y=20
width=25
height=30
graphic=311

[com_64]
type=Sprite
x=439
y=5
width=36
height=36
graphic=314

[com_65]
type=Sprite
x=475
y=290
width=25
height=30
graphic=313

[com_66]
type=Sprite
x=439
y=299
width=36
height=36
graphic=173

[com_67]
type=Sprite
x=288
y=34
width=36
height=36
graphic=314

[com_68]
type=Sprite
x=324
y=34
width=36
height=36
graphic=314

[com_69]
type=Sprite
x=360
y=34
width=36
height=36
graphic=314

[com_70]
type=Sprite
x=396
y=34
width=36
height=36
graphic=314

[com_71]
type=Sprite
x=432
y=34
width=36
height=36
graphic=314

[com_72]
type=Sprite
x=325
y=140
width=88
height=60
graphic=297

[com_73]
type=Sprite
x=459
y=34
width=36
height=36
graphic=314

[com_74]
type=Sprite
x=216
y=34
width=36
height=36
graphic=314

[com_75]
type=Sprite
x=180
y=34
width=36
height=36
graphic=314

[com_76]
type=Sprite
x=144
y=34
width=36
height=36
graphic=314

[com_77]
type=Sprite
x=108
y=34
width=36
height=36
graphic=314

[com_78]
type=Text
x=41
y=30
width=417
height=13
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Barbarian Assault Reward Shop"

[com_79]
type=Layer
x=32
y=80
width=435
height=195
scrollHeight=810

[com_80]
type=Model
x=11
y=9
width=49
height=34
layerId=32178255
model1Id=20522
modelZoom=2372

[com_81]
type=Rectangle
buttonType=Button
x=2
y=3
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_82]
type=Text
x=70
y=18
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Attacker level up to 2"

[com_83]
type=Text
x=341
y=6
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="100 Attacker points"
script1=gt,999
script1op1=varp,if1

[com_84]
type=Rectangle
x=338
y=3
width=90
height=46
layerId=32178255
colour=0x333300

[com_85]
type=Text
x=248
y=6
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="+2 bonus damage"
script1=gt,999
script1op1=varp,if1

[com_86]
type=Rectangle
x=244
y=3
width=90
height=46
layerId=32178255
colour=0x333300

[com_87]
type=Sprite
x=12
y=20
width=88
height=60
graphic=297

[com_88]
type=Sprite
x=37
y=5
width=36
height=36
graphic=314

[com_89]
type=Model
x=11
y=59
width=49
height=34
layerId=32178255
model1Id=20526
modelZoom=2500

[com_90]
type=Rectangle
buttonType=Button
x=2
y=53
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_91]
type=Text
x=70
y=68
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Collector level up to 2"

[com_92]
type=Text
x=341
y=56
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="100 Collector points"
script1=gt,999
script1op1=varp,if1

[com_93]
type=Rectangle
x=338
y=53
width=90
height=46
layerId=32178255
colour=0x333300

[com_94]
type=Text
x=248
y=56
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Bag stores 4"
script1=gt,999
script1op1=varp,if1

[com_95]
type=Rectangle
x=244
y=53
width=90
height=46
layerId=32178255
colour=0x333300

[com_96]
type=Model
x=11
y=109
width=49
height=34
layerId=32178255
model1Id=20531
modelZoom=2500

[com_97]
type=Rectangle
buttonType=Button
x=2
y=103
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_98]
type=Text
x=70
y=118
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Defender level up to 2"

[com_99]
type=Text
x=341
y=106
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="100 Defender points"
script1=gt,999
script1op1=varp,if1

[com_100]
type=Rectangle
x=338
y=103
width=90
height=46
layerId=32178255
colour=0x333300

[com_101]
type=Text
x=248
y=106
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Lure range 5"
script1=gt,999
script1op1=varp,if1

[com_102]
type=Rectangle
x=244
y=103
width=90
height=46
layerId=32178255
colour=0x333300

[com_103]
type=Model
x=11
y=159
width=49
height=34
layerId=32178255
model1Id=20538
modelZoom=2500

[com_104]
type=Rectangle
buttonType=Button
x=2
y=153
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_105]
type=Text
x=70
y=168
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Defender level up to 2"

[com_106]
type=Text
x=341
y=156
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="100 Healer points"
script1=gt,999
script1op1=varp,if1

[com_107]
type=Rectangle
x=338
y=153
width=90
height=46
layerId=32178255
colour=0x333300

[com_108]
type=Text
x=248
y=156
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Class 2 healing"
script1=gt,999
script1op1=varp,if1

[com_109]
type=Rectangle
x=244
y=153
width=90
height=46
layerId=32178255
colour=0x333300

[com_110]
type=Model
x=11
y=209
width=49
height=34
layerId=32178255
model1Id=20536
modelZoom=2500

[com_111]
type=Rectangle
buttonType=Button
x=2
y=203
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_112]
type=Text
x=70
y=218
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance Fighter hat"

[com_113]
type=Text
x=341
y=205
width=84
height=42
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="275 points in each role"
script1=gt,999
script1op1=varp,if1

[com_114]
type=Rectangle
x=338
y=203
width=90
height=46
layerId=32178255
colour=0x333300

[com_115]
type=Text
x=248
y=206
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 45"
script1=gt,999
script1op1=varp,if1

[com_116]
type=Rectangle
x=244
y=203
width=90
height=46
layerId=32178255
colour=0x333300

[com_117]
type=Model
x=11
y=259
width=49
height=34
layerId=32178255
model1Id=20550
modelZoom=2500

[com_118]
type=Rectangle
buttonType=Button
x=2
y=253
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_119]
type=Text
x=70
y=268
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance Ranger hat"

[com_120]
type=Text
x=341
y=256
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="275 points in each role"
script1=gt,999
script1op1=varp,if1

[com_121]
type=Rectangle
x=338
y=253
width=90
height=46
layerId=32178255
colour=0x333300

[com_122]
type=Text
x=248
y=256
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 45"
script1=gt,999
script1op1=varp,if1

[com_123]
type=Rectangle
x=244
y=253
width=90
height=46
layerId=32178255
colour=0x333300

[com_124]
type=Model
x=11
y=309
width=49
height=34
layerId=32178255
model1Id=20554
modelZoom=2500

[com_125]
type=Rectangle
buttonType=Button
x=2
y=303
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_126]
type=Text
x=70
y=318
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance Runner hat"

[com_127]
type=Text
x=341
y=306
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="275 points in each role"
script1=gt,999
script1op1=varp,if1

[com_128]
type=Rectangle
x=338
y=303
width=90
height=46
layerId=32178255
colour=0x333300

[com_129]
type=Text
x=248
y=306
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 45"
script1=gt,999
script1op1=varp,if1

[com_130]
type=Rectangle
x=244
y=303
width=90
height=46
layerId=32178255
colour=0x333300

[com_131]
type=Model
x=11
y=359
width=49
height=34
layerId=32178255
model1Id=20547
modelZoom=2500

[com_132]
type=Rectangle
buttonType=Button
x=2
y=353
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_133]
type=Text
x=70
y=368
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance Healer hat"

[com_134]
type=Text
x=341
y=356
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="275 points in each role"
script1=gt,999
script1op1=varp,if1

[com_135]
type=Rectangle
x=338
y=353
width=90
height=46
layerId=32178255
colour=0x333300

[com_136]
type=Text
x=248
y=356
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 45"
script1=gt,999
script1op1=varp,if1

[com_137]
type=Rectangle
x=244
y=353
width=90
height=46
layerId=32178255
colour=0x333300

[com_138]
type=Model
x=11
y=409
width=49
height=34
layerId=32178255
model1Id=20557
modelZoom=2500

[com_139]
type=Rectangle
buttonType=Button
x=2
y=403
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_140]
type=Text
x=70
y=418
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance torso"

[com_141]
type=Text
x=341
y=406
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="375 points in each role"
script1=gt,999
script1op1=varp,if1

[com_142]
type=Rectangle
x=338
y=403
width=90
height=46
layerId=32178255
colour=0x333300

[com_143]
type=Text
x=248
y=406
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 40"
script1=gt,999
script1op1=varp,if1

[com_144]
type=Rectangle
x=244
y=403
width=90
height=46
layerId=32178255
colour=0x333300

[com_145]
type=Model
x=11
y=460
width=49
height=34
layerId=32178255
model1Id=20552
modelZoom=2500

[com_146]
type=Rectangle
buttonType=Button
x=2
y=454
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_147]
type=Text
x=70
y=469
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance skirt"

[com_148]
type=Text
x=341
y=457
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="375 points in each role"
script1=gt,999
script1op1=varp,if1

[com_149]
type=Rectangle
x=338
y=454
width=90
height=46
layerId=32178255
colour=0x333300

[com_150]
type=Text
x=248
y=457
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 40"
script1=gt,999
script1op1=varp,if1

[com_151]
type=Rectangle
x=244
y=454
width=90
height=46
layerId=32178255
colour=0x333300

[com_152]
type=Model
x=11
y=510
width=49
height=34
layerId=32178255
model1Id=20546
modelZoom=2500

[com_153]
type=Rectangle
buttonType=Button
x=2
y=504
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_154]
type=Text
x=70
y=519
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance boots"

[com_155]
type=Text
x=341
y=507
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="100 points in each role"
script1=gt,999
script1op1=varp,if1

[com_156]
type=Rectangle
x=338
y=504
width=90
height=46
layerId=32178255
colour=0x333300

[com_157]
type=Text
x=248
y=507
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 40"
script1=gt,999
script1op1=varp,if1

[com_158]
type=Rectangle
x=244
y=504
width=90
height=46
layerId=32178255
colour=0x333300

[com_159]
type=Model
x=11
y=560
width=49
height=34
layerId=32178255
model1Id=20549
modelZoom=2500

[com_160]
type=Rectangle
buttonType=Button
x=2
y=554
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_161]
type=Text
x=70
y=569
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Penance gloves"

[com_162]
type=Text
x=341
y=557
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="150 points in each role"
script1=gt,999
script1op1=varp,if1

[com_163]
type=Rectangle
x=338
y=554
width=90
height=46
layerId=32178255
colour=0x333300

[com_164]
type=Text
x=248
y=557
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 40"
script1=gt,999
script1op1=varp,if1

[com_165]
type=Rectangle
x=244
y=554
width=90
height=46
layerId=32178255
colour=0x333300

[com_166]
type=Model
x=11
y=611
width=49
height=34
layerId=32178255
model1Id=20537
modelZoom=2500

[com_167]
type=Rectangle
buttonType=Button
x=2
y=605
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_168]
type=Text
x=70
y=620
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Granite body"

[com_169]
type=Text
x=347
y=606
width=68
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="95,000 coins"
script1=gt,999
script1op1=varp,if1

[com_170]
type=Rectangle
x=338
y=605
width=90
height=46
layerId=32178255
colour=0x333300

[com_171]
type=Text
x=248
y=608
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Requires Defence 50"
script1=gt,999
script1op1=varp,if1

[com_172]
type=Rectangle
x=244
y=605
width=90
height=46
layerId=32178255
colour=0x333300

[com_173]
type=Model
x=11
y=661
width=49
height=34
layerId=32178255
model1Id=20535
modelZoom=2500

[com_174]
type=Rectangle
buttonType=Button
x=2
y=655
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_175]
type=Text
x=70
y=670
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Gamble points - low items"

[com_176]
type=Text
x=341
y=658
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="200 points (any role)"
script1=gt,999
script1op1=varp,if1

[com_177]
type=Rectangle
x=338
y=655
width=90
height=46
layerId=32178255
colour=0x333300

[com_178]
type=Text
x=248
y=658
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Receive a random item"
script1=gt,999
script1op1=varp,if1

[com_179]
type=Rectangle
x=244
y=655
width=90
height=46
layerId=32178255
colour=0x333300

[com_180]
type=Model
x=11
y=712
width=49
height=34
layerId=32178255
model1Id=20535
modelZoom=2500

[com_181]
type=Rectangle
buttonType=Button
x=2
y=706
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_182]
type=Text
x=70
y=721
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Gamble points - medium items"

[com_183]
type=Text
x=341
y=709
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="400 points (any role)"
script1=gt,999
script1op1=varp,if1

[com_184]
type=Rectangle
x=338
y=706
width=90
height=46
layerId=32178255
colour=0x333300

[com_185]
type=Text
x=248
y=709
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Receive a random item"
script1=gt,999
script1op1=varp,if1

[com_186]
type=Rectangle
x=244
y=706
width=90
height=46
layerId=32178255
colour=0x333300

[com_187]
type=Model
x=11
y=762
width=49
height=34
layerId=32178255
model1Id=20535
modelZoom=2500

[com_188]
type=Rectangle
buttonType=Button
x=2
y=756
width=238
height=46
layerId=32178255
colour=0x333300
colourOver=0xFFFFFF
eventCode=flag22

[com_189]
type=Text
x=70
y=771
width=162
height=15
layerId=32178255
colour=0xCCCCFF
font=495
shadow=yes
text="Gamble points - high items"

[com_190]
type=Text
x=341
y=759
width=84
height=40
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="500 points (any role)"
script1=gt,999
script1op1=varp,if1

[com_191]
type=Rectangle
x=338
y=756
width=90
height=46
layerId=32178255
colour=0x333300

[com_192]
type=Text
x=248
y=759
width=83
height=40
layerId=32178255
colour=0xCCCCFF
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Receive a random item"
script1=gt,999
script1op1=varp,if1

[com_193]
type=Rectangle
x=244
y=756
width=90
height=46
layerId=32178255
colour=0x333300

[com_194]
type=Sprite
x=72
y=5
width=36
height=36
graphic=314

[com_195]
type=Sprite
x=17
y=34
width=36
height=36
graphic=314

[com_196]
type=Sprite
x=36
y=34
width=36
height=36
graphic=314

[com_197]
type=Sprite
x=72
y=34
width=36
height=36
graphic=314

[com_198]
type=Sprite
x=-3
y=49
width=36
height=36
graphic=172

[com_199]
type=Sprite
x=12
y=20
width=25
height=30
graphic=310

[com_200]
type=Rectangle
x=11
y=-27
width=374
height=47
fill=yes

[com_201]
type=Sprite
x=33
y=275
width=150
height=35
graphic=297

[com_202]
type=Sprite
x=12
y=290
width=25
height=30
graphic=312

[com_203]
type=Sprite
x=73
y=299
width=36
height=36
graphic=173

[com_204]
type=Sprite
x=37
y=299
width=36
height=36
graphic=173

[com_205]
type=Sprite
x=109
y=299
width=36
height=36
graphic=173

[com_206]
type=Rectangle
x=24
y=319
width=123
height=32
fill=yes

[com_207]
type=Sprite
x=471
y=26
width=26
height=23
overLayerId=209
graphic=535

[com_208]
type=Sprite
buttonType=Close
x=4
y=3
width=26
height=23
layerId=32178385
graphic=536
buttonText="Ok"

[com_209]
type=Layer
x=467
y=23
width=32
height=32
hide=yes

[com_210]
type=Text
x=23
y=60
width=122
height=17
colour=0xFF981F
font=495
shadow=yes
text="Select your reward"

[com_211]
type=Rectangle
x=32
y=80
width=435
height=196
colour=0x333333

[com_212]
type=Model
x=448
y=278
width=32
height=32
model1Id=8685
modelZoom=1680
modelXAn=444
modelYAn=2020

[com_213]
type=Text
buttonType=Button
x=397
y=281
width=85
height=30
colour=0xFF981F
colourOver=0xFFB43C
vAlign=Center
font=496
shadow=yes
text=" Accept"
eventCode=flag22

[com_214]
type=Rectangle
x=389
y=278
width=93
height=34
colour=0x333300
colourOver=0xFFFFFF

[com_215]
type=Text
x=25
y=280
width=144
height=16
colour=0xFF981F
font=495
shadow=yes
text="Attacker Honour Points:"

[com_216]
type=Text
x=25
y=296
width=144
height=16
colour=0xFF981F
font=495
shadow=yes
text="Defender Honour Points:"

[com_217]
type=Text
x=207
y=281
width=144
height=16
colour=0xFF981F
font=495
shadow=yes
text="Collector Honour Points:"

[com_218]
type=Text
x=207
y=297
width=144
height=16
colour=0xFF981F
font=495
shadow=yes
text="Healer Honour Points:"

[com_219]
type=Text
x=168
y=280
width=32
height=16
colour=0xFF981F
font=495
shadow=yes
text="999"

[com_220]
type=Text
x=168
y=296
width=32
height=16
colour=0xFF981F
font=495
shadow=yes
text="999"

[com_221]
type=Text
x=349
y=281
width=32
height=16
colour=0xFF981F
font=495
shadow=yes
text="999"

[com_222]
type=Text
x=349
y=297
width=32
height=16
colour=0xFF981F
font=495
shadow=yes
text="999"

[com_223]
type=Text
x=341
y=786
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_224]
type=Text
x=341
y=483
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_225]
type=Text
x=341
y=432
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_226]
type=Text
x=341
y=383
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_227]
type=Text
x=341
y=333
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_228]
type=Text
x=341
y=283
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_229]
type=Text
x=341
y=233
width=84
height=15
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1

[com_230]
type=Text
x=340
y=633
width=84
height=16
layerId=32178255
colour=0xCC0000
colour2=0xFFB43C
hAlign=Center
font=495
shadow=yes
text="Kill Queen"
script1=gt,999
script1op1=varp,if1
