[universe]
type=Sprite
x=491
width=17
height=13
graphic=765

[modifier_layer]
type=Text
x=415
y=-9
width=69
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Wave 1"

[rainbow_dust_layer]
type=Sprite
x=491
y=22
width=17
height=13
graphic=766

[prize_preview_button]
type=Text
x=376
y=11
width=108
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Poison tofu"

[bonus_layer]
type=Sprite
x=489
y=46
width=17
height=13
graphic=767

[rainbow_dust_title]
type=Text
x=438
y=34
width=46
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Tofu"

[rainbow_dust_count_layer]
type=Sprite
x=491
y=67
width=17
height=13
graphic=769

[rainbow_dust_count_icon]
type=Text
x=401
y=57
width=84
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Defender"

[rainbow_dust_count]
type=Rectangle
y=313
width=465
height=21
trans=196
fill=yes

[rainbow_dust_buy_title]
type=Rectangle
y=291
width=465
height=22
trans=128
fill=yes

[rainbow_dust_buy_layer]
type=Text
y=294
width=117
height=14
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Alex"

[rainbow_dust_buy_button]
type=Text
x=29
y=315
width=86
height=15
colour=0xFF981F
font=495
shadow=yes
text="HP 50/78"

[com_12]
type=Layer
x=-7
y=307
width=125
height=40
hide=yes

[rainbow_dust_buy_icon]
type=Model
x=87
width=32
height=32
layerId=31981580
model1Id=20559
modelAnim=barbassault_healer_interface_medic_flash
modelZoom=3000

[modifier_1]
type=Rectangle
y=312
width=117
height=22

[modifier_2]
type=Rectangle
y=291
width=117
height=22

[modifier_3]
type=Layer
x=109
y=307
width=125
height=40
hide=yes

[modifier_4]
type=Model
x=87
width=32
height=32
layerId=31981584
model1Id=20559
modelAnim=barbassault_healer_interface_medic_flash
modelZoom=3000

[modifier_5]
type=Text
x=116
y=294
width=117
height=14
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Tim"

[modifier_6]
type=Text
x=143
y=315
width=90
height=15
colour=0xFF981F
font=495
shadow=yes
text="HP 88/88"

[modifier_7]
type=Rectangle
x=116
y=312
width=117
height=22

[modifier_8]
type=Rectangle
x=116
y=291
width=117
height=22

[modifier_9]
type=Layer
x=225
y=307
width=125
height=40
hide=yes

[modifier_10]
type=Model
x=87
width=32
height=32
layerId=31981590
model1Id=20559
modelAnim=barbassault_healer_interface_medic_flash
modelZoom=3000

[highlight]
type=Text
x=232
y=294
width=117
height=14
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Matt"

[bonus_window]
type=Text
x=259
y=315
width=90
height=15
colour=0xFF981F
font=495
shadow=yes
text="HP 24/54"

[bonus_window_background]
type=Rectangle
x=232
y=312
width=117
height=22

[bonus_window_content]
type=Rectangle
x=232
y=291
width=117
height=22

[bonus_window_overview]
type=Layer
x=341
y=307
width=125
height=40
hide=yes

[bonus_window_extend_button]
type=Model
x=87
width=32
height=32
layerId=31981596
model1Id=20559
modelAnim=barbassault_healer_interface_medic_flash
modelZoom=3000

[modifier_overview_layer]
type=Text
x=348
y=294
width=117
height=14
colour=0xFF981F
hAlign=Center
font=495
shadow=yes
text="Martin"

[modifier_overview_title]
type=Text
x=374
y=315
width=90
height=15
colour=0xFF981F
font=495
shadow=yes
text="HP 61/62"

[modifier_overview_icons]
type=Rectangle
x=348
y=312
width=117
height=22

[modifier_overview_modifier_1_layer]
type=Rectangle
x=348
y=291
width=117
height=22

[modifier_overview_modifier_1]
type=Model
y=310
width=30
height=30
modelZoom=1424

[modifier_overview_icons_panel_2]
type=Model
x=114
y=310
width=30
height=30
modelZoom=1424

[modifier_overview_modifier_4]
type=Model
x=230
y=310
width=30
height=30
modelZoom=1424

[modifier_overview_modifier_5]
type=Model
x=345
y=310
width=30
height=30
modelZoom=1424
