[universe]
type=Sprite
x=492
y=1
width=17
height=13
graphic=765

[background_layer]
type=Text
x=422
y=-9
width=66
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Wave 1"

[com_2]
type=Sprite
x=492
y=28
width=17
height=13
graphic=766

[dragon_head]
type=Text
x=387
y=10
width=102
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Controlled/"

[dragon_tail]
type=Text
x=377
y=25
width=112
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Bronze/Wind"

[main_layer]
type=Sprite
x=492
y=56
width=17
height=13
graphic=767

[promo_prize_button]
type=Text
x=389
y=45
width=100
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Green eggs"

[gem_falling_layer]
type=Sprite
x=492
y=75
width=17
height=13
graphic=770

[probability_layer]
type=Text
x=409
y=66
width=80
height=32
colour=0xFF981F
hAlign=Right
font=764
shadow=yes
text="Collector"
