[right_bar_outline_graphic]
type=Model
x=232
y=144
width=32
height=32
model1Id=15711
modelZoom=272
modelXAn=507
modelYAn=2047

[right_bar_bg]
type=Model
x=221
y=133
width=32
height=32
model1Id=21518
modelZoom=400
modelXAn=339
modelYAn=2044

[left_ladder]
type=Model
x=36
y=54
width=32
height=32
layerId=32833543
model1Id=11135
modelZoom=528
modelXAn=168
modelYAn=2014

[left_bar_outline_graphic]
type=Model
x=116
y=40
width=32
height=32
layerId=32833543
model1Id=21516
modelZoom=576
modelXAn=237
modelYAn=1777

[right_ladder]
type=Model
x=186
y=41
width=32
height=32
layerId=32833543
model1Id=11133
modelZoom=400
modelXAn=234
modelYAn=1582

[right_ladder_bar]
type=Model
x=272
y=52
width=32
height=32
layerId=32833543
model1Id=11132
modelZoom=400
modelXAn=222
modelYAn=1546

[4x_gem_glow]
type=Model
x=365
y=62
width=32
height=32
layerId=32833543
model1Id=11131
modelZoom=400
modelXAn=264
modelYAn=1933

[right_bar_top_bar]
type=Layer
x=30
y=189
width=425
height=110

[right_bar_middle_bar]
type=Text
buttonType=Button
x=53
y=219
width=65
height=50
overLayerId=13
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[right_bar_bottom_bar]
type=Text
buttonType=Button
x=136
y=215
width=53
height=56
overLayerId=16
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[4x_gem_graphic]
type=Text
buttonType=Button
x=211
y=223
width=47
height=47
overLayerId=19
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[3x_gem_glow]
type=Text
buttonType=Button
x=288
y=214
width=61
height=59
overLayerId=22
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[3x_gem_graphic]
type=Text
buttonType=Button
x=387
y=226
width=50
height=45
overLayerId=25
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[2x_gem_glow]
type=Layer
x=25
y=104
width=149
height=52
hide=yes

[2x_gem_graphic]
type=Model
x=57
y=4
width=32
height=32
layerId=32833549
model1Id=10119
modelZoom=1040
modelXAn=492

[ladder_toggle]
type=Text
x=52
y=5
width=32
height=32
layerId=32833549
hAlign=Center
vAlign=Center
font=497
text="Cannon barrel"

[arrow_left]
type=Layer
x=89
y=43
width=148
height=48
hide=yes

[arrow_right]
type=Model
x=57
y=2
width=32
height=32
layerId=32833552
model1Id=10119
modelZoom=1040
modelXAn=492

[switch_button]
type=Text
x=56
y=1
width=32
height=32
layerId=32833552
hAlign=Center
vAlign=Center
font=497
text="Fuse"

[left_bar_bg]
type=Layer
x=158
y=133
width=150
height=47
hide=yes

[left_ladder_bar]
type=Model
x=59
y=3
width=32
height=32
layerId=32833555
model1Id=10119
modelZoom=1040
modelXAn=492

[red_gem_glow]
type=Text
x=57
y=5
width=32
height=32
layerId=32833555
hAlign=Center
vAlign=Center
font=497
text="Ramrod"

[red_gem_graphic]
type=Layer
x=244
y=80
width=150
height=49
hide=yes

[orange_gem_glow]
type=Model
x=58
y=5
width=32
height=32
layerId=32833558
model1Id=10119
modelZoom=1040
modelXAn=492

[orange_gem_graphic]
type=Text
x=57
y=5
width=32
height=32
layerId=32833558
hAlign=Center
vAlign=Center
font=497
text="Cannonball"

[yellow_gem_glow]
type=Layer
x=347
y=124
width=150
height=51
hide=yes

[yellow_gem_graphic]
type=Model
x=57
y=7
width=32
height=32
layerId=32833561
model1Id=10119
modelZoom=1040
modelXAn=492

[left_bar_top_bar]
type=Text
x=56
y=5
width=32
height=32
layerId=32833561
hAlign=Center
vAlign=Center
font=497
text="Cannon cannister"

[left_bar_middle_bar]
type=Sprite
x=462
y=18
width=26
height=23
overLayerId=30
graphic=539

[left_bar_bottom_bar]
type=Sprite
buttonType=Close
x=3
y=5
width=26
height=23
layerId=32833566
graphic=540
buttonText="Ok"

[switch_button_build]
type=Layer
x=459
y=13
width=32
height=32
overLayerId=30
hide=yes
