[universe]
type=Rectangle
x=17
y=25
width=489
height=305
trans=200
fill=yes

[lighting_transmit_layer]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[keybind_layer]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[skip_holder_background]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[skip_text]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[background]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[skip_holder]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,43843591,832
onmouseleave=44,43843591,831
onop=29
onclick=29

[oddments_skip_layer]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[seasonal_oddments_skip_layer]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[seasonal_oddments_skip_button]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[com_11]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[com_12]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[oddments_skip_button]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[bonus_bar_layer]
type=Text
x=222
y=30
width=250
height=16
colour=0xFF981F
hAlign=Center
font=496
shadow=yes
text="Summoning Pouch Creation  "

[bonus_bar_background]
type=Layer
x=22
y=59
width=453
height=257
scrollHeight=1400

[com_16]
type=Layer
x=22
y=59
width=453
height=257

[com_17]
type=Layer
x=474
y=59
width=16
height=257
onload=63,component.parentId,43843599,792,789,790,791,773,788

[bonus_progress_bar_holder]
type=Sprite
x=92
y=29
width=79
height=20
graphic=952
eventCode=hasOp(1)
opName0="Transform Scrolls"
onmouseleave=40,43843607
onmouserepeat=779,component.parentId,43843607,43843607,1,"Swap between creating pouches and scrolls"

[bonus_progress_back_layer]
type=Sprite
x=114
y=30
width=25
height=18
graphic=1192

[bonus_progress_bar]
type=Sprite
x=22
y=29
width=79
height=20
graphic=953

[bonus_progress_mask_layer]
type=Sprite
x=42
y=30
width=25
height=18
graphic=1191

[bonus_progress_bar_text]
type=Layer
width=512
height=334

[blackboard_layer]
type=Layer
width=512
height=334
layerId=43843606
