[splash_screen]
type=Sprite
x=8
y=25
width=497
height=302
layerId=41353219
graphic=297
tiling=yes

[universe]
type=Sprite
x=-12
y=51
width=32
height=252
layerId=41353219
graphic=821
tiling=yes

[lighting_transmit_layer]
type=Sprite
x=1
y=20
width=32
height=32
layerId=41353219
graphic=824

[keybind_layer]
type=Layer
width=512
height=334

[skip_holder_background]
type=Sprite
x=492
y=51
width=32
height=251
layerId=41353219
graphic=823
tiling=yes

[com_5]
type=Sprite
x=33
y=7
width=447
height=34
layerId=41353219
graphic=820
tiling=yes

[com_6]
type=Sprite
x=32
y=314
width=448
height=32
layerId=41353219
graphic=822
tiling=yes

[com_7]
type=Sprite
x=1
y=302
width=32
height=32
layerId=41353219
graphic=826

[currency_total]
type=Sprite
x=480
y=20
width=32
height=32
layerId=41353219
graphic=825

[store_layer]
type=Sprite
x=480
y=302
width=32
height=32
layerId=41353219
graphic=827

[seasonal_oddments_skip_layer]
type=Sprite
x=164
y=26
width=32
height=301
layerId=41353219
graphic=852
tiling=yes

[seasonal_oddments_skip_button]
type=Sprite
x=197
y=37
width=308
height=32
layerId=41353219
graphic=851
tiling=yes

[com_12]
type=Sprite
x=165
y=37
width=32
height=32
layerId=41353219
graphic=853
tiling=yes

[bonus_bar_layer]
type=Sprite
x=162
y=162
width=32
height=32
layerId=41353219
graphic=854
tiling=yes

[bonus_bar_background]
type=Sprite
x=7
y=162
width=155
height=32
layerId=41353219
graphic=851
tiling=yes

[com_15]
type=Sprite
x=8
y=29
width=170
height=32
layerId=41353219
graphic=1074
tiling=yes

[com_16]
type=Sprite
x=8
y=49
width=170
height=32
layerId=41353219
graphic=1074
tiling=yes
baseOpName=" "

[bonus_progress_bar_holder]
type=Sprite
x=8
y=180
width=170
height=32
layerId=41353219
graphic=1074
tiling=yes
baseOpName=" "

[bonus_progress_back_layer]
type=Sprite
x=8
y=200
width=170
height=32
layerId=41353219
graphic=1074
tiling=yes

[bonus_progress_bar]
type=Sprite
x=330
y=53
width=32
height=210
layerId=41353219
graphic=1075
tiling=yes

[bonus_progress_mask_layer]
type=Sprite
x=181
y=277
width=324
height=32
layerId=41353219
graphic=1074
tiling=yes

[bonus_progress_bar_text]
type=Sprite
x=165
y=249
width=32
height=32
layerId=41353219
graphic=853

[blackboard_layer]
type=Sprite
x=197
y=249
width=308
height=32
layerId=41353219
graphic=851
tiling=yes

[ultra_rare_text]
type=Sprite
x=486
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[ultra_rare_list]
type=Text
x=185
y=30
width=75
height=15
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="Opponent:"

[blackboard_item_list]
type=Text
x=245
y=30
width=90
height=15
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="namehhhhhhhh"

[ui_tutorial_highlight]
type=Text
x=335
y=30
width=122
height=15
colour=0xE1981F
hAlign=Right
lineHeight=12
font=495
shadow=yes
text="Opponent's Level:"

[bonus_progress_bar_title]
type=Text
x=459
y=30
width=26
height=15
colour=0xE1981F
lineHeight=12
font=495
shadow=yes
text="126"

[bonus_item_model_layer]
type=Text
x=181
y=294
width=323
height=32
colour=0xAAAAAA
hAlign=Center
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="AAAAAAAAAAAAAAAA"

[skip_holder]
type=Text
x=31
y=8
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Ranged"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use ranged attacks."
onmouseleave=68,41353244,""

[skilling_pack_package]
type=Sprite
x=8
y=8
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use Ranged attacks."
onmouseleave=68,41353244,""

[feathers_package]
type=Text
x=31
y=26
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Melee"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use melee attacks."
onmouseleave=68,41353244,""

[springs_package]
type=Sprite
x=8
y=26
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use melee attacks."
onmouseleave=68,41353244,""

[skill_dummy_package]
type=Text
x=31
y=44
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Magic"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use Magic attacks."
onmouseleave=68,41353244,""

[protean_package]
type=Sprite
x=8
y=44
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to use Magic attacks."
onmouseleave=68,41353244,""

[notepaper_package]
type=Text
x=31
y=62
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Fun Weapons"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Both players will use a 'fun weapon', such as: rubber chicken."
onmouseleave=68,41353244,""

[heartments_package]
type=Sprite
x=8
y=62
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Both players will use a 'fun weapon', such as: rubber chicken."
onmouseleave=68,41353244,""

[dwarven_toolbox_package]
type=Text
x=31
y=80
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Forfeit"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to forfeit the duel."
onmouseleave=68,41353244,""

[main_chest]
type=Sprite
x=8
y=80
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player is allowed to forfeit the duel."
onmouseleave=68,41353244,""

[bonus_layer]
type=Text
x=31
y=98
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Drinks"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use drinks, such as: Strength potion."
onmouseleave=68,41353244,""

[com_40]
type=Sprite
x=8
y=98
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use drinks, such as: strength potion."
onmouseleave=68,41353244,""

[bonus_window]
type=Text
x=31
y=116
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Food"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use food."
onmouseleave=68,41353244,""

[bonus_window_background]
type=Sprite
x=8
y=116
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use food."
onmouseleave=68,41353244,""

[bonus_window_content]
type=Text
x=31
y=134
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Prayer"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use prayers."
onmouseleave=68,41353244,""

[bonus_title_layer]
type=Sprite
x=8
y=134
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use prayer."
onmouseleave=68,41353244,""

[bonus_title]
type=Text
x=31
y=152
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Movement"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Players stand next to each other and aren't allowed to move or use holding spells."
onmouseleave=68,41353244,""

[bonus_option_layer]
type=Sprite
x=8
y=152
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Players stand next to each other and aren't allowed to move or use hold spells."
onmouseleave=68,41353244,""

[bonus_option_1_layer]
type=Text
x=31
y=170
width=100
height=15
layerId=41353272
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Obstacles"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"The duel will be in an arena with obstacles."
onmouseleave=68,41353244,""

[bonus_option_1_background_layer]
type=Sprite
x=8
y=170
width=15
height=15
layerId=41353272
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"The duel will be in an arena with obstacles."
onmouseleave=68,41353244,""

[bonus_option_1_content_layer]
type=Model
layerId=41353219
modelZoom=400
discardedModelField=0

[bonus_option_1_build_layer]
type=Text
x=23
y=18
width=100
height=15
layerId=41353271
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="No Special Attacks"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use special attacks."
onmouseleave=68,41353244,""

[bonus_option_1_title_text]
type=Sprite
y=18
width=15
height=15
layerId=41353271
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use special attacks."
onmouseleave=68,41353244,""

[bonus_option_1_info_text]
type=Text
x=23
width=100
height=15
layerId=41353271
colour=0xBF751D
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Enable Summoning"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Players can summon animals during the duel."
onmouseleave=68,41353244,""

[bonus_option_2_layer]
type=Sprite
width=15
height=15
layerId=41353271
graphic=1134
tiling=yes
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Players can summon animals during the duel."
onmouseleave=68,41353244,""

[bonus_option_3_layer]
type=Layer
x=486
y=52
width=16
height=210

[bonus_option_2_background_layer]
type=Layer
x=8
y=188
width=123
height=33
layerId=41353272

[bonus_option_2_content_layer]
type=Layer
x=344
y=52
width=141
height=210
onvartransmit=567
onvartransmitlist=286

[bonus_option_2_build_layer]
type=Sprite
x=61
y=3
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their head."
onmouseleave=68,41353244,""

[bonus_option_2_title_text]
type=Sprite
x=20
y=42
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their back."
onmouseleave=68,41353244,""

[bonus_option_2_info_text]
type=Sprite
x=61
y=42
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items around their neck."
onmouseleave=68,41353244,""

[bonus_window_frame]
type=Sprite
x=102
y=42
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to have items in their quiver."
onmouseleave=68,41353244,""

[bonus_option_3_background_layer]
type=Sprite
x=5
y=81
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use 2-handed items or items in their right hand."
onmouseleave=68,41353244,""

[bonus_option_3_content_layer]
type=Sprite
x=61
y=81
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their torso."
onmouseleave=68,41353244,""

[bonus_option_3_build_layer]
type=Sprite
x=117
y=81
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to use 2-handed items or items in their left hand."
onmouseleave=68,41353244,""

[bonus_option_3_title_text]
type=Sprite
x=61
y=121
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their legs."
onmouseleave=68,41353244,""

[bonus_option_3_info_text]
type=Sprite
x=117
y=161
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their fingers."
onmouseleave=68,41353244,""

[com_66]
type=Sprite
x=61
y=161
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their feet."
onmouseleave=68,41353244,""

[progress]
type=Sprite
x=5
y=161
width=36
height=36
layerId=41353306
graphic=170
eventCode=hasOp(1)
opName0="Ok"
onmouseover=68,41353244,"Neither player will be allowed to wear items on their hands."
onmouseleave=68,41353244,""

[com_68]
type=Sprite
x=63
y=5
width=32
height=32
layerId=41353306
graphic=156

[seasonal_oddments_store_button]
type=Sprite
x=22
y=44
width=32
height=32
layerId=41353306
graphic=157

[com_70]
type=Sprite
x=63
y=44
width=32
height=32
layerId=41353306
graphic=158

[title]
type=Sprite
x=104
y=44
width=32
height=32
layerId=41353306
graphic=166

[com_72]
type=Sprite
x=7
y=83
width=32
height=32
layerId=41353306
graphic=159

[com_73]
type=Sprite
x=63
y=83
width=32
height=32
layerId=41353306
graphic=161

[sub_grid]
type=Sprite
x=119
y=83
width=32
height=32
layerId=41353306
graphic=162

[teleport]
type=Sprite
x=63
y=123
width=32
height=32
layerId=41353306
graphic=163

[npc_model_1]
type=Sprite
x=119
y=163
width=32
height=32
layerId=41353306
graphic=160

[npc_model_2]
type=Sprite
x=63
y=163
width=32
height=32
layerId=41353306
graphic=165

[dragger_layer]
type=Sprite
x=7
y=163
width=32
height=32
layerId=41353306
graphic=164

[load_layer]
type=Sprite
x=64
y=7
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their head."
onmouseleave=68,41353244,""

[anim_layer]
type=Sprite
x=23
y=46
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their back."
onmouseleave=68,41353244,""

[preview_layer]
type=Sprite
x=64
y=46
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items around their neck."
onmouseleave=68,41353244,""

[com_82]
type=Sprite
x=105
y=46
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to have items in their quiver."
onmouseleave=68,41353244,""

[com_83]
type=Sprite
x=8
y=85
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to use 2-handed items or items in their right hand."
onmouseleave=68,41353244,""

[com_84]
type=Sprite
x=64
y=85
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their torso."
onmouseleave=68,41353244,""

[com_85]
type=Sprite
x=120
y=85
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to use 2-handed items or items in their left hand."
onmouseleave=68,41353244,""

[com_86]
type=Sprite
x=64
y=125
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their legs."
onmouseleave=68,41353244,""

[com_87]
type=Sprite
x=120
y=165
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their fingers."
onmouseleave=68,41353244,""

[com_88]
type=Sprite
x=64
y=165
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their feet."
onmouseleave=68,41353244,""

[com_89]
type=Sprite
x=8
y=165
width=36
height=36
layerId=41353307
graphic=1132
onmouseover=68,41353244,"Neither player will be allowed to wear items on their hands."
onmouseleave=68,41353244,""

[com_90]
type=Layer
x=183
y=56
width=156
height=206
onload=205

[com_91]
type=Layer
x=180
y=52
width=162
height=214
baseOpName=" "

[com_92]
type=Text
x=86
y=29
width=83
height=15
colour=0xB9AA4B
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="0"

[com_93]
type=Text
x=86
y=180
width=83
height=15
colour=0xB9AA46
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="0"

[com_94]
type=Text
x=14
y=30
width=56
height=15
colour=0xE1981F
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Max Stake:"

[com_95]
type=Text
x=14
y=181
width=56
height=15
colour=0xE1981F
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Max Stake:"

[com_96]
type=Text
x=12
y=50
width=134
height=15
colour=0xE1981F
hAlign=Center
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Your stake:"

[com_97]
type=Text
x=12
y=202
width=134
height=15
colour=0xE1981F
hAlign=Center
vAlign=Center
lineHeight=12
font=494
shadow=yes
text="Opponent's stake:"
baseOpName=" "

[com_98]
type=Layer
x=157
y=71
width=16
height=100

[com_99]
type=Layer
x=157
y=224
width=16
height=100

[com_100]
type=Layer
y=1
width=80
height=24
layerId=41353318
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_101]
type=Text
width=80
height=24
layerId=41353318
colour=0x00CC00
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Accept"
onmouseover=45,component.parentId,43776
onmouseleave=45,component.parentId,52224

[com_102]
type=Layer
x=242
y=267
width=80
height=24
eventCode=hasOp(1)
opName0="Accept"

[com_103]
type=Layer
x=23
y=71
width=126
height=100
onload=562
oninvtransmit=99
oninvtransmitlist=134

[com_104]
type=Layer
x=23
y=224
width=126
height=100

[com_105]
type=Sprite
x=127
y=160
width=32
height=32
layerId=41353219
graphic=855

[com_106]
type=Text
x=136
y=171
width=17
height=12
layerId=41353219
colour=0xE6E68C
font=494
shadow=yes
text="VS"

[com_107]
type=Layer
x=362
y=267
width=80
height=24
eventCode=hasOp(1)
opName0="Decline"

[com_108]
type=Layer
width=80
height=24
layerId=41353323
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_109]
type=Text
width=80
height=24
layerId=41353323
colour=0xCC0000
hAlign=Center
vAlign=Center
lineHeight=12
font=495
shadow=yes
text="Decline"
onmouseover=45,component.parentId,11206656
onmouseleave=45,component.parentId,13369344
