[trh62]
type=Rectangle
width=512
height=334
trans=160
colour=0x46341D
fill=yes

[progress_layer]
type=Model
x=12
y=-1
width=487
height=335
model1Id=32409
modelZoom=618
modelXOf=-5
modelYOf=-12
discardedModelField=0

[multiplier_single_x2_glow]
type=Model
x=16
y=5
width=193
height=125
model1Id=32406
modelZoom=115
modelXOf=1
modelYOf=228
discardedModelField=0

[multiplier_single_x2]
type=Text
x=40
y=133
width=175
height=14
colour=0x1E1E2D
font=496
text="Question:"

[multiplier_single_x3_glow]
type=Text
x=215
y=38
width=300
height=65
colour=0x232330
font=645
text="Player Safety Test"

[multiplier_single_x3]
type=Sprite
x=469
y=9
width=26
height=23
graphic=538
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,537
onmouseleave=44,component.parentId,538
onop=29

[multiplier_single_x4_glow]
type=Text
x=40
y=148
width=388
height=32
colour=0x242330
font=497
text="A player that you do not know sends you a private message that is offensive. What should you do?"

[multiplier_single_x4]
type=Text
x=40
y=199
width=363
height=32
colour=0x191930
font=497
text="Nothing. I can't report anything that is said in private chat"

[multiplier_single_x5_glow]
type=Text
x=40
y=236
width=363
height=32
colour=0x191930
font=497
text="Send the player an offensive message back"

[multiplier_single_x5]
type=Text
x=40
y=266
width=363
height=32
colour=0x191930
font=497
text="Use the Report Abuse button to report the player and then add them to my Ignore List"

[multiplier_double_x6_glow]
type=Model
x=423
y=204
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=888,component.parentId

[multiplier_double_x6]
type=Model
x=425
y=238
width=20
height=20
modelZoom=1858
modelXAn=539
modelYAn=1921
modelZAn=206
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=889,component.parentId

[multiplier_double_x8_glow]
type=Model
x=424
y=271
width=20
height=20
modelZoom=2058
modelXAn=431
modelYAn=1912
discardedModelField=0
eventCode=hasOp(1)
opName0="Select"
onmouseover=67,component.parentId,32408
onmouseleave=67,component.parentId,-1
onclick=890,component.parentId

[multiplier_double_x8]
type=Line
x=425
y=204
width=19
height=1
colour=0x0E0E17
lineWidth=2

[multiplier_double_x10_glow]
type=Line
x=425
y=204
height=19
colour=0x0E0E17
lineWidth=2

[multiplier_double_x10]
type=Line
x=424
y=222
width=19
height=1
colour=0x0E0E17
lineWidth=2

[progress_background_layer]
type=Line
x=443
y=204
height=20
colour=0x0E0E17
lineWidth=2

[progress_layer_main]
type=Line
x=425
y=238
width=19
height=1
colour=0x0E0E17
lineWidth=2

[progress_join_layer]
type=Line
x=425
y=238
height=19
colour=0x0E0E17
lineWidth=2

[progress_rewards_layer]
type=Line
x=424
y=256
width=19
height=1
colour=0x0E0E17
lineWidth=2

[progress_join_bar_layer]
type=Line
x=443
y=238
height=20
colour=0x0E0E17
lineWidth=2

[progress_value_bounds_layer]
type=Line
x=426
y=271
width=19
height=1
colour=0x0E0E17
lineWidth=2

[progress_value_graphic_layer]
type=Line
x=426
y=271
height=19
colour=0x0E0E17
lineWidth=2

[com_23]
type=Line
x=425
y=289
width=19
height=1
colour=0x0E0E17
lineWidth=2

[com_24]
type=Line
x=444
y=271
height=20
colour=0x0E0E17
lineWidth=2

[com_25]
type=Line
x=193
y=65
width=248
colour=0x0E0E17

[com_26]
type=Layer
width=513
height=335
hide=yes

[com_27]
type=Rectangle
width=512
height=334
layerId=46202906
trans=160
colour=0x46341D
fill=yes

[com_28]
type=Sprite
x=32
y=79
width=449
height=230
layerId=46202906
graphic=297
tiling=yes

[com_29]
type=Sprite
x=19
y=111
width=25
height=174
layerId=46202906
graphic=821
tiling=yes

[com_30]
type=Sprite
x=32
y=79
width=32
height=32
layerId=46202906
graphic=824

[com_31]
type=Sprite
x=451
y=79
width=32
height=32
layerId=46202906
graphic=825
tiling=yes

[com_32]
type=Sprite
x=63
y=66
width=391
height=32
layerId=46202906
graphic=820
tiling=yes

[com_33]
type=Sprite
x=463
y=110
width=32
height=174
layerId=46202906
graphic=823
tiling=yes

[com_34]
type=Sprite
x=451
y=284
width=32
height=32
layerId=46202906
graphic=827
tiling=yes

[com_35]
type=Sprite
x=32
y=284
width=32
height=32
layerId=46202906
graphic=826
tiling=yes

[com_36]
type=Sprite
x=64
y=296
width=387
height=25
layerId=46202906
graphic=822
tiling=yes

[com_37]
type=Layer
x=55
y=94
width=389
height=160
layerId=46202906
hide=yes

[com_38]
type=Text
x=16
y=-4
width=32
height=32
layerId=46202917
colour=0xCCBE8E
font=645
shadow=yes
text="Correct!"

[com_39]
type=Text
x=1
y=27
width=388
height=105
layerId=46202917
colour=0xA49279
font=497
shadow=yes
text="Correct! You can use the Report Abuse button to report any chat that you find offensive, whether it is said in Public or Private Chat. Adding a player to your Ignore List will prevent them from sending you any further messages."

[com_40]
type=Layer
x=55
y=94
width=389
height=160
layerId=46202906
hide=yes

[com_41]
type=Text
x=16
y=-4
width=32
height=32
layerId=46202920
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_42]
type=Text
x=1
y=27
width=390
height=105
layerId=46202920
colour=0xA49279
font=495
shadow=yes
text="Wrong. You can use the Report Abuse button to report any chat that you find offensive, whether it is said in Public or Private Chat."

[com_43]
type=Layer
x=55
y=94
width=389
height=160
layerId=46202906
hide=yes

[com_44]
type=Text
x=16
y=-4
width=32
height=32
layerId=46202923
colour=0xCCBE8E
font=645
shadow=yes
text="Incorrect!"

[com_45]
type=Text
x=1
y=27
width=390
height=105
layerId=46202923
colour=0xA49279
font=495
shadow=yes
text="Wrong. Retaliating may cause you to get in trouble and be reported yourself!"

[com_46]
type=Layer
x=375
y=255
width=97
height=42
layerId=46202906

[com_47]
type=Layer
width=97
height=42
layerId=46202926
onload=93,component.parentId
onmouseover=97,component.parentId
onmouseleave=93,component.parentId

[com_48]
type=Rectangle
width=97
height=42
layerId=46202926
trans=250
fill=yes
eventCode=hasOp(1)
opName0="Next"

[com_49]
type=Text
width=97
height=42
layerId=46202926
colour=0x909061
hAlign=Center
vAlign=Center
font=645
shadow=yes
text="Next"
