[rarity_glow]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[glow_0]
type=Model
x=56
y=13
width=64
height=64
modelXAn=100
modelYAn=100

[glow_1]
type=Model
x=207
y=13
width=64
height=64
modelZoom=400

[glow_2]
type=Model
x=360
y=13
width=64
height=64
modelZoom=400

[glow_3]
type=Text
buttonType=Pause
x=38
y=16
width=101
height=80
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton

[glow_4]
type=Text
buttonType=Pause
x=189
y=16
width=98
height=79
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton

[glow_5]
type=Text
buttonType=Pause
x=342
y=16
width=97
height=80
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
eventCode=pauseButton

[glow_6]
type=Text
x=8
y=3
width=464
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[glow_7]
type=Sprite
x=447
y=10
width=26
height=23
overLayerId=10
graphic=539

[glow_8]
type=Sprite
buttonType=Close
x=3
y=6
width=26
height=23
layerId=9699338
graphic=540
buttonText="Ok"

[com_10]
type=Layer
x=444
y=4
width=32
height=32
hide=yes
