[juna]
type=Rectangle
width=765
height=503

[zilyana]
type=Sprite
x=132
y=13
width=503
height=47
graphic=436

[com_2]
type=Sprite
x=29
y=74
width=343
height=90
graphic=438

[zilyana_fill]
type=Sprite
x=394
y=74
width=343
height=90
graphic=438

[com_4]
type=Sprite
x=394
y=183
width=343
height=90
graphic=438

[com_5]
type=Sprite
x=29
y=183
width=343
height=90
graphic=438

[com_6]
type=Sprite
buttonType=Button
x=271
y=292
width=229
height=90
graphic=429
buttonText="Play RuneScape"
eventCode=flag22

[com_7]
type=Sprite
x=398
y=78
width=79
height=82
graphic=437

[com_8]
type=Sprite
x=29
y=79
width=69
height=82
graphic=432

[com_9]
type=Sprite
x=398
y=188
width=77
height=82
graphic=431

[com_10]
type=Sprite
x=32
y=188
width=66
height=82
graphic=430

[com_11]
type=Sprite
x=276
y=295
width=66
height=83
graphic=435

[com_12]
type=Text
x=150
y=17
width=467
height=16
colour=0xFF0000
hAlign=Center
font=497
text="Welcome to RuneScape"

[com_13]
type=Text
x=150
y=39
width=467
height=14
hAlign=Center
font=495

[juna_fill]
type=Text
x=97
y=74
width=275
height=90
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495

[com_15]
type=Text
x=478
y=74
width=257
height=49
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Jagex Staff will NEVER email you. We use the message centre on this website instead."

[com_16]
type=Text
x=478
y=122
width=257
height=42
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes

[com_17]
type=Text
x=99
y=183
width=273
height=90
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes

[com_18]
type=Text
x=344
y=292
width=156
height=90
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="CLICK HERE TO PLAY"

[com_19]
type=Text
x=476
y=183
width=261
height=90
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=495
shadow=yes

[com_20]
type=Tooltip
x=394
y=74
width=343
height=90
text="To view your messages:<br>1) Logout and return to the frontpage of this website.<br>2) Choose 'Read your messages from Jagex'."

[com_21]
type=Tooltip
x=393
y=183
width=344
height=90

[com_22]
type=Tooltip
x=29
y=74
width=343
height=90
