[fog]
type=Rectangle
x=17
y=25
width=489
height=305
trans=200
fill=yes

[black]
type=Sprite
x=14
y=25
width=485
height=300
graphic=297
tiling=yes

[base]
type=Sprite
y=53
width=32
height=241
graphic=821
tiling=yes

[ghosthead]
type=Sprite
x=13
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=480
y=51
width=32
height=243
graphic=823
tiling=yes

[com_5]
type=Sprite
x=44
y=7
width=424
height=34
graphic=820
tiling=yes

[com_6]
type=Sprite
x=45
y=306
width=423
height=32
graphic=822
tiling=yes

[com_7]
type=Sprite
x=474
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,10682375,832
onmouseleave=44,10682375,831
onop=29
onclick=29

[com_8]
type=Sprite
x=13
y=294
width=32
height=32
graphic=826

[com_9]
type=Sprite
x=468
y=20
width=32
height=32
graphic=825

[com_10]
type=Sprite
x=468
y=294
width=32
height=32
graphic=827

[com_11]
type=Sprite
x=24
y=35
width=465
height=32
graphic=828
tiling=yes

[com_12]
type=Sprite
x=13
y=37
width=32
height=32
graphic=829

[com_13]
type=Sprite
x=468
y=37
width=32
height=32
graphic=830

[com_14]
type=Sprite
x=182
y=29
width=97
height=20
graphic=953
eventCode=hasOp(1)
opName0="Assignment"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Manage Slayer assignments",25,150

[com_15]
type=Sprite
x=22
y=29
width=94
height=20
graphic=953
eventCode=hasOp(1)
opName0="Buy"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Buy Slayer equipment",25,150

[com_16]
type=Sprite
x=99
y=29
width=99
height=20
graphic=952

[com_17]
type=Rectangle
x=75
y=78
width=200
height=31
colour=0x484038
fill=yes

[com_18]
type=Text
x=198
y=87
width=53
height=13
colour=0xD7B011
hAlign=Center
font=496
shadow=yes
text="XXXX"

[com_19]
type=Text
x=35
y=33
width=21
height=10
colour=0xBF751D
font=494
shadow=yes
text="Buy"

[com_20]
type=Text
x=112
y=34
width=34
height=9
colour=0xFF981F
font=494
shadow=yes
text="Learn"

[com_21]
type=Text
x=193
y=34
width=65
height=10
colour=0xBF751D
font=494
shadow=yes
text="Assignment"

[com_22]
type=Text
x=118
y=138
width=181
height=17
colour=0xD7B011
font=495
shadow=yes
text="Learn how to fletch broad arrows/bolts"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to fletch broad arrows (with 52 Fletching) and bolts (with 55 Fletching).",25,150

[com_23]
type=Text
x=118
y=191
width=166
height=16
colour=0xD7B011
font=495
shadow=yes
text="Learn how to craft rings of slaying"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to craft rings of slaying (with 75 Crafting).",25,150

[com_24]
type=Text
x=118
y=241
width=214
height=16
colour=0xD7B011
font=495
shadow=yes
text="Learn how to craft Slayer helmets"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to combine the nosepeg, earmuffs, spiny helm, facemask and uncharged black mask (with 55 Crafting).",25,150

[com_25]
type=Text
x=118
y=159
width=81
height=13
colour=0xBF751D
font=494
shadow=yes
text="(Already learned)"

[com_26]
type=Text
x=118
y=211
width=81
height=12
colour=0xBF751D
font=494
shadow=yes
text="(Already learned)"

[com_27]
type=Text
x=118
y=261
width=82
height=13
colour=0xBF751D
font=494
shadow=yes
text="(Already learned)"

[com_28]
type=Text
x=95
y=87
width=79
height=11
colour=0xD7B011
font=496
shadow=yes
text="Current points ="

[com_29]
type=Text
x=366
y=138
width=64
height=13
colour=0xFF981F
font=495
shadow=yes
text="300 points"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to fletch broad arrows (with 52 Fletching) and bolts (with 55 Fletching).",25,150

[com_30]
type=Text
x=366
y=191
width=64
height=16
colour=0xFF9800
font=495
shadow=yes
text="300 points"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to craft rings of slaying (with 75 Crafting).",25,150

[com_31]
type=Text
x=366
y=241
width=64
height=14
colour=0xFF981F
font=495
shadow=yes
text="400 points"
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to combine the nosepeg, earmuffs, spiny helm, facemask and uncharged black mask (with 55 Crafting).",25,150

[com_32]
type=Model
x=74
y=231
width=29
height=53
model1Id=34411
modelZoom=528
modelXAn=162
modelYOf=14
discardedModelField=0
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to combine the nosepeg, earmuffs, spiny helm, facemask and uncharged black mask (with 55 Crafting).",25,150

[com_33]
type=Model
x=70
y=141
width=34
height=30
model1Id=34408
modelZoom=400
modelXAn=420
modelYAn=1774
modelXOf=-2
modelYOf=-1
discardedModelField=0
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to fletch broad arrows (with 52 Fletching) and bolts (with 55 Fletching).",25,150

[com_34]
type=Model
x=69
y=140
width=41
height=33
model1Id=5049
modelZoom=784
modelXAn=228
modelYAn=216
modelYOf=2
discardedModelField=0

[com_35]
type=Model
x=71
y=191
width=38
height=35
model1Id=34414
modelZoom=400
modelXAn=255
modelYAn=210
modelXOf=-3
modelYOf=8
discardedModelField=0
eventCode=hasOp(1)
opName0="Buy Ability"
onmouseleave=40,10682411
onmouserepeat=38,component.parentId,10682411,"Learn how to craft rings of slaying (with 75 Crafting).",25,150

[com_36]
type=Sprite
x=68
y=71
width=32
height=32
graphic=824

[com_37]
type=Sprite
x=246
y=71
width=32
height=32
graphic=825

[com_38]
type=Sprite
x=68
y=84
width=32
height=32
graphic=826

[com_39]
type=Sprite
x=246
y=84
width=32
height=32
graphic=827

[com_40]
type=Sprite
x=100
y=58
width=155
height=32
graphic=820

[com_41]
type=Sprite
x=99
y=96
width=152
height=32
graphic=822

[com_42]
type=Layer
width=512
height=334

[com_43]
type=Layer
width=512
height=334
layerId=10682410
