[gt_text]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[com_1]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[progress_1]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[gatestone_button]
type=Model
x=71
y=484
width=32
height=32
model1Id=10224
modelZoom=632
modelYAn=1954

[finished_recharge]
type=Model
x=670
y=484
width=32
height=32
model1Id=10224
modelZoom=632
modelYAn=122
