[com_0]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[main_progress_bar]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[saradomin_progress_bar]
type=Text
x=190
y=411
width=400
height=14
colour=0x800000
hAlign=Center
font=495
text="Message of the week"

[godless_progress_bar]
type=Model
x=52
y=428
width=32
height=32
model1Id=10233
modelZoom=1000
modelXAn=380
modelYAn=48

[armadyl_progress_bar]
type=Model
x=653
y=444
width=32
height=32
model1Id=11212
modelZoom=1556
modelXAn=425
modelYAn=1906

[zamorak_progress_bar]
type=Model
x=688
y=418
width=32
height=32
model1Id=11211
modelZoom=1316
modelXAn=653
modelYAn=2047

[com_6]
type=Model
x=13
y=438
width=32
height=32
model1Id=11210
modelZoom=1572
modelXAn=605
modelYAn=1897

[time_panel]
type=Model
x=91
y=446
width=32
height=32
model1Id=11211
modelZoom=1700
modelXAn=521
modelYAn=117

[com_8]
type=Model
x=723
y=444
width=32
height=32
model1Id=10233
modelZoom=1512
modelXAn=407
modelYAn=108
