[content]
type=Sprite
x=105
y=41
width=319
height=203
graphic=297
tiling=yes
baseOpName=" "

[page1]
type=Sprite
x=85
y=65
width=32
height=154
graphic=821
tiling=yes

[page1_slot1]
type=Sprite
x=98
y=34
width=32
height=32
graphic=824

[page1_slot2]
type=Sprite
x=411
y=65
width=23
height=155
graphic=823
tiling=yes

[page1_slot3]
type=Sprite
x=129
y=21
width=270
height=26
graphic=820
tiling=yes
baseOpName=" "

[page2]
type=Sprite
x=130
y=231
width=269
height=24
graphic=822
tiling=yes
baseOpName=" "

[page3]
type=Sprite
x=98
y=219
width=32
height=32
graphic=826

[page2_slot1]
type=Sprite
x=399
y=34
width=32
height=32
graphic=825

[page2_slot2]
type=Sprite
x=399
y=219
width=32
height=32
graphic=827

[page2_slot3]
type=Sprite
x=109
y=48
width=311
height=26
graphic=828
tiling=yes

[main_container]
type=Sprite
x=98
y=50
width=32
height=32
graphic=829

[page2_slot1_window_background]
type=Sprite
x=399
y=50
width=32
height=32
graphic=830

[page2_slot1_window_content]
type=Sprite
x=405
y=43
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,37945356,832
onmouseleave=44,37945356,831
onop=29

[page2_slot1_window_border]
type=Text
x=211
y=41
width=108
height=21
colour=0xFF981F
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Warning!"

[page2_slot1_click]
type=Text
x=108
y=68
width=315
height=87
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Are you sure you want to climb down?"

[page2_slot2_window_background]
type=Sprite
x=191
y=42
width=19
height=19
graphic=940

[page2_slot2_window_content]
type=Sprite
x=319
y=42
width=19
height=19
graphic=940

[page2_slot2_window_border]
type=Text
x=108
y=157
width=315
height=27
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Yes - I know that it may be <br> dangerous down there"
eventCode=hasOp(1)
opName0="Yes"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[page2_slot2_click]
type=Text
x=108
y=189
width=315
height=15
colour=0xFF0000
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="No thanks - I don't want to die"
eventCode=hasOp(1)
opName0="No"
onmouseover=167,component.parentId,65280
onmouseleave=167,component.parentId,16711680

[page2_slot3_window_background]
type=Text
x=1
y=2
width=315
height=15
layerId=37945365
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[page2_slot3_window_content]
type=Sprite
x=2
width=19
height=19
layerId=37945365
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,37945364,4
onclick=163,37945364
onvartransmitlist=1045

[page2_slot3_window_border]
type=Layer
x=107
y=220
width=270
height=20
hide=yes
