[tut3_layer]
type=Layer
x=9
y=5
width=447
height=81
scrollHeight=200

[scroll_bar]
type=Text
width=447
height=17
layerId=27590656
colour=0x0000FF
hAlign=Center
font=497
text="Line1"

[layer_1]
type=Text
y=16
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line2"

[tut3_a]
type=Text
y=32
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line3"

[tut3_b]
type=Text
y=48
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line4"

[tut3_c]
type=Text
y=64
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line5"

[tut3_d]
type=Text
y=80
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line6"

[tut3_e]
type=Text
y=96
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line7"

[tut3_f]
type=Text
y=112
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line8"

[tut3_g]
type=Text
y=128
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line9"

[tut3_h]
type=Text
y=144
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line10"

[tut3_i]
type=Text
y=160
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line11"

[tut3_j]
type=Text
y=176
width=447
height=17
layerId=27590656
hAlign=Center
font=497
text="Line12"
