[tutorial_progress_overlay]
type=Rectangle
x=35
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,1
script1op1=varp,tutorial_progress_overlay

[com_1]
type=Rectangle
x=56
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,2
script1op1=varp,tutorial_progress_overlay

[com_2]
type=Rectangle
x=77
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,3
script1op1=varp,tutorial_progress_overlay

[com_3]
type=Rectangle
x=98
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,4
script1op1=varp,tutorial_progress_overlay

[tutorial_rtfm_layer]
type=Rectangle
x=119
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,5
script1op1=varp,tutorial_progress_overlay

[tutorial_progress0]
type=Rectangle
x=140
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,6
script1op1=varp,tutorial_progress_overlay

[tutorial_progress1]
type=Rectangle
x=161
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,7
script1op1=varp,tutorial_progress_overlay

[tutorial_progress2]
type=Rectangle
x=182
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,8
script1op1=varp,tutorial_progress_overlay

[tutorial_progress3]
type=Rectangle
x=203
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,9
script1op1=varp,tutorial_progress_overlay

[tutorial_progress4]
type=Rectangle
x=224
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,10
script1op1=varp,tutorial_progress_overlay

[tutorial_progress5]
type=Rectangle
x=245
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,11
script1op1=varp,tutorial_progress_overlay

[tutorial_progress6]
type=Rectangle
x=266
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,12
script1op1=varp,tutorial_progress_overlay

[tutorial_progress7]
type=Rectangle
x=287
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,13
script1op1=varp,tutorial_progress_overlay

[tutorial_progress8]
type=Rectangle
x=308
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,14
script1op1=varp,tutorial_progress_overlay

[tutorial_progress9]
type=Rectangle
x=329
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,15
script1op1=varp,tutorial_progress_overlay

[tutorial_progress10]
type=Rectangle
x=350
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,16
script1op1=varp,tutorial_progress_overlay

[tutorial_progress11]
type=Rectangle
x=371
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,17
script1op1=varp,tutorial_progress_overlay

[tutorial_progress12]
type=Rectangle
x=392
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,18
script1op1=varp,tutorial_progress_overlay

[tutorial_progress13]
type=Rectangle
x=413
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,19
script1op1=varp,tutorial_progress_overlay

[tutorial_progress14]
type=Rectangle
x=434
y=25
width=21
height=10
layerId=24313876
trans=128
colour2=0x8080FF
fill=yes
script1=gt,20
script1op1=varp,tutorial_progress_overlay

[tutorial_progress15]
type=Layer
x=34
y=275
width=504
height=66

[tutorial_progress16]
type=Text
x=4
y=297
width=61
height=43
colour=0x888888
hAlign=Right
font=495
shadow=yes
text="% Done"

[tutorial_progress17]
type=Text
x=158
y=313
width=199
height=14
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
text="Tutorial Island Progress"

[tutorial_progress18]
type=Rectangle
x=69
y=300
width=421
height=10
trans=128
colour=0x808080

[tutorial_progress19]
type=Layer
x=2
y=206
width=512
height=128

[layer_1]
type=Model
x=228
y=29
width=32
height=32
layerId=24313880
model1Id=5201
modelAnim=pvpa_dungeon_palantir_idle
modelZoom=1500

[com_26]
type=Text
x=56
y=41
width=389
height=49
layerId=24313880
hAlign=Center
font=496
text="Please follow the instructions below to advance in the tutorial."
