[tut2_title]
type=Text
y=5
width=480
height=17
colour=0x0000FF
hAlign=Center
font=497
text="Title"

[tut2_a]
type=Text
y=26
width=480
height=17
hAlign=Center
font=497
text="Line1"

[tut2_b]
type=Text
y=42
width=480
height=17
hAlign=Center
font=497
text="Line2"

[tut2_c]
type=Text
y=58
width=480
height=17
hAlign=Center
font=497
text="Line3"

[tut2_d]
type=Text
y=74
width=480
height=17
hAlign=Center
font=497
text="Line4"
