[info_layer_bg]
type=Model
x=369
y=424
width=32
height=32
model1Id=9630
modelZoom=692
modelXAn=512

[key_count_background_bg]
type=Model
x=37
y=413
width=32
height=32
model1Id=9628
modelAnim=banner_bacteria_moves
modelZoom=645
modelXAn=352
modelYAn=139

[key_count_text]
type=Text
x=190
y=431
width=400
height=40
hAlign=Center
vAlign=Center
font=497

[key_count_graphic]
type=Model
x=106
y=423
width=32
height=32
model1Id=9628
modelAnim=banner_bacteria_moves
modelZoom=808
modelXAn=154
modelYAn=1509

[background_graphic]
type=Model
x=72
y=455
width=32
height=32
model1Id=9628
modelAnim=banner_bacteria_moves
modelZoom=1143
modelXAn=152
modelYAn=1905

[background_layer]
type=Model
x=648
y=451
width=32
height=32
model1Id=9628
modelAnim=banner_bacteria_moves
modelZoom=752
modelXAn=1931
modelYAn=90

[border_layer]
type=Model
x=694
y=444
width=32
height=32
model1Id=9629
modelAnim=banner_virus_moves
modelZoom=1118
modelXAn=136
modelYAn=64

[content_layer]
type=Text
x=190
y=408
width=400
height=19
colour=0x800000
hAlign=Center
font=495
text="Message of the week"
