[rebuild_timer]
type=Text
y=-1
width=480
height=17
colour=0x800000
hAlign=Center
font=497
text="Select an Option"

[divider_graphic_2]
type=Text
buttonType=Pause
y=31
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option1"
eventCode=pauseButton

[divider_graphic]
type=Text
buttonType=Pause
y=63
width=480
height=17
colourOver=0xFFFFFF
hAlign=Center
font=497
text="option2"
eventCode=pauseButton

[player_name]
type=Sprite
width=57
height=13
layerId=14942213
graphic=302

[highlight_rect]
type=Sprite
x=280
width=57
height=13
layerId=14942213
graphic=301

[inputarea]
type=Layer
x=72
y=1
width=337
height=13

[scrollarea]
type=Sprite
width=57
height=13
layerId=14942216
graphic=302

[scrollbar]
type=Sprite
x=419
width=57
height=13
layerId=14942216
graphic=301

[tooltip]
type=Layer
x=2
y=1
width=476
height=13
hide=yes
