[com_0]
type=Sprite
x=80
y=202
width=36
height=36
graphic=177

[com_1]
type=Sprite
x=65
y=202
width=36
height=36
graphic=177

[com_2]
type=Sprite
x=39
y=202
width=36
height=36
graphic=177

[com_3]
type=Sprite
x=97
y=202
width=36
height=36
graphic=178

[com_4]
type=Sprite
x=119
y=202
width=36
height=36
graphic=178

[tzhaar_fightpit_orb_centre]
type=Text
clientCode=205
x=43
y=207
width=110
height=25
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Stop Viewing"
targetVerb="Exit"
eventCode=hasOp(1)
opName0="Exit"
onmouseover=45,component.parentId,16776960
onmouseleave=45,component.parentId,16777215

[tzhaar_fightpit_orb_n]
type=Model
x=81
y=99
width=28
height=28
model1Id=9298
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
discardedModelField=0

[tzhaar_fightpit_orb_e]
type=Model
x=25
y=46
width=28
height=28
model1Id=9298
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
discardedModelField=0

[tzhaar_fightpit_orb_s]
type=Model
x=137
y=46
width=28
height=28
model1Id=9298
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
discardedModelField=0

[tzhaar_fightpit_orb_w]
type=Model
x=25
y=152
width=28
height=28
model1Id=9298
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
discardedModelField=0

[bluebronze_tab_layer]
type=Model
x=137
y=152
width=28
height=28
model1Id=9298
modelAnim=tzhaar_viewing_orb
modelZoom=2280
modelXAn=166
modelYAn=63
discardedModelField=0

[bluebronze_tab_on_layer]
type=Text
x=60
y=119
width=69
height=14
colour=0xFF981F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Centre"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[bluebronze_tab_over_layer]
type=Text
x=5
y=66
width=95
height=13
colour=0xFF981F
font=495
shadow=yes
text="North-West"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[bluebronze_tab_selected_layer]
type=Text
x=102
y=66
width=82
height=14
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="North-East"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[bluebronze_tab_hit_layer]
type=Text
x=98
y=173
width=85
height=14
colour=0xFF981F
hAlign=Right
font=495
shadow=yes
text="South-East"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623

[tzhaar_fightpit_orb_off]
type=Text
x=4
y=172
width=89
height=15
colour=0xFF981F
font=495
shadow=yes
text="South-West"
targetVerb="View"
eventCode=hasOp(1)
opName0="View"
onmouseover=45,component.parentId,16777215
onmouseleave=45,component.parentId,16750623
