[button_layer]
type=Sprite
x=48
y=100
width=91
height=36
graphic=184
tiling=yes

[icon]
type=Sprite
x=22
y=100
width=36
height=36
graphic=177

[button]
type=Sprite
x=130
y=100
width=36
height=36
graphic=178

[build]
type=Text
clientCode=205
x=24
y=103
width=141
height=31
colour=0xFFFFFF
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Unmorph"
eventCode=hasOp(1)
opName0="Ok"
onmouseover=45,component.parentId,16711680
onmouseleave=45,component.parentId,16777215
