[universe]
type=Model
x=241
y=160
width=32
height=32
model1Id=4238
modelZoom=151
modelXAn=509
modelYAn=1536

[com_1]
type=Model
x=235
y=150
width=32
height=32
model1Id=4237
modelZoom=137
modelXAn=493
modelYAn=355

[com_2]
type=Model
x=231
y=159
width=32
height=32
model1Id=4239
modelZoom=150
modelXAn=474
modelYAn=32

[com_3]
type=Model
x=232
y=157
width=32
height=32
model1Id=4239
modelZoom=99
modelXAn=474
modelYAn=32

[com_4]
type=Model
x=236
y=159
width=32
height=32
model1Id=4239
modelZoom=307
modelXAn=474
modelYAn=32

[com_5]
type=Model
x=236
y=159
width=32
height=32
model1Id=4240
modelZoom=197
modelXAn=159
modelYAn=57

[juglid]
type=Layer
x=110
y=38
width=335
height=259

[com_7]
type=Model
x=233
y=148
width=32
height=32
model1Id=4240
modelZoom=127
modelXAn=159
modelYAn=57

[com_8]
type=Model
x=74
y=-5
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=0

[com_9]
type=Model
x=37
y=57
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=353
modelYAn=1927

[com_10]
type=Model
x=29
y=131
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=328
modelYAn=1916

[com_11]
type=Model
x=55
y=199
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=311
modelYAn=1735

[com_12]
type=Model
x=301
y=117
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=361
modelYAn=1883

[com_13]
type=Model
x=271
y=193
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=360
modelYAn=1905

[com_14]
type=Model
x=241
y=-11
width=32
height=32
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=380
modelYAn=1870

[dot1]
type=Model
x=292
y=39
width=25
height=45
layerId=24641542
model1Id=2484
modelZoom=306
modelXAn=351
modelYAn=1844

[dot2]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=18
graphic=539

[close]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=24641554
graphic=540
buttonText="Ok"

[com_18]
type=Layer
x=470
y=9
width=32
height=32
hide=yes
