[tbw_bar]
type=Model
x=372
y=14
width=32
height=32
model1Id=8854
modelZoom=400
modelXAn=247
modelYAn=2030

[tbw_dial]
type=Model
x=456
y=19
width=32
height=32
model1Id=8855
modelZoom=537
modelXAn=236
modelYAn=2046

[vill_com_layer]
type=Text
x=131
y=2
width=29
height=12
layerId=24707075
colour=0xFFFF00
font=494
shadow=yes
text="%1 %"
script1op1=varbit,favour_percentage

[content_layer_1]
type=Layer
x=328
y=17
width=165
height=20

[tbw_village_score]
type=Text
x=6
y=2
width=116
height=12
layerId=24707075
colour=0xFFFF00
hAlign=Center
vAlign=Center
font=494
shadow=yes
text="<col=00ff00>* <col=ffff00>Tai Bwo Favour <col=00ff00>*"
