[vm_digsite_coin_saranthium_model]
type=Rectangle
width=512
height=334
fill=yes

[vm_digsite_coin_senntisten_model]
type=Sprite
x=483
y=7
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29

[vm_digsite_arrow_heads_model]
type=Text
x=235
y=3
width=275
height=329
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
text="Text"

[vm_digsite_jewllery_model]
type=Model
x=101
y=133
width=32
height=32
modelZoom=1484
modelXAn=302
modelYAn=1834
discardedModelField=0

[vm_timeline_no_display_model]
type=Model
x=101
y=133
width=32
height=32
modelZoom=1484
modelXAn=302
modelYAn=1834
discardedModelField=0

[vm_digsite_pottery_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_pottery_before_digsite_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_symbol_ancient_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_symbol_old_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_tablet_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_talisman_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_vase_model]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_text]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_display_number]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[vm_digsite_display_num]
type=Model
x=103
y=245
width=32
height=32
modelZoom=461
modelXAn=197
modelYAn=1694
discardedModelField=0

[mainmodal_window]
type=Text
x=34
y=306
width=120
height=16
colour=0xFF981F
hAlign=Right
font=496
shadow=yes
text="Display number"

[mainmodal_window_background]
type=Text
x=159
y=306
width=32
height=16
colour=0xFF981F
font=496
shadow=yes
text="03"
