[vm_nathis_battle_tortoise]
type=Rectangle
width=512
height=334
fill=yes

[vm_nathis_camel]
type=Text
width=270
height=304
layerId=34930714
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
text="Text"

[vm_nathis_dragon_01]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2448
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_dragon_02]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_dragon_03]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2704
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_kalphite_queen]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2704
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_lizard]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2704
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_leech]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2448
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_penguine]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1936
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_mole]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_monkey]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_seaslugs_2]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_seaslugs_3]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_seaslugs_4]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_seaslugs_1]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_snail]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_snake]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_terrorbird]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_wyvern]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_wrong_01]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1424
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_wrong_02]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1936
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_wrong_03]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1936
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_number]
type=Model
x=103
y=224
width=32
height=32
modelZoom=1936
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_display_num]
type=Model
x=103
y=224
width=32
height=32
modelZoom=2576
modelXAn=166
modelYAn=1795
discardedModelField=0

[vm_nathis_creature_text]
type=Text
x=34
y=306
width=120
height=16
colour=0xFF981F
hAlign=Right
font=496
shadow=yes
text="Display number"

[vm_nathis_quiz_text]
type=Text
x=159
y=306
width=32
height=16
colour=0xFF981F
font=496
shadow=yes
text="03"

[vm_nathis_text]
type=Layer
x=238
y=26
width=270
height=304
hide=yes

[vm_nathis_question]
type=Layer
x=238
y=26
width=270
height=304
hide=yes

[vm_nathis_answer_01]
type=Text
x=31
y=73
width=212
height=50
layerId=34930715
colour=0xFF981F
font=495
shadow=yes
text="Text"

[vm_nathis_answer_02]
type=Text
x=31
y=126
width=212
height=32
layerId=34930715
colour=0xFF981F
font=495
shadow=yes
text="Text"
eventCode=hasOp(1)
opName0="Ok"

[vm_nathis_answer_03]
type=Text
x=31
y=162
width=212
height=32
layerId=34930715
colour=0xFF981F
font=495
shadow=yes
text="Text"
eventCode=hasOp(1)
opName0="Ok"

[mainmodal_window]
type=Text
x=31
y=198
width=212
height=32
layerId=34930715
colour=0xFF981F
font=495
shadow=yes
text="Text"
eventCode=hasOp(1)
opName0="Ok"

[mainmodal_window_background]
type=Sprite
x=483
y=7
width=26
height=23
graphic=539
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,540
onmouseleave=44,component.parentId,539
onop=29
