[com_0]
type=Model
x=224
y=166
width=32
height=32
model1Id=11365
modelZoom=541
modelXAn=513
modelYAn=3

[com_1]
type=Text
x=47
y=29
width=148
height=16
colour=0xFF6600
hAlign=Center
font=496
shadow=yes
text="Attack Dummy Key"

[com_2]
type=Model
x=83
y=278
width=32
height=32
model1Id=15364
modelZoom=682
modelYAn=1813

[com_3]
type=Model
x=231
y=89
width=32
height=32
model1Id=15366
modelZoom=682
modelXAn=11
modelYAn=1875

[com_4]
type=Model
x=228
y=189
width=32
height=32
model1Id=15365
modelZoom=682
modelXAn=22
modelYAn=1887

[com_5]
type=Model
x=214
y=276
width=32
height=32
model1Id=15363
modelZoom=682
modelYAn=1830

[com_6]
type=Model
x=363
y=96
width=32
height=32
model1Id=15367
modelZoom=764
modelXAn=2012
modelYAn=1864

[com_7]
type=Model
x=363
y=179
width=32
height=32
model1Id=15370
modelZoom=682
modelYAn=1864

[com_8]
type=Model
x=356
y=271
width=32
height=32
model1Id=15369
modelZoom=682
modelYAn=1836

[com_9]
type=Text
x=93
y=280
width=90
height=15
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Accurate"

[com_10]
type=Text
x=269
y=86
width=55
height=13
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Slash"

[com_11]
type=Text
x=248
y=183
width=79
height=14
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Aggressive"

[com_12]
type=Text
x=248
y=280
width=79
height=15
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Controlled"

[com_13]
type=Text
x=413
y=86
width=51
height=15
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Crush"

[com_14]
type=Text
x=409
y=183
width=55
height=16
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Stab"

[com_15]
type=Text
x=381
y=280
width=84
height=14
colour=0xFFFFFF
hAlign=Right
font=495
shadow=yes
text="Defensive "

[com_16]
type=Text
x=53
y=46
width=138
height=194
colour=0xFFFF00
hAlign=Center
font=495
shadow=yes
text="<br><br>These are the types<br>of attack to use on<br>each of the dummies<br>that pop up from<br>the floor.<br><br>You will find that you<br>need more than one<br>weapon to be<br>successful."

[close]
type=Sprite
x=450
y=23
width=26
height=23
overLayerId=19
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=2
y=3
width=26
height=23
layerId=27000851
graphic=540
buttonText="Ok"

[com_19]
type=Layer
x=448
y=20
width=32
height=32
hide=yes
