[title]
type=Rectangle
x=11
y=22
width=165
height=232
colour=0x333333
fill=yes

[warguild_stab]
type=Rectangle
x=17
y=27
width=155
height=53
colour=0x666666
fill=yes

[aif_bronze_button_text]
type=Rectangle
x=17
y=83
width=155
height=53
colour=0x666666
fill=yes

[warguild_blunt]
type=Rectangle
x=16
y=139
width=155
height=53
colour=0x666666
fill=yes

[aif_bronze_button_text_1]
type=Rectangle
x=16
y=196
width=155
height=53
colour=0x666666
fill=yes

[warguild_slash]
type=Model
x=29
y=59
width=32
height=32
model1Id=15376
modelAnim=warguild_projspin
modelZoom=426
modelXAn=39
modelYAn=1676

[aif_bronze_button_text_2]
type=Model
x=26
y=108
width=32
height=32
model1Id=15373
modelAnim=warguild_projspin
modelZoom=426
modelXAn=11
modelYAn=1619

[warguild_magic]
type=Model
x=29
y=166
width=32
height=32
model1Id=15375
modelAnim=warguild_projspin
modelZoom=426
modelYAn=1950

[aif_bronze_button_text_3]
type=Model
x=25
y=225
width=32
height=32
model1Id=15374
modelAnim=warguild_projspin
modelZoom=400
modelYAn=1573

[stab_model]
type=Text
buttonType=Button
x=17
y=27
width=153
height=53
colour=0xFF6633
colourOver=0xFFFF00
hAlign=Right
vAlign=Center
font=495
shadow=yes
text="Use stab defence"
buttonText="Ok"
eventCode=flag22
script1=eq,1
script1op1=varbit,varbit_2247

[blunt_model]
type=Text
buttonType=Button
x=17
y=83
width=153
height=53
colour=0xFF6600
colourOver=0xFFFF00
hAlign=Right
vAlign=Center
font=495
shadow=yes
text="Use blunt defence"
buttonText="Ok"
eventCode=flag22
script1=eq,2
script1op1=varbit,varbit_2247

[slash_model]
type=Text
buttonType=Button
x=17
y=139
width=153
height=53
colour=0xFF6600
colourOver=0xFFFF00
hAlign=Right
vAlign=Center
font=495
shadow=yes
text=" Use slash defence"
buttonText="Ok"
eventCode=flag22
script1=eq,3
script1op1=varbit,varbit_2247

[magic_model]
type=Text
buttonType=Button
x=17
y=196
width=153
height=53
colour=0xFF6600
colourOver=0xFFFF00
hAlign=Right
vAlign=Center
font=495
shadow=yes
text=" Use magic defence"
buttonText="Ok"
eventCode=flag22
script1=eq,0
script1op1=varbit,varbit_2247

[com_13]
type=Text
x=19
y=4
width=151
height=14
colour=0xFFFFFF
hAlign=Center
font=496
shadow=yes
text="Defence style."
