[com_0]
type=Model
x=230
y=122
width=32
height=32
model1Id=5120
modelZoom=177
modelXAn=526
modelYAn=515

[waa_time]
type=Model
x=343
y=200
width=32
height=32
model1Id=5122
modelZoom=184
modelXAn=493
modelYAn=527

[com_2]
type=Model
x=149
y=197
width=32
height=32
model1Id=5122
modelZoom=184
modelXAn=513
modelYAn=514

[waa_xp]
type=Text
x=124
y=155
width=64
height=18
colour=0xFEA924
hAlign=Center
font=497
shadow=yes
text="Time"

[3x1_positive_single]
type=Text
x=138
y=176
width=38
height=18
colour=0xF4BE68
hAlign=Center
font=495
shadow=yes
text="4:17"

[mainmodal_window]
type=Text
x=341
y=177
width=23
height=14
colour=0xF4BE68
hAlign=Center
font=495
shadow=yes
text="300"

[mainmodal_window_background]
type=Text
x=298
y=155
width=108
height=17
colour=0xFEA924
hAlign=Center
font=497
shadow=yes
text="XP score"

[mainmodal_window_content]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=9
graphic=539

[content_layer]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=24838153
graphic=540
buttonText="Ok"

[mainmodal_window_border]
type=Layer
x=469
y=9
width=32
height=32
hide=yes
