[wilderness_layer]
type=Sprite
x=15
width=25
height=25
layerId=24969218
trans=100
graphic=1184

[wilderness_layer_bounty]
type=Text
x=1
y=26
width=52
height=6
layerId=24969218
colour=0xE1981D
hAlign=Center
font=495
shadow=yes
ontimer=54

[com_2]
type=Layer
x=457
y=256
width=53
height=41
