[warn3]
type=Rectangle
x=78
y=28
width=373
height=243
trans=200
fill=yes

[wildy_pvp_toggle_button]
type=Sprite
x=76
y=24
width=361
height=236
graphic=297
tiling=yes

[com_2]
type=Sprite
x=57
y=53
width=32
height=202
graphic=821
tiling=yes

[com_3]
type=Sprite
x=70
y=20
width=32
height=32
graphic=824

[com_4]
type=Sprite
x=424
y=51
width=32
height=205
graphic=823
tiling=yes

[com_5]
type=Sprite
x=83
y=7
width=349
height=34
graphic=820
tiling=yes

[resizable_3x3_button_layer_1]
type=Sprite
x=86
y=245
width=341
height=32
graphic=822
tiling=yes

[resizable_3x3_button_layer]
type=Sprite
x=70
y=233
width=32
height=32
graphic=826

[enter_button]
type=Sprite
x=412
y=20
width=32
height=32
graphic=825

[cancel_button]
type=Sprite
x=412
y=233
width=32
height=32
graphic=827

[enter]
type=Sprite
x=80
y=35
width=358
height=32
graphic=828
tiling=yes
baseOpName=" "

[com_11]
type=Sprite
x=70
y=37
width=32
height=32
graphic=829

[exit]
type=Sprite
x=412
y=37
width=32
height=32
graphic=830

[cws_warning_layer]
type=Sprite
x=417
y=30
width=16
height=16
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onclick=29

[content_layer]
type=Model
x=411
y=58
width=22
height=26
model1Id=24206
modelZoom=6000
modelYOf=1
orthog=yes
discardedModelField=0

[mainmodal_window]
type=Model
x=83
y=60
width=22
height=26
model1Id=24207
modelZoom=6000
modelYOf=1
orthog=yes
discardedModelField=0

[mainmodal_window_background]
type=Model
x=83
y=227
width=22
height=26
model1Id=24207
modelZoom=6000
modelYOf=1
discardedModelField=0

[mainmodal_window_content]
type=Model
x=411
y=228
width=22
height=26
model1Id=24206
modelZoom=6000
modelYOf=1
discardedModelField=0

[mainmodal_window_border]
type=Sprite
x=144
y=200
width=90
height=56
graphic=833
eventCode=hasOp(1)
opName0="Ok"
onmouseover=44,component.parentId,834
onmouseleave=44,component.parentId,833

[mainmodal_window_close_button]
type=Sprite
x=275
y=200
width=90
height=56
graphic=833
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,834
onmouseleave=44,component.parentId,833
onclick=29

[resizable_3x3_button_on_layer]
type=Sprite
x=196
y=28
width=19
height=19
graphic=940

[resizable_3x3_button_over_layer]
type=Sprite
x=302
y=28
width=19
height=19
graphic=940

[resizable_3x3_button_hit_layer]
type=Text
x=186
y=30
width=146
height=19
colour=0xE19900
hAlign=Center
font=496
shadow=yes
text="WARNING!"

[resizable_3x3_button_selected_layer]
type=Text
x=107
y=50
width=300
height=144
colour=0xFF7D1F
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="If you go any further you will enter the Wilderness. This is a very dangerous area, haunted by ghosts! The further north you go, the more dangerous it becomes."

[resizable_3x3_button_active_layer]
type=Text
x=144
y=201
width=90
height=55
colour=0xC8C8C8
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Enter Wilderness"

[resizable_3x3_button_disabled_layer]
type=Text
x=274
y=200
width=91
height=56
colour=0xC8C8C8
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Don't go"

[resizable_3x3_button_on_layer_1]
type=Text
x=28
y=3
width=227
height=15
layerId=25034780
colour=0xFF981F
vAlign=Center
font=495
shadow=yes
text="Don't ask me this again"

[resizable_3x3_button_over_layer_1]
type=Sprite
x=3
y=1
width=19
height=19
layerId=25034780
graphic=941
eventCode=hasOp(1)
opName0="Off/On"
onvartransmit=164,25034779,7
onclick=163,25034779
onvartransmitlist=1045

[resizable_3x3_button_hit_layer_1]
type=Layer
x=159
y=175
width=255
height=20
hide=yes
