[com_0]
type=Rectangle
width=541
height=373
trans=24
colour=0x53340C
fill=yes

[win05_paintbench]
type=Model
x=236
y=319
width=32
height=32
model1Id=10557
modelZoom=340
modelXAn=249

[win05_redpaint]
type=Model
x=236
y=319
width=32
height=32
model1Id=10425
modelZoom=340
modelXAn=249

[win05_redpaint_hi]
type=Model
x=7
y=205
width=32
height=32
layerId=25100294
model1Id=10426
modelZoom=340
modelXAn=249

[win05_brushes]
type=Model
x=236
y=319
width=32
height=32
model1Id=10422
modelZoom=340
modelXAn=249

[win05_bauble]
type=Model
x=297
y=217
width=32
height=32
model1Id=10416
modelZoom=400
modelXAn=228
modelYAn=2047

[win05_red]
type=Layer
x=229
y=114
width=123
height=279
hide=yes

[win05_yellowpaint]
type=Model
x=236
y=319
width=32
height=32
model1Id=10427
modelZoom=340
modelXAn=249

[win05_yellowpaint_hi]
type=Model
x=90
y=212
width=32
height=32
layerId=25100297
model1Id=10428
modelZoom=340
modelXAn=249

[win05_yellow]
type=Layer
x=146
y=107
width=206
height=341
hide=yes

[win05_greenpaint]
type=Model
x=236
y=319
width=32
height=32
model1Id=10414
modelZoom=340
modelXAn=249

[win05_greenpaint_hi]
type=Model
x=178
y=201
width=32
height=32
layerId=25100300
model1Id=10415
modelZoom=340
modelXAn=249

[win05_green]
type=Layer
x=58
y=118
width=294
height=288
hide=yes

[win05_pinkpaint]
type=Model
x=236
y=319
width=32
height=32
model1Id=10423
modelZoom=340
modelXAn=249

[win05_pinkpaint_hi]
type=Model
x=194
y=145
width=32
height=32
layerId=25100303
model1Id=10424
modelZoom=340
modelXAn=249

[win05_pink]
type=Layer
x=42
y=174
width=310
height=267
hide=yes

[win05_bluepaint]
type=Model
x=236
y=319
width=32
height=32
model1Id=10412
modelZoom=340
modelXAn=249

[win05_bluepaint_hi]
type=Model
x=119
y=164
width=32
height=32
layerId=25100306
model1Id=10413
modelZoom=340
modelXAn=249

[win05_blue]
type=Layer
x=117
y=155
width=235
height=266
hide=yes

[win05_y_hotspot1]
type=Rectangle
buttonType=Button
x=154
y=115
width=65
height=56
trans=255
colour=0xFFFF00
buttonText="Paint yellow"
eventCode=flag22

[win05_y_hotspot2]
type=Rectangle
buttonType=Button
x=188
y=171
width=31
height=31
trans=255
colour=0xFFFF00
buttonText="Paint yellow"
eventCode=flag22

[win05_r_hotspot]
type=Rectangle
buttonType=Button
x=236
y=118
width=45
height=68
trans=255
colour=0xFF0000
buttonText="Paint red"
eventCode=flag22

[win05_g_hotspot]
type=Rectangle
buttonType=Button
x=65
y=125
width=62
height=54
trans=255
colour=0x00FF00
buttonText="Paint green"
eventCode=flag22

[win05_p_hotspot]
type=Rectangle
buttonType=Button
x=71
y=181
width=46
height=52
trans=255
colour=0xFF00FF
buttonText="Paint pink"
eventCode=flag22

[win05_o_hotspot]
type=Rectangle
buttonType=Button
x=127
y=175
width=61
height=49
trans=255
colour=0x0000FF
buttonText="Paint blue"
eventCode=flag22

[com_25]
type=Model
x=234
y=47
width=32
height=32
model1Id=10094
modelZoom=656
modelXAn=524

[win05_instructions]
type=Text
x=189
y=54
width=122
height=19
colour=0xFFFF00
hAlign=Center
font=497
text="Pick a colour"

[win05_bauble_red]
type=Model
x=68
y=103
width=32
height=32
layerId=25100294
model1Id=10420
modelZoom=400
modelXAn=228
modelYAn=2047

[win05_bauble_yellow]
type=Model
x=151
y=110
width=32
height=32
layerId=25100297
model1Id=10421
modelZoom=400
modelXAn=228
modelYAn=2047

[win05_bauble_green]
type=Model
x=239
y=99
width=32
height=32
layerId=25100300
model1Id=10418
modelZoom=400
modelXAn=228
modelYAn=2047

[win05_bauble_pink]
type=Model
x=255
y=43
width=32
height=32
layerId=25100303
model1Id=10419
modelZoom=400
modelXAn=228
modelYAn=2047

[win05_bauble_blue]
type=Model
x=180
y=62
width=32
height=32
layerId=25100306
model1Id=10417
modelZoom=400
modelXAn=228
modelYAn=2047

[close_button]
type=Sprite
x=473
y=13
width=26
height=23
overLayerId=34
graphic=539

[com_33]
type=Sprite
buttonType=Close
x=2
y=3
width=26
height=23
layerId=25100322
graphic=540
buttonText="Ok"

[com_34]
type=Layer
x=471
y=10
width=32
height=32
hide=yes
