[com_0]
type=Model
x=213
y=167
width=32
height=32
model1Id=11365
modelZoom=569
modelXAn=490

[love_emote_button]
type=Text
x=69
y=54
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[le_resting]
type=Text
x=70
y=78
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[com_3]
type=Text
x=70
y=102
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[com_4]
type=Text
x=70
y=125
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[love_weapon_button]
type=Text
x=70
y=147
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[love_pendant_button]
type=Text
x=70
y=169
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[hate_emote_button]
type=Text
x=70
y=191
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[hate_weapon_button]
type=Text
x=70
y=214
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[hate_pendant_button]
type=Text
x=70
y=235
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[random_choccy_button]
type=Text
x=70
y=256
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[lp_resting]
type=Text
x=70
y=278
width=340
height=16
colour=0x362407
hAlign=Center
font=497

[lp_rollover]
type=Sprite
x=414
y=44
width=26
height=23
overLayerId=14
graphic=537

[love_pendant_icon]
type=Sprite
buttonType=Close
x=3
y=4
width=26
height=23
layerId=14549006
overLayerId=14
graphic=538
buttonText="Ok"

[wof33_valentines_shop]
type=Layer
x=411
y=40
width=32
height=32
hide=yes
