[base]
type=Text
x=21
y=13
width=441
height=17
hAlign=Center
font=497
text="Line1"

[gold_window_layer]
type=Text
x=21
y=45
width=442
height=18
hAlign=Center
font=497
text="Line2"
