[scrolling_layer]
type=Sprite
x=90
y=61
width=88
height=60
graphic=297

[found]
type=Sprite
x=91
y=80
width=88
height=60
graphic=297

[not_found]
type=Sprite
x=89
y=140
width=88
height=60
graphic=297

[found_build]
type=Sprite
x=87
y=200
width=88
height=60
graphic=297

[found_icon]
type=Sprite
x=90
y=213
width=88
height=60
graphic=297

[found_click]
type=Sprite
x=100
y=63
width=88
height=60
graphic=297

[mainmodal_window]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[mainmodal_window_background]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[mainmodal_window_content]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[tabbed_content_panel]
type=Sprite
x=188
y=64
width=88
height=60
graphic=297

[mainmodal_window_border]
type=Sprite
x=102
y=216
width=88
height=60
graphic=297

[mainmodal_window_close_button]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[display]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[background]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[content_container]
type=Sprite
x=276
y=60
width=88
height=60
graphic=297

[tab_contents]
type=Sprite
x=188
y=213
width=88
height=60
graphic=297

[scroll_bar]
type=Sprite
x=326
y=82
width=88
height=60
graphic=297

[tabs]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[tab_1]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[tab_2]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[not_build]
type=Sprite
x=276
y=213
width=88
height=60
graphic=297

[not_icon]
type=Sprite
x=326
y=142
width=88
height=60
graphic=297

[not_click]
type=Sprite
x=325
y=62
width=88
height=60
graphic=297

[com_23]
type=Sprite
x=325
y=200
width=88
height=60
graphic=297

[com_24]
type=Sprite
x=325
y=214
width=88
height=60
graphic=297

[com_25]
type=Sprite
x=85
y=58
width=25
height=30
graphic=310

[com_26]
type=Sprite
x=70
y=88
width=36
height=36
graphic=172

[com_27]
type=Sprite
x=70
y=124
width=36
height=36
graphic=172

[com_28]
type=Sprite
x=70
y=160
width=36
height=36
graphic=172

[com_29]
type=Sprite
x=70
y=196
width=36
height=36
graphic=172

[com_30]
type=Sprite
x=70
y=224
width=36
height=36
graphic=172

[com_31]
type=Sprite
x=394
y=84
width=36
height=36
graphic=315

[com_32]
type=Sprite
x=394
y=106
width=36
height=36
graphic=315

[com_33]
type=Sprite
x=394
y=140
width=36
height=36
graphic=315

[com_34]
type=Sprite
x=394
y=176
width=36
height=36
graphic=315

[com_35]
type=Sprite
x=394
y=212
width=36
height=36
graphic=315

[com_36]
type=Sprite
x=110
y=257
width=36
height=36
graphic=173

[com_37]
type=Sprite
x=146
y=257
width=36
height=36
graphic=173

[com_38]
type=Sprite
x=182
y=257
width=36
height=36
graphic=173

[com_39]
type=Sprite
x=218
y=257
width=36
height=36
graphic=173

[com_40]
type=Sprite
x=254
y=257
width=36
height=36
graphic=173

[com_41]
type=Sprite
x=290
y=257
width=36
height=36
graphic=173

[com_42]
type=Sprite
x=326
y=257
width=36
height=36
graphic=173

[com_43]
type=Sprite
x=362
y=257
width=36
height=36
graphic=173

[com_44]
type=Sprite
x=218
y=43
width=36
height=36
graphic=314

[com_45]
type=Sprite
x=254
y=43
width=36
height=36
graphic=314

[com_46]
type=Sprite
x=289
y=43
width=36
height=36
graphic=314

[com_47]
type=Sprite
x=325
y=43
width=36
height=36
graphic=314

[com_48]
type=Sprite
x=357
y=43
width=36
height=36
graphic=314

[com_49]
type=Sprite
x=264
y=69
width=36
height=36
graphic=314

[com_50]
type=Sprite
x=182
y=43
width=36
height=36
graphic=314

[com_51]
type=Sprite
x=85
y=248
width=25
height=30
graphic=312

[com_52]
type=Sprite
x=390
y=58
width=25
height=30
graphic=311

[com_53]
type=Sprite
x=390
y=248
width=25
height=30
graphic=313

[com_54]
type=Sprite
x=300
y=69
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=336
y=69
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=372
y=69
width=36
height=36
graphic=314

[com_57]
type=Sprite
x=377
y=69
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=228
y=69
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=192
y=69
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=156
y=69
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=89
y=69
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=123
y=69
width=36
height=36
graphic=314

[com_63]
type=Sprite
x=110
y=43
width=36
height=36
graphic=314

[com_64]
type=Sprite
x=146
y=43
width=36
height=36
graphic=314

[com_65]
type=Layer
x=306
y=197
width=100
height=43

[com_66]
type=Text
x=97
y=65
width=309
height=16
colour=0xFFAA44
font=496
shadow=yes
text="Runeversi: Options"

[com_67]
type=Rectangle
buttonType=Button
x=6
y=6
width=89
height=31
layerId=2949185
fill=yes
buttonText="Challenge player"
eventCode=flag22

[com_68]
type=Text
x=6
y=6
width=88
height=32
layerId=2949185
colour=0x008000
colourOver=0x00FF00
hAlign=Center
vAlign=Center
font=495
shadow=yes
text="Challenge"

[com_69]
type=Sprite
x=21
y=-15
width=36
height=36
layerId=2949185
graphic=314

[com_70]
type=Sprite
width=25
height=30
layerId=2949185
graphic=310

[com_71]
type=Sprite
x=75
width=25
height=30
layerId=2949185
graphic=311

[com_72]
type=Sprite
y=13
width=25
height=30
layerId=2949185
graphic=312

[com_73]
type=Sprite
x=75
y=13
width=25
height=30
layerId=2949185
graphic=313

[com_74]
type=Sprite
x=21
y=22
width=36
height=36
layerId=2949185
graphic=173

[com_75]
type=Text
buttonType=Select
x=327
y=134
width=80
height=14
colour=0xAA8822
font=495
shadow=yes
text="30 seconds"
buttonText="Select option"
eventCode=flag22

[com_76]
type=Sprite
buttonType=Select
x=306
y=134
width=14
height=15
graphic=180
graphic2=181
buttonText="Select option"
eventCode=flag22
script1=eq,1
script1op1=varbit,boardgames_timepermove

[com_77]
type=Layer
x=296
y=94
width=114
height=95

[com_78]
type=Sprite
buttonType=Select
x=10
y=60
width=14
height=15
layerId=2949197
graphic=180
graphic2=181
buttonText="Select option"
eventCode=flag22
script1=eq,2
script1op1=varbit,boardgames_timepermove

[com_79]
type=Sprite
buttonType=Select
x=10
y=80
width=14
height=15
layerId=2949197
graphic=180
graphic2=181
buttonText="Select option"
eventCode=flag22
script1=eq,3
script1op1=varbit,boardgames_timepermove

[com_80]
type=Sprite
buttonType=Select
x=10
y=20
width=14
height=15
layerId=2949197
graphic=180
graphic2=181
buttonText="Select option"
eventCode=flag22
script1=eq,0
script1op1=varbit,boardgames_timepermove

[com_81]
type=Text
buttonType=Select
x=32
y=60
width=80
height=14
layerId=2949197
colour=0xAA8822
font=495
shadow=yes
text="1 minute"
buttonText="Select option"
eventCode=flag22

[com_82]
type=Text
buttonType=Select
x=32
y=80
width=80
height=14
layerId=2949197
colour=0xAA8822
font=495
shadow=yes
text="2 minutes"
buttonText="Select option"
eventCode=flag22

[com_83]
type=Text
buttonType=Select
x=32
y=20
width=80
height=14
layerId=2949197
colour=0xAA8822
font=495
shadow=yes
text="15 seconds"
buttonText="Select option"
eventCode=flag22

[com_84]
type=Text
x=11
y=1
width=103
height=14
layerId=2949197
colour=0xAA8822
font=495
shadow=yes
text="Time per move:"

[com_85]
type=Layer
x=97
y=89
width=191
height=179

[com_86]
type=Sprite
buttonType=Select
x=10
y=34
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,1
script1op1=varbit,boardgames_piece

[com_87]
type=Model
buttonType=Select
x=29
y=25
width=34
height=32
layerId=2949205
model1Id=2399
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_88]
type=Text
x=10
y=3
width=138
height=13
layerId=2949205
colour=0xAA8822
font=495
shadow=yes
text="Choose piece:"

[com_89]
type=Model
buttonType=Select
x=29
y=65
width=34
height=32
layerId=2949205
model1Id=2652
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_90]
type=Model
buttonType=Select
x=29
y=105
width=34
height=32
layerId=2949205
model1Id=2737
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_91]
type=Model
buttonType=Select
x=29
y=145
width=34
height=32
layerId=2949205
model1Id=2405
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_92]
type=Model
buttonType=Select
x=92
y=25
width=34
height=32
layerId=2949205
model1Id=2481
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_93]
type=Model
buttonType=Select
x=92
y=65
width=34
height=32
layerId=2949205
model1Id=2340
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_94]
type=Model
buttonType=Select
x=92
y=105
width=34
height=32
layerId=2949205
model1Id=2734
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_95]
type=Model
buttonType=Select
x=92
y=145
width=34
height=32
layerId=2949205
model1Id=2707
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_96]
type=Model
buttonType=Select
x=155
y=24
width=34
height=32
layerId=2949205
model1Id=2382
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_97]
type=Model
buttonType=Select
x=155
y=65
width=34
height=31
layerId=2949205
model1Id=2735
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_98]
type=Model
buttonType=Select
x=155
y=105
width=34
height=32
layerId=2949205
model1Id=2665
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_99]
type=Model
buttonType=Select
x=155
y=145
width=34
height=32
layerId=2949205
model1Id=2434
modelZoom=622
modelXAn=452
modelYAn=1024
buttonText="Select piece"
eventCode=flag22

[com_100]
type=Sprite
buttonType=Select
x=10
y=74
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,2
script1op1=varbit,boardgames_piece

[com_101]
type=Sprite
buttonType=Select
x=10
y=114
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,3
script1op1=varbit,boardgames_piece

[com_102]
type=Sprite
buttonType=Select
x=10
y=154
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,4
script1op1=varbit,boardgames_piece

[com_103]
type=Sprite
buttonType=Select
x=73
y=34
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,5
script1op1=varbit,boardgames_piece

[com_104]
type=Sprite
buttonType=Select
x=73
y=74
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,6
script1op1=varbit,boardgames_piece

[com_105]
type=Sprite
buttonType=Select
x=73
y=114
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,7
script1op1=varbit,boardgames_piece

[com_106]
type=Sprite
buttonType=Select
x=73
y=154
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,8
script1op1=varbit,boardgames_piece

[com_107]
type=Sprite
buttonType=Select
x=136
y=34
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,9
script1op1=varbit,boardgames_piece

[com_108]
type=Sprite
buttonType=Select
x=136
y=74
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,10
script1op1=varbit,boardgames_piece

[com_109]
type=Sprite
buttonType=Select
x=136
y=114
width=15
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,11
script1op1=varbit,boardgames_piece

[com_110]
type=Sprite
buttonType=Select
x=136
y=154
width=14
height=15
layerId=2949205
graphic=180
graphic2=181
buttonText="Select piece"
eventCode=flag22
script1=eq,12
script1op1=varbit,boardgames_piece

[com_111]
type=Text
buttonType=Button
x=329
y=248
width=80
height=14
colour=0xAA8822
font=495
shadow=yes
text="Ranked"
buttonText="Select option"
eventCode=flag22

[com_112]
type=Sprite
buttonType=Toggly
x=307
y=248
width=14
height=15
graphic=180
graphic2=181
buttonText="Select option"
eventCode=flag22
script1=eq,1
script1op1=varbit,boardgames_rankedgame

[com_113]
type=Sprite
x=388
y=62
width=26
height=23
overLayerId=115
graphic=535

[com_114]
type=Sprite
buttonType=Close
x=5
y=4
width=26
height=23
layerId=2949235
graphic=536
buttonText="Ok"

[com_115]
type=Layer
x=383
y=58
width=32
height=32
hide=yes

[com_116]
type=Sprite
x=50
y=22
width=36
height=36
layerId=2949185
graphic=173

[com_117]
type=Sprite
x=53
y=-15
width=36
height=36
layerId=2949185
graphic=314
