[pouch_model]
type=Model
x=148
y=39
width=32
height=32
model1Id=16961
modelZoom=475
modelXAn=340
modelYAn=104

[slot1]
type=Sprite
x=16
y=33
width=36
height=36
graphic=170

[xbows_model1]
type=Model
x=18
y=35
width=32
height=32
modelZoom=400

[slot2]
type=Text
buttonType=Button
x=16
y=33
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Wield bolts"
eventCode=flag22

[xbows_model2]
type=Text
buttonType=Button
x=16
y=33
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Remove from Pouch"
eventCode=flag22

[slot3]
type=Sprite
x=16
y=69
width=36
height=36
graphic=170

[xbows_model3]
type=Model
x=18
y=71
width=32
height=32
modelZoom=400

[slot4]
type=Text
buttonType=Button
x=16
y=69
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Wield bolts"
eventCode=flag22

[xbows_model4]
type=Text
buttonType=Button
x=16
y=69
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Remove from Pouch"
eventCode=flag22

[slot_worn]
type=Sprite
x=16
y=105
width=36
height=36
graphic=170

[xbows_model5]
type=Model
x=18
y=107
width=32
height=32
modelZoom=400

[num1]
type=Text
buttonType=Button
x=16
y=105
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Wield bolts"
eventCode=flag22

[num2]
type=Text
buttonType=Button
x=16
y=105
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Remove from Pouch"
eventCode=flag22

[num3]
type=Sprite
x=16
y=141
width=36
height=36
graphic=170

[num4]
type=Model
x=18
y=143
width=32
height=32
modelZoom=400

[num5]
type=Text
buttonType=Button
x=16
y=141
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Wield bolts"
eventCode=flag22

[text1]
type=Text
buttonType=Button
x=16
y=141
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Remove from Pouch"
eventCode=flag22

[text2]
type=Sprite
x=16
y=199
width=36
height=36
graphic=170

[text3]
type=Model
x=18
y=201
width=32
height=32
modelZoom=400

[text4]
type=Text
buttonType=Button
x=16
y=199
width=36
height=36
colourOver=0x00C000
hAlign=Center
font=497
shadow=yes
buttonText="Unwield bolts"
eventCode=flag22

[text5]
type=Text
x=58
y=35
width=17
height=14
colour=0xFF0033
colour2=0x00C000
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=varbit,varbit_2469

[current_title]
type=Text
x=58
y=71
width=17
height=14
colour=0xFF0033
colour2=0x00C000
font=495
shadow=yes
text="%1"
text2="%1"
script1=gt,0
script1op1=varbit,varbit_2470

[background_layer]
type=Text
x=58
y=106
width=17
height=14
colour=0xFF0033
colour2=0x00C000
font=495
shadow=yes
text="%1"
text2="%1"
script1=gt,0
script1op1=varbit,varbit_2471

[frame_layer]
type=Text
x=58
y=143
width=17
height=14
colour=0xFF0033
colour2=0x00C000
font=495
shadow=yes
text="%1"
text2="%1"
script1=gt,0
script1op1=varbit,varbit_2472

[content_layer]
type=Text
x=54
y=201
width=8
height=14
colour=0xFF0033
colour2=0x00C000
font=495
shadow=yes
text="0"
text2="0"

[close_button_layer]
type=Text
x=58
y=54
width=122
height=13
colour=0xFF9933
font=495
shadow=yes
text="Text"

[root_layer]
type=Text
x=58
y=89
width=122
height=15
colour=0xFF9933
font=495
shadow=yes
text="Text"

[com_27]
type=Text
x=58
y=125
width=122
height=15
colour=0xFF9933
font=495
shadow=yes
text="Text"

[com_28]
type=Text
x=58
y=161
width=124
height=15
colour=0xFF9933
font=495
shadow=yes
text="Text"

[com_29]
type=Text
x=54
y=219
width=129
height=13
colour=0xFF9933
font=495
shadow=yes
text="Text"

[com_30]
type=Text
x=6
y=12
width=175
height=13
colour=0xFF9933
hAlign=Center
font=496
shadow=yes
text="Crossbow Bolt Pouch"

[com_31]
type=Text
x=17
y=183
width=158
height=14
colour=0xFF9933
font=496
shadow=yes
text="Current Ammo"

[com_32]
type=Sprite
x=159
y=232
width=26
height=23
overLayerId=34
graphic=539

[com_33]
type=Sprite
buttonType=Close
x=2
y=6
width=26
height=23
layerId=28377122
graphic=540
buttonText="Ok"

[com_34]
type=Layer
x=157
y=226
width=32
height=32
hide=yes
