[nice]
type=Sprite
x=2
y=5
width=57
height=13
graphic=302

[naughty]
type=Sprite
x=421
y=5
width=57
height=13
graphic=301

[com_2]
type=Model
x=57
y=16
width=64
height=96
model1Id=2636
modelZoom=183
modelXAn=159
modelYAn=36

[nice_points]
type=Model
x=207
y=17
width=64
height=96
model1Id=9836
modelZoom=183
modelXAn=159
modelYAn=36

[base]
type=Model
x=360
y=13
width=64
height=96
model1Id=2365
modelZoom=400
modelXAn=221
modelYAn=1877

[current_buff]
type=Text
buttonType=Pause
x=34
y=12
width=105
height=85
hAlign=Center
font=497
buttonText="Churn 10"
eventCode=pauseButton
script1=gt,20
script1op1=stat_level,7

[event_tooltip]
type=Text
buttonType=Pause
x=34
y=12
width=105
height=85
hAlign=Center
font=497
buttonText="Churn 5"
eventCode=pauseButton
script1=gt,20
script1op1=stat_level,7

[com_7]
type=Text
buttonType=Pause
x=34
y=12
width=105
height=85
hAlign=Center
font=497
buttonText="Churn 1"
eventCode=pauseButton
script1=gt,20
script1op1=stat_level,7

[com_8]
type=Text
buttonType=Pause
x=182
y=9
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 10"
eventCode=pauseButton
script1=gt,37
script1op1=stat_level,7

[com_9]
type=Text
buttonType=Pause
x=182
y=9
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 5"
eventCode=pauseButton
script1=gt,37
script1op1=stat_level,7

[com_10]
type=Text
buttonType=Pause
x=182
y=9
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 1"
eventCode=pauseButton
script1=gt,37
script1op1=stat_level,7

[com_11]
type=Text
buttonType=Pause
x=337
y=12
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 10"
eventCode=pauseButton
script1=gt,47
script1op1=stat_level,7

[com_12]
type=Text
buttonType=Pause
x=337
y=12
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 5"
eventCode=pauseButton
script1=gt,47
script1op1=stat_level,7

[com_13]
type=Text
buttonType=Pause
x=337
y=12
width=105
height=88
hAlign=Center
font=497
buttonText="Churn 1"
eventCode=pauseButton
script1=gt,47
script1op1=stat_level,7

[com_14]
type=Text
x=64
y=-2
width=357
height=38
colour=0x800000
hAlign=Center
vAlign=Center
font=497
text="What would you like to make?"

[com_15]
type=Text
x=35
y=12
width=104
height=85
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
text="Churn Cream"

[com_16]
type=Text
x=184
y=13
width=104
height=85
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
text="Churn Butter"

[event]
type=Text
x=339
y=13
width=104
height=85
colourOver=0xFFFFFF
hAlign=Center
vAlign=Bottom
font=497
text="Churn Cheese"
