[bow]
type=Rectangle
x=60
y=41
width=402
height=256
trans=200
fill=yes

[staff]
type=Rectangle
x=57
y=34
width=399
height=257
colour=0x82A1C4
fill=yes

[sword]
type=Sprite
x=63
y=39
width=387
height=246
trans=20
graphic=297
tiling=yes

[barbarian]
type=Sprite
x=43
y=66
width=32
height=194
trans=20
graphic=821
tiling=yes

[dragon]
type=Sprite
x=437
y=65
width=32
height=195
trans=20
graphic=823
tiling=yes

[dwarf]
type=Sprite
x=56
y=34
width=32
height=32
trans=20
graphic=824

[pirate]
type=Sprite
x=88
y=21
width=337
height=34
trans=20
graphic=820
tiling=yes

[mainmodal_window]
type=Sprite
x=88
y=272
width=337
height=32
trans=20
graphic=822
tiling=yes

[mainmodal_window_background]
type=Sprite
x=56
y=260
width=32
height=32
trans=20
graphic=826

[mainmodal_window_content]
type=Sprite
x=425
y=34
width=32
height=32
trans=20
graphic=825

[tophat]
type=Sprite
x=425
y=260
width=32
height=32
trans=20
graphic=827

[weapons_layer]
type=Sprite
x=62
y=49
width=389
height=32
trans=20
graphic=828
tiling=yes

[mainmodal_window_border]
type=Sprite
x=431
y=43
width=16
height=16
trans=20
graphic=831
eventCode=hasOp(1)
opName0="Close"
onmouseover=44,component.parentId,832
onmouseleave=44,component.parentId,831
onop=29

[mainmodal_window_close_button]
type=Text
x=146
y=44
width=200
height=15
colour=0xB5D0D0
hAlign=Center
font=496
shadow=yes
text="Select a Snowman Hat"

[barb_build]
type=Model
y=1
modelZoom=400
discardedModelField=0

[com_15]
type=Text
x=72
y=150
width=55
height=25
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text=" Barbarian hat"

[barbarian_hat]
type=Text
x=148
y=150
width=55
height=25
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Dragon hat"

[barb_click]
type=Text
x=230
y=150
width=55
height=25
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Dwarf hat"
baseOpName=" "

[dragon_build]
type=Text
x=311
y=150
width=55
height=25
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Pirate hat"

[dragon_hat]
type=Text
x=390
y=150
width=55
height=25
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Top hat"

[com_20]
type=Model
y=1
modelZoom=400
discardedModelField=0

[dragon_click]
type=Layer
x=72
y=96
width=50
height=50
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[dwarf_build]
type=Rectangle
x=72
y=96
width=50
height=50
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Barbarian Snowman Hat"
opName0="Select"

[dwarf_hat]
type=Layer
x=149
y=96
width=50
height=50
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_24]
type=Rectangle
x=149
y=96
width=50
height=50
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Dragon Snowman Hat"
opName0="Select"

[dwarf_click]
type=Layer
x=231
y=96
width=50
height=50
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[pirate_build]
type=Rectangle
x=231
y=96
width=50
height=50
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Dwarf Snowman Hat"
opName0="Select"

[pirate_hat]
type=Layer
x=312
y=96
width=50
height=50
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_28]
type=Rectangle
x=312
y=96
width=50
height=50
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Pirate Snowman Hat"
opName0="Select"

[pirate_click]
type=Layer
x=391
y=96
width=50
height=50
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[tophat_build]
type=Rectangle
x=391
y=96
width=50
height=50
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Snowman Top Hat"
opName0="Select"

[top_hat]
type=Layer
x=149
y=192
width=50
height=50
layerId=43122741
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_32]
type=Rectangle
x=149
y=192
width=50
height=50
layerId=43122741
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Holly Bow"
opName0="Select"

[tophat_click]
type=Layer
x=231
y=192
width=50
height=50
layerId=43122741
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[bow_build]
type=Rectangle
x=231
y=192
width=50
height=50
layerId=43122741
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Winter Staff"
opName0="Select"

[com_35]
type=Layer
x=313
y=192
width=50
height=50
layerId=43122741
onload=92,component.parentId
onmouseover=94,component.parentId
onmouseleave=92,component.parentId

[com_36]
type=Rectangle
x=313
y=192
width=50
height=50
layerId=43122741
trans=240
colour=0x72A7A1
fill=yes
eventCode=hasOp(1)
baseOpName="Ice Sword"
opName0="Select"

[bow_click]
type=Model
y=1
modelZoom=400
discardedModelField=0

[staff_build]
type=Line
x=58
y=34
width=396
colour=0xCCCCCC

[com_39]
type=Line
x=62
y=62
width=387
colour=0xCCCCCC

[com_40]
type=Line
x=62
y=284
width=387
colour=0xCCCCCC
baseOpName=" "

[staff_click]
type=Line
x=432
y=43
width=12
colour=0xCCCCCC

[sword_build]
type=Model
x=79
y=100
width=39
height=38
model1Id=30312
modelZoom=912
modelXAn=150
modelYAn=2041
modelXOf=-2
modelYOf=14
discardedModelField=0

[com_43]
type=Model
x=151
y=102
width=49
height=35
model1Id=30308
modelZoom=1168
modelXAn=33
modelYAn=3
modelXOf=3
modelYOf=16
discardedModelField=0

[com_44]
type=Model
x=239
y=110
width=37
height=28
model1Id=30310
modelZoom=1040
modelXAn=15
modelYAn=1936
modelXOf=2
modelYOf=13
discardedModelField=0

[sword_click]
type=Model
x=314
y=110
width=44
height=29
model1Id=30311
modelZoom=1040
modelXAn=231
modelYAn=48
modelXOf=3
modelYOf=8
discardedModelField=0

[com_46]
type=Model
x=396
y=107
width=41
height=33
model1Id=30307
modelZoom=1168
modelXAn=150
modelYAn=2038
modelYOf=12
discardedModelField=0

[com_47]
type=Model
x=154
y=192
width=41
height=48
layerId=43122741
model1Id=30314
modelZoom=1168
modelXAn=210
modelYAn=129
modelYOf=7
discardedModelField=0

[com_48]
type=Model
x=235
y=190
width=48
height=54
layerId=43122741
model1Id=30316
modelZoom=1168
modelXAn=1687
modelYAn=2032
modelXOf=2
modelYOf=4
discardedModelField=0

[com_49]
type=Model
x=317
y=192
width=45
height=48
layerId=43122741
model1Id=30313
modelZoom=1296
modelXAn=381
modelYAn=2041
modelXOf=3
discardedModelField=0

[com_50]
type=Text
x=145
y=250
width=55
height=25
layerId=43122741
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Holly Bow"

[com_51]
type=Text
x=228
y=250
width=55
height=25
layerId=43122741
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Winter Staff"

[com_52]
type=Text
x=309
y=250
width=55
height=25
layerId=43122741
colour=0xB2E0E4
hAlign=Center
font=494
shadow=yes
text="Ice Sword"

[com_53]
type=Layer
width=512
height=334
hide=yes

[com_54]
type=Rectangle
x=57
y=35
width=399
height=256
trans=200
colour=0x5D7996
fill=yes
