[xmas11_snowman_scoreboard_top_border]
type=Rectangle
x=106
y=-15
width=400
height=400
colour=0x1A1A1A
fill=yes

[xmas11_snowman_scoreboard_right_border]
type=Model
x=178
y=-32
width=32
height=32
model1Id=7635
modelAnim=roguesden_interface_gear6
modelAnim2=roguesden_interface_gear6
modelZoom=482
modelXAn=351
modelYAn=24

[xmas11_snowman_scoreboard_bottom_border]
type=Model
x=428
y=237
width=32
height=32
model1Id=7629
modelAnim=roguesden_interface_gear3
modelAnim2=roguesden_interface_gear3
modelZoom=443
modelXAn=537
modelYAn=509

[xmas11_snowman_scoreboard_left_border]
type=Model
x=39
y=-47
width=32
height=32
model1Id=7638
modelAnim=roguesden_interface_gear8
modelAnim2=roguesden_interface_gear8
modelZoom=361
modelXAn=419
modelYAn=89

[xmas11_snowman_scoreboard_background]
type=Model
x=227
y=-214
width=32
height=32
model1Id=7633
modelAnim=roguesden_interface_gear5
modelAnim2=roguesden_interface_gear5
modelZoom=455
modelXAn=369
modelYAn=3

[gold_window_close_button_layer]
type=Layer
x=34
y=34
width=32
height=32

[xmas11_snowman_scoreboard_score_layer]
type=Model
x=244
y=152
width=32
height=32
model1Id=7623
modelZoom=603
modelXAn=528
modelYAn=3

[xmas11_snowman_scoreboard_grayzag]
type=Model
x=245
y=158
width=32
height=32
model1Id=7625
modelZoom=625
modelXAn=500

[xmas11_snowman_scorebaord_frumscone]
type=Inventory
x=129
y=44
width=3
height=3
widthAlignment=Grid
heightAlignment=Grid
marginX=83
marginY=83
iop0=Rotate-Clockwise
iop1=Rotate-AntiClockwise
eventCode=hasIop(0,1)

[xmas11_snowman_scoreboard_frumscone_score]
type=Model
x=129
y=48
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[xmas11_snowman_scoreboard_grayzag_score]
type=Model
x=245
y=48
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[gold_window_close_button_over_graphic]
type=Model
x=358
y=48
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[gold_window_close_button_on_graphic]
type=Model
x=129
y=162
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[xmas11_snowman_scoreboard_content_layer]
type=Model
x=245
y=162
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[com_14]
type=Model
x=358
y=162
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[com_15]
type=Model
x=129
y=274
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[com_16]
type=Model
x=245
y=274
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[com_17]
type=Model
x=358
y=274
width=32
height=32
model1Id=7624
modelAnim=roguesden_interface_dial
modelZoom=800
modelXAn=491
modelYAn=522

[com_18]
type=Model
x=423
y=96
width=32
height=32
model1Id=7622
modelZoom=1126
modelXAn=571
modelYAn=269

[com_19]
type=Model
x=425
y=224
width=32
height=32
model1Id=7622
modelZoom=1126
modelXAn=484
modelYAn=1945

[com_20]
type=Model
x=62
y=89
width=32
height=32
model1Id=7622
modelZoom=1126
modelXAn=512
modelYAn=22

[com_21]
type=Model
x=60
y=223
width=32
height=32
model1Id=7622
modelZoom=1126
modelXAn=569
modelYAn=1737

[com_22]
type=Sprite
x=483
y=6
width=26
height=23
overLayerId=24
graphic=539

[com_23]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=19005464
graphic=540
buttonText="Ok"

[com_24]
type=Layer
x=479
y=2
width=32
height=32
hide=yes
