[turkey_mid]
type=Inventory
x=20
y=24
width=2
height=3
widthAlignment=Grid
heightAlignment=Grid
marginX=60
marginY=16
iop0=Store
eventCode=hasIop(0)

[turkey_right]
type=Inventory
x=20
y=168
width=2
height=2
widthAlignment=Grid
heightAlignment=Grid
marginX=60
marginY=16
iop0=Store 1
iop1=Store 5
iop2=Store All
iop3=Store X
eventCode=hasIop(0,1,2,3)

[com_2]
type=Text
x=4
y=8
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Rake"
script1=gt,0
script1op1=inv_count,inventory:inv,rake

[com_3]
type=Text
x=4
y=24
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,rake

[com_4]
type=Text
x=96
y=8
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Dibber"
script1=gt,0
script1op1=inv_count,inventory:inv,dibber

[com_5]
type=Text
x=96
y=24
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,dibber

[wizard]
type=Text
x=4
y=56
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Spade"
script1=gt,0
script1op1=inv_count,inventory:inv,spade

[order]
type=Text
x=4
y=72
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,spade

[order_info]
type=Text
x=96
y=56
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Secateurs"
script1=gt,0
script1op1=inv_count,inventory:inv,secateurs
script1op2=inv_count,inventory:inv,fairy_enchanted_secateurs

[turkey_drumstick]
type=Text
x=96
y=72
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,secateurs
script1op2=inv_count,inventory:inv,fairy_enchanted_secateurs

[turkey_drumstick_disabled]
type=Text
x=4
y=104
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Watering Can"
script1=gt,0
script1op1=inv_count,inventory:inv,watering_can_0
script1op2=inv_count,inventory:inv,watering_can_1
script1op3=inv_count,inventory:inv,watering_can_2
script1op4=inv_count,inventory:inv,watering_can_3
script1op5=inv_count,inventory:inv,watering_can_4
script1op6=inv_count,inventory:inv,watering_can_5
script1op7=inv_count,inventory:inv,watering_can_6
script1op8=inv_count,inventory:inv,watering_can_7
script1op9=inv_count,inventory:inv,watering_can_8

[yule_log]
type=Text
x=4
y=120
width=17
height=14
colour=0x872300
colour2=0x7DD750
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,watering_can_0
script1op2=inv_count,inventory:inv,watering_can_1
script1op3=inv_count,inventory:inv,watering_can_2
script1op4=inv_count,inventory:inv,watering_can_3
script1op5=inv_count,inventory:inv,watering_can_4
script1op6=inv_count,inventory:inv,watering_can_5
script1op7=inv_count,inventory:inv,watering_can_6
script1op8=inv_count,inventory:inv,watering_can_7
script1op9=inv_count,inventory:inv,watering_can_8

[yule_log_disabled]
type=Text
x=96
y=104
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Trowel"
script1=gt,0
script1op1=inv_count,inventory:inv,gardening_trowel

[christmas_pudding]
type=Text
x=96
y=120
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,gardening_trowel

[christmas_pudding_disabled]
type=Text
x=4
y=152
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Buckets"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_empty

[roast_potatoes]
type=Text
x=4
y=168
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_empty

[roast_potatoes_disabled]
type=Text
x=96
y=152
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Compost"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_compost

[mulled_wine]
type=Text
x=96
y=168
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_compost

[mulled_wine_disabled]
type=Text
x=4
y=200
width=90
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="Super Compost"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_supercompost

[turkey_left]
type=Text
x=4
y=216
width=17
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1"
script1=gt,0
script1op1=inv_count,inventory:inv,bucket_supercompost
