[bespoke_window_layer]
type=Sprite
x=472
y=296
width=25
height=25
layerId=42008577
graphic=443

[close_listener]
type=Layer
width=512
height=334

[bespoke_border_layer]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[bespoke_background_layer]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[main_layer]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[com_5]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[calendar_layer]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[free_key_bg]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[background]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[free_key_panel]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[free_key_text]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[progress_bar_full_container]
type=Layer
width=512
height=334
layerId=42008588
hide=yes

[progress_preview_fake_op]
type=Layer
width=512
height=334

[progress_container]
type=Text
x=9
y=30
width=30
height=12
colour=0xCC9900
font=494
shadow=yes
text="Style:"

[progress_f2p_present]
type=Text
x=50
y=30
width=50
height=12
colour=0xCC9900
font=494
shadow=yes
text="Options:"

[progress_members_present]
type=Model
modelZoom=400
discardedModelField=0

[member_icon]
type=Sprite
x=24
y=55
width=25
height=25
layerId=42008578
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Potions Allowed",50,150

[f2p_icon]
type=Sprite
x=24
y=82
width=25
height=25
layerId=42008579
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Food Allowed",50,150

[progress_f2p_tick]
type=Sprite
x=24
y=109
width=25
height=25
layerId=42008580
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Prayers Allowed",50,150

[progress_members_tick]
type=Sprite
x=24
y=136
width=25
height=25
layerId=42008581
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Special Attacks Allowed",50,150

[com_20]
type=Sprite
x=24
y=163
width=25
height=25
layerId=42008582
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Summoning Allowed",50,150

[progress_text]
type=Sprite
x=24
y=190
width=25
height=25
layerId=42008583
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Healing Between Rounds",50,150

[reward_mouseover_layer_f2p]
type=Sprite
x=24
y=190
width=25
height=25
layerId=42008584
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Weapon Slots Only",50,150

[reward_mouseover_layer_members]
type=Sprite
x=24
y=217
width=25
height=25
layerId=42008585
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Ranged Combat Allowed",50,150

[com_24]
type=Sprite
x=24
y=244
width=25
height=25
layerId=42008586
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Melee Combat Allowed",50,150

[progress_layer]
type=Sprite
x=24
y=271
width=25
height=25
layerId=42008587
onmouseleave=40,42008615
onmouserepeat=38,component.parentId,42008615,"Magic Combat Allowed",50,150

[com_26]
type=Layer
width=512
height=334
hide=yes

[door_layer]
type=Rectangle
x=418
y=27
width=90
height=105
layerId=42008602
trans=125
fill=yes

[open_door_layer]
type=Text
x=422
y=30
width=80
height=12
layerId=42008602
colour=0xCC9900
font=494
shadow=yes
text="Tourn. Size:"

[top_bar]
type=Text
x=422
y=42
width=75
height=12
layerId=42008602
colour=0xCC9900
font=494
shadow=yes
text="0"

[preview_layer]
type=Text
x=198
y=13
width=63
height=16
layerId=42008602
colour=0xCC9900
vAlign=Center
font=495
shadow=yes
text="Round Time:"

[com_31]
type=Text
x=268
y=13
width=80
height=16
layerId=42008602
colour=0xCC9900
font=495
shadow=yes

[com_32]
type=Text
x=422
y=78
width=63
height=12
colour=0xCC9900
vAlign=Center
font=494
shadow=yes
text="Tourn. Value:"

[com_33]
type=Text
x=422
y=90
width=80
height=12
colour=0xCC9900
font=494
shadow=yes

[top_rect]
type=Text
x=422
y=102
width=63
height=12
layerId=42008602
colour=0xCC9900
vAlign=Center
font=494
shadow=yes
text="Opponent:"

[back]
type=Text
x=422
y=114
width=80
height=12
layerId=42008602
colour=0xCC9900
font=494
shadow=yes

[present_layer]
type=Text
x=422
y=54
width=92
height=12
colour=0xCC9900
font=494
shadow=yes
text="Tourn. Rank:"

[blackout_layer]
type=Text
x=422
y=66
width=60
height=12
colour=0xCC9900
font=494
shadow=yes
text="0"
onvartransmit=564,component.parentId
onvartransmitlist=1105

[com_38]
type=Text
x=193
y=293
width=254
height=32
colour=0xCC9900
font=494
shadow=yes

[claim_panel]
type=Layer
x=134
y=102
width=207
height=53
layerId=42008588
onload=563
