[content_layer]
type=Rectangle
y=-2
width=515
height=343
trans=160
colour=0x46341D
fill=yes

[bespoke_window]
type=Sprite
x=479
y=10
width=26
height=23
graphic=541
eventCode=pauseButton, hasOp(1), isDragTarget
opName0="Close"
onmouseover=44,component.parentId,542
onmouseleave=44,component.parentId,541
onop=29

[com_2]
type=Model
x=60
y=118
width=386
height=215
model1Id=30301
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-9
modelYOf=-22
discardedModelField=0

[com_3]
type=Model
x=71
y=17
width=364
height=282
model1Id=30305
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-9
modelYOf=45
discardedModelField=0

[com_4]
type=Model
x=80
y=75
width=346
height=229
model1Id=30300
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-9
modelYOf=14
discardedModelField=0

[com_5]
type=Model
x=77
y=28
width=339
height=237
model1Id=30302
modelAnim=xmas_07_snowglobe_snow_01
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-2
modelYOf=68
discardedModelField=0

[com_6]
type=Model
x=76
y=28
width=339
height=237
model1Id=30302
modelAnim=xmas_07_snowglobe_snow_02
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-2
modelYOf=68
discardedModelField=0

[com_7]
type=Model
x=64
y=9
width=379
height=295
model1Id=30303
modelZoom=1240
modelXAn=177
modelYAn=174
modelXOf=-9
modelYOf=47
discardedModelField=0
