[base]
type=Rectangle
x=103
y=38
width=332
height=253
trans=192
fill=yes

[background]
type=Sprite
x=103
y=37
width=88
height=60
graphic=297

[content]
type=Sprite
x=100
y=80
width=88
height=60
graphic=297

[com_3]
type=Sprite
x=100
y=140
width=88
height=60
graphic=297

[com_4]
type=Sprite
x=100
y=200
width=88
height=60
graphic=297

[com_5]
type=Sprite
x=189
y=38
width=88
height=60
graphic=297

[border]
type=Sprite
x=188
y=80
width=88
height=60
graphic=297

[close_button]
type=Sprite
x=188
y=140
width=88
height=60
graphic=297

[com_8]
type=Sprite
x=188
y=200
width=88
height=60
graphic=297

[com_9]
type=Sprite
x=277
y=40
width=88
height=60
graphic=297

[com_10]
type=Sprite
x=276
y=80
width=88
height=60
graphic=297

[com_11]
type=Sprite
x=276
y=140
width=88
height=60
graphic=297

[com_12]
type=Sprite
x=276
y=200
width=88
height=60
graphic=297

[com_13]
type=Sprite
x=99
y=34
width=25
height=30
graphic=310

[com_14]
type=Sprite
x=84
y=38
width=36
height=36
graphic=172

[com_15]
type=Sprite
x=337
y=40
width=88
height=60
graphic=297

[com_16]
type=Sprite
x=84
y=57
width=36
height=36
graphic=172

[com_17]
type=Sprite
x=84
y=79
width=36
height=36
graphic=172

[com_18]
type=Sprite
x=84
y=115
width=36
height=36
graphic=172

[com_19]
type=Sprite
x=84
y=150
width=36
height=36
graphic=172

[com_20]
type=Sprite
x=84
y=186
width=36
height=36
graphic=172

[name1]
type=Sprite
x=84
y=222
width=36
height=36
graphic=172

[name2]
type=Sprite
x=410
y=59
width=36
height=36
graphic=315

[name3]
type=Sprite
x=410
y=95
width=36
height=36
graphic=315

[name4]
type=Sprite
x=410
y=114
width=36
height=36
graphic=315

[name5]
type=Sprite
x=410
y=150
width=36
height=36
graphic=315

[score1]
type=Sprite
x=410
y=186
width=36
height=36
graphic=315

[score2]
type=Sprite
x=410
y=222
width=36
height=36
graphic=315

[score3]
type=Sprite
x=158
y=266
width=36
height=36
graphic=173

[score4]
type=Sprite
x=193
y=266
width=36
height=36
graphic=173

[score5]
type=Sprite
x=228
y=266
width=36
height=36
graphic=173

[com_31]
type=Sprite
x=263
y=266
width=36
height=36
graphic=173

[com_32]
type=Sprite
x=298
y=266
width=36
height=36
graphic=173

[com_33]
type=Sprite
x=301
y=266
width=36
height=36
graphic=173

[com_34]
type=Sprite
x=336
y=266
width=36
height=36
graphic=173

[com_35]
type=Sprite
x=371
y=266
width=36
height=36
graphic=173

[com_36]
type=Sprite
x=104
y=19
width=36
height=36
graphic=314

[com_37]
type=Sprite
x=120
y=19
width=36
height=36
graphic=314

[com_38]
type=Sprite
x=154
y=19
width=36
height=36
graphic=314

[com_39]
type=Sprite
x=190
y=19
width=36
height=36
graphic=314

[com_40]
type=Sprite
x=226
y=19
width=36
height=36
graphic=314

[com_41]
type=Sprite
x=262
y=19
width=36
height=36
graphic=314

[com_42]
type=Sprite
x=298
y=19
width=36
height=36
graphic=314

[com_43]
type=Sprite
x=334
y=19
width=36
height=36
graphic=314

[com_44]
type=Sprite
x=370
y=19
width=36
height=36
graphic=314

[com_45]
type=Sprite
x=337
y=98
width=88
height=60
graphic=297

[com_46]
type=Sprite
x=213
y=50
width=36
height=36
graphic=314

[com_47]
type=Sprite
x=123
y=266
width=36
height=36
graphic=173

[com_48]
type=Sprite
x=99
y=257
width=25
height=30
graphic=312

[com_49]
type=Sprite
x=406
y=34
width=25
height=30
graphic=311

[com_50]
type=Sprite
x=337
y=154
width=88
height=60
graphic=297

[com_51]
type=Sprite
x=406
y=257
width=25
height=30
graphic=313

[com_52]
type=Sprite
x=247
y=50
width=36
height=36
graphic=314

[com_53]
type=Sprite
x=350
y=50
width=36
height=36
graphic=314

[com_54]
type=Sprite
x=317
y=50
width=36
height=36
graphic=314

[com_55]
type=Sprite
x=282
y=50
width=36
height=36
graphic=314

[com_56]
type=Sprite
x=337
y=207
width=88
height=60
graphic=297

[com_57]
type=Sprite
x=381
y=50
width=36
height=36
graphic=314

[com_58]
type=Sprite
x=180
y=50
width=36
height=36
graphic=314

[com_59]
type=Sprite
x=145
y=50
width=36
height=36
graphic=314

[com_60]
type=Sprite
x=123
y=50
width=36
height=36
graphic=314

[com_61]
type=Sprite
x=104
y=50
width=36
height=36
graphic=314

[com_62]
type=Sprite
x=338
y=221
width=88
height=60
graphic=297

[com_63]
type=Sprite
x=176
y=221
width=88
height=60
graphic=297

[com_64]
type=Sprite
x=105
y=221
width=88
height=60
graphic=297

[com_65]
type=Sprite
x=250
y=221
width=88
height=60
graphic=297

[com_66]
type=Sprite
x=389
y=50
width=36
height=36
graphic=314

[com_67]
type=Text
x=105
y=38
width=320
height=27
colour=0xFF9900
hAlign=Center
vAlign=Center
font=496
shadow=yes
text="Amazing Farming Equipment Store"

[com_68]
type=Inventory
x=168
y=104
width=3
height=2
widthAlignment=Grid
heightAlignment=Grid
marginX=64
marginY=32
iop0=Remove
eventCode=hasIop(0)

[com_69]
type=Inventory
x=168
y=232
width=3
height=1
widthAlignment=Grid
heightAlignment=Grid
marginX=64
iop0=Remove 1
iop1=Remove 5
iop2=Remove All
iop3=Remove X
eventCode=hasIop(0,1,2,3)

[com_70]
type=Text
x=119
y=77
width=97
height=28
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Farming rake"
script1=gt,0
script1op1=varbit,farming_tools_rake

[com_71]
type=Text
x=120
y=104
width=80
height=32
colour=0x872300
colour2=0x7DD750
font=495
shadow=yes
text="%1/1"
script1=gt,0
script1op1=varbit,farming_tools_rake

[com_72]
type=Text
x=215
y=77
width=97
height=28
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Seed dibber"
script1=gt,0
script1op1=varbit,farming_tools_dibber

[com_73]
type=Text
x=216
y=104
width=48
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1/1"
script1=gt,0
script1op1=varbit,farming_tools_dibber

[com_74]
type=Text
x=312
y=71
width=105
height=34
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="All-purpose spade"
script1=gt,0
script1op1=varbit,farming_tools_spade

[com_75]
type=Text
x=312
y=104
width=48
height=14
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1/1"
script1=gt,0
script1op1=varbit,farming_tools_spade

[com_76]
type=Text
x=119
y=135
width=98
height=34
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Secateurs"
script1=gt,0
script1op1=varbit,farming_tools_secateurs

[com_77]
type=Text
x=120
y=168
width=80
height=32
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1/1"
script1=gt,0
script1op1=varbit,farming_tools_secateurs

[com_78]
type=Text
x=216
y=135
width=97
height=34
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Watering Can"
text2="Watering Can (%2)"
script1=gt,0
script1op1=varbit,farming_tools_wateringcan
script2op1=varbit,farming_tools_wateringcan
script2op2=sub,num,1

[com_79]
type=Text
x=216
y=168
width=80
height=32
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="0/1"
text2="1/1"
script1=gt,0
script1op1=varbit,farming_tools_wateringcan

[com_80]
type=Text
x=312
y=135
width=112
height=34
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Gardening trowel"
script1=gt,0
script1op1=varbit,farming_tools_trowel

[com_81]
type=Text
x=312
y=168
width=80
height=31
colour=0x870000
colour2=0x7DD764
font=495
shadow=yes
text="%1/1"
script1=gt,0
script1op1=varbit,farming_tools_trowel

[com_82]
type=Text
x=120
y=199
width=97
height=34
colour=0x870000
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Empty buckets"
script1=gt,0
script1op1=varbit,farming_tools_buckets

[com_83]
type=Text
x=120
y=232
width=80
height=32
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1/31"
script1=gt,0
script1op1=varbit,farming_tools_buckets

[com_84]
type=Text
x=216
y=199
width=97
height=34
colour=0x872300
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Normal Compost"
script1=gt,0
script1op1=varbit,farming_tools_compost

[com_85]
type=Text
x=216
y=232
width=80
height=32
colour=0x870000
colour2=0x7DD764
font=495
shadow=yes
text="%1/255"
script1=gt,0
script1op1=varbit,farming_tools_compost

[com_86]
type=Text
x=312
y=199
width=114
height=34
colour=0x870000
colour2=0x7DD764
vAlign=Bottom
font=495
shadow=yes
text="Super Compost"
script1=gt,0
script1op1=varbit,farming_tools_supercompost

[com_87]
type=Text
x=312
y=232
width=80
height=32
colour=0x872300
colour2=0x7DD764
font=495
shadow=yes
text="%1/255"
script1=gt,0
script1op1=varbit,farming_tools_supercompost

[com_88]
type=Sprite
x=401
y=41
width=26
height=23
overLayerId=90
graphic=535

[com_89]
type=Sprite
buttonType=Close
x=4
y=6
width=26
height=23
layerId=8192090
graphic=536
buttonText="Ok"

[com_90]
type=Layer
x=397
y=35
width=32
height=32
hide=yes
