[layer_1]
type=Rectangle
x=13
y=56
width=480
height=192
colour=0x6699FF
fill=yes

[bespoke_window]
type=Rectangle
x=13
y=8
width=480
height=48
colour=0xFFFFFF
fill=yes

[sky]
type=Rectangle
x=13
y=248
width=480
height=72
colour=0x339900
fill=yes

[top]
type=Rectangle
x=13
y=116
width=480
height=15
colour=0x79E9FF
fill=yes

[ground]
type=Rectangle
x=13
y=43
width=480
height=15
colour=0x54D7F4
fill=yes

[com_5]
type=Rectangle
x=13
y=73
width=480
height=15
colour=0x65E0FA
fill=yes

[com_6]
type=Rectangle
x=13
y=58
width=480
height=15
colour=0x5FDAF7
fill=yes

[com_7]
type=Rectangle
x=13
y=131
width=480
height=15
colour=0x85E5FF
fill=yes

[com_8]
type=Rectangle
x=13
y=102
width=480
height=15
colour=0x6CE6FF
fill=yes

[com_9]
type=Rectangle
x=13
y=146
width=480
height=15
colour=0x8EDDFF
fill=yes

[com_10]
type=Rectangle
x=13
y=161
width=480
height=15
colour=0x92E4FF
fill=yes

[com_11]
type=Rectangle
x=13
y=176
width=480
height=15
colour=0x9AE5FF
fill=yes

[com_12]
type=Rectangle
x=13
y=191
width=480
height=15
colour=0x9FDEFE
fill=yes

[com_13]
type=Rectangle
x=13
y=206
width=480
height=15
colour=0xA8E2F8
fill=yes

[com_14]
type=Rectangle
x=13
y=221
width=480
height=15
colour=0xB2E4FF
fill=yes

[com_15]
type=Rectangle
x=13
y=236
width=480
height=15
colour=0xC3FEFF
fill=yes

[com_16]
type=Rectangle
x=13
y=87
width=480
height=15
colour=0x71E0FF
fill=yes

[com_17]
type=Model
x=13
y=296
width=24
height=24
modelZoom=2576

[com_18]
type=Model
x=37
y=296
width=24
height=24
modelZoom=2576

[zep_grid_1_2]
type=Model
x=61
y=296
width=24
height=24
modelZoom=2576

[zep_grid_1_7]
type=Model
x=85
y=296
width=24
height=24
modelZoom=2576

[zep_grid_1_12]
type=Model
x=109
y=296
width=24
height=24
modelZoom=2576

[zep_grid_1_17]
type=Model
x=133
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_0]
type=Model
x=157
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_1]
type=Model
x=181
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_2]
type=Model
x=205
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_3]
type=Model
x=229
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_4]
type=Model
x=253
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_5]
type=Model
x=277
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_6]
type=Model
x=301
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_7]
type=Model
x=325
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_8]
type=Model
x=349
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_9]
type=Model
x=373
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_10]
type=Model
x=397
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_11]
type=Model
x=421
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_12]
type=Model
x=445
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_13]
type=Model
x=469
y=296
width=24
height=24
modelZoom=2576

[zep_grid_3_14]
type=Model
x=13
y=272
width=24
height=24
modelZoom=2576

[zep_grid_3_15]
type=Model
x=37
y=272
width=24
height=24
modelZoom=2576

[zep_grid_3_16]
type=Model
x=61
y=272
width=24
height=24
modelZoom=2576

[zep_grid_3_17]
type=Model
x=85
y=272
width=24
height=24
modelZoom=2576

[zep_grid_3_18]
type=Model
x=109
y=272
width=24
height=24
modelZoom=2576

[zep_grid_3_19]
type=Model
x=133
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_1]
type=Model
x=157
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_0]
type=Model
x=181
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_2]
type=Model
x=205
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_3]
type=Model
x=229
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_4]
type=Model
x=253
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_5]
type=Model
x=277
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_6]
type=Model
x=301
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_7]
type=Model
x=325
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_8]
type=Model
x=349
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_9]
type=Model
x=373
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_10]
type=Model
x=397
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_11]
type=Model
x=421
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_12]
type=Model
x=445
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_13]
type=Model
x=469
y=272
width=24
height=24
modelZoom=2576

[zep_grid_4_14]
type=Model
x=13
y=248
width=24
height=24
modelZoom=2576

[zep_grid_4_15]
type=Model
x=37
y=248
width=24
height=24
modelZoom=2576

[zep_grid_4_16]
type=Model
x=61
y=248
width=24
height=24
modelZoom=2576

[zep_grid_4_17]
type=Model
x=85
y=248
width=24
height=24
modelZoom=2576

[zep_grid_4_18]
type=Model
x=109
y=248
width=24
height=24
modelZoom=2576

[zep_grid_4_19]
type=Model
x=133
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_0]
type=Model
x=157
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_1]
type=Model
x=181
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_2]
type=Model
x=205
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_3]
type=Model
x=229
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_4]
type=Model
x=253
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_5]
type=Model
x=277
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_6]
type=Model
x=301
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_7]
type=Model
x=325
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_8]
type=Model
x=349
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_9]
type=Model
x=373
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_10]
type=Model
x=397
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_11]
type=Model
x=421
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_12]
type=Model
x=445
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_13]
type=Model
x=469
y=248
width=24
height=24
modelZoom=2576

[zep_grid_5_14]
type=Model
x=13
y=224
width=24
height=24
modelZoom=2576

[zep_grid_5_15]
type=Model
x=37
y=224
width=24
height=24
modelZoom=2576

[zep_grid_5_16]
type=Model
x=61
y=224
width=24
height=24
modelZoom=2576

[zep_grid_5_17]
type=Model
x=85
y=224
width=24
height=24
modelZoom=2576

[zep_grid_5_18]
type=Model
x=109
y=224
width=24
height=24
modelZoom=2576

[zep_grid_5_19]
type=Model
x=133
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_0]
type=Model
x=157
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_1]
type=Model
x=181
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_2]
type=Model
x=205
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_3]
type=Model
x=229
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_4]
type=Model
x=253
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_5]
type=Model
x=277
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_6]
type=Model
x=301
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_7]
type=Model
x=325
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_8]
type=Model
x=349
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_9]
type=Model
x=373
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_10]
type=Model
x=397
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_11]
type=Model
x=421
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_12]
type=Model
x=445
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_13]
type=Model
x=469
y=224
width=24
height=24
modelZoom=2576

[zep_grid_6_14]
type=Model
x=37
y=200
width=24
height=24
modelZoom=2576

[zep_grid_6_15]
type=Model
x=13
y=200
width=24
height=24
modelZoom=2576

[zep_grid_6_16]
type=Model
x=61
y=200
width=24
height=24
modelZoom=2576

[zep_grid_6_17]
type=Model
x=85
y=200
width=24
height=24
modelZoom=2576

[zep_grid_6_18]
type=Model
x=109
y=200
width=24
height=24
modelZoom=2576

[zep_grid_6_19]
type=Model
x=133
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_0]
type=Model
x=157
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_1]
type=Model
x=181
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_2]
type=Model
x=205
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_3]
type=Model
x=229
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_4]
type=Model
x=253
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_5]
type=Model
x=277
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_6]
type=Model
x=301
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_7]
type=Model
x=325
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_8]
type=Model
x=349
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_9]
type=Model
x=373
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_10]
type=Model
x=397
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_11]
type=Model
x=421
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_12]
type=Model
x=445
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_13]
type=Model
x=469
y=200
width=24
height=24
modelZoom=2576

[zep_grid_7_14]
type=Model
x=13
y=176
width=24
height=24
modelZoom=2576

[zep_grid_7_15]
type=Model
x=37
y=176
width=24
height=24
modelZoom=2576

[zep_grid_7_16]
type=Model
x=61
y=176
width=24
height=24
modelZoom=2576

[zep_grid_7_17]
type=Model
x=85
y=176
width=24
height=24
modelZoom=2576

[zep_grid_7_18]
type=Model
x=109
y=176
width=24
height=24
modelZoom=2576

[zep_grid_7_19]
type=Model
x=133
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_0]
type=Model
x=157
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_1]
type=Model
x=181
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_2]
type=Model
x=205
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_3]
type=Model
x=229
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_4]
type=Model
x=253
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_5]
type=Model
x=277
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_6]
type=Model
x=301
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_7]
type=Model
x=325
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_8]
type=Model
x=349
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_9]
type=Model
x=373
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_10]
type=Model
x=397
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_11]
type=Model
x=421
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_12]
type=Model
x=445
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_13]
type=Model
x=469
y=176
width=24
height=24
modelZoom=2576

[zep_grid_8_14]
type=Model
x=13
y=152
width=24
height=24
modelZoom=2576

[zep_grid_8_15]
type=Model
x=37
y=152
width=24
height=24
modelZoom=2576

[zep_grid_8_16]
type=Model
x=61
y=152
width=24
height=24
modelZoom=2576

[zep_grid_8_17]
type=Model
x=85
y=152
width=24
height=24
modelZoom=2576

[zep_grid_8_18]
type=Model
x=109
y=152
width=24
height=24
modelZoom=2576

[zep_grid_8_19]
type=Model
x=133
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_0]
type=Model
x=157
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_1]
type=Model
x=181
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_2]
type=Model
x=205
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_3]
type=Model
x=229
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_4]
type=Model
x=253
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_5]
type=Model
x=277
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_6]
type=Model
x=301
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_7]
type=Model
x=325
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_8]
type=Model
x=349
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_9]
type=Model
x=373
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_10]
type=Model
x=397
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_11]
type=Model
x=421
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_12]
type=Model
x=445
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_13]
type=Model
x=469
y=152
width=24
height=24
modelZoom=2576

[zep_grid_9_14]
type=Model
x=13
y=128
width=24
height=24
modelZoom=2576

[zep_grid_9_15]
type=Model
x=37
y=128
width=24
height=24
modelZoom=2576

[zep_grid_9_16]
type=Model
x=61
y=128
width=24
height=24
modelZoom=2576

[zep_grid_9_17]
type=Model
x=85
y=128
width=24
height=24
modelZoom=2576

[zep_grid_9_18]
type=Model
x=109
y=128
width=24
height=24
modelZoom=2576

[zep_grid_9_19]
type=Model
x=133
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_0]
type=Model
x=157
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_1]
type=Model
x=181
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_2]
type=Model
x=205
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_3]
type=Model
x=229
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_4]
type=Model
x=253
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_5]
type=Model
x=277
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_6]
type=Model
x=301
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_7]
type=Model
x=325
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_8]
type=Model
x=349
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_9]
type=Model
x=373
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_10]
type=Model
x=397
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_11]
type=Model
x=421
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_12]
type=Model
x=445
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_13]
type=Model
x=469
y=128
width=24
height=24
modelZoom=2576

[zep_grid_10_14]
type=Model
x=13
y=104
width=24
height=24
modelZoom=2576

[zep_grid_10_15]
type=Model
x=37
y=104
width=24
height=24
modelZoom=2576

[zep_grid_10_16]
type=Model
x=61
y=104
width=24
height=24
modelZoom=2576

[zep_grid_10_17]
type=Model
x=85
y=104
width=24
height=24
modelZoom=2576

[zep_grid_10_18]
type=Model
x=109
y=104
width=24
height=24
modelZoom=2576

[zep_grid_10_19]
type=Model
x=133
y=104
width=24
height=24
modelZoom=2576

[zep_if_balloon]
type=Model
x=157
y=104
width=24
height=24
modelZoom=2576

[zep_if_balloon2]
type=Model
x=181
y=104
width=24
height=24
modelZoom=2576

[border]
type=Model
x=205
y=104
width=24
height=24
modelZoom=2576

[com_186]
type=Model
x=229
y=104
width=24
height=24
modelZoom=2576

[com_187]
type=Model
x=253
y=104
width=24
height=24
modelZoom=2576

[com_188]
type=Model
x=277
y=104
width=24
height=24
modelZoom=2576

[com_189]
type=Model
x=301
y=104
width=24
height=24
modelZoom=2576

[com_190]
type=Model
x=325
y=104
width=24
height=24
modelZoom=2576

[com_191]
type=Model
x=349
y=104
width=24
height=24
modelZoom=2576

[border_1]
type=Model
x=373
y=104
width=24
height=24
modelZoom=2576

[bespoke_window_background]
type=Model
x=397
y=104
width=24
height=24
modelZoom=2576

[bespoke_window_content]
type=Model
x=421
y=104
width=24
height=24
modelZoom=2576

[bespoke_window_border]
type=Model
x=445
y=104
width=24
height=24
modelZoom=2576

[bespoke_window_close]
type=Model
x=469
y=104
width=24
height=24
modelZoom=2576

[com_197]
type=Model
x=13
y=80
width=24
height=24
modelZoom=2576

[com_198]
type=Model
x=37
y=80
width=24
height=24
modelZoom=2576

[com_199]
type=Model
x=61
y=80
width=24
height=24
modelZoom=2576

[com_200]
type=Model
x=85
y=80
width=24
height=24
modelZoom=2576

[com_201]
type=Model
x=109
y=80
width=24
height=24
modelZoom=2576

[com_202]
type=Model
x=133
y=80
width=24
height=24
modelZoom=2576

[com_203]
type=Model
x=157
y=80
width=24
height=24
modelZoom=2576

[com_204]
type=Model
x=181
y=80
width=24
height=24
modelZoom=2576

[com_205]
type=Model
x=205
y=80
width=24
height=24
modelZoom=2576

[com_206]
type=Model
x=229
y=80
width=24
height=24
modelZoom=2576

[com_207]
type=Model
x=253
y=80
width=24
height=24
modelZoom=2576

[com_208]
type=Model
x=277
y=80
width=24
height=24
modelZoom=2576

[com_209]
type=Model
x=301
y=80
width=24
height=24
modelZoom=2576

[com_210]
type=Model
x=325
y=80
width=24
height=24
modelZoom=2576

[com_211]
type=Model
x=349
y=80
width=24
height=24
modelZoom=2576

[com_212]
type=Model
x=373
y=80
width=24
height=24
modelZoom=2576

[com_213]
type=Model
x=397
y=80
width=24
height=24
modelZoom=2576

[com_214]
type=Model
x=421
y=80
width=24
height=24
modelZoom=2576

[com_215]
type=Model
x=445
y=80
width=24
height=24
modelZoom=2576

[com_216]
type=Model
x=469
y=80
width=24
height=24
modelZoom=2576

[com_217]
type=Model
x=13
y=56
width=24
height=24
modelZoom=2576

[com_218]
type=Model
x=37
y=56
width=24
height=24
modelZoom=2576

[com_219]
type=Model
x=61
y=56
width=24
height=24
modelZoom=2576

[com_220]
type=Model
x=85
y=56
width=24
height=24
modelZoom=2576

[com_221]
type=Model
x=109
y=56
width=24
height=24
modelZoom=2576

[com_222]
type=Model
x=133
y=56
width=24
height=24
modelZoom=2576

[com_223]
type=Model
x=157
y=56
width=24
height=24
modelZoom=2576

[com_224]
type=Model
x=181
y=56
width=24
height=24
modelZoom=2576

[com_225]
type=Model
x=205
y=56
width=24
height=24
modelZoom=2576

[com_226]
type=Model
x=229
y=56
width=24
height=24
modelZoom=2576

[com_227]
type=Model
x=253
y=56
width=24
height=24
modelZoom=2576

[com_228]
type=Model
x=277
y=56
width=24
height=24
modelZoom=2576

[com_229]
type=Model
x=301
y=56
width=24
height=24
modelZoom=2576

[com_230]
type=Model
x=325
y=56
width=24
height=24
modelZoom=2576

[com_231]
type=Model
x=349
y=56
width=24
height=24
modelZoom=2576

[com_232]
type=Model
x=373
y=56
width=24
height=24
modelZoom=2576

[com_233]
type=Model
x=397
y=56
width=24
height=24
modelZoom=2576

[com_234]
type=Model
x=421
y=56
width=24
height=24
modelZoom=2576

[com_235]
type=Model
x=445
y=56
width=24
height=24
modelZoom=2576

[com_236]
type=Model
x=469
y=56
width=24
height=24
modelZoom=2576

[com_237]
type=Model
x=13
y=32
width=24
height=24
modelZoom=2576

[com_238]
type=Model
x=37
y=32
width=24
height=24
modelZoom=2576

[com_239]
type=Model
x=61
y=32
width=24
height=24
modelZoom=2576

[com_240]
type=Model
x=85
y=32
width=24
height=24
modelZoom=2576

[com_241]
type=Model
x=109
y=32
width=24
height=24
modelZoom=2576

[com_242]
type=Model
x=133
y=32
width=24
height=24
modelZoom=2576

[com_243]
type=Model
x=157
y=32
width=24
height=24
modelZoom=2576

[com_244]
type=Model
x=181
y=32
width=24
height=24
modelZoom=2576

[com_245]
type=Model
x=205
y=32
width=24
height=24
modelZoom=2576

[com_246]
type=Model
x=229
y=32
width=24
height=24
modelZoom=2576

[com_247]
type=Model
x=253
y=32
width=24
height=24
modelZoom=2576

[com_248]
type=Model
x=277
y=32
width=24
height=24
modelZoom=2576

[com_249]
type=Model
x=301
y=32
width=24
height=24
modelZoom=2576

[com_250]
type=Model
x=325
y=32
width=24
height=24
modelZoom=2576

[com_251]
type=Model
x=349
y=32
width=24
height=24
modelZoom=2576

[com_252]
type=Model
x=373
y=32
width=24
height=24
modelZoom=2576

[com_253]
type=Model
x=397
y=32
width=24
height=24
modelZoom=2576

[com_254]
type=Model
x=421
y=32
width=24
height=24
modelZoom=2576

[com_255]
type=Model
x=445
y=32
width=24
height=24
modelZoom=2576

[com_256]
type=Model
x=469
y=32
width=24
height=24
modelZoom=2576

[com_257]
type=Model
x=13
y=8
width=24
height=24
modelZoom=2576

[com_258]
type=Model
x=37
y=8
width=24
height=24
modelZoom=2576

[com_259]
type=Model
x=61
y=8
width=24
height=24
modelZoom=2576

[com_260]
type=Model
x=85
y=8
width=24
height=24
modelZoom=2576

[com_261]
type=Model
x=109
y=8
width=24
height=24
modelZoom=2576

[com_262]
type=Model
x=133
y=8
width=24
height=24
modelZoom=2576

[com_263]
type=Model
x=157
y=8
width=24
height=24
modelZoom=2576

[com_264]
type=Model
x=181
y=8
width=24
height=24
modelZoom=2576

[com_265]
type=Model
x=205
y=8
width=24
height=24
modelZoom=2576

[com_266]
type=Model
x=229
y=8
width=24
height=24
modelZoom=2576

[com_267]
type=Model
x=253
y=8
width=24
height=24
modelZoom=2576

[com_268]
type=Model
x=277
y=8
width=24
height=24
modelZoom=2576

[com_269]
type=Model
x=301
y=8
width=24
height=24
modelZoom=2576

[com_270]
type=Model
x=325
y=8
width=24
height=24
modelZoom=2576

[com_271]
type=Model
x=349
y=8
width=24
height=24
modelZoom=2576

[com_272]
type=Model
x=373
y=8
width=24
height=24
modelZoom=2576

[com_273]
type=Model
x=397
y=8
width=24
height=24
modelZoom=2576

[com_274]
type=Model
x=421
y=8
width=24
height=24
modelZoom=2576

[com_275]
type=Model
x=445
y=8
width=24
height=24
modelZoom=2576

[com_276]
type=Model
x=469
y=8
width=24
height=24
modelZoom=2576

[com_277]
type=Model
width=24
height=24
model1Id=19517
modelZoom=2576

[com_278]
type=Model
width=24
height=24
model1Id=19518
modelZoom=2576

[com_279]
type=Rectangle
width=13
height=334
fill=yes

[com_280]
type=Rectangle
x=13
y=319
width=480
height=15
fill=yes

[com_281]
type=Rectangle
x=12
width=480
height=15
fill=yes

[com_282]
type=Model
x=13
y=8
width=120
height=48
model1Id=19573
modelZoom=2698

[com_283]
type=Model
x=133
y=8
width=120
height=48
model1Id=19573
modelZoom=2698

[com_284]
type=Model
x=253
y=8
width=120
height=48
model1Id=19573
modelZoom=2698

[com_285]
type=Model
x=373
y=8
width=120
height=48
model1Id=19573
modelZoom=2698

[com_286]
type=Rectangle
x=492
width=20
height=334
fill=yes
