[contents]
type=Rectangle
x=1
width=511
height=335
colour=0x2D2406
fill=yes

[mainmodal_window]
type=Model
x=272
y=98
width=32
height=32
model1Id=19486
modelZoom=505
modelXAn=309
modelYAn=1996

[com_2]
type=Model
x=272
y=91
width=32
height=32
model1Id=19487
modelZoom=505
modelXAn=309
modelYAn=1996

[com_3]
type=Text
buttonType=Button
x=65
y=232
width=32
height=32
colour=0xD4B082
colour2=0xFF3333
colourOver=0xFF3333
font=645
text="Castle"
eventCode=flag22

[com_4]
type=Text
x=74
y=251
width=32
height=32
colour=0xD4B082
font=645
text="Wars"

[castle]
type=Text
x=53
y=126
width=32
height=32
colour=0xD4B082
lineHeight=21
font=645
text="Grand"

[wars]
type=Text
x=66
y=146
width=32
height=32
colour=0xD4B082
font=645
text="Tree"

[grand]
type=Text
x=358
y=27
width=32
height=32
colour=0xD4B082
font=645
text="Varrock"

[tree]
type=Text
x=199
y=119
width=32
height=32
colour=0xD4B082
font=645
text="Entrana"

[varrock]
type=Text
x=266
y=54
width=32
height=32
colour=0xD4B082
font=645
text="Taverley"

[entrana]
type=Text
x=290
y=132
width=32
height=32
colour=0xD4B082
font=645
text="Crafting"

[taverley]
type=Text
x=305
y=151
width=32
height=32
colour=0xD4B082
font=645
text="Guild"

[crafting]
type=Model
x=272
y=91
width=32
height=32
modelZoom=505
modelXAn=307
modelYAn=1991

[guild]
type=Sprite
x=483
y=4
width=26
height=23
overLayerId=15
graphic=541

[zep_interface_balloon]
type=Sprite
buttonType=Close
x=3
y=3
width=26
height=23
layerId=30736399
graphic=542
buttonText="Ok"

[btn_cast]
type=Layer
x=480
y=1
width=32
height=32
hide=yes

[btn_gno]
type=Sprite
buttonType=Button
x=58
y=229
width=99
height=53
overLayerId=34
eventCode=flag22

[btn_craft]
type=Sprite
buttonType=Button
x=51
y=125
width=99
height=53
overLayerId=31
eventCode=flag22

[btn_ent]
type=Sprite
buttonType=Button
x=289
y=133
width=135
height=52
overLayerId=24
eventCode=flag22

[btn_tav]
type=Sprite
buttonType=Button
x=199
y=121
width=77
height=34
overLayerId=29
eventCode=flag22

[btn_varr]
type=Sprite
buttonType=Button
x=266
y=54
width=81
height=35
overLayerId=27
eventCode=flag22

[mod_craft]
type=Sprite
buttonType=Button
x=356
y=25
width=83
height=35
overLayerId=26
eventCode=flag22

[mod_varr]
type=Text
x=1
y=-1
width=32
height=32
layerId=30736408
colour=0xDBDBB7
font=645
text="Crafting"

[mod_tav]
type=Text
x=16
y=18
width=32
height=32
layerId=30736408
colour=0xDBDBB7
font=645
text="Guild"

[mod_gno]
type=Layer
x=289
y=133
width=135
height=52
hide=yes

[mod_cast]
type=Text
x=2
y=2
width=32
height=32
layerId=30736410
colour=0xDBDBB7
font=645
text="Varrock"

[mod_ent]
type=Layer
x=356
y=25
width=84
height=37
hide=yes

[mainmodal_window_background]
type=Layer
x=265
y=54
width=82
height=36
hide=yes

[mainmodal_window_content]
type=Text
x=1
width=32
height=32
layerId=30736411
colour=0xDBDBB7
font=645
text="Taverley"

[mainmodal_window_border]
type=Layer
x=199
y=121
width=77
height=33
hide=yes

[mainmodal_window_close_button]
type=Text
y=-2
width=32
height=32
layerId=30736413
colour=0xDBDBB7
font=645
text="Entrana"

[com_31]
type=Layer
x=51
y=125
width=99
height=53
hide=yes

[com_32]
type=Text
x=2
y=1
width=32
height=32
layerId=30736415
colour=0xDBDBB7
font=645
text="Grand"

[com_33]
type=Text
x=15
y=21
width=32
height=32
layerId=30736415
colour=0xDBDBB7
font=645
text="Tree"

[com_34]
type=Layer
x=58
y=229
width=99
height=53
hide=yes

[com_35]
type=Text
x=7
y=3
width=32
height=32
layerId=30736418
colour=0xDBDBB7
font=645
text="Castle"

[com_36]
type=Text
x=16
y=22
width=32
height=32
layerId=30736418
colour=0xDBDBB7
font=645
text="Wars"

[com_37]
type=Model
x=366
y=144
width=32
height=32
model2Id=19485
modelZoom=505
modelXAn=301
modelYAn=1985

[com_38]
type=Model
x=435
y=40
width=32
height=32
model2Id=19485
modelZoom=505
modelXAn=301
modelYAn=1985

[com_39]
type=Model
x=344
y=53
width=32
height=32
model2Id=19485
modelZoom=505
modelXAn=301
modelYAn=1985

[com_40]
type=Model
x=118
y=137
width=32
height=32
model2Id=19485
modelZoom=505
modelXAn=301
modelYAn=1985

[com_41]
type=Model
x=129
y=235
width=32
height=32
model2Id=19485
modelZoom=505
modelXAn=301
modelYAn=1985

[com_42]
type=Model
x=270
y=140
width=32
height=32
modelZoom=400
