[mainmodal_window]
type=Model
x=-24
y=29
width=463
height=300
model1Id=11365
modelZoom=642
modelXAn=501

[mainmodal_window_background]
type=Model
x=75
y=18
width=300
height=300
model1Id=19483
modelZoom=741
modelXAn=492

[mainmodal_window_content]
type=Sprite
x=469
y=16
width=26
height=23
overLayerId=4
graphic=541

[com_3]
type=Sprite
buttonType=Close
x=4
y=4
width=26
height=23
layerId=30932996
graphic=542
buttonText="Ok"

[sketch]
type=Layer
x=465
y=12
width=32
height=32
hide=yes
