[zep_controls]
type=Model
x=31
y=54
width=32
height=32
model1Id=19723
modelZoom=600

[zep_bounding_box]
type=Model
x=24
y=20
width=32
height=32
layerId=30867460
model1Id=19721
modelZoom=800

[logs]
type=Model
x=13
y=20
width=32
height=32
layerId=30867460
model1Id=19721
modelZoom=800

[arrow_2]
type=Model
x=18
y=6
width=32
height=32
layerId=30867460
model1Id=19721
modelZoom=800

[logs_model]
type=Layer
x=11
y=97
width=74
height=53

[zep_btn_logs]
type=Text
x=5
y=4
width=19
height=33
layerId=30867479
colour=0x996600
font=645
shadow=yes
text="X"

[zep_if_logs]
type=Text
x=5
y=55
width=19
height=33
layerId=30867479
colour=0x996600
font=645
shadow=yes
text="X"

[x2]
type=Text
x=35
y=4
width=32
height=32
layerId=30867479
colour=0xCCCCCC
font=645
shadow=yes
text="%1"
script1op1=varbit,varbit_2880

[sand_bag]
type=Text
x=35
y=54
width=32
height=32
layerId=30867479
colour=0xCCCCCC
font=645
shadow=yes
text="%1"
script1op1=varbit,varbit_2881

[zep_btn_sandbags]
type=Text
buttonType=Button
x=22
y=31
width=63
height=62
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[arrow]
type=Text
buttonType=Button
x=6
y=138
width=67
height=33
colour=0x999999
colourOver=0x9999FF
hAlign=Center
font=645
shadow=yes
text="Relax"
eventCode=flag22

[arrow_1]
type=Text
buttonType=Button
x=34
y=175
width=50
height=73
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[zep_sandbag]
type=Text
buttonType=Button
x=106
y=176
width=53
height=74
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[x]
type=Model
x=51
y=31
width=32
height=32
model1Id=19720
modelZoom=2000

[zep_if_sandbags]
type=Model
x=51
y=58
width=32
height=32
model1Id=19720
modelZoom=2000

[bail_out]
type=Model
x=72
y=102
width=32
height=32
model1Id=19720
modelZoom=2000

[zep_btn_close]
type=Model
x=57
y=188
width=32
height=32
model1Id=19720
modelZoom=2000
modelXAn=1024

[bail_basket]
type=Model
x=130
y=176
width=32
height=32
model1Id=19720
modelZoom=2000
modelXAn=1024

[red_rope]
type=Model
x=130
y=206
width=32
height=32
model1Id=19720
modelZoom=2000
modelXAn=1024

[zep_btn_tug_emerg]
type=Model
x=67
y=140
width=32
height=32
model1Id=19719
modelZoom=2000

[arrow_4]
type=Model
x=112
y=192
width=32
height=32
model1Id=19718
modelZoom=800

[arrow_5]
type=Model
x=152
y=138
width=32
height=32
model1Id=19484
modelZoom=1680
modelXAn=477
modelYAn=2041

[zep_rope_red]
type=Model
x=41
y=191
width=32
height=32
model1Id=19722
modelZoom=800

[brown_rope]
type=Layer
x=108
y=46
width=70
height=91

[relax]
type=Text
x=18
y=-2
width=162
height=32
colour=0x996600
font=645
shadow=yes
text="Balloon Controls"

[zep_btn_relax]
type=Text
buttonType=Button
x=103
y=138
width=49
height=31
colour=0x999999
colourOver=0x9999FF
hAlign=Center
font=645
shadow=yes
text="Bail "
eventCode=flag22

[arrow_6]
type=Text
buttonType=Button
x=9
y=96
width=91
height=39
colour=0xFFFF00
font=495
shadow=yes
eventCode=flag22

[zep_btn_tug]
type=Tooltip
x=34
y=175
width=51
height=73
text="Move down."

[arrow_3]
type=Tooltip
x=105
y=175
width=53
height=73
text="Move down more."

[zep_rope]
type=Tooltip
x=106
y=46
width=71
height=38
text="Sandbags left."

[com_30]
type=Tooltip
x=108
y=96
width=71
height=40
text="Logs left."

[com_31]
type=Tooltip
x=10
y=98
width=91
height=40
text="Move up."

[com_32]
type=Tooltip
x=22
y=33
width=59
height=59
text="Move up more."

[com_33]
type=Tooltip
x=103
y=137
width=78
height=32
text="We're doomed."

[com_34]
type=Tooltip
x=6
y=139
width=80
height=27
text="Move forward."
